[2016-02-22 15:39] humphd commented on #1370
I can't reproduce this. Can you give me more info?  If I remix the Comic Strip project on the homepage, scroll down to the bottom, and edit, it stays in place.

[2016-02-22 15:49] humphd commented on #1357
I wonder if this is necessary at all.  Web servers don't localize "index.html", despite the content being in one language or another.  Also, error messages from the client api are only meant for developers.

I'd WONTIFX this. @gideonthomas, what do you want to do here?

[2016-02-22 16:40] humphd commented on #1344
I think there are two problems/solutions here that are worth separating.  First, there's a random project that a user creates; second, there's one of the curriculum/homepage projects.  I think we should solve for the latter, and either ignore the former, or do it in another bug.  In the Webmaker days, we tried doing a lot of this with metadata and tags, and it was never successful (users could nev

[2016-02-22 16:44] gideonthomas commented on #1394
sure @yash14123! You basically just need to pass is a property called `connection` with the value identical to the other properties passed in the code linked above. Let's see if that works!

[2016-02-22 16:46] humphd commented on #1399
Other than being an interesting data point, is there any actual work to be done here?  As @alicoding points out, given that we're relying on the l10n community to help us here vs. doing it ourselves, I'm not sure we can really affect which locales get done first.

That said, it might be worth doing some blogging, tweeting, mailing-listing, etc. to ask for help and encourage people.  Another though

[2016-02-22 16:50] humphd commented on #1388
I don't think we should localize the JS file.  Rather, let's extract https://github.com/mozilla/thimble.mozilla.org/blob/master/public/resources/remix/index.js#L83-L100 into a templated HTML file with its own localized route, and XHR that content at runtime before we inject it into the page.

[2016-02-22 16:54] gideonthomas commented on #1418
Hi @asherdale, if you re-cloned it from your own fork, it wouldn't have picked up @Pomax's changes. If you re-cloned it from the main fork, that's strange that you're still receiving the same error.
Either way, try the following in the login.webmaker.org folder using a terminal: `git pull https://github.com/mozilla/login.webmaker.org.git master` and then try `npm install`

Please also note that to

[2016-02-22 16:54] humphd commented on #1359
The DnD (Drag and Drop) stuff is shared utility code that the Upload Files dialog uses.  It includes a bunch of user-facing error and success messages in modal dialogs.  For example:

* https://github.com/humphd/brackets/blob/bramble/src/utils/DragAndDrop.js#L300-L303
* https://github.com/humphd/brackets/blob/bramble/src/utils/DragAndDrop.js#L313
etc

We should move these to the main Brackets stri

[2016-02-22 16:56] chrislarry33 commented on #1399
Hi all

We did a version of what @humphd is talking about including incentives for our curriculum localization efforts in the fall. Tagging @ldecoursy @chadsansing @soapdog and @KGorr to share more detail. I wonder if this could be an exstension/remix of what we did there?

[2016-02-22 16:58] gideonthomas commented on #1419
@flukeout what do you think about this?

@Pomax, I like it but I would remove the "Last edited" part from that list

[2016-02-22 17:03] ldecoursy commented on #1399
The translations recently went live - if you click on each of the 6 activities in the Web Lit Basics I module: https://teach.mozilla.org/activities/web-lit-basics/ you'll see the pull-down on the top right for languages that are available. We did blog posts, Tweets and lots of targeted outreach (via Clubs, Remos, etc.) and efforts resulted in translations in the following 10 anguages (over 4 month

[2016-02-22 17:04] humphd commented on #1419
You'd have to deal with scrolling, which might make that UI cumbersome.  What if it showed you the most recent ones, and had a link to "All..." at the bottom of the list?

But I defer to @flukeout.

[2016-02-22 17:05] humphd commented on #1355
Do you need another bug for a plain text version of this?  I know I need it in order to get started on localizing strings across Thimble/Brackets.

[2016-02-22 17:05] gideonthomas commented on #1399
@humphd yeah this issue should have been closed earlier. We decided to start with a couple of languages based on the list @adamlofting provided and keep it completely open-ended for contributors to add new languages (the goal was to push to production soon with a set of most commonly used languages).

cc @simonwex and @hannahkane re: the incentives part.

[2016-02-22 17:06] humphd commented on #1348
Can we close this now?  I'd suggest that we evaluate merging new work from upstream when it's clear that we need it.  This hasn't been necessary for 6 months+, and I don't think it will be in the near future.

[2016-02-22 17:12] gideonthomas commented on #1388
Yeah that makes sense!

We should send all the project metadata to this route and generate the html accordingly (so that we don't have to localize the metadata on the client) and send it in the response which we can then use to plug into the DOM.

[2016-02-22 17:17] #1348 closed

[2016-02-22 17:20] gideonthomas commented on #1355
@humphd sure, can you file? I'll fix today

[2016-02-22 17:23] humphd opened #1420 "Document steps to localize strings"
We need a short guide to help devs and localizers work with strings in Thimble and Brackets.  This is connected to #1355.

[2016-02-22 17:28] gideonthomas commented on #1357
Yeah we won't localize the error messages. The only thing that *might* need to be localized is `tutorial.html`. We localize it in the preview pane's navbar so I think it might make sense to also localize the name of the file (since "tutorial.html" is our own creation, so we can change how it works). cc @alicoding for thoughts on this.

Either way, I wouldn't say that this is high priority.

[2016-02-22 17:41] alicoding commented on #1357
I would agree with @humphd in regard to not localize `index.html` since that will make it complicated/break the loading of `index` page etc. Though file name in general I don't think would matter if we leave it as is and instead focus on the title + content instead.

[2016-02-22 18:29] gideonthomas commented on #1357
@alicoding yeah we're not going to localize `index.html` since it will break everything else. This is more about the `tutorial.html` page.

[2016-02-22 20:25] Pomax commented on #1370
interesting, looks like this got landed since filing, but wasn't flagged as fixed.

[2016-02-22 20:25] #1370 closed

[2016-02-22 20:28] Pomax opened #1421 "scrollTo for an update on a long document visually skips around content"
If you remix https://d157rqmxrxj6ey.cloudfront.net/mopaxian/27916/, then scroll down in the preview to something like "So how do you "spiro"?", and then add some noop to script.js, like

[code]

then you first have to wait what feels like a very long time for the preview to catch up (a full second it feels like?) and then the preview will reload the content and then scroll to where were were, but

[2016-02-22 20:30] Pomax commented on #1419
I imagine that most of our users don't have hundreds of projects. Ordering on "last edited" (which we can probably do without) and then offering a scroll bar if there are so many projects that they don't fit on the screen feels like an acceptable UX if the vast majority of the time the project users want to load are going to be in the top 10 of that list, so that even if there's a visible scrollba

[2016-02-22 22:21] flukeout commented on #1419
I agree that it's cumbersome to get to your projects from the homepage when you're not yet signed in. Another way to solve this would be...
* When you sign in, redirect to...
  * "My Projects" page, when you have projects (so you can choose one)
  * Editor for when you don't
* Somehow inject a lit of your projects directly into the homepage

Anyway, with that dropdown, I feel like you'd have to cl

[2016-02-22 23:05] hannahkane commented on #1344
+1 to focusing on featured starter content.

Would love to get @soapdog's opinion on what the localization of these activities is likely to entail—that is, will it likely be direct translations, or will the content likely be adapted in a more fundamental way. He's been working with localizers on our web literacy curriculum, which seems somewhat comparable to this work.

[2016-02-22 23:06] Pomax commented on #1419
I don't mean for "when you're not signed in" though, even when the cookie's already set, having to navigate to a new page feels flow-breaking.

[2016-02-23 00:04] gideonthomas commented on #1420
@humphd https://github.com/mozilla/thimble.mozilla.org/wiki/Localization

[2016-02-23 11:31] adamlofting opened #1422 "Database Documentation"
WRT to issue https://github.com/MozillaFoundation/plan/issues/725

We're currently scoping out possible Learning Analytics research that could be done using Thimble. In order to inform the research proposal and project plan, we need to understand what data is currently stored.

* What data do we store? (including user data in the connected login / id systems)
* What do we keep historic versions or

[2016-02-23 16:40] humphd commented on #1420
This is great, thank you.  I've made some fixes/corrections.  Can you add a link to this wiki page in the README, so that it's easier to find?  After that, r=me.

[2016-02-23 17:45] humphd commented on #1311
I hit this today in Firefox.  I don't have very good data to add to what we already know, but here's what happened.  I have been off on holidays, so came back to the site with a very old browser cache.  I remixed the Keep Calm project on the homepage, and made no changes, before clicking Publish.  This caused it to start trying to save to the server, and that failed over and over, forever.  I then

[2016-02-23 17:47] gideonthomas commented on #1420
https://github.com/mozilla/thimble.mozilla.org/commit/96cb77b74d8f93332a15c748bd9228f41b59d653

[2016-02-23 17:47] #1420 closed

[2016-02-23 18:27] gideonthomas opened #1423 "Figure out the relationship between locales for Thimble and Brackets"
There will be situations when Thimble is localized in one language (for e.g. "es"), while Brackets will not be localized in that language but *may* be localized in a similar language (for e.g. "es-MX"). The question is should we select the "closest language" to the language picked in Thimble for Brackets, or should we default to "en-US"?

We discussed this a little bit in a call and the inclinatio

[2016-02-23 18:28] humphd commented on #1423
I would suggest that we always use a close locale, by trying to first match exactly, then using the language portion only.  So if you have "es-MX" and we only have "es" in Brackets, that's better than "en-US".

[2016-02-23 19:36] gideonthomas commented on #1399
Moving out of the Feb 26th heartbeat as this is a bit out of scope for it.

[2016-02-23 19:38] gideonthomas commented on #1364
This is probably not going to happen anytime soon. We'll stick to using WebPlatformDocs for now

[2016-02-23 19:38] gideonthomas commented on #1360
See https://github.com/mozilla/thimble.mozilla.org/issues/1364#issuecomment-187862557

[2016-02-23 20:03] alicoding commented on #1423
Doing what @humphd said would work and I would agree that's better than showing English here.

[2016-02-23 21:48] gideonthomas commented on #1423
@alicoding what about the other way around? Thimble has "es" whereas Brackets has "es-MX"?

[2016-02-24 12:04] alicoding commented on #1423
I dont think it's a good idea to default a locale to another locale that specific to that country. There has been some incidents with our contributors in the past and the best thing to handle this would be either not enable that locale in production or just default to non region locale or fallback to English

[2016-02-24 23:45] gideonthomas opened #1425 "Acknowledgments for l10n contributors"
Write a script to automatically grab new email addresses and github names from l10n contributors when they commit and add them to the README as well as a notification in mattermoz

[2016-02-25 21:09] gideonthomas commented on #1422
Hi @adamlofting, sorry for getting back to you so late. Hope these points answer your questions:
* DB table data:
 * **publish.webmaker.org** - *PostgreSQL*
    * Users - username
    * Projects - who created the project (username), name, description, date/time created and last updated, created by X-Ray Goggles or Thimble, associated files, url for published version
    * Published Projects - name

[2016-02-25 21:42] cadecairos commented on #1422
### id.webmaker.org (OAuth2 provider (Hapi JS), Postgresql backed )

- client
  - client_id (GUID)
  - client_secret (GUID)
  - allowed_grants
  - allowed_responses
  - redirect_uri
- auth_codes
  - auth_code
  - client_id
  - user_id
  - scopes
  - expires_at
  - created_at
- access_tokens
  - access_token
  - client_id
  - user_id
  - scopes
  - created_at

### login.webmaker.org (User Account d

[2016-02-25 22:30] gideonthomas commented on #1362
Closing since none of the strings in `bramble` are visible to the user in Thimble

[2016-02-25 22:30] #1362 closed

[2016-02-25 22:43] gideonthomas commented on #1364
We will eventually pick up MDNDocs since WebPlatformDocs is still in its alpha release and it is localized only in English, Deutsch, español, français, 日本語, 한국어, Nederlands, português do Brasil, Türkçe, 中文 , 中文（简体）‎ , 中文（繁體）

[2016-02-26 12:17] dcforeman commented on #1414
I've seen the post you made in the id.webmaker.org project, however it appears to be ignored without confirmation or indication that anyone is even alive over there to confirm the issue.

At present this makes the whole thimble concept un-deployable. I guess this is the problem with breaking projects like this up into different project sections, some of them just die out bringing down the whole sy

[2016-02-26 16:35] gideonthomas commented on #1414
@dcforeman we're sorry about the issues you are facing when trying to install Thimble. One of our main goals in the very near future is to make the installation process simple and unfortunately, it seems like there is a bunch of work to do there.

As far are `id.webmaker.org` is concerned, it does seem like the discussion is happening here so I think for now let's just keep it here. I am happy to

[2016-02-26 16:45] cadecairos commented on #1414
Don't worry @dcforeman, the project is not dead.

I landed some fixes to dependencies two days ago. Can you remove your node_modules directory and try installing dependencies using the latest develop branch?

[2016-02-26 16:49] gideonthomas commented on #1423
@alicoding just to clarify:
It should be ok for us if we switch Brackets to "es" if "es-MX" is not available and Thimble is in "es-MX"?
**but**
You suggest that we should not switch Brackets to "es-MX" if "es" is not available and Thimble is in "es"?

[2016-02-26 16:55] alicoding commented on #1423
Yep. I don't think it's wise to switch to region based language for example.

My default locale is `['ar-IQ', 'en', 'th']`
If `ar-IQ` and `ar` are available in Thimble, but in Bracket only `ar` it
is okay to switch me to `ar` for both, but ideally should switch to `en` or
`th` if `en` was not available then we go to the default.

Whereas, if `ar-IQ` and `ar` available in Thimble, but only `ar-TN`

[2016-02-26 16:58] gideonthomas commented on #1364
Ok, so I think I have to retract my earlier statement. I will stick to MDNDocs and create a scrapper to extract the content and commit it to the src tree because it seems like WebPlatformDocs is even harder to get content out of since it is a wiki and the mediawiki interface is pretty complicated (and not too well documented for our purposes). We should run the script every once in a while to re-f

[2016-02-26 17:00] gideonthomas commented on #1360
See https://github.com/mozilla/thimble.mozilla.org/issues/1364#issuecomment-189371348
Getting the localized version of WebPlatformDocs is actually quite hard (seems to be even harder than MDNDocs) so I think we should go with the easier option for now and iterate.

[2016-02-26 17:01] gideonthomas commented on #1360
For now, I'm closing this issue and we can re-open again if we decide to come back to WebPlatformDocs

[2016-02-26 17:01] #1360 closed

[2016-02-26 17:03] #1359 closed

[2016-02-26 17:17] #1361 closed

[2016-02-26 17:20] gideonthomas commented on #1423
@humphd does this sound like a good plan? ^

[2016-02-26 17:44] gideonthomas opened #1427 "UI overlaps with text in some languages"
eg:
![screen shot 2016-02-26 at 12 41 21 pm](https://cloud.githubusercontent.com/assets/5816130/13360285/70bd7fd0-dc86-11e5-842b-4f396d2f03fc.png)

We should make it extensible regardless of locale.

@flukeout would you be able to take this on?

[2016-02-26 18:59] flukeout commented on #1427
You got it.

[2016-02-29 01:31] gideonthomas opened #1429 "Add missing languages to l10n library"
Some new languages were added recently (namely `hsb` and `dsb` which are Sorbian languages). We should add them to https://github.com/mozilla/language-mapping-list/blob/master/language-mapping-list.js and publish to npm so that `node-webmaker-i18n` will know what to do with them.

[2016-02-29 12:52] adamlofting commented on #1422
Perfect! :+1:

Thanks @gideonthomas and @cadecairos

[2016-02-29 12:52] #1422 closed

[2016-02-29 15:39] gideonthomas commented on #1357
I think we're gonna say no to this for now and we can re-open this later on.

[2016-02-29 15:39] #1357 closed

[2016-02-29 15:44] #1415 closed

[2016-02-29 16:48] humphd commented on #1423
I think so.  Have Thimble vs. Brackets make the localization choice, and only switch to use lang vs. lang-Region in Brackets *if* we don't have exactly what is required.  But if the user asks for some lang or lang-Region in Thimble we don't have (but do have in Brackets), just use the default for both.

[2016-02-29 16:58] #1388 closed

[2016-02-29 17:05] #1418 closed

[2016-02-29 20:12] gideonthomas commented on #1423
Turns out, Brackets (requirejs really) already handles this exactly the way discussed above! Closing.

[2016-02-29 20:12] #1423 closed

[2016-03-01 03:54] humphd opened #1430 "Speed issues in China"
From Twitter: https://twitter.com/nizibaba1/status/704320020336156673

Would be good to figure out what the problem is.

[2016-03-01 15:30] nizibaba commented on #1430
Hello, thimble, including goggles, etc. in China is very slow operating speeds, in most cases, we need to refresh several times before they can normally open, several recent events appear completely unable to open the phenomenon,
We believe that this is school network problem，because will have 50-60 computers at the same time access https://thimble.mozilla.org/，, the school network can not support

[2016-03-01 19:31] tjfwalker opened #1431 "Which part of the source is responsible for preview element outlining/highlighting?"
In Thimble, when the cursor is positioned within an HTML element in the editor, a highlight is flashed on the corresponding element in the preview and an outline, that persists 'til the cursor is moved to a different element, is also placed on it.

I've browsed through the source code but failed to identify the module, package, function, whathaveyou responsible for this functionality.

I'd appreci

[2016-03-01 20:10] gideonthomas commented on #1431
This feature is a Brackets (the code-editor that Thimble uses) Live-Development feature. The code that tells the preview to highlight the element is [here](https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/documents/LiveDocument.js#L319-L331) which is called from [here](https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/documents

[2016-03-02 16:43] gideonthomas commented on #1429
Fixed with a0c31dddf3e72cfcff51e121b6bfb9e65b321fe5

[2016-03-02 16:43] #1429 closed

[2016-03-02 16:56] gideonthomas opened #1433 "Should we include the word "remix" in a project title"
I am currently working on localizing the "(remix)" part that we usually append to a project title if it is being remixed.
There are a bunch of challenges here such as:
* Figuring out the order in which the translated part is incorporated into the title for different languages. For e.g. "My Title (remix)" vs. "(remix) My Title"
* Figuring out if the title already contains "(remix)" in it and not ap

[2016-03-02 17:03] hannahkane commented on #1433
Few things:

1) Would like to hear from @chadsansing on this topic, too
2) I feel that it's a somewhat useful piece of feedback for users to know that they're not editing the original
3) Having said that, I don't think it's a *critical* piece of info to have.
4) I think it *would* be useful to have a way to get back to the original item, but I know that's a whole 'nother ball of wax, and not relev

[2016-03-02 17:14] chadsansing commented on #1433
I think the idea of "remix" is also not valued in some of the cultures with which we work (as per research). Perhaps we could localize more broadly with, "My copy of," which doesn't solve any of the problems of translation or recursion, but might play better globally.

I think this might be a problem for super-users who use certain projects as templates for others. If they forget to rename a proje

[2016-03-02 17:16] gideonthomas commented on #1433
@chadsansing brings up an interesting point - what if our solution to provide this feedback doesn't require modifying the title at all? What if we create a UI solution for this?

[2016-03-02 17:17] alicoding commented on #1433
I agree with @chadsansing here since my native language with the word `remix` it makes no sense when we put it together especially with this context. The use of `copy` is understandable and can be translated to make better sense here. Though, the UI solution could be something we can totally fix this problem here.

[2016-03-02 17:21] jgmac1106 commented on #1433
I wish on the initial publishing you were forced to change or add title. It
is PITA as a teacher to see all these projects with the same file name or
then remixing a project to examine code and I end up with "untitled project
(remix) or My post.

In terms of l10n @chadsansig is correct "remix" does not work. "Copy of X"
would be better. or would a version number even be possible? which may hook
ba

[2016-03-02 17:31] ScottDowne commented on #1433
To me it feels like remix is meta data about the project, but doesn't need to be part of the title itself.

It would be easier to localize it outside of the title, but I also think it's a low priority in general. I don't think people care too much about the title until they change the title, which at that point, I don't think they need much.

[2016-03-02 17:58] Pomax commented on #1433
Note that we don't strictly speaking want to translate the word "remix", we want to translate the concept of a fork, probably with modifications and personalisations, but not strictly speaking necessary.

[2016-03-02 19:42] gideonthomas commented on #1425
cc @jbuck and @Pomax for ideas

[2016-03-02 19:49] Pomax commented on #1425
It feels like a merge-hook would make sense here, to grab the "who filed the PR" information and then auto-generate an updated contributors list. (read in list, build name map, add name, write list back out).

[2016-03-02 19:53] gideonthomas commented on #1425
@Pomax but git-hooks belong to a local git repo right? How would we add that to something like Pontoon?

[2016-03-02 19:54] Pomax commented on #1425
we use a webhook: https://developer.github.com/v3/repos/hooks/

[2016-03-02 20:01] gideonthomas commented on #1425
Ooooh interesting! I'll take a look at that! Thanks @Pomax

[2016-03-02 21:14] gideonthomas commented on #1425
So instead of a complicated automated way to do this, we should just link to https://pontoon.mozilla.org/projects/thimble/contributors/ in our README so that users can see the contributors out there.

@simonwex does this sound like a good idea?

[2016-03-02 22:23] hannahkane commented on #1433
I'm +1 on a UI solution. We discussed this here: https://github.com/mozilla/thimble.mozilla.org/issues/1284

[2016-03-03 13:30] dcforeman commented on #1414
Thanks for updates to the latest development branch. I'm deep into writing our groups new web development course at the moment, I'll check it out on the weekend and let you know if it works.

[2016-03-03 16:41] gideonthomas commented on #1433
Sounds good, so until then (in favor of a UI solution), should we leave it as is?
viz. a title with "(remix)" at the end and it won't be localized?

[2016-03-03 18:09] simonwex commented on #1425
Linking to the pontoon page totally makes sense to me.

[2016-03-03 18:29] #1425 closed

[2016-03-03 19:06] autonome opened #1437 "Thimble is not functional when 3rd party cookies are disabled, or tracking protection enabled"
Enabling tracking protection in Firefox makes Thimble non-functional.

STR:

1. Create a project in new Thimble

Expected: Thimble project editor loads

Actual: The screen is stuck on "loading project" forever

This is very important to fix considering MoFo and MoCo are campaigning hard to convince people worldwide to do this.

Consolidating Thimble's services under a single origin should resolve

[2016-03-03 19:19] humphd commented on #1437
What does "Enable tracking protection" mean exactly?

Consolidating Thimble to a single origin won't work if we want to allow arbitrary code execution by the user.  We split this in two so that we could safely allow users to write any code without having it execute in the context of their authenticated session (i.e., editor iframe separate from hosting app).

cc @simonwex, @jbuck

[2016-03-03 19:21] humphd commented on #1437
@gideonthomas, @Pomax didn't we hit this before with a user and never figure out what was actually going wrong?  One thing I know we do in Thimble is use `localStorage`, which I think shares permissions with cookies in FF.

[2016-03-03 19:22] cadecairos commented on #1437
I just tested with Firefox, Tracking Protection doesn't affect Thimble. Disallowing third party cookies however, causes a "SecurityError" in my console

[2016-03-03 19:22] gideonthomas commented on #1437
@humphd yeah it's coz we use localstorage

[2016-03-03 19:26] jbuck commented on #1437
The current architecture of Thimble has us running a shell on thimble.mozilla.org that handles user authentication and loads the actual Thimble editor via an iframe on mozillathimblelivepreview.net . The reason we have two origins here is that Thimble can run arbitrary Javascript and running it on a completely separate domain is the only way we can do that safely. We can't do something like run th

[2016-03-03 20:51] autonome commented on #1437
One of the sec team folks suggested using postMessage to ship state to/from the iframe instead of using localstorage, removing the need for cookies. C'est possible?

[2016-03-03 21:15] gideonthomas commented on #1437
@autonome yeah that should be possible. Another option that @jbuck suggested is to check if `localstorage` is accessible or not and if not, continue to load thimble but throw up a warning saying "so and so features are unavailable because localstorage is disabled".
One thing to consider is that one of the main reasons we use `localstorage` is because it is synchronous. Using `postmessage

@humphd

[2016-03-03 21:43] humphd commented on #1437
We use `localStorage` in a very limited way, namely, to cache any unsynced filesystem paths when the user closes the app before all have been processed, see https://github.com/mozilla/thimble.mozilla.org/blob/1fbdaae7a974746fb99c18f28e0b88fdd9e648b9/public/editor/scripts/path-cache.js#L42-L46.  There are other ways we could do this, and in the worst case, use a memory backed solution for the case

[2016-03-04 01:28] humphd commented on #1430
cc @jbuck, @Pomax

[2016-03-04 16:17] gideonthomas commented on #1430
we can work on trying to reduce the number of requests and making the response size smaller somehow

[2016-03-04 16:21] humphd commented on #1430
I wondered if there was also anything geographic to consider with regard to our CDNs physical locations, or where the apps are hosted (i.e., do we have servers in Asia?)

[2016-03-04 16:23] jbuck commented on #1430
We're using Cloudfront, but surprisingly enough, AWS doesn't have a [CDN endpoint in Beijing](https://aws.amazon.com/cloudfront/details/).

We have fast internet here at the office, but it's still incredibly slow loading http://www.amazonaws.cn/en/ . AWS does have a China region, but it [requires a Chinese legal entity](http://www.amazonaws.cn/en/sign-up/) so I don't think we can actually deploy a

[2016-03-04 16:24] gideonthomas commented on #1430
Reducing the number of requests made should make the experience better though so that it won't matter as much where the endpoint is

[2016-03-04 17:18] Pomax commented on #1430
I see the homepage loading 4.7 MB in 48 requests, which is quite a lot more. Is there a reason the editor itself gets loaded on the main page, even though it's then not used? That'll cut down at least on the main page load (although doesn't really address this issue I think)

[2016-03-04 17:50] humphd commented on #1430
The reason we pre-fetch those files in the homepage is so that the editor loads more quickly (i.e., we hope to have them get cached).  We could easily experiment with not pre-loading them, but I think you just trade load times between homepage (which you load once) vs. editor (where you mainly live).

[2016-03-04 18:03] Pomax commented on #1430
Was that a metrics-based decision? It feels like a premature optimization that prevents people from loading the main page in a timely fashion.

[2016-03-04 18:16] humphd commented on #1430
If you take a look at the screenshots in that tweet, the issue is always the editor, not the homepage.

[2016-03-05 14:31] dcforeman commented on #1414
I've attempted to install using my old instruction, I don't get as far as the ID now, because the thimble.webmaker.org section won't run anymore.

root@ubuntu-512mb-nyc3-01:~/thimble.webmaker.org# npm start

Skipping  hi-IN  due to missing strings
Skipping  uk  due to missing strings
Done writing: /root/thimble.webmaker.org/dist/locales/cs/messages.json
Done writing: /root/thimble.webmaker.org/dis

[2016-03-06 13:51] tperrigo opened #1438 "Thimble currently seems to be unreachable for some users..."
Greetings,
I am not a Thimble user, but I am a software engineer working with a teacher using Thimble for a grad class.  Currently (7:45am Central Time (US), 6MAR2016, several members of her class are unable to log into Thimble.  I tried to create an account for myself, and am receiving the following error:
"An unknown error occurred on the server. Try your request again. If the problem persists,

[2016-03-06 14:03] chrislarry33 commented on #1438
Hello,

I just want to make sure they are using the correct link

https://thimble.mozilla.org/

[2016-03-06 14:28] tperrigo commented on #1438
That's the site where I tried to create an account this morning and received the "unknown error" message (I just tried again and received the same error); I will verify with the students that reported the problem to me this morning and get back to you.
Thanks,
Tim

[2016-03-06 14:38] tperrigo commented on #1438
Just verified with one of the students:  she enters her credentials at https://thimble.mozilla.org, but it never gets past the login screen.  This is the behavior I am now seeing as well (no error; just no action at all-- no way for me to create an account; no way for the students to log in to their existing accounts).

[2016-03-06 15:06] tperrigo commented on #1438
Some further information, if it is helpful:  I have tried creating a thimble account (using Firefox) on Ubuntu 14.04; the students I've been in contact with are also using Firefox, but are running on Windows.  If there's any further diagnostic information I can send or anything I can test on my end, please let me know.  The students are using Thimble for a project due at the beginning of the week

[2016-03-06 15:07] tperrigo commented on #1438
(I should note: the students already have existing Thimble accounts-- everything seemed to be working fine for them yesterday).

[2016-03-06 17:42] preetidulloo commented on #1438
Same is the case with me also. I am a teacher and I have given my students some project work that they need to subject by 8th March, and suddenly, Thimble stopped working for everyone. I would be great if team of Thimble can fix this as soon as possible.

[2016-03-06 17:45] preetidulloo commented on #1438
Same is the case with me also. I am a teacher and I have given students some project work that they need to submit by 8th March. From last 24 hours (appx), Thimble's 'login in' button's functionality stopped working. It validates all the checks on username and password at the client end but do nothing, once the client clicks on 'login in' button.

It would be great if team of Thimble can fix this

[2016-03-06 20:18] davidascher commented on #1438
I can confirm that I can't sign in to Thimble.  Escalating to our devops team to dig into it.

[2016-03-06 20:26] davidascher commented on #1438
We're looking into it, will update this bug as soon as we know more.  Apologies folks, I realize that's a real problem for your classes.  We'll get it working soon.

[2016-03-06 20:29] preetidulloo commented on #1438
Thanks a ton for prioritizing this issue!

[2016-03-06 20:32] davidascher commented on #1438
Should be fixed now, thanks to @jbuck. We'll figure out what happened, but do let us know if it is or isn't working for you now.

[2016-03-06 20:37] preetidulloo commented on #1438
Yeah, it's working. Your help is much appreciated!

[2016-03-06 20:38] davidascher commented on #1438
great!  Again, apologies for the outage.

[2016-03-06 20:40] davidascher commented on #1438
I'll close this bug as at this point all signs indicate it's been dealt with, but feel free to reopen it if it's still not working for you.

[2016-03-06 20:40] #1438 closed

[2016-03-07 00:30] dcforeman commented on #1414
Thanks for your support and efforts, since this ticket was opened 18 days ago our project timeline has moved on. I'm afraid I have to abandon Thimble now for something viable if we intend to hit our course deadline. Perhaps we'll revisit this project in a year or two.

It's a real shame, the system would have been a huge boon to our students. Thanks again for your efforts. I was hoping to at least

[2016-03-07 00:47] #1431 closed

[2016-03-07 01:00] gideonthomas commented on #1414
@dcforeman I'm sorry to hear that you having so many issues installing thimble and have decided to continue with other products. I do hope that you consider trying it out again whenever time permits with the completely fair expectation that Thimble will provide a much better experience in terms of usage as well as setup.

This however is a good learning experience for us as this brings to light a

[2016-03-07 17:50] hannahkane commented on #485
Another request via email: "Is it in the plans to make live collaboration possible through Thimble? It would be nice to have that feature (just like how Google Docs allows multiple live collaborators on a single document)."

[2016-03-07 18:23] chadsansing commented on #485
Would also be handy for the Mozilla Curriculum Workshop.

[2016-03-07 22:23] preetidulloo commented on #1311
Can someone fix this on priority

[2016-03-07 22:28] humphd commented on #1311
@preetidulloo I'd love to, but we can't reliably reproduce this (yet).  If you hit it, can you give me details?  Which browser?  Which OS?  What happened?  Thanks.

[2016-03-07 22:30] gideonthomas commented on #1311
Also, if you are able to open the console (instructions for [Firefox](https://developer.mozilla.org/en/docs/Tools/Browser_Console#Opening_the_Browser_Console) and [Chrome](https://developer.chrome.com/devtools/docs/console#basic-operation)) and copy/paste everything you see there, that might be helpful.

[2016-03-07 22:39] preetidulloo commented on #1311
I am using Chrome. I have experienced this bug from long, and it's really annoying me now. Sorry for that but it is. I have experienced this issue usually when I make a new file within a folder, or make a folder, or move a file from one folder to another, meaning something happening with folder. And believe me...once I start seeing this message, then I need to export all the files, create a new pr

[2016-03-07 22:44] Pomax commented on #1311
@preetidulloo I tried making a new project, and a variety of creating foldes, files inside folders, moving files into and out of folders, but nothing seems to trigger this behaviour for me right now, so if you know of a sure fire number of steps that we can follow that are guaranteed to lead to this problem, that information would be very valuable.

I understand that it's frustrating to constantly

[2016-03-07 22:45] preetidulloo commented on #1311
[Thimble.txt](https://github.com/mozilla/thimble.mozilla.org/files/162236/Thimble.txt)

[2016-03-07 22:46] preetidulloo commented on #1311
This file is holding Javascript console entries

[2016-03-07 22:46] humphd commented on #1311
@preetidulloo, also, don't worry about saying bugs are annoying--we agree!  Even the info you put above is very helpful, since it challenges some things I thought were true, but aren't in your case.  As @Pomax says, try to get us as much data as possible.

[2016-03-07 22:54] humphd commented on #1311
Ok, nothing in that log that affects this bug.  Thanks for adding it.  If you add `?logging=1` to your URL, it will turn on some extra debug logging for the remote saving.  That might help here.

[2016-03-07 22:55] preetidulloo commented on #1311
OS -  Windows 10

[2016-03-07 22:57] preetidulloo commented on #1311
When I opened the same project in IE, no such message. It's saving perfectly fine.

[2016-03-07 23:00] preetidulloo commented on #1311
[Thimble - saving failed, retrying.txt](https://github.com/mozilla/thimble.mozilla.org/files/162253/Thimble.-.saving.failed.retrying.txt)

[2016-03-07 23:01] preetidulloo commented on #1311
with ?logging=1

[2016-03-07 23:05] Pomax commented on #1311
After a lot of making folders and files, moving them into/out of folders, renaming, and generally doing all kinds of constant FS operations, I can get it in a "saving failed" state, although there does not appear to be a console error when that happens, nor a network error. With logging turned on, the `e` from @preetidulloo's logfile is:
[code]

[2016-03-07 23:15] Pomax commented on #1311
So far based on completely unreproducible testing, one thing I did run into with logging turned on is that when things go wrong and I'm renaming/deleting/moving files around, I've seen the following notice preceding the failure cascade:

[code]

[2016-03-07 23:17] humphd commented on #1311
OK, this is useful.  We're seeing a filesystem error at least, where it's trying to read a file that doesn't exist, `/365/projects/145347/candies2`.  Was this the file you moved?

[2016-03-07 23:23] preetidulloo commented on #1311
I haven't made a file named candies

[2016-03-07 23:23] preetidulloo commented on #1311
candies2

[2016-03-07 23:25] humphd commented on #1311
@preetidulloo I was referring to @Pomax's log above.  For you it's this:

[code]

[2016-03-07 23:26] humphd commented on #1311
If I had to guess (which I do, in this case), I'd say that there's a save operation pending on a file that's been moved or renamed.  Does that seem possible?

[2016-03-07 23:32] gideonthomas commented on #1311
Ok yeah I can reproduce this consistently when I rename a **folder**. Not sure about moving files yet!

[2016-03-07 23:39] preetidulloo commented on #1311
I created a folder, then I created a file in that folder. Then I renamed the file, and then the folder. As soon as I renamed the folder, saving failed retrying... starts flashing

[2016-03-08 00:26] Pomax commented on #1311
@humphd that was a folder, and I either moved or deleted it - I did a *lot* of things.. sounds like @gideonthomas has STR for folders at least now

[2016-03-08 00:30] gideonthomas commented on #1311
Ok this is going to be a bit hard to fix! I need to make changes in publish, brackets and thimble to special case folders.

[2016-03-08 01:49] humphd commented on #1311
Before you do that, can we discuss what this bug actually is?  I'm unclear why we care about folder renames on the server side, given that we only deal in file paths.  Maybe we can catch the specific case that is causing this in the sync code, and not have it fail the whole process, thus blocking the sync completion on the pending rename.

[2016-03-08 01:54] gideonthomas commented on #1311
@humphd the issue is https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/filesystem-sync.js#L76 is being triggered for a folder rename. When it reaches: https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/sync-manager.js#L161 it fails because of an `EISDIR` error. We do care about folder renames on the server becau

[2016-03-08 03:20] humphd commented on #1311
Does a folder rename not kick off recursive UPDATE (new filename) and DELETE (old filename) requests to the server?  This is probably worth discussing on a call later this week so we can hash out a plan.

[2016-03-08 04:18] gideonthomas commented on #1311
Ok sounds good! I'll ping you tomorrow and find out!

[2016-03-08 10:05] mrivantan opened #1441 "(Saving failed, retrying...) unable to publish"
Cue says unable to save:
<img height="50" alt="screen shot 2016-03-08 at 5 58 37 pm" src="https://cloud.githubusercontent.com/assets/2179260/13598246/c73fc082-e557-11e5-80e9-a8c137f4817b.png">
However it saves perfectly fine. On the other hand, I am unable to publish:
<img width="200" alt="screen shot 2016-03-08 at 5 58 58 pm" src="https://cloud.githubusercontent.com/assets/2179260/13598249/c7480d

[2016-03-08 15:56] gideonthomas commented on #1441
Hi @mrivantan! Thanks for reporting this! By any chance did you rename any folder in your project? If so, we are discussing the issue here: https://github.com/mozilla/thimble.mozilla.org/issues/1311. We are working on a fix for that. If not, can you provide any steps to reproduce?

[2016-03-08 16:03] mrivantan commented on #1441
yes I renamed a folder, thought it might have been the issue and removed
the folder.
thank you for your prompt reply!

On Tue, 8 Mar 2016 23:57 Gideon Thomas, <notifications@github.com> wrote:

[2016-03-08 16:05] gideonthomas commented on #1441
No problem at all! Feel free to follow the issue linked above! For now, I'll close this one.

[2016-03-08 16:05] #1441 closed

[2016-03-08 16:47] dcforeman commented on #1414
Thank you for writing back, I will re-try the project upon our project refresh cycle, courses are generally written in year one, and then rewritten and updated year after year. As we have about 5000 students awaiting this first generation course I must progress. Meaning I'll come back and look at this in about a year.

I'm glad it was a good learning experience. I did feel I was complaining too mu

[2016-03-08 21:02] gideonthomas commented on #1311
Ok I think we have come up with a plan to fix this. We will add a new route in `publish.wm.org` to handle the special case of renames that will rename the file path and accordingly remove the old path from the published version when it is re-published. In brackets, we need to trigger a new event for folder renames that will trigger renames for every file under that folder. In thimble, we listen fo

[2016-03-09 18:52] gideonthomas commented on #1356
Fixed in https://github.com/mozilla/brackets/commit/cef04c0e96fbe6c08ee473cc71659195eae64b0f and https://github.com/mozilla/thimble.mozilla.org/commit/3afe6b4c4cd2924b626a2ec88f1a3cb5300cee6d

[2016-03-09 18:52] #1356 closed

[2016-03-10 21:28] gideonthomas commented on #1355
@simonwex The plan is to add this to the wiki. How does this look:

![thimble l10n](https://cloud.githubusercontent.com/assets/5816130/13685163/21a8ac4c-e6dd-11e5-8748-4971ec0edc93.png)

[2016-03-11 16:44] humphd commented on #1437
I went back to look at why we do what we do, and the real issue is that we lack `IndexedDB` in private browsing mode with Firefox, which I've discussed here https://bugzilla.mozilla.org/show_bug.cgi?id=781982#c27.  I'm not sure what we should do here.  I could use a memory-backed filesystem instead of `IndexedDB`; but I think we decided against this because you'd lose your work on refresh, couldn'

[2016-03-11 19:11] autonome commented on #1437
The external domain is the unsafe one, where preview is executed, and where
the problem happens... is that right? Is the work not saved/persisted in
the editor (the safe domain)?

My understanding from your previous comment was that the problem is in the
previewer page (unsafe domain with no storage when 3rd party cookies are
disabled). Is that wrong?

On Fri, Mar 11, 2016 at 8:44 AM David Humphre

[2016-03-11 19:20] humphd commented on #1437
There are 2 domains, let's call them thimble (host app) and brackets (iframed).  Both windows need access to the same filesystem, which we've built on top of IndexedDB.  We run that db in thimble, and proxy it using MessageChannel in brackets.  So the db is running on the same domain as the app (i.e., "third-party" isn't the issue).  Firefox, unlike Chrome, won't let you run a db in a private tab,

[2016-03-11 19:52] autonome commented on #1437
Thanks for clarifying, David! where does the "private tab" enter the
picture? And why does this only occur if I have 3rd party cookies turned
off?

I disagree that memory-backed will not be compelling. I'm constantly
saving/editing/previewing when I use Thimble. A workflow where the user
edits something in a Thimble project and then quickly navigates elsewhere
in the same tab is possibly an edge-c

[2016-03-11 21:15] gideonthomas commented on #1355
This has been added to the wiki

[2016-03-11 21:15] #1355 closed

[2016-03-11 21:58] gideonthomas commented on #1437
@humphd I don't think private browsing matters here since you cannot load thimble in that scenario. We show an error while loading thimble in that case.

As for caching paths, we only do that on navigation away from the page right? We can add a fallback for unsupported `localStorage`. If `localStorage` is unsupported, we **fallback** to the `mtime` for each file. Then, on loading Thimble, when we'

[2016-03-11 22:18] jeblister opened #1447 "Can't open any project in Chrome"
Hi,

From `https://thimble.mozilla.org/projects/`, i can't open any project in chrome version 49.
Page still loading !!

Thank

[2016-03-12 00:11] Pomax commented on #1447
does the browser's "dev console" show any errors or notices while it tries to load the page?

[2016-03-12 00:19] Pomax commented on #1437
I'm not sure what the right solution is here - "third party cookies" are not fine grained enough for my taste because just because it's not "the same site" that doesn't mean it's "third party" (in this case for instance mozilla owns all the domains involved, and I trust Mozilla, so I want their sites to read/write cookies). Rather than making the browser whole-sale block them, I use extensions to

[2016-03-12 04:12] jeblister commented on #1447
Yes 6 errors :
[code]

[2016-03-12 04:15] TridevGuha commented on #1394
is this bug #1394 fixed?

[2016-03-12 04:21] humphd commented on #1447
The final line is what we needed here, thank you. This is localStorage again

[2016-03-12 15:17] gideonthomas commented on #1394
@TridevGuha no, would you like to take this on?

[2016-03-12 15:27] TridevGuha commented on #1394
yes I would, help me with the first steps please.

[2016-03-14 15:22] gideonthomas commented on #1394
Fixed in 7347221b4affad4701693f5d2e8ed03b35bfbdab

[2016-03-14 15:22] #1394 closed

[2016-03-14 18:29] gideonthomas opened #1451 "Add link to suggest new translation languages"
We have temporarily disabled UI to add a new language in the language picker (for e.g. out here: https://github.com/mozilla/thimble.mozilla.org/blob/master/views/homepage/userbar.html#L26-L30)

We should work on figuring out a decent UX flow for users to suggest new languages and contribute. This could be as simple as redirecting them to Github issues or on Pontoon somehow or making a webpage on T

[2016-03-14 19:49] gideonthomas commented on #1437
Ok I've just realized that we might be overthinking this! The "Block third-party cookies" option enforces the same-origin policy even for `localStorage` (this has been pointed out above).

I spun up a dyno on heroku and pushed Brackets there so that I could test with different domains to investigate where we're setting data in `localStorage` from Brackets. Apparently Brackets' core is what uses `l

[2016-03-14 22:40] humphd commented on #1437
Smart, smart, smart!  I've left comments in that PR.

[2016-03-15 03:26] Pomax commented on #1437
yeah, good deep-dive!

[2016-03-15 14:36] humphd commented on #1447
@gideonthomas your fix for `localStorage` in Brackets should also fix this bug.

[2016-03-19 10:07] elioqoshi opened #1453 "Add Albanian (SQ) language"
Hey,

Not sure how to get this started, never worked on Pontoon, but the Albanian community would love to localize Thimble in Albanian. How can we proceed?

[2016-03-19 20:05] Pomax commented on #1453
That's great to hear! @gideonthomas should be able to help get you started.

[2016-03-21 23:45] flukeout opened #1454 "Discuss strategy for storing timestamps in the projects db."
I'm picking up work again on the currently-broken [thimble stats dashboard](https://thimble-dashboard-staging.herokuapp.com/). As part of that effort, I'd like to aggregate the number of projects created per day for each of the last 30 days.

Since the last time I worked on it, the way we stored dates has changed. They're now stored as a timestamp with timezone in the GMT time zone...

![image](ht

[2016-03-22 02:06] Pomax commented on #1454
I'm not sure I understand which problem we're trying to solve here - the server is the authority when it comes to reliable time stamping (just because a client computer says it's day X at time Y doesn't mean that information is correct in the slightest). The fact that a project made in Vancouver at 10am on a Monday and in Beijing at 1am on a Tuesday are the same UTC time is an obvious consequence

[2016-03-22 10:53] chadsansing opened #1455 "Missing remix button"
The remix button is missing from published Thimble projects, e.g. https://d157rqmxrxj6ey.cloudfront.net/chadsansing/31632/. Webfonts/stylesheets may not be loading, as well. Reported by a user looking at our Letters to the Next president/#2NextPrez materials that have been submitted to be linked to on a partner site.

![screen shot 2016-03-22 at 6 51 10 am](https://cloud.githubusercontent.com/asse

[2016-03-22 11:02] chadsansing commented on #1455
If you republish a project and open it from the URL given to you by Thimble, the remix button appears. If you go to the link itself, the button does not appear. Refreshing the page after opening it from the link in Thimble loses the remix button. Older projects, such as https://thimbleprojects.org/chadsansing/33434/, do not seem to have the same issue.

[2016-03-22 13:28] Pomax commented on #1455
This would be a problem @gideonthomas @humphd
[code]

[2016-03-22 15:46] gideonthomas commented on #1453
Hi @elioqoshi! Thanks for volunteering!

Thimble uses Mozilla's Pontoon to localize content. It is a great tool that allows you to click and change most strings on the different elements in a Thimble page directly. We highly recommend reading [https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localizing_with_Pontoon](https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localiz

[2016-03-22 15:53] gideonthomas commented on #1455
@chadsansing Fixed!

[2016-03-22 15:53] #1455 closed

[2016-03-22 18:56] techkim opened #1457 "Get to published link from Your Projects list"
I'd like to be able to get to the published version of my project from the Your Projects page without having to go into remix mode. It would also be a way to tell whether a project has been published or not.

[2016-03-22 19:26] #1358 closed

[2016-03-22 19:26] #1347 closed

[2016-03-22 19:30] gideonthomas commented on #1457
Hi @techkim we're discussing the issue here: https://github.com/mozilla/thimble.mozilla.org/issues/1289
We would def be willing to accept a PR if you want to contribute. But realistically, this might take some time to implement.

[2016-03-22 19:30] #1457 closed

[2016-03-23 13:06] mrsgoehring opened #1458 "Cannot Publish"
I cannot publish my Thimble site.  Up in the left hand corner by my project name it says "Saving Failed Retrying" and it never stops saying this.

I have to publish this for a class that I'm taking.

![capture](https://cloud.githubusercontent.com/assets/18030755/13986022/0f91315a-f0ce-11e5-804b-6f7a0e4f60e0.PNG)

[2016-03-23 17:15] gideonthomas commented on #1458
Hi @mrsgoehring, did you happen to rename a folder in your project? If so, unfortunately, that might have caused the issue. We are working on a fix for that based on the issue filed here: https://github.com/mozilla/thimble.mozilla.org/issues/1311 but realistically, it might not be fixed in time since the fix is a bit of a challenge to implement .

We are sorry that you are experiencing this issue,

[2016-03-23 17:21] gideonthomas commented on #1454
@flukeout did we solve this issue over Mattermost? Can this be closed or is more discussion warranted?

[2016-03-23 18:06] #1454 closed

[2016-03-23 20:20] mrsgoehring commented on #1458
Thank you so much for the quick response! I'll try this.

Sent from my iPhone

[2016-03-23 20:42] mrsgoehring commented on #1458
I just went through option 1 and although everything copied and is correct in the preview. I'm still having the same issue where it will not publish and says "saving failed, retrying..."

How should I sent the project to you to remix?

Sent from my iPhone

[2016-03-23 20:52] gideonthomas commented on #1458
Hmm that's weird. You can send the zipped file to gideon@mozillafoundation.org and I can post the remixable link in this bug.

If I am not able to reproduce this error on my end, would you be able to select/copy/paste all the content you see in the console (which you can open up on [Firefox](https://developer.mozilla.org/en/docs/Tools/Browser_Console#Opening_the_Browser_Console) and [Chrome](https

[2016-03-23 21:12] mrsgoehring commented on #1458
You bet. I'm sending now. It will come from my school account cgoehring@epsne.org.

Sent from my iPhone

[2016-03-23 21:34] gideonthomas commented on #1458
@mrsgoehring Thanks! Looks like you've uncovered a pretty nasty bug haha. I'm working on investigating this and fixing it right now and will have it up by today/tomorrow morning latest. Do you have a deadline on this project? If it is before the timeframe I mentioned, let me know when it is and I will do my best to make sure it is fixed long before then.

[2016-03-23 21:42] mrsgoehring commented on #1458
No worries! It's not due until this Monday the 28th.  Thanks, Gideon :)

Sent from my iPhone

[2016-03-24 15:42] gideonthomas commented on #1458
You're very welcome! @mrsgoehring I'm still trying to figure out what went wrong but I was not able to reproduce the error when I tried again. The good news is that now I have a project that you can remix and continue working on: [https://thimbleprojects.org/gideonthomas/46972](https://thimbleprojects.org/gideonthomas/46972). Let me know if you have any more issues and let me know when I should ta

[2016-03-24 16:13] mrsgoehring commented on #1458
You are my hero! I pulled it down but I'm on the middle of teaching a math class...can you leave it until the end of the day?

Thank you!!!!

Sent from my iPhone

[2016-03-24 19:22] humphd opened #1459 "[meta] Thimble as Progressive Web App"
Lately I've been contemplating the potential for Thimble to become more of a Progressive Web app.  Specifically, I want to explore making it:

* Progressive - enhance experience for browsers that support advanced offline features
* Offline ready - work offline with Service Workers and the Cache API.
* Real LiveDev Server vs. Rewriting Server - using Service Workers to intercept and fulfill request

[2016-03-24 20:16] mrsgoehring commented on #1458
Ok, I've got it up and running. You can take it down. Thanks again for your help.

Sent from my iPhone

[2016-03-24 20:24] xmatthewx commented on #1459
This is excellent.

[2016-03-25 00:10] #1458 closed

[2016-03-25 00:39] gideonthomas opened #1460 "Server sends HTTP 500 to the client during an attempted save"
Context: https://github.com/mozilla/thimble.mozilla.org/issues/1458

The "Saving Failed...Retrying!" error in **this case** was not because of a rename. The folder structure for the project was:

[code]

Noteworthy things about this project:
- Some of the folders had spaces in their names
- There were many files in the project but each of them were within the file size bounds

I was able to reprod

[2016-03-26 10:19] edriann opened #1461 "Removing/Deleting old makes from a deleted account."
A few years ago, I tried using the webmaker service and did a really poor and basic HTML page. It has somehow been published and I've deleted my account long since I discovered that when I Google search for my name, the make appears as a result. I have put some not-so sensitive but my school and student number on the said page and I would like it to be removed.

Is there a way that I could have th

[2016-03-27 10:25] elioqoshi commented on #1453
Hey @gideonthomas Thanks! What does "Albanian Community" mean, when it's us who ask to do that? :) Who is approving the translations?

[2016-03-27 16:02] gideonthomas commented on #1453
Ah, sorry for not elaborating! Pontoon has "teams" that usually contribute translations to different Mozilla products. Hence, there is an Albanian team that will approve translations that you suggest.

[2016-03-27 16:52] elioqoshi commented on #1453
@gideonthomas How can I know who is on the team?

[2016-03-27 19:22] mrsgoehring commented on #1458
Gideon,

The error happened again. I created a new folder and named it then realized I had misspelled so I went back to rename it and started getting the error message.  There were no files in the folder yet.

I was able to recreate my page this time by exporting and uploading my files into a new project so no worries. I just thought it might be helpful for you to know what I was doing when the er

[2016-03-28 16:22] gideonthomas commented on #1461
@cadecairos can we do this?

[2016-03-28 16:25] gideonthomas commented on #1458
Ah I'm sorry to hear that! I know it is a bit of a pain to export and re-import your project into Thimble. We are aware of a bug with renaming folders and are figuring out a solution here: #1311 and hopefully that will fix your problem.

Thanks for letting us know!

[2016-03-28 16:29] gideonthomas commented on #1453
@elioqoshi you can find the list of contributors here: https://pontoon.mozilla.org/sq/contributors

However, the best way to contact them is by subscribing to the dev-l10n list here: https://lists.mozilla.org/listinfo/dev-l10n and sending an email with your questions
OR
through IRC on the Mozilla network (irc.mozilla.org) in the #l10n channel

[2016-03-28 19:13] cadecairos commented on #1461
@gideonthomas yeah, it can be done. we can address this issue in MozillaFoundation/mofo-devops#296

[2016-03-28 20:56] flukeout opened #1462 "Add "remix" event to GA tracking on Published Projects"
We've been using Google Analytics with Published Projects for a while, and aren't tracking when projects are remixed. Adding this to the script we inject into published projects shouldn't be that hard. With that approach, all we get to track is if the Remix button is clicked, but not if the person who clicks it actually makes changes to the project they create. At least we could see which projects

[2016-03-28 21:04] gideonthomas commented on #1462
@flukeout I think we can even trigger GA events when a remixed project is changed! Do you need that as well?

[2016-03-28 21:19] flukeout commented on #1462
@gideonthomas that would be in the thimble codebase right? How do we know a Thimble project is a 'remix of something else' - I don't think we track that right now do we?

I'm able to tap into google analytics via the API for the Thimble dashboard, so maybe we should have a quick call about beefing up our analytics. I'll schedule?

[2016-03-28 21:31] gideonthomas commented on #1462
Yep! I can probably explain what I'm thinking in the call!

[2016-03-29 09:45] elioqoshi commented on #1453
Thanks @gideonthomas !

[2016-03-29 18:10] thornet opened #1463 "thimbleprojects.org’s server DNS address could not be found."
"DNS_PROBE_FINISHED_NXDOMAIN"

When publishing a Thimble project, I encountered this error (screenshot attached).

![screen shot 2016-03-29 at 20 07 10](https://cloud.githubusercontent.com/assets/739174/14118491/01fbe4b0-f5ea-11e5-8c25-d97660aff3ec.png)

My project still works under this URL: https://d157rqmxrxj6ey.cloudfront.net/michelle/48075/

[2016-03-29 18:20] thornet commented on #1463
Update: if I load this using a different wifi connection, it works. Must've been something on the Mozilla Berlin network causing this...?

[2016-03-29 18:28] gideonthomas commented on #1463
Yeah @thornet sorry, I think their DNS needs to be refreshed and apparently it's happening really slowly.

cc @cadecairos

[2016-03-29 18:29] gideonthomas commented on #1463
If you change your DNS configuration to use Google's DNS for e.g., it should work even in the Mozilla Berlin network.

[2016-03-29 18:32] thornet commented on #1463
Thanks! If this is a known issue, then we can close this ticket.

[2016-03-29 20:14] cadecairos commented on #1463
I'm really surprised that mozilla's internal DNS hasn't updated in over a week. I'll poke around the Moco Ops IRC about this.

[2016-03-30 01:38] cadecairos commented on #1463
FYI: https://bugzilla.mozilla.org/show_bug.cgi?id=1260602

[2016-03-30 01:42] cadecairos commented on #1463
I'm going to re-open this, and dump in any findings that come up in the BZ bug investigation, and close when the issue is resolved

[2016-03-30 10:34] cadecairos commented on #1463
@thornet @gideonthomas I'm told this should be resolved now

[2016-03-31 13:27] flaki commented on #1417
This is a repeated ask at workshops.

@humphd where is that feature located that you are referring to? My "gear" menu only contains the following items: Text size, Color theme, Wrap long lines, Allow JavaScript and allow JavaScript turns off JavaScript completely in the resulting preview window (not the updating behavior).

For JS errors interfering with typing this solves the problem but then one

[2016-03-31 14:14] thornet commented on #1463
Confirmed that it's fixed for the Mozilla Berlin network.

On Wed, Mar 30, 2016 at 12:34 PM, Christopher De Cairos <
notifications@github.com> wrote:

--
*Michelle Thorne*
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2016-03-31 14:16] cadecairos commented on #1463
Yay! marking this closed now

[2016-03-31 14:16] #1463 closed

[2016-03-31 21:26] cadecairos commented on #509
I'm going to track this in a devops ticket: MozillaFoundation/mofo-devops#302

[2016-04-03 17:21] humphd commented on #1417
cc @flukeout

OK, so it sounds like what is wanted here is a way to toggle the automatic refresh of the preview pane all the time.  We can do that.  It needs some UX, but the backend part isn't hard.  If get some help with the UI, I'll do the rest.

[2016-04-03 23:16] Pomax commented on #1417
As a quick "throwing out an idea" it might be nice to have this option as a toggle in/on the preview pane, but have the preview "know" there is new content, so that if you've been editing your files, and the auto-preview-refresh is turned off, you see a little question box in the upper right or something going "there were updates, refresh?" so that you get fine-control over when you refresh the vi

[2016-04-04 16:14] flukeout commented on #1417
I'll get started on some UI / UX for this feature.

Definitely sounds like a feature we need given this feedback. Even though it's probably an issue only for a minority of users, we can't have things become unusable.

@flaki The feedback you're hearing, is it because of the same problems (large document that makes editing slow) that @Pomax is describing?

[2016-04-04 17:26] flukeout commented on #1417
Got a couple of ideas here...

**Idea 1**
![image](https://cloud.githubusercontent.com/assets/25212/14256756/5365253c-fa4f-11e5-920a-4d9940de621e.png)

We _could_ add some indication of when there are changes that haven't been shown yet as a bonus. We could light up the "reload" button to the right side maybe. That could be a nice add-on.

**Idea 2**
We can add a gear menu to the preview pane, and

[2016-04-04 17:53] humphd commented on #1417
I think I lean toward Idea 1 with the checkbox vs. adding another gear menu.

One thought I have about the case where the preview is "dirty" and needs a manual update--we could do some kind of overlay (darker gray or green?) over the entire preview pane, which visually indicates that it's intentionally not updating any more?

[2016-04-04 18:27] flukeout commented on #1417
@humphd seems a bit heavy handed - in the process of making edits to a CSS sheet for example, you might want to look at what's going on the page color-wise when picking a value, so modifying it with an overlay might become annoying. We could add a subtle animation to the reload button though, that would attract attention while also not distorting the preview.

Open to try either way though.

[2016-04-04 19:42] Pomax commented on #1417
I'd go with 1 as well.

As for "dirty" notification, just because there is new content doesn't mean the current content should become visually inaccessible. Highlighting the reload button feels like it might be too subtile, so perhaps a compromise: a small overlay that gets added similar to the remix dialog for published projects, so if you mouseover it expands to a readable text form "There is a

[2016-04-05 05:33] flaki commented on #1417
@flukeout not as much as "large" documents per-se, but more like "we're coding and this thing preview on the right flickers constantly, jumps in-and-out-of-working" while bashing in a ton of code. I've used thimble with wide-ranging groups, from starting front-end folks writing their first HTML5/CSS endeavor, to Angular trainings and it worked great for most purposes, but this was a constant ask t

[2016-04-07 16:51] flukeout commented on #1417
@flaki Thanks for the feedback, I'm wary of putting the checkmark in the right side there with all that other UI, but we could also re-order things like this...

![image](https://cloud.githubusercontent.com/assets/25212/14359210/489f43dc-fca5-11e5-85a4-689325820acb.png)

I think this might be better. Of course, I would design it nicely, consider that a wireframe. We could also create a hybrid relo

[2016-04-07 21:26] xmatthewx commented on #1417
I like the visual connection between the reload and checkbox @flukeout.

Another approach might be a play/pause button that straddles the divide between code and preview. It could sit below the toolbar. It might not match our mental model, but could be more intuitive for new learners.

[2016-04-08 17:04] flaki commented on #1417
I'm loving all this! <3
Just a nit: I'd leave a bit more space between the checkbox & reload button (for touchscreen users, like me) - of course properly tagging the label as a <label>in the frontend build would ease that too).

[2016-04-10 05:57] flaki commented on #1322
This came up with this [small space invaders game](https://thimbleprojects.org/flaki/51988/) I was doing for a workshop, which loads sprites from local assets. Thanks for this, I'm going to work around this by hosting the sprites externally (or linking from the published version) for now.

@humphd I've been working with service workers for some time now, I'd love to help you out with any of those

[2016-04-11 09:49] onel opened #1464 "Creating a challenge"
Hello,

I really like this project and I'm happy it's focus is educational.
It's cool that the `tutorial.html` is implemented to create a lesson, but would it be helpful to also create a challenge?
I'm referring to the way codeacademy does it. A short description, a starting code and a result that the user should reach.
For example, in an html challenge, the page should contain two `<p>` tags.

If

[2016-04-11 17:00] humphd commented on #1322
Hey @flaki, if you're interested in hacking on this with me, I'd be happy to work with you.  What I'll do is file a bug in the Brackets code (where this has to get fixed), and outline what's needed.  It sounds like you have more experience with SW than I do--I'm still actively learning them; but I know the Brackets code intimately.

[2016-04-11 17:25] humphd commented on #1322
@flaki (and others): see https://github.com/mozilla/brackets/issues/549, where I've dumped some of my thoughts.  Let's discuss there if you want to hack on this.  I can answer questions or go into more detail.

[2016-04-11 17:34] flukeout commented on #1464
Hello @onel - that is an interesting idea. One way to accomplish this is to build the "test" right into the Thimble project itself, like I've done here...

https://thimbleprojects.org/flukeout/53164/

Remix this project and add two paragraphs to the document to see how it might work. I think this would be a simple, fast way to accomplish what you want. Let me know your thoughts - I can help you wi

[2016-04-11 18:45] jgmac1106 opened #1465 "Projects mixing up"
Take a look at this: https://thimbleprojects.org/jgmac1106/53210

What they heck did I do wrong? I published the project and the the published page looked like a different project, then I unpublished and republished and I am getting an amalgamation of two different projects, but it doesn't show in the source code.

[2016-04-11 18:46] jgmac1106 commented on #1465
I also have this one: https://thimble.mozilla.org/en-US/user/jgmac1106/156810, same thing, same project. Different remix

[2016-04-11 19:01] gideonthomas commented on #1465
@jgmac1106 can you screenshot what is expected to be shown (maybe screenshot the preview window in your project) and screenshot the published version?

[2016-04-11 19:10] jgmac1106 commented on #1465
![projectoverlap](https://cloud.githubusercontent.com/assets/10534566/14439099/70836d6a-fff7-11e5-9a89-e62e9b03398e.gif)

It is very strange as it is remixing another project I have published.

[2016-04-12 11:19] onel commented on #1464
Thanks for the quick response, that's a pretty clever hack. And it's very flexible.

I was thinking more of a Brackets extension that we can load optionally in Bramble.
I saw that the `load` method receives an `options` object, where we might send a `validation` method.
Outside the editor we can have a **Submit** button, and when pressed, we can call a method on the Bramble instance (similar to `e

[2016-04-12 13:25] imrek commented on #1447
Can't open any project on Ubuntu Firefox 45.0 either.

[2016-04-12 14:37] humphd commented on #1447
@imrek we have a fix in progress in https://github.com/mozilla/brackets/pull/545, which @gideonthomas just needs to update and land.  For now, run Thimble without tracking prevention or private browsing.

[2016-04-12 16:34] gideonthomas commented on #1465
hmm yeah this is very bizzare! I'll investigate

[2016-04-12 16:44] jgmac1106 commented on #1465
As some context, a student was using my computer under his screen name or
under anonymous. I took the computer, did not close browser, signed in and
saw the weird mixed up content.

The markup is still all there. I have not yet tried to download and upload
to a new project to see if it happens.

On Tue, Apr 12, 2016 at 12:34 PM Gideon Thomas <notifications@github.com>
wrote:

[2016-04-12 18:22] flukeout commented on #1417
Just a bit of a progress update while I work away...

![image](https://cloud.githubusercontent.com/assets/25212/14470915/dfe606d2-00a0-11e6-845c-36100d52fa87.png)

[2016-04-12 22:39] hannahkane commented on #1289
From a community member regarding the My Projects page: "I wind up creating lots of extra versions of the same thing and then can’t tell which is the original. I would be great if there was a thumbnail, the ability to go to the published or remix site and finally an option to delete multiple project at once."

[2016-04-12 23:57] humphd commented on #1459
I just landed "Offline Service Worker Caching" for Bramble on staging.  You can try it here:

https://mozillathimblelivepreview.net/bramble/staging/dist/hosted.html

After you load it once, take your browser/tab offline (Firefox is File > Work Offline; Chrome is done via the debug tools and Network throttling).  Amazing!

[2016-04-13 00:03] humphd commented on #1459
![bramble-sw-caching](https://cloud.githubusercontent.com/assets/427398/14479123/8582238a-00e9-11e6-9a7b-2d21c450b71a.gif)

[2016-04-13 01:37] arvin1209 opened #1467 "Saving Failed"
![image](https://cloud.githubusercontent.com/assets/13255798/14480411/c24239e2-00f6-11e6-8a2d-ec06a7f8058d.png)

[2016-04-13 05:58] flaki commented on #1459
Service workers are haaawt, aren't they? :yum:

[2016-04-13 21:30] flukeout commented on #1417
@flaki @Pomax We've pushed this update to staging https://bramble.mofostaging.net/en-US/

If you have a sec to try it out please do and report back if you have any feedback and comments! Cheers!

[2016-04-14 01:42] flukeout commented on #1417
I'm going to close this issue, as it has basically landed. We can make new issues for adjustments or fixes as needed.

[2016-04-14 01:42] #1417 closed

[2016-04-14 01:54] Pomax commented on #1417
\o/

[2016-04-14 02:09] flukeout commented on #1417
This issue feels incomplete without a screengrab of the finished product, so here it is...

![auto-preview](https://cloud.githubusercontent.com/assets/25212/14515074/34c3db9c-01ab-11e6-940d-fe5919bc78dc.gif)

...aaah, closure.

[2016-04-14 18:36] RStaceyMAT opened #1468 "3 Things I <3"
The links (Games, Music, Places) no longer work in the default pre-remix project.
Error message below:
404 Not Found

Code: NoSuchKey
Message: The specified key does not exist.
Key: bramble/production/dist/games.html
RequestId: 82B092190ED142F7
HostId: g0aRLNA6lJGWHm2qSJNxTV3BhPwOVPJINs9UVmO4+uZHodawnfeJHClo9wD5JMd15V/rim1aZSk=
An Error Occurred While Attempting to Retrieve a Custom Error Document

[2016-04-14 23:13] flukeout commented on #1468
I'm seeing this as well - links in the preview don't work and produce the error above. When published, projects work though.

cc @gideonthomas @humphd

[2016-04-14 23:25] Pomax commented on #1468
are their more detailed Steps To Reproduce, here? I just ran a quick test with index.html code:
[code]
and that link resolved fine when clicking it in the preview

[2016-04-14 23:28] flukeout commented on #1468
Try linking to another page within the same project, that's when it seem to break.

[2016-04-14 23:29] flukeout commented on #1468
**Steps to Reproduce**
* Create a brand new project
* Add another page to the project called test.html
* On the index.html page, create a link to the test.html page
  * ``<a href="text.html">Text</a>``
* Click the link in the preview
* The browser displays an error page (with text shown in the first comment)

[2016-04-14 23:32] Pomax commented on #1468
ah! yes, confirmed on my end too, it looks like the preview is trying to resolve off of the thimblelivepreview.net domain, which doesn't have knowledge of the full filesystem. @humphd any idea how we might be able to deal with that?

[2016-04-15 01:32] humphd commented on #1468
Confirmed, this is a regression in Bramble.  It was caused by this change @gideonthomas made: https://github.com/mozilla/brackets/commit/cf24dc8199b3fa0673dac87f578664694dae0305#diff-38673d24a652996ec87c67df33495e8bL7.  @gideonthomas if we use `anchor.href` vs. `getAttribute('href')`, it will give us a complete URL (i.e., `http://...`) vs. just the portion we want, which is the path name that the

[2016-04-16 16:11] #1453 closed

[2016-04-16 16:13] gideonthomas commented on #1467
Tracking the issue here: https://github.com/mozilla/thimble.mozilla.org/issues/1311

[2016-04-16 16:13] gideonthomas commented on #1467
We're working on a fix.

[2016-04-16 16:13] #1467 closed

[2016-04-17 15:33] #1437 closed

[2016-04-17 17:28] gideonthomas commented on #1461
@edriann your content should be removed now. If you are still able to access your makes, let use know and we will take a look again.

[2016-04-17 17:28] #1461 closed

[2016-04-17 21:16] autonome commented on #1437
Thanks for the fix! When will it be deployed?

[2016-04-17 22:41] gideonthomas commented on #1437
@autonome, I'm planning to deploy on Monday

[2016-04-17 22:42] #1468 closed

[2016-04-18 15:28] toolness opened #1470 "Editor is not accessible to screen readers"
I noticed that when using [NVDA](http://www.nvaccess.org/) that the editor (a CodeMirror widget, it seems) is not particularly accessible. Moving the cursor seems to indicate that every single line is "blank".

I did a bit of research on this and found that the CodeMirror widget is not accessible by default on desktop platforms, but [manually setting the `inputStyle` option](http://codemirror.net/

[2016-04-18 16:18] Pomax commented on #1470
Nice discovery! I wonder how easily we can set that option given that this is part of Brackets... @gideonthomas, @humphd any idea?

[2016-04-18 16:26] toolness commented on #1470
Hi Pomax!

Here's a page that contains two codemirror widgets, one which sets `inputStyle: "contenteditable"` and the other which sets `inputStyle: "textarea"`:

http://jsbin.com/qopaxex/edit?html,output

Hopefully folks interested in accessibility can use that to see the difference between the two when used with screen-readers.

[2016-04-18 16:30] humphd commented on #1470
Brackets sets the CodeMirror instance here: https://github.com/adobe/brackets/blob/656a0ee1d9889e853a77a4d9b12b9a82e6f86c55/src/editor/Editor.js#L389

We can hack it, sure.

[2016-04-18 18:36] flaki opened #1471 "Pages reverting to an empty/earlier version in Thimble resulting in data loss"
So this is a pretty weird and rather unfortunate issue we have came across at least two times in the last weeks, but I've never been able to reproduce it until now.

The problem manifests with documents in the Thimble editor reverting to earlier versions, or even the "empty" (newly created) files. This almost always goes for HTML files (never seen it happen to other files), also usually secondary

[2016-04-18 18:44] humphd commented on #1471
It sounds like we don't have a sync event in the queue for the file, and it's overwriting it with what's in the project's tarball (last-known-saved) from the server.  I remember this, but can't remember the details--I feel like we solved it.  I wonder why this would happen now.

It *could* be the result of the save having failed to the server (publish server crapping out for some reason, maybe ove

[2016-04-18 19:31] cadecairos commented on #1471
On April 13th, the publish servers got overloaded, and several hundred requests that hit the database timed out. I've seen a couple spikes since then, maybe 2-3 timeouts per day since then.

Based on my analysis of the RDS metrics, we're experiencing 40+ concurrent write requests to the database, resulting in high CPU usage & ~2MB/second of writes to disk. Requests start backing up and if it takes

[2016-04-18 19:44] gideonthomas commented on #1471
@cadecairos can we increase the pg request timeout duration on heroku?

[2016-04-18 19:45] Pomax commented on #1471
that feels like passing the buck - all you're doing is making it take slightly longer to still guaranteed fail under heavy load.

[2016-04-18 19:48] cadecairos commented on #1471
No, there's no way to increase the 30 second timeout restriction imposed by the Heroku router

[2016-04-18 19:50] cadecairos commented on #1471
We might want to consider creating one or two read replicas to distribute the query load

[2016-04-18 20:21] flaki commented on #1471
Let me clarify just one more thing. To my best knowledge (I'm not 100% sure of this, but pretty sure), the publish went out okay, and I could access my files later. Again, I'm not 100% sure that I opened the project in a different browser/device, but I'm pretty sure.

Can anything cause something like that, pages "regressing" to a previously saved version? As this seems more consistent to me as to

[2016-04-18 21:31] gideonthomas commented on #1437
@autonome it should be working now

[2016-04-18 21:59] gideonthomas commented on #1471
possibly related (just on a different scale) https://github.com/mozilla/thimble.mozilla.org/issues/1465

[2016-04-18 23:02] autonome commented on #1437
Thanks Gideon! I tested in Firefox nightly with 3rd party cookies set to
"only visited" and I'm still getting stuck "Loading Project" when starting
a new project.

On Mon, Apr 18, 2016 at 2:31 PM Gideon Thomas <notifications@github.com>
wrote:

[2016-04-18 23:11] gideonthomas commented on #1437
hmm, weird. I'm not able to reproduce this with the same setting (Firefox Dev edition though).
Can you try clearing your cache and seeing if this works?

[2016-04-19 13:38] soapdog opened #1472 "List of owned projects should include remix button for each item"
Hey Friends,

I do lots of remix of my own stuff. To remix my own projects I need to go to the list of projects I own, select one, wait for it to open, check the published url, open it and then click remix. It would be great if from the list of projects we could simply click remix.

[2016-04-19 14:10] jgmac1106 commented on #1472
Hey @soapdog I feel your pain. I have even messed up my template projects in the past by forgetting to remix.

I know we have discussed this feature a bunch of issues and it is in the roadmap https://github.com/mozilla/thimble.mozilla.org/wiki/Roadmap (I think that is the current version).

Given that we never did get the old projects migrated I am guessing we are somewhere in 2.3 (not sure we sti

[2016-04-19 16:24] hannahkane commented on #1472
Thanks for reporting @soapdog. I think this request is covered in #1289 where there's an extensive list of potential changes to the My Projects page, so I'm going to close this ticket as a dupe.

@jgmac1106 - thanks for the reminder that the roadmap probably needs some updating. I'll add that to my ToDo list. You are right to notice that we have directed a lot of resources to other projects right

[2016-04-19 16:24] #1472 closed

[2016-04-21 22:52] hannahkane opened #1473 "Estimate work to implement features for Classroom functionality"
Would like to revisit this idea as we're planning H2. We need to revisit the ideation and wireframing work we did already, compare it to requests from potential partners to identify the delta, and then provide some information about effort required. This will all be used to inform the Thimble roadmap.

I realize this is vague. Will add more detail after a kickoff meeting.

[2016-04-25 15:00] #1464 closed

[2016-04-26 16:38] GitJTO opened #1474 "Disable Fullscreen Button is not working"
Hi, I'm not sure if this is my browser issue but I cannot return to the code after I have enabled the full screen.
![thimble workspace one](https://cloud.githubusercontent.com/assets/18408294/14826433/c9bb82cc-0bab-11e6-809b-76069955a2cc.png)
![thimble workspace two](https://cloud.githubusercontent.com/assets/18408294/14826438/cd88f1e6-0bab-11e6-9b4e-bf75b98081a1.png)

[2016-04-26 16:48] humphd commented on #1474
I wonder if this is increased font size, and us not expanding to allow it to show properly.  cc @flukeout

[2016-04-26 16:59] humphd commented on #1474
Actually, this looks like the default now, and it means we've regressed something.  Thanks for filing it.

@flukeout I also notice that the right-hand buttons on the toolbar (fullscreen for example) aren't right aligned at the start either, and you have to resize the editor to force it.  Maybe a few issues to clean up in the CSS.

[2016-04-26 23:55] MooseRuler opened #1475 "Issues with Publishing"
I'm using thimble as a text editor while im learning to code. I've made a simple website using html and css. I tried publishing it, after i tried clicking the link it would send me to a page claiming that "the content is unavailable". I thought it was a time sensitive issue so i waited 24 hours. Problem still occures, i've tried unpublishing my work and then republishing it, doesn't seem to work.

[2016-04-27 01:09] Pomax commented on #1475
hi @MooseRuler, can you provide us with the link that your project claims it has been published to?

[2016-04-27 01:17] MooseRuler commented on #1475
here you go https://thimbleprojects.org/mooseruler/59226 it should be a website about a game review.

[2016-04-27 16:14] gideonthomas commented on #1475
Hi @MooseRuler don't worry, your project has been published. Unfortunately, you are seeing a "Not Found" page because the project is missing an `index.html` page.  To confirm, try going to https://thimbleprojects.org/mooseruler/59226/rainbow.html to see that your files have been published.

When a url such as the one you have posted above (which does not specify a particular file) is requested by

[2016-04-27 16:40] MooseRuler commented on #1475
@gideonthomas Thank you so much for your help! haha thats probably a noob mistake! xD

[2016-04-27 17:08] gideonthomas commented on #1475
Haha np! It's a pretty common mistake actually that even skilled devs make.

[2016-04-27 17:08] #1475 closed

[2016-04-29 10:36] iBobik opened #1477 "Fullscreen preview is not possible to close"
![snimek obrazovky 2016-04-29 v 12 30 55](https://cloud.githubusercontent.com/assets/614232/14913850/48a11a5a-0e06-11e6-8155-f2cdf1265c09.PNG)
Safari 9.1 (11601.5.17.1)

Button is there, but is not visible:
![snimek obrazovky 2016-04-29 v 12 32 28](https://cloud.githubusercontent.com/assets/614232/14913955/bf16ffd8-0e06-11e6-95a5-caccb3e9e867.PNG)

When I disabled `width: 90px !important;` on `.pr

[2016-04-29 10:38] iBobik commented on #1477
Btw, happens only if preview was switched to mobile view.

[2016-04-29 15:48] Pomax commented on #1477
I suspect this is related to https://github.com/mozilla/thimble.mozilla.org/issues/1474 and might be a duplicate of that issue, just with even worse symptoms due to the smaller screen size

[2016-04-30 17:38] iBobik opened #1478 "Link anchors not works in preview"
Demo project: https://thimbleprojects.org/bobik/61038

[code]

After click to link with #chapter1 it should jump to place where is id="chapter1".
It works on published website, but not preview windows next to editor.

[2016-04-30 18:05] humphd commented on #1478
@gideonthomas I thought you fixed this.  Did it not get pushed to prod?

[2016-04-30 20:47] gideonthomas commented on #1478
hmm it should be on prod. Will investigate...

[2016-05-02 16:54] #1478 closed

[2016-05-04 15:38] humphd commented on #1477
@iBobik I've got a fix up for review on #1474, so I'll close this.  Thanks for filing and making us aware.  Sorry it broke when we landed the auto-refresh feature.

[2016-05-04 15:38] #1477 closed

[2016-05-04 16:45] flukeout opened #1480 "Space missing between button icon & label"
Not sure where it went to. Might be due to changes made when setting localization and a space might have gotten removed. Should control the spacing via a margin and not a space anyway...

![image](https://cloud.githubusercontent.com/assets/25212/15021637/ceac2110-11dc-11e6-99a0-e7f79547313e.png)

[2016-05-04 18:02] #1474 closed

[2016-05-09 11:41] kostgames opened #1482 "When opening result in full-screen, there is no button to exit the full page result"
![thimble](https://cloud.githubusercontent.com/assets/14951831/15112004/d67522b4-15f3-11e6-9303-44933c531b51.png)
When I press the full-screen button in the editor, the full page result comes up but there is no button to exit full-screen. However, i can fix this temporarly with Inspect element and changing the width of .preview-pane-nav and setting it to 150 px.

[2016-05-09 12:51] humphd commented on #1482
This has been fixed, but apparently not shipped to production. Gideon?

[2016-05-09 13:36] kostgames commented on #1482
Sorry... what?

[2016-05-09 14:01] humphd commented on #1482
@kostgames I fixed this last week, and I'm waiting for @gideonthomas to actually ship the code to the servers.

[2016-05-09 14:44] kostgames commented on #1482
Oh, i thought you asked if I were Gideon and I got a bit confused :)

[2016-05-09 14:59] gideonthomas commented on #1482
haha, I'll do it today

[2016-05-09 15:28] gideonthomas commented on #1482
This should be working now @kostgames

[2016-05-09 22:55] humphd commented on #1482
Confirmed, it's good now.  Sorry about that @kostgames.

[2016-05-09 22:55] #1482 closed

[2016-05-12 19:20] gideonthomas commented on #1261
This is coming up surprisingly more often than we thought. Users think it is an error because that is what we show them when they navigate to the published version of their project. Probably worth fixing this sometime (as a UX issue ideally as mentioned above)!

cc @hannahkane and @flukeout

[2016-05-12 22:55] flukeout commented on #1261
Where is it coming up more often? Are we getting some feedback? I'll dig into the DB to see how many published projects fall into this category.

Looks like the directory listing idea from #1203 is off the table, so that leaves us with a couple of options..
* Warning + allow publish
* Disallow publish until fixed

I'll check the stats and then we can figure out which to pursue.

[2016-05-13 17:29] humphd commented on #1261
What about if we just do a "You don't have an index.html page" learning/info style custom 404 on our s3 bucket?

* http://stackoverflow.com/questions/5500138/amazons3-custom-error-pages
* https://aws.amazon.com/blogs/aws/host-your-static-website-on-amazon-s3/

Then if people get the 404, they can take action and make one or use the proper URL based on the renamed page.

[2016-05-13 18:16] jasonjurotich commented on #485
I would also love to see some real time collaboration (similar to what togethersj had) in Thimble. It would make it a game-changer for the classroom.

[2016-05-14 15:38] gideonthomas commented on #1261
In the past two months I have had about 4 users either file issues or comment on IRC that their published projects are showing 404s and all those times it has been because they were missing an index.html file.

I think Warning + allow publish should be fine though, users should probably just need to be aware of it.

@humphd but it's really tricky figuring out whether to show the regular 404 page o

[2016-05-14 15:52] Pomax commented on #1261
Why not meet the user where they're at, and explain to users that somethings going to go wrong while offering them not just advice, but concrete options on how to deal with this situation?

"You are about to publish a project without a default 'index.html' landing page, which means your site will only be accessible if people visit specific pages. If you would like people to be able to visit your s

[2016-05-14 18:31] humphd opened #1483 "Add wiki docs/animation on using color picker"
I notice in this tweet that they are using an external color picker in another tab, making me think that our colour picker isn't obvious to them:

https://twitter.com/mycampusgps/status/731546880241508352

We should at least add docs for using it here:

https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble

[2016-05-14 18:41] humphd commented on #1483
There's also some extensions we might consider turning on to make this easier to discover:

* https://github.com/cmgddd/Brackets-css-color-preview or https://github.com/unsyllable/CSS-Color-Marker or https://github.com/Taraflex/Brackets-Color-Highlighter
* https://github.com/mikailcolak/brackets-color-picker
* https://github.com/konstantinkobs/brackets-colorHints

cc @flukeout

[2016-05-16 22:23] hannahkane commented on #1261
It's too bad it's hard to differentiate whether it's a regular 404 or a missing index page, because that could really help with troubleshooting. The warning before publishing makes sense, and we should probably *also* include an explanation on the editor view even *after* publication, so that they can resolve the issue if they missed the first warning.

In terms of the warning itself, I think we c

[2016-05-17 15:58] gideonthomas commented on #1336
@flukeout can you try to revive this?

[2016-05-17 17:44] jgmac1106 commented on #1336
👍

[2016-05-18 17:16] cadecairos opened #1486 "TypeError('Path must be a string....."
I was notified of this error in the logs:

[code]

It looks related to the OAuth callback endpoint

[2016-05-18 18:00] gideonthomas commented on #1486
This seems to be a weird state issue (the locale is not set in the session just before being redirected to id on clicking "Login" OR more likely that the session is destroyed/stale). Someone logging out and then clicking "Back" or something like that. We should probably not throw when this happens though.

[2016-05-19 14:57] gideonthomas opened #1487 "[Tracking] Diagrams for code.org collab"
* OAuth - https://drive.google.com/a/mozilla.com/file/d/0BwCd-6qteGa8M0dNTURUTkxzMUU/view?usp=sharing

[2016-05-24 19:33] emmairwin opened #1488 "Please don't change URL for re-published content"
Created a resource, which was linked from several places:

https://thimbleprojects.org/sunnydeveloper/69609/

Needed to make some small tweaks, and unpublished/republished and the URL changed breaking all links.

https://thimbleprojects.org/sunnydeveloper/70912/

Would appreciate if URL remained the same between publish & unpublished states to avoid this in future.

[2016-05-30 20:25] gideonthomas commented on #1488
@emmairwin thanks for filing! We have gone back and forth on the complexity of implementing this vs. the need for this. Quick question, was there a reason you had to unpublish the project before re-publishing? Was it part of a specific workflow?

[2016-05-30 20:25] #1487 closed

[2016-05-31 02:09] wpdlsksh opened #1489 "I can't load one project"
https://thimble.mozilla.org/en-US/user/gus6590/214139

can't load only this project.
loading does not end.
Other projects, can be loaded.

[2016-05-31 02:19] cadecairos commented on #1489
I don't see any error in the application logs for this project, so it's being successfully downloaded to your computer, as far as I can tell.

What web browser are you using, ansd which version of it?

[2016-05-31 02:40] wpdlsksh commented on #1489
I use firefox 46.0.1
I use the computer in labs of the university.
I think this computer is slow, i will try again in other places

[2016-05-31 02:42] cadecairos commented on #1489
Yeah it should totally work in that browser. Please let us know how it goes!

[2016-05-31 08:15] wpdlsksh commented on #1489
All computer can't load project. other lab's pc , my pc and mobile. if you can give me that project, plz send that project to my email wpdlsksh@gmail.com

[2016-05-31 20:03] Coder206 opened #1491 "Mozilla TogetherJS Support"
I think there is some potential to add Mozilla TogetherJS to Timble to enable collaboration. Any reasons it is not being done now? It feels a little lonely without a friend...

[2016-05-31 20:12] humphd commented on #1491
This is being discussed in #485.  I'm going to close this one, and invite you to join the conversation there.

[2016-05-31 20:12] #1491 closed

[2016-05-31 20:13] Coder206 commented on #1491
@humphd Sorry, a search did not reflect this was a prevalent topic.

[2016-05-31 20:14] Coder206 commented on #485
Is anyone implementing this?

[2016-05-31 20:23] humphd commented on #485
I'm not aware of anyone working on this, no.  One of the concerns I have about using TogetherJS is that it isn't maintained any more.  If we decide that collaborative features are important to do in Thimble, we should probably evaluate the possible options, and especially look for things that still have devs engaged.

[2016-05-31 20:29] humphd commented on #485
As an example, Google provides an API for this, https://developers.google.com/google-apps/realtime/overview.  It's basically all the features of collaboration in Google Docs for an arbitrary app.  Lots of upside to this, with the obvious downside being that it ties you to Google's system.  One might argue that this isn't all that bad, especially if you want to make an app like Thimble work really

[2016-06-01 09:14] Sekharz opened #1492 "Complete folder structure cant be seen while moving files between folders."
![thimble_issue](https://cloud.githubusercontent.com/assets/13449235/15704139/db3ed07c-2806-11e6-83dc-d4b09719c9b8.jpg)

After adding folders to the font-awesome folder and then trying to move some files into the folders under font-awesome is not possible since the folders can't be seen in the move dialog box. Nor there is a option to scroll down.

Only on zooming out using ctrl+- a single sub fol

[2016-06-01 14:14] humphd commented on #1492
Sounds like we're missing proper overflow settings on that div.

[2016-06-01 15:54] #1492 closed

[2016-06-01 15:55] humphd commented on #1492
@gideonthomas we should prod push when you have a chance to get this fix landed.

[2016-06-02 05:39] wpdlsksh commented on #1489
give up. can't find a way.

[2016-06-02 08:36] wpdlsksh commented on #1489
I must submit this project next week. how can I get this project?

[2016-06-02 14:24] cadecairos commented on #1489
@gideonthomas can you please manually pull the project out of the database and attach it to this issue?

[2016-06-02 14:54] gideonthomas commented on #1489
yep will do

[2016-06-02 17:10] gideonthomas commented on #1489
Hi @wpdlsksh!

Firstly, I would like to apologize for the time delay in getting this done. We were having some issues trying to get your project! But I totally understand that this has been a major inconvenience for you and I do sincerely apologize.

It looks like your project has been published at: https://thimbleprojects.org/gus6590/73463/aa.html
(Note the /aa.html at the end. This is needed bec

[2016-06-02 17:20] gideonthomas commented on #1384
Closing since this is done

[2016-06-02 17:20] #1384 closed

[2016-06-02 17:21] #509 closed

[2016-06-02 17:26] wpdlsksh commented on #1489
Thank you. You've been a great help

[2016-06-02 17:27] wpdlsksh commented on #1489
Thank you. You've been a great help

[2016-06-02 17:27] #1489 closed

[2016-06-04 17:18] Pomax opened #1493 "text cursor instead of pointer for "sign in" and "create new account""
But only once you're in Thimble proper, on the landing page it's a pointer.

![screenshot 327](https://cloud.githubusercontent.com/assets/177243/15801023/a40c22ba-2a3d-11e6-9c0d-02777cf2bb28.png)

[2016-06-04 17:19] Pomax opened #1494 "logging out in the editor view moves people to the landing page"
The expected behaviour would be to be redirected to the page I was already editing instead of being booted out of Thimble and to the thimble landing page instead.

[2016-06-04 22:09] wildaces215 commented on #1333
Is this bug still open?

[2016-06-06 14:37] gideonthomas commented on #1493
wow that's new! seems like a regression!

[2016-06-06 15:02] gideonthomas commented on #1333
yes @wildaces215, would you like to take this on?

[2016-06-06 18:15] wildaces215 commented on #1333
Yes I would like to take this issue on!

[2016-06-06 18:15] wildaces215 commented on #1333
Though I might need help with it

[2016-06-08 00:04] gideonthomas commented on #1333
sure thing @wildaces215

You should start by forking and cloning our repo and its dependencies (instructions are [here](https://github.com/mozilla/thimble.mozilla.org#setup))
If you have any issues, let us know in this bug and we'll be happy to help you through the process.

Once you have everything set up and running, I believe the relevant code should go [here](https://github.com/mozilla/thimble

[2016-06-10 12:35] wildaces215 commented on #1333
Ok so I am trying to install thimble yet when I run the command
'npm run localize' does not work

[2016-06-10 20:23] gideonthomas commented on #1333
@wildaces215 what error do you see?

[2016-06-13 18:35] preetidulloo opened #1497 "Moving file from a folder"
The dialog box showing the name of the folders does not hold any scrollbars. So in case the user needs to move a file to a folder which is not visible on the screen, it is not possible. Please fix this asap as I am stuck with my students project work update because of this.

Thanks in advance,
Preeti

[2016-06-13 21:37] wildaces215 commented on #1333
Sorry can't do the bug anymore

[2016-06-14 09:32] Pomax commented on #1497
Do you have a link to a project that we can load up to see this happen? This will let us figure out exactly how we can best implement a solution to this problem.

[2016-06-14 12:01] preetidulloo commented on #1497
Thank you for reverting back! Yesterday when I was working on my project, I can't see the scroll on the "Move To..." dialog box, but today it's there (and for the same project).

Not sure what could be the reason!

Thanks!

[2016-06-14 12:01] #1497 closed

[2016-06-24 05:45] mrivantan opened #1498 "Getting more done in GitHub with ZenHub"
Hola! @mrivantan has created a [ZenHub](http://www.zenhub.com) account for the **mozilla** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboa

[2016-06-24 05:46] #1498 closed

[2016-06-25 16:19] rushabhy commented on #1493
Can I give it a try?

[2016-06-25 23:23] gideonthomas commented on #1493
@rushabhy sure thing! You should start by forking and cloning this repository as well as the dependencies as per the instructions here: https://github.com/mozilla/thimble.mozilla.org#setup

Until then, I'll search for where the code change happens. If you have any issues while setting up, let us know and we'll help you out through the process :)

[2016-06-26 04:07] rushabhy commented on #1493
Thank you for such a warm welcome! Done with the installation.
I was looking around and found that the cursor problem is because the anchor tag doesn't have `href` attribute. There are two solutions which I could think of
1. Point anchor tag to nothing `<a href="#"></a>` (which has to be changed in messages.properties file for each locale)
2. Add `{cursor:pointer;}` style in the [userbar.less](htt

[2016-06-26 16:59] gideonthomas commented on #1493
Oh nice! You seem to have figured out the solution quickly! I think option 2, i.e. editing style rules, is a cleaner (and easier) approach so I would go with that!

Once you've made the change and tested it, feel free to open up a pull request against the `master` branch of this repository and someone from our team will review it ASAP.

[2016-06-27 15:41] gideonthomas commented on #1493
Fixed with e63d9c02679bca361cacae913ef06876a376718b

[2016-06-27 15:41] #1493 closed

[2016-07-02 23:44] Coder206 opened #1500 "Thimble not working in FireFox 47 but does in Chrome 50 on Windows 10"
Error message:

There was an error loading your Project.
Please refresh your browser.

NOTE: if you are using Private Browsing mode, please reload in normal mode.

[2016-07-02 23:45] Coder206 commented on #1500
I also tried FireFox nightly, no success. However FireFox Developer Edition (most recent of the time of writing) works well!

[2016-07-03 01:18] cadecairos commented on #1500
I just tried running thimble in Firefox Nightly and stable (on Linux) and projects load well.

Are you continuing to experience the issue with those versions of Firefox? If so, would you be able to check the developer console (f12) for any errors, and paste them here?

[2016-07-03 01:29] Coder206 commented on #1500
@cadecairos I am using Windows 10. Yes, I am. Here is a picture:
![capture](https://cloud.githubusercontent.com/assets/7758155/16543315/0062dfbc-409c-11e6-823b-17507f44382d.PNG)

[2016-07-03 01:31] Coder206 commented on #1500
@cadecairos I tried on a Fedora 24 system, works fine! It's a Windows 10 issue.

[2016-07-03 01:33] cadecairos commented on #1500
And you're not using private browsing?

I'm not really familiar with the inner workings of bramble (the code editor thimble uses) but it looks like the storage mechanizm it depends on for working locally got corrupted somehow.

@gideonthomas is likely far more capable of identifying the problem here

[2016-07-03 01:35] Coder206 commented on #1500
@cadecairos I am not actually. Wondering if one of my plugins is interfering.

[2016-07-03 01:37] cadecairos commented on #1500
That's possible. could you try using a fresh Firefox Profile?

[2016-07-03 01:37] cadecairos commented on #1500
try visiting `about:profiles` in firefox

[2016-07-03 01:38] Coder206 commented on #1500
@cadecairos I tried Safe Mode for FireFox, no success...

[2016-07-03 01:39] Coder206 commented on #1500
@cadecairos I visited `about:profiles` no sure what to do next...

[2016-07-03 01:41] Coder206 commented on #1500
@cadecairos A refresh solved the issue :)

[2016-07-03 01:42] Coder206 commented on #1500
@cadecairos Now enjoying my favorite code editor in my favorite browser (with the exception of Mozilla Servo ;) ) Thanks for your help!

[2016-07-03 01:42] cadecairos commented on #1500
🎉 It must have cleared out the issue in your indexedDB - glad to hear it's working again.

I'd love to know more about how it got in that state though :)

[2016-07-03 01:43] cadecairos commented on #1500
@gideonthomas we should save this handy piece of debugging knowledge somewhere if other people have the same issue

[2016-07-03 01:48] Coder206 commented on #1500
@cadecairos It's odd. I can provide a list of extensions (as I remember a few). I would be willing to reproduce the issue. Did you want me to keep this issue open?

[2016-07-03 01:53] cadecairos commented on #1500
We can leave it open if you think you'd like to try and reproduce the error. It might not even be platform specific, so knowing which addons were in use might help (only if you're willing to share, though!)

[2016-07-04 18:21] gideonthomas commented on #1500
We've had issues with IndexedDB getting corrupted on Firefox but we thought that we handled that by auto-formatting it when the error is encountered so not sure why that didn't happen here.

cc @humphd

[2016-07-05 22:53] Coder206 opened #1501 "Server Side Support"
Allow users to make server side apps in NodeJS among other ways.

[2016-07-06 07:50] khanh2003 opened #1502 "Hey! I've made a project! Your Mozilla Thimble is great!"
https://thimbleprojects.org/khanhcrazy/84280

[2016-07-06 07:51] khanh2003 commented on #1502
I've hacked Thimble to remove the remix button.
=====

[2016-07-06 15:57] Pomax commented on #1501
While certainly a cool idea, that is well beyond the current scope of Thimble, and would require a radically different UI to allow for the notion of spinning up a server, executing  code, and most importantly, debugging it while it runs. In addition to the large amounts of work that would have to go into the client, this would also require safe execution infrastructure (the programs wouldn't be ab

[2016-07-06 15:57] #1501 closed

[2016-07-06 15:58] Pomax commented on #1502
Neat!

[2016-07-06 16:07] Pomax opened #1503 "Update the injection code to make sure we add it outside of a comment block"
While injection based on `</head>` generally works, the following code (reported in https://github.com/mozilla/thimble.mozilla.org/issues/1502) will cause incorrect script injection:
[code]
The current code will find the first `</head>` instance, and add the remix script, which thus ends up as
[code]
In order to ensure the script is not injected inside a comment, we'll need to update the code so t

[2016-07-06 16:08] Pomax commented on #1502
Filed #1503 for fixing the bug that can (either accidentally or intentionally) cause this to happen. Thank you for reporting it to us!

[2016-07-06 16:08] #1502 closed

[2016-07-07 08:18] khanh2003 commented on #1502
I'll watch #1503

Vào 06-07-2016 23:08, "Mike Kamermans" <notifications@github.com> đã viết:

[2016-07-07 09:51] khanh2003 commented on #1503
I had an Idea.
Just inject the remix script at the beginning of the html file.
for example:
[code]

[code]
And remember, the user can always remove the remix button by

[code]

[2016-07-07 10:00] khanh2003 opened #1505 "Thimble project gallery protoype"

[2016-07-07 13:36] Coder206 commented on #1500
I received the same error as above using the same refreshed browser, this time without extensions/add-ons (plain simple browser)

[2016-07-07 15:04] gideonthomas commented on #1505
Hi @khanh2003! Can you elaborate on what you mean by showing "all of the user's projects"? Doesn't it already do that? You should be able to see all of the projects you made in the projects list.

Also, we're still working on our starter projects and figuring out the right content that will fit in with our curriculum and target audience. But you bring up a good discussion point about possibly havi

[2016-07-07 15:14] gideonthomas commented on #1503
The ability to remove the remix button via hacks has been made intentionally available since sometimes, advanced projects can find the remix button a nuisance in the UI (for e.g. I made a teachable pacman game in which I had to remove the remix button through code otherwise pacman couldn't fully be seen). I don't think the idea here is to cover all these cases.

However, I do think that the commen

[2016-07-07 15:31] gideonthomas commented on #1500
@humphd any idea why we decided not to pass in `autoRecoverFileSystem: true` here - https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/bramble-editor.js#L15-L18 ?
It looks like it's not attempting to format the fs because we're not passing that flag in.

[2016-07-07 15:47] humphd commented on #1500
@gideonthomas we stopped doing that because it wasn't fixing the corruption in Firefox, which is what we'd hoped when we added that option.  We found that there was nothing we could do on our side to fix the corruption, it had to be dealt with at the browser/profile level.

[2016-07-07 15:48] humphd commented on #1503
Doing this properly would require us to do more than text insertion, we would really need to construct the full DOM so we could properly detect comments.

[2016-07-07 15:57] gideonthomas commented on #1500
Oh I see, noted! Thanks!

Two things to figure out:
* What can a user do to fix this problem (changes that need to be made in FF settings, etc.)
* What is a good UX solution to indicate this

[2016-07-07 16:02] humphd commented on #1500
@gideonthomas the real solution here is "Mozilla needs to fix Firefox," but in lieu of that, see what we know in #1136

[2016-07-07 16:06] gideonthomas commented on #1500
lol ok! Thanks for linking the other bug, I knew we had one somewhere

[2016-07-07 17:27] flukeout commented on #1505
To follow up, you can access your projects via the dropdown menu when you're signed in to your account. Let us know if you have any problems with this.

![new-project](https://cloud.githubusercontent.com/assets/25212/16662646/4e251d0c-442d-11e6-9330-
a5428b5e5cd2.gif)

[2016-07-08 00:21] Pomax commented on #1503
Not necessarily: writing a tokenizer that finds the first `</head>` that is not inside a comment block or script block isn't all that much work. But it does highlight another question: what do we do with html source that doesn't actually contain a `<head>` element (technically legal HTML5)?

[2016-07-08 01:34] Pomax commented on #1500
@humph Given that the real solution is "Mozilla needs to fix Firefox", is there a bug open on Firefox's issue tracker that we can link to? If not, one should probably be filed.

[2016-07-08 02:19] Coder206 commented on #1500
Do you want me to close this?

[2016-07-08 03:43] khanh2003 commented on #1505
What I mean is this!
![screen shot 2016-07-08 at 10 42 51 am](https://cloud.githubusercontent.com/assets/17680976/16676799/cdd9777a-44f8-11e6-86c7-5c3f309e2219.png)

[2016-07-08 03:47] khanh2003 commented on #1503
Will we give up?
This is a hack, and every playground always has some ways to
[code]
These are needed.

[2016-07-08 03:51] khanh2003 commented on #1505
So, everyone can get inspirations for their projects, and learn new things.
And a search bar.

[2016-07-08 14:37] gideonthomas commented on #1505
Ah I see, we're still discussing on what the best way would be to discover other user's projects and this is part of our "Thimble in a classroom" initiative. I'll find the relevant bugs and link them here.

[2016-07-08 14:47] cadecairos commented on #1500
Yeah, we've identified the cause, and it appears to be out of our hands for now.

[2016-07-08 15:07] Coder206 commented on #1500
Ok.

[2016-07-08 15:07] #1500 closed

[2016-07-08 15:38] #1320 closed

[2016-07-08 15:52] gideonthomas commented on #1494
I don't think that this is really expected behavior. I believe that we had discussed this before in terms of seamless transitions between the authenticated and unauthenticated states so we implemented a seamless transition one way i.e. when you authenticate and you have a project open, we save that project to your account.
If I remember correctly, there were two reasons why we decided not to do th

[2016-07-08 15:53] gideonthomas commented on #1305
More feedback: https://github.com/mozilla/thimble.mozilla.org/issues/1488

[2016-07-08 15:54] gideonthomas commented on #1488
I'm going to close this since we're tracking it in #1305. Feel free to add thoughts there.

[2016-07-08 15:54] #1488 closed

[2016-07-08 16:02] gideonthomas commented on #1471
Since we think this is a load issue on publish, this will probably help: https://github.com/mozilla/publish.webmaker.org/issues/233

[2016-07-08 16:30] gideonthomas commented on #1465
I tried investigating this earlier and couldn't track down what went wrong. But I haven't seen this reported again. If this happens again, feel free to reopen the issue and I'll try to recover the project for you (we have a better tool for this now) and investigate further.

[2016-07-08 16:30] #1465 closed

[2016-07-08 16:54] #1447 closed

[2016-07-08 16:55] #1433 closed

[2016-07-08 22:48] gideonthomas opened #1506 "Design a generic error page"
Honestly, this as a temporary solution is fine so that we can stop the template errors that are crashing the server like:
[code]

This happens when we try to serve the Webmaker 500 error which for some reason is erroring out because of node-webmaker-i18n. In reality, we shouldn't show the Webmaker page and show a custom "Something went wrong" page (I don't know the UI for this but it should probab

[2016-07-08 23:02] gideonthomas opened #1507 "Investigate "Internal Server Error" on authentication"
There are a lot of HTTP 500's  on the `/callback?logout=true` route and also a few on `/callback?client_id=...`(login) route.

Both seem to be occurring on a redirect from something like `/callback?logout=true` to `/en-US/callback?logout=true` so it's possible that l10n is screwing it up somehow. (This is true for logging in as well)

[2016-07-08 23:21] gideonthomas opened #1508 "Update footer with new url to the Learning Hub"
<img width="1426" alt="screen shot 2016-07-08 at 6 58 35 pm" src="https://cloud.githubusercontent.com/assets/5816130/16704073/16f4b364-4541-11e6-909e-1088ef47d27b.png">

The url there should change to `learning.mozilla.org`

[2016-07-09 00:05] hannahkane commented on #1329
Done

[2016-07-09 00:05] #1329 closed

[2016-07-09 00:06] #1473 closed

[2016-07-11 06:56] uday1201 opened #1509 "Issue with signing up"
When I'm trying to sign up with my e-mail for the first time, it's saying there's already an account with this email. And when I'm trying to recover password by going into the **Forget Password** in Log In , it says there's no account associatedwith it.
![screenshot from 2016-07-11 12 24 27](https://cloud.githubusercontent.com/assets/13145905/16722187/980971c4-4762-11e6-96ef-44f558e27b17.png)
![sc

[2016-07-11 15:06] cadecairos commented on #1509
It looks like you've already created a webmaker account before. The username is "udapra".

The account will need to be migrated from our retired one-time password system into the new one. It will prompt you to do this when you enter in the username I've mentioned above, and you'll receive an email containing a link that will let you set up a password for your account.

[2016-07-11 18:45] flukeout commented on #1506
We currently have a 404-type page for missing projects...

![image](https://cloud.githubusercontent.com/assets/25212/16742506/c332f1e6-475c-11e6-8d5a-55f5a806b736.png)

We could use it as a base for making an error page. I can work on a design.

We also need a straight up 404 page on the thimble.mozilla.org domain, currently we server this...

![image](https://cloud.githubusercontent.com/assets/25

[2016-07-11 18:49] flukeout commented on #1506
Looks like we already have an issue for a better 404 page here - #1130

[2016-07-11 19:00] Pomax commented on #1506
![deadlink](https://cloud.githubusercontent.com/assets/177243/16742975/03bd976e-475f-11e6-85ab-474e82d182ce.png)

[2016-07-11 23:28] flukeout opened #1510 "Blank language in language-picker"
In the screenshot below, one of the language options doesn't have any text in it.

![image](https://cloud.githubusercontent.com/assets/25212/16750133/42e2d880-4784-11e6-90c0-1c529a1911ca.png)

This is the markup, it's for the looks like the ``/az`` locale code.

![image](https://cloud.githubusercontent.com/assets/25212/16750148/6e56e7fe-4784-11e6-81cc-d890dbeffcf2.png)

[2016-07-11 23:28] flukeout commented on #1510
cc @alicoding

[2016-07-12 00:04] alicoding commented on #1510
This is actually missing from language mapping list library. I will have to add this and it should fix once you reinstall the module.

[2016-07-12 14:23] alicoding commented on #1510
This should now be fixed once you rebuild the app.

[2016-07-12 14:23] #1510 closed

[2016-07-12 17:40] flukeout commented on #1506
Here's my take on the error page...

![image](https://cloud.githubusercontent.com/assets/25212/16777073/03be23f0-481d-11e6-86bf-bf98a81c6460.png)

cc @gideonthomas

Questions
* Will we have access to some kind of description of the error that occurred?
  * If so, what is the length and format of that error?

[2016-07-12 19:28] gideonthomas commented on #1506
Looks good to me! We will have access to the description of the error, but I don't think it's very useful at the moment. I can add that functionality to Thimble though when we add this error page. The error itself can be formatted. Here's what an error might usually contain:
* a status code - not user-friendly but useful for us (when filing a bug for e.g.)
* a readable message - Human-readable and

[2016-07-12 19:52] flukeout commented on #1506
Thanks @gideonthomas - Could you provide a sample message that contains those three pieces of info? Would like to get a sense of the length of each string / block.

[2016-07-13 15:59] #1311 closed

[2016-07-13 16:22] gideonthomas commented on #1506
Hmm sure, I'll have to construct it, but what it probably will look like is something like this:
* status code - 500
* message - The project failed to save recent changes made to the files
* details -
[code]
Not sure what from here you would like to show to the user

[2016-07-13 17:06] #1494 closed

[2016-07-14 17:16] gideonthomas opened #1511 "Better error messages"
We need better logging on the server side that logs errors that occur along with providing some context so that we can debug these errors for clients.

[2016-07-14 17:18] gideonthomas commented on #1511
This will be done in conjunction with https://github.com/mozilla/thimble.mozilla.org/issues/1506

[2016-07-14 21:44] flukeout commented on #1506
Submitted a PR for the new error page here...
https://github.com/mozilla/thimble.mozilla.org/pull/1512

[2016-07-15 15:29] #1130 closed

[2016-07-15 15:30] gideonthomas commented on #1506
This is done, the rest of the general error issue will be resolved in https://github.com/mozilla/thimble.mozilla.org/issues/1511

[2016-07-15 15:30] #1506 closed

[2016-07-15 16:42] flukeout commented on #1506
👍

[2016-07-15 16:44] #1508 closed

[2016-07-18 03:43] samueller commented on #1503
The ability to easily remove the remix button should exist. The remix button is great, gives exposure to Thimble and encourages others to quickly learn and improve upon other projects. However, _a learner will very early on find it conflicting with their site design_, both in the aesthetics and functionality. We teach **kids** navigation bars soon into our curriculum. As you can see, the remix but

[2016-07-18 04:03] samueller opened #1514 "Links are broken in the preview for missing head elements"
We recently taught a first class to many 13-18 year old kids HTML/CSS and nobody's links were working in Thimble. Turns out, if you omit the `<head>` element (perfectly valid HTML), links just go to a blank page in the preview. When publishing the links work fine though:
https://thimbleprojects.org/ucode/86940/

Also, the remix button is missing. That can be a good thing sometimes as I noted in an

[2016-07-18 14:56] gideonthomas commented on #1514
Hi @samueller thanks for reporting this! There seems to be 2 parts to this bug so I'll address them separately.

1. The missing remix button - Duly noted. The remix button is missing in the published version for this project because of the missing `<head>` element. I think that's a case we should handle. I also agree with having the ability to toggle the remix button's visibility but I will add co

[2016-07-18 15:00] gideonthomas commented on #1503
@flukeout can we get some design direction for the remix button toggle (probably in the publish dialog box)?
It should then be fairly trivial to implement the backend pieces for this once UI is done.

I'm going to move this discussion to a new issue since @Pomax's issue concerns a different UX problem.

[2016-07-18 15:06] gideonthomas opened #1515 "Allow the visibility of the remix button to be "toggle-able""
Moved from a discussion in https://github.com/mozilla/thimble.mozilla.org/issues/1503. We should allow the remix button to be hidden if the user prefers, since it can interfere with the user's project design.

Needs:
- Designs on Thimble to "Show/Hide Remix button" (the project is still remixable, just not through the UI).
- Backend implementation in publish.wm.org to decide whether to inject the

[2016-07-18 16:07] flukeout commented on #1503
Sounds good @gideonthomas - I'll get on it. Agreed that we should make it optional. I'll post some UI wireframes here a bit later today and we can team up on implementation.

Will this be tracked as a field in the published projects database? It would be good to see how often this gets used.

One small concern is that once the button is removed, we give no indication of how the project was created

[2016-07-18 16:36] gideonthomas commented on #1515
In response to https://github.com/mozilla/thimble.mozilla.org/issues/1503#issuecomment-233375557 :

Yeah it will need to be tracked in the db.

Hmm, yeah true. I don't know if it is super important that we market the Thimble brand in projects. On the other hand, one way we could approach this is to have the "Hide" button inside the remix bar as well so that if the creator of the project allows the

[2016-07-18 16:36] gideonthomas commented on #1503
@flukeout: https://github.com/mozilla/thimble.mozilla.org/issues/1515#issuecomment-233383843

[2016-07-18 16:41] flukeout commented on #1515
To tack on another need:

* When the "Show Remix" setting is toggled on a published project, the "Update Published Project" button should appear so the user can make the change take effect.

[2016-07-18 16:57] gideonthomas commented on #1515
@flukeout we could, or it can happen automatically! Whatever you think is the best UX here.

[2016-07-18 16:59] liberaliscomputing opened #1516 "Analyzing how people learn web development on Thimble"
Hello all,

As a contractor, I have been working on a research study temporarily titled **Scaling learning web development in the wild**. Since I am interested in computer science education especially within a context of **web literacy**, I have been investigating 1) **how people learn web development on Thimble** and 2) **how we could facilitate that understanding further**.

Whereas the latter o

[2016-07-18 17:22] samueller commented on #1515
I like the hide button to give some control to the user too. The "show remix" setting updating the published project automatically makes sense since that setting's only purpose is affecting the published project.

[2016-07-18 17:24] samueller commented on #1514
This issue is more than just about external links loading in the preview. Relative links also show a blank white page with a missing `<head>` element. If the `<head>` element is there, then relative links load within the preview.

[2016-07-18 17:29] hannahkane commented on #1515
+1 to @samueller's reasoning on the points above.

[2016-07-18 17:32] gideonthomas commented on #1514
hmm, @samueller would you be able to provide an example project that I could remix? I can't seem to reproduce this issue.

[2016-07-18 17:33] flukeout commented on #1515
Agreed on updating the setting automatically on the Published project.

Not convinced about offering a way for someone who is viewing a project to hide the Remix button, however. If the main problem with the button is that it is in the way of a particular design, it shouldn't be there to begin with.

[2016-07-18 17:36] samueller commented on #1514
@gideonthomas I provided a link to remix above, here it is again:
https://thimble.mozilla.org/en-US/projects/86940/remix

I updated it to have a relative link as well

[2016-07-18 18:05] hannahkane commented on #1515
@flukeout - are you suggesting a different solution altogether then? Are you saying that even if the author hasn't chosen to toggle the Remix button off, there are circumstances where we would remove it anyway?

[2016-07-18 18:14] flukeout commented on #1515
Oh no. There was a separate suggestion to also allow the person viewing a project to hide the Remix button if they wanted to when they were viewing it. Not related to the toggle that the author would get.

[2016-07-18 18:23] gideonthomas commented on #1514
hmm yeah it seems like links are totally broken! Thanks for catching this! I'll update the ticket

[2016-07-18 18:25] gideonthomas commented on #1514
As mentioned above, links in the preview do not work and show a blank page when a `<head>` element is missing. This is relevant to relative links since external links should be loaded in a new tab (which is also broken).

[2016-07-18 20:03] hannahkane commented on #1515
Yeah, I get that. Sorry, this is confusing. I didn't understand your [comment](https://github.com/mozilla/thimble.mozilla.org/issues/1515#issuecomment-233399737) about "If the problem is that it's in the way, it shouldn't be there to begin with."

My understanding of @gideonthomas's suggestion above was that the Hide button would be available to the viewer in the case where the author had chosen *

[2016-07-18 20:14] flukeout commented on #1515
Sorry for muddying the waters here. The following bullets summarize my thoughts

* Allow the author to disable the Remix button
* Do NOT allow the viewer to hide the Remix button if it is present

Rationale
* If the Remix button conflicts with the design, the author would have disabled it anyway

[2016-07-18 20:29] marumari opened #1517 "Update server's security headers"
Hey there!  April here from the Mozilla infosec team.  Just wanted to help you out a little bit, getting your server's headers inline with our security guidelines.  :)

ALLOW-FROM is only supported by Firefox, and has been deprecated in place of this:

This works in Firefox, Chrome, and Safari and hopefully Edge someday.  To protect users of older browser from possible clickjackings, I would set i

[2016-07-18 20:30] marumari commented on #1517
Note that you can set:

At the same time as you use Content-Security-Policy-Report-Only; they operate independently.  :)

[2016-07-18 20:46] gideonthomas commented on #1517
Awesome, thanks a lot @marumari!

Changes that need to be made:
* https://github.com/mozilla/thimble.mozilla.org/blob/master/server/security.js#L105 for the `X-Frame-Options` header
* https://github.com/mozilla/thimble.mozilla.org/blob/master/server/security.js#L69 to add `frame-ancestors` as a separate CSP header (`Content-Security-Policy`)
* https://github.com/mozilla/thimble.mozilla.org/blob/ma

[2016-07-18 20:56] cadecairos commented on #1517
@gideonthomas is there a reason we're only using the report-only csp header?

[2016-07-18 21:06] marumari commented on #1517
Glad to help!  Please let me know if there's anything else I can do!  From what I can tell, the CSPRO header isn't returning any obvious CSP errors in the handful of pages I visited, which means you're all probably really close!  Nice work, and let me know if you have any questions at all!

[2016-07-18 21:21] samueller commented on #1515
+1 for the summary by @flukeout

[2016-07-18 21:29] hannahkane commented on #1515
+1. I can imagine use cases for giving control to the viewer, but probably best to not over-complicate now.

[2016-07-18 21:57] samueller commented on #1514
Issue seems simple enough, Thimble is not inserting its JavaScript code in the `<head>` element if the `<head>` element doesn't exist.

[2016-07-19 15:28] gideonthomas commented on #1514
Yep that's basically it! Brackets does not inject the remote scripts.

[2016-07-19 15:32] gideonthomas commented on #1517
@cadecairos nope no reason at all. I think it was done earlier during the dev process, when we didn't have time to fix CSP errors.

[2016-07-19 22:01] flukeout commented on #1515
@hannahkane agreed on possible use cases. We can address in a subsequent effort if we think it's necessary. For now, here's what I was thinking for the Publish dialog...

![image](https://cloud.githubusercontent.com/assets/25212/16968101/a6a9ea32-4dc1-11e6-8262-7c16353fd260.png)

[2016-07-19 22:05] samueller commented on #1515
@flukeout that looks great

[2016-07-19 22:10] flukeout commented on #1515
Haha, thanks! @gideonthomas I can add this markup and leave you to wire it up?

@samueller Do you think we need any additional context around that toggle? Maybe a line underneath that says...

``Remixing allows others to make their own version of your project``

Or something to that effect?

[2016-07-20 02:28] samueller commented on #1515
@flukeout, I subscribe to the philosophy of less is more. I think you have the right phrase, it should be clear enough for anybody publishing their website.

[2016-07-20 16:07] gideonthomas commented on #1515
@flukeout looks great! Yep I can hook it up if you add the markup

[2016-07-21 10:41] AlexMeier99 opened #1518 "blob in preview"
When I open the preview of my thimble project there is always this blob on the screen...
![blob](https://cloud.githubusercontent.com/assets/17048656/17020118/31139400-4f40-11e6-822d-465bf79ca3f2.jpg)

So I inspected it in Firefox Inspector and got that:
![blob_inspected](https://cloud.githubusercontent.com/assets/17048656/17020133/47cf4bd0-4f40-11e6-8d95-f100cd458f0b.jpg)

I realized that it has t

[2016-07-21 13:40] cadecairos opened #1519 "Implement Node Clustering"
We're running this app on a 2X dyno, which gives it 1GiB of memory to play with, but the app only uses a single node process, resulting in it using a fraction of what's available.

We should implement the [throng module](https://www.npmjs.com/package/throng), which we use in several other places to boost concurrency.

[Here's an example of how we're using it in donate](https://github.com/mozilla/d

[2016-07-21 13:43] cadecairos commented on #1509
@uday1201 Were you able to log in?

[2016-07-21 16:16] gideonthomas commented on #1518
Good catch! This gives us a lead into where in the Brackets code to look for this.

[2016-07-21 21:22] #1519 closed

[2016-07-22 03:31] khanh2003 commented on #1515
Why not also movable?
================

[2016-07-22 03:34] khanh2003 commented on #1518
yeah!
fucking blob!
i thought it was my screen's problem, but thank you for creating this issue.

[2016-07-22 18:09] flukeout commented on #1515
@gideonthomas Okay, I'll add the markup in the heartbeat and keep you posted.

@khanh2003 We can investigate the need and solutions for a movable Remix button in a subsequent issue, but will keep the work in this issue scoped to the 'toggable' feature.

Do you have any suggestions or ideas about how to make the button movable? Who would control where the button goes, the author or the viewer? Woul

[2016-07-22 21:48] tjfwalker commented on #1431
Thanks for such an actionable response to my inquiry, @gideonthomas.

[2016-07-25 14:10] marumari commented on #1517
Just checking in on this just to see how things are going with CSP and the like.  Carry on being awesome!  :)

[2016-07-27 07:07] khanh2003 commented on #1498
good idea! or you can use [trello](https://trello.com/)

[2016-07-28 07:56] khanh2003 opened #1523 "better tutorials"
I saw your starter projects. They are nice. But when I show them to my friends, no one wanted to read the tutorials. They just kept asking me how to remix.

And now I tried to make a sample tutorial.
Let's discuss about it.
https://thimbleprojects.org/khanhcrazy/89200/

[2016-07-28 15:46] Pomax opened #1524 "Remove mozillathimblelivepreview script preloading in homepage"
Despite the fact that neither of those things should hold up the app loading and starting up a UI.

[2016-07-28 15:49] gideonthomas commented on #1524
I'm not sure I understand. If you block mozilla.org, all subdomains are also blocked aren't they? So the app definitely won't load.

cc @cadecairos

[2016-07-28 15:51] cadecairos commented on #1524
Can you elaborate on this @Pomax? I'm not sure why the expectation is that it should load if the domains it depends on are blocked.

[2016-07-28 16:45] Pomax opened #1525 "figure out if we can make the file nav bar light, when light theme is used"
When using thimble on a laptop in some sun, the low contrast offered by the dark theme is too low, and light theme works a lot better. However, switching does not switch the navbar, so we might need to look at how bracket themes are applied, create a theme in line with our light theme, and tell brackets to switch when the Thimble theme gets switched, too.

[2016-07-28 16:57] Pomax commented on #1525
#sidebar background `#e0e0e0` looks fairly decent (darker than white to make it clear it's not "more editor")

<img width="1714" alt="screen shot 2016-07-28 at 9 51 54 am" src="https://cloud.githubusercontent.com/assets/177243/17221684/a3ab3fea-54a9-11e6-97d6-28ef3baf9cab.png">

[2016-07-28 17:13] gideonthomas commented on #1525
The upper dark nav bar looks a bit out of place though so maybe we should change the color of that as well. cc @flukeout

[2016-07-28 17:16] flukeout commented on #1525
Yeah it looks a bit weird, but I think @Pomax's idea still has merit in the short term. The dark bar contains a bunch icons and buttons, so we'll have to generate inverse versions of those, which will increase the scope of work.

We can schedule and prioritize

[2016-07-28 17:21] Pomax opened #1526 "Intercept "ctrl-r" / "cmd-r" in instances where work might be lost."
I've run into multiple instances where I think I'm in a browser and so instinctively hit "reload page" as keyboard shortcut to see the updated changes. Getting a "are you sure you want to leave this page?" using a `window.onreload` might be a good idea

[2016-07-29 02:01] #1523 closed

[2016-07-29 02:04] khanh2003 commented on #1515
The viewer would control where the button goes. The position is remembered.
=
Specific problem a movable button solve:
=
[code]

[2016-07-29 17:36] flukeout commented on #1523
Hi @khanh2003 - I saw you closed the issue but if you're still interested in sharing your thoughts, we'd appreciate it.

Some questions...

* Were your friends unable to remix a project when they tried?
  * Were you able to show them how to remix?
  * Was something about remixing the project difficult or unexpected?
* You said you tried to make a tutorial, were you successful or not? What issues d

[2016-07-31 02:29] #1381 closed

[2016-07-31 02:29] #1382 closed

[2016-07-31 19:07] Pomax opened #1527 "https://thimbleprojects.org root should redirect to https://thimble.mozilla.org"
Currently visiting https://thimbleprojects.org/ gives you the 404 page, and the "thimble by mozilla" links to thimbleprojects.org instead of thimble's real website.

It's probably far more useful to make the root on https://thimbleprojects.org outright redirect to https://thimble.mozilla.org, since that's what you were probably looking for instead anyway.

[2016-08-01 03:31] samueller opened #1528 "Quick edit is ⌘-e, not ⌥-e"
When you right-click an HTML tag, Thimble's context menu shows "Quick Edit ⌥E". But it's actually ⌘-e that brings up the quick edit. At least that's how it is on my MacBook.

[2016-08-01 07:58] samueller opened #1529 "Allow es6 linting with JSLint"
I saw in the Bramble GitHub repository that we can add JSLint support:

I did that with JSLint and it does load:

[code]

So how can we use JSLint?

[2016-08-01 16:00] gideonthomas commented on #1529
@samueller If you enable the extension, and then open up a new JS file and type something in, a JSLint bar should pop up at the bottom showing any problems in the code.

[2016-08-01 16:21] humphd commented on #1529
I think this extension works when the file is saved. Look at its main.js to confirm.

On Aug 1, 2016 12:00 PM, Gideon Thomas <notifications@github.com> wrote:

@samueller<https://github.com/samueller> If you enable the extension, and then open up a new JS file and type something in, a JSLint bar should pop up at the bottom showing any problems in the code.

-
You are receiving this because you are

[2016-08-01 21:29] MsZabel opened #1530 "Oh no! The page you're looking for is not available!"
Why won't my link work - i published
https://thimbleprojects.org/ccwebtest/90043

[2016-08-02 07:34] liberaliscomputing opened #1531 "Collaborative live coding in Thimble"
Alongside [learning analytics in Thimble](https://github.com/mozilla/thimble.mozilla.org/issues/1516), I have been investigating people's learning behavior in web development in an open source toolkit called [Snowball](http://snowball.openhtml.org/). From this study, I found anecdotal evidence showing the sophistication of computational artifacts is greater when people **co-author** web articles.

[2016-08-02 15:04] Pomax commented on #1531
adding @humphd, too - getting togetherjs, or any other collaborative state syncing tool, integrated into thimble for real time collaboration would be exciting.

[2016-08-02 17:37] gideonthomas commented on #1530
@MsZabel are you sure you published the project? From our database, the id 90043 is the id of your project but not of the published one (the database shows us that the project has not been published). Can you try clicking the "Publish" button on the top right corner and then in the dialog that pops up, click the "Publish" button again?

[2016-08-02 17:45] flukeout commented on #1531
Sweet - keep us posted on the TogetherJS implementation. Once you have a better handle on how that could work, I can help out with some UX ideas / considerations.

[2016-08-03 00:52] samueller commented on #1529
I see, it doesn't show up for an HTML file with JavaScript in it, only a `.js` file. Is there a way to give JSLint the `es6` option?

[2016-08-03 01:11] humphd commented on #1529
You could change what gets specified here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/JSLint/main.js#L101.  Any valid `options` value would get passed down to jslint.

[2016-08-03 14:47] luiguild commented on #1382
❤️

[2016-08-03 14:47] luiguild commented on #1381
❤️

[2016-08-03 15:55] Pomax opened #1532 "comment threads on thimble projects"
With the ability to remix, it would also be nice if thimble publications came with a "free" comment thread system, so that getting feedback on the thing you made, or questions on how you did something, etc. without having to manually figure out how to add something like Disqus yourself for every page/mini-site/site you make.

With the option to enable/disable the remix button in the publish option

[2016-08-05 17:58] #1511 closed

[2016-08-07 12:25] khanh2003 commented on #1532
yeah, it's fun!
maybe we need to learn from codepen. their community is very good!

[2016-08-07 12:28] khanh2003 commented on #1505
#1532

[2016-08-07 17:41] chadsansing opened #1533 "Improve the design and contrast of Thimble's code window for presenations"
Users can't read the Thimble FILES menu or code window in well-lit rooms because the display themes are too low-contrast. We should develop a presentation theme or improve current themes for readability during presentations, thinking past traditional fonts and colors used by coders.

cc @anmechung @hannahkane

[2016-08-07 23:26] Pomax opened #1534 ""publish" button frequently does nothing unless I slow-click down and back up"
If I just quickly click the "publish" button for my project while moving my mouse around because I'm still busy, quite often nothing happens and I end up having to position the mouse over the button, and click without moving the mouse at all.

It feels like the wrong event is being tapped into in order to determine whether a user clicked the publish button, where it listens for "click" (which can

[2016-08-08 01:57] khanh2003 commented on #1114
Note: If the teacher has to create a class and accounts for students, it'll be more difficult to use.
Let the students do it.

[2016-08-08 04:07] gideonthomas commented on #1533
cc @flukeout

[2016-08-08 13:37] khanh2003 opened #1535 "Add images dynamically via JS - failed"
# SERIOUS PROBLEM! Fix it.

Go to this URL:
https://thimbleprojects.org/khanhcrazy/90416/
The icon in the top-left corner works fine.
Now click Remix.
The icon doesn't show.
![hoc462](https://cloud.githubusercontent.com/assets/17680976/17481491/b1e1ceba-5da7-11e6-9ea2-4b8b2dbd5705.png)
![screen shot 2016-08-08 at 8 35 36 pm](https://cloud.githubusercontent.com/assets/17680976/17481502/ba81697c-5da

[2016-08-08 17:11] Pomax commented on #1535
on an HTML5 technical note, `<img>` is a void element (i.e. it may not have any element content, only attributes) and as such does not need a closing tag. Browsers will look the other way when you do, but leaving it off is proper HTML5 syntax (this changed with respects to HTML4.01 and below, when the closing `</img>` was still necessary)

[2016-08-08 17:19] gideonthomas commented on #1535
Hi @khanh2003,

It looks like you're loading the images dynamically through JS. Unfortunately, that is not something Thimble can do in its current state.

There are bunch of complications that we face when attempting to implement something like this. The most important one is the complexity of string parsing. When we encounter a link in HTML (js, images, etc.), on the editor side, we get the conte

[2016-08-08 17:20] Pomax commented on #1535
It looks like this happens because while brackets modifies HTML such that image links are turned into blob links, when you use locations in JS, there is no blob rewriting, and so the virtual file system that Thimble relies on is not used.

Instead of using string manipulation and innerHTML setting (which is quite error prone and potentially page-breaking), you can do what you want by defining real

[2016-08-09 09:30] khanh2003 commented on #1535
ok, thanks.

[2016-08-09 13:25] khanh2003 commented on #1535
Changed my mind.
What about AJAX? If you don't replace the URL in JS files, I'm sure AJAX won't work.
Or are you thinking that children are too young to learn AJAX? AJAX is important!

[2016-08-09 13:34] humphd commented on #1535
We have another Bramble bug on this, which requires us using Service Workers vs Blob rewriting. It's in progress, but is a big change.

On Aug 9, 2016 9:25 AM, khanh2003 <notifications@github.com> wrote:

Changed my mind.
What about AJAX? If you don't replace the URL in JS files, I'm sure AJAX won't work.
Or are you thinking that children are too young to learn AJAX? AJAX is important!

-
You are

[2016-08-09 13:54] khanh2003 commented on #1535
Hint: On Chrome, you just use FileSystem API.

Sorry but your project is so complex so I can't contribute.

[2016-08-09 15:10] gideonthomas commented on #1535
@khanh2003 I think if you use `XMLHttpRequest` directly (I might be wrong though) it should work (I remember writing a patch for that a while ago).
<br>

It's actually something we're working on - better documentation, better modularity, easier setup.

<br>
The problem with using the FileSystem API is that it is *only* supported in Chrome.

[2016-08-10 16:06] chadsansing opened #1536 "Fix Chromebook quotation display"
A user guiding teachers through Thimble noted that on their Chromebooks, Thimble interpreted both parts of double- and single-quotation mark pairs as closing quotations, breaking attribute values. We should make sure Thimble interprets opening and closing quotation mark keystrokes differently on Chromebooks or provide an easily discoverable work-around.

[2016-08-10 16:07] gideonthomas commented on #1536
@chadsansing was the code copy/pasted from a document or a text editor?

[2016-08-10 16:16] chadsansing commented on #1536
No, but the work around was to copy and paste quotation marks that were already inside a remixed project and facing the right directions.

[2016-08-10 21:27] Pomax commented on #1536
what do chromebooks do? Do they not simply yield ascii character 34 (`"`) in the editor?

[2016-08-10 21:30] humphd commented on #1536
Can we get some example text?  A Chromebook is just Chrome, so I'm surprised this is an issue.  Is this a case of mixing single- and double-quote?

[2016-08-11 10:20] chadsansing commented on #1536
I'll ask for more documentation.

[2016-08-11 17:33] Pomax opened #1537 "sign in won't work if you have youtube blocked."
This cannot possibly ever have been intentional, but it's still really frustrating - the sign in links will not work if "third party scripts and includes" are blocked (a pretty sensible noscript and ublock origins setting), so thimble is forcing me into letting youtube know that I'm using thimble before I'm allowed to log in.

Can we fix that?

[2016-08-11 17:34] Pomax commented on #1537
hm, it would appear that even with youtube unblocked, the thimble UI refuses to properly add hrefs to the sign in links. They stay `href='#'` instead (a test in chrome works fine).

Any idea what might be causing this?

[2016-08-11 17:36] Pomax commented on #1537
localStorage content:
[code]

[2016-08-11 17:39] Pomax commented on #1537
four `ga` cookies, two moz cookies, `mozillaThimble` and `mozillaThimble.sig`, and four optimizely cookies.

[2016-08-11 17:39] gideonthomas commented on #1537
@Pomax what errors are you seeing in the console when you try to login? (also, can you copy/paste the domains that are blocked by uBlock on the homepage?)

[2016-08-11 17:39] Pomax commented on #1537
no errors.

[2016-08-11 17:41] Pomax commented on #1537
The only "errors" are:
[code]
Neither of which should have anything to do with this.

[2016-08-11 17:46] Pomax opened #1538 "iframes don't work"
I tried to make a page a little more organised by refactoring several example sections into separate html documents that are included on the main page with `<iframe href="./filename.html"></iframe>`, but brackets does not do the right thing in this case, preserving the `href` attribute instead of rewriting it so that it points to a thimble filesystem blob resource.

[2016-08-11 17:50] gideonthomas commented on #1537
@Pomax if you click on the little square-like thingy near "on this page" when you click on uBlock, it will open the logger after which if you click on the refresh icon, will show you blocked domains. Might help knowing which domain is being blocked?

Do those errors appear after you try to click on "Sign In"? Or do you see nothing being logged after clicking "Sign In"?

[2016-08-11 18:05] humphd commented on #1538
I suspect this is due to us not rewriting html "links", since doing so can result in infinite loops, with a.html pointing to b.html, and vice versa. We probably need the Service Worker server rewrite for this, or else to special-case iframes.

On Aug 11, 2016 1:46 PM, Mike Kamermans <notifications@github.com> wrote:

I tried to make a page a little more organised by refactoring several example sec

[2016-08-11 18:09] Pomax commented on #1537
Like I said, even with nothing blocked thimble is misbehaving for me. There are no errors, the sign in link simply does not get an href assigned into it. It stays `href='#'` and clicking it does what that's supposed to do: navigate you to the top of the page (which it's already on)

[2016-08-11 18:14] Pomax commented on #1537
turns out noscript somehow decided to block thimble.mozilla.org, but not show this in its UI... that'll do it.

[2016-08-11 18:14] #1537 closed

[2016-08-11 18:15] Pomax commented on #1538
I see

(on a sidenote, your email replies seem to post your reply *with* the entire message quoted including the "you are receiving this because you are subscribed to this thread, reply to this email directly etc. etc" footer... makes for huge comments when the actual information is only one or two sentences =)

[2016-08-11 18:25] gideonthomas commented on #1538
I can try to find the bug that deals with circular linking. If we have that somewhere, we can probably close this, otherwise, it's good to have this evolve into the broader issue

[2016-08-11 23:01] Pomax commented on #1538
ha! You know what? I used `href` instead of `src` as linking attribute. With `src` it works perfectly fine. I've been javascripting so long I've forgotten basic HTML syntax >_>

[2016-08-11 23:01] #1538 closed

[2016-08-14 02:15] khanh2003 commented on #1536
maybe
[code]

[2016-08-14 02:16] khanh2003 commented on #1531
I want it now! I'll teach code to my friends if you add that.

[2016-08-14 02:16] khanh2003 commented on #1524
close this please

[2016-08-16 16:51] gideonthomas commented on #1531
Discussions - https://public.etherpad-mozilla.org/p/thimble-collaborative-editing

[2016-08-16 23:08] Pomax commented on #1524
it might be blocking the scripts from thimble.mozilla.org with base mozilla.org blocked, although mozillathimblelivepreview should not be required to load the bundle. Right now with mtlp blocked, the bundle load breaks with a black screen and warning text.

[2016-08-17 02:02] gideonthomas commented on #1524
@Pomax which browser and what JS blocking settings are being used here?

[2016-08-17 15:53] Pomax commented on #1524
firefox, with noscript set to block mozillalivepreview

[2016-08-17 16:50] gideonthomas commented on #1524
So you explicitly block mozillathimblelivepreview.net? I don't think that's something that users usually do though so I wouldn't prioritize this. However, I agree that we should make the UX for this case a bit smoother.

[2016-08-17 17:18] Pomax commented on #1524
consider that noscript blocks things by default, so people come to thimble with mozilla.org and preview blocked. Then they'll clear mozilla.org to see what we have to offer, the site loads, but then the bundle breaks despite there not being a good reason for that. Ideally, they would get the IDE and then go "oh I should clear the preview too, there is value in this"

[2016-08-17 17:25] gideonthomas commented on #1524
Oh I see so this extension blocks all thirdparty domains without having you to explicitly type it out? In that case, yeah it's probably worth investing some time soon in proper UX for this.

[2016-08-17 17:37] Pomax commented on #1524
the default noscipt behaviour is "block EVERYTHING until the user unblocks it", not just "third party domains", it even blocks primary until the user visits that domain, and tells noscript to either temporarily or permanently allow scrips from this domain to run.

[2016-08-18 12:08] khanh2003 opened #1539 "Not mobile friendly"
## Using Thimble on mobile devices e.g. smartphones, tablets is very hard!
# And the auto-correct of mobile keyboard can break the editor.
#632
[code]

[2016-08-18 17:02] Libaud opened #1540 "Profile size larger than 10/12Go"
Hi,
I'm manage many mail account and my profile size was reached than 10/12Go.
So I've saw that Thunderbird couldn't delete messages in different account or search folders then the profile have this size.
The solution is to archive messages, export them and delete archives after.
To be down the 10Go and able delete messages.

[2016-08-18 17:04] Pomax commented on #1540
It sounds like you filed this on the wrong repository, this is the repostory for https://thimble.mozilla.org, and online code editor specifically for making web content.

[2016-08-18 17:04] #1540 closed

[2016-08-18 17:06] Pomax commented on #1539
The editor itself was no designed with mobile in mind. There is a tablet preview to see what a published project will look like, but the IDE itself is not intended for mobile at this point in time. A mobile UI has to work rather different from the current one in order to present the user with a sensible file menu, editor view, and preview pane, and as a large amount of work to get right is current

[2016-08-18 17:06] #1539 closed

[2016-08-21 14:46] my2iu opened #1541 "Thimble e-mail address doesn't work"
I have a student who can't login to Thimble due to oath errors, but when she has tried to e-mail Thimble for help, the e-mail address on the webpage doesn't work.

The e-mail address at the bottom of the page is

thimble@mozillafoundation.org

but it just goes to a google group that doesn't allow postings from non-members and is rejected, so no one ever receives it.

[2016-08-21 14:51] my2iu opened #1542 "Thimble login oauth errors"
I have a student who is trying to login to her thimble account, but every time she tries to do so, she is sent to a page that says

401: OAUTH: State required
errorMessage

https://thimble.mozilla.org/en-US/callback?code={removed}&client_id=wm_id_wMvw9BSwq2AITV480dxr&state=664f4e12-5bec-4141-9aac-332e68cfcb29

This error has been persistent over the last month.

[2016-08-21 15:58] gideonthomas commented on #1541
Hi @my2iu thanks for filing this issue! I believe that the email address provided is incorrect (@cadecairos or @hannahkane can you confirm this). We will update it ASAP.

As for the issues regarding login, let's discuss in the other issue you have filed.

[2016-08-21 16:00] gideonthomas commented on #1542
Sorry you are encountering this issue @my2iu, we're going to investigate what's going on.

@cadecairos any idea why the state is invalid?

[2016-08-21 16:27] cadecairos commented on #1542
1. This url should never work more than once. If you're using it as a bookmark, you should not.
2. This URL contains an oauth token specific to the user in question. I'm going to have to remover it form the comment and go into the database to invalidate it. please don't share these codes with other people, they represent access to your account's resources on Thimble.

[2016-08-21 16:28] cadecairos commented on #1542
The code is no longer usable.

@my2iu Can you ask the student to try and login once more, from this URL: https://thimble.mozilla.org

[2016-08-21 16:30] cadecairos commented on #1542
The state is invalid because the string in the URL must match the string in the encrypted session cookie that the browser has been assigned. If you attempt to navigate to thimble using  link provided, thimble attempts to validate the state string in the url with your browser cookie, which results in a 401 response from the server.

[2016-08-21 19:13] my2iu commented on #1542
She wasn't navigating via the link. She was clicking on sign-in, typing in her credentials, and then she ended up on that page (when using Safari. When using Firefox, I think it ended up at some mildly broken WebMaker page with all her previous projects missing, or something--that was last month, and she happened to drop by and complain that she still couldn't get back her missing web pages this m

[2016-08-22 15:43] ldecoursy opened #1543 "Add embed snippet to Thimble publishing dialog"
Can we add a "prefab" embed snippet (like YouTube and others) so when publishing a Thimble remix you can grab an embed code?

[2016-08-22 17:41] hannahkane commented on #1541
cc @KevZawacki to confirm, but I believe thimble@mozillafoundation.org emails are automatically sent to our Desk.com account, where Kevin routes them appropriately.

If this doesn't feel like the right solution, we can change to teachtheweb@mozillafoundation.org, which is a well-watched address.

[2016-08-22 18:04] KevZawacki commented on #1541
@hannahkane Yep, that's correct

[2016-08-22 18:55] gideonthomas commented on #1541
@hannahkane I think I would recommend the teachtheweb email considering the above mentioned issue. What do you think?

[2016-08-23 15:44] liberaliscomputing commented on #1531
There would be several ways to evidence the effectiveness of collaborative live coding as follows:

- Investigate data from the previous version of Thimble (data when TogetherJS was plugged in)
- Conduct field testing in classroom settings
- Examine previous literature

Regarding the third option, I have found two interesting articles. There both comes from a research lab at MIT dedicated to HCI a

[2016-08-23 21:01] hannahkane commented on #1541
WFM because I think issues are likely to get more attention through the teachtheweb@ address, though I'm confused about this issue. The closed listserv address is thimble@mozilla.org, and I'm not sure we advertise that anywhere on the site. If we do, we should clarify its purpose.

[2016-08-24 15:03] gideonthomas commented on #1541
We don't, the link at the bottom is to thimble@mozillafoundation.org

[2016-08-25 00:32] showo opened #1544 "my project can not laoded.Show 'loading project'"
Failed to login the page.Show ‘loading project‘

[2016-08-25 00:51] #1544 closed

[2016-08-25 01:25] gideonthomas commented on #1543
I think this needs design first!

[2016-08-28 17:47] samueller commented on #1515
Curious what the status of this toggle-able remix button is. We are teaching using Thimble now and this is an issue.

[2016-08-28 17:51] samueller commented on #1514
Curious about the status of this issue. It's pretty major IMHO as many students get frustrated by it very early on.

[2016-08-30 02:30] gideonthomas opened #1545 "Recover account for user"
We need to recover an account based on https://twitter.com/logarley/status/769293877115138049

It seems like we won't be able to recover this account via email based on that tweet.

__Note: Please do not paste any email addresses in this thread__

@cadecairos are you able to help out?

[2016-08-30 06:13] liberaliscomputing opened #1546 "Keeping Track of the History of Remixing"
Remixing is a way of capitalizing on other people’s prior knowledge and skills.
Because of the utility and fun in remixing, many projects in Thimble were created that were intended to be remixed.

6 remixing projects on the landing page of Thimble (and Thimble's enabling to remix published projects of users) were intended to facilitate people's better learning. Since we should be able to evaluate

[2016-08-30 06:37] liberaliscomputing opened #1547 "The identification of remixed parts"
I have been working on the extraction of coding patterns in Thimble so that we can build hierarchies of programming abstractions in introductory web development (will be a groundbreaking work in the field of computer science education!).

Since remixing code should not be considered as user driven coding patterns, I have excluded entries in the publishedFiles table,
`if title includes "(remix)" AN

[2016-08-30 13:48] jgmac1106 commented on #1546
I think being able to trace the lineage of a remix would be awesome.

Another interesting element will be the amount of scaffolding of remixing based on tutorial instructions. This might be an easier script to write as well. If a tutorial suggested making basic edits to lines X, Y, Z and more advanced edits to CSS or lines A, B, C. Did the learner only change lines X and Y?

[2016-08-30 16:10] gideonthomas commented on #1514
@samueller I have a patch up for this, we will get it in ASAP

[2016-08-30 17:45] gideonthomas commented on #1515
@samueller unfortunately, it doesn't look like we are able to get to this issue in this iteration. We are however working on figuring out the right UI/UX for this.

For the time-being, might I offer you a temporary quick fix? Try adding this small bit of code to your HTML file(s), and it should work:
[code]

[2016-08-30 20:08] Pomax commented on #1547
/cc @pomax @gideonthomas @cadecairos @humphd @wex

[2016-08-31 19:48] #1514 closed

[2016-09-01 07:37] waseem18 commented on #1215
Hello @humphd ,

I would like to work on this.

Thank You.

[2016-09-01 18:19] flukeout commented on #1215
Hello @waseem18 - that's great, let us know if you want any assistance or guidance.

[2016-09-08 17:04] #1517 closed

[2016-09-09 18:32] #1545 closed

[2016-09-13 21:41] gideonthomas opened #1549 "2017 Research opportunities for Thimble"
http://etherpad.io/thimble-research contains our brainstorming session with @LauraReynal and
@liberaliscomputing. Next steps are to discuss and create a plan for this sometime in the first week of December.

[2016-09-15 19:57] cfmonk opened #1550 "Overwriting of existing JavaScript when creating new file"
Was running a training session in Singapore yesterday and all my attendees had to add a second JS file to their projects. This resulted in about 50% of the group losing their first (default name script-1.js) file which was overwritten with the default content.

Was quite scary but fortunately nobody republished so we could grab the code back from the console.

[2016-09-15 20:04] humphd commented on #1550
That's no good, I'm sorry to hear that.  Can you help us understand what the process looked like?  Did you press the green '+' button and choose `JavaScript`?  Did you already have a file named script-1.js in the project?

[2016-09-15 20:26] cfmonk commented on #1550
That was the process they followed and yes they had been working in
script-1.js and I wanted them to create a script-2.js but it didn't create
a new file and just overwrite the contents of script-1.js.

Repeated the process and it worked perfectly.

 Chris Monk

Head of Region, Asia-Pacific

+61 2 8091 6100 <+61%C2%A028091+6100>   |   +61 437 888 604 <+61437+888+604>
| +44 7921 369 527 <+447921369

[2016-09-15 21:59] humphd commented on #1550
Do you have a link to a project you used as the basis for their work?  I'd like to try and reproduce this locally and debug.

[2016-09-16 02:20] cfmonk commented on #1550
https://thimbleprojects.org/cfmonk/100440/

 Chris Monk

Head of Region, Asia-Pacific

+61 2 8091 6100 <+61%C2%A028091+6100>   |   +61 437 888 604 <+61437+888+604>
| +44 7921 369 527 <+447921369527>

chris@decoded.com   |   @cfmonk <http://twitter.com/cfmonk>

decoded.com <https://www.decoded.com/>   |   @decodedco
<https://www.twitter.com/decodedco>

On 16 September 2016 at 07:59, David Humphrey

[2016-09-18 00:57] rednax825 opened #1551 "Thimble Project Publishes, but the URL leads to "page not available""
I tried to publish with thimble, it gave me a link, but the link leads to a page that says
"Oh no!
The page you're looking for
is not available!"

[2016-09-18 01:00] humphd commented on #1551
One reason users see this is if they publish a project that doesn't have an `index.html` file.  Do you have another `.html` file in your project?  Try adding that to the end of the URL you were given when you published.

[2016-09-18 01:02] rednax825 commented on #1551
Thanks, that was the issue.

[2016-09-18 01:02] #1551 closed

[2016-09-19 02:32] JobLeonard opened #1552 "Cannot recover account NAME"
So I have a bit of a weird problem:  I apparently signed up a long time ago and I forgot my username. So I click "reset password", fill in my email, get a link sent to my email account to reset my password. However, there is no mention of my username, and I cannot log in with my email address either. So I'm stuck.

Please send the account name to the email address, and/or let people log in with th

[2016-09-19 02:36] gideonthomas commented on #1552
cc @cadecairos

[2016-09-19 03:40] cadecairos commented on #1552
A while back, someone decided that logging in via username AND email was "too hard on users" .... and look where that got us. Funny thing is, the API allows for log in via username too, someone just decided to forbid it client-side!

@JobLeonard I'd be glad to help you recover your username in the mean time. Could you send an email to me (you can find my Mozilla Foundation email on my [GitHub Prof

[2016-09-19 12:11] JobLeonard commented on #1552
Well, I agree with that, but that's why most websites have the option to use a username OR email ;). Although I suppose that might be a security risk of sorts, statistically speaking.

Perhaps adding the username as a reminder  in the recovery email would be a nice compromise? You could then just change the link to "forgot username or password"

I will send you an email, thank you for your swift r

[2016-09-19 14:24] cadecairos commented on #1552
Yeah, I think this is the easiest way to ensure we don't need people to remember the username they chose.

[2016-09-19 18:51] enguerran opened #1553 "Could we use esnext syntax like import modules?"
I try two or three things in Mozilla Thilmble.

First adding external script files: work like a charm.

Then using extended JavaScript syntax like arrow function or import/export modules. With or without the JIT babel transpiler. Here is the result:  https://thimbleprojects.org/enguerran/102733 .

Whereas the arrow function works like a charm, the [import/export module](https://babeljs.io/docs/lea

[2016-09-19 20:10] Pomax commented on #1553
None: we let the browser load the files that you wrote, with the caveat that the filesystem is blob based, so XHRs might not work, and I suspect the same will be true for `import` statements.

[2016-09-19 20:19] gideonthomas commented on #1553
We special case xhrs but only those used through `window.XMLHttpRequest`. My suspicion is that if we special-case the import/export statements in JS as well (rewriting them in the blob that is sent to the preview), they would work (although rewriting JS can be quite challenging)

[2016-09-20 08:35] enguerran commented on #1553
Oh I see, thanks for your answers. As we can use Thimble to build projects, it could be very useful to let people create folders and to link files in some way. But I understand it is not a easy feature nor an high-priority-one.

I know understand it is due to the blob based "filesystem", makes a lot of sense.

I guess we can close this issue as there is nothing to add.

[2016-09-20 14:54] cadecairos opened #1554 "Incremental backoff for saving isn't working correctly"
on [line 31](https://github.com/mozilla/thimble.mozilla.org/blob/e6d8ba2162767b0de8aa48e8bad5cacf497bec1c/server/routes/files/delete.js#L31) we reference `status` which is undefined.

This slipped in with #1521

cc/ @gideonthomas

[2016-09-25 17:48] AlexMeier99 commented on #1518
Did you fixed?

[2016-09-28 19:06] rugk opened #1556 "Does not load"
Tested loading https://thimble.mozilla.org/de/anonymous/ba97034e-05f7-4f9b-ad2b-c9e1348290cc in Firefox **in safe mode** (means no add-ons are used) and it failed:
![thimbleloadingerror](https://cloud.githubusercontent.com/assets/11966684/18928176/54d1b22c-85bf-11e6-8ae7-317fef12268f.png)

FF 49.0.1

[2016-09-28 19:09] brob opened #1557 "Sass or SCSS compiling"
Compiling CSS would be amazing to work into a platform like this. I use CodePen regularly for teaching and would LOVE to move to something like this to teach more complex things, but having SCSS is a must

[2016-09-28 19:16] humphd commented on #1557
As an aside, we have limited support for LESS already (it will auto convert `*.less` to `*.css` on save, same for markdown).

[2016-09-28 19:17] brob commented on #1557
Interesting. I suppose one hurdle in this is a "if you give a mouse a cookie" scenario. If you can convert *.less to *.css someone will probably want to convert and concat into one file from many

[2016-09-28 19:26] Pomax commented on #1557
That's more something that a build system does not really something editors do. We only offer you the editor so autoconversion "on save" is something a plugin can achieve, but getting a full LESS compile with minification etc going on is generally reserved for when you have a terminal available.

[2016-09-28 19:27] humphd commented on #1557
Right.  We don't really publicize that this is doable, because doing it completely (with imports of secondary files) gets hard to do without problems (e.g., circular deps).  Without a user-initiated "compile" step of some sort, it's tricky.  Adding one was deemed to be a more advanced thing most of our users aren't doing.  But I get why you want it.

[2016-09-28 21:45] brob commented on #1557
I totally get that all that. Would still love SCSS as an option mirroring the LESS option, as that's my pre-processor of choice.

For the most part, I'll be using this around more basic teaching for the moment.

[2016-09-30 03:58] comoss commented on #1001
Is anyone working on this? I'd be willing to take a stab at it.

[2016-10-03 19:05] mrcallaghan commented on #1471
I have a class of 20 Web Design students and we had a similar issue happen to about 5 students today.  They worked on a project over the weekend only to find their project reverted back to an earlier state today.  All of their work from the weekend is seemingly gone.  Has there been an update or fix to this issue.  We will have to abandon Thimble if a fix is not available.

[2016-10-03 22:43] cristinejohnson commented on #1550
I want to report that the same problem occurred with a student at my center, but when creating a new HTML file. The student had been working on an HTML web page for several weeks and when he clicked the plus symbol and created a new HTML file, the old one completely disappeared. He was devastated. I hope the problem can be fixed.

[2016-10-03 23:19] cfmonk commented on #1550
@cristinejohnson If the student has not yet republished then you can copy
the source code from the published version. Hope that might help!

 Chris Monk

Head of Region, Asia-Pacific

+61 2 8091 6100 <+61%C2%A028091+6100>   |   +61 437 888 604 <+61437+888+604>
| +44 7921 369 527 <+447921369527>

chris@decoded.com   |   @cfmonk <http://twitter.com/cfmonk>

decoded.com <https://www.decoded.com/>   |

[2016-10-04 13:56] gideonthomas commented on #1556
Hi @rugk, might I ask what operating system you're running this on?

[2016-10-04 15:00] gideonthomas commented on #1471
@mrcallaghan sorry to hear about the data loss. We will be investigating what might be causing the problem but any information that you can provide about your scenario will be helpful; for e.g. were the students logged into their account before and after the data loss, were the projects published, how much data was lost (one file, multiple files), any other information that you think might be usef

[2016-10-04 15:01] gideonthomas commented on #1550
data loss seems to be a common theme here, I am going to spend some time this cycle trying to figure out what's going on

[2016-10-04 15:52] rugk commented on #1556
Firefox 39
Linux x64 (Debian)

[2016-10-04 16:23] gideonthomas commented on #1556
@rugk, just to confirm, you are not opening this in Private Browsing mode, correct?

@humphd any insights on this (maybe @modeswitch might also have some thoughts)? @ScottDowne also seems to have the same issue and he's running Fedora Firefox (not sure about the version but I think it was around the 39-49 range).

[2016-10-04 18:09] rugk commented on #1556
Yes, *but*
* I disabled third-party cookies
* and I use [the tracking protection](https://testpilot.firefox.com/experiments/tracking-protection) of Firefox, but as you can see on the screenshot it does not block anything in this case

[2016-10-04 18:25] humphd commented on #1556
It looks like it can't get at `indexeddb` for some reason.  It could be permissions, or it could be a corrupt DB, which is #1136.  Maybe try with a different profile (i.e., a clean db)?

[2016-10-04 18:29] rugk commented on #1556
Would checking the databases with `about:support` work too or is this a different database?

[2016-10-04 18:46] ScottDowne commented on #1556
When I had this issues, the data was completely corrupted, and getting rid of it fixed the issue. I could not even inspect it.

I was asking how it got corrupted, but I never could reproduce it. I wondered if it somehow got corrupted from saving during an older build of thimble.

[2016-10-04 18:50] mrcallaghan commented on #1471
@gideonthomas The students noticed the data loss when they lagged into Thimble at school.  They were logged in at home working on their projects and all appeared OK to them.  None of them had published that I'm aware of.  Here are some details I was able to gather today:

user rsfang lost work on both html and css files from the weekend, but the images he uploaded at home work fine.

user rhea-sin

[2016-10-04 18:55] mrcallaghan commented on #1530
@gideonthomas  I have a student with a similar issue.  Watched him publish the project in class, but published link is not working.  Here's the link:  https://thimbleprojects.org/mlweese/111296

[2016-10-04 19:08] cadecairos commented on #1471
We should try reproducing this using the same account on *different* machines

[2016-10-04 19:08] humphd commented on #1530
Question: do either of these projects *not* have an `index.html` page (i.e., did you rename it)?

[2016-10-04 19:10] humphd commented on #1471
I wonder if we have a sync-race issue, where the project is 1) open at home; 2) open at school; 3) updated at school; 4) overwritten by what's at home.

[2016-10-04 20:17] gideonthomas commented on #1530
@mrcallaghan looks like that project's index.html file was renamed to index-1.html and that's why you aren't able to see anything at the link above. You will be able to see the contents if you hit up the link: https://thimbleprojects.org/mlweese/111296/index-1.html. (we're working on a good way to remind users through the interface of the need to have an index.html file).

@MsZabel I don't see a p

[2016-10-05 00:15] rugk commented on #1556
So I now deleted all data from `thimble.mozilla.org` by just using Firefox history and right-clicking on `thimble.mozilla.org` -> "Forget this website".

By doing so I could indeed get a different result (at least this is what I think) as the phage just loads indefinitely.

BTW: Already when loading the main page I get an error from the embedded YouTube video:
![thimbleyterror](https://cloud.githu

[2016-10-05 01:19] modeswitch commented on #1556
Is this using Filer?

[2016-10-05 13:39] rugk commented on #1556
What??

[2016-10-05 14:10] humphd commented on #1556
@rugk sorry, he was asking me.  @modeswitch, yes, it's Filer.  I think it's the Firefox/idb bugs we already know about tbh.

[2016-10-05 15:18] gideonthomas commented on #1556
@humphd but if I remember correctly, in those cases IndexedDB never threw errors? Didn't it silently crash and return a null instance (I might be remembering incorrectly)? In this case IndexedDB is actually throwing an error which now that I notice, we don't log.

I don't remember why we didn't do this before but can we log `event.target.errorCode` [here](https://github.com/filerjs/filer/blob/deve

[2016-10-05 16:05] Pomax opened #1560 "make projects without an index.html save an index.html that is more helpful than "oh no" with a "virtual file" flag in the project metadata"
slightly long title, but it would be very helpful for users if Thimble saved projects that do not have an `index.html` with an auto-generated index.html that gives users a hint on which URL they might want instead, such as a simple hyperlink list of `.html` files that do exist in the project (given that Thimble projects are remixable, exposing this information is in line with the fully open, remix

[2016-10-05 16:10] Pomax commented on #1556
as far as I'm aware, disabling cookies also disables indexdb and localstorage, as these are considered the same kind of "site-specific transient data storage", so I would not expect Thimble to work at all under these conditions.

It might be worth try/catching indexdb and localstorage access to determine whether Thimble will be able to successfully load as part of bootstrapping.

[2016-10-05 16:22] gideonthomas commented on #1556
But the user only disabled third party cookies so same origin indexeddb access should be permitted.

From what I understand from the API, those errors are passed to the callback when you request an instance of indexeddb. But in Filer, we don't actually log those errors anywhere and instead pass back a custom filer error.

[2016-10-05 16:31] rugk commented on #1556
Yes, but I also use [this cookie addon](https://addons.mozilla.org/de/firefox/addon/self-destructing-cookies/), but it only removes cookies after the tab has been closed.

[2016-10-05 16:34] humphd commented on #1560
This is what I've always wanted, too.  I wrote it once upon a time (this is what my `nohost` dir listing does).  I think the issue we got stuck on was that this needed to happen on publish vs. thimble or in the browser--I can't remember why, and maybe we can get around it.  If we could, it would be fairly trivial to fix this.

[2016-10-06 15:10] Pomax commented on #1560
Agreed - it would make a lot of sense to implement this as functionality in the publish.webmaker.org codebase, invoked at the time of publication, rather than something that thimble itself does.

[2016-10-06 15:15] Pomax commented on #1560
Filed on publish.wmo as https://github.com/mozilla/publish.webmaker.org/issues/236

[2016-10-06 17:46] FERMAT1991 opened #1561 "ADD folder not a fille"
a can't add a folder that has all my image and my css style

[2016-10-06 18:05] humphd commented on #1561
Browsers won't allow you to drag an entire folder from the file system into a page for security reasons--only files are allowed.  To get around this, we support importing a `.zip` file, which might contain files *or* folders:

https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble#upload-archives

This is a valid request, but since we can't get around the security restriction, I'm going

[2016-10-06 18:05] #1561 closed

[2016-10-06 18:55] ScottDowne opened #1562 "Some weirdness/unexpectedness in remix, not logged in, and cached changes"
@gideonthomas

Not sure yet what's happening, but I have clear STRs.
1. be not logged in.
2. got to a thimble project, I was initially doing it here: https://thimbleprojects.org/chadsansing/112205/
3. hit remix.
4. maker some changes.
5. go back to https://thimbleprojects.org/chadsansing/112205/
6. hit remix again

Expected: my changes should be gone.
Actual: my changes are there. Cached? Stored?

[2016-10-06 19:07] ScottDowne commented on #1562
New info, the click and right click + open in new tab always give the same project, and the copy target + paste and go in new tab always gives me the same project, but different than the first. So essentially I have two project remixes.

[2016-10-11 08:05] khanh2003 commented on #1505
Anyone listening?!
-

[2016-10-11 14:10] ryanwarsaw commented on #1505
Hi there @khanh2003. Sometimes these things can take quite a while, while I'm not on the Thimble team and can't provide insight on the status of this (perhaps @gideonthomas could speak to this?)  I would encourage you to continue to share your feedback and ideas! They are valued much and rest assured that they are all read and considered!

[2016-10-11 14:40] jgmac1106 commented on #1505
You mean instead of a list display having a thumbnail image of the project
appear?

A few questions
- @khan2003 My guess is there will be a lot of brainstorming around Thimble
and Thimble classroom at Mozfest. I also believe much of the design team is
knee deep in getting ready for one of MoFo's biggest events of the year.
- In your suggested idea Would a user have to select the thumbnail image
(t

[2016-10-11 14:49] gideonthomas commented on #1505
Hi @khanh2003 I apologize for the inactivity on this thread. At present, we aren't actively working on new features for Thimble based on https://github.com/mozilla/thimble.mozilla.org/wiki/Roadmap#the-thimble-development-roadmap-is-currently-paused.

I think it is important to mention though that feedback (such as yours) is still very much appreciated and encouraged so that we can refer back to it

[2016-10-11 21:23] gideonthomas commented on #1550
@cfmonk or @cristinejohnson i'm trying to gather some more info about how this happens. By any chance do you know if there were any file/folder deletions or renames that happened before the new file was added (and before the content disappeared)?

[2016-10-13 04:23] cfmonk commented on #1550
Struggling to remember...  Might have renamed some stuff.

On 12 Oct 2016 5:23 am, "Gideon Thomas" <notifications@github.com> wrote:

[2016-10-13 06:09] hurryupmode opened #1563 "Changing the filename of index.html results in an error page"
I was having some trouble with a class assignment.
Once of the requirements was that the filename be changed to cis89basic1.html.
After publishing, I'd get an error page that said "Oh no! The page you're looking for is not available!"

The remix project I worked on last week didn't present any issues.
I unpublished and published a few times in multiple browsers, but still got the same issue with t

[2016-10-13 14:48] humphd commented on #1563
What happens if you change it to `cis89basic1.html` and then navigate to that URL vs. just the `/` (i.e., add your filename to the end of the slash so it points to your file vs. the implied `index.html` which won't exist)?

[2016-10-13 18:44] humphd commented on #1560
Related: #1261

[2016-10-13 19:07] humphd commented on #1550
I can reproduce this, we'll debug and fix.

[2016-10-13 19:09] Pomax commented on #1550
STR:
- new project
- create a file called script-1.js manually
- publish the project
- visit published project, click remix
- create a new script file through the `[+]` button and picking "javascript".

this overwrites `script-1.js` with a new file. This looks like a sequence problem, where we assume sequence number `1` as start regardless of whether that file's already taken. A possible solution

[2016-10-13 19:55] gideonthomas opened #1564 "Investigate and fix files reverting back to older versions"
We're going to begin this by debugging this issue as a group (meeting scheduled for Wed, Oct 19). We have a lead into what is going wrong (most likely related to the way we generate the names for new files).
The project where we are able to reproduce this issue is: https://thimbleprojects.org/cfmonk/100440/ and the steps to reproduce can be found [here](https://github.com/mozilla/thimble.mozilla.o

[2016-10-13 19:56] gideonthomas commented on #1550
Migrating this issue to https://github.com/mozilla/thimble.mozilla.org/issues/1564

[2016-10-13 19:56] #1550 closed

[2016-10-13 19:57] gideonthomas commented on #1471
Migrating to https://github.com/mozilla/thimble.mozilla.org/issues/1564

[2016-10-13 19:57] #1471 closed

[2016-10-13 20:04] gideonthomas opened #1565 "Make current status of Thimble more obvious to contributors"
TODO:
- Make an issue template indicating what users can file and how fast we'll get to them
- Add copy to the readme indicating how we accept contributions in terms of feature requests and code and what we plan to do by EOY

We need to make it more obvious that our roadmap till EOY mainly includes maintenance and security fixes and that we are accepting any code contributions as well as feature r

[2016-10-16 09:50] damiennegri opened #1566 "Bug de publication"
bonjour j'aimerai partagé mon projet mais à chaque fois le lien n'est pas valide :(
Pourriez-vous m'aider?

[2016-10-16 15:26] humphd commented on #1566
Que signifie exactement invalide? Avez-vous renommez votre page index.html à autre chose? (J'ai utilisé Google traduction, donc pardonner les pauvres français.)

[2016-10-16 15:53] damiennegri commented on #1566
Oui, j'ai renommé ma page index.html, je l'ai renommé "A-index.html". Le
lien de partage me redirige à une page thimble:"oh non the page you're
looking for is not available".

Le 16 oct. 2016 5:26 PM, "David Humphrey" <notifications@github.com> a
écrit :

[2016-10-16 15:55] damiennegri commented on #1566
Salut! Ça remarche j'ai renommé mon index.html et ça marche, merci!

Le 16 oct. 2016 5:26 PM, "David Humphrey" <notifications@github.com> a
écrit :

[2016-10-16 17:14] humphd commented on #1560
#1563, #1566

[2016-10-16 17:16] humphd commented on #1566
Si vous utilisez /A-index.html au lieu de juste un / il travaillera avec le fichier renommé. Glad cela a fonctionné!

[2016-10-16 17:16] #1566 closed

[2016-10-17 07:25] angielopez commented on #1475
I am having the same problem, except I have an existing "index.html" file already.

[2016-10-17 07:45] angielopez commented on #1261
I am having an issue with publishing, although I already have an existing "index.html" page... HELP!?!?

[2016-10-17 13:50] humphd commented on #1261
@angielopez can you tell us about your issue?  What's happening, or not happening?

[2016-10-17 13:51] humphd commented on #1475
@angielopez what is the link to your published project?

[2016-10-18 13:14] khanh2003 commented on #1505
@jgmac1106
1/ no. i really hate that. but i would like a quick search bar every time i visit my projects
2/ an iframe displaying that project (using sandbox attribute you can mute, disable annoying modals) or if you like, you can take the picture of project server-side. a user have to select the thumbnail image>no, they won't. and it'll make the project gallery ugly
I mean a project gallery for al

[2016-10-18 14:16] jgmac1106 commented on #1532
What about hypothes.is integration> I just stuck in their javascript on this project: https://thimbleprojects.org/jgmac1106/116883/ and it works fine. @khanh2003 if you need a temporary but really good way to add a comment stream you can do the same:

Just add this to any project template your learners are remixing: <script async defer src="https://hypothes.is/embed.js"></script>

[2016-10-18 17:02] Pomax commented on #1505
@khanh2003 hosting a static site that is used by thousands of people a day and has to transfer terabytes of data each month most certainly costs a fair bit of money ;)

That said, we revisit the roadmap every six months, with the next revisit at the start of December. We all love Thimble, and we all want to work on it, but there are many projects we have to work on, and so with Thimble mostly at a

[2016-10-19 04:11] angielopez commented on #1261
I figured out the solution to my problem. I had previously named my "index.html" with another name when I published it, so when I renamed it back to index, it wasn't working. I had to unpublish and then republish in order for it to work again.
Thank you!

[2016-10-19 13:24] khanh2003 commented on #1505
If you are busy, I can help. But I need some docs to start working :D #1324
At least I don't have to worry that you don't have enough money to run this project and the message is `stage 1 out of 3` of this project's death. Can you call all the old contributors to work on the docs?
I don't know node.js but I'll learn when contributing to this project. I am good at frontend.

[2016-10-19 16:03] humphd commented on #1564
The bug is most likely in here, or in what this calls: https://github.com/mozilla/brackets/blob/master/src/document/DocumentCommandHandlers.js#L680-L725

[2016-10-19 16:56] Pomax commented on #1505
The problem with hand-picking is that someone needs to do the hand picking, and with events that yield literally hundreds of thimble makes a day, that takes a lot of time. I'm not talking about likes on facebook, which are only seen by a handful of people and don't yield a meaningful "summary" main page, but more upvotes on reddit.com or imgur.com, where the community gets to upvote content they t

[2016-10-31 15:39] gideonthomas commented on #1261
@angielopez, when you renamed it back to `index.html` and clicked on the "Publish" button in the top-right corner, did it show you something like "Update Published Version" or did it just show you the link with the "Unpublish" button?

[2016-10-31 15:47] #1335 closed

[2016-10-31 16:15] gideonthomas opened #1568 "Firefox IndexedDB Failures"
TODO:
- Figure out the right copy for the black screen we see when Thimble is unable to load and show it for the case when IndexedDB is inaccessible.
- Catch the error in Filer [here](https://github.com/filerjs/filer/blob/develop/src/providers/indexeddb.js#L135), return it in the callback, catch it in Thimble, log it to the console and get it on the server (to us) so that we can document it in the

[2016-10-31 16:16] gideonthomas commented on #1556
We have come up with a UX solution here: https://github.com/mozilla/thimble.mozilla.org/issues/1568, will be tracking the conversation there as well.

[2016-10-31 16:16] #1556 closed

[2016-10-31 16:16] gideonthomas commented on #1319
We have come up with a UX solution here: #1568, will be tracking the conversation there as well.

[2016-10-31 16:16] #1319 closed

[2016-10-31 17:25] Pomax commented on #1568
additionally, we should not just figure out *one* text for the black screen: if there are multiple fail states possible, we should have an appropriate text for each state. Not just for the user's benefit, but also for our own, as this will let us focus on specific problems when people report getting a black screen.

[2016-10-31 17:38] gideonthomas commented on #1568
For IndexedDB specific errors, I don't think we should show the difference in states in the black screen since it will probably be immaterial to the user. For our benefit, we will be getting the specific error back via the server so that we can investigate. Since it will be tied to a project ID (unless it is an anonymous user for which we can probably map the uuid as well), we can also tie a speci

[2016-10-31 17:50] #1136 closed

[2016-10-31 17:52] gideonthomas opened #1569 "Page Not Found after publishing"
Most of the bugs filed related to this are because of a missing `index.html` file in their projects.

The solution that we have come up with is to explain why an `index.html` is needed probably as a dialog box or something when a user renames the index file, deletes it or publishes without one. The reason we also show the dialog during publishing is to account for the case when a user remixes a pr

[2016-10-31 17:52] gideonthomas commented on #1563
We have come up with a UX solution here: #1569, will be tracking the conversation there as well.

[2016-10-31 17:52] #1563 closed

[2016-10-31 17:52] gideonthomas commented on #1560
We have come up with a UX solution here: #1569, will be tracking the conversation there as well.

[2016-10-31 17:52] #1560 closed

[2016-10-31 17:53] gideonthomas commented on #1530
We have come up with a UX solution here: #1569, will be tracking the conversation there as well.

[2016-10-31 17:53] #1530 closed

[2016-10-31 17:53] gideonthomas commented on #1261
We have come up with a UX solution here: #1569, will be tracking the conversation there as well.

[2016-10-31 17:53] #1261 closed

[2016-10-31 17:53] gideonthomas commented on #1260
We have come up with a UX solution here: #1569, will be tracking the conversation there as well.

[2016-10-31 17:53] #1260 closed

[2016-10-31 18:02] gideonthomas opened #1570 "Cmd+K not working anymore"
The shortcut to open inline docs does not work anymore.

[2016-10-31 18:20] gideonthomas commented on #1570
Nevermind, looks like the docs are incorrect, it's ⌥+K not Cmd+K, will update

[2016-10-31 18:20] #1570 closed

[2016-10-31 18:36] gideonthomas commented on #693
Closing this issue since we have not had any negative feedback from users concerning what the url looks like indicating that our current system works fine and it seems like most of the time they simply copy/paste the urls to share.

[2016-10-31 18:36] #693 closed

[2016-10-31 18:38] gideonthomas commented on #785
Closing this as we see no perf consequences of doing this

[2016-10-31 18:38] #785 closed

[2016-10-31 18:42] #1049 closed

[2016-10-31 18:44] gideonthomas commented on #1069
Closing this until we figure out what our org strategy for auth is

[2016-10-31 18:44] #1069 closed

[2016-10-31 18:54] gideonthomas commented on #1149
We did some brainstorming here: https://docs.google.com/document/d/14KRnhDUmfVl9SmoYJKJ0GIsB0_thx30FKbIs60fKMeg/edit

[2016-11-01 04:05] FERMAT1991 opened #1571 "quick add of bootstrap"
It will be nice if I can add bootstrap quickly
great work so far keep up the good work .
thank you

[2016-11-01 06:55] Dhanesh95 commented on #1311
Facing this issue since yesterday. I've been trying to design a simple website and every time I upload an image which is my header image, the projects fails to save. It also happens when an image is uploaded and it is renamed.

[2016-11-01 13:49] gideonthomas commented on #1311
@Dhanesh95 what was the size of the image you were trying to upload? Would you also be able to provide the project id you were working with (it's the last bit in the url - `thimble.mozilla.org/user/myusername/<project id>`)?
We were experiencing some memory issues yesterday so maybe it was during that time you weren't able to upload the image.

[2016-11-01 13:54] #1553 closed

[2016-11-01 14:03] #1535 closed

[2016-11-01 14:11] #1509 closed

[2016-11-01 14:59] Dhanesh95 commented on #1311
@gideonthomas The size of the image I'm trying to upload is 2.0MB (.png image). The project is here: https://thimbleprojects.org/zealfirefoxclub/124763/

[2016-11-01 15:30] gideonthomas commented on #1311
@Dhanesh95 is that the ID you see when you go to the published project link? i.e. `thimbleprojects.org/<username>/124763` or is it what you see with the editor page i.e. `thimble.mozilla.org/user/<username>/124763`?

[2016-11-01 16:03] gideonthomas commented on #1505
Hi @khanh2003, I'm not sure if one of us has gotten back to you with this information or not but you can find the setup docs [here](https://github.com/mozilla/thimble.mozilla.org#setup). I would advise that you begin there since the setup is a bit involved and you might run into some issues there and if you encounter problems, feel free to ping me here or on Mattermost (gthomas).

If you have alre

[2016-11-01 16:54] gideonthomas commented on #1283
Discussion should probably continue here instead: https://github.com/mozilla/thimble.mozilla.org/issues/1459

[2016-11-01 16:54] #1283 closed

[2016-11-01 17:03] gideonthomas commented on #1503
Going to define the scope of this issue to be specific to @Pomax's comment which suggests we need to make our injection code smarter and figure out cases when it might not be injected.

[2016-11-01 17:10] gideonthomas commented on #1399
We're going to track this work in the https://github.com/mozilla/learning.mozilla.org repo.

[2016-11-01 17:10] #1399 closed

[2016-11-01 17:12] gideonthomas commented on #1364
Doesn't look like we're going to do this anytime soon. Closing until we formulate a plan for whether this is required and how we're going to approach this.

[2016-11-01 17:12] #1364 closed

[2016-11-01 18:03] gideonthomas opened #1572 "Cmd on Mac triggers an unindent"
Whenever I press the Cmd key on a tag, it unindents the line. Don't know if anyone else is having this issue.

[2016-11-02 04:30] Joe-Para commented on #1480
Just noticed that the space between text and icon is only missing when anonymous(which i fixed in above commit), but when logged in the space exists but because of some spaces in the text. (see: http://puu.sh/s3F20/01b88f2b81.png)

Its not in localization .properties files...

[2016-11-02 05:37] Dhanesh95 commented on #1311
@gideonthomas That is the ID I see on the published project link.

Sorry for providing the incorrect ID. The ID you are looking for is: **575670**

The name of my project is: **Mozilla Club Zeal website**.

[2016-11-02 16:36] gideonthomas commented on #1311
@Dhanesh95 np! I'm not entirely sure what happened when you tried to upload that image since I don't see any red flags in the database nor in our server logs. I suspect that something might have gone wrong with the state of the project on the client side. What would be helpful is if it is still happening, would you be able to copy/paste what you see in the developer console of your browser? Here's

[2016-11-02 18:17] jgmac1106 opened #1574 "getting 500 error remix and my projects unavailable message"
I and my students are getting a 500 error when trying to remix projects or open "my projects"

I have tried Firefox and Chrome on our University network and got same result.

I was able to load "my projects" on Firefox for mobile (not on network) and get my projects to load. I

If this is a local netowrk issue let me know and I can close the issue.

[2016-11-02 18:23] jgmac1106 commented on #1574
Seems to be back to normal(ish). A little slow but functioning fine

[2016-11-02 19:05] jgmac1106 commented on #1574
@gideonthomas reported disk space was full.

[2016-11-03 03:30] cfmonk commented on #1574
We're in Sydney and having a nightmare with this today! Lots of projects being lost, 500 Errors, unable to load project, failing to publish etc....

[2016-11-03 04:03] Dhanesh95 commented on #1311
@gideonthomas So I reluctantly tested this on Chrome and turns out it works on Chrome. No issues faced. It is still happening in Firefox though and I think we can safely say that this is a Firefox issue. :(

I've copied the log and you can find it [here](http://pastebin.com/HCUGNEK6).

[2016-11-03 07:56] cfmonk commented on #1574
This one was particularly bad today:
https://thimbleprojects.org/mollusc6/125803/

[2016-11-03 13:33] humphd commented on #1574
@cfmonk brutal, sorry to hear this. @cadecairos, @gideonthomas can you check on what's happening server side?

[2016-11-03 14:01] cadecairos commented on #1574
I'm digging through all of our log data to see what happened. Good news, though, things seemt to recover at around 3AM Eastern time and have looked ok ever since.

[2016-11-03 14:07] cadecairos commented on #1574
I think what happened is that after we expanded the storage capacity of the projects database, the publish servers needed to be restarted to get new connections to the database. This never happened, so errors continued until the daily restart kicked in (which was actually around 12AM Eastern). Once that happened, everything went back to normal, and it continues to look that way.