[2017-05-24 18:43] cadecairos commented on #2069
I'm seeing only minor or negligible impacts to traffic based on the last seven days. I'll lower the minimums to two dynos and leave room for plenty of scaling still.

wmlogin-production:
![image](https://cloud.githubusercontent.com/assets/438003/26419502/f4d50bc8-408d-11e7-8c8d-279c1af37621.png)

bramble-production:
![image](https://cloud.githubusercontent.com/assets/438003/26419600/3aba8b86-408e-

[2017-05-24 18:56] cadecairos commented on #2069
autoscaling settings are now set back to normal values.

[2017-05-24 18:56] #2069 closed

[2017-05-24 19:46] flukeout opened #2202 "Update styling of native brackets modals."
Currently we're showing these...

![image](https://cloud.githubusercontent.com/assets/25212/26422450/c3b7e902-407e-11e7-971c-02e54d982973.png)

Which don't really align with the rest of our styles. Let's convert these to something that is more in line with the rest of our UI. In addition, I think we should consider wether we should bother styling them differently depending on the theme.

Since the

[2017-05-24 20:02] flukeout opened #2203 "Hover tooltip string missing from "Add a Tutorial" item in the file menu"
<img width="250" src="https://cloud.githubusercontent.com/assets/25212/26423158/57fe7778-4081-11e7-8015-bb23e2e8478d.png">

When I hover over this, I see ``navTutorial`` in the tooltip. Seems like there's gotta be a missing string. Let's add it and make it say ``Add a Tutorial``.

[2017-05-24 22:07] flukeout opened #2205 "Deleting an image from a project and adding it causes it to not work."
I've got a project with some ``.svg`` files that are being used as background images. When I delete one of those files, and upload the same file again to the project, the background image no longer works.

I'm pretty sure we have this, or something equivalent to it, filed already but I wanted to get it down again while it was happening. Reloading the editor solves this, as I guess the "blob" refer

[2017-05-24 22:21] flukeout opened #2206 "Adding new lines via Enter to HTML page causes preview to jump back and forth."
I can't work like this! Watch...

![_jank_enter](https://cloud.githubusercontent.com/assets/25212/26428076/96d28f44-4094-11e7-9f3a-15d7d9d9d9b4.gif)

[2017-05-24 22:24] flukeout commented on #2206
Must be some weird timing thing where we probably try to scroll it before the content has fully loaded in.

[2017-05-25 00:31] flukeout opened #2207 "404 Page Styling Busted on thimbleprojects.org"
Gah...

![image](https://cloud.githubusercontent.com/assets/25212/26431057/c80f4748-40a6-11e7-9b65-675a7bff3a33.png)

[2017-05-25 04:51] gideonthomas commented on #2207
I don't see anything 404'ing. Do you know if a stylesheet is missing?

[2017-05-25 13:54] #2189 closed

[2017-05-25 13:55] humphd commented on #2189
We'll need to update Brackets on prod soon to get this, and some other fixes, landed.

[2017-05-25 13:59] #2072 closed

[2017-05-25 13:59] humphd commented on #2072
We need to prod push both Brackets (first) and Thimble (second) to get this feature shipped.

[2017-05-25 17:22] #2040 closed

[2017-05-25 17:40] flukeout opened #2208 "Fix up styling on Homework Excuse Generator lesson plan."
Via email, user pointed out that the text that is circled below is hard to read.

![image](https://cloud.githubusercontent.com/assets/25212/26462690/9d6cdf56-4136-11e7-8cae-99a84727e6c9.png)

[2017-05-25 18:12] flukeout commented on #2207
What do you mean by that @gideonthomas - this is the 404 page on the thimbleprojects.org domain...

* https://thimbleprojects.org/blam

It has instructions about adding an ``index.html`` page as that's a common source of the errors.

[2017-05-25 19:04] humphd commented on #2117
This seems to be an SVG spec issue, and is something that only Firefox does this way.  Caman.js is trying to `drawImage` to the canvas using the `width` and `height` of the image.  However, in Firefox, these values are `0`:

![screen shot 2017-05-25 at 2 58 53 pm](https://cloud.githubusercontent.com/assets/427398/26465893/d2ebfde6-415a-11e7-82d0-43d65f29f86a.png)

The SVG image is actually being l

[2017-05-25 19:09] Pomax commented on #2117
there are no width/height values, but we can tap into `svg.viewBox.baseVal.width` and `svg.viewBox.baseVal.height` maybe?

[2017-05-25 19:40] gideonthomas commented on #2146
This should be done...closing

[2017-05-25 19:41] humphd commented on #2117
https://bugzilla.mozilla.org/show_bug.cgi?id=614649#c44 and https://stackoverflow.com/questions/9847684/get-the-real-size-of-a-svg-g-element?answertab=votes#tab-top are further data points.  This must be a solved problem, but I'm not sure the right move.  Maybe we need to set an explicit width/height on the containing element for this image?

[2017-05-25 19:49] humphd commented on #2146
mozillathimblepreview.net is still serving 1.1, according to Firefox and Chrome.

[2017-05-25 20:00] humphd commented on #2117
https://css-tricks.com/scale-svg/ also has lots to say.  I'm still not sure the right answer here.

[2017-05-25 20:15] Pomax commented on #2123
This is caused by a `<base target="_blank">` in the head, coming from https://github.com/mozilla/thimble.mozilla.org/blob/aa63cc848be71a4f442f3d74324ce7a7e128760f/views/editor/layout.html#L13

[2017-05-25 20:40] gideonthomas opened #2210 "[Collaboration] Prototype 0 - Editor syncing for one file"
## Deliverable(s):

### Prototype 0
A simple editor that syncs between two codemirror instances for a single file
  - It will not run on Thimble, everything happens within the Brackets repo
  - No sync of mouse pointer
  - Bramble with a single index.html file (e.g., default HTML file), 2 people can work on it with syncing in editor
  - The startup state of the editor will always be the same, i.e.

[2017-05-25 21:13] cadecairos commented on #2146
And so it was! I think I must've enabled it on the staging domain -.-

It's definitely enabled for the mozillathimblelivepreview.net domain now.

[2017-05-25 23:11] flukeout opened #2212 "Project Loading Slowly GA event fires even though a project loaded quickly."
Oh boy. I was reviewing @humphd's analytics PR and logging all the GA calls and lo and behold I saw this thing pop up in the console even though my project loaded just fine (in less than 5 seconds).

![image](https://cloud.githubusercontent.com/assets/25212/26474230/b5aca730-4164-11e7-834c-dc02818b2a75.png)

Tested this in Chrome and FF. Happens on both signed out and signed in projects.

[2017-05-25 23:15] raygervais opened #2213 "Updating JavaScript Console"
The console has the following functions implemented:
`.log`
`.error`
`.time`
`.timeEnd`
`.info`
`.warn`

However, it still requires `.count` and `.trace`, along with bug fixes to Issues such as [dev tools console logging gets suppressed by thimble's console #2186 ](https://github.com/mozilla/thimble.mozilla.org/issues/2186), and any items which may be brought up by @humphd @flukeout @gideonthomas

[2017-05-25 23:19] humphd commented on #2146
[code]

I still see 1.1.

[2017-05-25 23:20] humphd commented on #2212
I bet we need to `clearTimeout` that 15s timeout when we successfully load.  It's just finishing, showing the warning (but the div is already hidden).  So glad you found this!

[2017-05-25 23:21] flukeout commented on #2212
Yeah we're def not clearing it haha.

[2017-05-25 23:31] cadecairos commented on #2146
does curl support http2?

[2017-05-25 23:37] cadecairos commented on #2146
this tool reports that the domain supports http2: https://tools.keycdn.com/http2-test

[2017-05-25 23:42] flukeout commented on #2205
@humphd This would be a good one to tackle - it makes Thimble seem broken without giving any indication to the user that something could be wrong.

Seems related to @gideonthomas' issue here https://github.com/mozilla/brackets/issues/751

[2017-05-26 00:59] morrme commented on #2203
I think it is just a mistake in a label. I'd like to try to fix this.

[2017-05-26 01:29] flukeout commented on #2203
Go for it, @morrme - awesome.

[2017-05-26 01:50] morrme commented on #2203
@flukeout I've submitted a PR, #2214

[2017-05-26 02:17] flukeout commented on #2192
Published a basic version to the Thimble homepage gallery: https://thimbleprojects.org/mozillalearning/279519/

This version is just about placing and positioning different colored blocks. I think I'll make two more versions...

* One that showcases some CSS some animations
* One that adds a click handler with some basic functionality
  * Maybe swapping brick colors?
  * Maybe changing the text wi

[2017-05-26 14:19] lkisac commented on #1804
The files I am working on for this bug are [HTMLParser.js](https://github.com/mozilla/slowparse/blob/8a5f9e1045714c216acfe65f73ac5862648ed962/src/HTMLParser.js) and [ParseErrorBuilders.js](https://github.com/mozilla/slowparse/blob/8a5f9e1045714c216acfe65f73ac5862648ed962/src/ParseErrorBuilders.js).  When loading Brackets from localhost:8000, the `src/thirdparty/slowparse` folder does not appear to

[2017-05-26 15:35] humphd commented on #1804
There are a few ways to go here

Brackets has a DOM

* We could use the browser's built-in HTML parser via [`DOMParser`](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser).  The advantages of this are that it's fast, and that it's the most complete and accurate parser you can get.  The downside is that it isn't designed to produce good error messages that are actionable by a beginner.  We

[2017-05-26 15:38] humphd commented on #2146
OK, thanks for confirming.  It's odd that it won't uses HTTP2 in browsers, but I guess if it's enabled on the server side, we're good.

[2017-05-26 16:23] flukeout opened #2216 "Update social image for Thimble."
When sharing thimble on social networks, the image below comes up. We need to update it to have the new branding...

![image](https://cloud.githubusercontent.com/assets/25212/26503296/f985fc50-41f4-11e7-8c16-57337e57a482.png)

[2017-05-26 16:24] flukeout commented on #2216
Also it looks like it's got ``&amp`` in there. I'll figure out if that's a mattermost thing (where this image capture is from) or if it happens no matter where it is shared.

[2017-05-26 18:18] #2163 closed

[2017-05-26 20:04] humphd commented on #2205
I put a fix up for that CSS refresh issue here https://github.com/mozilla/brackets/pull/771.  Let's test with that fix in, and see if this is related/fixed by it.

[2017-05-28 08:13] auracle commented on #2196
Can I have this one?

[2017-05-28 16:19] auracle commented on #2185
@Pomax May I tackle this one? What do you think about a console styled like this? Also, this is technically a brackets issue right? So I should do a pull request there and then reference this issue right?
![light ui](https://cloud.githubusercontent.com/assets/2942347/26530249/50e0bcd2-4386-11e7-8559-cd6ffcc63aee.png)

[2017-05-29 03:43] gideonthomas opened #2218 "Add multi-process support to the publish server"
This is meant as a quick temporary fix for the load we're getting on publish at the moment (the long-term fix being https://github.com/mozilla/thimble.mozilla.org/issues/1579)

Add something like `throng` to run multiple server instances on the same dyno, similar to what we've done on Thimble.

cc @cadecairos

[2017-05-29 04:36] gideonthomas opened #2219 "Publish server - Update knexjs"
We should update knex.js to the latest version as their changelog indicates some perf fixes as well as a switch from `pool2` to `generic-pool` as their connection pooling interface (I don't know if there will be significant implications for this but I assume better connection management). It is a bit of a random fix but is still probably worth doing.

cc @cadecairos

[2017-05-29 14:25] TheoChevalier opened #2220 "Japanese localization - tracking issue"
I’ve just enabled Japanese and they have started translating Thimble, let’s use this issue to track this and add ja locale to the language switcher.

Language name: `日本語`

[2017-05-29 17:00] humphd commented on #2219
I think login needs it too (e.g., new versions of the db related modules).

[2017-05-29 17:04] gideonthomas commented on #2146
We're still getting HTTP1.1. @cadecairos so the apex domain itself is serving HTTP 2.0 but the paths are still being served with HTTP 1.1

[2017-05-29 17:17] gideonthomas commented on #2146
I'm an idiot, and so is cache!

[2017-05-29 17:17] #2146 closed

[2017-05-29 17:44] humphd opened #2221 "Fail better (UX) when Thimble is unable to open a project at startup"
![image](https://cloud.githubusercontent.com/assets/427398/26558139/823f7fea-4474-11e7-985e-2b85fc96bec8.png)

@flukeout saw this happen while our DBs were failing over the weekend.  It *shouldn't* happen, but when it does, we need to do a better job of informing the user what's happening.

The error above is from https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f55

[2017-05-29 17:47] humphd commented on #2185
Hey @auracle, sure, you're welcome to work on this.  The code for this lives in the Brackets repo over here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/stylesheets/consoleTheme.less

@flukeout is who you need to talk to regarding the styling (he's our design lead).

[2017-05-29 17:49] flukeout commented on #2221
Related to this https://github.com/mozilla/thimble.mozilla.org/issues/2195

[2017-05-29 17:50] humphd commented on #2205
@flukeout can you re-test this with my new fix in?  It's on staging.

[2017-05-29 17:51] flukeout commented on #2221
If we detect an error of this nature, we should:

* Transition green loading screen to black
* Indicate the error message to the user
* Offer contact us link (and maybe prepopulate erorr details into it)
* Show a link to a support page that lists some of the possible problems and offer solutions if possible
  * I'll start a wiki page for this, as discussed.

[2017-05-29 17:52] humphd commented on #2213
@raygervais let's do 1 PR per item you want to fix vs. an omnibus "fix everything" PR.  Small fixes incrementally added is the way forward.

[2017-05-29 17:56] flukeout commented on #2039
Will close this until we run into it again.

[2017-05-29 17:56] #2039 closed

[2017-05-29 18:23] #2203 closed

[2017-05-29 18:48] flukeout commented on #2205
Testing now.

[2017-05-29 18:49] humphd commented on #1284
@flukeout, @Pomax this is connected to stuff we were discussing about how to do saving better.

[2017-05-29 20:11] flukeout opened #2222 "Applying a filter to an SVG images breaks the image."
While you can click through the different filters to see their effect, applying causes the image to stop working...

![_svg_filter](https://cloud.githubusercontent.com/assets/25212/26561099/654685ea-4470-11e7-80db-08ba108c57f3.gif)

We should disable the image filter feature for ``.svg`` images. I guess caman knows how to render the svg to the canvas, but can't convert it back into an svg with the

[2017-05-29 20:24] flukeout commented on #2205
@humphd - tested and works great. One thing we could consider is auto-refreshing the preview whenever we upload new files. In the case of uploading an image that is already being referenced in the CSS, it doesn't show up until I manually reload the preview.

[2017-05-29 20:24] #2205 closed

[2017-05-29 20:29] flukeout opened #2223 "Consider reloading the preview when files are uploaded to project."
This is a bit of a fringe scenario, but let's say I'm uploading an image file that is already referenced in the markup via an ``img`` tag or maybe as a ``background-image`` in CSS. When the upload completes my preview doesn't refresh to show me the image. I have to manually refresh it, or make other changes that cause it to refresh.

This may make the editor feel broken because most other changes

[2017-05-29 21:49] flukeout opened #2224 "Add GA Event when a published project is remixed."
Right now we track pageviews only on published projects, which is pretty handy, but it would be nice to know which projects actually get remixed the most. This is easy enough to add with GA, and could either track the project ID or the project title (or both!)

[2017-05-29 22:21] flukeout opened #2226 "Preview bar styling bugs after going fullscreen & resizing."
When you go into a fullscreen preview and resize the browser window, a couple of things happen:

* The reload button disappears from the minified preview bar
* When you exit out of fullscreen mode, the preview bar is incorrectly sizes

You can see this below...

![_preview_bugs](https://cloud.githubusercontent.com/assets/25212/26563134/4451d56c-4482-11e7-9eec-a4b2d4824a82.gif)

The reload button i

[2017-05-29 22:25] flukeout commented on #2226
The second piece seems to be stemming from the updateLayout event firing. It tries to size the editor and preview bars based on their widths in brackets. However, in the fullscreen preview, the editor has a width of 0. We can solve this in two ways probably:

* Don't fire the updateLayout event when resizing in fullscreen mode, or...
* Fire it once after the fullscreen mode is turned off

[2017-05-30 15:27] #2212 closed

[2017-05-30 15:31] humphd commented on #2223
Fixing this would involve adding a call in the success case of this function https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js#L320-L341, probably at line 338, which calls this https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/LiveDevMultiBrowser.js#L909-L916 and reloads the live dev preview via the protocol.

[2017-05-30 15:46] gideonthomas commented on #2220
This already exists on staging - https://bramble.mofostaging.net. Once the translations are greater than 50% and we're ready to push to production, I can enable it on production as well.

[2017-05-30 16:21] #2226 closed

[2017-05-30 17:12] humphd commented on #2222
Fix for this in https://github.com/mozilla/brackets/pull/776

[2017-05-30 23:29] gideonthomas commented on #2219
This is done

[2017-05-30 23:29] #2219 closed

[2017-05-31 00:05] flukeout opened #2232 "Indicator for selected file when opening right-click menu has wrong color."
It looks like it has a faint white background, which is correct for the dark theme, the highlight should be darker...

![image](https://cloud.githubusercontent.com/assets/25212/26610058/12c2aed0-455a-11e7-88d4-e63fd30b2f7f.png)

The correct highlight can be the same as the hover state, seen here:

![image](https://cloud.githubusercontent.com/assets/25212/26610075/30e38ad8-455a-11e7-9f60-ce12737b78

[2017-05-31 00:15] humphd commented on #2232
For whoever wants to work on this, you'd make the changes in Brackets here https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/stylesheets/sidebarTheme.less.

[2017-05-31 16:02] #2202 closed

[2017-05-31 17:33] humphd opened #2233 "Fix localization of file delete dialog"
In Brackets we show a confirmation dialog when the user tries to delete a file:

https://github.com/mozilla/brackets/blob/master/src/document/DocumentCommandHandlers.js#L1610

That string is hard coded, and should be properly localized.  We need to create a new string key/value in https://github.com/mozilla/thimble.mozilla.org/blob/master/locales/en-US/editor.properties and then use it in Brackets

[2017-05-31 18:18] #1949 closed

[2017-05-31 19:11] flukeout commented on #2207
Okay, I've updated the page that we are serving for this, it's available in the ZIP archive below along with an image that goes with it...

* [error-page.zip](https://github.com/mozilla/thimble.mozilla.org/files/1042612/error-page.zip)

Should appear like this...

![image](https://cloud.githubusercontent.com/assets/25212/26649281/44ac0f7c-45fa-11e7-9033-86bfd7ba83db.png)

@cadecairos Will you be a

[2017-05-31 19:26] cadecairos commented on #2207
@flukeout updated: https://s3.amazonaws.com/publish-webmaker-org-staging-s3bucket-bqo25c3iqx2o/error.html

[2017-05-31 19:33] flukeout commented on #2207
@cadecairos The image isn't showing up in production...

![image](https://cloud.githubusercontent.com/assets/25212/26650112/447b63a6-45fd-11e7-8c77-71b10f1d1a9b.png)

It's meant to be in the same level of folder as the error page. Is that possible to set up? Let me know if I need to change anything.

[2017-05-31 19:35] cadecairos commented on #2207
oh, I didn't realize there was a gif in the archive. it's in place now.

[2017-05-31 19:41] flukeout commented on #2207
Thanks @cadecairos - tested & works great!

[2017-05-31 19:41] #2207 closed

[2017-05-31 21:49] flukeout commented on #1976
Fixed via https://github.com/mozilla/brackets/pull/744#pullrequestreview-41367189

[2017-05-31 21:49] #1976 closed

[2017-05-31 22:07] flukeout opened #2236 "Swap out "Code the Web" logo when no file is open in editor."
When you delete a file that is currently being edited, the editor shows a blank page with the Brackets "Code the Web" logo...

![image](https://cloud.githubusercontent.com/assets/25212/26655940/cf0df362-4611-11e7-804f-cba07da311d6.png)

We can either:

* Change what is shown here
  * Show a thimble logo
  * Give instructions to pick another file
  * Show a menu with options to create a new file
*

[2017-05-31 22:14] flukeout opened #2237 "After deleting a file, it's name is still indicated in the Editor header bar"
See here, this is after deleting ``thumbnail.png``. Even though the file is gone, the name is still in the Editor bar.

![image](https://cloud.githubusercontent.com/assets/25212/26656393/b48dc0b0-4613-11e7-9742-fa81c9f8637e.png)

This happens with any file that you delete while it is open. It should clear the filename.

[2017-05-31 22:22] #2224 closed

[2017-06-01 01:27] humphd commented on #2236
Nice catch!  It's a somewhat rare occurrence for this to show, so I don't think we should put too much effort into this.  My vote would be to show the Thimble logo, some text other than "Code the Web" (though I like that, but it's Bracket's branding), and a think you can click to make a new HTML file.

I kind of like what VSCode does here:

![screen shot 2017-05-31 at 9 23 00 pm](https://cloud.git

[2017-06-01 01:28] humphd commented on #2237
When this happens, does your editor actually switch to another file?  It looks like it didn't in the case above, which would explain why it doesn't fire the `editorChange` event, which should be what triggers all this.

[2017-06-01 01:53] humphd commented on #2206
There are 2 things here, and only one of them can be easily tweaked.  We pretty much have to reload if you change the structure of the DOM by pressing enter there (you're inserting a text node, and invalidating the DOM so a diff can't be applied easily).  Fixing that is not simple, and we already have a way to disable auto-refresh if it bugs people too much.

The second thing is the auto-scrolling

[2017-06-01 06:17] georgianizator opened #2239 "Georgian localization - no one approves suggestions"
@TheoChevalier Hi, I make translation suggestions in Georgian language on pontoon, but seems project managers are not active, because last contributions were made 6 month ago. Can you tell me if there is a way to approve at least my own translations?

[2017-06-01 12:56] TheoChevalier commented on #2239
Hi @georgianizator, thanks for pinging us, we’ve received your email and are following up there. I’m going to close this issue since there don’t seem to have a Georgian localization for Thimble. In case you want to start localizing Thimble in Georgian, just use the “Request more project” button in Pontoon and we will be happy to set this up for you.

[2017-06-01 12:56] #2239 closed

[2017-06-01 13:12] humphd opened #2240 "404 page missing on staging"
![screen shot 2017-06-01 at 9 11 45 am](https://cloud.githubusercontent.com/assets/427398/26681233/6a8b30dc-46aa-11e7-900d-fa363c0903e1.png)

It would be good if this were the same across staging/prod.

[2017-06-01 15:59] lkisac opened #2241 "Fix remix script injecting"
Remix script tag not added when file is missing `<head>` tag.

Cross-reference #1804

[2017-06-01 16:00] lkisac opened #2242 "Remix resources - Injecting metadata"
Cross-reference: #1804, #2241

[2017-06-01 16:02] lkisac commented on #1804
I filed two #2241 & #2242 to address script injecting and remix metadata injecting.

[2017-06-01 16:13] Pomax opened #2243 "Point out possible problems when users "abuse" HTML"

[2017-06-01 16:13] Pomax commented on #1804
closing this issue in favour of the two issues @lkisac filed, plus #2243, which addresses the possible need to inform users that their HTML may be technically fine, but practically "really weird".

[2017-06-01 16:13] #1804 closed

[2017-06-01 16:14] Pomax opened #2244 "!"

[2017-06-01 16:16] #2244 closed

[2017-06-01 16:22] #1952 closed

[2017-06-01 18:47] cadecairos opened #2245 "OAuth redirect uses windows-style path delimiters when running node on Windows"
When I run thimble.mozilla.org natively on windows, the oauth redirect is incorrectly formed, due to using `path.join()` - i.e. `http://localhost:3500/en-US/%5Cen-US%5Ceditor`

This is where I believe the problem lies: https://github.com/mozilla/thimble.mozilla.org/blob/92888feb0fa297bed9c473f933fbf2d60b71f032/server/routes/auth/oauth2-callback.js#L24

[2017-06-01 19:40] humphd commented on #1928
I think this behaviour is actually correct, I'm going to close this.

[2017-06-01 19:40] #1928 closed

[2017-06-01 21:22] flukeout opened #2247 "Image not showing up on thimbleprojects.org 404 page."
We updated the 404 page in https://github.com/mozilla/thimble.mozilla.org/issues/2207

When we load the page directly, things work fine...

* https://s3.amazonaws.com/publish-webmaker-org-staging-s3bucket-bqo25c3iqx2o/error.html

But when the page is served within the context of a bad project URL like this...

* https://thimbleprojects.org/flukeout/9999999

![image](https://cloud.githubusercontent

[2017-06-01 21:34] cadecairos commented on #2247
Would `/index-html.gif` work?

Otherwise let's use the CDN hostname https://thimbleprojects.org/index-html.gif

[2017-06-01 21:39] flukeout opened #2248 "Update Publish Dialog when project is already published."
**NOTE** - Let's wait on this, it might just be something that's happening for me locally. On staging and production, the Publish & Cancel buttons don't show up when something is already published.

I feel like we've got a related issue going already that changes the title of the publish dialog. But let's  consider the case of a published project that has has updates...

![image](https://cloud.git

[2017-06-01 21:56] flukeout opened #2249 "Update Console instructions for IE on Wiki"
We need instructions on how to open the browser console for IE on the Wiki. Would be cool if someone could update that with a few steps...

https://github.com/mozilla/thimble.mozilla.org/wiki/Project-not-Loading-Help

[2017-06-01 21:56] flukeout commented on #2249
@Pomax if you have a spare few mins?

[2017-06-01 22:29] #2084 closed

[2017-06-01 23:15] flukeout opened #2250 "Change "Oops, something went wrong" page title."
Currently when the editor doesn't start we show this...

![image](https://cloud.githubusercontent.com/assets/25212/26704641/624ced26-46e5-11e7-991a-50d8e4cc141b.png)

However, I think we should just say something like **Thimble could not start** so that it makes it more obvious to the user what's going on when they are reaching out to us via email.

[2017-06-02 16:57] TheoChevalier commented on #2160
Note: I’ve disabled in-context localization for now since some people reported having issues opening the Thimble project in Pontoon

[2017-06-02 18:05] auracle commented on #2232
I'll fix this!

[2017-06-02 18:40] flukeout opened #2252 "Change position of "Download" action in the right-click menu."
I can't tell you how many times I've accidentally downloaded a file instead of deleting it. They both start with D and Delete used to be the right option (and will probably get used more often)...

<img src="https://cloud.githubusercontent.com/assets/25212/26739828/2f5f0770-4788-11e7-95f5-08aa4a5c56e9.png" width="250"/>

Let's move ``Download`` above ``Delete``

[2017-06-02 18:42] #2248 closed

[2017-06-02 18:42] flukeout opened #2253 "Publish & Cancel buttons showing when project is already published."
This is happening right now on latest master. We've introduced a UX bug, I'll work on it now so that we can roll it out for monday...

![image](https://cloud.githubusercontent.com/assets/25212/26739931/86f0d25c-4788-11e7-8129-4220369d3202.png)

[2017-06-02 18:48] auracle commented on #2232
Fix for this in mozilla/brackets#783

[2017-06-02 19:50] humphd commented on #2252
haha, I just landed the `Download` stuff yesterday, so it can't be *that* many times!  Yeah, this is a good idea.

Code for this is in https://github.com/mozilla/brackets/blob/master/src/command/DefaultMenus.js#L240-L244 in Brackets.

[2017-06-02 20:50] humphd opened #2255 "Don't block on S3 deletes when running the deleting a project on publish"
![screen shot 2017-06-02 at 4 46 49 pm](https://cloud.githubusercontent.com/assets/427398/26744333/746a2522-47b3-11e7-9904-2505674dec83.png)

We shouldn't block a call to `DELETE /projects/{id}` on S3 cleaning out all the files.  We should delete the metadata from the DB, and then let the user "we're deleting your project" and have it happen in the background.

[2017-06-02 21:04] flukeout opened #2256 "Help getting self-hosted version of Thimble (or just brackets?) running."
@cvan wants to get this stuff running for A-frame but is running to some trouble. Can you provide some more details for us in this ticket so we can help out?

In our Wiki I noticed we had this:
* https://github.com/mozilla/thimble.mozilla.org/wiki/Setting-Up-Thimble-without-Virtualization

cc @humphd or @gideonthomas is the Wiki information still up to date?

[2017-06-02 21:06] cvan commented on #2256
@humpd gave me some tips in #1459, but I was still stuck. that Wiki link I haven't seen before. I'll try that and report back here if I have issues. thanks, everyone! 👍

[2017-06-02 21:10] flukeout commented on #2255
Yeah, I don't think we should even bother showing anything. The item gets removed from the UI, and as far as the user is concerned, it's just gone.

[2017-06-02 21:13] humphd commented on #2256
@cvan setting this up locally (Thimble vs. just Brackets) sucks, esp. if you don't use Vagrant.  Feel free to chat with us in https://chat.mozillafoundation.org/mozilla/channels/thimble.  I'd like to make sure your use case works well, so please keep us in the loop.

[2017-06-02 21:20] cvan commented on #2256
thanks. yeah, I don't use Vagrant. just want to deploy a version of Thimble to Heroku. I'd like to embed it on aframe.io Homepage and Examples pages (à la http://paperjs.org/examples/candy-crash/ [Click the `Source` button in the top-right corner]).

[2017-06-02 21:23] humphd commented on #2256
Doing that feels like it would be easier to just embed the editor portion vs. all of Thimble.  That's what these files show how to do:

* https://github.com/mozilla/brackets/blob/master/src/hosted.html
* https://github.com/mozilla/brackets/blob/master/src/hosted.js

And you can use our production version at https://mozillathimblelivepreview.net/bramble/production/dist/bramble.js

Read https://gith

[2017-06-02 21:27] humphd opened #2257 "[Bramble Error] error loading Bramble Error: Bramble.mount() while already mounted"
I'm reworking the way we load projects for an upcoming PR, and sometimes I see this on Chrome:

[code]

This comes from https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L476.  I wonder if we have a timing error.

[2017-06-02 21:55] flukeout opened #2258 "Explore & document embedding brackets in a web page."
If someone wants to show some editable code on their site, we should provide some guidance on how to do that.

Bracket can already run by itself like this...

* https://mozillathimblelivepreview.net/bramble/production/dist/hosted.html

We need some instructions on...

* How to embed this?
  *  We can provide some sample code to copy and paste
* How do we pre-populate it with files?
* Do the files

[2017-06-02 22:00] flukeout commented on #2258
It would also be cool if we had access to the UI that we currently hold in thimble, like the panel headings and settings bars.

[2017-06-02 22:16] flukeout commented on #2258
It would be cool if we could reference a published project ID like...

``https://mozillathimblelivepreview.net/bramble/production/dist/hosted.html?id=200101``

...to load up some files that we published already via Thimble.

[2017-06-02 22:18] humphd commented on #2258
We probably would have to do this as a URL like `https://thimble.mozilla.org/embed/{id}`, because doing this will require use to have page that a) loads your files for you, b) loads the editor and mounts those files, and c) does all that in an iframe.

[2017-06-02 22:22] flukeout commented on #2253
There's a PR in for this ready to go, let's review + push on Monday when we go to prod.

[2017-06-02 22:29] flukeout commented on #2247
Hi @cadecairos - here's the updated error page with the correct path to the image.

[error-updated.zip](https://github.com/mozilla/thimble.mozilla.org/files/1049100/error-updated.zip)

Cheers!

[2017-06-03 05:24] zmf0507 commented on #2253
can naybody tell me how can i access the code for the above section to fix it? i am new

[2017-06-03 10:19] MekliCZ opened #2259 "Incomplete string on Get Involved page"
On Get Involved page, one of Brian Yang's contributions (Added support for file icons in) is incomplete. I guess there should be one more word (Thimble; Editor; something else?).

[2017-06-03 13:06] Frustrated-User opened #2260 "Problem with tutorial on "Webotron and the Scrambled Divs (remix)""
https://thimble.mozilla.org/en-GB/projects/17148/remix
When I read through the tutorial it tells me "Stuck? Try head, armOne, body, armTwo, legOne, and then legTwo." and "Stuck? Try adding clear:left to armOne and legOne in style.css." but when I do both of these things exactly how it says the robot still does not align the way it should.

This is the resulting code after making the suggested chan

[2017-06-03 17:47] flukeout opened #2261 "Typo on homepage in ES locale."
Via email, user pointed out a typo for the ``es`` locale.

![image](https://cloud.githubusercontent.com/assets/25212/26755787/e153f80c-4849-11e7-8efe-fb3fe5dbd909.png)

``proyetco`` should be ``proyecto``.

@TheoChevalier - what is the process for indicating this to the localization community? Should we just change it ourselves in the codebase?

[2017-06-03 17:56] TheoChevalier commented on #2261
Thanks for the report, let’s ping the localizers. @avelper @jlgl10nes could you have a look?
For reference, the string is here https://pontoon.mozilla.org/es/thimble/messages.properties/?search=proyetco&string=166020

[2017-06-03 18:22] serendicoder commented on #2250
Hi,
I am suggesting few error messages which could be displayed in this scenario. Please let me know if any of these is suitable or something else is required.
Unable to launch Thimble...
We couldn't start it for you!
Aw, could not start!
App did not load properly!
It failed to launch this time...
Failed to start Thimble!
Oops, something failed the launch!

Also, I would like to know what are the

[2017-06-03 18:46] avelper commented on #2261
Sorry about that! My mistake...

Already fixed!

2017-06-03 19:56 GMT+02:00 Théo Chevalier <notifications@github.com>:

--
Angela Velo (avelper)
http://www.mozilla-hispano.org
http://twitter.com/mozilla_hispano
http://facebook.com/mozillahispano

[2017-06-03 18:47] TheoChevalier commented on #2261
No problem, thanks Àngela!

[2017-06-03 18:47] #2261 closed

[2017-06-03 21:17] flukeout commented on #2261
Thanks @TheoChevalier & @avelper - appreciate it!!

[2017-06-04 10:47] #2260 closed

[2017-06-04 13:54] serendicoder commented on #2177
Hi,
I have found out the following-
The close icon in inline editor uses &times and styling as present in these files-
[JS](https://github.com/mozilla/brackets/blob/master/src/editor/InlineWidget.js#L44)
[Style](https://github.com/mozilla/brackets/blob/master/src/styles/bootstrap/close.less)

The close icon in console is an svg image and uses styling for dimensions, the code for which is here-
[HT

[2017-06-04 15:33] #2245 closed

[2017-06-04 20:47] flukeout commented on #2253
Hi @zmf0507 I've already made a Pull Request to fix this issue so there is no more work required here. We will close the issue as soon as the Pull Request has landed.

[2017-06-05 01:29] gideonthomas commented on #2259
Nice catch @MekliCZ! @flukeout what should the string be?

[2017-06-05 17:51] flukeout opened #2263 "Published project URL doesn't work"
Via email, according to one of our users, their published project doesn't work even though they have an index.html file in it.

* https://thimbleprojects.org/amanrana/283467/

Screenshot from user's editor...

![image](https://cloud.githubusercontent.com/assets/25212/26796084/f124f7b0-49dc-11e7-8402-8e0584b3c933.png)

I'll investigate the DB to see if the index.html file is indeed there.

[2017-06-05 17:55] flukeout commented on #2263
Curiously, the index.html file doesn't appear in the database.

![image](https://cloud.githubusercontent.com/assets/25212/26796207/752e716c-49dd-11e7-9d8e-9a5dc063b104.png)

[2017-06-05 18:15] Rajat-dhyani commented on #2233
@humphd i would like to work on this if that's okay ?

[2017-06-05 18:17] flukeout commented on #2263
The user has made some changes which brought up the Update option in the dialog, but the published version still doesn't seem to reflect that...

![image](https://cloud.githubusercontent.com/assets/25212/26797070/843684ee-49e0-11e7-9475-fa5c81550a75.png)

I'll do some testing to see if I can reproduce this.

[2017-06-05 18:17] humphd commented on #2233
Sure, sounds good.  The string will need to go in Thimble, but get used in Brackets.

[2017-06-05 18:18] flukeout commented on #2263
Other pages have successfully published, like...

* https://thimbleprojects.org/amanrana/283467/HomePage.html

[2017-06-05 18:21] flukeout commented on #2263
When I remix that project, I get an index.html file in my editor

![image](https://cloud.githubusercontent.com/assets/25212/26797249/1157137a-49e1-11e7-9d65-da8056636172.png)

However, when I publish the project, I get the error screen..

* https://thimbleprojects.org/flukeout/283650

![image](https://cloud.githubusercontent.com/assets/25212/26797257/1aea4254-49e1-11e7-976b-5940dd702ae2.png)

So,

[2017-06-05 18:44] humphd commented on #2263
I tried @flukeout's STR:

[code]

I did it, and was able to reproduce this bug.  Here is what I see in the console, with `?logging=1` added to the URL:

[code]

It looks like it's doing the right things on the wire: I see the file get deleted, a new one get downloaded and created, and the sync happen.  I wonder if this is a bug on publish?

cc @gideonthomas

[2017-06-05 18:46] humphd opened #2264 ""Oh no, page not found" has odd CSS"
![screen shot 2017-06-05 at 2 26 56 pm](https://cloud.githubusercontent.com/assets/427398/26798169/87d33e18-49fd-11e7-8814-85cb21564cbd.png)

@flukeout suggests it might be bleeding CSS from the project.

[2017-06-05 19:21] flukeout commented on #2247
Fixed by @cadecairos - closin'

[2017-06-05 19:21] #2247 closed

[2017-06-05 19:39] flukeout commented on #2264
I'll create a project that reproduces this behaviour and post shortly.

[2017-06-05 19:58] gideonthomas opened #2266 "VR CSS 404s"
Inline3DParametersEditor/css/main.css 404s on staging.

[2017-06-05 20:01] gideonthomas opened #2267 "DnD .tar does not work"
Dragging and dropping in zips/tars does not work on staging or prod

cc @humphd

[2017-06-05 20:06] flukeout commented on #2263
Let's also test if this happens with other files, not just ``index.html``

[2017-06-05 20:31] #1991 closed

[2017-06-05 20:55] #2253 closed

[2017-06-05 21:05] #2266 closed

[2017-06-05 21:05] humphd commented on #2266
Fixed with https://github.com/mozilla/brackets/pull/785

[2017-06-05 21:44] #2233 closed

[2017-06-05 21:49] humphd commented on #2263
I was able to reproduce this with `script.js`.  It's something to do with a given file being removed/added again.

[2017-06-05 21:52] flukeout commented on #2264
Okay yeah, there is an unnecessary link tag to ``style.css`` that the page doesn't need at all, and so it's pulling in the base styles from the project's root (since most of them have a ``style.css``).

Anyway, updated the file, and here we go...

* [error-final-i-swear.zip](https://github.com/mozilla/thimble.mozilla.org/files/1053270/error-final-i-swear.zip)

Sorry about this @cadecairos - would

[2017-06-05 22:03] #2267 closed

[2017-06-05 22:03] humphd commented on #2267
Fixed in https://github.com/mozilla/brackets/pull/786

[2017-06-06 00:28] flukeout commented on #1336
Oh, that's right - issue REOPENED. Will be printing some stickers for Maker Faire this coming weekend. Design is almost finalized...

![image](https://cloud.githubusercontent.com/assets/25212/26808802/53d3e024-4a14-11e7-9faa-339a605d1536.png)

[2017-06-06 14:09] humphd commented on #1336
Finally!

[2017-06-06 15:21] #2196 closed

[2017-06-06 18:21] humphd commented on #1927
Finishing this in https://github.com/mozilla/brackets/pull/787

[2017-06-06 18:37] humphd opened #2268 "Fix deprecation warning on Bramble Url code hints"
![screen shot 2017-06-06 at 2 35 39 pm](https://user-images.githubusercontent.com/427398/26845756-83996e6c-4ac5-11e7-8c28-77398613c272.png)

Which is caused by https://github.com/mozilla/brackets/blob/master/src/extensions/default/BrambleUrlCodeHints/main.js#L84.

We should instead be doing:

[code]

[2017-06-06 20:31] Pomax commented on #1135
closing this in favour of "when people really need this, they'll let us know"

[2017-06-06 20:33] flukeout commented on #1135
This request came from an educator, saying kids don't know how to right-click. Honestly using someone else's laptop with a trackpad, sometimes I don't either.

[2017-06-06 20:38] TheoChevalier commented on #2220
Heads up that the team is almost done :) A bunch of strings are still pending review, though https://pontoon.mozilla.org/ja/thimble/

[2017-06-06 21:26] gideonthomas commented on #2220
I've already enabled ja on prod since it's over 64% done, so feel free to close.

[2017-06-06 21:30] TheoChevalier commented on #2220
Thanks!

[2017-06-06 21:30] #2220 closed

[2017-06-06 22:03] flukeout commented on #1336
Sent to printers! Wooooo

[2017-06-06 23:03] humphd opened #2269 "Reuse Image View "editor" in Brackets for other media types"
Here's what happens if you try to load an `.mp3` file:

![screen shot 2017-06-06 at 7 00 25 pm](https://user-images.githubusercontent.com/427398/26855683-6f718a76-4aea-11e7-8c56-3e02d84294e5.png)

Brackets has an Image Viewer, which we use to show images and SVG (as images).  I'd like to extend it so that we can also show `<video>` and `<audio>`.

We'd need to adjust things a bit for non-images:

[2017-06-06 23:06] humphd opened #2270 "Show something useful when we can't/won't load a file type"
Here's what happens when you load a `.pdf`:

![screen shot 2017-06-06 at 7 04 47 pm](https://user-images.githubusercontent.com/427398/26855792-0e55c396-4aeb-11e7-8ad1-dc590c1f10cb.png)

It's not really useful.  It might be better if we had a default view that we showed that gave some info, for example: filename, file size, and maybe some info about why we aren't showing it to you because it's a bi

[2017-06-06 23:43] flukeout commented on #2270
In addition to the above, it might be nice to have a **Download** action.

[2017-06-07 01:49] humphd commented on #1955
Testing this now in conjunction with my patch in https://github.com/mozilla/brackets/pull/725.  I grabbed the [zip file](https://github.com/mozdevs/html5-games-workshop/archive/gh-pages.zip) and used what's in the [platformer/](https://github.com/mozdevs/html5-games-workshop/tree/gh-pages/platformer) dir.

When it first loads, I get one error related to the `phaser.map` file not being of a support

[2017-06-07 01:50] humphd commented on #2270
I also think we should add a `I know what I'm doing, let me edit this` button, for cases like what I hit in https://github.com/mozilla/thimble.mozilla.org/issues/1955#issuecomment-306662729 with `phaser.map`.

[2017-06-07 01:58] humphd opened #2271 "CSS for <li> in dialog with dark theme using white text in File Import error message"
Spin-off from https://github.com/mozilla/thimble.mozilla.org/issues/1955#issuecomment-306662729--the import error dialog in Brackets doesn't show what went wrong.

STR:
* Create a new project
* Make a file on your desktop named `phaser.map`
* Drag the file into the file tree
* You should get an error indicating that the file type is not supported
* What I get is a dialog without the message

![scr

[2017-06-07 02:01] humphd opened #2272 "Add UI to indicate file import/unzip is happening"
When you drag-and-drop files into Thimble, it can take some time to process them, especially if they are big, or are in an archive that has to be inflated.  We should show some kind of UI that lets the user know that things are happening.

In Brackets we do the async file import operation here:

https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/FileImport.js#L58-L75

A

[2017-06-07 02:40] flukeout commented on #2270
Yeah good call - **Edit as Text** or something.

[2017-06-07 02:57] humphd opened #2273 "DELETE for a project is too expensive"
![screen shot 2017-06-06 at 10 54 45 pm](https://user-images.githubusercontent.com/427398/26860310-498f529a-4b0b-11e7-8ff0-4ff9c167571f.png)

A DELETE of a big project can really crush the publish server.  In terms of optimizations for publish, this is another one to consider whether we can do something simple now, while we rewrite for serveless.  Maybe delete things in the background, but let the

[2017-06-07 04:16] Rajat-dhyani commented on #1135
i think i can work on this if that's okay?
Just to sum up all the discussion above this is what needs to be done here :
* add a drop down icon just next to file names in the tree.
* show the drop down icon on mouse hover.
* add all the right click option to the drop down menu.

[2017-06-07 14:59] flukeout commented on #1135
Sure thing @Rajat-dhyani - just to clarify..

* We already have a menu that opens when you right-click
* We want to also allow showing the same menu by clicking on an icon next to the filename

[2017-06-07 15:09] my2iu commented on #1135
Doing anything on a mouse hover isn't a great fix. The kids today are from the iPad generation. They're using their touchscreen Chromebooks to do their stuff and will never see mouse hover prompts. That fix exhibits the same underlying problem as the original right-click issue.

[2017-06-07 15:12] flukeout commented on #1135
Hey @my2iu - thanks for jumping in! We aren't planning to make any of the behaviour dependent on a hover state. Each file, when selected, will have a small icon, as pictured here (roughly)...

<img width="220" alt="image" src="https://user-images.githubusercontent.com/25212/26885962-f23c239e-4b58-11e7-89cd-ef4120b3b688.png">

When the icon is clicked, or tapped, the menu will open. We'll be re-usi

[2017-06-07 16:10] flukeout commented on #2273
Plus 1 to that - beyond the performance aspect, we can also present the interaction differently in the UI. Currently if you delete 5 projects at once, there's a long delay before they get deleted, one by one. We shouldn't hold up the user-facing UI on this stuff, since the user doesn't really care about the actual time taken.

[2017-06-07 16:11] flukeout opened #2274 "Mozilla Thimble logo not displaying properly in Firefox."
See below, something has happened to our logo. I don't think we made any changes. Are we running any kind of SVG optimizations that may have changed the file? Maybe Firefox changed their rendering since we last saw it?

![image](https://user-images.githubusercontent.com/25212/26888896-4424ac5a-4b61-11e7-8f32-78b151d682ac.png)

[2017-06-07 16:16] humphd opened #2275 "[Firefox] Fix CSP blocking precaching of editor"
Firefox is reporting that our precaching isn't working due to CSP:

![screen shot 2017-06-07 at 12 15 14 pm](https://user-images.githubusercontent.com/427398/26889138-15670d4e-4b7b-11e7-9ff3-bf3303d3755e.png)

We probably need to add the domain for the editor.

[2017-06-07 16:35] Rajat-dhyani commented on #1135
okay got it.....thanks will now work on this and get back to you on it. 👍  @flukeout

[2017-06-07 16:37] gideonthomas commented on #2275
ah beat me to it

[2017-06-07 17:28] humphd commented on #1120
@XuanWang-Amos it looks like this work got paused.  I'm going to move this bug to an unassigned state, and if someone (including you) wants to pick it up in the future, we'll re-assign.

[2017-06-07 17:34] humphd commented on #1326
We added code when publishing to indicate that a project is missing an `index.html` (also related to the work @dsych did here):

![screen shot 2017-06-07 at 1 31 59 pm](https://user-images.githubusercontent.com/427398/26892294-d784752e-4b85-11e7-86fa-0c2a6a3a11d1.png)

Could we do something similar with regard to total project size?  If it's over a certain size, we could either show a warning, or

[2017-06-07 17:36] humphd opened #2277 "[Firefox] Snippets button has incorrect colouring"
![screen shot 2017-06-07 at 1 35 12 pm](https://user-images.githubusercontent.com/427398/26892433-3ed197fc-4b86-11e7-825a-3b144b03b33e.png)

Maybe similar to the logo issue we had with Firefox?

[2017-06-07 17:38] humphd commented on #1419
@flukeout this issue and the PR associated need to get moved along, or closed if we're not going to do it.  Can you make a call?

It doesn't seem to me like the approach here is right.

[2017-06-07 17:39] humphd commented on #1524
I've fixed this, closing.

[2017-06-07 17:39] #1524 closed

[2017-06-07 17:42] humphd commented on #1526
This has stalled.  I'm going to remove the Assigned label until someone wants to work on it.

[2017-06-07 17:44] humphd commented on #1543
This seems to have stalled.  I'm going to put it back into the general pool of bugs.  Also related to this is #2258.

[2017-06-07 17:45] humphd commented on #1251
This work has stalled, so I'm going to put it back in the general pool of bugs.  If someone wants to work on it, let us know.

[2017-06-07 17:51] flukeout commented on #2277
Ooof, yeah must be. What the heck. The last Firefox release was on May 19th - so I'm not sure why this stuff is suddenly breaking.

[2017-06-07 17:53] #1681 closed

[2017-06-07 17:55] humphd commented on #1668
This bug is filed various times, and there is an active PR for it.  I'm going to close.

[2017-06-07 17:55] #1668 closed

[2017-06-07 17:56] humphd commented on #1707
Moving this out of the Assigned/GoodFirstBug labels, since it is neither.

[2017-06-07 17:57] humphd commented on #1720
Moving this out of the Assigned label.  If someone wants to work on this, let us know.

[2017-06-07 17:57] humphd commented on #1721
Moving this out of the Assigned label.  If someone wants to work on it, let us know.

[2017-06-07 18:00] humphd commented on #1737
Fixed by https://github.com/mozilla/publish.webmaker.org/issues/240, closing.

[2017-06-07 18:00] #1737 closed

[2017-06-07 18:00] humphd commented on #1763
This shipped, closing.

[2017-06-07 18:00] #1763 closed

[2017-06-07 18:06] #1790 closed

[2017-06-07 18:09] humphd commented on #1823
We really need this, it trips up devs all the time, including me.

[2017-06-07 18:10] humphd commented on #1849
I'm going to give up on this.  Eventually it would be great to not need Vagrant at all.  Until then, shell scripts are the best option.  Thanks for all the experiments.

[2017-06-07 18:10] #1849 closed

[2017-06-07 18:13] humphd commented on #1925
npm 5 is a lot better, I haven't noticed issues.  Closing.

[2017-06-07 18:13] #1925 closed

[2017-06-07 18:15] humphd commented on #2028
This was fixed upstream, closing.

[2017-06-07 18:15] #2028 closed

[2017-06-07 19:42] flukeout opened #2279 "Unneeded blue outline on File Tree elements"
![image](https://user-images.githubusercontent.com/25212/26897778-88e3ccd2-4b7e-11e7-8dd9-b9c4afe065cc.png)

Let's get rid of this. For me, on Mac Chrome, the blue lines show up when I hold the mouse click down on top of an item. And also, they stick around when the file I have open is an image.

[2017-06-07 19:44] humphd commented on #2279
I thought we fixed this before I landed https://github.com/mozilla/brackets/pull/704#issuecomment-299971160, but I guess not.  I'm not sure how to deal with this, so assigning to you, @flukeout

[2017-06-07 19:45] flukeout commented on #2279
Yep, I'll take it - I thought we nuked it too.

[2017-06-07 19:57] #2014 closed

[2017-06-07 20:59] #2275 closed

[2017-06-07 22:44] flukeout commented on #2274
Fixed in a PR where I forgot to reference this.

[2017-06-07 22:44] #2274 closed

[2017-06-08 05:48] gideonthomas commented on #2264
I did this.

[2017-06-08 05:48] #2264 closed

[2017-06-08 10:28] aayushsanghavi commented on #2041
Looks like you've been working on this @Rajat-dhyani. Its good that you filed a PR. I was actually out of town for a couple of weeks so I was unavailable all this while. I guess you can continue your work on this issue then. 👍

[2017-06-08 14:41] #889 closed

[2017-06-08 16:26] flukeout opened #2281 "Arrange File view so folders are shown above files."
My own editor does this, and I appreciate it. I think files and folders are different enough that it makes sense to group them together instead of enforcing alphabetical order like we currently do...

**My Current Editor** (Nice and organized, great)

<img src="https://user-images.githubusercontent.com/25212/26939536-73d9df4e-4c2c-11e7-8fff-b3b23c971608.png" width="200" />

**Thimble** (Not good,

[2017-06-08 17:14] flukeout opened #2282 "Move file UI styling broken, can't tell what is selected."
This is related to the sweeping dialog changes I made in a recent patch. It's now impossible to see which folder you've selected when you're using the dark theme...

![image](https://user-images.githubusercontent.com/25212/26941394-2f2eea54-4c33-11e7-8202-394cfb6751f9.png)

[2017-06-08 17:23] TheoChevalier opened #2283 "Tracking Frisian localization"
Just enabled Frisian (fy-NL) on Pontoon, let’s use this ticket to track progress and enable the locale on staging/prod.

Native language name `Frysk`

[2017-06-08 17:39] flukeout opened #2284 "Delete button styling bug."
On the **Your Projects** page, the Delete button has lost it's styling in a recent change. Probably my fault.

![image](https://user-images.githubusercontent.com/25212/26942378-ae0d5330-4c36-11e7-9a6e-ccf270a2a2de.png)

[2017-06-08 18:12] flukeout commented on #2282
Addressed in brackets PR - https://github.com/mozilla/brackets/pull/790

[2017-06-08 18:12] flukeout commented on #2279
Addressed in Brackets PR - https://github.com/mozilla/brackets/pull/790

[2017-06-08 18:16] #2279 closed

[2017-06-08 18:16] #2282 closed

[2017-06-08 23:43] flukeout commented on #1640
This is.. done! Woo

[2017-06-08 23:43] #1640 closed

[2017-06-08 23:55] flukeout commented on #1326
Just wanted to add that we just got a support email from someone with a project that is failing to load. Sure enough, it's massive (10+ megs of images). I'm trying to see if just letting it load for longer will work, or where things might have broken.

**Thoughts**

* @gideonthomas something to think about with AWS, does that help us do bigger files etc?
* I think we should enforce some kind of si

[2017-06-09 00:13] Pomax commented on #1326
To be fair, though, 10+ megs of images, based on the images my phone takes, is like... 6 images. There's an odd mismatch here between what is reasonable from a user perspective (surely I can add more than 5 images to my site) and from a dev perspective (10 megs for a few images? come on).

It feels like what we really need is a way to say "hey you added an image but it's *super big* for web purpos

[2017-06-09 00:15] Pomax commented on #2283
There's a language I would not have expected. Do we have any Frisian users?

[2017-06-09 00:28] TheoChevalier commented on #2283
Frisian is a small locale, but that’s the beauty of our community, we don’t only support languages with hundreds of millions of speakers.

[2017-06-09 00:42] Pomax commented on #2283
As a Dutchman, I am quite aware of this. I am, however, literally surprised we have _any_ Frisian users.

[2017-06-09 01:23] flukeout commented on #1326
Updated the list of options to reflect your suggestions, which I like. As far as file types & sizes, we've got all the info on our database. We should check the distribution of our file sizes, and see what types of large files people are trying to upload. So..

**To-Do**
* Get some numbers on...
  * How many large projects do we have? And what defines large 3MB+?
  * How many and what kinds of lar

[2017-06-09 01:24] gideonthomas commented on #1326
AWS can handle sizes without an issue. The Problem is it will always be reliant on the client's connection. I think the best thing we can do here is to just not block the editor on project load. We might need to figure out a way to basically allow users to play around with the index.html file and maybe block the file tree with a loading spinner or something. We def should enforce some limits thoug

[2017-06-09 02:43] dsych commented on #1326
How about not loading all of the large files when a project loads? We can have some kind of mechanism that only ships file that are below a certain threshold, and other files could be shipped on demand.
E.g. instead of showing images in a preview window, we can only show a proxy, placeholder. There will be some kind of a small window or icon on the image in the file tree or directly on top of the

[2017-06-09 03:43] flukeout commented on #1326
That's a great evolution of @gideonthomas' thoughts @dsych. We can download files one by one in a project, but have the ones that are loaded already be editable. Let's get @gideonthomas' thoughts on some of these ideas from a technical perspective. If they are feasible, I can do some design work. OR, they can drive some of the technical decisions as we rewrite how we store files.

[2017-06-09 14:39] humphd commented on #1326
A few thoughts:

* We can resize images in a worker using something like Pica (see [demo](https://nodeca.github.io/pica/demo/), [code](https://github.com/nodeca/pica)).  When a user drops a file into the filetree, we can initially accept it, and in the background start reducing it.  When it's done, we can show a toast or something that says, "File x.png was too large for fast download, we've reduc

[2017-06-09 17:28] flukeout commented on #1326
To follow up on the file counts, here's what we are looking at in the working files db

[code]

[2017-06-09 17:52] flukeout commented on #1326
Here are some rough stats on file size distribution, broken down into 250KB groups...

![image](https://user-images.githubusercontent.com/25212/26987804-c04f41fe-4d01-11e7-9949-ca59e216b7db.png)

[2017-06-09 19:04] humphd commented on #1326
I have an experimental PR up in Brackets to auto-resize large images before we write them to the filesystem https://github.com/mozilla/brackets/pull/794.

[2017-06-09 21:09] humphd opened #2285 "File Import progress UI"
In Brackets we allow you to import (drag-and-drop, upload dialog, etc) files and folders.  If any of those files are archives, we also expand them into the filesystem.  In https://github.com/mozilla/brackets/pull/794 I'm playing with auto-resizing of large images, too.

All of this means that it can take some time to complete an import operation, but we don't signal anything to the user while it's

[2017-06-10 02:37] flukeout commented on #2285
Seems like the importing & extracting step hardly takes any time, so I don't think it's worth showing any kind of progress indicator there. However, in the cases we downsize images I think it would be good to indicate that in a modal. Something like...

[code]

[2017-06-11 01:34] humphd commented on #1326
@flukeout this is really neat to see, thanks for putting it in here.  I summarized and graphed it:

[code]

![image](https://user-images.githubusercontent.com/427398/27007527-57c5989e-4e24-11e7-877c-e8a78ce4476a.png)

I'm excited by the Service Worker and Cache Storage PR in Brackets to increase our JS numbers.

[2017-06-12 04:03] flukeout opened #2286 "Add QR code to Publish Dialog."
A QR code might be a great way to view a project on a mobile device right after sharing. As it stands, it's somewhat cumbersome to type out the URL of a published project on a mobile device since the URL is quite long. In addition, when using Thimble during a demo session like this weekend, a user can't just go back to their projects list to continue the work we started.

One helpful participant a

[2017-06-12 15:26] gideonthomas commented on #2286
+1 (this would have been really helpful in the sessions I was having too for Hive), marking this as a good first bug.

[2017-06-12 15:43] humphd commented on #2285
It really depends on your computer's speed and the size/complexity of the files.  I know on some of my machines I can easily get it to block for 10-20 seconds, which is huge.

We don't currently do this, but what do you think of introducing some kind of "Toast" notifications in Brackets (e.g., http://codeseven.github.io/toastr/demo.html)?  The idea would be to have some UI that doesn't bother the

[2017-06-12 20:50] ahsanbarkati commented on #2286
I am new at thimble. Please assign this to me, want to get hands on it.

[2017-06-12 21:20] ahsanbarkati commented on #2277
I am new to thimble. Please help me start my contribution to it. Please tell me the suggested colour.

[2017-06-12 21:24] ahsanbarkati commented on #2277
Do i need me make its color similar to the other buttons?

[2017-06-12 21:36] flukeout commented on #2277
Hello @ahsanbarkati - yeah that is correct. Do you have your development environment up and running?

[2017-06-12 21:43] ahsanbarkati commented on #2277
NO. Can I get some help on it so that I can start contributing.

[2017-06-12 21:54] flukeout commented on #2277
Have you tried following the steps outlined in the Readme?

* https://github.com/mozilla/thimble.mozilla.org/blob/master/README.md

[2017-06-12 22:31] flukeout opened #2288 "When Remixing a project, the project description does not carry over to the Remix."
**Steps to reproduce**
* Create a project
* In the publish dialog, add a description
* Publish the project
* From the published version, Remix it
* In the editor, open the publish dialog
* The project description is empty

[2017-06-12 23:10] gideonthomas commented on #2288
The issue is here: https://github.com/mozilla/publish.webmaker.org/blob/master/api/modules/publishedProjects/controller.js#L36

it should use the `get` api vs. directly accessing it via dot notation.

[2017-06-12 23:27] gideonthomas commented on #1772
This is def fixed

[2017-06-12 23:27] #1772 closed

[2017-06-13 11:35] TheoChevalier commented on #2283
Translation is complete, can someone enable it on staging/prod please?

Thanks!

[2017-06-13 14:29] flukeout opened #2289 "Facebook blocks sharing of "thimbleprojects.org" links."
Yep, it does. Deemed "unsafe" or something like that. I used the contact form that shows up when you try to post a blocked link, so maybe there's a chance we'll get an explanation etc. Doesn't seem likely.

Any other ideas for figuring this out?

* Get mozilla twitter to ask the facebook twitter about it?
* Do we know anyone who has any contacts at FB?
* ...?

Walled gardens, yey!

[2017-06-13 14:45] humphd commented on #2289
Dupe of https://github.com/mozilla/thimble.mozilla.org/issues/1898

[2017-06-13 14:45] #2289 closed

[2017-06-13 15:05] flukeout opened #2290 "<a> tag with href="#" throws JS error in Thimble console."
**To reproduce...**

* Create a new blank project
* Add an ``<a href="#">Test</a>`` to your index.html page
* Click the Test link in the preview
* The preview wigs out and the console opens with the following erorr...

**Screenshot of error on Staging**
![image](https://user-images.githubusercontent.com/25212/27089355-fd7a1026-500e-11e7-81be-a9ce20f0bd44.png)

**Screenshot of error with the Servic

[2017-06-13 16:18] flukeout opened #2291 "Losing your published URL when deleting the published version is unexpected."
Just had a conversation with @taisdesouzalessa about her recent Thimble project. She had a bit of trouble sharing her link because she didn't realize that deleting the published version would cause Thimble to give her a new URL when she published again.

I think her expectation (and I agree) is that you'd keep your original published URL for the duration of your work on that project. Also, after d

[2017-06-13 17:18] gideonthomas commented on #2291
Adding the redirect is a bit hard. We've had this reported before and it required changing the way we deleted projects. I think once we switch to serverless storage, this shouldn't be a problem anymore

[2017-06-13 17:25] gideonthomas commented on #2290
It's interesting that it throws.

I think the fix is just that https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/LinkManagerRemote.js#L24-L28 needs to be wrapped in a try/catch/finally block so that it doesn't throw.

[2017-06-13 17:26] gideonthomas commented on #2283
Will do this today

[2017-06-13 17:32] flukeout commented on #2291
Okay, maybe we should start some kind of feature / change doc so that we can make improvements when we switch over to the new system instead of designing for parity with existing stuff.

Do you have anything like that on the go - happy to start it if not. Maybe a doc would be good?

[2017-06-13 18:09] cadecairos opened #2293 "[Windows] Leading backslash in filenames for new Thimble project"
When I create a new project in Thimble, I see trailing forward slashes on the files (`\style.css` and `\index.html`) There is also a second `index.html`, without a leading slash.

OS: Windows 10 Pro (creators update)
Node version: 6.11.0
npm version: 5.0.3

STR:
1. Run all dependent thimble services natively on windows (no vagrant/docker)
2. Create a new Thimble project
3. check the project file n

[2017-06-13 18:22] Pomax commented on #2293
tagging myself so I remember to try this - /cc @pomax

[2017-06-13 18:36] humphd commented on #2293
I'm pretty sure that the duplicate `index.html` is not actually a bug: if we're writing a file named `\index.html` then when it searches for an `index.html` on startup, it won't find one, and it will automatically create one for the user.

Let's focus on the leading backslash instead.  NOTE: in filer we hard-code the separator https://github.com/filerjs/filer/blob/develop/src/path.js#L229.  It mig

[2017-06-13 19:13] flukeout commented on #2206
@flukeout - I'll research the DOMContentLoaded event and see if it's doing what we want in this case.

[2017-06-13 19:55] humphd opened #2294 "Can't scroll list of folders in Move To dialog"
![screen shot 2017-06-13 at 3 53 12 pm](https://user-images.githubusercontent.com/427398/27101626-8c61ae98-5050-11e7-9a66-2918eaec2d89.png)

We're not doing the right thing with `overflow-y` on the div that holds the directories in the Move To dialog box in Brackets.  This shouldn't be `hidden`.

[2017-06-13 20:12] taisdesouzalessa commented on #2291
Yep, to add to Luke's comments my main problem was sharing it through Twitter. Once the new URL was not valid anymore I had to delete the tweet and create a new one with the updated URL.

Otherwise it was a great and smooth experience. I really liked I could do changes in the code and see the updates reflected on the left panel without having to hit the "update" button.

[2017-06-13 20:17] flukeout opened #2295 "Many projects in our DB have multiple files with the same path."
![image](https://user-images.githubusercontent.com/25212/27102599-a66c9836-503a-11e7-8a0c-b7bd8ea699b5.png)

[2017-06-13 21:24] flukeout opened #2296 "Restrict total project size."
We've agreed to restrict the size of Thimble projects. So, if the user tries anything that causes the project to go over the maximum file size, we have to block that action. These actions include...

* Upload a file by dragging it in to the file view
* Upload a file via the file upload dialog
* Using the Selfie feature
* Copy & Pasting large amounts of content into an editable file?

We also need

[2017-06-13 21:46] humphd commented on #2206
@Pomax this is the but related to the newline/refresh issue.  The logic around when to refresh vs. apply a diff in the DOM happens in here I think:

https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/language/HTMLInstrumentation.js#L501-L549

[2017-06-13 22:36] flukeout opened #2297 "Add UI to indicate total project size and room left."
Since we'll be capping total project size, we should also indicate how much someone has used up. We'll want something like...

``1.2 of 3mb used [######_________]``

Probably near or within the FILES column on the left hand side.

[2017-06-13 22:39] flukeout opened #2298 "Since Dave hates PDFs with a passion, should we do something special with them?"
For some reason @humphd loves to hate PDFs and wanted an issue filed specifically to address them. I think we should just treat them as any other file in our projects - hold them accountable to whatever maximum file size we decide on.

**The question is...**

* Do we want to just enforce a project size limit
* Or do we also want to enforce a file size limit?
  * We sort of do this for images by re

[2017-06-13 22:51] ryanwarsaw commented on #2298
I agree completely, so allow me to introduce a BRAND NEW file format all together! I'm calling it the **TPDF** (short for Thimble Proprietary Document Format), it's a PDF without the name! We're taking best file format to ever be created, and giving it a new modern flashy name!

With **TPDF** let all your file storage needs be bygones and when you call today and today only, you can get a 50% off l

[2017-06-13 22:55] flukeout opened #2299 "Process for Social Sign-In Development"
I'm writing this to clarify some thoughts after a chat that @ryanwarsaw and I had just now and would appreciate input and thoughts from @Pomax @humphd @gideonthomas to make sure that this is on the right track.

**Ryan will...**

* Add a new "Sign In / Create Account" page on Thimble.
* This page will have a form with username / password inputs etc
* This page will talk to the ID server via that P

[2017-06-13 23:03] flukeout commented on #2298
Hahaha what 👍 👍 :1st_place_medal:

[2017-06-13 23:03] ryanwarsaw commented on #2299
The angle I was coming from while looking at ID stuff was your typical login scheme, where you've got basic authentication then maybe some optional oauth strategies via Passport for 3rd parties.

ID also has some oauth stuff I think, I wasn't sure if you wanted me to make ID a 3rd party or integrate it into Thimble via basic authentication, then continue with the strategy outlined above.

Since ID

[2017-06-14 04:05] abhiyad commented on #2250
hi @flukeout Please guide me to the part of code being referred to .
I Want to fix this.

[2017-06-14 04:26] gideonthomas commented on #2291
Glad to hear it @taisdesouzalessa!

@flukeout I don't have one specifically for that but I think we should start a bug vs. a doc with a list of parity needs and improvements.

[2017-06-14 10:53] xXySniperyXx opened #2300 "Can write code PHP."
Thimble is really a great tool and very useful but it would be really great if you could make sure that one could code in PHP.
Thank you.

[2017-06-14 15:29] flukeout opened #2301 "Add twitter card support to published projects."
So that when they are shared, we'll show something cool on the timeline.

[2017-06-14 15:43] humphd commented on #2301
https://github.com/mozilla/thimble.mozilla.org/pull/1559 is a useful guide here.

[2017-06-14 15:44] humphd commented on #2255
Closing this in favour of #2273

[2017-06-14 15:44] #2255 closed

[2017-06-14 15:46] humphd commented on #2273
We had another set of bad spikes today, and the culprit was once again `DELETE` on a project.  The problem is database `SELECT`s.  Are we selecting the buffers in order to delete them?  Why would we do a `SELECT` at all vs. just doing a SQL `DELETE` where the project id is set?  cc @cadecairos, @gideonthomas.

![screen shot 2017-06-14 at 11 43 34 am](https://user-images.githubusercontent.com/42739

[2017-06-14 16:13] humphd commented on #2300
It's a good suggestions, and has been discussed a few times before (https://github.com/mozilla/thimble.mozilla.org/issues/1583 is one).  We're focused on static web sites with no server-side processing--our goal is to let people write code that can run in their browser with no server, and when we publish, we put project files on Amazon S3 and serve them statically (i.e., there's no server to run t

[2017-06-14 16:13] #2300 closed

[2017-06-14 16:15] humphd opened #2302 "Integrate FPS monitor in console UI"
Today I wanted to measure the affect of some code I was writing, and see how much it affected the browser's frame rate.  I tried a few FPS tools:

* https://github.com/mrdoob/stats.js/
* http://darsa.in/fpsmeter/

I thought it might be cool to include this in the console UI in the top header or something:

![screen shot 2017-06-14 at 12 09 26 pm](https://user-images.githubusercontent.com/427398/27

[2017-06-14 16:59] flukeout opened #2303 "JavaScript changes take too long to take effect."
See below, I'm changing the image source via JavasScript, but the changes aren't reflected in the preview until the projects files are saved. Hitting refresh doesn't speed this up. This makes the code I'm writing seem broken....

![slow-jw](https://user-images.githubusercontent.com/25212/27144792-12e8dd3c-50e8-11e7-8bd2-5b3c109e4fb3.gif)

@humphd Is this something we can address in the SW patch?

[2017-06-14 17:00] humphd commented on #2303
JS files have to be completely re-parsed and run, whereas CSS can be hot-injected.  We have to save/reload to get JS to update.  So it's waiting on the 5second autosave to trigger a reload.

We could somehow indicate to the user that the preview is out of sync, and they could refresh?

[2017-06-14 17:01] flukeout commented on #2303
Yeah, something to indicate what's going on would be nice.

[2017-06-14 17:32] gideonthomas commented on #2273
yeah it's because we do everything at the ORM level. Instead, we can do two optimizations here:
1. Only select the username, published project id which we can use to delete the entire object on S3.
2. Add a migration to make project deletes cascade to file deletes and publishedProject deletes which will in turn cascade to publishedFile deletes. Then, we can just execute a delete query on the proje

[2017-06-14 17:55] flukeout opened #2304 "Don't add empty color swatches in Image Viewer"
Check out this image below. Our code was only able to extract three unique colors for it, but we're still injecting 5 total DOM elements for the swatches. Two of them are unused and they add a gap below the image. We should only inject as many as we need.

![image](https://user-images.githubusercontent.com/25212/27146940-e49f5f5c-50ef-11e7-8315-48e7bd5413e3.png)

[2017-06-14 17:58] humphd opened #2305 "Use new ImageResizer module to reduce existing images in a remix/project open"
In https://github.com/mozilla/brackets/pull/794 we are adding code to reduce the (file) size of big images a user imports.  This code path is not triggered, however, when you open an existing project that includes large images (e.g., when you remix).  The reason is that we write files to disk in Thimble before we mount Brackets, so it just uses what's there.

We could do a scan of the project afte

[2017-06-14 18:00] humphd commented on #2304
That happens here: https://github.com/mozilla/brackets/blob/master/src/editor/ImageViewer.js#L54-L86

[2017-06-14 18:03] flukeout commented on #2304
Here's the image in the test, the now famous "mouse.png"...

![mouse](https://user-images.githubusercontent.com/25212/27147284-0e92f926-50f1-11e7-99b4-9224abaf1477.png)

[2017-06-14 18:08] gideonthomas commented on #2304
We hardcode 5 elements here: https://github.com/mozilla/brackets/blob/master/src/htmlContent/image-view.html#L7-L28

[2017-06-14 18:18] pakTech786 opened #2306 "Project creation in Thimble"
I want to  trace the flow where project is created or updated.I explored browser's localstorage but cannot clearly figure out that project where i am changing the code. I can see <a href="https://github.com/mozilla/thimble.mozilla.org/tree/master/default">Default folder</a>.I tried changing it and then restarted server but still the anonymous project is as it was in previous state.i kept only styl

[2017-06-14 18:20] humphd commented on #2306
Try running `npm run restart-server` after you make your changes.

[2017-06-14 18:31] nailaandleeb commented on #2306
i am not using vagrant.deployed manually

[2017-06-14 18:52] humphd opened #2307 "Add support for auto downsizing non-animated GIFs with ImageResizer"
In https://github.com/mozilla/brackets/pull/794 we're adding auto-resize code, but it currently only works for PNG and JPG files.  For the case of a GIF, we need to know if it's animated or not.

We could possibly adapt this code to check the buffer when it's a `.gif` and see if it's animated:
 https://github.com/mailcharts/animated-gif-detector/blob/master/index.js

[2017-06-14 19:42] humphd opened #2308 "Overwriting an image with same name breaks Image Viewer refresh"
From https://github.com/mozilla/brackets/pull/725#issuecomment-308487007, we have a bug in the ImageViewer code.  If you have a file `image.png` in the filesystem, and you open it, everything works.  If you then drag another file (different contents but same name `image.png`) into the filetree, it will overwrite the existing `image.png` but still show the old image.

The problem is some how relate

[2017-06-14 21:04] flukeout commented on #2299
@humphd @gideonthomas can you weigh in on this stuff?

[2017-06-14 21:46] gideonthomas commented on #2306
where are you making the changes in the default folder? And did you create a new project when you restarted the server?

[2017-06-14 21:54] Rajat-dhyani commented on #1135
Sorry it took me some time, I was afk last weak. I have added a fix to this.
Please review it. @flukeout @Pomax
Thank you 😄

[2017-06-15 05:05] nailaandleeb commented on #2306
i deleted index.html file and there is only style.css.and create new project from scratch is clicked every time.but it is persisting previously made changes instead of loading project from default folder.

[2017-06-15 17:24] flukeout commented on #2295
Seeing this again in another project, this time prompted by a support email

![image](https://user-images.githubusercontent.com/25212/27193716-cc945046-51b4-11e7-99a1-ec244ab45975.png)

![image](https://user-images.githubusercontent.com/25212/27193727-d5ad3684-51b4-11e7-9e30-08e3659a668b.png)

According to the user, the progress they make on the style.css file they are editing is not saved.

[2017-06-15 17:34] humphd commented on #2295
Is it possible that they have this project open more than once, and both are sending files up, which get added with different ids?

[2017-06-15 18:07] flukeout commented on #2295
So, check this out, it's a query showing projects that have duplicate files...

![image](https://user-images.githubusercontent.com/25212/27195147-72d933ae-51ba-11e7-905a-a41e607065c1.png)

Pretty staggering!

* More than 19 thousand projects are in this state
* The top offenders have hundreds of the same file
  * For these projects, it's pretty clear that this is some kind of bug in the editor and

[2017-06-15 18:09] flukeout commented on #2295
cc @cadecairos also for his insight.

[2017-06-15 18:12] flukeout commented on #2295
Can we run a sweet database maintenance task that blows away all extra copies of items with the same path?

We could pick the one that is "larger" since we don't have ``date_updated`` or ``date_created`` in the ``files`` table. We should!

[2017-06-15 18:23] grigoryk commented on #2295
@flukeout at the very least consider first adding date_updated, letting that run for a bit, and deleting duplicates based on that. I think you'll end up screwing up less projects that way.

Making sure this won't repeat itself would be a nice thing to plan out - given that the client bug is located and fixed, you'll probably want to alter `path` to be unique right after you run your clean up query

[2017-06-15 18:25] demajkel commented on #2294
Try overflow-y: scroll;

[2017-06-15 18:45] flukeout opened #2309 "Link Project Titles in the homepage gallery."
Title is highlighted below...

![image](https://user-images.githubusercontent.com/25212/27196626-172d2442-51c0-11e7-81e2-7d454dce0e2b.png)

I think they should link to the published version, same as when you hover over the thumbnail and click "View Project".

[2017-06-15 18:54] cadecairos commented on #2295
this feels dangerous, lol. what if code was removed?

[2017-06-15 18:54] cadecairos commented on #2295
this is a good step.

[2017-06-15 18:55] flukeout commented on #2295
It's possible that the projects that have multiple files are _already_ screwed up, so removing duplicates might actually help.

[2017-06-15 19:00] jschwanebeck commented on #2294
I'd like to work on this

[2017-06-15 20:57] gideonthomas commented on #2295
Plan:
1. On publish, on creation of a file, if the path already exists, execute the update file code path instead and return the updated id. The client will handle it correctly in its existing state.
2. For existing projects, we will handle it when we switch to serverless implementation of storage. Somehow we will decide on which file should be uploaded to the storage provider.
3. No point in addi

[2017-06-15 22:46] flukeout commented on #2269
Should we write different viewers, or add different modes to this one?

[2017-06-15 23:04] flukeout commented on #1576
Whatever this seems old, closing until fresh NEW problems pop up!

[2017-06-15 23:04] #1576 closed

[2017-06-15 23:25] flukeout commented on #2294
Hey everyone, it's scrolling just fine for me on staging in Firefox and Chrome...

![image](https://user-images.githubusercontent.com/25212/27205697-27da3948-51e7-11e7-9bad-42e648fd473b.png)

@jschwanebeck Staging server is on https://bramble.mofostaging.net/ in case you want to check it out too.

[2017-06-15 23:25] #2294 closed

[2017-06-15 23:27] flukeout commented on #2294
I'm guessing that the real issue is that the scrollbar isn't showing when you're using a macbook without a mouse.

[2017-06-15 23:30] flukeout commented on #2286
Hey @ahsanbarkati - have you got your development environment set up? Please try the steps in the README.md file and let us know if you're able to get up and running. That's a good first step.

[2017-06-16 15:43] humphd commented on #2269
Probably we should write separate ones, but refactor out a bunch of the `ImageViewer` because so much of it will be the same across types.

[2017-06-16 15:44] #1917 closed

[2017-06-16 15:48] humphd commented on #2299
+ @cadecairos.

@ryanwarsaw I agree with the idea of making a `passport-webmaker`, yes.  I'd suggest we hold off on also adding Google for now, though we'll want to do that later.  Until we have a migration strategy, and a way to link people's accounts, I don't think this is a wise idea.

Ideally we should be able to convert Thimble to only use "3rd party" providers, by making our own stuff 3rd pa

[2017-06-16 15:52] humphd commented on #2298
I think we can close this, and deal with PDFs via two other fixes: 1) limit total project size; 2) show special UI for non-text types

[2017-06-16 15:52] #2298 closed

[2017-06-16 15:53] humphd commented on #2296
I've already started a PR for this.

[2017-06-16 16:07] humphd commented on #2285
Brackets has Bootstrap already in it, could we just use one of:

* http://getbootstrap.com/components/#alerts
* http://getbootstrap.com/components/#progress

?

[2017-06-16 16:10] cadecairos commented on #2299
+1 passport-webmaker

@humphd is right, until we have a data migration to associate user rows in publish (username) to email addresses in login.webmaker.org, we won't be able to use a true third party login provider.

For now we can continue relying on a 1:1 username relation between publish and webmaker for authentication.

[2017-06-16 16:50] gideonthomas commented on #2306
@nailaandleeb we automatically create an index.html file if it doesn't exist because the editor needs an html file to preview (right @humphd?). Now, if you delete the css file and then create a new project after restarting the server and you see that the css file still pops up in the new project, that would be interesting.

[2017-06-16 16:51] humphd commented on #2297
I'm working on the backend for this in #2296, and I wonder two things:

1) do we want to show this in Brackets or Thimble?
2) depending on the answer to 1), I need to figure out which events matter, and what data we need.

[2017-06-16 17:12] #2277 closed

[2017-06-16 17:12] #2284 closed

[2017-06-16 17:12] #2309 closed

[2017-06-16 18:44] humphd opened #2311 "Decide how to deal with package-lock.json files in Thimble, Brackets, etc"
Especially in Brackets, there are now about a dozen of these (extensions can have their own `package.json`).  Should we be committing these files?  I'd like to figure out a project-wide strategy.

[2017-06-16 19:11] ryanwarsaw commented on #2311
It's intended to be committed into repositories, it's basically like Yarn's lock file just for NPM.

[2017-06-17 05:11] nailaandleeb commented on #2306
Yes it is interesting that empty folder of default/empty-project and default/stay-calm still showing index.html and style.css files in editor.And also creation of new tutorial.html persists after restart.

[2017-06-19 19:50] #2295 closed

[2017-06-19 19:57] humphd commented on #2271
![error-string-colour](https://user-images.githubusercontent.com/427398/27303179-e3fca39a-5507-11e7-9633-0aad81c41928.gif)

Spent some time on this today, and it's a CSS issue, where the text for the `<li>` is white.  I think this is fallout from the default styling changes we made to dialogs.  @flukeout?

[2017-06-19 20:26] humphd commented on #2281
@flukeout did this land?  Can we close this?

[2017-06-19 20:39] humphd opened #2312 "Move Thimble server out of Vagrant"
We wanted to move [Thimble to use node LTS](https://github.com/mozilla/thimble.mozilla.org/pull/1714), but doing it in Vagrant is hard because some other services can't migrate up yet.  What we're going to do instead is update our docs and workflow to move Thimble outside Vagrant, and only run the dependent apps (publish, id, login, ...) inside Vagrant.  This will hopefully make it a bit easier to

[2017-06-19 20:42] humphd opened #2313 "Do some design work to improve running Thimble/Brackets on mobile"
Our code works on mobile, but the experience is bad: sizing is wrong, fonts too small, too much shown without showing the right things, etc.  It would be good to consider whether we can do some responsive design and add breakpoints for a few screen sizes to show/hide/emphasize various bits of the UI.

For example, on a narrow screen, we could move the filetree to a hamburger menu.  ON a really nar

[2017-06-19 21:33] flukeout commented on #2297
I think we should show it in Brackets, in the file tree specifically. This will reduce the complexity involved in terms of passing the data back and forth. Here's one take on this...

![image](https://user-images.githubusercontent.com/25212/27306882-3e00e844-54fc-11e7-8acb-c3227f23968d.png)

[2017-06-19 22:10] flukeout commented on #2271
Thanks for catching that @humphd - I screwed this up when I removed the "dark" theme from the modals. Will fix.

[2017-06-19 22:12] flukeout commented on #2281
Yep landed in brackets, closing.

[2017-06-19 22:12] #2281 closed

[2017-06-20 11:33] demajkel commented on #2271
if the background is dark, the font should be light :) at Your place I would change the background color of the modal to dark not remove or change color of the fonts :) This issue can come back later in another place ;)

[2017-06-20 16:44] humphd commented on #2297
I've got the [backend for this all ready](https://github.com/mozilla/brackets/pull/800).  If you want to plug into the places I've marked off with `// TODO` in `UI.js`, this should all work now:

https://github.com/mozilla/brackets/pull/800/files#diff-21109d7bb135d8b29240c262a954659eR374

I give you the formatted size, total, and percentage, as well as hooks for when we've gone over capacity, and

[2017-06-20 16:53] #2271 closed

[2017-06-20 17:23] flukeout commented on #2297
@humphd I'm having an issue where this code only runs after ``npm run build`` in brackets. I'm running just bracktes via ``src/hosted.html``. Changes I make to ``ProjectStats.js`` don't have an effect until I do another build. Is that how this is supposed to work or am I missing a piece of the puzzle?

[2017-06-20 18:17] humphd commented on #2311
Data point: https://github.com/mozilla/publish.webmaker.org/pull/258

[2017-06-20 18:20] #2283 closed

[2017-06-20 19:03] humphd opened #2314 "Fix remove and rename calls to UrlCache for folders"
We need to confirm that we properly remove and rename the children of folders when we call `UrlCache.rename()` and `UrlCache.remove()` in Brackets.  We need to check/fix both the Blob and CacheStorage providers.

[2017-06-20 19:13] flukeout commented on #2297
Okay, as far as I can tell, this is reporting things correctly and firing the "showExceeded" and "hideExceeded" events appropriately. R+ from me. Once this hits, I'll start building the indicator UI on top of it.

[2017-06-20 19:23] flukeout opened #2315 "[Staging] Renaming a file keeps a copy of the original after reload."
Steps to reproduce
* Create a new project
* Rename the index.html file to blam.html (or whatever)
* Reload the editor
* In the file column, you'll see the original and the renamed html file

<img src="https://user-images.githubusercontent.com/25212/27351755-3c98cae6-55b3-11e7-8810-c5f5a069277a.png" width="300" />

[2017-06-20 19:26] flukeout commented on #2315
This also happens with deleted files by the way. Try to delete a file, and then reload the editor. It's back!

[2017-06-20 19:31] humphd commented on #2315
I'm pretty sure this is us automatically creating an `index.html` file when the project doesn't have one.

[2017-06-20 19:32] flukeout opened #2316 "Feature Request - After adding an image file to your project, open it in the editor."
Right now, it gets added to the file tree, but the view doesn't switch away from what you were currently doing. I think it would be nice to switch to, as a confirmation that a) it worked and b) that you uploaded the right image.

[2017-06-20 19:32] flukeout commented on #2316
We could add some sort of callback to the image resizing code to do this maybe?

[2017-06-20 19:33] flukeout commented on #2315
@humphd Yeah sorry, maybe index.html wasn't the best test scenario, but this happens to ALL files that are renamed, as well as files that are deleted, so it's not isolated to our ``index.html`` logic.

[2017-06-20 19:38] humphd commented on #2315
I tried with the `style.css` file, and I'm not able to reproduce this, whether logged in or anonymous.

[2017-06-20 19:38] flukeout opened #2317 "[Staging] Number of files streamed in network tab in dev tools doesn't match project"
See below, I have an 8 file project, but the network tab only shows 5 unique files being streamed in.
Some of these files are the ones that have been renamed (and magically came back) #2315 - so maybe that's part of the issue?

![image](https://user-images.githubusercontent.com/25212/27352365-532696ba-55b5-11e7-889a-d3f412d784c5.png)

[2017-06-20 19:44] flukeout opened #2318 "Bad styling on file name when right clicked."
See below, when you right click a file...

<img src="https://user-images.githubusercontent.com/25212/27352588-170bdd06-55b6-11e7-95bb-e91743c1b88c.png" width="300" />

The name of the file ``index`` is fainter than the extension ``.html``. They should be the same.

[2017-06-20 19:59] humphd commented on #2317
I think this is related to #2315, and should potentially get fixed by https://github.com/mozilla/thimble.mozilla.org/pull/2319.

[2017-06-20 20:02] humphd commented on #2316
We used to do this, and I think I removed it.  It's certainly doable.  There's a [function in the dnd code for doing it](https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js#L137), we just need to call it when we're done importing.

[2017-06-20 20:17] #2315 closed

[2017-06-20 21:50] flukeout commented on #2316
Do you remember why we removed it @humphd

[2017-06-20 22:01] humphd commented on #2316
I honestly can't remember.  I think it might have been an optimization for when you drag and drop a ton of files in, and it tries to open them all at once.  But I can't remember all the details.  It's not hard to put back in if you want it.

[2017-06-20 22:02] flukeout commented on #2316
Yeah, that's a good point, makes sense to just open it at the end of a multi-file import on whatever image we finish on.

[2017-06-20 22:02] flukeout commented on #2316
I think one-at-a-time imports will still be our default mode for this feature though.

[2017-06-20 22:14] flukeout opened #2321 "[Staging] Super fast refresh after rename or delete still causes duplicate file."
STR
* Rename a file or delete a file
* Immediately refresh after you do it
* Deleted/renamed file is still there

So I guess there is some timing issue where we remove the file from the file-tree, but don't have enough time to send the event to the server or update it in the indexedDB? Can we delay updating the UI until we've done so?

![duplicates](https://user-images.githubusercontent.com/25212/

[2017-06-20 22:19] humphd commented on #2321
Between you doing a file operation, and it actually completing, a whole bunch of asynchronous calls have to complete, including:
* process the file change in brackets
* update the URL cache
* send the file operation over the iframe via `postMessage`
* actually do the indexeddb change
* return the result over the iframe via `postMessage`
* update `localStorage` with sync info

Any of these can fail

[2017-06-20 22:37] flukeout commented on #2321
No, I get that - I guess that's a lot of moving parts so maybe we can just ignore this. It's an edge case that I guess it was nice if we could recover from. Maybe we could delay making the update in the UI until we hear back that yes, the file has been deleted? Happy to close it too, it's fairly fringe

[2017-06-20 22:45] flukeout commented on #2321
@humphd - the other thing I wanted to mention is that I feel like making this happens throws the project into a weird state, because the number of files streamed (in the network tab, filtering for ``/files``) no longer matches the stuff in the project. Is that an issue?

After renaming and quick-refreshing, I'm left with 3 files in the filetree...

<img src="https://user-images.githubusercontent.c

[2017-06-20 22:50] flukeout opened #2322 "[Staging] Images dragged in to project within a .ZIP archive are not resized."
I've got a .zip with a few images that are larger than 250kb. When I drag the folder in, none of the images get resized when they are imported. Like this one...

![image](https://user-images.githubusercontent.com/25212/27359367-3b7da0d8-55d0-11e7-921d-50858ac741c5.png)

[2017-06-20 22:51] humphd commented on #2321
My guess, in the case above, is that you have 2 files streaming in (`style.css` and `zingo.html`) and it automatically creates `index.html` because there isn't one, which means you end up with 3 files, where only 2 get loaded.

You can check the `Response` tab in your Dev Tools > Network to see what's in the `meta` (should list all the paths and IDs), and what each file was:

![file-contents](http

[2017-06-20 23:07] flukeout commented on #2321
In addition, check this out...

https://thimbleprojects.mofostaging.net/flukeout/163/

A published project with 3 files. But only two streamed in...

![image](https://user-images.githubusercontent.com/25212/27359773-741e693e-55d2-11e7-94eb-4975e99ca5fd.png)

The published version doesn't have the index.html file.

![image](https://user-images.githubusercontent.com/25212/27359798-924772fc-55d2-11e7

[2017-06-20 23:21] humphd opened #2323 "Harmonize all read/write filesystem access in Brackets"
I https://github.com/mozilla/brackets/pull/803 I fixed a bug where we were using the wrong level of abstraction for the filesystem.  We have 3 or 4 ways to get access to the filesystem, and probably should only use the built-in Brackets API.  Usually we just want to read or write a file (binary or text), and we should just write some helper APIs and always use those vs. working with the fs directl

[2017-06-20 23:48] flukeout opened #2324 "Filename in dialog is the wrong color."
This pops up after you import a ZIP archive, the filename is the wrong color. Related to the dialog restyling that I did earlier.

![image](https://user-images.githubusercontent.com/25212/27360799-1e2a54ba-55d8-11e7-8478-e9ec739c5a61.png)

[2017-06-21 00:00] flukeout opened #2325 "Change font style for filenames in dialogs so that they are easier to see when scanning."
For example, in this dialog...

![image](https://user-images.githubusercontent.com/25212/27361108-fefd9f0a-55d9-11e7-86d2-1002259609f1.png)

I think we should make the filename more prominent via bolding or something like that?

[2017-06-21 00:09] flukeout opened #2326 "[Staging] Failed saving error..."
Was just making random edits to the index.html page in this project and suddenly started seeing the failed saving error...

![image](https://user-images.githubusercontent.com/25212/27361289-2a7ab0d6-55db-11e7-8b5e-ac26a18b2c3f.png)

Will investigate more.

[2017-06-21 00:09] flukeout commented on #2326
After reloading, looks like something is down in the back end?

![image](https://user-images.githubusercontent.com/25212/27361303-412b7c66-55db-11e7-9a65-bb34ffd355d3.png)

Getting the Black screen in the editor.

[2017-06-21 00:11] flukeout commented on #2326
cc @gideonthomas - this started happening about 5:10 PM PST for reference.

[2017-06-21 01:46] humphd commented on #2326
Error comes from https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/project/metadata.js#L266, and means we didn't really have error info, so yeah, probably pretty bad.

[2017-06-21 16:48] flukeout opened #2327 "[Staging] Auto-added index.html doesn't make it to the published version."
![bingo](https://user-images.githubusercontent.com/25212/27396048-bc9158cc-5666-11e7-8112-b491e741cd29.gif)

Steps in this gif
* Create a brand new project
* Rename the ``index.html`` file
* Reload browser (doesn't have to be fast)
* New ``index.html`` gets added
* Publish the project
* The published version doesn't have the ``index.html`` file

[2017-06-21 16:51] flukeout commented on #2327
From ``logging=1`` - This starts from the point where I reload the project after renaming the original index.html file..

[code]

[2017-06-21 17:14] flukeout opened #2328 "[Latest Master Brackets] Uploaded image 404s after refresh."
Running brackets from ``localhost:8000`` - I upload a file (less than 250kb). It shows up fine, but when I refresh the browser, the image 404s...

![image](https://user-images.githubusercontent.com/25212/27397128-31e83c14-566a-11e7-8af4-d9603246a635.png)

Log...

<img src="https://user-images.githubusercontent.com/25212/27397155-4096f782-566a-11e7-9965-eb9105e36773.png" width="300" />

File I used

[2017-06-21 17:24] flukeout commented on #2328
This seems to happen to at least one of the images in a project. I've got another setup now with 3 images, and one of them is often 404-ing. It's not always the same one, and sometimes all of them work.

[2017-06-21 17:55] #2327 closed

[2017-06-21 18:00] gideonthomas commented on #2326
Are we still seeing this?

One of the dynos might have gone down.

[2017-06-21 18:27] flukeout commented on #2326
Not seeing it anymore. Closing.

[2017-06-21 18:27] #2326 closed

[2017-06-21 20:30] flukeout opened #2330 "New features not reflected/delayed on production."
After today's push, we noticed that some of the new code changes don't work reliably. For example, with Image resizing, it works for me on Chrome, but not in Firefox.

Chrome showed me the blue update bar, but Firefox never did. What could be the cause of these symptoms. I think for @gideonthomas, neither browser has the latest changes.

Curious what could be causing this. In my case, both browser

[2017-06-21 20:34] flukeout commented on #2330
Ok, shutting down Firefox and restarting it brought up the Blue Refresh bar. Refreshing made the new changes show up. Can you try the same @gideonthomas ?

[2017-06-21 22:37] flukeout opened #2331 ""Unzip Completed Successfully" dialog only shows up when 1 of 3 available ways to import is used."
This dialog here...

![image](https://user-images.githubusercontent.com/25212/27409630-4bff5394-5697-11e7-9ac3-9df82596e56f.png)

Only shows up if you use the **Upload Files** dialog and select **From your Computer...".

If you drag it in directly or drag it into the Upload Files dialog, the notice doesn't show up.

Let's show the notice no matter the method used.

cc @humphd

[2017-06-21 22:47] flukeout opened #2332 "OK and Cancel actions not in the same spot within modals."
Move to dialog...

![image](https://user-images.githubusercontent.com/25212/27409903-ced1aa82-5698-11e7-990b-cd862a5ae795.png)

Delete file dialog...

![image](https://user-images.githubusercontent.com/25212/27409910-dab77a7a-5698-11e7-8b26-80b8111ec56a.png)

Let's go with a [Cancel] [Confirm] pattern.

[2017-06-21 23:13] flukeout opened #2333 "Image Viewer: "LightMuted" swatch always comes back as undefined."
Pretty much any image I try, this swatch is always undefined. It's supposed to try to give us 6 swatches, but never seems to give more than 5.

![image](https://user-images.githubusercontent.com/25212/27410445-7804ce24-569c-11e7-8f4f-3758e59a6d4e.png)

[2017-06-21 23:51] flukeout commented on #2304
Addressed in PR https://github.com/mozilla/thimble.mozilla.org/issues/2304

[2017-06-22 03:00] flukeout commented on #2302
Would it be affected by being inside the editor though?

[2017-06-22 15:05] flukeout opened #2334 "Remove double-click to rename file feature?"
While seemingly handy, I'm having two issues on my end...

* I can't get it to work reliably
* Sometimes I trigger it accidentally

It's a hard to find feature that sometimes comes up by accident. And since we will also be adding an affordance for the right click menu (in progress) then I think we can nuke this.

Thoughts @Pomax @humphd - can you reliably double-click to edit the filename?

[2017-06-22 15:08] humphd commented on #2328
This is fixed on my service worker PR for Brackets, closing.

[2017-06-22 15:08] #2328 closed

[2017-06-22 15:11] #2318 closed

[2017-06-22 15:26] humphd commented on #2330
This is probably more a learning issue for us about releasing and announcing, than a technical one.  The problem here is that the Service Worker for Bramble caches all the code so it will run offline.  When we push new code to staging/prod, we re-generate the service worker cache, and update our hashes for each file (i.e., it knows when any content changes at the byte level).

The service worker s

[2017-06-22 15:27] humphd commented on #2331
Can we pair this with https://github.com/mozilla/thimble.mozilla.org/issues/2285?  I really want to move that forward so we properly signal that we're doing work in long running processes like import, resize, unzip, untar, etc.

[2017-06-22 15:41] humphd commented on #2302
We can do some tests, I don't think it will matter.

[2017-06-22 15:43] humphd commented on #2334
I often end-up renaming when I just want to select, so I'm fine to remove this.  They have a bunch of hacks in https://github.com/mozilla/brackets/blob/master/src/project/FileTreeView.js to deal with it based on timers, and I suspect it's just buggy.

[2017-06-22 15:47] humphd commented on #2290
Merged, fixed.

[2017-06-22 15:47] #2290 closed

[2017-06-22 15:48] humphd commented on #2036
This is landing today, and it fixes the case discussed here.  I'm going to close this.  It should hit production in a week or two.

[2017-06-22 15:48] #2036 closed

[2017-06-22 15:56] flukeout commented on #2330
Okay that sounds good. It's easy enough to change the messaging around that stuff.

[2017-06-22 15:56] #2330 closed

[2017-06-22 16:00] gideonthomas opened #2335 "[Collaboration] Prototype 1 - Multi-file infrastructure"
## Overview
The bare-bones infrastructure for having multiple files synced across collaboration sessions at the file system level.

## Goals
1. Deal with unique rooms - Having unique sessions based on url
2. Investigate WebRTC server requirements
   - What kind of servers do we need?
   - Do we need to modify the server logic? If so, should we fork the repo and publish to npm.
   - How do we hook

[2017-06-22 16:01] flukeout commented on #2334
Sounds good to me!

[2017-06-22 21:36] humphd opened #2336 "Deal with rename case for folders in ProjectStats rename"
Similar to https://github.com/mozilla/thimble.mozilla.org/issues/2314, in the Bramble API, the `ProjectStats` module needs to deal with folders in the `rename` case, and update all child paths to also have the proper parent name.

[2017-06-22 21:56] humphd opened #2337 "[Firefox] Autocomplete for colours has bad spacing"
![screen shot 2017-06-22 at 5 54 54 pm](https://user-images.githubusercontent.com/427398/27457800-0d556e7a-5774-11e7-9cab-69ed56a4ee01.png)

vs. Chrome:

![screen shot 2017-06-22 at 5 56 15 pm](https://user-images.githubusercontent.com/427398/27457821-1e955ed4-5774-11e7-955d-5ecb4edbbbd9.png)

[2017-06-23 05:50] hkirat commented on #2210
Other than the startup sync, everything else has been implemented [here](https://github.com/mozilla/brackets/pull/801).
Working on the fourth point now.
Most probably we will be using an event which is fired when a new client joins.

[2017-06-23 12:37] hkirat opened #2338 "Shift collaboration to file system level"
Right now, Collaboration works only between two open codemirror instances. This is fine as long as we have one file, but if we have more then one file, the changes made by a user in one file will show up in the file opened by the connected users in different files.

Right now, only the text inserted/deleted in each go is transmitted to the connected peers.
We should probably add a new parameter th

[2017-06-23 12:41] hkirat commented on #2338
Sorry opened in the wrong repo.
Closing now and reopening in brackets.

[2017-06-23 12:41] #2338 closed

[2017-06-24 16:17] humphd opened #2339 "Create a FontViewer editor, so people can "open" font files"
People [put font files in projects](https://github.com/mozilla/thimble.mozilla.org/issues/1326#issuecomment-307450487), but we offer no way to look at them in the editor.  We could probably follow the lead of https://github.com/TomMalbran/brackets-fonts-viewer and build a `FontViewer`, similar to the `ImageViewer` we have now, and the [`VideoViewer`](https://github.com/mozilla/brackets/pull/807) @

[2017-06-24 16:28] humphd commented on #2339
@pomax, this seems like something you might have ideas on.  If you have any tips for what we might include/do here, please add them.

[2017-06-24 16:31] humphd opened #2340 "Consider integrating DevDocs.io somehow"
[DevDocs.io](http://devdocs.io/about) is cool.  I wonder if we should expose this within Thimble somehow?  It could be just a link from the Help menu, or we could do [an extension that shows](https://github.com/gruehle/dev-docs-viewer) it.

[2017-06-26 06:15] hkirat opened #2341 "Let users make unique rooms while collaborating on brackets"
### Description

Right now in the collaboration PR #801, each user is added in the same room. See [this](https://github.com/mozilla/brackets/pull/801/files#diff-172c2aa71bb7326386a85125ccd13603R19).
Next step should be to let users make unique rooms so that the editors dont conflict while they are collaborating
### Steps to Reproduce
When pushed to production, all collaborative instances will emit

[2017-06-26 06:16] hkirat opened #2342 "Sync files in filesystem between webrtc clients"
Right now, Collaboration works only between two open codemirror instances. This is fine as long as we have one file, but if we have more then one file, the changes made by a user in one file will show up in the file opened by the connected users in different files.

Right now, only the text inserted/deleted in each go is transmitted to the connected peers.
We should probably add a new parameter th

[2017-06-26 16:06] humphd opened #2343 "Local dev shouldn't depend on having internet"
I've been working without internet the past few days, and it's proved to be pretty frustrating.  One of my issues is that we now depend on external resources that we don't host, for example:

[code]

Is it possible for us to move these resources into our tree so we don't have to connect to remote hosts for things we need?  I notice that Google has all their fonts on github, for example:

https://g

[2017-06-26 18:00] humphd commented on #2298
https://github.com/mozilla/brackets/pull/815 fixes this.

[2017-06-26 18:01] humphd commented on #2270
Adding support for PDFs here https://github.com/mozilla/brackets/pull/815

[2017-06-26 18:12] humphd commented on #2342
I agree that you're going to need a "routing" layer, which can deal with the path of the current editor.  Editors have `getFile()`, which returns a `File` object, which you can use to do `file.fullPath`.  This path will be absolute in the local filesystem, and each user will have a different root for his/her project files.  You can access that info using the `bramble/StartupState` module:

[code]

[2017-06-26 18:16] humphd opened #2344 "Consider always "resizing" JPG and PNGs to strip private exif, geo, etc. data"
We added automatic image resizing code for images >250K.  One of the nice side effects of this, is that we also now automatically strip any EXIF data from JPGs, or text/data chunks from PNG.  This is important so users don't accidentally overshare location information when dragging an image into a project.

My question is whether we should do this same thing for images under 250K, and instead of r

[2017-06-26 18:20] humphd commented on #2333
Now that you've added code to only show swatches that have values, do we care about this anymore?  When it exist, we'll show it; when it doesn't, we won't.  Seems fixed to me.

[2017-06-27 05:49] hkirat opened #2345 "Initialize the editor of new clients before they start collaborating"
Right now, only insert and delete events are transmitted via webrtc.
If a new client joins, there should be another event which initializes his/her code editor with what the connected clients have in their code editor.

[2017-06-27 17:01] hkirat commented on #2345
Implemented this in [this](https://github.com/mozilla/brackets/pull/801/commits/723b7f75943177de1273535023cec00645c90313) commit

[2017-06-27 17:15] Pomax commented on #2290
Although on an HTML note this is really bad markup and should really be giving people warnings along the lines of "this used to be how we did things in HTML4.1, a version of HTML from 1998, but is no longer how we do things. If you want a clickable thing in HTML5 that is **not** a navigating link, use a `<button>` and use CSS to turn off borders and coloring"

[2017-06-27 18:42] Pomax commented on #2344
That's not a bad plan, but an unintended side effect is that stripping EXIF also removes copyright and license information. In some countries, that means the image is now "free for all", and in others it means it's now "all rights reserved"... do we want to try to sort that out as well?

[2017-06-28 06:11] hkirat commented on #2334
I think there is a functionality to rename on a single click as well.
Which is what might be causing confusion.
Reference: https://github.com/mozilla/brackets/blob/master/src/project/FileTreeView.js#L441 and https://github.com/mozilla/brackets/blob/master/src/project/FileTreeView.js#L417

If we remove this, rename would take place only on a double click. Would that be a better option than removing

[2017-06-28 06:13] #2232 closed

[2017-06-28 06:48] hkirat opened #2346 "Show cursor position of connected clients while collaborating"
In the current version of collaboration implemented in [#801](https://github.com/mozilla/brackets/pull/801), cursor position of connected clients is not emitted.
I think being able to see the cursor of the clients would make the collaboration process more fluent.

Some things we might need to figure out in this:
 - What events does codemirror emit to recognize movement of the cursor. I found one `

[2017-06-28 07:12] hkirat opened #2347 "Add an option to include external libraries directly."
Not sure if there has already been a discussion on this.
How would it be to include a feature that allows users to load external libraries, without including them in the source code.
Eg: If a developer wants to learn aframe, we could include aframe.js and he can get to development directly

We would provide an option for famous libraries like jquery, processing(p5.js) etc.

While exporting the pro

[2017-06-28 14:17] hkirat commented on #2342
Hey @humphd
Could you elaborate a little more on this one:
[code]
Rest of them work fine.

[2017-06-28 19:10] humphd commented on #2342
When we create projects locally, we write to a so-called "project root" directory.  It's something you can guess, since it will be different for anonymous and authenticated users.  It's the directory that Brackets "mounts" (i.e., what Thimble tells the Bramble API to `mount()`).  Within Brackets you can get that dir by using `StartupState.project("root")`.  The `hosted.js` file uses `var projectRo

[2017-06-29 16:03] humphd commented on #2347
We've discussed this before, yes, and there are differing views on the right approach.  Some people think we should go this route, and others think you should provide pre-baked projects you can fork that have what you want already included/setup.

Thimble is about projects of files, so if you want to build a Bootstrap project, AFrame project, etc we should provide one that you can remix and get st

[2017-06-29 16:07] humphd commented on #2346
http://codemirror.977696.n3.nabble.com/Show-Multiple-Cursors-td4026144.html gives some hints.

From the CodeMirror manual:

    Returns an {left, top, bottom} object containing the coordinates of the cursor position. If mode is "local", they will be relative to the top-left corner of the editable document. If it is "page" or not given, they are relative to the top-left corner of the page. If mode

[2017-06-29 16:10] humphd commented on #2344
I think the benefits of stripping fingerprinting data from images outweighs any non-web usable, embedded copyright info that an image might have, given our target audience.

[2017-06-29 16:14] humphd commented on #2342
One thing you could do is recursively walk the project root and send the contents of each file.  I have a skeleton for this already written in https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/FileSystemCache.js.  Here, I walk the project root down and cache files as URLs.  You could modify that code to send the contents over webrtc.

[2017-06-29 19:01] humphd commented on #2339
Fix for this happening in https://github.com/mozilla/brackets/pull/819.

[2017-06-29 19:11] Pomax commented on #1700
@Blackweda it looks like this kind of died. I assume you're no longer working on this?

[2017-06-29 20:30] Pomax commented on #2339
what kind of UI are you thinking here? A kind of fontbook style "scroll through all the supported characters"? Given that webfont support is baked into browsers, it feels like the brackets extension is super overkill. We could simply make an html file template that uses a css font-family matched to the font file itself, which then makes the browser rendering all that text with the font applied.

[2017-06-29 20:37] Pomax commented on #2344
I disagree with the "non-web usable" part (what we're actually seeing is a harsh lack in proper copyright acknowledgement by browsers, which *should* be exposing this information with a simple context menu option when used in conjunction with media resources) but I can get behind the "this is irrelevant for our audience" part.

The resize should be fast for images that are already under 250kb, so

[2017-06-29 20:48] Pomax commented on #2249
added for Edge.

[2017-06-29 20:48] #2249 closed

[2017-06-29 21:53] flukeout commented on #2339
That sounds like a good idea @Pomax - an extra benefit of having a view like that is the ability to find, and then copy and paste special characters and stuff like that.

[2017-06-29 22:00] humphd commented on #2339
Let's continue this discussion in https://github.com/mozilla/brackets/pull/819 please.

[2017-06-29 22:03] humphd commented on #2344
I think we'll have to alter our code slightly for the <250K case.  I tried it and it made small images larger, which isn't our goal for sure.

[2017-07-01 10:59] hkirat commented on #2347
Yes that makes sense. However I think that the showcase on Thimble's homepage is pretty restricted (6 projects to remix from).
What if we could add a button somewhere in the topbar as a dropdown which lists some of the common library's starter projects.
cc @flukeout

[2017-07-01 14:17] hkirat commented on #2335
Unique rooms implemented in #820.
However, #801 must be merged before this.

[2017-07-04 16:56] humphd opened #2348 "Renaming or Removing an open file should close an open editor"
While fixing #2314, I ran into this:

![screen shot 2017-07-04 at 12 54 56 pm](https://user-images.githubusercontent.com/427398/27838351-13b0a954-60b8-11e7-8811-f97903854f5a.png)

In this case, I had a file open (`goto.js`) and I deleted the parent folder.  This left a stranded editor with no backing file.  We should first close any open editors for a given path, before we destroy the file.

[2017-07-04 17:35] humphd commented on #2348
I suspect we can fix this by calling these https://github.com/mozilla/brackets/blob/master/src/document/DocumentManager.js#L458-L529 from within UrlCache methods.

[2017-07-04 19:03] gideonthomas commented on #2348
isn't it just because we aren't using the right filesystem abstraction wherever this is called? Shouldn't brackets already do this?

[2017-07-04 20:15] #2323 closed

[2017-07-05 16:17] gideonthomas commented on #2342
Discussion from chat:

Two clients are connected. There are 2 files - index.html and style.css. Client 1 has index.html open and client 2 has style.css. Client 1 types in index.html and will send codemirror events over webrtc over every key press or whatever it is right now. Client 2 receives these events and ignores these codemirror events because it does not have index.html open in the editor. O

[2017-07-05 16:56] hkirat commented on #2342
This makes sense. However there are a few corner cases I can think of:
 - Client 2 shifts to `index.html` before the nth second and hence doesn't have the changes made by client 1 yet.

[2017-07-05 20:29] #2210 closed

[2017-07-05 23:04] flukeout opened #2349 "".ogv" and ".webm" video file types not supported, but should be."
Try to drag in an ``.ogv`` video file. It's the OGG video format and one of the ones supported by HTML5 natively.

Test files below...

* [small.ogv.zip](https://github.com/mozilla/thimble.mozilla.org/files/1126269/small.ogv.zip)
* [small.webm.zip](https://github.com/mozilla/thimble.mozilla.org/files/1126280/small.webm.zip)

When I drag either into the sidebar I see...

![image](https://user-image

[2017-07-06 01:44] ryanwarsaw commented on #1752
See: https://github.com/ryanwarsaw/passport-webmaker.

Works flawlessly, just needs to be deployed to NPM (soon) and I also need to toss all of my documentation work in there too. Probably in the next day or so. Then we can proceed with this.

[2017-07-06 01:57] humphd commented on #1752
Let's move https://github.com/ryanwarsaw/passport-webmaker to the mozilla org so it is easier to maintain.  Thank you for driving this, @ryanwarsaw.  Awesome to see this happening.

[2017-07-06 02:00] ryanwarsaw commented on #1752
@humphd I have access to create repositories on this organization but wasn't sure if there was some kind of policy for doing it, so I worked on it under my own repository instead.

[2017-07-06 09:29] hkirat opened #2350 "Investigate ways of having a local turn and stun server for collaboration using webrtc"
Right now we are using the default turn server of simplewebrtc for communication.

After discussing with @gideonthomas, I think it would be appropriate to have local instances of turn servers running along with the brackets code.

This would prevent leaking of data while developers test the application.
This is the repo used as a server: https://github.com/andyet/signalmaster
We might modify this

[2017-07-06 11:46] hkirat commented on #2350
Tried this locally. Works fine.
I think we would need to do the following:
 - Install signalmaster via npm: https://www.npmjs.com/package/signal-master
 - In npm run start, along run another script, node `node_modules/signal-master/server.js`
However script needs to be run in paralell with the current http-server script

[2017-07-06 12:34] hkirat commented on #2350
Found this: https://www.npmjs.com/package/concurrently
Would it be good to include this in our node modules and use it?

[2017-07-06 13:07] cadecairos commented on #1752
@ryanwarsaw if you add me to your repo with admin permissions, I can transfer it into mozilla and set the right team permissions.

[2017-07-06 14:05] hkirat commented on #2335
Shifting WebRTC server development going on in [#824](https://github.com/mozilla/brackets/pull/824)

[2017-07-06 16:13] pranavkumar2015 commented on #2332
The thing that you intend to do can be done directly through the UI (frontend), with the functionalities editing in the backend.

[2017-07-06 16:16] pranavkumar2015 commented on #2325
I volunteer for this issue.

[2017-07-06 18:12] hkirat opened #2351 "Set url for Collaboration server through bramble API"
In reference to https://github.com/mozilla/brackets/pull/824#discussion_r125974184

[2017-07-06 18:23] hkirat commented on #2351
Hey @gideonthomas
Could you elaborate a little on what is expected here.

[2017-07-06 18:36] hkirat opened #2352 "Shift logic for unique rooms to bramble api"
Right now the logic for creating a unique hash and parsing it for different clients is done directly in `Collaboration.js` and `hosted.js`. This needs to be shifted to the bramble api.

In reference to https://github.com/mozilla/brackets/pull/820#discussion_r125975030 and https://github.com/mozilla/brackets/pull/820#discussion_r125976347

[2017-07-06 18:59] gideonthomas commented on #2325
Hi @pranavkumar2015, it looks like this issue was already fixed but we forgot to close it. You might want to check out some of the other issues we have [here](https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22Good%20First%20Bug%22%20-label%3A%22Assigned%20to%20Contributor%22) to see if anything interests you.

[2017-07-06 18:59] #2325 closed

[2017-07-06 19:02] #2350 closed

[2017-07-06 19:18] gideonthomas commented on #2351
We want to augment the options passed to [Bramble.load](https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L131) so that it also accepts collaboration options (url, room name, etc.). We would want to store that in a variable here. Then, probably around [here](https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L306), you want to postMessage the collab

[2017-07-06 19:19] #2268 closed

[2017-07-06 19:21] #2332 closed

[2017-07-06 19:22] #2324 closed

[2017-07-06 19:25] gideonthomas commented on #2340
+1 to a simple UI solution vs. tightly integrating it in Brackets (which I have tried before and given up because of how complicated it is).

cc @flukeout

[2017-07-06 19:27] gideonthomas commented on #2304
@flukeout you linked to this issue lol

Fix in mozilla/brackets#806

[2017-07-06 19:29] gideonthomas commented on #2297
@flukeout I think that's right, `ProjectStats.js` is in `src/bramble/client`. Any changes made in that folder requires a re-build.

[2017-07-06 20:03] hkirat commented on #2351
This looks like the perfect approach.
And where would Collaboration.js reside?

[2017-07-06 20:11] hkirat commented on #2351
You think it would be wise to have a Collaboration folder? With a CollaborationManager that we can probably include in RemoteCommandHandler?

[2017-07-06 20:42] gideonthomas commented on #2351
I'm not sure tbh, I'd say go with what you feel is right. I don't think we have created folders in the src/ dir directly before but I don't see why not. It really depends on how much code we intend to write. If we anticipate writing a lot of code, it's better to break them into modules in a folder/file structure (my opinion).

[2017-07-06 21:48] Blackweda commented on #1700
yea, it was pretty frustrating and looked like the project evolved past a need for this anyways.

[2017-07-07 06:26] hkirat commented on #2351
I wouldn't want to disturb the directory structure of brackets. We could restrict to a new folder inside the editor folder if that seems like a good option.
Or I could start with that and later we could shift accordingly.

[2017-07-07 14:50] cadecairos commented on #1659
@gideonthomas Is there anything actionable we can get out of this issue, or should we close it out?

[2017-07-07 17:39] gideonthomas commented on #1659
I think we can close. Will reopen if we decide to stick to the vagrant setup.

[2017-07-07 17:39] #1659 closed

[2017-07-07 17:40] gideonthomas commented on #2351
I think in that case let's just stick to a single file. We can modularize it later into folders (I don't think we want to create a folder in Editor).

[2017-07-07 17:41] hkirat commented on #2351
Sticking to `src/editor/Collaboration.js` for now

[2017-07-07 19:15] hkirat commented on #2341
Good to close @gideonthomas ?

[2017-07-07 19:19] hkirat opened #2353 "Emit events other than codemirror events while collaborating"
Along with the codemirror events that are sent while collaborating, there are a few others that we need to tackle:

 - [x] Create an empty text file
 - [x] Delete a file
 - [x]  Rename a file

[2017-07-07 19:36] humphd commented on #2353
Checkout `filesystem/FileSystem.js` and https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/FilerFileSystem.js#L423, which allow you to setup watches on dirs/files.

[2017-07-07 19:43] #2341 closed

[2017-07-07 23:40] flukeout opened #2354 "DEV: "npm run test" in brackets adds a bunch of files to repo."
![image](https://user-images.githubusercontent.com/25212/27980383-ef5c3442-6332-11e7-9b15-2cecb623ba66.png)

Is that normal?

[2017-07-08 17:51] gideonthomas commented on #2354
This is correct but should be git ignored.

Change needs to be made here: https://github.com/mozilla/brackets/blob/master/.gitignore to add the `.grunt` folder

[2017-07-08 22:51] DanielBrown3108 commented on #2250
Hi @flukeout
I want to add up on some suggestions that @serendicoder was making for the error messages
    Something went wrong...
    Somethings not right here...
    Hmm, that's not right...
    Darn, somethings wrong on our end...
    Hold up!

That's all for now.

[2017-07-09 22:23] gideonthomas commented on #1841
Closing as we're no longer using TogetherJS

[2017-07-09 22:23] #1841 closed

[2017-07-09 22:27] gideonthomas commented on #1837
Will file follow-up issues about revision history once we get our foundational prototypes set up.

[2017-07-09 22:27] #1837 closed

[2017-07-09 22:28] gideonthomas commented on #1835
Closing since we're implementing the fs syncing using webrtc

[2017-07-09 22:28] #1835 closed

[2017-07-09 22:30] #1879 closed

[2017-07-09 22:30] #1878 closed

[2017-07-09 22:30] #1880 closed

[2017-07-09 22:32] gideonthomas commented on #1885
Let's revisit once we have a prototype set up.

[2017-07-09 22:32] #1885 closed

[2017-07-09 22:32] #1876 closed

[2017-07-09 22:33] #1844 closed

[2017-07-09 22:33] #1834 closed

[2017-07-09 22:34] gideonthomas commented on #2317
@flukeout is this still an issue?

[2017-07-09 22:35] gideonthomas commented on #2322
@humphd is this still an issue or did we patch this?

[2017-07-09 22:46] gideonthomas opened #2355 "Unable to publish without index.html gives no feedback"
Looks like a regression on both staging and prod!

STR:
1. Login and start a new project
2. Delete the index.html file
3. Click Publish

The publish dialog box vibrates but shows no explanation (which I think we had at the bottom of the box).

[2017-07-11 18:03] #2218 closed

[2017-07-11 20:08] #2304 closed

[2017-07-11 20:51] gideonthomas opened #2357 "Transfer passport-webmaker to mozilla"
Change org ownership of https://github.com/ryanwarsaw/passport-webmaker

[2017-07-11 20:52] gideonthomas opened #2358 "Review webmaker passport"
Let's make sure https://github.com/ryanwarsaw/passport-webmaker has everything we need for integration into Thimble.

[2017-07-11 20:52] gideonthomas commented on #2355
cc @flukeout

[2017-07-11 21:02] ryanwarsaw commented on #2357
@gideonthomas This was done last week: https://github.com/mozilla/passport-webmaker.

[2017-07-11 21:02] #2357 closed

[2017-07-11 21:04] ryanwarsaw commented on #2358
Documentation is going to make this an easier task to do, been slowly chipping away at it for a little while, should be done soon.

[2017-07-11 21:16] gideonthomas commented on #2357
cool, thanks!

[2017-07-11 21:16] gideonthomas commented on #2358
Ok, no worries!

[2017-07-11 22:52] flukeout opened #2359 "Consider ditching the 'light' theme?"
Do we need both themes? It adds a lot of extra work when adding new features. Here's what the analytics say for a month of use. This is the Theme Toggle event...

![image](https://user-images.githubusercontent.com/25212/28094281-941e42f2-6650-11e7-9366-529da3240448.png)

This event only fires when someone toggles the theme, so the way I read it like this:

* The light theme was turned on 7,200 tim

[2017-07-12 03:35] ryanwarsaw commented on #2359
I'm rather curious as to what the extra work could be in terms of adding new features? Do we need to provide two different variations of a features CSS for both themes? Is there a way that we can reduce the amount of work required to add support for this?

I personally quite like using light themes, although understandably a large portion of users prefer dark themes, it can make it a much nicer re

[2017-07-12 16:13] flukeout commented on #2359
It's just a matter of adding additional styles for the other-colored theme. Generally I start with the light theme and then add styles for the dark one. One of the issues is that within the different extensions, we don't have access to a master stylesheet, each extension has it's own stylesheet so I feel like there is a lot of duplication going on.

It would be great to move some of the shared sty

[2017-07-12 17:20] humphd commented on #2359
What about the issue of printing and on-screen contract being crappy?  The light theme helps make this better.  If we could retain the positive aspects of this, I'd be happy to go this route.

[2017-07-12 17:45] Pomax commented on #2359
Also, what about the issue of people with visual disabilities who don't do well *at all* on dark themes, and can only really read what's going on with dark text on light backgrounds?

If the issue is "extra work", let's figure out how to automate that work rather than removing an important option for people who would otherwise be locked out of Thimble because of a choice made by able-sighted devs

[2017-07-12 18:18] flukeout commented on #2359
Yeah, making it easier to do the theming would be great. We should also address printing in a separate issue, much of what's on the screen doesn't need to be printed properly.

Am curious about the accessibility angle - do you have any references to back up that a light theme is better in that regard @Pomax ?

Closing this issue though - thanks all for chiming in.

[2017-07-12 19:58] flukeout opened #2361 "Standardize File Viewer UI & Content"
Placeholder issue for once the Video Viewer and upcoming Audio Viewer lands, we'll want to make sure that the following elements are cohesive

**Viewers**
  * PDF
  * Audio
  * Video
  * Image
  * Font
  * ...

**Common elements**
* Viewer header, to include
  * File type, "Video File", "Audio File", etc...
  * File details
    * media size, file size, other details
* Code samples that can be used

[2017-07-12 20:48] flukeout opened #2362 "PDF Viewer in dark theme has an unneeded border"
See below, the border divides the viewer from the selected file indicator. Let's get rid of it.

![image](https://user-images.githubusercontent.com/25212/28139335-bf24362e-6708-11e7-8a8a-f9b1e5b48b7f.png)

[2017-07-13 16:08] hkirat commented on #2342
Me and @gideonthomas  had a chat around how we should implement this.
There are two approaches in mind right now:
1. The one mentioned by gideon in the comment above.
 - File syncing and editor syncing takes place independently.
 - I send two types of events
   - ```js codeMirrorChange(delta, pathToFile) ````- emmitted every time I change something on my cm
   - ```js fileChanges(diffFromPreviousS

[2017-07-13 16:44] humphd opened #2364 "Consolidate file extension lookup code into content.js"
In the new Video Viewer, we are [adding yet more code to the `FileTreeView`](https://github.com/mozilla/brackets/pull/807/files#diff-bc7efead36525e77eb6c1879a3859742) to deal with extension types.  I think we should be doing all of this stuff in `content.js` instead, so we only have a one place to make updates/additions.

[2017-07-13 19:17] hkirat commented on #2353
Found these events that are fired on adding and deleting files: https://github.com/mozilla/brackets/pull/835/files#diff-172c2aa71bb7326386a85125ccd13603R47

Tried looking into watchers. Could you elaborate a little what purpose they serve @humphd ?

[2017-07-13 19:31] hkirat commented on #2353
Something similar here :
https://github.com/mozilla/brackets/pull/836/files#diff-172c2aa71bb7326386a85125ccd13603R47

[2017-07-13 19:41] hkirat opened #2365 "Getting exception on running collaboration"
This has popped up after we shifted to local webrtc turn servers.

<img width="1278" alt="screen shot 2017-07-13 at 12 34 26 pm" src="https://user-images.githubusercontent.com/8079861/28184308-c1791ace-67c7-11e7-9156-6bc0b838abc7.png">

It arises over [here](https://github.com/mozilla/brackets/blob/collaboration/src/editor/Collaboration.js#L63) because WebRTC loads before the editor does.

After i

[2017-07-13 20:30] humphd opened #2366 "Add new Icon for Font files"
We missed this when we landed the Font Viewer.

[2017-07-13 20:42] whitecat opened #2367 "Keeping Track of the History of a project"
Keeping track of changes for a project or file is helpful. For example if a student makes lots of changes and then the next day wants to undo them all there is no simple way.

I would like to see some way to look at history of a file and see the changes that happened.

[2017-07-13 23:31] flukeout commented on #2361
**Notes while working on this**

* Round File sizes to whole KB
* Replace (width) and (height) with width and height icons

[2017-07-14 12:51] nadeemramsing opened #2368 "Debugger"
Right now, the debugger keyword cannot be used as breakpoints.

[2017-07-16 00:08] flukeout commented on #1135
This is addressed in https://github.com/mozilla/brackets/pull/838

[2017-07-16 02:48] MhdTlb commented on #2252
Still open?

[2017-07-16 02:51] MhdTlb commented on #2250
Can I work on this?

[2017-07-16 02:52] MhdTlb commented on #2354
Can I work on this issue?

[2017-07-16 15:19] gideonthomas commented on #2354
sure thing @MhdTlb

[2017-07-16 15:22] gideonthomas commented on #2252
@serendicoder, you seem to have a commit referring to this issue. Are you still interested in opening up a PR for this issue or can @MhdTlb work on it?

[2017-07-16 15:42] serendicoder commented on #2252
@gideonthomas Thanks for the response. I will submit the PR.

[2017-07-16 15:43] serendicoder commented on #2177
@gideonthomas May I have an update on the above query?

[2017-07-16 16:39] serendicoder commented on #2252
@gideonthomas Submitted a PR [here.](https://github.com/mozilla/brackets/pull/841)

[2017-07-16 19:15] serendicoder commented on #2286
Hi @gideonthomas and @flukeout ,
I have the dev environment up and running. May I take up this issue?

[2017-07-16 19:20] serendicoder commented on #2250
Hi @flukeout,
May I have an update on this issue ? Thanks.

[2017-07-17 00:27] flukeout opened #2369 "HTML & CSS files in downloaded ZIP archive are blank."
Got this via email and just confirmed it myself. It looks like HTML & CSS files are blank when downloaded via the Download ZIP feature. Will test other file types. Images seem to download fine.

cc @humphd

[2017-07-17 11:42] TheoChevalier opened #2371 "The mozilla logo in the footer is black in Firefox"
The moz://a logo in the footer is black in Firefox (tested on Nightly), and white in Chrome. I assume it should be white in all browsers

[2017-07-17 15:55] humphd commented on #2368
This works for me, can you give me some more info on what you're trying and what's happening/not-happening?

[2017-07-17 16:10] humphd commented on #2349
I fixed this by removing type checks in favour of file size checks in Brackets.

[2017-07-17 16:10] #2349 closed

[2017-07-17 16:12] humphd commented on #2297
This is done in https://github.com/mozilla/brackets/pull/800.

[2017-07-17 16:12] #2297 closed

[2017-07-17 16:13] humphd commented on #2339
This was merged, any new discussion should happen in new bugs (I think some already got filed).  Closing.

[2017-07-17 16:13] #2339 closed

[2017-07-17 16:14] humphd commented on #1641
I'm moving this forward in https://github.com/mozilla/brackets/pull/826, closing here.

[2017-07-17 16:14] #1641 closed

[2017-07-17 16:34] gideonthomas commented on #2371
bleh, thought we fixed this! Thanks for catching it!

[2017-07-17 17:59] #1135 closed

[2017-07-17 18:01] #2369 closed

[2017-07-17 18:13] humphd opened #2372 "Fix margins around project size panel"
In Chrome especially, it's really easy to cover the new project size panel with the status bar:

![screen shot 2017-07-17 at 2 11 56 pm](https://user-images.githubusercontent.com/427398/28282899-124d56ce-6afa-11e7-9a3a-8200fb6c53ad.png)

[2017-07-17 18:15] humphd opened #2373 "Deal with project size limits being exceeded when importing a zip file"
We need to teach the zip/tar importer in Brackets about the new project size limits, so you don't import a bunch of files that aren't going to fit (e.g., we should probably bail when we reach the max space available vs. importing them all).

[2017-07-17 18:19] humphd commented on #2369
Fixed in Brackets.  We should probably get this rolled out to prod soon.  CC @gideonthomas.

[2017-07-17 19:27] #2252 closed

[2017-07-17 20:16] TheoChevalier commented on #2371
In the same fashion, the recently added MozFest SVG is also busted on Firefox

[2017-07-17 20:26] #2366 closed

[2017-07-17 20:26] #2359 closed

[2017-07-17 20:28] flukeout commented on #2334
Addressed in referenced PR

[2017-07-17 20:28] #2334 closed

[2017-07-17 20:29] #2333 closed

[2017-07-17 20:29] #2321 closed

[2017-07-17 20:30] flukeout commented on #2317
Oh, it's an issue alright @gideonthomas

[2017-07-17 20:30] #2317 closed

[2017-07-17 20:32] humphd commented on #2312
Let's do this with Webpack work.

[2017-07-17 20:32] flukeout commented on #2311
@humphd will add these to the .gitignore in both repos.

[2017-07-17 20:35] humphd commented on #2306
I'm going to close this for now, and if you want to follow-up on it, please file a new bug.

[2017-07-17 20:35] #2306 closed

[2017-07-17 20:36] #2296 closed

[2017-07-17 20:42] flukeout commented on #2273
"It wont be an actual problem" quote @gideonthomas

[2017-07-17 20:42] #2273 closed

[2017-07-17 20:42] #2272 closed

[2017-07-17 20:42] #2270 closed

[2017-07-17 20:45] flukeout opened #2374 "Add "Binary Viewer" for files that can't be displayed / edited."
What do we want here...

* File Type
* File size
* Some sort of message "We can edit this file type"
* Possible actions
  * Open in editor as text
  * Download
  * Open in a tab??
* Possibly, we can ask if the user wants to edit the file every time they open it. So that way they don't get stuck in a 'weird' state.

[2017-07-17 20:45] flukeout opened #2375 "Add "Audio Viewer""

[2017-07-17 20:46] #2269 closed

[2017-07-17 20:46] #2257 closed

[2017-07-17 20:50] #2222 closed

[2017-07-17 20:57] humphd commented on #2374
I'll start this rolling, and get @flukeout to help me finish.

[2017-07-17 21:40] flukeout commented on #2371
Thanks for catching these @TheoChevalier - I've addressed them in PR #2376

[2017-07-17 22:53] flukeout opened #2378 "Update and localize PDF viewer title to say "PDF File""
Instructions for doing this below...

You have to pass it into the iframe via a data attribute:

Make a new string, Strings.PDF_File or something in Thimble/Brackets
Add a data-title attribute to the pdf iframe template here https://github.com/mozilla/brackets/blob/master/src/extensions/extra/PDFView/htmlContent/pdf-view.html#L4-L5
Add it to the template rendering, and use Strings.PDF_FILE or what

[2017-07-17 22:58] #2371 closed

[2017-07-17 23:15] flukeout opened #2379 "Image and Video viewer sample code doesn't update when file is renamed."
See here, I just renamed the video file and the sample code stayed the same (renamed from ``asdf.webm`` to ``zoings.webm``)...

![image](https://user-images.githubusercontent.com/25212/28293824-01818e62-6b0b-11e7-9648-fdcb442baa9b.png)

I believe the Image Viewer can currently listen for a file name change event event, so we need to hook into that and update the code (and adapt that method for the

[2017-07-17 23:15] flukeout commented on #2379
I'll take this on as I have been cranking out viewers.

[2017-07-17 23:37] flukeout commented on #2379
I also have a feeling that renaming a file might mess with applying filters to it. Will double-check tomorrow morning.

[2017-07-18 01:39] gideonthomas commented on #2367
This is currently outside the scope of work we can do. However, as we are in the process of implementing collaborative features in Brackets, the logic used in it could serve as a foundation to add versioning features. Thanks for the suggestion!

[2017-07-18 01:39] #2367 closed

[2017-07-18 01:45] gideonthomas commented on #2177
@flukeout would you be able to provide some input here?

[2017-07-18 15:22] AllanFox opened #2381 "Webpage doesn't process or render in preview"
Webpage isn't getting rendered or processed in the preview section. The preview section shows a URL to https://mozillathimblelivepreview.net/bramble/production/dist/vfs/31986/projects/1069428/index.html
link where the page is actually getting displayed. This problem started few days ago
![thimble_screenshot](https://user-images.githubusercontent.com/5771865/28325047-84c69a2a-6bfa-11e7-9eb4-d938236

[2017-07-18 17:51] #2352 closed

[2017-07-18 19:36] dgregory10561 opened #2383 "Thimble Project Remix is not rendering"
My Thimble remix [https://thimble.mozilla.org/en-US/user/dgregory10561/764596/](https://thimble.mozilla.org/en-US/user/dgregory10561/764596/ )
does not render the images in my project.  I keep getting this link/message in the webpage pane:
"https://mozillathimblelivepreview.net/bramble/production/dist/vfs/50316/projects/764596/index.html"

The sharable link is:  https://thimbleprojects.org/dgregor

[2017-07-18 19:53] flukeout opened #2385 "Image files won't load in a published project."
Project in question...

* https://thimbleprojects.org/dgregory10561/199996/

Has a file called ``neptune.png`` in the ``publishedFiles`` table...

![image](https://user-images.githubusercontent.com/25212/28336768-103db4c8-6bb8-11e7-81cd-7eea4fe09bcd.png)

But it won't load...

![image](https://user-images.githubusercontent.com/25212/28336756-07b84714-6bb8-11e7-96e0-4a8185d9e13f.png)

When remixing

[2017-07-18 20:03] gideonthomas commented on #2385
hmm none of those files are on s3. That's weird!

[2017-07-18 20:05] flukeout commented on #2385
Weird i wonder if it has something to do with auto-resized images not making it.

[2017-07-18 20:05] flukeout commented on #2385
I'll do some testing.

[2017-07-18 20:05] flukeout commented on #2385
However, when you remix it, those files make it into the project.

[2017-07-18 21:20] humphd commented on #2385
It looks like the upload from the publish server to S3 didn't work, and we got a 500, resulting in the records existing in the db, but not in the published bucket.

[2017-07-18 21:22] humphd commented on #2383
@dgregory10561 I'm really sorry you ran into this, and appreciate you reporting it.  We're tracking the issue in https://github.com/mozilla/thimble.mozilla.org/issues/2385, so I'll close this bug and we can continue there.

One thing you can do in the future if you run into odd saving/syncing issues is to add `?logging=1` to your Thimble URL, and it will log extra debug info to the Web Console, wh

[2017-07-18 21:22] #2383 closed

[2017-07-18 21:24] humphd commented on #2381
Hey @AllanFox, sorry you're running into this issue.  This is not something I've run into before, and I'd like to try and understand/fix it.  Can you tell me:

* which OS and browser (also version) you're using?
* Is this project published somewhere, and can I remix it to test locally?

[2017-07-18 21:28] flukeout commented on #2383
In addition @dgregory10561 - we have fixed your project and added all of the previously-missing images to the database - it loads as expected now...

![image](https://user-images.githubusercontent.com/25212/28340602-3398fb32-6bc5-11e7-9135-266214392b77.png)

One thing I noticed is that even when your images weren't showing, I could still remix and publish your project, which would make the images

[2017-07-19 05:15] flukeout commented on #2379
I'm addressing this in https://github.com/mozilla/brackets/pull/839

[2017-07-19 05:15] #2379 closed

[2017-07-19 06:38] AllanFox commented on #2381
* The OS I am using is Ubuntu 16.04 LTS (32 bit)
* I use 2 browsers
   * Firefox 54.0
   * Chromium 59.0

This project isn't published somewhere else, so please remix it and test it locally if needed.

[2017-07-19 16:57] gideonthomas commented on #2381
@humphd looks like the project id is: 1069428. Let me know if you need the files for it...I can send it to you over chat.

[2017-07-19 18:29] flukeout opened #2386 "Standalone Brackets - Bug when the editor loads with an Image Viewer open"
If you start the brackets editor standalone with the Image Viewer opened as the firs thing (to do this, add an image, select it, then refresh the browser) then the markup for the Image Viewer doesn't get removed when you open another file in the editor (or another viewer).

This is the DOM after I start editing an ``.html`` file, the viewer markup is still there...

![image](https://user-images.gi

[2017-07-19 18:37] humphd commented on #2386
I've seen this before too, and tried debugging it once.  It seems to have to do with some kind of check they do when switching views to determine whether or not to keep a file open, and it being the last file, and maybe not wanting to close everything.

[2017-07-19 19:18] flukeout commented on #2355
Hey @gideonthomas - do you mean click "Update Published" after deleting the index.html file?

[2017-07-19 19:22] flukeout commented on #2322
I'll test this now in prod.

[2017-07-19 19:32] flukeout commented on #2322
This works now in Prod, so assumed we've fixed it and didn't close the issue...

![image](https://user-images.githubusercontent.com/25212/28385811-4847f6d2-6c7e-11e7-830a-52f71e352432.png)

[2017-07-19 19:32] #2322 closed

[2017-07-19 19:44] flukeout commented on #2307
@humphd Here is a count vs filesize (in kb) of .gif images from our files DB

![image](https://user-images.githubusercontent.com/25212/28385933-c49cb2b8-6c7e-11e7-9971-4717431949fb.png)

Looking at some random .gif filenames over 1mb in the publishedFiles table, it seems like a lot of them are animated (judging by the titles) - but we could do a more thorough investigation.

[2017-07-19 19:46] flukeout commented on #2286
Hi @serendicoder - that sounds good. I think the first step would be to find a library or code to generate a QR code. Want to start there? Let me know when you've made some progress and I can provide some more guidance.

[2017-07-19 20:10] flukeout commented on #2250
Hey @MhdTlb - if you want to take it, please go ahead - let me know.

@serendicoder - let's work on the QR code issue together instead? Cheers!

[2017-07-19 20:22] gideonthomas commented on #2355
yeah sorry, I meant the "Update Published Version"

[2017-07-19 21:26] #1637 closed

[2017-07-19 22:25] #2123 closed

[2017-07-19 22:39] flukeout commented on #2386
Alright, let's pile it on the heap then and see if it causes any problems.

[2017-07-19 23:33] flukeout commented on #1238
Having just answered a support email which ended up with me telling them to add a ";" to the end of one of the lines of CSS makes me think we should keep thinking about how to do this stuff.

[2017-07-20 03:45] ryanwarsaw commented on #1752
Followed up with @cadecairos on this, it's been transferred to the Mozilla organization and the appropriate permissions have been set. See: https://github.com/mozilla/passport-webmaker.

[2017-07-20 03:47] ryanwarsaw commented on #2358
Documentation has been completed, if someone wants to go ahead with this task you've got the green light. I'm currently buried with school work so I can't do any login work for the next 7-10 days so feel free to take your time on this.

[2017-07-20 13:35] dgregory10561 opened #2387 "Another project that doesn't render in Preview"
Hi, I'm back!  This time it's one of my JavaScript lesson project.  The preview does not render.  This is similar to the CSS solar system project that you fixed for me yesterday.

https://thimble.mozilla.org/en-US/user/dgregory10561/1082439

![image](https://user-images.githubusercontent.com/20648828/28419994-bc048526-6d2e-11e7-8c38-867c78f27df1.png)

[2017-07-20 14:01] dgregory10561 commented on #2387
All of my projects are not rendering in preview now.  They also take a long time to load (using Chrome in Windows 10).

![image](https://user-images.githubusercontent.com/20648828/28421165-56b163fc-6d32-11e7-9b1a-57171901a5d8.png)

[2017-07-20 15:06] humphd commented on #2387
@dgregory10561 can you try refreshing a few times?  I want to confirm that this isn't a service worker cache issue, which I sometimes see.  If after 3 refreshes you're still seeing that, it's something else.

[2017-07-20 15:44] humphd commented on #2311
Fix happening in https://github.com/mozilla/brackets/pull/845, closing here.

[2017-07-20 15:44] #2311 closed

[2017-07-20 17:07] gideonthomas commented on #2358
Thanks for the work @ryanwarsaw. @cadecairos would you be able to take a look at that in the next two weeks?

[2017-07-20 17:14] dgregory10561 commented on #2387
Refreshed 3 times.  Still not working in chrome or Firefox.

Sent from my iPhone

[2017-07-20 17:42] gideonthomas commented on #2387
@dgregory10561 do you see the same thing even if you click on the refresh icon next to the TUTORIAL option above the preview? What about when you move between files and then click that same refresh icon?

[2017-07-20 17:44] serendicoder commented on #2286
Thanks @flukeout . I have gone through the link in issue description which mentions about using Google Infographics for QR code generation. But it is now deprecated and may be taken down. Some more libraries are
1. Javascript generation from [qrcodejs](https://github.com/davidshimjs/qrcodejs)
2. jQuery generation from [jquery.qrcode.js](https://github.com/jeromeetienne/jquery-qrcode)
3. Javascript

[2017-07-20 17:54] cadecairos commented on #2358
yup

[2017-07-20 18:26] #2351 closed

[2017-07-20 19:46] dgregory10561 commented on #2387
The projects are all working fine now.

On Thu, Jul 20, 2017 at 1:42 PM, Gideon Thomas <notifications@github.com>
wrote:

--
*Don Gregory*
*dgregory10561@gmail.com <dgregory10561@gmail.com>*

[2017-07-20 20:24] humphd commented on #2342
I don't think option 2 will work, because you often depend on files that you don't have open in an editor.  For example, a CSS file or JS script, or SVG image.  If the host changes these, I still need to have the changes applied to the *file* so that my preview can show the correct version vs. whatever old thing I have on disk.

I think you need to do option 1.

[2017-07-20 20:27] flukeout commented on #2286
Hey thanks for doing this research @serendicoder - I'm not familiar with any of these. Are any of them open source and free to use? I'd recommend trying to write a simple implementation of each and seeing how easy it is to work with. Let us know!

[2017-07-20 20:40] gideonthomas commented on #2387
Good to hear! I'm going to close this issue since we suspect that this was intermittent and had to do with caching. Feel free to reopen or file a new one if it happens again since we will be monitoring closely for recurrences.

[2017-07-20 20:40] #2387 closed

[2017-07-20 21:20] flukeout opened #2392 "Audio Viewer - Changing Audio Settings of one viewer affects a different one."
Steps to reproduce
* Add two different sound files to your project
* Open one of the viewers and change the 'autoplay setting' a few times
* Open the other viewer and do the same
* You'll notice that one of the viewers is affecting the other sound file, and not the one you are currently looking at

![image](https://user-images.githubusercontent.com/25212/28439371-7717aa9c-6d56-11e7-85df-dd6922dfd3

[2017-07-21 01:29] MhdTlb commented on #2250
@flukeout  It took me a while to set up my dev environment.
Will we display this message **Thimble could not start**?

[2017-07-21 01:41] TheoChevalier commented on #2160
Hey @cadecairos, is this something you can flip, or is it on the Thimble team?

[2017-07-21 01:48] cadecairos commented on #2160
This needs to be done in code

Change needs to happen [here](https://github.com/mozilla/thimble.mozilla.org/blob/add5b5baffc4860de25ee028cb6c0e5b829ba13c/server/security.js#L101-L104)

which should stop browsers from overriding [this](https://github.com/mozilla/thimble.mozilla.org/blob/add5b5baffc4860de25ee028cb6c0e5b829ba13c/server/security.js#L26-L28)

[2017-07-21 02:24] MhdTlb commented on #2354
@gideonthomas Please excuse my naive question.
In the previous comment you sad that the fix should be under `bracket` project. So Why the issue is created here under `thimble`?
Also, How could I create a PR under `bracket` for an issue in `thimble`?

[2017-07-21 02:30] ryanwarsaw commented on #2354
@MhdTlb Thimble embeds brackets and adds the features that makes the Thimble we know today, and brackets is the editor component of that (so when you edit your project files, that's brackets).

As for why the issue is filed under Thimble, it's mostly just for organizational purposes. It helps to have all tickets in one location rather than spread out across many.

As for your PR question, Github &

[2017-07-21 02:40] gideonthomas commented on #2354
As @ryanwarsaw mentions, we use the thimble repository for tracking issues, even those that need to be fixed in Brackets. What you probably want to do is to clone the Brackets repository and work just with that for this specific issue.

Hopefully that helps.

[2017-07-21 02:47] MhdTlb commented on #2354
Sorry @ryanwarsaw, it seems that my question is not clear.
This issue is under [Thimble](https://github.com/mozilla/thimble.mozilla.org), I was excepting to change files that are under `thimble.mozilla.org` folder (my local repository). So When i push my changes they will go under my forked thimble project and I can link these changes to current issue.

But you said that changes should be made for

[2017-07-21 02:52] gideonthomas commented on #2160
Sorry for the delay @TheoChevalier, got a PR up now.

[2017-07-21 02:55] ryanwarsaw commented on #2354
@MhdTlb We have an issue label `brackets` specifically for situations where an issue filed here references changes that need to be made in the brackets repository.

That is correct, you need to fork Brackets and have it running per the documentation (See; https://github.com/mozilla/thimble.mozilla.org#installing-brackets-bramble). Changes made in the brackets repository would be pushed to that rep

[2017-07-21 02:57] gideonthomas commented on #2354
@ryanwarsaw would you be willing to contribute a PR to add this information to CONTRIBUTING.md as well?

[2017-07-21 02:59] ryanwarsaw commented on #2354
@gideonthomas Did you have specific additions in mind? or just a general summary of the discussion above? I can send a PR sometime tomorrow, probably afternoon if that's okay.

[2017-07-21 03:01] gideonthomas commented on #2354
Mainly about how to contribute to an issue with the Brackets label on it, i.e. create a PR against Brackets and reference the issue as you mention above. No urgency on the issue, feel free to do it whenever you have some spare time and feel like it :)

[2017-07-21 03:11] MhdTlb commented on #2354
Thanks @ryanwarsaw. It's clear now!!! 👍

[2017-07-21 06:26] hkirat commented on #2342
@humphd In both the cases, files that are not open in the editor remain out of sync for `n seconds`.
In the first case, I receive the events after n seconds, and in the second one, I keep receiving them, but I apply them to the file system after n seconds/whenever I open the file.

[2017-07-21 06:32] hkirat commented on #2342
And one case in the 2nd approach which I don't know how to handle would be the following:
1. client A has `index.html` open, client B has `index.css` open.
2. Client B shifts to index.html, asks A for the current state of index.html, and they start collaborating.
3. Now client B shifts back to index.css
4. Now how does A know what to send back to B, since they were in sync a while back, but aren't

[2017-07-21 10:25] hkirat commented on #2392
I'm not sure if they are effecting each other.
I think everytime you shift away from one sound file, its checkboxes are refreshed (the loop, autoplay and muted checkboxes).

[2017-07-21 14:16] #2331 closed

[2017-07-21 15:46] hkirat opened #2395 "Add logic to send files via WebRTC"
WebRTC allows sending binary files.
However, It expects FileList object as an input.
Is this stored somewhere in the File object? Or can we create it somehow?

[2017-07-21 15:51] humphd commented on #2395
I don't know WebRTC, so I'm not sure the answer.  A [`FileList` is read-only](https://dxr.mozilla.org/mozilla-beta/source/dom/webidl/FileList.webidl), so we can't really make one programmatically.

Is there a way to work with `File` objects or `Blobs` or something?

[2017-07-21 16:09] #2160 closed

[2017-07-21 16:11] TheoChevalier commented on #2160
Thanks, guys! Will look into enabling in-context localization again :)

[2017-07-21 16:11] #2354 closed

[2017-07-21 17:08] gideonthomas opened #2396 "Switch to heroku-postbuild"
This is an experiment and might not work but is worth a try.

We use the `postinstall` script to build Thimble so that Heroku is able to run the build in its build phase and not timeout when binding to a port.

This however is quite annoying for local development (especially for new contributors) since the build is run when you run `npm install` and also in the `start` script.

Heroku seems to sup

[2017-07-21 18:17] humphd commented on #2374
I'm doing this in https://github.com/mozilla/brackets/pull/851.

[2017-07-21 19:23] humphd commented on #2364
Fix in https://github.com/mozilla/brackets/pull/852

[2017-07-21 19:33] #2314 closed

[2017-07-21 19:34] humphd commented on #2392
I'm not able to reproduce this using two audio files.  There must be some other step required that I'm missing.

[2017-07-21 19:39] gideonthomas commented on #2395
Doesn't webrtc allow you to send ArrayBuffers using its binary data channel?

[2017-07-21 19:45] humphd commented on #2386
This close behaviour is determined by:

* [Pane.prototype.destroyViewIfNotNeeded](https://github.com/mozilla/brackets/blob/master/src/view/Pane.js#L1274-L1286)
* [Pane.prototype._isViewNeeded](https://github.com/mozilla/brackets/blob/master/src/view/Pane.js#L1243-L1254)

It originally seems to have come from https://github.com/adobe/brackets/pull/8913, but I'm not clear which problem it's solving

[2017-07-21 19:47] humphd commented on #2381
@AllanFox we've had another user tell us about a similar thing, and it turned out to be a cache issue, and multiple refreshes fixed the issue.  I'd suggest you close all but 1 tab containing Thimble, and refresh it a few times.  It likely needs to re-download updated code for the editor, and we cache that in a Service Worker, which can get "stuck" sometimes.  Let us know what happens.

[2017-07-21 19:48] humphd commented on #2375
I'm going to hijack this bug, and make it be about refactoring our viewers.  We recently landed viewers for Fonts, Audio, Video, PDFs, and a Binary Viewer.  They all share a bunch of code, and it would be good to see if we can share it via a base class.

[2017-07-21 19:49] humphd commented on #2373
We decided not to worry about this for now, since we'll block them from adding more than +3M anyway.

[2017-07-21 19:49] #2373 closed

[2017-07-21 19:49] humphd commented on #2368
I'm going to close this, but if you find you're hitting it a lot/again, please let us know.

[2017-07-21 19:49] #2368 closed

[2017-07-21 19:56] humphd commented on #2362
Fix for this in https://github.com/mozilla/brackets/pull/854

[2017-07-21 19:57] humphd commented on #2361
This is closable now, right @flukeout?

[2017-07-21 20:31] flukeout commented on #2361
Correct.

[2017-07-21 20:31] #2361 closed

[2017-07-22 06:10] hkirat commented on #2395
I think blobs might be the way to go. WebRTC is failing at this point:

[2017-07-22 08:23] hkirat commented on #2395
`  _webrtc.getPeers()[0].sendFile(new Blob ([addedFile._contents]));` works.

Does the convertToBlob function exist somewhere. Also this ^ doesn't allow sending any metadata along to identify the file to the peer receiving it.

Any way to do that?

[2017-07-22 09:52] hkirat opened #2397 "Add loader in collaboration"
While collaborating, there remains an offset of time in which the user is syncing his/her filesystem/files with the other clients on connecting.
During this time, it would be good to show a loader with a text like "Syncing" to disallow the user from modifying the files.
I think we would need to add an overlay over the window. Any pointers on this?
cc @flukeout

[2017-07-22 11:14] AllanFox commented on #2381
Thanks for helping. After refreshing 7 times it finally started working in Firefox browser. Not working in chromium even after 12 refreshes. I shall continue using Thimble on Firefox for now :)

[2017-07-22 15:13] humphd commented on #2381
@AllanFox so weird.  Here's something you can try in Chromium:

![screen shot 2017-07-22 at 11 10 56 am](https://user-images.githubusercontent.com/427398/28492298-8e196c7a-6ece-11e7-96e4-be7219ea644d.png)

In Dev Tools, go to the Application tab, and then Clear Storage on the left.  If you **uncheck** the IndexedDB option, then click Clear Site Data, it will make sure you don't delete your files.

[2017-07-22 16:33] gideonthomas commented on #2397
We already have the spinner for loading Bramble. We can probably just tap into that

[2017-07-22 17:05] #2362 closed

[2017-07-23 09:25] hkirat opened #2402 "Add logic to rename, add/delete a file on receiving corresponding event from connected clients"
Right now, on receiving a rename/add/delete event, the event is logged on the client.
See : https://github.com/mozilla/brackets/blob/collaboration/src/editor/Collaboration.js#L76

The next step would be to add logic to actually to this.

For `rename`, I do see a [rename](https://github.com/mozilla/brackets/blob/master/src/filesystem/FileSystemEntry.js#L336) function in FileSystemEntry.js.
This ren

[2017-07-23 09:42] TemTemmie opened #2403 "Add a custom domain."

[2017-07-23 17:42] gideonthomas commented on #2403
Hi @TemTemmie, could you describe your proposal for this bug?

[2017-07-24 05:59] AllanFox commented on #2381
Thanks for the help again. Now the Thimble preview works in Firefox as well as Chromium.

[2017-07-24 17:24] TemTemmie commented on #2403
not a bug. just a suggestion.

[2017-07-24 17:35] gideonthomas commented on #2403
Can you describe what you are suggesting though? Do you want to have your published projects hosted on a custom domain? And do you want the feature built into Thimble?

[2017-07-24 18:03] serendicoder commented on #2286
Hi @flukeout , apologies for late response as I was travelling over the weekend.

All the listed projects are open source.
I tried implementig them and the formats are almost similar as listed on each repo's READMEs.

[2017-07-25 19:30] hkirat opened #2405 "Wrong arguments passed in ProjectManager.js"
The `createNewItem` function in ProjectManager.js calls the `createAtPath` in Projectmodel.js.

https://github.com/mozilla/brackets/blob/master/src/project/ProjectManager.js#L1079

The function call expects a single parameter, which is the path at which the file must be created.
And it expects a "/" in the end of the path in case it is a folder.
https://github.com/mozilla/brackets/blob/master/src/

[2017-07-25 19:48] hkirat opened #2406 "Send a single parameter with batched codemirror events"
Codemirror batches events while triggering the `change` event sometimes. This usually happens when auto inundation works. I batches these two codemirror events.

https://github.com/mozilla/brackets/blob/collaboration/src/editor/Collaboration.js#L131

Right now, these events are sent one by one. It would be good to send them together.

[2017-07-26 16:04] atiqueahmedziad commented on #2288
@gideonthomas can you please check the pr if it is alright?

[2017-07-26 16:07] #2288 closed

[2017-07-26 16:30] #2335 closed

[2017-07-26 16:42] gideonthomas opened #2407 "[Collaboration] Prototype 2 - Filesystem syncing"
## Overview

Once a collaboration session has begun the filesystem for all clients remain in sync with filesystem-level events passed and interpreted between them.

## Goals

1. Every file open on a client in the editor is synced with other clients who have the same file closed (not open in the editor).
2. We can send full files to each client over webrtc and keep binary files between clients in s

[2017-07-26 16:50] atiqueahmedziad commented on #2142
@humphd did you mean to keep the `tutorial.html` along with `index.html` and `style.css` on the left side of the editor by default?

[2017-07-26 19:45] #2406 closed

[2017-07-26 20:16] hkirat commented on #2353
Closed via [#858](https://github.com/mozilla/brackets/pull/858)

[2017-07-26 20:16] #2353 closed

[2017-07-26 20:42] hkirat opened #2408 "Rewrite a few codemirror functions to interpret codemirror events for filesystem"
Until now, We were interpreting codemirror events only to rewrite to a codemirror instance.
The logic looked something like this:
https://github.com/mozilla/brackets/blob/collaboration/src/editor/Collaboration.js#L141-L158

Now we need to recreate the `posFromIndex` and the `indexFromPos` function to write to the filesystem interpreting these codemirror events.

The code for these in codemirror re

[2017-07-27 07:10] harshaiitr commented on #2142
@humphd I have the dev environment up and running . May I take up this issue ?

[2017-07-27 16:28] flukeout commented on #2286
Okay, looks like ``qrcode`` and ``jquery.qrcode`` seem to be the more widely used projects, so let's go with one of those. Can you do a couple of things...

1. Provide a screenshot a screenshot generated by each library?
2. Check how big each library is?

Then, as far as starting work on the feature, I think a good first step would be just to add a QR code to the Publish Dialog, below the URL to t

[2017-07-28 07:34] ryanwarsaw commented on #2358
Code is located here: https://github.com/mozilla/passport-webmaker, the original link is dead.

[2017-07-28 07:40] ryanwarsaw commented on #2299
**Update**

The completed version of `passport-webmaker` is currently under review: #2358.

Next step would be wiring it up to fit in the current authentication flow, then if we want we can eventually add other 3rd party login support with relative ease.

[2017-07-29 16:49] hkirat opened #2409 "Not able to drag and drop files in firefox"
In firefox version 41.

Dragging and dropping a file fails, file opens in the browser.

![](https://media.giphy.com/media/3oEhmKDr86Y2y8oS4M/source.gif)

[2017-07-30 18:00] surfscoter commented on #2381
This is happening on Windows 10 and Chrome.  Trying to clear cache and refresh but it is not working.

[2017-07-31 02:32] dfperry5 commented on #1966
Hey guys,

Is anyone working on this?

It'd be my first time contributing and i'd love to use @cgsingh's solution as a jumping off point!

Thanks!

[2017-07-31 09:12] awdDev786 opened #2411 "Locally deployed project running on microsoft edge but not in chrome"
I have seen strange behavior of local deployment which i couldn't understand so need an expert help here.

**Case 1**
I deployed this repository on <a href="http://c9.io">Cloud 9</a>.I am only running 2 services here.
<a href="https://github.com/mozilla/thimble.mozilla.org">Thimble</a> and <a href="https://github.com/mozilla/brackets">Brackets</a>. At first run it isn't loading in chrome browser b

[2017-07-31 10:25] amitsin6h commented on #1966
you can work on this @dfperry5

[2017-07-31 14:34] TheoChevalier opened #2412 "Tracking Malay (ms) localization"
We are getting Malay localization for Thimble (yay!), let’s track progress here to enable it on dev/prod.

Locale code: `ms`
Language name: `Melayu`

[2017-07-31 16:03] flukeout commented on #1966
Cool, go ahead @dfperry5 - let us know if you run into trouble or have questions.

[2017-07-31 16:39] TheoChevalier opened #2413 "Allow subtitling on the Thimble demo video"
Looks like people can’t contribute subtitles on the video featured on the home page: https://www.youtube.com/watch?v=JecFOjD9I3k
Is there a reason we’re not turning that on from YouTube settings? I assume subtitles could even be enforced in the embed code. That would be really awesome :) I could also suggest contributing to those subtitles from the project description in Pontoon.

What do you thin

[2017-07-31 16:46] dfperry5 commented on #1966
Awesome guys! I'll be playing around it today (I'm traveling) but ill try to have the starts of a PR opened pretty soon!

Thanks!

[2017-07-31 18:13] humphd commented on #2411
The error in Case 1 looks like it's being hosted over `http` vs. `https`, and we use Service Workers, which require `https` unless you are running locally.

The situation with Case 2 is perhaps that we use different caching in Edge vs. Chrome, since only the latter currently supports Service Workers.

Feel free to hop on https://chat.mozillafoundation.org/mozilla/channels/thimble and chat with us

[2017-07-31 18:21] flukeout commented on #2413
Hey @TheoChevalier - no special reason! I hadn't realized it's something I need to enable. I think before we ask for help we need to decide if the video is up-to-date enough to bother translating. We've added a lot of new features recently so maybe it's worth updating the video.

[2017-07-31 19:36] humphd commented on #2409
@hkirat what happens in your console?  Also, Firefox version 41 is pretty old, why are you using such an old one?

[2017-07-31 21:23] #2250 closed

[2017-08-01 04:08] hkirat commented on #2409
On dragging only, and not dropping the file, I see the following

[code]

At this point, the types array looks something like this:
[code]

Not sure why I never updated firefox. Will update and check if it works.

[2017-08-01 18:46] gideonthomas commented on #2409
Looks like this has to do with browser compatibility since DataTransferList isn't supported below Firefox < 50. https://developer.mozilla.org/en-US/docs/Web/API/DataTransferItem#Browser_compatibility

My guess is that this won't work on Safari or IE either but I wonder if we should show an error message for this.

[2017-08-01 19:01] humphd commented on #2409
Probably a dupe of https://github.com/mozilla/thimble.mozilla.org/issues/2104, but for older browsers in general.  We should be able to do this, since we have two import strategies that use new and old standards.

[2017-08-01 19:01] humphd commented on #2104
See also https://github.com/mozilla/thimble.mozilla.org/issues/2409 which is about an older Firefox also hitting this.

[2017-08-01 19:10] gideonthomas commented on #2409
let's close one of these issues and consolidate. Not sure which one you prefer to leave open.

[2017-08-01 19:12] humphd commented on #2104
Copying comments across:

Also:

[2017-08-01 19:12] #2409 closed

[2017-08-01 20:49] gideonthomas opened #2414 "Change l10n locale files"
tldr; split the `messages.properties` file into `client.properties` and `server.properties`

Currently, we have a single `messages.properties` file that has strings for both the client and server. However, there doesn't seem to be a single string that is used in both the client and server.

In the client, we have placeholders in the scripts for strings, for e.g. `{{ myStringKey }}`, which we repla

[2017-08-02 05:55] nadeemramsing commented on #2368
Sure.

Debugger is working, but it does resume automatically sometimes.
When it does happen, I write it twice and it stops at the second one.

E.g:
[code]

Not a major issue though; just need to write it twice if it happens.

[2017-08-02 09:50] hkirat commented on #2402
The logic for interpreting delete events has been merged in Collaboration branch.

add-file events are interpreted by using the following :
[code]

However, something similar doesn't exist for adding folders.

[2017-08-02 12:44] TheoChevalier commented on #2412
Ready to be enabled! 90% complete as we speak and counting 📈

[2017-08-02 15:13] TheoChevalier commented on #2413
Awesome! Yeah that probably makes sense at this point to wait for a new video if it needs to be updated :)

[2017-08-02 16:32] gideonthomas commented on #2412
awesome! Thanks for the update @TheoChevalier, will keep this open till we push to production next Tuesday; I'll enable it then.

[2017-08-02 18:41] hkirat commented on #2407
PR for 1st goal : https://github.com/mozilla/brackets/pull/862

[2017-08-02 21:50] gideonthomas commented on #2414
Done in 404556174fa515d6b03edc0b6c36a9d39cb020ad a32fa85192bcfc5b2cbc633aa5ca8ec48a6908dc and ba695432dc344eb8fd0471086adcbfd2e4944653

[2017-08-02 21:50] #2414 closed

[2017-08-03 05:05] nadeemramsing opened #2418 "Typescript support"
Right now, thimble does not support .ts files (no formatting, auto-completing, keyword coloring, etc available).

[2017-08-03 11:50] hkirat opened #2419 "Right click hides new file and new folder option alternatively"
Irrespective of where you are right clicking, the drop down tends to alternate between two formats, one in which it contains the new folder and new file option and one in which it does not.

![](https://media.giphy.com/media/3oEhmOyJUzptz7MGRO/giphy.gif)

[2017-08-05 00:14] TheoChevalier opened #2423 "Tracking Norwegian Nynorsk (nn-NO) localization"
I’ve just enabled nn-NO, let’s track progress here :)

Name: `Norsk nynorsk`
Code: `nn-NO`

[2017-08-05 05:57] serendicoder commented on #2286
Hi @flukeout ,
I have attached screenshots of qr codes generated for 'https://www.github.com'.
For `qrcodejs ` library-
![qrcodejs](https://user-images.githubusercontent.com/15280660/28993307-df56af6e-79d0-11e7-960e-16f1b11ce4c8.png)

For `jquery-qrcode` library-
![jquery qrcodejs](https://user-images.githubusercontent.com/15280660/28993308-e3e6e81e-79d0-11e7-93af-9d091a963ced.png)

Do you have an

[2017-08-07 12:13] hkirat commented on #2395
This is where I reached on this issue:

Here is a simple example how filetransfer should work using WebRTC:
https://simplewebrtc.com/filetransfer

The function following function can be used to send files:
peer.sendFile(parameter)

The parameter expected is a file/blob object. However, trying various implementations, I wasn't able to get the the contents of the file object right.
I've tried:
[code

[2017-08-08 15:15] #2405 closed

[2017-08-08 15:24] humphd opened #2425 "Consider removing WebPlatformDocs extension"
In https://github.com/mozilla/brackets/pull/826 we're adding some UX to help reveal inline editors for the current cursor position when available.  That discussion lead us to conclude that we should probably drop the WebPlatformDocs, which are not easily discoverable, add download size, and are unmaintained and incomplete.  Also, getting docs via a second tab is easy to do.

We can easily try remo

[2017-08-08 15:29] humphd opened #2426 "Consider removing inline CSS/JS editors"
Connected to the discussion in https://github.com/mozilla/thimble.mozilla.org/issues/2425, I think we should consider dumping the inline editors for CSS and JS.  They are a neat idea, you really need to know about them, and buy into the editing model.

Disabling these might take a bit more work, since they aren't extensions.  In the meantime, I'm going to try and disable it from popping-up in the

[2017-08-08 17:10] humphd commented on #2395
You just need to put that binary data into a Blob:

[code]

[2017-08-08 18:58] hkirat commented on #2395
Thanks for the reference @humphd. It works.
Although I see that for some reason if the path is of the form "a/b/c", the connected client receives it as "a:b:c". Will have to look more into the docs of webrtc as to why that happens

[2017-08-09 09:33] hkirat commented on #2395
Another issue came up with this approach.
The file received on the other side is corrupted.

Here is the original and the received file:
![original](https://user-images.githubusercontent.com/8079861/29115033-a4f4d2fc-7ce5-11e7-9556-66ba6e6d8564.png)
![received](https://user-images.githubusercontent.com/8079861/29115036-a6a10fee-A7ce5-11e7-8c97-096bdbb9377e.png)

Also I'm using
[code]
instead of
[c

[2017-08-09 14:55] humphd commented on #2395
How are you writing the file on the receiving end?  Can you please show me all the code involved here vs. snippets?

[2017-08-09 15:02] hkirat commented on #2395
This is the logic for saving the file to the filesystem.
https://github.com/mozilla/brackets/pull/855/files#diff-172c2aa71bb7326386a85125ccd13603R145

[2017-08-09 15:05] hkirat commented on #2395
The code for this can be found in this pr : https://github.com/mozilla/brackets/pull/855

[2017-08-09 15:13] humphd commented on #2395
I have some similar code here: https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/WebKitFileImport.js#L181-L228.

I think your corruption is due to you not using `new` when constructing your new `Buffer` object.

[2017-08-09 15:55] humphd commented on #2418
Hi @nadeemramsing.  Our policy around adding language support is that it needs to work without any build steps.  Can you help me understand the requirements of TypeScript support as you imagine it working in Thimble?  If it's just that you want syntax highlighting to work, that's cool.  What else?

[2017-08-09 16:00] humphd opened #2427 "Thimble not loading (indexeddb, 3rd party cookies, Firefox)"
From a user, some fantastic debugging:

TL;DR I found the cause for the error: 3rd party cookie settings MUST be Always Allow.

Long story ahead… including one question why cookie site exceptions do not work.

The IndexedDB test fully passes:

Test for broken IndexedDB
This page tests the current browser's IndexexDB to see if it contains bugs.
Possible bugs you might see:

    IndexedDB not suppor

[2017-08-09 16:00] humphd commented on #1568
See also https://github.com/mozilla/thimble.mozilla.org/issues/2427

[2017-08-09 16:02] humphd commented on #2368
Is this in Chrome?  I've noticed the same in the Chrome dev tools in general recently, and not related to Thimble.  It's odd that it would resume like that.

[2017-08-09 18:27] gideonthomas commented on #2427
Do we know why Indexeddb is not accessible with cookie settings set to `From Visited`? It seems like an odd bug.

[2017-08-09 19:06] TemTemmie commented on #2403
probably

[2017-08-09 20:48] gideonthomas commented on #2403
Hi @TemTemmie, unfortunately custom domain provisioning is currently beyond the scope of what Thimble can provide as it is not a hosting service and as such, I'm going to close this issue for now. Feel free to suggest other simple ways that we can add this feature and contribute to its implementation as well.

[2017-08-09 20:48] #2403 closed

[2017-08-10 12:31] hkirat commented on #2395
Thanks for the resource @humphd
I think I will be reusing the handleZipFile, handleTarFile and handleRegularFile functions as it is. Would it be a good idea to shift these into an abstraction and reuse them in both the places?

[2017-08-10 13:47] humphd commented on #2395
I don't think you'll need anything other than what `handleRegularFile` does, since any file in the remote filesystem will already be expanded (i.e., we auto-inflate archives).  If you want to generalize that code into its own utility module (or put it in an existing one).

[2017-08-10 13:48] hkirat commented on #2395
Oh yes that makes sense.

[2017-08-10 14:03] Lugasamom opened #2429 "Thimble takes forever to load projects and crashes"
I am teaching a Black Rocket class and most of my students cannot open their projects. The system takes too long to load and then crashes.

[2017-08-10 14:05] humphd commented on #2429
@Lugasamom really sorry to hear this, and thanks for letting us know.  Would you be able to provide some more info so we can try and fix things?

Which OS and browser are you working with in the class?  Also, what does "crashes" mean?  Are you able to look at the dev tools console and see if there are any relevant error messages?

[2017-08-10 14:07] Lugasamom commented on #2429
Loading Project
Your project seems to be taking a long time to load.
If it doesn't load, please reload the page to try again.

Try Again
If that doesn't help, let us know.

[2017-08-10 14:07] Lugasamom commented on #2429
Oops, something went wrong!
Please reload your browser to try loading Thimble again. Reload Now
For error details open your browser's Developer Tools console.

NOTE: if you are using Private Browsing mode, please reload in normal mode.

[2017-08-10 14:08] Lugasamom commented on #2429
We are using Win10 and Dell desktops. They worked fine all week.

[2017-08-10 14:08] Lugasamom commented on #2429
I have them using Chrome because Edge (the default) kept crashing with another program (scratch)

[2017-08-10 14:11] Lugasamom commented on #2429
I just had them try Firefox and it is still taking forever....

[2017-08-10 14:12] humphd commented on #2429
OK, this is good.  Can you also take a look at the console when it crashes like that?  Use [Ctrl + Shift + J](https://developers.google.com/web/tools/chrome-devtools/console/) to open and see what it shows, specifically any errors:

![screen shot 2017-08-10 at 10 10 32 am](https://user-images.githubusercontent.com/427398/29174427-4aabb070-7db4-11e7-89b2-cff4da5636a0.png)

[2017-08-10 14:16] Lugasamom commented on #2429
Content Security Policy: Directive ‘frame-src’ has been deprecated. Please use directive ‘child-src’ instead.  (unknown)
1502374435608	addons.update-checker	WARN	Update manifest for aushelper@mozilla.org did not contain an updates property
1502374435619	addons.update-checker	WARN	Update manifest for e10srollout@mozilla.org did not contain an updates property
1502374435629	addons.update-checker	WAR

[2017-08-10 14:16] Lugasamom commented on #2429
The parsing line is highlighted

[2017-08-10 14:17] humphd commented on #2429
@Lugasamom excellent, that looks like Firefox's log, correct?  How about chrome's?

[2017-08-10 14:39] TemTemmie opened #2430 "Mozilla Thimble not loading and stuck."
I tried making a new project and this happened.

ERROR
The request could not be satisfied.
CloudFront attempted to establish a connection with the origin, but either the attempt failed or the origin closed the connection.

Generated by cloudfront (CloudFront)
Request ID: RRhBiVAB0OujG_1Fj3oNj6_iNNtug4TObjWcJOV5ZWKvxap5k9iEag==
.

Screenshot : https://gyazo.com/0c79a423baff5677c03e899e65092951

[2017-08-10 14:42] humphd commented on #2430
cc @cadecairos @gideonthomas.  We've had a few reports of issues today with things not loading.  The earlier one I saw led me to believe it might be some kind of SSL issue.  Any thoughts?

[2017-08-10 16:05] humphd commented on #2430
@TemTemmie @Lugasamom can you try again now?  We've been seeing some database performance issues, which look to be resolved.

[2017-08-10 16:09] cadecairos commented on #2430
We've recovered for now, but based on the last twelve hours, we're not out of the woods yet:

![](https://i.imgur.com/BRulp17.png)

[2017-08-10 18:56] k-drive commented on #2303
It seems like I can click on the HTML file to display that code to get the JavaScript code to save immediately.

[2017-08-10 19:10] humphd commented on #2303
I'm not sure what the right move is here.  The preview DOM needs to fully download/reparse/execute any changed JS.  We autosave every 5 seconds (and/or when you switch the editor to a new file).  So the update to the experience in the preview is gated on the JS file getting written to disk.  No matter what editor/server/browser combo you use, this is always true.

[2017-08-10 19:23] hkirat commented on #2402
For adding a folder:

There doesn't exist a command to create a new folder with a file name.
calling FILE_NEW_FOLDER command creates a new folder with the title UNTITLED-x.
https://github.com/mozilla/brackets/blob/master/src/document/DocumentCommandHandlers.js#L705 is called after executing this command.

Would it be a good idea to make this function accept parameters, or create a new command like

[2017-08-10 19:41] flukeout commented on #2303
Can we increase the frequency of the save actions when a JavaScript file is in play? Can we just selectively save JavaScript files more often than other files?

[2017-08-10 19:49] humphd commented on #2303
We could try it, but I think the experience will be odd.  You'll be saving your file all the time while you're still typing, and sending broken code to the preview to run.  We could also try and do something a bit more clever with watching when you type and then stop, and triggering the save then?

[2017-08-10 19:56] flukeout commented on #2303
Another option would be to trigger a save when reloading the preview when there is JavaScript, or maybe adding another button to the preview that says "Rerun with new Javascript".

[2017-08-10 21:36] TemTemmie commented on #2430
@humphd It's now working.

[2017-08-10 22:18] Lugasamom commented on #2430
@humphd It's working but slow for me. Could be my laptop but it finally loaded.

Thanks!

[2017-08-11 01:17] humphd commented on #2430
Glad it's working again, and sorry that you weren't able to get things working today.  Let us know if you hit more issues.

[2017-08-11 01:17] #2430 closed

[2017-08-11 01:39] ryanwarsaw opened #2431 "Architectural decisions towards implementation of Social Sign-In"
Relevant Issues: #2358, #2299, #1752

Tagged: @humphd, @cadecairos, @gideonthomas, @flukeout

We're now entering the implementation stage for integrating Passport authentication technology within Thimble, and as a result we need to make some design decisions before moving forward. I would like to gather opinions, ideas and ultimately consensus on my proposal below.

Currently, the way we're doing

[2017-08-11 14:56] #2364 closed

[2017-08-11 15:55] k-drive commented on #2303
If I may add one more comment: I lost about 3/4 of a page of JS code because I thought it had been saved. I eventually quit and went to JSFiddle. I do like the interface and the simplicity of working with Thimble in just HTML, CSS and JS. But, this save issue will keep me away.

[2017-08-11 16:00] humphd commented on #2303
@k-drive thanks for the feedback.  Do you remember anything more about the circumstances where you lost that JS code?  Was this after publishing, or just while editing?

[2017-08-11 19:21] gideonthomas commented on #2431
@ryanwarsaw, all of this sounds great! Two questions though:

1. Why do the callback urls need to be different per strategy? The route logic for all of them are effectively going to be the same so there might be a lot of code duplication if we split them.

2. @flukeout can advise on whether the login endpoint to render the choices for authentication should be its own page or just a pop-up overlay

[2017-08-11 20:30] ryanwarsaw commented on #2431
@gideonthomas I'm sure it'd be possible to have just one callback URL, from which you could run logic when hit to determine what provider is being used and send the appropriate callback, but I opted to go with a more readable and less complex option of having just a simple separate route.

It's really just one line of code to declare the route, and tell it to let Passport handle callbacks to that

[2017-08-12 01:12] gideonthomas commented on #2431
Oh I see what you mean. Question about this approach - where would be add the logic that would need to happen before the redirect (for e.g. setting locale info, cache control headers, storing the user information in the db, etc.)?

[2017-08-12 01:37] ryanwarsaw commented on #2431
@gideonthomas We have control of the entire flow down to the libraries that send the request(s), so adding the logic to handle these various functions is fairly trivial. We're doing the same thing, just abstracting the login stuff out to a library and a "strategy".

The sequence of events and how that data is distributed may change slightly however, and I speak specifically to how handling user in

[2017-08-12 07:51] hkirat commented on #2429
@Lugasamom Could you post a screenshot of the `console` tab right next to the `Elements` tab in chrome?

[2017-08-12 10:40] jgmac1106 opened #2432 "Getitng error in Preview"
On this project: https://thimble.mozilla.org/en-US/user/jgmac1106/1107177/

I am getting this error in the preview window when I click on a link:

[code]

Yet the projedt works fine live,. Not sure if it is the JS or the CSS animation causing this. I know CSS animation doesn't work in Preview.

[2017-08-12 13:57] k-drive commented on #2303
David:

I was editing it.

I didn't publish anything in Thimble.

Ken

________________________________
From: David Humphrey <notifications@github.com>
Sent: Friday, August 11, 2017 12:00:40 PM
To: mozilla/thimble.mozilla.org
Cc: Ken; Mention
Subject: Re: [mozilla/thimble.mozilla.org] JavaScript changes take too long to take effect. (#2303)

@k-drive<https://github.com/k-drive> thanks for the feed

[2017-08-14 02:13] vikramnr commented on #2223
@humphd @flukeout Can I take this issue?

[2017-08-14 14:16] humphd commented on #2432
This is what I'm fixing in https://github.com/mozilla/brackets/pull/866.  @jgmac1106 solution is to refresh until it works.  Let me know.

[2017-08-14 14:28] jgmac1106 commented on #2432
Okay will move discussion there. Just some interesting patterns. Happens most for me with projects that use CSS Animation.

[2017-08-14 14:28] #2432 closed

[2017-08-14 16:19] gideonthomas commented on #2402
If you think it's easier to make it accept an optional parameter (name or path of the folder), then yeah, that would be preferable.

[2017-08-14 16:34] gideonthomas commented on #2223
@vikramnr yeah go ahead. Do you have your development environment setup? If not, you can find the instructions here: https://github.com/mozilla/brackets/blob/master/README.md

[2017-08-14 16:45] hkirat commented on #2402
Added a new command in https://github.com/mozilla/brackets/pull/868

[2017-08-14 20:04] ranjithrajvasam opened #2434 "Couldn't switch to split-screen mode / VR mode in mobile view"
Tried Thimble to code few A-frame(aframe.io) examples, noticed the video couldn't switch to VR mode.

Adding an option to rotate the phone screen by 90 degrees may help to solve the problem.

![mozilla thimble](https://user-images.githubusercontent.com/3455008/29289050-bad5d450-8158-11e7-916b-2757a92832e1.png)

[2017-08-14 20:06] flukeout commented on #2431
@ryanwarsaw - do you foresee any significant differences in terms of difficulty of implementation in the two approaches (popup vs separate page)? My gut says just to stick with the separate page, especially if that makes it a bit simpler.

[2017-08-14 20:17] ryanwarsaw commented on #2431
@flukeout A separate page might make for a more clean implementation, but it's honestly up to you.

[2017-08-14 20:20] flukeout commented on #2431
@ryanwarsaw - sounds good, let's move to a separate page.

[2017-08-15 16:13] humphd commented on #2142
@atiqueahmedziad @harshaiitr apologies to you both for losing track of this bug in my inbox.  My concern with this bug is that it involves some difficult work with regard to how we'd localize the template.  I think @Pomax has identified an edge case here that I'm not sure needs to be solved (I might be wrong).  In short, I'd encourage you not to tackle this bug, and instead take on something with

[2017-08-15 18:46] gideonthomas commented on #2434
cc @flukeout or @hkirat

[2017-08-15 20:20] flukeout commented on #2419
Yeah, good catch @hkirat - I have noticed this too.

[2017-08-16 14:56] arianadziedzic opened #2436 "Thimble platform not working. Help ASAP!"
Currently we have a classroom of 35 people in Sao Paulo, Brazil using Thimble and all functionality has stopped for 90% of the attendees. Can someone please help or give us an update on the technical issues going on ASAP?

[2017-08-16 17:51] humphd opened #2437 "Install Newrelic native-metrics module on publish"
https://www.npmjs.com/package/@newrelic/native-metrics would be nice to have, so we can get more insight into what is killing node.js on publish.  See https://docs.newrelic.com/docs/agents/nodejs-agent/supported-features/nodejs-vm-measurements

[2017-08-16 19:58] #2419 closed

[2017-08-17 08:52] ajomadlabs commented on #2120
@flukeout Can you assign me this issue ?

[2017-08-17 15:31] evolic commented on #2177
@serendicoder I have found another problem with this icon.

It is not showing after all in Mozilla Firefox.
Do you use Mozilla Firefox or Google Chrome only?

[2017-08-17 20:29] humphd commented on #2437
This basically just involves installing (via `package.json`) the native-metrics module, see https://docs.newrelic.com/docs/agents/nodejs-agent/supported-features/nodejs-vm-measurements.  We're going to try it.

[2017-08-17 20:32] humphd commented on #2437
https://github.com/mozilla/publish.webmaker.org/pull/263 fixes this.

[2017-08-17 20:32] #2437 closed

[2017-08-18 05:46] hkirat commented on #2434
I'm not sure if we can shift to split screen mode while simulating a mobile device even if we shift to landscape mode from portrait. I think clicking on the VR mode button on the bottom right would shift the scene to full screen, as you would expect on a Desktop device.

Trying something similar in the responsive mode in firefox, it shifts to the full screen mode :
![](https://media.giphy.com/medi

[2017-08-18 06:12] hkirat opened #2438 "Shifting Collaboration from brackets to Thimble."
## Shifting Collaboration from brackets to Thimble.

Now that we are in a decent state of [collaboration in brackets](https://github.com/mozilla/brackets/tree/collaboration), I think it would be a good idea to start thinking about the changes required to be done in Thimble to kick off collaboration inside Thimble.

To launch brackets in a collaborative environment, we need to pass a few config var

[2017-08-18 06:33] hkirat opened #2439 "Handling collisions while collaborating in brackets."
While collaborating, in an ideal case where there is no (0 ms) latency in transmission, Collaboration would work perfectly. However that is not the case since there is a network through which the events need to travel, and this leads to a delay in receiving events.

Here is a case where collaboration might end up into ambiguity:
 - T = 0ms, client A writes character 'a' at the beginning of line nu

[2017-08-18 07:23] ranjithrajvasam commented on #2434
It's painful to see A-frame/WebVR community is recommending 'glitch.com' when we have our own thimble.mozilla.org. I wish to thimble replaces glitch in Aframe tutorials.
A-frame/WebVR is a significant project being promoted by Mozilla and other FOSS communities. Adding this feature would be a great boost to thimble.

[2017-08-18 09:16] hkirat commented on #2434
I'm not sure if glitch has a split-screen mode for viewing the output of an aframe project.

Also since we can't wear a cardboard while editing a file on Thimble, I'm not sure how a split-screen mode would help.
If we could however, redirect the output to a mobile device in real time, it would be something amazing.

Or probably we could add a VR mode along with the mobile mode, that could help sim

[2017-08-18 09:57] ranjithrajvasam opened #2440 "Access Thimble with Firefox Accounts"
Most of the Mozilla services are accessible by Firefox accounts, that is really good thing to appreciate.
Thimble being a Mozilla service, it's good to have a feature to login via Firefox Accounts.
Creating a separate account and managing the password is little irritating.

Ref: https://support.mozilla.org/en-US/kb/access-mozilla-services-firefox-accounts
Tags: Feature Request, High Priority

[2017-08-18 11:03] hkirat commented on #2439
Although I'm not sure how we'll standardize timestamps across multiple devices. Is there some way to pick up timestamps from the internet?

[2017-08-18 11:04] hkirat commented on #2440
A discussion regarding shifting to social sign in going on [here](https://github.com/mozilla/thimble.mozilla.org/issues/2431)

[2017-08-18 11:23] ranjithrajvasam commented on #2431
Social Sign-on is not a good idea, indeed a very dangerous idea. Being Mozillians we shouldn't encourage harmful methods like social sign-on which helps the large corporations and trackers to grab the social data of users, it would make users to have concerns over personal information being transferred or used inappropriately were among their top concerns.

We have to make our privacy practices cl

[2017-08-18 14:37] mk779 commented on #2042
Hello, I'm a newbie. I'm interested in working on this bug. Can anybody help me with the process. and
I've setup the thimble and its up and running. but when i hit the remix button on the projects ,i'm getting a "page not found error". Do i have to setup the bramble also to fix this bug ? Thanks

[2017-08-18 14:56] humphd commented on #2273
A bunch of stuff has landed on publish, and I think we're in better shape.  But I wanted to mention that DELETE can still be really expensive.  We had a spike this morning at 4am:

![screen shot 2017-08-18 at 10 49 51 am](https://user-images.githubusercontent.com/427398/29464205-2f72193e-8403-11e7-8550-e42ecaa717aa.png)

Here's one, for example:

![screen shot 2017-08-18 at 10 52 49 am](https://us