[2017-03-08 15:25] humphd commented on #1829
According to http://jshint.com/docs/options/#newcap this was removed in JSHint, and your update has probably hit that.  In our `.jsintrc` we specify it, https://github.com/mozilla/thimble.mozilla.org/blob/master/.jshintrc#L11.  It looks like the combo of `use strict` is also affecting us.  Basically, this code *should* have a capital, but we didn't write it so we are at the mercy of the authors.

[2017-03-08 15:26] humphd commented on #1829
Also, you might want to fix this at the same time you fix the node deps (same PR), since you'll need it to pass travis.

[2017-03-08 15:27] humphd commented on #1824
I like the idea of the menu moving over, while the arrow stays put.  I'll let @flukeout give the final say, though.

Also, @hkirat thank you for getting so involved and taking on these bugs!  It's great to have you working on Thimble.

[2017-03-08 15:34] humphd opened #1830 "Duplicate definition of indent in .jshintrc"
We are redefining `indent` in our .jshintrc file.  It should only happen once, and Thimble uses 2-spaces.  Let's remove the second one.

[2017-03-08 16:52] dsych commented on #1326
After a recent pull, I can no longer run standalone Brackets, I gives me this error:

    at _patchCodeMirror (LanguageManager.js:209)
    at Object.<anonymous> (LanguageManager.js:1114)
    at Object.execCb (require.min.js:29)
    at Z.check (require.min.js:18)
    at Z.<anonymous> (require.min.js:23)
    at require.min.js:8
    at require.min.js:23
    at v (require.min.js:7)
    at Z.emit (requ

[2017-03-08 17:17] hkirat commented on #1824
Hey @humphd
Even I like the second idea more.
And thank you for the appreciation. It feels great to get involved with thimble.

[2017-03-08 17:41] MargarytaChepiga opened #1833 "html tags displayed on the pop-up window"
Hi,

I notice this bug:
![issue 1](https://cloud.githubusercontent.com/assets/15698572/23715382/7419ae3c-03fa-11e7-8746-2004722f94dd.gif)

Basically, when uploading a zip or tar file if the file size is up to 3MB then it's going to unzip the files and display a successful message. Inside the message, we can see html tags.

I want to fix this issue, any suggestions on how to find the pop-up window

[2017-03-08 17:54] flukeout commented on #1397
Fixed by @JohnEJames in https://github.com/mozilla/thimble.mozilla.org/pull/1808

[2017-03-08 17:54] #1397 closed

[2017-03-08 18:03] flukeout commented on #1693
Hey @hkirat - this looks interesting, thanks for looking into it!

I wonder a little bit if the Inspector is the best starting point. Thimble mostly focuses on beginner coders who are learning markup, so I think we should aim our features at promoting that kind of learning. The inspector kind of takes away from that experience and makes Thimble into a more fully featured 3D tool, which I don't thi

[2017-03-08 18:03] #1693 closed

[2017-03-08 18:41] humphd commented on #1814
cc'ing @cgsingh so he's aware, and can help other people if they have issues.  Closing since this isn't really a bug, just a process people need to follow for updating.

[2017-03-08 18:41] #1814 closed

[2017-03-08 18:48] flukeout commented on #1824
Hi @hkirat cool, yeah let's go with option 2 - move the menu over only as far as is necessary. Cheers!

[2017-03-08 18:53] humphd commented on #1833
I think this is likely the same bug as #1772, and both are going to be in Brackets vs. Thimble.

In Brackets we have a script that localizes strings using the Nunjucks templating library.  It's a bit complicated because we merge two different localization systems, one from Brackets itself, and the other from Thimble's Pontoon translation service.  The details don't really affect this bug, other th

[2017-03-08 19:01] flukeout commented on #1827
Hey @hkirat - since you're already tackling https://github.com/mozilla/thimble.mozilla.org/issues/1824 let's let @Lakshmikanth-mkce take a shot at this one. That is strange though, about the 4th icon!

[2017-03-08 19:12] hkirat commented on #1640
Hey @flukeout
I would like to work on this.
I would like to start with basic properties like rotation, translation and scaling. We can extend to other properties later.

[2017-03-08 19:16] hkirat commented on #1827
Hey @flukeout,
Sure no issues. I'll close my P.R. on the same.

[2017-03-08 19:26] flukeout commented on #1640
Great! Looking forward to it - are you OK juggling multiple issues at once or would you prefer to focus on one at a time?

What kind of interface would work well for these properties do you think? Could we expose all three properties at once in the QuickEdit UI? Or do you want to tackle them one at a time?

[2017-03-08 19:47] humphd commented on #1640
@hkirat I'm glad to see you grabbing a bigger piece of work to do with us, you're clearly capable.  A few thoughts about this.  First, there are a number of inline editor providers that exist, and you can likely study/steal code from, for example:

* https://github.com/mozilla/brackets/tree/master/src/extensions/default/InlineTimingFunctionEditor
* https://github.com/mozilla/brackets/blob/master/s

[2017-03-08 19:56] omytryniuk commented on #1829
Yes, I would like to work on it!
You are absolutely right. I have added a warning suppressor, and  successfully run "npm install"

[code]

[2017-03-08 20:08] flukeout opened #1834 "Benchmark other collaborative editing & coding environments."
* Codepen - Broadcast / tutor mode
* Google docs
* Google presentations
* For when people are in other slides, similar to how we do files
* Komodo IDE
  * https://www.youtube.com/watch?v=Mouxx6Wlg1k
* Etherpad
* http://liveweave.com/ - using Together.JS right now for code editing.
* ...others?

[2017-03-08 20:09] flukeout opened #1835 "Explore Google Drive API for collaboration."
@humphd mentioned the Google Drive API as a possible approach to doing collaborative editing.

[2017-03-08 20:12] humphd commented on #1835
See https://developers.google.com/google-apps/realtime/overview.  The down side of this is that it requires you to use a Google account.  I'd argue that this isn't a huge barrier, but it's something to ponder.

[2017-03-08 20:20] flukeout opened #1836 "Decide on Collaborative use-cases that we want to enable & prioritize"
There are lots of Collaborative use-cases, including:

* Real-time editing
  * Two more people editing together at the same time
* Async collaborative editing
  * I edit today, someone else edits tomorrow
* A teacher reviewing student work
  * Might include the ability to leave comments
* Broadcast mode to present to students
  * A teacher edits, while students follow-along in a read-only version

[2017-03-08 20:25] humphd commented on #1836
What about chat?  It might be implied in the above, but a thing I want to see us do is enable two people to help each other no matter what language they speak: you in English, someone else in Korean, and we use machine translation to make it happen.

[2017-03-08 20:25] flukeout opened #1837 "Research: What collaborative features do Students & Teachers want"
Since this is one of our main explicit audiences, we should find out what kind of use cases they are interested in.

**So far, we've heard**
* Teachers need access to student work to make sure that it's appropriate and meets the school's standard for online behavior
  * Currently, one teacher did this by allowing all students to sign in with one shared account and name their Projects after themsel

[2017-03-08 20:27] flukeout opened #1838 "Decide on Permission structure"
What are the different options for structuring the relationship between collaborators? Here's a basic structure we can start with.

**Author** - original owner of the project, and can...
* Edit the project
  * Content as well as adding & removing files
* Delete the project
* Publish / Unpublish the project
* Grant collaborator permissions

**Collaborator** - invited by Author, can...
* Edit the pr

[2017-03-08 20:31] flukeout opened #1839 "Design: UX of collaborative workflows"
Here are some basic needs:

* UX for how collaborative projects appear in the projects list
* UX for inviting a collaborator
  * Some kind of modal with an ability to add usernames or email addresses?
* UX for seeing the presence of collaborators within the editor
* UX for being a collaborator
  * How do you know you've been invited to collaborate?
* Investigate attribution UX. (Should we expose w

[2017-03-08 20:36] flukeout opened #1840 "Dev: Investigate technical requirements for leaving comments on a project."
Leaving comments is a common (but optional) aspect of working on a shared document. What are the technical pieces needed to make this work assuming that:

* Collaborators can leave text-based comments that are attached to a file and line number (for example)

[2017-03-08 20:46] flukeout opened #1841 "Dev: Create basic prototype of Thimble integrated with Together.js"
Since we're thinking of using Together.js as the mechanism to enable our real-time collaboration experience, let's try to create a basic prototype that allows two or more people to edit a Thimble project together. I think it will teach us a lot.

* Can we set up a public accessible-by-anyone thimble project to try this on?

[2017-03-08 21:01] flukeout opened #1842 "Design & Research: Explore Collaboration Use-Cases"
This is kind of a high-level issue, we can break down collaboration into a few of the following workflows:

**A) Explicit Permission-Granting**
The author of a project grants permissions to other people to give them access to edit the project. When those permissions are changed or withdrawn, collaboration ends.

_Advantages_
* Fine-grained control over who gets to do what

_Disadvantages_
* Collab

[2017-03-08 21:11] flukeout opened #1843 "Investigate technical requirements of 'shared ownership' of a Thimble Project"
Assuming we adopt a model of an explicit owner and additional (optional) collaborators per Thimble project, what are the technical implications and requirements. What will we have to re-architect about our current setup?

* We'll need a new database table to store this extra layer of data
* ...

[2017-03-08 21:20] flukeout opened #1844 "Investigate work involved in turning Together.js into a module / API that can be integrated into other projects"
Currenlty, together.js works by injecting its own UI into the host page. This might not be the best solution for Thimble (or other projects). What work would need to happen in together.js to expose its functionality via a plugin or API that can be included in other projects.

Not sure I'm using the right terminology here. But if we build our own collaboration UI, how would we wire it into together

[2017-03-08 21:24] flukeout opened #1845 "Design: How do we surface collaborator presence within a project"
Need to do some design on how we...

* Indicate that there are collaborators working on a project with you
* Indicate their presence within a specific part of the project
  * For example, which file they're editing / looking at
  * Which part of the currently visible file they are editing
* ...

[2017-03-08 21:32] flukeout commented on #1646
Yeah, will close this and re-file as an issue to remove this uhh "feature"

[2017-03-08 21:32] #1646 closed

[2017-03-08 21:35] flukeout opened #1846 "Remove "navigate to previous doc" key binding"
Previous discussion is here https://github.com/mozilla/thimble.mozilla.org/issues/1646

In short, hitting Shift + Command (in that order) on a Mac causes Thimble to switch the currently edited file to a different one. We don't want this feature enabled it can be removed probably by getting rid of these lines here:

https://github.com/mozilla/brackets/blob/master/src/command/Commands.js#L119-L120

[2017-03-08 21:54] flukeout commented on #1837
Paging @jgmac1106

[2017-03-08 21:56] humphd commented on #1841
One of the problems we're going to need to solve when we do this (and this bug is probably not the right place to solve this) is how to deal with state changes in the editor between the two ends.  For example, I'm looking at `index.html` and you switch to `style.css` and start typing.  We don't want that text to get put in the wrong file.

cc @simonwex, who might have 10,000 foot ideas on this.

[2017-03-08 21:58] humphd commented on #1844
I think we need to re-engineer together.js to be a service and an optional UI, but that you can swap out for ours.  It would be good if we could integrate this tightly into our app vs. having to use what it provides.  It's the broadcast and discovery aspects that we need (service) vs. UI.

[2017-03-08 22:25] DorelBarbu commented on #1100
Hello. I've studied the code and I came to the conclusion that we can use gideon's approach. I have one question: how can we check which theme is set? @humphd, @gideonthomas, a little help please?

[2017-03-08 22:30] flukeout opened #1848 "Discuss: Real-time collaboration in Thimble, what does it mean?"
To be explicit, we should describe what we mean by real-time collaboration. Which aspects of a projects are kept synced between real-time collaborators, and which are not...

**In sync**
* The contents of all the files
* The state of the file tree

**Not in sync**
* Which file is currently being edited (and previewed if appropriate)
* Mobile or Desktop mode in the preview
* Width of the three pane

[2017-03-08 22:38] flukeout commented on #1819
I think this is a problem with the localization stuff @Shank09

Try running these commands in your terminal from the root of the the Project folder:

* vagrant ssh
* cd /vagrant
* npm run localize
* npm run localize-client

[2017-03-08 22:39] flukeout commented on #1824
Hey, while you're at it, what do you think of changing the label from "Add" to "New" for each of the items. "New HTML file" sounds better than "Add HTML file"

[2017-03-08 22:51] humphd opened #1849 "Figure out a better Vagrant Provisioner than shell scripts"
We see a lot of contributors getting stuck when their Vagrant provisioning doesn't work for some reason.  Sometimes that's due to network errors, filesystem permissions, host OS/bios issues, the list is long.

We currently run our provisioner as a [shell script](https://github.com/mozilla/thimble.mozilla.org/blob/master/scripts/setup-services.sh), which is 100% better than what we had to do before

[2017-03-08 22:59] Shank09 commented on #1819
@flukeout
Unfortunately it did not work. I still cannot see the text.

[2017-03-08 23:02] flukeout commented on #1819
Did the ``npm run localize`` command build a set of locale files and display which files it created in the terminal?

[2017-03-08 23:16] flukeout opened #1850 "Feature Discussion: Two types of collaboration"
We can approach collaboration in a couple of different ways...

**Full-featured Google Drive style collaboration**
In this mode, the project author can grant collaborators persistent long-term permission to modify a project whenever they want. These permissions can modified and revoked only by the author (or co-author if we decide to have that role).

* This is a robust, full-featured solution tha

[2017-03-09 00:13] flukeout opened #1851 "Collaboration Mode A - Full Featured Collaboration"
This collaboration feature set closely mimics what we're used to already from services like Google Docs. Projects can have multiple contributors that are able to edit the project at any time. Here's a detailed feature summary:

As the project owner, I can set the following types of collaboration permissions for your project:

* This project can only be edited by me (default)
* This project can be

[2017-03-09 00:31] flukeout opened #1852 "Collaboration Mode B - Real-time Only Collaboration"
This collaboration feature set is focused on real-time collaboration only. As a project owner I can invite people to work with me as long as Collaboration Mode is turned on and I'm still editing the project. Once a collaborator joins, it's as if both of us were using Thimble at the same time. Every action of each collaborator (like switching files, or changing the theme) changes what the other col

[2017-03-09 00:33] #1850 closed

[2017-03-09 00:33] #1845 closed

[2017-03-09 00:34] #1842 closed

[2017-03-09 00:44] flukeout commented on #1839
Addressed in each of the Option A and Option B issues now

[2017-03-09 00:44] #1839 closed

[2017-03-09 01:07] Shank09 commented on #1819
Yes, i think so. I didn't see any errors while running those commands.
[code]

[2017-03-09 04:05] hkirat commented on #1640
@flukeout I'm totally fine with working on more than one issues.
Right now I was thinking of exposing all three properties at the same time. I'll build a prototype and we can see how it looks and decide accordingly.

@humphd Thank you for the resources.
Could you please elaborate why your last point.
This line -> understanding the entities that a-frame adds?
Do you mean the type of entities?

[2017-03-09 04:09] hkirat commented on #1824
Sure will do @flukeout .
Right now I'm a bit stuck in making the arrow responsive. There is an interesting problem that comes with the second method that we agreed to implement.

We need to modify [this](https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/stylesheets/editor.less#L191) css property dynamically. However, since it is not a part of the DOM (:after), it is slightly

[2017-03-09 04:21] pranay414 commented on #1770
@humphd I have added the hover treatment to file bar in brackets and same is to be done for thimble so where should I do that?

[2017-03-09 14:18] kyletower commented on #1593
You're welcome @humphd . No worries. Since I'm at a public school there is a strict web filter that blocks a lot of content from students. I don't think that was the issue because I experienced the same issues when logged into my teacher account (which has less restricted filtering). Also, I thought that if it was an issue with resources being blocked that it would have never worked instead of onl

[2017-03-09 15:56] humphd opened #1853 "Test embedding live streaming vides"
Spin-off from #1593, @kyletower writes:

Let's figure out what, if anything, we can do about this.

[2017-03-09 16:02] humphd commented on #1770
@pranay414 when you same that the same is meant to happen in Thimble, what do you mean?  I think we only need this in the Brackets code.

[2017-03-09 16:03] humphd commented on #1824
cc @Pomax, who also might know.

[2017-03-09 16:05] humphd commented on #1640
Consider the following:

[code]

I mean having Brackets be aware of things like `<a-entity>`, `<a-camera>`, etc.  Things like having syntax highlighting work properly, adding them to HTML autocomplete, etc.

[2017-03-09 16:08] pranay414 commented on #1770
Oh sorry I got confused, I'll open a PR asap!

[2017-03-09 16:10] hkirat commented on #1640
Right. Got it.
I'm starting with making the modifier for three primitives right now, cube, sphere and cylinder. This can be later extended to other primitives using regex.
I'm taking [this](https://github.com/mozilla/brackets/tree/master/src/extensions/default/InlineColorEditor) as a reference.

[2017-03-09 16:11] pranay414 commented on #1770
"also note that this will need to happen in the https://github.com/mozilla/brackets repo vs. in Thimble directly, even though it's filed here. You should start by setting up Brackets on your machine, following the README we have over there." This thing confused me, just tell me where should i make PR  https://github.com/mozilla/brackets repo or https://github.com/mozilla/thimble.mozilla.org?

[2017-03-09 17:37] flukeout commented on #1824
Let's just add the ``:after`` element into the markup as a new ``div`` with something like ``class='arrow-tip'`` - how's that sound?

[2017-03-09 17:38] flukeout commented on #1640
👍

[2017-03-09 18:35] flukeout opened #1854 "Add Emmet Support"
One of our users, Roberto Matthews, left a feature request on our YouTube video...

Links
* http://emmet.io/
* Bracket Extension - https://github.com/emmetio/brackets-emmet

[2017-03-09 18:44] hkirat commented on #1824
Sounds good. Will do that

[2017-03-09 18:51] flukeout opened #1855 "Design: Insert Snippet Menu"
@twigz20 is working on adding a snippet menu in PR #1826 - it's coming along really nicely, but we need to figure out some design.

**Needed**
* Icon & placement
* Menu design & placement

**Considerations**
* Right now in the PR, the snippet options change depending on what file is selected
  * While this is handy, I think we should have a way to access all the snippets independent of the file ty

[2017-03-09 19:36] dangkhue27 commented on #1227
Can I work on this issue?

[2017-03-09 19:37] flukeout opened #1857 "Create list of insertable HTML, JS & CSS snippets"
Related to the work snippet work in #1856

Let's start a list of useful snippets for beginners...

**HTML**
* table markup with a few with a table header, and some rows and columns
* definition list
* ordered and unordered list with a few blank items
* form with a few inputs / labels and submit button
* script tag to link to a JS file in the head
* style tag to link to a CSS file in the head
* vid

[2017-03-09 19:46] flukeout commented on #1227
Sure thing @dangkhue27

[2017-03-09 20:10] sgupta7857 commented on #1846
I will like to work on this bug @flukeout

[2017-03-09 20:48] flukeout commented on #1846
Please do! I hate this keybinding!

[2017-03-09 20:55] #1754 closed

[2017-03-09 23:09] flukeout commented on #1100
Just to keep this updated, @DorelBarbu and I figured out where the class was being applied to change the styles in the side bar and he's good to go.

[2017-03-09 23:38] flukeout commented on #1834
**Komodo Collaboration Tool**
* You create a collaboration session
* You invite/add contacts to it (contacts are managed separately)
* This creates a blank collaboration session, and then you can..
  * Import an existing file / project
  * Create a new file / project

When collaborating, you can see..
* Other people's text cursors (not mouse pointers)
  * Different color per user and username indi

[2017-03-09 23:52] #1838 closed

[2017-03-09 23:54] flukeout commented on #1857
We can figure out the code/markup for these later, but let's build a list of at least 5-10 per code.

[2017-03-10 00:32] pranay414 commented on #1770
@humphd I have made PR in Brackets repo.

[2017-03-10 02:27] humphd commented on #1770
OK, I did some review in your PR there.  One tip: when you do a PR for an existing issue, reference the issue and what it's about.  For example, with this issue, I'd do this:

[code]

When it's an issue in the same repo (usually it is, what we do with Thimble vs. Brackets is not normal), you can do it by giving the issue number like this:

[code]

[2017-03-10 07:53] pranay414 commented on #1654
@gideonthomas I would like to try this and I think this is GSoC 2017 project right?

[2017-03-10 16:48] dgregory10561 opened #1859 "Using Internal Images and the innerHTML property in JS"
I teach a Coding Club to Adults using Thimble as a primary tool and one of the JavaScript lessons that we teach is the getElementByID().innerHTML property to push images back to the DOM.  Our issue is that when you run the JS (button onclick) in the Remix, it works perfectly.  When you go into the Remix editor and run the JS, the preview screen does not display the INTERNAL URL Image, but it does

[2017-03-10 17:01] hkirat commented on #1830
I think this issue can be closed via #1831

[2017-03-10 17:20] flukeout opened #1860 "Staging: Unable to move file to "root" - editor hangs."
I imported a project, then deleted both files in the root. After that, I tried to move one of the files in the folder to the project root. The editor froze in this state...

![image](https://cloud.githubusercontent.com/assets/25212/23805354/638c80c0-0572-11e7-8131-632f24144a4d.png)

Related console warning

![image](https://cloud.githubusercontent.com/assets/25212/23805430/b35fa5c8-0572-11e7-8c00-

[2017-03-10 17:44] hkirat opened #1861 "Favorites stored in local storage rather than the database"
Right now if you select a project as your favorite, it is stored in local storage.
Check [this](https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/project-list.js#L60)
This will give different results if the same user opens the projects page in different browsers.
Ideally, there should be a flag in each project indicating whether or not it is in the user's favorites.

[2017-03-10 17:45] peiying16 commented on #1745
https://github.com/mozilla/brackets/issues/494
This issue may help fixing this bug.

[2017-03-10 17:54] flukeout commented on #1859
Hey Don, thanks for filing! I think @humphd will have some insight and I believe it's something we're planning to change in the future so that your usecase will work. Unfortunately, the way the editor references files right now from within the javascript makes that usecase break =(

[2017-03-10 18:06] Th30 commented on #1634
I'll push a fix for this tonight @humphd

[2017-03-10 18:57] pranay414 commented on #1609
@ZenanZha Are you working on it?, if not then may take this one?

[2017-03-10 19:05] pranay414 commented on #1615
@humphd I would like to work on this, please tell me how to proceed

[2017-03-10 19:08] ZenanZha commented on #1609
@pranay414  Sorry, I already finished all the main part of this Kit. I'm editing Teaching Kit docquments at the moment. Can you pick another one?

[2017-03-10 19:10] gideonthomas commented on #1615
I have recommended that @pranay414 probably tackle another "good first bug" issue first before getting into the starter kits.

[2017-03-10 19:11] pranay414 commented on #1609
Yes sure thanks for informing me!

[2017-03-10 19:15] ZenanZha commented on #1609
@pranay414 Thank you. A frindly tip: A Start Kit need one page of Teaching Kit(See in the img). We have to pay a lot effort to make it on our own.
![startkit](https://cloud.githubusercontent.com/assets/22037167/23809539/08a7f0f2-059c-11e7-9606-eaadbda39a71.PNG)

[2017-03-10 20:01] pranay414 commented on #1823
@gideonthomas I would like to work on this?

[2017-03-10 20:06] humphd commented on #1860
I had a student in class today asking to work on this bug, I think it's filed in Brackets.  I can't find it atm, it might be filed in thimble too.

[2017-03-10 20:10] humphd commented on #1860
I can't find it at all in either repo, but the bug is something about you try to move a file into a dir which has a file of the same name, and it silently fails.

The `addRef()` warning refers to a document in the editor not having proper bookkeeping happen on it.  Something isn't releasing the document, which did an `addRef()` earlier.  It probably isn't us, but we're maybe doing something at the

[2017-03-10 20:23] gideonthomas commented on #1823
Yeah go for it

[2017-03-10 20:24] pranay414 commented on #1823
how to begin?

[2017-03-10 20:27] humphd commented on #1859
@dgregory10561 you're hitting an edge case in our current live development server implementation, and it sucks that I don't have a perfect solution for you immediately.  I can tell you that I'm working toward doing it in the coming months, and the details are in https://github.com/mozilla/brackets/issues/549.

The reason this doesn't work is that we have to rewrite all URLs to local files, because

[2017-03-10 20:27] #1859 closed

[2017-03-10 21:13] flukeout opened #1862 "Get rid of two javascript errors we always see"
When you load the editor, these two fellas here are always popping up...

![image](https://cloud.githubusercontent.com/assets/25212/23813343/553e9852-0593-11e7-86c0-5004128ccad9.png)

...and misleading us into thinking they're significant or related to problems we might be experiencing at the time.

[2017-03-10 21:15] humphd commented on #1862
paging @gideonthomas... these are because the strings aren't in the `src/` build but are going to be there when we do full localization and serve from `dist/`

[2017-03-10 21:27] flukeout commented on #1860
It might be also that once we delete `index.html` it still has a secret invisible reference to it, which is blocking the new `index.html` from moving in there.

[2017-03-10 22:09] flukeout commented on #1861
Yeah, that was an intentional choice to keep the scope of the feature smaller. Ideally, this would be stored at the database level.

[2017-03-10 22:11] flukeout commented on #1855
The middle version is getting the best feedback from the folks that I've asked. In this mockup I also centered it below the icon so that we can reveal more of the code in the editor.

![image](https://cloud.githubusercontent.com/assets/25212/23815125/6d29f224-059b-11e7-9a2e-3e6aab3329cd.png)

Another option for this could be the 'inlineWidget' that brackets offers. We could expand something below

[2017-03-11 00:28] flukeout opened #1864 "Editor doesn't let you copy and paste white space"
In the desktop Brackets, and other desktop editors, you can highlight two spaces, copy them, then paste them over and over, adding to the whitespace on a line.

This doesn't work in the Thimble editor. Is it a setting?

[2017-03-11 00:28] Pomax commented on #1855
Really liking the first and second - although rather than let the user decide on the content, would it make sense to determine what the user can insert based on the file they're in? With a "more..." text that then reveals more snippets, which might be out of context?

Or perhaps that's more clicks than necessary and the menu can select the correct snippet context on its own, with the user able to

[2017-03-11 00:29] Pomax commented on #1861
closing this as a "works as intended". If we want to expand the functionality to a database-synced feature we should file a new, dedicated issue for that.

[2017-03-11 00:29] #1861 closed

[2017-03-11 00:30] Pomax commented on #1864
does it not work in all files, or just HTML files?

[2017-03-11 00:32] Pomax commented on #1823
A simple place to start would be to define an `npm` script that starts up [chokidar](https://www.npmjs.com/package/chokidar) for watching changes to the `locales/en-US` directory, and have that trigger the localization scripts that are already in our package.json file for updating the other locales.

[2017-03-11 00:34] flukeout commented on #1864
Looks like HTML/JS/CSS files. Those are all I tested.

[2017-03-11 00:45] flukeout commented on #1855
When you say out of context, do you mean the file type (HTML vs CSS) or something more specific within a file type like showing HTML snippets useful in the ``<head>`` when you've got your cursor there?

If it's just filetype, I think we can select the right file type by default when we open the menu.

[2017-03-11 00:52] Pomax commented on #1830
you're right, thanks for catching that!

[2017-03-11 00:52] #1830 closed

[2017-03-11 00:57] Pomax commented on #1855
yeah like you have index.html open, the snippets suggested are HTML snippets. You're looking at "script-1.js", the snippets suggested are javascript snippets.

[2017-03-11 00:57] humphd commented on #1830
@hkirat use `Fixes #1830: ...`  in your commit or PR message and it will do it automatically in github.

[2017-03-11 01:00] humphd commented on #1864
This works fine for me.  What kind of keyboard and mouse are you using with all these haunted keyboard and mouse shortcut issues!?

[2017-03-11 01:00] Pomax commented on #1857
for CSS it would be cool to have an automatic @import for webfonts.

[2017-03-11 01:01] Pomax commented on #1834
jsfiddle I believe has together.js for collaborative working.

[2017-03-11 01:04] humphd commented on #1823
NOTE: we have a few scripts in https://github.com/mozilla/thimble.mozilla.org/tree/master/scripts that do things like this, and could be copied/added to.  I think @gideonthomas should let us know the right path here, since he's written most of this code.

[2017-03-11 01:07] Pomax commented on #1854
It feels like this ties in with the idea of having a list of extensions (power)users can toggle through "a menu", however we end up implementing that. @humphd this feels like a good candidate for an initial extension set.

[2017-03-11 01:09] Pomax commented on #1853
Do we have any information what aspect of the embed didn't work? (x-frame-embed forbidden, etc?)

[2017-03-11 01:19] Pomax commented on #1851
should I also be able to "block" collaborators if it turns out they are more into destroying my work, and unroll the changes they made? (e.g. bad egg collaborator, pranksters, etc)

[2017-03-11 01:21] Pomax commented on #1849
Do we have an "inventory" of the pain points for contributors? Are the issues around the console itself, or around not getting enough information from the shell script?

[2017-03-11 01:23] Pomax commented on #1848
Are you looking for a "what we do now", or "what we ideally should be doing"?

[2017-03-11 01:24] Pomax commented on #1844
I'd echo that - having toghether.js take care of the "under the bonnet" work without any specific UI attached, but giving hooks for listeners and signals so we can tie our own UI into it would be amazing.

[2017-03-11 01:27] humphd commented on #1849
What I've seen happen is that the scripts in `setup-services.sh` will fail for some reason, but the Vagrant provisioner will assume things are OK and be done.  If it runs things once, it's happy, and assumes things are OK.  In reality, we need tests to be run that say, "Yes, indeed things are as they should be" and these other provisioners do exactly that.

One of my students expressed interest in

[2017-03-11 01:28] humphd commented on #1853
No, and ideally @kyletower can give us come clues for testing.

[2017-03-11 01:29] humphd commented on #1860
We probably need to properly "Close" the file as far as the editor is concerned, before we delete.

[2017-03-11 01:32] humphd commented on #1862
The code in question is here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble-move-file/main.js#L16-L18

We are using strings from the Brackets `Strings` module, and for some reason it seems to think that they aren't there.  @gideonthomas I wonder if we should change our localization merge code to run on `checkout` vs. as a build step, so your `src/` dir is always ri

[2017-03-11 01:32] humphd commented on #1634
Awesome, thanks!

[2017-03-11 01:44] humphd commented on #1100
The way we do the theme is as follows:

* In Thimble, we call into `bramble.js` here: https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L847-L853.  You can use `bramble.getTheme()` to figure out what the current theme is in Thimble.

* In Brackets we manage those calls (eventually) here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/The

[2017-03-11 01:54] Pomax commented on #1843
we may also need to start tracking changes as made "by someone", with rollback and back-out for unwanted contributions.

[2017-03-11 01:55] Pomax commented on #1840
figuring out how to comment on a file that is "in flux" is a fair challenge - tacking a comment to line 12 when someone else is adding many lines of new content at line 10 should not keep the comment tacked to the now completely unrelated new line 12

[2017-03-11 02:15] Pomax commented on #1758
@edyedy123 rather than putting the issue number in the PR title, remove it from there, and edit to the PR comment to say `fixes #1758`, and then github will automatically link up this issue to your PR

[2017-03-11 02:21] Pomax commented on #1817
/cc @cadecairos @gideonthomas

[2017-03-11 02:21] Pomax commented on #1636
@sgupta7857 can you crosslink your PR by putting a `fixes #1636` in that PR's  comment?

[2017-03-11 02:23] Pomax commented on #1812
@humphd @gideonthomas would proxies interfere here?

[2017-03-11 02:24] Pomax commented on #1793
@JohnEJames it's yours, have at it!

[2017-03-11 02:25] Pomax commented on #1637
@Rajat-dhyani can you update your PR so that the PR comment says `fixes #1637` somewhere? That makes github crosslink the two issues, flagging that your PR fixes this specific issue.

[2017-03-11 02:32] flukeout commented on #1855
Yeah, def - @twigz20 already has that ability built into the code. Makes a lot of sense.

[2017-03-11 02:33] Rajat-dhyani commented on #1637
@Pomax Done :) 👍

[2017-03-11 03:21] flukeout commented on #1864
Does it work for you @Pomax ?

[2017-03-11 04:55] Pomax commented on #1864
only in places where spaces are "allowed"... if I do it here:
[code]
then pasting spaces from clipboard does nothing. If I do it here:
[code]
the it works fine. Looks like Brackets "knows" about the whitespace rules in an HTML document and prevents putting whitespace that is going to get ignored anyway in the document?

[2017-03-11 08:49] muhammadkhon opened #1866 "Tajik language support"
Hi. I am a Tajik programmer. I want to translate thimble Web interface into Tajik Language. Please create necessary TG folder for me and give me access to change it. Thank you.

[2017-03-11 09:03] us-mahina commented on #1866
Hi. My name is Mahina. I wrote above message from my collegue account,  We want to translate thimble Web interface into Tajik Language. Please create necessary TG folder for me and give me access to change it. Thanks a lot..

[2017-03-11 11:55] sudwebd commented on #1841
To tackle a case like your @humphd , we can add a new functionality of multiple scrollable windows on the left side coding window ,if one user is editing the `index.html` file and another switches to `styles.css` file, then two divisions will come up on the coding region respectively for the html and css files and the users can code there in parallel.
To manage the problem for the coding space I w

[2017-03-11 15:37] dgregory10561 commented on #1859
Thanks for the thorough explanation.

Don

On Fri, Mar 10, 2017 at 3:27 PM, David Humphrey <notifications@github.com>
wrote:

--
*Don Gregory*
*dgregory10561@gmail.com <dgregory10561@gmail.com>*

[2017-03-11 19:11] DorelBarbu commented on #1100
Yes, it helps very much. I'm starting to work on it now! I've been busy in the last 2 days. Thank you, @humphd  and @flukeout !!

[2017-03-12 01:08] Pomax opened #1867 "We need a wiki page that explains how to localize for contributors, not just devs"
Right now we have a wiki page called "localization" but it's only for devs. We should rename it to "localization for devs" and then make a new page for contributors.

[2017-03-12 01:11] Pomax commented on #1866
Hi @us-mahina that sounds great! We don't do localization directly on the files in this repository, instead we use Pontoon for translations.  Maybe @gideonthomas or @humphd can start a Tajik locale for https://pontoon.mozilla.org/projects/thimble, and then you can start translating the strings that we use in our project.

[2017-03-12 03:03] gideonthomas commented on #1823
You need to write another watch script in the folder that @humphd links to above. Let's call it `watch-strings.js`

Use [this file](https://github.com/mozilla/thimble.mozilla.org/blob/master/scripts/watch-client.js) as a reference as the watch logic is similar. You basically just need the following pieces of logic:
- https://github.com/mozilla/thimble.mozilla.org/blob/master/scripts/watch-client.j

[2017-03-12 03:18] gideonthomas commented on #1866
@TheoChevalier, would you be able to enable this locale on Pontoon? I don't see a team for it yet so am not sure of the procedure to get translations for this locale.

[2017-03-12 03:28] sgupta7857 commented on #1636
fixes #1636

[2017-03-12 03:50] gideonthomas commented on #1862
@humphd I'm not sure I follow. I think the problem here is that we run `npm run unlocalize` which erases the changes we make to `src/nls/root/strings.js` which includes the string for "Move File". I wonder if there is a way to tell it to use strings from `dist` instead.

[2017-03-12 04:10] gideonthomas commented on #1651
Fixed with mozilla/brackets@6a92bc115240419092518de89f678beb0d6eb50f

[2017-03-12 04:10] #1651 closed

[2017-03-12 04:24] Rajat-dhyani commented on #1419
@Pomax @flukeout @humphd @gideonthomas
![ss](https://cloud.githubusercontent.com/assets/17648963/23829003/c6d81fac-0709-11e7-8038-e988ea2c3818.gif)

i was able to get the list of projects onto the  menu but i am tackling with two problems.
1- `hover over` is not working - when i am listing the event `onClick` it is working fine but when i change the event to `onhover` it is not doing anything.
2-

[2017-03-12 07:17] hkirat commented on #1640
A little help.
I am trying to work on this, however the changes I make in https://github.com/mozilla/brackets/tree/master/src/extensions/ don't seem to show in the browser.

I've tried running
[code]
and then restarting the server.
Is this the right file to make the change?
Have I messed up the installation process?

[2017-03-12 14:08] hkirat commented on #1640
Nevermind, Just had to disable cache in chrome

[2017-03-12 14:35] dangkhue27 commented on #1227
I was able to reproduce this in production, but on the localized version there isn't an option to move a file anymore:

<img width="270" alt="screen shot 2017-03-12 at 10 27 29 am" src="https://cloud.githubusercontent.com/assets/10606265/23832620/cc2e433c-070e-11e7-95dd-64de710a5727.png">

Is this a bug?

[2017-03-12 17:32] Rajat-dhyani commented on #1532
@gthomas @jgmac1106 @pomax i think we should have a feature like this in the thimble project. Should i add `hypothesis.is` as a default extension to integrate this feature ?

[2017-03-12 18:10] jgmac1106 commented on #1532
I kind of like the idea. Especially now that we have a standard for open
annotation.

Please note I could not get the plug in to work on the editor side. Just
the preview window.

Not sure what annotating on the editor side would take. You usually right
click but there could be short cuts.

In terms of licensing anything on hypothes.is is in the public domain so it
isn't more restrictive than the

[2017-03-12 19:08] lkisac opened #1868 "Renaming project to same title as previous still shows publish changes prompt"
If you click 'Save' on the project title without renaming, the update published project button still shows.

I've fixed this locally and will create a new PR.

[2017-03-12 22:55] GingerDragon7 opened #1870 "Issue in thimble environment setup(in vagrant up command)"
While setting-up the environment for Mozillla Thimble,a issue is coming on entering vagrant up command.

vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Box 'base' could not be found. Attempting to find and install...
    default: Box Provider: virtualbox
    default: Box Version: >= 0
==> default: Box file was not detected as metadata. Adding it directly...
==>

[2017-03-12 23:01] GingerDragon7 opened #1871 "Trouble in signing in for Mozilla Chat"
When we try to join Mozilla Chat,every time it is showing we couldn't find an account matching your login credentials,irrespective of the fact that we have entered all the details correct every time.It would be great if anyone could  see this screen shot and tell me what exactly is going wrong.

![screenshot 6](https://cloud.githubusercontent.com/assets/17198965/23836933/f6970068-07a5-11e7-8a6f-bf

[2017-03-12 23:47] ryanwarsaw commented on #1871
You need to enter your email address, not your username. Refer to the field description.

[2017-03-12 23:52] ryanwarsaw commented on #1870
You're attempting to use the Vagrantfile for Thimble in order to run brackets, this is incorrect. Please refer to https://github.com/mozilla/thimble.mozilla.org#installing-brackets-bramble for instructions related to brackets setup.

[2017-03-12 23:52] #1870 closed

[2017-03-12 23:52] #1871 closed

[2017-03-12 23:55] ryanwarsaw commented on #1867
Related: #1324

[2017-03-13 00:50] humphd commented on #1871
@GingerDragon7 if this doesn't fox your issue, please re-open this and let us know.

@ryanwarsaw, I asked Sunny to file this, so we could get the answer documented in Github vs. emailing me directly.

[2017-03-13 00:54] humphd commented on #1870
@GingerDragon7 the comment above from @ryanwarsaw is right, but let me elaborate on it a bit.

We have 2 repos, Thimble and Brackets (there are actually quite a few more, but these are the main ones).  Even though they are both needed to run Thimble, we have them separated because we run the editor portion of Thimble (i.e., Brackets) on a different domain than the rest of the Thimble app.  We do t

[2017-03-13 00:57] humphd commented on #1227
Are you running Brackets from `src/` or `dist/`?

Also, I wonder if this bug is at all related to #1860

[2017-03-13 00:57] humphd commented on #1860
The other bug I wanted is #1227.

[2017-03-13 00:58] humphd commented on #1640
You only need to run `npm run build` when you touch `src/bramble/client/*`, so it shouldn't be necessary here.  I would suspect cache is your issue...and reading more closely above, I see you came to the same conclusion :)

[2017-03-13 01:50] dangkhue27 commented on #1227
Running it from Thimble or `src/` doesn't have the option, `dist/` does.

[2017-03-13 01:52] humphd commented on #1227
Likely this is the same bug as #1862

[2017-03-13 03:06] bkim49 commented on #1671
Like @humphd mentioned earlier in this issue, this bug does not occur locally. How would I fix an issue in this case?

[2017-03-13 03:17] humphd commented on #1671
"does not occur locally" <-- can you tell me what you mean by this?  I don't read that above.

[2017-03-13 03:43] bkim49 commented on #1671
@humphd I mean, when I run thimble + bracket through vagrant locally on my computer, this bug does not occur. Refresh button, or auto refresh does not move the cursor to the very top of the preview page. Instead, it does what @flukeout wants it to do. It remains in the same position where the cursor starts. But when it auto refreshes, the scroll on the preview side does not change.

This bug only

[2017-03-13 11:30] us-mahina commented on #1866
@gideonthomas , nice to meet you. We should be a team to start localization, am I right? We are a group of 6 students (programmers) want to have an access to do that.

[2017-03-13 11:32] us-mahina commented on #1866
@Pomax , thanks for support, I hope eo start soon :-)

[2017-03-13 15:45] humphd opened #1873 "Establish clear PR review guideline and document it"
In 2017 we have a very active contributor and localization community:

![screen shot 2017-03-13 at 11 25 00 am](https://cloud.githubusercontent.com/assets/427398/23861203/bfed4c04-07df-11e7-8905-84e82522a943.png)

I'd like to continue this trend, and part of doing that is making sure we're reviewing and landing code as fast as our developers are writing it.  Right now, for example, there are more

[2017-03-13 15:48] Rajat-dhyani commented on #1532
@gideonthomas  sir if you could add this issue for open discussion and let other members also share there valuable feedback.. so that we can come to a conclusion.. that would be great
thanks

[2017-03-13 15:54] alicoding commented on #1873
I'm down helping review whenever needed (when I'm not swamped with work) and would love to set process in term of what would be the acceptable to merge pull request. I also like the idea of using Github's new Reviewers feature.

Question about our Tests here, do we have it cover to at least rely on Travis to help us reduce any error of merging code that we "thought it looks good" ?

[2017-03-13 15:59] humphd commented on #1873
@alicoding, thanks for jumping in, I'd love to see your expertise still stay connected to this work, even if you're just in an advisement role.

Our testing is very limited at the moment.  We do use Travis for Thimble and Brackets to catch linting errors, but that's about it.  Adding some better test coverage would help with this issue, but it will also distract us.  There's likely a good balance

[2017-03-13 16:10] flukeout commented on #1854
I agree, and I'd wager @humphd and @gideonthomas do to. We can include some kind of advanced settings panel. Might be a cool contributor task too - port your favorite extension.

[2017-03-13 16:17] flukeout commented on #1840
Yeah, good point - if we do comments we have to figure out what to anchor them to. I think gDocs anchors to a selection.

[2017-03-13 16:32] Pomax commented on #1873
One thing I'd like to suggest is that we revive an issue/PR triage, in the old Thimble style, where we run through PRs first, assign reviewers without discussing the PR itself, and then move on to issues, where we assign a driver, again without discussing the issues itself.

[2017-03-13 16:34] humphd commented on #1873
@Pomax I think that's a great idea, and it assumes we're doing weekly triage.  Let's commit to all of that.

[2017-03-13 16:48] TheoChevalier commented on #1866
Hi!

Added the locale to Pontoon :) @us-mahina I’ll just need you to review the info here: https://pontoon.mozilla.org/tg/ then you’ll need to create a Pontoon account and let me know which email you’ve used. I’ll make you the locale manager and enable Thimble, then you can add more locale managers and or translators yourself.
You don’t **have** to be several people to start localizing, but of cou

[2017-03-13 16:54] ryanwarsaw commented on #1873
There are definitely a lot of basic area's of improvement we could benefit from, including more thorough documentation, improved unit testing, systems and processes in places for review, etc.

I'm a big fan of the two-person system for reviews, and I'd encourage using the trusted contributor hierarchy for initial reviews, but always requiring sign-off by a staff or at least another individual.

On

[2017-03-13 16:55] flukeout commented on #1671
@bkim49 I can't reproduce this in production OR locally right now! I guess that's a good thing - I'll close it for now, and if I notice it again, I'll open a new issue with very clear steps to reproduce the problem. Thank you for looking into it!

If it's happening for you in production, can you post a link to the published project where you are noticing it? I'll remix it and try to reproduce it.

[2017-03-13 16:55] #1671 closed

[2017-03-13 17:34] flukeout opened #1874 "Remove hover effect on code block arrows in the gutter"
Notice the strange hover behavior on the arrows in the gutter? The light up when you hover over the code but get fainter when you hover over the gutter, that seems to be the reverse of what we want.

![arrow-hover](https://cloud.githubusercontent.com/assets/25212/23867268/96a69032-07d8-11e7-8fcd-b48b680d0563.gif)

Let's...

* Remove the color change hover effect
* Make the cursor a pointer when yo

[2017-03-13 18:56] sgupta7857 commented on #1846
@flukeout I wasn't able to generate the behaviour every single time on chrome. So, I really can't fully test the edits that I have made. I have created a new branch and made the changes please see if the changes fix the issue.

[https://github.com/sgupta7857/brackets/tree/issue-1846](url)

[2017-03-13 19:13] flukeout commented on #1846
Can you please create a Pull Request - then I'll test it out - cheers!

[2017-03-13 19:45] flukeout commented on #1864
Okay - let's close it! Thanks for checking

[2017-03-13 19:45] #1864 closed

[2017-03-13 19:47] geekodour commented on #1874
I tried fixing it, but that part of the editor comes from the  Bramble HTML editor, which comes under mozilla brackets  https://github.com/mozilla/brackets. So to fix this issue, I'll have to fix it either, we can directly add styles overwriting current styles else have to make changes to the upstream library.
Can anyone show some direction on this?

[2017-03-13 19:51] humphd commented on #1874
You're exactly right, it needs to happen in Brackets, not Thimble.  We just tend to file the bugs here, because that's what our users know.

Likely you need to fix the classes mentioned here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/CodeFolding/main.js#L282-L297 and defined in https://github.com/mozilla/brackets/blob/master/src/extensions/default/CodeFolding/main.less

[2017-03-13 21:12] sanariaz154 commented on #1874
I want to resolve this issue as I am preparing for GSOC17. can you please tell me where to start

[2017-03-13 21:15] flukeout commented on #1874
Hi @sanariaz154 - I think @geekodour is working on at at the moment. I'd recommend looking for another issue labelled "Good first bug" - thanks!

[2017-03-13 21:19] sanariaz154 commented on #1874
@flukeout  can you please suggest me another good first bug or easy issue to which no contributor is assigned yet ?

[2017-03-13 21:32] flukeout commented on #1868
Thank you @lkisac!

[2017-03-13 21:47] bkim49 commented on #1708
@gideonthomas  I would like to work on this bug. Can I be assigned to this bug? Thank you

[2017-03-13 22:16] flukeout opened #1875 "Add extra padding before the start of each line in the editor"
Currently, code starts immediately after the white line that separates it from the line numbers (and gutter arrows)...

<img src="https://cloud.githubusercontent.com/assets/25212/23877522/ebbd2ec4-07ff-11e7-9898-ea653b962812.png" width="250"/>

Let's add about 10 pixels of left padding the code so that it looks like this...

<img src="https://cloud.githubusercontent.com/assets/25212/23877543/00b66

[2017-03-13 22:20] flukeout commented on #1874
How about this one @sanariaz154 https://github.com/mozilla/thimble.mozilla.org/issues/1875

[2017-03-13 22:25] sanariaz154 commented on #1616
@humphd I want to work on this . Can you explain it further ?

[2017-03-13 22:27] flukeout opened #1876 "Experiment: Collaboration via Operational Transformations (OT)"
According to @humphd - there are some JS libraries already available that do Operational Transforms (including ones specifically related to CodeMirror). OT might be a good way for us to keep the contents of files in sync, so let's try it out.

**MVP Goal**
Create a basic collaboration prototype that allows two people to edit the same file in real time. They will be able to see the changes made to

[2017-03-13 22:31] flukeout commented on #1875
Temporarily held for @sanariaz154

[2017-03-13 22:32] sanariaz154 commented on #1875
I am working on this . Thanks @flukeout

[2017-03-13 23:39] flukeout opened #1877 "Discussion: Ditch Code-folding feature?"
So i was doing some small styling tweaks to our sorta-ugly code folding arrows and was thinking, do we even need these? It doesn't seem like they're a useful feature for beginners.

We could always just enable them later when we get around to an advanced panel. But for now I feel like they take up space and clutter things up without adding a lot of utility.

Thoughts?

[2017-03-13 23:52] flukeout commented on #1608
Closed via work in #1724 - thanks again @ZenanZha

[2017-03-13 23:52] #1608 closed

[2017-03-13 23:56] sanariaz154 commented on #1875
@flukeout can you please tell me which files from [](https://github.com/mozilla/brackets/blob/master/src/extensions/default) are referencing this issue?

[2017-03-14 00:00] flukeout commented on #1875
Hi @sanariaz154, since this is mostly a styling issue, I'd recommend adding some new styles to ``bramble_overrides.css`` - you can find the right element to modify by using the developer tools to inspect the elements on the page in your browser.

Let me know if you need help.

[2017-03-14 01:36] humphd commented on #1877
It's an extension that's easy to turn off/on by just not loading it.  We could try removing it and see if people notice.

[2017-03-14 01:39] humphd commented on #1616
I feel like this isn't a well scoped bug, and is going to leave you feeling frustrated. Despite the fact that I filed it, I don't have any more to say about what it should be about than what I wrote earlier.  It was suggested by a community member, and I filed it on his behalf.

I think I'm going to close it, and suggest that we get you working on something else, @sanariaz154.  There are other one

[2017-03-14 01:39] #1616 closed

[2017-03-14 02:04] geekodour commented on #1874
I fixed it locally, I am not sure if it worked. I'll be sending the PR soon. I was getting build errors, It was strange. First of all, after doing **npm install** the package.json gets modified. (image) don't know if it's intended behavior, after that **npm run build** fails on **grunt build-browser**.
`{ Error: Error: ENOENT: no such file or directory, open '/home/geekodour/OpenSource/brackets/sr

[2017-03-14 02:29] dangkhue27 commented on #1862
I think I will fix this one before fixing #1227, but i'm not sure what needs to be done here. Can you tell me how can I start with this issue?

[2017-03-14 02:34] TheoChevalier commented on #1873
Would be happy to provide reviews for this part

[2017-03-14 06:30] GingerDragon7 commented on #1871
@ryanwarsaw thank you,my issue has been solved.
@humphd thank you,if i will face any issue i will open it.

[2017-03-14 06:36] GingerDragon7 commented on #1870
@ryanwarsaw @humphd thankyou,i am reading the corresponding documentation and trying again.

[2017-03-14 07:33] geekodour commented on #1874
@flukeout  @humphd  I've sent a pull request for this issue here:
https://github.com/mozilla/brackets/pull/647
let me know what can i do to make it better.

[2017-03-14 11:26] us-mahina commented on #1866
@TheoChevalier , Thank you very much. Of course, I'll write if some problem

[2017-03-14 12:56] hkirat commented on #1640
Hi
I have made the following in the last two days.
Right now you can edit all properties like position, scale etc (all that are of the form [number number number].
![vid](https://im3.ezgif.com/tmp/ezgif-3-b4f550af88.gif)

Is this approach right?

[2017-03-14 12:58] #1829 closed

[2017-03-14 13:11] #1595 closed

[2017-03-14 13:44] humphd commented on #1640
Very cool!  I think the preferred order here is: make it work, make it right, make it fast, make it pretty.  What it should look like in the end is one thing, but that you are doing it at all is the right first step.

This reminded me a bit of http://workshop.chromeexperiments.com/examples/gui/#1--Basic-Usage, have you ever played with it?

[2017-03-14 14:32] hkirat commented on #1640
Great. I'll finish it up and apply for a P.R with the first draft.
We can continue from there on.

Also the experiment above looks awesome. The right integration of aframe with thimble can give many more experiences like this one.

[2017-03-14 16:15] flukeout commented on #1640
Yeah, this is super cool - awesome progress and I'm happy we're exploring the Quick Edit feature in general too!

[2017-03-14 17:19] flukeout commented on #1877
Cool, I'll file that.

[2017-03-14 17:19] #1877 closed

[2017-03-14 18:01] humphd commented on #1849
I've confirmed with my colleague that Ansible is likely a good choice here vs chef/puppet.

[2017-03-14 19:08] sanariaz154 commented on #1875
Hi @flukeout,  styles related to the code block element class `.CodeMirror` are in `brackets_codemirror_override.less` - adding new styles to `bramble_overrides.css` weren't fixing the issue.
I've sent a pull request for this issue:
(Thimble issue1875 #648)
Kindly let me know what can I do to make it better.

[2017-03-14 19:25] Rajat-dhyani commented on #1681
hey @Mordax if you are not working on this issue can i take this over ?
c.c : @flukeout @humphd

[2017-03-14 19:49] flukeout opened #1878 "Research: Collaboration via Together.js"
Let's try to build a light-weight prototype that uses Together.js to keep the content in an edited files in brackets in sync...

Goals
* Allow two or more people to access the same file with the same URL using brackets
* Reflect the changes made to the file in real-time to all participants

[2017-03-14 19:50] flukeout opened #1879 "Research: How does Cloud9 do its thing?"
What technologies does https://c9.io/ use to handle collaboration? Can we apply a similar stack to our real-time collaboration work in Thimble?

[2017-03-14 19:52] flukeout opened #1880 "Research: Google Drive API for real-time collaboration"
This has come up quite a few times in our discussions. Let's investigate what this API does and if it would be useful for real-time collaboration in Thimble.

**Questions**

* What are the upsides?
* What are the drawbacks?
* Can it handle keeping brackets files in sync?
* Can it handle chat?
* ...

[2017-03-14 20:06] flukeout commented on #1873
Here's the Git collaboration workflow bit that @ryanwarsaw is referencing:
https://mozilla.github.io/open-leadership-training-series/articles/github-for-collaboration/collaborative-workflow-for-contributions/

[2017-03-14 20:12] flukeout opened #1881 "Phase 1 Collaboration MVP"
Before tackling this issue, we should have experimented with (or evaluated) a few different approaches to real-time collaboration (Google Drive API, Operational Transforms, Together.js) and chosen one to try for this phase of the work.

This MVP should demonstrate basic real-time collaboration features.

Here's a rough guideline...

* Doesn't need to be running within the Thimble wrapper, just bra

[2017-03-14 20:23] flukeout opened #1882 "Phase 2 - Collaboration MVP in Thimble"
In [Phase 1](https://github.com/mozilla/thimble.mozilla.org/issues/1881) - we built a bare-bones collaboration prototype and now it's time to integrate it into Thimble.
Features

* A way to enable collaboration mode from within Thimble
  * Should give the project owner a link to send to collaborators
  * Figuring out a way to expose the contents of the project to collaborators without them being a

[2017-03-14 20:52] flukeout opened #1883 "Phase 3 - Improve Collaborator Presence in Thimble"
In this phase of work, we will be building on [Phase 2](https://github.com/mozilla/thimble.mozilla.org/issues/1882) to improve the visibility & presence of collaborators within a collaborative project.

**Features**

* Showing how many collaborators are participating
* This could include username and avatar and available
* Allow collaborators to set their name & pic
* Which file they are currently

[2017-03-14 21:14] humphd commented on #1879
This is how they do it: https://github.com/c9/c9.ide.collab

However, their license is not compatible with ours, so we can't really study or use their code.  Basically they use an OT approach like we're considering anyway.

I think the most useful aspect of what they do would be to try it out in the app and see what it's like.

[2017-03-14 21:24] humphd commented on #1879
See also https://docs.c9.io/docs/share-a-workspace

[2017-03-14 21:36] flukeout commented on #1852
Closing as feature spec is documented in #1851

[2017-03-14 21:36] #1852 closed

[2017-03-14 22:14] Pomax commented on #1823
this is, honestly, way more work than necessary, a single chokidar npm script can do this without needing to touch lots of files.

[code]

done.

[2017-03-14 22:16] Pomax commented on #1419
Looking pretty good so far!

[2017-03-14 22:17] #1758 closed

[2017-03-14 22:20] Pomax commented on #1532
/cc @humphd @flukeout

[2017-03-14 22:24] Pomax commented on #1848
it's an interesting question when you have a UI of which parts can be hidden for different people - the question becomes "is this collaborative editing, or is it N people contributing to what 1 person is doing" because those come with different needs. For the first I would imagine that "two people editing one file, 2 people editing another" and they all only see the file they're working on but und

[2017-03-14 22:28] Pomax commented on #1840
I guess it also depends on the level of event information we get - if someone adds a comment to line 12, and someone else pastes 7 lines on line 10, then we might be able to see that "this person added a comment, someone else introduce new lines, this person's comment needs to be moved".

[2017-03-14 22:42] Pomax commented on #1866
I will close this issue as resolved, as translations for Tajik will get automatically be pushed into the thimble repository: when you get close to 100% translation it would be good to file an issue asking to turn on Tajik localization as one of the "enabled" locales

[2017-03-14 22:42] #1866 closed

[2017-03-14 23:15] flukeout commented on #1848
Yeah, maybe that's a good way to distinguish these...

**Spectator Mode**
I can invite others to watch what I'm doing in Thimble - they see exactly what I see and are not able to make any changes to my project.

**Collaborator Mode**
I can invite others to join me in co-creating my project. We can all edit different files together and see each other's changes.

[2017-03-14 23:20] flukeout commented on #1843
I'm going to close this issue as it's related more to the 'multiple owners' use case that we're not going to be tackling right away. To your point about reverting changes, I think we can make that an option at the end of a collaboration session like [ discard changes? ] etc.

[2017-03-14 23:20] #1843 closed

[2017-03-15 00:05] Pomax commented on #1878
do we want to do an intial test with a single file setup, so that "changing files" doesn't get in the way? Or do we want to try to go for multiple files?

[2017-03-15 00:09] Pomax commented on #1848
maybe an internediate model too:

**Mentor Mode**
I can invite others to watch what I'm doing in Thimble, with then able to help me only in the file I am looking at.

[2017-03-15 00:09] humphd commented on #1878
My advice, based on what I'm seeing in various bits of code is that we do something that targets `http://localhost:8000/src/hosted.html` which means we'll have a pseudo-shared fs (same initial state) and then we do something with OT and CodeMirror deep inside Brackets.  That could be Together.js or any number of other OT js libs.

One thing we're going to have to solve is routing.  We're going to

[2017-03-15 00:17] flukeout opened #1885 "Feature Discussion - Call for Help"
Since we are focusing on short-term real-time collaboration, it seems like it might be useful to use it to get help with a project. If you don't know of someone to send the link to, could we advertise somewhere that you want help so we can get a community member or random helpful stranger to help you out?

* Maybe you could set a "make this public" flag when you turn on a collaboration
* You could

[2017-03-15 00:25] Pomax opened #1886 "can't drop files "into" a dir"
If I have a dir "open" and selected in the file browser, and I drag-and-drop a file into thimble, it'll drop it in the root, rather than the dir I have open. This has high potential for losing work by overwriting a file with the same name.

[2017-03-15 00:26] Pomax opened #1887 "drag-and-dropping a file will overwrite without asking to confirm"
if I drag-and-drop and index.html from my desktop into the thimble file browser, it immediately overwrites whatever index.html there is already, without asking me whether that is what I meant to do, and without the ability to undo that drop action.

[2017-03-15 01:32] flukeout opened #1888 "Feature Discussion - Chat"
Just a placeholder issue for now - I'll update it later. We'll probably want some chat while collaborating. In addition, we should think of ways to make the chat useful in some clever ways...

**Some ideas**
* If you reference a file or line number, maybe we can link to it somehow?
* Translations between languages
* ...

[2017-03-15 02:10] Shank09 commented on #1887
This issue seems interesting, I'd like to work on it 👍

[2017-03-15 02:18] Shank09 commented on #1279
I think @MargarytaChepiga solved this issue by solving #1596. However the pull request was accidentally opened in Adobe's brackets instead on Mozilla's brackets.

https://github.com/adobe/brackets/pull/13121

[2017-03-15 04:23] us-mahina commented on #1866
Ok. Thanks

[2017-03-15 04:30] Shank09 commented on #1819
I'm still having this issue.
Here is a fast video of installing thimble and brackets.
https://youtu.be/upkfMYJLOxs

Did I forget anything?

[2017-03-15 15:57] kyletower commented on #1853
I just checked on this feature a few days ago and it does in fact work. I had to click an icon toward the top right of the Chrome browser and select "Run Unsafe Scripts".

[2017-03-15 16:13] kyletower commented on #1593
Excellent! I'm very excited to hear that the collaboration feature is going to be implemented eventually.

[2017-03-15 16:19] kyletower commented on #1837
As a teacher, I would like to see what each student/user contributed to each webpage/site. This will help me as I grade collaborative web building projects. I would like to see revision history implemented as well. This will allow me to see if the students actually built the website themselves instead of copy/pasting it from else where. Additionally, it will help me see the students' design and th

[2017-03-15 16:25] flukeout commented on #1855
Here's a mockup of a treatment for the hover effect that another mozillian put together...

<img src="https://d3uepj124s5rcx.cloudfront.net/items/0E0w2k2Y2k051y2X0P02/thimble-code-snippet-menu-hover.gif" width="350"/>

[2017-03-15 16:44] flukeout commented on #1819
No you didn't - it's happening for me as well, even after running the localization steps that usually fix problems like these.

cc @gideonthomas @humphd

[2017-03-15 18:11] bfalchuk opened #1889 "using folders in Thimble"
Can't seem to make folders work correctly.. E.g., when extending the Back To School prototype, as a test i downloaded the main image , created a folder "images" then uploaded the same image into it. Then in index.html style info i reference the jpg from its folder like:

[code]
..but this does not appear to work (tried many variations of the url including "./images/<filename>" etc.

How, in genera

[2017-03-15 18:17] Mordax commented on #1681
@Rajat-dhyani Sorry, still working on it.

[2017-03-15 18:37] bfalchuk commented on #1889
Hmm. ok i seem to have resolved half of this .. using the line:

`background-image: url("images/14125034804_225aa8ac52_b.jpg");`

without the 'new' token, and that seems to have made it functional. Sorry for the confusion.
Still working on trying to get the Three.js hello world going, including the scripts that load textures..

[2017-03-15 19:07] flukeout commented on #1827
@Lakshmikanth-mkce - are you still working on this issue?

[2017-03-15 19:07] bfalchuk commented on #1889
.. I published a Thimble hello-threejs-world test here:
[hello-threejs-world-on-thimble](https://thimbleprojects.org/bwf2000/231728/)
This prj worked on local webserver so i zipped it up and uploaded it to Thimble.  The THREE.ImageUtils.loadTexture(url) doesnt seem to work on upload.. Am I missing something about Thimble that I should know (e.g., permissions, capabilities, .. etc.)?

For reference

[2017-03-15 19:10] Rajat-dhyani commented on #1681
@Mordax okay no problem. thanks for replying 👍

[2017-03-15 19:20] bfalchuk opened #1890 "Signed in to Thimble but top nav not sending me to "Your Projects""
After signing in the "Your Projects" link (top-right) is not reliably taking me to my project list. It most often simply causes a reload of the current page.
Symptom seen on both Firefox and Chrome (Win10).

![sign](https://cloud.githubusercontent.com/assets/26441959/23966710/cadf1d68-0992-11e7-8bcb-5e76ce267cbd.PNG)

[2017-03-15 19:25] flukeout commented on #1889
Hey @bfalchuk unfortunately I think this is happening because of the way that the Thimble environment handles references to files in it's little filesystem..

@humphd explains it in this issue: https://github.com/mozilla/thimble.mozilla.org/issues/1859#issuecomment-285775863

So in your case, I think that's probably what is happening. I believe that you could probably make this work by referencing

[2017-03-15 19:26] flukeout commented on #1890
Yeah, this is a bug and can be resolved by following the instructions here:
https://github.com/mozilla/thimble.mozilla.org/wiki/Clearing-your-cache

Let us know if that solves it.

[2017-03-15 19:32] flukeout commented on #1889
To illustrate this point, I remixed your project and changes how you reference ``checkerboard.jpg`` in the code to this...

``var floorTexture = new THREE.ImageUtils.loadTexture( './css/images/checkerboard.jpg' );``

This is a path that will work when the project is Published, as you can see here...

https://thimbleprojects.org/flukeout/231738/stem/HelloWorld.html

Again, this isn't great because

[2017-03-15 19:33] bfalchuk commented on #1889
Oh thanks @flukeout . Disappointed that I can't do round-trip in-editor Three.js yet then, though I note that your template 'roadmap' lists Three.js and others, so I'm hopeful for the (near??) future.  (how can i track this?)

Otherwise, i'm finding this tool nonetheless MORE and MORE useful for more vanilla html/js/css projects, so that's great.

[2017-03-15 19:34] gideonthomas commented on #1854
https://github.com/mozilla/thimble.mozilla.org/issues/1585 dupe

[2017-03-15 19:35] flukeout commented on #1889
Glad to hear it @bfalchuk - I'll see if there's an issue to track this problem anywhere and let you know!

[2017-03-15 21:23] humphd commented on #1889
@bfalchuk this is high on my list of TODOs, but it's gonna take me a bit to finish reworking things to use service workers.

In the meantime, please keep filing bugs on things you notice that we could improve.  Glad you're liking Thimble!

[2017-03-15 21:25] humphd commented on #1585
Copying this comment over from #1854:

One of our users, Roberto Matthews, left a feature request on our YouTube video...

Links
* http://emmet.io/
* Bracket Extension - https://github.com/emmetio/brackets-emmet

[2017-03-15 21:25] #1854 closed

[2017-03-15 21:27] humphd commented on #1819
What happens when you run brackets from `http://localhost:8000/src/hosted.html`, does that work with strings?

[2017-03-15 21:28] humphd commented on #1853
It sounds like maybe they are injecting and `eval()`ing a script in order to do the embed?  If so should we close this, since it's not really something we can allow/disallow (e.g., browser sec).  @kyletower?

[2017-03-15 21:29] humphd commented on #1866
It's very cool to learn about a language hitherto unknown to you by having people come and want to localize it.  Thank you, and welcome!

[2017-03-15 21:30] humphd commented on #1887
Our DnD code lives here: https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js

[2017-03-15 21:31] humphd commented on #1886
Whoever works on this, the DnD code lives in https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js.  We'd have to somehow add code to figure out which filetree node (if any) was under the mouse when we dropped the file(s), and then use that as part of the path vs. just the project root.  I'm not 100% clear if it's possible, but I suspect with work it is.

[2017-03-15 21:34] humphd commented on #1640
@hkirat what happened to your cool animated gif of this in action?  It was really cool.

[2017-03-15 21:38] flukeout commented on #1640
It's a few comments above - that one?

[2017-03-15 21:39] hkirat commented on #1640
Hey @humphd .. Sorry for that
Uploaded it on the wrong platform. The link died within a day.

Edited it. Its back up.

I've optimised the code enough and should file for a P.R. in an hour or so.

[2017-03-15 21:39] humphd commented on #1640
Yeah, it wasn't showing for me, back now.  Must have been a glitch in the matrix.

[2017-03-15 21:48] flukeout commented on #1889
@humphd is there a tracking issue for the rework?

[2017-03-15 21:51] humphd commented on #1888
http://venturebeat.com/2017/03/15/gitlab-acquires-software-chat-startup-gitter-will-open-source-the-code/ is interesting with regard to this.  I'm sure there are lots of other options, too.

[2017-03-15 21:52] humphd commented on #1889
https://github.com/mozilla/brackets/issues/549 is probably the best one.

[2017-03-15 22:02] flukeout commented on #1889
We should add something to our in-progress help file about this too. I'll do that.

[2017-03-15 22:03] flukeout commented on #1889
Closing this issue as it's known and as addressed as it will be for now.

[2017-03-15 22:03] #1889 closed

[2017-03-15 22:03] flukeout commented on #1889
@bfalchuk - also, if you haven't give A-frame a try - works pretty well in Thimble.

[2017-03-15 22:24] flukeout commented on #1660
To elaborate a bit more on this, I was thinking about a mode that would let you use your mouse pointer in the preview as a 'touch' input. So if touch mode is on, when you used your mouse to click, it would instead fire a 'touch' event, and when you moved it, it would trigger 'touchmove', 'touchend' events etc.

Would this be possible?

[2017-03-15 22:30] Rajat-dhyani commented on #1419
@pomax the `hover over` is working fine now...  if you could help me with the second problem that i am facing that would be great help.
thanks

[2017-03-15 22:39] Rajat-dhyani commented on #1660
so will there be a separate icon for touch sensitive layout that triggers​ the event or the existing mobile view mode will have this feature?
 i  personally think that the existing mobile view should have this feature. i will try my hands on this. if that is okay?  @flukeout

[2017-03-16 00:02] lkisac opened #1893 "Vagrant - DEBUG ssh, Sending SSH keep-alive"
After running `vagrant halt` or `vagrant suspend`, then `vagrant up` it hangs on `default: [PM2] [thimble](4)`

So I run with `vagrant up --debug` to see the debug logs:

[code]
The last line repeats for some time (approx. 5-10 mins), until it finally gets here:

[code]

_id_, _localize-client_, _login_ and _publish_ processes start up very quickly, but the _thimble_ process is stalling.

A simila

[2017-03-16 00:28] Blackweda commented on #1700
I've been trying this and its bad for Windows because of node-gyp issues. I'll try to keep looking into it later on but for now I don't know how to work around that.

[2017-03-16 01:14] humphd commented on #1893
When you get the VM up, try opening 2 terminals and doing this:

[code]

See how long that takes, and if it logs anything in the first terminal.  It's possible that the Thimble node app is having a hard time starting, or is restarting itself a lot, or something else.  I wouldn't guess that this is an ssh keep-alive issue, but I could be wrong

cc'ing @Pomax, who is also running on Windows.

[2017-03-16 01:18] humphd commented on #1660
https://github.com/hammerjs/touchemulator has code for this.  We'd probably want to do something similar to how the Inspector works now (e.g., button in Thimble, you press it, it goes into that mode until you press again).  In this case we'd convert clicks to touch events.

[2017-03-16 01:41] us-mahina commented on #1866
Thanks, good luck for everybody

[2017-03-16 01:44] lkisac commented on #1893
Here are the [logs](https://gist.github.com/lkisac/c576e5c2fc131b532b3874cbaee49cfd) for both terminals.  Took approx. 7 mins.

Some error logs from lines 19-37.  Maybe issue is here?

[2017-03-16 01:46] humphd commented on #1893
@cadecairos @gideonthomas do these two crashes mean anything to you?

[code]

[2017-03-16 03:28] ryanwarsaw commented on #1700
@Blackweda It's not just a Windows issue, it has something to do with manual compilation of low-level libraries using Node's C/C++ bindings. Particularly our sqlite and bcrypt dependence. However, if you used the automatic setup (Vagrant) this shouldn't be happening.

[2017-03-16 03:58] omytryniuk commented on #1306
@humphd, I think this bug is exactly what I would like to work on.

[2017-03-16 04:04] us-mahina commented on #1866
@TheoChevalier , I create a Pontoon account by us-mahina@rambler.ru.
I localized the Pontoon Intro. I hope I could, but if I have some edits, how I can do them?
And when I can start to translate Thimble? I can not wait the moment I start. Thanks.

[2017-03-16 04:06] us-mahina commented on #1866
And why it shows 0%

[2017-03-16 04:07] omytryniuk commented on #1306
I have reproduced the issue and spent some time trying to understand what can be wrong. Seems like [this line](https://github.com/mozilla/brackets/blob/master/src/document/DocumentCommandHandlers.js#L879) of code causes the problem.
What I see, when we work with an editor, the code is saved every 5-10 seconds, and after that .focusActivePane() function is called. When we focus on a title, the app

[2017-03-16 04:25] TheoChevalier commented on #1866
@us-mahina Always great to see people motivated :D Thanks for the address, you should now have access to your locale permissions if you need to add more people: https://pontoon.mozilla.org/tg/permissions/

Pontoon intro is a test project so that people can use it to experiment with Pontoon (it’s the text you see on Pontoon homepage). Right now it says 0% because you’ve added suggestions, since you

[2017-03-16 04:57] us-mahina commented on #1866
@TheoChevalier , Thanks a lot for help. I have a question: How I can add account to my team?

[2017-03-16 05:01] TheoChevalier commented on #1866
@us-mahina People need to create an account on Pontoon, then from here https://pontoon.mozilla.org/tg/permissions/ you can click on “all users”, type their address in the search field, then move the address into the translators column and click save. They will be able to submit translations instead of suggestions

[2017-03-16 11:11] sudwebd opened #1894 "Problem with website response in case of small window size."
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/17878270/23993620/5027e638-0a67-11e7-9636-6d00cefd875a.gif)

The editor bar comes down in case of small window size.I am running the website on google chrome.
I'll do a pull request for the bug asap, if its okay.

[2017-03-16 13:32] humphd commented on #1894
@flukeout I think we have a bug on this responsive header issue already, am I right?

[2017-03-16 13:40] humphd commented on #1306
Great.  Why don't you try an experiment to remove that auto-focus-on-save code (just comment it out) and see how the app responds.

[2017-03-16 14:13] omytryniuk commented on #1306
@humphd It is exactly what I did  yesterday and it solved the problem. What I meant, I want to spend more time just trying to see side-affects of such changes.

[2017-03-16 15:18] AnshulMalik commented on #1851
I'd like to contribute when the design is finalized :)

[2017-03-16 16:04] flukeout commented on #1851
That's great @AnshulMalik - you can also look through all of the issues labeled Collaboration to get more familiar with the project https://github.com/mozilla/thimble.mozilla.org/labels/Collaboration

[2017-03-16 16:23] flukeout commented on #1894
I think this has been fixed already and should be working correctly in staging - https://bramble.mofostaging.net/en-US/

@sudwebd if you are able, could you double-check that at the URL above, this behavior is not happening?

[2017-03-16 16:38] sudwebd commented on #1894
@flukeout the above problem is not happening in the url you specified.Its working correctly.

[2017-03-16 16:42] flukeout commented on #1894
Thank you for confirming @sudwebd - we've fixed lots of things and those changes are only reflected on that URL.

[2017-03-16 16:42] #1894 closed

[2017-03-16 17:39] flukeout commented on #1890
@bfalchuk did that help? We seem to be hitting this pretty often.

cc @humphd this is what I was mentioning, also fielded a support email about it this morning from someone else.

[2017-03-16 17:47] bfalchuk commented on #1890
Yes it seems to help to clear cache, esp on chrome , but also sometimes on
FF. The problem 'comes and goes' for me.  (since cache-clearing is an
annoying multi-click affair - esp if you want to be careful not to get
signed out of all your websites - i look forward to the fix).

On Thu, Mar 16, 2017 at 1:39 PM, Luke Pacholski <notifications@github.com>
wrote:

--

_____________
Ben.

[2017-03-16 18:09] #1634 closed

[2017-03-16 19:55] humphd commented on #1763
I'm morphing this bug to be about adding the UI necessary for toggling whitespace on/off.  By default in https://github.com/mozilla/brackets/pull/630 we're adding this extension to be not loaded.  We should add a pref that allows the user to enable/disable it (it's actually already available in the extension's `main.js` file, we just have to use it).

![image](https://cloud.githubusercontent.com/a

[2017-03-16 21:38] flukeout commented on #1100
Closed via https://github.com/mozilla/brackets/pull/646 - thanks @DorelBarbu!

[2017-03-16 22:51] #1875 closed

[2017-03-16 22:53] DorelBarbu commented on #1543
Hello! I have some ideas. If I understood correctly,  we want a button that when it's pressed it generates a little pop-up with a text field that contains the html code for an iframe. Obtaining the code it's a matter of concatenating strings, because it's not that complicated. Besides the text field, it would be nice to add some customizable options than can be chosen from drop-down lists or simpl

[2017-03-16 23:01] flukeout commented on #1625
Closing as it has landed and is on staging - bramble.mofostaging.net

[2017-03-16 23:01] #1625 closed

[2017-03-16 23:04] flukeout commented on #1543
Assigning to @DorelBarbu - yeah, the things you mentioned all sound good. If you want to tackle the design as well, then let's start with that. We'll use the design phase to figure out the features you want.

Pay attention also to the fact that the Remix button has different styling depending on mobile and desktop modes. We might not want to even have this functionality on mobile, as it's doubtful

[2017-03-17 00:23] sanariaz154 commented on #1251
hi @humphd  i'd like to work on this issue ,  can you guide me where to start ?

[2017-03-17 00:47] bkim49 commented on #1854
Hello, I would like to work on adding this feature. Could you assign this to me? @flukeout

[2017-03-17 02:34] khanh2003 commented on #1625
@flukeout Good enough. Now we need *more* contents!

[2017-03-17 02:41] humphd commented on #1251
I think fixing this will require 2 different fixes.  One in Thimble (for header) and one in Brackets (for sidebar and editor).  #1100 addressed a similar issue with people wanting to print and not have the sidebar be solid black.  I'm going to get @flukeout to weigh in on everything I say below, since he'll have final say on how this ends up looking.

In Brackets, we have a dark and light theme.

[2017-03-17 04:14] AnshulMalik commented on #1841
I think we can work with single opened window, we can just indicate that other user is editing that file in files tree, and send only the changes made in a file across.

If you have seen [c9.io](https://c9.io), it has got a really nice collaborative editor, may be we can learn something from there.

[2017-03-17 05:38] Blackweda commented on #1700
@ryanwarsaw I thought we weren't using virtualization (virtualbox and vagrant) or is vagrant still necessary AND not part of virtualization in itself? I'm still new to this stuff

[2017-03-17 07:37] shubham0794x commented on #1792
@humphd @gideonthomas  Sir can we come back to solving this issue?

[2017-03-17 15:11] sgupta7857 commented on #1846
@flukeout I created a pull request here
please test the changes
https://github.com/mozilla/brackets/pull/644

[2017-03-17 15:12] Mavromatika opened #1895 "401 authentication error when logging in"
Hi,
I tried to get my brother to log in to Thimble remotely (giving him instructions via skype).
He managed to create an account (userid : petitpoulet), but he can't log in. He gets a 401 error.
He tried in both Firefox and Edge and both give the same error. He also gets the same error from another computer in the same local network.

When I try to log in with his credentials from my computer (in

[2017-03-17 15:14] humphd commented on #1895
cc @cadecairos who might have ideas.

[2017-03-17 15:28] cadecairos commented on #1895
@Mavromatika  Based on the info you've provided, it sounds like an issue with your brother's network. Is there any chance that the network operator is running a firewall or perhaps running an MITM (man in the middle) proxy that's modifying or blocking his requests to/from Thimble?

[2017-03-17 15:29] humphd commented on #1846
Best to ask for reviews in the PR vs. here in the bug.  I looked at the new code, and left a comment.

[2017-03-17 15:30] humphd commented on #1792
@shubham0794x I'm not sure what you're asking.  Are you saying you'd like to do it, or that you want to give it up to someone else?  Either is fine.  Thanks for clarifying.

[2017-03-17 15:40] Mavromatika commented on #1895
Thank you both for your quick replies. I'm also suspecting something along these lines. Do you think I could check that at the level of their router ?

[2017-03-17 15:42] shubham0794x commented on #1792
Sir , I would like to fix it . Sorry for confusion .  Would you provide more background information about the bug .

[2017-03-17 15:42] cadecairos commented on #1895
Presuming you've got access to the router administration interface, you can certainly check to see if there's something going on. There's also the chance it's the ISP doing something with network traffic.

If they've got the time to figure it out, they might want to try using a VPN to see if it's indeed the network they're on.

[2017-03-17 15:48] Mavromatika commented on #1895
Well, my brother just told me that it's working fine now. No idea why it wasn't before. I guess I can close this issue. Thanks a lot for answering so quickly.

[2017-03-17 15:48] #1895 closed

[2017-03-17 15:49] shubham0794x commented on #1792
@humphd  Sir , I am not getting what problem we are facing when Directive ‘frame-src’ has been deprecated  instead of  directive ‘child-src’ . ?

[2017-03-17 15:50] cadecairos commented on #1895
Glad to hear it works!

[2017-03-17 16:02] ryanwarsaw commented on #1700
@Blackweda We have two forms of installation, a manual and automatic way. The automatic way uses Vagrant & Virtual Box to build and manage virtualized containers containing each of the components necessary for Thimbles function (login, id, publish).

You can read more about Vagrant here, but just to TLDR it; It's responsible for building and managing the virtualized containers. https://www.vagrant

[2017-03-17 16:21] Blackweda commented on #1700
Okay, I heard that you made some changes to remove the dependency on **bcrypt**, so I'm going to try and reclone the newest update of login.webmaker.org and see if I can continue through the process. Everything before that step so far in the Wiki is working so far.

[2017-03-17 16:34] ryanwarsaw commented on #1700
@Blackweda We still depend on bcrypt, we're just using a different implementation of it that is completely written in JS and therefore doesn't require manual compilation. Some other dependencies still do require manual compilation, so you may still run into that issue regardless.

[2017-03-17 16:53] Blackweda commented on #1700
okay, thanks for clarifying. Also I was able to successfully clone login.webmaker... so I'm moving forward with setting up THimble without VIrtualization for windows... if I can do it all successfully i'll update wiki for windows.. unless you guys have already finished it, or the issue is no longer desired by you guys.

[2017-03-17 17:05] humphd commented on #1554
Looks like there's confusion here, since @gideonthomas seems to have fixed it in https://github.com/mozilla/thimble.mozilla.org/commit/75c4aea375005166e66ccb03ef58e40b3f5a42f6.  I'm going to close this.

[2017-03-17 17:05] #1554 closed

[2017-03-17 17:11] ryanwarsaw commented on #1700
@Blackweda That would be great, I don't believe any work has been done on that front yet so it should be free for you to work on.

[2017-03-17 17:13] dangkhue27 commented on #1862
@humphd Can you give me some details on this issue? I can dig further into the problem.

[2017-03-17 18:29] DorelBarbu commented on #1543
Hello! If I understood correctly we need to place the button in this green remix bar.
![remix button](https://cloud.githubusercontent.com/assets/24645887/24057498/3530cc48-0b50-11e7-8200-6d73917d1099.png)

But as @gideonthomas  it's a little crowded there. @flukeout how should we do it?

[2017-03-17 18:36] flukeout commented on #1543
Yeah, that's where it will go.. we can try a couple of approaches:

* Make this box taller and include the iframe code below the description
* Add a "Embed" button beside the Remix button
  * If you click it it reveals the UI with the iframe code
  * It can be hidden when the remix bar is not expanded

Let me know if you want more specific guidance or if you'd like to take a shot at a design first

[2017-03-17 18:39] humphd opened #1896 "Add UI to allow enabling/disabling interactive linting"
In https://github.com/mozilla/brackets/issues/622 we are discussing adding interactive linting via an extension.  Our plan is to land that and have it be off by default (disabled).  In this bug, we're going to add a UI toggle to the gear menu to allow users to enable it if they want.

@sgupta7857 has agreed to take this work on for his last 2 releases, and I'll help mentor it.  The work is very si

[2017-03-17 18:39] humphd commented on #1763
@tonypark0403 the work in https://github.com/mozilla/thimble.mozilla.org/issues/1896 is very similar to what you're going to do, so you might want to collaborate.

[2017-03-17 18:46] DorelBarbu commented on #1543
I would go with the second approach because it seems more interesting and resembles more with what I had in mind. I would like to take a shot at the design, but I don't know where to start. I believe the "Embed" button should keep the same style as the "Remix" button. Question is, where should it be placed? Left, right, above, below of the "Remix" button? I would say below.

[2017-03-17 19:43] tonypark0403 commented on #1896
I see. So, is @sgupta7857 working for this issue? Then, I will find new issue.

[2017-03-17 22:00] flukeout commented on #1543
I think maybe to the left of the remix button? Give that a try maybe. The label for it could just be something like ``</>`` I think that's what some other sites do.

[2017-03-17 22:01] flukeout commented on #1543
But, as a start, you can just make it work with a simple text link so we can build out the functionality and adjust styling as we go.

[2017-03-18 00:03] humphd commented on #1896
@tonypark0403, this bug is not the same as yours--you can still do the toggle for the whitespace extension.  However, I wanted to connect you and @sgupta7857 since his bug is very similar, and you could probably help each other, share code, etc.

[2017-03-18 00:06] humphd commented on #1895
Glad it's working for you @Mavromatika, and I hope you enjoy using Thimble.

[2017-03-18 00:08] humphd commented on #1792
@shubham0794x I think we need to delete https://github.com/mozilla/thimble.mozilla.org/blob/master/server/security.js#L15-L19, but first, we need to make sure that the browsers we support don't need it, in particular Edge.

[2017-03-18 01:29] JohnEJames commented on #1849
@humphd  I would like to work on this issue!

[2017-03-18 03:08] humphd commented on #1849
Great!  Please chat with us as you do it vs. just dropping a big patch when you're done.

[2017-03-18 03:08] #1793 closed

[2017-03-18 09:32] shubham0794x commented on #1792
Sir , I think I found your concern : https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
"Browsers that don't support it still work with servers that implement it, and vice-versa: browsers that don't support CSP simply ignore it, functioning as usual, defaulting to the standard same-origin policy for web content. If the site doesn't offer the CSP header, browsers likewise use the standard same-o

[2017-03-18 10:49] Mavromatika commented on #1895
My brother is enjoying it a lot. Nice work !

[2017-03-18 12:04] khanh2003 commented on #1885
Do we need a ban system for this?

[2017-03-18 17:30] bkim49 commented on #1886
Hello, I would like to work on this bug. Can you assign it to me? @Pomax Thank you.

[2017-03-18 17:41] XuanWang-Amos commented on #1120
Hi all, I'd like to work on this issue, since I fell it will be a good start for me to get acquainted with thimble, is that OK?

[2017-03-18 19:10] jgmac1106 opened #1898 "Facebook blocking urls from thimbleprojects.org"
Getting some feedback from club captains that facebook is marking any Thimble project as safe and dangerous.
<img width="913" alt="screenshot 2017-03-18 15 07 48" src="https://cloud.githubusercontent.com/assets/10534566/24075156/b31572c0-0bec-11e7-9ad2-1a3732209118.png">
Here is the message I get when trying to share.

This must be a recent change as I was sharing posts as of last week.

cc'ing @K

[2017-03-18 19:15] humphd commented on #1898
Did you, or they, click the "let us know" link and file something with them?  We have friends at Facebook I could reach out to, but if it can be handled through normal channels that might be good.

cc'ing @chrislarry33 too.

[2017-03-18 19:17] humphd commented on #1886
@bkim49 this probably won't be a trivial fix, but a very cool one nevertheless.  Please ask questions and chat with us on https://chat.mozillafoundation.org/mozilla/channels/thimble about it.  I can probably give you some tips as you get started.

[2017-03-18 19:18] humphd commented on #1120
@XuanWang-Amos indeed, please do give it a try!  Welcome to Thimble.  Ask us questions as you get started and need help, here or in https://chat.mozillafoundation.org/mozilla/channels/thimble.

[2017-03-18 19:19] jgmac1106 commented on #1898
Yeah. I tried to reproduce the bug and got the warning message. I filled
out the form as well, but figured friends may move it along quicker. Many
clubs in other parts of the world organize most of their events on facebook.

On Sat, Mar 18, 2017 at 3:15 PM David Humphrey <notifications@github.com>
wrote:

[2017-03-18 19:20] humphd commented on #1898
OK, thanks.  Keep us update on what happens with that request you filed, and if necessary, I'll reach out to people I know.

[2017-03-18 20:15] Rajat-dhyani commented on #1660
@humphd @flukeout i have successfully added the `touchemulator.js` to brackets and was able to simulate touch responses.
But as you can see i could not get the touch emulator to work on **only** in the `iframe-browser` it is taking window as an argument and is applying the touch to whole window i tried changing it to `iframe-browser` but could not really get this part.
If anyone of you could guide

[2017-03-18 20:19] ryanwarsaw commented on #1898
https://developers.facebook.com/tools/debug/sharing/?q=thimbleprojects.org

[2017-03-18 20:47] humphd commented on #1898
@ryanwarsaw I don't have a facebook account, what does it say?

[2017-03-18 20:52] humphd commented on #1660
The preview `iframe` gets a bunch of scripts injected into it when we load the user's page, see https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/PostMessageTransport.js#L191-L208.  We could inject some code for what you're doing there as well.

You could likely do something similar to how the `MouseManager` works.  There are two parts to it:

* https://github.com/

[2017-03-18 20:58] humphd commented on #1800
I'm getting more and more bullish on this idea.  I've changed the title of this issue, because I don't think prettier is necessarily the only wan to do this.  We have code in HTML, CSS/LESS, JS, JSON, SVG, Markdown, etc. and I'd love to cover all of it.

What I'm suggesting is that we do a mass reformat of the tree (and also Brackets, id, publish, login, etc) and then setup a git pre-commit hook a

[2017-03-18 21:04] humphd commented on #1898
It's entirely possible that some of our users have breached their standards with things they've published (e.g., images, text, and the like that we also wouldn't agree with).  Given that we can't really police all this, I'm not sure what the right answer is.

[2017-03-18 21:16] humphd opened #1899 "Consolidate issues for Thimble, Brackets, Publish, ID, Login into Thimble repo"
I want to propose that we merge the issues for all these repos into mozilla/thimble.mozilla.org.  We've basically been doing this with Thimble and Brackets, and it's mostly worked out OK.  Users have no idea where the boundary between the various repos is when they report something--they just use "Thimble" so file bugs there.

Our devs also don't seem to care, since there are ~150 issues being ign

[2017-03-18 21:23] ryanwarsaw commented on #1898
While that's entirely possible, other sites known to have dealt with similar issues in the past (JSBin, JSFiddle, etc) are not currently being blocked by Facebook, so I wouldn't be worried by this. It's likely all done by automation, so it could just be a matter of incorrect classification.

[2017-03-18 21:25] ryanwarsaw commented on #1899
I like the idea of of consolidating Thimble & Bracket issues, but I think publish, id and login should remain in their respected repositories since they were and may still be used in the future for multiple services, and not just Thimble specifically.

[2017-03-18 21:28] humphd commented on #1899
Might be used for what?  Unbundle them again in the future when they are needed to stand on their own.  Right now they get no attention, seems like a great way to lose track of things.

[2017-03-18 22:47] ryanwarsaw commented on #1899
Both services ```login.webmaker.org``` and ```id.webmaker.org``` were used not only for Webmaker, but also in Thimble and the rest of our product offerings. If we were to create a new service today, I would assume we'd likely use our existing architecture for login and OAuth2.

However I'm not as familiar with ```publish.webmaker.org``` but if we're still using it for X-ray Googles, or multiple se

[2017-03-19 13:04] jgmac1106 commented on #1898
Goog point. @ryanwarsaw Could be as simple as their content recognition flagging Goggles remixes more than Thimble as well. JSBin and JSFiddle probably don't bump into as many copyright claims as a tool that allows you to remix somebody else's website.

[2017-03-19 20:33] gideonthomas commented on #1899
I sorta agree with @ryanwarsaw on this one. Let's consolidate all the Brackets issues into Thimble. For publish, login and id, I suggest we consolidate all the issues specific to Thimble in this repo and the ones that aren't, let's just leave them in their own repo.

For issues that are fairly generic in the three services,
- For publish, let's make a judgement call. If the issue is more relevant

[2017-03-19 21:36] gideonthomas commented on #1834
glitch.com

[2017-03-19 23:41] XuanWang-Amos commented on #1120
@humphd , hi humphd, I already joined the channel, and I have some questions regarding this issue.
1. I can think of 4 situations:
    1.1 user open other users project.
    1.2 user open anonymous project.
    1.3  anonymous open other users project.
    1.4  anonymous open anonymous project.
1.2, 1.3 and 1.4 are already deals with, 1.2 the project will be upgraded, 1.3 and 1.4 will show them thi

[2017-03-20 01:13] XuanWang-Amos commented on #1120
@humphd , hi humphd, I already joined the channel, and I have some questions regarding this issue.
1. right now, if a login user open an anonymous project,  the project will be upgraded, should we keep it this way?
2. what page should the user be redirected to?

[2017-03-20 17:13] flukeout commented on #1120
Hi @XuanWang-Amos, thanks for taking this on, let's start with the following. If someone tries to load up the 'editor' version of someone's project (ex.. ``https://thimble.mozilla.org/en-US/user/flukeout/841612``) - let's do this...

* If the associated project is published, we can redirect the user to the published version
* If it's unpublished, we can say "OOPS, this is someone's draft!"

[2017-03-20 17:34] AnshulMalik commented on #1851
Hey, I was just going through GSoC projects from mozilla, and I am glad that thimble is also there.

So that's a plus point for me, since I can get paid as well :P

[2017-03-20 17:54] humphd commented on #1819
@MargarytaChepiga is reporting a similar issue with the dialog box that should indicate when a dnd of a .zip file finishes--we usually show a message saying "it worked" but nothing is happening at the moment.

I also think #1862 is likely related.  I'd advise @Shank09, @MargarytaChepiga, and @dangkhue27 all co-ordinate their knowledge/efforts on this.  I'm not 100% sure what the right fix is, and

[2017-03-20 17:55] flukeout opened #1902 "Add a way to hide the preview"
Right now, if I want to focus on my code or markup, I make the preview window really small. To do that I have to drag the edge of the preview to the right side until it won't get any smaller.

This sucks because...

* Resizing in this way takes a long time
* The resizing handle is small and hard to grab
* It doesn't fully get rid of the preview

I think we should be able to toggle the preview wind

[2017-03-20 18:03] humphd commented on #1862
cc'ing @Shank09, @MargarytaChepiga

@gideonthomas can you please shed some light on this issue and what we should do to solve it?

For the benefit of those that I'm including in this bug, here is what I know:

* Adobe uses its own strings in `src/nls/*` and any parts of the Brackets code that use the `Strings` module, are basically using this.
* Thimble (and our fork of Brackets) has some strings

[2017-03-20 18:45] humphd commented on #1902
Does this parallel the show/hide feature for the filetree, or the fullscreen preview that we do?  I agree that it would be nice to have the ability to only show the editor.

As an aside, we have code in Bramble to allow the preview window to be detached completely, and live in another window.  We thought we'd do that so you could have a full window with your code, and another window with your prev

[2017-03-20 18:46] flukeout commented on #1902
More closely related to how we handle the file tree right now. We can expand into a 'full screen editor' as another phase.

[2017-03-20 18:47] humphd commented on #1902
OK, sounds good.  Can you do some kind of mock-up of what you want it to look like?  I'll get a student on it.

[2017-03-20 18:48] flukeout commented on #1902
Will do

[2017-03-20 19:14] humphd commented on #1526
OK, the PR for https://github.com/mozilla/brackets/issues/607 has landed.  This means we have 2 new events in Bramble that we can use in Thimble to help this issue.

I'll bring a few images over here so we can continue to develop the UI side of this.  First, consider how Google Docs works:

![dirty-saved](https://cloud.githubusercontent.com/assets/427398/23480138/db63e01e-fe94-11e6-9e8d-9a1ed309cc

[2017-03-20 19:42] humphd commented on #1763
I'm just reviewing the Brackets side of this now, and a note for implementing this toggle on the Brackets side.  In https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteCommandHandler.js#L68 when you add your remote command for enabling/disabling this, you need to do code like this:

[code]

That should toggle the enabled pref on/off.

[2017-03-20 19:45] humphd commented on #1763
I've merged the [Brackets portion](https://github.com/mozilla/brackets/pull/630) of this (or at least the first part of the Brackets bit).  The API side and the Thimble UI portion can happen now.

[2017-03-20 19:51] flukeout commented on #1763
Awesome, happy about this! Nice work so far on this @tonypark0403

[2017-03-20 20:15] flukeout commented on #1902
Here we go - this is what it will look like when the Preview is visible. There's an arrow icon on the right side of the preview bar. Clicking it hides the preview and expands the editor to the full width.

![image](https://cloud.githubusercontent.com/assets/25212/24119467/82e7cd90-0d6e-11e7-8c04-d6506413fb13.png)

When it's hidden, the button appears on the right side of the Editor bar. Clicking i

[2017-03-20 20:50] humphd commented on #1902
Fixing this will require a new API in Bramble.  We have code in https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/UI.js that deals with `#second-pane` and we make it resiable via the `Resizer` module.  I think you can call https://github.com/mozilla/brackets/blob/master/src/utils/Resizer.js#L93-L104 or `.hide()` on it, or we can just do it with css.

Whoever fixes

[2017-03-20 20:52] humphd commented on #1846
Fixed in https://github.com/mozilla/brackets/pull/644, closing.

[2017-03-20 20:52] #1846 closed

[2017-03-20 20:53] flukeout opened #1903 "Update "New Project" style.css to include a nicer font"
Honestly, I'm tired of looking at....

![image](https://cloud.githubusercontent.com/assets/25212/24121044/fdf18fa8-0d73-11e7-97b0-bf95ceb03ae9.png)

Since we're already packaging a ``style.css`` file with new projects, we may as well add a few styles to it to make it more attractive and appealing.

As a start, let's add

[code]

**We could also..**

* Add extra padding around the body
* Change the

[2017-03-20 20:59] peiying16 commented on #1902
Do you mean the preview page doesn't restore?

[2017-03-20 21:01] humphd commented on #1902
@peiying16 he wants us to add a button in Thimble that works like the one for the filetree, and hides the live preview completely (so you can focus on just writing code).  I only mentioned you because the code to do this is very familiar to you by now, and I thought you might like this bug.  No pressure if you don't want to do it.

[2017-03-20 21:11] peiying16 commented on #1902
I'm working with another issue now as you know. And I also have an idea to add this button, but I don't want to take many issues at some time. Other students may be interested in this issue. If anyone needs help, feel free to ask me. : )

[2017-03-20 21:49] nadia39 commented on #1903
Hi, I can work on this issue
I need to contribute to open source projects for a class.

[2017-03-20 21:49] humphd commented on #889
@Riyuzakii I'm going to put this bug back into the general pool of available bugs.  If you decide you want to work on something, let me know and I'll try to find you another one.

[2017-03-20 21:50] humphd commented on #1903
Great, welcome @nadia39!  I've assigned it to you

[2017-03-20 21:50] humphd commented on #1903
The files that need to get updated are here:

https://github.com/mozilla/thimble.mozilla.org/tree/master/default/empty-project

[2017-03-21 00:54] khanh2003 commented on #1903
@humphd What font should we change it to? Or can we set the default project background to be a linear-gradient background?
[code]
(from Dabblet)

[2017-03-21 01:05] khanh2003 opened #1904 "Infinite Loop Prevention"
What will happen when the user create an infinite loop? You may think users are unlikely to create an infinite loop, but in fact, when users start playing with an algorithm and implement it incorrectly, there will be an infinite loop annoy the user. There must be a way to prevent infinite loop, but timeboxing is really not an option.

[2017-03-21 01:44] humphd commented on #1904
See discussion in https://github.com/mozilla/brackets/issues/222 as well.

[2017-03-21 02:09] XuanWang-Amos commented on #1120
@flukeout , sure, I can start with that.  after looking through the code, I'm thinking we can redirect by project's 'publish_url' property, but the project data is sent from publish.wm.org, if the user who open the url is not the owner, the server will retrun "401 Unauthorized", is there any other way to get the publish_url?
and also, if the project is published but the user made some changes and

[2017-03-21 03:40] shubham0794x commented on #1579
Respected Mentors , I am gradually trying to learn everything related to this issue .
I want to contribute in fixing this issue .

[2017-03-21 13:45] bfalchuk opened #1905 "wishlist: thumbnail of project on 'my projects' page"
It would be great if the "My Projects"  list showed something more about the project than the title and timestamp - in particular, a thumbnail of the project's main html page would be great.

[2017-03-21 15:08] jgmac1106 commented on #1905
Hey @bfalchuk this is a common request and is being discussed in a previously filed issue #1628 and a few others.

[2017-03-21 16:23] flukeout commented on #1120
@gideonthomas is there any way to get the publish_url of a project that isn't yours?

If we are able to get this URL, I think it's OK that the project might be out of date. I still think it's better than not trying to show it.

[2017-03-21 16:50] humphd commented on #1579
@shubham0794x this bug is probably not a great first bug to take in Thimble, since we're still arguing about what we actually want to do. Once we have some kind of agreement, and we file smaller issues related to it (specific things vs. the current meta bug), then you could get involved.

I wouldn't want to see you get into this and just get frustrated when people don't know the answers to your qu

[2017-03-21 16:52] humphd commented on #1905
Agreed, we should do a version of this.  I'm going to close this issue as a duplicate of #1628, since there is already discussion happening there.  @bfalchuk please add your voice to that issue.  Thanks for filing this.

[2017-03-21 16:52] #1905 closed

[2017-03-21 16:59] flukeout opened #1906 "QuickEdit menu styling problems"
When we indented the code in the editor, we inadvertently moved the Quick Edit menu...

![](https://cloud.githubusercontent.com/assets/25212/24159627/cef629b2-0e1c-11e7-8671-9fe729c8ba6c.png)

In addition, there is a strange white bar visible near the line numbers, I think this is also related.

(@humphd brings back memories?)

[2017-03-21 17:05] flukeout opened #1907 "QuickEdit menus don't have a dark theme anymore."
Dang it! Something changed when we updated the themes probably.

This is the color picker in dev on a dark theme...

<img src="https://cloud.githubusercontent.com/assets/25212/24159744/27abe72c-0e1d-11e7-9226-66300b2a694d.png" width="450" />

[2017-03-21 17:15] shubham0794x commented on #1579
@humphd  Okay Sir , I got your point. I am able to get your concern , I am trying to study all the small and minor issues regarding stability in Thimble.

[2017-03-21 17:31] humphd commented on #1763
@tonypark0403 take a look at https://github.com/mozilla/brackets/commit/b524178098f17ccf129268daf4664493916835cb for ideas on how to add the Brackets portion of the API you need.

[2017-03-21 17:58] humphd commented on #1907
I did a `git bisect` and it was https://github.com/mozilla/thimble.mozilla.org/issues/1100 and the PR in https://github.com/mozilla/brackets/pull/646:

[code]

cc @DorelBarbu

By the way, in case whoever works on this wants to play with git bisect, here is how you do it.  I checkout the code on master and confirm that it's broken, then I start `git bisect start` and go back to an old commit that I

[2017-03-21 18:53] abhayptp commented on #1907
Hi! I want to work on this issue!

[2017-03-21 19:37] gideonthomas commented on #1120
@XuanWang-Amos looks like we need to implement something on the `publish.wm.org` repo - a route that allows you to get a published project by its project ID vs. it's published project ID. Once we implement that route, you should hit that route (it'll probably be something like `/publishedProjects?project_id=xxx`), you won't need to be authenticated for that. You need to check if the response statu

[2017-03-21 19:50] XuanWang-Amos commented on #1120
@gideonthomas sure, I'll start working on that, @flukeout can you give me some advice on the page design? may be it will look like the page missing `index.html`?

[2017-03-21 21:26] hkirat commented on #1907
I think the problem is that we have omitted [this](https://github.com/mozilla/brackets/commit/59242ea376082abeeb4cfaf94b9f561575199276#diff-82c3690745f7c8a1b46c19bba1804f0aL240) line.

[code]

[2017-03-21 23:25] Pomax commented on #1899
I'm going to be a contrarian here and point out that you *cannot* bring issues from one repo into another and expect things to work: github segments code in repositories, and issues relating to code goes with that code, not in some completely other, independent repository. If you want to manage issues across repos, then github *does not have* the UI in place to do that. If that's really what you w

[2017-03-21 23:29] Pomax commented on #1800
not really. If we can cut out some steps there by making prettier (or the like) apply the style immediately without saying "you did it wrong" but instead saying "you did it wrong I rewrote the file no you *don't* get a say deal with it" then we can run that as a "pre-push" hook, set up during `npm install` and no one needs to ever bother explicitly prettifying.

[2017-03-21 23:40] Pomax commented on #1885
this is pretty much an entire project on its own if you want to do this right - so we might have to pick between a small exchange service that works, but with the pitfalls of "some jerk can be a jerk" (and set that us as "this is apparently the kind of service we offer") or a large exchange effort that we probably can't pull off but makes people go "oh this is really nicely done" from day one.

Ot

[2017-03-22 00:19] #1100 closed

[2017-03-22 00:23] Pomax opened #1908 "major-version update several dependencies"
based on https://github.com/mozilla/thimble.mozilla.org/pull/1828, let's find all the dependencies that require a major version update, and then tackle them one by one:

- [ ] cryptr
- [ ] fs-writefile-promise
- [ ] glob
- [ ] grunt-cli
- [ ] grunt-contrib-csslint
- [ ] grunt-lesslint
- [ ] jquery
- [ ] helmet
- [ ] wolfy87-eventemitter

[2017-03-22 00:53] Pomax commented on #1893
I ran into this when I didn't have `VT-x` enabled in my UEFI (what some call the "BIOS" except it's a completely different thing from BIOS). Once I had that enabled, rebuilding the vagrant image (`vagrant destroy` + `vagrant up`) ended up working.

[2017-03-22 04:15] Taguiar opened #1909 "Prompt user when file gets saved to the browser"
**What I propose to do**
This is the continuation of an UI update request by @humphd. I will be implementing a new feature that display icon that shows whenever a user is not logged into his thimble account and its document are saved locally to the browser.

**Steps to Reproduce**
User must be logged out
User makes changes and wait for 5 seconds
User jumps through files

**Expected behavior.**
I w

[2017-03-22 17:04] ryanwarsaw commented on #1800
These are critical skills, learning how to adhere to a code style and formatting is important. However frustrating it may be to beginners, we all figure it out and the end result is to improve your skills. Especially in an open source environment, code readability is extremely important.

That said I'm open to the idea of using a tool like ESLint for helping folks identify their styling issues, it

[2017-03-22 17:43] Abykin commented on #1907
Hey @flukeout @humphd I'd like to work on this.

[2017-03-22 20:47] raygervais commented on #1675
@humphd, while the PR is still being reviewed, I've begun working on the Console Interface for Bramble. I had a few questions as I ported over your [second suggestion ](https://github.com/ghalex/brackets-console). First, I'll provide what has been done so far that you may correct or confirm the steps I've taken are in the proper direction.

1. Added `ConsoleInterfaceManager.js` to brackets `/src/e

[2017-03-23 01:10] humphd commented on #1887
NOTE: I'm significantly refactoring the dnd code in https://github.com/mozilla/brackets/pull/659.  If you want to add the "don't overwrite existing files" logic to what I'm doing, I can walk you through it.  It wouldn't be a lot of work.  Let me know.

[2017-03-23 01:14] humphd commented on #1886
From Mattermost:

@Pomax I'd value spending a few minutes with you to just examine how likely this is to be fixed (based on your knowledge of React and how Brackets uses it), so we can either tell @bkim49 to go for it, or to abandon this.

[2017-03-23 01:17] humphd commented on #889
NOTE: I'm refactoring the code this will need to change, so be aware of https://github.com/mozilla/brackets/pull/659

[2017-03-23 01:36] humphd commented on #1907
@Abykin it's yours, go for it.  See notes above.

[2017-03-23 03:21] ryanwarsaw commented on #1898
@jgmac1106 Any update on this?

[2017-03-23 07:15] JohnEJames commented on #1849
Hey, @humphd  Thought I'd mention my progress here instead of emailing you. I found a git repo of different examples on ansible here [Ansible Examples](https://github.com/geerlingguy/ansible-vagrant-examples). One of the main problems I am running into is that I can't seem to get Ansible to work on my desktop (Windows OS). So I am kinda at a stand still. I've googled the solution, and have tried t

[2017-03-23 11:41] jgmac1106 commented on #1898
No I never got a response. Let me try posting a project and seeing if I get
the same error.....Just checked. URL still blocked. Gonna take someone
above my pay grade to resolve I think.

On Wed, Mar 22, 2017 at 11:21 PM Ryan <notifications@github.com> wrote:

[2017-03-23 13:52] humphd opened #1911 "Ideas to showcase our community"
I've been interested to see how some of the projects similar to us are doing outreach to their users, showcasing things, and other bits of PR.  We have an amazing community of people who are really good at teaching and learning the web, why don't we do more with that?

Here are some ideas I think we could try:

* Get better at presenting ourselves via Twitter and other social media.  https://twitt

[2017-03-23 13:57] humphd commented on #1459
Thinking more about this lately, as I try to explain the difference between Thimble and other similar tools.  I think one of the things we can embrace that others can't is offline.  Because we don't need a server to render your stuff, we should be focusing on making *all* of Thimble available as an offline app.

Right now the editor iframe is 100% offline enabled.  I want to also add service worke

[2017-03-23 13:59] humphd commented on #1849
What problem(s) are you running into on Windows?  Let's not have you stay blocked, get some details into this bug please, and/or come chat with us on Mattermost.

[2017-03-23 14:05] humphd commented on #1792
Gonna close, since we don't want to break IE.

[2017-03-23 14:05] #1792 closed

[2017-03-23 14:06] humphd commented on #1817
I think we're good for now on this, closing.

[2017-03-23 14:06] #1817 closed

[2017-03-23 14:27] shubham0794x commented on #1902
@humphd ,  I would like to contribute in solving this issue

[2017-03-23 16:02] jgmac1106 commented on #1911
I was just talking about this on Telegram with some club captains.

I was highlighting how Hackernoon and FreeCodeClub have become to of the
biggest tech pubs on Medium. Quincy in particualr has done a great job
cultivating a community of writers talking about how and why they learn.

In short term we need:
-Social share buttons in the publishing dialogue
-Utilize the RWP pub on Medium.
-Maybe sta

[2017-03-23 16:14] humphd commented on #1902
Sure, @shubham0794x, go for it.  See notes above and ask questions as you have them.

[2017-03-23 16:44] humphd commented on #1752
@ryanwarsaw bless you for taking this bug which I've wanted fixed for 5+ years.

[2017-03-23 17:09] hkirat commented on #1827
@Lakshmikanth-mkce : The fix will be similar to [this](https://github.com/mozilla/thimble.mozilla.org/pull/1832) P.R.

[2017-03-23 17:28] humphd opened #1912 "Black text looks odd with so much white/gray"
The header has few lone bits of black text that really stand out:

![screen shot 2017-03-23 at 1 27 43 pm](https://cloud.githubusercontent.com/assets/427398/24261199/98e8d228-0fcc-11e7-84ac-50a696a40704.png)

Can we do better?  @flukeout

[2017-03-23 17:36] flukeout commented on #1912
For sure - unintended consequence of some recent changes.

[2017-03-23 17:37] humphd commented on #1893
@lkisac I wonder if https://github.com/mozilla/thimble.mozilla.org/pull/1913 is going to fix your issue.

[2017-03-23 18:21] humphd commented on #1339
This hasn't happened, closing.  I'd love to see it actually happen, though.

[2017-03-23 18:21] #1339 closed

[2017-03-23 18:22] #1338 closed

[2017-03-23 18:22] humphd commented on #1336
Would love to see this, but hasn't happened.  Closing until we decide to do it.

[2017-03-23 18:23] humphd commented on #1324
I think this has gotten significantly better.  What still needs to happen?  Can we close this now?

[2017-03-23 18:24] humphd commented on #1322
Closing, since this needs to happen in Brackets, and is already well understood/discussed in bugs there.

[2017-03-23 18:24] #1322 closed

[2017-03-23 18:25] humphd commented on #1314
I think it's unlikely we're going to do this, because it will break a lot of what we do with the headers over the editor/preview.  I'm going to close, and if we decide to actually take it on, let's file a new bug.

[2017-03-23 18:25] #1314 closed

[2017-03-23 18:25] humphd commented on #1299
This hasn't moved, closing until we decide to do something.

[2017-03-23 18:25] #1299 closed

[2017-03-23 18:26] humphd commented on #1911
https://github.com/mozilla/thimble.mozilla.org/issues/1298 is related to this.

[2017-03-23 18:28] humphd commented on #1529
There is work happening on this in https://github.com/mozilla/brackets/pull/623

[2017-03-23 18:29] humphd commented on #1430
https://github.com/mozilla/brackets/pull/637 should help with this, but beyond that, I'm not sure what action to take without more data.  I'm going to close this until we have some real info we can use to make improvements.

[2017-03-23 18:29] #1430 closed

[2017-03-23 18:31] humphd commented on #1611
This is not well scoped, closing.

[2017-03-23 18:31] #1611 closed

[2017-03-23 18:32] humphd commented on #1601
I'm going to close this, since the discussion seems to have ended.  @nailaandleeb if you still have issues and want to discuss, let's start a new bug.

[2017-03-23 18:32] #1601 closed

[2017-03-23 18:34] humphd commented on #1326
https://github.com/mozilla/thimble.mozilla.org/issues/1598 seems related to this.

[2017-03-23 18:35] #1597 closed

[2017-03-23 18:36] humphd commented on #1583
We're focusing on client-side HTML, JS, CSS, etc vs. server side code.  There are other similar tools that do allow you to do server side scritpts, Cloud9 is one.  I'm going to close this, since it's not likely to happen.  It's a good idea, but beyond the scope of what we want to support.

[2017-03-23 18:36] #1583 closed

[2017-03-23 18:36] #1565 closed

[2017-03-23 18:37] humphd commented on #1636
This landed, closing.

[2017-03-23 18:37] #1636 closed

[2017-03-23 18:38] humphd commented on #1617
This is not well scoped, closing.

[2017-03-23 18:38] #1617 closed

[2017-03-23 18:39] humphd commented on #1706
I don't think we're going to do major surgery on Brackets to allow for this, closing.

[2017-03-23 18:39] #1706 closed

[2017-03-23 18:40] humphd commented on #1326
https://github.com/mozilla/thimble.mozilla.org/issues/1803 is also related.

[2017-03-23 18:41] humphd commented on #1767
Closing until this becomes necessary.

[2017-03-23 18:41] #1767 closed

[2017-03-23 18:44] humphd commented on #1279
@MargarytaChepiga what ever happened with this bug and your fix?  Did you eventually get it done against Mozilla's Brackets?  If so, can we close this?  If not, can you please do that?

[2017-03-23 18:46] humphd commented on #1596
@MargarytaChepiga same question on this bug.  What's the status of your fix?

[2017-03-23 18:47] humphd commented on #1629
https://github.com/mozilla/thimble.mozilla.org/pull/1731 was merged, can we close this bug @flukeout?

[2017-03-23 18:48] humphd commented on #1681
@Mordax are you indeed still doing this?  It's been inactive a long time.

[2017-03-23 18:49] humphd commented on #1720
@O-kasso are you still doing this?  If not, no problem, I'll put it back into the general pool.  Let me know!

[2017-03-23 18:49] humphd commented on #1721
@rashmimalpande how is this coming?

[2017-03-23 18:50] humphd commented on #1771
@waseem18 how are you doing with this?  If you aren't going to work on it, no problem, just let us know so someone else can take it.  Thanks.

[2017-03-23 18:51] humphd commented on #1776
@babhishek21 are you still working on this?  If not, can you let us know so we can put it back in the general pool of bugs for people to take?  Thanks.

[2017-03-23 18:51] humphd commented on #1778
@dangkhue27 how is this coming?

[2017-03-23 18:53] babhishek21 commented on #1776
Yup, still working on this! I'm sorry, I was on vacation last week and did not have access to my devbox (I wrote that on Mattermost, but it must have been lost in the noise) 😓 Expect a patch by today evening or tomorrow morning.

[2017-03-23 19:12] bkim49 commented on #1886
@humphd I feel like this might be little too difficult for me. Maybe it could be better if I choose a different bug to work on.

[2017-03-23 19:13] bkim49 commented on #1912
I would like to work on this bug as well @humphd

[2017-03-23 19:14] humphd commented on #1912
@bkim49 OK, talk to @flukeout for thoughts on what he needs done.

[2017-03-23 19:14] humphd commented on #1886
@bkim49 no problem, thanks for letting me know.  I think it would be difficult for me too!

[2017-03-23 21:00] lkisac commented on #1893
@Pomax  I'm able to get vagrant up and running, just that it takes quite some time (approx. 10 mins) to vagrant up after a vagrant suspend/halt (I need to do this while working on any server-side code), stalling on the `DEBUG ssh: Sending SSH keep-alive...` for each process.  I have vt-x enabled on my Vagrant VM as well as on my Windows OS.

@humphd  Thanks, I will keep an eye on it.  Hopefully it

[2017-03-24 05:14] shubham0794x commented on #1902
@humphd  Sir , we need to add the required feature in https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/UI.js .
And Sir , what do you mean by "we can just do it with css." ?

[2017-03-24 06:10] waseem18 commented on #1771
Sorry for the delay @humphd ! My health wasn't supporting me, so couldn't  send a PR for this issue. I'lll raise a PR with the fix tomorrow (saturday).

Thanks

[2017-03-24 08:31] badrmodoukh commented on #1908
Hi I would like to work on this :)

[2017-03-24 15:51] bkim49 commented on #1912
@flukeout How should this issue be solved? Would you just want me to change the colour of the text?

[2017-03-24 16:03] flukeout commented on #1912
Hi @bkim49 - you can just match how the text looks in the production site - https://thimble.mozilla.org/ - thanks!

[2017-03-24 16:41] flukeout commented on #1543
In re-reading the original request, I just realized that it was meant as an option within the publish dialog itself, and not on the remix bar.

I think both are useful, but maybe I'll re-file both issues.

[2017-03-24 16:58] flukeout commented on #1911
Thanks for getting this started @humphd - I agree we're not doing all of the right things. Some of this stuff is 'features' that we can build, but other aspects require active monitoring and management (curating community projects, posting to twitter, sending out emails if we have a list). We could use that as a lens to prioritize the work. We're stretched as it is just working on the product.

Th

[2017-03-24 17:09] JohnEJames commented on #1849
After my investigation and trying to get Ansible to work on Windows and Linux I believe Ansible is not a great provisioner for this project.

# Windows
I first tried to get ansible to work on my main machine that runs Windows, but after investigation it wanted me to install [cygwin](http://cygwin.com/install.html) which provided more of a hassle then a solution. Even with Cygwin installed I was un

[2017-03-24 17:28] O-kasso commented on #1720
@humphd apologies for being AFK, I've been away from home and my main workstation, I'd like to resume working on it this weekend if possible.

[2017-03-24 17:49] flukeout commented on #1543
Hey @DorelBarbu are you able to adapt your work to add the embed snippet to the Publish dialog instead?

![image](https://cloud.githubusercontent.com/assets/25212/24306917/7cf3f1ac-107f-11e7-93af-f79a54146015.png)

[2017-03-24 18:00] flukeout commented on #1629
Definitely!

[2017-03-24 18:00] #1629 closed

[2017-03-24 18:01] flukeout commented on #1324
Sounds good - let's file more concrete issues if we want to change things.

[2017-03-24 18:26] flukeout commented on #1339
Yeah, related to the community piece you started in another issue. I agree, this would be cool - it's a cool way to engage with community without needing to be always-on like with Twitter etc.

[2017-03-25 08:18] DorelBarbu commented on #1543
Sure thing, @flukeout. I've been a little busy this week but I will fix it soon. Thanks!

[2017-03-25 12:21] hkirat commented on #1827
I think this was fixed [here](https://github.com/mozilla/thimble.mozilla.org/commit/21545ddd9fb513dbf61a327c7a35bb6de7247e5c#diff-93529a1b7567a5ac2701f243f7b48e9eL156)
Should be good to close.

[2017-03-25 16:29] babhishek21 commented on #1776
I did what @humphd suggested. It didn't seem to work. 😭

So I did the following:
+ Import the `BrambleEvents module
[code]
+ Fire off an event to change tutorial pane visibility [here](https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/main.js#L145-L164)
[code]

And while these lines execute without errors (I checked with a couple of `console.log()`s), the tutorial pane

[2017-03-25 23:02] humphd commented on #1886
After writing about what needed to happen, I ended up just fixing this as part of my dnd refactor in https://github.com/mozilla/brackets/pull/659.  The relevant commit is https://github.com/humphd/brackets/commit/c238c04afb107946ecabf8347c4b1e14e709fb3c.

[2017-03-26 22:12] JohnEJames commented on #1849
So I started to look into chef-zero, I was able to install it and get it working on my windows machine. I created a "Kitchen" and created a recipe but when I tried to test it, it told me that `C:\opscode\chefdk\embedded\bin\perl.EXE: *** Couldn't reserve space for cygwin's heap, Win32 error 0` and with other errors such as recipe not found ect. I'll look into it more, maybe it's the way I'm trying

[2017-03-26 23:33] waseem18 commented on #1771
@humphd I'm able to reproduce the bug. Also I've attached `handleClick` function to window but the thing is, In Chrome the function `addEventListener` and `handleClick`  aren't getting called for both the scenarios mentioned above as the `console.log`'s and `alert`'s put inside `handleClick` function were'nt showing up!

Things are working fine in Firefox!

[2017-03-27 00:31] JohnEJames commented on #1849
Also here is what I get when I try to test the cookbook
![884231008d6710ee9048535c95818624](https://cloud.githubusercontent.com/assets/10540058/24336811/1facb462-1263-11e7-9adc-23cedb93596d.png)

[2017-03-27 01:59] humphd commented on #1849
This is all very fascinating, and depressing.  More "doesn't work with windows hosts."  What about Puppet?  Can you take a look at https://puphpet.com/ and see if it can do what we want?  It looks pretty easy to use.

[2017-03-27 06:30] gideonthomas commented on #1579
I've been digging into this a bit and doing some research about client-side uploads to S3 (primarily for GSoC).

I am [linking two **diagrams**](https://www.lucidchart.com/documents/view/07697a3f-5837-4324-b1e9-d0dcd67e6d4a/1) that explain how I envision this working out.

Those two diagrams are pretty rough and still need refining to hash out the details. They also do not deal with a **migration

[2017-03-27 14:18] humphd opened #1916 "Explore using SW Background Sync API for server syncing"
https://dev.to/philnash/send-messages-when-youre-back-online-with-service-workers-and-background-sync would be pretty useful, when browsers support it, for allowing syncs to happen even if the user closes the page.

Part of https://github.com/mozilla/thimble.mozilla.org/issues/1459

[2017-03-27 15:14] humphd commented on #1776
You're sending that event too early.  Thimble and Brackets aren't setup to talk to each other until after `RemoteEvents.loaded()` completes, see https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteEvents.js#L161-L194.

You probably want to trigger your event after this completes https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/main

[2017-03-27 15:15] humphd commented on #1827
@flukeout can you please close this if it's actually fixed how you want in your other patch?

[2017-03-27 15:38] humphd commented on #1903
@nadia39, @khanh2003 can I confirm that one of you is actually working on this?  If you're not able to do it, no problem, just let me know so I can give it to someone else.

[2017-03-27 15:41] humphd commented on #1791
I'm interested if this is still happening now that we've landed https://github.com/mozilla/brackets/pull/644.  @matthieu-foucault when you have some time, can you please test again at https://bramble.mofostaging.net?

[2017-03-27 15:45] humphd commented on #1906
@flukeout "I told you so" comes to mind! :(

[2017-03-27 15:46] humphd commented on #1862
@dangkhue27 I assume you're doing this, right?  If not, let me know.

[2017-03-27 15:47] #1853 closed

[2017-03-27 15:50] humphd commented on #1779
@Shank09 where is this at?  Are you indeed still working on it?  If not, please let us know so someone else can fix it.

[2017-03-27 15:51] humphd commented on #1740
@flukeout this can get closed now I think?  If I'm wrong, please re-open.

[2017-03-27 15:51] #1740 closed

[2017-03-27 16:00] humphd commented on #1524
The fix to this is two-fold:

* Switch over to Service Workers, which is #1459
* Undo this patch, so we don't load these files cross-origin: https://github.com/mozilla/thimble.mozilla.org/commit/c8fec1ed5627d507d16480e341e8c54f45d03b22

Let's make this bug be about the second part.  When we first shipped Brackets I was really worried about the download size.  Today, I'm less worried, and I don't t

[2017-03-27 16:08] humphd commented on #1902
Yes, in `UI.js` I think, as discussed above in https://github.com/mozilla/thimble.mozilla.org/issues/1902#issuecomment-287893542.  "do it with css" would mean getting the `#second-pane` element and using a class that does `display:none`.  But that's what the `.hide()` stuff does, I think.

[2017-03-27 16:23] humphd commented on #1675
Probably this is easier to do in a face-to-face conversation.  The panel should get added when you do https://github.com/raygervais/brackets/compare/add-new-console...raygervais:issue-1675#diff-a29088a5b670d6e4e77c46ba1f97f692R145.  When I see you, maybe you can explain more to me about what you're asking.

[2017-03-27 17:26] babhishek21 commented on #1876
I found a few ways we could go about this:

+ [ShareJS](https://github.com/josephg/ShareJS) (now [ShareDB](https://github.com/share/sharedb)). OT library by former Google Wave devs, which is now integrated into a full-blown webapp framework. I had trouble with it back in mid-2016, mostly because the docs were virtually non-existent. I hear @humphd got it running on a Code Mirror instance

+ [y-js]

[2017-03-27 17:51] humphd commented on #1876
@babhishek21 your research parallels mine.  I found a few other options too, but most of them were abandoned.

I think we need to experiment with a few options, and see what works best.  Trying to design this outright without more data on how different scenarios work isn't wise, imho.  Because Brackets uses CodeMirror, and because so many of these collab/sharing libs have demos that use CodeMirror

[2017-03-27 17:56] humphd commented on #1876
Looking more at https://github.com/y-js is making me think we should be doing some parallel exploration with it.  We'd have to work a bit to make it compliant with `CodeMirror` vs. ace/quill, but the fact that they already have shared indexeddb stuff, shared fs, and work with multiple editors, this could be really good.

[2017-03-27 18:20] Shank09 commented on #1779
Yes I'm still working on it. I lost my local branch, when i tried to reclone the brackets repo.
Everything is fine now.
I am trying to see why it doesn't reopen when the cancel button is pressed. It doesnt seem to set `_uploadDialog` back to `null`

https://github.com/mozilla/brackets/pull/621

[2017-03-27 18:25] dangkhue27 commented on #1862
@humphd Yes, I will try to fix this problem.

[2017-03-27 19:23] humphd commented on #1579
@simonwex this is another one that would be great to have your thoughts on.  @gideonthomas has done some good work above to think about what we might do.

https://github.com/mozilla/thimble.mozilla.org/issues/1789 is probably also related, and all of it affects the collab work.

[2017-03-27 19:40] evantsyferov commented on #1524
I would like to work on this issue.

[2017-03-27 19:41] evantsyferov commented on #1797
I would like to work on this issue.

[2017-03-27 19:47] flukeout opened #1917 "Get rid of Stay Calm project from the codebase"
For some reason the ``stay-calm`` project is hard-coded into our codebase. I don't think we need it there...

![image](https://cloud.githubusercontent.com/assets/25212/24374961/89177972-12eb-11e7-9393-6e9119790c06.png)

Is that correct @humphd? If we don't - mind labeling this Good Bug, ty.

[2017-03-27 20:09] humphd commented on #1917
I don't honestly remember why we did this, it might have been just for testing purposes.  See https://github.com/mozilla/thimble.mozilla.org/pull/638 where I added it, and https://github.com/mozilla/thimble.mozilla.org/pull/733 where @gideonthomas worked on it too.  @gideonthomas do you know if we need this?

[2017-03-27 20:11] humphd commented on #1797
@evantsyferov OK, it's yours.  @gideonthomas, @cadecairos can you give a few tips on good places to focus this?  I'd basically love to not have 500s make there way to the user, and instead let some kind of error middleware or error page show something instead.

[2017-03-27 20:13] flukeout commented on #1903
Okay, so for whoever takes it, here is a list of what should happen:

**Update index.html markup**
The new project ``index.html`` file should match the blank ``index.html`` file that you add from the **Add File** dropdown.

Files are...
* https://github.com/mozilla/thimble.mozilla.org/blob/master/default/empty-project/index.html
* https://github.com/mozilla/thimble.mozilla.org/blob/master/public/r

[2017-03-27 20:36] cadecairos commented on #1797
Gideon can correct me if I'm wrong, but I think the [files in here](https://github.com/mozilla/thimble.mozilla.org/tree/master/server/routes) might be a good place to have a look. in the sub folders are request handlers that hit up the publish server ([such as this one](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/routes/projects/publish.js#L24-L70)) that might be improved.

T

[2017-03-27 20:47] cadecairos commented on #1579
This looks pretty promising! I'm not too concerned (right now) about the rate at which we upload content, since based on our log stats, we average around 3 or 4 requests per second.

Two thoughts:

We can optimize delete operations by doing the action directly VS using signed urls, since we don't need to upload data to S3.

We'll need to ensure that files sync before signed URLS expire (I don't kn

[2017-03-27 20:59] flukeout opened #1918 "Change Publish popup title when project is Live"
Currently, the popup title always says "Publish your Project", even if it is already published...

![image](https://cloud.githubusercontent.com/assets/25212/24376855/3cd4c860-12f2-11e7-9ba7-85da8a484922.png)

Let's change it to "Your Project is Online" when the project is published.

[2017-03-27 21:08] rkgupta21 commented on #1918
I would like to work on this bug.

[2017-03-27 21:16] #1610 closed

[2017-03-27 21:16] flukeout commented on #1609
How's it coming along @ZenanZha?

[2017-03-27 21:17] flukeout commented on #1644
Aaaand closing.

[2017-03-27 21:17] #1644 closed

[2017-03-27 21:30] flukeout commented on #1918
👍 Great, go ahead!

[2017-03-27 21:49] #1827 closed

[2017-03-27 21:50] nadia39 commented on #1903
yes I am working on it

I should be done in a few days

Nadia

________________________________
From: David Humphrey <notifications@github.com>
Sent: Monday, March 27, 2017 4:38:41 PM
To: mozilla/thimble.mozilla.org
Cc: Nadia Suleyman; Mention
Subject: Re: [mozilla/thimble.mozilla.org] Update "New Project" style.css to include a nicer font (#1903)

@nadia39<https://github.com/nadia39>, @khanh2003<

[2017-03-27 22:23] alalonde commented on #1880
There are several options for realtime collaboration frameworks.  Apparently you're not afraid of proprietary solutions, so I'll plug ours :)  We built something similar from scratch in about a week: https://demo.convergence.io/code-editor/  Check it out in multiple browser windows to see the collaboration in action.

Also, see my answer to a Quora question for a more thorough round-up: https://ww

[2017-03-27 22:50] flukeout commented on #1903
Thanks @nadia39!

[2017-03-27 23:26] Pomax commented on #1855
How're we doing on this one? Is this still in discussion or do we have enough to move forward marking as good first bug? @flukeout

[2017-03-27 23:28] Pomax commented on #1419
Hm, this issue fell of a the map a little - @Rajat-dhyani did you have a PR up for this work already somewhere?

[2017-03-27 23:29] Pomax commented on #1306
This issue seems to have stalled a little, @omytryniuk did you find any side effects? If not, did you have a chance to form a PR?

[2017-03-27 23:32] Pomax commented on #1909
Is this tied to a specific pre-existing issue? It feels like @humphd and @flukeout probably need to weigh in on this issue

[2017-03-27 23:35] Pomax commented on #1800
I'm going to push back and say that given automatic code formatters, this isn't nearly as important a skill anymore as it was back when we didn't have JS linting and styling tools. While "penmanship counts", that's no longer really true when pre-commit hook can ensure everyone's handwriting look identical.

[2017-03-27 23:48] Taguiar commented on #1909
Yes, it is tied to the one that I complete in brackets.

[2017-03-27 23:56] flukeout commented on #1855
This issue is supporting the work in a PR by @twigz20 (#1826). Looks like there is some recent activity there, so I'll check in. Ideally the design option B from this issue would be implemented as part of that PR. If we decide to implement this as a separate effort then I'll create a new implementation issue with Good First Bug on it then.

[2017-03-28 00:14] #1743 closed

[2017-03-28 00:15] Pomax commented on #1743
this specific issue can be closed with @omytryniuk's PR landing - there are more issues outstanding for individual major-version bumps.

[2017-03-28 00:18] Pomax commented on #1529
do we want to keep this specific issue open, or should we close it as the work is happening elsewhere?

[2017-03-28 00:20] Pomax commented on #1893
@lkisac humph's PR got merged in, can you see if your issue was resolved with it?

[2017-03-28 00:21] Pomax commented on #1908
@badrmodoukh that's great, please do! Please address each dependency in a separate PR, though

[2017-03-28 00:58] Pomax commented on #1886
tested and barring some bugs that this surface, this works really well now

[2017-03-28 01:09] Pomax commented on #1771
To be clear: the vanilla JS code from the first comment is considerably different from the jQuery code. The jQuery code is the same as using `addEventListener`, which is *very different* from using the now mostly obsolete single-bind `onclick` function assignment. With `addEventListener`, and jQuery's `click()`, any number of events can be bound and it's kind of a "guess" whether your function is

[2017-03-28 01:19] Pomax commented on #1909
@Taguiar can you mention which one a comment, so that github can setup an automatic crosslink?

[2017-03-28 03:46] bkim49 commented on #1912
I tried to fix this issue but could not find a solution. I attempted to make it the same as thimble page, but was unable to because the black text is not grouped within a selector.

`a.navbar-login {
  color: white;
  opacity: 1;
  text-decoration: none;
  font-weight: normal;
}

a.navbar-login:hover {
  .transition;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* Log

[2017-03-28 03:49] twigz20 commented on #1855
@flukeout I've made the necessary changes so you're able to easily pull and test out my branch. Is it possible to link me to where or who made the hover effect?

[2017-03-28 03:57] badrmodoukh commented on #1908
@Pomax just to make sure, I need to make a separate PR for each of these dependencies, but doesn't this mean that when I update all of these dependencies at the end they will not all be gathered together, since each one is in a separate PR

What I am trying to say is, is this the way I am suppose to do this:

- update the cryptr dependency and send a PR for it
- update the fs-writefile-promise dep

[2017-03-28 04:38] badrmodoukh commented on #1908
@Pomax never mind I will just

- update the cryptr dependency and send a PR for it
- update the fs-writefile-promise dependency with the updated cryptr dependency and send a PR for it
- update the glob dependency with the updated cryptr and fs-writefile-promise dependency and send a PR for it
- and so on ...

This way makes more sense

[2017-03-28 04:53] ZenanZha commented on #1609
@flukeout I was back from other school work until last weekend. Sorry for push this work back. Please give me some time. I'll try to get the Teaching Kit done within this week.

[2017-03-28 08:36] cvan commented on #1459
@humphd: I was pointed to this issue by @asutherland. This has been a dream of mine for years. Really awesome work here. Chromebook-driven development for WebVR, that's what I want 👍

[This staging demo](https://mozillathimblelivepreview.net/bramble/staging/dist/hosted.html
I) looks great. And, I saw the work in mozilla/brackets#549. If I want an instance of this to start hacking on WebVR/A-Frame

[2017-03-28 10:58] hkirat commented on #1907
Hi @Abykin
Are you still working on this?
If not I would like to work on it since one of my [other](https://github.com/mozilla/brackets/pull/651) PRs is pending because of this issue.

[2017-03-28 12:53] Rajat-dhyani commented on #1419
@Pomax  i am so sorry i was under the impression that i already filed a PR for this issue... my bad.. i am busy today with my college project.. please expect a PR by tomorrow... sorry again and thanks for informing me about this 👍

[2017-03-28 13:35] humphd commented on #1459
@cvan great to hear from you, thanks for reaching out (ht @asutherland for connecting us!).  I'd love to see Thimble/Brackets become a "go to" tool for zero-setup Web VR (and other modern) web dev.  I'd also like to see it play a larger role in Mozilla's educational and developer relations offerings.  What we've built is really powerful, unique, and under-utilized.

I'd be interested to chat some

[2017-03-28 13:55] sanariaz154 commented on #1251
sorry I couldn't work  I was away for a week .
can you tell me do I have to install thimble for this or I can see changes through localhost/src as we could for brackets ?

[2017-03-28 14:08] omytryniuk commented on #1306
Good day Mr. Kamermans. I did not find any side effects, because the part of the code(result.always) is only executed when we type inside the editor. I have removed the function. At the same time, I did not remove focusActivePane() in MainViewManager, because it is used by other services. Here is the [PR](https://github.com/mozilla/brackets/pull/669). It is Brackets bug, that is why I've formed th

[2017-03-28 15:43] Abykin commented on #1907
@hkirat Sorry for the delay I had weird problems with my vagrant recently. I pushed a PR with the change at [https://github.com/mozilla/brackets/pull/670](url). @humphd

[2017-03-28 16:13] flukeout commented on #1912
Hi @bkim49 - I'll check into it now and get back to you shortly.

[2017-03-28 16:33] flukeout commented on #1609
No problem @ZenanZha - just checking in. Cheers.

[2017-03-28 16:38] flukeout commented on #1912
I think a good approach is to just look at the entire navbar element...

![image](https://cloud.githubusercontent.com/assets/25212/24416518/e3da408e-1399-11e7-81c6-32de5741f92a.png)

Then we can take a look at what styles apply to it...

![image](https://cloud.githubusercontent.com/assets/25212/24416540/f98a2c78-1399-11e7-8a04-527850488430.png)

In produciton, there used to be a ``color: #b9d6c3;`

[2017-03-28 16:53] #1824 closed

[2017-03-28 17:13] bkim49 commented on #1912
I will try this tonight. Thank you for the feedback! :smile:

[2017-03-28 17:14] Pomax commented on #1306
Nice fix, I'll run it through a test, but it looks a pretty good solution. Also it's just Pomax (not a formality issue, that's simply been my name for the last 18 years. "Mr. Kamermans" is any of a hundred other people I am related to =)

[2017-03-28 17:27] Taguiar commented on #1909
Is the way that I did what you wanted?!

[2017-03-28 17:42] Pomax commented on #1306
nice work @omytryniuk, this works really well, and also solves some other issues around the editor stealing focus on an auto-save.

[2017-03-28 17:42] #1306 closed

[2017-03-28 18:34] humphd commented on #1251
Likely you'll have to make changes in both Brackets and Thimble, but you can start in Brackets, and just debug it the same way you did your other patch with http://localhost/src/hosted.html.  Eventually, you'll also need to work in Thimble, so you'll need to do the local setup for it, which uses Vagrant to run the various services it uses in a VM.  See the readme file for details, and let us know

[2017-03-28 18:40] flukeout opened #1919 "Improve auto-complete feature."
Right now our auto-complete seems pretty aggressive, and I'm not sure it's very useful. For instance, take a look at this screencap...

<img src="https://cloud.githubusercontent.com/assets/25212/24421303/9dc1a6b2-13aa-11e7-930c-24ef3a9bc369.png" width="250" />

There is almost no time when this is helpful and I find it quite jarring to see this thing always popping up and going away as I type.

**

[2017-03-28 18:48] humphd commented on #1919
I disagree with this, personally.  I think it's really useful, and you are coming at it as a professional dev who knows what he wants to type.

That said, all these hint mangers are extensions, for example https://github.com/mozilla/brackets/tree/master/src/extensions/default/HTMLCodeHints is for HTML, and https://github.com/mozilla/brackets/tree/master/src/extensions/default/CSSCodeHints is for C

[2017-03-28 18:56] flukeout commented on #1919
You're right. I'll close and consider refiling an issue to make autocomplete it an optional, on-by-default setting.

[2017-03-28 18:56] #1919 closed

[2017-03-28 18:59] humphd commented on #1919
#1761 is that bug, I think.

[2017-03-28 19:00] humphd commented on #1761
From #1919, @flukeout suggests we make it possible to turn off all the code hints too.

[2017-03-28 19:05] gideonthomas commented on #1579
@cadecairos but we don't want anyone to run delete operations on the objects so signing them is a way for us to make sure you are authenticated and have the permission to do it.

Regarding expiry, that's an interesting idea that might be a secondary optimization since we will need to actually load/user test.

[2017-03-28 19:13] raygervais commented on #1675
@flukeout, with the guidance of @humphd, I managed to integrate the initial console user interface into Bramble. I was recommended to ask you how you'd like the console styled, including text colours, what arguments or data should be included (I'm thinking time stamps), font-faces, and layout as well.

Dave was concerned that it spanning the entire bottom may take too much room on lower-resolution

[2017-03-28 19:28] Pomax commented on #1761
As long as it's in two steps that would be nice. Perhaps the dev tools behaviour is useful here, too: autocomplete shows you your options, but does not kick in unless you hit the right cursor key. Hitting space or enter just does literally that, adding a space or a newline (in multiline mode)

[2017-03-28 19:55] flukeout commented on #1505
Closing as follow up was filed.

[2017-03-28 19:55] #1505 closed

[2017-03-28 19:57] jgmac1106 commented on #1911
I really like the idea of an email newsletter. Especially if we an crawl projects and display some what's new.

Could also do a section "This weeks (or months) most remixed projects

[2017-03-28 19:59] jgmac1106 commented on #1911
I think we should piggyback off of the mozilla club and campus clubs to really drive the issue.

Worry about anyone actively working on development and managing the explosive growth in the dev community to also focus on the learning community.

Maybe Thimble Community Facilitators become elevated volunteer roles people have to apply for.

[2017-03-28 20:06] flukeout commented on #1907
Fixed via https://github.com/mozilla/brackets/pull/670 - thank you @hkirat

[2017-03-28 20:06] #1907 closed

[2017-03-28 20:20] cadecairos commented on #1579
What I mean is the authenticated user tells publish they wish to remove an object, and if valid, publish makes the call directly.

[2017-03-28 21:15] dsych commented on #1800
+1 to @Pomax , as a new contributor, I had to go through a lot of code reviews that just underlined my styling incompatibilities, which is really annoying for everyone involved in the reviewing. While the experience of fixing the code styling is valuable, it should not interfere with contribution process.  @humphd  and I talked about the problem today and I volunteered to work on it, if no one is

[2017-03-28 21:25] flukeout commented on #1761
Just for clarity, I'm going to close this issue as I'm pretty sure from reading the Discourse post that this is about auto closing tags - so it's a dupe of #1262 - which is already being worked on.

[2017-03-28 21:25] #1761 closed

[2017-03-28 21:28] flukeout opened #1920 "Make auto-complete an "on-by-default" editor setting that can be turned off."
Let's make autocomplete (as seen below) an editor setting, and put it in the gear dropdown menu.

<img src="https://cloud.githubusercontent.com/assets/25212/24428268/ba8867e6-13c2-11e7-9fa1-3a9c3d453431.png" width="300"/>

It should be on by default, but if a user turns it off, it should stay off until the next time that it is turned off. This can be stored in localStorage along with the other edi

[2017-03-28 21:30] flukeout commented on #1761
Filed updated issue in https://github.com/mozilla/thimble.mozilla.org/issues/1920

[2017-03-28 21:37] flukeout commented on #1675
Hey @raygervais, this is great! Is there a PR that I can try it out in? I'll give this some thought today and tomorrow and post some thoughts / mockups.

[2017-03-28 21:45] Pomax commented on #1908
@babhishek21 no, please do not do that. Each of these updates should work independently of the others, so please literally do file:

- a PR for cryptr
- an independent PR for fs-writefile-promise
- an independent PR for glob

and so forth. None of the major version bumps should in any way need to rely on "another library being a major version ahead". Updating all of them independently should be pe

[2017-03-28 21:52] Pomax commented on #1909
looks like github does not place crosslinks for old comments... so:

see: https://github.com/mozilla/brackets/issues/607

[2017-03-28 21:53] ryanwarsaw commented on #1800
@Pomax If your main point is hassle on the reviewer, then something like ESLint and requiring users to verify that ```npm lint``` runs and succeeds before requesting review would eliminate that.

I'm not against using prettier, if we're using it for the right reasons. I recognize that I'm very heavy-handed on the mentality of learn-by-doing, and that is my main issue with this particular propositi

[2017-03-28 21:53] Pomax commented on #1909
yes, thank you. Now there is a way for everyone to quickly get to the original issue, and the original (now closed) issue has a linkback to this one.

[2017-03-28 21:56] Pomax commented on #1920
It would be great if autocomplete did *not* kick on a key that is already used for normal typing, like space or enter, but instead required a different key. Or, alternatively, to have autocomplete show suggestions, *but not select the top one* until the user presses their down key or something. That way even with autocomplete, you can just keep typing your code if you want, treating autocomplete a

[2017-03-28 21:59] Pomax commented on #1800
That's what prettier does, just better than eslint. It is an opinionated set of "these are the style rules that should be enforced for this project, and I will rewrite your code to make it match". Requiring users to run that manually, when it can run fully automated, is silly. If the result is the same, making people manually run `npm run lint` and then manually fix the problems, rather than just

[2017-03-28 22:08] Pomax commented on #1911
I'd try to steer clear of those two particular efforts, as "clubs" are currently being tackled by multiple groups, focussing on different timescales. Adding more overhead there is more likely going to slow things down, rather than give us some synergies.

[2017-03-28 22:10] #1868 closed

[2017-03-28 22:17] ryanwarsaw commented on #1800
@Pomax I beg to differ, automation is a great tool but when you keep in mind that a large quantity of our contributors are just starting out and learning the basics, I think it'll do more harm than good. People are still going to need to know how to use a linter, write clean code and fix style issues.

Furthermore, a large majority of all the issues fixed by contributors in recent weeks required b

[2017-03-28 22:21] Pomax commented on #1800
I don't understand why a fix for thimble must also be implemented for brackets. While one uses the other, like all open source projects they are different projects with different style requirements, different build setups, and different things to learn to contribute to the codebases.

[2017-03-28 22:25] lkisac commented on #1893
I pulled most recent changes and getting ``==> default: /tmp/vagrant-shell: line 3: pm2: command not found" error in my --debug log on `vagrant up`.

[code]

pm2 is also not recognized within the vagrant shell either:

[code]

I tried re-installing pm2 `npm install pm2 -g`, but still getting error.  Should I open a separate ticket for this issue?

[2017-03-28 22:30] ryanwarsaw commented on #1800
That was another main point for implementing prettier in the first place (see @humphd's comment). If we're doing this because contributors are having issues with tools like ESLint, but a large majority will still have to use it regardless because of issues requiring Thimble & brackets work, then what's the point? Either way they're still going to have to use it.

[2017-03-28 22:35] ryanwarsaw commented on #1526
I can file a bug for your first outlined change, that seems like a good first bug for someone. Your second change is fairly relevant to the work @aayushsanghavi did previously on this, so I'll let him decide whether or not he wants to continue with this, or with his work on other bugs.

Also, do we need to do anything other than call ```bramble.saveAll()``` in the ```beforeunload``` event? You men

[2017-03-28 22:36] Pomax commented on #1893
hm, let's keep this one open for now - @gideonthomas @humphd have you seen this before by any chance?

[2017-03-28 22:42] Pomax commented on #1800
That sounds very much like "We can't make everything better at the same time, so it's not worth making a single thing better". If adding prettier makes work on *this* codebase easier for reviews and contributors alike (by respectively null-and-voiding syntax issues in PRs, and making styling an automatic process) then start where you can, and right now that's here. Applying prettier to brackets *o

[2017-03-28 23:04] ryanwarsaw commented on #1800
That's not what I'm saying. If new contributors find lint tools frustrating, and that's a main reason for using prettier, but a large majority of them will still need to use a lint tool (brackets) then we're not receiving a key benefit from the use of prettier. If we want to jump down rabbit holes and try to get Adobe to support prettier and the whole nine yards, then go ahead.

As I've said befor

[2017-03-28 23:11] flukeout commented on #1800
Here's my super-cool take on this you guys. I think it would be great if:

* When you made a PR, travis failed you if you didn't indent correctly (and other nits)
* You could also run a task locally to help you find nits before you pushed up a PR

I think contributors would be OK making changes by themselves if they knew what the problems were, and I think they would appreciate the fact that they

[2017-03-28 23:34] humphd commented on #1893
@lkisac what does `git show` tell you about which commit you are on when you run `vagrant up`?

[2017-03-28 23:41] lkisac commented on #1893
I did a `git log --max-count=3` to show a couple changes before my latest pull request (1868).

[code]

[2017-03-28 23:47] Pomax commented on #1800
travis will auto-fail if we have an `npm test`, which we don't right now. Setting up a basic `"npm test": "eslint src/**/*.js"` would certainly be the bare minimum.

[2017-03-28 23:51] Pomax opened #1921 "extend the grunfile so that `npm test` also runs eslint"
Right now the `grunt` task that runs when you run `npm test` in thimble only runs jshint, which doesn't really do enough style profiling to work contributors that their code is not style-conformant. Let's extend that task a little so that it catches style errors, and allows TravisCI to fail when commits are push that do not follow the eslint styles we tell it to use.

[2017-03-29 00:57] badrmodoukh commented on #1908
@Pomax sounds good, thanks for the clarification

[2017-03-29 02:33] babhishek21 commented on #1908
@Pomax You mentioned the wrong guy.

[2017-03-29 03:48] Pomax commented on #1908
my apologies @babhishek21

[2017-03-29 05:22] hkirat commented on #1920
Hi @flukeout
I would like to work on this.

[2017-03-29 11:47] jgmac1106 commented on #1911
Good point @Pomax I was just trying to think about where the community we are focusing on developing resides. The Club Captain Telegram group seems to be the most active.

Didn't necessarily mean a Club Captain program but just looking there as a source of contributors who could be further groomed. Meant something like sending out an email to RCs and captains asking if they have anyone they would

[2017-03-29 13:50] rashmimalpande commented on #1721
@humphd I am sorry. I didn't get much time to work on it. I have set up everything. I will work on it this week.

[2017-03-29 15:56] humphd commented on #1876
@dmonad has kindly [added CodeMirror support](https://github.com/y-js/y-text/commit/4b01839032d8ead1f8733cde88cc45f3922aae8c) to y-js, see https://github.com/y-js/y-richtext/issues/28#issuecomment-290065283, which also [includes an example](https://github.com/y-js/yjs/tree/11b30c707251a7d56385f6534350ead4a2ff6711/Examples/CodeMirror).  It would be great to play with this, and evaluate whether or n

[2017-03-29 15:58] gideonthomas commented on #1876
@hkirat you might also be interested in following this bug

[2017-03-29 16:26] flukeout commented on #1920
Hey that would be great @hkirat

[2017-03-29 16:30] humphd commented on #1920
I left some technical notes about this in https://github.com/mozilla/thimble.mozilla.org/issues/1919#issuecomment-289867438, fwiw.

[2017-03-29 16:46] raygervais commented on #1675
@flukeout, I don't have a PR up yet but I can get a WIP going so that we can work on the styling and functionality in it. How would you like to proceed?

[2017-03-29 16:50] flukeout commented on #1675
@raygervais Yeah, if it's working locally for you I think let's get a WIP PR going, it will be easier to collaborate and make decisions if we're both able to work on it.

[2017-03-29 18:13] humphd commented on #1874
Closed in https://github.com/mozilla/brackets/pull/647#issuecomment-290176591

[2017-03-29 18:13] #1874 closed

[2017-03-29 19:01] humphd commented on #1695
I added some, based on some other similar projects.  Feel free to edit/change.

[2017-03-29 19:01] #1695 closed

[2017-03-29 20:14] hkirat commented on #1876
Thanks for referring me here @gideonthomas

I went through the code of yt.js, especially [y-text](https://github.com/y-js/y-text).
It looks good and thanks to the example above a working prototype of collaboration in Codemirror is ready. (This is something we would've needed to implement in Togetherjs)

As @humphd suggested to include Collaboration in Thimble we would need some more modifications

[2017-03-29 20:56] humphd commented on #1800
Some things that I happened upon this week that (might) relate to this:

* https://github.com/okonet/lint-staged
* https://github.com/typicode/husky
* https://github.com/not-an-aardvark/eslint-plugin-prettier
* https://github.com/prettier/eslint-config-prettier
* https://github.com/prettier/prettier-eslint

Whether we move to use prettier or not is open to debate, but we have to do something.  I s

[2017-03-29 20:57] humphd commented on #1893
@lkisac I truly think that the VM and your laptop hardware and/or OS just hate each other.  You've had so many problems :(

[2017-03-29 21:01] humphd commented on #1526
There is no way to guarantee that data is always saved: power failure, browser crash, corrupt indexeddb, the list goes on.  All you can do is *try* to save, and report back if things don't work.

The events that @Taguiar wired into Brackets will help us, because we'll know when the project is not-saved vs. saved in the db.  In all cases where it's not-saved, we'll want to make sure a `beforeunload

[2017-03-29 21:02] humphd commented on #1529
I'll close, since this is tracked in that other bug.

[2017-03-29 21:02] #1529 closed

[2017-03-29 21:07] humphd commented on #1880
cc @babhishek21, @hkirat who are also thinking about this stuff.

[2017-03-29 21:14] alalonde commented on #1880
We're intimately familiar with the landscape for these tools and how they can fit different projects' needs.  I'd be happy to jump on a call to discuss -- no selling, I promise! :)  Ping me at the email in my profile.

[2017-03-29 22:53] hkirat commented on #1876
The issue was fixed.
I've made an example to demonstrate the functioning of multiple instances of CodeMirror in a single webpage [here](https://github.com/hkirat/collaborativeCodeMirror).
This takes care of most of the points mentioned by you above.
Keeping the files in synced state, routing the changes to the right files etc.

[2017-03-29 23:15] flukeout commented on #1876
Hey cool @hkirat - would you mind creating a gh-pages branch for that repo so we could try it out without having to clone etc?

[2017-03-29 23:52] lkisac commented on #1893
@humphd  One thing I fixed earlier on when setting up vagrant was my vagrant home path (a directory with no spaces, unfortunately my Windows user dir has a space in it when I installed Windows I put my first and last name which automatically created a user home directory with the full name...  Vagrant/Ruby has issues with directories containing [spaces](http://stackoverflow.com/a/26217200/2434565)

[2017-03-30 03:28] humphd commented on #1893
Looks to me like it's working now--those logs look like it was just having trouble killing an old process, which may not actually have existed (e.g., `pid` was old and deleted).  Let's close this and file again if you hit new issues.

[2017-03-30 03:28] #1893 closed

[2017-03-30 03:33] lkisac commented on #1893
Ok, will do.  Thanks for the help @Pomax and @humphd!

[2017-03-30 04:08] Pomax commented on #1893
This sounds like a thing we may want to add to the readme for windows users. Path verification is a tricky thing, and worth calling out in the README.md

[2017-03-30 05:54] babhishek21 commented on #1876
@hkirat Good job extending the the Y-js [Codemirror example](https://github.com/y-js/yjs/tree/11b30c707251a7d56385f6534350ead4a2ff6711/Examples/CodeMirror).

You should however consider defining your own transportation route. Currently their fallback servers tend to be slow (I have experienced latencies upto seconds long) and highly unreliable.

[2017-03-30 08:10] hkirat commented on #1876
Hey @flukeout
I have pushed the changes to github pages.
Heres the link : http://singhharkirat.com/collaborativeCodeMirror/

@babhishek21 Yes including our own hubs for transportation would be an option later. This example was meant for the issues related to routing and syncing.

This is one problem that doesn't happen with Togetherjs though.

[2017-03-30 09:40] babhishek21 commented on #1776
OK I did a bit of a looky-loo. Take a look at the inspector messages and the window in this image:
![image](https://cloud.githubusercontent.com/assets/8472087/24497673/d1fd5da8-1559-11e7-8540-a07ec31c6089.png)

To give you bit of a background:
+ The `tutorial event activatedtrue` message means that I triggered a tutorial visibility change using:
[code]
+ The `Loaded() is done` message means `Remot

[2017-03-30 14:21] barrosgeraldo commented on #1595
@humphd, the problem still occurs, this fix is in the current version of Thimble?

[2017-03-30 14:54] humphd commented on #1595
@barrosgeraldo it's on our staging box, but not on production yet.  We've got a bunch of fixes to ship to prod, hopefully this week.

Staging is at http://localhost:3000/validate/someone if you want to test.

[2017-03-30 15:14] matthieu-foucault commented on #1791
The issue is now fixed on the staging server. Closing this bug.

[2017-03-30 15:14] #1791 closed

[2017-03-30 15:16] humphd commented on #1791
Excellent, thanks for testing!  We're hoping to deploy to prod soon, so should get fixed for real.

[2017-03-30 16:33] Pomax opened #1924 "My thimblin' throws a "Couldn't find the dom for /365/projects/882127/index.html" error"
I've been working on https://thimble.mozilla.org/en-US/user/mopaxian/882127, which uses the following HTML:
[code]
and the following script:
[code]
Opening this in Chrome or Firefox (probably others, didn't test) shows:

![screenshot 190](https://cloud.githubusercontent.com/assets/177243/24515289/05d273c6-152c-11e7-9035-06a5c21fb18b.png)

[2017-03-30 16:38] barrosgeraldo commented on #1595
@humphd thanks, sorry for the rush, I'm working with Thimble these days and I need this functionality. 👍

[2017-03-30 16:39] humphd commented on #1595
No, it's us that should be saying 'sorry'! We need to deploy this fix to prod.  Soon...

[2017-03-30 17:58] humphd commented on #1924
Based on my debugging, this is happening in the HTML tokenizer Brackets has, and it's not liking your attribute `viewBox"0,0,300,300"`.  Are you sure that shouldn't be `viewBox="0,0,300,300"`?

[2017-03-30 18:06] Pomax commented on #1924
Turns out there were in fact two errors. The one you flagged, which should be `viewBox="0 0 300 300"` (missing equal sign, no commas), the other being that the `jitter` function return something "times 0." rather than "times 0.5", so the jitter was zero and vertices don't look to be moving even when the animation loop is running.

Thanks for looking it over!

[2017-03-30 18:06] #1924 closed

[2017-03-30 18:07] humphd commented on #1924
OK, glad it wasn't the tokenizer, because I'd hate to have to start fixing crap in there at this point.

[2017-03-30 18:25] flukeout commented on #1912
Closing - fixed in https://github.com/mozilla/thimble.mozilla.org/pull/1922 - woop! 👍

[2017-03-30 18:25] #1912 closed

[2017-03-30 18:25] flukeout commented on #1906
Fixed in #667 - awaiting next told you so moment.

[2017-03-30 18:25] #1906 closed

[2017-03-30 18:26] flukeout commented on #1890
Closing as your particular issue is resolved, will file a followup issue.

[2017-03-30 18:26] #1890 closed

[2017-03-30 18:27] flukeout commented on #1766
Closing as this has been addressed in #1900 - woo!

[2017-03-30 18:27] #1766 closed

[2017-03-30 18:30] flukeout commented on #1603
Just to follow up, this seems like a widespread issue that seems to affect many people on different types of setups. I wonder if it's related to switching between accounts on the same computer, which would happen in a classroom setting. In any case, we've received emails about this as well as had issues file on the repo, so I'm going to slap a critical label on it, we can discuss in triage today.

[2017-03-30 18:31] flukeout commented on #1628
Closing as we've got the ability to open a published version from this page now, which gets us pretty close.

[2017-03-30 18:31] #1628 closed

[2017-03-30 18:32] flukeout commented on #1599
Any progress on this @ryanwarsaw - ? I've recently bumped the font weight in the entire UI as well, so hopefully that helps a bit.

[2017-03-30 18:33] flukeout commented on #1569
Alright, I'm going to close this as we've adressed it in some way with the 'missing html page' warning. We can file subsequent improvement & feature issues if we need them.

[2017-03-30 18:33] #1569 closed

[2017-03-30 18:34] humphd commented on #1603
cc @cadecairos

[2017-03-30 18:37] flukeout commented on #1324
Closing until we have more action items related to this.

[2017-03-30 18:37] #1324 closed

[2017-03-30 19:42] ryanwarsaw commented on #1599
@flukeout I prioritized working on the passport JS implementation, and helping contributors setup their Thimble environments over this, I'd like to land a fix in the near future, but isn't on my radar at the moment.

[2017-03-30 20:22] Pomax opened #1925 "Consider using yarn rather than npm for this project"
This might also solve the binlink NPM run issue https://github.com/mozilla/thimble.mozilla.org/pull/1714

[2017-03-30 22:38] #1262 closed

[2017-03-30 22:41] JohnEJames commented on #1849
So from what I've seen from Puphpet I think this is a good solution, plus the GUI interface makes it a lot easier to write.

I wanted to lay out everything I did for the custom server config file I received from the website

for this section I refered the thimble Vagrant file [Vagrant File](https://github.com/mozilla/thimble.mozilla.org/blob/master/Vagrantfile)
![7a1c16b5553e6b7a401dcc274432bd6f](

[2017-03-30 22:49] flukeout opened #1926 "Check over Thimble video on YouTube to make sure it's still accurate."
If not, for now add some annotations to it...
https://www.youtube.com/watch?v=JecFOjD9I3k

[2017-03-30 22:52] flukeout commented on #1603
In our last call we discussed doing the following:

* Apparently we can tell client-side if some kind of token is invalid
  * I think this token is something that is handled by the Login server
* If the token is invalid, let's log out the user
  * Do we do something else in addition here to handle these tokens?
* When the sign in again, things should be back to normal

Does this sound about right

[2017-03-30 23:06] flukeout commented on #1557
Closing until we tackle other types of processors/platforms down the road.

[2017-03-30 23:06] #1557 closed

[2017-03-30 23:07] flukeout commented on #1451
@gideonthomas How do people find out project currently? What's the URL if you want to go help localize it? We can certainly just add that to the localization menu.

[2017-03-31 01:03] humphd opened #1927 "Brackets URL Hints doesn't list folders"
![screen shot 2017-03-30 at 8 59 38 pm](https://cloud.githubusercontent.com/assets/427398/24532114/e3eb2fd6-158b-11e7-9774-a4513e103610.png)

When you type `<img src=` Brackets will give you a list of possible completions for files in the filesystem, as well as "Take a Selfie...".  It doesn't list any folders that you have, though.

We should really show the folders too.  The code for this lives i

[2017-03-31 01:07] humphd opened #1928 "Brackets URL Hints doesn't do the right thing with spaces in path names"
![screen shot 2017-03-30 at 9 05 05 pm](https://cloud.githubusercontent.com/assets/427398/24532207/a3b8bebe-158c-11e7-9364-204fc00b1a73.png)

If a path has a space in it, Brackets URL encodes it and gives `%20` instead.  It's probably this, or something else in this file: https://github.com/mozilla/brackets/blob/master/src/extensions/default/BrambleUrlCodeHints/main.js#L562-L563

[2017-03-31 01:09] humphd commented on #1763
@tonypark0403 you might want to look at @cgsingh's work in https://github.com/mozilla/thimble.mozilla.org/pull/1787, since he got the value to stick between refreshes for his preference.

[2017-03-31 01:10] humphd commented on #1603
I think invalidating the session and logging them out on failure would be good, yes.

[2017-03-31 01:14] humphd commented on #1925
Even if we only do this inside Vagrant, I think it's likely a big win for the npm bugs we're hitting.  See https://yarnpkg.com/lang/en/docs/migrating-from-npm/ on how to do this.

@ryanwarsaw do you have any interest in doing this for us?

[2017-03-31 04:32] bkim49 commented on #1928
Hello, could I attempt to fix this bug? @humphd

[2017-03-31 14:16] humphd commented on #1928
Sure thing, @bkim49, it's yours.  I'm just guessing above above about where the fix needs to happen, but that should get you started.  You might also want to fix #1927, which is going to need to be done in the same code.

[2017-03-31 14:38] humphd opened #1930 "Add "Updates Available" UX for new service worker cached content"
In Brackets, and eventually in Thimble (#1459), we cache and serve static resources so that offline use cases work.  When a service worker has new content, we really should provide the user with some kind of UI that indicates they need to refresh the browser in order to load the new code.  It's a lot like having a "Updates Installed, Restart Required..." UX for a native app.

Depending on what the

[2017-03-31 14:53] humphd opened #1931 "Add version checking to Bramble API in Thimble"
In #1930 I'm suggesting we add user-level UX regarding updates to the browser and service worker cached content.  My concern is having Thimble and Brackets be out of sync, in the worst case an API that Thimble wants to use in Bramble not being there, and crashing the app or otherwise causing issues in the running app.  This could happen if the version of the Bramble API and Brackets that's loaded

[2017-03-31 16:10] flukeout commented on #1930
Hey @humphd, some questions:

* Don't most common actions (opening a project, starting a new one) already refresh the browser?
  * Or is refreshing different somehow than re-loading? Would they need to hard-refresh?
* If we can detect this case, can we refresh for them when they are on say, the green loading screen?

[2017-03-31 16:11] Th30 commented on #1708
I don't think this bug is relevant anymore, the new UI design seems to fix this. @gideonthomas

[2017-03-31 16:15] Shank09 commented on #1779
This issue can be closed. Merged with [#621](https://github.com/mozilla/brackets/pull/621)

[2017-03-31 16:25] ryanwarsaw commented on #1925
Yeah I can tackle this one, just an FYI I'm currently in the midst of a long distance move to a new house so that's why my response time is so delayed and it's taking me a while to get through these tickets. Cellular data is expensive ☠️  !

[2017-03-31 16:28] Taguiar commented on #1927
@humphd
 I would like to fix this bug!

[2017-03-31 16:39] ZenanZha commented on #1917
@humphd This one related to the issue I worked on. I would like to contribute for this one.

[2017-03-31 17:20] Th30 commented on #1451
@gideonthomas please remove good first bug.

[2017-03-31 17:37] flukeout commented on #1451
Is it because you want to work on it @Th30 - or you don't think it's a good first bug?

[2017-03-31 17:46] Th30 commented on #1451
@flukeout hey sorry, it's at @gideonthomas request:)

[2017-03-31 17:46] flukeout commented on #1451
@gideonthomas has spoken, and thus we act.

[2017-03-31 20:32] DorelBarbu commented on #1543
So, let's get this done. @flukeout , where should the button be positioned?
/home/dorel/Pictures/publish.png
What do you say? Would it be good to put it to the right of the publish button?

[2017-03-31 20:54] flukeout commented on #1543
Hey @DorelBarbu - welcome back! If you see my comment above you'll see I made some designs for this UI. We can't show the embed code until the project is published and has a live URL.

[2017-03-31 21:11] DorelBarbu commented on #1543
Good to see you too, @flukeout. I’m back indeed.  So, what exactly should I do now that  the design is done (looks great btw)? And another question: Did you make the design code public?

[2017-03-31 21:48] #1833 closed

[2017-03-31 23:20] flukeout commented on #1543
I haven't created any markup for the design above yet. If you want to get started with a PR that shows the embed code, then I can add some markup around it with the tabs after. Let me know if that works for you.

[2017-03-31 23:26] flukeout opened #1934 "Remove filename from Image Viewer + Small tweaks"
When you click on a file, Thimble shows it to you in this handy Image Viewer....

![image](https://cloud.githubusercontent.com/assets/25212/24572585/ab484d1e-162e-11e7-9183-a4bc9047f920.png)

This viewer also includes the filename, ``selfie2.png`` in the image above. Let's ditch it, the editor bar above already shows the filename.

**Additional Improvements**
* Include width and height labels in t

[2017-03-31 23:34] flukeout commented on #1934
[code]

[2017-04-01 20:40] gideonthomas commented on #1823
Not sure I understand what you're saying - we don't use grunt/gulp anywhere for this. It is a plain node script.

We can't do what you suggest above because pm2 does not allow you to run npm scripts. Each process can only point to a node script like so: https://github.com/mozilla/thimble.mozilla.org/blob/master/ecosystem.json#L51 so we'd need to use chokidar's API vs. the cli command (we can proba

[2017-04-01 21:47] omytryniuk commented on #1934
@flukeout, I would like to improve it

[2017-04-01 22:31] flukeout commented on #1934
Sounds good @omytryniuk - all yours

[2017-04-02 02:49] mkavidas commented on #1737
@gideonthomas @humphd I would like to fix this.

[2017-04-02 03:27] badrmodoukh commented on #1908
@Pomax I created the 9 different PR :)

[2017-04-02 06:57] badrmodoukh commented on #1921
@Pomax I would like to work on this issue :)

To do this I was thinking I would:
- install eslint
- modify the Gruntfile.js file to enable the eslint styles we want to use and the src of the files we want to check

Am I on the right track?

[2017-04-02 12:21] Feluz opened #1945 "Which shortcut key do I use to open the color palette?"
Please help to open color pallete in css on thimble

[2017-04-02 16:26] humphd commented on #1945
On Windows/Linux it's `Ctrl+e` and on Mac it's `CMD+e`, see https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble-FAQ#how-do-i-use-the-inline-editor.

[2017-04-02 16:26] #1945 closed

[2017-04-03 07:55] sgupta7857 commented on #1896
The work on this particular bug is posted here
https://github.com/humphd/brackets/pull/2#pullrequestreview-29216613
Progress: In bracket lint is disable by default
yet to do: add a UI toggle menu with-in thimble to disable-enable lint

[2017-04-03 14:35] humphd commented on #1737
I think @lkisac is already working on it.  Can you take a look at the other Thimble/Brackets bugs, and if you need help speak to me in class?

[2017-04-03 14:38] humphd commented on #1934
See https://github.com/mozilla/brackets/blob/master/src/editor/ImageViewer.js for where most of this code happens, and the HTML/CSS it loads.

[2017-04-03 14:56] lkisac commented on #1804
I would like to work on this bug

[2017-04-03 15:02] omytryniuk commented on #1934
@humphd, thank you! Yes, i have already fixed this. I am just going to change css and it will be ready to push

[2017-04-03 15:20] humphd commented on #1804
All yours, @lkisac!

[2017-04-03 15:45] humphd opened #1946 "Indicate which file/folder we are dragging over in filetree on dnd"
In https://github.com/mozilla/brackets/pull/659 I'm rewriting the drag-and-drop code in Brackets, and one of the new things it does is allow a user to drag files/folders over top of items in the filetree and use that path.  For example, you can drag over a folder, and the folder will open, then drag down to a sub-folder, and it will open too; then you can drop and your files will get imported into

[2017-04-03 15:52] humphd commented on #1917
@ZenanZha sounds good.  @gideonthomas can you confirm that deleting this code is correct?

[2017-04-03 15:52] humphd commented on #1927
@Taguiar OK, it's all yours.

[2017-04-03 15:53] #1779 closed

[2017-04-03 15:54] humphd commented on #1708
Thanks, closing.  @flukeout if you think we need this, or something similar, please re-file.

[2017-04-03 15:54] #1708 closed

[2017-04-03 16:04] humphd commented on #1930
@flukeout there are a lot of edge cases with this.  I'll try to summarize what I understand:

* First time user opens thimble.mozilla.org and starts a new project.  The service worker will install, and all resources will get downloaded and cached in the service worker's cache (SWC).  When they are done, they close the tab.
* Same user, next day, opens a new tab and loads Thimble to start a new pro

[2017-04-03 16:15] flukeout commented on #1934
Looking forward to it @omytryniuk

[2017-04-03 16:18] humphd opened #1947 "Switch to webpack from requirejs"
I closed #1767 earlier, but after talking to @gideonthomas I think we should start moving toward some of this.  The first thing I think we should do is switch to webpack for building our website.  We currently use AMD-style modules with requirejs.  We can either stick with that for now, and just have webpack use these as they are; or we can also switch to CommonJS at the same time.

Let's have one

[2017-04-03 16:37] flukeout opened #1948 "Remove strange effect on items deleted from Your Projects list"
Notice below, as the element disappears, the content sort of slides to the left. Let's get rid of that effect and just try to fade out the item and then collapse the list vertically.

![delete-effect](https://cloud.githubusercontent.com/assets/25212/24619951/b2d7ce5a-1850-11e7-92aa-ed4386feef61.gif)

[2017-04-03 16:40] flukeout opened #1949 "Change "Create new Project" button styling after it is clicked."
On the **Your Projects** page, after you click the "Create New Project" button. We change the button label, but otherwise keep the button styling the same as it was before, including the ``:hover`` and ``:active`` styling.

![button-disable](https://cloud.githubusercontent.com/assets/25212/24620176/81238b32-1851-11e7-828e-4281cd5e9b56.gif)

Let's change it so that once a user clicks this button, w

[2017-04-03 16:55] Th30 commented on #1946
@humphd Sounds good i'll get started on it as soon as my Lab8 and 9 are completed.

[2017-04-03 19:33] ryanwarsaw commented on #1800
I think I was too quick to disregard prettier, after tinkering with it and messing around with the configuration it's actually a pretty awesome (and powerful) tool! I didn't think about it but humph makes a great point about handling upstream, so we could probably integrate this pretty seamlessly.

[2017-04-03 19:59] Pomax commented on #1770
Based on the dicussion in https://github.com/mozilla/brackets/pull/638, it was decided to close that PR as the actual nature of the work involved has changed, and requires @humphd and @flukeout to come up with a new strategry we want to follow based on changes we made to how the file tree works/looks/feels.

[2017-04-03 20:07] flukeout commented on #1903
How's it coming along @nadia39 ?

[2017-04-03 21:00] flukeout commented on #1930
Okay, here's a concept for some UI to get people to refresh. Wording TBD.

![image](https://cloud.githubusercontent.com/assets/25212/24631596/c22c392a-1875-11e7-8b12-2c1b09c678d0.png)

**Options**
* **Thimble needs a Reload** - We've updated some code, reload this page in your browser. **[Reload]**

[2017-04-03 22:42] Abykin commented on #1949
Hey @flukeout I'd like to give this one a go

[2017-04-03 22:44] flukeout commented on #1949
Great, let me know if you have any questions @Abykin

[2017-04-04 00:21] Pomax commented on #1926
"💜, alright"

[2017-04-04 00:52] Pomax commented on #1823
I did not realise pm2 was a jerk that way. Does it allow env passing so that the server can check `process.env.WATCH` for toggling the chokidar API?

[2017-04-04 01:21] humphd commented on #1823
Sure, all it's doing is running a node script.  The docs for pm2 are amazing, if you need to figure out how to do something.

[2017-04-04 01:25] humphd commented on #1930
So this would push things down at the top?

I'm working on a PR to do the event to trigger this.  If you're willing to do the UI, or a student is, I'll hook it all together.

[2017-04-04 01:32] Pomax commented on #1908
Awesome - some are insta-merges, but some require some more detail testing/investigating *what* changes so we can tell whether there is the potential for bugs.

[2017-04-04 01:33] Pomax commented on #1921
yep that sounds about right. We'll want to probably start with very loose rules so the current code passes, and then as we tighten up the eslint rules the code will have to be updated in follow-up issues accordingly.

[2017-04-04 03:37] Pomax commented on #1804
Actually this is an interesting case: when I load up view-source:https://thimbleprojects.org/jgmac1106/223453/ it looks like @jgmac1106 used `<header>` instead of `<head>` and thimble should have absolutely warned him about the fact that there is body content outside the `<body>` tag.

[2017-04-04 03:44] Pomax commented on #1947
I'd love to move away from require.js in favour of a commonjs, but in that case it might be even better to skip over commonjs entirely and switch from require.js to ES6 modules and have webpack with babel take care of the "converting it when bundling".

I don't know if there is a way to do this in parts - I know webpack can generate UMD libraries just fine so we could start converting isolated bit

[2017-04-04 12:54] nadia39 commented on #1903
I am almost done! Today I will be done.
It was a great first pull request by the way

[2017-04-04 13:08] TheoChevalier opened #1950 "Enable tg (Tajik) locale on production"
As a follow up of #1866, Tajik is now 100% complete!
https://pontoon.mozilla.org/tg/thimble/ (congrats to our new volunteers! 🎉)
Tajik can now be added to the list of supported languages enabled on production

[2017-04-04 14:32] bbhagwandeen commented on #1719
I've found a way for the gear icon to stay highlighted when active/clicked but it doesn't seem like a proper way of applying it.

[2017-04-04 14:34] bbhagwandeen commented on #1948
I'd like to work on this!

[2017-04-04 16:14] bbhagwandeen commented on #1948
Can you explain the collapsing a little more?

[2017-04-04 16:54] flukeout commented on #1934
Hey @omytryniuk - in case you're tackling the other **Additional Improvements** in the issue description, I've added one more.

[2017-04-04 18:06] dsych opened #1952 "Publishing projects without index.html fails to locate it."
When publishing project without index.html file, the resulting link leads to a broken project.

![no_index](https://cloud.githubusercontent.com/assets/16144679/24671349/39ae0432-193f-11e7-948d-3c850add8572.png)

While the resulting page has a suggestion on potential cause of the problem, however the existence of index.html should be checked at the publish time, and feedback should provided. Maybe

[2017-04-04 18:07] dsych commented on #1952
This is related https://github.com/mozilla/brackets/pull/620

[2017-04-04 19:32] simonwex commented on #1579
@cadecairos the pre-signed urls have a client-specified timeout. This might take some tuning and logging to be certain we've got it right, but it's limited risk to expand the window.

We could also have a server-side worker pre-generating the tarballs for the client and letting the publish server know it's available. Adding some instrumentation to the client-side loading code would be crucial to u

[2017-04-04 19:53] flukeout commented on #1948
Sure yeah...

* First, fade out the item so there is just a gap in the list
* Then, bring up the items below it so the blank space collapses

It's similar to what is happening now, we just need to separate the transition into those two phases. Let me know if that helps.

[2017-04-04 22:59] rkgupta21 commented on #1918
I found the file where header value is used. Its in publish.html
[code]
As per my understanding i need to check whether the project is published or not and if it is published then change the publish header value to the required text "Your Project is Online". Where do i need to implement the code to make this change? Is it gonna be in publish.html file ?

[2017-04-05 00:19] flukeout commented on #1952
Hey @dsych - we've been down this road before and ended up with the solution to add the help text on that page. Before that change, we got quite a few support emails about "Projects not working" & the change seems to have helped a lot.

Your suggestion is one of the few we discussed, and I think it would still be a good idea. You can see some background discussion about it in this issue.

https://

[2017-04-05 00:44] dsych commented on #1952
@flukeout in https://github.com/mozilla/thimble.mozilla.org/issues/1569#issuecomment-259006400 , your first idea with the pop-up could solve the problem before the publishing occurs. Moreover, now that I am working on the API that will allow us to check project for the index.html file, implementing the pop-up message should not be an issue.

[2017-04-05 00:49] dsych commented on #1952
Maybe we can just reuse the same publishing window, however when a project is lacking the index.html file, the "Publish" button will be of different colour, say orange. There will also be a highlighted reasoning to the left of the cancel.

[2017-04-05 03:42] simon66 commented on #889
Any luck I can tackle on this bug? I worked on this file while fixing issue mozilla/brackets#596 so I'm familiar with the code. Or should I wait for your PR?

[2017-04-05 04:58] simon66 commented on #591
Hi,
Whats the status of this bug? Looking at the adobe/brackets closed issues, I found this:

https://github.com/adobe/brackets/pull/4187

Looks like any opened popup it's intentionally set to close before the new popup is opened.
Is this something I could try and fix? Is this still something you want fixed?
Let me know :)

[2017-04-05 10:24] DorelBarbu commented on #1543
Sure, @flukeout . How should I show the embed code for this stage? In an alert box, or how?

[2017-04-05 16:04] omytryniuk commented on #1934
Hello @flukeout. I have removed filename from ImageViewer, as well as added the tweaks (including the one with darkTheme background colour). Feel free to contact me if you need some changes. Thank you!

[2017-04-05 17:14] TheoChevalier opened #1953 "Thimble + RTL locales?"
Hey Thimble folks,

I’m curious about the RTL status on Thimble, is it supported or is there a basic support?
Asking to see if I can/should try to get translations in RTL languages. My assumption is that there is no support and that it would be hard to support it on Brackets if it’s not supported there either, but I figured I should ask the people that actually know the code.

[2017-04-05 17:24] humphd commented on #1953
I wasn't sure, so I looked, and Brackets has a [few](https://github.com/adobe/brackets/issues/1679) [issues](https://github.com/adobe/brackets/pull/2323) [filed](https://github.com/adobe/brackets/issues/3896) on this, as well as this Trello card: https://trello.com/c/AwlfnUSa/697-right-to-left-rtl-text-support-hebrew-arabic.  In short, they don't support it, which means we also don't support it.

[2017-04-05 17:26] flukeout commented on #1934
Thanks @omytryniuk - testing it out now.

[2017-04-05 17:46] humphd opened #1954 "XML Parsing Error in Firefox"
Loading staging in Firefox, I see this:

[code]

If memory serves, I think this is probably a mime type issue with what we put in S3 on build that only Firefox seems to care about.  We might actually have this filed somewhere already, but I can't find it.

Another fix for this would be to alter how that code works, and not bother with this made-up `.tmpl` type, and just make it some kind of text f