[2015-07-08 00:27] #656 closed

[2015-07-08 00:29] hannahkane commented on #675
Working on the teaching kits now. I like the three that are there now, though I think we could replace either Keep Calm or the Movie Poster with a javascript activity. Maybe @mickfuzz or @jgmac1106 would have some ideas about what that activity could be?

[2015-07-08 00:35] hannahkane opened #677 "Create "Intro to Thimble" video(s)"
**Latest Progress**
*  Video - https://www.youtube.com/watch?v=dBPqtz5rSwA
* Script - https://docs.google.com/document/d/1kfQGYv-k0lqksVdzaB4cOWDPte4GTObmUgxybgVDz9c/edit?usp=drive_web

**Blockers & To-dos**
* [x] Rig up the homepage with the remix link.. will this be too slow?
* [x] Create opening & closing screen.
* [x] Make sure the Command + K feature is baked in
* [x] Standardize the Green co

[2015-07-08 00:38] jgmac1106 commented on #675
I can help with the writing the teaching kits but no nothing of javascript.
There are some javascript activities in the gallery.

On Tue, Jul 7, 2015 at 8:29 PM hannahkane <notifications@github.com> wrote:

[2015-07-08 00:41] jgmac1106 commented on #675
nor spelling. I no nothing of this magic feet either.

On Tue, Jul 7, 2015 at 8:37 PM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2015-07-08 14:52] hannahkane commented on #568
This feels like a dupe of #573. @flukeout and @humphd - feel free to re-open if you disagree.

[2015-07-08 14:52] #568 closed

[2015-07-08 14:53] hannahkane commented on #675
Thanks, @jgmac1106. I'll look around the gallery.

Also, I'd really like to update the existing Makes with comments, which are being spec'ed out in #573, so this is somewhat dependent on that.

[2015-07-08 14:55] hannahkane commented on #573
@sedge @gideonthomas - are either of you able to help estimate the work implied in this ticket? Just trying to get a sense of whether @flukeout should be mocking up a simpler solution.

[2015-07-08 14:58] jgmac1106 commented on #675
@chadsansing has a poetry 180 remix that has a written tutorial that we
could use with the #573 format.

On Wed, Jul 8, 2015, 10:54 AM hannahkane <notifications@github.com> wrote:

[2015-07-08 16:13] gideonthomas commented on #670
"the browser spins, and then resolves to the current page"...i'm not sure I follow, can you maybe provide a screenshot or, I would be happy to follow up with you on vidyo if you prefer to screenshare this.

[2015-07-08 16:14] sedge commented on #573
@hannahkane Neither of us are front-end developers, so it's hard to judge that piece. The more technical parts are non-trivial, since we'd be:

* Parsing the html for comment blocks
* Parsing those blocks for markdown
* Rendering that markdown into HTML
* Stuffing that HTML into some sort of inline comment section per comment
* Hooking up navigation between the comment sections

It's definitely do

[2015-07-08 17:30] hannahkane commented on #670
er....now I'm getting a 500 error when I try to view bramble.mofostaging.net on Firefox. Note: I can't actually view bramble.mofostaging.net because it automatically redirects to bramble.mofostaging.net/projects/, so the 500 error is on the projects page.

Feels like this is both browser-specific and perhaps specific to my account. Any suggestions for troubleshooting?

[2015-07-08 17:31] hannahkane commented on #573
Given that, I think we probably need to spec out a simpler solution. We need some sort of method for educators to create tutorials for their learners. @flukeout - what do you think?

[2015-07-08 17:36] jgmac1106 commented on #573
The inline comments as is along with a tutorial doc would be fine.

We could build a tutorial template in Thimble for educators to use. They
already have a few. This would mean users would have to toggle between two
open tabs or windows.

I actually like that method over having them trying to create the teaching
kits in GitHub.

On Wed, Jul 8, 2015 at 1:31 PM hannahkane <notifications@github.com>

[2015-07-08 17:37] jgmac1106 commented on #573
That being said if @flukeout rich comment system is something that can be
tabled for the down the road it is awesome.

On Wed, Jul 8, 2015 at 1:36 PM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2015-07-08 17:43] hannahkane commented on #573
@jgmac1106: what does a "tutorial doc" mean? Is that a separate doc that an educator might create using another tool? And I'm a bit confused about your comment about teaching kits in GitHub. Teaching Kits are different from tutorials, aren't they?

[2015-07-08 18:05] jgmac1106 commented on #675
@hannakane I hope I did this right. I don't have time to finish but I started a teaching kit for Keep Calm: https://github.com/jgmac1106/webmaker-curriculum/blob/gh-pages/WebLiteracyBasics-I/template.html

I can finish it up tonight after work.

[2015-07-08 18:20] gideonthomas commented on #673
Dupe of https://github.com/mozilla/thimble.webmaker.org/issues/627
Closing so that we can look at the chat history in that bug

[2015-07-08 18:20] #673 closed

[2015-07-08 18:22] gideonthomas commented on #670
Hmm...maybe try clearing your cookies....that way you'll need to sign in again, but it should fix stuff! I think the 500 is because we had to reset the database and firefox cached the `/projects` page

[2015-07-09 16:31] flukeout opened #678 "Ye Olde Thimble loads with broken styling and no sign-in UI"
Steps to reproduce
* Load thimble.webmaker.org a few times
* About half of the time, it loads looking like this...

![image](https://cloud.githubusercontent.com/assets/25212/8600884/4b341ee2-261d-11e5-9bac-d4ecb56e79ba.png)

cc @cadecairos

[2015-07-09 16:45] humphd commented on #678
Last time this happened it was a failed build/missing CSS file.  Someone should retrigger the build and see if that fixes.  CC @jbuck, @ScottDowne

[2015-07-09 16:52] cadecairos commented on #678
I'm pretty sure one of the two production instances has a bad CSS file, I just don't know which one. I don't have the right key to ssh into the instances though. I'll try to contact jp

[2015-07-09 17:45] cadecairos commented on #678
Alright, I took a look at the two instances running thimble and one indeed had a different userbar-overrides.css file than the other.

I played (this song)[https://www.youtube.com/watch?v=6qFrY4VcbMU] as per @jdotpz's instructions and put that instance out of its misery. A new instance was brought in, and I confirmed it had the complete userbar-overrides.css file.

Shall we close this?

[2015-07-09 19:03] jgmac1106 commented on #675
@hannahkane So I think I forked my first thing from github, changed it and then added it to my own server. Three things I have never done before. Here is my idea for the "Keep Calm" teaching kit.

I still have to finish the section on CSS and I messed up the <ol> but if we are going with Back to School as the theme for launch this was my idea: http://sandbox.jgregorymcverry.com/webmaker-curriculum

[2015-07-09 21:32] hannahkane commented on #670
Hey @gideonthomas. 500 error seems to be resolved, but original bug persists.

Here's a screencast showing two things:
1) When I go to http://bramble.mofostaging.net/, it redirects to /projects
2) When I click on the project file, the page refreshes, but stays on the same page

http://g.recordit.co/FSluZZ0iwG.gif

[2015-07-09 21:45] hannahkane opened #679 "Should be able to click Enter to create a new project"
I have to click the "Submit" button to create a new project; I would expect to just be able to hit Enter.

Also, the field for the project name exceeds the length of the lightbox.

![screen shot 2015-07-09 at 2 44 13 pm](https://cloud.githubusercontent.com/assets/8389648/8607613/08c97742-2649-11e5-94dd-da901af249fe.png)

[2015-07-09 21:46] hannahkane opened #680 "Add confirmation before deleting a project"
Seems too easy to accidentally delete a project. Can we add an "Are you sure?" step?

[2015-07-09 21:48] flukeout opened #681 "Publishing doesn't publish the same version of the project as in the editor & preview window"
Steps to reproduce
* Start a new project
* Make a small text change to the Carry On poster
* Immediately hit Publish
* Follow the link
* The changes you made are not reflected in the published version

Why? Probably because we don't auto-save except every 30 seconds and when you change files in the editor.

Solution: Fire the auto-save call right before publishing to make sure we get the latest ch

[2015-07-09 21:57] flukeout opened #682 "Design & implement a 404 page to replace current 403 page"
When you attempt to load a project that has been unpblished, you see...

![image](https://cloud.githubusercontent.com/assets/25212/8607860/d28d08cc-264a-11e5-9169-52d97cd44312.png)

Let's redirect all 403 requests to a new 404 page.

**Basic 404 Page**
* Standard header & footer from homepage
* Page not found Messaging
* CTA
  * Create a new project
  * Remix 3 projects

**Assets**
Latest work - h

[2015-07-09 22:01] flukeout opened #683 "Remove "Publish" button from the Publishing dialog once the project is already published"
For published projects, the Publish dialog still shows the Publish button...

![image](https://cloud.githubusercontent.com/assets/25212/8607944/61a481fc-264b-11e5-898c-ce01bbeaed65.png)

[2015-07-09 22:25] flukeout commented on #670
I'm also not able to access my actual project, just keep seeing the Project List

[2015-07-09 22:41] hannahkane opened #684 "Publish doesn't work if the project title contains a space"
Steps to reproduce:
 * Click Publish in header
 * Fill in description
 * Click Publish in lightbox
 * Transitions to "Publishing..." state, but then resolves to previous "Publish" state and url doesn't appear

I cleared cache and cookies and tried again - same result. I tried in Firefox and Chrome.

Screencast: http://recordit.co/O0k9LLjvEw

[2015-07-09 23:57] hannahkane opened #685 "Create teaching kits and self-guided tutorials for starter makes"
Started from @jgmac1106's awesome remix, and added a little more detail based on the new Thimble UX.

http://bit.ly/1gr28xo

Would love feedback from @jgmac1106, @ldecoursy, and @omnignorant before going further with the other teaching kits.

[2015-07-09 23:58] hannahkane commented on #675
@jgmac1106 - awesome! I love it. I opened up another ticket to discuss this, so it doesn't clutter the conversation about the homepage. See #685

[2015-07-10 01:24] sedge commented on #684
If you could redo the screencast with the developer console open, that would be really helpful in tracking this down!

In FF get your project to just before publishing, then:

**Click the hamburger:**
<img width="156" alt="screen shot 2015-07-09 at 9 17 40 pm" src="https://cloud.githubusercontent.com/assets/1616860/8610447/20224400-2680-11e5-9582-5cc8593feaa4.png">

**Click "Developer":**
<img wid

[2015-07-10 12:20] jgmac1106 commented on #678
It is still happening. Hopefully one of you [Ninjas](https://www.youtube.com/watch?v=NGsbCcoSegI) can figure it out.

<img src="http://goo.gl/MGjohY">

[2015-07-10 14:41] cadecairos commented on #678
I put yet another instance out of its misery, and watched to make sure it loaded up properly and built the CSS file, but I can't be sure if it will disappear again.

[2015-07-10 14:58] jgmac1106 commented on #678
Thanks. I tried loading a bunch of times and it worked.

On Fri, Jul 10, 2015 at 10:41 AM Christopher De Cairos <
notifications@github.com> wrote:

[2015-07-10 16:20] jgmac1106 commented on #685
Realized the first kit was more for a group setting. For classrooms of one I am a fan of slidedecks with gifs and step by step directions such as: https://docs.google.com/presentation/d/1FyiPzYNY8Ol7S0UzRZ2kcanU86SqjIPghUXc-4fh_NM/edit?usp=sharing

[2015-07-10 16:29] flukeout opened #686 "Resizing preview / editor by dragging between them should work on the edge between the top bars too."
You should be able to resize by dragging both of the highlighted edges...

![image](https://cloud.githubusercontent.com/assets/25212/8623414/2d1774c6-26e6-11e5-9fec-7a39bcf8494a.png)

[2015-07-10 16:37] flukeout opened #687 "Deleted image is still present in published project."
I deleted the ```crown.svg``` image from my project and published it. Things looked like this...

![image](https://cloud.githubusercontent.com/assets/25212/8623588/33a90326-26e7-11e5-8a7b-07e7d06469f5.png)

However, the published project still has the crown image...

![image](https://cloud.githubusercontent.com/assets/25212/8623597/42c5387a-26e7-11e5-8910-b23c2d41f19d.png)

[2015-07-10 16:38] flukeout commented on #687
Wait, something else is wrong instead. Closing.

[2015-07-10 16:38] #687 closed

[2015-07-10 16:46] flukeout opened #688 "Published project is not found after unpublishing and re-publishing it"
Steps to reproduce
* Start a new project
* Publish it
* Follow the link, it's there
* Unpublish it
* Refresh the old link, it's gone
* Publish it again
* Click the link
* The project 404s

For reference, here's a url after re-publishing an unpublished project...
![image](https://cloud.githubusercontent.com/assets/25212/8623808/6bcdcd8a-26e8-11e5-95d0-260775b3b6ca.png)

But it doesn't show a publis

[2015-07-10 16:48] sedge commented on #688
@flukeout When I visit the link you provided I see the published project. @gideonthomas I wonder if we need to force the cache clear?

[2015-07-10 16:49] cadecairos commented on #678
It's doing it again. thimble is cursed.

[2015-07-10 16:55] gideonthomas commented on #688
This is a browser cache issue! We probably need S3 to send a header to disable cache.
@sedge any thoughts?

[2015-07-10 16:58] sedge commented on #688
After discussing with @cadecairos I'm going to upload a custom 404.html page to the s3 bucket itself. It just means we have to tolerate the 403 ugliness until the error page is complete.

[2015-07-10 17:16] gideonthomas commented on #682
https://github.com/mozilla/thimble.webmaker.org/issues/688#issuecomment-120459880

[2015-07-10 17:21] gideonthomas commented on #670
@hannahkane so this seems to be a firefox caching issue...I'm gonna put up a quick fix for this in a bit but for resolving the real issue, refer to https://github.com/mozilla/thimble.webmaker.org/issues/641

[2015-07-10 17:50] gideonthomas commented on #670
Actually, there doesn't seem to be an easy way to fix this because it happens on a redirect request :/

[2015-07-10 17:52] gideonthomas commented on #670
@hannahkane if you want to actually edit your project on FF, you probably will need to keep the dev tools open while going through the STR

[2015-07-10 18:00] flukeout opened #689 "Updating a published project causes it to revert to starting state"
Steps to reproduce
* Create a new project
* Make a change to the Stay Calm poster
* Make sure it is saved and Publish it
* Published version reflects changes
* Make another change to the poster, make sure it auto-saves the change
* Updated the published version
* Follow the link

The poster shows as the original version before the first publish even happened.

[2015-07-10 18:44] flukeout opened #690 "New Projects item in the User dropdown menu doesn't work and has a typo"
![image](https://cloud.githubusercontent.com/assets/25212/8626283/d86c0d66-26f8-11e5-8a90-0246cedf8c15.png)

* Change "New Projects" to "New Project"
* If you tap that option, you should end up in the Editor, starting a new project

**Note** - currently we seem to require a project name as part of creating a new project, so I've filed #692 to address this.

[2015-07-10 18:48] flukeout opened #691 "I want to dismiss the publish dialog (and others) via the Esc key"
This would be a nice little update, not urgent at all.

[2015-07-10 18:49] flukeout opened #692 "Creating a new project shouldn't require a project name up front."
Currently, if you attempt to create a project (from the My Projects view), you're prompted to specify a project name, like this...

![image](https://cloud.githubusercontent.com/assets/25212/8626377/9c1ce62c-26f9-11e5-8bc8-8918ae4f00d2.png)

Since (according to @sedge - plz confirm) we don't need unique project names, let's default the new project name to "Untitled Project" and just, drop the user

[2015-07-10 18:57] sedge commented on #692
Currently there is no restriction on a projects name. Duplicates are allowed for a single user and between users.

[2015-07-10 18:59] flukeout commented on #692
:+1:

[2015-07-10 19:13] flukeout commented on #682
Some benchmarks...

**Codepen**

![image](https://cloud.githubusercontent.com/assets/25212/8626871/05388be6-26fc-11e5-874e-797652b2d5ab.png)

**Tumblr**

![image](https://cloud.githubusercontent.com/assets/25212/8626889/1bdc5aee-26fc-11e5-91e0-73365c7cd273.png)

**JS Fiddle**

![image](https://cloud.githubusercontent.com/assets/25212/8626916/427f4e22-26fc-11e5-8239-cb9cf24d29f3.png)

**Github**

!

[2015-07-10 20:20] flukeout commented on #688
@sedge Is there a way to distinguish between projects that have been unpublished / deleted and regular old 404 pages?

[2015-07-10 20:22] gideonthomas commented on #692
Actually, not exactly...on thimble itself, we do not allow you to create a new project with a name that already exists, and in terms of publishing, if you have two projects with the same name and you publish them, one will overwrite the other and you'll end up with a weird amalgamation of the two projects.

[2015-07-10 21:25] sedge commented on #692
@flukeout Sorry! I was talking from the perspective of the `publish.wm.o` server. @gideonthomas is totally right - thimble has a hard restriction of no duplicates per user.

[2015-07-10 21:27] sedge commented on #688
Not easily :(

[2015-07-12 07:57] notklaatu commented on #678
This is also occurring for me on Slackware and Linux Mint, Firefox versions 31.7 and 39 respectively.

[2015-07-12 11:33] jbuck commented on #678
Okay, it *should* be cleared up now. Are you still seeing it @notklaatu?

[2015-07-12 12:56] notklaatu commented on #678
@jbuck that did it! Cheers, man, that saved our Maker Party. As far as i'm concerned, this bug is closed (aside from not having opened it ;-) )

[2015-07-12 15:20] #678 closed

[2015-07-13 15:26] gideonthomas commented on #641
https://github.com/mozilla/thimble.webmaker.org/issues/688 and https://github.com/mozilla/thimble.webmaker.org/issues/689 are two issues that we aren't able to control. Both seem to be because once you publish a project and open it in your browser, since it is a static resource, when we try to request it again, the browser uses the cached version. Hence, any steps in between like unpublishing or m

[2015-07-13 16:24] gideonthomas opened #693 "Published project URLs"
A published project URL atm follows a template similar to `host/projectName/path/to/File`. This however complicates renaming a project significantly since we'd have to rename each and every key in S3 for that project (which involves several steps).

We need to determine how important it is that the URLs are readable i.e. `/host/projectName/path/to/file` vs. `/host/randomString/path/to/file` since

[2015-07-13 16:29] gideonthomas commented on #692
We should revisit this when we start implementing the anon to signed-in transition workflow

[2015-07-13 17:05] flukeout commented on #693
For reference...

* Webmaker - ```https://beta.webmaker.org/#/project?user=443854&project=3872```
* Current Thimble - ```https://mofoluke.makes.org/thimble/NDkzNjE3NjY0/my-project-name```

[2015-07-13 17:40] hannahkane commented on #684
Here you go: http://recordit.co/2YAcKH5cIK

[2015-07-13 17:44] hannahkane commented on #685
I was definitely thinking of this as a group setting. Is there something that made you think we ought to focus on classrooms of one?

[2015-07-13 17:56] hannahkane commented on #670
OK, thanks!

[2015-07-13 18:04] humphd commented on #693
@jbuck suggests that we should do `makes.org/<user>/<project-name>`.  I think that's right, and will eliminate a bunch of problems with user sub-domains.  So I suggest we do:

`makes.org/flukeout/b1/my-project-name` or, if it were totally up to me: makes.org/flukeout/b1 (no project name at all, just some "random" string).

[2015-07-13 18:10] hannahkane commented on #682
A bit confused. Will this be a normal 404 page (comment in #688 implies we can't distinguish)?

I like the mockup in the first comment of this ticket.

[2015-07-13 18:16] flukeout commented on #682
@hannahkane I think we're going to go with just one "Not Found" page, for both pages that were never there and unpublished projects. I think maybe in the future it's worth looking into wether we want different types of 'not found' pages depending on the context.

[2015-07-13 18:25] hannahkane commented on #682
Cool. Then I think what you have at the top of this ticket works really well.

[2015-07-13 18:25] flukeout commented on #682
:+1:

[2015-07-13 19:26] jbuck commented on #641
Without knowing the specifics, the best way of fixing this should be setting Cache-Control headers, which Cloudfront will respect. If you set `Cache-Control: private max-age=0` then Cloudfront shouldn't be caching anything, all requests will go straight through to the server. As a quick fix, you could simply set that header on everything single response, even static files. If this doesn't work, th

[2015-07-13 19:47] #674 closed

[2015-07-13 19:48] humphd commented on #648
We just need UI to trigger this now, the backend function is all in via https://github.com/humphd/brackets/pull/378

[2015-07-13 19:50] humphd commented on #648
I'm morphing this to be about adding the UI.  To whoever implements this, we just need to call `bramble.enableWordWrap()`, `bramble.disableWordWrap()`, and `bramble.getWordWrap()` for state info.

[2015-07-13 20:08] gideonthomas commented on #641
How do I set the headers for a published project? i.e. if a user accesses `makes.org/username/myproject/index.html`, how do we make sure that caching isn't used?

[2015-07-13 20:22] jbuck commented on #641
When you publish content to S3 you can set the Cache-Control header (and others too!): http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUT.html#RESTObjectPUT-requests-request-headers

[2015-07-13 20:31] hannahkane opened #696 "Add links to TOS and Privacy Policy to Thimble footer"
When Thimble users create a Webmaker account (required for publishing), they agree to the Terms of Service. We should make this easily accessible directly from the Thimble homepage.

TOS is here: https://beta.webmaker.org/#/legal

We should also link to the Privacy policy here: https://www.mozilla.org/en-US/privacy/websites/

[2015-07-13 20:33] #691 closed

[2015-07-13 20:58] hannahkane commented on #655
@flukeout - do you think we can close this design ticket, and open up another for implementation (that ticket will be dependent on finishing up those teaching kits, but won't be dependent on design)?

[2015-07-13 21:03] flukeout commented on #655
@hannahkane Sounds good, I'll do that and close this one.

[2015-07-13 21:06] hannahkane commented on #558
@flukeout - we can close this ticket, right?

[2015-07-13 21:22] flukeout commented on #558
Yep, closing.

[2015-07-13 21:22] #558 closed

[2015-07-13 21:35] flukeout opened #697 "[Implemenatation] Thimble homepage"
**Homepage content**
* Thimble logo
* Tagline & description of why it is awesome
* Short list of features
* Short intro video that shows off new features
* Links to remix 3 starting projects, each including:
    * Movie poster: https://thimble.webmaker.org/project/60767/remix
    * Keep calm - https://thimble.webmaker.org/project/21939/remix
    * Comic strip - https://thimble.webmaker.org/project

[2015-07-13 21:35] flukeout commented on #655
Closing, moved to #697 for implementation.

[2015-07-13 21:35] #655 closed

[2015-07-13 21:37] hannahkane commented on #573
@flukeout - let's talk about this at stand-up tomorrow, or afterwards if we need to. Would really like to figure out an MVP solution for allowing educators to create useful guides for their learners.

[2015-07-13 21:48] jgmac1106 commented on #573
Sorry for confusion. Let me explain my madness:

Tutorial-meant for single learner working by herself.
Teaching kit-A set of learning activities focused on one or more
competencies. Require multiple session. Meant for club captain or educator
teaching others.
Learning Activity- A single session event focused on one or more skills
under a competency(ies).

We used Kits and Activities as the languag

[2015-07-13 22:24] gideonthomas commented on #641
Hmm interesting!
cc @sedge
Thanks @jbuck, we'll try that

[2015-07-14 10:31] adamlofting commented on #653
Excuse the slow reply - I'm just back from holidays...

I agree completely.

For `1)`, Luke's list of interactions to add event tracking to looks amazing. Let's keep this bug and file a new one for data-mining / learning analytics work.

Yes, that module still works great (thanks @humphd for writing V1!).

However, if the project has been written in React, we have a new module here: https://github

[2015-07-14 14:16] humphd commented on #573
One of the problems with this approach, similar to what we did with the previous tutorials, is that it's a bespoke UI addition that has to be created and maintained along with the rest of the UI.  From @hannahkane's question above, and @sedge's reply, you can already see that we're talking about a lot of work.

However, notice how quickly @flukeout made an actual working demo of his fancy comment

[2015-07-14 14:49] jgmac1106 commented on #573
I have a question and apologize for my ignorance ahead of time. Could there
be two html files in the File system? So could I have index.html which is
the file I am working on and tutorial.html which has all the learning
materials?

This way a user could toggle between the file they are editing and the file
that contains the how-to.

On Tue, Jul 14, 2015 at 10:16 AM David Humphrey <notifications@gi

[2015-07-14 14:52] humphd commented on #573
@jgmac1106 you've got it exactly.  It opens whole new opportunities for us.  Imagine you want a page that mixes YouTube videos, code snippets, diagrams, etc.--it can all go in `tutorial.html` and we can render that for you, and allow the user to switch back and forth between viewing that on the right and whatever they are doing in tandem with `index.html`.

[2015-07-14 19:50] #641 closed

[2015-07-14 20:47] hannahkane commented on #573
Notes from convo with @flukeout and @humphd earlier - Luke is going to mock up the way Humph is suggesting, and we'll do some testing on it. Will surface any UX issues this way, as well as be able to derive an estimate.

[2015-07-14 20:54] sedge commented on #689
@flukeout Can you confirm if this is still a problem? I can no longer reproduce this error.

[2015-07-14 20:54] sedge commented on #688
@flukeout Can you confirm if this is still a problem? I can no longer reproduce this error.

[2015-07-14 21:05] sedge commented on #486
This is long finished. Closing..

[2015-07-14 21:05] #486 closed

[2015-07-14 21:06] sedge commented on #496
This has been accomplished.

[2015-07-14 21:06] #496 closed

[2015-07-14 21:09] sedge commented on #684
Thanks! Unfortunately that wasn't as helpful as I'd hoped :(

Are you still encountering this issue?

[2015-07-14 21:10] sedge commented on #681
@flukeout Can you confirm if this is still happening?

[2015-07-14 21:37] flukeout commented on #573
Here's one quick stab at a possible layout / structure of the tutorial view and files.

![image](https://cloud.githubusercontent.com/assets/25212/8685772/d4ec35ea-2a35-11e5-88b9-d75f1b4cbc10.png)

[2015-07-14 22:46] hannahkane commented on #573
Looks nice, @flukeout. If we go with this model, we'll definitely need to provide a template for educators, so they're not starting from scratch.

[2015-07-15 05:43] flukeout commented on #573
@humphd I'm curious about using the inline editor feature that we use for the documentation & colorpicker features. Would we be able to load information into the inline expandable area dynamically depending on what is in a tutorial.txt (for example)?

Our tutorial.txt file could have a structure like...
[code]

Each of these would then inject or add an expandable comment to the related file at tha

[2015-07-15 14:11] humphd commented on #573
@flukeout I think it's possible for the inline editors to work this way, yes.  We'd have to write a custom doc provider in Brackets, and have it get its data from the tutorial somehow, perhaps we can have a JSON format we support, and if you have files like that in a tutorial directory, we automatically do this for you:

[code]

[2015-07-15 16:53] flukeout opened #699 "Project doesn't know it's been changed when I want to update the published version."
Steps to reproduce
* Start a new project
* Make some changes
* Publish it
* Make another change
* Before the auto-save has kicked in, press the Publish button again
* The publish dialog doesn't realize your project is different than the published version, and doesn't give you the option to Update Published

This is just a problem with the auto-save not kicking in before I hit publish - so we need

[2015-07-15 17:12] flukeout commented on #689
@sedge Still a problem for me right now.

[2015-07-15 17:14] flukeout commented on #689
@sedge And, now it seems fixed - I'll keep batting it around.

[2015-07-15 17:16] flukeout opened #700 "Ensure file deletions persist to publish.wm.o"
I deleted the crown.svg image from my project...

![image](https://cloud.githubusercontent.com/assets/25212/8704826/77bf5d0c-2ada-11e5-896c-e6fa1594a4a2.png)

then saved and published my project, it still exists in the published version...

![image](https://cloud.githubusercontent.com/assets/25212/8704844/89e9fd7a-2ada-11e5-8bb2-ebbabc5c0b50.png)

It shouldn't.

cc @sedge

[2015-07-15 17:20] flukeout commented on #689
@sedge It's happening to me right now - but not always. I'm trying to figure out how to reproduce it reliably.

For reference, this project is currently 'out of sync' - the saved version is different from the currently published version at http://bramble-staging.s3-website-us-east-1.amazonaws.com/7/Boingo/

I'll leave this one alone in case it helps you investigate the discrepancy.

[2015-07-15 17:24] flukeout opened #701 "Files that aren't found in a project should throw a 404 not a 403"
This file doens't exist and resolves to a 403, but should throw a 404...
http://bramble-staging.s3-website-us-east-1.amazonaws.com/7/Zinger/nope.html

[2015-07-15 17:27] flukeout commented on #681
This has been resolved - closing.

[2015-07-15 17:27] #681 closed

[2015-07-15 17:31] flukeout opened #702 "Deleted HTML file continues to show in preview"
Steps to reproduce
* Start a new project
* Delete the index.html file
* It should disappear from the preview window
* Hit the refresh icon on the preview
* It should **definitely** disappear now
* It's still there

[2015-07-15 17:36] sedge commented on #701
This isn't a problem we can solve, since this is the heroku default. We can mask the error by redirecting to a 404 page though!

[2015-07-15 17:38] sedge commented on #700
This root of this is in https://github.com/mozilla/publish.webmaker.org/issues/110

[2015-07-15 17:46] sedge commented on #699
Let's see...

* Maybe we fire the auto-save when I open the publish dialog to check for changes then

Hmm. The auto-save takes time, so there's no guarantee that it will be done before the user clicks through the publish dialog flow. I prefer your second solution.

Assuming all `Publish` buttons change to `Republish` as soon as the editor detects that it's working with a published project, as a us

[2015-07-15 17:48] sedge commented on #689
@flukeout To confirm: If you follow the STR now, sometimes it displays this behaviour and sometimes it doesn't? Or are old projects the only ones that break like this?

[2015-07-15 17:49] sedge commented on #684
We've identified that this occurs when a project has a space in the name. A fix is incoming.

[2015-07-15 17:49] #688 closed

[2015-07-15 17:49] flukeout commented on #688
@sedge No longer a prob.

[2015-07-15 18:10] flukeout commented on #701
Yeah, let's redirect to a 404 page. I'll create another issue for a 404 page and reference this over there.

[2015-07-15 18:10] #701 closed

[2015-07-15 18:18] flukeout commented on #689
Just to follow up on our video and convo, this happens seemingly at random with new projects, about 20% of the time or less. Let's keep it open for now so that we don't re-file it later.

[2015-07-15 18:25] flukeout commented on #564
Closing, tracking in #682

[2015-07-15 18:25] #564 closed

[2015-07-15 18:38] humphd commented on #599
Fixed by #698.

[2015-07-15 18:38] #599 closed

[2015-07-15 19:51] sedge commented on #574
@humphd Is this fixed now?

[2015-07-15 19:55] humphd commented on #574
Safari is mostly good.  I'll check IE and report back.

[2015-07-15 20:03] humphd commented on #574
![bramble-ie](https://cloud.githubusercontent.com/assets/427398/8708602/081dce12-2b0b-11e5-84ab-bec677fd7648.png)

IE is still badly broken in a few ways, including it not wanting to load the Bramble script at all.

[2015-07-15 22:48] hannahkane commented on #685
Have done a little more work in the gDoc.

Remaining TODOs:
 - [ ] Finalize "Keep Calm" kit (maybe close? Just needs some polishing)
 - [ ] Get more eyes on the "Comic Strip" kit; potentially add or replace activity with something suggested by the MLN team
 - [ ] Determine our Javascript activity and write the activity kit.
 - [ ] Once kit contents are finalized, create teaching kits in Thimble or

[2015-07-16 03:16] chrislarry33 commented on #685
That is a lot of work. can we prioritize p1/p2?. The new hire for curriculum should handle some of this, some we can ship soon.

[2015-07-16 15:57] hannahkane commented on #685
Re-organized the ticket into P1 and P2. What is the timeline for the new hire? Ideally this is all ready to go in time for a late-August promo campaign (which means finalizing this stuff in advance of that, so engineers can build the landing page with this curated content).

[2015-07-16 17:09] flukeout commented on #539
I'm going to close this - we're not referencing it anymore and have made a ton of progress on publishing!

[2015-07-16 17:09] #539 closed

[2015-07-16 17:13] flukeout commented on #629
@humphd Yeah - i just wonder if that is good enough. I think it might be - I'm going to close this and see what testing shows when users have to switch between the file that is being previewed.

[2015-07-16 17:13] #629 closed

[2015-07-16 17:14] flukeout commented on #547
I'm going to close this one, since we have a loading indicator now. We can file a new issue in the future if we want to improve or change things.

[2015-07-16 17:14] #547 closed

[2015-07-16 18:24] hannahkane commented on #685
This ticket blocks #697

[2015-07-16 18:25] hannahkane commented on #677
this ticket blocks #697

[2015-07-16 18:26] hannahkane commented on #677
@flukeout - wondering if you have thoughts on the outline in the etherpad: https://etherpad.mozilla.org/thimblehowtovideo

[2015-07-16 18:29] flukeout commented on #541
So, we have a couple of starting points to consider

**1. Blank project from Scratch**
This is when a user hits New Project in the Thimble editor or presses the white button on the homepage. I think this one can be a little more complicated, so I suggest we roll with something like this...
http://bramble-staging.s3-website-us-east-1.amazonaws.com/7/starting-project/

This contains
* HTML file with

[2015-07-16 18:35] hannahkane commented on #541
Thanks, @flukeout.

I worry that the nearly blank page is scary for newbies.

I wonder if it would be useful to include in the html file of the new blank project either a pathway to remix and/or a pathway to get help (e.g. "Not sure what to make? Check out these sample projects").

I realize that would probably be annoying to see every time you start a new file from scratch. Maybe it only shows up

[2015-07-16 18:40] hannahkane commented on #675
Not sure we need this ticket anymore. There's an implementation ticket (#697) that references other tickets with the necessary components.

[2015-07-16 18:40] #675 closed

[2015-07-16 18:45] hannahkane commented on #669
@flukeout - can we close this ticket? Will open a Round 3 ticket.

[2015-07-16 18:45] hannahkane opened #704 "User testing Round 3 (Publish flow)"
Pending resolution of critical publishing bugs

[2015-07-16 18:49] hannahkane commented on #649
@flukeout - and can we close this one, too?

[2015-07-16 18:49] hannahkane commented on #642
@flukeout - Is this ticket still needed?

[2015-07-16 18:49] gideonthomas commented on #702
@humphd might be able to explain this a bit better! But I think it's because bramble always needs an html file to preview.

[2015-07-16 19:33] sedge commented on #669
Make sure to let us know when staging must be fully functional so we can make sure we don't break it when you need it :)

[2015-07-16 20:04] gideonthomas commented on #684
@hannahkane can you confirm if this is still an issue?

[2015-07-16 20:05] flukeout commented on #684
@gideonthomas I can publish projects that have spaces in their names now!

[2015-07-16 20:14] flukeout commented on #541
@hannahkane We're already going to have a bunch of entry points to remix existing content from the homepage and eventual gallery, so I don't think it's as important to put links and content into the default blank project. We don't want it to be a pain to erase everything before you start your work, either.

That said, curious about @jgmac1106's thoughts.

[2015-07-16 20:18] #684 closed

[2015-07-16 20:19] #649 closed

[2015-07-16 20:20] flukeout commented on #669
@hannahkane sounds good! I'm going to comb through Rd 1 & 2 and make sure all of the big findings are reflected in individual tickets.

[2015-07-16 20:20] #669 closed

[2015-07-16 20:23] flukeout commented on #702
Maybe we can add an invisible file for it to point to when it has nothing else.

[2015-07-16 20:38] flukeout commented on #642
Yeah - let's keep it around, maybe backlog it if we have a backlog.

[2015-07-16 21:03] flukeout opened #706 "I'm able to create a lot of projects at once"
If I click the submit button on the new project popup a lot of times I'm able to create a project for each time I do so all in one go...

![image](https://cloud.githubusercontent.com/assets/25212/8735117/44970256-2bc3-11e5-9c3a-654e8076484b.png)

This will go away when we change the UX of creating a project, but I'll lave it here until it does.

[2015-07-16 21:26] flukeout commented on #566
Closing this because the original question of the ticket has been resolved. I will move the 'vanity path' UX into another ticket, though.

[2015-07-16 21:26] #566 closed

[2015-07-16 21:27] flukeout opened #707 "UX for setting a "vanity path" for published projects."
Here's a publish dialog that lets you choose your own URL

* Users can now have multiple projects with the same project title
* Users have more freedom over their project URLs
* We can default to names that won't conflict
  * If you already published a ```/my-project``` and are publishing another project with the same name we can default the next one to ```/my-project-2```
  * We cannot show this

[2015-07-16 21:30] flukeout opened #708 "Remove "show in public gallery" toggle from the Publish dialog."
Are we keeping track of this setting at all?

Even if we are, we should remove / hide this UI as it doesn't have any effect on the published product since we don't have a gallery.

[2015-07-16 22:25] hannahkane commented on #708
+1 to removing this UI. We are not using it yet, though a gallery will be a critical part of phase 2.

[2015-07-16 22:44] flukeout commented on #704
A draft of some of the new features to test & questions to ask...

* Renaming a project
  * Is it weird that you can have multiple projects with the same name?
* Publishing a project
  * Ask about the type of URL users would like here
* Unpublishing a project
  * What do you expect to see at the URL that the project used to be at?
* Updating published project
* Auto-saving
  * Are you aware that i

[2015-07-16 22:53] flukeout commented on #571
Closing, as we have a working auto-save indicator now.

[2015-07-16 22:53] #571 closed

[2015-07-16 23:38] hannahkane commented on #707
just making sure I understand. Once this is set, the user can't change it, right? Does that field become uneditable the next time they're in this lightbox? If so, should we warn them that they can't change it?

[2015-07-17 00:12] hannahkane commented on #570
Putting this into the next heartbeat. Goal is to come to an agreement on an MVP.

[2015-07-17 10:43] jgmac1106 commented on #541
This seems related to #570 in terms of entry points.

The majority of people begin through remix so I see no need to have more content than what is proposed for those who hit blank projects.

How will the FAQ on help change? We could add a link there.

[2015-07-17 16:08] flukeout commented on #707
I'll give this some more thought and update the ticket. But my assumption is that you pick the path once at the beginning when you first publish.

[2015-07-17 16:55] flukeout commented on #627
Updated the ticket description proposed a solution.

[2015-07-17 17:48] hannahkane commented on #541
OK, if others aren't concerned about the blank page, then I won't worry about it. :)

There's a ticket to update the FAQ here: #567, in case anyone wants to jump in on that

[2015-07-17 19:24] gideonthomas commented on #706
https://github.com/mozilla/thimble.webmaker.org/pull/709 should fix this

[2015-07-17 19:26] gideonthomas commented on #700
https://github.com/mozilla/publish.webmaker.org/pull/114 should fix this

[2015-07-17 19:28] gideonthomas commented on #693
Right now we do `/<username>/<project-id>` we can iterate on this

[2015-07-17 19:28] gideonthomas commented on #693
Also, refer to https://github.com/mozilla/thimble.webmaker.org/issues/707

[2015-07-17 19:34] gideonthomas commented on #692
https://github.com/mozilla/thimble.webmaker.org/pull/709 should fix this

[2015-07-17 19:37] gideonthomas commented on #679
After https://github.com/mozilla/thimble.webmaker.org/pull/709 lands, this will no longer be an issue

[2015-07-17 20:18] gideonthomas commented on #661
https://github.com/mozilla/thimble.webmaker.org/pull/709 changes it to "Untitled Project"

[2015-07-17 21:41] hannahkane commented on #501
Update on this:
 * User testing is in place. Two rounds on usertesting.com complete, with a third scheduled for the upcoming heartbeat.
 * Additionally, about half a dozen experienced Thimble users have been engaged in testing on staging site
 * We have not blogged since the initial announcement and follow-up post, but a comms plan is in development: https://docs.google.com/document/d/1axAmOwVVdvW

[2015-07-20 14:29] humphd commented on #702
The problem here is that the live dev preview, if we want it to automatically show preview content, needs to have a valid HTML file to render.  With a bunch of work I could support the case that there is no HTML file at all, but is this really necessary/useful? What's the use case for removing the main `index.html` file?  It feels like an edge case to me.

[2015-07-20 15:43] gideonthomas commented on #706
cab767b6d4d8cdb7358702e55cb4a1c8cbd72e38 fixes this

[2015-07-20 15:43] #706 closed

[2015-07-20 15:44] gideonthomas commented on #692
cab767b6d4d8cdb7358702e55cb4a1c8cbd72e38 fixes this

[2015-07-20 15:44] #692 closed

[2015-07-20 15:44] gideonthomas commented on #679
cab767b6d4d8cdb7358702e55cb4a1c8cbd72e38 fixes this

[2015-07-20 15:44] #679 closed

[2015-07-20 15:45] gideonthomas commented on #661
38272df2f5caa996ca6b0e65b4ca625235e44f1e fixes this

[2015-07-20 15:45] #661 closed

[2015-07-20 16:52] flukeout opened #711 "When editing the Project Title, "enter" key should save the edits."
Referring to this state here...

![image](https://cloud.githubusercontent.com/assets/25212/8781648/2435a6fc-2ec5-11e5-90e5-5e55ac2dff0c.png)

If I hit **Enter**, Thimble should attempt to save my changes.

[2015-07-20 17:00] flukeout commented on #711
We could also have the Escape key cancel the edit.

[2015-07-20 17:41] flukeout opened #712 "Add "Delete this Project" item to the dropdown menu."
Users should be able to delete a project while they're looking at it in the editor, so let's give them that option in the dropdown.

Let's add it under the "New Project" action.

When a project is deleted in this fashion, let's show the user the My Projects list.

cc @gideonthomas

[2015-07-20 17:41] humphd commented on #645
Fixed and landed.

[2015-07-20 17:41] #645 closed

[2015-07-20 17:43] humphd commented on #711
I'll take this, since I did the esc handling for the other bugs.

[2015-07-20 18:49] flukeout commented on #570
Here's the MVP version:
http://flukeout.github.io/thimble-home/stay-calm/

[2015-07-20 19:32] flukeout opened #714 "Tricky User Flows"
**Signed out user signing in**
When a signed out user Signs In while in the editor, we:
* Save whatever was in the editor as a new project for that user
* After signing in is complete, return them to the editor

**Signed in user deleting a project**
When someone is editing a project and they decide to delete it via the dropdown, we...
* Delete the project
* Present them with the My Project List wh

[2015-07-20 19:37] flukeout opened #715 "I shouldn't be able to rename a project to a blank string."
Currently, I'm able to save the project title even when the input is blank and I end up with this.

![image](https://cloud.githubusercontent.com/assets/25212/8785324/c5b9f1fc-2edb-11e5-8c2e-a8cda6c8c0d0.png)

Let's at least force this basic validation. If someone tries to Save a blank project title, we just don't let them and the field stays editable until they type in some kind of name.

We shoul

[2015-07-20 19:45] gideonthomas commented on #714
RE: **Signed out user signing in**:
We only create a new project for that user **if and only if** there were changes in the editor, otherwise, we show them the "My Project List".
Is that right @flukeout?

[2015-07-20 19:47] gideonthomas commented on #714
Also, maybe another exception for the above case would be if a signed in user has no projects, even if there are no changes in the editor before signing in, we create a new project?

[2015-07-20 19:54] flukeout commented on #714
@gideonthomas No, let's always return the user to the Editor after signing in with whatever stuff they were editing (even without any changes).

[2015-07-20 20:08] flukeout commented on #712
Here's the garbage can icon...
https://dl.dropboxusercontent.com/u/109902/bramble/icons/garbage-can.svg

![image](https://cloud.githubusercontent.com/assets/25212/8785987/5a3cd8b8-2ee0-11e5-812f-9331f54b276d.png)

[2015-07-20 20:11] gideonthomas commented on #714
Ok

[2015-07-20 20:33] hannahkane commented on #570
I like how nice and simple this is, and the Remix button sticking around as you scroll is cool.

[2015-07-20 22:06] flukeout commented on #715
It seems that this behaviour has changed since I created this issue.

If I try to save a blank project name, it won't let me, but subsequently it won't let me change the the project name to something valid as well.

**Steps to reproduce**
* Open a project
* Click the project name to rename it
* Erase the current name, so the input is blank
* Hit save
* Nothing happens
* Type something in and hit s

[2015-07-20 22:07] gideonthomas commented on #715
Yeah that's the case so this is still a bug!

[2015-07-20 22:07] flukeout opened #719 "Renaming an already published project doesn't bring up the Update published project option, but it should."
I just renamed my project from "boings" to "joings" yet the project list shows that the project was edited 33 minutes ago. Let's count a project rename as an edit.

![image](https://cloud.githubusercontent.com/assets/25212/8788706/0ea32798-2ef1-11e5-904d-ae76f8603061.png)

[2015-07-20 22:21] flukeout commented on #719
Also let's make the "Edited" lowercase

[2015-07-20 22:29] flukeout opened #720 "Can't rename project to the name it already has"
**Steps to reproduce**
* Open a project
* Tap the project name to edit it
* Don't change the name
* Tap Save
* The project name won't save and is in an editable state

**What should happen** - The project renaming UI switches back to the display mode of the project name.

[2015-07-20 22:29] flukeout commented on #720
cc @gideonthomas

[2015-07-21 13:50] humphd commented on #711
Fixed now.

[2015-07-21 13:50] #711 closed

[2015-07-21 14:02] humphd commented on #720
@gideonthomas, what if we always call `editingComplete()` in the callback to `persist()`?  There's really no way for the user to handle the error here:

[code]
If you think that's sane, I'll do a PR.

[2015-07-21 14:07] humphd commented on #715
@gideonthomas what are the DB restrictions on project title, in terms of length?

[2015-07-21 14:34] humphd commented on #626
I'll take a shot at this.

[2015-07-21 18:47] sedge commented on #570
Looks great! Question: What would happen if someone clicked the user's name?

[2015-07-21 19:17] gideonthomas commented on #720
@humphd yeah thats a good idea!

As far as this bug is concerned, this is part of a publish.wm.org bug filed [here](https://github.com/mozilla/publish.webmaker.org/issues/94)

[2015-07-21 19:18] gideonthomas commented on #715
yeah it doesn't allow an empty string

[2015-07-21 19:18] gideonthomas commented on #715
we should have front-end validation for this!

[2015-07-21 22:32] flukeout opened #723 "UX for adding new files to a project"
Here's a spec that tackles...

* Adding the three common file types (HTML, CSS & JS) directly from UI
* Uploading files from your computer by selecting from file system
* Uploading files from your computer by dragging
* Taking a selfie - *I don't remember how this works exactly, but would be cool to expose it here too*

![image](https://cloud.githubusercontent.com/assets/25212/8814009/db96d9f4-2fb

[2015-07-21 22:35] flukeout commented on #627
ping @gideonthomas - how is progress on this one?

[2015-07-21 22:40] hannahkane commented on #723
I believe when the selfie extension is enabled, just typing "<img src=" is enough to prompt a "Take a selfie" dropdown. I like the idea of having UI for that as part of this flow as well.

Should we have UI for if the user uploads an unacceptable file type? (Are there other errors? Do we have size limits, for example?)

[2015-07-21 22:43] flukeout commented on #723
Let's discuss the technical limitations when we have the gang together tomorrow morning and we can come up with error states etc.

[2015-07-21 23:50] Pomax commented on #715
just to make life harder, what about titles that don't actually contain "letters" but only unicode diacritics?

For instance:  ̛̟̞̝̜̙̘̗̖̀́̂̃̆̅̄̇̈̉̊̋̌̍̎̏̔̓̒̑̐̚̕

[2015-07-22 14:30] humphd opened #724 "[Tracking] Brackets MVP Bugs"
Tracking bug for everything we need to fix in Brackets for MVP, see:

https://github.com/humphd/brackets/milestones/Thimble%20MVP

[2015-07-22 14:42] humphd commented on #427
This is *such* a good idea.  Doing this as a Brackets extension is pretty easy. @flukeout, you should consider this with other UX you're doing.  It would be neat to figure out how to enable this for people who want it.

[2015-07-22 14:45] humphd commented on #444
In the new Thimble code, this will interfere the file drag-and-drop from working, since the whole editor is a dropzone.  I'm going to close.

[2015-07-22 14:45] #444 closed

[2015-07-22 14:45] humphd commented on #455
We're not using Makerstrap anymore, closing.

[2015-07-22 14:45] #455 closed

[2015-07-22 14:45] sedge opened #725 "[Tracking] Publish.wm.o MVP issues"
Need a quick link to the important publish-side bugs? Well here.

Here you go: https://github.com/mozilla/publish.webmaker.org/milestones/Thimble%20MVP

[2015-07-22 14:51] humphd commented on #447
This is always going to be tricky.  The new Thimble prevents reloads from happening as often (we used to do it per-keystroke, and now we only do it if the top-level HTML tree is modified, but use DOM Diffs otherwise).

I'm going to close this because I have no idea how to make this better *and* still keep the preview in sync for all cases.  It's a trade off, for sure.  cc'ing @flukeout, so he can

[2015-07-22 14:51] #447 closed

[2015-07-22 14:52] humphd commented on #462
I'm going to close this, since the new Thimble UI is in flux right now.  After it ships (end of summer), if you want to audit again, that would be great.

[2015-07-22 14:52] #462 closed

[2015-07-22 14:53] humphd commented on #464
We've removed this in the new UI, closing.

[2015-07-22 14:53] #464 closed

[2015-07-22 14:54] humphd commented on #471
@Pomax, this sounds like it belongs in slowparse, can you confirm?

[2015-07-22 14:55] humphd commented on #475
I'm going to morph this into a general l10n ticket for new Thimble UI.  None of it is localized at the moment, and it needs to be.

[2015-07-22 14:56] humphd commented on #475
Also note: doing this also requires some work in Brackets...there are bugs filed in https://github.com/humphd/brackets/milestones/Thimble%20MVP.

[2015-07-22 14:57] humphd commented on #465
We're not using this UI anymore, closing.

[2015-07-22 14:57] #465 closed

[2015-07-22 14:57] humphd commented on #480
This is done now, and shipped on staging.

[2015-07-22 14:57] #480 closed

[2015-07-22 15:00] humphd commented on #481
moved to slowparse.

[2015-07-22 15:00] #481 closed

[2015-07-22 15:01] humphd commented on #487
We're in the process of discussing this right now, and should probably use this bug to co-ordinate.

[2015-07-22 15:01] humphd commented on #487
cc @flukeout

[2015-07-22 15:02] humphd commented on #488
We've done a bunch of work on this, I'm going to close and we can file new bugs against the updated Thimble as we encounter them.

[2015-07-22 15:02] #488 closed

[2015-07-22 15:03] humphd commented on #489
I think we're going to have to deal with this in MVP, since browsers and the web are only getting stricter about HTTPS. cc @hannahkane, @flukeout

[2015-07-22 15:08] humphd commented on #719
@gideonthomas, where does a fix for this go, in Thimble or Publish?

[2015-07-22 15:10] humphd commented on #707
Is this part of MVP?  If so, please add it to the MVP milestone.  My vote is that vanity URLs are not MVP.

[2015-07-22 15:15] humphd commented on #700
Can we confirm that these have fixed it?

[2015-07-22 15:39] humphd commented on #671
Upstream issue, we need to update the `html.json` used by that extension, see https://github.com/adobe/brackets/pull/10036#issuecomment-123761479

[2015-07-22 15:42] humphd commented on #663
This is deep inside Brackets.  I'm not sure how we fix it.

[2015-07-22 15:44] humphd commented on #650
Fixed.

[2015-07-22 15:44] #650 closed

[2015-07-22 15:46] humphd commented on #646
No one has ever been able to reproduce this, so I'm going to close.  Please re-file if you do in fact manage to get it to happen.

[2015-07-22 15:46] #646 closed

[2015-07-22 15:47] sedge commented on #700
The `publish.wm.o` side of this has been resolved, and this works as expect most of the time.

We're noticing that deleting a file doesn't always persist to publish, with thimble returning a `400: No file representation found for /file.name` on the delete call.

[2015-07-22 15:49] humphd commented on #700
Can you either morph this bug into being about that delete issue, close this, or file a new one?

[2015-07-22 15:50] humphd commented on #618
This is basically done, or being dealt with in other bugs, closing.

[2015-07-22 15:50] #618 closed

[2015-07-22 15:51] humphd commented on #605
We have a bug about doing validation on that field, this can be part of that.

[2015-07-22 15:53] humphd commented on #604
This is fixed now.

[2015-07-22 15:53] #604 closed

[2015-07-22 15:54] humphd commented on #602
This is similar to the bug @flukeout filed about trying to remove the `index.html` file.  I'm not sure what the right action is here.

[2015-07-22 15:59] humphd commented on #603
I'm going to close this, we can do more in follow-ups if we want.  For now we automatically track the file *you* had open last time, and re-open, or we look for your `index.html`.

[2015-07-22 15:59] #603 closed

[2015-07-22 16:09] Pomax commented on #605
as a user, I'm going to always run into your title length, no matter which "reasonable" value you settle on (especially if I live in a non-western country with lots of diacritics in my language). Having unbounded length, but having the UI discourage overly long titles by simply showing them as cut off at render length (not character length, but physical, visible length) encourages people to pick t

[2015-07-22 16:12] gideonthomas commented on #719
Thimble

[2015-07-22 16:12] humphd commented on #593
This is fixed.

[2015-07-22 16:12] #593 closed

[2015-07-22 16:13] humphd commented on #592
Shadow is gone, closing.

[2015-07-22 16:13] #592 closed

[2015-07-22 16:13] humphd commented on #719
@gideonthomas, can you give a sentence or so about what the fix is, and I can do it.

[2015-07-22 16:15] humphd commented on #591
It's a bug in Brackets related to there not being focus set in the inline editor.  I'm pretty sure it's filed upstream, it's known already.

[2015-07-22 16:16] gideonthomas commented on #719
[This](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/public/scripts/editor/js/fc/project-rename.js#L69) should also include a dateUpdated field which should also be added [here](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/app.js#L196) and another line to update the `date_updated` field should go below [this](https://github.com/mozilla/thimble.webmaker.org/blob/bramb

[2015-07-22 16:17] humphd commented on #588
We're working on fixing tutorials, and also making things downloadable in other bugs.  I'm going to close this here, and we'll follow-up in other bugs.

[2015-07-22 16:17] #588 closed

[2015-07-22 16:19] humphd commented on #561
This is done in various other bugs, I'm going to close and we can deal with specifics in other bugs.

[2015-07-22 16:19] #561 closed

[2015-07-22 16:20] humphd commented on #556
This is needed for l10n on new Thimble.

[2015-07-22 16:21] #551 closed

[2015-07-22 16:21] #550 closed

[2015-07-22 16:22] humphd commented on #540
We're pretty far down the multi-file path now, this would be a pivot.  Closing.  Perhaps this thinking can go into another tool or project down the road.

[2015-07-22 16:22] #540 closed

[2015-07-22 16:24] humphd commented on #530
We don't have this UI anymore, so I'm going to close this.  We do have backend support for enabling/disabling scripts in a page, but we don't currently have UX for using it.

[2015-07-22 16:24] #530 closed

[2015-07-22 16:27] finnp commented on #480
Great!

[2015-07-22 16:59] hannahkane commented on #653
Notes from meeting here: https://etherpad.mozilla.org/thimblemetrics

[2015-07-22 17:26] humphd commented on #606
Dupe of #576.

[2015-07-22 17:26] #606 closed

[2015-07-22 17:27] humphd commented on #585
@sedge, dupe of #509?

[2015-07-22 17:28] humphd commented on #581
We need a build step for our JS and CSS in Thimble, morphing this.

[2015-07-22 17:31] humphd commented on #487
Duping on #573

[2015-07-22 17:31] #487 closed

[2015-07-22 17:59] humphd commented on #671
We need to pickup the change happening upstream, when it lands.

[2015-07-22 18:37] humphd opened #728 "Localize new Thimble UI, and get strings into Transifex"
There's a bunch of work that needs to be done in order to have the new Thimble work in a localized way.  This means extracting all the strings, getting them into transifex, using whatever steps we do to download strings on staging/prod, and also follow-up work in other tickets here, especially ones related to Brackets.

cc @alicoding

[2015-07-22 18:42] flukeout commented on #573
Here's a potential solution for the tutorial feature we discussed during our last meeting...

**Full version** - https://dl.dropboxusercontent.com/u/109902/bramble/tutorial-ux.pdf

![image](https://cloud.githubusercontent.com/assets/25212/8834009/b18db8e4-3066-11e5-922b-2cc3359b6ebc.png)

**Questions**
* Should all new projects start with a blank tutorial template or is it something an author can

[2015-07-22 18:46] humphd commented on #728
Dupe of #475

[2015-07-22 18:46] #728 closed

[2015-07-22 19:11] sedge commented on #585
Yup, closing.

[2015-07-22 19:11] #585 closed

[2015-07-22 19:58] flukeout commented on #573
Concept for "bright comments" - basically an author-controlled toggle that lets you make inline code comments brighter & more prominent. They remain editable.

![image](https://cloud.githubusercontent.com/assets/25212/8835775/5f3fa510-3071-11e5-8486-60e9326eb255.png)

[2015-07-22 20:07] jgmac1106 commented on #573
I don't think blank tutorial should be a default. Sometimes I am just
working on a project for myself.

I also think the value proposition for Thimble could move beyond MLN. The
more I play with the brackets version of thimble the more I like it when
compared to other spaces like fiddle,  w3school, or codepen tools. I am a
broken record but the team deserves accolades.

If it is possible to have a

[2015-07-22 20:51] hannahkane commented on #573
Thanks, @flukeout. Nice work.

<3 the tutorial piece. I think the "Add Tutorial" button might warrant some kind of explanation. Maybe a "What's this?" link that opens a relevant FAQ. And perhaps the default html file has some context/tips for creating a good tutorial. Otherwise, if you don't already know what it is, it might not be intuitive what you're supposed to do, or how it will be interacted

[2015-07-22 21:00] hannahkane commented on #670
I think this is resolved, but would be good for @gideonthomas to confirm.

[2015-07-22 21:03] hannahkane commented on #475
Can we clarify the outcome of this ticket needed for MVP - is it resolving the relevant Brackets tickets + getting the strings into Transifex?

[2015-07-22 21:06] hannahkane commented on #690
If we don't do this for MVP, we should at a minimum remove this from the menu.

[2015-07-22 21:12] hannahkane commented on #572
I think it's a P1 to have *some* kind of error messages, but I'm unclear on what's in place already. @humphd - can you explain what we can have for free?

[2015-07-22 21:19] hannahkane commented on #707
I vote not MVP as well.

[2015-07-22 21:20] hannahkane commented on #489
I don't understand the implications of this, but I trust your judgement that it's MVP. Would be helpful for me to understand this one better.

[2015-07-22 22:02] flukeout commented on #663
It's not a huge deal - straight to the backlog with this one.

[2015-07-22 22:16] flukeout commented on #572
@hannahkane I've started some very rough work on this near the bottom of https://docs.google.com/document/d/1yk799F2OCzcrHLG_DQGlJO-X6cWAHTolULs71K8F14s/edit?usp=sharing

[2015-07-22 22:21] flukeout commented on #573
@hannahkane Agreed, we can put some explanation content at the top of the tutorial.html page that we generate that the author can delete, or add some kind of info popup to explain how to use it.

Agreed on the second part too, maybe we can expose the UI near existing comments when someone scrolls them into view - we'll have to review the feasability of other approaches with @humphd, but I can crea

[2015-07-23 11:07] adamlofting opened #730 "Measuring Learning Impact by analysing Thimble Data"
Following on from the conversation started in #653 I promised to setup a document where we could continue the Learning Analytics conversation asynchronously.

Here is that EtherPad:
- https://etherpad.mozilla.org/indicators-of-learning-in-thimble-data

After making some notes in the pad, I suggest pinging people via this ticket to create notifications.
@flukeout @hannahkane @humphd

[2015-07-23 17:39] flukeout commented on #662
We don't actually localize anything in the UI right now though, do we, @humphd?
If that is correct, then we can deprioritize this until we have a localization strategy / plan?

[2015-07-23 17:40] humphd commented on #662
Localization is filed in #475

[2015-07-23 17:40] flukeout commented on #626
@humphd I don't think this is a P1 - seems more like an edge case fix. Maybe we can jump impose a smaller file size limit on uploads to get around this for the time being?

[2015-07-23 17:44] humphd commented on #626
@flukeout code is all done already, we're in the process of getting it all landed.

We need this or uploads from the browser are 3x the size.

[2015-07-23 17:55] flukeout commented on #696
@hannahkane Is it okay if it's just available from the Thimble homepage?

[2015-07-23 18:00] hannahkane commented on #696
yes. Will update ticket description.

[2015-07-23 18:18] flukeout commented on #637
This is basically a dupe of #668 - so I'm going to close it.

[2015-07-23 18:20] flukeout commented on #637
@humphd can we just put all the files in the working set so that they get the highlighted treatment when they're open?

If that's too much work, then I agree we should just remove the highlighting altogether. This wouldn't be ideal, as it's not super clear which file is open at any given time because the filename isn't very prominent in the Editor header bar.

[2015-07-23 18:24] flukeout commented on #427
Yeah, this is pretty sweet. Will think on it!

[2015-07-23 20:16] humphd commented on #573
I'm doing the backend parts of this within Brackets in https://github.com/humphd/brackets/pull/392

[2015-07-23 20:31] humphd commented on #708
This is in and landed.

[2015-07-23 20:31] #708 closed

[2015-07-23 23:20] flukeout commented on #573
@humphd I didn't get very far with the tutorial content today, so I think you should just go ahead and include a basically-blank tutorial.html file that we can link to an external tutorial.css file.

So far I've just started working on a rough tutorial style guide, which is here:
http://flukeout.github.io/thimble-home/tutorial/tutorial-style-guide.html

@hannahkane Let's discuss what the starting

[2015-07-24 00:28] jgmac1106 commented on #573
I like the old teaching kits as well but I would simplify the list items. I
saw many mentors (including myself) mess up the nested lists within  <div
class="well example">. I would just simplify the code to reduce the chance
of error. Though that does mean sacrificing pretty. That hurts a little.

On Thu, Jul 23, 2015 at 7:20 PM Luke Pacholski <notifications@github.com>
wrote:

[2015-07-24 14:46] sedge opened #731 "Thimble shouldn't serialize file data as JSON in server responses"
The upload case was the worst offender with wasted bandwidth, but we can further optimize the user experience by finding a way around sending files through JSON.

[2015-07-24 14:49] sedge opened #732 "Deploy the new thimble to thimble-beta"
We've avoided a production deployment because the database schemas have been rapidly changing in development, and we didn't want to cause our users to lose data or waste time on migration scripts.

When remix functionality lands on publish.wm.o our schema will be pretty much finalized and we can get this running in the wild.

[2015-07-24 16:04] hannahkane commented on #573
+1 on using that teaching kit make as a template

[2015-07-24 19:03] sedge commented on #556
@flukeout This question has already been answered right? Can I close?

[2015-07-24 19:04] flukeout commented on #556
@sedge do it!

[2015-07-24 19:04] #556 closed

[2015-07-24 19:05] hannahkane commented on #475
Moving this to p3, because it's not a blocker for launch. Would still be good to get clarity on what the necessary work is.

[2015-07-24 19:06] sedge commented on #626
This was closed in #726 and #727

[2015-07-24 19:06] #626 closed

[2015-07-24 19:10] sedge opened #734 "Make /projects route redirect to `/` for unauthenticated users"
Otherwise we get an ugly "ERROR MAYDAY ABANDON SHIP" style error page.

[2015-07-24 19:11] sedge commented on #670
I can't get past the `/projects` page.

[2015-07-24 19:12] sedge commented on #670
In fact, it won't go the the home page at all for me.

[2015-07-24 19:14] sedge opened #735 "My projects won't delete!"
I seem to be the only person running into this. I'll follow up with more details.

[2015-07-24 19:16] hannahkane commented on #573
@flukeout - we might want to create two different implementation tickets. One for the tutorial and one for the comment highlighting.

Started drafting copy for the tutorial here: https://etherpad.mozilla.org/thimbletutorialcopy

[2015-07-24 19:24] sedge commented on #581
@humphd AFAIK we *have* a build step for [JS and CSS](https://github.com/mozilla/thimble.webmaker.org/commit/d7c11ebcb8e3280b20904352c4ba66b95d59110b). Can you elaborate on what you want to see?

[2015-07-24 19:27] sedge commented on #702
@flukeout I'm with @humphd on this one. How important is this?

[2015-07-24 19:48] flukeout commented on #702
Not very - we can de-prioritize from MVP and throw it into a backlog.

[2015-07-24 20:03] flukeout commented on #573
Okay, I think the files are pretty much ready to go.
* **Tutorial** - flukeout.github.io/thimble-home/tutorial/tutorial.html
* **Style Guide** - flukeout.github.io/thimble-home/tutorial/tutorial-style-guide.html

Once the content is finalized, I'll update the tutorial.

[2015-07-24 20:35] flukeout opened #737 "Implement Tutorial Feature"
![image](https://cloud.githubusercontent.com/assets/25212/8834009/b18db8e4-3066-11e5-922b-2cc3359b6ebc.png)

**Full version** - https://dl.dropboxusercontent.com/u/109902/bramble/tutorial-ux.pdf

**Concept Description**
To make creating tutorials easier for educators, we'll make it easy to add a tutorial.html file to each project. When a tutorial is present, we'll expose a special UI in the previe

[2015-07-24 21:43] hannahkane commented on #573
okay, @flukeout - final copy here: https://etherpad.mozilla.org/thimbletutorialcopy

[2015-07-24 21:49] flukeout commented on #573
Thanks @hannahkane - btw I started an implementation ticket for this - #737
I'll file another for the 'bright comments' so we can close this.

[2015-07-24 22:19] flukeout opened #738 "Implement "Bright Comments" feature"
Concept for "bright comments" - basically an author-controlled toggle that lets you make inline code comments brighter & more prominent. They remain editable.

![image](https://cloud.githubusercontent.com/assets/25212/8835775/5f3fa510-3071-11e5-8486-60e9326eb255.png)

Comments from @hannahkane

Really like the Bright Comments toggle concept, but worried that the user won't always have immediate fe

[2015-07-24 22:26] flukeout commented on #573
Closing as both concepts have their own implementation tickets now:
* Tutorial - #737
* Bright Comments - #738

[2015-07-24 22:26] #573 closed

[2015-07-24 23:00] flukeout opened #739 "Preview stops showing the correct preview after previewing the tutorial."
Steps to reproduce
* Open a project that has a tutorial file (the starting project should)
* Click on the "Tutorial" link in the Preview bar
* Click the "tutorial.html" page in the file tray
* Click the "index.html" file
* Click the "Preview" link in the Preview bar
* The Preview still shows the tutorial

It should show a preview of the "index.html" file.

[2015-07-27 14:46] humphd commented on #739
Fixed in https://github.com/humphd/brackets/pull/395

[2015-07-27 14:56] #739 closed

[2015-07-27 16:10] gideonthomas commented on #670
@sedge even with dev tools open?

[2015-07-27 16:39] humphd commented on #737
The tutorial files above are landed in Thimble now: https://github.com/mozilla/thimble.webmaker.org/pull/740/files, and the Tutorial feature is in Brackets.  I just need UI in Thimble to create these.

[2015-07-27 19:21] hannahkane commented on #730
Thanks, @adamlofting. I added a few things to the pad.

[2015-07-27 19:22] hannahkane commented on #572
hey @flukeout - is this ready for me to look at?

[2015-07-27 19:46] flukeout commented on #572
@hannahkane no - i'll put in some more work on it later today and ping you!

[2015-07-27 20:21] sedge commented on #735
This was caused by an error on the publish server. Fixed in mozilla/publish.webmaker.org#125

[2015-07-27 20:21] #735 closed

[2015-07-27 20:31] sedge commented on #505
This has been supplanted by #532

[2015-07-27 20:31] #505 closed

[2015-07-27 20:40] flukeout commented on #723
File upload dialog markup & styles...
http://flukeout.github.io/thimble-home/file-dialog/dialog.html

Assets in...
https://github.com/flukeout/thimble-home/tree/master/file-dialog

cc @humphd

[2015-07-27 20:51] hannahkane commented on #643
This feels like a dupe of https://github.com/MozillaFoundation/plan/issues/485, so I'm closing this one, though the conversation is good.

[2015-07-27 20:51] #643 closed

[2015-07-27 20:57] hannahkane commented on #501
Some add'l things to work on (drawn from @acabunoc's excellent article: https://www.mozillascience.org/seven-steps-to-building-community-around-your-open-source-project):
 - [ ] Make sure https://github.com/mozilla/thimble.webmaker.org/blob/master/README.md is up-to-date
 - [ ] Identify some Good First Bugs and label them as such
 - [ ] Create and publish contributor guidelines
 - [ ] Publish a ro

[2015-07-27 20:59] hannahkane opened #741 "Make sure README is up-to-date"
Please close if it is current; I'm not sure

[2015-07-27 20:59] humphd commented on #723
@flukeout I need the `+` sign you want me to use, too, for the green add file button in Thimble.

[2015-07-27 20:59] hannahkane opened #742 "Identify some Good First Bugs"
...and identify them as such with a label

[2015-07-27 21:00] hannahkane opened #743 "Create and publish contributor guidelines"

[2015-07-27 21:01] flukeout commented on #723
White plus - https://dl.dropboxusercontent.com/u/109902/bramble/icons/plus-white.svg

[2015-07-27 21:01] hannahkane opened #744 "Publish a roadmap"

[2015-07-27 21:31] acabunoc commented on #501
👌

[2015-07-27 22:00] sedge commented on #699
@flukeout Where have you landed with this UX wise? This isn't a technical problem, since thimble will save your changes for you if you click 'Publish'.

[2015-07-27 22:00] sedge commented on #700
When #733 lands we should retest.

[2015-07-27 22:09] flukeout commented on #699
@sedge I think the right solution would be to attempt an auto-save as soon as the Publish dialog is open, and update the UI if and when the auto-save determines that there are changes to be published.

[2015-07-27 22:14] sedge commented on #699
Okay, sounds good! I'll get on it.

[2015-07-28 15:23] sedge commented on #670
Yup.

[2015-07-28 15:45] sedge commented on #670
@gideonthomas This is still an issue, and it's pretty bad. Did you have any clues about what causes this?

[2015-07-28 17:10] flukeout opened #746 "Small gap at the bottom of the page"
I'm able to scroll the entire page just a little bit, and there's a small white gap at the bottom that shouldn't be there.

![image](https://cloud.githubusercontent.com/assets/25212/8938028/df81690e-3510-11e5-8ce2-3625b33aa342.png)

[2015-07-28 18:45] sedge commented on #689
The cause of this issue is the thimble server "creating" a second `index.html` file object on publish.wm.o instead of updating the old one. When Thimble tries to publish a project to S3 after this, publish.wm.o sometimes confuses the original (default) `index.html` file with the user-updated one.

@gideonthomas Thinks his remix patch will address these issues.

[2015-07-28 19:03] sedge commented on #627
@flukeout I'm going to take this on

[2015-07-28 19:32] sedge commented on #734
Closed in https://github.com/mozilla/thimble.webmaker.org/pull/745

[2015-07-28 19:32] #734 closed

[2015-07-28 19:33] sedge commented on #699
CLosed in https://github.com/mozilla/thimble.webmaker.org/pull/747

[2015-07-28 19:33] #699 closed

[2015-07-28 19:36] sedge commented on #627
This is blocked on #570

[2015-07-28 19:59] flukeout commented on #704
Started a draft plan here:
https://docs.google.com/document/d/1UGASEU5IpYxEyOdhEywM-EhLH3ttyDg9u-ydsdVPbhw/edit

I'm assuming we won't have a homepage - and if we do, we can always run other tests with it later.

[2015-07-28 20:27] hannahkane commented on #704
Added some comments. Looks good!

[2015-07-28 22:42] hannahkane commented on #572
@flukeout and I just discussed over email - taking this out of MVP. Will adjust roadmap accordingly.

[2015-07-29 09:10] adamlofting opened #749 "Use new Google Analytics Account Details"
As it no longer makes sense to treat a Webmaker.org visitor and a Thimble user as people engaging with a single web property, I've setup a new GA account for tracking Thimble data independently of Webmaker.

The new property ID is: `UA-49796218-33`

See also: #653

[2015-07-29 14:23] sedge opened #750 "Allow multiple thimble instances per browser session"
The application is configured in such a way that it can only track one opened project at a time. Opening the application in more than one window/tab in the same browser session would have unexpected and disastrous results.

[2015-07-29 14:26] jgmac1106 commented on #750
This really shouldn't be an issue in many of the makes with the new
tutorial.html in the same file system. In the past Thimble Teaching Kits
telling people to open up the same make in two different tabs was a common
(and not the best) strategy mentors used when making tutorials and teaching
kits.

On Wed, Jul 29, 2015 at 10:24 AM Kieran Sedgwick <notifications@github.com>
wrote:

[2015-07-29 14:27] sedge commented on #750
@jgmac1106 In the case where a user *does* open the new thimble in two tabs, it will result in loss of data. Better that we prevent it IMO

[2015-07-29 14:38] jgmac1106 commented on #750
I agree. We just need to educate the mentors not to build that into their
workflow. Unrelated to tutorials I know I currently often open up two
different makes at the same time so I can compare code.

I might not remember how to do something so I will go and open a second
project so I can see how someone else wrote the code I am trying to do.

On Wed, Jul 29, 2015 at 10:28 AM Kieran Sedgwick <noti

[2015-07-29 14:54] sedge commented on #680
@flukeout If you can design this I can implement it

[2015-07-29 15:46] sedge commented on #750
@gideonthomas Can you clarify why this is necessary from a technical perspective?

[2015-07-29 15:54] gideonthomas commented on #750
We should basically do something like what netflix does in terms of having only one active instance of netflix open.
From thimble's POV, we store project metadata for the current user in a session variable. If Thimble is opened in another tab and another project is opened, this will overwrite the existing session variable with the new project that was selected. Making changes in the new tab will b

[2015-07-29 15:55] gideonthomas commented on #750
cc @humphd re: note above. I think this should be P1 because of that

[2015-07-29 16:03] humphd commented on #750
Sounds good to me.

[2015-07-29 16:21] hannahkane commented on #750
As I mentioned at stand-up today, I think it's probably a fairly common use case to have multiple Thimble tabs open at once. For the reasons @gideonthomas and @jgmac1106 suggest above (remixing and comparing code across projects). It's also a downgrade from the way Thimble currently works, and would likely be an unpleasant surprise to current Thimble users.

I'd like to prioritize a fix to the und

[2015-07-29 16:31] sedge commented on #750
@hannahkane The one restriction I'd like to suggest is that we shouldn't allow the same project to be open in two places. Is that okay?

[2015-07-29 16:33] hannahkane commented on #750
I think that would be understandable to users, so yeah, that's fine. We should design UX around that use case. /cc @flukeout

[2015-07-29 16:40] cassiemc commented on #750
fwiw I often have two google docs open at once, to look at content in different spots in the document. I wonder if people do the same for thimble?

[2015-07-29 16:46] flukeout commented on #683
Done courtesy of the hardworking @sedge :cake:

[2015-07-29 16:46] #683 closed

[2015-07-29 16:50] sedge commented on #732
Being tracked in devops here: https://github.com/MozillaFoundation/mofo-devops/issues/133

[2015-07-29 16:51] sedge commented on #750
@cassiemc Good point! I'd lean towards extending brackets to allow that vs. having the same project open in two separate thimble instances.

[2015-07-29 16:53] flukeout commented on #605
@Pomax has askethed and he has receiveth, for we haveth no maximum.

[2015-07-29 16:53] #605 closed

[2015-07-29 16:53] gideonthomas commented on #535
Fixed in feb4bddd4a5209fe6c6d87123f84149ab6ad4bb9

[2015-07-29 16:53] #535 closed

[2015-07-29 16:57] flukeout commented on #696
@hannahkane Do we also have a privacy policy we need to link to?

[2015-07-29 17:05] flukeout commented on #648
Here is some UI, we already have the little toggle built because we were using it in the Publish dialog to toggle the "Show in public gallery" setting.

![image](https://cloud.githubusercontent.com/assets/25212/8964243/57361c24-35d9-11e5-886f-ec3bdf953e5f.png)

[2015-07-29 17:43] hannahkane commented on #696
Good point. Yes, we should link to https://www.mozilla.org/en-US/privacy/websites/. Just updated first comment.

[2015-07-29 21:41] flukeout opened #751 "Renaming a project is not counted as a "Update Publish"-able change."
**Steps to reproduce**
* Create a new project and publish it
* Change the project name
* You're not able to update the published version with the new name if that's the only change you made

You should be able to.

[2015-07-29 21:51] humphd commented on #751
@hannahkane P1 or P2?

[2015-07-29 21:59] hannahkane commented on #751
Hmm...gonna go with p2. I'd argue it's not essential functionality and there is a workaround. I'm trying to keep p1 as narrow as possible,

[2015-07-29 21:59] flukeout commented on #751
Agreed.

[2015-07-29 23:27] hannahkane commented on #567
@ldecoursy - wondering if you can take a look at the Thimble Help section I've drafted so far, and edit it for clarity.

and @flukeout - can you take a look and add any other features/concepts that you think require an FAQ?

https://docs.google.com/document/d/1wQf9WpG8ouJaVNTEdGnOgH9rGBJijWmM-3KRrzfJOoM/edit#heading=h.xvjc686dxh8a

[2015-07-30 14:47] sedge commented on #689
@flukeout Now that remix has landed, can you see if you can reproduce this?

[2015-07-30 14:47] sedge commented on #700
@flukeout Unblocked! Is this still a problem?

[2015-07-30 14:53] ldecoursy commented on #567
This looks awesome to me! I had a few small edits in the GDoc.  Also would love a walk-through of the tutorial process - that was the only thing that seemed like it might use more detail, but only bc I'm not exactly sure how it works yet ;)

[2015-07-30 15:56] hannahkane commented on #567
Thanks, @ldecoursy. Great edits. I'll ping you at some point today for a tutorial walk-through (though not all the UI elements are in place yet).

[2015-07-30 15:59] flukeout commented on #689
@sedge will try

[2015-07-30 16:54] flukeout commented on #723
@humphd I've updated the dialog copy here http://flukeout.github.io/thimble-home/file-dialog/dialog.html

Also, for the actions in the bottom bar, let's drop the "..." from the "From your Computere" and "Take a Selife" buttons.

[2015-07-30 17:17] gideonthomas commented on #570
Fixed in 3e55c4eaea678c5a65171ea65bfad79fcb323822

[2015-07-30 17:17] #570 closed

[2015-07-30 17:57] flukeout commented on #689
@sedge seems like it's all good now! Not running into this anymore! :pineapple:

[2015-07-30 17:57] #689 closed

[2015-07-30 18:03] flukeout opened #752 "Brief flash of unstyled content on the Details Bar when a published project is viewed."
**What's going on**
When you first open a published Thimble project, the title of the project briefly appears in large text above the project details. Once the Javascript & CSS for the Remix button loads, this content then disappears. It is later visible, as expected, when you hover over the remix Button, like this...

![image](https://cloud.githubusercontent.com/assets/25212/12368055/80848f4a-bb9

[2015-07-30 18:04] flukeout commented on #700
@sedge Looks fixed! Deleted files are no longer available in published projects. :apple:

[2015-07-30 18:04] #700 closed

[2015-07-30 18:10] flukeout opened #753 "Add "disabled/in-progress state" to the Create New project button"
When you click **Create New** on your project list, you get no indication that Thimble is trying to do something, the button looks like it's still clickable. We need to make the label say something like "Creating..." and grey it out.

![image](https://cloud.githubusercontent.com/assets/25212/8991107/43c87808-36ab-11e5-84c4-cc529aa3ab65.png)

I'll provide a spec.

[2015-07-30 18:12] flukeout opened #754 "Renaming the index.html file in the default project causes some weirdness"
**Steps to reproduce**
* Create a new project or open an existing stay calm project
* Rename index.html to something else (in my case, staycalm.html)
* Refresh the preview

What happens

![image](https://cloud.githubusercontent.com/assets/25212/8991181/c9882286-36ab-11e5-84d1-a18f915ba589.png)

**List of Problems**
* Strange filename listed at the top of the Editor window
* The page no longer gets

[2015-07-30 18:23] flukeout opened #755 "When refreshing the editor with an HTML file open, the first tag is highlighted."
Note the ```<html>``` tag, it's highlighted in the same fashion as a tag that has a cursor on it.

![image](https://cloud.githubusercontent.com/assets/25212/8991400/4212dd1c-36ad-11e5-944f-5ca05d62535f.png)

The entire document is also outlined in blue in the preview by default.

Let's not do this, it's not useful and potentially confusing because it feels like you're able to start editing by typi

[2015-07-30 18:23] humphd commented on #754
Looks to me like the file rename is using an absolute vs. project-relative path, and the HTMLRewriter or CSSRewriter is probably using that path and not finding assets relative to it.

[2015-07-30 18:39] flukeout commented on #720
@gideonthomas In addition, once you try to save the same name the project already has you're not able to save a different name either. The UI is stuck.

[2015-07-30 18:47] gideonthomas opened #756 "Update project root on project rename for unauthenticated user"
For an authenticated user this isn't an issue because the project root is based on project id. But since this is not the case for unauthenticated users, renaming the project will not change the root from "/Untitled Project", but we should to make https://github.com/mozilla/thimble.webmaker.org/issues/627 easier to solve

[2015-07-30 18:51] flukeout commented on #512
I've made this a bug because right now the Publish button is totally non-functional when a user is not signed in.

Alternatively, we could just replace the Publish button with text when a user is not signed in, like this.

"**Log In** or **Sign Up** to Save and Publish"

@hannahkane Thoughts?

[2015-07-30 18:57] flukeout opened #757 "Clean up the user dropdown menu"
The current menu has a few problems
* New Projects - doesn't work and has a typo - #690
* Settings - 404
* Profile - 404

![image](https://cloud.githubusercontent.com/assets/25212/8992157/eb555a40-36b1-11e5-8e04-2e2e86a6e83e.png)

@hannahkane Do we need profile & settings? Are they supposed to link somewhere?

[2015-07-30 19:09] hannahkane opened #758 "Add "Description" data to Remix bar"
@flukeout - can you provide a mock-up?

Not going to call this a p1.

[2015-07-30 19:11] hannahkane commented on #757
No, for now, let's remove those items.

[2015-07-30 19:25] gideonthomas commented on #757
https://github.com/mozilla/thimble.webmaker.org/issues/712 is also relevant to this

[2015-07-30 19:27] gideonthomas commented on #752
Hmm I think hiding it with `display: none` until the stylesheet is loaded is probably the best solution.

[2015-07-30 19:45] flukeout commented on #712
I'd throw in Remix here too. We have remix & delete on the projects list, but they're more useful if you can perform those actions while looking at the actual project.

[2015-07-30 20:00] flukeout opened #760 "Create a version of the Stay Calm project that has a tutorial baked into it for remixing."
For one of the usertesting tasks, we'll need to have a project load with a step-by-step remixing tutorial.

@hannahkane Add a link to the tutorial that you wrote and I'll convert it to tutorial markup.

[2015-07-30 20:09] flukeout opened #761 "When previewing an image, the editor bar doesn't display the previewed filename."
Steps to reproduce
* Open a project with an image
* Click on the image so that it is previewed in the Editor
* Observe the editor bar, it's not showing the name of the previewed image file

![image](https://cloud.githubusercontent.com/assets/25212/8993816/2b0a79cc-36bc-11e5-91cc-77f23e9fcff0.png)

[2015-07-30 20:12] humphd commented on #753
Another thing to consider is having the publish process kick off an indeterminate throbber, maybe like we've done with the Upload Files dialog and drag and drop.

[2015-07-30 20:20] humphd commented on #761
This is due to how Brackets handles "editors" internally.  The image viewer isn't an editor, so I must need to listen for some other event than just using the `EditorManager`.  I'm not totally sure how to fix, but I'm sure it's fixable.

[2015-07-30 20:20] humphd commented on #761
The answer is likely to use something in `src/view/MainView*.js`

[2015-07-30 20:30] gideonthomas commented on #627
This is now blocked on https://github.com/mozilla/thimble.webmaker.org/issues/756

[2015-07-30 20:49] sedge commented on #723
Closed! In #723

[2015-07-30 20:49] #723 closed

[2015-07-30 20:52] sedge opened #762 "Creating a project crashes thimble"
We've pinned down why.

TL;DR: the way we passed default project content to the publish server during the new project step was incorrect.

We read the file data from disk once, and passed the same node stream in our form-data requests. The solution is to read the default file data into memory, and create a fresh stream on each "create project" request.

[2015-07-30 21:13] sedge commented on #670
Fixed in @gideonthomas remix patch.

[2015-07-30 21:13] #670 closed

[2015-07-30 21:16] sedge opened #763 "Add warning if there is unsaved work when a user closes thimble"
To prevent loss of data, let's warn users before they close thimble if they've made file changes that haven't been saved yet. For authenticated users, this should also include a warning if the data has been saved but not persisted to publish.wm.o.

[2015-07-30 21:56] hannahkane commented on #512
I'd prefer the copy change + pulsing, because I think it's important to keep the Publish button in tact for consistency. If replacing the button with text entirely is easier, I definitely think that's fine for MVP, though.

I think it's slightly weird that we say "to save or publish" since "saving" is not an action the user can actively take. Could we just say "Log In or Sign Up to -> [Publish but

[2015-07-30 22:17] hannahkane commented on #760
Sorry for the delay. Tutorial instructions are here: https://docs.google.com/document/d/10_Uq-iI3cQ2arZge3btnc1mzX-P8SourBJTlP_MyRIo/edit#heading=h.xgecmc16vsfj

[2015-07-30 22:59] flukeout commented on #680
@sedge Let's just roll with a javascript confirm dialog here. It's janky but our main priority is preventing the accidental loss of work. We'll improve the UX later.

[2015-07-30 23:04] flukeout commented on #704
I've updated the testing plan, once all of the issues listed in the blockers section are addressed, we can go ahead an launch.

[Test plan](https://docs.google.com/document/d/1UGASEU5IpYxEyOdhEywM-EhLH3ttyDg9u-ydsdVPbhw/edit) & [Testing Blockers](https://github.com/mozilla/thimble.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Atesting-blocker)

[2015-07-30 23:06] flukeout opened #765 "Allow users to remix their own projects"
This one...

![image](https://cloud.githubusercontent.com/assets/25212/8997317/e124248e-36d4-11e5-9d35-
7441d2fe3474.png)

cc @gideonthomas

[2015-07-30 23:13] humphd commented on #509
@hannahkane was discussing this with me today, wondering if it's doable.  @sedge, can you estimate the work involved in this, now that we know more about how all the systems work?

[2015-07-31 02:25] humphd opened #766 "[Firefox] Selfies don't show up in Image Viewer until you reload the project"
STR:
* Open Firefox
* Click the '+' icon in Thimble, then select `Upload Files...`
* Click `Take a Selfie...`
* Take a selfie
* Notice the image shown in the editor is broken

![screenshot 2015-07-30 22 22 19](https://cloud.githubusercontent.com/assets/427398/8999536/c67beee8-3709-11e5-80e6-1500a7fab2fa.png)

If I refresh Thimble, it works, making me think it's a path issue, and the BlobUtils cach

[2015-07-31 02:50] humphd commented on #702
Not sure if this is related or not, but I tried deleting some files tonight, and I saw:

[code]

Which is pointing at:

[code]

[2015-07-31 02:58] humphd commented on #489
Here's a fun experiment:

* download this zip file of this template web page: http://www.free-css.com/free-css-templates/page189/treviso#shout
* now drag it into Thimble, and it will unzip, giving you a `treviso/*` folder full of stuff
* navigate to `treviso/index.html` and notice that it doesn't full load how you expect.  The reason is that it tries to load `http://` resources

[code]

etc.

When

[2015-07-31 11:13] jgmac1106 opened #767 "Should there be a link to a discourse category or instance just for Thimble?"
I spoke with @flukeout about this during user testing but I am wondering if we should build a community based help channel right into Thimble.

My thinking was a link in the footer to a discourse category on discourse.webmaker.org or a new instance just for Thimble.

I use discourse currently when I need coding help (I stick questions in the Training category) and usually get a quick response.

Do

[2015-07-31 15:04] gideonthomas commented on #765
Yeah, we haven't added logic for that yet...

[2015-07-31 15:22] gideonthomas opened #768 "Use symlinks for project roots"
Currently for an unauthenticated user, our project root looks something like `/<project name>`. This makes renaming a hassle because we need some way to tell Bramble that the mounted path has been renamed (which is complicated to implement). Instead, we should have a symlink with the name of a uuid which will link to the real project path. We will mount the symlink in Bramble so that renaming the

[2015-07-31 15:41] #762 closed

[2015-07-31 15:56] humphd commented on #768
I'd use a dir like `/mnt` (http://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/mnt.html) to hold the symlinks you use.

[2015-07-31 16:10] sedge opened #769 "Remove dead `remix` link on projects page"
Until we solve #765 we should remove the dead link.

[2015-07-31 16:11] sedge opened #770 "Sort projects by last edited in the projects page"
The projects page aren't sorted intelligently at the moment.

[2015-07-31 16:12] hannahkane commented on #767
Thanks, @jgmac1106. I'm going to pause this because we're having some challenges with Discourse right now.

There is a question in the FAQ (#567) about how to get help. We can potentially add Discourse to that.

I'd prefer to link to a particular thread rather than a new instance of Discourse, because maintaining multiple instances could be problematic.

[2015-07-31 17:54] JordanTheriault commented on #757
In regards to #712, is now a proper time to add a delete in addition to Remix or is that out of scope?

[2015-07-31 17:57] JordanTheriault opened #771 "No determination between new file buttons"
When hovering over the new file menu, it's difficult to determine which file is going to created. This can be solved by adding a hover effect or alternating a darker background between items.

[2015-07-31 18:20] humphd opened #772 "Publish button and Publisher.prototype.publish being called too many times"
When using the zip file at https://www.dropbox.com/s/08bf9ubcauzvgyo/templated-retrospect.zip?dl=0, we're seeing a case where publish kicks off a ton of parallel requests to publish.  We're fixing this now in a temporary way by making the `publish` call bail if it's in progress.  We need to figure out a better long term solution.

[2015-07-31 18:22] humphd commented on #772
One thought I have is that we stop adding/removing click handlers on the publish and unpublish buttons as we manage state. We should only have a single click handler for both, and disable/enable things with css and `disabled=true` on the element, etc.

[2015-07-31 18:25] humphd commented on #772
Temp fix in https://github.com/mozilla/thimble.webmaker.org/commit/45abaf6be95be6f8fb38be846e81aa3659935bc1

[2015-07-31 18:33] sedge opened #773 "Prevent publishing if a save or sync is in progress"
While saving of files is occurring, or while they're being persisted to the publish server, the user shouldn't be able to attempt a publish.

[2015-07-31 20:25] sedge opened #774 "Make thimble.wm.o stateless"
We've hit an upper size limit to our cookies, which currently store the entire currently opened project in metadata on the client. This becomes a problem when the project gets too large i.e. too many files.

[2015-07-31 20:28] gideonthomas opened #775 "Make the size of a thimble cookie smaller"
For a temporary fix for https://github.com/mozilla/thimble.webmaker.org/issues/774, lets make the size of the session cookie smaller by doing the following:
* Remove the `project_id` from each file representation and use it from `project.meta.id` instead
* Change the files object from:
[code]
to
[code]

[2015-07-31 20:35] humphd commented on #775
This is due to Heroku HTTP validation restrictions on cookie size, https://devcenter.heroku.com/articles/http-routing#http-validation-and-restrictions

[2015-07-31 20:47] humphd commented on #667
I fixed this when I added the Upload Files dialog.

[2015-07-31 20:47] #667 closed

[2015-08-02 16:10] humphd commented on #554
This is done, closing.

[2015-08-02 16:10] #554 closed

[2015-08-02 16:15] humphd commented on #731
CC'ing @DavidBruant, who was discussing this topic on twitter this weekend, https://twitter.com/DavidBruant/status/627419396366057473.

@DavidBruant, the thing I'd like your thoughts on here is how we might leverage protocol buffers in the new Thimble, which needs to serialize entire file trees (i.e., we support dirs/files now).  With uploads we've used `FormData` and just attach our `ArrayBuffers

[2015-08-02 16:30] humphd commented on #731
For reference, here is the form of what we currently send back to the client in order to initialize a project:

[code]

[2015-08-03 08:44] DavidBruant commented on #731
I'm not sure I understand that part. Why do you already have the tree as a `Buffer`? Is it stored as binary in your database?

In any case, for protocol buffers, as far as I know, the only out-of-the-box way to leverage them in both client and server is to use https://github.com/mafintosh/protocol-buffers with browserify. There are lots of possible optimizations and room for improvements upon this

[2015-08-04 14:39] humphd opened #777 "Bramble sometimes won't finish loading"
https://www.dropbox.com/s/v97w0tbuv8k40yl/Screenshot%202015-08-04%2010.38.24.png?dl=0

I think it get stuck and times out waiting on something, not sure what.  I see it sometimes though, and it's bad.

[2015-08-04 14:40] humphd commented on #777
Clearning cookies, storage, etc. seems to fix it.

[2015-08-04 15:15] gideonthomas opened #778 "Refreshing the page on a remixed project reverts back to the "stay calm" project"
STR:
* **As an unauthenticated user**, open a published project and remix it. It loads as it should in the editor.
* Now refresh the page and the project retains it's name but the contents are reverted back to the default stay calm project.

[2015-08-04 15:37] sedge commented on #763
@flukeout Hey Luke! What kind of UI do you want for this?

[2015-08-04 15:41] sedge commented on #725
Publish is ready for MVP as of this moment. If more issues come up we can reopen this.

[2015-08-04 15:41] #725 closed

[2015-08-04 16:18] #690 closed

[2015-08-04 16:21] #778 closed

[2015-08-04 16:24] #769 closed

[2015-08-04 16:48] humphd commented on #757
This is done and landed.

[2015-08-04 16:48] #757 closed

[2015-08-04 17:26] #775 closed

[2015-08-04 18:01] sedge commented on #777
@humphd This happened in a project with a complex file tree correct? When I repeated the STR I found that heroku started reporting that bramble had run out of memory, and was using paging. I think this drastically affects performance, resulting in a timeout on the client first, and then on the server for the `/initializeProject` call that drags on past 30 seconds.

@gideonthomas We should try and

[2015-08-04 18:19] flukeout commented on #737
@hannahkane Can you please look over my latest edits to the tutorial and let me know if it's good to go?
http://flukeout.github.io/thimble-home/tutorial/stay-calm-tutorial.html

I made some edits and simplifications to the copy in the google doc.

[2015-08-04 18:30] sedge commented on #720
This was fixed in https://github.com/mozilla/publish.webmaker.org/commit/4a62d1764054b41c5ca3a19879bae110483af632

[2015-08-04 18:30] #720 closed

[2015-08-04 18:44] humphd commented on #766
What's really odd about this bug is that everything works when you reload Thimble, which causes the filesystem to re-read and cache all the URLs (including the selfie images) into BlobUtils.  When I try to load the image file's generated blog directly, the first time I get an error in the browser, and after reload it works:

https://www.dropbox.com/s/rlzqogom2n1yx7y/Screenshot%202015-08-04%2014.43

[2015-08-04 18:46] hannahkane commented on #737
Nice, @flukeout! I like the edits you made, but wondering if you intentionally left out the part about changing font styles.

[2015-08-04 18:58] flukeout commented on #737
@hannahkane Yeah, I did - I wanted to keep it nice and simple for our usertesting. I think the edited version covers the bases pretty well.

I'd like to roll with this one for now since we're still starting in the Keep Calm project as a default "New Project". I'll update the tutorial later to include the font step once we have it linked from the homepage. Let me know if that is cool.

[2015-08-04 18:59] hannahkane commented on #737
Ah, I understand. Yes, totally fine as is for user testing. Thanks!

[2015-08-04 19:28] flukeout commented on #737
@sedge Okay, the tutorial is ready to go.

The files are available here:
https://github.com/flukeout/thimble-home/tree/master/tutorial

[2015-08-04 19:32] humphd commented on #766
I've got a fix for this in https://github.com/humphd/brackets/pull/403

[2015-08-04 20:00] #766 closed

[2015-08-04 20:11] humphd commented on #724
I've closed them all, we'll file new ones from this point onward.

[2015-08-04 20:52] sedge opened #782 "Migrate published projects to a prettier domain"
When production launches it'll be on an amazon domain. @hannahkane What do you want the domain to end up looking like?

[2015-08-04 21:46] flukeout opened #784 "My project should publish as soon as I hit Publish."
Right now, if I want to publish my project, I have to click publish twice. Once to open the publishing dialog, and the second time to actually publish. I think we should publish as soon as I click Publish. We can open the publish dialog and have the published link immediately available for the user.

Updating the published project would be a two-step interaction however, just like it is now.

@han

[2015-08-04 22:53] hannahkane commented on #782
I filed a separate ticket to discuss that: https://github.com/MozillaFoundation/plan/issues/519

[2015-08-04 22:58] hannahkane commented on #784
Does this mean the project would be published without the description initially?

[2015-08-04 23:08] flukeout commented on #784
@hannahkane Yeah - it would. Right now, we don't even use the description anywhere and are planning to remove it for MVP though, so I think that would be OK. Down the road, we could always just update the description when someone fills it in without having to publish explicitly.

[2015-08-04 23:41] hannahkane commented on #784
:+1: Sounds good.

[2015-08-04 23:41] flukeout commented on #677
@hannahkane Video progress is happenin' here:
https://docs.google.com/document/d/1kfQGYv-k0lqksVdzaB4cOWDPte4GTObmUgxybgVDz9c/edit

Let me know what you think about the script.

**PS** - I've also done a very bad first draft of the recording just to see how long the script takes:
https://dl.dropboxusercontent.com/u/109902/bramble/rec.wav

[2015-08-05 00:10] hannahkane commented on #677
Nice! Left some comments on the doc.

[2015-08-05 13:25] humphd commented on #784
How do you unpublish?

[2015-08-05 14:48] humphd commented on #768
I'll take a shot at this.

[2015-08-05 15:23] sedge opened #785 "Remove duplicate encryption of oauth token"
We [already encrypt the cookie session](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/app.js#L62), but also [encrypt](https://github.com/mozilla/thimble.webmaker.org/blob/052833ae5f9e150c930420f1ea9ebe202e9240fc/routes/index.js#L135) and [decrypt](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/lib/middleware.js#L506) the oauth token. This was an oversight in the implem

[2015-08-05 15:28] cadecairos commented on #785
:+1:

[2015-08-05 15:32] #760 closed

[2015-08-05 17:20] #768 closed

[2015-08-05 17:24] humphd commented on #768
@gideonthomas, this is fixed now.  Just to catch you up, prior to calling `Bramble.mount()` we create a symlink to the project root dir in `./mnt/<uuid>` and give that to Brackets.  We put this new dir path on the `config` object as `mountPoint` and leave `root` untouched.  If you have to move/rename the actual `root` folder (anonymous to signed in, for example), you can just re-write the symlink

[2015-08-05 18:17] flukeout opened #788 "There's an .mnt folder in my project"
![image](https://cloud.githubusercontent.com/assets/25212/9093869/7cdd3446-3b63-11e5-947a-8a5b2ef699ec.png)

No idea how it got there!

[2015-08-05 18:18] flukeout opened #789 "Published project shows a 403 error."
Project shows as published in the UI...

![image](https://cloud.githubusercontent.com/assets/25212/9093886/96da836c-3b63-11e5-8327-2591bb1b6c7f.png)

But resolves to 403...
http://bramble-staging.s3-website-us-east-1.amazonaws.com/flukeout/129

This is after a first-time publish of this project.

[2015-08-05 18:23] flukeout opened #790 "Always show the Tutorial in the Desktop preview"
Currently if you're previewing a project in the mobile view and switch to the tutorial, it also displays the tutorial in the mobile view. It should always be displayed in the Desktop view.

Not sure what to do about the desktop/mobile toggle UI just yet, I think we should just leave it as is when in tutorial mode.

So, to summarize, let's not ever show this...
![image](https://cloud.githubusercont

[2015-08-05 18:24] humphd commented on #788
This is due to #768 and will be fixed by #756.  The /.mnt dir is a directory of symlinks to actual project folders.  It should be in the root dir `/`, and you shouldn't be mounting `/`, so it's odd that it shows up.

[2015-08-05 18:55] hannahkane commented on #732
Is this unblocked now?

[2015-08-05 19:12] sedge commented on #732
And closed! see: http://thimble-beta.webmaker.org

[2015-08-05 19:12] #732 closed

[2015-08-05 20:01] humphd commented on #788
I am trying to debug this, but can't reproduce.  Can you give more info on what you are doing to make it appear?  The obvious things don't do it for me.

[2015-08-05 20:05] sedge commented on #789
We have a lead on this. @jbuck is investigating for us

[2015-08-05 20:26] humphd commented on #788
The fix for this is to transform paths in `bramble.on` events for file operations to use real project paths vs. `.mnt/uuid` prefixes.  The node code is stripping the paths of project roots, and missing the `.mnt/uuid` stuff.  We shouldn't ever send `.mnt/*` paths to the server.  I'll fix tomorrow.

[2015-08-05 20:39] sedge commented on #627
@humphd and I did some thinking on this today. We figure there are two options, both of which hinge on storing anonymous projects in a special folder:

1. When a signed-in user opens thimble, and there are anonymous projects in the folder, open a dialog telling the user that there are unsaved projects. The user would be able to save each project from here, and when they did so, the anonymous proje

[2015-08-05 21:23] jbuck commented on #789
Fixed! I added the appropriate bucket policy. For the interested it is:

[code]

[2015-08-05 21:43] flukeout opened #791 "Auto-enable the Command + K code hints."
We're including them in the intro video, so this feature should always be available.

[2015-08-05 21:50] flukeout opened #792 "Published project doesn't reflect changes in editor."
Here's a published project, note the purple background:
![image](https://cloud.githubusercontent.com/assets/25212/9098870/4f739e46-3b81-11e5-96a4-425460035a11.png)

It's published here, with none of the changes reflected...
http://bramble-staging.s3-website-us-east-1.amazonaws.com/flukeout/135/

[2015-08-05 21:59] flukeout commented on #677
Latest version of the video is here https://www.youtube.com/watch?v=HWqkEjnLh-U
Script - https://docs.google.com/document/d/1kfQGYv-k0lqksVdzaB4cOWDPte4GTObmUgxybgVDz9c/edit

**Blockers**
* Rig up the homepage with the remix link.. will this be too slow?
* Create an opening screen
* Make sure the Command + K feature is baked in

[2015-08-05 22:08] simonwex opened #793 "Support old thimble remix URLs"
Can we support opening the old thimble content in the new editor?

I have this old project:
https://simon.makes.org/thimble/fire

When I click on remix, it opens this:
https://thimble.webmaker.org/project/29244/remix

What would be involved in maintaining remix-ability for old thimble makes in the new codebase?

/cc @jbuck @sedge @hannahkane

[2015-08-05 23:17] hannahkane commented on #677
Purple. Alright! :)

One tiny edit - near the beginning when you're introducing the file tree, you mention all of the files except for tutorial.html. Could be a little confusing. Might be ameliorated just by saying, "This last file, tutorial.html, is special, and we'll get back to it in a little bit." Or something like that.

Like the addition of the "Others can remix your project" at the end (at

[2015-08-05 23:21] flukeout commented on #677
+1 on mentioning the tutorial file.

[2015-08-05 23:37] hannahkane commented on #730
Wondering if we can choose an initial set of data to track by the end of this heartbeat? Let's start simple. @adamlofting - what do you think?

[2015-08-05 23:39] hannahkane commented on #730
/cc @hpauljohnson and @kevzawacki because there's a news-y angle to this. We're planning to make some Thimble data available to data scientists who are interested in measuring learning. Could be an interesting angle for some teched pitches.

[2015-08-05 23:55] jgmac1106 commented on #730
If you need an initial data set to test feel free to see if anything is
easily surfaceable in my makes.

I am totally self taught through Thimble so looking at my data for patterns
of growth could test basic code counts and complexity growth.

On Wed, Aug 5, 2015, 7:39 PM hannahkane <notifications@github.com> wrote:

[2015-08-06 12:28] KevZawacki commented on #730
@hannahkane Yep, this would be a great angle!

[2015-08-06 14:27] sedge commented on #789
@jasonthomas

[2015-08-06 14:27] #789 closed

[2015-08-06 14:33] sedge commented on #792
@flukeout This issue is related to #788.

@humphd The pathing issues also cause a new file to be created instead of updating the old one when you make the change, though you can't see it unless you refresh the page:

![screen shot 2015-08-06 at 10 32 39 am](https://cloud.githubusercontent.com/assets/1616860/9114195/923bfdae-3c26-11e5-9c97-ec2c53b085eb.png)
![screen shot 2015-08-06 at 10 33 05 am](

[2015-08-06 16:11] hannahkane commented on #793
Just a note that we don't actually need to solve this for as long as we have the path to "old" Thimble, so I'm removing from MVP.

[2015-08-06 16:13] sedge commented on #793
We definitely could. I'd guess that this won't be MVP, since our [priority one issue list]() is already huge, but I'll raise it at our next standup to get some opinions and see if we can triage it reasonably.

Off the top of my head:

1. We'd need to make sure an RPC route for returning an old make's contents without authentication existed on old-thimble
2. We'd need to have an RPC route on thimbl

[2015-08-06 16:13] hannahkane commented on #563
This ticket feels superfluous to me now since everything in it is accounted for in other tickets with the  MVP label. @flukeout - are you ok with closing this?

[2015-08-06 16:45] flukeout commented on #563
sure thing

[2015-08-06 16:45] #563 closed

[2015-08-06 16:52] humphd commented on #754
For the rename path being too big, I need to do what's in https://github.com/mozilla/thimble.webmaker.org/pull/795/files#diff-9748587150ca9269d951b5b55c578dc8R283 and strip off the project root.

[2015-08-06 16:54] humphd commented on #756
We're going to use a solution based on UUIDs for anonymous projects, so this is no longer needed.

[2015-08-06 16:54] #756 closed

[2015-08-06 17:03] humphd commented on #788
I think this is fixed now, @flukeout can you confirm and close?

[2015-08-06 17:44] flukeout opened #797 "Open `index.html` if it exists, or the last non-tutorial html file when remixing a project"
Steps to reproduce
* Open http://bramble-staging.s3-website-us-east-1.amazonaws.com/flukeout/144/
* Click Remix
* Thimble opens and the Tutorial is shown

Is this on purpose?

If it is, there's a bug where the Preview is shown as 'active' but the tutorial should be.

@hannahkane What do you think of this behaviour? Show the tutorial when we have one?

I feel like it might be pretty good, but then

[2015-08-06 17:45] gideonthomas commented on #777
So,the cookie size issue seems to have been temporarily fixed. Now we run out of memory because we are sending a collection of project file buffers all at once from server->client as a json serialized object. We should change this so that the server sends the list of files that need to be downloaded first to the client and then the client can request each file individually.

[2015-08-06 17:46] flukeout commented on #792
Looks good - project looks as expected when published!

[2015-08-06 17:46] #792 closed

[2015-08-06 17:48] sedge opened #798 "Switch to streaming file-by-file to the client"
Our current method of retrieving project files from publish.wm.o isn't sustainable, since it pulls each file en-mass into memory. We've already maxed out the heroku instance's memory capacity with a single user and a single project, meaning this won't scale.

Since we have a production deployment, we expect to see just how bad this is soon. User feedback will help prioritize this.

[2015-08-06 17:48] sedge commented on #777
@gideonthomas See: https://github.com/mozilla/thimble.webmaker.org/issues/798

[2015-08-06 17:54] flukeout opened #799 "Deleting projects from My Projects list UX is cumbersome."
Steps to reproduce
* Try to delete a lot of your own projects fast
* The slowness of the delete action makes it hard
* Things jump around a lot as the "deleting" indicator finishes

What we should do instead
* Immediately delete projects from the list, or with a really quick animation at least

I'm guessing maybe there's a call back we're waiting for to make sure the delete went through? I don't t

[2015-08-06 17:55] gideonthomas commented on #797
@flukeout just to clarify, is the tutorial.html file the active file when you are seeing the tutorial rendered in the preview?
**Context**: Currently, we select the last html file that was written to the filesystem (which usually ends up being the tutorial file) as the file that bramble loads initially. We should probably change that!

[2015-08-06 18:06] sedge commented on #784
This seems like an enhancement for further down the line.

[2015-08-06 18:07] sedge commented on #799
I can get behind that.

[2015-08-06 18:10] hannahkane commented on #797
This is definitely something I'd like to do user testing on. If we don't show the tutorial by default (which makes sense to me - to NOT show it initially), are people *aware* of the tutorial?

[2015-08-06 18:47] humphd commented on #788
I'm closing, since we've backed out the symlink stuff.  If this continues in new projects, please re-file.

[2015-08-06 18:47] #788 closed

[2015-08-06 19:04] humphd commented on #791
Fixed in https://github.com/humphd/brackets/pull/407

[2015-08-06 19:19] #680 closed

[2015-08-06 19:30] #791 closed

[2015-08-06 19:30] humphd commented on #763
Stealing, I'll do this.

[2015-08-06 19:51] #737 closed

[2015-08-06 20:12] sedge commented on #724
One more.

[2015-08-06 20:52] #763 closed

[2015-08-06 21:08] flukeout commented on #677
@hannahkane Here is the opening and closing screen of the video. The links on the closing screen will have annotations in youtube so you can click them. Thoughts?

**Opening**

![image](https://cloud.githubusercontent.com/assets/25212/9123452/856413a0-3c44-11e5-9670-e2998afd8011.png)

**Closing**

![image](https://cloud.githubusercontent.com/assets/25212/9123458/8de54c06-3c44-11e5-87e5-d3d76220195

[2015-08-06 21:15] flukeout opened #803 "If I'm signed in, and don't have any projects, I get redirected to the empty My Projects list"
**Steps to reproduce**
* Sign in at https://bramble.mofostaging.net/
* Go to your projects list
* Delete every project
* Go to https://bramble.mofostaging.net/ again
* **Bug** - You are redirected to the empty projects page
* **What should happen** - Thimble editor loads with an "Untitled Project"

[2015-08-06 21:16] hannahkane commented on #677
Nice. Seems like a link to the Thimble homepage would be important to include.

[2015-08-06 21:21] humphd commented on #773
Taking.

[2015-08-06 21:33] flukeout opened #804 "Got an "External Changes" error"
While editing a project, I got the following error..
![image](https://cloud.githubusercontent.com/assets/25212/9123956/f3a9dc84-3c47-11e5-8c06-61e2eef0e9c4.png)

What I remember doing
* Renaming the project
* Changing a few styles in style.css
* Changing some text in index.html
* Switching back to style.css <- this is when it happened

[2015-08-06 21:58] flukeout commented on #677
Updated closing...
![image](https://cloud.githubusercontent.com/assets/25212/9124433/a7f2b758-3c4b-11e5-8e5a-c2088a89f9b9.png)

[2015-08-06 22:29] flukeout opened #805 "Change green in the header to match homepage"
* The editor green bar header background color should be #2D9961
  * The user menu link "active" color should be #268C54
* The add file plus button color should be #2D9961

Need these small changes so that the editor matches the colors from the homepage for the video.

[2015-08-06 23:32] hannahkane commented on #655
@flukeout - just realized we'll need a version of this page for authenticated users. Should include the user menu, so users can access their project list. Maybe we already have this and I just missed it.

[2015-08-06 23:44] hannahkane opened #806 "Add header to My Projects page"
Should be the same header as the landing page.

Need UI for an authenticated state, I believe. /cc @flukeout

[2015-08-06 23:46] hannahkane opened #807 "Let's QA Thimble!"
Please visit https://thimble-beta.webmaker.org/ and help us test out the brand new Thimble!

Please log issues you find in this repo, and be sure to include:
 * what browser and version you're using
 * the "QA" label (we'll assume if you're using this label that you're testing on https://thimble-beta.webmaker.org, so you don't need to include that info)

**You do not need to test on mobile or tabl

[2015-08-07 14:29] humphd commented on #804
This is a safety check within Brackets, and it happens when the file's timestamp is different from the last time Brackets looked at the file on disk (it caches files in memory).  This means that, somehow, the file was modified between writes, and not by you.  Why that would happen is a good question.

[2015-08-07 14:35] humphd commented on #804
Did you have the editor open in 2 different tabs?  If so, that would be one way to trigger this, since they would be sharing the same filesystem.  We're moving to a world where tabs don't share the same project folder, but it's not done yet.

[2015-08-07 14:45] sedge commented on #627
@gideonthomas Let's call the uuid `anonymousId` when it's rendered into the thimble home page.

[2015-08-07 15:17] gideonthomas commented on #627
@sedge the query string for the login url should look something like: whatever it already has + `&title=A&anonymousId=1&now=111111`

[2015-08-07 16:07] #805 closed

[2015-08-07 16:09] flukeout commented on #804
I'm not sure - I'll close for now and re-open if i notice it again. I've only seen it once ever.

[2015-08-07 16:09] #804 closed

[2015-08-07 16:09] flukeout commented on #804
If there is a chance that this error will show due to any kind of circumstance down the road, let's improve the error message though.

[2015-08-07 16:23] #773 closed

[2015-08-07 16:24] flukeout commented on #677
@hannahkane Thoughts on the video title in you tube?

* "Get to know Thimble"
* "Introduction to Thimble"
* "Welcome to Thimble"

...or something more strategic?
* "Thimble - an online code editor!"
* etc..

[2015-08-07 16:25] #803 closed

[2015-08-07 16:26] hannahkane commented on #677
My vote would be Welcome to Thimble. Sounds so...welcoming. :)

[2015-08-07 16:57] ldecoursy commented on #677
+1

[2015-08-07 17:05] flukeout commented on #677
+1

[2015-08-07 21:01] gideonthomas commented on #777
Right, keeping this issue open until we figure out a long-term solution for the cookie problem

[2015-08-07 21:02] gideonthomas opened #814 "Creating a lot of files in quick succession fails"
This would be a common case for DnD'ing zip files into thimble.

As every file is written to the fs, it sends a request to thimble to persist the file. In the case above, multiple requests are sent in a short span of time which seems to be causing a concurrency issue when we track the files for a project, specifically [here](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/routes/creat

[2015-08-07 21:31] sedge commented on #627
@gideonthomas The querystring login no longer needs the title correct?

[2015-08-07 22:02] flukeout opened #816 "Thimble isn't publishing my changes again"
Project in editor...
![image](https://cloud.githubusercontent.com/assets/25212/9146865/3ffe56aa-3d15-11e5-9cf8-c9f166e79442.png)

Published project here...
http://bramble-staging.s3-website-us-east-1.amazonaws.com/flukeout/158/

![image](https://cloud.githubusercontent.com/assets/25212/9146885/7f1db75e-3d15-11e5-8069-3a01fcb6b41e.png)

It published the correct project name though. :cake:

[2015-08-08 15:37] humphd commented on #816
Sucks.  Also, you're doing amazing QA work for us, @flukeout.  I'm loving all the bugs you're finding and filing.  Thank you!

When I remix this project, I actually do see your changes, but they've been put in the wrong folder.  Notice the addition of the `157/` folder, which now holds your updated files:

![screenshot 2015-08-08 11 35 12](https://cloud.githubusercontent.com/assets/427398/9151014/

[2015-08-10 14:30] gideonthomas commented on #627
@sedge it still needs the title

[2015-08-10 15:36] sedge commented on #750
#627 will make this happen for anonymous users.

[2015-08-10 16:29] flukeout opened #817 "User-menu should open when clicked, not hovered."
Currently, the user dropdown opens when hovered. This can be jarring and unexpected, as all of our other menus / dialogs open when something is clicked. It's also too easy to mouse off of it by accident while trying to pick an option.

![image](https://cloud.githubusercontent.com/assets/25212/9176810/54de15b8-3f42-11e5-9219-884399879c73.png)

**New Behaviour**
* User menu opens when the user name

[2015-08-10 16:40] gideonthomas commented on #816
So from what we see when we access published projects on staging vs. prod., here are the headers:
* Staging:
[code]

* Production:
[code]

@jbuck any thoughts regarding the differences between the two? Currently, we think that prod. is giving us a cached version of the project.

[2015-08-10 18:41] humphd commented on #777
Part of this is changing to using a `.tar` file to seed the content in the project.  I've done some work on this here https://github.com/humphd/brackets/pull/416

[2015-08-10 19:05] jbuck commented on #816
@gideonthomas You are spot on, staging is using the s3 bucket directly and production is using the cloudfront distribution

[2015-08-10 19:54] jbuck commented on #816
@sedge and I investigated and found [the docs say](http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html#expiration-individual-objects):

The solution here seems to be removing the `private` directive from the `Cache-Control` header.

[2015-08-10 20:08] sedge commented on #816
![screen shot 2015-08-10 at 4 04 57 pm](https://cloud.githubusercontent.com/assets/1616860/9182891/f7feb248-3f79-11e5-944a-eaa0fca279be.png)

[2015-08-10 20:35] flukeout opened #818 "Update Tutorial & Preview UI"
The current UI for toggling between the Preview and Tutorial isn't great. Let's have a look...
![image](https://cloud.githubusercontent.com/assets/25212/9183385/939c3084-3f63-11e5-992d-6e30bdec24dc.png)

The refresh button is awkwardly placed between the two options: Tutorial & Preview.

**New UI**
![image](https://cloud.githubusercontent.com/assets/25212/9183543/975831ea-3f64-11e5-9dff-6d33105b04

[2015-08-10 20:42] flukeout opened #819 "Selecting "New Project" from the user dropdown shouldn't open a new tab."
The new project should be started in the currently open tab.

[2015-08-10 21:43] hannahkane commented on #782
Looks like it's going to be thimble.mozilla.org.

[2015-08-10 21:57] sedge commented on #782
@hannahkane Are you talking about the app itself, or where published projects live?

[2015-08-10 21:57] hannahkane commented on #782
Oh, the app itself. I think I don't understand what this ticket is about.

[2015-08-10 22:15] flukeout opened #821 "Add a google verification page to bramble.mofostaging.net"
So, if we want to link from a Youtube video to our site, we need to "Verify" that we own that site. It's weird, I know. To do so, we need to add this file to our codebase...

https://dl.dropboxusercontent.com/u/109902/bramble/google3479be6196d04fac.html

So that it will be available at http://bramble.mofostating.net/google3479be6196d04fac.html

@humphd Can you help?

[2015-08-10 23:05] flukeout commented on #816
Just because I accidentally tried to record a screencap again, here's the bug in action
https://www.youtube.com/watch?v=yscyCLmpZ2k&feature=youtu.be&t=130

[2015-08-10 23:22] hannahkane commented on #685
Rather than have these Makes associated with a particular staff account, I'd like to create a "master" account from which to publish these "official" (homepage-worthy) makes. @ldecoursy - thoughts on that? Should it be associated with teachtheweb@mozillafoundation.org email address?

[2015-08-10 23:42] ldecoursy commented on #685
We have a generic mozilla account we can use, can share login details with
you tomorrow.
On Aug 10, 2015 7:22 PM, "hannahkane" <notifications@github.com> wrote:

[2015-08-10 23:50] sedge commented on #782
Sorry! Let me clarify.

If you publish a project on [thimble-beta](thimble-beta.webmaker.org) it ends up with a url like this: https://d157rqmxrxj6ey.cloudfront.net/sedge/24

Is that something we want to change at some point?

[2015-08-11 00:16] hannahkane commented on #782
Ah, I understand. (The title of this is clear, I just didn't get it for some reason.)

@xmatthewx  -  do you know what your solution for Webmaker project urls will be?

[2015-08-11 10:44] jgmac1106 commented on #685
I tried to hash out the "selfie" kit. After reading through the An-me's
focus group interviews many stakeholders talked about the internet "safety"
as an issue. I tried to address this but more from a lens of shaping your
identity and discussing what and why we share. I also built in some stuff
on licensing your materials CC rather than just finding CC stuff. It is a
very rough draft.

I also trie

[2015-08-11 13:52] humphd commented on #821
@flukeout question: can this file be the same on `bramble.mofostaging.net` and `thimble-beta.webmaker.org`?  They share the same code, so if I need it to be different somehow on prod vs. staging, we need two files.

[2015-08-11 15:38] jgmac1106 opened #822 "Testing Thimble-Beta"
I will be at #EdCampCT Friday the 14th and will do a session on Thimble.

Is there any questions or feedback the Design team would be interested in me exploring?

[2015-08-11 16:14] gideonthomas commented on #821
@humphd I think @jbuck is trying to solve this issue from a

[2015-08-11 16:25] humphd opened #824 "Update export icon"
I'd love some kind of simple MVP solution that lets me call `bramble.export()`, which will create a `project.zip` file for you of all your files/folders, and download it to the browser.  Can we come up with something simple for MVP?  Maybe in the user's options at the top?

Now that I've done the code for this in Brackets, I think it's kind of a killer feature to support for MVP, since it lets use

[2015-08-11 16:28] humphd commented on #816
I think we can close this, right?

[2015-08-11 16:30] hannahkane commented on #807
@flukeout @humphd - does this ticket look ok to you? Once I get the OK from you both, I'll send an email asking people to take some time this week to QA for us.

[2015-08-11 16:39] hannahkane commented on #822
Thanks @jgmac1106.

We'd definitely appreciate you filing any bugs you find. Started a QA checklist in #807 if you want to approach systematically, but feel free to just file any bugs you run into.

Are you planning to make use of the tutorial feature during your session? I'd love to get feedback on that specifically.

Would also welcome any general feedback about usability and learners reactions.

[2015-08-11 16:39] sedge commented on #816
@flukeout Can you confirm this is no longer happening?

[2015-08-11 17:35] hannahkane opened #826 "Project meta data and Remix button not showing up correctly on beta."
This is in Chrome.

![screen shot 2015-08-11 at 10 32 39 am](https://cloud.githubusercontent.com/assets/8389648/9204974/6db2d8e4-4014-11e5-8af9-f2d11771a257.png)

[2015-08-11 18:01] gideonthomas opened #828 "Implement tar streaming for transferring files from server->client"
Right now when we send the project files to the client, we send one large JSON object containing all the file buffers which are JSON parsed. This is how it is being received from publish.webmaker.org.
Instead we are teaching publish.wm.org to stream tarballs when requesting a collection of files (all files for a project). We should stream this down to the client as well.

On the client-side, this

[2015-08-12 22:15] xmatthewx commented on #782
Webmaker project URLs currently follow this form: https://beta.webmaker.org/#/project?user=446905&project=4072. We won't be able to drop the beta here until we finish the site transition.

[2015-08-13 13:26] humphd commented on #621
https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching?hl=en#cache-control is also helpful.

[2015-08-13 13:37] humphd commented on #754
@flukeout one thing I should also point out, we haven't written the code yet to persist renames to the publish server (i.e., it will work locally but not save it).  So I'd avoid having people rename files for MVP.

[2015-08-13 13:38] humphd commented on #816
I'm going to close, please re-open if we start seeing this again.

[2015-08-13 13:38] #816 closed

[2015-08-13 15:23] #777 closed

[2015-08-13 15:23] #821 closed

[2015-08-13 16:14] gideonthomas commented on #828
Fixed in 0d5dc5045477226b89fff216414a26516ac5ec23

[2015-08-13 16:14] #828 closed

[2015-08-13 16:29] hannahkane opened #834 "Add link for View Published to My Projects list"
This may have been discussed earlier and nixed, I can't recall, but I find myself wanting direct links to remix my projects and to view published projects from the My Projects page. It feels clunky to view the editor and click "Publish" in order to access the url of a published project.

/cc @flukeout

[2015-08-13 16:31] hannahkane commented on #826
More importantly - when I click the Remix link, I get a 404.

[2015-08-13 16:34] #814 closed

[2015-08-13 16:46] flukeout opened #835 "Often seeing a flash of a white square on the bottom right of the page in Chrome."
![image](https://cloud.githubusercontent.com/assets/25212/9255728/0817de84-41a0-11e5-86aa-03c724bae36c.png)

Happens fairly often, and usually goes away but sometimes sticks around. For example, switch between files in a project in quick succession and you should be able to see it.

[2015-08-13 16:49] flukeout opened #836 "Uploaded image not being published with project on Staging."
In staging, an image I uploaded to a project isn't showing up in the published version.

Project...
![image](https://cloud.githubusercontent.com/assets/25212/9255799/7845ba3c-41a0-11e5-9449-1c92726b5d40.png)

Published version...
![image](https://cloud.githubusercontent.com/assets/25212/9255792/6fc67ce8-41a0-11e5-80e2-d1114e6b1d53.png)

Link to published project: http://bramble-staging.s3-website-

[2015-08-13 16:54] flukeout opened #837 "Editor remembers font size but not theme color after a refresh."
Before...
![image](https://cloud.githubusercontent.com/assets/25212/9255912/2f27b70a-41a1-11e5-9e8f-6c3b3ab1a05e.png)

After refresh...
![image](https://cloud.githubusercontent.com/assets/25212/9255916/3a07ccfa-41a1-11e5-9771-1648c9504b88.png)

[2015-08-13 16:58] flukeout opened #838 "Staging stuck in "Saving..." after renaming an uploaded file."
I uploaded a png of a bike, and renamed it to bike.png - notice a couple of things...

* Thimble stuck in "Saving..."
* Path to bike.png file in the Editor is strange...

![image](https://cloud.githubusercontent.com/assets/25212/9256002/c998a236-41a1-11e5-892e-b405d7d13a31.png)

[2015-08-13 17:00] flukeout opened #839 "On Staging, after renaming an uploaded file, the original and the new file are in the file tree."
I uploaded that 'e3141...png' file to renamed it to 'bike.png' and refreshed, now they're both there, see below...

![image](https://cloud.githubusercontent.com/assets/25212/9256053/1845b996-41a2-11e5-898f-764f09897a0f.png)

[2015-08-13 17:08] humphd commented on #835
Weird, I can't reproduce.

[2015-08-13 17:13] humphd commented on #839
As I said in your other bug, renames don't yet persist.  I'm going to try and fix that today.

[2015-08-13 17:14] flukeout opened #841 "Highlight the right-clicked file in the file tree"
So I just right-clicked the file tree...
![image](https://cloud.githubusercontent.com/assets/25212/9256361/ec0fa65a-41a3-11e5-905a-0ee0c200b088.png)

I can't really tell which file I'm about to rename or delete. We need a way to highlight the file your'e about to act on, if we can throw a temporary CSS classname on the file while the right-click menu is open, I can style it to make that more clear

[2015-08-13 17:28] hannahkane commented on #836
This is the same problem I'm seeing on beta.

[2015-08-13 17:34] humphd commented on #836
Weird.  I tried, and it works http://bramble-staging.s3-website-us-east-1.amazonaws.com/humphd/185/

Can you give me exact steps you're doing?

[2015-08-13 17:37] humphd commented on #836
Working for me too on Beta: https://d157rqmxrxj6ey.cloudfront.net/humphd/38/

Can you confirm that you're not running an old version of the code (cached?).

[2015-08-13 17:43] #826 closed

[2015-08-13 17:44] humphd commented on #826
@hannahkane I've landed a fix for this.  If you can test with that same project (you'll need to republish it) some time after 15 mins from now (while it gets deployed), that would be good.

Also, give me the link to this project so I can debug.

[2015-08-13 18:10] flukeout opened #844 "Remix button on unscrolled published project is invisible."
Here's a published project just after loading it in Chrome
![image](https://cloud.githubusercontent.com/assets/25212/9257670/b170b518-41ab-11e5-9f6a-d72dfcc07648.png)

When scrolled slightly the button is visible again.
![image](https://cloud.githubusercontent.com/assets/25212/9257682/c5822ac8-41ab-11e5-826e-2925816409cf.png)

Not sure what's changed, but looks to be some kind recently-introduced

[2015-08-13 18:12] hannahkane commented on #826
@humphd - Is it deployed? Should I republish now?

[2015-08-13 18:13] flukeout commented on #752
This looks pretty bad, and takes about 2 seconds to go away every time a project loads...

![image](https://cloud.githubusercontent.com/assets/25212/9257772/486b1fa8-41ac-11e5-9355-5217707fd679.png)

[2015-08-13 18:17] humphd commented on #826
Should be, hit it!

[2015-08-13 18:21] flukeout opened #845 "Staging - very slow performance when creating a new project."
With a stopwatch in hand, I clicked "New Project" in the user dropdown menu.
It took 21.67 seconds for Thimble to create a new project and get to a point when I can start editing.\

I'm adding a bug label just so this issue gets noticed, but feel free to remove it. Overall performance seems to have taken a hit lately.

[2015-08-13 18:23] flukeout opened #846 "Staging: Added files persist in the blank project when not signed in."
Steps to reproduce
* Load up thimble on staging
* Add some files to the file tree
* Make some changes to the stay calm poster
* Refresh
* Changes on poster are gone
* Files you added persist
* They stick around anytime you load thimble as an unathenticaed user

[2015-08-13 18:26] hannahkane commented on #836
I cannot reproduce reliably, but I can reproduce, even after updating the cache.
These are the steps I'm following:
 - on beta
 - click + button in file tree, then Upload from computer
 - added a png file
 - linked to png file in index.html
 - image appears correctly in preview
 - wait for "Saving..." to complete
 - click "Publish"
 - view published project (https://d157rqmxrxj6ey.cloudfront.net/m

[2015-08-13 18:29] hannahkane commented on #826
Republished; still no good. (This is on beta.) Project is here: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/28/

[2015-08-13 18:42] cassiemc opened #847 "Create promo video for new Thimble"
Drawing from the conversation in https://github.com/mozilla/thimble.webmaker.org/issues/643, filing this new bug to narrow the scope.

Suggestions:
* somewhere around 30sec (definitely less than 2min)
* back-to-school theme if this can be completed by Aug 31
* another theme suggestion was a funny retro vid. https://www.youtube.com/watch?v=IeFo-ym1IDE

[2015-08-13 18:42] cassiemc commented on #847
The original inspiration for Github Atom: https://www.youtube.com/watch?v=Y7aEiVwBAdk

[2015-08-13 18:50] flukeout opened #848 "Staging: Projects not deleting on my projects view"
**Convoluted steps to reproduce**
* Go to My Projects list
* Delete a Project
* Immediately after, as the project is deleting, click where it says "Deleting..."
* This time click "Cancel" on the popup
* Sometimes, this causes the project to get stuck "Deleting..."
* Even if completes deleting and removes itself from the page, it's back when you refresh
* Additionally, you can't delete this project

[2015-08-13 18:53] flukeout opened #849 "Staging: I can't open any of my projects"
When I try to open any of the projects from the My Projects list, the editor opens and gets stuck like this...

![image](https://cloud.githubusercontent.com/assets/25212/9258717/ebc54746-41b1-11e5-8f64-243ed084fa80.png)

[2015-08-13 20:35] humphd commented on #844
Fixed and landed on staging.

[2015-08-13 20:35] #844 closed

[2015-08-13 20:35] humphd commented on #839
I just landed rename logic.  Renames should work now.  NOTE: I'd blow away old projects that you did before and rename failed on.  Test and see how things work.

[2015-08-13 20:38] humphd commented on #838
Try it again, I just fixed renaming on staging.

[2015-08-13 20:43] humphd commented on #836
On staging this is working great for me.  I grabbed an image, dragged it in, renamed it, changed the html, and published: http://bramble-staging.s3-website-us-east-1.amazonaws.com/humphd/196/

Beta is pretty far behind staging at the moment, so until we push out these updates, I'd say test this on staging.

[2015-08-13 20:46] humphd commented on #836
@flukeout I remixed your project, renamed the file `e31418b9a37663526c0958cdc181fce7.png` to `bike.png`, hit `Publish`, and I get http://bramble-staging.s3-website-us-east-1.amazonaws.com/humphd/198/.  I think the issue was that rename wasn't working yet.

[2015-08-13 20:52] humphd commented on #849
@flukeout I need to see what's to the right of that error message, specifically which file/line.

[2015-08-13 20:57] humphd commented on #824
@flukeout I did this in https://github.com/mozilla/thimble.webmaker.org/pull/840/files, and it just needs you to add a proper icon.

[2015-08-13 21:12] flukeout commented on #807
Adding a tutorial via the + menu hasn't landed yet.

[2015-08-13 21:13] hannahkane commented on #807
It hasn't? I've seen it working. ??

[2015-08-13 21:15] flukeout commented on #807
This seems pretty thorough, what about adding...
* Can you press Command/Control + K after clicking on a tag to get inline help
* Can you press Command/Control + E when editing a CSS color to use the colorpicker
* Can you update your already-published project with additional changes in the editor

[2015-08-13 21:17] flukeout commented on #807
The section that says "Publish your remix" - should it just say "Publish your project"?

[2015-08-13 21:20] hannahkane commented on #807
Yup, just noticed that, too. OK, all updated. Feel free to make add'l updates if you notice anything else.

[2015-08-13 21:33] hannahkane opened #852 "I don't know how to dismiss the Find box"
I clicked command + F and it opened what looks like a brackets-specific Find tool. Now I don't know how to dismiss it.

![screen shot 2015-08-13 at 2 29 34 pm](https://cloud.githubusercontent.com/assets/8389648/9262229/27d7d0c6-41c8-11e5-92c7-bb59d0eaf212.png)

[2015-08-13 21:35] hannahkane commented on #541
@flukeout - I'm thinking we need to move this ticket to MVP? Or perhaps open a new one with the solution we agreed upon above. We don't want to launch with the Keep Calm project as the default, right? Do you need the Keep Calm default to continue to exist for the final round of user testing?

[2015-08-13 21:42] humphd commented on #852
Use `esc`

[2015-08-13 21:46] hannahkane commented on #852
lol. of course. :)

maybe not obvious to everyone? (Wasn't to me)

[2015-08-13 21:46] humphd commented on #848
Things to do:
* Make the `Deleting...` non clickable while delete is in progress.

[2015-08-13 21:47] flukeout commented on #848
Things to do:
* Never show ``Deleting...``` and just delete the project immediately.

[2015-08-13 21:48] humphd commented on #852
Yeah, figuring out how to guide people on how to use this stuff is something we should ponder. Maybe we need a project that's about learning the tool vs. making something with it (i.e., tutorial that guides you through things like this)?

[2015-08-13 21:48] #852 closed

[2015-08-13 21:56] humphd commented on #848
We also need to stop storing "file to open" in local storage -- it should go in the project metadata, or not be stored at all.

[2015-08-13 23:15] humphd commented on #852
@hannahkane there are good docs at https://github.com/adobe/brackets/wiki/How-to-Use-Brackets on how to use everything.  Maybe we should distill that down, and put it on the thing you get when you click "Help"

[2015-08-13 23:16] hannahkane commented on #852
yup, i'll add it to #567

[2015-08-14 09:14] adamlofting commented on #730
For inspiration: http://www.drscratch.org

cc @davidascher

[2015-08-14 14:22] cassiemc opened #855 "Keyboard Text increase/decrease don't work as expected"
The control + and - keyboard actions to increase and decrease the type size of the UI do not work as expected. It seems that the sizes change the code text size and the UI text sizes independently, which is frustrating when moving between large and small text in order to figure out the perfect size.

So you end up with something like this:
![mozilla_thimble](https://cloud.githubusercontent.com/ass

[2015-08-14 14:23] cassiemc opened #856 "Add fade between color theme settings"
Can we add a fade between the two color themes to give the user a split second to mentally adjust to the change between light and dark.

[2015-08-14 14:24] cassiemc opened #857 "Fix clunky text rendering in the UI"
The Open Sans type in the top green bar looks okay, but the all-caps type in the editor (and the ‘undo’ button text) looks super clunky. It should ideally be a  bit smaller and match the weight and letter-spacing of the other UI text. I am happy to work with someone on this to get it looking right.

![thimble-text-render](https://cloud.githubusercontent.com/assets/1186326/9275923/95411590-426e-11e

[2015-08-14 14:25] cassiemc opened #858 "Streamline icon sizes"
The icons are at varied sizes and weights, giving the UI a non-uniform look. We need to adjust the sizes of the the thimble icon (larger), and the publish, undo/redo, settings, and phone/mobile icons (smaller).

![thimble icons](https://cloud.githubusercontent.com/assets/1186326/9275938/bdc2043e-426e-11e5-92eb-78af1a646524.png)

FF40 mac. cc @flukeout

[2015-08-14 15:34] jgmac1106 commented on #807
Feedback from today's session: https://etherpad.mozilla.org/EeGlOE6nNX

[2015-08-14 16:56] flukeout commented on #632
Closing and temporarily tracking in https://docs.google.com/document/d/1EbVP0qkkEgJbfaAARMQa66eejDduYyJywHqaNjQt_S0/edit

[2015-08-14 16:56] #632 closed

[2015-08-14 20:30] hannahkane commented on #730
And this via @amirad: http://dl.acm.org/citation.cfm?id=2787709

[2015-08-14 21:01] k88hudson opened #859 "Sidebar scrolls to the righthand edge when a file title is very large"
STR: Add a file with a really long name

Expected: The sidebar cuts of the end of the name, the other files are still visible
Actual:
![image](https://cloud.githubusercontent.com/assets/1455535/9283991/1a7b527a-42a6-11e5-8fa3-bda957ca39a8.png)

[2015-08-14 21:05] k88hudson opened #860 "Clicking on the Publish button gives no feedback"
When not logged in, if I click the "Publish" button, nothing seems to happen (I think the Publish button might be fading in and out), and this error pops up in the Console:

[code]

This is on latest Chrome

[2015-08-14 21:08] k88hudson opened #861 "Can't open thimble-beta.webmaker.org, file format error"
When I first load the page (in Firefox), I get this error:

![image](https://cloud.githubusercontent.com/assets/1455535/9284088/d5a74eb4-42a6-11e5-9aac-2972a8418e8e.png)

Followed by this error:

![image](https://cloud.githubusercontent.com/assets/1455535/9284094/e1427b5e-42a6-11e5-9d79-09a9e06d935e.png)

After that, I get an endless loading state, and this in the console:

[code]

[2015-08-14 21:34] k88hudson commented on #857
I'm also seeing this (Firefox). Looks like the correct fonts are not being loaded for the weights specificied

[2015-08-14 21:46] k88hudson opened #862 "Projects don't publish if any file's path has a space in it"
STR:

1. Create new user account
2. Create a new project
3. Edit some text, create a folder, create a new file
4. Click publish, add a description

Expected: Publish succeeds
Actual: Nothing happens, dialog box stays open

Console has these errors:

[code]

[2015-08-14 21:49] k88hudson opened #863 "Publish link extends past the UI"
The link goes off the screen, which makes it hard to select/see

![image](https://cloud.githubusercontent.com/assets/1455535/9284770/b4870796-42ac-11e5-9d6a-4ecd3f017473.png)

[2015-08-14 21:50] k88hudson opened #864 "Fonts missing on published project bar"
It looks like there are fonts missing:

![image](https://cloud.githubusercontent.com/assets/1455535/9284805/113dbac0-42ad-11e5-8136-384be007ca33.png)

![image](https://cloud.githubusercontent.com/assets/1455535/9284812/16d32344-42ad-11e5-9505-0d8d63887517.png)

[2015-08-15 03:24] humphd commented on #864
This is cross origin violation:

[code]

[2015-08-15 20:08] humphd commented on #861
Well done, @k88hudson, you corrupted your (filer) Filesystem.  I've never seen it happen.  Do you know what you were doing before this?  Also, which browser is this?

I'm working on a fix for this in https://github.com/humphd/brackets/pull/426

[2015-08-15 20:47] k88hudson commented on #861
Firefox stable (39.0) on Mac OSX -- this happened immediately the first time I tried to load https://thimble-beta.webmaker.org. It's likely/possible that I've loaded earlier versions of it a long time ago, although I can't remember specifically what I was doing.

I haven't cleared/deleted anything in case you wanted me to look something up -- are you interested in seeing anything else?

[2015-08-17 15:33] sedge commented on #862
@k88hudson Can you reproduce this with an existing user? Also, can you describe exactly what folder and file you created? And how?

[2015-08-17 15:42] ldecoursy commented on #862
I had this same problem. When I clicked "Publish," it said "Publishing," but then defaults back to Publish and I don't receive a URL for my project.

[2015-08-17 16:03] sedge commented on #862
@ldecoursy Thanks for the feedback!

Can you tell me what files/folders you added? Also, what's your id.webmaker.org username? @k88hudson Can you tell me the username you used when you ran into this issue?

[2015-08-17 16:06] ldecoursy commented on #862
Username is lainie, I added an image from my desktop
![screen shot 2015-06-21 at 8 11 06 am](https://cloud.githubusercontent.com/assets/4885898/9309530/44d17304-44d8-11e5-8ca5-113e2e1d5c6b.png)

[2015-08-17 16:08] sedge commented on #862
@ldecoursy Thanks for the quick response. Last question! What was the filename of the image after you added it to the project?

[2015-08-17 16:32] sedge commented on #860
This is a duplicate of https://github.com/mozilla/thimble.webmaker.org/issues/512. Closing

[2015-08-17 16:32] #860 closed

[2015-08-17 16:35] flukeout opened #868 "UI Cleanup"
There are lots of parts of the UI that can use a little polish and TLC. I've listed them all here.

**Tutorial toggle**
* [x] Update preview & tutorial toggle UI

**Refresh Icon**
* [x] Move the refresh icon to the right side
* [x] Update hover & active states
* ~~[ ] Add animation animation after it’s clicked?~~

**Icon Buttons**
* [x] Adjust size and position of all icons, many are too large
* [

[2015-08-17 16:58] #627 closed

[2015-08-17 16:58] k88hudson commented on #862
username: asdasdsad2ewasdd
project: https://stuff.webmaker.org.s3.amazonaws.com/k88/project.zip

[2015-08-17 16:59] jgmac1106 commented on #509
After beta testing new thimble with a few power users they all went to old Thimble and cut and pasted a project from old to new when I asked them to test "new project" feature.

This got me thinking about this issue. Could we do any of these:
* Send emails encouraging people to copy projects they make and then set a date that old Thimble projects are read only.
* Somehow make the single html files

[2015-08-17 17:11] sedge commented on #862
Hmm... That project tree looks identical to the default. I guess the new file didn't end up being saved?

[2015-08-17 17:14] k88hudson commented on #862
@sedge do you mean mine?

[2015-08-17 17:16] sedge commented on #862
@k88hudson Yes, but I was wrong. Ignore my comment ^.^

[2015-08-17 17:18] jgmac1106 opened #869 "Put information about maximum file size in upload prompt or error message"
I saw some users try to upload images they just took from their phone but they got an error message about file size. Can we list the maximum file size on the upload UI or in the error message?

![image error message](http://goo.gl/9bqUMV "File Size Error Message")

[2015-08-17 17:22] sedge commented on #862
@k88hudson It looks like the editor can't publish projects containing folders with spaces in their names. I'll whip up a patch for this. Thanks for reporting!

@ldecoursy I won't be able to confirm what's causing your issue until I know the name of the image you uploaded.

[2015-08-17 17:35] ldecoursy commented on #862
![screen shot 2015-08-17 at 1 34 44 pm](https://cloud.githubusercontent.com/assets/4885898/9311521/c2737f4e-44e4-11e5-8b64-4e46a097e832.png)

[2015-08-17 17:50] cassiemc commented on #868
awesome ticket! cc me @cassiemc

[2015-08-17 18:28] sedge commented on #862
@humphd So, IMHO the simplest way to solve this requires:

1. On publish.wm.o, transforming file paths with spaces to be url encoded
2. On thimble.wm.o, transforming css/html links to resources to be url encoded

Having to make sure there aren't spaces in a path when you upload a file seems like a huge pain. This doesn't affect project persistence though, only publish.

cc: @gideonthomas

[2015-08-17 18:56] sedge opened #872 "Build a recovery mechanism for the editor if indexeddb is corrupted"
This would be very useful, since the average user won't have any idea how to clear their indexeddb cache if things go wrong.

[2015-08-17 22:52] flukeout commented on #868
@sedge @gideonthomas Do you guys know what controls the positioning of the Editor options popup? I can't find it in the markup.

This guy...

![image](https://cloud.githubusercontent.com/assets/25212/9318374/e813ebae-44f7-11e5-8505-0a4d72f3cc5f.png)

It gets a "left" css position that seems to be dynamic, but I can't find where...

![image](https://cloud.githubusercontent.com/assets/25212/9318379/

[2015-08-17 23:26] flukeout opened #877 ""Thimble is Loading" loader should be on top of the whole UI"
When you're first loading up thimble (like after a refresh), the brackets area has a loading spinner, but the rest of the UI appears as if it's usable + clickable. Let's cover the entire area with a loader.

Need a "whole thing is loading" design.

[2015-08-18 00:56] sedge commented on #868
@flukeout Here ya go:

https://github.com/mozilla/thimble.webmaker.org/blob/bramble/public/scripts/editor/js/fc/bramble-menus.js#L8

which uses

https://github.com/mozilla/thimble.webmaker.org/blob/bramble/public/scripts/editor/js/fc/bramble-popupmenu.js

[2015-08-18 01:47] humphd commented on #862
The solution here is to `encodeURICompenent` before you put a path on a URL destined for publish, and then decide it when you get it (likely automatic).  This probably needs to happen in the Thimble server code that talks to publish. The Thimble client and brackets don't need to care.

On Aug 17, 2015 2:28 PM, Kieran Sedgwick <notifications@github.com> wrote:

@humphd<https://github.com/humphd> So

[2015-08-18 06:17] humphd commented on #862
@sedge I tried reproducing this one locally, and I can see it fail.  I drag a photo with spaces in the filename into the editor, and everything is fine; I see this in publish:

[code]

Note how it got the filename right, `27331 banner blue bike.jpg`.  However, when I look at what's stored in my local noxmox/S3, I see these two files:

[code]
Now you can see it's been URI encoded, and when the serv

[2015-08-18 06:18] humphd commented on #862
Hilariously, it looks like @jbuck may indeed be the right person to ask about this, given https://github.com/Automattic/knox/commit/6f2ad0d140f77bf3a19a66fb5aadfee54918d320, which I found in the issues filed against noxmox by @Pomax, related to improper URL encoding and unicode.  Small world.

[2015-08-18 06:41] humphd commented on #869
Good idea, cc @flukeout for UI thoughts in our uploader.

Also, this raises the question about what our upper-limit should be on the size of a file you can drop on Thimble/Bramble, and we'll allow.  Right now it's set at:

[code]

But that number is totally arbitrary.  It also currently applies to an image you drag in, or a ZIP archive, and we might want different sizes for each?  From a Mozilla/S

[2015-08-18 14:18] davidascher commented on #869
I would start by understanding what is a reasonable size for an asset that
makes sense as a web project.  In particular, we should probably allow
images that are as large as people would reasonably want to use in a web
page, but provide disincentives for storing huge images (and offer to
downsample larger images on upload).  The primary driver to me isn't cost
savings as much as helping people mak

[2015-08-18 15:19] jbuck commented on #862
I don't know where this error could be, but I'd highly recommend moving away from noxmox and knox, and switching to aws-sdk and using a S3 bucket

[2015-08-18 16:34] hannahkane opened #878 "+ button does not appear in file tree menu in Safari"
This means there's no UI for adding files for Safari users

[2015-08-18 16:36] hannahkane commented on #807
Thanks, @jgmac1106. Super helpful. I responded to each of the points in the pad; there are a couple follow-up questions for you if you have time. Thank you!

[2015-08-18 16:57] hannahkane commented on #519
This seems MVP to me, no?
@humphd @sedge - our plan requires this, right?

[2015-08-18 17:00] humphd commented on #878
See https://github.com/mozilla/thimble.webmaker.org/issues/574

[2015-08-18 17:00] hannahkane commented on #878
Is this a dupe? Should I close it?

[2015-08-18 17:03] hannahkane commented on #878
Sorry, to be clearer, I'm not sure if this particular issue is covered in #574 or not.

[2015-08-18 17:09] sedge commented on #862
@humphd I'm fairly certain that the issue is that s3 keys /must/ be url encoded. If that's the case, then we need to transform links to project resources in one of two places: In thimble, before a file is persisted (encoded) and after one is fetched (decoded) OR on publish itself before a file is published (encoded).

I'll do more research

[2015-08-18 17:23] gideonthomas opened #879 "Implement a short-lived project lock system for multi-tab safety"
Once we are able to open different projects in different tabs, we come across two edge cases:
* Open two tabs with the same project. Changes in one will not be reflected in the other and there will be a race for which one is considered the "source of truth" wrt project contents (name, files, etc.) so there is a 100% chance of data corruption.
* Opening a project in one tab and in another, looking

[2015-08-18 17:25] hannahkane commented on #879
For both cases, can we prevent the user from taking the corrupting action by throwing a warning? From a UX perspective, I think that works. @flukeout?

[2015-08-18 19:51] flukeout commented on #855
Seems like a Firefox bug, behaves as expected in Chrome.

Hover & actives states have been added to the plus / minus controls - do you have additional enhancements to the UX in mind?

[2015-08-18 20:43] flukeout opened #883 "Local environment: Unable to edit projects when Signed In"
Steps to reproduce
* Get your local environment up and running
* Sign In
* Open the thimble editor
  * The starting projects loads correctly
* Refresh
* The editor 'hangs' on the brackets loader

This blocks some of the UI work that I want to do that needs me to be authenticated.

[2015-08-18 20:43] flukeout commented on #883
cc @sedge since he's been trying to help me resolve this stuff.

[2015-08-18 21:30] flukeout opened #884 "Crazy URL in address bar when not-signed in"
This happens when you refresh the browser when you're not signed in...

![image](https://cloud.githubusercontent.com/assets/25212/9343230/953f8f78-45b5-11e5-8a74-f259dc1f07ae.png)

Is it necessary? Is there a way to achieve whatever this is doing without storing it in the address bar?

[2015-08-18 21:38] flukeout opened #885 "Typing cursor invisible in the first possible spot for a cursor on each line in the editor."
Cursor on position 1...
![image](https://cloud.githubusercontent.com/assets/25212/9343419/bacff5ba-45b6-11e5-887e-d395ee6822c1.png)

Cursor on position 0... gone!
![image](https://cloud.githubusercontent.com/assets/25212/9343423/c301f5e4-45b6-11e5-8c89-e3f756be5d53.png)

Happens on every line.

[2015-08-18 22:08] humphd commented on #885
It's something in our theme, I think.  The `margin-left` for `CodeMirror-sizer` is `72px` which is not quite enough (maybe due to use bumping the font size up to `15px`?).  If I set it to `75px` it works as expected.

Adding this to our themes fixes it:

[code]

[2015-08-18 22:41] flukeout commented on #784
Def - let's not worry about it for now.

[2015-08-18 22:42] gideonthomas commented on #884
cc @humphd

[2015-08-19 00:22] humphd commented on #884
We can change what it has in the URL, but we can't remove it.  The reason this is there is to support multiple tabs being open at the same time, and each one open to a different project.  The only place we can put a unique identifier for *this* tab vs. *that* tab is in the URL.  So if we want to have project-per-tab, we're going to have to use the URL--literally everything else is shared across ta

[2015-08-19 00:29] humphd opened #889 "Determine whether to add a project/ root dir to export zip"
This is something @Pomax raised, and I've been pondering it ever since.  When you export your project as a `.zip` file, we currently take everything in your project, and add it to a `project.zip` file, with things rooted in `project/*`.  This means that `index.html` in your project becomes `project/index.html` in the zip file.  It's generally seen as bad form to have archive files expand directly

[2015-08-19 13:22] cassiemc commented on #855
That works for now @flukeout, thanks.

[2015-08-19 14:21] gideonthomas commented on #879
@hannahkane we were also thinking along the same lines (but we were thinking about making it impossible to open the same project in more than one tab). The technical challenge for both remains the same, we don't have a good way to let other tabs/browsers know what projects are open.
cc @humphd

[2015-08-19 14:30] gideonthomas commented on #878
@hannahkane I think #574 is a meta bug that refers to all safari/IE UI issues which I guess would mean that it includes this issue too

[2015-08-19 14:32] gideonthomas commented on #839
@flukeout is this still an issue?

[2015-08-19 14:33] gideonthomas commented on #838
@flukeout this should be fixed, can you make sure?

[2015-08-19 14:34] gideonthomas commented on #836
@flukeout and @hannahkane are you able to still reproduce this on staging (which should have the rename patch)?

[2015-08-19 14:40] hannahkane commented on #878
OK, thanks. I'll close this one as a dupe.

[2015-08-19 14:40] #878 closed

[2015-08-19 14:56] hannahkane commented on #836
Can not reproduce on staging now, even after renaming project. yay.

[2015-08-19 17:18] sedge commented on #754
This has been fixed AFAIK. @flukeout Can you confirm?

[2015-08-19 17:20] sedge commented on #824
This seems to be fixed. @flukeout Can you confirm?

[2015-08-19 17:25] sedge commented on #879
What if we flagged which projects were open with an `xattr`, and also included an expiry? Each tab would be responsible for keeping the expiry refreshed, and if `/projects` was hit, it could display all non-locked or expired projects. This won't help even a little bit with multi-browser compatibility, but it would fix multi-tab.

[2015-08-19 17:29] humphd commented on #879
You basically need to implement a short-lived lock (either in the fs, or in `localStorage`), which the owning tab updates (e.g., storing `Date.now()`) every N ms.  When other tab(s) try to open that same project, they inspect the lock, check the time and see if it's stale (i.e., exceeds the N ms threshold), in which case they acquire the lock; otherwise they throw up some kind of UI that says, "Th

[2015-08-19 17:30] sedge commented on #836
@flukeout How about you?

[2015-08-19 17:30] sedge commented on #838
@flukeout Ping

[2015-08-19 17:30] sedge commented on #839
@flukeout Haha we gotta stop meeting like this. Ping

[2015-08-19 17:31] humphd commented on #824
It's still missing an updated icon.  I'd morph this bug to be about fixing that.

[2015-08-19 17:36] sedge commented on #879
As for the delete case, the owning tab will know if the path disappears (since reading the xattr will return `ENOENT`) and can redirect to /projects

[2015-08-19 17:52] flukeout commented on #838
Confirmed,  uploaded a file and renamed. Not stuck on saving and after refresh rename appears correctly.

[2015-08-19 17:52] #838 closed

[2015-08-19 17:55] flukeout commented on #849
@humphd - I can no longer reproduce this bug on staging.

[2015-08-19 17:55] #849 closed

[2015-08-19 18:01] flukeout commented on #839
Confirmed fixed on staging, uploaded an image and renamed it. It was fine after reloading.

After uploading, renaming to "jammers.png" and refreshing, appears as it should...
![image](https://cloud.githubusercontent.com/assets/25212/9364537/afebbd86-4661-11e5-8952-7f2ef781a8e2.png)

[2015-08-19 18:01] #839 closed

[2015-08-19 18:08] flukeout commented on #836
Image published correctly on staging...

![image](https://cloud.githubusercontent.com/assets/25212/9364718/a06f8652-4662-11e5-8d5b-9115572df128.png)

[2015-08-19 18:08] #836 closed

[2015-08-19 18:10] flukeout opened #891 "Make the entire menu option in the dropdowns clickable."
Currently only the highlighted text is clickable in the menu, even though the whole thing lights up and has a cursor...

![image](https://cloud.githubusercontent.com/assets/25212/9364790/e844e558-4662-11e5-983e-5fef9059c2e7.png)

Let's fix it.

[2015-08-19 18:14] sedge opened #892 "Test UX across browsers"
We need a final list of fixes to make on Safari, IE (that explorer and edge) and Firefox.

[2015-08-19 18:15] flukeout commented on #754
Renamed "index.html" to "blam.html", refreshed, and everything works great.

![image](https://cloud.githubusercontent.com/assets/25212/9364928/a30331d8-4663-11e5-9d91-0ecdb16a3448.png)

[2015-08-19 18:15] #754 closed

[2015-08-19 20:26] sedge opened #893 "Deleting a project occasionally fails, or the project is deleted but still appears on /projects"
This is likely two separate issues.

In one case, an unexpected operation (which we don't currently understand) leaves database entities alive that should have been destroyed. When we try to delete the project, it fails since it still contains references to these entities. A brute force fix for this is easy, but we don't know what causes this.

In the second case, a project is completely deleted b

[2015-08-19 20:27] gideonthomas commented on #512
Fixed in b4a5f434106db3537803d356adacc7b20ebd6597

[2015-08-19 20:27] #512 closed

[2015-08-19 20:39] sedge commented on #824
Closed in #880

[2015-08-19 20:39] #824 closed

[2015-08-19 20:44] #750 closed

[2015-08-19 20:44] #819 closed

[2015-08-19 21:15] sedge opened #895 "Thimble title bar behaves bizarrely on occasion"
This is what I've seen:

![screen shot 2015-08-19 at 5 12 41 pm](https://cloud.githubusercontent.com/assets/1616860/9369209/b4327ef0-4695-11e5-9663-82c3de0b3b46.png)

I can't tell you STR because it doesn't seem to happen a lot. Refreshing solves the problem

cc: @flukeout

I've set this as p2, but it might be worth escalating.

[2015-08-19 21:45] sedge commented on #731
We use tars! Closing

[2015-08-19 21:45] #731 closed

[2015-08-19 22:02] flukeout commented on #895
@sedge Yeah - I've seen this too, it goes away after refreshing most of the time, so I've gotta check into it.

[2015-08-19 22:21] flukeout opened #896 "Staging: Editor not loading again (same error as before)"
Got myself into this state after trying to load the editor...

![image](https://cloud.githubusercontent.com/assets/25212/9370519/c3003b76-4685-11e5-88a3-d6bb104a4a90.png)

This is the ```Uncaught TypeError: Cannot read property 'doc' of undefined``` we've seen before.

I'm able to resolve it by clearing my bramble cookies...

![image](https://cloud.githubusercontent.com/assets/25212/9370538/f9a857

[2015-08-19 22:22] flukeout commented on #896
I had no other tabs with thimble open.

[2015-08-19 23:20] flukeout commented on #868
* [ ] Tooltip for the "Save" action when renaming your Project

[2015-08-20 01:51] humphd commented on #896
Can you please paste a full stack trace in this bug?  I can only see the top frame, and I'd love to see it all.

[2015-08-20 01:55] humphd commented on #879
Whoever implements this, make sure that we don't get into a situation where we hold a lock after a tab closes, and the user tries to open the project in a second tab, we say that it's already open.  We should either set the lock timeout to be pretty short, or try to remove it on close (might be impossible if it's an async call).

[2015-08-20 14:19] sedge commented on #879
:+1:

[2015-08-20 18:02] flukeout commented on #818
Done and Done

[2015-08-20 18:02] #818 closed

[2015-08-20 18:07] flukeout commented on #891
In addition, we should have the same height for the options as in the Add File menu...

![image](https://cloud.githubusercontent.com/assets/25212/9391435/99b4ffc6-472b-11e5-9094-fa3191c090ee.png)

![image](https://cloud.githubusercontent.com/assets/25212/9391411/77d539b6-472b-11e5-93c2-27cd09207918.png)

[2015-08-20 18:24] flukeout commented on #891
Addressed in #900

[2015-08-20 19:15] flukeout commented on #817
Alternatively, we can have a bigger 'invisible' hover area around the menu so you have a bit of leeway before you've 'hovered off' the menu. Imagine a transparent div with like 15px padding around the menu.

[2015-08-20 19:34] sedge commented on #893
So, there's a patch for one case. The other case is a cache problem where it skips hitting the server for the projects page. Annoying -.-

[2015-08-20 19:51] #862 closed

[2015-08-20 20:02] #893 closed

[2015-08-20 20:05] sedge opened #902 "Sometimes deleted projects appear on the project page"
This is a caching issue, and I'm not sure how to approach it.

[2015-08-20 20:05] sedge commented on #893
See #902 for a followup

[2015-08-20 21:03] #891 closed

[2015-08-20 22:06] flukeout commented on #790
I think we should switch the toggle to the Desktop mode for the Tutorial, and then when you switch back to the Preview mode, it should remember if you were in Desktop or Mobile, whatever you last left it in.

[2015-08-20 22:29] humphd opened #903 "Projects page doesn't scroll vertically"
As the list of projects grows, we push the `Create new project` button down and down, and eventually it just drops off the page.  We should have overflow scroll so we don't lose it, and maybe consider moving it to the top?

![screenshot 2015-08-20 18 28 01](https://cloud.githubusercontent.com/assets/427398/9397318/5abdf8b6-4769-11e5-9f98-ed7acf346ca8.png)

cc @flukeout

[2015-08-20 22:46] flukeout opened #904 "Thimble should start in the Dark Theme by default."
If the user hasn't changed the theme, it should start out in the Dark theme.

[2015-08-20 22:48] flukeout opened #905 "Thimble should remember what editor them I was using (light vs dark)."
It remembers the font-size, for example, but not the theme.

Steps to reproduce
* Open thimble
* Switch the theme
* Refresh thimble
* It doesn't use the theme you just chose

[2015-08-24 15:06] humphd commented on #896
I was able to hit this today.  I haven't been using the app a lot for a week, while on holidays.  I came back this morning, and the app was down (in https://github.com/MozillaFoundation/mofo-devops/issues/155 we have determined that our Heroku tier was sleeping the node app when inactive, and forcing it to start again).  After it restarted I went to an old project.  It tried to load, and eventuall

[2015-08-24 15:42] humphd commented on #896
We figured this out.  The issue is caused by setting the preview mode to "mobile" and when it loads it tries to change the preview mode and reload the iframe browser, which isn't set up yet.  It's a timing bug, and can be fixed by just avoiding the reload if the browser isn't ready yet.  I'll do a patch.

[2015-08-24 16:50] hannahkane commented on #697
OK, the homepage makes and teaching kits are here:
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/26/ [Keep Calm make]
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/28/ [Keep Calm teaching kit]
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/40/ [Comic Strip make]
 * https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/32/ [Comic Strip teaching kit]
 * https://d157rq

[2015-08-24 16:52] hannahkane commented on #807
Going to close this ticket, as the tool has been thoroughly tested at this point, but we'd of course welcome additional bug reports if anyone finds them.

[2015-08-24 16:52] #807 closed

[2015-08-24 17:28] flukeout opened #910 "Usertesting Watch-a-Thon"
I've prepared a doc that assigns each of us some usertesting videos to watch and report on:
https://docs.google.com/document/d/1Z3EovRGnyT-tLSp4L7tF-hcVp5uVCajyyp_lg8XUdsU

Let me know if you guys have any questions or if something isn't working right.

cc @humphd @gideonthomas @sedge @hannahkane

[2015-08-24 17:31] flukeout commented on #697
Thanks @hannahkane - I'll update the homepage with this content.

[2015-08-24 17:31] humphd commented on #905
Fixed in https://github.com/mozilla/thimble.webmaker.org/pull/909

[2015-08-24 17:31] #905 closed

[2015-08-24 17:31] humphd commented on #904
Fixed in https://github.com/mozilla/thimble.webmaker.org/pull/909

[2015-08-24 17:31] #904 closed

[2015-08-24 17:32] humphd commented on #896
Fixed!

[2015-08-24 17:32] #896 closed

[2015-08-24 17:32] humphd commented on #837
Fixed in https://github.com/mozilla/thimble.webmaker.org/pull/909

[2015-08-24 17:32] #837 closed

[2015-08-24 17:33] humphd commented on #576
This is being done in https://github.com/humphd/brackets/pull/438

[2015-08-24 17:33] #576 closed

[2015-08-24 17:41] flukeout opened #912 "When signed in, https://thimble-beta.webmaker.org/ redirects to My Projects page"
Looks like if you just hit the base thimble URL on staging and production beta, you just go to the My Projects page when you're signed in. This is different than how it used to work - is this expected behaviour?

Now it looks like the username and project ID is in the address bar all the time ``https://bramble.mofostaging.net/user/flukeout/205``.

[2015-08-24 17:50] humphd commented on #912
All of this is correct.  In order to have things work in multiple tabs, you have to have the URL be pegged to a project, either an anonymous one or one you own.  In both cases we have to redirect you to something that identifies the project you're opening.

[2015-08-24 18:08] flukeout opened #913 "Project CSS overriding Details Bar CSS"
Note the styles of the text in the Details Bar.

![image](https://cloud.githubusercontent.com/assets/25212/9448220/558902f2-4a50-11e5-8201-588b01afa43c.png)

Solutions?
* Make a more 'defensive' stylesheet for the details bar with a lot of explicit values and important! declarations.
* Make sure the details bar styles load after the project styles.

[2015-08-24 18:19] humphd commented on #913
I'd do the first, since the project might inject styles dynamically via JS, and break whatever ordering you do.

[2015-08-24 18:21] flukeout opened #914 "Add the Project Remix URL to the Remix button href attribute instead of triggering via javascript"
Right now if you hover over the remix button, you get no information about what the URL is to remix something...

![image](https://cloud.githubusercontent.com/assets/25212/9448532/14cd0c52-4a52-11e5-916e-2b7bd2061e17.png)

The Remix is triggered via Javascript, let's change it so that we update the href attribute of the Remix button and treat it like a normal link.

[2015-08-24 18:40] #879 closed

[2015-08-24 18:46] #914 closed

[2015-08-24 19:16] gideonthomas opened #916 "Identify every thimble instance uniquely to avoid users from opening the same project in more than one tab"
Our lock system on projects that indicate which project is open or not depends on each tab updating the lock stored in localStorage after a set interval.

This is a bad idea as we run into quite a number of timing issues where a project is shown as locked, but actually isn't or vice-versa.

An e.g. is right here:
![time-based-checks](https://cloud.githubusercontent.com/assets/5816130/9449762/c8236

[2015-08-24 20:14] #885 closed

[2015-08-24 20:50] flukeout opened #917 "Ensure the most recent metadata for a published project is used in the remix bar"
In the editor...

![image](https://cloud.githubusercontent.com/assets/25212/9451628/aa32d8dc-4a64-11e5-8987-d48335a40ca6.png)

In the details bar after publishing...

![image](https://cloud.githubusercontent.com/assets/25212/9452059/0fd705b2-4a67-11e5-8b20-3d2f33ef1c8b.png)

Published project url: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/62/

[2015-08-24 20:57] humphd commented on #917
Looking at that page's markup, I see:

[code]

Both the old and new titles are in there, and the second one overrides.  Why is it double injecting?

[2015-08-24 20:59] humphd commented on #917
Actually, other stuff is repeated, too.  Here's the entire meta block:

[code]
NOTE that `data-remix-projectId` is also there twice, and with different values!

[2015-08-24 21:00] flukeout commented on #917
If it helps, this project was Unpublished - and immediately republished.

[2015-08-24 21:02] flukeout commented on #697
@hannahkane What about the bulleted copy in these sections...

![image](https://cloud.githubusercontent.com/assets/25212/9452384/be71dea2-4a68-11e5-83ef-4601c1b7ddd5.png)

[2015-08-24 21:06] hannahkane commented on #917
Could be user error. Maybe a c/p mistake?

[2015-08-24 21:14] hannahkane commented on #697
Keep Calm:
* How to design a poster
* Editing HTML content
* Editing CSS styles

Postcard:
* Editing HTML content
* Editing CSS styles
* Creating an interactive element with JavaScript

Comic Strip:
 * Editing HTML content
 * Finding Creative Commons-licensed images
 * Editing CSS styles

[2015-08-24 21:30] flukeout commented on #697
Shoot, there is also the copy underneath the thumbnail, as seen here.

![image](https://cloud.githubusercontent.com/assets/25212/9453054/a1932008-4a6c-11e5-8866-c9adef5e8be2.png)

**Note** - I added the bulleted copy you listed above already.

[2015-08-24 21:33] hannahkane commented on #697
Change the design of this poster to make it your own

Add your own content to this interactive postcard

Create your very own version of this comic strip

[2015-08-24 21:55] flukeout commented on #868
* [ ] Make the gear icon clickable area bigger, not just on the image itself.

[2015-08-24 22:10] flukeout commented on #697
@hannahkane I've made all the requested changes, can you please QA http://flukeout.github.io/thimble-home/

[2015-08-24 22:18] hannahkane commented on #697
Everything looks good except the "Remix this project" button on the comic strip is going to the wrong make.

Also, on my browser, the title of that make wrapping to a second line, pushing the entire section down. Can we just call it "Current Events Comic"?

[2015-08-24 22:22] flukeout commented on #697
Updated.

[2015-08-24 22:26] hannahkane commented on #697
woohoo! +1

[2015-08-25 03:02] chrislarry33 commented on #697
Looking AWSM!

[2015-08-25 03:20] humphd commented on #916
I've been thinking about this tonight, and I think I have an answer.  We can't rely on `localStorage` for the lock, because it doesn't provide atomic operations, and you'll eventually have a race like the one above.  I've been trying to decide if we could do what we need with inter-tab communication, and everything has problems.

What we really need is a time-delta based lock file, and we actually

[2015-08-25 15:07] sedge commented on #917
@flukeout Did you copy/paste the published markup for this project? That would explain this behaviour.

[2015-08-25 16:01] flukeout commented on #917
@sedge Ah yes - that's exactly what happened.

[2015-08-25 16:21] humphd commented on #917
We're going to solve this by making sure the script that runs uses only the *first* set of metadata in the head.

[2015-08-25 16:22] humphd commented on #916
From discussions today, here's some more thoughts:

* Thimble client starts, you either generate a UUID or get a UUID from sessionStorage.  Each tab has a UUID.
* Look at the project root
    * If it doesn't exist, you make it, and you own it.  And you write your client UUID to the metadata as "lastClient"
    * If it does exist, you look at the client UUID, and if it's yours, you do nothing, you

[2015-08-25 16:43] #917 closed

[2015-08-25 16:56] gideonthomas commented on #902
https://github.com/mozilla/thimble.webmaker.org/commit/338f15676aafb44adfded5e9474653a4171d4780 and https://github.com/mozilla/thimble.webmaker.org/commit/3f483e0a008bc66264fee6c66a5465e73239209a seem to have fixed this! We can re-open if this happens again!

[2015-08-25 16:56] #902 closed

[2015-08-25 17:17] flukeout commented on #697
@humphd This is good to go...

Latest version - http://flukeout.github.io/thimble-home/
Repo - https://github.com/flukeout/thimble-home

[2015-08-25 17:26] flukeout commented on #697
Actually - let me make sure the 404 page is good to go before we implement.

[2015-08-25 18:19] gideonthomas commented on #774
Fixed completely in https://github.com/mozilla/thimble.webmaker.org/commit/915da7532ea4b297b8de1b3315af83860f099ee3

[2015-08-25 18:19] #774 closed

[2015-08-25 18:19] gideonthomas commented on #765
This works now

[2015-08-25 18:19] #765 closed

[2015-08-25 18:36] humphd commented on #697
@sedge is going to land what @flukeout has done so far in the Thimble node server, and serve it from the `/` route, updating the current `/` route to be `/edtitor`.

We still need to have @flukeout add a dropdown to the homepage for the authenticated state.

@hannahkane is going to update the FAQ to indicate how to access the old Thimble/makes.

[2015-08-25 18:48] gideonthomas commented on #883
@flukeout is this still an issue?

[2015-08-25 19:01] humphd commented on #912
We're changing this to be the homepage, and `/projects` for your project page.  Closing.

[2015-08-25 19:01] #912 closed

[2015-08-25 19:01] humphd commented on #884
Closing, we can't not do this and still support multiple tabs.

[2015-08-25 19:01] #884 closed

[2015-08-25 19:05] humphd commented on #869
I'm conducting some research here: https://twitter.com/humphd/status/636252594202124288.

[2015-08-25 19:14] hannahkane commented on #910
Thanks for this, @flukeout. I just watched my two tests, and left notes on the doc. No critical bugs, though there are some usability concerns we might want to address post-MVP.

[2015-08-25 19:24] flukeout commented on #883
@gideonthomas still is - are you guys running the full thimble locally without this issue?

[2015-08-25 19:49] humphd commented on #864
@sedge and/or @jbuck, can one of you fix this cross-origin issue?  Perhaps http://kennethjiang.blogspot.ca/2014/07/set-up-cors-in-cloudfront-for-custom.html ?

[2015-08-25 19:50] flukeout opened #921 "Add "Try the new Thimble" banner to the old Thimble."
@hannahkane Here's a take on this, let me know your thoughts.

![image](https://cloud.githubusercontent.com/assets/25212/9477518/c266e538-4b27-11e5-91da-24150938ebfd.png)

The message is dismissible via the small "x", but would come back on refresh.

Let's figure out the wording.

[2015-08-25 19:51] humphd commented on #848
I think this is fixed now, please re-file if you find other edge cases.

[2015-08-25 19:51] #848 closed

[2015-08-25 19:52] humphd commented on #846
The way we do uuid based anonymous projects now means that we always create a fresh project dir, so this won't be an issue any more, closing.

[2015-08-25 19:52] #846 closed

[2015-08-25 19:53] humphd commented on #845
We fixed a bug where Heroku was sleeping the server after a period of inactivity, then it would spin up the server again when you requested something.  I found it was as bad as 27s.  We've fixed it now, closing.

[2015-08-25 19:53] #845 closed

[2015-08-25 19:55] humphd commented on #799
We've fixed this.  Please file again if you find it problematic.

[2015-08-25 19:55] #799 closed

[2015-08-25 19:59] humphd commented on #749
This probably needs to happen in the `.env`, so I guess it's on @sedge or @jbuck?

[2015-08-25 19:59] #724 closed

[2015-08-25 20:02] humphd commented on #622
I think we're past the need for this, closing.

[2015-08-25 20:02] #622 closed

[2015-08-25 20:03] humphd commented on #601
We're discussing this in https://github.com/filerjs/filer/issues/363.

[2015-08-25 20:04] humphd commented on #581
We've done this now.  We could improve it later, but it's good enough for the moment.

[2015-08-25 20:04] #581 closed

[2015-08-25 20:11] humphd commented on #536
I think we're done with this for now, closing.  Let's open new bugs to improve what we have as we go.

[2015-08-25 20:11] #536 closed

[2015-08-25 20:12] humphd commented on #519
@flukeout, @hannahkane this is what we had before.  Feel free to close this, but fyi.

[2015-08-25 20:20] #565 closed

[2015-08-25 20:28] hannahkane commented on #921
Design and behavior is great.

/cc @KevZawacki for copy edits. My suggestion would be something like "We've launched a new version of Thimble! Want to [take it for a spin]?" I don't know that this is the right place to describe the future migration, but I defer to @KevZawacki.

[2015-08-25 20:36] flukeout commented on #519
Closing this as we're working on a simpler solution in #921

[2015-08-25 20:36] #519 closed

[2015-08-25 22:02] KevZawacki commented on #921
I think it's a good idea to address migration in the banner -- users often ask about it on social and help@, so it's a nice way to get ahead of those questions.

The copy in the banner above works for me. (But should rearrange to "...migrating over all old projects.")

Can we include a specific date for the shutdown/migration?

[2015-08-25 22:14] hannahkane commented on #921
We don't have a specific date, unfortunately. Also, can we avoid saying "old" projects? What about, "migrating existing projects to the new version"?

[2015-08-25 23:22] hannahkane commented on #685
We have our starter makes and kits; though polishing is still allowed. :)

[2015-08-25 23:22] #685 closed

[2015-08-25 23:23] hannahkane commented on #567
FAQs are finalized: https://docs.google.com/document/d/1wQf9WpG8ouJaVNTEdGnOgH9rGBJijWmM-3KRrzfJOoM/edit#heading=h.xvjc686dxh8a

Just need to get them onto the Support forums, which I'm not sure how to do. Emailed SUMO staff to find out.

[2015-08-26 12:33] KevZawacki commented on #921
+1. So, "There's a new Thimble! Soon we'll be shutting down this version and migrating over existing projects. Try out the new Thimble!"

[2015-08-26 14:24] humphd commented on #858
@flukeout is there more to do on this one, or is it covered by your other UI fixes?

[2015-08-26 14:43] humphd opened #924 "Horizontal alignment of editor toolbar wrong on startup"
![screenshot 2015-08-26 10 39 21](https://cloud.githubusercontent.com/assets/427398/9496600/1bfa7184-4bdf-11e5-8fa4-506b0aaed121.png)

A recent CSS change in Thimble has broken how the editor toolbar looks on startup, making it bump down to the next line.  Once Brackets finishes loading, it fixes itself; but looks messy while we start.

@flukeout, can you fix?

[2015-08-26 16:03] jbuck commented on #864
@humphd You'll need to add the CORS headers to the thimble server, so this should be a small PR

[2015-08-26 16:09] sedge commented on #697
I'll be adding the 404 page too, for #682

[2015-08-26 16:11] flukeout commented on #682
@sedge the 404.html page in https://github.com/flukeout/thimble-home is what you need. Let me know if you have any questions.

[2015-08-26 16:16] sedge commented on #682
Perfect ^.^

The styles and images can be served from thimble.wm.o, but the actual source code will live in the S3 bucket.

[2015-08-26 16:39] flukeout commented on #924
@humphd It looks like this is happening because we're showing the file tray while Brackets is loading, which we weren't doing before, and the 'resize bars' code isn't firing. We can keep the file tray hidden until Brackets loads, in which case it should work fine.

[2015-08-26 17:25] flukeout commented on #913
@gideonthomas Are you able to publish locally? I'm unable to and it makes it hard to implement the changes from https://github.com/flukeout/thimble-home/commit/25e296bf80a0f3d99ac22a6ce9de4c8345b979ec

[2015-08-26 17:49] hannahkane commented on #567
OK, all set to make these changes after go-live on Monday.

[2015-08-26 18:48] #924 closed

[2015-08-26 18:55] flukeout opened #927 "Project name not persisiting"
I rename a project and see..
![image](https://cloud.githubusercontent.com/assets/25212/9502987/4840f0ec-4be9-11e5-9044-d708c7e46bbb.png)

Then I refresh and see..
![image](https://cloud.githubusercontent.com/assets/25212/9503000/5899e1f6-4be9-11e5-95cf-9dd93c4166e0.png)

On project https://thimble-beta.webmaker.org/user/flukeout/39

It shows up currectly in the project list however..

![image](htt

[2015-08-26 19:14] flukeout commented on #927
In addition, I can publish this...
![image](https://cloud.githubusercontent.com/assets/25212/9503476/fdbd3da2-4beb-11e5-9377-529f24599642.png)

But on refresh it shows as not published again...
![image](https://cloud.githubusercontent.com/assets/25212/9503482/0ad92ffa-4bec-11e5-8d77-b401caf1b920.png)

[2015-08-26 20:01] gideonthomas commented on #927
Project rename persisting: I can reproduce the error on staging but not prod.
Publish link vanishing: I can reproduce on both staging and prod.

I can't reproduce either locally :/

This issue is weird

[2015-08-26 20:51] flukeout commented on #541
Published version of the starting content is here
https://d157rqmxrxj6ey.cloudfront.net/flukeout/139/

The blank project contains 2 files
* An *index.html* file that contains...
[code]
* A *style.css* file with the following content
[code]

[2015-08-26 21:46] flukeout commented on #927
I've also noticed this bug in one of the usertests.

[2015-08-26 21:54] flukeout opened #930 "Editor "Stuck" after creating a New Project (via Usertesting)"
User attempted to create a new project and got stuck with Brackets not ever loading...

![image](https://cloud.githubusercontent.com/assets/25212/9507346/6d150e1c-4c02-11e5-888f-a4c9d78e5757.png)

Additionally, preceding this, the project rename feature wouldn't stick. Maybe they're related?

For reference, the URL in the screenshot is ``thimble-beta.webmaker.org/user/codex73/67``

[2015-08-26 23:33] flukeout opened #931 "Editor bar is out of place sometimes after a refresh."
Noticed during a usertest here...
![image](https://cloud.githubusercontent.com/assets/25212/9509036/2f9ef5c6-4c10-11e5-8fd8-661e855c5a03.png)

Might be some kind of error in the resize code. It resolves itself when you change the column widths.

[2015-08-27 13:11] humphd commented on #541
@sedge, I need the `env` for stating/prod updated to switch the default project: https://github.com/mozilla/thimble.webmaker.org/pull/929/files#diff-45473cb0daa25d5231f105558b5b7226R136, and then this can be closed (I've already landed the code changes).

[2015-08-27 13:14] humphd commented on #930
It's hard to know, but it could be a corrupt filesystem in the browser, similar to https://github.com/mozilla/thimble.webmaker.org/issues/861.

Let's discuss this one in standup today.

[2015-08-27 13:18] humphd opened #932 "this._underlay.remove() throws on resize after a popup menu was open"
Load Thimble, open a popup menu (hit the `+` sign), resize the browser window.

[code]

[2015-08-27 14:10] humphd commented on #931
I've seen this in another user testing video, too.  I've never been able to reproduce it, but it kind of looks like the problem we saw with the file tray being open on startup.  If you see this again, screenshot the entire window so we can see what's going on.

[2015-08-27 16:21] humphd commented on #927
I can't reproduce the rename/reload bug on staging or prod.

[2015-08-27 16:22] #704 closed

[2015-08-27 16:23] flukeout opened #935 "When adding a new file, it's hard to see where it went after you rename it."
If you have a project with a lot of files and you add a new file, it gets placed in the UI according to it's name (Untitled), then when you rename it, it jumps into a different place based on the alphabetical ordering. It's really easy to lose sight of this when it happens.

This can be solved by having the selected file highlighted in the UI. We already do this when a file is clicked, can we also

[2015-08-27 16:23] humphd commented on #927
The publish link vanishing, I can only hit on staging, prod is working fine for me.

We should probably get the 3 of us on appear and try to reproduce these.  There must be more steps one needs to do.

[2015-08-27 16:25] humphd commented on #863
![screenshot 2015-08-27 12 24 13](https://cloud.githubusercontent.com/assets/427398/9526319/a2f18736-4cb6-11e5-8bef-500613a1dcec.png)

Fixed by @flukeout's publish dialog restyling.

[2015-08-27 16:25] #863 closed

[2015-08-27 16:30] humphd commented on #935
See discussion in https://github.com/humphd/brackets/issues/435#issuecomment-134304465.  We need to do some surgery on the file tree in Brackets for this to work.

[2015-08-27 16:32] #822 closed

[2015-08-27 16:35] flukeout commented on #935
Noted, just keeping it here for later - it's a good case to consider when prioritizing improvements later.

[2015-08-27 16:55] sedge commented on #541
This is done. Closing

[2015-08-27 16:55] #541 closed

[2015-08-27 17:26] gideonthomas commented on #927
So this is definitely a cache issue where cloudfront is sending a cached version of the page (hence why we can't reproduce locally).

Here's a GIF of what's happening on staging:
![cache-issue](https://cloud.githubusercontent.com/assets/5816130/9527763/e0918bc4-4cbe-11e5-8c8d-c24dfd656efd.gif)

STR:
* Create a new project (you see the project title as "Untitled Project")
* Rename the project to so

[2015-08-27 17:34] #903 closed

[2015-08-27 17:35] flukeout opened #939 "User menu closes when it shouldn't."
There's a small gap between the menu and the hover area, if you mouse over it the menu closes unexpectedly.

![menu-hover-bug](https://cloud.githubusercontent.com/assets/25212/9528019/625b3906-4ca7-11e5-9002-f3158643e245.gif)

[2015-08-27 17:46] jbuck commented on #927
@gideonthomas is that page sending a Cache-Control header? If not, then add one and your problems should be solved

[2015-08-27 17:49] #697 closed

[2015-08-27 18:07] flukeout commented on #921
Okay - I'll make the changes and provide markup for @sedge to implement.

[2015-08-27 18:15] #861 closed

[2015-08-27 18:37] flukeout commented on #921
@sedge Here are the things...

Banner - http://flukeout.github.io/thimble-home/thimble-banner/
Assets - https://github.com/flukeout/thimble-home/tree/master/thimble-banner

Let me know if you have any questions or need help.

[2015-08-27 18:42] humphd commented on #930
I've landed a fix for the filesystem getting wedged.  If a user refreshes, it will fix it.  Let's open again if we see this happen.  I'll need more data to fix it, though, if it's not that.

[2015-08-27 18:42] #930 closed

[2015-08-27 18:46] #927 closed

[2015-08-27 18:50] #932 closed

[2015-08-27 18:52] #939 closed

[2015-08-27 19:31] #913 closed

[2015-08-27 19:42] flukeout opened #945 "Reduce horizontal space taken up by line numbers in the Editor."
See below.. that's a lot of space we're losing...

![image](https://cloud.githubusercontent.com/assets/25212/9531130/0ccb0770-4cb9-11e5-891f-8f8d098516d6.png)

[2015-08-27 19:54] flukeout opened #946 "File expand/collapse icon appearing extra-wide in Firefox"
Firefox..
![image](https://cloud.githubusercontent.com/assets/25212/9531421/b4876aa2-4cba-11e5-8341-642bd504e42e.png)

Chrome..
![image](https://cloud.githubusercontent.com/assets/25212/9531433/bf7ff546-4cba-11e5-8aa6-3a26b78978d3.png)

[2015-08-27 19:56] #864 closed

[2015-08-27 19:56] flukeout opened #947 "Bad collapsing of UI elements on the Preview bar when it's too narrow."
![image](https://cloud.githubusercontent.com/assets/25212/9531507/09c15370-4cbb-11e5-8977-24cb81b6401b.png)

Needs some better min-width styles applied.

[2015-08-27 20:13] flukeout opened #948 "Add a "Saving" or progress indicator to the Rename Project action."
Right now if you click Save here...

![image](https://cloud.githubusercontent.com/assets/25212/9531904/41321090-4cbd-11e5-9e1c-bb8d5dab0fb0.png)

...there's a brief pause of nothing and then the UI revers to "read-only" mode. We should add an indication that Thimble is "working". I recommend putting "Saving..." in the Button label and knocking down its opacity a bit.

[2015-08-27 20:16] flukeout opened #949 "[Production] When you unpublish a published project, and then publish it again - it 404s"
**Steps to reproduce**
* Create a new project
* Publish it
* View the project link, project is there
* Unpublish it
* View the project link, it's a 404
* Publish it again
* View the project link, it's still a 404

Reference project https://d157rqmxrxj6ey.cloudfront.net/flukeout/155/

Shows as Published in the UI
![image](https://cloud.githubusercontent.com/assets/25212/9531983/bd4203b6-4cbd-11e5-9

[2015-08-27 20:27] humphd commented on #574
IE can mostly load the app now, but still a bunch of brokenness, and Safari is just needing some UI tweaks:

![screenshot 2015-08-27 16 23 38](https://cloud.githubusercontent.com/assets/427398/9532261/8035be52-4cd8-11e5-8618-a559f3d2fc1d.png)

[2015-08-27 20:36] flukeout opened #950 "Homepage Sign Up & Log In links don't work after Signing Out"
Made a little screencap, after signing out, I'm trying to click them. Are we doing some kind of JS on these? Can we not hardcode their destinations?

![signout](https://cloud.githubusercontent.com/assets/25212/9532458/a384b36c-4cc0-11e5-8dda-a10d1c15473d.gif)

cc @sedge

[2015-08-27 20:53] flukeout opened #951 "Teaching kit yellow banner overlaps the Details Bar."
![image](https://cloud.githubusercontent.com/assets/25212/9532808/bed91818-4cc2-11e5-8e7d-8ea80d794d45.png)

Need to fix this by adjusting the positioning of the banner in the kits or removing it entirely. This kind of points out the problems with not using iframes. We'll see if it causes other problems in the future.

I can just make the style changes right in the teaching kit projects, so should

[2015-08-27 20:54] flukeout opened #952 "Teaching kit banner overlaps the Remix button when scrolled down."
![image](https://cloud.githubusercontent.com/assets/25212/9532860/051aefea-4cc3-11e5-96cc-8de72618dc4a.png)

Need to increase the z-index of the button so that it isn't overlapped by published content.

[2015-08-27 20:55] flukeout opened #953 "Missing image in Keep Calm teaching kit."
![image](https://cloud.githubusercontent.com/assets/25212/9532900/4dbfc306-4cc3-11e5-8035-6ea2ef0087dd.png)

https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/28/

[2015-08-27 21:08] humphd commented on #950
I'm seeing:

[code]

It's possible that the pre-loading of the resources for the editor is messing up the require module for the homepage?

[2015-08-27 21:09] hannahkane commented on #953
Added

[2015-08-27 21:09] #953 closed

[2015-08-27 21:10] flukeout commented on #953
Thanks @hannahkane

[2015-08-27 21:13] humphd commented on #945
Show/hide line numbers is just a pref you can toggle.  The code is in https://github.com/humphd/brackets/blob/bramble/src/editor/EditorOptionHandlers.js, and we could expose a way to call it from Thimble easily.

[2015-08-27 21:20] humphd commented on #950
I'm wondering if those errors are just cache issues, as I can't reproduce now.