[2017-04-05 17:47] alicoding commented on #1953
Based on my research when I went to meet the Arab community few years back that a lot of developers prefer the code editor to be similar to English one except for the user interface to be translated. When we tried to integrate those request there were some issue with codemirror at the time where some characters and the cursor is misplaced and I'm not sure if CodeMirror fixed those issue yet or not

[2017-04-05 17:49] humphd commented on #1953
@alicoding thanks for jumping in.  NOTE: I'm in no way assuming you'll fix this, just that you might have good insights (you clearly do, based on the above comment), and could share them here for others to understand the scope and nature of the problem.

[2017-04-05 18:02] humphd commented on #1931
I hit this bug today for the first time: `TypeError: e.getAutoCloseTags(...) is null` and then my browser just hangs with "Loading Project":

![screen shot 2017-04-05 at 1 36 25 pm](https://cloud.githubusercontent.com/assets/427398/24718712/fdfc2c90-1a04-11e7-8649-c9680aeb4f2f.png)

Here's what's happening:

* I am loading Thimble from staging, and it's using a new API defined in bramble.js (which

[2017-04-05 18:04] humphd commented on #889
@simon66 go for it.  NOTE: I'm changing this code a lot in https://github.com/mozilla/brackets/pull/659 which should hopefully land soon.  I'm just waiting on https://github.com/mozilla/brackets/pull/635 to merge first.

[2017-04-05 18:39] humphd commented on #1579
@simonwex I like the idea of figuring out a way to generate the tarballs on-demand somehow, and doing that with lambda or some other AWS magic.  We could evolve our current process a bit such that when we open a project, we hit some URL and it causes a tar stream to get started, and gets/writes all the projects from S3 instead of the db.

[2017-04-05 19:12] humphd commented on #1950
Fantastic!  Assigning to @gideonthomas.

[2017-04-05 19:15] humphd commented on #1947
Personally, I wouldn't choose to migrate to ES6 yet.  I think it puts a burden on our dev community, which is currently comprised of a lot of beginners, and in my experience, ES6 isn't as easy to learn/teach.  That won't always be the case, because it will come to be the standard we all use.  But that's not where we are yet.

[2017-04-05 19:35] humphd commented on #1800
adding @dsych to this bug.

https://www.youtube.com/watch?v=ziAShzxAVKY is a good video to watch about prettier.

[2017-04-05 20:25] simonwex commented on #1579
We can trigger lambda functions based on either a cloudfront/web trigger or an upload to S3. (or a host of other unrelated triggers) We can then bundle the output from the function and place it back in the same bucket/prefix on S3. There are already functions that do pretty much this, we can just modify them to our needs.

[2017-04-05 20:50] humphd commented on #1579
I wonder what the right workflow is here.  Currently, we send file changes (i.e., whole files vs. diffs) every so often.  Would we reproduce the tarball on every write to S3?  There could be tons of them, if I'm editing `index.html` for half an hour and it gets saved every min or so (see https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/constants.js).  Maybe that's O

[2017-04-05 21:22] humphd opened #1955 "Thimble Stress Test: HTML5 Games Workshop"
https://hacks.mozilla.org/2017/04/html5-games-workshop-make-a-platformer-game-with-javascript/ looks fun.  It also looks like something we *should* be able to support quite nicely.  The question is, do we?  I suspect we'll break on a few things.

Using this as a benchmark for what we should be able to handle is what I'd like to see happen in this bug.  It would be good to try this workshop with Th

[2017-04-05 21:40] simonwex commented on #1579
After a bit of digging, here's a more prescriptive way we should do it if we go the Lambda route.

We write a lambda function that takes a prefix (supplied + signed by publish API)
1. looks for a tar file; if it exists, skip to 4
2. collects all S3 keys at supplied prefix
3. streams all objects at those keys into a tar
4. streams the tar to the response object
5. streams the tar back to S3 if it d

[2017-04-05 21:42] flukeout commented on #1794
Okay, I'm working on this now and restructuring all of our event calls. Here's an example of a new style of call...

``analytics.event({ category : "Editor UI", action : "Toggle JavaScript", label : "Enabled" });```

**Differences**
* Each call will set its own Category, which will include:
  * **Editor UI** - everything related to the editor
  * **Project Actions** - deleting, creating & renaming

[2017-04-05 22:12] flukeout opened #1956 "Add hover state to Homepage Gallery Remix button."
Doesn't have one currently...

![image](https://cloud.githubusercontent.com/assets/25212/24729264/3901e50c-1a12-11e7-9cbb-22b8da47d45b.png)

[2017-04-05 22:44] MargarytaChepiga commented on #1596
@humphd  Here is the PR: https://github.com/mozilla/brackets/pull/693

[2017-04-05 23:53] omytryniuk commented on #1956
@flukeout  I will fix that.

[2017-04-06 01:30] humphd commented on #1918
@flukeout or @gideonthomas, can you give some guidance to @rkgupta21 on how to get started with this please?

[2017-04-06 01:41] omytryniuk commented on #1956
Here is the [fix](https://github.com/mozilla/thimble.mozilla.org/pull/1958). I forgot to include Fix # in a commit message and as a result, the commit does not link to the issue.

[2017-04-06 13:18] #1920 closed

[2017-04-06 15:55] bbhagwandeen commented on #1926
I have one more issue to work on for my class. Can i do this, too?

[2017-04-06 16:05] humphd commented on #1926
@bbhagwandeen this isn't a great fit for class projects, it's more of an administrative thing.

[2017-04-06 16:07] #1658 closed

[2017-04-06 16:25] TheoChevalier opened #1960 "Typo in autocomplete button label"
As noticed by a localizer, this landed with a typo: https://github.com/mozilla/thimble.mozilla.org/commit/274f5526a33c52d17d6d95a9dd9d1249591c42d6#diff-aef074d5302a863440aa549e7a2fd981R63

Autcomplete code > Autocomplete code

In this case we can keep the same string ID and just fix the typo, since the meaning remains the same

CC @humphd

[2017-04-06 16:26] humphd commented on #1960
@hkirat can you fix this please?

[2017-04-06 16:29] TheoChevalier commented on #1953
Thanks guys for the background here! That’s more or less what I was suspecting

[2017-04-06 16:48] #1596 closed

[2017-04-06 16:50] humphd commented on #1279
Merged in Brackets https://github.com/mozilla/brackets/pull/693

[2017-04-06 16:50] #1279 closed

[2017-04-06 16:55] flukeout commented on #1956
Thanks, and you can just add the ``Fixes #blah`` to the PR description when submitting the PR (or anytime after really).

[2017-04-06 16:55] #1956 closed

[2017-04-06 17:30] #1794 closed

[2017-04-06 17:58] gideonthomas commented on #1918
sure!

Your change needs to happen in the file that you mentioned. You're gonna need to write a check something like this: https://github.com/mozilla/thimble.mozilla.org/blob/master/views/editor/projects.html#L39-L42 to determine what needs to be shown in the `h1` tag. As far as localization is concerned, refer to https://github.com/mozilla/thimble.mozilla.org/wiki/Localization#strings and https:/

[2017-04-06 19:43] humphd commented on #1960
Fixed!  Thanks for filing @TheoChevalier, and thanks for fixing @hkirat.

[2017-04-06 19:43] #1960 closed

[2017-04-06 20:50] humphd commented on #1930
See also https://github.com/mozilla/thimble.mozilla.org/issues/1931

[2017-04-06 21:32] flukeout opened #1962 "Language menu is too tall, runs off page."
The language dropdown has a ton of languages in it now, and it's getting too long for my screen.

**We could either**

* Give it a max-heigh or something and have it scroll
* Rearrange into 3 columns
* Something else...

<img src="https://cloud.githubusercontent.com/assets/25212/24776462/beb33d18-1ad5-11e7-9dc8-8a2eb09c7e4a.png" width="350" />

[2017-04-06 21:33] flukeout opened #1963 "Blank language option in Languages menu."
![image](https://cloud.githubusercontent.com/assets/25212/24776518/fa36da34-1ad5-11e7-8c4a-033868ab355d.png)

[2017-04-07 02:55] omytryniuk commented on #1956
Thank you for the advice! I have renamed the PR title and it did not work, but I tried and it works if I update description for example.

[2017-04-07 14:58] cgsingh commented on #1962
I'd like to take this on.

[2017-04-07 15:03] humphd commented on #1962
Go for it @cgsingh.

[2017-04-07 15:54] simon66 commented on #1954
Hi @humphd,

You're right, I saw an issue similar to this somewhere (I'll link it here if I can find it).
Mind if I tackle this 👍

[2017-04-07 15:59] bkim49 commented on #1948
`I would like to work on this bug! Thank you @flukeout

[2017-04-07 16:04] bbhagwandeen commented on #1948
@bkim49 im working on it still

[2017-04-07 16:07] bkim49 commented on #1928
I am wondering how this bug needs to be fixed. If the space is present in the file name, should the thimble make it so that it adds a hyphen (-), underscore ( _ ), or allow spacing? @humphd

[2017-04-07 16:41] bkim49 commented on #1963
Hello, I was looking into this bug. Apparently the missing language name is Tajik according to google.

![image](https://cloud.githubusercontent.com/assets/17182037/24809504/b41fdb96-1b8d-11e7-91a0-ebdca109c449.png)

I also looked at the userbar.html, and it uses javascript code to generate the language texts while it loads.
There was #1950 issue that is related to this bug. Maybe it could be some

[2017-04-07 16:41] bkim49 commented on #1950
#1963 is related to this bug. Please take a look! Thanks!

[2017-04-07 16:45] flukeout commented on #1543
Hi @DorelBarbu the UI I mocked up above should go into the Publish dialog, something like this...

![image](https://cloud.githubusercontent.com/assets/25212/24810294/c55380dc-1b76-11e7-8c13-86a21ed5a9fa.png)

So, when a user project is published, there is a little UI with two tabs that has two options:

* Display the link to the published project
* Display the embed code that they can use to add i

[2017-04-07 16:49] MargarytaChepiga commented on #1955
I want to work on this!

[2017-04-07 16:53] JohnEJames commented on #1925
Hey I would like to work on this bug!

[2017-04-07 16:53] humphd commented on #1925
@ryanwarsaw I'm going to give this to @JohnEJames, who needs a bug for his release.  Sorry to steal it from you, but I hope you're happy to work on other stuff.  You might be interested in reviewing this.

[2017-04-07 16:59] MargarytaChepiga commented on #1681
@humphd, If @Mordax is not interesting anymore, I would love to work on this bug.

[2017-04-07 17:01] MargarytaChepiga commented on #1952
Can I work on this bug? @humphd

[2017-04-07 17:11] flukeout opened #1966 "Improve UX of clicking small icons in the preview & editor bars."
Check out the screengrab below. I click the icon, then move the mouse only a few pixels, which causes the ``<img />`` used in the icon to star dragging, and also stops my click from registering.

![icon-drag](https://cloud.githubusercontent.com/assets/25212/24811212/e7c29768-1b79-11e7-94de-1fefa3cd637d.gif)

This leads the UI to sometimes not doing what you wanted, which is annoying. We should fix

[2017-04-07 18:17] gideonthomas commented on #1950
@TheoChevalier, I think I need your help here. We need the native name and english name of the language and if possible, would https://product-details.mozilla.org/1.0/languages.json also be able to include that?

[2017-04-07 18:26] gideonthomas commented on #1950
Blocked on https://github.com/mozilla/node-webmaker-i18n/pull/57

[2017-04-07 18:38] MargarytaChepiga commented on #1955
@humphd  Can I work on this?

[2017-04-07 18:38] humphd commented on #1955
Yes, go for it @MargarytaChepiga

[2017-04-07 18:51] humphd commented on #1887
@Shank09 are you actually doing this?  If not, @simon66 says he'd like to do it.  Let me know ASAP

[2017-04-07 18:55] humphd commented on #1930
@simon66 is going to take this.

[2017-04-07 19:12] flukeout opened #1967 "Update site: Add Contribution + Features pages"
I think we can improve our homepage by:

* Showcasing our contributors
* Talking about it's open-source roots & community
* Listing community-built features
* Including information on how to get involved

We can do this with a two tab system maybe, leaving our current homepage as the 'default' tab and adding a "Contribute" or "Get Involved" tab.

We can also use this opportunity to update our styl

[2017-04-07 19:15] flukeout commented on #1967
I'll get a wireframe goign, and we'll jam on it next week.

[2017-04-07 19:21] humphd commented on #1954
@simon66 and I confirmed that this was fixed when I landed the requirejs extension bundling stuff.  Closing.

[2017-04-07 19:21] #1954 closed

[2017-04-07 19:32] Shank09 commented on #1887
@humphd Sure let him take it. I have another bug for Release 0.4, which im currently working on

[2017-04-07 19:37] simon66 commented on #1887
Thanks for the quick reply @Shank09. I'll start working on this asap :+1:

[2017-04-07 19:45] flukeout opened #1968 "Explore Kinto Use-Cases & Integration"
Kinto is mozilla's JSON storage thing and could be a cool way to allow Thimble users to have a way to store persistent data in their projects for things like...

* Little Blogs
* To-do Lists
* Collect data with forms
* etc...

We can read more about it here http://docs.kinto-storage.org/en/stable/

**Some ideas**
* Create a public bucket for all Thimble projects and have some starter projects that

[2017-04-07 20:28] kristinashu commented on #1967
Cool, maybe we can do some brainstorming and sketching first

[2017-04-07 21:17] flukeout commented on #1967
Yeah, I'll hold off on wireframing until then. Dropping my logo explorations in here though....

<img width="835" alt="image" src="https://cloud.githubusercontent.com/assets/25212/24820230/dc89dd66-1b9c-11e7-8f88-03881bca1f4f.png">

[2017-04-07 23:03] ryanwarsaw commented on #1752
I've noticed that I'm falling behind in tickets, I'm temporarily un-assigning myself from this one as well just in-case someone else wants to take it. I over-estimated the amount of free time I thought I was going to have in regards to recent events, I apologize for this. Hopefully I'll be back to regularly schedule programming by next month 🤞

[2017-04-07 23:05] ryanwarsaw commented on #1599
This ticket is available for anyone who is interested in fixing it, I don't think I'm going to be able to get to this for at least the next couple of weeks, so I'm un-assigning myself.

[2017-04-07 23:07] ryanwarsaw commented on #1925
@humphd No problems at all, I apologize for the ridiculously long delays and my recent absence, I'm hoping things will return to normal in the next 4-6 weeks. Cheers.

[2017-04-07 23:37] cgsingh commented on #1966
Well, I'm not committing to this issue just yet, but I do have have an idea I'll implement if you think it's acceptable (otherwise I'll stay on the outskirts for now and let someone else take a jab at it, but I'll come back if I have another idea if no one else takes this by then). Anyway, my first idea involves the least amount of coding. Pretty much, make the click events `mousedown` and set the

[2017-04-08 14:11] dsych commented on #1952
@MargarytaChepiga @humphd this is part of my previous release.

[2017-04-08 18:46] humphd commented on #1752
Sounds good.  @flukeout one thing to ponder, based on your comments in another email: should we ponder dropping auth completely?

[2017-04-08 18:48] humphd commented on #1681
@MargarytaChepiga OK, go for it.

[2017-04-08 19:37] humphd commented on #1928
Try not doing any encoding and see what happens.  We might be fine with that, or we might need to just replace `%20` with `' '`.

For sure you can't add or use a hyphen or underscrore--the filename would be wrong.  The issue here is that it's looking for whatever path you give it, so if you encode to %20, it looks for that.

[2017-04-08 19:47] humphd commented on #1952
@MargarytaChepiga I think @dsych is tackling this, based on his earlier work.

[2017-04-08 19:51] ryanwarsaw commented on #1752
That would probably put us in the wrong direction strategically, if our goal is growth and getting Thimble into the hands of more people. Along with that we're going to deal with exploitation and abuse, and authentication gives us other tool in the tool box to help combat this stuff.

[2017-04-08 19:57] humphd commented on #1752
RE: not having auth, consider what Glitch is doing: https://glitch.com/faq where they say:

So you could allow people to publish without auth, but maybe it goes in a bucket we wipe every few days?

cc @flukeout

[2017-04-08 20:18] ryanwarsaw commented on #1752
If we remove auth completely, then how can people make sure their projects last longer than a couple of days?

[2017-04-09 19:58] simon66 opened #1972 "Vagrant fails to setup vm.network"
Operating System: Windows 10 (64bit)
Vagrant version: 1.9.3
node version: 6.10.0
npm version: v3.10.10

This issue was first found by @Gudu4Real.
When running `vagrant up` for the first time, the installation fails and vagrant complains that `port 3500` is not available (even though that port is free).

![screen shot 2017-04-09 at 3 30 37 pm](https://cloud.githubusercontent.com/assets/1103528/2484

[2017-04-09 20:22] simon66 commented on #1972
I applied this fix on @Gudu4Real machine and vagrant continued the installation without a hitch.

https://github.com/simon66/thimble.mozilla.org/commit/2399e30b13fce9ee271a1421b20c02053b8ab4a7#diff-23b6f443c01ea2efcb4f36eedfea9089

Looking at Vagrant documentation, I found this:

host_ip (string) - The IP on the host you want to bind the forwarded port to. If not specified, it will be bound to eve

[2017-04-09 20:38] lkisac commented on #1804
@Pomax  I checked the project for any kind of html validation - is there already some type of handler for validating html, or would this be an entirely new feature?

[2017-04-10 15:15] simon66 commented on #1887
Just to recap,
Should a "warning" popup only when a file is being overridden? Or should it be shown every time something is `dragged & dropped`?

Here's the message we can show the user:

"Are you sure you want to import {0} into your project?
This process is irreversible. If unsure, hit Cancel

<Cancel> <Ok>"

Where {0} is the file/zip name.

[2017-04-10 16:25] humphd commented on #1887
I think we should do something like:

[2017-04-10 16:46] dsych commented on #1952
@flukeout did you have a chance to decide what is the better way to warn user about the absence of index.html?

[2017-04-10 16:55] flukeout commented on #1952
Hey @dsych - not yet, BUT - please go ahead and start on this. We'll assume that we need two things:

* A class on the publish dialog, something like ".no-index"
* A div with an error message in the publish dialog

If you can start and get those things into a PR, then I can finalize the styling (and assist later by making a PR against your branch).

I guess optionally, we can think about disabling

[2017-04-10 17:03] flukeout opened #1973 "Consider having "Archived Projects" instead of a straight-up delete."
Have been seeing more emails lately about missing projects. There's a chance that people are accidentally deleting their projects, and there's no way to get them back unfortunately. Maybe we need to put them into an archived state (in another tab on the Your Projects page) and then just clear them out after a few days / weeks, or just have them hang out until they are fully deleted.

[2017-04-10 17:58] humphd opened #1974 "Light theme in Brackets doesn't highlight all the way across the filetree"
![screen shot 2017-04-10 at 1 55 47 pm](https://cloud.githubusercontent.com/assets/427398/24875288/a01ce714-1df5-11e7-8f72-0b881a4762ee.png)

This actually happens in both themes, but it's most noticeable in the light theme.  We have an area where the scrollbar goes that doesn't get covered, and it looks odd.

[2017-04-10 19:15] rkgupta21 commented on #1974
I would like to work on this issue.

[2017-04-10 19:17] humphd commented on #1974
Go for it.  I took that screenshot on Chrome on macOS, in case it matters.

[2017-04-10 19:53] simon66 commented on #1887
Perfect! I like the idea.
The current message works fine for single file imports but when an user imports a .zip file, there might be multiple files that could be overridden. So I had this in mind.

If only a single file is being overridden, I'll use this message:

Where {0} is the file name.

And for multiple overrides, I'll use this message:

Where {0} is the archive name.

[2017-04-10 19:55] humphd commented on #1887
I don't think you can separate it out like this, since you'll get `EEXISTS` errors as you try to write the files one-by-one.  Just deal with it at the individual file level, and people can choose.  I might want some, but not all of the files in a zip to overwrite.  This gives the user a choice.

[2017-04-10 21:08] Pomax opened #1975 "can't run Thimble due to odd CORS issues"
I'm seeing the following when I try to run bramble (rebuilt) with commit https://github.com/mozilla/brackets/pull/701 and thimble off of current master with https://github.com/mozilla/thimble.mozilla.org/pull/1970 merged on top. Vagrant is up, brackets is running on post 8000.

The errors I'm seeing on the homepage are:

![image](https://cloud.githubusercontent.com/assets/177243/24882785/21259896-

[2017-04-10 21:13] Pomax commented on #1975
Apparently there was another server process running on the same port (django). I have no idea why http-server did not signal a port collision, but there you go... that's apparently possible

[2017-04-10 21:13] #1975 closed

[2017-04-10 21:29] flukeout opened #1976 "Image Viewer: Transparent background images look bad when using Dark Theme"
The dark background in the image viewer makes it hard to see transparent images.

![image](https://cloud.githubusercontent.com/assets/25212/24883363/6e3c4dda-1df9-11e7-9829-bce7562302b8.png)

There is a checkered pattern underneath the image that is probably transparent and is letting the black color through. We should give the area underneath the image a white background always, despite what them

[2017-04-10 21:52] flukeout commented on #1976
Actually, it looks like there are different background images set behind the preview image that change depending on the theme.

[2017-04-10 22:12] bbhagwandeen commented on #1976
I'd like to try this

[2017-04-10 22:17] flukeout commented on #1976
Right on, please go ahead @bbhagwandeen

[2017-04-10 22:20] flukeout commented on #1974
Interesting - it's not happening for me, nor have I noticed it while working on the themes. I wonder what's causing it. Anything special about your setup. Was the gap there right away @humphd ?

![image](https://cloud.githubusercontent.com/assets/25212/24885031/245ad134-1e01-11e7-9e5d-0aaa6d493dfc.png)

[2017-04-10 22:26] humphd commented on #1974
![highlight-bug](https://cloud.githubusercontent.com/assets/427398/24885208/3324f11c-1e1b-11e7-92f5-e24c5c9538a3.gif)

It's related to the scrollbar, and if you don't have enough files to need it, it doesn't happen.  Shrink your window.

[2017-04-10 22:43] humphd commented on #1459
![screen shot 2017-04-10 at 6 29 56 pm](https://cloud.githubusercontent.com/assets/427398/24885610/6fdd0e62-1e1d-11e7-8bce-b1719ffa0322.png)

I got Thimble + Brackets to load 100% offline today for the first time!  There are a number of things I need to improve, but it's going to be doable.  I'll start a PR soon.

[2017-04-11 01:04] amitsin6h commented on #1976
Hey i want to work on this bug

[2017-04-11 01:05] amitsin6h commented on #1966
Hey i want to work on this bug

[2017-04-11 01:07] amitsin6h commented on #1930
can i work in this bug

[2017-04-11 01:19] humphd commented on #1930
@amitsin6h the comment above yours already says it's being worked on by @simon66.  Take a look at the bugs that don't have Assigned to Contributor already in their labels.

[2017-04-11 01:19] humphd commented on #1976
@amitsin6h same story here, already claimed right above you.

[2017-04-11 04:02] bkim49 commented on #1928
So, the problem with this issue is that when a user selects the URL hint with spaces in between, it adds "%20" between spaces. I tried removing the encodeURI() like you suggested @humphd  and it works perfectly. I used other characters to test, and it seems like it is working without a flaw.

![image](https://cloud.githubusercontent.com/assets/17182037/24892217/dc2b5238-1e48-11e7-9b3c-f85b2a55a66c

[2017-04-11 16:31] flukeout opened #1977 "Auto-complete toggle doesn't disable auto-complete anymore."
The auto-complete toggle doesn't seem to affect the autocomplete feature anymore, which is always on, this is a screenshot after disabling it and starting to type...

<img src="https://cloud.githubusercontent.com/assets/25212/24919425/75d9ff20-1e98-11e7-94a5-bfb78a6f692c.png" width="340" />

cc @hkirat any ideas?

I followed the steps at the end of this issue here - https://github.com/mozilla/brac

[2017-04-11 16:38] flukeout opened #1978 "CommandManager.js & Menus.js errors in console"
I'm seeing these every time I load a project, and I'll tell ya, I don't like it and it's making me worried:

![image](https://cloud.githubusercontent.com/assets/25212/24920025/83f5739e-1e9a-11e7-86e2-5ed6858b0758.png)

I'm the latest master branch of both Thimble & Brackets.

[2017-04-11 16:42] flukeout opened #1979 "Console error when switching to Image Viewer"
![image](https://cloud.githubusercontent.com/assets/25212/24920166/1b576c24-1e9b-11e7-888f-7775de9cbe9f.png)

On latest master branch in brackets, click on an image in the file tree and you should see the following error.

[2017-04-11 16:44] flukeout commented on #1979
Okay looks like this is resolved by running ``npm run localize``. But then there are tons locale files that we have to ``unlocalize`` - is there a way to have these localization files be built without having to do that step?

[2017-04-11 16:48] flukeout opened #1980 "Unable to select / highlight colors in Image Viewer"
See below, this is me trying to select the colors so I can copy & paste them, it's not working!

![image-viewer-select](https://cloud.githubusercontent.com/assets/25212/24920443/0e455b44-1e9c-11e7-82d1-d78c60958739.gif)

@omytryniuk any ideas on this one? You worked on it last so maybe you have some insight. Cheers!

[2017-04-11 16:48] simon66 commented on #1972
@humphd said I should ask you about this @Pomax and what you think about this fix.

[2017-04-11 16:55] simon66 commented on #1930
Hey @flukeout, can we chat about this :)

[2017-04-11 17:32] flukeout commented on #1980
It works on https://bramble.mofostaging.net/ though. Which should reflect the latest master branches, right @humphd @gideonthomas ?

[2017-04-11 17:39] flukeout opened #1981 "Image viewer doesn't show image details unless "npm run localize" is run first."
This seems weird, the Image Viewer needs ``npm run localize`` to be run every time, which then creates all the localization files that you have to ``unlocalize`` later. We're not supposed to commit these files right, shouldn't they be built automatically somehow at this point?

cc @gideonthomas

[2017-04-11 17:49] #1980 closed

[2017-04-11 17:49] #1979 closed

[2017-04-11 17:50] #1978 closed

[2017-04-11 19:31] flukeout commented on #1968
**Next-up**

* Come up with some concrete examples of apps we'd like to start with
* Figure out how we want to handle permissions
  * How do we handle a blog for example once it's published
  * How do we prevent (or make it harder to) delete or modify the author's work
* Figure out our expectations about data privacy & persistence, working assumption is that...
  * Data is public and not persisten

[2017-04-11 19:42] flukeout commented on #1968
Also, there's a cool interface here for viewing Kinto data:
https://kinto.github.io/kinto-admin/

[2017-04-11 20:53] flukeout commented on #1968
Built a basic to-do list backed by Kinto
* https://thimbleprojects.org/flukeout/250660/

[2017-04-11 22:47] flukeout commented on #1967
Okay, @kristinashu and I worked through some of the content we'd like to show on the site, here's the related doc:

https://docs.google.com/document/d/1ffSVUJ40-c403x9at8zyWtnH51SYTkYQVOVH-FIulhk/edit

**TLDR**
* Site will have three sections
  * Get started (current homepage)
    * Intro & Gallery
  * Features
    * List of cool features with animated gifs
  * Get Involved
    * Explanation of op

[2017-04-11 23:23] jgmac1106 commented on #1967
Should we wait on new logo until zilla is released or is that thimble name
in zilla?

I can help with any content on the three tabs.

On Tue, Apr 11, 2017, 6:47 PM Luke Pacholski <notifications@github.com>
wrote:

[2017-04-11 23:38] flukeout commented on #1967
Yeah, the mockup I made is using the official type faces and probably very close to what we'll end up running with. We'll have to find another way to include the current Thimble icon/logo - it doesn't work well within the new brand. We'll see.

Cool, thanks for the offer, I think tomorrow I'll have a better idea of the skeleton layout for the pages so stay tuned!

[2017-04-11 23:57] gideonthomas commented on #1917
yeah pretty sure we don't use it anywhere

[2017-04-12 00:00] #1977 closed

[2017-04-12 00:02] gideonthomas commented on #1898
cc @simonwex to help figure out how to get Facebook to resolve this (I can't find a link to contact them directly)

[2017-04-12 00:09] humphd commented on #1930
FYI, I've just landed the Brackets backend portion of this in https://github.com/mozilla/brackets/pull/691, which adds the events we'll need from Brackets.  I'm working on doing the same thing in Thimble in another PR I'll put up soon.

[2017-04-12 00:11] humphd commented on #1978
Dupe of https://github.com/mozilla/thimble.mozilla.org/issues/1862, also being fixed in https://github.com/mozilla/brackets/pull/680.  cc @dangkhue27

[2017-04-12 00:12] gideonthomas opened #1983 "Ad blocker breaks everything locally"
uBlock origin seems to block the analytics.js script from loading which in turn breaks require.js and stalls the entire app from loading. Weird thing is that this only happens locally while staging and production load fine. Not sure what's going on, but here's what I see:
<img width="1439" alt="screen shot 2017-04-11 at 8 04 10 pm" src="https://cloud.githubusercontent.com/assets/5816130/24935896/f

[2017-04-12 00:15] humphd commented on #1981
The work that @dangkhue27 is doing in https://github.com/mozilla/brackets/pull/680 will make this better.  Our localization stuff depends on a build step, there's no way around it.  Automating it is the only way I can see.

[2017-04-12 00:15] #1981 closed

[2017-04-12 00:16] gideonthomas commented on #1981
@humphd does the imageviewer depend on any l10n strings that we generate (i.e. did we land code in the imageviewer that uses a new string)? If not, it shouldn't break.

[2017-04-12 00:19] humphd commented on #1930
@flukeout and @simon66: here are some thoughts for you about what I think this needs.

Both Brackets and Thimble are each going to have offline capabilities.  In both apps, we are going to know 2 things:

* when the code becomes available to run offline (i.e., it's been cached)
* when there are updates to the code in the offline cache, and the user should (possibly) refresh

There is no telling wh

[2017-04-12 00:22] humphd commented on #1928
@bkim49 what happens in the live preview with these filenames?  What about if you publish?  Do they all still work?

This is looking great, hopefully it will all work.  Let me know when you've tested this, and you should open a PR with your changes.

[2017-04-12 00:24] humphd commented on #1981
Yeah, @flukeout had him add `(width)` and `(height)`.

[2017-04-12 00:28] gideonthomas commented on #1981
ah I see

[2017-04-12 00:42] humphd commented on #1930
I'm starting the offline work for Thimble in https://github.com/mozilla/thimble.mozilla.org/pull/1984

[2017-04-12 02:23] evantsyferov commented on #1797
I done some research on the issue and have found that almost every case for errors ends up calling: next(HttpError.format(err, req));  This calls the static format(error, request) function in this [file](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/lib/http-error.js)
  I am confused on were I can get code on the next function to see what it does.

[2017-04-12 02:32] humphd commented on #1797
@cadecairos, @gideonthomas can you shed some light on @evantsyferov's question above?  Thanks for any help.

[2017-04-12 02:51] cadecairos commented on #1797
@evantsyferov It looks like we set up the error handling middleware functions [here](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/index.js#L127-L128) ([ and here's how error handling middleware in express works](https://expressjs.com/en/guide/error-handling.html))

Those middleware functions are defined [here](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/l

[2017-04-12 03:20] flukeout opened #1985 "Cannot create projects from Your Projects view due JS error"
It's related to the google analytics changes I made in a previous PR. The Your Projects page doesn't seem to have access to one of the strings used for the event category...

![image](https://cloud.githubusercontent.com/assets/25212/24939718/21242bde-1ef4-11e7-9324-84b391201376.png)

[2017-04-12 03:24] flukeout commented on #1966
Hey @amitsin6h go ahead - I think @cgsingh's solution might be a good starting point.

[2017-04-12 05:34] badrmodoukh commented on #1921
@Pomax I created the PR for this issue :)

[2017-04-12 17:00] nadia39 commented on #1903
I sent it, over a week ago.
Hopefully it was published, this is my first pull requests.
However it was not updated on the GitHub page..

[2017-04-12 18:13] gideonthomas opened #1988 "Line height is too small"
![screen shot 2017-04-12 at 2 03 53 pm](https://cloud.githubusercontent.com/assets/5816130/24972338/21bd8000-1f89-11e7-863b-e2dd09c4f3dd.png)

In the publish dialog, the bottom of the `g` in the url is cut off because the line height is set to the same value as the font-size we're using. I think we probably just need to either remove the line-height or set it to something bigger. If we want to mai

[2017-04-12 20:14] flukeout commented on #1988
"Good-eye" Gideon they call him. Of course he only finds the problems related to the character "g".

[2017-04-12 20:15] humphd opened #1991 "Add some DNS, Resource prefetch and preload meta info to Thimble"
Some great speedups discussed in https://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers/#section:dns-prefetching and https://css-tricks.com/prefetching-preloading-prebrowsing/.

In https://github.com/mozilla/thimble.mozilla.org/issues/1524 we're undoing my hacky way of preloading these big Bramble resources.  We can use this proper way instead.

[2017-04-12 20:49] flukeout commented on #1968
Cool update from the Kinto team dev:

* https://thimbleprojects.org/leplatrem/250816/#our-team
* https://thimbleprojects.org/leplatrem/250816/#your-team

This uses the string after the ``#`` as the user, making it so that each URL is linked to a different bucket in Kinto - this allows users to have "sort-of-personal" data. There are no JavaScript changes required.

[2017-04-13 02:19] #1985 closed

[2017-04-13 02:23] dangkhue27 opened #1993 "Translating Thimble into Vietnamese"
Hi @TheoChevalier,
I would like to translate Thimble into Vietnamese and I was told that you could assist me on how to this. I hope you don't mind pointing me to where I can start doing the translation. So far, I know that I will need to work with Pontoon.
Thanks.

[2017-04-13 02:28] humphd commented on #1993
@dangkhue27 while we wait for @TheoChevalier's reply, see his advice in a similar bug:

https://github.com/mozilla/thimble.mozilla.org/issues/1866#issuecomment-286168202

[2017-04-13 02:40] dangkhue27 commented on #1993
It seems all I can do at the moment is creating an account for Pontoon. Here's the email address that I've used:
trandangkhue27@gmail.com

[2017-04-13 04:40] JohnEJames commented on #1925
@humphd  I'm starting to work on this bug, would you prefer for me to only replace npm with yarn in the vagrant file? such as this [File](https://github.com/mozilla/thimble.mozilla.org/blob/master/scripts/setup-services.sh)

[2017-04-13 04:42] humphd commented on #1925
@JohnEJames correct.  Start there.

[2017-04-13 08:05] morrme commented on #1988
@gideonthomas @flukeout

This seems to be the line in question:

https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/stylesheets/publish.less#L71

which setting would you prefer to try first--removing the line-height or setting it to a larger value?

[2017-04-13 13:51] rkgupta21 commented on #1988
Hey i would like to work on this bug.

[2017-04-13 14:01] humphd commented on #1988
@rkgupta21 it looks to me like @morrme is already attempting it, is that correct @morrme?

[2017-04-13 14:08] morrme commented on #1988
@humphd yes, :) thanks!

[2017-04-13 14:10] humphd commented on #1988
OK, thanks for confirming @morrme.  Go for it.

[2017-04-13 14:11] morrme commented on #1988
@humphd I appreciate it. I was just waiting for @gideonthomas ' preference on the first option to try, but I've located the setting (I believe) and can make the change quickly.

[2017-04-13 14:46] gideonthomas commented on #1988
@morrme let's just remove the line-height for now. I would suggest reducing the padding of the container slightly as well so that it doesn't look to tall. Open up a PR and @flukeout can suggest changes based on how it looks.

[2017-04-13 15:14] flukeout commented on #1903
Hi @nadia39 - did you create a Pull Request? Did you make the changes in your own repo? Let me know, we can track it down. Thanks!

[2017-04-13 15:56] humphd commented on #1930
As part of this bug, let's also fix this page:

![screen shot 2017-04-13 at 11 52 50 am](https://cloud.githubusercontent.com/assets/427398/25012928/edbee746-203f-11e7-8ff1-9b0eed287610.png)

When we hit an error loading the project, or can't load Bramble, we show this error page.  Let's make some modifications:

* "There was an error loading your Project" should probably say "There was an error lo

[2017-04-13 16:44] #1962 closed

[2017-04-13 16:50] TheoChevalier commented on #1993
Hi @dangkhue27,

Thanks for proposing your help :) Just sent an email to the Vietnamese team (CCed you), to check how we should proceed

[2017-04-13 18:21] humphd opened #1995 "[IE11] File Tree has no files in Thimble, works with Brackets alone"
I was debugging https://github.com/mozilla/brackets/issues/598 today, and noticed that if I run Brackets on its own, I get a filesystem.  However, with Thimble, I have no files:

![](https://cloud.githubusercontent.com/assets/427398/25016792/5b51574e-204f-11e7-81e6-2d3fe2ca893e.png)

If I add a file manually, it works.  Something is breaking when it tries to write the initial filesystem, maybe in

[2017-04-13 20:21] #1908 closed

[2017-04-13 22:38] flukeout opened #1996 "Look into adding Thimble logo / restyling id.webmaker.org"
By recent count:

* 93% of people who hit the /sign-in page come from Thimble
* 76% of people who hit the /sign-up page come from Thimble

Yet neither of these pages references Thimble & in addition, the welcome email for new accounts doesn't reference Thimble either.

**In the least we could**

* Change the styling & content of these pages to include a Thimble Reference
* Add some Thimble-specifi

[2017-04-14 03:22] Taguiar commented on #1927
Hi professor @humphd how do I issue a command to go inside the file from here?
![1](https://cloud.githubusercontent.com/assets/17263593/25032133/ba0f7478-209f-11e7-86d6-85062456f38b.PNG)

"source" is a directory with 2 .jpg images. If I manage to open the file here I will be able to display it on the popup box using something similar to what is been doing here.

![2](https://cloud.githubuserconten

[2017-04-14 04:34] TheoChevalier commented on #1993
Project enabled, will be available here in ~20 minutes https://pontoon.mozilla.org/vi/thimble
Happy localizing!

[2017-04-14 04:34] #1993 closed

[2017-04-14 16:12] humphd commented on #1927
What does "go inside the file" mean?  With the filesystem you can do https://github.com/filerjs/filer#fsreaddirpath-callback or https://github.com/filerjs/filer#ls to find files.

[2017-04-14 17:50] humphd opened #1999 "Create some fun teaching kits that use web animation libs"
I want to see us create some really compelling teaching kits that let people quickly try doing things on the web.  One area that would be nice to explore is animation using JS.  Here are some possible candidate libraries:

* http://mojs.io/
* http://www.createjs.com/
* http://anime-js.com/

[2017-04-14 20:25] bkim49 commented on #1928
Everything works well. When it is published and in live preview. @humphd
Creating a PR now!

[2017-04-14 22:10] Th30 commented on #1946
@humphd was it the FileTreeView.js where you were working in? Does your code start at around line 365?

[2017-04-15 22:35] Mordax commented on #1991
I'm interested in working on this if it's alright.

For clarification's sake: My understanding on the issue (if I'm correct) is to speed up the [c8fec1e](https://github.com/mozilla/thimble.mozilla.org/commit/c8fec1ed5627d507d16480e341e8c54f45d03b22) resources that you talk about in #1524.

Is it important to have the resources already cached in the browser or do we just want the editor to be able

[2017-04-16 06:20] babhishek21 commented on #1948
This is missing a `assigned to contributor` label.

[2017-04-16 15:15] Rajat-dhyani commented on #1995
@humphd sir just tried this on IE11 it works fine for me.... both on thimble and on brackets....
![image](https://cloud.githubusercontent.com/assets/17648963/25072150/47e60dce-22e5-11e7-9034-41a1764e9d27.png)
![image](https://cloud.githubusercontent.com/assets/17648963/25072154/7531695e-22e5-11e7-9006-0f49681b59fd.png)

could you please tell me the steps to reproduce ?

[2017-04-16 15:33] Rajat-dhyani commented on #1949
@Abykin  hey still working on this ?

[2017-04-16 16:48] Abykin commented on #1949
@Rajat-dhyani Hey, yeah I will try to get my PR up today

[2017-04-16 19:26] Rajat-dhyani commented on #1949
hey @Abykin do [these](https://github.com/Rajat-dhyani/thimble.mozilla.org/commit/0b96c233c1842ab6dbb88d25af677a1ba354c43d) changes and it will work

[2017-04-16 20:03] nadia39 commented on #1903
I hope you check the **pull request** now. It seems like I did not complete the process.

[2017-04-16 20:56] bbhagwandeen commented on #1948
Almost finished with this. Hoping to finish today. It takes a few minutes to add a new project to test the deletion so that keeps me back.

[2017-04-16 21:10] Abykin commented on #1949
@Rajat-dhyani Thanks that worked! Had some issues running my thimble locally took a while.

[2017-04-16 21:10] Abykin commented on #1949
@flukeout PR here https://github.com/mozilla/thimble.mozilla.org/pull/2000

[2017-04-16 21:12] rkgupta21 commented on #1974
Hey David,

I was just confused while fixing this issue. I managed to increase the padding size but then the scrollbar would extend to editor area. I am assuming that i might have to modify sidebar.css. I could use some guidance here.

[2017-04-16 21:17] Rajat-dhyani commented on #1949
glad to help @Abykin 😊👍

[2017-04-17 00:46] Shank09 commented on #1790
@gideonthomas
Quick question.

Should I create a new ui variable or change the color values of the default button?
Current variables:
[brackets_core_ui_variables.less#L108 ](https://github.com/mozilla/brackets/blob/master/src/styles/brackets_core_ui_variables.less#L108)

It is being used in the following:
[brackets_patterns_override.less#L1509](https://github.com/mozilla/brackets/blob/master/src/s

[2017-04-17 01:35] rkgupta21 commented on #1918
@gideonthomas

I've added `{% if project.publish_url %}` in `publish.html`.
<img width="525" alt="screen shot 2017-04-16 at 9 28 39 pm" src="https://cloud.githubusercontent.com/assets/14276579/25076078/c739cef2-22eb-11e7-936b-9eb58257988f.png">

But i noticed that it is always going in the else condition, and always displaying `Your Project is Online`
<img width="553" alt="screen shot 2017-04-16 a

[2017-04-17 15:19] #1862 closed

[2017-04-17 15:25] humphd commented on #1974
It's caused by `overflow: auto` on the tree container:

![overflow-bug](https://cloud.githubusercontent.com/assets/427398/25093492/850610c0-2360-11e7-9c9e-e18fc86d55cf.gif)

@flukeout might have ideas on how best to fix this, and where.

[2017-04-17 15:30] humphd commented on #1995
It looks to me like you're using IE11 vs. Edge (for rendering engine in dev tools), I wonder if that's the difference?  For me, I just loaded it and it it did what I showed, no steps per se.

[2017-04-17 15:49] Rajat-dhyani commented on #1995
@humphd  sir everything seems good with both edge and IE11. which version of windows you are using may be it is specific to version? I am on window 10

[2017-04-17 16:44] humphd commented on #1995
I'm also on Windows 10.  It sounds like this can't be reproduced, so let's close this.  Thanks for testing @Rajat-dhyani.

[2017-04-17 16:44] #1995 closed

[2017-04-17 16:47] Rajat-dhyani commented on #1995
Anytime sir 👍 @humphd

[2017-04-17 16:50] humphd commented on #1928
@bkim49 I think we should close this, and leave it how it is.  I'm actually rethinking what I filed originally, and it's probably correct to encode those paths.  Can you do one last test: try doing what you have above with the regular code (e.g., without your fix) and have paths with spaces; then publish and see if they all work with the encoded form of the path.

[2017-04-17 17:40] bbhagwandeen commented on #1948
Ok. So had a unfortunate setback yesterday. Was using Opera to do all the open source work I've been doing and for some reason, the fadeOut effect to the left wasn't working for me, so I thought I'd update the repo. Bad Idea. 45 mins per `vagrant up` and with a few errors, this adds up. I remember that once i updated the repo, I should also run `npm run build` in brackets but that didn't help last

[2017-04-17 18:11] flukeout commented on #1948
Thanks for the udpate @bbhagwandeen

[2017-04-17 18:43] ryanwarsaw commented on #1948
@bbhagwandeen If you ever have questions or problems in the future, definitely come join us over in Mattermost (https://chat.mozillafoundation.org/login)! There are a bunch of people who would be more than willing to help or answer questions 😃

[2017-04-17 19:30] babhishek21 commented on #1776
Feel free to safely ignore the contents of the [previous comment.](https://github.com/mozilla/thimble.mozilla.org/issues/1776#issuecomment-290357529)

Looks like a small typo in Thimble client side was preventing the `bramble:tutorialVisibilityChange` event from being interpreted properly. As to how it was working before this is honestly beyond me.

The repective PR(s) are up: Thimble #2001 and Br

[2017-04-17 21:36] flukeout commented on #1866
Hello @us-mahina - is there an email I can reach you at? I'm collecting information for a new contributors page on the Thimble website and I'd like to include you. Can you please email me at ``luke@mozillafoundation.org``? Thanks!

[2017-04-18 01:41] edyedy123 commented on #1996
I'll try this

[2017-04-18 02:51] flukeout commented on #1996
Hey @edyedy123 - I've got this assigned to myself. I have to check in about what changes we can make and come up with the design first. I can ping you here later depending on the scope of the changes, but right now there's no to be done until I can follow up. Thanks!

[2017-04-18 16:18] TheoChevalier commented on #1866
@flukeout Feel free to use https://pontoon.mozilla.org/tg/contributors/, it’s meant to keep track of active contributors for a locale. There’s also a view per project: https://pontoon.mozilla.org/tg/thimble/contributors/

[2017-04-18 16:21] TheoChevalier commented on #1950
@us-mahina could you confirm that `забо́ни тоҷикӣ́` is the correct way to translate `Tajik` in Tajik? Having hard time finding it in CLDR data :/

@gideonthomas Will check, but we should be able to add it to product-details, yeah

[2017-04-18 16:38] humphd commented on #1991
The files that are currently being precached using JS should be cached using these more modern, standard ways.  It's the big files in Brackets that I want to pre-fetch/cache while the user is on the homepage doing other things; the idea being that when they finally load the editor, it will load faster.

[2017-04-18 16:43] #1745 closed

[2017-04-18 19:48] Rajat-dhyani commented on #1902
hey @shubham0794x  still working on this? Mind if i take over?

[2017-04-18 20:34] DorelBarbu commented on #1543
Hello @flukeout , yes I understood how should the UI look. But what I still don't get is what should I do at this stage. I understood that you'll add the mark up later and that I should do a prototype. What should my prototype do?

[2017-04-18 20:43] humphd commented on #1459
I had a major breakthrough on the Brackets side of this offline work: https://github.com/mozilla/brackets/pull/725.  We're going to be able to get dynamic script/image/etc resource loading to work finally via ServiceWorker/Caches.

[2017-04-18 20:53] flukeout commented on #1543
Hey @DorelBarbu - sorry for the confusion. I was hoping that you would start working inside of the ``view/editor/publish.html`` file and start to add the code that the user can see to embed an ``iframe`` tag. Once you have something basic working, you can create a PR and we can continue the work together there. Let me know if that helps.

[2017-04-18 20:55] Taguiar commented on #1927
Hi @humphd I have created this pull request on brackets https://github.com/mozilla/brackets/pull/726 please have a look as you see fit!

[2017-04-19 00:46] flukeout opened #2003 "Consider updating Preview / Tutorial toggle."
I feel like the current UI is kind of confusing. Here's a rough mockup I did in devtools of a "tabbed" approach. Needs more work, but something to think about...

![image](https://cloud.githubusercontent.com/assets/25212/25158640/e609bd46-245e-11e7-9e2e-16f7aaf07851.png)

[2017-04-19 00:47] Th30 commented on #1946
Hey @humphd I was wondering if you could point me the right direction I feel like I got a little lost over the past couple of days.

[2017-04-19 02:49] evantsyferov commented on #1797
Through some more research I come to conclusion that code to render error.html needs to be put in the static generic and format function in this<a href= "https://github.com/mozilla/thimble.mozilla.org/blob/master/server/lib/http-error.js" > file </a>. I am thinking to add something like this:  response.render("error.html", { reponse.statuscode}); I am not sure what to put between the {}. Is this a

[2017-04-19 14:11] humphd commented on #1946
@Th30 I think at this point if you're still not clear on how to do this, you should grab some other bug.  Without actually doing it myself, I'm not sure what more to tell you beyond what we discussed together when we last met.

[2017-04-19 17:13] Th30 commented on #1946
@humphd I've been trying to look for a backup just in case but was unsuccessful with most gone, would I need to look outside of thimble/brackets?

[2017-04-19 18:12] flukeout opened #2004 "Brackets editor not able to edit files when running in localhost from /dist folder"
See screenshot below, the editor is always blank no matter what file I try to edit...

![image](https://cloud.githubusercontent.com/assets/25212/25194986/14565a78-24f1-11e7-9197-91bf692f483a.png)

Works fine from ``http://localhost:8000/src/hosted.html`` but not ``http://localhost:8000/dist/hosted.html``

[2017-04-19 18:22] humphd commented on #2004
It looks like we also broke the CSS for the image viewer to show swatches of colours:

![screen shot 2017-04-19 at 2 20 22 pm](https://cloud.githubusercontent.com/assets/427398/25195370/66be3ee2-250b-11e7-9a4e-65daa46e213a.png)

Which is defined in:

[code]

[2017-04-19 19:38] flukeout commented on #1974
I'll look into it now.

[2017-04-19 19:42] #2004 closed

[2017-04-19 20:17] flukeout opened #2005 "bramble_overrides.less file is being applied before the styles it is meant to override."
cc @humphd - looks like the new order is messing us up a bit, for example, the horz-resizer styles that are being cancelled out here...

![image](https://cloud.githubusercontent.com/assets/25212/25200241/7362afba-2502-11e7-967b-e60b40e4feaa.png)

Are the ones that are supposed to be applied second. We *could* add ``!important`` to all of the overrides. Or maybe could we ``@import`` ALL of the CSS

[2017-04-19 20:20] edyedy123 opened #2006 "Uncaught TypeError: Cannot read property 'EDITOR_UI' of undefined - analytics.eventCategories"
When changing dark/light themes you get an error.
![other](https://cloud.githubusercontent.com/assets/16922991/25200349/0250ec00-251c-11e7-8d9d-4094f3bfb1c4.gif)

bramble-menus.js:195 Uncaught TypeError: Cannot read property 'EDITOR_UI' of undefined
      at HTMLDivElement.toggleTheme (bramble-menus.js:195)
      at HTMLDivElement.dispatch (jquery.js:4435)
      at HTMLDivElement.r.handle (jquery.

[2017-04-19 21:00] flukeout commented on #1974
Okay @rkgupta21 - I think I found it. Looks like brackets is using something called ``quiet-scrollbars`` which have a webkit specific style override in ``brackets_scrollbar.less``...

[code]

If you find this, setting the width to ``0`` seems to do the trick. The gap we're seeing is the ``9px`` reserved for the scrollbar.

[2017-04-19 21:40] flukeout commented on #1866
Thanks @TheoChevalier !

[2017-04-19 22:00] humphd commented on #2005
This is due to us doing the `import`.  I think we are going to have to accept loading 2 separate stylesheets.

The other solution would be to `import` the `brackets.less` file *into* `bramble_overrides.less` and maybe change it to `bramble.less`.  What do you think?

[2017-04-19 22:12] flukeout commented on #2005
Can we have a ``main.less`` file that doesn't have any styles that we import everything into? Is that possible? Otherwise two is fine.

[2017-04-19 22:15] humphd commented on #2005
Tell me more about what you want wrt `main.less`.  That's kind of what I'm suggesting with us importing everything first into `bramble_overrides.less`, and then we'd literally override things.

If you do the layout of what you want, I'll do the patch.  My only ask is that we aim to do it with 1 `.css` file when done to streamline loading.

[2017-04-19 22:16] flukeout commented on #2005
Yeah so there's a blank (ie. no rules) ``main.less`` file that only has a bunch of ``@import`` calls, where we import things one by one, importing the ``bramble_overrides.less`` file last after all of the other files.

That's similar that what you described above, except we use one scaffold file sort of.

[2017-04-20 02:00] bkim49 commented on #1928
@humphd I have just tested the regular code but paths with spaces. When I publish, it does not work with encoded form of the path.
Editor:
![image](https://cloud.githubusercontent.com/assets/17182037/25209827/5f4bf240-254b-11e7-9d2e-562f9c041b1b.png)

Preview:
![image](https://cloud.githubusercontent.com/assets/17182037/25209847/6b2260cc-254b-11e7-814c-e98c4f773c8b.png)

Published:
![image](https:

[2017-04-20 03:25] humphd commented on #1772
I'm pretty sure this is fixed with the escaping patch we did in Brackets for generating the locales.  @gideonthomas can you close if you agree?

[2017-04-20 15:40] humphd commented on #2006
I can't reproduce this bug on staging https://bramble.mofostaging.net/, which runs latest master.  Are you sure your tree is up to date?

[2017-04-20 16:15] #2005 closed

[2017-04-20 16:31] humphd opened #2009 "Consider aligning icon colours with popular logos"
I was playing with some files from @Pomax in Thimble, which were mostly JS:

![screen shot 2017-04-20 at 12 27 27 pm](https://cloud.githubusercontent.com/assets/427398/25241666/d7232f26-25c4-11e7-8cf9-4c2fd3ad6c86.png)

I thought it ended up looking really orange.  In my mind "orange" is [HTML5](https://www.w3.org/html/logo/):

![](https://www.w3.org/html/logo/img/html5-display.png)

And JS is yel

[2017-04-20 16:37] flukeout commented on #2009
@humphd Yeah, I chose those colors to match the "badge icons" for CSS/HTML/JS, the trouble with the JS yellow is that it was too light for the light theme and looked out of place next to the others once, that's why I darkened it.

I think I muted the orange for the HTML one because it seemed kind of warning-y and very bright relative to the others.

We _could_ create a separate icon for it that is

[2017-04-20 16:41] humphd commented on #1928
I don't understand what you're seeing.  See https://thimbleprojects.org/humphd/255451/.

@Pomax can you help me decide what to do here?  Should we just allow Brackets to escape the paths (technically correct).  I'm tempted to close this and leave it as is.

[2017-04-20 16:42] humphd commented on #2009
That's good enough for me, just wanted to raise it.  Let's go with what you have.

[2017-04-20 16:42] #2009 closed

[2017-04-20 18:16] flukeout commented on #1976
Any progress on this @bbhagwandeen? Let us know in case you've stopped working on it.

[2017-04-20 18:16] flukeout commented on #1966
Any progress on this @amitsin6h? Let us know if you're unable to work on this - thanks!

[2017-04-20 18:18] flukeout commented on #1934
Closing as it's been addressed in https://github.com/mozilla/brackets/pull/689 - thanks @omytryniuk

[2017-04-20 18:18] #1934 closed

[2017-04-20 18:19] flukeout commented on #1918
@rkgupta21 can you open a pull request with your changes so we can look & work on it there? It will be easier if we have access to your code changes - thank you!

[2017-04-20 18:19] flukeout commented on #1917
@ZenanZha any progress on this? Please open a PR if you've made some changes or let us know if you're no longer able to work on it - thank you!

[2017-04-20 18:21] bbhagwandeen commented on #1976
Hey, @flukeout still working on it. It's top priority right now. Just heading to work now and then I'll be back at it around 10:30pm.

[2017-04-20 18:37] flukeout commented on #1976
Thanks for the update, no hurry - just wanted to check that you were still on it!

[2017-04-20 19:02] flukeout commented on #1790
Hey @Shank09 - sorry for taking a while to get back to you.

I think it's OK to change the variable values in ``brackets_core_ui_variables.less``

Another option would be to change / overwrite them in ``bramble_overrides.less`` - maybe see if that works first?

What are your plans for the actual colors for the buttons? I guess we should go with green on both themes huh? Not sure about secondary bu

[2017-04-20 19:40] #1988 closed

[2017-04-20 23:59] ZenanZha opened #2012 "Remix buttom broken on bramble.mofostaging.net"
I tried to remix the project on bramble but it failed:
![step1](https://cloud.githubusercontent.com/assets/22037167/25257029/181002be-2603-11e7-9ead-ff98029e3e8d.gif)
Then I type the project's url, and the project is there:
![step2](https://cloud.githubusercontent.com/assets/22037167/25257058/56f587d8-2603-11e7-957a-94fff902c3ec.gif)
When I click on remix button, it works:
![step3](https://cloud.g

[2017-04-21 00:00] ZenanZha commented on #2012
@humphd

[2017-04-21 00:04] ZenanZha commented on #2012
I just found out that the remix button under the 404 page will work:
![step4](https://cloud.githubusercontent.com/assets/22037167/25257221/75f0b5d0-2604-11e7-96a0-559f34e928e6.gif)

This interesting issue works for every project.

[2017-04-21 01:21] Pomax opened #2014 "publish dialog is missing a protocol for local dev"
![image](https://cloud.githubusercontent.com/assets/177243/25258715/1b28cb00-25f6-11e7-990b-a3ced419131e.png)

MS Edge does not like that `localhost` without an `http://` in front of it: instead it goes "you need a different app to open this URI"

[2017-04-21 01:31] Pomax opened #2015 "improve the adapt call after resizing"
The code that we landed: https://github.com/mozilla/thimble.mozilla.org/pull/1892

This PR has some comments on what we could do instead, and we should probably revisit this code when we've run out of priority issues.

[2017-04-21 02:00] edyedy123 commented on #2006
I re installed thimble and I don't see the error anymore.

[2017-04-21 02:20] MargarytaChepiga commented on #1681
Hello, @humphd @flukeout

I have tried to reproduce the bug. On thimble I was able to get the bug:
![test2](https://cloud.githubusercontent.com/assets/15698572/25259050/96cdb002-2611-11e7-87eb-db3f9759f162.gif)
![test4](https://cloud.githubusercontent.com/assets/15698572/25259062/a90bc2a4-2611-11e7-98bd-7167365db2dd.gif)

However on the localhost, I can't reproduce it.
![test3](https://cloud.githu

[2017-04-21 04:03] MargarytaChepiga commented on #1681
Hello @humphd @flukeout,

I have set the z-index for horz-resizer to -1 and it has disappeared in fullscreen preview mode. However the issue I ran into is that horz-resizer disappears totally when disabling fullscreen preview.

![z-index](https://cloud.githubusercontent.com/assets/15698572/25262415/e64a9fbe-2625-11e7-9345-f90d18894532.gif)

I believe we need to set the z-index to -1 only when swit

[2017-04-21 06:06] bkim49 commented on #1928
@humphd I tried publishing the images but it just does not show up for me. I tried it with encodeURI(), and the images are broken up. My thimble repository is up-to-date as well. Is it because I am trying this on localhost?

[2017-04-21 06:42] ZenanZha commented on #1917
@flukeout It takes some time to test it becuse the bramble didn't work that well.(see [Issue2012](https://github.com/mozilla/thimble.mozilla.org/issues/2012)
Sorry for the lateness.

[2017-04-21 12:25] bkim49 commented on #2014
Hello @Pomax, I am looking into this right now. What I found is that the link to localhost is generated into href="test" [here](https://github.com/mozilla/thimble.mozilla.org/blob/21545ddd9fb513dbf61a327c7a35bb6de7247e5c/views/editor/publish.html#L21). I was searching through thimble repository for the keyword "test" and I am having difficult time finding the right location. I am assuming that it

[2017-04-21 13:56] Blackweda commented on #1645
how would this 'bug' be considered successfully complete?

[2017-04-21 14:52] gideonthomas commented on #2014
@bkim49 it's in the client. Here's where you need to make the change: https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/publisher.js#L275-L277

[2017-04-21 15:22] humphd commented on #1645
To be honest, this bug needs to be closed.  It's not well scoped, which is exactly why you're asking this question.

[2017-04-21 15:22] #1645 closed

[2017-04-21 15:37] humphd commented on #1928
It's possible that the local server we are using for showing published projects in dev isn't aware of how to deal with this properly.

[2017-04-21 16:34] Pomax opened #2017 "allow users to overwrite files when renaming"
Currently we warn when a user's file rename would lead to a file overwrite:

![image](https://cloud.githubusercontent.com/assets/177243/25287271/9b6934d8-2675-11e7-8778-014d27c1305e.png)

However, there's a button missing here: maybe the user accidentally typed a name, but maybe they were intentional, so this dialog should really have two buttons: `[overwrite anyway]` and `[OK]`

[2017-04-21 17:03] gideonthomas commented on #2012
Nice catch @ZenanZha!

The issue is here:
 https://github.com/mozilla/thimble.mozilla.org/blob/master/public/homepage/scripts/gallery.js#L191-L196. The activity url uses `thimbleprojects.org/<username>/<id>`. The remix url is actually `thimble.mozilla.org/projects/<id>/remix` and it uses the same id from the activity url.

[2017-04-21 17:25] ZenanZha commented on #2012
@gideonthomas Which one is the right one we need to use?
I remember the thimbleprojects' link was working well two weeks ago.

[2017-04-21 18:20] flukeout commented on #1681
Hi @MargarytaChepiga thanks for looking into this! I think you're on the right track. One of the things that can help, is that if we enter fullscreen mode, there's a div in our page called
``<div id='main=view'>`` that gets a class called ``fullscreen-preview``. This div wraps all of the editor and that is how we can set the different fullscreen styles.

Knowing this, we can write a style that aff

[2017-04-21 18:35] flukeout opened #2018 "Editor stuck, unable to publish project for user..."
Here's a screenshot of the editor stuck in the "Publishing" step, including the error message in the green bar...

![image](https://cloud.githubusercontent.com/assets/25212/25291265/31219118-2686-11e7-9ac9-b748f6905144.png)

This is the ``fileSavingFailedIndicator`` error, or "Saving failed, retrying..." in English.

cc @humphd @gideonthomas - this seems familiar, do we have a canned solution?

I

[2017-04-21 18:42] flukeout commented on #2017
@Pomax I've never seen that kind of UX - my code editor also just doesn't let me do it. Also, overwriting a file you cant inspect / look at during the action might be kind of risky.

[2017-04-21 18:44] flukeout commented on #2017
Maybe we should instead block people from getting this far, like if your currently typed filename matches an existing one, block the rename action and show (file name in use) or something.

[2017-04-21 18:45] humphd commented on #2018
It's usually due to something in the backend.  cc @cadecairos

[2017-04-21 18:47] flukeout commented on #2018
Projects are publishing fine otherwise, I tested after getting the email - will update ticket once I find out about the amount of images.

[2017-04-21 18:57] flukeout opened #2019 "Adapt-UI code removes "Refresh" button from fullscreen preview."
Steps to reproduce:

* Enter fullscreen mode preview
* Resize browser
* Refresh arrow disappears

![image](https://cloud.githubusercontent.com/assets/25212/25292126/af281b56-2689-11e7-91b9-0d755f411c77.png)

This is caused by the "responsive" UI code that I wrote, so I'll tackle this.

[2017-04-21 19:48] flukeout commented on #2018
@humphd looks like it's an image that is over 1MB (1.1MB to be exact) that's causing this. The use can no longer delete the file form the project either - this is something we've seen before and we should address it. Can we cap the upload size at 1MB or something like that?

[2017-04-21 19:50] humphd commented on #2018
Are you able to get more details for me?  If they reload the page with `?logging=1` on the URL, it will cause more sync info to get recorded in the console.  Then they could give us the contents of the console logs?

I can't believe this is being caused by a 1M file on its own.  Also, which browser, OS, etc.

[2017-04-21 19:51] bbhagwandeen commented on #1948
@flukeout  let me know if [this](https://github.com/mozilla/thimble.mozilla.org/issues/2020) is what you wanted

[2017-04-21 19:56] flukeout opened #2021 "Update welcome Email when creating a new account."
I've restyled our sing up / create account page in ``id.webmaker.org`` here:
https://github.com/mozilla/id.webmaker.org/pull/432

In addition, we'll want to update the welcome email that is currently being served from...
https://github.com/mozilla/webmaker-mailroom/blob/master/templates/user_created/index.html

However, since this email is a generic email for accounts created from a few different

[2017-04-21 20:12] humphd commented on #2006
Re-opening, as this is being hit by @rajat-dhyani as well, only in `bramble-ui-bridge.js`.  I wonder if it's a load-timing bug.

[2017-04-21 20:14] humphd commented on #2006
@gideonthomas what do you think of this?  It's happening with https://github.com/mozilla/thimble.mozilla.org/blob/9ec47c9937ad362de55d6c825c78c000c984c949/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L285 too.

[2017-04-21 20:28] flukeout commented on #2018
I'll ask them to do that, the 1mb thing doesn't seem too unreasonable to me, we've had weird image issues in the past.

[2017-04-21 20:32] humphd commented on #2006
![image](https://cloud.githubusercontent.com/assets/427398/25294892/2e8696e6-26af-11e7-94dd-edcdf64b3c27.png)

Here you can see that the `analytics` object *does* exist, and has something called `event` on it; but it also has `conversionGoal`, which points to it being the wrong module.

@flukeout did you remove an `npm` module to add this?  Is it being picked up incorrectly for some people?

[2017-04-21 20:34] humphd commented on #2006
Possibly related commits, that might be missing in each of these cases:

* https://github.com/mozilla/thimble.mozilla.org/commit/6c531fd4c5fafe6dd62cbe91584cef52f6cd62c7
* https://github.com/mozilla/thimble.mozilla.org/commit/da5b198f7aa933d975659851913d92e3ab127314

[2017-04-21 20:34] flukeout commented on #2006
Yeah, we removed the reliance on the old ``webmaker_analytics`` module and added the code directly into the codebase.

[2017-04-21 20:39] flukeout commented on #2018
In testing on my own, I'm able to include a few images that are between 1.5 and 2 mb and publish successfully.

[2017-04-21 20:51] flukeout commented on #2018
@humphd here's the console output - https://pastebin.com/WfL9cnWE

[2017-04-21 20:57] humphd commented on #2018
OK, so here's what we care about:

[code]

It looks to me like it wants to sync 2 files, but they no longer exist in the filesystem:

[code]

So it finishes the sync, fails it, and decides to try again.  That's a bug on our part: we shouldn't keep trying to sync a file that is returning `ENOENT` when we read it; we should remove that from the sync queue.

For now, have the user try creating the fi

[2017-04-21 21:39] flukeout commented on #2021
Working on copy for the email here:
https://docs.google.com/document/d/1OSe6cJwZWGDd04jx6ndTZk_VhC03-WnaqMW5w6YJTbg/edit

Also, for later reference, I can preview the welcome email locally...
https://github.com/mozilla/webmaker-mailroom#development

[2017-04-21 21:55] humphd commented on #2006
@Rajat-dhyani reports that blowing away `node_modules/` and reinstalling fixes things.  I think this is not an on-going bug we need to keep open, but it's good to have the facts in here for others who might hit it.  Closing.

Thanks for helping debug it @Rajat-dhyani, and sorry you had to waste time on it.

[2017-04-21 21:55] #2006 closed

[2017-04-21 22:11] flukeout commented on #2018
Just as a follow-up to this, it seems like the user was able to get back to a workable state, although I think it was because they fired it up in Firefox. Then later they cleared their Chrome cache, which also seemed to resolve things in Chrome.

In the end, I'm not sure if they followed the instructions that I suggested (to manually add the missing files to the root) - but at least, they are back

[2017-04-21 22:11] flukeout commented on #2018
Re-opening until @humphd files a follow-up so we don't lose track.

[2017-04-21 22:13] humphd commented on #2018
I'm fixing now, will have a PR up tonight.

[2017-04-21 22:13] flukeout commented on #2018
Ok, let's keep this issue up until the PR closes it.

[2017-04-21 22:21] flukeout opened #2023 "Ladies Learning Code"
Paraphrasing from @humphd's email here so that we don't lose track and come up with some action items:
LLC uses Thimble quite extensively, and some Thimble-based creations are featured in their annual report here:

* http://ladieslearningcode.com/annualreport2016/

Let's explore/brainstorm some ways to build a relationship with LLC.

* Appoint someone as a liaison to help them out with events, tal

[2017-04-21 22:27] #1974 closed

[2017-04-21 22:41] humphd commented on #1983
I think I'm hitting this too, but even turning my adblock off is causing me grief locally.

[2017-04-21 22:42] Cortek29 commented on #2018
It was not only using firefox that solved the problem, because even after successfully deleting the problem file under firefox, under chrome, the problem persisted. In the screenshots that I later provided chrome and firefox in parallel, the same Thimble session opened at the same time in both browsers, one can clearly see that in the folder 'images' the file' toiturevege1 .png 'appears then under

[2017-04-21 22:44] humphd commented on #2018
@Cortek29 thanks for jumping in here with details, it's really appreciated.  Would you be able to put those screenshots in the bug?  And any info you have about what you did?

I'm currently writing a fix for this, and want to test it locally.  If I can trigger it in a local build, that would be ideal.  Thanks for any help, and sorry you had to waste time on Thimble not working.

[2017-04-21 22:49] Cortek29 commented on #2018
![2017_04_21_23_27_44_mozilla_thimble-chrome](https://cloud.githubusercontent.com/assets/7837675/25298480/8588128a-26f5-11e7-8cf9-10db0afa1c80.png)
![2017_04_21_23_28_27_photos-firefox](https://cloud.githubusercontent.com/assets/7837675/25298481/858ca5b6-26f5-11e7-95df-3a33d01fc55d.png)

[2017-04-21 22:53] humphd opened #2025 "Do a better job with absolute URLs when rewriting CSS"
![](https://cloud.githubusercontent.com/assets/7837675/25298480/8588128a-26f5-11e7-8cf9-10db0afa1c80.png)

Here you can see us dying on trying to add event handlers for a CSS stylesheet when it's an absolute URL vs. a file path into the local fs.  We should be doing some kind of check for whether or not this is a relative path.

[2017-04-21 22:53] bkim49 commented on #1928
Ah okay. So do you want me to close the pull request I made for this issue? @humphd

[2017-04-21 22:53] humphd commented on #2018
Thanks, also filed https://github.com/mozilla/thimble.mozilla.org/issues/2025 for another bug I see there.

[2017-04-21 23:11] humphd commented on #1928
I'm not sure, need to consider more.  Regardless, I'll count this for your release, so please submit it.

[2017-04-22 00:41] simonwex commented on #2023
I know [Heather Payne](http://heatherpayne.ca/about/)

[2017-04-22 00:49] simonwex commented on #2023
Email sent!

[2017-04-22 00:50] simonwex commented on #2023
/cc @humphd

[2017-04-22 00:56] ZenanZha commented on #2012
@gideonthomas
I saw the file: [activities.json](https://mozilla.github.io/thimble-homepage-gallery/activities.json) in https://github.com/mozilla/thimble.mozilla.org/blob/master/public/homepage/scripts/gallery.js#L19.
Should we hard code in that file to make this working? Or we could do [this](https://github.com/mozilla/thimble.mozilla.org/pull/2027).

[2017-04-22 01:02] ZenanZha opened #2028 "Teaching Kit pages have wrong titles, one of them has the wrong link"
One of the teaching kit has the wrong link on bramble. (It was right on thimble.)
The last three teaching kit pages of starting kits have wrong titles:
![step1](https://cloud.githubusercontent.com/assets/22037167/25300093/d3c3428c-26d5-11e7-9f44-e9c695ae7f61.gif)

[2017-04-22 01:10] ZenanZha commented on #2028
The problem of the wrong link is in this file:
https://mozilla.github.io/thimble-homepage-gallery/activities.json

In line 30:
  "teaching_kit_url" : "https://thimbleprojects.org/mozillalearning/171/",
It should be:
  "teaching_kit_url" : "https://thimbleprojects.org/mozillalearning/32/",

I don't have the authorization to make any changes on this issue.
@flukeout @humphd @gideonthomas

[2017-04-22 01:34] ZenanZha commented on #2028
I double checked the "wrong title kits".
I found out that it is just confusing, becuase they are really loooooong.
Like: "Back-to-School Write the Web Kit | My Six-Word Summer"

[2017-04-22 04:20] MargarytaChepiga commented on #1681
Hello @flukeout @humphd,

So I was able to achieve this:
![fix](https://cloud.githubusercontent.com/assets/15698572/25301100/cb09b51a-26ec-11e7-941b-6d73cda6ab8b.gif)

The arrow is still visible as you can see. However, it doesn't resize anything (as in the fullsceen mode does not affect the side bars outside the fullscreen mode) which is nice. Also, the change does not affect the ability to resiz

[2017-04-22 05:02] Rajat-dhyani commented on #2006
@humphd anytime sir 👍

[2017-04-22 06:11] bkim49 commented on #2014
Okay, So I just looked at the code. The link generated shows up as this right now:
![image](https://cloud.githubusercontent.com/assets/17182037/25301885/8c0b51c6-26ff-11e7-8492-10b5cc81d35b.png)

But once I update it, the link generated is like this:
![image](https://cloud.githubusercontent.com/assets/17182037/25301900/d436ce76-26ff-11e7-8e46-64f301cca764.png)

This is what is generated now:
![ima

[2017-04-22 08:03] ZenanZha commented on #1609
@flukeout Ready to go in bramble: [Pull2030](https://github.com/mozilla/thimble.mozilla.org/pull/2030)

Sorry for the lateness.

[2017-04-22 10:10] ZenanZha opened #2033 "Few bugs on Teaching Kits"
Some unimportant bugs on Teaching Kits:
1. The first two Teaching Kits on the homepage cannot be remixed.
![step1](https://cloud.githubusercontent.com/assets/22037167/25303449/36bacdc4-2721-11e7-9eb8-3ae8cd6ef19f.gif)

2. The remix button on the "Three Things I <3 Teaching Kit" is broken.
![step2](https://cloud.githubusercontent.com/assets/22037167/25303459/6e5431ee-2721-11e7-9274-9b9d2177b55c.gif

[2017-04-22 18:15] flukeout commented on #2028
Thanks for catching this @ZenanZha - I've invited you as a Collaborator on that repository in case you're able to make a fix. Thanks!

[2017-04-22 18:19] #1948 closed

[2017-04-22 18:22] flukeout commented on #1681
Thank you for the update @MargarytaChepiga - I think the best thing to do at this point would be to make a Pull Request with your latest changes. That way we can see the code and try out the changes. The Pull Request doesn't have to be "the final version" - it can be a work in progress that we can improve if we have to.

Thanks!

[2017-04-22 18:31] humphd commented on #1719
@bbhagwandeen afaict, this never happened.  You have a PR that you closed, and then it's gone silent.  What's the story?  If you plan on using this as your release as per https://bbhags.tumblr.com/post/159855343044/continuing-the-fix-of-1719, you need to actually finish it.  Let me know ASAP.

[2017-04-22 19:16] bbhagwandeen commented on #1719
@humphd Sorry about that, the link was wrong. I updated the wiki to direct to the final PR

[2017-04-22 20:27] humphd commented on #1719
Fixed with https://github.com/mozilla/thimble.mozilla.org/pull/1951, closing.  @bbhagwandeen you need to make sure that issues associated with a PR get closed.  If you use the `Fix #...` style message on your PR, it will automatically happen.  In this case it didn't.

[2017-04-22 20:27] #1719 closed

[2017-04-23 00:20] MargarytaChepiga commented on #1681
Thank you @flukeout ! I was actually able to remove the arrow today! Surprisingly it all wasn't about the z-index, but about the visibility of the property. Anyway, here is the pull request: https://github.com/mozilla/brackets/pull/745

I wasn't sure where should I push it, but since I was making changes inside the brackets I opened the pull request there.

[2017-04-23 06:57] amitsin6h commented on #1966
So sorry I have been bit busy .. just started to work @flukeout

[2017-04-23 08:38] babhishek21 commented on #1778
I'm working on #1776 , which deals with showing a tutorial file by default over any other html file when a project is loaded.
Now as it stands, this issue was fixed in #1822 by making sure that an `index.html` file is created if none exists.
My question is: What do I do, when `tutorial.html` exists, but `index.html` does not? Do I let the code create an `index.html` file, but still show `tutorial.

[2017-04-23 16:06] humphd opened #2034 "Redesign Gear popup to combine settings with info about feature"
There is some nice work happening in https://github.com/mozilla/thimble.mozilla.org/pull/1989 by @flukeout to create a "Features" page, which has animated GIFs and some language about different features.  Meanwhile, our "Gear" icon popup is growing, and we're adding lots of things to it without ever telling people what they mean (the `XML/SVG` one is truly inscrutable):

![screen shot 2017-04-23 a

[2017-04-23 17:22] humphd commented on #2023
Great example of what I mean today in [this tweet](https://twitter.com/learningcode/status/856194781541789697).

![](https://pbs.twimg.com/media/C-HQnY8WAAER2dI.jpg)

[2017-04-23 17:26] humphd commented on #2023
See also tweets like [this one](https://twitter.com/canlearningcode/status/847826193013460998) from https://twitter.com/canlearningcode

![](https://pbs.twimg.com/media/C8QVba5XoAElHmZ.jpg:large)

[2017-04-23 17:36] flukeout commented on #2023
Thanks for posting these @humphd - I think one way to approach these orgs is with an eye to partnering around content creation. Between Chad, Robert and myself, we could help them improve their starter templates etc.

Also in that last pic, the editor is in mid-rename of the project, makes me uneasy!

[2017-04-23 17:39] humphd commented on #2023
I think you could do content creation, but I suspect they are already good at that--they have excellent curriculum and teaching experiences happening already.  I think a more likely way to partner is to figure out what Thimble does poorly now for their use cases, and what we can fix, add, etc.

The way they use Thimble (e.g., mentoring a group of people, esp. new coders, through a web coding/learn

[2017-04-23 19:55] flukeout commented on #2023
👍 to that.

[2017-04-23 20:56] Rajat-dhyani commented on #2014
hey @bkim49  you probably need to replace `https://` with `http://` and it will work.

[2017-04-24 15:22] Pomax opened #2035 ""new projects" are made too soon - show up even if cancelled"
If I click "new project", then hit esc because I realise that's not what I intended to do and instead go to my projects, then that new project shows up as top entry in my project list despite the fact that it was never opened in Thimble.

It might be good to make sure that new projects aren't committed to the database until after they've been loaded at least once in Thimble, since that's the point

[2017-04-24 16:15] hannahkane commented on #2023
@flukeout - I spoke with [Melissa Sariffodeen](https://www.linkedin.com/in/melissasariffodeen/?ppe=1) back in 2015 when we launched the last version. Let me know if you'd like an intro.

[2017-04-26 03:08] kfrajer opened #2036 "Previewing images from js... fails?"
Hi
I have the following  project:  https://thimbleprojects.org/migashi/258183/

I am new to js. I am using p5.js library on a project. I have a preload function where I load an image. Then I have a setup function that is run once followed by a draw function which runs forever.

I was loading some images using p5.js call. The images were uploaded into the project. When the project runs on preview m

[2017-04-26 14:57] humphd commented on #2036
You're encountering a current limitation in the way we do our live development server, and dynamic loading of resources via JS calls.  As luck would have it, I'm currently rewriting it in https://github.com/mozilla/brackets/pull/725, but it's going to take me a month or two to get this changed shipped.

I'll use your project as a test case for what I'm doing in that PR, and make sure that your use

[2017-04-26 20:20] #2018 closed

[2017-04-26 20:55] gideonthomas commented on #1666
@flukeout / @jgmac1106 SUMO still hasn't moved to a new platform has it? If not, I would advocate for putting it on Thimble itself (even if it is a temporary solution) so that it can be localized vs. leaving it on a Wiki.

[2017-04-27 02:03] ZenanZha commented on #2033
@flukeout
Any suggestion on this issue?

[2017-04-27 02:08] ZenanZha commented on #2028
Thank you. @flukeout
Here is my fix for this issue: [Pull1](https://github.com/mozilla/thimble-homepage-gallery/pull/1)

[2017-04-27 02:25] ZenanZha commented on #2028
Should I merge my own pull request?
I saw that I might be able to merge a pull request on my account. @flukeout

[2017-04-27 02:27] ZenanZha commented on #2012
This is another issue that we have in [activities.json](https://mozilla.github.io/thimble-homepage-gallery/activities.json). @flukeout
Any suggestion?

[2017-04-27 02:38] ZenanZha commented on #2028
@humphd
Is this a good practice for me to merge my own pull request?

[2017-04-27 04:12] ZenanZha opened #2037 "Tutorial button won't be removed until we refresh the page"
When we remix a project, the tutorial button won't be removed after we delete the file: "tutorial.html".
![step1](https://cloud.githubusercontent.com/assets/22037167/25466333/089011f8-2ad6-11e7-9af9-f824b4ae13f0.gif)
This problem can only be solved by refeshing the page.
![step2](https://cloud.githubusercontent.com/assets/22037167/25467683/0944f9f8-2ade-11e7-887e-32b848a31c73.gif)
@gideonthomas

[2017-04-27 04:30] ZenanZha opened #2038 "Remix button will break after we delete the recient remixed project."
After we sign into thimble,  we can delete the project we just remixed several minutes ago.
![step1](https://cloud.githubusercontent.com/assets/22037167/25467932/ec80f95a-2adf-11e7-81e1-ccf2fc32feba.gif)

However, when we try to remix it again, the remix button will break and report an unusual 404 message.
![step2](https://cloud.githubusercontent.com/assets/22037167/25467998/5d966cec-2ae0-11e7-953

[2017-04-27 06:47] kfrajer commented on #2036
@humphd Great, thank you for your message. I look forward to the changes.

For the record, this seems to be related: https://github.com/mozilla/thimble.mozilla.org/issues/1535

kfrajer

[2017-04-28 15:23] mfainshtein4 commented on #2037
looking at this right now.

[2017-05-01 09:57] flukeout opened #2039 "Editor stuck on infinite loop."
We have a support email from user ``ghaladronog`` and they have a project with an infinite for loop. Because there's no way to reliably disable JavaScript (the "Allow JavaScript" toggle doesn't remember it's setting) there doesn't seem to be a way to recover or work on the project.

Any suggestions @humphd @Pomax @gideonthomas ?

I think that fix for that JavaScript setting is coming in our next p

[2017-05-01 17:30] gideonthomas commented on #2039
Hmm, I keep trying to get into a state where the project actually saves with the infinite loop and I'm not able to.

I thought that maybe they could open another project and disable javascript there and then open the project with the infinite loop. However, it seems that the allow javascript toggle is not remembered between projects on production (it works on staging).

I think the only thing we m

[2017-05-02 14:44] dipakparmar opened #2040 "Page Crashes When Project is Loading"
The Link Of Error Page is  https://thimble.mozilla.org/en-US/anonymous/e2d30351-f43d-41ba-bf3e-73523cc8e879/33977
![2017-05-02_201350](https://cloud.githubusercontent.com/assets/24366206/25623080/f265d280-2f73-11e7-884a-1e77f0b66c35.png)

[2017-05-02 15:37] gideonthomas commented on #2040
Hi @dipakparmar can you open the developer console (here's [how you do that](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console)) and paste everything you see there.

[2017-05-02 16:30] flukeout commented on #2039
Yeah, that's interesting that it gets saved while looping infinitely and yeah, the Allow Javascript doesn't persist but is already fixed in staging I'm pretty sure.

[2017-05-02 17:24] dipakparmar commented on #2040
Filer error:  Object { name: "EINVAL", code: "EINVAL", errno: 18, message: "IndexedDB cannot be accessed. If pr…", stack: "e@https://mozillathimblelivepreview…" }  bramble.js:3:4004
[Bramble] Failed to load Project state, with Object { name: "EFILESYSTEMERROR", code: "EFILESYSTEMERROR", errno: 1001, message: "unknown error", stack: "e@https://mozillathimblelivepreview…" }  main.js:5:12570
[Thimble

[2017-05-02 17:28] dipakparmar commented on #2040
It is working on Chrome but not in Firefox

[2017-05-02 17:32] gideonthomas commented on #2040
@dipakparmar and you are not in private browsing mode, correct?

[2017-05-02 17:37] gideonthomas opened #2041 "Add touch events for the remix bar"
In https://github.com/mozilla/thimble.mozilla.org/pull/1825, we noticed that the touch events for the remix bar don't work (so we removed them).

We need to implement events for the remix bar on touch devices so that it is usable. The code that we removed was:
[code]

We also don't use jquery any more so we would need to handle it using regular DOM manipulation.

cc @flukeout

[2017-05-02 17:37] dipakparmar commented on #2040
I am not in private browsing mode.
Version : 53.0 Firefox Release
Platform/Os : Windows 10

[2017-05-02 17:39] #1327 closed

[2017-05-02 17:55] flukeout commented on #2028
Hi @ZenanZha - sorry for getting back to you slowly on this one. Generally the maintainer / owner of the project will merge the Pull Request (in this case me). I'll get to it within the next day or so - I've been away traveling.

Thanks!

[2017-05-02 18:09] flukeout commented on #2033
Yeah, our teaching kits all use different kinds of templates. I think we have a Thimble-based template for the teaching kits, I'll dig it up and maybe we can slowly start converting the old style teaching kits into the new one.

[2017-05-02 20:10] flukeout commented on #2023
@hannahkane - that would be great. Let's wait until after our May 17th launch though. I want to make sure we give that effort our full attention first. I'll ping you down the road about the intro, thanks!

[2017-05-02 22:16] flukeout commented on #1855
Closing this as it has been designed and we are working on finalizing the implementation now.

[2017-05-02 22:16] #1855 closed

[2017-05-02 22:16] jgmac1106 commented on #2033
I believe these are the current kits:  curriculum kits for the unit:
https://thimbleprojects.org/chadsansing/192408/index.html and individual
lessons: https://d157rqmxrxj6ey.cloudfront.net/flukeout/17698/#step-1 though
looking at url from individual lesson it needs an update in url

On Tue, May 2, 2017 at 2:09 PM Luke Pacholski <notifications@github.com>
wrote:

[2017-05-03 13:57] aayushsanghavi commented on #2041
@gideonthomas I'd like to work on this

[2017-05-03 21:25] flukeout commented on #1996
I've made these changes and they are reflected in https://id.mofostaging.net/signup

[2017-05-03 21:25] #1996 closed

[2017-05-03 22:18] flukeout commented on #2021
Filed a PR here: https://github.com/mozilla/webmaker-mailroom/pull/57

[2017-05-04 19:57] gideonthomas commented on #2021
@flukeout are you sure we want to include "Webmaker App" in the copy? Aren't we shutting it down soon?

[2017-05-04 20:00] gideonthomas commented on #2041
sure thing @aayushsanghavi! @flukeout and @Pomax might be able to give a bit more information about what's required here.

[2017-05-04 20:09] #1630 closed

[2017-05-05 21:01] flukeout commented on #1685
Closing as there isn't much action here and it hasn't been a problem (at least for me) recently.

[2017-05-05 21:01] #1685 closed

[2017-05-05 21:28] flukeout commented on #2035
Hey this is sort of related to https://github.com/mozilla/thimble.mozilla.org/issues/1284 so I'll just close your issue and update that one.

[2017-05-05 21:28] #2035 closed

[2017-05-05 21:41] flukeout commented on #2021
Closing as all of the changes for this are in staging in their respective repos. We're going to push the changes live on Monday.

[2017-05-05 21:41] #2021 closed

[2017-05-05 21:41] gideonthomas commented on #2040
@dipakparmar, did you work on any project when that happened? i.e., if we reset it, will there be data you need that will be lost?

[2017-05-05 21:44] flukeout commented on #2014
For me it depends on the browser...

* In Chrome ``http://localhost:8001/flukeout/36`` doesn't work, but if I add a ``/`` at the end it does
* In Firefox ``http://localhost:8001/flukeout/36`` works fine.

@bkim49 Maybe we just need to add a ``/`` - doesn't seem the ``http`` matters.

[2017-05-05 22:53] flukeout opened #2042 "Change "XML/SVG" option label in the editor dropdown menu."
This setting lets you edit SVG files...

<img src="https://cloud.githubusercontent.com/assets/25212/25766985/cc68651e-31aa-11e7-8983-c92f0351c6de.png" width="350" />

The label is totally cryptic and doesn't give any indication of what it actually does. Let's change it to something like...

* ``Edit SVG images as Code``
* ``SVG Image Editing``
* ...any other ideas?

[2017-05-07 03:08] amitsin6h commented on #2042
Want to work on this bug please assign it to me

[2017-05-07 15:00] #1815 closed

[2017-05-07 15:03] gideonthomas commented on #2042
@amitsin6h go for it!

I would vote for @flukeout's first suggestion (because it is the most descriptive), but go for what you feel makes the most sense.

[2017-05-08 17:25] gideonthomas commented on #2014
The PR is here: https://github.com/mozilla/thimble.mozilla.org/pull/2029

[2017-05-08 19:33] humphd commented on #889
I've landed #659 so, feel free to rebase and finish this.

[2017-05-08 19:34] humphd commented on #1886
I've landed #659, closing.

[2017-05-08 19:34] #1886 closed

[2017-05-08 19:34] humphd commented on #1887
I've landed #659 so, feel free to rebase and finish this.

[2017-05-08 19:52] Rajat-dhyani commented on #2041
i looked at @Pomax  comment [here](https://github.com/mozilla/thimble.mozilla.org/pull/1825/files/a23d523979ab953f074ec8544c03e651bbaa2bfc#r108536379)
i think ontouchstart works for desktop i.e `return false` (on chrome) only if we are not viewing it in developer mode.
I have done some changes according to touch event [here](https://github.com/mozilla/thimble.mozilla.org/commit/7936e777bdcc2e58224

[2017-05-08 22:07] flukeout opened #2043 "[dev] Unable to upload image files to project."
@humphd @gideonthomas can you guys try to see if it works locally for you?

I can't drag files in, nor upload them via the "Upload file" dialog. Getting this error...

![image](https://cloud.githubusercontent.com/assets/25212/25827440/1e655a5a-3400-11e7-8ef7-802f0b9fde13.png)

[2017-05-08 22:08] humphd commented on #2043
Which browser?

[2017-05-08 22:09] humphd commented on #2043
Also, can you send me the file you're using that it's rejecting?  I'll test locally.

[2017-05-08 22:09] flukeout commented on #2043
Chrome and it seems like literally any image file.

[2017-05-08 22:10] flukeout commented on #2043
![cat-1](https://cloud.githubusercontent.com/assets/25212/25827504/643f201a-3400-11e7-91b8-28e6710920bc.jpg)

This one doesn't work, and is pretty cute so there's that ^

[2017-05-08 22:12] humphd commented on #2043
I have no issue getting this to work on latest `master`.  What else could be happening here?  Which commit are you on?

[2017-05-08 22:13] humphd commented on #2043
I'm on e0747c612fc062932f849d998888119ad5a8d025 and every way I try to do this (drag-and-drop to file tree, Upload dialog drag-and-drop, Upload dialog From Computer...) all work.

[2017-05-08 22:19] flukeout commented on #2043
Okay, thanks for checking. I'll see if I can provide any additional detail.

[2017-05-08 22:36] flukeout commented on #2043
@humphd I'm running latest master on brackets, just hitting it directly via ``http://localhost:8000/src/hosted``. I get this error in both Firefox and Chrome when I try to drag something in. Can you try latest master?

[2017-05-08 22:38] flukeout commented on #2043
I get no console errors when it fails, although the console has this after the editor loads

![image](https://cloud.githubusercontent.com/assets/25212/25828306/5a081832-3404-11e7-8496-c2390996ad1f.png)

[2017-05-08 22:53] flukeout opened #2044 "My Projects page doesn't scroll, cuts off projects list."
![image](https://cloud.githubusercontent.com/assets/25212/25828685/79ec1200-3406-11e7-8a11-2a656647a3a1.png)

Looks like there is a ``overflow: hidden`` rule in editor.css that is being applied to this page also.

[2017-05-08 23:45] gideonthomas commented on #2043
@flukeout `npm run build && npm start` try that

[2017-05-08 23:52] flukeout commented on #2043
@gideonthomas COME ON MAN what do you take me for over here

[2017-05-08 23:55] flukeout commented on #2043
That is to say, I tried that and it didn't work. Can you try it locally and let me know? I think I noticed this a few days ago, but it's only become urgent now.

[2017-05-09 01:13] humphd commented on #2043
I'm able to reproduce this on staging, so maybe it's something that's happening with the built code vs. what's in src:

![screen shot 2017-05-08 at 9 12 21 pm](https://cloud.githubusercontent.com/assets/427398/25831571/1dd563fe-3433-11e7-8d39-588f6ccb9462.png)

I'll debug.  Thanks for filing.

[2017-05-09 01:14] humphd commented on #2043
Refreshing on staging (with dev tools open) fixed it for me.  I wonder if it's a service worker cache issue?

[2017-05-09 01:34] humphd opened #2045 "Snippets should get inserted with proper indenting"
![screen shot 2017-05-08 at 9 32 45 pm](https://cloud.githubusercontent.com/assets/427398/25832010/e8def1da-3435-11e7-98f8-a86f3248f0dd.png)

I tried inserting a snippet for a Table, and it worked, but it didn't produce nicely indented code.  We should do what the [paste-and-indent](https://github.com/ahuth/brackets-paste-and-indent/blob/a8ac3c339bdf8489607cdcf7a855ea4048e1f3a7/main.js) code does

[2017-05-09 01:37] humphd commented on #2043
I think this is somehow a Thimble-uses-the-wrong-Brackets-version-due-to-Service-Worker-Cache bug.  We haven't solved this yet, and I think it's going to continue to bite us.

The easiest thing we could do for Launch is to finish the "Updates are available, click refresh" UI to let users know that a refresh might fix things.

[2017-05-09 01:41] humphd commented on #2043
The update UI bit is in https://github.com/mozilla/thimble.mozilla.org/issues/1930.

[2017-05-09 11:24] hkirat commented on #2044
This seems to be because of the scroll property being set to hidden [here](https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/stylesheets/editor.less#L5)

layout.html is included on top of projects.html [here](https://github.com/mozilla/thimble.mozilla.org/blob/master/views/editor/projects.html#L1). Any reason for that? Shouldn't the layout.html present inside the editor fold

[2017-05-09 13:59] humphd opened #2046 "Explore whether we can integrate Unsplash Photos API"
I love [Unsplash](https://unsplash.com/).  The photos are amazing and the license they are published under makes them something we can use for free.  I think what they are doing, and what we are doing, are both quite similar and complimentary.

Today I notice that they've [opened their API for free](https://community.unsplash.com/developersblog/the-unsplash-api-is-now-open-free).  We should look a

[2017-05-09 15:36] flukeout commented on #2043
@humphd What's the method for resolving this locally?

[2017-05-09 16:34] humphd commented on #1930
Escalating this for Launch, and assigning to @flukeout and me.

@flukeout, you can use the events in Thimble like this:

[code]

[2017-05-09 18:07] humphd opened #2047 "Improve look of HTML email we send on new account creation"
I tested the new sign-up flow, and it's pretty great.  One thing I think we could do better, though, is to make the email we send easier to read (e.g., add padding):

![screen shot 2017-05-09 at 1 55 39 pm](https://cloud.githubusercontent.com/assets/427398/25865399/c8bfb674-34c0-11e7-9305-fd687945c5f0.png)

cc @flukeout, @cadecairos

[2017-05-09 18:08] flukeout commented on #2047
I look into adding some styling to address this.

[2017-05-09 18:36] flukeout commented on #2044
Hey @hkirat - that's probably a good idea down the road. For now, I added a new style that overrides the ``overflow: hidden`` in the ``projects-style.less`` stylesheet which gets applied only on the projects list.

[2017-05-09 18:52] #2044 closed

[2017-05-09 19:36] humphd opened #2049 "Do the right thing when users access Project List without proper tokens"
@flukeout is reporting that many users are hitting an issue while trying to access their Project List page, and then being redirected to the homepage.  We think this is cache related, and perhaps most affecting people on shared machines/accounts.

@gideonthomas suggests that we could make sure that we don't cache the project-list page when we send it, or perhaps we should be clearing the expired t

[2017-05-10 05:40] #2012 closed

[2017-05-10 06:07] gideonthomas commented on #2043
I too think this is an SW issue because I was only able to trigger this on staging BUT after I repeatedly dragged and dropped the image into the editor, it eventually worked.

@flukeout locally, open your dev tools on Chrome, click on the "application" tab, select "Clear Storage" and make sure everything is checked and then click "Clear site data"

[2017-05-10 06:13] gideonthomas commented on #1963
Dupe of #1950 (thanks for noticing that @bkim49), closing!

[2017-05-10 06:13] #1963 closed

[2017-05-10 06:16] gideonthomas commented on #1950
@us-mahina any updates on this?

@TheoChevalier, since we're re-launching next week, is it ok to assume what you have commented here as the native name for Tajik is correct and use that (and fix later if needed)?

[2017-05-10 07:12] dipakparmar commented on #2040
@gideonthomas it is not my project , i am just remixing this project for my use.

[2017-05-10 11:49] TheoChevalier commented on #1950
@gideonthomas Yeah, we can use it for the launch and fix it as needed, but I would wait to have a confirmation from a native speaker before adding it to product-details

[2017-05-10 14:08] #2045 closed

[2017-05-10 15:15] ThatGirl2015 commented on #2049
If I could chime in -- I teach high school computer science and have been using Thimble for the past two weeks or so and we have been experiencing this exact issue. Additionally, sometimes the project they have been working on does not show up at all in the project list. Or a project they worked on at home does not show up in the project list on the school's PCs. My students are all on shared PCs

[2017-05-10 15:37] amitsin6h commented on #2042
While trying to setup Postgres for development. I get error even tried to solve my self no luck.
postgres -D /usr/local/var/postgres
FATAL:  could not create lock file "/var/run/postgresql/.s.PGSQL.5432.lock": Permission denied
@gideonthomas @flukeout

[2017-05-10 17:13] gideonthomas commented on #1950
Alright sounds good! Thanks!

[2017-05-10 18:42] humphd commented on #2049
@ThatGirl2015 sorry to hear your students are hitting this.  Glad to have you engaged in this bug so we can ask questions as we try to sort this out.  It's hard to reproduce (for us), so valuable to have insights from someone experiencing it.  I'll raise this on our team call today, and hopefully we can get a fix shipped soon.

[2017-05-10 18:46] humphd commented on #2042
@amitsin6h are you using Vagrant?  You should only need to `vagrant up` and it should work.  If you're doing this manually, you're asking for pain.

[2017-05-10 18:58] humphd opened #2052 "Mouse cursor is wrong after clicking Apply with Image Filter"
![img_20170510_145559](https://cloud.githubusercontent.com/assets/427398/25915925/f63d4d0c-3590-11e7-9e3d-c9c9a8581326.jpg)

On [staging](https://bramble.mofostaging.net/), in Chrome, when I apply a filter to a photo and click "Apply" the cursor gets this added Circle-with-a-Line treatment, and it never goes away.  Are we forgetting to call a callback, or not removing some property when it complet

[2017-05-10 19:10] ThatGirl2015 commented on #2049
I'm happy to help.

[2017-05-10 19:20] gideonthomas commented on #2049
Hi @ThatGirl2015, does this happen on Firefox or Chrome?

[2017-05-10 19:23] flukeout opened #2053 "Error Template doesn't render"
While debugging #2049, and bringing down the id and login servers, that Thimble's error templates don't seem to always render.  See also #1797.

  Error: template not found: remix-projects.html
    at Object.exports.prettifyError (/vagrant/node_modules/nunjucks/src/lib.js:34:15)
    at /vagrant/node_modules/nunjucks/src/environment.js:486:31
    at eval (eval at <anonymous> (/vagrant/node_modules/

[2017-05-10 19:25] ThatGirl2015 commented on #2049
Chrome

[2017-05-10 19:42] flukeout opened #2054 "Cache!"
* Change to a 307 instead of a 301
* Add a no-cache header

cc @gideonthomas knows what to do.

[2017-05-10 19:44] #2054 closed

[2017-05-10 19:49] humphd commented on #2049
After discussion and debugging we think the following is needed:

* Let's not do a `301` [here](https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/lib/middleware.js#L61), let's render an error page instead.  The error page should indicate that an affected user should sign-out and sign-in again.
* Let's set a `no-cache` header on what we return here.

[2017-05-10 20:05] humphd commented on #2053
The problem here is *maybe* that we only send the status code on our [data object](https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/lib/http-error.js#L48).

[2017-05-10 20:08] humphd commented on #2053
To reproduce this:

* Load Thimble at `http://localhost:3500`
* Login on the Homepage
* In your terminal, type `vagrant ssh` and then `pm2 stop login && pm2 stop id`
* Try to open your Projects List

You can restart those 2 services with `pm2 start login && pm2 start id`

[2017-05-10 23:51] humphd opened #2057 "Console icons not loading on staging"
Fall out from https://github.com/mozilla/brackets/pull/753:

![screen shot 2017-05-10 at 7 48 06 pm](https://cloud.githubusercontent.com/assets/427398/25925955/f3fceae2-35b9-11e7-97b4-f26581718b57.png)

We must not be copying them, or including in SW cache somehow. cc @raygervais

[2017-05-11 00:00] humphd commented on #2057
This works locally, so I'd say our problem is that it's hard-coding `src/` in the path here:

[code]

[2017-05-11 14:51] #1930 closed

[2017-05-11 16:21] flukeout commented on #2057
Ok, I'll get on this.

[2017-05-11 16:22] humphd commented on #2057
I've also noticed we have string issues, which I've fixed in https://github.com/mozilla/thimble.mozilla.org/pull/2058

[2017-05-11 16:23] humphd commented on #2057
NOTE: https://github.com/mozilla/brackets/pull/759 fixes this bug.

[2017-05-11 16:25] flukeout commented on #2057
Oh okay, I'll test that.

[2017-05-11 16:28] humphd opened #2059 "Don't show "Loading" forever if there is an error"
Testing staging today, I had to reload 3 times to get my editor to finally load:

![screen shot 2017-05-11 at 12 11 21 pm](https://cloud.githubusercontent.com/assets/427398/25960424/e11a8bd8-3644-11e7-88c7-03f7bbc067a7.png)

First I had `r is not defined`, reloaded and then it mostly worked, but there was no preview, and I got `m is not defined`.  The third reload made everything work perfectly.

[2017-05-11 16:42] flukeout commented on #2059
I'll update the green loading screen of doom with:

* Refresh button
* Email us if this keeps happening link

[2017-05-11 16:43] humphd commented on #2059
That's probably smart, even if we *always* show it vs. in the error case.  Might be good to add analytics to the `reload` button so we know how often people are hitting this.

[2017-05-11 16:46] flukeout commented on #2059
How about on every page load, we pick a random dom element and append a "Refresh Now" button to it? That should cover the bases.

[2017-05-11 17:25] humphd opened #2060 ""Autocomplete code" setting doesn't seem to have any effect"
![screen shot 2017-05-11 at 1 22 59 pm](https://cloud.githubusercontent.com/assets/427398/25962779/156fb644-364d-11e7-8f9d-829458f2282b.png)

On [staging](https://bramble.mofostaging.net/) I'm noticing that no matter what I do with the "Autocomplete code" option, it always displays/completes code that I type.  Am I misunderstanding what this is supposed to do?  Or is this a regression?

cc @hkirat

[2017-05-11 18:37] humphd opened #2062 "Switching to XML view for an SVG image throws "e.substr is not a function""
![screen shot 2017-05-11 at 2 35 27 pm](https://cloud.githubusercontent.com/assets/427398/25965866/3a9da426-3657-11e7-9331-5cc8bc9ef285.png)

I don't seem to be able to switch to the XML view of an Image for SVG.  When it tries to load it, it fails with `e.substr is not a function`.

[2017-05-11 18:55] humphd commented on #2062
Fix for this in https://github.com/mozilla/brackets/pull/760

[2017-05-11 19:01] cadecairos opened #2063 "Improving Thimble Login Reliability"
One of the biggest pain points I've noticed is the daily issues where id(oauth) and login(user storage) servers fall over. I've been watching closely the last couple days and here's what I noticed:

1. id doesn't fail itself - it returns errors when requests to login start failing
2. login had two bottlenecks:
    1. Database is significantly under powered
    2. password verification eats CPU cyc

[2017-05-11 19:02] humphd commented on #2060
@hkirat is going to look at this.

[2017-05-11 19:21] humphd opened #2064 "Login on Staging gives 404 on login for no obvious reason"
Here is me trying to login on staging in both Firefox and Chrome:

![screen shot 2017-05-11 at 3 18 50 pm](https://cloud.githubusercontent.com/assets/427398/25967798/492abd70-365d-11e7-8c69-e5b42bf253a3.png)

Both do basically the same thing, and I end up with a 404 and the following JSON response text.

[code]

This seems like it shouldn't be happening, since we have no UI that deals with the 404

[2017-05-11 19:30] humphd opened #2065 "Trying to open a Remix on Staging gives a 500"
![screen shot 2017-05-11 at 3 28 53 pm](https://cloud.githubusercontent.com/assets/427398/25968186/9a671f2a-365e-11e7-9713-10f1ee416f14.png)

I made a new account to get around #2064, and was able to click Publish.  My project got published to https://thimbleprojects.mofostaging.net/david-humphrey/140/.  When I click Remix, it gives a 500.

cc @cadecairos, @gideonthomas

[2017-05-11 19:31] gideonthomas commented on #2065
Is this from the homepage? If so, that is expected @humphd. You cannot remix any of the projects on the homepage because they only live on production.

[2017-05-11 19:36] flukeout opened #2066 "Thimble crashes when a linked CSS file with a space in it is edited."
Steps to reproduce...

* Start a new project
* Add a space somewhere to the style.css file
  * ``sty le.css`` etc.
* Update the link tag on the index.html page
* Go back and edit the CSS file
* Thimble will crash and the console will show the following...

![image](https://cloud.githubusercontent.com/assets/25212/25968437/56a8a6d6-3646-11e7-994d-734f2395fa6c.png)

[2017-05-11 19:37] humphd commented on #2065
No, see my note above: this is a project I made myself and published on staging.

[2017-05-11 19:45] humphd commented on #2066
I feel like we've seen/filed this before, but I can't find it now.  In theory, that filename is invalid, since you can't have spaces in URLs.  However, I agree that we should do the right thing here.

Also possibly related: https://github.com/mozilla/thimble.mozilla.org/issues/1928,

[2017-05-11 19:46] flukeout commented on #2066
We could also replace / prevent filenames with spaces where possible.

[2017-05-11 19:59] cadecairos commented on #2064
I haven't been able to reproduce this error yet - is it still happening in your browsers?

[2017-05-11 19:59] cadecairos commented on #2065
Clicking the remix button on that project seems to work okay - maybe it was a blip in the system?

[2017-05-11 20:03] humphd commented on #2064
Yes, same thing here.

[2017-05-11 20:26] cadecairos opened #2067 "Use a native bcrypt implementation on production (WMLogin)"
let's opt for the native C++ brcypt implementation when NODE_ENV=production

[2017-05-11 20:28] humphd commented on #2057
This was merged.

[2017-05-11 20:28] #2057 closed

[2017-05-11 20:29] flukeout opened #2068 "Update login & sign-in page so that the submit button is disabled after a request."
This is to prevent someone from spamming 'sign in' and potentially adding undue load on the server.

cc @Pomax

[2017-05-11 20:29] cadecairos opened #2069 "Raise the minimum dyno count in Adept Scale (For launch week)"
In anticipation of high traffic, we're going to raise the minimum dyno count.

I propose setting it to 10 for the launch day, and allow scaling out to 40

What's our target launch day?

[2017-05-11 20:39] Pomax commented on #2064
I can't seem to reproduce this either

[2017-05-11 20:45] humphd commented on #2069
Be generous with what you do here, and turn it down after.  It's basically "Marketing" vs. "DevOps" cost for the short period we want it to be scaled up.

[2017-05-11 20:46] humphd commented on #2064
I see 2 places where this might be originating:

https://github.com/mozilla/id.webmaker.org/search?utf8=%E2%9C%93&q=%22LoginAPI+error%22&type=

@cadecairos can you make sense of this?

[2017-05-11 20:51] cadecairos commented on #2064
hmm that indicates that we're not getting JSON back from `/user/id/${user}` on wmlogin. let me re-familiarize myself with that code.

[2017-05-11 20:53] #2062 closed

[2017-05-11 22:32] gideonthomas commented on #1950
It should show up on staging now. Will keep it open so that I'll remember to enable it on production

[2017-05-12 00:10] humphd opened #2071 "[Mac] Make it more obvious that language menu is scrollable, has more options"
![screen shot 2017-05-11 at 7 56 55 pm](https://cloud.githubusercontent.com/assets/427398/25976878/ac5e8e3a-3685-11e7-8290-1bdff0249162.png)

It's difficult to intuit that you can scroll the language menu.  There are, in fact, more languages below this, but it looks complete, and there's no scrollbar, or other hint that I could go down.  I wonder if we can do better?

I think this is only a Mac th

[2017-05-12 00:13] humphd commented on #1460
Re-reading #1458, I suspect that this is the `ENOENT` bug I fixed.  I'm going to close this, since we don't have enough info to go on for fixing.

[2017-05-12 00:13] #1460 closed

[2017-05-12 00:20] humphd commented on #1486
I can't even find this code anymore, closing.

[2017-05-12 00:20] #1486 closed

[2017-05-12 00:20] humphd commented on #1603
This sounds like what we're fixing in #2055, closing.

[2017-05-12 00:20] #1603 closed

[2017-05-12 00:21] humphd commented on #1562
We haven't moved anywhere on this for over a year, closing.

[2017-05-12 00:21] #1562 closed

[2017-05-12 00:23] humphd commented on #1542
This was unfortunate, but it looks like there's been no activity for over a year.  I'm going to close, but please file again if it happens again.

[2017-05-12 00:23] #1542 closed

[2017-05-12 00:24] humphd commented on #1533
Dupe of #1251.

[2017-05-12 00:24] #1533 closed

[2017-05-12 00:24] humphd commented on #1507
No updates for over a year, closing.

[2017-05-12 00:24] #1507 closed

[2017-05-12 00:25] humphd commented on #1666
We seem to have moved to the wiki, closing.  If people disagree, please re-open or file a new bug.

[2017-05-12 00:25] #1666 closed

[2017-05-12 00:25] #1643 closed

[2017-05-12 00:26] #1638 closed

[2017-05-12 00:26] #1618 closed

[2017-05-12 00:26] #1615 closed

[2017-05-12 00:28] humphd commented on #1778
This was fixed in https://github.com/mozilla/thimble.mozilla.org/pull/1822, closing.

[2017-05-12 00:28] #1778 closed

[2017-05-12 00:29] humphd commented on #1741
We've done this, closing.

[2017-05-12 00:29] #1741 closed

[2017-05-12 00:29] humphd commented on #1696
We did some experiments with this in class.  It's interesting, but not high priority, going to close.

[2017-05-12 00:29] #1696 closed

[2017-05-12 00:30] humphd commented on #1675
This has been merged!  Closing.

[2017-05-12 00:30] #1675 closed

[2017-05-12 00:32] humphd commented on #1873
Going to close this, but first a note about what happened during this last term:

* 101 contributors
* 795 commits (557 Thimble + 283 Brackets)
* 486 bugs worked on
* 279 PRs
* 100K lines of code added/removed

Managing that with such a small team of mentors was...a lot!  In the fall I'll be doing it again, we should ponder ways to make it even better.

Thank you to all of you who got so involved

[2017-05-12 00:32] #1873 closed

[2017-05-12 00:33] humphd commented on #1967
This is happening in #1989, closing here.

[2017-05-12 00:33] #1967 closed

[2017-05-12 00:34] #1911 closed

[2017-05-12 00:34] humphd commented on #1903
This was merged, closing.

[2017-05-12 00:34] #1903 closed

[2017-05-12 00:35] humphd commented on #1819
We've got process fixes for this now, closing.

[2017-05-12 00:35] #1819 closed

[2017-05-12 01:31] humphd opened #2072 "Make it possible to add a new Folder from the File Tree page icon"
Via Twitter, a request to add the ability to create new Folders in addition to files from the File Tree page icon.  I'll add a patch to Brackets to make this possible, then do the UI here.

[2017-05-12 07:08] amitsin6h commented on #2042
running below command for publish.webmaker.org gives Error
npm run knex

Error: Knex:Error Pool2 - error: role "amitsin6h" does not exist

@flukeout @humphd

[2017-05-12 09:58] nailaandleeb opened #2073 "auth code expires on signin and create account"
Hi!I am using thimble locally and created account first it ran good but after sometime it gave error  as

![capture](https://cloud.githubusercontent.com/assets/8026795/25992583/6bb12b7c-3720-11e7-801a-49b8316b043f.PNG)

and this in browser...
![capture](https://cloud.githubusercontent.com/assets/8026795/25992721/e5963126-3720-11e7-832d-ac52a2326513.PNG)

Already had a discussion in issue #1601 .

[2017-05-12 14:04] humphd commented on #2073
We're fixing the template rendering error and logout workflow in https://github.com/mozilla/thimble.mozilla.org/pull/2055.  However, I'm not sure why you'd have to drop the tables and recreate.

cc'ing @cadecairos.

[2017-05-12 14:21] humphd commented on #2042
@amitsin6h you didn't answer my question above: are you using `vagrant up`?  If you're not, please switch to using Vagrant.

[2017-05-12 14:40] cadecairos commented on #2073
I'm also unsure what could be happening. When the log in button is clicked on Thimble, and once the username and password are verified, a new auth code and auth token are created, so recreating tables shouldn't have an affect. Have you bookmarked, or are you reusing, any links on id or login? This could cause forbidden errors.

[2017-05-12 15:00] humphd opened #2074 "[Microsoft Edge] Hovering the Inspector shows no icon"
![img_20170512_105656](https://cloud.githubusercontent.com/assets/427398/26003907/06fb6256-3702-11e7-8e43-a8cddfe3cf6e.jpg)

Noticing that when I hover the Inspector icon in MS Edge, it goes pure white.  It looks like this in Chrome:

![screen shot 2017-05-12 at 10 59 34 am](https://cloud.githubusercontent.com/assets/427398/26003937/1f623dce-3702-11e7-8ad8-c4fdc4316a5a.png)

[2017-05-12 15:02] humphd opened #2075 "When renaming Untitled Project, we should automatically select all text"
![screen shot 2017-05-12 at 11 00 43 am](https://cloud.githubusercontent.com/assets/427398/26004011/5af0949e-3702-11e7-8b40-0ef06d94841e.png)

When the user clicks the pencil icon to rename the default project title, we give a cursor, but don't automatically select the existing text.  This is annoying because you have to manually select and delete what's there.  We should just select everything so

[2017-05-12 15:04] humphd opened #2076 "Add a tooltip to the Thimble icon"
![screen shot 2017-05-12 at 11 03 32 am](https://cloud.githubusercontent.com/assets/427398/26004104/b0f21d18-3702-11e7-899a-d71696e8cecc.png)

When you hover over the Thimble icon in the top-left corner of the editor, we don't give any indication of what clicking it will do.  It would be nice if we added a tooltip that says `Open Thimble Homepage` or something.

[2017-05-12 15:13] humphd opened #2077 "Console icon disappears when switching from Mobile to Desktop preview mode"
![missing-console-icon](https://cloud.githubusercontent.com/assets/427398/26004436/e17f5b66-3703-11e7-8717-5a3729222a57.gif)

We're not doing something right when we switch back to Desktop mode from Mobile.  Probably we need to alter where we are putting the console icon, so it doesn't get hidden/destroyed/overwritten.

cc @raygervais

[2017-05-12 15:17] raygervais commented on #2077
Perhaps put the icon in the toolbar above the preview? Just a thought.

[2017-05-12 15:18] humphd commented on #2077
I think it's good where it is, but just not where it is in the DOM order.  I'll fix it today when I get a min.

[2017-05-12 15:22] humphd opened #2078 "New default HTML doesn't match HTML file we add from Files icon"
![different-html](https://cloud.githubusercontent.com/assets/427398/26004808/0b027d00-3705-11e7-8b78-b6de649e5fe7.gif)

We changed the default HTML and CSS in https://github.com/mozilla/thimble.mozilla.org/commit/4b241cdbc69ca69e73fbe8700433d632a9c02520 but didn't update the ones we inject when you click `Add HTML file` and `Add CSS file`.  Probably they should match.

[2017-05-12 15:26] humphd opened #2079 "Switch to console.log() from alert() in default JavaScript file"
When you click `Add JavaScript file` we give you this:

![screen shot 2017-05-12 at 11 24 55 am](https://cloud.githubusercontent.com/assets/427398/26005021/bc38ae14-3705-11e7-938f-0f132992e30b.png)

Now that we have a built-in `console` UI it would be nice to switch to that from `alert`.

[2017-05-12 15:31] humphd opened #2080 "Improve icon and tooltip for File Tree popup menu"
![screen shot 2017-05-12 at 11 29 54 am](https://cloud.githubusercontent.com/assets/427398/26005220/6580f6f2-3706-11e7-86d7-3ba49fd96221.png)

I don't think this "page" icon is amazing.  First, I don't know what to call it, so it's hard to explain it.  Second, it doesn't represent all the things that you can do in this menu.  Third, it looks like a button vs. a menu of options.  Fourth, the toolti

[2017-05-12 16:53] humphd opened #2081 "Mobile Preview "Home" button no longer centered"
![screen shot 2017-05-12 at 12 51 19 pm](https://cloud.githubusercontent.com/assets/427398/26008215/d2fa3af8-3711-11e7-9720-6ee6615b8516.png)

Somehow we've messed up the position of the "home" button on the mobile preview wrapper, it's not in the centre any more.

[2017-05-12 16:55] humphd commented on #2077
I've got a fix in https://github.com/mozilla/brackets/pull/761 waiting on review.

[2017-05-12 17:37] flukeout commented on #1640
OK @hkirat - will test again!

[2017-05-12 17:42] flukeout commented on #2081
I got it...

[2017-05-12 17:45] #2077 closed

[2017-05-12 17:45] humphd opened #2082 "Missing icons in new homepage"
![screen shot 2017-05-12 at 1 43 42 pm](https://cloud.githubusercontent.com/assets/427398/26010020/420427d6-3719-11e7-8dd3-e8e77102665b.png)

Seem to be missing some images:

![screen shot 2017-05-12 at 1 44 31 pm](https://cloud.githubusercontent.com/assets/427398/26010029/49bb15de-3719-11e7-866e-50bebd43baf6.png)

[2017-05-12 17:51] humphd opened #2083 "[MS Edge, IE11] Odd sizing issue with mozilla logo in homepage footer"
![img_20170512_134908](https://cloud.githubusercontent.com/assets/427398/26010205/0762340a-371a-11e7-98fd-1012602dc001.jpg)

cc @flukeout

[2017-05-12 18:04] humphd opened #2084 "Play/Pause videos in Features page on scroll for better performance"
The new Cool Features page (see https://bramble.mofostaging.net/en-US/features) is awesome, and does a good job showing how things work, while still keeping download sizes small.  I've tested it on a bunch of machines/browsers/OSes, and especially on Edge, I notice lag in the framerates.  We have a lot of videos (and therefore media threads) running on this page, even when the `video` elements are

[2017-05-12 18:12] humphd opened #2085 "Unescaped &mdash; in cgsingh's quote"
![screen shot 2017-05-12 at 2 10 15 pm](https://cloud.githubusercontent.com/assets/427398/26010909/ced415ec-371c-11e7-9013-7622cc64a01b.png)

This needs a fix so it shows the proper character vs. the HTML entity. Not critical for Launch, but I've put it in anyway.  Feel free to move it out if we don't have time.

cc @flukeout

[2017-05-12 18:14] #2081 closed

[2017-05-12 18:42] #2068 closed

[2017-05-12 18:44] humphd commented on #2067
Merged on staging, need to still do a prod push

[2017-05-12 18:44] #2067 closed

[2017-05-12 18:45] #2043 closed

[2017-05-12 18:45] #2053 closed

[2017-05-12 18:46] #2049 closed

[2017-05-12 18:48] humphd commented on #2065
Closing, will re-file if I keep seeing it.

[2017-05-12 18:48] #2065 closed

[2017-05-12 19:02] humphd commented on #2083
Looks the same in IE11

[2017-05-12 19:23] hkirat commented on #2060
Looked a bit into this.
Here is what I could find.
- Running brackets locally via /src/hosted.html works perfectly
- Running brackets locally via /dist/hosted.html breaks the autocomplete feature.
To test this, open the console, change value of the local Storage variable bramble-property::allowAutocomplete to false and refresh.
It still auto completes the code.

Now doing a hard reset to https://g

[2017-05-12 19:28] #2085 closed

[2017-05-12 19:31] flukeout commented on #2084
Another option would be to play them on hover.

[2017-05-12 19:36] flukeout commented on #2082
Fixed in a merged PR.

[2017-05-12 19:36] #2082 closed

[2017-05-12 19:37] flukeout commented on #2080
* We can change it to ``Manage files``
* Icon wise, the plus was great, the only thing that messed that up was the Download Zip, which is why we changed it.

[2017-05-12 19:38] flukeout commented on #2078
👍

[2017-05-12 20:16] flukeout commented on #2074
Are you able to inspect it at all in edge to see what might be wrong?

[2017-05-12 20:25] humphd commented on #2083
This one looks like in IE the `img` element has a height of `28px` in Chrome (looks right) and `50px` in IE.  I think we need an explicit height for the CSS on this element so Edge/IE don't inherit it (no idea where it's coming from).

[2017-05-12 20:28] #2076 closed

[2017-05-12 20:30] humphd commented on #2083
@flukeout I'm moving this into Launch, since it affects branding, and seems pretty bad on that front.  Can you do some CSS on this image?

[2017-05-12 20:33] flukeout commented on #2083
No, closed by accident.

[2017-05-12 20:35] humphd commented on #2074
I can't reproduce this now, in IE11 or Edge.  No idea what happened, but I'll re-file if I see it again.

[2017-05-12 20:35] #2074 closed

[2017-05-12 20:39] humphd opened #2091 "Provide hint in empty Console on how to use it"
![screen shot 2017-05-12 at 4 36 53 pm](https://cloud.githubusercontent.com/assets/427398/26016002/47848fc6-3731-11e7-91bd-a9a170cfa612.png)

If you don't know what the new console is, or how to use it, it might seem odd.  We should consider adding a line of text by default when it opens and has no ideas that says something like:

[code]

[2017-05-12 20:44] #2078 closed

[2017-05-12 20:44] #2079 closed

[2017-05-12 20:48] flukeout commented on #2091
Great idea, I'll add something.

[2017-05-12 20:55] cadecairos commented on #2069
So, in the interest of being absolutely sure we'll handle load, I'll scale us all the way up to a minimum 30 Dynos for the first couple days after launch, and even allow for more dynos if required.

[2017-05-12 22:35] #2091 closed

[2017-05-13 00:59] humphd opened #2092 "Use max-age 0 for bramble-sw.js Service Worker file"
I'm reading that it's a good practice to set `max-age` of `0` for Service Worker scripts so they don't get cached.  How do we do this per file in the S3 buckets for prod/staging?

@cadecairos, @gideonthomas

[2017-05-13 01:00] humphd commented on #2092
I see https://docs.travis-ci.com/user/deployment/s3/#HTTP-cache-control, but it seems like it relates to the whole bucket vs. one file.

[2017-05-13 01:13] cadecairos commented on #2092
We can set a behaviour on the Cloudfront CDN specifically for that resource, to set max-age to 0

[2017-05-13 08:11] nailaandleeb commented on #2073
i thought i might be the problem with auth_codes table and tried recreating it.but only once it solved the issue now i am stuck here.not only the login but create account link also giving same error.

[2017-05-13 13:56] hkirat commented on #2046
One use case I can think of is providing an inline widget that pops down on pressing Ctrl +E on something like
[code]
and lets the user search and pick images right from inside Thimble.

If some website provides an api for 3-D models, something similar can be added for aframe.
[code]
Another use case for Aframe users. Letting them pick textures for 3-D objects directly from Thimble.

[2017-05-14 16:17] gideonthomas commented on #2092
I'll set the other cache headers as well, viz. `Cache-Control: no-cache, no-store, must-revalidate, max-age=0`

[2017-05-14 17:54] Rajat-dhyani commented on #2084
can i take this over ? @humphd @flukeout
and i do like like the idea of playing them on hover instead of making a play and pause button.

[2017-05-14 18:11] humphd commented on #2092
I'm not sure it's right for the others...we want that stuff to cache. It's the service worker itself. Maybe leave this til after launch, and we'll research.

On May 14, 2017 12:17 PM, Gideon Thomas <notifications@github.com> wrote:

I'll set the other cache headers as well, viz. Cache-Control: no-cache, no-store, must-revalidate, max-age=0

—
You are receiving this because you authored the thread.

[2017-05-14 20:43] gideonthomas commented on #2092
Actually, @cadecairos you cannot change the behavior on CloudFront to set `Cache-Control` headers, it has to be configured on the origin server. You can only configure how CloudFront itself caches objects.

So, I set metadata on the `bramble-sw.js` object with the `Cache-Control` header in S3 directly. Hopefully, it won't get overridden every time the object is updated.

[2017-05-14 21:15] cadecairos commented on #2092
Actually, you can override origin cache control headers: http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesObjectCaching

But cloudfront will respect origin cache headers by default as well.

[2017-05-14 23:33] GrayHatter commented on #1728
Can duplicate somewhat reliably on *nix Firefox proper  52.0.2 (and this is the only current result that comes up on google). So while it may not be the same issue, I'd like to know how/if you're able to fix this one.

[2017-05-15 03:58] TheoChevalier opened #2098 "Localized feature page layout issue"
The issue can be seen here, the “Built-in JavaScript Console” block is going on a new line: https://bramble.mofostaging.net/fr/features

![screenshot-2017-5-15 thimble par mozilla un editeur de code en ligne pour apprendre et enseigner](https://cloud.githubusercontent.com/assets/1294206/26042143/a9a6d0b0-392a-11e7-8435-21d88e9415fb.png)

[2017-05-15 04:01] humphd commented on #2098
cc @flukeout

[2017-05-15 05:24] #2075 closed

[2017-05-15 15:21] humphd opened #2099 "Loading Error page "Reload Now" button doesn't work"
![screen shot 2017-05-15 at 11 19 06 am](https://cloud.githubusercontent.com/assets/427398/26064947/7156b2bc-3960-11e7-9051-dee0e30fced9.png)

I'm doing a bunch of testing locally right now, and hit this new error page (I don't have Brackets running locally, so it couldn't load `dist/bramble.js`).  I tried clicking the`Reload Now` button and it doesn't do anything, and there are no error messages

[2017-05-15 15:25] humphd commented on #2099
We should move the event handler for this button's click event above line 41, so it happens even if `window.Bramble` is missing.

[code]

[2017-05-15 15:56] #2099 closed

[2017-05-15 15:56] flukeout commented on #2098
Thanks for catching that @TheoChevalier, will work on it now.

[2017-05-15 16:44] humphd opened #2101 "Undo temporary Bramble API shim we did for May 2017 Launch"
In https://github.com/mozilla/thimble.mozilla.org/pull/2097 I'm adding a temporary shim for the Bramble API so existing Service Worker cached copies don't crash the with the new Thimble code.

We need a better way to do this going forward.

[2017-05-15 16:50] gideonthomas commented on #2092
@cadecairos lets chat about this

[2017-05-15 17:04] flukeout opened #2102 "When switching locales, stay on the same page."
Right now if you navigate to the features page, and then switch the locale, you end up on the homepage. We should keep users on the same page.

[2017-05-15 17:05] flukeout opened #2103 "Lesson Plan button styling breaks with long strings when localized"
On the homepage gallery

![image](https://cloud.githubusercontent.com/assets/25212/26069531/02df1ab8-3956-11e7-9f1d-9087a682db0e.png)

[2017-05-15 17:11] humphd opened #2104 "[MS Edge, IE11] Drag-and-Drop doesn't work into file tree"
I'm having issues dragging files into the file tree with Edge and IE11.   No errors, just doesn't work.

[2017-05-15 17:33] humphd opened #2106 "[MS Edge] Missing dist/style.css file on staging for Brackets"
I'm not sure if this is a real issue or not, but I'm seeing some missing icons for the Console button, Folder arrow, etc in MS Edge.  I also get a 404 on `https://mozillathimblelivepreview.net/bramble/staging/dist/style.css` which is not a file we should be loading at all (it should probably be loading it in the bramble extension dir).

![img_20170515_132749](https://cloud.githubusercontent.com/as

[2017-05-15 17:46] #2083 closed

[2017-05-15 17:57] humphd commented on #2106
Now magically fixed.  I'll leave this open for now, but it's likely a ghost.

[2017-05-15 18:08] flukeout opened #2108 "QA > Create account button becomes unusable after failed password validation"
On Firefox on Mac, I'm stuck on this page...

![image](https://cloud.githubusercontent.com/assets/25212/26071968/c7ac250e-395e-11e7-9018-0827e38617f3.png)

This happens after you try a non-valid password (one without an uppercase character or number). After that, even if you provide a good password, the button does not re-enable.

cc @Pomax could you take a look at this one as we were both involve

[2017-05-15 18:10] humphd commented on #2108
Do you get a `404` on your console?  This is similar to what I had on my local machine before.

[2017-05-15 18:11] flukeout opened #2109 "QA > After creating an account, Thimble immediately loads the editor."
In Firefox on Mac. After creating a brand new account, I was immediately redirected to the editor with the following in the URL...

``https://bramble.mofostaging.net/en-US/user/lukethepuke22/3730``

Why??

[2017-05-15 18:12] humphd commented on #2109
Did you have an anonymous project on the go when you signed in?  Or was this from the homepage?

[2017-05-15 18:13] flukeout commented on #2109
Seems like the disabled button thing is coupled with the password missing a number...

![image](https://cloud.githubusercontent.com/assets/25212/26072195/93a5bb84-395f-11e7-807d-d129d99d5d63.png)

[2017-05-15 18:14] flukeout commented on #2109
From the homepage. May have had something else on the go previously, so maybe it was confused that way.

[2017-05-15 18:15] flukeout commented on #2108
The disabled button issue seems linked with the password not having a number:

![image](https://cloud.githubusercontent.com/assets/25212/26072195/93a5bb84-395f-11e7-807d-d129d99d5d63.png)

[2017-05-15 18:16] flukeout commented on #2108
@humphd that might be a different issue. I get a 404 if I just try a username and nothing else. Will file separately.

[2017-05-15 18:17] flukeout opened #2110 "QA > Create account shows a 404 error in console"
Got to Create Account page via bramble.mofostaging.net

Mac, Chrome. If you provide ONLY a username and click "Sign Up" the browser throws a 404 error in the console, so something is up...

![image](https://cloud.githubusercontent.com/assets/25212/26072333/f8963f6e-395f-11e7-9e36-de8d29ac6bac.png)

cc @Pomax @cadecairos

[2017-05-15 18:24] flukeout commented on #2072
+1 to this

[2017-05-15 18:36] humphd commented on #2072
It turns out we already have the API in place for this, we just need a new menu item and it will work.  Pretty easy fix.

[2017-05-15 18:49] flukeout opened #2111 "QA > Text in input field when renaming a file is clipped."
In Firefox on Mac, rename a file, it will appear like this...

![image](https://cloud.githubusercontent.com/assets/25212/26073735/82fba5fa-3964-11e7-8f5f-b25b04f0d0c1.png)

[2017-05-15 18:52] flukeout opened #2112 "QA > Deleting a project from within the editor starts a new project"
In Firefox on Mac. Happens when I am Signed In and editing a project. For example at...

``https://bramble.mofostaging.net/en-US/user/flukeydukey/3735``

Then, if I hit delete project in the dropdown menu, I get redirected to the editor with...

``https://bramble.mofostaging.net/en-US/user/flukeydukey/3736``

Which is incremented by one.

[2017-05-15 18:55] humphd opened #2113 "[MS Edge] Selfie preview image skewed"
Similar to the issue with the height not being correct on the Mozilla logo in https://github.com/mozilla/thimble.mozilla.org/pull/2105, I'm noticing image skew in the preview image in the selfie uploader:

![img_20170515_144916](https://cloud.githubusercontent.com/assets/427398/26074030/725cf25c-397e-11e7-9e57-55138abb4346.jpg)

[2017-05-15 18:56] flukeout opened #2114 "Feature request > After inserting a snippet, focus the Editor again."
Right now if you add a code snippet via the menu, the editor becomes blurred so you need to click it again to start typing. Can we focus it and put the cursor after the inserted snippet?

[2017-05-15 18:58] flukeout opened #2115 "QA > File menu doesn't close after clicking "Download Files""
On Mac Firefox, this here menu stays open after clicking download project.

![image](https://cloud.githubusercontent.com/assets/25212/26074223/d3ad8e4a-3965-11e7-8f72-9ac3da3ca792.png)

[2017-05-15 19:02] flukeout opened #2116 "Feature request > Allow toggle of Editor options by clicking the option label"
In this menu here...

![image](https://cloud.githubusercontent.com/assets/25212/26074345/50d0afd8-3966-11e7-9b68-63ccb11f36e7.png)

Would be nice to be able to click the label the change the setting instead of having to click the toggle itself. When hovering on the label, we should highlight the toggle somehow to show that it will be toggled if you click.

[2017-05-15 19:04] humphd commented on #2114
This would need to happen in Brackets, here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/BrambleCodeSnippets.js

[2017-05-15 19:04] gideonthomas commented on #2092
chatted with @cadecairos.

My fix was only temporary. TODO:
- Change travis config to upload the built bramble files separate from the bramble-sw.js file
- For bramble-sw.js object, set the cache headers

[2017-05-15 19:05] flukeout opened #2117 "QA > SVG image doesn't show up in Image Preview"
In Firefox on Mac, seems like it's having trouble showing SVG images in the preview...

![image](https://cloud.githubusercontent.com/assets/25212/26074464/cad9f5dc-3966-11e7-83e9-a6aa13444d4f.png)

This is after dragging the .svg into the file tree. Works in Chrome.

[2017-05-15 19:08] flukeout opened #2118 "Feature Request > Indicate font size next to font size UI"
For this option...

![image](https://cloud.githubusercontent.com/assets/25212/26074588/30848a14-3967-11e7-9c0e-4f2dd6d02eee.png)

Would be nice to indicate the actual font size you're setting (or percentage), so that you can set it to something you like (and remember) more easily.

[2017-05-15 19:08] gideonthomas commented on #2108
cc @cadecairos

[2017-05-15 19:09] humphd commented on #2115
Same on all browsers.

This code [here](https://github.com/mozilla/thimble.mozilla.org/blob/aa63cc848be71a4f442f3d74324ce7a7e128760f/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L163-L167) should get moved into [this function](https://github.com/mozilla/thimble.mozilla.org/blob/f71e848f83205ec8d98cd88293f224308dfde42e/public/editor/scripts/editor/js/fc/bramble-menus.js#L312) and call `m

[2017-05-15 19:12] #2098 closed

[2017-05-15 19:15] auremoser opened #2119 "Create an Account in Chrome broken"
## Context
Trying to create an account to test thimble before Wednesday release, can't create an account. Have tried multiple user names and passwords in Chrome (Version 57.0.2987.133). Perhaps this is a Chrome issue, perhaps it's a "new account can't be made in staging" issue. Feel free to ignore if that's the case.

## Expected Result
Filled out the account info and click "submit" ---> takes me

[2017-05-15 19:16] humphd commented on #2119
Thanks for spotting this and filing!  Possible dupe of https://github.com/mozilla/thimble.mozilla.org/issues/2108, cc @flukeout.

[2017-05-15 19:16] humphd commented on #2119
cc @cadecairos

[2017-05-15 19:19] humphd commented on #2117
Working for me (Firefox on Mac).  Is it your particular SVG?

![screen shot 2017-05-15 at 3 18 06 pm](https://cloud.githubusercontent.com/assets/427398/26075027/d2870f48-3981-11e7-9d6b-08ea64f53004.png)

[2017-05-15 19:19] auremoser commented on #2119
sorry, should have checked for dupes!

[2017-05-15 19:20] humphd commented on #2119
@auremoser no, that's on us.  File as many dupes as you like, I'd rather have it recorded.

[2017-05-15 19:22] flukeout opened #2120 "QA > Console log animation is a bit glitchy."
Console log items sort of flash and fade out after, but then it seems like they are returning to full opacity which looks a bit junky. Not a huge deal, but I'll update it...

![image](https://cloud.githubusercontent.com/assets/25212/26075134/0ec055c8-3969-11e7-8dad-665a3d2236e8.png)

[2017-05-15 19:23] humphd commented on #2120
I think I broke that when I fixed some stuff (going to full opacity) thinking it had been a bug--I thought it was hard to read.  Do what you think is right.

[2017-05-15 19:34] humphd opened #2121 "QA > pretty console hint missing on staging"
In https://github.com/mozilla/brackets/pull/763 we landed some text to give a hint for the console, but it seems to be missing on staging for me:

![screen shot 2017-05-15 at 3 32 17 pm](https://cloud.githubusercontent.com/assets/427398/26075627/f3bd8f64-3983-11e7-8c31-e2feb3cff093.png)

cc @flukeout

[2017-05-15 19:51] flukeout opened #2122 "QA > 404 Page styling is Busted"
On Mac in Firefox...

Browsing to https://bramble.mofostaging.net/en-US/projects/zzz shows the following...

![image](https://cloud.githubusercontent.com/assets/25212/26076300/26b37e4a-396d-11e7-9d74-3c48eae7db92.png)

[2017-05-15 19:52] flukeout commented on #2108
This is related to a change @Pomax and I made, I think we just have to listen to some additional events to re-enable the button.

[2017-05-15 19:55] flukeout commented on #2117
Could very well be. Although it breaks on an image that does work in Chrome. Here's an error that appears along side this happening...

![image](https://cloud.githubusercontent.com/assets/25212/26076510/d27ff046-396d-11e7-87d6-412466151e38.png)

[2017-05-15 20:04] Pomax commented on #2108
hmm, is that not triggering from a `FORM_WARN` maybe?

[2017-05-15 20:37] flukeout opened #2123 "QA > Top nav links in Your Projects page shouldn't spawn a new tab."
![image](https://cloud.githubusercontent.com/assets/25212/26078219/a303b5a4-3973-11e7-92b7-07438ce8edd2.png)

We should just open them in the same tab.

[2017-05-15 21:21] taisdesouzalessa opened #2124 ""Type Error: m is undefined" crash on startup with Firefox"
**Context**
I am trying to create a project, following the instructions that were given to us in the doc. I am using Firefox in a Mac.

**Expected Result**
I expected to see the dashboard to start my project

**Current Result**
![thimble](https://cloud.githubusercontent.com/assets/22157921/26080067/c7bcea0e-3979-11e7-93fc-26523c0aa3de.gif)

[2017-05-15 21:22] flukeout opened #2125 "QA > "Open Issues" indicator is wrong on Get Involved page"
Indicator shows 30 in the little bubble...

![image](https://cloud.githubusercontent.com/assets/25212/26080091/e6310998-3979-11e7-8788-2aa453c35581.png)

But github at the time shows 49 open issues with that label...

![image](https://cloud.githubusercontent.com/assets/25212/26079977/7f9eafe6-3979-11e7-8737-dcd022e354c7.png)

[2017-05-15 21:48] cadecairos commented on #2124
@taisdesouzalessa Was your browser in private browsing mode?

[2017-05-15 21:51] Pomax commented on #2108
I'm seeing this go wrong as:
[code]

[2017-05-15 21:52] Pomax commented on #2108
this triggers when `FORM_ERROR` is being generated

[2017-05-15 21:57] flukeout opened #2126 "QA > Double-flash of content when switching between Desktop & Mobile preview"
On Firefox on Mac, check out this below. The page seems to load then immediately re-load again. Are we doing some sort of extra refresh that we don't need to be, or is this required...

![_double-flash](https://cloud.githubusercontent.com/assets/25212/26081228/b9a5e95c-397e-11e7-8b07-143248ceb6df.gif)

[2017-05-15 22:05] taisdesouzalessa commented on #2124
@cadecairos nope :(.

[2017-05-15 22:11] cadecairos opened #2127 "Disallow backslash in filenames"
it seems that while some special characters are not allowed in filenames, you can use a backslash ('\') which doesn't initially seem to break anything, but does make the file or folder disappear when a project is exported to a zip. The resources inside are also not available to autocomplete prompts in the code editor for things like src attributes.

STR:
1. Rename a file or folder to '\\\\\\' or s

[2017-05-15 22:28] flukeout opened #2128 "QA > Firefox not using 100% of screen height when in the editor."
You can tell by looking at where the console tab starts, a few pixels above the bottom of the screen...

![image](https://cloud.githubusercontent.com/assets/25212/26082116/fa98b72e-3982-11e7-9d15-3095a30d4aef.png)

[2017-05-15 22:35] Pomax commented on #2108
https://github.com/mozilla/id.webmaker.org/pull/437 filed to add dispatch protection in case the dispatcher is still working through an existing action.

[2017-05-15 22:43] hannahkane opened #2129 "Getting a "page not found" when I try to remix my project"
![screen shot 2017-05-15 at 3 43 08 pm](https://cloud.githubusercontent.com/assets/8389648/26082512/43b1f180-3985-11e7-9860-486272cf2dd0.png)

[2017-05-15 22:47] hannahkane opened #2130 "Kind of scary to delete a single project"
The location of the button plus the plural "Delete Projects" made me unsure if both of my projects were going to be deleted, even though I thought I'd only selected one.

The red highlight helped, but I would have expected something more like a checkbox to clarify that multi-select was an option.

![screen shot 2017-05-15 at 3 45 33 pm](https://cloud.githubusercontent.com/assets/8389648/26082606/a

[2017-05-15 22:51] flukeout commented on #2127
Also, related https://github.com/mozilla/thimble.mozilla.org/issues/2066

[2017-05-15 23:02] gideonthomas commented on #2129
Hmm, thanks for pointing this out @hannahkane. Going to escalate to critical since @humphd noticed this error too.

[2017-05-15 23:04] gideonthomas commented on #2124
@taisdesouzalessa would you be able to open dev tools and copy/paste whatever you see in the console?

[2017-05-15 23:25] flukeout commented on #2108
This is addressed in https://github.com/mozilla/id.webmaker.org/pull/437

[2017-05-15 23:25] taisdesouzalessa commented on #2124
Sure @gideonthomas. Does this help?
<img width="1268" alt="image" src="https://cloud.githubusercontent.com/assets/22157921/26083485/fcee5bca-398a-11e7-8a80-31004ad521dd.png">

[2017-05-15 23:39] #2129 closed

[2017-05-15 23:44] #2108 closed

[2017-05-16 00:02] gideonthomas commented on #2112
@flukeout that will happen only when you don't have any other projects in your project list (we automatically create one for you). If you can confirm this, then I don't think this is a bug per se - maybe it's unexpected behavior.

[2017-05-16 00:20] Pomax opened #2132 "lesson plans have mixed-content errors"
Keep Calm and Carry On, Back to School Postcard, and Current Events Comic all come with mixed content warnings when clicking the lesson plan from the homepage

[2017-05-16 00:21] Pomax opened #2133 "cool features is sensory overload"
with all the images playing, this is sensory overload town. It might be better to put a big play button over each image and not playing until the user clicks/touches?

[2017-05-16 00:22] Pomax opened #2134 "footer "terms of use" points to webmaker.org"
The terms of use point to https://beta.webmaker.org/#/legal which I'm pretty sure is set to disappear any day now. Can we point to a better URL?

[2017-05-16 00:24] Pomax opened #2135 "get involved -> good first bug count is wrong?"
I don't know if this value is hardcoded atm, but it's showing me 30 good first bugs, when in actuality there are 49 (as I write this issue)

[2017-05-16 00:47] Pomax opened #2136 "thimble opened on the light theme, despite the dark theme being selected in the settings"
I'd try to reproduce this in a private tab, but thimble in a private tab is **completely** broken

[2017-05-16 00:48] Pomax opened #2137 "thimble breaks in a private tab"
While I understand why, there is no real justifiable reason for this.

[2017-05-16 00:50] Pomax opened #2138 "I can put "\" in a filename"
I can rename a file to "lol\cakes.jpg", which will break hard if windows users download their files.

[2017-05-16 00:53] Pomax opened #2139 "the file browser can be made too small to collapse"
I can drag the filebrowser to narrow enough to no longer be collapsible. It might be worth auto-collapsing the filebrowser when the user lets go of the drag bar between the file browser and editor pane, if the resulting browser is too narrow to even show the two icons.

![screenshot 46](https://cloud.githubusercontent.com/assets/177243/26085205/5510ba26-3997-11e7-971d-bcee2fb1e2d1.png)

[2017-05-16 01:00] Pomax opened #2140 "I can compress the editor to the point where no icons are visible at all"
There should probably be a width-cap or minimal width for the editor... being able to reduce it to this makes no sense, at that point the preview should probably just become full screen:

![screenshot 47](https://cloud.githubusercontent.com/assets/177243/26085351/674cafa0-3998-11e7-8171-36f740ab7caf.png)

[2017-05-16 01:03] Pomax opened #2141 "tutorials look the same when previewed vs "as tutorial""
when editing a tutorial, the "previw" and "tutorial" sections look identical, making it easy to go "what am I even looking at?". It feels like it's important to make the tutorial tab differently styled by default, in a way that is not affected by what the user's put in the tutorial.html file

[2017-05-16 01:04] Pomax opened #2142 "creating a "tutorial.html" creates an "index.html""
Creating a tutorial.html file for some reason uses the same default content as "index.html", rather than generating an html file with some instructions on what you can do with this file, setting it apart from a standard, boring html file.

[2017-05-16 01:14] Pomax opened #2143 "link tags do not need to go in the head"
adding a link snippet for a css file says
[code]

but there is no need to do this. It's good form, certainly, but link tags can go anywhere and just work(tm)

[2017-05-16 05:21] flukeout opened #2144 "QA > I'm able to create an account despite my password not having a number"
Even though I get a warning. @Pomax - is this related to the latest changes? That brief flash at the end of the gif is the editor firing up with a blank project...

![_password](https://cloud.githubusercontent.com/assets/25212/26090928/cbaec496-39bc-11e7-9291-8f951b088b0d.gif)

Seems like as long the password is long enough and has one capital, it gets accepted.

[2017-05-16 12:57] pranay414 commented on #2114
Can I work on this @flukeout @humphd ?

[2017-05-16 14:26] humphd commented on #2114
Sure @pranay414, go for it.  Here's an example of how you focus an editor in Brackets:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteCommandHandler.js#L50-L54

[2017-05-16 14:28] pranay414 commented on #2114
@humphd where is the menu to add code snippet. I was not able to find it on thimble?

[2017-05-16 14:35] humphd commented on #2114
Here's an easier way to test this, @pranay414, which doesn't involve Thimble at all.

* Run Brackets on its own, and load `http://localhost:8000/src/hosted.html
* Open your Dev Tools Web Console
* Type `bramble.addCodeSnippet("test snippet");`

![snippet-console](https://cloud.githubusercontent.com/assets/427398/26111531/598e3650-3a23-11e7-992d-d1ba078a267d.gif)

Using this method, you can ignore

[2017-05-16 14:37] pranay414 commented on #2114
Got it, thanks @humphd

[2017-05-16 14:38] humphd commented on #2143
Making that change would mean fixing this string:

https://github.com/mozilla/thimble.mozilla.org/blob/41e1af8451f4f763f1c9709b035a3f8f2c30092a/locales/en-US/messages.properties#L115

NOTE: if we change that string, we'll need to create a new, versioned key vs. just correcting the text, since we need to trigger a translation update in our localization system.

[2017-05-16 14:50] humphd commented on #2142
You're talking about right-clicking in the file tree and naming the file `tutorial.html`?

![tutorial-creation](https://cloud.githubusercontent.com/assets/427398/26112071/df0f0e70-3a24-11e7-8492-db6016dbfac3.gif)

Doing it from the Thimble side via that menu option causes us to inject a tutorial file's contents.  However, when we right-click in Brackets and name the file `tutorial.html` it just se

[2017-05-16 14:53] humphd commented on #2140
Good idea, and connected to https://github.com/mozilla/thimble.mozilla.org/issues/1902.  We can probably do both at once.

[2017-05-16 14:53] humphd commented on #2141
Going to close this as dupe of https://github.com/mozilla/thimble.mozilla.org/issues/2003.

[2017-05-16 14:53] #2141 closed

[2017-05-16 14:55] humphd commented on #2139
See also https://github.com/mozilla/thimble.mozilla.org/issues/2140.

[2017-05-16 14:57] humphd commented on #2138
See also https://github.com/mozilla/brackets/issues/434, cc @simon66.

[2017-05-16 14:57] humphd commented on #2137
Which browser?  Also, what does "breaks" mean?

[2017-05-16 15:00] humphd commented on #2136
![screen shot 2017-05-16 at 10 58 36 am](https://cloud.githubusercontent.com/assets/427398/26112707/a5bc590a-3a26-11e7-835a-0526c6804478.png)

If you want to debug this, or add more info to this bug, open your `localStorage` view in Dev Tools and see what `bramble-property::theme` is set to at various points (e.g., when you reload your browser).  I think we have some kind of timing bug in our them

[2017-05-16 15:06] humphd commented on #2135
I bet this is the GitHub API paging and sending only the first 30 results.

The code is here: https://github.com/mozilla/thimble.mozilla.org/blob/df3c76074b8cea8ef710a45f3257d88caa14911a/public/homepage/scripts/getinvolved.js#L11

See https://developer.github.com/guides/traversing-with-pagination/ which seems to confirm this.  Probably we should re-consider how we want to show that number.

[2017-05-16 15:06] cadecairos commented on #2144
That's odd, since password strength is also validated on the server, before getting bcrypted

[2017-05-16 15:07] humphd commented on #2133
Closing as dupe of https://github.com/mozilla/thimble.mozilla.org/issues/2084

[2017-05-16 15:07] #2133 closed

[2017-05-16 15:07] humphd commented on #2084
I think we should play on hover, yes.  @Rajat-dhyani if you want to do this, go for it.

[2017-05-16 15:08] cadecairos commented on #2069
I've applied the following scale settings to our Thimble-related Heroku applications:

### bramble-production
Min dynos: 30
Max dynos: 75

### publish-webmaker-org-production
Min dynos: 30
Max dynos: 75

### id-webmaker-org-production
Min dynos: 30
Max dynos: 75

### wmlogin-production
Min dynos: 30
Max dynos: 75

[2017-05-16 15:13] humphd commented on #2124
I've encountered this before, and every time I've had to reload 2 or 3 times to fix it. Somehow it's cache related, perhaps with a mismatch of what's coming from cloudfront, what's in service worker cache, what's in browser cache, etc.  I also only see it in Firefox, which is what is happening here too.

I'm not sure what we should do here.  I'm pleased to see that the changes we made to give a Re

[2017-05-16 15:15] humphd commented on #2127
I'm going to close this, because we have it filed in a few other places.  Thanks for reporting it, though, @cadecairos.

[2017-05-16 15:15] #2127 closed

[2017-05-16 15:16] humphd commented on #2130
@flukeout can you add some notes here about how we should restructure this for the case of 1 vs. More-than-1 project selected?  I agree with @hannahkane that this is not confidence inducing.

[2017-05-16 15:21] cadecairos commented on #2124
Would it be worthwhile adding an FAQ link to the page to describe troubleshooting steps for that situation (i.e. clear browser cache on FX, Edge, Chrome, Safari)? Presuming that clearing the cache will help in this case.

[2017-05-16 15:23] humphd commented on #2128
This is a really interesting bug.  At first I couldn't reproduce it.  I had to do a lot of messing around with my window to make it happen, but eventually it did.  Here is what I see:

![screen shot 2017-05-16 at 11 21 04 am](https://cloud.githubusercontent.com/assets/427398/26113954/02282540-3a2a-11e7-83c9-aca92d8cbeb8.png)

There is a very small margin at the bottom, but I can't figure out what

[2017-05-16 15:25] humphd commented on #2124
We rewrote `Reload Now` to force a server-side refresh (vs. browser cache) which should be as good as going into Dev Tools.  We've found that most users find doing the "clear cache" dance difficult.

[2017-05-16 15:28] Rajat-dhyani commented on #2084
Okay thanks @humphd ,
i just added the controls for play and pause.
Filled a PR for the same. We can add both the features if you want. Can you tell me where to add the script for the hover over feature cause when i add the script in same page it throws bunch of errors that: "i can't put my script in the same page". Should i create a new `feature.js` file like we have `getInvoled.js `

`var featur

[2017-05-16 15:55] humphd commented on #2126
I'm not sure what this is.  I did some quick debugging, and we're not actually double-loading when we switch modes.  We could try not reloading at all, by passing `true` here https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteCommandHandler.js#L79, which will pass `preventReload` here https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramb

[2017-05-16 15:56] humphd commented on #2125
Dupe of #2135, closing.

[2017-05-16 15:56] #2125 closed

[2017-05-16 16:03] humphd commented on #2117
Can you email me the SVG file you're using so I can debug this?

[2017-05-16 16:09] humphd opened #2146 "Explore using HTTP2 via Cloudfront for Brackets content"
There are some nice loading speedups with HTTP2, and I notice that you can do this on AWS today:

https://aws.amazon.com/blogs/aws/new-http2-support-for-cloudfront/

Since we serve Brackets statically from Cloudfront/AWS, maybe we should do this?  I'm not sure what the downsides are, or what we'd need to tweak in the code to make it really use everything HTTP2 has to offer.

@cadecairos, @gideonth

[2017-05-16 16:11] humphd commented on #2046
We could do this, yes, similar to how we do "Take a selfie..." now, and have it open a dialog that lets you search using their API.  We could also provide a button in the `Upload Dialog` that does the same thing.

[2017-05-16 16:34] gideonthomas commented on #2146
Hmm, I thought we already did this for brackets when I filed https://github.com/MozillaFoundation/mofo-devops/issues/410

[2017-05-16 16:38] cadecairos commented on #2146
we've got dozens of distributions, so it's not surprising some were missed.

I've gone ahead and enabled HTTP2 for thimble.mozilla.org and thimbleprojects.org (it's literally just a radio input that can be enabled)

[2017-05-16 16:53] humphd commented on #2146
NOTE: it's Brackets I really want it for.  It's currently HTTP/1.1:

![screen shot 2017-05-16 at 12 52 28 pm](https://cloud.githubusercontent.com/assets/427398/26118104/a80becf6-3a36-11e7-8cbc-5dc63f319e44.png)

[2017-05-16 16:58] cadecairos commented on #2146
I'll find that CDN and enable it there as well

[2017-05-16 16:58] cadecairos commented on #2146
(done, it'll roll out change over the next half hour)

[2017-05-16 17:00] humphd commented on #2117
Luke sent me the image that caused the bug above, and now I have a proper stack/error:

![screen shot 2017-05-16 at 12 57 58 pm](https://cloud.githubusercontent.com/assets/427398/26118312/7296038a-3a37-11e7-8ea6-14ee4da59a95.png)

We shouldn't be trying to run the new image filters on SVGs.  It's a crash in the caman library.

[2017-05-16 17:09] flukeout commented on #2117
It works on some SVGs humph.

[2017-05-16 18:41] Spaceface13 opened #2147 "For some reason I can't create or see my previous projects."
I have been working on a website but now I can't access it? Is it just a matter of time?

[2017-05-16 19:27] cadecairos opened #2149 "Debug Routes for dev and staging"
It would be helpful if we could trigger Thimbles error middleware on demand to check our handling.

I think this is best achieved through some new routes that we can have off by default, and toggle on using an ENV variable.

something like sending a POST to `/debug/post/500` would be very helpful.

[2017-05-16 19:28] humphd commented on #2147
@Spaceface13 we pushed some new code today, which seems to have caused some authentication issues for users.  We're currently fixing some things to try and mitigate, but you could try and either a) logout of Thimble and login again; b) clear your cache for Thimble, which will effectively do the same as a) and clear your cookies.

Apologies that you're hitting this.  cc @cadecairos.

[2017-05-16 19:30] humphd commented on #2117
In that case, let's wrap a try/catch around whatever is blowing up here, so we can disable filters if they don't work with a given image.  And/or, let's patch caman to not crash.

[2017-05-16 21:02] Spaceface13 commented on #2147
It now is working. The new look is amazing and all the new features are incredible. One of the features answers something that I have been working on forever. Thank you so much.

[2017-05-16 21:19] Pomax opened #2152 "tooltip for the settings menu only works for the switch"
mouse-over for a settings switch tells you what it does - someone reported they expected a tooltip while mouse-over'ing the text label instead, and when that didn't tell them what the setting did, got confused.

![screenshot 52](https://cloud.githubusercontent.com/assets/177243/26128806/8b4e3914-3a42-11e7-95c7-3191fe108327.png)

[2017-05-16 21:20] Pomax commented on #2137
Firefox. Breaks means breaks...

![screenshot 53](https://cloud.githubusercontent.com/assets/177243/26128905/d9aaa480-3a42-11e7-85e0-0c5f219f513d.png)

[2017-05-16 21:24] humphd commented on #2147
@Spaceface13 that's great to hear!  If you have other ideas for features, or see bugs, please feel free to file more issues.

[2017-05-16 21:24] #2147 closed

[2017-05-16 21:26] humphd commented on #2137
Any chance you'd share those `tons of console errors`?

The problem with Firefox and private browsing is that, unlike other browsers, they don't allow IndexedDB currently.  This breaks us hard.  They are in the process of fixing it.  The best we could do is use a memory backed filesystem, which is possible, but obviously very brittle and liable to lose data.

[2017-05-16 21:37] humphd opened #2153 "[Death to 500s] Log info for 500s so we can examine logs on production and debug"
It looks like we 500 a lot in our middleware, and don't provide any useful logging.  In the case above, we'd be erroring somewhere in this middleware chain: https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/routes/files/index.js#L16

It would be good if our middleware provided good logs of error cases, so we can figure out what's a bug, what's an e

[2017-05-16 22:05] cadecairos commented on #2153
if we could log HTTP headers (with the exception of `Authorization` - we need to sanitize that out) we might get some better insight into what's going on.

[2017-05-17 04:12] flukeout opened #2154 "3 Things I love project 404ing when Remixed"
This project from the homepage

![image](https://cloud.githubusercontent.com/assets/25212/26138215/50a07266-3a7c-11e7-862a-ea04c8381529.png)

Goes to a 404 when remixed

[2017-05-17 04:14] flukeout opened #2155 "Homepage Gallery > Homework excuse project remixes the wrong project."
Creates a remix of a Stay Calm project with someone's selfie in it. Super weird.

![image](https://cloud.githubusercontent.com/assets/25212/26138255/98caa5a2-3a7c-11e7-8773-6aef644dee5f.png)

[2017-05-17 04:18] flukeout opened #2156 "Deleting multiple projects at once fails."
I tried to delete about 15 projects in one go, after clicking delete, they just stayed highlighted and didn't go away...

![image](https://cloud.githubusercontent.com/assets/25212/26138316/3063d8a2-3a7d-11e7-9d98-dd0d48fce642.png)

After a while I refreshed the page and most of the ones I'd highlighted were gone, but not all.

[2017-05-17 04:20] flukeout commented on #2156
When I tried to delete the rest of the ones that weren't deleted, I got the following error in the console...

![image](https://cloud.githubusercontent.com/assets/25212/26138338/5bb72978-3a7d-11e7-8ac3-1033ed21fe2f.png)

However, when I refreshed, they were gone.

Might it be the number of simultaneous requests to the server?

[2017-05-17 13:24] Spaceface13 opened #2157 "Exporting to zip has been removed."
When making a project I use the publish to see the code but when I get enough done I publish to zip so that I can see the website without having to see the annoying remix button covering certain stuff. Is there any way I can hide the hide the remix button because the publish to zip feature seems to have been removed. Please help.

[2017-05-17 14:18] humphd commented on #2157
We still have that feature, it's just been moved to the files menu above the File Tree:

![screen shot 2017-05-17 at 10 14 56 am](https://cloud.githubusercontent.com/assets/427398/26158403/c2f03f78-3ae9-11e7-9330-38fa84fe7896.png)

We did this in response to user requests for a way to export projects to ZIP files when they weren't logged in.  Previously we only showed that "Export to .zip" feature

[2017-05-17 15:49] dgregory10561 opened #2158 "Rendering project Images from JS"
When I push an external URL to HTML using the DOM innerHTML method it works perfectly.

When I try to do the same with an internal image, it doesn't render...

 document.getElementById("test").innerHTML = "<img src='selfie1.png'>"

[2017-05-17 16:02] humphd commented on #2158
So you're trying to use a filename in the project's filesystem as a URL?  Agreed, that should work, and it's a known limitation of our in-browser live development preview.  We're in the process of fixing it, and it's coming pretty soon in https://github.com/mozilla/brackets/pull/725.

For now, if you need to get this working, you'll have to put a element in your DOM like`<img id="img-url" src="fil

[2017-05-17 16:02] #2158 closed

[2017-05-17 16:05] humphd commented on #2153
I started to work on this, and then noticed that there already seems to be a Logging infrastructure in the Thimble server that @gideonthomas wrote.  Instead of starting again, I think I need to figure out what it's not doing that it should do, and improve it.

@gideonthomas when you're back next week, can we discuss this?  My goal is that when we have users failing with logins, syncs, creating pro

[2017-05-17 16:23] flukeout commented on #2157
Initially I was thinking of putting it at the bottom of the file view below the files, which I think might be a good place for it still. Then we could go back to the Plus icon for the file dropdown and everyone is happy!

[2017-05-17 16:26] mathjazz opened #2160 "Allow pontoon.mozilla.org in X-Frame-Options header"
In-context l10n in Pontoon doesn't work currently for Thimble.

That's because your site uses the X-Frame-Options header.

Please [make sure](https://developer.mozilla.org/en-US/docs/Mozilla/Implementing_Pontoon_in_a_Mozilla_website#B._(optional)_Enable_in-page_localization_of_your_web_project) loading inside iframe is permitted for domain pontoon.mozilla.org.

[2017-05-17 16:30] humphd opened #2161 "500 creating new project: TypeError: The header content contains invalid characters"
[code]

We're seeing a lot of these on production.

I think it originates here: https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/routes/files/index.js#L17 for the `/projects/:projectId/files/:fileId?` route.

I think it's originating in request, https://github.com/request/request/issues/2120.

We need to uriencode the auth tokens we pass with requ

[2017-05-17 16:50] flukeout commented on #2157
Closing this and will file a follow up feature request to potentially move it out of there.

[2017-05-17 16:50] #2157 closed

[2017-05-17 16:51] flukeout opened #2162 "Consider moving Export Zip to the bottom of the file tree."
It's a cool feature, and doesn't realllly belong in the menu that we have added it to. We could move it out of the menu and add an export/download button at the bottom of the file tree.

[2017-05-17 16:55] flukeout commented on #2152
This pairs nicely with https://github.com/mozilla/thimble.mozilla.org/issues/2116 which is about making the Label also and not just the toggle. Also that label needs changing, I thought we had a PR for that already.

[2017-05-17 17:29] flukeout opened #2163 "404 Page > Can't navigate back to homepage via clicking Logo"
It just reloads the 404 page again because it tries to add the locale to the URL twice...

![image](https://cloud.githubusercontent.com/assets/25212/26167475/b606fde0-3aeb-11e7-91b3-d56f1ff80e31.png)

The logo is linked as ``<a href="/{{ locale }}" class="logo">`` - Should we just remove the locale from here and let the browser re-assign it on the next page load?

[2017-05-17 18:08] flukeout opened #2165 "QA > GA not showing which projects were remixed."
Looks like the label is missing for these events...

![image](https://cloud.githubusercontent.com/assets/25212/26168987/ff2b9eb8-3af0-11e7-85f1-c7b6022bb0d0.png)

Same deal for "Gallery Project Viewed" event.

[2017-05-17 18:38] flukeout commented on #2154
Fixed in [this update](https://github.com/mozilla/thimble-homepage-gallery/commit/ead20123172f398ad460168d0dfbf59f496ee3f9).

[2017-05-17 18:38] #2154 closed

[2017-05-17 18:38] flukeout commented on #2155
Fixed in [this update](https://github.com/mozilla/thimble-homepage-gallery/commit/ead20123172f398ad460168d0dfbf59f496ee3f9).

[2017-05-17 18:38] #2155 closed

[2017-05-17 19:38] humphd opened #2169 "Remove token assertion code from https://github.com/mozilla/thimble.mozilla.org/pull/2167"
We added code to deal with a high number of 500s when auth tokens contain invalid characters for an HTTP header.  We need to pull it out once we've figured out the issue.

https://github.com/mozilla/thimble.mozilla.org/pull/2167

[2017-05-17 19:42] humphd commented on #2161
https://github.com/mozilla/thimble.mozilla.org/pull/2167 added some logging for this error case, so we can get better data to fix this.  https://github.com/mozilla/thimble.mozilla.org/issues/2169 is about removing it once we have more data.

[2017-05-17 19:50] humphd commented on #2161
![image](https://cloud.githubusercontent.com/assets/427398/26173063/7cefc096-3b18-11e7-8c2f-1ea0736c4394.png)

is what this is exposing on prod.

[2017-05-17 19:53] humphd commented on #2161
I notice that those invalid tokens are about the right length, but they are binary vs. in the printable range.  Next question: what is causing us to have binary tokens all of a sudden?

[2017-05-17 19:54] humphd commented on #2161
cc @cadecairos, @Pomax, @gideonthomas

[2017-05-17 19:57] humphd commented on #2161
So a user is logged in (or was logged in before we updated prod), and has a token in his/her session.  Now we try to decrypt it and we get a binary string that has no correlation to what we originally put in.  @cadecairos asks on Mattermost if we altered our crypto, and I think we did update some deps related to this.

We need to figure out what we should do in the case that this is happening, sin

[2017-05-17 20:02] cadecairos commented on #2161
I think this is happening because a switch in the default algorithm in cryptr: https://github.com/MauriceButler/cryptr/compare/fabae97a61119d69f03fc189f7c95dda826c96b7...master#diff-168726dbe96b3ce427e7fedce31bb0bcR9

[2017-05-17 20:03] cadecairos commented on #2161
We can potentially recover user sessions automatically with a new middleware that checks if the decrypted token is invalid, and decrypts it again using the old algorithm, and updates the session with the new algorithm

[2017-05-17 20:11] humphd commented on #2161
I'm not sure who wants to drive this fix, but I don't feel like I understand it all well enough to be that person.  I do, however, think this is pretty critical to get fixed soon.  We should figure out our approach.  Right now this will manifest itself in some people, and especially existing users, being in a broken state until they log out/log in again.

Another fix would be to surface this error

[2017-05-17 20:12] cadecairos commented on #2161
[code]

[2017-05-17 20:13] cadecairos commented on #2161
That's a rough draft of what automatically recovering would look like.

[2017-05-17 22:04] #2135 closed

[2017-05-18 04:33] grigoryk commented on #2143
https://www.w3.org/TR/html5/document-metadata.html#the-link-element -> the spec implies that it should be in the <head>. I'm pretty sure it'll work wherever, but isn't there a valid perf argument to be made - especially for slower connections - for putting that stuff as high up as possible?

Maybe modify the comment describing the convention & potential performance impact? (if that is, indeed, a t

[2017-05-18 09:41] lossendiere opened #2171 "With last update export project disappeared"
I'm teacher and my school have bad connexion, sometimes need export project to continue offline
But with last update of mozilla timble i can't see this function

It's possible to have again this function ?

[2017-05-18 14:55] Pomax opened #2172 "update fallback cryptr to change the session expiry"
If people are on an old cryptr session, we should set their session to expire at the same rate as the new cryptr sessions, so that their old session expires in a week as well.

[2017-05-18 14:55] Pomax commented on #2172
/cc @cadecairos @humphd

[2017-05-18 15:01] humphd commented on #2161
@cadecairos can you please close this when https://github.com/mozilla/thimble.mozilla.org/pull/2170 hits prod and you're able to confirm that we're not still seeing these?  We should now see log messages about trying the fallback encryption algorithm instead, and it should work.

[2017-05-18 15:06] humphd commented on #2171
@lossendiere sorry to confuse you with the latest change--the feature is still there, [just been moved](https://github.com/mozilla/thimble.mozilla.org/issues/2157):

![screen shot 2017-05-17 at 10 14 56 am](https://cloud.githubusercontent.com/assets/427398/26158403/c2f03f78-3ae9-11e7-9330-38fa84fe7896.png)

We did this to try and solve another problem, namely, people wanting to be able to export p

[2017-05-18 15:06] #2171 closed

[2017-05-18 15:14] Pomax opened #2173 ""find html elements" feature is missing its video"
https://thimble.mozilla.org/en-US/features => "find html elements fast" is a big ol' grey box

[2017-05-18 15:18] humphd commented on #2173
![screen shot 2017-05-18 at 11 17 51 am](https://cloud.githubusercontent.com/assets/427398/26209758/ac17d392-3bbb-11e7-8894-8920bb222189.png)

WFM in Firefox on Mac.  Do you see the movie file 404'ing?

[2017-05-18 15:20] humphd commented on #2172
Will the change we made [here](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/index.js#L56-L64) to use 1 week not also affect current sessions?

[2017-05-18 15:21] Pomax commented on #2172
sessions that are successfully decoded with the fallback don't hit the error handler, though

[2017-05-18 15:23] humphd commented on #2172
What if we add `overwrite: true` to our [`cookieSession` options](https://github.com/expressjs/cookie-session#cookie-options) in https://github.com/mozilla/thimble.mozilla.org/blob/master/server/request.js#L86?

[2017-05-18 15:24] humphd commented on #2161
@cadecairos reports a dramatic improvement in the error rates:

![](https://i.imgur.com/eMsC44h.png)

[2017-05-18 15:26] Pomax commented on #2173
This was in Chrome on OSX:

![image](https://cloud.githubusercontent.com/assets/177243/26210090/79aeb956-3ba3-11e7-9740-d4590d0b6cd3.png)

reloading with dev tools open did a refetch so probably just a caching issue.

[2017-05-18 15:26] #2173 closed

[2017-05-18 15:31] #2172 closed

[2017-05-18 15:39] cadecairos commented on #2161
We appear to have recovered many of the broken sessions.

![](https://i.imgur.com/8mcGePp.png)

calling this resolved!

[2017-05-18 15:39] #2161 closed

[2017-05-18 16:15] humphd commented on #2171
Fix incoming in https://github.com/mozilla/thimble.mozilla.org/pull/2174

[2017-05-18 16:16] humphd commented on #2157
Fix incoming in https://github.com/mozilla/thimble.mozilla.org/pull/2174

[2017-05-18 16:20] humphd commented on #2169
We ended up morphing this into a fallback encryption strategy in #2170, closing.

[2017-05-18 16:20] #2169 closed

[2017-05-18 16:25] #2165 closed

[2017-05-18 16:40] Pomax commented on #2137
Definitely Filer, but as you mention it's a thing we know about. I wonder if our use case is strong enough to reprioritise how much effort goes into IndexedDB support for private browsing.

[code]

[2017-05-18 16:42] humphd commented on #2137
I've already tried discussing with them.  One thing we could do here is add a special code path for the `EINVAL` error, since it's basically fatal, and means you need to reset your DB.  We could then link to some article or documentation to help users overcome it.

[2017-05-18 17:17] flukeout commented on #2128
Me neither, and I can't readily reproduce it so let's close it for now.

[2017-05-18 17:17] #2128 closed

[2017-05-18 17:28] flukeout commented on #2121
Yeah, it looks like the element is there and visible, but he localized string it not coming through.

[2017-05-18 17:40] humphd commented on #2121
Fix in https://github.com/mozilla/thimble.mozilla.org/pull/2176

[2017-05-18 17:47] humphd commented on #1459
We should figure out if switching to https://workboxjs.org/ is of any value, since this seems to be where Google's is putting it's energy now vs. the `sw-*` scripts I've been using.

[2017-05-18 17:51] #2115 closed

[2017-05-18 18:08] humphd commented on #2121
Merged.

[2017-05-18 18:08] #2121 closed

[2017-05-18 18:23] flukeout opened #2177 "Standardize "X" to close icon."
In the inline editor...

![image](https://cloud.githubusercontent.com/assets/25212/26217473/5dab3cc0-3bbc-11e7-8c29-a6e4127be084.png)

In the console...

![image](https://cloud.githubusercontent.com/assets/25212/26217478/63068990-3bbc-11e7-81de-1902ed8d21a3.png)

I think we should go with the larger style for both.

[2017-05-18 18:42] Pomax commented on #2144
this could be two different policies between client and server

[2017-05-18 18:47] flukeout commented on #2134
Waiting on the-one-link-to-rule-them-all. Once that hits, we'll update the link.

[2017-05-18 18:47] #2134 closed

[2017-05-18 18:49] flukeout commented on #2130
Will change label to something less scary like ``delete selected`` or ``delete highlighted``

[2017-05-18 18:50] flukeout commented on #2126
I'll test again on prod and update the issue if i can reproduce it.

[2017-05-18 18:52] flukeout commented on #2122
Fixed, closing.

[2017-05-18 18:52] #2122 closed

[2017-05-18 18:54] humphd commented on #2119
Closed with fix in https://github.com/mozilla/id.webmaker.org/pull/437

[2017-05-18 18:54] #2119 closed

[2017-05-18 18:57] flukeout commented on #2112
I'll test to make sure that this is the case, and maybe we should think of something to do here that's different.

[2017-05-18 19:00] flukeout commented on #2110
I'm going to check if this breaks someone's attempt, if not, its not a big deal.

[2017-05-18 19:00] humphd commented on #2110
Should we disable the button to submit this form until all fields are set?  Or somehow deal with this through button state on the form?

[2017-05-18 19:02] flukeout commented on #2109
Concensus: let people stay where they were when creating an account so. If they create a new one from homepage, drop them back there. If from within editor, let them keep editing.

[2017-05-18 19:04] #2106 closed

[2017-05-18 19:07] Pomax commented on #2104
dragging a file into the file tree in Edge, and not letting go, generates a ton of `foreach` errors, which stop generating when you let go.

![image](https://cloud.githubusercontent.com/assets/177243/26219137/7ef72c9e-3bc2-11e7-863c-9f4a6e38f89a.png)

[2017-05-18 19:47] cvan commented on #1459
I've experienced quite a few issues with `sw-toolbox` and `sw-precache`, personally. Not to say that these aren't worth using for Service Worker tooling, but I'd approach with some skepticism (and spend a lot of time testing and debugging, which I have).

<hr>

So, I tried applying your `brackets` branch. And, with some customisation, it worked quite nicely. But every time I refreshed the page, wi

[2017-05-18 20:00] flukeout opened #2179 "Check out sentry for client-side error logging."
Recommended by a moco colleague - https://sentry.io/welcome/

They've got an account set up. Is it something we're interested in?

[2017-05-18 20:05] cadecairos commented on #2110
this is not a bug, just poor design - the 404 indicates to the front-end that the username isn't taken. if it's a 200, the username is taken.

In onther world the response would be a 200, with the availability specified via JSON response..

[2017-05-18 20:05] flukeout commented on #2069
Hey an update @cadecairos - we've pushed back the launch to this coming Tuesday after the long weekend.

[2017-05-18 20:06] cadecairos commented on #2069
How early? Should I scale us up on Friday?

[2017-05-18 20:29] Pomax opened #2180 "Figure out translation updating"
We've been inventing new keys whenever we need to replace some words or even correct a typo for an established key and this is becoming an intractable solution: we cannot keep adding more and more keys for strings that are the same role with the same core summary. It creates an unmanagable keyset, and we run out of variations for keys fast.

@gideonthomas @humphd  @TheoChevalier what is the reason

[2017-05-18 20:31] Pomax opened #2181 "update /healthcheck to note the build commit rather than version"
we're not versioning thimble in a meaningful way: we should update healthcheck so that it lists its current commit instead, so that we actually know which version of Thimble we're looking at on staging or production.

[2017-05-18 20:45] flukeout opened #2183 "Missing remix button when publishing page without HTML, HEAD, BODY, etc"
https://thimbleprojects.org/bandreasv/227682/

To remix - https://thimble.mozilla.org/projects/227682/remix

Reported by @omnignorant

[2017-05-18 20:46] flukeout commented on #2183
I wonder if we removed the Remix button from a-frame projects.

[2017-05-18 20:47] humphd commented on #2183
Page is missing `<head>` etc. and only has `<script>`.  I bet it's just that we aren't doing our injection stuff right on publish when DOM looks like this.

[2017-05-18 20:48] humphd commented on #2183
Yup, added and https://thimbleprojects.org/humphd/274432/ has it.

[2017-05-18 20:48] flukeout commented on #2183
Okay year crazy, it doesn't even have an HTML or BODY tag.

[2017-05-18 20:52] humphd commented on #2183
Possible dupe of https://github.com/mozilla/thimble.mozilla.org/issues/1804

[2017-05-18 21:36] TheoChevalier commented on #2180
Actually, we shouldn’t have changed keys in this case as it does not change the meaning, as explained here https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Localization_content_best_practices#Changing_existing_strings

Regarding why we can’t just update the content, there are different reasons why we can’t just use the diffs. The main one is that strings must be invalidated once the o

[2017-05-18 21:38] TheoChevalier commented on #2180
Also, not sure I understood the issue with running out of key IDs, you should be able to just increment the ID if you can’t think of an alternative name, right? Like `label` → `label2` → `label3`…

[2017-05-19 07:41] Pike commented on #2180
What we're doing is effectivly semantic versioning, and as Theo mentioned, if you just change words or typos in English, the intent here is to actually not bother localizers with your stuff at all. And thus, you shouldn't change the ID.

String IDs are a versioned API between the code and each localization, and when you make a change in the code that invalidates previous implementations in localiz

[2017-05-19 08:00] lossendiere commented on #2171
Thanks to answer very quickly David.

The school year almost finish in end of june can test the Thimble mozilla
offline in septembre with students, but if you need someone to test during
july or agust i'm volunteer.

I'm french teacher in junior hight school, so if you need help for doing
some translation or create lesson in french about Mozilla thimble it's OK

Best regard

2017-05-18 17:06 GMT+0

[2017-05-19 15:17] humphd commented on #2104
I spent half an hour on this, and it seems that there are a number of issues here.  First, Microsoft returns a `DOMStringList` vs. an `Array` for `DataTransfer.types` [here](https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js#L83-L86), which is why there is no `.forEach`.  I fixed it like so:

[code]

That let me get further, but then it seems to die on the `DataTransfer.files

[2017-05-19 19:26] flukeout opened #2184 "Improve error reporting when project files won't upload."
I made a project and dragged a 1.2mb file into it, and throttled my network to 3G. It's not able to upload the image and is stuck in the ``Saving...`` state.

![image](https://cloud.githubusercontent.com/assets/25212/26263484/e4aabb0c-3c8d-11e7-96ef-54317f2ab577.png)

The console reports the following...

![image](https://cloud.githubusercontent.com/assets/25212/26263559/29fb82d6-3c8e-11e7-8014-bb

[2017-05-19 19:38] Pomax opened #2185 "console looks "attached" to the file tree in light theme"
Using the light theme, the console title looks "attached" to the file tree, which feels a bit odd

![image](https://cloud.githubusercontent.com/assets/177243/26264015/008378bc-3c90-11e7-8eab-22e4d6285427.png)

[2017-05-19 20:15] Pomax opened #2186 "dev tools console logging gets suppressed by thimble's console"
If I use `console.log` or `console.error` in my Thimble code now, the output ends up in the thimble console. That's useful for strings etc. but if I need to log objects so that I can inspect their content I still need to use the real dev tools, and it appears that the Thimble console is intercepting, rather than wrapping, the "real" console operations.

It might be necessary to borrow from jsbin h

[2017-05-19 21:18] Pomax opened #2187 "provide some means for people to debug the black screen without dev tools"
Some institutional computers do not allow dev tools to be opened in any way, which makes it really hard to determine what's actually going wrong when users get the black screen that indicates Brackets was unable to properly run.

Perhaps we can add information to the page source as HTML comments when the blacks screen triggers so that "view source" can give some insight into what went wrong withou

[2017-05-19 21:56] flukeout opened #2188 "Deleting indexedDB "local" db via console causes projects not to load."
Signed out on Mac Firefox. I ran ``indexedDB.deleteDatabase('local')`` in my console.

Now, when I try to create a new project, I'm stuck on the green loading screen with the following in my console...

![image](https://cloud.githubusercontent.com/assets/25212/26268258/617a5e20-3ca3-11e7-9b30-4f80342027ee.png)

[2017-05-19 22:01] flukeout commented on #2124
To add to this, no amount of clearing the browser storage on her machine via dev tools helps. The only way to resolve this is to create a new Firefox profile, which I'm guessing creates a new IndexedDB.

Here is more detail from the console log when this happens.

![image](https://cloud.githubusercontent.com/assets/25212/26268325/c1577d14-3ca3-11e7-9743-f2fea4c75a4a.png)

It just can't open Indexe

[2017-05-19 22:43] flukeout commented on #2124
In addition, I just tried copying tais' indexed db into my own Firefox profile to see if I could reproduce what she is seeing. I couldn't, I think the first load failed, but a reload made things work just fine.

[2017-05-21 06:00] flukeout opened #2189 ""Less is not defined error" causing project not to load."
![image](https://cloud.githubusercontent.com/assets/25212/26281576/017ab44e-3db0-11e7-9315-9eaaea2ebe6f.png)

It's stuck on the green screen for a user, who has tried to reload via the button a few times. I'll suggest signing in and out again and then failing that, trying another browser. I'll see if I can find out what browser this is.

[2017-05-21 06:22] flukeout commented on #2189
Looks like it's only happening when editing one certain project. This is the published version here:

* https://thimbleprojects.org/kuanca/270073/

Remixing it causes the same error for me.

[2017-05-21 08:33] babhishek21 commented on #1876
So I found something: [Google MobWrite](https://code.google.com/archive/p/google-mobwrite/). Looks relevant. Uses a Differential Sync and diff-match-patch along with a few other tricks.

[2017-05-21 19:41] flukeout opened #2190 "Add unique Google Analytics event for Black Screen of Death."
I think we only track the Green Screen of Death via analytics, would be good to check in on this one too.

[2017-05-21 21:02] flukeout opened #2191 "Project not loading console error dump from user..."
This was in Firefox I believe, and was resolved by creating a new profile and using that.

![image](https://cloud.githubusercontent.com/assets/25212/26287329/0f7e2ebc-3e2e-11e7-8ac5-70ee7b7f04aa.png)

![image](https://cloud.githubusercontent.com/assets/25212/26287332/15cc29fe-3e2e-11e7-981b-1a34287b5c1f.png)

[2017-05-21 21:03] flukeout commented on #2191
I haven't seen this particular error, ``NS_ERROR_FILE_CORRUPTED`` but might be related to our recent woes.

cc @humphd

[2017-05-21 22:21] humphd commented on #1568
PR for Filer here, which I think will help a bit with this https://github.com/filerjs/filer/pull/370

[2017-05-21 22:34] humphd commented on #2189
OK, I know what this is.  I disabled LESS in production, but forgot that I had that transform code that turns LESS files into CSS.  This project has some less files in it, so it's trying to do that, and failing to find LESS, so crashing.

I'll disable the LESS transforms.

[2017-05-21 22:43] humphd commented on #2191
Sounds like https://bugzilla.mozilla.org/show_bug.cgi?id=1341070, which could mean that `localStorage` or `indexedDB` databases have become corrupted somehow.  Not a bug we can fix from Thimble, but we might be able to provide some docs on what to try (e.g., new profile).

[2017-05-21 22:45] humphd commented on #2191
I think it's `localStorage` db corruption causing [this code](https://github.com/adobe/brackets/blob/5562adcbd8974e968a453bfc9f1cb7386f114ff8/src/utils/Global.js#L92-L95) to fail with that `NS_ERROR_FILE_CORRUPTED` message.

[2017-05-23 15:58] humphd commented on #2191
@flukeout there's nothing we can do about this, it's a browser bug.

[2017-05-23 16:07] humphd commented on #2188
This is an odd thing to do, can I ask why you did it?  It looks like you're in Chrome, right?  So you did this on which domain?

[2017-05-23 16:09] flukeout commented on #2188
To test if we are able to recover from stuff like this. I did this when using thimble.mozilla.org. I was trying to mess up my db to see if I could get myself into some sort of corrupted db state.

[2017-05-23 16:11] humphd opened #2192 "Turn barking-dog GIF into a project you can make on Thimble"
I love @flukeout's new [animated GIF](https://twitter.com/mozilla/status/866995618954084353) for the launch.  Can we turn that into a very simple starter kit that goes on the home page?

![image](https://cloud.githubusercontent.com/assets/427398/26369256/1f47273c-3fc2-11e7-87f7-61c6e274af51.png)

Here are some thoughts:

* Lego bricks are either HTML `<div>`s or images
* CSS for layout of bricks
*

[2017-05-23 16:26] flukeout opened #2193 "Log errors when people get stuck on error screens."
We've deal with some reports of Thimble not working correctly, but often are not able to get at the root cause of the error because it's hard to get people to troubleshoot along with us, or because sometimes they can't because the console is disabled in a school environment for example.

We need some sort of solution that can captures front-end errors and drop them somewhere in a log for us to ins

[2017-05-23 16:29] humphd commented on #2193
What I'd like to do is add a new route to the Thimble server, and when we show the black error page during a failed loading attempt, we XHR the error that caused it back to the server, where we then `console.log` it in some way that we can search later.  It would be great to know the error that caused it, a stack, the OS/browser the user is running, the project they are using, etc.

@cadecairos, @

[2017-05-23 16:32] flukeout commented on #2193
Whatever we log, let's also funnel it to the front end to display on the error page. It will help timely troubleshooting when people email us for support.

[2017-05-23 16:32] humphd commented on #2193
We show that black error screen here, and have access to the `err` that caused it: https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/main.js#L47-L50

[2017-05-23 16:38] flukeout opened #2194 "Need list of domains to whitelist so that school networks don't block Thimble use."
* https://id.webmaker.org
* https://thimble.mozilla.org
* https://mozillathimblelivepreview.net
* https://thimbleprojects.org

cc @humphd @cadecairos anything else?

[2017-05-23 16:43] humphd commented on #2194
See https://github.com/mozilla/thimble.mozilla.org/blob/master/server/security.js#L8-L58

[2017-05-23 16:45] cadecairos commented on #2193
It's perfectly fine to use the server logs - We just need to make sure we don't dump HTTP headers in there.

[2017-05-23 16:55] flukeout commented on #2194
What do we need this for...

[code]

[2017-05-23 17:18] gideonthomas commented on #2194
We don't need Google Docs but we need `blob:`

[2017-05-23 17:20] flukeout commented on #2194
Thanks, updated.

[2017-05-23 17:22] gideonthomas commented on #2194
Sorry, I meant for frameSrc, you don't need to "unblock" that as a domain..

[2017-05-23 17:22] flukeout commented on #2191
Okay, I'll file an issue to report as much to the user. The Try Again button won't help for cases like these.

[2017-05-23 17:22] #2191 closed

[2017-05-23 17:24] flukeout opened #2195 "Display error type on the Green & Black screens of doom."
Coupled with #2191 - we should also display the error that we're seeing on the screens of death. We've run into cases where the IndexedDB stuff is failing, and we know that reloading won't resolve it, we report that to the user and possibly offer some instructions on getting themselves unstuck.

In the case of Firefox, creating a new profile seems to work.

[2017-05-23 17:25] gideonthomas opened #2196 "Update style-src CSP header for inline style"
We added the `unsafe-inline` directive for stylesheet CSP here: https://github.com/mozilla/thimble.mozilla.org/blob/master/server/security.js#L54-L56 to allow changes in the loading spinner. Let's revert that by hashing https://github.com/mozilla/thimble.mozilla.org/blob/master/views/editor/bramble.html#L2-L145 again and using that as the CSP rule.

[2017-05-23 17:25] flukeout commented on #2194
OK, upupdated.

[2017-05-23 17:55] humphd commented on #2193
Basically, I want to do this: https://blog.sentry.io/2016/01/04/client-javascript-reporting-window-onerror.html

[2017-05-23 18:04] humphd commented on #2193
We can probably borrow from https://github.com/getsentry/raven-js a bit for this.

[2017-05-23 18:42] humphd commented on #2187
#2193 and #2195 will cover this I think.

[2017-05-23 18:42] #2187 closed

[2017-05-23 18:55] humphd commented on #2186
I agree, we should be dual-logging vs. printing only to the in-browser one.  Also, I think we should consider using something like https://github.com/Automattic/util-inspect to better print objects.

[2017-05-23 19:36] flukeout commented on #2195
In addition, we've recently run into a couple of times when a school's network blocks access to certain domains. If possible, we should indicate when this is the case so that the teacher can contact their IT support staff and get it resolved.

[2017-05-23 20:04] flukeout commented on #1857
Going to close, since the feature is merged and working already.

[2017-05-23 20:04] #1857 closed

[2017-05-23 20:23] flukeout commented on #2189
Okay, I'll let the user know a fix is on the way. You've got a launch label on this, will you be working on it in the near future?

[2017-05-23 20:27] humphd commented on #2189
Yes, I'll do it next.

[2017-05-23 22:51] #2143 closed

[2017-05-23 22:56] flukeout commented on #2180
Thanks for chiming in @Pike and @TheoChevalier - if I understand it correctly, at least as far as typos go, we are free to keep using the same key and just update the string in ``en_us``.

@Pomax good to close?

[2017-05-24 08:07] yaroslavromanyuk commented on #2084
I think that we could solve this problem differently.
You can use JS to make play only those videos that are visible on the screen . We can dynamically catch the window scrolling event and call the play() on those videos that are currently visible and the corresponding pauses() on those videos that are not visible. Thus, the CPU will only be loaded with those videos that are visible for user. What

[2017-05-24 08:10] yaroslavromanyuk commented on #2084
If you are willing to wait a few days, I can make an implementation of this approach.

[2017-05-24 15:06] humphd commented on #2189
Fix for this in https://github.com/mozilla/brackets/pull/766

[2017-05-24 16:25] humphd commented on #2069
Probably we can scale back to normal now and close this?  @cadecairos

[2017-05-24 16:25] humphd commented on #1950
@gideonthomas can we close this now?  Is it on prod?

[2017-05-24 16:28] gideonthomas commented on #1950
Yeah

[2017-05-24 16:28] #1950 closed

[2017-05-24 16:29] #2190 closed

[2017-05-24 17:02] cadecairos commented on #2069
OK, I'll check the traffic levels once more and scale down

[2017-05-24 17:03] flukeout commented on #2069
Yeah, throw a graph in here if you can, curious how some of our social media exposure affected our traffic. Looking at analytics yesterday, it didn't really look out of the ordinary.

[2017-05-24 17:13] flukeout commented on #2084
Hey @yaroslavromanyuk - that sounds pretty good, but we've already gone down the other road pretty far. We are just finishing up a PR here - https://github.com/mozilla/thimble.mozilla.org/pull/2197

This one plays and pauses the videos based on hovering over them (or touch for touch-enabled de ices)