[2017-12-15 20:13] humphd commented on #2517
I think the first step here is to see if this can be reproduced at all.  Then let's figure out what it is.  It might have been some odd edge case I hit vs. a real bug.

[2017-12-16 01:09] marcobeltempo commented on #2580
@flukeout I was reading over #2575 and love the addition of the inline slowparse.
I am interested in implementing a toggle feature to go with it.

@humphd  Were you thinking about having a main inline toggle + each individual toggle or just the main one?

Is there a way to test https://mozillathimblelivepreview.net/bramble/slowparse/dist/hosted.html
locally?

[2017-12-16 02:05] humphd commented on #2580
@marcobeltempo I've assigned this to you.  Can you do a few things?

1) Can you help test the slowparse stuff as @flukeout discusses in https://github.com/mozilla/thimble.mozilla.org/issues/2575#issue-280636327?  Try and see if you can break it, find bugs, etc.

2) Work on this pref.  Doing this will be a multi-part operation, some in Thimble and some in Brackets.  You should begin with the Bracke

[2017-12-16 03:22] marcobeltempo commented on #2580
@humphd Thank you for the detailed guidance. I will start tackling this and update my status on each step as I go

[2017-12-16 20:20] gideonthomas commented on #2517
I definitely see it on prod

[2017-12-17 02:03] #2572 closed

[2017-12-18 02:36] shikhar-scs commented on #2447
Is this issue still up ?

[2017-12-18 07:58] pradeepgangwar commented on #2479
@jmrodriguesgoncalves are you still working on the issue? Else I can try. :)

[2017-12-18 08:10] pradeepgangwar commented on #1902
@humphd is this bug still open? If yes I would like to solve it. :)

[2017-12-18 08:13] pradeepgangwar commented on #1966
@gideonthomas is anybody still working in this? I am looking for my first issue on thimble. This may be a good point to start .

[2017-12-18 15:28] humphd commented on #1966
@pradeepgangwar if you'd like to work on this, I think it's safe to say that no one else is doing it currently (if I'm wrong, I apologize, and please correct me).

I think the best thing to do is to follow the advice given above:

Why don't you start with this bug (I see you've commented on some others) and see how things go.

[2017-12-18 15:29] humphd commented on #1902
This isn't a great first bug.  @pradeepgangwar I've commented in another bug you flagged, which is likely better.

For reference, @GauravV-02 has done the work on the Brackets side for this (the API has landed).  We just need the Thimble side now.

[2017-12-18 18:01] humphd opened #2581 "Consider adding CSSAtRuleCodeHints, CSSPseudoSelectorHints from upstream"
https://github.com/adobe/brackets/tree/deeb74e694e64f5a78656286dcffd7e6b37857f2/src/extensions/default/CSSAtRuleCodeHints

Not sure if we care about this or not.  @flukeout do you want it?

[2017-12-18 20:56] gideonthomas commented on #2581
I vote for adding it! Seems useful especially since media queries are used a lot in responsive design curriculum

[2017-12-18 21:09] gideonthomas commented on #2447
looks like there's a queue for this issue :P
@rheupler are you still interested in fixing this issue? If not, @shikhar-scs you can take it on.

[2017-12-18 21:13] humphd commented on #2581
https://github.com/adobe/brackets/tree/deeb74e694e64f5a78656286dcffd7e6b37857f2/src/extensions/default/CSSPseudoSelectorHints is another one that does similar things.

Both of these could be basically dropped into Bramble and "just work" without modification.

[2017-12-18 21:15] flukeout commented on #2581
What is it? Have you tested it out? Post a screenshot?

[2017-12-18 21:16] rheupler commented on #2447
Yeah, I can do this today. Thanks!

[2017-12-18 21:17] humphd commented on #2581
They add CSS hinting for `@...` media queries and various pseudo selectors.

[2017-12-18 21:19] flukeout commented on #2581
Yeah let's slam it in there!

[2017-12-18 21:25] humphd commented on #2581
To whoever wants to do this, here's the process:

* From Adobe's repo, copy these two directories into our repo, making sure we keep license info in tact.
* Remove the `unittest.js` files
* Add 2 new entries to src/extensions/bramble-extensions.json for these extensions so these get loaded by Bramble, similar to https://github.com/mozilla/brackets/blob/master/src/extensions/bramble-extensions.json

[2017-12-18 23:49] rheupler commented on #2447
Opened PR - [#2582](https://github.com/mozilla/thimble.mozilla.org/pull/2582)

[2017-12-19 05:52] ericsuhn commented on #2581
I'd like to do this!

[2017-12-19 06:25] jakewahl10 opened #2583 "Installation Instructions"
I am currently working on a windows machine and had a lot of trouble getting the project installed.  I think that the installation instructions should have more specified detail where all the commands are run and what they are run in (ex. the commands did not work in the Ubuntu bash I had downloaded, but they did end up working in the git bash).   I would suggest doing this first by having differe

[2017-12-19 06:29] jakewahl10 opened #2584 "Code hierarchy/structure"
Once I found an error that I wanted to resolve and had it assigned to me, I was given a recommended file to start.  I went to that file and started looking around a little.  However, I found it very difficult to figure out what was going on in the file as well as how that file interacted with other files.  There is no documentation on how the different files interact and what everything in the fil

[2017-12-19 07:24] shikhar-scs commented on #2564
As new users, people are generally hesitant at first on directly making an account on unknown sites. Also, online editors are often resorted to in cases when users need perishable data, something which they can afford to lose. So, mandating a sign in might affect the no. of users.

So, I guess we should provide them anonymous usage but with some constantly displayed warning sign that says somethin

[2017-12-19 16:54] teddypee commented on #2560
Hellow i would like to work on this bug

[2017-12-19 18:14] gideonthomas commented on #2584
@jakewahl10 are you talking about this repo or Brackets?

[2017-12-19 18:28] humphd commented on #2560
@gideonthomas what do you think about this bug, and how you'd want it fixed?  @teddypee is willing to work on it, I just want to make sure we have a plan for him.  It would be good to not spit these errors out to the console for sure.  Thoughts?

[2017-12-19 18:51] gideonthomas commented on #2583
@jakewahl10 can you mention what exact problems you were encountering? The instructions should be working cross-platform.

[2017-12-19 21:17] jakewahl10 commented on #2584
Both

[2017-12-19 22:57] ryanwarsaw commented on #2431
Closing this as all decisions from an engineering perspective have been made, respective PRs have been filed and I don't expect this to move anywhere until well into next year.

[2017-12-19 22:57] #2431 closed

[2017-12-19 22:59] ryanwarsaw commented on #2299
Respective PRs have been filed, there is some migration considerations to factor into in the future, but as it stands we've met the first objective (clean port to passport). Good to close @flukeout ?

[2017-12-19 23:03] ryanwarsaw commented on #1752
The finished `passport-webmaker` module has been published, an additional PR has been submitted to thimble.mozilla.org (See: #2435). Per discussion with @gideonthomas this likely won't be going anywhere anytime soon, so I'm going to unassign myself.

This work will get us a good portion of the way there, someone else will need to follow up with some migration work should we decide to support multi

[2017-12-20 17:46] wintop6211 commented on #2569
@gideonthomas I tried both, editor didn't autocomplete at all.

[2017-12-20 18:20] gideonthomas commented on #2584
Do you have specific code paths that you were confused about?

[2017-12-20 19:59] wintop6211 commented on #2569
@gideonthomas I wanna fix this issue, I'm a college student and working on a open source project is part of our course, and I think this one particularly interested me. Thanks!

[2017-12-20 21:16] gideonthomas commented on #2569
Hi @wintop6211, I'm happy to assign this issue to you but let's also figure out what the steps to reproduce are.

The way you autocomplete code is you start typing in a tag...for e.g. `<h` and you should be presented with a dropdown of potential tags to autocomplete. Once you select one of the options from the list, you hit Return (not tab) and it autocompletes it for you. I definitely am able to

[2017-12-20 21:44] wintop6211 commented on #2569
@gideonthomas Thank you for the gist on the problem! So when autocomplete is turned off, the drop down menu isn't suppose to pop up right?

[2017-12-21 00:15] teddypee commented on #2560
@humphd Hi Dave can you get me started on this

[2017-12-21 08:41] bansalnitish commented on #2113
@humphd it seems no one is working on this issue now. May I work on this !

[2017-12-21 14:55] Vasusena commented on #2113
Hey bansalnitish, I am sorry I haven't been active for a while but I am about to finish this issue, I just need to finish up and send a pulll request

[2017-12-21 19:52] Avedis777 commented on #2573
Would I be making any changes to the Thimble repository? It seems like the only place getDetachedPreview is written is in Bramble main.js

[2017-12-22 01:19] marcobeltempo commented on #2580
Just a quick status update @humphd
I've pushed my most recent changes to an issue branch on my forked repo.
You can see the commit here: [/marcobeltempo/brackets/commit/c8d2bd4](https://github.com/marcobeltempo/brackets/commit/c8d2bd42b6079a9809ed7a11aba2ec9e03daba5d)

### To-do
- [x] Add getAllowHints()  to bramble API
- [x] Add enableHints() to bramble API
- [x] Add disableHints() to bramble API

[2017-12-22 04:58] Avedis777 commented on #2343
Where can I find the import url statement?

[2017-12-22 17:14] humphd commented on #2343
[code]

[2017-12-22 17:19] humphd commented on #2573
The only place that should need to get touched here is in Brackets.

[2017-12-22 17:39] humphd commented on #2560
@teddypee part of this bug is figuring out what the actual problem is, and I'm not 100% sure myself (i.e., you'll need to do some digging).  Here's what I know:

* The console we show is managed in Brackets in https://github.com/mozilla/brackets/tree/master/src/extensions/default/bramble/lib and specifically https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/Console

[2017-12-22 20:59] Avedis777 commented on #2573
So how would I go about submitting my work? The issue is on Thimble but Bracket is the project being modified

[2017-12-22 21:02] humphd commented on #2573
Just do all your work in Brackets (i.e., pull request there vs. here).  We file bugs in Thimble because users' can't know whether a bug is part of Thimble or Brackets (or publish, or id, or login, or ...).  It makes it easier to file/find bugs for users, and slightly more complex for us as developers :)

[2017-12-23 00:12] Avedis777 commented on #2573
I made a pull request [here](https://github.com/mozilla/brackets/pull/910)

[2017-12-23 09:10] himanish-star commented on #1946
@humphd , could I work on this issue

[2017-12-23 09:23] shikhar-scs commented on #2516
Can I please work on this issue @humphd  @gideonthomas if its still up?

[2017-12-23 20:00] humphd commented on #2516
@shikhar-scs, I think that's probably fine.  @dnguneratne seems to have moved on to other things, but if I'm wrong, let me know.

[2017-12-23 20:02] humphd commented on #1946
@himanish-star sure, if you'd like to, go for it.

[2017-12-24 01:58] shikhar-scs commented on #2516
Okay I'll work on this and file a PR soon :)

[2017-12-30 13:51] pradeepgangwar commented on #2120
@gideonthomas Please assign this to me if @ajomadlabs is not working on this.

[2017-12-30 17:03] humphd commented on #2120
@pradeepgangwar go for it if you like.  It looks like @ajomadlabs got busy with other things.  If that's wrong, I'll be happy to find another bug for whoever needs one.

[2017-12-31 10:31] Obtin commented on #2139
@humphd , Is anybody working on this? If not I would like to take up this issue. Thank you.

[2017-12-31 13:19] ajomadlabs commented on #2120
I will carry on with this issue . Sorry for the delay

On 30-Dec-2017 10:33 PM, "David Humphrey" <notifications@github.com> wrote:

[2017-12-31 15:21] Obtin commented on #1543
@humphd @flukeout Is the issue resolved or anybody else is working on it ? If its not the case, I would like to work on this issue.
Thank you.

[2017-12-31 17:36] Fatehsandhu commented on #1543
@obtin I was working on it but I keep getting some sorts of errors when I create a pull request.
All my code is here --> https://github.com/Fatehsandhu/thimble.mozilla.org
Happy New Years!

[2018-01-02 17:05] jwusteman opened #2587 "Errors in relative addressing"
Using Chrome 62. When using Chrome dev tools in the service worker settings I disabled the "Bypass for network option" so requests always go to the service worker.
 I created a test with an index.html 2 levels deep in a sub folder, e.g.
test/one/index.html
I added a style to the style.css file at the root:
/style.css
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('htt

[2018-01-03 00:59] gideonthomas commented on #2560
I think that is what's causing this issue (I don't think we can fix the "do not show our errors in the console issue") and we should definitely see if `sessionStorage` is accessible first before trying to read from it. It looks like that specific file is what is causing the error and If we account for that, it won't show up in the console anymore.

@teddypee or whoever ends up fixing this issue, a

[2018-01-03 01:21] gideonthomas commented on #2587
Yeah I think the `base` tag should reference the current folder instead of the root folder. @humphd is that correct.

[2018-01-03 01:26] gideonthomas commented on #2139
@eromney are you still working on this? If not, @Obtin, it's all yours.

[2018-01-03 01:43] #1966 closed

[2018-01-03 01:45] #2573 closed

[2018-01-03 01:47] gideonthomas commented on #2569
@wintop6211, yes that is correct.

[2018-01-03 01:49] gideonthomas commented on #1752
Assigning to myself (@gideonthomas) to see what we can do next.

[2018-01-03 01:50] gideonthomas commented on #2299
Thanks @ryanwarsaw!

[2018-01-03 01:50] #2299 closed

[2018-01-03 01:53] #2581 closed

[2018-01-03 01:54] #2447 closed

[2018-01-03 16:41] ppatel221 commented on #2587
Hey guys, Id like to work on this. Can i get started on it?

[2018-01-03 17:58] Obtin commented on #2139
@gideonthomas since @eromney has not replied yet can I start working on this.

[2018-01-03 18:20] gideonthomas commented on #2139
@Obtin, let's give @eromney the next two days to give us a status update and if there is no reply by then, feel free to get working on it.

[2018-01-03 18:26] gideonthomas commented on #2587
Hi @ppatel221, I might have prematurely marked this as a Good First Bug. Let's wait for a little guidance from @humphd first and if he agrees, we can help you figure out where to make the change.

[2018-01-03 23:30] marcobeltempo commented on #2580
@humphd I've added the code to shim Bramble as well as the UI toggle. I just need some guidance in connecting with @flukeout code

[2018-01-04 05:00] TakumaKawashiro opened #2588 "Preview box only displays the URL of preview file"
The preview box in the editor displays the URL like "https://mozillathimblelivepreview.net/bramble/production/dist/vfs/[6NUMBERS]/projects/[7Numbers]/index.html" in IFRAME.

[2018-01-04 06:21] TakumaKawashiro commented on #2588
2018/1/4 15:21 (JST), this issue was cleared.

[2018-01-04 16:06] azusaaz commented on #2307
@humphd Is that not necessary to resize "animated" gif in this issue?

[2018-01-04 16:59] humphd commented on #2307
@azusaaz correct, we do not need to resize animated GIFs.

[2018-01-04 17:05] humphd commented on #2588
I think this should have been fixed with our recent work to deal with failed service worker installations and falling back to Blob URLs.  If you still see this happening, let us know.  Thanks for filing.

[2018-01-04 17:05] #2588 closed

[2018-01-04 17:08] humphd commented on #2580
I need to sync up with @flukeout to see what we're doing with the slowparse feature--there's no PR for it yet.  Probably the easiest thing will be to do something via a preference on the Brackets side, which I can talk you through.  Let me hear from Luke first.

[2018-01-04 17:16] humphd commented on #2587
We set the `<base>` element's URL here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/PostMessageTransport.js#L210.  If you want to have it match the current page's depth, we'd have to do some work in that function to figure out the relative path, and adjust the absolute URL accordingly.

We need to have a `<base>` for the case of Blob URLs needing to resolve r

[2018-01-05 01:08] azusaaz commented on #2307
@humphd omg! great! Thank you!

[2018-01-05 20:48] combojs opened #2589 "Indentation with Template Literals"
The Editor removes indentation from template literals, making the code a complete mess.

For example this:

    function test() {
        return `
            <p>
                The editor should leave this alone but doesn't.
            </p>
        `;
     }

Turned into this:

    function test() {
           return `
         <p>
         The editor should leave this alone but doesn't.

[2018-01-05 23:17] azusaaz commented on #2307
@humphd
Hi, my pull request went to bracket side.
https://github.com/mozilla/brackets/pull/913

I guess there is a problem. I appreciate if you could review this.

[2018-01-06 12:52] creative-karan commented on #2139
Hi @gideonthomas,
I am also up for this. Let me know if @eromney or @Obtin doesn't take up this issue.

[2018-01-06 13:05] Obtin commented on #2139
@creative-karan I am working on this. thank you :-)

[2018-01-07 19:24] #2113 closed

[2018-01-08 11:29] lkclkc2003 opened #2590 "Iframe / frame doesn't work"
As titled

[2018-01-08 14:42] combojs commented on #2589
I want to expand on this. It seems the big problem is it removes this stuff on a paste. I noticed this with idiomatic css headings too.

[2018-01-08 14:44] combojs opened #2591 "Preview autoreload lags JavaScript editing"
I'm not sure if this would be a feature request or UI issue, but there is a delay when Thimble autosaves. Most times I think JavaScripts are not working when I make changes, and have to remind myself that saves are not immediate.

I was wondering if a "force save" or "save" button could be added.

[2018-01-08 16:37] humphd commented on #2591
@combojs we have some other bugs on this, so you're not alone.  The issue is that JS has to be fully re-parsed/executed when there are changes on disk vs. what we do with CSS where we can dynamically replace and inject things as you type.  Our saving logic autosaves every 5 seconds right now, and then that will force a reload of the preview.  No matter what we do for an autosave time, there will b

[2018-01-08 16:39] humphd commented on #2591
https://github.com/mozilla/thimble.mozilla.org/issues/2303 is one of the bugs I'm thinking of, but there's another one I can't find at the moment.

[2018-01-08 16:43] humphd commented on #2589
This will be an issue with CodeMirror indenting in Brackets.  I see Adobe also discussing in https://github.com/adobe/brackets/issues/11714.  I see that CodeMirror 4.1 has a fix for this, see http://codemirror.net/doc/releases.html.  However, we're at 5.21.0 per https://github.com/mozilla/brackets/blob/master/src/package.json#L4.  Someone should see what's up in CodeMirror, I bet it's already fixe

[2018-01-08 16:44] humphd commented on #2590
@lkclkc2003 can you give a bit more info?  Are you adding an `iframe` to your project and it's failing?  What does "doesn't work" mean in this context?  If you can give some more info, we can try to help or fix.

[2018-01-08 16:46] Obtin opened #2592 "adding favicon."
right now the https://thimble.mozilla.org does not have a favicon.

Would you like to take this issue?
Yes

[2018-01-08 16:48] bansalnitish opened #2593 "Selfie preview is inverted"
The selfie image as well as the preview is flipped. In most of the apps and cell phones the selfie image is flipped but the preview is not. This seems better to me to have such (flipped of what we have) preview keeping the selfie image as it is.

Steps to reproduce:
1. Click on get started.
2. In the editor write `<img src = "">`
3. You will see a Take a selfie option, click on that.

[2018-01-08 16:51] Obtin opened #2594 "Email verification field shows wrong message."
![thimble](https://user-images.githubusercontent.com/25207205/34681429-e1065dd4-f4c1-11e7-90d1-206b6d0bf46f.png)

The validation field earlier showed a correct message `Please enter valid email` an in no time the error message changes to `Email address already taken` (which is indeed not the correct error message).

[2018-01-08 16:56] humphd commented on #2593
The fix for this is likely two-fold.  We should probably use the JS and CSS methods described at https://stackoverflow.com/questions/3129099/how-to-flip-images-horizontally-with-html5 and fix
https://github.com/mozilla/brackets/blob/master/src/extensions/default/BrambleUrlCodeHints/camera/interface.js#L78-L106 and https://github.com/mozilla/brackets/blob/master/src/extensions/default/BrambleUrlCod

[2018-01-08 16:56] humphd commented on #2594
cc @cadecairos, @gideonthomas

[2018-01-08 17:07] humphd commented on #2592
@Obtin we do the favicon loading here: https://github.com/mozilla/thimble.mozilla.org/blob/7a6c2f8d492b5ade8c5a28e5bb93f37c20be2c3e/server/index.js#L60-L64

Are you not seeing it?  It loads for me in FF and Chrome.

[2018-01-08 17:14] Obtin commented on #2592
Not on this
![thimble1](https://user-images.githubusercontent.com/25207205/34682604-6440ab66-f4c5-11e7-80d0-fd995d8270ae.png)
Though it does appear on this
![thimble2](https://user-images.githubusercontent.com/25207205/34682606-67cf6bf0-f4c5-11e7-88c8-20841c4ddef1.png)

[2018-01-08 17:16] humphd commented on #2592
OK, gotcha.  This fix would need to happen in https://github.com/mozilla/id.webmaker.org, which is a Hapi based server.  If you want to work on that, I suspect that @gideonthomas can provide some guidance on how they'd want it done.

[2018-01-08 17:17] Obtin commented on #2592
@humphd can i take this issue?

[2018-01-08 17:18] humphd commented on #2592
For sure, it's yours.  Just do your PR against that other repo, even though the bug is filed here.  The two people who you can ask for help are @cadecairos and @gideonthomas.

[2018-01-08 17:52] gideonthomas commented on #2592
@cadecairos are you ok with just using the Thimble favicon for id as well?

[2018-01-08 17:54] gideonthomas commented on #2591
Closing as a duplicate.

[2018-01-08 17:54] #2591 closed

[2018-01-08 18:08] gideonthomas commented on #2594
@cadecairos any idea where this might be happening?

[2018-01-08 18:12] bansalnitish commented on #2593
@humphd I would like to work on this. I feel this can be fixed with css only. Adding the following css would flip the preview:
`-webkit-transform:` rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);

[2018-01-08 18:13] humphd commented on #2593
Thanks @bansalnitish, it's all yours.  Flipping the preview is good, but what about the final image?  Maybe it's already the way you want?  If not, you'll need to translate that canvas too, before we save the image to disk.

[2018-01-08 18:15] bansalnitish commented on #2593
Yes, I feel the final image should remain flipped. In various other selfie apps as well as on cell phones, the preview is not flipped but the final image is flipped. What do you think?

[2018-01-08 18:15] cadecairos commented on #2594
It's very likely a bug in the FE React code. not sure where precisely.

[2018-01-08 18:16] humphd commented on #2593
Personally, I've always hated that the final image is different from the preview.  However, I'd say "do what won't surprise users," and if this is what phones do now, let's just do what they do.

[2018-01-08 18:22] gideonthomas commented on #2594
@Obtin, thanks for reporting this. I would say that this isn't an issue worth fixing for now since I think that this is a low impact, heavy work (mainly figuring out where it is) bug that not many people will run into. Let's keep this issue open but hold off on fixing it.

[2018-01-08 18:25] gideonthomas commented on #2593
@xmatthewx, would you be able to provide some input here?

[2018-01-08 18:32] gideonthomas commented on #2587
Yeah S3 will handle this.
Would we set the base tag to the dirname of the current path?

[2018-01-08 18:35] gideonthomas commented on #2580
@humphd the PR is here: https://github.com/mozilla/brackets/pull/876. I think I was supposed to review it but it fell off my radar. I can review it this week, but feel free to get to it before I do.

[2018-01-08 18:36] humphd commented on #2587
We can try that approach, and see how it works.  Testing this in various browsers will be important, to make sure things work the way we expect.

[2018-01-08 19:59] xmatthewx commented on #2593
I agree, do what won't surprise users. Follow the most common pattern in the wild, diverge only if there's an _overwhelmingly_ compelling reason.

[2018-01-08 22:02] mrcottington opened #2595 "Thimble is Taking a Long Time to Load Error Message"
Hello all,

I teach Web Development at a high school where our students use Thimble to create their web projects. Each of our students have Chromebooks that are all managed by the school and have the same privacy/browsing settings.

I had posted previously about Thimble displaying a 404 File Not Found error in the Preview window when certain students opened certain projects, and was told to add ?c

[2018-01-08 22:20] humphd commented on #2595
Do you have an example of a project that's taking a long time to load?  That message "Thimble is taking a long time..." is ignorable for a large project (i.e., does waiting work?).  It shouldn't still be necessary to manually add `?cacheType=blob`, as we did a code fix for this after talking to you previously.  If you are finding that it is necessary, we should figure out why and fix it.

Are you

[2018-01-08 22:21] humphd commented on #2595
cc @cadecairos.  Chris, on Thursday, can you keep an eye on Thimble and the associated services for errors/scaling?  @mrcottington has 100+ high school students doing an exam with Thimble that day.

[2018-01-08 22:33] mrcottington commented on #2595
I can send you a project tomorrow if it happens - do you just need the username and project number? I can have a student send me the link if it happens tomorrow - it definitely isn't just on larger projects because it has been happening when students click "Start New Project".

One thought I had: could the students own browsing data be affecting it? The Chromebooks restrict them from clearing thei

[2018-01-09 19:04] cadecairos commented on #2595
Sure thing! I'll double check all the scaling settings now too, just to be sure.

[2018-01-09 20:13] #2506 closed

[2018-01-10 16:49] bansalnitish commented on #2543
@gideonthomas This issue should be closed since the mouse styling was intentionally set in this way as mentioned [here](https://github.com/mozilla/thimble.mozilla.org/pull/2544#issuecomment-342000554).

[2018-01-10 16:50] #2543 closed

[2018-01-10 16:53] bansalnitish commented on #2593
@humphd this issue should be closed !

[2018-01-10 16:53] #2593 closed

[2018-01-10 17:09] bansalnitish commented on #2507
May I give it a try ?

[2018-01-10 17:52] ashish1500616 commented on #2480
Hi @flukeout  its seems that this issue has not been resolved and no one is working on it, can I work on this issue?

[2018-01-10 18:00] ashish1500616 commented on #2140
Hi @humphd  its seems that this issue has not been resolved and no one is working on it, can I work on this issue?

[2018-01-10 18:24] humphd commented on #2140
@ashish1500616 fine with me if @mmBabol is OK with that.

[2018-01-10 18:25] humphd commented on #2480
This is actually fixed, I landed it yesterday and forgot to close this.

[2018-01-10 18:25] #2480 closed

[2018-01-10 18:27] humphd commented on #2507
@bansalnitish this inline editors are big, but you're welcome to do it if you'd like.  Here's a recent example that got added:

https://github.com/mozilla/brackets/commit/127fc1736dcf83c53868539a98f1b1399e55321d

Personally, I'd suggest people do other things.  But I'll let you decide.

[2018-01-10 18:39] bansalnitish commented on #2507
I'll follow the example and try this one out !

[2018-01-10 18:40] humphd commented on #2507
OK, sounds good. There are some other examples of inline editors in the extensions dir as well.

[2018-01-10 18:41] ashish1500616 commented on #2140
@mmBabol Is it ok with you If I take up this issue.

[2018-01-10 20:24] mrcottington commented on #2595
So update: it's happening just every time any of my students create a new project or load their previous project. The ?cacheType=blob fixes it, but occasionally, a different error happens that ?cacheType=blob can't fix. This one reads "Thimble could not start - Please reload your browser to try starting Thimble again" with a Reload Now button. The reload button doesn't work and restarting the brow

[2018-01-10 20:25] humphd commented on #2595
@gideonthomas are you able to see what's going on with https://thimble.mozilla.org/en-US/user/efil/1402002 in case it's project related?

[2018-01-10 21:13] mrcottington commented on #2595
It is also happening on this: https://thimble.mozilla.org/en-US/user/zacaibanks/1402108

On both of these, the student started coding without logging in, and then when they clicked sign in and signed in, the "Thimble could not start error" happened.

Thanks so much! My students appreciate it!

[2018-01-11 13:35] mrcottington commented on #2595
Also this one: https://thimble.mozilla.org/en-US/user/markeith/1402601/

I'll keep passing along projects if it helps. Thanks again.

[2018-01-11 15:12] cadecairos commented on #2595
I cranked up the minimum number of hosts we're running the Thimble frontend and Publish backend on, hopefully that helps.

[2018-01-12 16:50] mrcottington commented on #2595
Our test went well yesterday! We still had the long load time error message on most of the machines but we were able to enter ?cacheType=blob to get around it. Thanks a lot for making sure we could get through it.

[2018-01-14 11:23] tanya-vedi commented on #2313
Can you guide me further on this, I would like to take up this issue.

[2018-01-15 15:33] humphd commented on #2313
@tanya-vedi this is a very open ended problem, and likely it needs to be fixed in stages.  I'm not 100% sure how to advise you.  Here are a few thoughts:

The Thimble home page header and footer don't work well on mobile, and it would be interesting to see if we can make these more responsive on small screens:

<img width="474" alt="screen shot 2018-01-15 at 10 30 04 am" src="https://user-images.g

[2018-01-16 17:26] trishla08 opened #2597 "Extending code snippets"
I have a slight improvement for the interface. Code snippets are a great way for helping out the user with basic syntax. While it includes tables, forms, lists, comments and more, I think it'd do great with the addition of the following: a href tag, iframe tag and the button tag. They're very frequently used. Since having such a big drop down might not be feasible, maybe we could add these in 1 ta

[2018-01-16 17:48] trishla08 opened #2598 "TypeError: Cannot set property 'scrollTop' of null"
Couldn't find this on searching but experienced this error a few times on my Chrome browser.
![image](https://user-images.githubusercontent.com/27439626/35003371-a7237b9a-fb12-11e7-86c3-cd7499022a53.png)

It seems that every time I add content to my page which spans more than normal page height, this 'Uncaught type error' pops up in the console. There is nothing out of place in my codes which lead

[2018-01-16 17:58] humphd commented on #2598
This is happening here:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/MouseManagerRemote.js#L65-L67

We have code that attempts to keep the preview page at the same scroll position after a reload, by setting `scrollTop` on `document.body`.  Probably there is some kind of timing bug here, where `document.body` isn't ready yet in the DOM.  We're waiting on `DOMC

[2018-01-16 18:00] trishla08 commented on #2598
It'd be my first fix, I'd be happy to give it a try! @humphd

[2018-01-16 18:06] humphd commented on #2598
Great, @trishla08, go for it!  You'll need to fork/clone our Brackets repo, even though this bug is here in Thimble:

* https://github.com/mozilla/brackets
* Then follow the install instructions here https://github.com/mozilla/brackets#how-to-setup-bramble-brackets-in-your-local-machine
* For the purposes of working on this fix, you can then just use http://localhost:8000/src/hosted.html, which wi

[2018-01-16 18:09] gideonthomas commented on #2597
@trishla08, I think those sound like reasonable additions (I'm on the fence about iframes though since they are usually "embed" code pieces that are copied from other sites). Feel free to try to tackle the UI for this as well (i.e. adding the "more..." part). I also wouldn't mind removing some of the other tags that aren't super useful (we can probably decide once you get something started).

[2018-01-17 14:15] mklilley opened #2599 "Bramble and Brackets LiveDev errors"
Hi.

I'm getting some strange stuff logging to the console. Also getting some bramble errors.

![screen shot 2018-01-17 at 14 13 22](https://user-images.githubusercontent.com/7937044/35047068-c264325e-fb90-11e7-9088-f111d844c54b.png)

Last time I used Thimble was back in September so I am wondering whether something was introduced since the which created what appears to be a bug.

Thanks

[2018-01-17 15:37] trishla08 commented on #2598
@humphd I have made a pull request with that change, I think it fixed it since I don't see the error anymore. I can't be 100% sure since the error seems a bit random, we'd have to test it a few times to be sure.

[2018-01-17 17:16] humphd commented on #2599
That error is coming from https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/protocol/remote/LiveDevProtocolRemote.js#L352

I suspect that this is our live dev preview script injecting failing on finding a `</head>` to use as an insertion point.  We inject a bunch of scripts that let the editor communicate with the running preview page and vice versa over `postMes

[2018-01-17 18:14] trishla08 commented on #2597
@gideonthomas I believe the following tags can be removed since they don't appear quite useful to me-
-Audio Player
-Media Queries
-Pseudo Element

The following should be added (not including iframes since your point is valid)
-Button
-A href
-maybe a JS alert (pop up box) statement

What do you think?

[2018-01-18 07:58] mklilley commented on #2599
Hey. Thanks for replying so quickly. When you say page's script which script you do mean? If you look at the HTML code from my screenshot I only have an HTML tag - no scripts referenced. Thanks again, Matt

[2018-01-18 14:45] trishla08 opened #2600 "Deleting projects: just published version."
If I just published a project, closed it and the next day, I want to remove the published version only, how do I go about doing that? I do know that when we publish it, we get the option immediately but I couldn't find the option once I closed that window. On going to my project page: (https://thimble.mozilla.org/en-US/projects/), deleting it gives me the message that both versions will be deleted

[2018-01-18 17:48] gideonthomas commented on #2600
@trishla08, if you open your project and click on the "publish" button, you should see a "Delete Published Version" button that should do what you want.
<img width="545" alt="screen shot 2018-01-18 at 12 47 00 pm" src="https://user-images.githubusercontent.com/5816130/35112965-d7ee1118-fc4d-11e7-84a6-5b3c22bb827f.png">
If you don't see this button, feel free to comment back in this issue.

[2018-01-18 17:53] #2598 closed

[2018-01-18 19:30] humphd commented on #2599
Indeed, I was thinking out loud when I wrote that, but obviously you're not including any scripts.  I still suspect it's one of the issues I mentioned above.

[2018-01-18 21:10] gideonthomas commented on #2599
@humphd it's interesting that `msgStr` is an object there. So somehow the message that the function is receiving is an object not a string and that's why it's throwing.

[2018-01-19 16:36] humphd commented on #2599
@mklilley I'm unable to reproduce what your'e seeing above.  Is it possible that you got into this state by originally having a page that called one or both of those scripts in your project, and then deleted everything but the enclosing `<html></html>` tags?  I ask because I wonder if this error is due to a previous state of the preview window vs. the one that would currently render.

[2018-01-19 17:55] bansalnitish commented on #2507
@humphd I have made the PR for `padding`. Should I continue in the same way for `margin` as well ?

[2018-01-19 18:08] combojs opened #2601 "Public page for projects"
I was wondering if there was a way to share a link to my list of projects. If there isn't a way, is this a feature that can be discussed for future versions?

[2018-01-19 18:22] humphd commented on #2507
Sure, doing `margin` would be cool.  Question: how much of this current code could you share between them?  It would be good if we didn't have to make a ton of new code for everything like this, especially if they share basic things.

[2018-01-19 18:23] humphd commented on #2601
This is not a way to do this, no.  It could be built, though, especially since we already have code that basically does this for a user.  Exposing it might not be what some users want, though.  This needs some thought.

[2018-01-19 18:45] bansalnitish commented on #2507
I'll just try to share as much as I can and then we'll discuss how to proceed further !

[2018-01-19 21:03] combojs commented on #2601
Good point. Maybe have an option to showcase your published projects or not.

[2018-01-20 16:01] bansalnitish opened #2602 "Extend Quick Edit UI for border-radius"
Quick edit UI works perfect for `border-radius` but not for `border-top-left-radius` , in general not for `border-top/ bottom-left/right-radius`.

![Imgur](https://i.imgur.com/NebFjFd.png)

I would like to extend this !

[2018-01-21 10:44] mklilley commented on #2599
Hey @humphd Your instinct is correct this is exactly what i did. However there were no scripts being used before.

I also get the same thing happen when i start a brand new project.

Ah, literally as I was just taking the screen shot I realised something when i looked at some of the details of the errors - they match my ethereum address. I have MetaMask installed on Chrome so it must be interactin

[2018-01-21 17:56] humphd commented on #2599
@mklilley this is good, thanks for the extra info.  I think we should still fix this, since people are going to have lots of extensions installed, some of which might do things like you're seeing.  We should harden our message passing code between the editor and live dev windows so we ignore stuff like this.

The fix is probably to do some kind of inspection [here](https://github.com/mozilla/brack

[2018-01-21 18:04] trishla08 commented on #2600
@gideonthomas I can't view that option once my project is already published, I have closed it and reopened it. To be clear, when I visit my projects and open a published project from there, and click on publish, the following appears:
![image](https://user-images.githubusercontent.com/27439626/35197304-45570d42-ff03-11e7-8171-0d66b6cb573d.png)
A 'delete published version' would be great to have ne

[2018-01-22 19:08] gideonthomas commented on #2600
@trishla08, I think having that button might clutter the my projects page a bit but maybe we can come up with some form of acceptable UI.

Until then, your specific issue seems like a bug. Would you be able to share your published project url?

[2018-01-22 20:36] cheesemanq opened #2603 "Website Problems"
Can you please help me fix my project here is the link:
https://thimble.mozilla.org/en-US/user/demond/1419551/

[2018-01-23 17:11] trishla08 commented on #2600
@gideonthomas somehow I can now see the delete published version only when I click on publish. I am positive it didn't show up when I tried it yesterday but it does now, I guess it was some other glitch yesterday. It's working as it should now, this can be closed! Thank you!

[2018-01-23 17:11] #2600 closed

[2018-01-24 19:15] gideonthomas commented on #2603
@cheesemanq what problem are you experiencing?

[2018-01-24 20:27] gideonthomas commented on #2599
hmm, yeah. I wonder if we can just change this to messagechannel postmessage so that the communication is over two ports (editor and preview) and no other messages will be listened to.

[2018-01-24 21:17] gideonthomas commented on #2507
Fixed with mozilla/brackets#916

[2018-01-24 21:17] #2507 closed

[2018-01-24 21:20] gideonthomas commented on #2602
@bansalnitish go for it! You'll need to modify a few things in the inline editor - for e.g. the regex, the html template, the InlineBorderRadiusEditor function to only enable a single value in this case. Let us know if you need any help in figuring this out.

[2018-01-24 21:36] gideonthomas commented on #2601
it might be a bit of work, but we can possibly do this. We can add a view to thimble under a url like `thimble.mozilla.org/<myusername>/projects/published` that queries the publish server (we'll need to add a route to it to handle this) to return the published projects for a user by their username.

[2018-01-24 21:39] gideonthomas commented on #2597
I would definitely keep media queries as they are used extensively for supporting mobile platforms, the same with pseudo elements. I'm fine with removing audio player.

I think it's fine to add a button and the anchor tag. I don't think JS alert is useful in real-world websites.

[2018-01-24 22:10] cheesemanq commented on #2603
I cannot get into my project even when I type into the search bar ?cacheType=blob

[2018-01-26 15:56] LLuLukLuke opened #2605 "Possible to embed flash games?"
I'm new to HTML and webpage design, but am familiar with programming in general. I'm wondering if it is possible to embed flash programs into mozilla thimble webpages, such as a flash game. I have tried a few methods with no luck, any way I can go about doing this?

[2018-01-26 16:00] humphd commented on #2605
You'll find that most browsers will block Flash in a web page, due to security.  Thimble will allow it, but it won't work in practice.  You'd be better off using HTML5 for gaming, which has replaced Flash.

[2018-01-26 16:00] #2605 closed

[2018-01-26 16:44] cheesemanq commented on #2603
![screen shot 2018-01-26 at 11 42 03 am](https://user-images.githubusercontent.com/35706422/35450514-454eeae8-028e-11e8-8869-0dbbf3237fed.png)

[2018-01-26 16:45] cheesemanq commented on #2603
That's the error message I get. If I reload it, it says the same thing. This happens on multiple devices. Thanks for the help!

[2018-01-26 20:36] bansalnitish opened #2606 "Extend Quick Edit for Padding"
Quick edit UI works perfect for padding but not for padding-top, padding-right etc. Quite similar to issue - thimble.mozilla.org#2602

I would like to extend this !

[2018-01-27 18:07] User486375 opened #2607 "Console error with 3rd party cookie blocking enabled on chrome stable"
I get this console error when I enable `Block third-party cookies` on the latest stable chrome 64 build, but I get no such error on the latest stable Firefox build with the same setting enabled.

![chrome_2018-01-27_17-56-48](https://user-images.githubusercontent.com/30012923/35474867-37ce5a3a-038c-11e8-85ed-0ce6748550eb.png)

[2018-01-28 02:35] gideonthomas commented on #2603
@cheesemanq sorry, you are experiencing this. Would you be able to check your cookie settings? Do you block all cookies, or thirdparty cookies, or do you allow all cookies? Also, which browser are you using?

[2018-01-28 18:29] humphd commented on #2607
There's a fix for this in review now, see https://github.com/mozilla/brackets/pull/919.  I'm going to close this, since we have it in hand.  However, I appreciate you filing it.

[2018-01-28 18:29] #2607 closed

[2018-01-29 17:29] gideonthomas commented on #2606
Assigned to you @bansalnitish!

[2018-01-29 18:14] LLuLukLuke commented on #2605
Okay, so how do I do embed it then?

[2018-01-30 15:08] trishla08 commented on #2597
@gideonthomas should I get on with adding the button and anchor in place of the audio player then?

[2018-01-31 01:03] combojs commented on #2601
That would be great. I know some sandboxes like Codepen offer this.

[2018-01-31 16:01] humphd commented on #2605
See https://stackoverflow.com/questions/7538286/how-to-embed-a-flash-object-on-my-website

[2018-02-01 21:22] c0dzilla commented on #2601
I would love to work on this! May I take up this issue?

[2018-02-02 16:20] humphd opened #2608 "Fix regression for Browser.setListener in iframe-browser.js"
From https://github.com/mozilla/brackets/pull/913#discussion_r165143030 we have a regression in Brackets where we've removed a function on `iframe-browser`, but not dealt with all callers.  We should either add it back, or remove the caller.

Thanks to @azusaaz for tracking this down.

[2018-02-02 16:55] humphd commented on #2599
I've got a fix up in https://github.com/mozilla/brackets/pull/921 @gideonthomas

[2018-02-05 16:36] Mlocik97-issues opened #2609 "ngRoute = 100% RAM and freeze in thimble"
Write this code:

https://www.w3schools.com/angular/angular_routing.asp

Thimble will freeze and after few minutes browser is using a lot of ram (8GB +)

[2018-02-05 16:59] gideonthomas commented on #2609
@Mlocik97-issues, which browser are you using?

[2018-02-05 17:11] Mlocik97-issues commented on #2609
Chrome 63 & 64

[2018-02-05 17:15] Mlocik97-issues commented on #2609
It happend also in firefox 55

[2018-02-07 20:03] gideonthomas commented on #2587
@ppatel221 would you like to / are you working on this?

[2018-02-07 21:35] gideonthomas commented on #2609
hmm, which example from that page are you using? I can't seem to reproduce this issue. Do you have any extensions installed that might do this (for e.g. anything javascript related)

[2018-02-07 21:38] #2307 closed

[2018-02-07 22:19] ArchitaDesai commented on #2587
It's been over a month since @ppatel221 has commented and there's been no update afterward. So I would wanna get started on this as my first issue :grinning:

[2018-02-10 15:32] iBobik opened #2610 "Create new project from template passed by URL parameter"
We use Thimple for a lot of non-profit courses where we provide tutorial and project template to attendees. They are instructed to remix our template and do some work there.

Maintenance of this project templates means a lot of manual work, so we are looking for a way how to autemate it. Our tutorials are currently in a GitHub repositories, so we propably need some tool what will allow remixing fi

[2018-02-10 16:46] ayush9398 commented on #2608
I would like to take this up

[2018-02-10 20:08] wintop6211 commented on #2569
@gideonthomas I'm start working on this issue.

[2018-02-12 13:52] ayush9398 commented on #2608
is this still available? @humphd @gideonthomas

[2018-02-12 15:11] ryanwarsaw commented on #2608
@ayush9398 I've assigned you to this ticket, and am working on getting you access to the contributor Slack in-case you have questions along the way (will update later today).

[2018-02-12 15:22] ayush9398 commented on #2608
oh, okay! Thanks @ryanwarsaw !!

[2018-02-12 17:24] ryanwarsaw commented on #2608
@ayush9398 You should have access to the contributor slack now (sent to email listed on your GitHub), you will need to join the MoFo contributors channel. That would be the place to go if you have any questions or need help, cheers.

[2018-02-13 18:49] ayush9398 commented on #2608
@ryanwarsaw do you mean channel contribute-code, actually I had a query, do I have to remove the caller from all the scripts in thimble and brackets as well, if there are any?
@humphd

[2018-02-13 22:00] ryanwarsaw commented on #2608
@ayush9398 Yep, that's the correct channel! I don't have an answer to your question, definitely @humphd or @gideonthomas would be able to better assist you in that area.

[2018-02-14 18:59] humphd commented on #2608
I think we should add the function back, since other sites are still calling it.  I'd have to dig into whether or not they are still necessary, but at least we shouldn't crash on them not being there.

[2018-02-14 19:02] humphd commented on #2610
@iBobik there's another bug which is similar to what you're asking for here, see https://github.com/mozilla/thimble.mozilla.org/issues/2561.

I think it's a good suggestion, and I'd like to see it happen.  @gideonthomas what are your thoughts?  I like the simplicity of supporting this via the URL, perhaps just at first, or maybe that's all we do.  It's kind of an advanced thing to do, so I'm not s

[2018-02-16 01:43] wintop6211 commented on #2569
@gideonthomas Hey! I can't reproduce the bug on my local machine, the problem only happen on online version, and it may be caused by a cache reading problem, I attached a screenshot as below that shows the problem.
<img width="538" alt="untitled" src="https://user-images.githubusercontent.com/13548714/36289762-6c7ced28-1287-11e8-9e11-04efa0bad40c.png">

As this problem can't be produced in my loca

[2018-02-16 18:57] humphd commented on #2569
Those cache misses are from the service worker, and are likely ignorable, since it will get them over the network.

[2018-02-16 20:57] wintop6211 commented on #2569
That's strange, cause I can't reproduce the issue on my local machine... I assume you guys have the newest version deployed right?

[2018-02-16 21:09] humphd commented on #2569
On staging we do, see https://bramble.mofostaging.net/en-US/ vs. thimble.mozilla.org

[2018-02-16 21:10] wintop6211 commented on #2569
@humphd Problem is still there. I'll try to poke around to see if I can figure out why it's not working on remote server.

[2018-02-16 22:55] humphd commented on #2608
Reading the code again, I'd suggest you remove this caller instead: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/PostMessageTransport.js#L114

[2018-02-16 23:35] ayush9398 commented on #2608
@humphd I have opened the [PR](https://github.com/mozilla/brackets/pull/922)

[2018-02-17 13:01] jmortizruiz opened #2611 "Preview box only displays an URL"
I'm trying to use thimble to teach 12 yo students some html. The problem is that the school computers (15 small Netbooks all alike) do not show the preview, but its url address.
I've tested some things:
I've tried to use thimble in Chromium or firefox, both in LINUX OS with the same result.
I've tried to use thimble in Google Chrome in Windows7 (computers have dual boot) same result.
I've tried in

[2018-02-17 16:37] humphd commented on #2611
This bug relates to third-party security settings in those browsers, and our Service Worker not registering properly.  We pushed a fix for this a while back, so I'm surprised to see this reported again; however, you should be able to force the preview to work by putting Thimble into a fallback mode: add `?cacheType=blob` to your URL and it should work.  Let me know.

[2018-02-17 19:38] ryanwarsaw commented on #2611
I had this issue happen to nearly half the machines when I did my Thimble session at MozFest, so this is definitely still an issue, I just don't know why.

[2018-02-17 20:29] humphd commented on #2611
The bug happens when a browser a) has support for service workers; and b) has a security/privacy setting enabled that blocks third-party scripts from accessing storage.  I wrote about it here, if you're interested http://blog.humphd.org/promise-to-catch/

We have two preview engines in Thimble: one uses service workers and cache storage, the other uses Blob URLs.  Where possible, we prefer to use

[2018-02-19 11:51] jmortizruiz commented on #2611
It works, thank you a lot. The only thing is that 12 year old kids have to write it down manually in the url, but we'll deal with it. I'm sending a picture of the screen in case it helps someone else.
![_cachetype_blob](https://user-images.githubusercontent.com/36565284/36376479-860506ba-1573-11e8-94e9-b80cc6ab08fe.jpg)

Will we have an automatic option, or a fix for this in the future?

[2018-02-20 16:24] humphd commented on #2611
@jmortizruiz we do have an automatic option that should have solved this, so it's interesting that it isn't working for you.  I do note that you're using a localized version of Thimble--maybe our fallback code is broken with localized versions?

What happens if you try the same thing with the US English version?

Thanks for reporting this and helping us figure out what's wrong.  I'd like to fix th

[2018-02-20 16:32] jmortizruiz commented on #2611
I've already tried with the default english version, and it behaved the same way. I'll check tomorrow again when I've access to the computers, just in case. Let me know if there's somethin else I can do in the computers in order for you to have more and better information.

Thank you again for your help.

[2018-02-20 16:47] wintop6211 commented on #2569
@humphd @gideonthomas Debugging on online version of thimble doesn't show any suspicious behavior, at least to me. I also compare the behavior of online version to local version, everything seems the same. I highly suspect that the problem is due to some issue in bramble's preference manager on remote server.

[2018-02-20 17:01] humphd commented on #2611
The only other thing that would be super helpful to me is to see what, if anything, is on the [browser's error console](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console).  If there are any errors, having that text here would be great.

[2018-02-21 07:02] Eqilux commented on #2603
I know I shouldn't be bumping this issue, but it's really urgent. I'm having the same issue too, and the project I'm making in thimble is for work, and I need it restored ASAP.

[2018-02-21 14:36] humphd commented on #2603
@Eqilux are you able to open your browser's console and see any errors?

[2018-02-21 16:59] jmortizruiz commented on #2611
I've tried again with the default English (US) versión, with the same result.
Is this capture helpful?
![captura de pantalla de 2018-02-21 14-58-07](https://user-images.githubusercontent.com/36565284/36493839-ce103af6-1730-11e8-9562-4662f9b227eb.png)

[2018-02-21 17:02] humphd commented on #2611
@gideonthomas can you please confirm that we have shipped that auto-fallback fix on prod?

@jmortizruiz thanks, this is helpful to see

[2018-02-21 22:06] gideonthomas commented on #2611
Yeah we've definitely shipped it to prod: https://github.com/mozilla/brackets/commits/production
I wonder if it was a cache issue

[2018-02-21 22:13] gideonthomas commented on #2569
@wintop6211 looks like you're right. I can't reproduce this locally either. @humphd any idea what could be causing this?

[2018-02-21 23:29] gideonthomas commented on #2602
Fixed with mozilla/brackets#920

[2018-02-21 23:29] #2602 closed

[2018-02-21 23:30] gideonthomas commented on #2608
Fixed with mozilla/brackets#922

[2018-02-21 23:30] #2608 closed

[2018-02-21 23:31] gideonthomas commented on #2587
@ArchitaDesai, sorry for the delays here, if you're still interested, feel free to work on this

[2018-02-22 20:36] gideonthomas commented on #2597
Hi @trishla08, sorry for the extensive delay, this sorta slipped off my radar. If you're still interested feel free to go ahead with the strategy mentioned above

[2018-02-22 20:38] gideonthomas commented on #2595
I'm not sure what's going on but it seems like brackets takes a while to load now, even locally.

[2018-02-22 20:40] gideonthomas commented on #2140
@ashish1500616, if you're still interested in this issue, feel free to take it over since we haven't had a response from the previous contributor.

[2018-02-22 20:42] gideonthomas commented on #2508
@Cryzek are you still working on / interested in this issue?

[2018-02-23 18:33] humphd commented on #2595
@gideonthomas brackets or thimble?  Brackets loads fast for me locally

[2018-02-23 19:18] gideonthomas commented on #2595
interesting...it's brackets for me. Locally it takes a while for me to load after I purge my cache. It takes a shorter amount of time on staging/prod because we are doing a fraction of the network requests but it still seems longer than it used to be.

[2018-02-24 07:32] Cryzek commented on #2508
Yes, I'm interested in this and will see to it's completion. I looked up on the InlinePaddingEditor work, and tried to use a similar approach , but it didn't work. So, I'm trying a different method. I'm sorry for the delays.

[2018-02-24 17:12] gideonthomas commented on #2508
No worries at all. Let us know if you need any help. The quick edit for margin or padding: https://github.com/mozilla/brackets/pull/918 should be similar to what you're going to implement, except it won't have corners nor will it have an all corners option.

[2018-02-26 05:36] mrcottington commented on #2595
Hey all,

Figured I would update since this post came back up.

Just wanted to flag that this is definitely still happening for my students on their Chromebook, and has actually started happening for me on my Macbook as well - we have to add ?cacheType=blob on 99% of projects that we start on Thimble.

[2018-02-26 16:55] humphd commented on #2595
This is concerning.  @mrcottington I can't remember, are you able to look at your browser's web console to see what it says?  If you could, and could copy/paste or screenshot it to include here, that would help.

[2018-02-28 10:04] lkclkc2003 commented on #2590
@humphd Yes. When I am trying to add <frame> or <iframe> it just shows nothing. Thx

[2018-02-28 15:12] humphd commented on #2590
Works for me, see https://thimble.mozilla.org/en-US/projects/425533/remix

You need to give me more specifics.  I believe you when you say it doesn't work for you, but in order to debug this, I need info (e.g., browser, HTML you are using, OS, etc).

[2018-02-28 23:23] himanshupnt commented on #1614
Hey @flukeout , did you have a chance to review my contribution?

[2018-02-28 23:23] humphd commented on #1614
@gideonthomas do you have rights to the repo that these are in?

[2018-02-28 23:24] ryanwarsaw commented on #1614
@himanshupnt Hey 👋, unfortunately Luke doesn't work at Mozilla anymore so we need someone else to review this PR, I'm not sure who would be responsible for that but I'll find out and get back to you. Cheers!

[2018-02-28 23:53] himanshupnt commented on #1614
@ryanwarsaw Hey.. Thanks so much, appreciate it! 💯

[2018-03-01 00:00] himanshupnt commented on #2560
@teddypee are you working on this? If not, @gideonthomas can this be assigned to me? Thanks

[2018-03-01 16:43] humphd commented on #2560
@himanshupnt he started a PR in https://github.com/mozilla/brackets/pull/919 but I don't think he's working on it, no.

[2018-03-01 18:28] himanshupnt commented on #2560
@humphd can I work on it then? Shall I be creating a new PR to submit my work (if I get assigned this issue.)? Thanks so much!

[2018-03-02 04:13] ankit2670 opened #2612 "Implementation of feature of publishing directly to private or public ftp in thimble"
Thimble is a great IDE and does its job well. But if there will be an option to publish the project files directly to an FTP server owned by the user then the professional web designers would also start using thimble. I personally use thimble for any kind of web designing. But publishing the project files to the FTP server myself takes more time and is a very tedious job. Before publishing the pro

[2018-03-02 04:53] ryanwarsaw commented on #2612
Thimble was originally designed as a teaching tool, mainly geared towards educators or people who want to learn basic web development skills, so I think this may deviate from that overall objective. I think it's super cool that some people are using it as a go-to tool for any sort of professional development, and I certainly don't want to discourage those who choose to do so.

From an engineering

[2018-03-04 10:35] sagarkbhatt opened #2613 "Editor should provide basic shortcuts"
From UX point of view editor shortcuts are very important. It will allow us to write code without using mouse or trackpad.

We can first add few shortcuts like below.

1. Snippet shortcut (Example: cmd + space will open snippet menu and a user can search snippet from a list and select it  ).
2. Full-screen editor.
3. Full-screen preview.
4. Setting shortcuts.

Share your thoughts.

[2018-03-06 15:53] humphd commented on #2613
I think 1. is doable.  We have (or had) bugs on 2. and 3. and haven't moved forward on them for a variety of reasons.  4. I don't think we want to do.

I'll morph this bug into 1.

[2018-03-06 15:57] sagarkbhatt commented on #2613
@humphd
I am interested to contribute in this project. I can start with this ticket in my free time. Can you assign it to me?

[2018-03-06 16:01] humphd commented on #2612
From a technical point of view, this is doable.  Probably the best way would be to begin by getting something working with [Brackets](https://github.com/mozilla/brackets) on its own vs. Thimble.

However, it's not a feature we want to support in Thimble.  We already do AWS S3 based publishing, and adding private server support isn't in our roadmap.  I'm going to close this, not because it's a bad

[2018-03-06 16:01] #2612 closed

[2018-03-06 16:04] humphd commented on #2613
The code for this lives in Thimble here: https://github.com/mozilla/thimble.mozilla.org/blob/e76a91ed185ea00848428ea7f5b12afedd438e40/public/editor/scripts/ui/menus.js#L8  We'd need a way to register a keyboard shortcut in Thimble, which we don't currently do, since 99% of keybaord shortcuts are handled in Brackets.

@gideonthomas any preference about how this is done?

[2018-03-06 16:06] humphd commented on #2609
Closing due to lack of info.  If this problem happens again, please re-file.

[2018-03-06 16:06] #2609 closed

[2018-03-06 16:06] humphd commented on #2603
Closing due to lack of info.  If this persists, please re-open.

[2018-03-06 16:06] #2603 closed

[2018-03-06 16:07] humphd commented on #2599
@gideonthomas has this landed on prod?  If so, let's close.

[2018-03-06 16:25] sagarkbhatt commented on #2613
@Hamabama  Open existing menu can be done with by adding an event listener on a view-pane container( hotkey detection ( what will be the hotkeys ?) ). But what should be its position, should it inline to cursor position and existing menu will not have search functionality.

[2018-03-06 20:01] #2599 closed

[2018-03-06 20:06] gideonthomas commented on #2613
I'd say let's just add the shortcuts to Brackets the same way that it's already done for other key bindings.

[2018-03-07 00:42] himanshupnt commented on #2560
@gideonthomas can I work on this issue as it seems there is no progress? thanks!

[2018-03-07 10:35] #1598 closed

[2018-03-07 13:23] samnixon87 opened #2614 "Geolocation issue caused by permissions on cross-origin iframes"
Chrome recently (Jan 2018) updated to deprecate support for geolocation on cross origin iframes. In the editor that means geolocation doesn't work.

A small code change will fix. I.e.`<iframe src="https://example.com" allow="geolocation; microphone; camera"></iframe>`

https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes

[2018-03-07 15:12] humphd commented on #2614
@samnixon87 excellent, thank you for filing this.  We should fix this.

@gideonthomas I wonder if we'll need to do: `allow="geolocation *; microphone *; camera *"` on the bramble iframe in order for third-party scripts to get those permissions, too.  What do you think?

[2018-03-07 18:18] gideonthomas commented on #2560
@himanshupnt yeah go for it, I've mentioned the fix above.

[2018-03-07 18:36] gideonthomas commented on #2614
I assume a dialog pops up requesting the user to grant access to those resources (geolocation, mic, etc.)? When does that happen? As soon as the iframe is created or when one of those features is actually used in the content of the iframe? If it's the former, it would be a crappy experience to always see that dialog even if you aren't going to request any of those resources in the iframe.

[2018-03-07 19:07] ichibangaijin opened #2615 "Images not uploading into Thimble."
Issue suddenly appeared yesterday.  Unable to drag-n-drop image files or upload image files.

[2018-03-07 19:10] jmortizruiz opened #2616 "unable to upload images."
Hello,

I'm trying to upload a small image (25kB png format) and I'm having a lot of problems to do so. I've tried in different computers with different operating systems and different wifi networks. Is there any trouble right now with the servers?. Is it just me?

thanks

[2018-03-07 19:36] gideonthomas commented on #2615
Hi @ichibangaijin sorry that you're encountering this issue. Looks like we are currently having problems with image uploads. We hope to resolve this within the next hour.

[2018-03-07 19:36] gideonthomas commented on #2616
Hi @ichibangaijin sorry that you're encountering this issue. Looks like we are currently having problems with image uploads. We hope to resolve this within the next hour.

[2018-03-07 19:57] jmortizruiz commented on #2616
I just saw another issue report as soon as I sent mine so I figured that out.
Thanks for your promt answer.

[2018-03-08 05:34] gideonthomas commented on #2616
No  worries! Let us know if you're still having any issues

[2018-03-08 05:34] #2616 closed

[2018-03-08 05:34] gideonthomas commented on #2615
This should be working now, let us know if you're still having issues with it.

[2018-03-08 05:34] #2615 closed

[2018-03-09 22:36] htmlgames opened #2617 "Uploading a img 1280 x 720 results in it being down scaled to 50%"
image is < 3Mb , however which ever format I try, after uploading it's smaller in dimensions , like it's been through some resizing process.

Is this normal behavior?

EDIT: looks like you get around this by linking to an image instead. Also from someone's blog they reckon you can only have a background image < 250k

[2018-03-10 15:37] candu opened #2618 "Cache-Control violates CORS headers with some third-party APIs"
I'm using Mozilla Thimble together with the [Particle API](https://docs.particle.io/reference/api/), and am seeing this error in the console:

[code]

I'd suspect that there are other third-party APIs where this header violates CORS policies.

[2018-03-12 17:47] gideonthomas commented on #2617
@htmlgames yes, we resize the image if you're uploading it into Thimble. To preserve the image size, we recommend using a storage service (like Amazon S3 or Dropbox) and linking to it instead. We intend to work on notifying a user via the interface when this happens so that it isn't unexpected.

[2018-03-12 17:47] #2617 closed

[2018-03-12 17:48] gideonthomas commented on #2618
@candu sorry you're running into this. Which browser (name and version) are you seeing this error on?

[2018-03-13 16:42] candu commented on #2618
I'm seeing this error on latest Chrome (64.0.3282.186), but not on latest Firefox (59.0).  Haven't tested in any other browsers.

[2018-03-13 19:04] gideonthomas commented on #2618
Hmm @humphd any idea what's going on here? Sounds like parent iframe CORS is being enforced on the child frame. I'm pretty sure we don't set CORS headers on the brackets domain and even if we do, the preview is independent from it (would the Service Worker be adding these headers?)

[2018-03-13 19:24] humphd commented on #2618
@gideonthomas I looked and we're not touching headers in the service worker, which doesn't mean something isn't being added implicitly, see https://github.com/mozilla/brackets/blob/master/src/bramble-live-dev-cache-sw.js

See also https://github.com/particle-iot/particle-api-js/issues/9

I know very little about the right answer here, beyond what I read in https://developer.mozilla.org/en-US/docs/

[2018-03-13 19:31] humphd commented on #2617
You can see what we're doing here: https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/ImageResizer.js

If you absolutely needed to hack around this, you could do the following:

* rename your file to `image.bin`
* upload `image.bin`
* rename `image.bin` to `image.png`

That should get around the resize logic.  We had to add this because people were adding massive images

[2018-03-13 19:40] htmlgames commented on #2617
:) Nice hack!

[2018-03-14 03:38] dclems93 opened #2619 "Suggested revision: Default project does not include comments on additional sources."
I was reviewing the code and noticed that the default project when you first create a a new project does not have comments leading users to more resources for the given files (CSS and HTML). If you add a new file from the file tray, there is a header explaining what the type/language is being used and where you can learn more. I think it would be a good idea to have this same information at the to

[2018-03-14 17:29] SteveDoesStuff commented on #2611
Seeing the same thing today (also teaching kids) and the URL parameter is fixing it for us. While we haven't used Thimble on these laptops for at least a few months, since it's only showing up on some I think @gideonthomas may be right that it's cached an older version. Will try clearing cache on the laptops that are having issues at the end of our day to see if that solves it.

Thanks for the wor

[2018-03-16 12:08] mklilley commented on #2614
Hi @gideonthomas ,

I just tried creating an iframe with `allow="geolocation *; microphone *; camera *"` and I didn't get any popups. Only when I called e.g. `navigator.geolocation.watchPosition` did a popup appear asking for permission. This suggests the user experience won't be impacted by adding `allow="geolocation *; microphone *; camera *"`  to the iframe in Thimble.

Would be great if these

[2018-03-16 14:47] humphd commented on #2614
We have a few `iframe`s in Thimble + Brackets:

* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/iframe-browser.js#L49 is where the preview window gets made (this might be where we need the `allow` attribute)
* https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L480 is where we create the iframe that the editor + preview live (it runs on

[2018-03-18 13:56] yanivtitou2008 opened #2620 "Yaniv"
<h1></h1>

[2018-03-18 15:31] #2620 closed

[2018-03-21 08:03] busterbeam opened #2621 "@keyframes css"
@keyframes is not working, when you try to add an identifier it does not work at all!

[2018-03-21 14:51] humphd commented on #2621
@busterbeam could you throw an example of what you're doing in here?

[2018-03-24 21:09] StevenZhang123 commented on #2216
I would like to this one.

[2018-03-24 23:18] StevenZhang123 commented on #2216
Can I get the new image?

[2018-03-25 00:19] #2619 closed

[2018-03-27 19:31] combojs commented on #2601
Has anyone looked at this feature request. Is it possible to do in Thimble?

[2018-03-28 00:09] #2468 closed

[2018-03-28 04:09] himanshupnt commented on #1614
@ryanwarsaw Hi.. Did you have a chance to find out if someone can review this PR (there is no PR btw, direct links to what is done in the thimble editor) -
ES5 port - https://thimbleprojects.org/himanshupant/312531
ES6 port - https://thimbleprojects.org/himanshupant/318238/

Also, could you tell, how can I get this issue assigned to me?

Thank you so much! 👍

[2018-03-28 04:29] ryanwarsaw commented on #1614
@himanshupnt Hey there, my apologies for not getting back to you. I asked around and nobody at Mozilla is currently assigned to the project, so Thimble is essentially in limbo for now. No Pull Requests have been merged since the beginning of the year, and even my own PR that I wrote last summer has yet to be reviewed, so just know the feeling is mutual.

Also RE: assigning issues, I can only assig

[2018-03-28 10:25] jgmac1106 commented on #1614
Maybe somebody needs to change readme.md to reflect that support for the
project is on hiatus.

On Wed, Mar 28, 2018, 12:30 AM Ryan Warsaw <notifications@github.com> wrote:

[2018-03-28 12:47] byWilliam commented on #2597
Hey @trishla08 & @gideonthomas, would you guys mind if I give this a go?

[2018-03-30 19:10] helalcoxsbazar opened #2623 "CYBERNEWS"
@[http://www.cybernews.com/googlec12c1c977e38b68d.html]([thimble-project.zip](https://github.com/mozilla/thimble.mozilla.org/files/1864538/thimble-project.zip))

[2018-03-30 19:24] #2623 closed

[2018-04-02 08:57] jinxac commented on #2597
I would like to do this. Can you please tell how can i contribute?

[2018-04-02 08:58] jinxac commented on #2587
I would like to do this. Can you please tell how can i contribute?

[2018-04-03 11:09] mklilley commented on #2614
Hi @humphd,

I got brackets running locally but there was no cross origin error because all files are being served locally from the same domain.

This is in contrast to full thimble which serves the editor from `https://thimble.mozilla.org/en-GB/anonymous/.....` but the iframe source is `https://mozillathimblelivepreview.net/bramble/production/dist/vfs/.anonymous/projects/....`

I'm not sure what

[2018-04-03 14:35] humphd commented on #2614
You should be on two different origins with Thimble vs. Brackets, even locally, since you have to run on different ports.  Each separate port will define a different origin.

[2018-04-06 12:34] Blissmode commented on #2597
I would like to work on this. Please assign me this.

[2018-04-09 14:47] gideonthomas commented on #2597
Hi @Blissmode and @jinxac, unfortunately this issue is no longer in scope for a bug that a contributor can work on and I have hence removed the relevant flags indicating that. Sorry about the confusion. Feel free to contribute to other issues in this repository that are labelled "brackets" (and "good first bug") as they are more likely to be contributor-friendly.

If not, two other projects you ma

[2018-04-11 16:30] negativefix commented on #1877
I am writing a small module using thimble and having an hard time tracking blocks of code without folding. Dotted indent guides do not much. Do you have any plans of providing some sort of settings to toggle this feature via settings? Thanks.

[2018-04-11 17:41] jgmac1106 commented on #1877
We all miss our collapsing code chevron.

On Wed, Apr 11, 2018, 12:30 PM Alper Buluc <notifications@github.com> wrote:

[2018-04-13 09:58] donstevewrites opened #2625 "kindly add emmet support"

[2018-04-16 10:18] paiboonpa opened #2626 "[Bracket Module] I cannot run Bramble in Production."
If I run "npm start" and access "src/hosted", It's working fine. If I run "npm run production", when I access index.html or hosted.html in dist directory, result of the page would be something like this:

"��X[S�H~�W�855@Y�d'�:�0A;Ʀl3O[����Z�nީ������[2UL%O[k.���K�>�ޫXEfQJL�����^9�ѹ*��'���:9:>!��Rh��b �,��&?�TY�20"�d7j���#�G��e&��*'�)�4/��4+� 5�(	ʹh�Q�*D��A�&����)w��$�j

[2018-04-16 10:20] paiboonpa opened #2627 "[Bracket Module] What's the license of Bramble?"
If I look at this repository of thimble, it said MPL. If I look at https://github.com/mozilla/brackets, it's MIT. However, while I using Bramble, there's a lot of Thimble word showing around in the source code. What's the license of Bramble if I use only Bramble not Thimble? Is it MIT or not?

[2018-04-16 15:57] gideonthomas commented on #2627
Thimble is an independent module that makes use of Bramble and therefore has its own license (MPL). This does not apply to any modules that Thimble depends on.
Bramble on its own is under the MIT license.

[2018-04-16 15:57] #2627 closed

[2018-04-17 19:09] Scrappy-Dev opened #2628 "thimble -> Electron.js?"
I am a beginner programmer with some knowledge on what things can do. It would be very great if thimble was also an application. I would do this myself but like I said, I am new to things like this. So maybe somebody could fork this project and edit scripts to go with ElectronJS. Its just an idea though.

If you don't know ElectronJS is a framework using the Chromium framework that allows you to c

[2018-04-19 19:11] Pomax commented on #2628
Hi, thanks for the suggestion! Unfortunately, Thimble's strength lies in not having to leave the browser at all, so converting it into an electron app would negate that benefit.

If someone wants to try to wrap up Thimble as an electron app (the server component would make that rather hard, though) then they should totally try to see if they can make that happen, but this is not a goal for Thimble

[2018-04-19 19:11] #2628 closed

[2018-04-19 19:18] humphd commented on #2628
@Scrappy-Dev I've thought about putting the editor (Brackets) in Electron before, yes.  It's an interesting idea, and would work.  But I think @Pomax is right about having Thimble in Electron being not so easy, since it relies on server code.

If you want to try it, an easy way to begin would be to use https://github.com/jiahaog/nativefier with https://mozillathimblelivepreview.net/bramble/product

[2018-04-24 17:52] branhost opened #2629 "Canvas element"
I was using a library called [p5.js](https://p5js.org/) which uses the canvas. There was no errors when using it put the canvas element doesn't show up.

[2018-04-30 10:10] Pomax commented on #2629
If you open your browser's developer console, are there any errors relating to the canvas that you can see?

[2018-04-30 10:50] maxhebditch commented on #1728
I'm finding that it only happens on highlighted text, and will stay open if no text is highlighted
![bug](https://user-images.githubusercontent.com/4867412/39424001-8cfe4de8-4c6c-11e8-822c-241b18a258b6.gif)

[2018-05-03 14:30] iammosespaulr opened #2630 "Unable to use yarn to set up thimble locally in linux ubuntu-18"
The Error For ```yarn install```
[code]

[2018-05-03 17:12] humphd commented on #2630
Looks like @gideonthomas and @cadecairos did this in https://github.com/mozilla/thimble.mozilla.org/pull/2422.  Probably for Heroku deployment we have to specify a node version, but pegging to 6.11.1 seems wrong at this point.

Gideon, Chris, can you weigh in?

[2018-05-03 22:04] cadecairos commented on #2630
Yeah, it's probably time to get on Node 8.

This error, however, seems to indicate that a version of Node less than that specifed in package.json is installed.  @iammosespaulr can you check what version is installed? (`node --version`)

[2018-05-04 13:03] iammosespaulr commented on #2630
I'm using the latest version of node ... node 9

[2018-05-04 13:38] cadecairos commented on #2630
@iammosespaulr Does it install with npm, or is it just a yarn issue?

[2018-05-05 12:12] iammosespaulr commented on #2630
@cadecairos its just a yarn issue ... npm works fine but #weloveyarn :smiley:

[2018-05-08 17:00] gideonthomas commented on #2630
I will confirm timelines/resourcing before we pursue an upgrade to node 8 since node 8 has some pesky breaking changes.

[2018-05-11 14:15] evolic opened #2631 "Add Polish 'pl' translation"
The goal is to add Polish language to Thimble.

[2018-05-14 17:32] #2614 closed

[2018-05-16 08:48] jmortizruiz commented on #2611
I must say that I've realized today that this problem has been solved, and now it works perfect. Sorry for I don't know when it has actually started working ok ( I believe at least a week ago ).

Anyway, I just wanted to thak you guys for your time, patiente and good work.

[2018-05-16 14:46] humphd commented on #2611
@jmortizruiz glad it's working for you.  This particular bug is highly dependent on local conditions (cache, security settings, state of the service worker) and it's annoying to pinpoint.  Thanks for filing it, and helping us work through it with you.

[2018-05-16 14:46] #2611 closed

[2018-05-17 23:52] minatoyuuki opened #2633 "What a shitty compilator"
i was coding for a fucking hour and that sheeeet doesn't shows me were's the fucking error what the fuck is an Uncaught SyntaxError: Unexpected token {
SyntaxError: Unexpected token { i have 2 fucking {} and they are well
fuck u creator of this shit of compiler go learn some c
i h8 u motherfucker i will anex a spanish verssion too if u want to read this asshole
la concha de tu madre al forro que c

[2018-05-18 05:08] #2633 closed

[2018-05-26 07:20] locness3 opened #2634 "Preview don't work on Raspberry pi"
I'm using a Raspberry Pi as a "computer", but I can't use Thimble with it.
The preview just shows a URL everytime when I use Chromium.
Here's a screenshot :
![screenshot](https://user-images.githubusercontent.com/37651007/40573737-df3f82a8-60c5-11e8-8741-83706c2521a0.png)

[2018-05-27 14:35] paiboonpa opened #2635 "[Brackets module] Is there a way to add image into the project?"
I tried both bramble.addNewFile() and fs.writefile but cannot do it. I tried both in binary format and ArrayBuffer via FileReader API but failed. Is there a way other than let user upload by themself? Can I prepare the file for them before the project start?

[2018-05-28 13:33] KancerEzeroglu commented on #2479
Hi @flukeout, if anyone else did not work on this issue I want to take it?

[2018-06-06 08:45] AutomatedTester opened #2636 "Update dependencies"
A number of dependencies need to be updated as they have security issues

Dependency sequelize | Version < 2.0.0-rc8 | Upgrade to ~> 2.0.0-rc8

Dependency moment | Version < 2.11.2 | Upgrade to ~> 2.11.2

Dependency nokogiri | Version < 1.8.1 | Upgrade to ~> 1.8.1

Dependency hoek | Version >= 5.0.0  < 5.0.3 | Upgrade to ~> 5.0.3

[2018-06-07 11:20] jwusteman commented on #2587
Hi there - I am really anxious that this issue is sorted before my students start working on Thimble in September. It completely confuses them! How is it going? Thank you

[2018-06-08 07:29] SRugina opened #2637 "Quick edit CSS margin or padding crashes"
Hi all,

So when using the ctrl+e quick edit for css in my index.html and type in "margin: " or "padding: " before I can add a value the web page crashes. This has so far only been tested with chrome version 66.

Anyone else experiencing this issue?

[2018-06-08 22:04] Niki24 commented on #2587
I have a group of students using Thimble as well. I was wondering if there was a solution other than moving the file outside of the folder. With my students being beginners, this was a frustrating find. I have my students download their projects so the base url wouldn't work in our case. This is an awesome web app. Let me know how I can help.

[2018-06-09 11:30] Matthew-Mace commented on #2637
I am too experiencing this problem. I have successfully recreated this problem in Firefox Developer Edition and Chrome 67 as well as 66, just FYI.

[2018-06-11 15:53] Pomax commented on #2637
What type of crash? Does it literally crash the browser (ending the process and the program disappears), does it crash the tab (switching the UI to a "this tab has crashed" report) or does it do something else (if so, are there errors in the developer tools console when this happens? If there are, could you paste those as code?)

[2018-06-11 19:01] SRugina commented on #2637
In firefox I get "a web page is slowing down your browser" which leads to the this tab has crashed equivelant in firefox if I click stop it. I've noticed it doesn't happen all the time, just when I type "margin:" and the suggestions "auto" and "inherit" show up, that's when the tab crashes. If those suggestions don't pop up, I can type margin just fine. same with padding, although the suggestions

[2018-06-12 18:51] Pomax commented on #2637
Thanks. That's definitely super wrong.

[2018-06-12 21:07] ryanwarsaw commented on #2625
I haven't heard of `emmet` before, so I looked into it and while it seems really awesome, it seems more geared towards I'll call them "power users". I'm not sure if this is something a lot of our audience would use, since Thimble is mainly intended to be a teaching tool and not a full fledged code editor.

I'm going to close this for now, but if you have any other thoughts definitely let me know,

[2018-06-12 21:07] #2625 closed

[2018-06-12 21:09] ryanwarsaw commented on #2626
I really don't have enough information to be able to give you an informed answer, it sounds more like an issue with your encoding than with brackets, so I'm going to close this but if you have any more questions or this continues to happen, feel free to reach out again (please give us as much information as possible!). 😅

[2018-06-12 21:09] #2626 closed

[2018-06-12 21:14] ryanwarsaw commented on #2629
Closing this due to lack of information, and no recent response from the issue filer, however if this continues to happen to you feel free to reach out again, and please remember to provide as much information as possible, so we better assist you 😄

I tested the `canvas` element out, I wasn't able to identify any problems, it could be something related to `p5.js` library, +1 to @Pomax's point a si

[2018-06-12 21:14] #2629 closed

[2018-06-12 21:20] ryanwarsaw commented on #2631
We can't add translations directly, you need to use Mozilla's tool for translating called `Pontoon` it's a pretty awesome tool, you can check it out here: https://pontoon.mozilla.org/

If the language you want to translate doesn't exist yet, then @TheoChevalier I believe is able to add it, and let me know if you have any other questions 🕺

[2018-06-12 21:20] #2631 closed

[2018-06-12 21:22] ryanwarsaw commented on #2634
I don't know if this is related to some other bugs, but I can confirm this happens quite regularly on the Raspberry Pi's, I ran a session of about 25 people and roughly 66% experienced exactly what is demonstrated in this screenshot, when attempting to load a shared project.

[2018-06-13 14:56] humphd commented on #2634
We've dealt with this a hundred times, and the issue is always related to security/privacy settings on the client browser that we can't control.  I wrote about it here: https://blog.humphd.org/promise-to-catch/

You can force it to *not* use the service worker cache by adding `?cacheType=blob` to your URL.

[2018-06-14 17:14] Pomax commented on #2635
You should be able to get a handle into the filesystem by using `var fs = Bramble.getFileSystem();` after which you're basically working with Filer, which is documented over on https://github.com/filerjs/filer

In this case you'd call `fs.open(...)` to open a file handle, then write data into it, and then close it.

[2018-06-14 17:15] humphd commented on #2635
Are you writing this code *inside* of Bramble (in the editor) or in the window hosting it?

[2018-06-14 17:16] Pomax commented on #2636
node 6 is still LTS, and will stay LTS until April 2019, so there isn't a need to upgrade that until much later this year, if not early next year.

[2018-06-14 17:44] ryanwarsaw commented on #2636
It might be worth upgrading if issues like #2630 continue to pile up

[2018-06-14 18:36] Pomax commented on #2630
Why are we specifying the minor version? We should be able to just say `6` and it'll pull the latest version, which given that it's a current LTS should be fine no matter what happens in the minor and patch numbers

[2018-06-14 18:37] Pomax commented on #2636
Not sure I understand; that's a bug in how yarn deals with the node versioning in package.json, not anything to do with the actual version of node we say is required.

[2018-06-14 19:29] ryanwarsaw commented on #2636
To be honest with you, it wasn't a ticket that I reviewed in detail, I glossed over it and saw cade's comment about updating to Node 8 soon, didn't think any further than that. I think we've established that upgrading node isn't urgent, if we can somehow fix that bug without doing so I think that's fine.

[2018-06-15 14:13] Pomax commented on #2636
bringing it back to the original issue, if dependencies got security fixes then that's worth updating them over. If not, just updating them because the version number is starting to run behind is definitely not critical, so I'd recommend removing that label, and reviewing which dependencies _need_ updating because they have known security issues instead.

[2018-06-17 10:21] keesee opened #2640 "Code mirror and other deps missing [Brackets]?"
Running build isn't bringing in Deps including codemirror and less.   Is there an up-to-date install guide?   Following the one provided here doesn't seem to be working :  https://github.com/mozilla/thimble.mozilla.org/wiki/Setting-Up-Thimble-without-Virtualization

A --recursive clone brings in most deps, but not all.
Experimented and manually cloned less and codemirror then ran individual npm in

[2018-06-22 13:51] mprogers commented on #2595
I have the same problem as rosbo4703 -- projects won't load in Safari or Firefox. They get created, I just get can't to them 😢

[2018-07-12 02:18] FERMAT1991 opened #2641 "limit transfer rate"
wrong GitHub repository fun fact has anyone has the same problem in the past.
I cant even delete it.

[2018-07-18 14:57] CrocodileCroco opened #2643 "Error 500 when creating project and another problem"
Hello, i have a problem, when i create a project, it makes a error 500 and it disconnects me
Another problem, the examples project does not show anymore
Fix this mozilla, i have reported this problem multiple times with no response

[2018-07-18 18:56] Saul-BT opened #2644 "Problems updating project"
![image](https://user-images.githubusercontent.com/25767185/42901596-485153f4-8acc-11e8-8593-e754ba05c5c7.png)

As you can see, the button that says "Update the public version" did not disappear, but I clicked it several times.
The public version of my project is not updated.

I love so much Thimble, I hope you fix it soon.
Thanks :)

[2018-07-18 19:03] Saul-BT commented on #2644
Well... finally the public version of my project updated.
But, look at this issue, probably generates some problems.

[2018-07-19 21:39] ichibangaijin opened #2645 "Thimble is offline- please update status (is it a DDOS attack?)"
We have hundreds of students that rely on Thimble daily.
Please someone comment on the status of the server.

[2018-07-20 07:19] Gloorf commented on #2645
Bump, it's still unavailable right now !

[2018-07-20 07:32] ryanwarsaw commented on #2645
We're currently suffering some intermediate downtime due to essentially what was a DDoS attack, the Dev Ops team identified the attack vector and are working hard to implement the necessary changes to prevent future issues and bring the service back online. There is currently no ETA, rest assured we hope to get the service back online as soon as possible.

[2018-07-20 09:21] Zax337 commented on #2645
Do you have any status update? Today is demo-day at our codecamps and the kids are going to be super disappointed if they can't demo the super great websites they made thanks to Thimble. So just so we can manage their expectations.
Good luck with that issue in any case and thanks for the hard work.

[2018-07-20 10:10] Gloorf commented on #2645
Thanks for the quick answer and this excellent software :) Good luck with the fix !

[2018-07-20 16:34] gideonthomas commented on #2645
We're working on fixing this ASAP. Published projects are still up. Feel free to email us at thimble@mozillafoundation.org with a list of usernames and project names and we can provide you with the links to the published projects.

[2018-07-21 08:55] vipulbhj commented on #2574
Is this still an Issue ??

[2018-07-21 20:29] #2641 closed

[2018-07-24 14:39] saumya1906 commented on #1946
@humphd, can I work on this issue? I am new to this project and would love to work on this issue.

[2018-07-30 00:35] delicadiesel opened #2646 "Add another Hotkey about Copy"
Generally,
The Hotkey of Copy is Ctrl+C、**Ctrl+Insert**.
The Hotkey of Paste is Ctrl+V、Shift+Insert.
But, **Ctrl+Insert** is unuseful on Thimble.
I suggest that you can add the Ctrl+Insert Hotkey on Thimble.
Thank you.

[2018-07-30 14:43] #2634 closed

[2018-08-01 17:57] mohitepm1998 opened #2647 "Don't have option to clone the project."
Add option to create dublicate project.
If I need to create the clone of any project then I required to copy all the files from old

![openedwithimage](https://user-images.githubusercontent.com/32018912/43539416-75e8b200-95e2-11e8-9d89-f307c561c9cc.png)

[2018-08-01 19:05] ryanwarsaw commented on #2647
@mohitepm1998 that's pretty much what the remix feature does, unless I'm mistaken. Try that out, and let me know what you think / if you have any other questions.

[2018-08-02 03:05] mohitepm1998 commented on #2647
but we required to publish the project first.

[2018-08-02 04:14] Pomax commented on #2647
you can download the project as a .zip file, which you can unpack, and then you can create a new project and drag all the files back into the file tree

[2018-08-02 05:00] mohitepm1998 commented on #2647
If my file contains 2GB  videos then it takes double time to download and again upload the file.

[2018-08-02 06:11] ryanwarsaw commented on #2647
You can either `Publish -> Remix -> Unpublish` to copy without downloading, or as @Pomax suggested you can download your project files, then upload them again to create a duplicate project. Those are currently the only two methods of doing this.

Those two methods seem to suit most of our users needs, it would be neat to have a feature like this, but I'm afraid it's not warranted for the resources

[2018-08-02 06:11] #2647 closed

[2018-08-02 17:18] Pomax commented on #2647
You really shouldn't be using Thimble with large files, though. If your project has 2GB of videos, upload those to a video service and link to them from your html files. Putting 2GB in Thimble is basically abusing it as a file host instead of a simple website builder.

[2018-08-02 17:59] mohitepm1998 opened #2648 "scroll-behavior property does available for auto suggestions in css."
scroll-behavior:auto;
scroll-behavior: smooth;
scroll-behavior: inherit;
scroll-behavior: initial;
scroll-behavior: unset;

![annotation 3](https://user-images.githubusercontent.com/32018912/43602054-7861b41c-96ac-11e8-88f2-861df60e5216.png)

[2018-08-03 13:47] angelab1030 opened #2649 "I can't log in..."
I was resetting my password but it wasn't responding so I PRESS a couple more times. But then I couldn't log in, it bought me to the error page. I try to rest my password a couple more times, but this time pressing only once... Still bought me to the error page... Can't log in now.

[2018-08-03 14:57] Pomax commented on #2648
This is not an adopted CSS property yet. It only has support from two browsers at the moment, and the specification for it has not moved past draft status yet.

See https://caniuse.com/#search=scroll-behavior

[2018-08-03 14:57] #2648 closed

[2018-08-03 19:57] twisted-sres commented on #2587
Can I work on this as my first issue?

[2018-08-03 20:04] twisted-sres commented on #2560
Can I work on this as my first issue?

[2018-08-09 22:18] rocketbear27 opened #2650 "Unable to load project gallery, only loads white <div> w/ class of "activity""
When [thimble.mozilla.org](https://thimble.mozilla.org) is loaded on Chrome 68.0.3440.106, Firefox Quantum 60.02 and running on Windows 10 OS, instead of the project gallery, the Thimble page loads white div w/ class of "activity". And displays the following message, "Unable to load project gallery! Let us know!". It has been happening every time I have opened Thimble.

_Note: Thimble's gallery is

[2018-08-10 01:42] #2650 closed

[2018-08-19 13:28] shiri1248 commented on #2606
I would like to work on this if available. Please  let me know

[2018-08-19 13:40] shiri1248 commented on #2594
Can I take this issue  for contribution ?

[2018-08-21 12:45] jwusteman commented on #2587
Hi there - Many thanks for taking this on! I am now even more anxious that this issue is sorted before my students start working on Thimble in September. It completely confuses them! How is it going?

[2018-08-22 22:42] #2644 closed

[2018-08-24 14:52] lnicely opened #2655 "Unable to create account"
I am unable to create an account on thimble. I can enter my email and username/password, but the page doesn't do anything once I click the Sign Up button. I have tried this in multiple browsers to ensure it wasn't a script issue.

[2018-08-28 21:22] gideonthomas opened #2656 "Export CTA dialog on homepage"
**Behind feature flag - GLITCH_EXPORT_ENABLED**

Layout: https://projects.invisionapp.com/share/6YN7CXIKHQN#/screens/312632667_Homepage_Colour_Option_2
Comp reference: https://drive.google.com/file/d/1LRqVEFARgJ3o7J7RNm6sVlYplB4_jLnx/view?usp=sharing

A dialog should show up only for authenticated users when they land on the homepage that shows the CTA for migrating their projects. It should show

[2018-08-28 21:26] gideonthomas opened #2657 "Export Banner on homepage"
**Behind feature flag - GLITCH_EXPORT_ENABLED**

Layout: https://projects.invisionapp.com/share/6YN7CXIKHQN#/screens/312632664_Homepage_Post_Closing_Pop-Up_2
Comp reference: https://drive.google.com/file/d/1LRqVEFARgJ3o7J7RNm6sVlYplB4_jLnx/view?usp=sharing

When the dialog (https://github.com/mozilla/thimble.mozilla.org/issues/2656) is closed, a persistent banner should show up on top of the homep

[2018-08-28 21:31] gideonthomas opened #2658 "Export CTA banner on project list page"
**Behind feature flag - GLITCH_EXPORT_ENABLED**

Layout: https://projects.invisionapp.com/share/6YN7CXIKHQN#/screens/312632662_Project_List_Copy
Comp reference: https://drive.google.com/file/d/1LRqVEFARgJ3o7J7RNm6sVlYplB4_jLnx/view?usp=sharing

A persistent banner should show up on top of the projects list page.

Notes:
1. The date/month/year string in the text should be an environment variable (G

[2018-08-28 21:40] gideonthomas opened #2659 "Export button on projects list page"
**Behind feature flag - GLITCH_EXPORT_ENABLED**

Layout: https://projects.invisionapp.com/share/6YN7CXIKHQN#/screens/312632662_Project_List_Copy
Comp reference: https://drive.google.com/file/d/1LRqVEFARgJ3o7J7RNm6sVlYplB4_jLnx/view?usp=sharing

On rendering the project list, each project will also have a `glitch_migrated` boolean flag (will be implemented in publish, default to `false` for now). T

[2018-08-30 04:30] n-sayenko commented on #2302
Can I work on this?

[2018-09-03 11:12] heisenberg-2505 commented on #2286
Is this issue up for grabs? I am interested in working on this issue.

[2018-09-04 19:14] #2657 closed

[2018-09-04 19:56] gideonthomas opened #2661 "QA: Export banner on homepage"
1. `.export-button`
  a. Border radius - 5px
  b. padding - top/bottom 9px, left/right 10px
  c. :hover/:active - background - #70e8b8
2. `.glitch-logo`
  a. width/height - 40px
  b. vertical-align - middle

[2018-09-05 20:09] Pomax commented on #2656
closed by PR.

[2018-09-05 20:09] #2656 closed

[2018-09-05 23:41] Pomax commented on #2661
blocked by https://github.com/mozilla/thimble.mozilla.org/pull/2663, which moves and modifies the glitch styling, so working in these QA notes before that lands will be a bad idea.

[2018-09-06 19:15] gideonthomas opened #2664 "Export dialog in project list"
**Behind feature flag - GLITCH_EXPORT_ENABLED**

**Layouts:**
1. https://projects.invisionapp.com/share/6YN7CXIKHQN#/screens/312645378
2. https://invis.io/6YN7CXIKHQN#/312645377_Project_List_Copy_2
3. https://projects.invisionapp.com/share/6YN7CXIKHQN#/screens/312645379

**Comp reference:** https://drive.google.com/file/d/1LRqVEFARgJ3o7J7RNm6sVlYplB4_jLnx/view?usp=sharing

When the Export button i

[2018-09-06 20:23] gideonthomas opened #2665 "Export FAQ"
**Behind feature flag - GLITCH_EXPORT_ENABLED**

**Layout:** https://invis.io/6YN7CXIKHQN#/312632663_Moving_To_Glitch_Copy

**Comp reference:** https://drive.google.com/file/d/1LRqVEFARgJ3o7J7RNm6sVlYplB4_jLnx/view?usp=sharing

This is an FAQ page that will answer questions that users might have about the migration and why we're doing it.

**Notes:**
1. Add a nav item called "Moving to Glitch".
2.

[2018-09-06 20:31] gideonthomas commented on #2665
# Copy

Mozilla has made a strategic decision to sunset Thimble within the course of 2018-2019. To continue supporting our Thimble community, we have partnered with Glitch (created by [Fog Creek Software](https://www.fogcreek.com/)). [Read our blog post](https://about:blank) to learn more about this partnership.

To make this process simple for you, we have answered some common questions you might

[2018-09-06 20:39] gideonthomas opened #2666 "Export CTA banner in the editor"
Based on this ticket: https://github.com/mozilla/thimble.mozilla.org/issues/2658

Layout: https://invis.io/6YN7CXIKHQN#/312632661_Editor_Copy

Clicking on the "Export to Glitch" button brings up the dialog to export the project currently being shown in the editor.

Note that this banner should not show up if no user is signed in.

[2018-09-06 20:41] gideonthomas opened #2667 "Export dialog in editor"
Based on this ticket: https://github.com/mozilla/thimble.mozilla.org/issues/2664

Follows the same logic as that ticket.

**Layouts:**
1. https://invis.io/6YN7CXIKHQN#/312632660_Editor_Copy_2
2. https://invis.io/6YN7CXIKHQN#/312632657_Editor_Copy_6
3. https://invis.io/6YN7CXIKHQN#/312632655_Editor_Copy_7

[2018-09-07 20:26] gideonthomas opened #2668 "Add routes to start exporting a project"
## TODO

1. `/projects/<project id>/export/start/` route that generates a token allowing access to export a specific project
2. `/publishedprojects/<published project id>/export/start/` route that generates a token allowing access to export a specific published project
3. Authorization middleware to check if the project (or published project) id in the URL and the token provided matches what’s in

[2018-09-07 20:38] gideonthomas opened #2669 "Add routes to export project data and metadata"
## TODO

1. `/projects/<project id>/export/metadata/` and `/publishedprojects/<published project id>/export/metadata/` routes that export project or published project metadata as JSON - works off of existing route logic
2. `/projects/<project id>/export/data/` and `/publishedprojects/<published project id>/export/data/` routes that export project or published project files as a tar streams - works

[2018-09-07 20:41] gideonthomas opened #2670 "Add routes to finish exporting a project"
## TODO

1. `/projects/<project id>/export/finish/` and `/publishedprojects/<published project id>/export/finish/` routes will mark the project or published project as migrated in the database.

## Details

1. Both the `/projects/<project id>/export/finish/` and `/publishedprojects/<published project id>/export/finish/` routes will be PUT routes with no payload that simply flips a boolean flag in

[2018-09-07 21:07] gideonthomas opened #2671 "Add proxy routes for export in Thimble"
Once #2670, #2669, #2668 are done, the corresponding routes need to be added to Thimble as well that make the requests on behalf of a client to the publish server.

Routes that need to be proxied:
1. `/projects/<project id>/export/start/` and `/publishedprojects/<published project id>/export/start/` - requires `bearer` token authentication
2. `/projects/<project id>/export/metadata/` and `/publish

[2018-09-10 14:45] logoht1 opened #2672 "Thimble dont´start"
Thimble could not be started.
Please reload your browser to reload Thimble.
Details of this error can be found in the console of the developer tools of your browser.
NOTE: If using private mode, please reload in normal mode.
The standard modus not work either.
What can I do.
Thx

[2018-09-10 19:15] #2658 closed

[2018-09-14 16:05] #2668 closed

[2018-09-17 20:44] Pomax commented on #2672
I am seeing thimble start normally for me in Chrome and Firefox, so the first thing is probably to figure out the situation:
- which OS are you using?
- which browser are you using?
- does that browser have addons/extensions that interfere with cookies and/org localstorage? (privacy, ad-blocking, etc)
- when you open the developer tools for that browser, does its "console" show any errors when you

[2018-09-17 23:30] Pomax commented on #2664
It would be good if we also had some messaging around how to let the user know that our `.../start` route(s) failed:

- calling the URL works, but the result does not have a `{token:...}`
- calling the URL fails (e.g. the user's router has a melt-down after loading the projects page)

[2018-09-18 17:10] logoht1 commented on #2672
Thimble start normally for me in Chrome and Safari. In Firefox unfortunately not.
I have version Quantum 62.0(64 bit). OS-version is High Sierra 10.13.1.
All plugins and addons are disabled. The console shows following:
Content Security Policy: Die Direktive 'child-src' sollte nicht mehr verwendet werden. Bitte verwenden Sie stattdessen die Direktive 'worker-src' zum Kontrollieren von Workern bzw.

[2018-09-19 09:00] mischkl commented on #2672
Safari and Chrome on Mac OS, Thimble shows the loading screen but never loads :(

[2018-09-19 09:05] mischkl commented on #2655
Same here, cannot create an account. :(

[2018-09-20 17:30] mohitepm1998 opened #2674 "can't change password without email even i know my password."
I know my password and i wan't to change it but i can't done by singing in
![capture](https://user-images.githubusercontent.com/32018912/45835870-de41dd00-bd28-11e8-99c9-f355e43a6491.PNG)
 in the thimble account.

[2018-09-25 22:08] Pomax commented on #2672
@mischkl unless you have the exact same problem (with the same error log), please file that as a new issue, because it may be for completely different reasons.

@logoht1 it looks like that `TypeError: "this.db is null"` is the main culprit, so you may need to manually help firefox reset its indexdb so you can use it with thimble.  https://github.com/mozilla/thimble.mozilla.org/wiki/Reset-indexedDB

[2018-09-25 22:16] mischkl commented on #2672
@Pomax it's working now of its own accord, thanks.

[2018-09-27 18:56] strelkovandreyvalerievich opened #2676 "Offline install on Windows Server 2012"
Good day!
Can I install Thimble on virtual machine with Windows Server 2012 without Internet connection?

[2018-09-28 12:53] juruhn commented on #2296
Awesome tool, clean interface and works like a charm.
Any plans of extending the maximum size for assets?
I am using it for learning aFrame (it's page suggests Timble) and with some 3D models and textures it quickly adds up.

Cheers,
Juruhn

[2018-09-28 17:01] Pomax commented on #2676
As long as you download all the repositories on a machine with internet access, and do the npm installs for all the dependencies, you can most certainly run the entire setup offline. Please see https://github.com/mozilla/thimble.mozilla.org#manual-installation on how to get everything set up, and then copy every over into your VM.

For copying purposes I would recommend making sure you put all the

[2018-09-28 17:02] #2676 closed

[2018-09-29 13:48] strelkovandreyvalerievich commented on #2676
Please tell me which manual is more correct?

1. https://github.com/mozilla/thimble.mozilla.org/wiki/Setting-Up-Thimble-without-Virtualization#installing-the-parts
2. https://github.com/mozilla/thimble.mozilla.org#manually-installing-the-parts

[2018-09-30 01:01] Pomax commented on #2676
I don't see any errors? But you're far from done, you still have all the other repos to check out and bootstrap (id, login, publish, and brackets)

[2018-09-30 04:39] strelkovandreyvalerievich commented on #2676
Yes, I just in case I ask if everything is right, I was confused just WARN, WARN, 11 VULNERABILITIES, etc.
Thanks, then I go on

[2018-09-30 05:01] strelkovandreyvalerievich commented on #2676
Now I'll try to get the editor running
8. Run `git clone --recursive https://github.com/mozilla/brackets`  in new Cmder window

![image](https://user-images.githubusercontent.com/40031705/46253497-2fbb3c00-c48e-11e8-99b6-ef754e0f7118.png)

9. Run `npm install`

And here it seems that something went wrong :(

![image](https://user-images.githubusercontent.com/40031705/46253550-65acf000-c48f-11e8-92

[2018-09-30 10:33] Nilesh2000 commented on #2674
Try signing out.

[2018-10-02 20:17] tchaffee opened #2678 "Tutorial won't display in the Homework Excuse Generator"
I clicked on the link from the Thimble homepage to remix, and before even making any changes it will not display the tutorial. There are no console error messages. Screenshot attached.

![selection_321](https://user-images.githubusercontent.com/148813/46374407-0c97b480-c667-11e8-980c-3c5f11115b1d.png)

[2018-10-02 21:32] #2664 closed

[2018-10-02 21:36] gideonthomas commented on #2664
Hey @jgmac1106 this is something that Glitch might be able to do on their end when importing each project - you can probably [email them](mailto:support@glitch.com) and ask if they're able to support this.

[2018-10-02 22:57] Pomax commented on #2672
@logoht1 it looks like that `TypeError: "this.db is null"` is the main culprit, so you may need to manually help firefox reset its indexdb so you can use it with thimble.  https://github.com/mozilla/thimble.mozilla.org/wiki/Reset-indexedDB explains how you can go about doing this.

[2018-10-03 01:54] Pomax commented on #2665
Where are all these dates coming from? New environment variables?

[2018-10-03 05:28] Pomax commented on #2676
The error literally tells you what's wrong, so just read what it says, and solve what it explains is the problem?

[2018-10-03 19:54] cadecairos commented on #2358
With the winding down of thimble on the horizon, I don't think we'll have the bandwidth to integrate passport login. Going to close this out, but if someone wants to do the passport integration, please submit a PR.

[2018-10-03 19:54] #2358 closed

[2018-10-03 20:01] Pomax commented on #2661
this got done as far as I know.

[2018-10-03 20:01] #2661 closed

[2018-10-03 20:21] ryanwarsaw commented on #2358
hey @cadecairos i actually already wrote the passport integration for it, it syncs right into the `id.webmaker.org` component. Needed some review but this is basically a drop-in replacement.

see: https://github.com/mozilla/passport-webmaker

[2018-10-03 22:30] #2666 closed

[2018-10-03 22:30] #2667 closed

[2018-10-08 08:35] sjoera92 commented on #2655
Same issue today with the Chrome browser

[2018-10-08 11:45] Kelprim opened #2680 "Uable to log in"
Hello!

Yesterday I have been using Thimble and it was working perfectly. However, when I tried to use it  today, I was unable to log in. I have tested in several computers and the problem still persists. I also changed from network but the problem it's still there.

[2018-10-08 12:45] StevePaget commented on #2680
The developer console is telling me there's a 500 server timeout error.

[2018-10-08 14:10] ryanwarsaw commented on #2680
Hey folks, should be fixed now, let us know if it's still not working. Thank you for reporting!

[2018-10-08 14:10] #2680 closed

[2018-10-08 14:13] ryanwarsaw commented on #2649
Hi @angelab1030, apologies for late response, can you verify that this is still an ongoing issue? cheers!

[2018-10-16 14:13] sjoera92 commented on #2655
Hi @ryanwarsaw we're seeing the same issue again, we receive the following notification when creating an account  (‘ERROR for site owner: Invalid domsin for site key’):
![schermafbeelding 2018-10-16 om 16 12 33](https://user-images.githubusercontent.com/43951457/47022702-59e34e00-d15e-11e8-87ce-689ca343c40a.png)

[2018-10-16 15:18] ryanwarsaw commented on #2655
Hey @sjoera92 this should be fixed, try again!

[2018-10-19 19:07] Nathancanez opened #2682 "Lost work on my html file"
About 11:01 am is when I logged off of thimble on another computer, then I arrived to my next class to work on it again. When I pulled it up, I lost all 3 days worth of work on my thimble html source. My current css work is still there, but my current html that I was working on is lost.
How can I restore my work?
Please help and thank you.

[2018-10-21 16:32] suhailsinghbains commented on #2149
Hey, I would like to work on this, can someone guide me?
Thanks

[2018-10-24 14:19] moorthy-g opened #2683 "Quick edit UI for margin/padding is missing "All Sides" label"
Its happening in all languages.

**Cause**: There is a missing "S" at the end in L10N label "ALL_SIDE".

![mozilla thimble](https://user-images.githubusercontent.com/365956/47436543-4bcba800-d7c4-11e8-8f2b-86355da2427b.png)

*Note: This is a brackets module issue.*

[2018-10-24 14:58] moorthy-g commented on #2683
Please check PR [#926](https://github.com/mozilla/brackets/pull/926)

[2018-10-24 14:59] moorthy-g commented on #2683
Please check PR https://github.com/mozilla/brackets/pull/926

[2018-10-24 15:01] moorthy-g commented on #2683
#https://github.com/mozilla/brackets/pull/926

[2018-11-01 07:30] philtrem commented on #1898
How is this still a problem in November 2018 ??

[2018-11-01 14:06] jgmac1106 commented on #1898
Because we haven't convinced everybody to leave facebook by November 2018....but we can keep trying.

[2018-11-01 14:06] #1898 closed

[2018-11-04 11:30] vzt00 opened #2685 "Code validation tools report "errors" in Thimble source"
In my web development course, students are using Thimble - huge success! Thanks.

However, we are also learning best practices in coding including using code validation tools. Students are confused when the code they created with the default Thimble project templates contain coding "errors" according to the validation.

For example
https://validator.w3.org/#validate_by_input
Warning: Consider addi

[2018-11-05 21:16] dtepe commented on #2685
Seems to me like it's just a warning not an actual error.  So as far as I know, warnings are usually "best practices" things such as making sure you declare a language.  Not absolutely necessary but useful if perhaps you are hoping to reach an international audience so that translation tools work right.  So that error can be fixed with `<body lang="en">`.

[2018-11-12 02:34] BeastlyRamZilla opened #2687 "My project wont download"
So I go to click the export into zip button, it downloads, but the contents are empty. All there is is a folder inside the zip archive! No files!

[2018-11-15 10:15] awdDev786 opened #2688 "Changes not reflecting in view"
I have investigated several similar issue which are related to updations in view files.I am making changes in <a href="https://github.com/mozilla/thimble.mozilla.org/blob/master/views/homepage/userbar.html">userbar.html</a>
Here are some resources i have visited.
<ul>
<li><a href="https://github.com/mozilla/thimble.mozilla.org/issues/1397">1</a></li>
<li><a href="https://github.com/mozilla/nunjuck

[2018-11-19 20:12] Pomax commented on #2685
Indeed, not having a `lang` attribute is not an error, just a warning. You are certainly encouraged to add one for "serious" web pages, but it's not a requirement for a document to be valid HTML5.

[2018-11-19 20:12] #2685 closed

[2018-11-23 20:12] supermariogo opened #2689 "Couldn't find the dom for /2/projects/1/index.html"
Hello, I am trying to run thimble locally, but found this error. Looks like it doesn't impact any functionality, but why it reports this error?

Thanks!

[code]

[2018-11-24 21:00] debbieforishandall commented on #2286
Issue still up for grabs?

[2018-11-26 16:08] titaniumbones opened #2690 "Project Status?"
I know that Mozilla is sunsetting the Learn project. Do devs have plans to continue developing or supporting Thimble? If not, what platforms do you suggest for teams that have used Thimble up to now?

[2018-11-26 16:32] dtepe commented on #2678
Huh. Wow, I never even noticed that link before.  I usually just click on the tutorial.html file that's in the file browser on the left.

Anyway, it seems like it won't load the tutorial unless you click the refresh button or the autorefresh checkbox next to the tutorial link there. I'm guessing this is expected behavior, though I can see why it might be confusing.

[2018-11-26 16:37] dtepe commented on #2687
I tried this, and it seems like if you view the zip file it won't show the contents, but when you unzip the file to a folder they're all there.  I'm guessing it's a bug with the way thimble indexes the contents zip file, but they do seem to be there.

[2018-11-26 16:48] jessevondoom commented on #2690
Hi Matt — our support of Thimble has moved into a pure maintenance mode, and we will be sunsetting the product in the future. (We're still working on exact dates, and as Thimble is used in many educational institutions our plan is for a longer sunset period than most.) We're also working on a migration tool that will help creators move projects to [Glitch](https://glitch.com/), an excellent in-bro

[2018-11-27 10:17] delicadiesel opened #2691 "Autocomplete cannot work in a html file editor when giving a style to a tag"
If I write a small html file, I am used to putting <style> tags to this html file rather than a style.css file.
Autocomplete is OK to edit the css with pressing Ctrl+E or going into the style.css.
But, it didn't work inside the html file. Please fix it. Thank you.
<html>
<head>
<style>
 Autocomplete didn't work
</style>
</head>
<body>
<h1 style="Autocomplete didn't work"></h1>
</body>
</html>

[2018-11-28 13:25] Louistwee opened #2692 "CAPTCHA don't work"
I can't signup to https://id.webmaker.org/signup with firefox. In Firefox I get this error in console: 'You have failed the reCAPTCHA test'. There isn't a checkbox/test displayed.

[2018-11-28 19:41] eloine commented on #2690
I hope you can leave it working at least until the end of December. The students are right in the middle of starting their finals. This is the easiest program for them to work with that I have found for learning the basics of web design. I have so many projects now in Thimble. It would be a big pain to download all the zips one by one. I would like to request if you can build and autimated way to

[2018-11-28 20:21] gideonthomas commented on #2690
Hi @eloine, Thimble will absolutely be working in December. As Jesse mentions above, the sunset period will be longer than most products. Our plan is to urge users to migrate their projects to Glitch and give them a reasonable amount of time to do so. We are also being very conscious of school terms and how this might affect curriculum development and we have accounted for that in our sunset timel

[2018-11-28 20:52] jessevondoom commented on #2690
@eloine Hi. Yeah we'll leave it up far longer than that. We want to support all the learning on the platform so we're doing an extremely slow sunset. We'll start opening up account migration soon but won't limit things meaningfully until well into spring. Specific dates and details coming soon!

[2018-11-28 23:34] eloine commented on #2690
Thank you for the response. I have been trying to search for an alternative but nothing seems to mimic the real world experience quite like Thimble. I just love how you can easily jump to the spot in the code that is affecting something. It makes it great for beginners to learn about structure. I also love that you can upload images and put them in directories just like a real website. I can't see

[2018-11-29 01:09] scheinercc commented on #2425
Webplatform links 404-ing now, e.g. https://webplatform.github.io/docs/wiki/html/elements/hn (via `<h1>` opt + k) and as per https://github.com/mozilla/thimble.mozilla.org/issues/2464#issuecomment-327220461

[2018-11-29 01:18] scheinercc opened #2693 "404 in preview panel when creating a new project"
This might only happen the very first time someone opens a project, I saw the issue once on thimble.mozilla.org as well as once on staging.

Firefox 64.0b13 (64-bit), macOS 10.14.1

1. Go to https://thimble.mozilla.org/
2. Start project from scratch

The preview pane on the right shows an ugly 404 error, where the content obviously not matches the code on the left. This is a bit confusing when che

[2018-11-29 04:45] jgmac1106 commented on #2690
When a sunset date is set I think the @eloine brings up a good point let's
make sure to choose one that falls after traditional academic semesters and
not one in the middle.

I also met with the Glitch team at one of their launch party and we
discussed the upcoming migration tool. I was quite impressed with the
responsibility folks expressed inheriting the Thimble projects.

In fact I started port

[2018-11-29 15:44] titaniumbones commented on #2690
Thanks @jessevondoom and others on this thread for your help. My question was actually just exploratory, as we are on the cusp of a new project teaching basic web dev skills in Himalayan India to students with no Internet access ([web](https://code-at-the-edge.github.io/), [github](https://github.com/code-at-the-edge/), [details](https://hackmd.io/Ci5kwXOoTLSFabpThfuuBg?both#Features-and-%E2%80%9C

[2018-11-29 18:30] titaniumbones opened #2694 "JS & CSS not injected in locally-run Bramble"
When running brackets locally & on its own (not in a vagrant container/Thimble context), JS & CSS do not appear to be injected into the rendered HTML pane, though HTML appears just fine. A number of resources appear not ot be fetched, perhaps for security reasons. I am seeing similar results in Chrome & in a recent firefox nightly; see this log from chrome:
[localhost-1543516053259.log](https://gi

[2018-11-29 18:34] titaniumbones commented on #2694
firefox log is somewhat different and may also be helpful:

[code]

[2018-11-29 19:44] jgmac1106 commented on #2690
Reach out to the @gltich team. They don't have an offline mode yet but it integrates with github, so if you used that for offline and @glitch teams for the projects you might be able to meet your needs.

Make sure to dig through the MoFo curriculum. A ton of great offline or lo-fi lessons.

A few years ago one group we worked with in India used bricks from abandoned houses to learn html. Stacked t

[2018-12-03 02:05] #2671 closed

[2018-12-05 09:17] awdDev786 commented on #2688
I am still stuck here.if possible kindly answer.

[2018-12-05 22:30] #2665 closed

[2018-12-06 08:48] ryanwarsaw commented on #2694
afaik those are built files, so I would make sure they are present, also that your service is running. It's been a while since I've touched the code but we have service worker functionality for offline work, so you could be hitting the service worker cache and think it's running when its not (again, it's been a while so I'm not entirely sure).

[2018-12-06 08:52] ryanwarsaw commented on #2693
I wasn't able to replicate this on the latest Firefox beta `64.0b14`, need more information to figure out what's going on here. Was this an anonymous project?

[2018-12-06 08:52] ryanwarsaw commented on #2692
This should be resolved, let me know if you still run into this issue. Thanks for reporting!

[2018-12-06 08:52] #2692 closed

[2018-12-06 08:55] ryanwarsaw commented on #2691
This isn't necessarily a bug, but it's a good nice-to-have. It's more of a technical limitation, the recommendation is that you separate your CSS and HTML. (which is also why we do this as the standard for the default project)

[2018-12-06 09:02] #2649 closed

[2018-12-06 11:03] scheinercc commented on #2693
I guess so, yes, as I opened the site for the first time and was not logged in.

[2018-12-06 14:45] titaniumbones commented on #2694
thanks @ryanwarsaw I may be past the limit of my debug abilities here.  I see that there's a bramble service worker running but I don't know how to chek the cache etc :-( .

In any case I havehte feeling that bramble is going to be sunset along with thimble i nthe near future -- if that'sright, it doens't make much sense for me to wrestle with it as I try a new project. Am I right about that?

[2018-12-06 15:02] titaniumbones commented on #2694
well, I did find htis i nthe debugger:
[code]
not sure if that's of interest.

[2018-12-06 18:33] ryanwarsaw commented on #2694
Let me get back to you about the error, I'll need to fumble around with it locally and refresh my mind.

RE: The question about sunsetting - it'll be the entire product stack afaik (so yes) although I've been told it's a very gradual shutdown so it probably has about a year left of lifespan on it. However if the feature set is there, you could totally run it locally and use it that way.

I would l

[2018-12-19 21:24] Pomax opened #2702 "add Glitch information to the main page"

[2018-12-20 20:36] #2702 closed

[2018-12-30 01:00] zubairamin commented on #1898
2019 is about to come. It is still blocked. Strange? how facebook recheck the block websites? My client's website also blocked. Their review form is useless.

[2019-01-18 10:16] awdDev786 opened #2708 "Adding folder in default empty-project"
I am trying to add folder in <a href="https://github.com/mozilla/thimble.mozilla.org/tree/master/default/empty-project">default/empty-project</a> and "npm start" giving me this error.

![image](https://user-images.githubusercontent.com/29519534/51379662-bd9c5f00-1b31-11e9-985b-73111b5d63b5.png)

I tried following solution but it isnt giving correct output.

1. Updated <a href="https://github.com/m

[2019-01-26 06:16] #2708 closed

[2019-02-17 18:01] moz-hwine opened #2710 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/thimble.mozilla.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wik

[2019-02-17 18:05] ryanwarsaw commented on #2710
@moz-hwine Thanks for following up, I've alerted DevOps team for Foundation projects and will share this with them as well.

[2019-02-19 18:31] moz-hwine commented on #2710
settings are good

[2019-02-19 18:31] #2710 closed

[2019-03-02 19:08] PratikMMohite opened #2712 "The function requestFullscreen() not working in javascript."
`https://developer.mozilla.org/en-US/docs/Web/API/Element/requestFullScreen`
`https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_element_requestfullscreen_exit`

[2019-03-03 16:40] Pomax commented on #2712
Hi @PratikMMohite, Thimble is no longer being worked on, and people are encouraged to switch to Glitch instead, and any projects you have can be automatically migrated from within Thimble. Please see https://medium.com/read-write-participate/a-note-about-thimble-b8ba0a51b8fd for more information.

[2019-03-03 16:40] #2712 closed

[2019-03-28 04:14] Mozilla-GitHub-Standards opened #2713 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-28 07:37] xel0x opened #2715 "Fauteuil"

[2019-03-28 07:38] #2715 closed

[2019-03-28 13:21] #2713 closed