[2015-08-27 21:48] flukeout commented on #945
I don't mean hiding & showing, that would be handy too - I mean when showing, it has room for probably 5 or 6 digits, which is too many.

[2015-08-27 21:51] hannahkane commented on #950
I can reproduce consistently, but it always works after I clear the cache. Log in -> sign out -> can't log in -> clear cache - > can log in. Repeat.

[2015-08-27 22:32] flukeout opened #955 "Preserve scroll position of the Tutorial, it resets to top when you switch to it and is hard to follow."
When switching to the tutorial, it always resets the scroll position to the top of the document. This makes it really hard to follow. We should persist the scroll position. See below...

![tutorial-scroll](https://cloud.githubusercontent.com/assets/25212/9534865/abd2e740-4cd0-11e5-8a5a-44593aa01f15.gif)

[2015-08-27 22:44] flukeout opened #956 "Hitting enter when editing a file causes the Preview to scroll to the top."
See below. This makes the Preview way less useful than it could be. Since we're able to do a live preview when typing text, can we do the same for hitting Enter and other changes?

![editing-scroll](https://cloud.githubusercontent.com/assets/25212/9535068/717d7ca2-4cd2-11e5-86c1-c7c65a94540f.gif)

[2015-08-27 23:07] flukeout opened #957 "Preview stops working if you press Enter outside of a tag."
Steps to reproduce
* Edit some copy in a tag
  * Preview shows changes
* Click outside of the tag and hit enter
* Click back into the tag and edit the copy some more
  * Preview stops working

![preview-fail](https://cloud.githubusercontent.com/assets/25212/9535396/b26265d6-4cd5-11e5-8ded-eaf58bec91aa.gif)

[2015-08-28 01:33] sedge commented on #682
This has been implemented. @flukeout [Try this](https://d157rqmxrxj6ey.cloudfront.net/sedge/10345) and we can close if it works

[2015-08-28 02:06] sedge commented on #950
This should be fixed. @hannahkane Can you confirm?

[2015-08-28 02:13] sedge commented on #949
I've confirmed that republishing occurs correctly, meaning this is a cache issue.

cc @jbuck

[2015-08-28 04:08] hannahkane commented on #950
Tested on beta. Here's what's happening now (repeated this entire cycle three times):

Go to homepage
Click Login
Fill out credentials, click Submit
Get a 401 error
Clear cache
Back to homepage
Click Login
Am immediately logged in, without having to re-enter credentials
Log out

(Repeat three times)

[2015-08-28 13:49] humphd opened #958 "Allow uploading files by URL"
In user testing it was clear that users also want to be able to use URLs in order to upload files into a project.  Making this work involves proxying the request to the Thimble server, due to cross-origin downloads, but it's doable.  On a technical level, this is somewhat related to https://github.com/mozilla/thimble.webmaker.org/issues/489.

Some things to consider:
* if a user adds an HTML file

[2015-08-28 13:52] humphd opened #959 "Increase visibility of Remix so users can find it more easily"
We don't do enough to help users find the Remix flow for a project.  He should consider adding some/all of these:
* on Projects page, beside each project's title and delete button
* in user menu near "New Project..." so that they can remix the current project from the editor
* in the Publish dialog, we should give 2 links: one to view the project, another to use if you want friends to be able to r

[2015-08-28 13:58] humphd commented on #949
I saw this in user testing, too, and have confirmed it myself on thimble-beta.

My project is at https://d157rqmxrxj6ey.cloudfront.net/humphd/177/, and I get this:

[code]

Are we sending cache control on the 404?

[2015-08-28 14:47] jgmac1106 opened #960 "Align the teaching kit elements on Thimble Homepage"
Apologize if this is a duplicate ticket. Can we add some space or margin to the Keep Calm and Poster kits so they align parallel with the Comic Strip Make. Comic Strip takes up two lines of text.

[2015-08-28 15:41] sedge commented on #950
@hannahkane The 401 is really strange. I'd love to se you do that so I can get more information

The auto-login makes sense if the log in to id.webmaker.org succeeded. This is the same mechanism that lets you sign in to services through facebook with a click, as long as you're already signed in to facebook.

[2015-08-28 15:41] sedge commented on #950
@hannahkane Can you try to reproduce the 401 in an incognito browser session?

[2015-08-28 15:45] humphd commented on #950
I think this was caching.  None of us can make this fail now.  I'm going to close this, and we should re-file if we see it again.  The homepage was changing so fast yesterday, the cached versions messed up a lot of testing.

[2015-08-28 15:45] #950 closed

[2015-08-28 16:04] #682 closed

[2015-08-28 16:09] hannahkane commented on #950
Tried it again in an incognito browser, just to be sure. Still got an error: http://recordit.co/C57ahLtHQe

[2015-08-28 16:13] humphd commented on #950
@hannahkane can you load https://thimible-beta.webmaker.org/?a;lwkdjfas;dlkfjasd;lfjk so it gives you a non-cached version and try again?

[2015-08-28 16:29] sedge commented on #950
@hannahkane Thanks for doing this on PTO. What I really need is to see the error coming back from the server. Here's how you can show me:

First, open the network tab

<img width="318" alt="screen shot 2015-08-28 at 12 22 50 pm" src="https://cloud.githubusercontent.com/assets/1616860/9551517/a4b14218-4d7f-11e5-95da-aa3c12d21e78.png">

Then, follow the STR until you get the 401, then click the 401

[2015-08-28 16:36] hannahkane commented on #950
Apologies if I'm just doing something wrong, and wasting everyone's time.

Screencast - incognito; with the above url: http://recordit.co/MQfRl7ixv7

@sedge - is this what you need?

![screen shot 2015-08-28 at 9 32 38 am](https://cloud.githubusercontent.com/assets/8389648/9551768/f77097dc-4d67-11e5-9a65-407bc16a6364.png)

![screen shot 2015-08-28 at 9 33 51 am](https://cloud.githubusercontent.com

[2015-08-28 16:52] sedge commented on #949
@flukeout Can you confirm if this is fixed?

[2015-08-28 17:06] flukeout commented on #949
Looks good! Closing!

[2015-08-28 17:06] #949 closed

[2015-08-28 17:20] sedge commented on #921
This has landed. All we need to do now is push this to production when the time is right and set the new environment variable to point at our new thimble production url.

cc: @jbuck

[2015-08-28 17:26] humphd commented on #749
I've landed the GA bits in the homepage, and update the editor.  We need that new account added to the server's env, and I don't have rights.  One of @sedge or @jbuck needs to do this.

[2015-08-28 17:39] gideonthomas commented on #950
@hannahkane I just landed a patch that should fix this. When you get a chance, would you be able to confirm that it works (you might need to clear your cache first).

[2015-08-28 17:42] hannahkane commented on #950
Can no longer reproduce. Yay!

[2015-08-28 18:12] gideonthomas commented on #950
Awesome, thanks for testing @hannahkane

[2015-08-28 18:14] sedge commented on #749
@adamlofting Do we need to worry about [this value](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/views/homepage/index.html#L16)?

[2015-08-28 18:18] hannahkane commented on #950
Thanks for fixing. :)

[2015-08-28 18:20] flukeout opened #970 "Add ability to link to a specific page in the browser player."
I'd like to be able to link to a specific page of a project when sharing a link. Could we keep track of the current page in the address bar when viewing? Then I can share that link with someone and they would start on that page.

Kind of like how youtube lets you link to a specific point in the timeline, which is handy.

Also, it's webby (tm) :ant: <- closest I could get to a spider

cc @vazquez @

[2015-08-28 18:24] xmatthewx commented on #970
Interesting. Our current buttons don't expose an anchor URL, but maybe they could. Then I could like to /user/project/page or /user/project#page

[2015-08-28 18:27] xmatthewx commented on #970
Wait @flukeout - this is the thimble repo. Either way: https://github.com/mozilla/webmaker-core/issues/601#issuecomment-135854041

[2015-08-28 18:29] flukeout commented on #959
Good ideas!

We used to have a remix button on the My Projects page but it went away. I feel like the way things have been changed to allow for remixing from the homepage, we could easily implement this again.

Not that sure about bullet point 3, if you send a link to the project, the remix button is right at the top.

[2015-08-28 18:29] flukeout commented on #955
@humphd Elevating this to P1 so we can talk about it during our check in. Out of the stuff I filed recently, I'd like to see this one get resolved sooner than later.

[2015-08-28 18:32] humphd commented on #970
@flukeout can you move this to the right repo?

[2015-08-28 18:47] sedge commented on #749
I've set the account number. When we find out about the domain part we can close this.

[2015-08-28 19:08] #741 closed

[2015-08-28 21:57] humphd opened #974 "Mobile view container div shouldn't scroll horizontally"
![screenshot 2015-08-28 17 56 17](https://cloud.githubusercontent.com/assets/427398/9557934/254483da-4dae-11e5-947e-24e9ac82fcae.png)

You can scroll the mobile view up and down, it should be locked in place. (cc @Pomax).

[2015-08-28 22:14] flukeout opened #975 "Thimble doesn't remember my theme settings."
Steps to reproduce
* Switch to dark theme
* Refresh the browser
* Reverts to white

![theme-forget](https://cloud.githubusercontent.com/assets/25212/9558181/70384afa-4d97-11e5-80a0-e2342fe994c2.gif)

[2015-08-28 23:25] flukeout commented on #970
Oops! Closing.

[2015-08-28 23:25] #970 closed

[2015-08-28 23:56] humphd commented on #975
Are  you in an incognito tab when this happens?  That's the only time I see it, and I think it's due to storage rules being different.  If not, I'll dig into it.

[2015-08-29 00:54] humphd opened #976 "Clicking 'Start a project from scratch' has odd behaviour"
On the homepage, when you click "Start a project from scratch", it seems to take some time to work, and makes you want to click it more than once, which makes you feel like it isn't doing anything.  Also, it needs `cursor: pointer` in the CSS so that it looks clickable.  We shouldn't allow multiple clicks on it, as this likely slows things down.

[2015-08-29 02:04] Pomax opened #977 "Thimble doesn't recognise Firefox as Firefox."
![screenshot 87](https://cloud.githubusercontent.com/assets/177243/9560082/9db600ce-4db7-11e5-8c67-aef686ebff41.png)

FF 40.0.3 (win7)

[2015-08-29 03:15] humphd commented on #977
Trying a new UA parser lib in https://github.com/mozilla/thimble.webmaker.org/pull/978

[2015-08-29 03:15] #977 closed

[2015-08-29 04:13] humphd commented on #977
This really sucked, but I think I've fixed it.  I tried a different UA parsing lib (https://github.com/mozilla/thimble.webmaker.org/pull/978) but that didn't solve it.  In the end I moved the detection to the client, because I think the UA is getting messed up by cache servers or the like (see https://github.com/mozilla/thimble.webmaker.org/commit/83156b1691acad49452763f5d185eaca9477f609).

If peo

[2015-08-29 04:15] humphd commented on #976
I ran into this a lot while testing tonight, we should fix.

[2015-08-29 06:06] Pomax commented on #977
checks:
- [x] FF 40.0.3/win7
- [x] Chrome 44.0.2403.157 m/win7
- [ ] IE 11 on win7 reports "oh no!" with script errors once you click through
- [x] Opera 31.0.1889.174/win7
- [x] Vivaldi 1.0.219.50 (Developer Build)/win7 (seriously? yep. Flat out works)

[2015-08-30 16:57] Pomax opened #979 "Automatically remix a linked project if the current user doesn't own it"
If I link someone to https://bramble.mofostaging.net/user/monkeymagic/270, they are redirected to the default thimble project, instead of the project I wanted them to see. This seems to violate the promise that the URL I gave them sets up.

I'd recommend *always* loading up the remix version of a project for bramble project URLs, unless the user is both authenticated, and it is their own project.

[2015-08-30 17:15] Pomax opened #980 ""new tab" and "url bar" keyboard mappings are not honoured"
Based on https://github.com/humphd/brackets/issues/421, the new thimble intercepts keyboard shortcuts for new tab and URL bar, which is a problem both for accessibility and for ease of use - intentional universal browser shortcuts are, ideally, not overruled.

Current support matrix:

- [ ] ctrl/cmd-T (new tab)
- [ ] ctrl/cmd-L (url bar)
- [x] alt/option-left (force-navigate to previous page)
- [x

[2015-08-30 20:06] humphd opened #981 "Allow project export to .zip file when not logged in"
We have the `Export project...` menu item hiding in the authenticated drop-down menu.  We should allow you to get a .zip file of your project without having to be logged in.

[2015-08-30 20:47] #956 closed

[2015-08-31 14:52] gideonthomas commented on #957
I cannot reproduce :(

[2015-08-31 14:54] gideonthomas commented on #931
I can't reproduce this anymore (I feel like we fixed this recently).

[2015-08-31 15:05] #976 closed

[2015-08-31 15:07] #955 closed

[2015-08-31 15:13] jbuck opened #983 "Clean up artifacts from old-thimble in the new-thimble codebase"
There's some MakeAPI cruft in the codebase still, think about how good it'll feel to do some cleanup! Just `git grep MAKE`

[2015-08-31 15:45] gideonthomas opened #984 "Postcard starter project is broken"
Not sure how this is supposed to look but it doesn't seem right:

**In the preview**
![postcard 1](https://cloud.githubusercontent.com/assets/5816130/9582817/aea762e0-4fd5-11e5-8065-99ce589f0b64.png)

**Published**
![postcard 2](https://cloud.githubusercontent.com/assets/5816130/9582829/bda94786-4fd5-11e5-8d43-a61717a6f89c.png)

[2015-08-31 15:46] Pomax opened #985 "the "publish" button should ask me to log in or sign up"
Right now the button looks perfectly functional, and just makes the login/signup div flash. This means nothing to me. If it wants me to log in or sign up first, it should inform me that is what I need to do, as well as disable itself (perhaps even change its label) so that I get a clear signal that I cannot keep doing what I was doing.

(pressing a button multiple times because it didn't work the

[2015-08-31 15:46] hannahkane commented on #984
/cc @chadsansing

[2015-08-31 15:48] Pomax opened #986 "Share user preferences (theme, pane sizes, etc.) between browsers"
if I log in on a different browser, my theme choice is clearly not saved along with my files. It would be a useful thing for that to carry over so that if I log in, all my personalised settings are used.

[2015-08-31 15:51] chadsansing commented on #984
cc @hannahkane, maybe we can scrub out the address lines on the right side/button side of the postcard? Not yet set up for image editing on my machine, but will be by the end of the week. The postcard-back template is an image, so editing that is probably the fastest way to ship a cleaner-looking make.

[2015-08-31 16:26] gideonthomas commented on #985
cc @flukeout and @hannahkane

[2015-08-31 16:43] sedge commented on #985
From my observations of user testing, the flashing has been effective in guiding the user to sign-up to publish.

[2015-08-31 16:44] sedge commented on #983
There's a lot left over that needs to be pruned. I'm morphing this into a more general purpose cleanup issue.

[2015-08-31 16:47] sedge commented on #979
The idea here is that links to projects should be sharable. The other option is to make it clearer that only published projects can be remixed. We could show the remix link as well as the published link in the publish dialog?

[2015-08-31 17:13] gideonthomas commented on #979
Maybe we should consider changing the url too. Maybe something like:
`/user/monkeymagic/private/270` and `/anonymous/private/<uuid>`
That might help?

And once we settle on a domain for published projects, it might be even clearer!

[2015-08-31 18:07] flukeout commented on #975
No, not incognito. Just opening the editor from thimble.mozilla.org puts it in a weird state...

Light theme visible, dark theme selected in UI
![image](https://cloud.githubusercontent.com/assets/25212/9586251/7ebd1750-4fd0-11e5-9ffe-1c55311f4bc9.png)

[2015-08-31 18:24] vazquez opened #991 "Homepage footer not using latest mozilla logo"

[2015-08-31 18:28] vazquez opened #993 "Github Icon is not showing in homepage footer"
Also a bit misaligned.

![screenshot 2015-08-31 14 27 21](https://cloud.githubusercontent.com/assets/1119821/9586735/88feabcc-4fec-11e5-8743-731afeb6a154.png)

[2015-08-31 19:21] jbflowers opened #995 "Sign-up Redirect 400"
I got a 400 after trying to sign up. Steps I took were:

1. Go to sign up and get sent to Webmaker sign up
2. Find out there's an account with my email already
3. Try to log in with my email
4. It says I need to make a password
5. Make password and get redirected to this URL:

https://id.webmaker.org/login/oauth/authorize?client_id=wm_id_wMvw9BSwq2AITV480dxr&response_type=code&state=7e66c3b1-308d-

[2015-08-31 19:30] flukeout opened #996 "Fix up titles on Homepage so they all fit on one line."
On Firefox, the 3rd title takes up two lines...

![image](https://cloud.githubusercontent.com/assets/25212/9588259/1d594a22-4fdc-11e5-9186-83d116c2dec3.png)

[2015-08-31 19:34] #993 closed

[2015-08-31 19:38] jgmac1106 opened #997 "Getting an error message on old thimble"
When you click remix or try to edit an existing make you get this error (as well as a snazzy visual metaphor of an unfinished logo...pretty neat) 500: TypeError: Object [object Promise] has no method 'success'

[2015-08-31 19:46] flukeout commented on #951
I've removed the yellow banners from the teaching kits. We need to figure out how to address absolutely positioned elements like this in the future, however.

[2015-08-31 19:46] #951 closed

[2015-08-31 19:50] humphd commented on #997
cc @cadecairos, @jbuck

[2015-08-31 19:52] flukeout opened #998 "Fix up footer rendering between Chrome & FF"
Firefox
![image](https://cloud.githubusercontent.com/assets/25212/9588796/fbf12f46-4fde-11e5-9c89-5c5daabf2922.png)

Chrome
![image](https://cloud.githubusercontent.com/assets/25212/9588800/05064fb2-4fdf-11e5-9a36-bcaa1dd0af74.png)

The dark green box height isn't consistent.

[2015-08-31 20:10] gideonthomas commented on #995
cc @cadecairos @jbuck

[2015-08-31 20:11] gideonthomas commented on #986
@Pomax do you have a suggestion for how to solve this? We kinda have the same issue with a couple of different pieces of info that we need to share between browsers, but we're not sure how to approach the problem!

[2015-08-31 20:12] jbuck commented on #995
This is https://github.com/mozilla/id.webmaker.org/issues/364

[2015-08-31 20:24] #991 closed

[2015-08-31 20:30] jbuck commented on #997
Fixed

[2015-08-31 20:30] #997 closed

[2015-08-31 20:32] flukeout commented on #868
Closing this pre-launch checklist, will move to new, separate issues.

[2015-08-31 20:32] #868 closed

[2015-08-31 20:50] Pomax opened #1001 "The delete button is scary, because I don't know what it'll do"
Creating a project creates a new thimble project, editing files autosaves my project, publishing a project takes what I've written and puts it on the web.

However, deleting does not seem to be this granular, so I'm afraid to press the delete button. Is it going to delete my project _and_ my web-published data? Will I be asked which of the two, or both, I want deleted?

The delete button is scary.

[2015-08-31 21:03] Kersheh opened #1002 "Cannot reorganize file hierarchy"
I created a folder and titled it images to upload a simple background image. Upon upload I noticed I cannot drag and drop the png into the images folder. Right-clicking the png also only gives me the options for New File, New Folder, Rename, and Delete.

[2015-08-31 22:25] flukeout opened #1004 "Green in the video intro and closing screen is too warm."
See here...
![image](https://cloud.githubusercontent.com/assets/25212/9592015/8ab0f530-4ff4-11e5-8767-62bc125f63a9.png)

[2015-08-31 22:28] flukeout opened #1005 "Fix ugly shadow element placeholders on Homepage when refreshing."
See the weird grey shape below?

![shadows](https://cloud.githubusercontent.com/assets/25212/9592056/dc962744-4ff4-11e5-872f-c7d2a5874cf0.gif)

[2015-08-31 22:54] flukeout opened #1007 "Support absolute paths to resources in the filesystem"
![error](https://cloud.githubusercontent.com/assets/25212/9592520/9ae1bdc8-4ff8-11e5-9500-018ff23dcfd2.gif)

[2015-08-31 23:04] flukeout commented on #1007
So it turns out that having this code in the stylesheet breaks things..
`` background: url(/img/pencil-icon.svg);``

It complains about paths needing to be absolute...

![image](https://cloud.githubusercontent.com/assets/25212/9592611/92866d62-4ff9-11e5-8810-18945d4eb30e.png)

Losing work seems to be related to the editor not auto-saving once it's in this state.

[2015-08-31 23:17] flukeout opened #1008 "Calc CSS rule not working in published project, but working in Preview."
Rule in question is `` top: calc(50% - 50px);`` and puts the pencil halfway down the page vertically. Works fine in the preview, but not on a published project, where it seems to have no effect.

Might this be related to the cleanslate CSS somehow?

**Preview**

![image](https://cloud.githubusercontent.com/assets/25212/9592807/a28ec720-4ffb-11e5-9999-495b0fef43e2.png)

**Published project**

![ima

[2015-08-31 23:21] hannahkane commented on #567
This is done, though I'll likely add more in the next few days based on Dave's "Using Thimble" doc

[2015-08-31 23:21] #567 closed

[2015-08-31 23:38] #1008 closed

[2015-08-31 23:39] flukeout opened #1009 "Add favicon to published projects."
Right now, we don't.

![image](https://cloud.githubusercontent.com/assets/25212/9593036/bfb045ba-4ffe-11e5-91cf-00975598c31c.png)

[2015-09-01 00:34] flukeout opened #1010 "Editor and preview often seem slightly mis-aligned with their headers."
![image](https://cloud.githubusercontent.com/assets/25212/9593682/7f2e6c44-5006-11e5-8cd6-3c47e2ca55f5.png)

[2015-09-01 02:00] humphd commented on #1007
Try dropping the initial `/` in the path, so ti's relative vs. absolute.

[2015-09-01 02:25] humphd opened #1011 "[crash] thimble.mozilla.org crash SyntaxError: Unexpected token <"
@gideonthomas, can you look at this? From Heroku logs on thimble.mozilla.org

[code]

The app also didn't self restart, which would be something nice to have (cc @jbuck).

[2015-09-01 02:25] humphd commented on #1011
@sedge is manually restarting the prod app now.

[2015-09-01 02:30] humphd commented on #1011
@gideonthomas it might be good to audit all the routes, and harden them against bad data taking the whole process down.  We should never crash on bad data, undefined, etc.

[2015-09-01 02:57] humphd commented on #1011
It's a `JSON.parse()` that's crashing us.  Every `JSON.parse()` that isn't wrapped in a `try...catch` is a timebomb waiting to go off.

Find them all via:

[code]

And let's get them wrapped and returning `500`s instead of crashing

[2015-09-01 11:06] adamlofting opened #1012 "Use Universal Analytics version of GA"
We're using the latest version of GA across our projects now, so need to update the tracking code here: `public/homepage/scripts/google-analytics.js`

I'll work on a PR for this now.

[2015-09-01 11:12] adamlofting commented on #749
No, we don't need to set the domain, as the new version of the GA tracking deals with that out of the box. I've filed a new ticked and PR to upgrade to the newer version of the GA code:

https://github.com/mozilla/thimble.webmaker.org/issues/1012

Also, I'll close this ticket as that .env var is set correctly.

[2015-09-01 11:12] #749 closed

[2015-09-01 12:19] raphaelbastide commented on #995
Same here.

[2015-09-01 14:29] gideonthomas commented on #1011
Will do! That's weird that it received such a response from publish though! We'll need to investigate that!

[2015-09-01 15:05] gideonthomas opened #1014 "Switch over to promises"
I was initially very apprehensive about using promises but I'm starting to find issues with the callback system that are making the code messy. Using callbacks lets us mix async and sync code in the same module making it look very different.

For e.g.:
I wanted to create a utility function that would "safely" parse JSON data (log if it fails instead of throwing). The goal was to avoid doing ```js

[2015-09-01 15:16] #998 closed

[2015-09-01 15:26] jbuck commented on #1011
@humphd Heroku will [restart](https://devcenter.heroku.com/articles/dynos#restarting) the process automatically once, but if it crashes again it'll delay the restart by 10 minutes and scale that cooldown time up as more crashes happen:

[2015-09-01 16:06] #1010 closed

[2015-09-01 16:14] gideonthomas commented on #1001
This is a great question! How do we indicate to users that once they delete a project, the published version also vanishes?

cc @flukeout

[2015-09-01 16:43] #1011 closed

[2015-09-01 17:13] gideonthomas commented on #1007
Hmm but the not saving is kinda bad! It seems like brackets does not write to disk if it encounters an error?

[2015-09-01 17:19] gideonthomas commented on #1012
Fixed in 9fbcb0cfb44981fc635a0ab036520a7cac1d7a1f
Thanks @adamlofting!

[2015-09-01 17:19] #1012 closed

[2015-09-01 17:36] #921 closed

[2015-09-01 17:37] #677 closed

[2015-09-01 17:38] flannelhead opened #1019 "Use 'monospace' as a fallback before 'fixed'"
On my Linux system, the X11 [Fixed](https://en.wikipedia.org/wiki/Fixed_%28typeface%29) bitmap font gets selected as the font for the editor. This is caused by the `.CodeMirror` element having a `font-family` with `fixed` as the last fallback font. A standard alias for the default monospace font (at least on Linux systems) is `monospace`, which normally points to some antialiased font (see `fc-mat

[2015-09-01 17:40] flukeout commented on #1019
Thanks @flannelhead - can you paste in a screenshot of what you're seeing?

[2015-09-01 17:41] gideonthomas commented on #895
Closing this to continue the conversation in https://github.com/mozilla/thimble.webmaker.org/issues/931

[2015-09-01 17:41] #895 closed

[2015-09-01 17:44] #996 closed

[2015-09-01 17:45] flukeout commented on #877
Done!

[2015-09-01 17:45] #877 closed

[2015-09-01 17:47] gideonthomas commented on #872
Fixed in 560ce720d8d3e9873ccc4951605edf0e2284c0ef

[2015-09-01 17:47] #872 closed

[2015-09-01 17:47] flukeout commented on #952
Fixed

[2015-09-01 17:47] #952 closed

[2015-09-01 18:18] jbuck commented on #995
Okay, this is fixed on staging, pushing the fix up to production

[2015-09-01 18:19] flukeout commented on #858
Done!

[2015-09-01 18:19] #858 closed

[2015-09-01 18:20] flukeout commented on #857
Fixed!

[2015-09-01 18:20] #857 closed

[2015-09-01 18:22] flukeout commented on #856
Not easily - each theme is a separate stylesheet. Perhaps we can add a third stylesheet that just specifies the transition. I wonder if that could work.

[2015-09-01 18:22] flukeout commented on #947
Fixed in pending PR

[2015-09-01 18:22] #947 closed

[2015-09-01 18:25] jbuck commented on #995
All fixed up. Thanks for reporting this bug @jbflowers and @raphaelbastide !

[2015-09-01 18:25] flukeout commented on #668
Seems fine now.

[2015-09-01 18:25] #668 closed

[2015-09-01 18:26] #995 closed

[2015-09-01 18:34] #946 closed

[2015-09-01 18:57] flukeout commented on #974
@humphd What do you mean? If the content is taller than the phone, you don't want it to scroll?

[2015-09-01 18:59] flannelhead commented on #1019
Sure.
This is what I see before any modifications:
![2015-09-01-215712_1366x768_scrot](https://cloud.githubusercontent.com/assets/5001906/9613514/7cf3d81c-50f4-11e5-8f4f-219798798bc2.png)
After adding `monospace` before `fixed` to the `font-family` list:
![2015-09-01-215645_1366x768_scrot](https://cloud.githubusercontent.com/assets/5001906/9613525/902d8ed2-50f4-11e5-9bd4-cee4f44cfa38.png)
The seco

[2015-09-01 19:02] Pomax commented on #985
Never let "effective" get in the way of "making things more effective". Especially for accessibility purposes (think population cross sections in the classroom), not everyone can even see the contrast difference that happens when you click publish. Prevent people from trying to even click a second time before they notice the flashing is probably worth looking at. (A notice that actually has the te

[2015-09-01 19:09] gideonthomas commented on #602
Closing and continuing discussion [here](https://github.com/mozilla/thimble.webmaker.org/issues/702)

[2015-09-01 19:09] #602 closed

[2015-09-01 19:11] err0 opened #1021 "404 page has broken images"
poking around it looks like the 404 page has broken images: https://d157rqmxrxj6ey.cloudfront.net/

<img width="170" alt="Thimble by mozilla" src="https://thimble-beta.webmaker.org/img/thimble-logo.svg">
should be
<img width="170" alt="Thimble by mozilla" src="https://thimble.webmaker.org/img/thimble-logo.svg">

[2015-09-01 19:11] gideonthomas commented on #892
See https://github.com/mozilla/thimble.webmaker.org/issues/574

[2015-09-01 19:19] gideonthomas commented on #546
This is no longer an issue

[2015-09-01 19:19] #546 closed

[2015-09-01 19:20] gideonthomas commented on #542
See https://github.com/mozilla/thimble.webmaker.org/issues/475 for localization issues

[2015-09-01 19:20] #542 closed

[2015-09-01 19:24] gideonthomas commented on #1021
@flukeout can you take a look at this? It seems like with the domain switch, all the `thimble-beta` urls are now broken. The fix would be to change them to `thimble.mozilla.org`

[2015-09-01 19:40] flukeout commented on #931
Fixed

[2015-09-01 19:40] #931 closed

[2015-09-01 19:40] hannahkane commented on #984
@chadsansing - can I assign this to you?

[2015-09-01 19:44] flukeout commented on #746
Fixed

[2015-09-01 19:44] #746 closed

[2015-09-01 19:45] chadsansing commented on #984
@hannahkane - yes; I can do this soon.

[2015-09-01 19:45] flukeout commented on #847
Done!

[2015-09-01 19:45] #847 closed

[2015-09-01 19:46] flukeout commented on #835
Me neither.

[2015-09-01 19:46] #835 closed

[2015-09-01 19:48] flukeout commented on #771
Fixed!

[2015-09-01 19:48] #771 closed

[2015-09-01 19:52] gideonthomas commented on #1021
I can probably fix this

[2015-09-01 19:52] hannahkane opened #1022 "Get analytics for first week of new Thimble"
@adamlofting - can you please grant me access?

[2015-09-01 19:53] gideonthomas commented on #574
continuing discussion in https://github.com/mozilla/thimble.webmaker.org/issues/892

[2015-09-01 19:53] #574 closed

[2015-09-01 19:59] gideonthomas opened #1023 "You should be able to Drag 'n Drop into a folder vs. the root of the file tree"
Taken from https://github.com/mozilla/thimble.webmaker.org/issues/1002

When we dnd anything into the file tree, it is put directly into the project root. However, we should also support dnding into a folder that is visible in the file tree

[2015-09-01 20:00] gideonthomas commented on #1002
This issue is now morphed into dragging around folders in your file tree to re-arrange them. This means allowing users to move folders into folders, files into folders, etc.

[2015-09-01 20:03] gideonthomas commented on #986
Going to change the issue title to reflect - sharing prefs between browsers.
Remembering theme prefs in the same browser is filed [here](https://github.com/mozilla/thimble.webmaker.org/issues/975)

[2015-09-01 20:26] gideonthomas commented on #1021
@sedge (once you're back) or @jbuck I don't have permissions to edit the 404 page, would one of you be able to make the change?

[2015-09-01 20:30] humphd commented on #1002
I wonder if we should try https://github.com/torinpascal/brackets-duplicate-extension

[2015-09-01 20:40] flukeout opened #1024 "Explore UX options for moving files between folders."

[2015-09-01 20:45] flukeout opened #1025 "Explore & ideate on social features in Thimble."
There are lot of opportunities to make Thimble more social...
* Comments on published Thimble projects
* Favorites
* User profiles with projects
* Browsable Remix history from within a Published project
  * Like Remix tennis or something like that
* Notifications for authors on how many time something they made was remixed, and links to see it
* Stats! How many times was my project viewed.
• Scree

[2015-09-01 22:47] jbuck commented on #1021
@gideonthomas Okay, fixed!

[2015-09-01 22:47] #1021 closed

[2015-09-01 23:16] flukeout commented on #1001
You're scary, @Pomax

We could indicate it in the javascript confirm for now. "Are you sure? The published version will be deleted also." ... or something to that effect. Down the road I think we want something nicer UI and UX so we can revisit it.

[2015-09-02 00:25] jgmac1106 commented on #1025
In old Thimble you had to chase back the remix trail. There would be a link
over a user profile pic that brought you back to that make. You can follow
this make back to degrees to get to original:
https://jgmac1106.makes.org/thimble/LTU5NjE4MDQ4MA==/zoe-sheri-and-ariels-comic-strip

As I had said earlier I think a cool feature would be having a Thimble
Discourse or a category in TLM's Discourse ju

[2015-09-02 01:06] humphd commented on #1019
Thanks for filing.  I've patched Brackets in https://github.com/humphd/brackets/pull/453

[2015-09-02 01:14] humphd opened #1026 "Explore ways to auto-include common JS libs, CSS frameworks, etc."
From https://news.ycombinator.com/item?id=10154418

<blockquote>This is pretty awesome though I would like to see the ability to pull in JS and CSS libraries and frameworks into a project. This could gear some tutorials around certain technologies.</blockquote>

I agree, I'd love that too.  Needs UX.

[2015-09-02 01:35] humphd commented on #1023
This is in Bracket's "IceBox" https://trello.com/c/xwNIcxO6/347-drag-drop-from-os-to-file-tree-copy-move-file btw

[2015-09-02 01:35] humphd commented on #1009
http://stackoverflow.com/questions/28594514/favicon-for-amazon-s3-bucket

[2015-09-02 01:37] humphd commented on #986
Personally, I'd WONTFIX this.  You're going to need to implement 2-way browser sync for this to work properly.  Like @Pomax, I'd like this as a power user; but I can't imagine our core users needing it.

[2015-09-02 01:44] jgmac1106 commented on #1025
I left this in a comment on another issue when @hannahkane was asking about wireframes for the member directory pages on teach.mozilla.org. Is there a way a club could maintain their directory in Thimble and have an API push it to the teach site?

That's probably fraught with security issues but just trying to think about ways to build in social into the community as well as code. We should develo

[2015-09-02 01:46] humphd commented on #974
I think the phone needs to be stationary, and we shouldn't have 2 scroll bars that depend on focus (on OS X it's really bad, because it means you have to click to get this right).

![scrollbar-bug](https://cloud.githubusercontent.com/assets/427398/9621298/e64d3364-50f2-11e5-8bf8-bc80d193da4d.gif)

[2015-09-02 04:08] windinsky opened #1027 "Can we have less.js support?"
it's so common you know~

[2015-09-02 04:49] c0nfused opened #1028 "Custom [sub]domains"
Would like an option to create an A or CNAME DNS record for a custom url when publishing projects. Similar to how GitHub Pages works would be fantastic!

[2015-09-02 07:36] pditommaso opened #1029 "Create a new Thimble project starting from an existing Github repository"
Thimble is awesome however is extremely unpractical having to upload files from the local computer, specially for projects with many files.

It would be spectacularly useful the ability to create a new project starting from an existing Github repository.

[2015-09-02 08:39] adamlofting commented on #1022
I will do asap, but we've not been collecting any data yet (the domain name changed and GA was setup to look for traffic to thimble.*webmaker*.org).

Once the GA account is updated (bug below) and I have further permissions, I can share access with the team.
https://bugzilla.mozilla.org/show_bug.cgi?id=1200562

Can we start a list in this ticket of who would like access (they have to have a mofo e

[2015-09-02 10:36] jgmac1106 commented on #1029
If you can pull this off it will be amazing. I started last night trying to
get website templates from git to Thimble for my classes. Downloaded and
expanded the zip files now I need to upload.

On Wed, Sep 2, 2015, 3:36 AM Paolo Di Tommaso <notifications@github.com>
wrote:

[2015-09-02 13:11] chadsansing commented on #984
Done.

![postcard1](https://cloud.githubusercontent.com/assets/4128600/9632010/82ff5368-5152-11e5-8280-4ed736663399.png)

[2015-09-02 13:18] jgmac1106 opened #1030 "Is using the same email address multiple times a violation of ToS or privacy"
I have had some teachers ask how to sign up for Thimble if there students do not have email addresses. I want to suggest using their own gmail account and adding name+(n+1) for every student.

Before I did a write up on how to use this strategy I wanted to make sure it was in compliance.

[2015-09-02 13:27] humphd commented on #1029
Yeah, it's an interesting idea.  Until then, you can do the following right now:

![import-from-github](https://cloud.githubusercontent.com/assets/427398/9632345/9f2be1d0-5154-11e5-8f44-703eea9009e0.gif)

You can also select multiple files at once and drag them in, if you don't have a zip file.  The only thing you can't do is drag a folder in--browsers won't allow this.  But if you zip it all up,

[2015-09-02 13:32] humphd commented on #1027
Are you thinking in terms of syntax highlighting, automatic .less -> .css compilation, or something else?  We actually have all that code in the editor, we just haven't turned it on at the moment.

[2015-09-02 13:33] humphd commented on #1028
It's an interesting idea, thanks for suggesting it.

cc @simonwex, @davidascher, @jbuck

[2015-09-02 13:39] jgmac1106 commented on #1029
So cool!

On Wed, Sep 2, 2015 at 9:27 AM David Humphrey <notifications@github.com>
wrote:

[2015-09-02 13:55] jbuck commented on #1028
This would be cool, but how would we do SSL?

[2015-09-02 14:28] #1019 closed

[2015-09-02 14:30] m-hasan-ahmed opened #1031 "Unable to Remix or Start a new Project without Logging-in or Signing-up on Thimble website"
If a user does not Log-in or Sign-up on the [Thimble](https://thimble.mozilla.org/) website, he/she cannot Remix any of the projects provided on the Thimble homepage or "Start a project from scratch".

When I tried to remix all those projects without signing-in first, it went to a new empty page where the thimble icon in the middle of the page just kept loading forever, as shown below:

![thimble

[2015-09-02 14:34] humphd commented on #1031
This is interesting, thanks for filing.  Can I ask, when you try to remix and are *not* signed in, what do you see on the web console?  Are there any error messages showing?

We've had word of similar issues for a few people in Firefox, but can't reproduce this, so having your help to track it down would be great.  Also, which version of Firefox are you running?

[2015-09-02 14:46] humphd commented on #1019
@flannelhead I pushed my fix to our staging server, if you want to take it for a spin:

https://bramble.mofostaging.net/

[2015-09-02 14:53] m-hasan-ahmed commented on #1031
I am using latest Firefox 40.0.3 on Windows 8.1.

[2015-09-02 14:55] m-hasan-ahmed commented on #1031
**1) Web Console on "Start a project from scratch" page:**

Filer error:  Object { name: "EINVAL", code: "EINVAL", errno: 18, message: "IndexedDB cannot be accessed. If pr…", stack: "e@https://mozillathimblelivepreview…" } bramble.js:3:4004

[Bramble] Failed to load Project state, with Object { name: "EFILESYSTEMERROR", code: "EFILESYSTEMERROR", errno: 1001, message: "unknown error", stack: "e@htt

[2015-09-02 14:55] m-hasan-ahmed commented on #1031
**2) Web Console on "Remixing the 'Keep Calm' project" page:**

InvalidStateError bramble.js:3:0
Filer error:  Object { name: "EINVAL", code: "EINVAL", errno: 18, message: "IndexedDB cannot be accessed. If pr…", stack: "e@https://mozillathimblelivepreview…" } bramble.js:3:4004

[Bramble] Failed to load Project state, with Object { name: "EFILESYSTEMERROR", code: "EFILESYSTEMERROR", errno: 1001, me

[2015-09-02 15:03] mejackreed opened #1032 "Allow users to access browser console"
When teaching new JavaScript students, using the console to debug is a basic tool that should be taught. Could thimble be modified to allow console access to global JavaScript scope?

[2015-09-02 15:08] humphd commented on #1031
This looks like https://bugzilla.mozilla.org/show_bug.cgi?id=944918 to me.

[2015-09-02 15:18] humphd commented on #1032
We've talked about it (see https://github.com/mozilla/thimble.webmaker.org/issues/427), and I've started a patch to make it possible.

For now you can experiment by adding this code to your `index.html`:

[code]

[2015-09-02 15:22] mejackreed commented on #1032
Great thanks! :smile_cat:

[2015-09-02 15:33] m-hasan-ahmed commented on #1031
Update: Forgot to mention that for me, this issue is occurring while using Firefox in Private Browsing Mode.

Working fine in a normal Firefox session using **Options** -> **Privacy** panel -> **Remember History** setting.

[2015-09-02 15:42] gideonthomas opened #1033 "Investigate frequent crashes due to publish.wm.org sending html vs. JSON"
We have gotten into this a couple of times now where the express app crashes because `JSON.parse` fails. We have a fix in that surrounds every `JSON.parse` with a try/catch so that we don't crash.

However, the issue still remains that we shouldn't be failing to `JSON.parse` anything. We get an error resembling this:
[code]

Seems like publish.webmaker.org is somehow sending us HTML (probably due

[2015-09-02 15:44] gideonthomas commented on #1026
cc @flukeout

[2015-09-02 15:59] m-hasan-ahmed commented on #1031
Facing the same issues as described above on latest Firefox 40.0.3 on Android Kit Kat 4.4.4 as well.

[2015-09-02 16:01] humphd commented on #1033
cc @ashleygwilliams, @jbuck

As @jbuck said, it's probably the Heroku 500 HTML page being sent back.  Do we have a crash stack for Publish?

[2015-09-02 16:13] gideonthomas commented on #1033
It doesn't seem like publish is "crashing" per se because we haven't restarted it when this happens.

[2015-09-02 16:14] humphd commented on #1033
Jon said that heroku will automatically restart an app on crash.

On Sep 2, 2015 12:13 PM, Gideon Thomas <notifications@github.com> wrote:

It doesn't seem like publish is "crashing" per se because we haven't restarted it when this happens.

—
Reply to this email directly or view it on GitHub<https://github.com/mozilla/thimble.webmaker.org/issues/1033#issuecomment-137148346>.

[2015-09-02 16:30] adamlofting commented on #1022
GA is wired up correctly and collecting data now. :+1:

Anyone else who needs access can ping me and I'll add them.

[2015-09-02 16:30] #1022 closed

[2015-09-02 17:51] humphd opened #1035 "/dist/main.js not being built properly, expanded src also being served"
In production, we're supposed to load just one JS file for our require.js modules:

https://github.com/mozilla/thimble.webmaker.org/blob/bramble/routes/main/editor.js#L65

We have confirmed that we are building that file, and that we have the env set correctly.  However, we are still triggering a download of the other expanded src files.

[2015-09-02 18:12] humphd commented on #984
Can we close this now?

[2015-09-02 18:12] #984 closed

[2015-09-02 18:12] humphd commented on #1031
If you're in private browsing mode, that makes sense.  I think Firefox disallows JS to touch the db in that case.

[2015-09-02 18:22] humphd commented on #1035
@jrburke, I'm running up against my own ignorance trying to get our Thimble app's requirejs build working.  If you have a moment, I could use a pointer on how to fix things--I'm sure it's me doing things incorrectly.

I have a build step:

https://github.com/mozilla/thimble.webmaker.org/blob/bramble/Gruntfile.js#L33-L67

And it's building `main.js`:

https://github.com/mozilla/thimble.webmaker.org

[2015-09-02 18:38] hannahkane commented on #1022
Thanks, @adamlofting.

@HPaulJohnson - wondering if you'd want to see Thimble analytics?

[2015-09-02 18:40] humphd commented on #1031
https://bugzilla.mozilla.org/show_bug.cgi?id=781982

[2015-09-02 18:42] jrburke commented on #1035
By default, nested require([]) calls are not scanned for concatenation as they are assumed to be dynamic things that should be loaded on demand. Two options:

1) set [findNestedDependencies: true](https://github.com/jrburke/r.js/blob/2fdfddd959f371b775027c0145b00aed334a58f6/build/example.build.js#L339) in the build config. However, if you do have other nested require([]) calls in the files that wi

[2015-09-02 18:54] humphd commented on #1022
@jbuck also has some pretty incredible server graphs of the amount of traffic and data we've pushed this week.  It's epic.

[2015-09-02 19:58] flannelhead commented on #1019
Thank you for the fix, it now works as expected :)

[2015-09-02 22:55] hannahkane commented on #1025
Just wanted to remind ppl of the Thimble Roadmap: http://bit.ly/1Q9yokU

Many of the features above are on it, grouped into thematic releases. Would love feedback on that document.

[2015-09-02 23:08] hannahkane commented on #1025
/cc @ldecoursy re: @jgmac1106's idea above about a Thimble-specific thread in Discourse

@jgmac1106 - I really like the idea of making the projects on the profile curate-able. I added that to the roadmap (in the "related work on teach.mozilla.org" section of v2.2)

Still a bit confused about the "Club directory." Not sure we're talking about the same thing. When I talk about the "Directory," I mea

[2015-09-03 05:02] okaiji opened #1038 "Is user account on thimble on *.webmaker.org migrated to *.mozilla.org?"
Will bramble migrate previous users (including Mozilla Persona)?
Previously, Mozilla Persona is provided as a choice to sign-up, in the previous version of thimble.

[2015-09-03 11:31] jgmac1106 commented on #1025
@hannahkane Just because I wrote it does not make it a good idea. O nly get two of those a month. I will go hunt down your original ticket in the other repo.

[2015-09-03 13:23] humphd opened #1039 "Explore sending DIFFs vs. complete files"
@jbuck was showing us some graphs of traffic the other day, and there's a lot of data going over the wire.  I'd be interested to figure out if it's worth altering how we send data from the browser to Thimble/Publish when we save files.

Right now we autosave the files every ~5s (when dirty) into the filesystem, and then do a POST with the complete file.  Files that don't change often won't get sen

[2015-09-03 14:35] gideonthomas commented on #1035
Fixed in abb627e0a29c3776f900134384858eb354db1fb7

[2015-09-03 14:35] #1035 closed

[2015-09-03 15:28] hannahkane commented on #1030
This is not a violation of our ToS, though please know that, according to our terms, Webmaker accounts are not available to users under the age of 13, and users between 13 and 17 can only create accounts with parental consent and supervision.

Closing this for now. Feel free to get in touch if you have more questions about this.

[2015-09-03 15:28] #1030 closed

[2015-09-03 16:39] jbuck commented on #1038
@okaiji Yep! Just sign in using the same email address

[2015-09-03 16:55] bonyboy commented on #1023
If we can't create custom folders, would it be possible to preload the session with some popular folders (js, css)?

[2015-09-03 17:01] humphd commented on #1023
You can create custom folders, and put files in them. Just right-click, "New Folder" and then right click on the folder to put a new file in there.  Not as good as it could be, but it will all work.

[2015-09-03 17:34] humphd commented on #1035
@jrburke, as usual, you're a hero.  Thanks wasting your time on this, it's really appreciated!

[2015-09-03 17:34] cathyatseneca opened #1040 "Remix Bug"
When you make your own project and publish it, the remix button changes the index.html back to the default index.html content.

https://d157rqmxrxj6ey.cloudfront.net/umleung/3508/

[2015-09-03 17:35] humphd commented on #1040
@cathyatseneca, can you get me some more idea on what you did, and what you're expecting?  That page you link to isn't the default page for me.  I wonder if you got a caching issue?

[2015-09-03 17:57] #1031 closed

[2015-09-03 18:05] cathyatseneca commented on #1040
My index.html should have had:

<!DOCTYPE html>
<html>
<head>
  <script src="p5.min.js"></script>
  <script src="tree.js"></script>
</head>
<body>
<h1>
  Hi
  </h1>
</body>
</html>

[2015-09-03 18:07] humphd commented on #1040
This is only happening on production, it seems.

[2015-09-03 18:11] humphd commented on #1040
https://d157rqmxrxj6ey.cloudfront.net/humphd/3640/ is me remixing, pasting in the proper HTML, it worked for me.  So this isn't all the time:

https://d157rqmxrxj6ey.cloudfront.net/humphd/3640/

[2015-09-03 18:57] bonyboy commented on #1023
Ah! I see that now, thanks.  Would it be possible to add that to the (+) dropdown?  I doubt I'll forget it now, but for someone coming in new, having 2 ways to create files/folders that don't offer the same options might be confusing?

[2015-09-03 20:18] gideonthomas opened #1041 "Bundle the homepage to serve one js file"
When we serve the homepage, we make multiple requests to get main.js, uuid.js, cookie.js...
We should build them into one main.js file and serve that instead

[2015-09-04 01:27] sedge commented on #1033
@gideonthomas It should be pretty easy to see if Publish is crashing. The `papertrail` heroku addon we have lets you search all the logs.

[2015-09-04 11:20] borisrorsvort commented on #1002
:+1:  :tada:

[2015-09-04 18:31] secretrobotron opened #1042 "Can't delete non-empty folder"
Expected non-cli filesystem usage: folders should delete whether or not they have stuff inside them.

[2015-09-04 18:35] secretrobotron opened #1043 "Imported Webmaker projects don't render properly, CSS style attributes parsed incorrectly."
A webmaker project (e.g. https://beta.webmaker.org/#/project?user=488656&project=24202) and uploaded to thimble won't render properly. It looks like css files are always missing (main.css).

[2015-09-04 18:36] humphd commented on #1042
Interesting.  We can easily make it work that way.  I wonder if that's what people would expect?

cc @xmatthewx, @flukeout

[2015-09-04 18:37] humphd commented on #1043
How do I get that app's content so I can try uploading and debug?

[2015-09-04 18:38] secretrobotron commented on #1043
I just Command+S in Chrome to save the page locally (which renders fine). Then, zip (lol), and upload.

[2015-09-04 18:39] secretrobotron commented on #1042
That's what I'd expect from the Finder, or even Sublime.

[2015-09-04 18:48] humphd commented on #1043
I think it's messing up Bracket's DOM instrumentation, see how the `style` attribute is HTML (this is from inspecting the live preview's dom)?

[code]

[2015-09-04 18:50] humphd commented on #1043
My guess is that this will also break Brackets on Desktop.  I'll test that next week and see, in which case it should get filed upstream.

[2015-09-05 16:34] LauraReynal opened #1044 "Preview and tutorial pages merging"
If using safari, the preview and tutorial pages got merged and we could no longer access preview

[2015-09-05 16:34] LauraReynal opened #1045 "Inserting image links between 2 quotemarks was not very easy"
cc @Saallen can provide details if needed

[2015-09-05 16:36] LauraReynal opened #1046 "Command + E does not work everywhere"
When teaching with Thimble today, we would tell the learners to click on cmd+E to edit something.
But this was not effective all the time, for example, it works for changing colors but it does not work for changing fonts.

=> Is there anyway to know when it is implemented or not?

[2015-09-05 16:38] humphd commented on #1044
Indeed, we don't currently work well in Safari (or IE), and it's high on our priority list to fix it.  I'm going to dupe this on #892.  I really want it to work everywhere.

[2015-09-05 16:38] #1044 closed

[2015-09-05 16:39] LauraReynal opened #1047 "Changing fonts is difficult"
When remixing Keep Calm and carry on, we wanted to change a font.
- Go into style CSS
- Click on the font
- do Cmd+E

there is no option to change
- Clicks on Cmd+K
- Reads text

Tries to replace Calibri and other things by Comic Sans for example. not working

==> What is the correct process?

[2015-09-05 16:39] humphd commented on #1046
Fascinating idea, to have it work with fonts too (cc @Pomax).  I have also wondered about how to surface info to the user that there is the potential to use an editor, get docs, etc.  This is something we need to figure out for sure.  cc @flukeout

[2015-09-05 17:07] LauraReynal opened #1048 "cmd + K Gives you information about an element, but you actually expect some tips"
When using Thimble, you end-up doing cmd+K when you are lost and looking for an advice.
What happens is that the text displayed does not really help you. It tells you what is a class, what is XYZ, but it does not tell you HOW to change it.

It's informative, but today we were 4 mentors, and we did not find answers in cmd+K.

It would be awesome to revisit it and have some tips for example:
- You a

[2015-09-05 17:09] LauraReynal opened #1049 "Suggestion for the website: put "Remix this project" as the main CTA"
Today, we had about 10 learners using Thimble. We loaded the Website, and the first thing you see is start from scratch. Then everyone is blocked and wondering what to do on the blank page.
You actually need to scroll down to Remix a project, which means that some kids did not see it was possible.

We would suggest to reverse this order to have the main CTA to be "Remix" instead of start from scra

[2015-09-05 20:17] jgmac1106 opened #1050 "Migrate most popular thimble.webmaker makes to thimble.mozilla projects"
After reading @LauraReynal 's and @Saallen notes from using Thimble today it made me think we may want to move over the ten or so most popular makes from old Thimble.

I remember @adamlofting publishing a list somewhere of the popular makes.

[2015-09-06 14:40] humphd commented on #489
https://twitter.com/thefooshshow/status/640515407103848448 is an interaction I had with a user today.  It's really hard for people to understand why a link that works would just not work all of a sudden, and all the ways you could make something that is in secure become secure (CDN, upload to filesystem, ...).

[2015-09-06 15:53] gideonthomas opened #1051 "Unable to publish when you reload the page"
STR:
* Open a project
* Publish it
* Make some changes (and wait till it saves)
* Click on the Publish button at the top and the dialog says that you need to "Update published version" (don't click the button)
* Refresh the page
* Click on the Publish button at the top and you no longer see "Update published version". In fact, the only way to publish your changes is to unpublish an re-publish agai

[2015-09-06 17:14] TheFoosh opened #1052 "JavaScript link not working: injected base URL makes history API use cross-origin URLs"
I tried to move a simple but working jQueryMobile app from the old Thimble to the new. It does not work in the new environment Preview mode(s), but works after Publishing. Instructions to reproduce the problem follow the link to a working example and the source code:

Link to working example
https://foosh.makes.org/thimble/LTE1OTQ0ODU3Ng==/made-with-thimble-and-jquerymobile
Source:
<!DOCTYPE html>

[2015-09-06 17:41] humphd opened #1053 "UI randomly broken on startup"
I've seen a few screenshots from users, and also experienced this myself.  I suspect it's a combo of restoring state from `localStorage` and just bad CSS in our front end.  A refresh fixed it for me.

![screenshot 2015-09-06 13 38 43](https://cloud.githubusercontent.com/assets/427398/9705747/e9fd12b0-549c-11e5-8fad-be5cc1e691d3.png)

cc @flukeout

[2015-09-06 17:47] jgmac1106 commented on #1052
My tech knowledge is very limited but I would run across many examples in
old Thimble that would not display in preview until I published. I think it
happened most often when animating CSS (I have no idea how to use jQuery).
On Sun, Sep 6, 2015 at 1:14 PM Richard Fouchaux <notifications@github.com>
wrote:

[2015-09-06 17:47] humphd commented on #1052
This is a tricky one.  What's happening here is that jQuery Mobile is trying set navigation history for the preview page, which lives on a Blob URL, but we dynamically inject a `base` element to allow protocol-less URLs to work, making the URL they are pushing cross-origin, and a security violation.  On the console I see:

[code]
Fixing this requires breaking support for protocol-less URLs, or fix

[2015-09-06 18:01] humphd commented on #1052
This is a documented problem on the jquery mobile site, it seems.  I was able to fix it by adding a small script just below your inclusion of jquery mobile in the `head`, like this:

[code]

[2015-09-06 18:02] humphd commented on #1052
It's annoying but not something we can really fix.  Thanks for filing this, I wanted to make sure we didn't have a bug I could correct.  Let us know if you hit other issues.

[2015-09-06 18:02] #1052 closed

[2015-09-07 19:40] sedge commented on #1041
This is all set up in [the](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/Gruntfile.js#L187-L213) [gruntfile](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/Gruntfile.js#L159-L174). All you need is to specify an entry point and it should be easy to get going.

[2015-09-07 19:41] sedge opened #1054 "Default to the Tutorial view if a tutorial.html file is present"
I've seen people get confused by the `tutorial.html` file, and sometimes miss the tutorial completely. It might make sense to automatically show the tutorial if the file exists.

[2015-09-07 19:42] sedge commented on #1014
+1

[2015-09-07 20:03] gideonthomas opened #1055 "Remix bar overlapped by content"
Published projects containing css that messes with positioning can make the published version look kinda crappy. I noticed this when making a project that has a big pane with
[code]
style rules. This made the pane overlap the remix bar (even if it is under, it looks kinda ugly)  and I couldn't click the remix button because of this.

cc @flukeout

[2015-09-08 15:16] hannahkane commented on #892
Note: we can't retire old Thimble until we resolve this ticket; because without it, we don't have parity

[2015-09-08 16:15] hannahkane commented on #1050
Great idea, as usual. We're intending to migrate ALL Thimble makes at some point, as well as create gallery tools for viewing/filtering projects by certain criteria, which could include popularity, though we'll have to figure out what that means in the new Thimble paradigm. At a minimum, we could have a view of staff-curated projects.

Alright if I close this, @jgmac1106, since I think it's repres

[2015-09-08 16:16] flukeout commented on #1055
@gideonthomas Do you have a link to the project, would like to see it.

I ran into similar issues myself, the way we push down the content via a padding on the body isn't reliable enough.

[2015-09-08 16:25] hannahkane commented on #1049
Thanks for this suggestion. I think at some point we'll want to do a user research study on Thimble users, to understand what the common pathways are and how we can differentiate/serve both the "remixers" and the "start-from-scratchers". Know anyone who could help with that? :) :) :)

Also, wanted to reference the "galleries" line item of the Thimble roadmap (http://bit.ly/1Q9yokU). Right now, we

[2015-09-08 17:32] hannahkane opened #1056 "Add attribution disclaimer to Export functionality"
Legal has suggested we make this visible to users who make use of the Export functionality:

"As a courtesy, we ask that you provide attribution and a link to the underlying Thimble make if you are exporting remixed content. In addition, please respect the terms of any license that may apply to pieces of content included in the underlying Thimble make."

@flukeout - can you think of a non-disrupti

[2015-09-08 17:39] hannahkane commented on #475
@humphd - I'm wanting to move this to a P1 now. Have received several requests. Can you help clarify what the specific tasks are to make l10n happen?

[2015-09-08 17:45] TheFoosh commented on #1052
Sorry, still not working, Dave!  Tried on lunch hour, can't stick around now. Still works fine on old Thimble without
[code]
...are you sure it's jQM-side? Thanks for your impressive response time!

[2015-09-08 17:55] #1050 closed

[2015-09-08 18:05] humphd commented on #475
I'll get @alicoding to also add what he knows, but here's my sense of the work:

* audit our Thimble routes to make sure they are all l10n aware (i.e., stripping locale/lang info from the request or headers).  I think we are in pretty good shape for this.
* extract all strings from the Thimble front-end web app, and have them get written via nunjucks template substitutions.  Also make sure we don'

[2015-09-08 20:02] gideonthomas commented on #1055
Hey so the link to the project is: https://d157rqmxrxj6ey.cloudfront.net/gideonthomas/6113/
Or here is a screenshot: of each screen:
**What I see**
![screen shot 2015-09-08 at 3 45 54 pm](https://cloud.githubusercontent.com/assets/5816130/9745983/f6694e36-5642-11e5-882d-cc456c9b258f.png)

**The HTML**
![screen shot 2015-09-08 at 3 46 47 pm](https://cloud.githubusercontent.com/assets/5816130/974599

[2015-09-08 20:12] flukeout opened #1057 "Safari - File tray column header is missing"
![image](https://cloud.githubusercontent.com/assets/25212/9746167/2feb4708-562b-11e5-91ba-225718c404d0.png)

[2015-09-08 20:13] flukeout opened #1058 "Safari - bad styling near bottom of mobile preview area"
* Phone shadow is too tall
* White space near bottom

![image](https://cloud.githubusercontent.com/assets/25212/9746191/58452ebc-562b-11e5-9dd2-5aa87525349b.png)

[2015-09-08 20:14] flukeout opened #1059 "Safari - Garbage icon animation is missing on My Projects page"
The top of the garbage can should open...

![image](https://cloud.githubusercontent.com/assets/25212/9746217/8b935640-562b-11e5-8dfb-75ec82749b6b.png)

[2015-09-08 20:16] flukeout opened #1060 "Safari - Unable to see editor after signing in locally"
After dismissing the browser warning, I'm stuck in this spot after signing in and attempting to load a project...

![image](https://cloud.githubusercontent.com/assets/25212/9746238/b1e41c62-562b-11e5-8f31-721a1200e04e.png)

@humphd What about you?

[2015-09-08 20:18] flukeout opened #1061 "Safari - Hover effect on starter projects not present"
When hovering over these...

![image](https://cloud.githubusercontent.com/assets/25212/9746301/0ea566a4-562c-11e5-9b4d-489c6f0248e5.png)

...they should animate slightly and become faint.

[2015-09-08 20:27] flukeout opened #1062 "Safari - Non-signed in Publish strobe effect is missing"
When you click Publish and you're not signed in, the Log In and Sign Up words should have an animated white background effect, but they don't.

![image](https://cloud.githubusercontent.com/assets/25212/9746536/554cd802-562d-11e5-92d7-f7c994c5c56a.png)

[2015-09-08 20:48] flukeout opened #1063 "Safari - Loading spinner doesn't spin!"
This guy just sits here.. motionless..

![image](https://cloud.githubusercontent.com/assets/25212/9747062/44effd7e-5630-11e5-9b08-9ecd3b2dca79.png)

[2015-09-08 21:18] humphd opened #1064 "IE - project TAR file gets corrupted, can't be parsed"
Digging into the IE load issues a bit, I've isolated it to our initial project loading logic, and specifically, downloading and unpacking the TAR file we send.  Our process can be summarized as follows:

* on the node.js side, we stream a TAR file to the browser

[code]

* in the browser we request the TAR file as an `ArrayBuffer` like so:

[code]

We notice that the sizes of the files we get vary

[2015-09-08 23:24] flukeout commented on #1063
Closing as adding the animation creates a lot of visual glitches - not worth figuring it out at this point.

[2015-09-09 00:28] flukeout commented on #1024
Here's a spec for moving files around with the right-click menu...

![image](https://cloud.githubusercontent.com/assets/25212/9750611/ec21d860-564e-11e5-8796-a5fbea5b0ddb.png)

@gideonthomas @humphd Let me know if you have thoughts and questions.

[2015-09-09 02:48] humphd commented on #1064
I tried turning of gzip compression for all the routes, and it takes forever to download it (dev tools show `Pending` for the XHR request), but it eventually loads (UI is buggy, obviously):

![screenshot 2015-09-08 22 45 53](https://cloud.githubusercontent.com/assets/427398/9752224/a81b0664-567b-11e5-890f-8b7ddeb88f6c.png)

So we should figure out how to enable compression properly for XHR on bina

[2015-09-09 03:06] humphd commented on #1064
I wonder if we're seeing https://connect.microsoft.com/IE/feedback/details/1007412/interop-wininet-does-not-support-content-encoding-deflate-properly, which I found via https://github.com/expressjs/compression/issues/25

[2015-09-09 03:14] humphd commented on #1064
I take that back, I don't think that's it, since I'm seeing this locally without `DEFLATE` in the response headers.

[2015-09-09 03:16] humphd commented on #1024
I love this.  Simple, yet gives us what we need without ripping out the entire file tree.  I'd say +1 to implementing it.  @gideonthomas, do you want to add to your list?

[2015-09-09 11:48] sedge commented on #1056
Maybe a simple popup could work, i.e. "Here are our terms, by downloading you blah blah, Click to Download"?

[2015-09-09 15:00] humphd commented on #1064
Here is a minimal server that exhibits the problem:

[code]

This will create and pipe a TAR stream using compression.  Chrome receives a ~3K file, IE gets ~1K.

[2015-09-09 15:07] gideonthomas opened #1067 "Figure out UX for switching between JS files"
In the following gif, I have to work with two JS files - `main.js` and `lib/coordinates.js`. I have `main.js` included in my `index.html` file and the `lib/coordinates.js` included in my `lib/coordinates.html` file. Basically, switching between the two js files can have a weird UX (or maybe it's just me).

My preview shows `index.html` rendered and I go to the `main.js` file and make some changes

[2015-09-09 15:34] gideonthomas opened #1068 "Figure out UX for reloading JS changes"
If I have a JS file open and make changes to it, it reloads the preview window every 5s (due to file saving). This looks pretty bad especially if we have code like `alert("HI")` or something! It also can break the preview if it saves exactly when we write something like `aler` and stays broken until 5s later.

We probably need a reload JS button or something and disable JS reloading by default.

[2015-09-09 15:36] humphd commented on #1067
So, to summarize, you expect that switching to a non-HTML file in the editor would change the preview to show the related HTML file for this resource.  I think that's an edge case, since having multiple HTML files at all is not our standard approach.  Also, how do you deal with a file that's linked to more than one HTML file, for example, an image?

[2015-09-09 15:56] gideonthomas opened #1069 "Make authentication pluggable"
Having the thimble and publish servers dependent on `id.webmaker.org` which in turn depends on `login.webmaker.org` makes the UX and DevX pretty bad. Instead, we should probably do the following:
- For local dev, we should probably allow you to turn off auth completely or provide mock credentials.
- For prod/staging, we should use something like `passport.js` and allow authentication from common o

[2015-09-09 16:13] ashleygwilliams opened #1070 "non fatal error on start up: Bad locale=[th_TH] missing .json files"
on branch `bramble` fresh clone and set up, i get this on `npm start`:

[code]

server starts fine and appears to operate appropriately

[2015-09-09 18:04] ashleygwilliams opened #1072 "step 1 of "getting ready to publish" fails"
from the "getting ready to publish" section:

To publish locally, you'll need to do the following...

1. Teach the ID server about the Publish server

Run createdb webmaker_oauth_test to create a test database
In your id.webmaker.org folder
Run node scripts/create-tables.js
Edit scripts/test-data.sql and replace it's contents with http://pastebin.com/DUXMjjwF
Run node scripts/test-data.js
You'll s

[2015-09-09 18:06] gideonthomas commented on #1024
Sure, as soon as I finish one of the other P1s, I can take this on

[2015-09-09 18:10] gideonthomas commented on #1024
@flukeout is it a good idea to include "Project root" in the Move to list? Can we avoid it altogether? What does it do if we click on it can can we substitute that functionality with something like "Copy to"? I would vote to eliminate that option completely

[2015-09-09 18:10] #1064 closed

[2015-09-09 18:13] humphd commented on #1024
@gideonthomas, his point is that if you have some file deep in a dir, how do you get it to `/`?  You need some way to put it in the root.  It would only show if the file/folder *isn't* already in the root.

[2015-09-09 18:21] humphd commented on #1070
cc @alicoding

[2015-09-09 18:33] alicoding commented on #1070
@ashleygwilliams basically we are expecting `th_TH` inside that `locale` directory, but for some reason it doesn't seem to be there and I guess it's not pulling it when you do `npm install` which should run `npm run download-locales` for you... I don't know what changes there, but to fix this you can just change your `.env` for this line https://github.com/mozilla/thimble.webmaker.org/blob/bramble

[2015-09-09 18:36] gideonthomas opened #1074 "Safari: Cannot view list of projects"
Clicking on "Your Projects" in the dropdown menu does not take you to the project list. Instead, it opens the editor with god knows what project (My guess is that it is creating a new one)
![safari](https://cloud.githubusercontent.com/assets/5816130/9770752/f684e836-56ff-11e5-969e-ce8870f77067.gif)

Seems like I can access the list of projects by typing `https://localhost:3500/projects` in the URL

[2015-09-09 18:43] gideonthomas commented on #1060
I can reproduce this...it seems like project upgrades aren't happening correctly in safari

[2015-09-09 18:50] alicoding commented on #475
Since we are using nunjucks so a lot of work here might be easier, but might have some old technical debt bugs that may or may not cause any problem for Thimble app (I suspect that we will be okay)
1. Home page: https://thimble.mozilla.org/
It looks like we are using nunjuck here, so doing localization for this page shouldn't be too hard at all. We simply need to replace any hardcoded string from

[2015-09-09 18:53] #1057 closed

[2015-09-09 18:57] #664 closed

[2015-09-09 18:57] #1059 closed

[2015-09-09 18:57] #1061 closed

[2015-09-09 18:57] #1062 closed

[2015-09-09 19:01] #1072 closed

[2015-09-09 19:45] ashleygwilliams opened #1075 "fatal error: GET localhost:8000//dist/bramble.js"
after following all up and running instructions, creating an account, and logging in i am met with this:

<img width="1260" alt="screen shot 2015-09-09 at 3 41 59 pm" src="https://cloud.githubusercontent.com/assets/1163554/9772345/94264496-5709-11e5-9806-f2ec0d79b093.png">

[2015-09-09 20:07] #1038 closed

[2015-09-09 20:25] humphd commented on #509
We had a meeting today to discuss this.  Deprecating Old Thimble will depend on a number of factors, and we'd like to move forward with this part of it independently.  Instead of a bulk import from old- to new-Thimble, we're going to try and do the following:
* continue to host old Thimble Makes on their current URLs
* allow a user to see their old-Thimble makes in the new-Thimble project list and

[2015-09-09 20:43] flukeout commented on #1058
Fixed via https://github.com/humphd/brackets/pull/458 and https://github.com/humphd/brackets/pull/457

[2015-09-09 20:43] #1058 closed

[2015-09-09 20:52] humphd commented on #1053
![screenshot 2015-09-09 16 49 29](https://cloud.githubusercontent.com/assets/427398/9773877/0c5fa412-5713-11e5-9419-a3937db37652.png)

Here's a recent one on prod.  This time I was smart enough to look at the things stored in `localStorage`.  You can see the `firstPaneWidth`, `secondPaneWidth`, and `sideBarWidth` and they all seem sane.  What is going on in our Thimble UI though?

[2015-09-09 20:55] ldecoursy opened #1077 "Admin access to published Thimble projects"
Is there a way to access a database or export a list of published URLs from Thimble makes/remixes?

Specifically, it would be nice to see some remixes of the three featured activities on the Thimble homepage, or original content created in the first few weeks since launch.

Also good to know if we have this kind of access and get review this periodically until we have a public gallery function.

c

[2015-09-09 21:02] flukeout commented on #1053
@humphd Good question - can you inspect the CSS values for the Preview column header next time you see this? I'll keep an eye out as well - I haven't run into it myself.

[2015-09-09 21:14] flukeout commented on #883
1. Console error right after signing in
![image](https://cloud.githubusercontent.com/assets/25212/9774372/ebcd4580-56fc-11e5-96fa-0e12c4c138a1.png)

2. Console error after refreshing after step 1 - this is where it gets stuck on the green loading screen
![image](https://cloud.githubusercontent.com/assets/25212/9774384/fee8dfbc-56fc-11e5-947c-5dc7a0461ea6.png)

[2015-09-09 21:20] humphd commented on #883
@gideonthomas I watched him do this on appear, and it's like it all worked with the local filesystem, but nothing went to the remote publish server.  Also, we should be showing the "Failed to load your project..." screen vs. spinning forever in this case.

[2015-09-09 21:21] humphd commented on #883
Moving this to P1 because @flukeout is blocked on Safari and IE UI fixes without being able to see the whole UI.

[2015-09-09 21:35] flukeout opened #1078 "Unable to load editor locally in emulated Windows"
I'm able to hit the localhost via the ip of my mac machine and see this...

![image](https://cloud.githubusercontent.com/assets/25212/9774840/fe90cbe4-56ff-11e5-9edf-b74be85ed4b3.png)

[2015-09-09 21:35] flukeout commented on #1078
@humphd Were you able to resolve this somehow for your own environment?

[2015-09-09 21:38] humphd commented on #1078
from irc:

[code]

[2015-09-09 21:57] flukeout commented on #1078
@humphd I'm running your ``dist-cors-fix`` branch of brackets locally, but am still getting the same behaviour in IE - are there any other steps I should try?

[2015-09-09 22:14] humphd commented on #1078
Depending on your network setup, you probably need to change your `env` file to not use `http://localhost` and instead use `http://<your mac IP address>` everywhere.

[2015-09-09 22:21] jbuck commented on #509
Can you explain why you wouldn't want to do a bulk import of classic thimble data? Is the idea that you don't want make classic thimble read-only?

[2015-09-09 22:26] jbuck commented on #509
Oops, didn't even answer your question!

It allows someone to update the old content

[2015-09-09 22:34] humphd commented on #509
The reason they said they didn't want it (I'm recording what Lanie, Hannah, Simon, Matthew said), is that they need/want to support the old URLs, and moving things into the new Thimble would (currently) break those.  Maybe there is a desire to migrate and not break old URLs, but that wasn't discussed.

RE: my question, it wasn't me not knowing the answer, but that there could be two right answers,

[2015-09-09 22:43] flukeout commented on #1078
@humphd That fixed it.

[2015-09-09 22:43] #1078 closed

[2015-09-09 22:45] flukeout opened #1079 "IE Testing & Bugs"
As far as I can tell, our UI now works in Edge on IE. Here's a little screengrab from my machine.

![ie-edge](https://cloud.githubusercontent.com/assets/25212/9776065/6aa2a3bc-5709-11e5-8070-9d2bd012f907.gif)

@humphd You found some bugs that you showed me earlier, but I can't find an issue for them.

[2015-09-09 23:03] flukeout opened #1081 "Make the minimum width of the column bars consistent between browsers."
In Chrome, the UI starts to cut off at around this point...
![image](https://cloud.githubusercontent.com/assets/25212/9776332/1c4b797a-570c-11e5-84b3-f25fd9bd61c3.png)

In Safari...
![image](https://cloud.githubusercontent.com/assets/25212/9776341/30db674c-570c-11e5-93d2-6e8de44f9aa3.png)

Must be some kind of CSS issue.

[2015-09-09 23:04] flukeout commented on #1081
Nevermind - there is only a difference because the files expand button isn't there.

[2015-09-09 23:04] #1081 closed

[2015-09-09 23:14] flukeout opened #1082 "Fix up the header UI when the window is narrow."
Currently, we have something like this when the window is small.

![image](https://cloud.githubusercontent.com/assets/25212/9776500/db9b4278-570d-11e5-90c7-a634720aa719.png)

We can do better!

[2015-09-09 23:19] flukeout commented on #1082
This is an area where we can explore some responsive UI. As the page shrinks we can choose which elements we hide and which we keep.

This could work well for the 'editor' bar for example. Right now, we start cropping the UI from the right at a certain point...

![image](https://cloud.githubusercontent.com/assets/25212/9776539/5853042c-570e-11e5-8d0d-7d99e0f73946.png)

As this gets narrower we los

[2015-09-10 01:23] humphd commented on #1068
I'd like to suggest that we offer a way to turn off automatic reloading of the preview, but have it be on by default.  When it's off, we could do a few things:
* flash the reload button, or have it change colour and stay that colour until the user refreshes
* put an overlay over-top of the preview to indicate that it's out of sync with the editor, and needs manual updating

The back-end for this i

[2015-09-10 01:29] humphd commented on #1077
This would need to happen via the publish server.  cc @ashleygwilliams

[2015-09-10 01:32] humphd commented on #1063
I notice too that the loading spinner for Bramble shows through, which is odd.  Here is what we do with that iframe:

[code]

Is there a better way to do this in Safari?

[2015-09-10 01:34] humphd commented on #1052
It's related to how we load the content, and how origin security works related to history pushState.  When you say it isn't working, you added this:

[code]

And it does what?  Do you have a published link I can see?

[2015-09-10 01:48] #1075 closed

[2015-09-10 01:49] humphd commented on #1063
This turns out to be https://bugs.webkit.org/show_bug.cgi?id=125565

[2015-09-10 01:59] humphd commented on #1060
This is due to `String.prototype.endsWith` being too new for some browsers, including IE and Safari.  I'll do a PR.

[code]

[2015-09-10 02:11] humphd commented on #1043
I've got a patch for this upstream in Bramble.  Thanks for finding/reporting it.  I'll try and get it onto production this week.

[2015-09-10 02:34] humphd commented on #1079
We need this one too: https://github.com/mozilla/publish.webmaker.org/pull/147

[2015-09-10 14:13] sedge commented on #1053
I saw this too:

![screen shot 2015-09-10 at 10 12 47 am](https://cloud.githubusercontent.com/assets/1616860/9790544/9e39e604-57a4-11e5-9c34-aec462c6226a.png)

[2015-09-10 14:18] sedge opened #1084 "Link to style guide in default `tutorial.html` file is broken on production"
STR: Add a tutorial file to a project that doesn't have one and click the "style guide" link:

---------------------------

![screen shot 2015-09-10 at 10 17 18 am](https://cloud.githubusercontent.com/assets/1616860/9790643/2a1a5d0c-57a5-11e5-84bd-49cd0fc0a98f.png)

-------------------------

![screen shot 2015-09-10 at 10 17 27 am](https://cloud.githubusercontent.com/assets/1616860/9790653/369d65

[2015-09-10 14:32] humphd commented on #1084
What's the URL it uses if you inspect that?  Is it absolute?  It should be.

[2015-09-10 14:33] humphd commented on #1053
I really want to see if we still get this after we land all the UI changes we're doing for Safari/IE on prod.  Let's keep watching what happens with this.  I'm moving to P1.

[2015-09-10 14:40] humphd opened #1085 "Sanitize text input in Thimble"
I realized today that we have a few places where we allow users to enter text, and that they could potentially use this to do XSS attacks if we don't sanitize it, specifically:
* project title
* publish description

I think that's all of them.  Let's clean these values so we don't get sec bugs filed against us.

I'm not sure what MoFo's best practices are for this atm.  cc @jbuck for tips.

[2015-09-10 14:54] jbuck commented on #1085
Don't do sanitization. Seriously!

All you need to do is make sure that you're setting the project title and publish description as text nodes, which can't run any scripts. Also, make sure you have a CSP policy that doesn't allow `'unsafe-inline'`.

[2015-09-10 15:17] gideonthomas commented on #1033
@sedge unfortunately the free version has a limit on the number of logs and we keep running into that

[2015-09-10 15:31] sedge commented on #1033
Luckily there's a more direct source of this information [here](https://dashboard.heroku.com/apps/publish-webmaker-org-prod/metrics/web)

[2015-09-10 15:37] #1084 closed

[2015-09-10 15:40] #1060 closed

[2015-09-10 16:43] flukeout commented on #883
Cured by the magical powers of @gideonthomas and the dark art of... "Using git pull to make sure your publish server is up to date".

[2015-09-10 16:43] #883 closed

[2015-09-10 17:22] gideonthomas commented on #1085
Hmm, so, in the editor, the title is either text in a `<span>` or the value of an `<input>` tag. The description is a `<textarea>` so they should all be text nodes (although the value of the `<input>` tag is not a textnode right?)
Also, we don't really have a proper CSP policy

[2015-09-10 19:31] #1043 closed

[2015-09-10 20:03] xmatthewx opened #1089 "Adding title does not trigger option to update published version"
STR:
 - create a project
 - publish it
 - view published version
 - edit the title
 - attempt to update under publish
 - only option to unpublish appears
 - refresh published version
 - still appears untitled

[2015-09-10 20:11] secretrobotron opened #1090 "Ugly AWS 404 when publishing without index.html"
If you delete `index.html`, you get a 404, but it's an ugly, AWS one with a guru meditation or something.

Would love to see a stylized 404 a là github.

[2015-09-10 20:12] secretrobotron commented on #1090
e.g. http://bramble-staging.s3-website-us-east-1.amazonaws.com/cepheid/303

[2015-09-10 20:12] secretrobotron commented on #1090
And maybe the 404 can detect if you're signed in and looking at something you published, and say "are you seeing this page because you deleted your index.html?"

[2015-09-10 20:15] secretrobotron opened #1091 "Differences between preview render and published page"
Related to #1043, if you import a Webmaker project, it will render *some* things on the page improperly (like all of the Webmaker dressing). But, when you publish, it appears.

[2015-09-10 20:16] secretrobotron commented on #1091
e.g. http://bramble-staging.s3-website-us-east-1.amazonaws.com/cepheid/303/glerp.html

Even in that published render, some of the css/js doesn't work anymore.

[2015-09-10 20:34] gideonthomas commented on #1085
cc @Pomax

[2015-09-10 20:45] flukeout commented on #1090
Good catch. Some other ideas:
* Showing a list of HTML files that the user can pick from that are part of the project
* Straight-up redirecting to one of the HTML pages

We've already built a 404 page, but I guess it's not always showing up when it should.

[2015-09-10 20:46] gideonthomas commented on #1090
Cannot reproduce on prod (I see the real 404 page that @flukeout designed) but I see this on staging

[2015-09-10 20:49] gideonthomas commented on #1089
https://github.com/mozilla/thimble.webmaker.org/issues/751

[2015-09-10 21:00] humphd opened #1092 "Store file upload progress in project root metadata attrib to avoid data loss"
When we upload/save files to the server, we do so in response to events from Bramble that a file has changed.  If we are uploading 6 files, and after 3 have been uploaded the browser crashes or user navigates away, we'll lose track of the fact that the other 3 files haven't been sent.  We should first write the queue of file paths to send to the server into the project root's metadata, and remove

[2015-09-10 21:10] xmatthewx commented on #1089
tracking in #751

[2015-09-10 21:10] #1089 closed

[2015-09-10 21:11] humphd commented on #1091
Yeah, this is a nice meaty test case.  I'll debug this and see what's happening.

[2015-09-10 21:15] secretrobotron commented on #1090
Oh! Maybe it's just missing on staging. (should be there too probably, no?)

[2015-09-10 21:16] secretrobotron opened #1093 "(re)publishing through the publish menu is confusing"
If I'm working on a previously published Thimble project and I want to re-publish it, I would think clicking on the Publish button would get that done. But, a menu shows up instead, requiring me to hit "update published version".

1) Are you collecting this sort of feedback somewhere already?
2) What's the right way to user-test to find out if it's a problem for other people?

[2015-09-10 21:24] gideonthomas commented on #1090
Hmm, yeah that's an interesting question, on the 404 page we have links (hard-coded) that reference production (for e.g. the remix links) so I wonder what we should do about that slash if it might just be better or easier to show the ugly AWS 404 page on staging
cc @jbuck

[2015-09-10 21:29] #1051 closed

[2015-09-10 21:48] flukeout commented on #1093
Just to re-iterate, what @secretrobotron is complaining about is basically having to hit two buttons to update his published project, instead of just once via an explicit "Update published" button, for example.

He was doing this because:
* The preview window is too small
* He didn't trust the preview window

We could also solve this by making it easier to get a full screen preview of your project

[2015-09-11 13:13] humphd commented on #1074
This works for me on staging.  Can you confirm you are still hitting it?  I'm pretty sure it's fixed.

[2015-09-11 13:47] humphd commented on #974
@flukeout fixed this, closing.

[2015-09-11 13:47] #974 closed

[2015-09-11 13:48] humphd commented on #798
We've moved to single tar file, this is fixed.

[2015-09-11 13:48] #798 closed

[2015-09-11 13:53] humphd commented on #1093
See also #784.

[2015-09-11 14:02] #1085 closed

[2015-09-11 14:09] gideonthomas commented on #1074
This has been fixed!

[2015-09-11 14:09] #1074 closed

[2015-09-11 14:23] humphd commented on #1091
This turns out to be a mix of two things:
* missing resources in the zip file of the site, and it can't find what it needs (in this case it's looking for `background: url(../img/x.svg) center center contain no-repeat;` and can't locate `x.svg`.  There seem to be a lot of links to files that aren't there.
* our CSSRewriter being too aggressive in how it bails on that error

[2015-09-11 14:34] secretrobotron commented on #1091
Hmm yeah, I noticed a bit of that. Filed https://github.com/mozilla/webmaker-core/issues/653 to see if we can fix that from the other end too. Any pointers you can give?

[2015-09-11 14:47] humphd commented on #1091
I've done a fix in Bramble for this.  If your project is missing files, it's because they weren't included.  Unless you're saying that they were in your original project but didn't get published?

[2015-09-11 14:51] #1091 closed

[2015-09-11 14:53] humphd commented on #1091
@secretrobotron please re-open this if you think it's us doing the wrong thing with your exported project.  I think this is "missing files in an exported project."

[2015-09-11 14:58] secretrobotron commented on #1091
:+1: will do. Thanks @humphd.

[2015-09-11 15:02] humphd commented on #1007
This was fixed today by https://github.com/humphd/brackets/commit/ca10c87443651bf03a9a0fbfba0c81563745f9cb.  We won't "crash" anymore when rewriting a CSS file that has a `url(..)` we can't find.

[2015-09-11 16:25] flukeout commented on #1007
@humphd Cool - but will the image show if it is absolutely referenced?

[2015-09-11 16:31] #1079 closed

[2015-09-11 16:41] flukeout opened #1096 "Cross browser bug list"
* IE Edge - Animated pencil effect on homepage button is not animating correctly

[2015-09-11 16:49] humphd opened #1097 "[IE] Project title pencil icon goes small after saving a change"
![screenshot 2015-09-11 12 44 58](https://cloud.githubusercontent.com/assets/427398/9820691/7b98119a-5883-11e5-99d6-4b5586ab8a92.png)

STR:
* click the pencil icon to change the title (notice its size)
* make a change, click Save button
* notice pencil icon is tiny

[2015-09-11 16:50] flukeout commented on #1097
lol

[2015-09-11 16:57] humphd commented on #1007
Using an absolute path like that is a bad idea.  I'm not sure whether we should force it to work.  @gideonthomas, what do you think?  If I go to the "Keep Calm" project and add a `background-image: url(/crown.svg)` I get this:

![screenshot 2015-09-11 12 56 39](https://cloud.githubusercontent.com/assets/427398/9820836/a2044dac-5884-11e5-97ca-b9135e281162.png)

[2015-09-11 21:42] humphd commented on #1096
#1097 too.  Interesting that on IE 11 the animation effect on the homepage works fine.

[2015-09-12 04:53] my2iu opened #1099 "Relative links don't work in the preview pane"
When I create a

     <a href="index-1.html">link to file</a>

link in a document, the link doesn't work. (Actually, I had it work once, but I don't know why). This is annoying because the main advantage of the new Thimble over the old Thimble (and, say, Khan Academy) is that it can be used to teach how to build multi-page websites.

[2015-09-12 05:04] my2iu opened #1100 "Color Theme Should Apply to Files Section Too"
When I change to a light colour theme, it only affects the editor and not the files section. The colour theme should also apply to the files section.

I am taking screenshots of Thimble and pasting it into a handout that will be printed out. The dark theme results in heavy ink usage, and it might make it hard to see things when it is printed out.

I also think Thimble should default to a light the

[2015-09-12 05:08] my2iu opened #1101 "Publishing things without an index.html"
If you publish a website but you don't have an `index.html` (I'm porting some lessons over to Thimble that involve creating an `about.html` first), then the link it produces doesn't go anywhere. It took me a while to figure out that I can manually alter the link to point to the other pages on the site. Still, just to avoid the confusion, it might be nice if Thimble generated a link that pointed to

[2015-09-12 05:13] my2iu opened #1102 "Remix id # in URL is different from id # of the project"
It's a minor quibble, and I don't know if it's actually possible, but it might be nice if the "remix" URL was related to the project URL in some way.

e.g.

[code]

Couldn't 6237 be used as both the project id and the remix id (1387)?

[2015-09-12 05:33] my2iu opened #1103 "Can You Dump the Meta Viewport Tag in New Files?"
Can you get rid of the

     <meta name="viewport"...

in the template you use for new files? People learning HTML will find it to be confusing boilerplate. At the very least, the syntax highlighter should fade it out so that it's clear that it's "useless boilerplate" that they can ignore.

I also think you should remove the

     <meta charset

tag and simply stick a UTF-8 BOM at the front of the

[2015-09-12 12:54] humphd commented on #1099
This depends on https://github.com/humphd/brackets/issues/447, which I agree would be nice to get working.

[2015-09-12 12:59] humphd commented on #1101
Changing how web servers prioritize loading when no explicit resource is specified isn't easily done (i.e., nginx is going to look for something called `index.html` by default).  Having said that, projects that lack an `index.html` could be given a pre-generated one.  When you say "a link that pointed to the first html file it finds" are you imagining a client-side redirect?  Another thing would b

[2015-09-12 13:40] humphd commented on #1103
The reason we did this is because people would create content in the editor, preview it in the mobile view, and then publish and run it on their actual phone, only to find that it doesn't render anything like they expect.  Without specifying the `viewport` sizing, mobile browsers won't do what users expect.  So either we surprise a learner with a line of code they don't understand yet, or we surpr

[2015-09-12 16:52] humphd commented on #1099
I went ahead and fixed this https://github.com/humphd/brackets/pull/463.  I'll get it in next week.

@gideonthomas, can you review that patch when you have time next week?

[2015-09-12 16:55] humphd opened #1104 "Support both tutorial.html and tutorial.md"
[From twitter](https://twitter.com/sunnydeveloper/status/642742767030960128), the request is that we support tutorial.md or tutorial.html, and automatically convert markdown to html.  We already have the markdown parser in Bramble, we just need to teach the tutorial stuff and HTMLServer to use it.

[2015-09-12 17:16] emmairwin opened #1105 "Allow for more than one tutorial file"
In scenarios I'm teaching, it would be helpful to have more than one tutorial file, to avoid along scroll or overload of information.

Current Scenario: tutorial.html is loaded and displayed in the 'tutorial' tab.

Proposed (something like):

1) tutorial.hmtl remains default
2) additional tutorials can be associated with files.  For example gallery.html has a gallery_tutorial.html  and when those

[2015-09-13 18:10] my2iu commented on #1101
No. I'm suggesting that when you click on the Publish button, if WebMaker doesn't find an index.html, it generates a link to one of the other files instead. So instead of a link to

``` https://d157rqmxrxj6ey.cloudfront.net/coderdojo-ming/6237 ```

you get a link to

``` https://d157rqmxrxj6ey.cloudfront.net/coderdojo-ming/6237/about-me.html ```

[2015-09-13 18:24] my2iu commented on #1103
Well, the fact that it doesn't render "properly" on mobile could be a teachable moment about how browsers are free to render things however they want, and about how one fruity company's poorly thought-out mobile web extensions have now doomed us to forever needing to stick a useless tag at the front of every html file to get things to work right on phones.

But, whatever you find works best is fin

[2015-09-13 18:31] Badestrand commented on #1027
Both would be insanely great!

[2015-09-14 15:09] humphd opened #1106 "Explore UX around user Project List"
We shipped our MVP with a super basic project list:

![screenshot 2015-09-14 11 00 39](https://cloud.githubusercontent.com/assets/427398/9853084/e644006e-5acf-11e5-9c81-c953a5e9378f.png)

We've filed a bunch of bugs to improve things: #834, #806, #770, #552.  However, we could really do a lot more.  Today I opened Google Docs and was met with this:

![screenshot 2015-09-14 10 51 32](https://cloud.

[2015-09-14 15:12] humphd commented on #702
Related to #1101

[2015-09-14 16:24] hannahkane commented on #1106
cc @chadsansing as well

[2015-09-14 16:35] flukeout opened #1107 "Details bar UX options"
The way we're currently injecting the details bar into published projects isn't the most reliable. We're adjusting the body padding to make room for the bar, but that doesn't take into account projects that have absolutely positioned (or position: fixed) content. People could also adjust their own body padding in the project CSS, which would conflict with ours. Here's a proposal for a lighter vers

[2015-09-14 16:57] flukeout commented on #1097
I can't reproduce it, here's the pencil icon in IE11 after saving...

![image](https://cloud.githubusercontent.com/assets/25212/9856013/f4009482-5ac6-11e5-9f64-737d54440152.png)

@gideonthomas Do you have a way to test IE11? If so - can you double-check this when you get a chance?

[2015-09-14 17:01] humphd commented on #1099
Fixed, and landed on staging and production.

[2015-09-14 17:01] #1099 closed

[2015-09-14 17:12] flukeout commented on #1100
That's a good idea about the theme switching. From our testing so far, most people prefer the dark theme - which also lines up with the current trends in code editing. There might be a bug still where Thimble doesn't remember your color theme when you reload it, but we'll have that fixed.

[2015-09-14 18:20] humphd commented on #1027
Connected to #1104, in terms of implementation.

[2015-09-14 20:23] gideonthomas commented on #1069
@xmatthewx do you have any suggestions for this (or if we should even do this)?

[2015-09-14 23:14] hannahkane commented on #1107
This looks really nice, but I definitely worry that it de-emphasizes Remix too much. Could we do some usability testing on this?

[2015-09-15 12:47] jgmac1106 opened #1108 "Require File Naming Before Publishing"
I used Thimble yesterday for the first time in my class. No student had previously worked in HTML.

 After watching how they work I think we should require you to save a name change for a new project or a remixed project before publishing. Almost everyone kept the file title of the original meme and when starting for blank just published an untitled project.

[2015-09-15 14:18] humphd commented on #1108
I think we should consider dropping the title completely.  Similar to the project's description, people don't seem to want to fill this in.  I don't blame them, since it's exterior to the web page.  Also, it isn't clear to someone making something in Thimble how it will get used (i.e., there is no visible utility).  We only tack it on when we publish, and that's not obvious, since we don't give yo

[2015-09-15 14:20] humphd commented on #1107
Let me add another thing to consider.  I was reading this great post from @jgmac1106 on my phone: http://quickthoughts.jgregorymcverry.com/2015/our-edu106-makermonday-challenge-we-made-memes-to-teachtheweb

Here's roughly what things look like with our injected header:

![screenshot 2015-09-15 10 14 49](https://cloud.githubusercontent.com/assets/427398/9878834/b919c3da-5b92-11e5-8a11-b33cf8da03c5.

[2015-09-15 15:18] gideonthomas commented on #1097
Uhh, I can reproduce on prod! I can't load a project on staging...it seems to be broken!

[2015-09-15 15:19] jgmac1106 commented on #1108
That actually makes sense. I find myself rushing descriptions as well.

Maybe this feature (Title and Description) would work better on the
profile/gallery page. So as teacher I would group and add titles to
projects I want to curate and/or promote. A user could also use the
profile/gallery to create a portfolio of material they want to
curate/promote.

On Tue, Sep 15, 2015 at 10:18 AM David Humph

[2015-09-15 15:24] gideonthomas opened #1109 "Staging is broken"
See https://github.com/humphd/brackets/issues/464

[2015-09-15 15:28] jgmac1106 commented on #1107
Could we just go with a single remix button top center? Or does that still
mess up fixed positions? Maybe an image of the Thimble logo with Remix
included?

If we decide to go with @flukeout's design I would agree with @Hannahkane
and just suggest replacing the thimble logo with the word remix.

On Tue, Sep 15, 2015 at 10:20 AM David Humphrey <notifications@github.com>
wrote:

[2015-09-15 15:36] gideonthomas commented on #1109
And....it's no longer broken -.-

[2015-09-15 15:36] #1109 closed

[2015-09-15 16:19] flukeout commented on #1107
Good thoughts everyone. I'll provide some more options for the remix button & thimble logo placements and configurations shortly. Agreed that whatever we produce should be responsive.

[2015-09-15 16:19] gideonthomas commented on #1007
I agree I don't think we should support absolute paths. From what I read online, it seems that most web devs agree that it is better to use relative urls if the resource is on the same server and absolute urls if the resource is on the web (a different server).
I think it's good that we don't crash on absolute paths but supporting it seems to be unnecessary.

Having said that, I do think we should

[2015-09-15 17:43] jgmac1106 opened #1110 "Link line numbers in tutorial file"
Many of my students got caught up in tutorials when they saw line numbers. They would go to the line number for the tutorial file not the index.html file.

-- Is there a way to link the line numbers in the tutorial file to the line numbers in the other file?

or

-- Can you maximize the tutorial file and hide the code editor when ever you click on the tutorial file?

Not a huge deal. It might just

[2015-09-15 17:46] flukeout opened #1111 "Finalize creative brief for Thimble in the Classroom aka "Teacher's Pet""
Our working draft is here:
https://docs.google.com/document/d/1j3-E30ST3bYexK0gbN2rHGQnx2QJBBXN9sj-ZNJDNW8/edit

I think we can improve this brief by including more evidence of these features being needed & wanted by teachers.

cc @LauraReynal @hannahkane

[2015-09-15 17:49] humphd commented on #1024
Something I noticed today on the GMail Android app when I wanted to move an email to a new folder is that it created a flat list of the entire folder structure in my mailbox, allowing me to scroll to what I wanted right away without haivng to go really deep:

Instead of doing:
[code]

It did:
[code]

When  name was really long, it would shorten it in the middle: `/some/long/..../path` such that yo

[2015-09-15 17:56] hannahkane commented on #1111
From @omnignorant:

"Tada! I'm the use case!
https://rfriedmanbsf.makes.org/thimble/MTQxMzY3NzU2OA==/2015-hack-shop-landing-page

NOTE: Google has deprecated some services that I used to host images and CSS files so this page and some of my kids pages will appear messed up. However, you still get the general idea.

This may be the best evidence that I am aware of RE: portfolio pages in Thimble. Ho

[2015-09-15 18:52] jgmac1106 commented on #1111
Here is how I set up portfolios. Not as cool as @ominignorant. I am stealing that for this year. But I just made one project for each page and linked them together: https://littlejrosa3015.makes.org/thimble/NjMyODgxNDA4/my-edu106-portfolio-new

The first thing I will be remixing when the multipage project is finalized is a portfolio (it will just now include @omnignorant 's way cool menu).

[2015-09-15 18:56] flukeout commented on #1007
Here are my thoughts
* I think absolute paths should work, because they generally do in other circumstances
* If we want to discourage people from using them, we should provide some kind of helpful messaging or guide when we detect absolute paths so people can fix them
  * This would require a bunch of UX and UI work, of course - but it's something we're going start tackling soon anyway

[2015-09-15 20:51] humphd commented on #1104
Backend work is underway in https://github.com/humphd/brackets/pull/465

[2015-09-15 20:52] humphd commented on #1027
Backend work is underway in https://github.com/humphd/brackets/pull/465

[2015-09-15 20:53] humphd opened #1112 "Reduce timeout issues"
Tracking bug for https://github.com/mozilla/publish.webmaker.org/issues/153 to reduce Thimble's publish timeouts.

[2015-09-15 20:58] flukeout commented on #1107
Here's an update that incorporates some of the feedback above for published projects on a large screen..

![image](https://cloud.githubusercontent.com/assets/25212/9889925/e6b15fd2-5bb1-11e5-9635-3b6d562ae274.png)

[2015-09-15 21:23] hannahkane commented on #1104
/cc @soapdog who will likely be interested in this

[2015-09-15 21:33] Rdilorenzo73 opened #1113 "Thimble: CSS: case insensitive matching - class names / id names"
Issue -
CSS class names and ID names match - even with differences in case

<pre>
id="subTotal"
</pre>
matches (style applied)
<pre>
#subtotal { }
</pre>

Even after a display preview refresh the style is still applied...

[2015-09-15 21:42] hannahkane commented on #744
Roadmap is here: https://github.com/mozilla/thimble.webmaker.org/wiki/Roadmap

[2015-09-15 21:42] #744 closed

[2015-09-15 21:48] humphd commented on #1113
This is CSS being CSS: http://www.w3.org/TR/css3-selectors/#casesens.  The ID in the DOM will be case-sensitive, but CSS is case insensitive.

[2015-09-15 22:26] flukeout commented on #1107
Try it out here http://flukeout.github.io/thimble-home/stay-calm-2/

![scrollin](https://cloud.githubusercontent.com/assets/25212/9891814/1a5f36fe-5bbe-11e5-8a92-dae69c1bc9c7.gif)

[2015-09-15 22:37] Rdilorenzo73 commented on #1113
OK Thanks.  I'll study the spec a little closer.  Thanks for pointing this out.

[2015-09-15 23:11] humphd commented on #1113
Thanks for filing this.  It's an annoying thing, and I agree that it causes confusion, especially for people learning web development.  I'm going to close it, because we can't address it in Thimble directly.  But please file more things you think are broken or if you have ideas.

[2015-09-15 23:11] #1113 closed

[2015-09-15 23:15] humphd commented on #1107
I really like where you're going with this.  One thing I notice is that on small screen sizes (e.g., mobile), it doesn't fit, and the Thimble logo section gets mostly cut off:

![screenshot 2015-09-15 19 12 50](https://cloud.githubusercontent.com/assets/427398/9892549/e77b5022-5bdd-11e5-92df-261cd5fc25de.png)

Also, on mobile you have to scroll before it vanishes, which is somewhat harder to do th

[2015-09-15 23:17] humphd commented on #744
It makes me very happy that this is in a wiki vs. hidden behind a Google Doc wall.  Well done, @hannahkane, thanks for leading this.

[2015-09-15 23:33] flukeout opened #1114 "Research integration of COPPA guidelines into Thimble workflows"
Started here
https://docs.google.com/document/d/1qnt9Pr7SDrW5lbg7Io10iQ-iJ1PmmB9kfSQc_2g5qkQ/edit

cc @hannahkane

[2015-09-15 23:50] xmatthewx commented on #1069
cc'ing @ashleygwilliams for input

[2015-09-16 01:14] humphd opened #1115 "Store file sync state in project root metadata attrib to avoid data loss, deal with 503 timeouts, etc"
We see a lot of timeouts on requests we send.  Partly this is because we send a lot, and partly it's because of [issues in the login pipeline](https://github.com/mozilla/thimble.webmaker.org/issues/1112); there might be other reasons, too.

The net result is that we can and do see a lot of 503s doing things like this:
[code]

We need to not have these timeouts happen so often, yes, but we should a

[2015-09-16 14:54] sedge opened #1117 "Update README installation with the proper id.wm.o schema"
This is a followup to https://github.com/mozilla/id.webmaker.org/issues/390.

cc: @errietta @humphd @gideonthomas

[2015-09-16 14:57] errietta commented on #1117
https://github.com/mozilla/thimble.webmaker.org/pull/1116 R? @sedge

[2015-09-16 16:04] flukeout commented on #1107
@humphd Not only that, but the hover to expand effect won't work on mobile. I think we need a totally different solution / style for tablets / mobile and we should probably ditch the remix button. Maybe just a small "made with thimble" somewhere will suffice for now.

For appmaker, we used the email-me-the-remix-link solution you suggested.

Let's see how bit our mobile audience is before we make

[2015-09-16 16:07] humphd commented on #1107
<blockquote>Let's see how bit our mobile audience is before we make mobile-specific features.</blockquote>

That's a self-fulfilling prophecy.  If we don't build something that works in mobile, we won't have mobile users.

[2015-09-16 16:13] flukeout commented on #1107
I see your point - but I meant more in the way of, lets see if we get mobile views on published projects before we invest in an email-me-the-remix-link feature, which might be time consuming.

[2015-09-16 16:28] flukeout opened #1118 "Lost some saved work"
Here's what happened...
* In Firefox, I remixed https://d157rqmxrxj6ey.cloudfront.net/humphd/11098/
* I was not signed in, and made a bunch of changes
* I then Signed In and I assumed the project had been saved as a result
  * The URL was https://thimble.mozilla.org/user/flukeout/11106 after signing in
  * Project name was "Web Clock (remix)"
* I copied this URL into chrome
* The editor opened, bu

[2015-09-16 16:31] humphd commented on #1118
publish logs for that project:

[code]

[2015-09-16 16:32] humphd commented on #1118
Which shows 200s all the way down...

[2015-09-16 16:35] humphd commented on #1118
And from the Thimble server for that project:

[code]

[2015-09-16 16:35] gideonthomas commented on #1118
hmm ok, I think there is only one root issue here! The project upgrade didn't work properly (my hunch is cache). So, when you signed in on Chrome, you **shouldn't have** been redirected to the My Projects Page. Instead, it should have upgraded the default project to a new project. So, when you clicked on the actual "My Web clock (remix)" link, it probably merged the contents of the project that sh

[2015-09-16 17:20] humphd opened #1119 "Trigger "Save All" before logging in"
When a user is working on an anonymous project, we should make sure that everything is saved before we allow them to start the login process.  If we don't, it's possible to lose changes that were very recently made in the editor.  We just need to call `bramble.saveAll(callback)` when they do actions (like login) that will redirect them away (not sure if there are any others).

[2015-09-16 17:20] humphd commented on #1118
Filed https://github.com/mozilla/thimble.webmaker.org/issues/1119 for the case of login losing changes, which was also found debugging this.

[2015-09-16 17:21] flukeout opened #1120 "Figure out how Thimble should respond to different types of URLs"
Placeholder issue - will fill out after my meeting.

[2015-09-16 18:09] hannahkane opened #1122 "Design scalable solution for the curated projects list on the homepage"
We'll be adding more projects to the homepage list. The first one is here: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/10950/

It doesn't have an accompanying teaching kit, so we'll need a design that allows for that.

Title: Three Things I <3
Instruction: Learn how to create a multi-page website about things you love!

[2015-09-16 18:10] hannahkane commented on #1122
cc @chadsansing
related issue: https://github.com/mozilla/learning-networks/issues/241

[2015-09-16 18:13] chadsansing commented on #1122
By kit, do you mean an activity page? I'm thinking of kits as collections of activities. I can make an activity page for this shortly and will need to, anyway, to finish the Back-to-School Write the Web kit. I can deliver that by EOD tomorrow for review.

[2015-09-16 18:14] hannahkane commented on #1122
By teaching kit I meant the equivalent of what we offer underneath each of the three activities featured on the Thimble homepage now.

[2015-09-16 18:17] chadsansing commented on #1122
I can do that.

[2015-09-16 18:25] hannahkane commented on #1122
Ah, that would be great for consistency, I think.

[2015-09-16 18:27] chadsansing commented on #1122
It's all happening.

![screen shot 2015-09-16 at 2 27 03 pm](https://cloud.githubusercontent.com/assets/4128600/9914276/0edc634e-5c7f-11e5-9f6d-159940223117.png)

[2015-09-16 18:31] hannahkane commented on #1122
:)

[2015-09-16 18:37] hannahkane commented on #1114
Added some comments.

[2015-09-16 19:06] chadsansing commented on #1122
@hannahkane, see https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11288/.

I can't get the Navigation WebLit skill button to display the right makerstrap color. Also, please text in Firefox and Chrome - layout seems broken on my machine outside Safari, but I can't tell why.

[2015-09-16 19:21] #1119 closed

[2015-09-16 19:29] #1117 closed

[2015-09-16 19:33] humphd commented on #1069
From https://remysharp.com/2015/09/16/jsbin-toxic-part-3

<blockquote>In the end the only way to register with JS Bin now is via GitHub. I don't like this, but it does lean on GitHub's verification process. It doesn't kill the issue 100%, but it reduced our sign-up rate significantly and we only have the odd one arsehat come through (which I also then report back to GitHub).</blockquote>

His whol

[2015-09-16 19:41] ldecoursy commented on #1122
Looks good! A few small edits:

* First learning objective missing a period
* Intro, 2nd paragraph, 2nd sentence – "play a sorting game" (game should be singular)
* This instruction is unclear: "Explain the rules: After you read each notecard, students who love that thing should all go far to your right, while students who don't love that thing should all go far to the left. Students who are neutr

[2015-09-16 20:54] flukeout commented on #1122
@hannahkane Might be tricky to add just one given the layout?  What bout adding another three, we've got some good ones courtesy of @chadsansing:

* Homework Excuse Generator
  * https://d157rqmxrxj6ey.cloudfront.net/chadsansing/4487/
* My Six-word-Summer
  * https://d157rqmxrxj6ey.cloudfront.net/chadsansing/4493/
* Remix my Schedule
  * https://d157rqmxrxj6ey.cloudfront.net/chadsansing/4498/
* Sc

[2015-09-16 21:07] DanForever opened #1124 "Absolute stylesheet path broken"
I put my .css file in a sub folder called "stylesheets", and then linked to it like so:
`<link rel="stylesheet" href="/stylesheets/style.css">`
Thimble can't find the file, but if I remove the preceding '/', so that it's relative, it works. But this is only because my html file is in the parent folder.

[2015-09-16 21:25] humphd commented on #1124
We're discussing this in https://github.com/mozilla/thimble.webmaker.org/issues/1007#issuecomment-140500118, if you want to weigh in there.

[2015-09-16 21:28] DanForever commented on #1124
Ah. My googlefoo failed me!

[2015-09-16 21:31] humphd commented on #1124
It's not you, it's that we got distracted in that other ticket.  We really need one dedicated to this, you're not alone in finding it a problem.  Thanks for filing.

[2015-09-16 21:33] DanForever commented on #1007
Here's my use case, for what it's worth:

I'm using google app engine, so I've put all my stylesheets in the same root directory ("/stylesheets") and set up a handler so that www.mywebsite.com/stylesheets internally points at where my css files are stored, that way, when my url is www.mywebsite.com/some/interesting/page/of/sorts/, it'll still look for the files in the correct place, and not www.my

[2015-09-16 21:53] hannahkane commented on #1122
@chadsansing - want to pick two more to include on the homepage, for two rows of three?

[2015-09-17 00:25] jgmac1106 opened #1125 "Clicking on Link to editor within editor"
I was reviewing curriculum and clicked on a link to a project from within an existing project. This happened:
![opening linked project](https://cloud.githubusercontent.com/assets/10534566/9921928/dfab0d32-5cb0-11e5-9b78-be586288f7f0.png)
Not sure if it needs or could be prevented. I recommended suggesting the target attribute to blank but wanted to file an issue in case there was a better way to s

[2015-09-17 01:26] humphd commented on #1125
What was the url of the link you clicked?

[2015-09-17 01:56] jgmac1106 commented on #1125
Here is a quick video. Sorry for audio. In iddle of podcast: https://goo.gl/VM0XCy

The link was:   <code><li>Once everyone has had a chance to respond, ask students to sit at their computers and go to <a href="https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/10950/">the webpage for today's activity</a>.</li><br></code>

[2015-09-17 02:09] humphd commented on #1125
You're using `https://thimble.mozilla.org`, correct?  I can't reproduce this.  I tried putting your code snippet in a new project, and in the preview, clicking the link opens a new window.  Do you have an extension installed that alters the action of opening links in new tabs?

We recently landed code to allow links to files in a project, such that clicking them in the preview opens them and chang

[2015-09-17 11:24] chadsansing commented on #1122
@ldecoursy - thank you! Fixed the copy bugs.

[2015-09-17 11:24] chadsansing commented on #1122
@hannahkane - How about My Six-Word Summer and the Homework Excuse Generator?

[2015-09-17 11:38] chadsansing commented on #1122
For review:

Homework make: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11698/
Homework kit: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11701/
Six-Word make: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11703/
Six-Word kit: https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11704/

cc @hannahkane, @flukeout, @ldecoursy

[2015-09-17 12:23] jgmac1106 commented on #1125
I erased my cache and tried in both Chrome 45 and Firefox 40. Here is a quick screen recording:
http://screencast-o-matic.com/watch/coQblYfKYa

In Firefox a second editor would not load. You got an error message. In Chrome the second editor opened. You can use back navigation to return to the original project.

[2015-09-17 14:12] humphd commented on #1125
This is a really interesting case.  The project in question is https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11288/ and when I inspect the page in the preview, I note that all of the Bramble API (editor) is loaded into the head--that shouldn't happen.  So there is something about this page that's different.  I'll have to debug.

[2015-09-17 14:19] humphd commented on #1125
@gideonthomas if you have any time to look at this today, check this out:

![screen shot 2015-09-17 at 10 17 26 am](https://cloud.githubusercontent.com/assets/427398/9935573/632f0662-5d25-11e5-8bc7-aba545abc3b4.png)

That's the iframe's DOM, and for reasons that don't make sense to me, it's got everything you'd expect from Brabmle's `index.html` in there.  It's like our live doc injection code is

[2015-09-17 14:26] humphd commented on #1125
As an aside, whoever is working on that page should be escaping the `<3` (should be `&gt;3`) throughout so it doesn't break the page's markup.

[2015-09-17 15:36] jgmac1106 commented on #1125
/cc @chadsansig. You would have to check with Chad but it may have been imported and/or exported from github or gitpages.

[2015-09-17 17:07] errietta commented on #712
@flukeout look at https://github.com/mozilla/thimble.webmaker.org/pull/1126 ! lthough i copied that function from another file, I think we should put it somewhere both places ccan access it so we don't copypasta

[2015-09-17 17:31] flukeout commented on #712
@errietta Awesome! Will take a look!

[2015-09-17 18:53] flukeout commented on #1122
@chadsansing @hannahkane Hey - I've got the following built locally, but I'll need each...
* Project description (under thumbnail)
* 3 Bullet points of learning

![image](https://cloud.githubusercontent.com/assets/25212/9942896/a05a84e6-5d32-11e5-96be-1ce3203d90cd.png)

[2015-09-17 18:54] flukeout commented on #1122
@chadsansing Also for me, the Teaching Kits aren't rendering properly... looks like they're not getting the correct stylesheets, same for you?

* https://d157rqmxrxj6ey.cloudfront.net/mozillalearning/11288/

![image](https://cloud.githubusercontent.com/assets/25212/9942925/d343f860-5d32-11e5-9151-28333bad1498.png)

I'll dig into it.

[2015-09-17 19:09] chadsansing commented on #1122
@flukeout, how about this for copy?

**3 Things I <3**

Make a simple website to share what you love.

Use it to teach

- Navigation inside a website.
- Editing HTML content.
- Embedding media in webpages.

**Homework Excuse Generator**

Remix a basic JavaScript function to get out of trouble with your teacher.

Use it to teach

- Basic coding ideas.
- Editing JavaScript content.
- Creating an int

[2015-09-17 20:00] ldecoursy commented on #1122
Looks good to me. One suggestion for Homework Excuse Generator description: Remix a basic JavaScript function to explain why  your homework is late.

[2015-09-17 20:01] chadsansing commented on #1122
@ldecoursy's suggestion FTW.

[2015-09-17 20:43] flukeout commented on #1122
Thanks @chadsansing and @ldecoursy - I've submitted a PR with this stuff in #1127

I just need to figure out why the styles aren't loading for the teaching kits.

[2015-09-17 21:01] flukeout commented on #1122
In the **3 Things I <3** , the competencies don't render right:

![image](https://cloud.githubusercontent.com/assets/25212/9945849/92d435bc-5d44-11e5-8f2f-0ecf71ccad62.png)

[2015-09-17 22:09] hannahkane commented on #1122
I just went in an fixed @flukeout's bugs all three teaching kits. Ended up just removing the header entirely (with the Webmaker logo + link to Github, etc) because it just adds clutter.

[2015-09-17 23:16] flukeout commented on #1107
I thought I'd posted this already, but here are some updates, including a mobile mode when the window is narrower.

http://flukeout.github.io/thimble-home/stay-calm-2/

[2015-09-17 23:59] flukeout commented on #1122
Awesome, thanks @hannahkane - as soon as the PR gets reviewed we can check it out in staging and push to prod if everything checks out!

[2015-09-18 00:45] humphd commented on #1107
Here's what I encounter when I open that:

![screenshot 2015-09-17 20 40 46](https://cloud.githubusercontent.com/assets/427398/9949570/78ededea-5d7c-11e5-8069-c72e9eb0d904.png)

To me it seems heavy handed of us to cover your content like this, and all so we can show you the project's title.  Why don't we drop the title, and confine ourselves to something that is much smaller and less intrusive to

[2015-09-18 05:47] petetnt opened #1128 "NPM postinstall-script fails on Windows"
Saw [this question on StackOverflow](http://stackoverflow.com/questions/32632589/how-to-install-npm-in-thimble/32644512#32644512) today about the `postinstall` script failing.

The reason (I think?) for the failing is that when using `node_modules/.bin/bower install && node_modules/.bin/grunt requirejs:dist`, as the script, `cmd` cds in to the `node_modules/.bin/` folder before running `bower` and

[2015-09-18 10:23] chadsansing commented on #1122
@hannahkane & @flukeout: huzzah, you rock, and thank you! Exciting stuff!

[2015-09-18 15:48] #1128 closed

[2015-09-18 16:17] flukeout opened #1130 "Better 404 / not found page for URLs in the editor."
If I try to edit a project that doesn't exist, I see the following...

![image](https://cloud.githubusercontent.com/assets/25212/9964533/b88b9858-5de5-11e5-8272-45149213f7d4.png)

Let's fix it up. We need some kind of in-editor messaging for cases like these maybe.

[2015-09-18 16:25] flukeout commented on #1130
@errietta The delete action seems to work great, awesome work.

Could you please update the styling in the dropdown, though?
* The Garbage can icon is darker than the rest of the icons
* The "Delete" project label is slightly too far to the left

![image](https://cloud.githubusercontent.com/assets/25212/9964783/1474b3a6-5de7-11e5-9e2f-d3b7f149f628.png)

If you format the markup just like the other

[2015-09-18 16:27] hannahkane commented on #1107
I think I agree with @humphd that the title isn't that important, but I do think the thimble and the username are needed, so don't want to lose that.

@chadsansing, @omnignorant and other frequent Thimble users: any input on whether displaying the title is a key part of the Thimble experience?

[2015-09-18 16:29] flukeout opened #1131 "Re-think main CTA on homepage."
Per @LauraReynal's feedback - the Start from Scratch action as the primary CTA isn't inviting enough. Can we come up with a more enticing thing for people to do?

@LauraReynal - what are your thoughts based on what you've seen so far?

[2015-09-18 16:45] flukeout commented on #1120
A related issue in #1130 - when you try to load a deleted or otherwise not available project in the editor.

[2015-09-18 16:45] jgmac1106 commented on #1107
It is not now. In fact I saw must of my first time users keep the step.

As a teacher though I would want the name later. I wonder if it is a better
feature for the gallery work down the road....If I care about a project I
can mark it as public, add a title,  and a description when ready to share.

On Fri, Sep 18, 2015, 12:27 PM hannahkane <notifications@github.com> wrote:

[2015-09-18 16:50] chadsansing commented on #1107
The title is more important for meta. I would be happy with a remix button that expands into a box with the title, as well.

[2015-09-18 16:52] flukeout commented on #1107
I tend to agree with all the points here. I've seen lots of Untitled projects published, and often the title is redundant because the content has it's own title.

I'll create an option that is collapsed by default.

[2015-09-18 17:33] humphd opened #1132 "Cloudfront invalidation on deploy"
When we deploy, our staging/prod boxes are still serving cached static assets, mixed with new web views rendered by nunjucks.  The result is that pages are a mix of new and old, and are almost always wrong, causing people concern who just pushed a change, or want to test something.

It would be nice if we automagically invalidated the cache when we deployed.  @jbuck thinks it's possible:

[code]

[2015-09-18 19:56] humphd commented on #1125
I think I've fixed this.  I'l get you to test next week and report back.

[2015-09-18 19:58] humphd commented on #1120
Good example of confusion around how to share something a user makes here:

https://twitter.com/smithisgeneric/status/644924701006004224

This editor URL looks like it will do something, but it won't.  How to convey that it's like a localhost url?

[2015-09-18 20:02] humphd commented on #1118
We've tried and failed to reproduce this, and we've also taken some steps to improve things (saving before you login, stability improvements to publish), so I'm going to close.  Let's file a new ticket if we see more of this.

[2015-09-18 20:02] #1118 closed

[2015-09-18 20:03] humphd commented on #1108
I'm going to close this and we can follow up in #1107 as we finalize that design.

[2015-09-18 20:03] #1108 closed

[2015-09-18 20:05] humphd commented on #1102
I agree this is confusing, and we're exploring improvements to this in #1120, closing this particular issue.

[2015-09-18 20:05] #1102 closed

[2015-09-18 20:06] humphd commented on #1077
See also https://github.com/MozillaFoundation/mofo-devops/issues/191

[2015-09-18 20:07] humphd commented on #1063
We can't fix this, it's a Safari bug, closing.

[2015-09-18 20:07] #1063 closed

[2015-09-18 20:08] humphd commented on #1056
@hannahkane do you mean for the `Export to Zip` part?  If so, I can inject a file into the exported project with that copy in it, and call it `thimble-attribution.txt` or something?

[2015-09-18 20:10] humphd commented on #1055
We're fixing this in #1107, closing.

[2015-09-18 20:10] #1055 closed

[2015-09-18 20:10] humphd commented on #1053
I haven't seen this in quite a while.  I'll file again if I see it happen.

[2015-09-18 20:10] #1053 closed

[2015-09-18 20:11] humphd commented on #1131
This is a dupe of #1049, let's work there.

[2015-09-18 20:11] #1131 closed

[2015-09-18 20:11] humphd commented on #1049
cc @flukeout

[2015-09-18 20:11] hannahkane commented on #1056
That sounds like a good solution.

[2015-09-18 20:12] humphd commented on #1045
@Saallen any chance you can add some details to this?

[2015-09-18 20:12] humphd commented on #1042
In the absence of "no, don't do that!" from our designers, I'm going to assume this is fine.  I'll fix in Bramble.

[2015-09-18 20:13] humphd commented on #1033
I'm going to close this, and we can file new bugs as we find things with the improved logging.

[2015-09-18 20:13] #1033 closed

[2015-09-18 20:13] humphd commented on #1032
I'm going to close this for now, and maybe follow-up in #427.  I'm unclear if we'll go this route yet or not, but at least it's filed with a workaround.

[2015-09-18 20:13] #1032 closed

[2015-09-18 20:16] flukeout commented on #1042
Sounds good!

[2015-09-18 20:16] humphd commented on #979
We're dealing with this in #1120, closing here.

[2015-09-18 20:16] #979 closed

[2015-09-18 20:16] humphd commented on #986
I'm going to WONTFIX as promised.  Great idea but not in scope.

[2015-09-18 20:16] #986 closed

[2015-09-18 20:17] humphd commented on #960
cc @flukeout

[2015-09-18 20:18] humphd commented on #957
@flukeout is this still happening?  We can't reproduce.

[2015-09-18 20:18] humphd commented on #910
I think this is done now, right @flukeout?  Can you close this if so?

[2015-09-18 20:19] humphd commented on #892
We have #1096 for this, closing this bug.

[2015-09-18 20:19] #892 closed

[2015-09-18 20:19] humphd commented on #859
I think this is "don't use really long file names".  Closing.

[2015-09-18 20:19] #859 closed

[2015-09-18 20:20] humphd commented on #770
Yeah, this really sucks.  We should fix.

@errietta, this might be one for you to try?

[2015-09-18 20:21] humphd commented on #758
We're reducing, not expanding what goes in the Remix bar, see #1107.  Closing this bug so we can work there.

[2015-09-18 20:21] flukeout commented on #957
I can't reproduce it anymore, let's close.

[2015-09-18 20:21] #957 closed

[2015-09-18 20:21] humphd commented on #755
No idea how I'd fix this, closing.

[2015-09-18 20:21] #755 closed

[2015-09-18 20:21] errietta commented on #770
sure, nom nom nom.

[2015-09-18 20:23] humphd commented on #666
This isn't worth fixing.

[2015-09-18 20:23] #666 closed

[2015-09-18 20:23] humphd commented on #663
No idea how to fix this, it's deep in Brackets.  Closing.

[2015-09-18 20:23] #663 closed

[2015-09-18 20:24] humphd commented on #660
I wonder if the recent effort to add more teaching kits to the homepage satisfies this?  Can we close now?

[2015-09-18 20:25] humphd commented on #601
If we do this, I'll re-open.  I don't think it's overly necessary, performance is great for fs operations as is.

[2015-09-18 20:25] #601 closed

[2015-09-18 20:26] humphd commented on #485
Talking about this with @flukeout today, and another idea would be to use Slack per-project (i.e., everyone who remixes project X might be in same room): https://api.slack.com/  Not in scope for now, but dropping a link for someone in the future.

[2015-09-18 20:37] humphd commented on #1132
@sedge is this something that you'd be good at, or interested in trying?

[2015-09-18 21:31] hannahkane commented on #660
Yes, we can close. Similar themes will come up in future tickets, but this one is not very useful.

[2015-09-18 21:31] #660 closed

[2015-09-18 21:58] sedge commented on #1132
Sure. I'll take this on as my next issue.

[2015-09-18 22:40] hannahkane opened #1133 "QA curated teaching kits"
Ran the three new teaching kits through https://validator.nu (thanks, @Humphd), and, while I fixed all of the errors, it could really use some attention from someone with more skills than me. In some cases, fixing the errors made it look worse (e.g. unordered lists now look really bad).

Also, I didn't yet fix errors from the original three teaching kits because I realized we were using a differen

[2015-09-18 22:41] hannahkane commented on #1133
cc @chadsansing

[2015-09-18 23:32] humphd commented on #1133
A couple more things I notice:

*Keep Calm, Postcard, Comic Strip*
* Links to https://thimble-beta.webmaker.org/resources/remix/index.js should use https://thimble.mozilla/org
* http://mofousers.s3-website-us-east-1.amazonaws.com/jess/mdkit/mobilekit-header.png is dead, it might be smart to just get whatever that image is and host it directly in the project

*Comic Strip teaching Kit*
* https://d1

[2015-09-19 05:49] my2iu opened #1134 "Custom Template for New HTML Pages?"
When trying to rewrite some CoderDojo HTML lessons to use Thimble, there was one things that didn't port over well. In the original lessons, new HTML files were created by copying an existing HTML file (called "blank.html"). So when students start a new page, they automatically get links to certain external stylesheets etc. on their new pages. With Thimble, when you create a new HTML page, you get

[2015-09-19 05:56] my2iu opened #1135 "Alternative to right-click in file pane"
Can you make an alternative to right-clicking in the file pane? When giving instructions to kids, right-clicks are always problematic because there's no right-click on Macs (plus, there's always someone who swapped their mouse buttons or who brought a tablet or something). So then you have to give an extended explanation about what to do if you can't right-click.

Maybe you could have a button to

[2015-09-19 10:24] Saallen commented on #1045
Sure @humphd
When we were swapping a new img text onto the Timble page on Safari we had some issues.
If there was no space between the two " "  we couldnt paste the image info in.
There was no issue with this on Chrome or Firefox browsers.
I realise that Thimble was not optimised for Safari at this stage though.

[2015-09-19 22:21] Pomax opened #1136 "Handling a broken FS / IndexDB in Firefox"
I tried opening thimble.mozilla.org today in a regular firefox session, but got

[code]

@humphd suggested trying a `Bramble.formatFileSystem()`, which yielded:

[code]

So it looks like, for _some_ reason, my IndexDB for thimble.mozilla.org got damaged, and getting back to a working site is far more work than we can expect regular users to perform.

[2015-09-19 22:24] humphd commented on #1136
For whatever reason, Firefox IndexedDB databases can become "wedged" and refuse to open.  There are a few bugs filed on this in Bugzilla, for example https://bugzilla.mozilla.org/show_bug.cgi?id=944918.  How to fix it...somehow one has to wipe their site-specific data and let the db get recreated.  The only data-loss that's going to happen is anything that was done while not authenticated, since w

[2015-09-19 22:33] humphd commented on #1136
I notice a bunch of bugs that look like they are related to this in https://bugzilla.mozilla.org/buglist.cgi?component=DOM%3A%20IndexedDB&product=Core&bug_status=__open__

[2015-09-19 22:35] humphd commented on #1136
https://bugzilla.mozilla.org/show_bug.cgi?id=1143003#c21 might offer a workaround to unwedge it

[2015-09-20 07:06] Rdilorenzo73 opened #1137 "Preview panel applies CSS selector matching as if in quirks mode"
(Clarification on closed issue #1113)

The preview panel in Thimble applies CSS selector matching as if in quirks mode - case insensitive.

However, the HTML5 doctype declaration in the HTML should trigger standards mode.

This seems to be an inconsistency -

Quotes from:
(http://www.w3.org/TR/2014/REC-html5-20141028/disabled-elements.html#case-sensitivity)

*The Selectors specification leaves the

[2015-09-20 13:52] humphd commented on #1137
cc @Pomax

[2015-09-20 14:03] humphd commented on #1137
You're exactly right, Brackets has stripped the `<!DOCTYPE html>`, which will indeed result in it being rendered in quirks mode.  The preview source ends up being:

[code]

I'll look into why it's doing that.

[2015-09-20 14:05] humphd commented on #1137
@gideonthomas I bet this is the HTMLRewriter using `document.outerHTML`, which doesn't include the doctype.  We need to also get `document.doctype` and concat before we build the blob.

[2015-09-20 18:51] humphd commented on #1137
Confirmed, and I've got a fix up for review in https://github.com/humphd/brackets/pull/470.  @Rdilorenzo73, thanks for sticking with this issue and researching it so well.  This is a good fix to get into Thimble and Bramble.

[2015-09-20 19:47] Rdilorenzo73 commented on #1137
@humphd Glad to contribute.  I'm eager to see Thimble evolve and succeed. I learning about the Git workflow and OS development from this.

[2015-09-20 20:30] Pomax commented on #1136
in a bizar twist, if I run FF dev edition on a new profile, things work. If I run plain FF on that same profile, I keep getting the indexdb errors

[2015-09-20 21:52] humphd commented on #1120
I'm not sure where to put this, but this HN post has come great comments about ways to mix human-readable URLs with numeric IDs: https://news.ycombinator.com/item?id=10244129  Basically, you have your server ignore everything after the id part you care about, which lets users create much more readable URLs, but lets you have unique IDs.  We should consider this.

[2015-09-21 09:26] icfly2 opened #1138 "Website menu disapears"
A very silly bug, but with FF 40.0.3 win Windows 7 and 8 but not with Chrome the menu at the top right after signing in on https://thimble.mozilla.org/ is slightly below the Hi, USERNAME hover menu item such that the menu (Your projects, New projects, sign out) disappears if you try and select it unless you are very fast or have a touch screen.

[2015-09-21 13:49] hannahkane commented on #1111
@flukeout - you might want to read @adamlofting's idea for Teacher Lesson Dashboards in this blog post: http://adamlofting.com/1037/whos-teaching-this-thing-anyway/

[2015-09-21 14:12] adamlofting opened #1139 "Learn from some of JS Bin's pain"
In case you haven't seen it, I thought Remy's write-up about things that have been difficult with JS Bin could be good for pre-emptive planning / roadmapping for Thimble:
- https://remysharp.com/2015/09/14/jsbin-toxic-part-1

cc @hannahkane @humphd @flukeout

[2015-09-21 16:06] #1137 closed

[2015-09-21 19:21] humphd commented on #1138
I think @flukeout talked about this before, see https://github.com/mozilla/thimble.webmaker.org/issues/817.  I agree we should fix this, I'll do it.

[2015-09-21 21:21] hannahkane opened #1140 "Design new Teaching Kit template"
Per #1133, we're now showcasing educator content using two different templates, both of which are a little bit broken.

It would be useful to have a new template that reflects @chadsansing's latest thinking on the format. Chad - if you agree, would you be able to add some requirements in a comment below?

[2015-09-21 21:27] hannahkane commented on #1133
Added a separate ticket about designing a new template, so as not to clutter this issue.

Not sure how to fix the issues humph mentioned. Have we lost the header image forever? cc @flukeout

[2015-09-21 21:47] hannahkane commented on #1133
@gideonthomas @flukeout - I think it's ok to push the homepage changes to production tomorrow. The errors listed in this ticket are already on production, and need to be resolved regardless of pushing the new changes.

[2015-09-22 00:57] jgmac1106 commented on #1140
I hope we try to simplify the design. the formatted lists embedded in lists
make it hard for many community members like me who do not have the skill
set. I am all for leveling up people's skills but lets make the templates
remixable by the general public. Let the people who are good at
contributing curriculum worry about curriculum and not so much code.

On Mon, Sep 21, 2015 at 5:21 PM hannahkane

[2015-09-22 01:36] chrislarry33 commented on #1140
Agree we need to find the right balance here Btw the 2  skill, coding the remix and the curricular craft.

Is this something we could test?

[2015-09-22 09:13] SiReid68 opened #1142 "login - emails not being received"
Hello all,

I'm a teacher with several groups of students using Thimble at the moment.
Problem for some of them is with logging;
They add their registered school email address and they receive the message telling them an email has been sent with their passkey....except it never arrives.

They have registered with the correct email address, the email isn't in their junk folder either. Problem is fo

[2015-09-22 09:46] icfly2 commented on #1138
Yes I agree they concern the same issue. On my version of FF the website is practically not usable though because of this. In Chrome it works fine. Thus I would consider this a bug and not really something for enhancement.

The problem is the gap shown in the picture. The mouse has to pass it and as it does the menu disappears again. Sometimes there is a small delay in rendering this and then the

[2015-09-22 09:48] jgmac1106 commented on #1140
I can test no-fi/lo-fi users and assign a lesson plan activity for my
students. Once teaching kit (which we are defining as a series of
activities?) is done they will use it. During #thimblechat make one of the
questions would you like test curriculum and templates? Maybe we can grab a
few users with a little more skill.

On Mon, Sep 21, 2015 at 9:36 PM Chris <notifications@github.com> wrote:

[2015-09-22 11:23] errietta commented on #770
@humphd so hopefully i changed the right thing here.. https://github.com/mozilla/publish.webmaker.org/pull/161

[2015-09-22 12:07] chadsansing commented on #1140
Let's lean toward the template we've used for Web Lit Basics & Protect Your Privacy to avoid inadvertent re-branding.

I would love a new banner/logo at the top w/ teach dot or MLN branding and a remix button or view on GitHub if we can commit to migrating stuff there. Thimble is still my preferred home for content until we have more user support for GitHub.

The two-column layout is okay; three g

[2015-09-22 12:16] jgmac1106 commented on #1140
+1 on curriculum on Thimble over GitHub first. Maybe it becomes part of
workflow. Community submits kits for consideration.

If these reach level two on the guidelines, and the content fills a need,
it gets added to a git repo (should curriculum have its own?) by the
original author or whoever submitted (we can mentor when needed.. github
and/or markdown>html>git will take 1:1 mentoring in many ca

[2015-09-22 13:26] humphd commented on #1111
Github has something like this, fwiw: https://github.com/blog/2055-teachers-manage-your-courses-with-classroom-for-github

[2015-09-22 13:27] humphd commented on #1142
@SiReid68, I'm really sorry to hear this.  Thanks for letting us know.  It sounds like an issue with our Login and/or ID systems.  I'm CC'ing a few people who work on those so they will be aware, and maybe can help offer solutions.

cc @cadecairos, @simonwex, @jbuck, @ashleygwilliams

[2015-09-22 13:37] humphd commented on #1142
@SiReid68, you might also be interested in commenting on #1111, which is about better supporting your use case with students in a classroom setting.  Making Thimble work well for people like yourself is our goal, so it's great to have feedback.

[2015-09-22 13:41] cadecairos commented on #1142
@SiReid68 this is using `thimble.webmaker.org`, and not `thimble.mozilla.org` right? That's why the signup is password-less?

[2015-09-22 13:43] cadecairos commented on #1142
@SiReid68 Okay, I can reproduce the problem on my end. Looks like our system is generating an incorrect welcome email. I'll check it out and file appropriate issues in the components that are acting up. (will reference this issue)

[2015-09-22 13:54] cadecairos commented on #1142
I take that back, it seems to be functioning fine on my end...

I had forgotten that the first session after account creation doesn't require a login token, but my subsequent logins are working fine.

[2015-09-22 14:05] cadecairos commented on #1142
I'm seeing failures to send emails to the domain "ea.edin.uk.sch". The mailgun API is saying it's not a valid to address.

@SiReid68 Is that the domain your student emails are hosted on?

[2015-09-22 14:05] SiReid68 commented on #1142
Thanks for feedback. This is for thimble.webmaker.org

Strangely I am asked for a password after signing in with email, though students are still asked for a passkey.

[2015-09-22 14:05] SiReid68 commented on #1142
sggs.org.uk is our domain

[2015-09-22 14:15] soapdog commented on #1104
Oh, this is great! :-D

Also, there is [prosemirror](http://prosemirror.net/) which could be integrated and allow us to provide a rich editor experience for *tutorial.md*

[2015-09-22 14:19] cadecairos commented on #1142
@SiReid68 I can't locate any error logs containing that domain.

Perhaps I can offer a couple work-arounds for the time being?

1. When your students are trying to log in, have them try to log in with persona by clicking the blue text to the right of the sign in button:

![screenshot from 2015-09-22 10-13-30](https://cloud.githubusercontent.com/assets/438003/10020766/a77586e8-6112-11e5-8a92-14b9d1

[2015-09-22 14:22] jgmac1106 commented on #1104
Is it wrong to not want a rich text editor? Almost want to force users
using html or markdown.

On Tue, Sep 22, 2015 at 10:15 AM Andre Alves Garzia <
notifications@github.com> wrote:

[2015-09-22 14:23] cadecairos commented on #1142
A couple questions so I can get a better picture of your situation:

Are all the students connecting from one computer lab or network?
Are the students using a shared account?

[2015-09-22 14:29] soapdog commented on #1104
I think you can add some toggle on the interface so that the user can switch between markdown/rich, this reduces friction. After all, its not about writing markdown but passing knowledge forward! :smiley_cat:

This way they can see how markdown and rich behave and may end up using markdown for speed and productivity.

[2015-09-22 14:53] humphd commented on #1114
https://twitter.com/gideonwilliams/status/646331659881680896 + https://twitter.com/gideonwilliams/status/646331332805677056

[2015-09-22 15:09] jgmac1106 commented on #1114
I added the relevant TOS under the examples of how others have solved the
problem. Something happened and the strikethrough went on the Edmodo TOS.
Figure you may eventually need for legal.

On Tue, Sep 22, 2015 at 10:53 AM David Humphrey <notifications@github.com>
wrote:

[2015-09-22 16:33] Pomax commented on #958
Initial thoughts on this: due to CORS, it feels like this would almost necessary have to run proxied over the app server, rather than happening purely client side. As such, a node-curl or node-wget is fairly possible, as long as they're bootstrapped to reject streaming media (anything without a known content length), and anything that's linked off-site.

Things get a little strange for files that

[2015-09-22 16:47] #712 closed

[2015-09-22 16:58] flukeout commented on #1135
Thanks for the feedback @my2iu, our original designs had something similar to what you're describing...

![image](https://cloud.githubusercontent.com/assets/25212/10025266/4a1191c4-6110-11e5-8988-11cf6d608810.png)

However, to implement this requires a fairly serious re-write of the Brackets file-tree (or implementing our own) so we opted to leave it as is. We've recently contemplated tackling thi

[2015-09-22 18:07] hannahkane commented on #1140
tagging @cassiemc because I think this might be a good learning project for an intern. I can write up a design brief if that would be useful.

thanks, @chadsansing for the detailed requirements and +1 on your terminology review.

[2015-09-22 19:26] SiReid68 commented on #1142
I've emailed you the details to your Mozilla email address, as it has personal details included to try and help resolve this.

Let me know if you don't get it?

thanks

Simon Reid
Head of Computing & E-Learning
Stratford Girls' Grammar School

Telephone: 01789 293759     Ext: 161
Follow us on Twitter: @ShotteryIT

________________________________
From: Christopher De Cairos <notifications@github.c

[2015-09-22 19:41] gideonthomas commented on #1112
The publishing timeout bug is https://github.com/mozilla/publish.webmaker.org/issues/152 while the general timeout issues are  https://github.com/mozilla/publish.webmaker.org/issues/153

[2015-09-23 00:08] flukeout opened #1143 "Fix up code collapsing arrows, they're too big."
![image](https://cloud.githubusercontent.com/assets/25212/10035204/7df157ae-614c-11e5-8118-ea94dbbe7f0e.png)

[2015-09-23 00:31] humphd commented on #1143
If you want to change this, they are defined in:

* https://github.com/humphd/brackets/blob/bramble/src/extensions/default/CodeFolding/main.less (requires a manual update to `main.css` if you change it)
* https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/stylesheets/lightTheme.css
* https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/styleshe

[2015-09-23 17:35] errietta commented on #770
@humphd https://github.com/mozilla/thimble.webmaker.org/pull/1144 :dancers:

[2015-09-23 18:25] gideonthomas commented on #1024
@humphd I actually think that @flukeout's suggestion might be a better fit here because I feel like users might find it more familiar to work with.

[2015-09-23 19:28] flukeout commented on #1024
Another alternative that might be worth doing is building a flat but indented list.

[2015-09-23 19:50] humphd commented on #1104
I've landed a first pass at this, which you can test at https://bramble.mofostaging.net.  I talked to the author of ProseMirror (who also wrote CodeMirror), and swapping one for the other in Brackets is a huge job.  I don't forsee doing that in Thimble.  For now, what I've done is to automatically generate an HTML file for a given markdown file.  See what you think.  It will work for `tutorial.md`

[2015-09-23 19:51] humphd commented on #1027
I've landed a first pass at this, which you can test at https://bramble.mofostaging.net.  For now, what I've done is to automatically generate a CSS file for a given LESS file.  See what you think.  You can link to the generated CSS file in your project, and it will "just work".

[2015-09-23 20:12] humphd commented on #1143
So weird, here is what I see:

![screenshot 2015-09-23 16 10 39](https://cloud.githubusercontent.com/assets/427398/10057356/d63ff624-620d-11e5-8ee3-f41ce4a7bb36.png)

I wonder if it's just different fonts between our systems?

[2015-09-23 20:12] #770 closed

[2015-09-23 20:18] #1138 closed

[2015-09-23 20:24] flukeout opened #1145 "Pomax can't find a project he wants to show me!"
@Pomax made a really cool thing in Thimble and can't find it in his projects list. He was clicking through each project in his My Projects list but couldn't find it. Let's explore ways to make things easier to find...

* Thumbnails
* Search inside projects from My Projects view
* Expose more meta data (like if it's published or not
* Not auto-save every untitled project?
* Prompt or suggest that y

[2015-09-23 20:26] Pomax commented on #1145
I noticed this on project https://thimble.mozilla.org/user/mopaxian/6831 which is supposed to have an index.html with a `<script>` element that tries to load in together.js, however the HTML source seems to have been reset to the default starter HTML

Two files: index.html, style.css

[2015-09-23 20:29] Pomax opened #1146 "Index.html source code gets reset to default"
I noticed this on project https://thimble.mozilla.org/user/mopaxian/6831 which is supposed to have an index.html with a `<script>` element that tries to load in together.js, however the HTML source seems to have been reset to the default starter HTML

Two files: index.html, style.css

[2015-09-23 20:32] Pomax commented on #1145
I can vouch for the fact that having thumbnails for projects would be super helpful. Especially if there's a number of "untitled project" entries, it's very hard to weed through them, since you can't open them concurrently (project links are not actually links), so you spend a lot of time going through each project one by one.

[2015-09-23 20:36] humphd commented on #1146
Here's what I really need to see next time this happens to you, the response for `data` on your network console, or if you still have it open:

![screenshot 2015-09-23 16 35 23](https://cloud.githubusercontent.com/assets/427398/10058013/22d4e7f8-6211-11e5-819a-355ac2ebf7a4.png)

[2015-09-23 20:37] flukeout opened #1147 "Finalize teacher & student wireframe flows for use in a focus group."
Current set of wires need to be refined into two separate flows, one from the teacher's and one from the student's point of view.

https://redpen.io/p/xef6f02a9757d2dc22

[2015-09-23 20:44] humphd commented on #1146
[code]
It's 200s as far as the eye can see.  My guess is that the `index.html` contents are being truncated somehow, and an empty string is being passed to the Bramble code for this file, which won't work with the preview, so it swaps in a proper html file as a safe guard so it doesn't fail to render.

Why it's missing the body of your file is not something I understand.

[2015-09-23 21:02] gideonthomas commented on #1146
Conversation from IRC:
[code]

[2015-09-23 21:22] flukeout opened #1148 "Design focus group to present, discuss and learn from educators about Thimble in the Classroom features."
We need to..
- [ ] Finalize the wireframes in #1147
- [ ] Make a list of people we'd like to invite and invite 'em
- [ ] Figure out a good format
  - Google presentation?
- [ ] Come up with a list of discussion questions
  - [ ] What about a form to fill out
- What else...

cc @hannahkane

[2015-09-23 21:23] flukeout commented on #1143
@humphd Certainly looks that way! Interesting.

[2015-09-23 21:58] jgmac1106 commented on #1027
I tired doing it from a zip file and got this error: I
![unnamed image 3](https://cloud.githubusercontent.com/assets/10534566/10060090/ac517a86-621c-11e5-96a3-f5e04621de6e.png)
 will try if I unzip locally and upload each file.

[2015-09-23 22:13] flukeout opened #1149 "Discuss ways for teachers to view the code of unpublished projects created by their students."
Here's a user story...
- "As a teacher, I want to see the code that my students are working on in projects they haven't published yet."

We'd like to explore the concept of granting teachers special powers to be able to view their students' in-progress projects via the editor, but without being able to make changes. This would allow them to check in and see what a student is up to and what they ar

[2015-09-24 00:25] humphd commented on #1027
Is that file doing an import of other LESS files?  That will break atm.  I'd have to write more code to allow it to find those files...

[2015-09-24 01:30] jgmac1106 commented on #1027
Probably it was just a template from:
http://startbootstrap.com/template-overviews/freelancer/

I don't even really know what a LESS file is. I just knew that the template
 had one and I wanted to see what happened with the auto unzip.

On Wed, Sep 23, 2015 at 8:26 PM David Humphrey <notifications@github.com>
wrote:

[2015-09-24 01:34] humphd commented on #1027
OK, perfect, thanks for the link.  It's doing:

[code]

Which is a special LESS directive to pull the contents of `variables.less` and `mixins.less` into this file.  I'll need to add a rewrite step for these.

[2015-09-24 12:59] jgmac1106 commented on #1143
Yes, my code collapsing arrows now cover up content
![code collapse](https://cloud.githubusercontent.com/assets/10534566/10073951/9654e2bc-629a-11e5-8f45-6d2053bae942.png)

[2015-09-24 14:49] jbuck commented on #1112
@cadecairos has a patch in https://github.com/mozilla/id.webmaker.org/pull/368 that I'm going to review and land, and we'll see if that improves things

[2015-09-24 15:14] humphd commented on #1112
This is *great* news, thanks to you two for pushing on this.

[2015-09-24 18:12] humphd commented on #693
We stalled on this, but @jbuck says that we can register a domain and use that vs. the current random cloudfront one.

@hannahkane, can you figure out what this should be, and let's just do it.  I think we should do it sooner rather than later, for indexing purposes.

[2015-09-24 18:14] emmairwin opened #1150 ""External Changes" warning updating style.css"
After updating style.css I received this message in popup:

"/5216/projects/15587/style.css has been modified on disk outside of Brackets, do you want to save the file and overwrite those changes"

Everything was fine, I didn't lose anything, but FYI.

[2015-09-24 18:16] emmairwin commented on #1150
![mozilla thimble](https://cloud.githubusercontent.com/assets/60618/10082256/ad38a29e-62ad-11e5-975b-d50098b0a128.jpg)

[2015-09-24 19:05] #910 closed

[2015-09-24 19:05] flukeout commented on #1147
@hannahkane I've refined the wireframes based on the stuff we discussed. Please have a look.
https://dl.dropboxusercontent.com/u/109902/bramble/thimble-in-the-classroom.pdf

Let's chat later today when you have some time.

[2015-09-24 19:31] emmairwin opened #1151 "Project with title - shows as having no title after publish"
Even though this project has a title in the code view, and in the projects view the published link shows as 'untitled'. Tried closing and opening browser, changing title again.

https://d157rqmxrxj6ey.cloudfront.net/sunnydeveloper/15587/
![random_community_challange_-_generator_-_2015-09-24_12 31 20](https://cloud.githubusercontent.com/assets/60618/10084417/3411c8cc-62b8-11e5-94f3-35adf207a8ad.png

[2015-09-24 19:42] gideonthomas commented on #1151
Hmm, I see a title when I click on that link. Did you first publish it without a title? Maybe your browser showed a cached version of the page when you refreshed it.

[2015-09-24 19:42] jbuck commented on #1112
Okay, so adding that patch definitely helped with response times to id.webmaker.org, but some projects, like [this 10MB project](https://d157rqmxrxj6ey.cloudfront.net/cabravoeco/12815), still cause issues when the server needs to pack a 10MB tarball within the request handler.

[2015-09-24 19:51] sedge commented on #772
Is this still an issue? cc: @humphd @gideonthomas

[2015-09-24 19:56] gideonthomas commented on #1150
Ah, thank you for reporting this! This is sorta a known issue that kinda slipped through the cracks.

@humphd we seem to have a timing issue when we auto-save for some reason. Brackets seems to detect that there are changes between the in memory version and the fs version.

[2015-09-24 20:03] emmairwin commented on #1151
@gideonthomas it eventually did show, although I'm not sure what triggered it. could be caching, but other updates showed which was strange.

[2015-09-24 20:52] sedge commented on #1132
See also: https://github.com/humphd/brackets/issues/472

[2015-09-24 21:38] flukeout commented on #1147
I'm making some changes to these based on a review with Kristina and Sabrina, will post at EOD

[2015-09-24 23:35] flukeout commented on #1147
Here's an udpated version:
https://dl.dropboxusercontent.com/u/109902/bramble/thimble-in-the-classroom-2.pdf

[2015-09-25 13:53] hannahkane commented on #1147
@flukeout - looking really good. I'd really like to get input from @chadsansing, since there's a lot of overlap with curriculum functionality here. Chad - maybe Luke and I can walk through this with you next week?

[2015-09-25 14:01] hannahkane commented on #693
Are we making a thimble-specific decision here, or will this apply to all projects including Webmaker?

cc @simonwex @xmatthewx

[2015-09-25 14:19] jbuck commented on #693
It'd apply to thimble and goggles

[2015-09-25 14:22] hannahkane commented on #693
this feels like a branding decision. I'm not the right person to make it. @HPaulJohnson @cassiemc - any thoughts on this?

[2015-09-25 14:29] jbuck commented on #693
Also, don't list preferred domain names here in this thread; please discuss somewhere private so we don't have someone grab the domain before we can :)

[2015-09-25 16:12] chadsansing commented on #1147
Yes! Let's set up a time. The wireframe/concept with the instructions & student project tabs is full of win.

[2015-09-25 18:26] cassiemc commented on #693
If we can't talk about domains here let's book a meeting time and hash it out

[2015-09-25 18:29] jbuck commented on #693
A private github repo issue would also work

[2015-09-25 18:48] humphd commented on #817
Fixed by https://github.com/mozilla/thimble.webmaker.org/pull/1141#issuecomment-142452656

[2015-09-25 18:48] #817 closed

[2015-09-25 18:49] humphd commented on #1138
This has been fixed, but we still need to push it to production.  @gideonthomas, can you do a prod push on Thimble next week so that https://github.com/mozilla/thimble.webmaker.org/pull/1141 gets picked up?  It's already on staging.

[2015-09-25 19:11] humphd commented on #1112
This is really interesting!  So letting people put files in a filesystem means they put lots of files in a filesystem!  We should figure out if we want to limit the total size of a project, whether we want to auto-reduce image files a user drags in, etc. in another bug

In the meantime, I think we should deal with the fact that we are going to have arbitrary sized data going in and out of Thimble

[2015-09-25 19:16] humphd commented on #869
So after months of speculation, we have some data on what users will do if you give them a filesystem that lets you drag-and-drop files from their OS.  As discovered in https://github.com/mozilla/thimble.webmaker.org/issues/1112#issuecomment-143029386, this project is **10M** in size, due to massive images:

https://d157rqmxrxj6ey.cloudfront.net/cabravoeco/12815

We should ponder whether we want t

[2015-09-25 19:19] humphd commented on #1112
@cadecairos on publish, after your caching patch I see:

<blockquote>
Request timeouts. There have been 35 timeout errors in the last day. Try investigating slow requests, adding more dynos or running more processes per dyno.
</blockquote>

<blockquote>
Response time degraded. Compared to this day last week, your median response time has increased 68%, and your 95th percentile response time has in

[2015-09-25 19:27] cadecairos commented on #1112
:+1: :tada: :tada: :tada:

[2015-09-25 20:10] davidascher commented on #869
Three questions:

Does the large project feel like it's a reasonable one or an abusive one?

Would the project work as well if e.g. we facilitated compression on upload?

What does our distribution of sizes look like?

I don't think we need to set policy based on worst case scenarios if users
are being responsible and the average cost stays low.

On Fri, Sep 25, 2015, 12:16 PM David Humphrey <noti

[2015-09-25 20:20] humphd commented on #869
1) Does the large project feel like it's a reasonable one or an abusive one?

It's a totally reasonable project, they just made a complete web site with lots of images.  No abuse here, but if I were doing it, I'd have probably shrunk the images down a bit.  This is honest web work :)

2) Would the project work as well if e.g. we facilitated compression on upload?

I'm not sure how we could do it a

[2015-09-25 20:25] davidascher commented on #869
Thanks Humph. This all seems like "everything OK".

On Fri, Sep 25, 2015, 1:21 PM David Humphrey <notifications@github.com>
wrote:

[2015-09-25 20:28] humphd commented on #1143
@jgmac1106, what content are they covering?  In the screenshot you posted, they are to the right of the line numbers in their own gutter section.  It looks right to me.

[2015-09-25 20:32] Rdilorenzo73 commented on #945
I agree with @flukeout .  The relative size of the line numbers / code folding area in the editor is too large.  I think it would be better to have be around 5-7% of the space in the editor area.

[2015-09-26 14:03] flukeout commented on #1143
Looks like the whole line mumber column is too wide and is covering the first character of wrapped lined.

[2015-09-27 18:00] errietta commented on #1097
Can't reproduce, I tried both in IE 11 and Edge with IE 11 emulation (Windows 10)

[2015-09-27 22:06] errietta commented on #715
Can someone mentor me on this pls? :heart: @flukeout ?

[2015-09-27 22:37] humphd commented on #715
@errietta thanks for offering to take this bug.  I'll get @gideonthomas to help you get started.  He's gthomas in #thimble on irc if you want to chat there, or you can ask things here, too.

[2015-09-28 13:06] gideonthomas commented on #1024
@flukeout brackets doesn't support submenus unfortunately :(
@humphd and I were discussing this and found that it might be a but complicated to implement submenus on our own. We figured it might be easier to just do a modal that shows you a set of folders that you can move a file to, when you click on the "Move to" option in the file menu.
Do you have any suggestions/design prototypes for what thi

[2015-09-28 14:54] flukeout commented on #1024
@gideonthomas Sure thing - you're talking about the regular old popup that we use for the file upload feature, right?

[2015-09-28 15:55] flukeout commented on #1024
Here is a slightly fancy solution in the style of the mac's finder...

![image](https://cloud.githubusercontent.com/assets/25212/10140830/23716ca6-65cf-11e5-8d82-8a5378531fad.png)

Each column would have to scroll vertically if there were too many folders to fit, and the whole thing would have to scroll horizontally to accomodate a very deep folder structure.

@gideonthomas Do we have control over

[2015-09-28 16:22] flukeout commented on #1024
Simpler, flat version. Shows all nested folders in one scrollable list.

![image](https://cloud.githubusercontent.com/assets/25212/10141619/2cd40700-65d3-11e5-8590-cb9bf8cf824f.png)

[2015-09-28 17:05] flukeout commented on #1148
I started a doc here https://docs.google.com/document/d/1VA3xM4dBpaVPFgVXUjdxfjiTCk2rak-uwC72VJmIOT0/edit

[2015-09-28 17:43] flukeout commented on #1147
@hannahkane Do we want to incorporate some student profile design work into this? It makes sense to have a view where the student sees what classes they are enrolled in.

[2015-09-28 19:31] errietta commented on #715
@gideonthomas so, where would we catch the title size? I saw persist() and save() and was thinking to set the input box back to the old value and do the necessary gui magic to make it back to a non-editable string.. Orr maybe just show an error and let them continue editing?

[2015-09-28 19:39] #1082 closed

[2015-09-28 19:45] flukeout opened #1154 "Preview header moves to strange position when window is made too narrow."
**Steps to reproduce**
- Start a new project, or refresh the editor
- Make the browser window narrower
- Eventually this happens...

![image](https://cloud.githubusercontent.com/assets/25212/10146591/5fae1f5a-65ef-11e5-84e8-6c94a09119e7.png)

**BUT, now try this**
- Start a new project, or refresh the editor
- Change the width of the preview slightly (by clicking and dragging where the preview and

[2015-09-28 20:00] flukeout commented on #1154
It seems like when the column-resizing code fires, things get set up appropriately and the columns scale correctly. We probably just need to fire that same code once when the editor loads.

[2015-09-28 20:19] flukeout opened #1155 "Local & Stating environments: Unable to add a new file to a project."
I'm unable to add a file via the "Plus" menu. Clicking on the file-type doesn't do anything, and creates the following error in the console...

![image](https://cloud.githubusercontent.com/assets/25212/10147556/36eb0664-65f4-11e5-9f7f-570dad38384f.png)

[2015-09-28 21:09] flukeout commented on #1143
@humphd Can you please inspect your editor in Firefox and click on the Fonts tab to see what font is actually being used to render the page for you?

For me, it's using Courier, which is different than for you and @jgmac1106

![image](https://cloud.githubusercontent.com/assets/25212/10148798/3cbee720-65fb-11e5-8efa-09605fe39e88.png)

[2015-09-28 21:16] humphd commented on #1143
![screenshot 2015-09-28 17 15 46](https://cloud.githubusercontent.com/assets/427398/10148980/98d2c802-6604-11e5-85ce-5b9a35bdffe3.png)

[2015-09-28 21:30] hannahkane commented on #1147
@flukeout - now I'm getting confused. Are we talking about the Teach profile or a Thimble profile? This is where they start to merge!

[2015-09-28 21:36] hannahkane commented on #1148
Nice, @flukeout. Added some comments.

[2015-09-28 22:09] hannahkane commented on #1104
Was trying to test this, but am unable to add a file to a project on staging right now. Getting this error: "Uncaught TypeError: Cannot read property 'stopPropagation' of undefined"

Is that a known issue?

[2015-09-28 22:41] humphd commented on #1104
@hannahkane that's unknown for sure.  This is on staging?  Do you remember what you did?

[2015-09-28 22:42] humphd commented on #1104
It's working for me.  The places where we call `stopPropagation` relate to login, and the userbar menu.  Is what you're seeing related to that?

[2015-09-28 22:44] hannahkane commented on #1104
On bramble.mofostaging.net -> "Start from scratch" -> clicked green "+" symbol at top of file tree -> selected Tutorial. Got this error:
![screen shot 2015-09-28 at 3 43 05 pm](https://cloud.githubusercontent.com/assets/8389648/10150966/c1c39668-65f7-11e5-8cc2-fc1443c48cc3.png)

[2015-09-28 22:46] humphd commented on #1104
OK, got it.  I see @flukeout filed it too https://github.com/mozilla/thimble.webmaker.org/issues/1155.  I'll debug and fix there.

[2015-09-28 22:47] hannahkane commented on #1104
@humphd - maybe, though I'm not intentionally doing anything related to logging in. I'm not logged in. I get the error each time I try to add any type of file.

[2015-09-28 23:14] humphd opened #1156 "Creating new project (locally) doesn't have style.css file"
I'm not sure if this is just my local environment, or if this is a real bug, but when I create a new project, I'm getting the `index.html` file, and no `style.css`:

![screenshot 2015-09-28 19 11 42](https://cloud.githubusercontent.com/assets/427398/10151372/e7930906-6614-11e5-8d22-80a8e67188f0.png)

The tar file we send just doesn't include it, so it seems like a server-side thing?

![screenshot

[2015-09-29 15:05] flukeout opened #1158 "Improve editor font situation."
Currently, at least on my machine, the editor falls back to Courier, which is pretty much last on the list of what Brackets actually wants to use...

``'Menlo Regular', Consolas, Inconsolata, 'Vera Sans', 'Lucida Console', Courier, monospace, fixed``

Apparently, Inconsolata is very similar to Menlo Regular, and is offered via Google fonts so let's use that.

This will also let us address the code

[2015-09-29 18:01] flukeout commented on #1147
@hannahkane Probably a Teach profile, in the same way that we have a space for teachers to see their classes, we need something for students. I'll add a wireframe for it just to complete the whole picture when we present, and we can decide where it will live later.

[2015-09-29 18:23] hannahkane commented on #1147
@flukeout - ok, sounds good

[2015-09-29 18:28] flukeout commented on #1147
Added to the redpen here - https://redpen.io/my97b7166348d208d6

[2015-09-29 19:48] hannahkane commented on #693
Can we put published projects on thimble.mozilla.org/[user]/...?

(per discussion with @HPaulJohnson and @cassiemc)

[2015-09-29 19:56] jbuck commented on #693
@hannahkane Unfortunately not, it has to be a completely separate domain. Because users can write whatever javascript they want in their projects, if we put published projects on thimble.mozilla.org they'd be able to write malicious projects that do wonderful things like delete all your projects simply by visiting a site.

[2015-09-29 22:12] errietta commented on #715
after @gideonthomas advice, i was able to produce https://github.com/mozilla/thimble.webmaker.org/pull/1159
Is there some design on what the error message should be like? kind of ugly atm
![1](https://cloud.githubusercontent.com/assets/134585/10179699/9bb80f86-66ff-11e5-867f-567900422f80.png)

[2015-09-29 22:13] errietta commented on #715
Also, any other checking we should  do apart from empty string?

[2015-09-30 14:27] #1155 closed

[2015-09-30 16:44] flukeout commented on #1107
I made some updates, there are now two different modes for the details bar

* **Desktop** http://flukeout.github.io/thimble-home/stay-calm-2/
* **Mobile** http://flukeout.github.io/thimble-home/stay-calm-2/mobile.html

[2015-09-30 17:46] flukeout commented on #715
Hi @errietta how about instead of adding the error message when the length is 0, we...
* Lower the opacity on the Save button to .5
* Make it so that clicking the Save button has no effect

[2015-09-30 18:08] hannahkane commented on #1107
Like!

[2015-09-30 18:51] errietta commented on #715
sounds good. Will have to catch it onchange, right?

On Wed, Sep 30, 2015 at 6:46 PM Luke Pacholski <notifications@github.com>
wrote:

--
Errietta Kostala
<errietta@errietta.me>

[2015-09-30 19:48] flukeout commented on #715
@errietta Yeah - I always forget which event makes sense, does onchange fire every keystroke? That's the one we want - maybe jQuery's "keypress" will work.

[2015-09-30 20:17] gideonthomas commented on #1156
I can't reproduce this :(

[2015-10-01 17:52] flukeout commented on #1107
**Feedback from the team**
* Overlay it over a few different projects to see how it adapts to different colors
* Try reducing the overall size a little bit for both modes to make it feel less chunky
  * Especially the mobile button
* Try inverting the colors - white button with green text / icon

[2015-10-01 18:33] flukeout commented on #1147
Changes to make based on discussions with @hannahkane and @chadsansing
* [] Maybe change Enroll to “Join” to make it sound less formal
* [] Reveal some of the public discussion on the submitted projects page (stuff that isn’t feedback)
Student dashboard, should is show a view with some thumbnails? <- we could remove this altogether
Add a view or wireframe for choosing different lessons to run and

[2015-10-02 15:18] flukeout opened #1161 "Cancelling a project rename with changes via ESC key persists the new title in the UI."
**Steps to reproduce**
* Click the project title to rename it in the editor
* Make some changes to the title
* Hit the ESC key to cancel editing
* The UI reverts to the non-editable title, but with the changes you made

![title-bug](https://cloud.githubusercontent.com/assets/25212/10250178/f34159ce-68ee-11e5-9933-2289ef72f2c6.gif)

[2015-10-02 20:18] flukeout opened #1162 "LESS files don't have CSS highlighting."
![image](https://cloud.githubusercontent.com/assets/25212/10256740/c362265a-6918-11e5-875d-e65abb4047b0.png)

We can just use whatever theme we use for CSS

[2015-10-02 21:51] flukeout commented on #1147
@hannahkane @chadsansing I've updated the wireframes to account for all (well, like 99%) of the feedback from our call yesterday...

https://redpen.io/p/xef6f02a9757d2dc22

Next up, I'll work on putting these into a presentation / storyboard format. Please leave comments if you have them.

[2015-10-02 22:54] hannahkane commented on #1147
Nice job, @flukeout. Left just a couple of comments in the redpen.

[2015-10-05 00:29] chadsansing commented on #1147
+1000.

[2015-10-05 15:17] gideonthomas commented on #1024
@flukeout what would this look like for the dark theme?

[2015-10-05 19:39] errietta commented on #1097
@humphd i can't reproduce on win 10, i'm thinking maybe it's version specific since people are getting it on win 7 ...

[2015-10-05 19:54] #715 closed

[2015-10-05 21:02] errietta commented on #1097
Hi,

managed to reproduce. Apparently it's win 7 only - looks like win 10 has a newer IE 11.
It also happens when you mouse over pencil button, not after editing :smile:

[2015-10-05 21:42] flukeout commented on #1024
@gideonthomas Good Q - I'm not really digging that we have themes for the popups in general. I don't mind if it stays white.

[2015-10-05 22:06] flukeout opened #1163 "Add ability to change the file you're editing with the keyboard."
I find it cumbersome to switch the file I'm editing by clicking on it, especially when jumping between a pair of HTML & CSS files. Desktop Brackets allows you to switch between files with Control + Tab, but that switches tabs in the browser, so we need a different approach.

In other editors, you can tab through your 'opened' files, but we don't really have that concept, so maybe just being able t

[2015-10-05 22:27] flukeout opened #1164 "Add Google Analytics tracking to Published projects."
We don't have any tracking baked into Published projects but I think we should.

I was thinking that we could set up a separate "site" under Google Analytics so we could track these independently from the Thimble homepage and editor.

@adamlofting Thoughts?

We could inject the tracking code along with the details bar and remix button for published projects.

[2015-10-05 22:40] flukeout opened #1165 "Get read access to the projects database(s)."
I'm not sure if we keep published and draft projects in separate databases, but it would be really helpful to have some kind of read access to those places to see what kind of content people are creating.

@jbuck Can you help?

[2015-10-05 22:43] hannahkane commented on #1077
Duped by #1165

[2015-10-05 22:43] #1077 closed

[2015-10-06 14:39] humphd commented on #1097
Great, so if it's just a Win7 thing, let's close it.  Thanks for your research and testing, @errietta.

[2015-10-06 14:39] #1097 closed

[2015-10-06 14:48] humphd commented on #1156
Let's close it then.  It must be just my env locally.

[2015-10-06 14:48] #1156 closed

[2015-10-06 14:51] humphd commented on #1112
@gideonthomas I'd like to discuss my plan above, esp. doing the simpler `nextTick()` yielding.

[2015-10-06 14:53] humphd commented on #1150
The most likely explanation for this is that we call `writeFile` on the Filer filesystem vs. the Brackets FileSystem wrapper object, which means we don't hash/cache the contents in memory.  We should probably audit our `writeFile` calls so we can use the correct abstractions.

[2015-10-06 14:53] humphd commented on #772
I don't think we care, no.

[2015-10-06 14:53] #772 closed

[2015-10-06 15:31] #1125 closed

[2015-10-06 15:36] #1040 closed

[2015-10-06 15:44] humphd commented on #648
@flukeout can I get you to do a PR that adds this select widget, and I'll hook up the backend.

[2015-10-06 15:55] flukeout commented on #648
Will do.

[2015-10-06 16:04] gideonthomas commented on #1007
@jbuck absolute paths will break things while publishing! Published urls usually look like this: `https://d157rqmxrxj6ey.cloudfront.net/<username>/<publishedId>/`. Do you have any suggestions on how to possibly get around this?

[2015-10-06 16:15] jbuck commented on #1165
@flukeout Do you have access to the [publish-webmaker-org-prod](https://dashboard.heroku.com/apps/publish-webmaker-org-prod/resources) application on Heroku? You can use the database credentials in the app to view projects via any Postgres tool.

[2015-10-06 16:15] #1165 closed

[2015-10-06 16:31] hannahkane commented on #1165
Is it possible for Lainie and I to have access / instructions as well?

[2015-10-06 17:27] jbuck commented on #1007
Some thoughts from IRC

[code]

[2015-10-06 17:30] jbuck commented on #1007
It sounds like any solution we do needs to support three things:

1. Have absolute URLs work in the preview pane
2. Have absolute URLs work in the published project
3. Have absolute URLs work in a remixed project

[2015-10-06 18:09] gideonthomas commented on #1007
One suggestion is the following:
[code]

[2015-10-06 21:11] jbuck commented on #1165
@flukeout can you help Hanna & Lainie?

On Tue, Oct 6, 2015 at 12:31 PM, hannahkane <notifications@github.com>
wrote:

[2015-10-06 21:16] flukeout commented on #1165
@jbuck @hannahkane @ldecoursy For sure

[2015-10-07 01:24] humphd commented on #980
https://github.com/adobe/brackets/wiki/User-Key-Bindings

[2015-10-07 10:18] icfly2 commented on #1138
I'm assuming this push hasn't happened yet? As the behavior still persists.Thanks for the quick response to the initial problem though.

[2015-10-07 17:51] hannahkane commented on #696
Adding this to the Pre MozFest milestone, because we ought to do it soon. @flukeout to determine how to include these links.

[2015-10-07 19:38] humphd commented on #1138
Yeah, we haven't pushed this to production yet.  @gideonthomas, can you do a prod push on Thimble so we get this in?

[2015-10-07 20:18] humphd commented on #1112
I landed a fix in publish for this, we just need to do staging/prod pushes.  @gideonthomas, can you help and then close this?

[2015-10-08 16:25] humphd commented on #1158
Fixing this in https://github.com/humphd/brackets/pull/475

[2015-10-08 16:33] panaggio opened #1167 "Can't use Thimble if I block trackers"
I block every tracker that I know, including Google Analytics, and because Google Analytics can't be loaded, I can't even try new Thimble. I see the following message:

I also use DNT. So Mozilla isn't following a standard that it's pushing around?

[2015-10-08 16:42] humphd commented on #1167
The issue here is IndexedDB not working in Private Browsing Mode in Firefox, see https://bugzilla.mozilla.org/show_bug.cgi?id=781982.  We can't fix it, but Mozilla is aware of it and working on a fix.

[2015-10-08 16:42] #1167 closed

[2015-10-08 16:58] sedge commented on #1138
Pushed to prod.

cc: @humphd

[2015-10-08 17:01] humphd commented on #1138
Great.  @icfly2 this may take ~1 day to actually update where you are (cache servers are good at caching things!).

[2015-10-08 17:05] panaggio commented on #1167
I'm not using private browsing.

Here are my privacy settings:

![Screenshot of Privacy Settings](http://imgur.com/7tzbqF5)

Here are the logs:

	Content Security Policy: This site (https://thimble.mozilla.org) has a Report-Only policy without a report URI. CSP will not block and cannot report violations of this policy. <unknown>
	Content Security Policy: The page's settings observed the loading o

[2015-10-08 17:08] humphd commented on #1167
If you're not in private browsing mode, you might be hitting https://github.com/mozilla/thimble.webmaker.org/issues/1136 which is another Firefox IndexedDB bug.  The fix seems to be using a "newer" Firefox (e.g., Developer Edition), but see that issue for more info.

[2015-10-08 17:19] jgmac1106 opened #1168 "New projects for authenticated users are missing the style.css file"
Getting this url: https://thimble.mozilla.org/projects/new?cacheBust=1444324560565

And Internal Server Error

[2015-10-08 17:32] humphd commented on #1168
Looks like db problems on prod:

[code]

cc @jbuck

[2015-10-08 17:34] humphd commented on #1168
We need to run a database migration on prod for @Pomax's change to the publish db.  @jbuck is doing now.

[2015-10-08 17:35] humphd commented on #1168
@jgmac1106 THANK YOU FOR REPORTING THIS!

[2015-10-08 17:37] sedge commented on #1168
Fixed!

[2015-10-08 17:38] jgmac1106 commented on #1168
Thank you @sedge @humphd  @pomax and @jbuck

[2015-10-08 17:44] jgmac1106 commented on #1168
Is new project supposed to come with only index file now?

If so I would delete the css link and put in directions in code comments like javascript file
![newproject](https://cloud.githubusercontent.com/assets/10534566/10374713/a01f9df4-6dc2-11e5-9faf-842746514130.png)

[2015-10-08 17:55] humphd commented on #1168
No, that's something else we've seen randomly.  Re-opening.

[2015-10-08 18:04] flukeout commented on #1162
@humphd I'm going to sneak this into the pre mozfest milestone to get your take on the effort. It seems like a minimal change could improve this a lot - without the highlighting we're crippling an otherwise really useful feature.

[2015-10-08 18:09] humphd commented on #1168
The tarball we send from the node app is missing the `style.css` file, so this has to be some kind of server-side bug.  It only happens for authenticated users with a new project.

[2015-10-08 18:22] jbuck commented on #1168
@humphd Maybe related to your tarball generation changes?

[2015-10-08 18:25] humphd commented on #1168
@jbuck don't think so, because this is *only* done on Thimble's node app (i.e., the default new project for a Thimble user doesn't read from publish).  It has to be the Thimble node app, we're trying to find it now.

[2015-10-08 18:27] jbuck commented on #1168
Ahh, my apologies

On Thu, Oct 8, 2015 at 2:25 PM, David Humphrey <notifications@github.com>
wrote:

[2015-10-08 18:29] humphd commented on #1168
No apology necessary, we need more theories.  We're baffled.

[2015-10-08 18:51] jgmac1106 commented on #1168
I doubt this could have possible do anything but I was saving right when you pushed to production:

![unnamed image 1](https://cloud.githubusercontent.com/assets/10534566/10376453/f523c614-6dcb-11e5-8363-b4d8d6344618.png)

[2015-10-08 18:55] sedge commented on #1168
This is a promise bug. Patch incoming...

[2015-10-08 20:17] flukeout opened #1169 "Code in the editor is overlapped at higher font sizes."
**Steps to reproduce**
* Increase the font size of the text in the editor

![text-overlap](https://cloud.githubusercontent.com/assets/25212/10378665/f6d40918-6dbe-11e5-82e0-3cfeee717901.gif)

[2015-10-08 21:24] flukeout opened #1170 "Track date_created and date_updated for published projects."
Sadly, we don't right now...

![image](https://cloud.githubusercontent.com/assets/25212/10380326/112fd9b4-6dc8-11e5-9574-289157a6622b.png)

We track them for the projects table, but we have no way of knowing when something was published or the published version was updated.

[2015-10-08 21:41] flukeout commented on #1164
@gideonthomas Here's the tracking code...
[code]

[2015-10-08 22:04] flukeout opened #1171 "It's hard to tell which project people are remixing from the homepage."
If someone remixes a project from the Homepage, google analytics registers their "exit" page as...
`https://thimble.mozilla.org//anonymous/fc7b1a61-edb0-4198-bca4-3388e589f418/72``

From this, we can tell that they remixed project `/72` - but, it's difficult to add these up and compare them across the other 5 projects.

Also, the in-page analytics don't work on the homepage for some reason, it mig

[2015-10-08 22:08] flukeout opened #1172 "Track how many times a project was remixed."
It would be handy to see how many times a project was remixed.

[2015-10-09 02:36] humphd opened #1173 "Intro to Thimble UI Teaching Kit and Project"
From https://twitter.com/mozilla/status/651778087596785664, a _great_ suggestion to have some kind of learning artifact that helps people figure out how to use the UI.  Could we build some kind of teaching kit and remixable project on the homepage which is about learning how to use Thimble as such vs. how to make things on the web.

Some of what I have in https://github.com/mozilla/thimble.webmake

[2015-10-09 02:59] humphd commented on #1168
Fixed by https://github.com/mozilla/publish.webmaker.org/commit/4313551b7a72b2b6353580e20b067dfa6b24fc07, long live @sedge.

[2015-10-09 02:59] #1168 closed

[2015-10-09 08:48] icfly2 commented on #1138
Awesome! Thanks for the great work.

[2015-10-09 10:36] jgmac1106 commented on #1173
I can help. Been fooling around with some tutorials already.

My idea would be a basic "Hello world"  project that starts with a selfie
project and works up to downloading a few page "about me" website from a
git repo.

Within the tutorial.html file we highlight all the features. @humphd
shared.

That could be followed with a how "the heck to you use Git" tutorial that
has people download their ne

[2015-10-09 11:27] chadsansing commented on #1173
@jgmac1106, let me know how to support the tutorial-making. I'll mull GitHub tutorials w/ you, too, further down the road, if that'd be helpful.

[2015-10-09 14:08] adamlofting commented on #1164
Please hold-off from adding this to published projects for now. This needs a little more planning.

Am I right in thinking the published projects are still accessed via a cloudfront URL?

The chose domain name has an impact on cookies which impacts on how the user journeys are tracked between related properties (e.g. Editor to published project, and vice versa).

[2015-10-09 15:54] flukeout commented on #1164
Hey @adamlofting, for now it's on cloudfront, but will eventually live on ``thimbleprojects.org``. I'm not sure about the timeline for the switch, but when it happens we can set up cross-domain tracking.

Are there any downsides to adding some basic tracking in the interim before we sort this out?

[2015-10-09 16:04] jgmac1106 commented on #1173
Not sure if this messes up the pre-moszfest heartbeat but I won't have much
capacity until Oct 15th.

After that date I can build up the site. I think I am going to start with
migrating Doug's about me page from old Thimble to New Thimble:
https://dajbelshaw.makes.org/thimble/MTY5Mjk5MTQ4OA==/doug-belshaw-open-educational-thinkering
It
has always been approachable to n00bs and something they can w

[2015-10-09 17:02] flukeout commented on #1164
@adamlofting will investigate potential concerns with GA cookies set on stuff hosted via CloudFront.

[2015-10-09 17:14] jgmac1106 commented on #1173
Here was my first pass: https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/25549/

I am going to start on the tutorial file but wanted to get an eye on this.

My major question is the use of the defined pixel size of the div box? Would that now be considered bad practice? Should it by percent or should the whole content div container a thing of the past and better practice is more a full width websit

[2015-10-09 18:34] flukeout opened #1174 "[STAGING] Styles set in a LESS file aren't immediately reflected in the preview."
**Steps to reproduce**
- Create a project with a linked LESS file
  - On staging you can remix this one http://bramble-staging.s3-website-us-east-1.amazonaws.com/flukeout/32/
- Make a change to the LESS file
- It won't appear in the preview until you click the index.html file in the file tree

![less3](https://cloud.githubusercontent.com/assets/25212/10402482/85d0741a-6e7a-11e5-9a3e-642c3a08b6ba.g

[2015-10-09 18:43] humphd commented on #1174
I'll see if I can fix this in the next milestone.

[2015-10-09 18:44] #1158 closed

[2015-10-09 18:44] humphd commented on #1162
This is actually fixed, just not landed on prod.  Closing.

[2015-10-09 18:44] #1162 closed

[2015-10-09 18:47] humphd commented on #1161
@errietta do you want to see if you can track down this regression?  Might be related to the change we did with title renames.

[2015-10-09 18:47] errietta commented on #1161
@humphd  love the gif and sure =)

[2015-10-09 18:56] #1112 closed

[2015-10-09 18:56] humphd commented on #1143
This has landed on staging.

[2015-10-09 18:56] #1143 closed

[2015-10-10 14:16] jgmac1106 opened #1177 "When I navigate from tutorial.html to css.styles the preview window should change"
Currently if I am working on a tutorial and then click back on the css.style sheet the tutorial stays in the preview window.

It isn't much but it would save a click and some user confusion if the window goes back to the DOM preview when you click on css.style.

[2015-10-10 14:58] humphd commented on #1177
So you have the `tutorial.html` file open in the editor, and you *are* or *are not* in `Tutorial` mode?  And you click on the `style.css` file and the preview stays on `tutorial.html`?  And you expect what to happen, that isn't happening?

Thanks for filing, just trying to understand the issue so I can reproduce here.

[2015-10-10 15:19] jgmac1106 commented on #1177
Yes Here is a quick screenshot
![Navigation](https://cloud.githubusercontent.com/assets/10534566/10411825/9f42f4c4-6f40-11e5-8eb7-04ccc1cff2c0.gif)
k screenshot

[2015-10-10 19:25] jgmac1106 commented on #1173
@chadsansing @humphd Here is my first attempt. https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/25549/

I started on the activity page but thought for now this might be better as a stand alone tutorial. Please take a look and see if I hit all the features and didn't get any thing wrong.

I had a little trouble with the pre code class.

Though I wonder if this issue belongs in the Learning Repo. I w

[2015-10-11 10:54] jgmac1106 commented on #1177
What would be the best case scenario IMO if someone clicked on the tutorial file or tutorial tab the preview window would automatically expand over to the file tray and the editor would be hidden.

Thus learners would have the full tutorial and see the tutorial mark up unless they manually resized the window.

I keep seeing students edit the tutorial mark up when they meant to edit the index.html

[2015-10-12 11:18] chadsansing commented on #1173
@jgmac1106, [shared feedback on Discourse] (https://discourse.webmaker.org/t/thimble-project-to-introduce-ui/180/2).

[2015-10-13 13:13] amlwwalker opened #1178 "Font size increase means editor disappears behind line numbers"
One making the text bigger

![image](https://cloud.githubusercontent.com/assets/2920180/10455680/8ff7b7cc-71b4-11e5-8d85-d6c7d3124ccf.png)

[2015-10-13 14:25] humphd commented on #1178
Thanks for filing this, it's something we have on our TODO list in the near future.  I'm going to follow-up in #1169 and dupe this bug on that.

[2015-10-13 14:25] #1178 closed

[2015-10-13 14:45] humphd commented on #1150
Fixed.

[2015-10-13 14:45] #1150 closed

[2015-10-13 14:45] humphd commented on #1104
This is fixed now, and pushed to production.

[2015-10-13 14:45] #1104 closed

[2015-10-13 16:53] jgmac1106 commented on #1173
@humphd Would it be bad form just to publish a project to host all of the images? Having that many files in the tree made navigation a little hard for users to navigate.

I am also going to experiment (has to wait until after my P&T binder) with making before and after images of just the code window so they will fit natively on most screens.

I forgot most of the world doesn't have a big display.

[2015-10-13 17:54] humphd commented on #1169
We think this is fixed, just going to confirm on staging...

[2015-10-13 18:21] humphd commented on #1169
Confirmed, this is fixed on staging.  Next time we do a prod push, it will be fixed there too.  Closing.

[2015-10-13 18:21] #1169 closed

[2015-10-13 19:41] humphd commented on #1092
I'm going to merge this with #1115, which is basically about solving similar issues.

[2015-10-13 19:41] #1092 closed

[2015-10-13 20:25] humphd commented on #1115
@gideonthomas and I discussed this today, and I think what I'm going to try is the following:

* we store paths and operations for those paths on the project root as an xattrib.  The data will look something like this:
[code]
Here we have an object keyed on file paths.  Each file path has an array value, which records linear file operations to be applied, based on events from Bramble (autosaves, r

[2015-10-14 00:48] jgmac1106 opened #1179 "Thimble editor will not load"
The thimble editor will not load. Just the spinning Thimble (too early to call spinning thimble of death? or is that this trope is  too tired).

I have tried a few times and shut down the browser. Didn't delete cookies.  If I navigate to my projects a new untitled project is there for each time I try.

[2015-10-14 00:55] humphd commented on #1179
What's on your error console?  I can't reproduce there (it's loading for me).  Also, which OS/browser?

[2015-10-14 01:09] jgmac1106 commented on #1179
Works in Firefox for me. Not on Chrome 46.0.2490.71 on 10.10.4 Yosemite.

On Tue, Oct 13, 2015 at 8:55 PM David Humphrey <notifications@github.com>
wrote:

[2015-10-14 01:11] jgmac1106 commented on #1179
Worked fine after deleting cached files and cookies.

[2015-10-14 01:11] #1179 closed

[2015-10-14 04:20] emmairwin commented on #1104
Thanks!

[2015-10-14 14:57] DraeJR commented on #1179
I had the same problem I'm on 10.10.2 Yosemite using Chrome.
I could not load projects and instead got the loading thimble-symbol on repeat.

I found this thread and I deleted cashed files and cookies

Currently the whole site will not load and instead gives me this error message:

" Application Error: An error occurred in the application and your page could not be served. Please try again in a fe

[2015-10-14 19:08] #1002 closed

[2015-10-14 23:57] humphd commented on #1179
Thanks for all the follow-ups here.  We've been tracking some scaling issues on the Thimble publish server, which is causing timeouts (the problem was an influx of a lot of new users all at once, which swamped our servers).  We've turned on autoscaling, so it *should* scale up/down automatically as needed on the backend.  We continue to monitor and tweak things, and if you find that you're having

[2015-10-15 10:51] jgmac1106 commented on #1179
You will have to give me a quick tutorial on an error console some time.
Have no idea what that is.

On Wed, Oct 14, 2015 at 7:57 PM David Humphrey <notifications@github.com>
wrote:

[2015-10-16 16:08] jgmac1106 opened #1181 "h2 and h3 same font size in tutorial file"
Not sure if this is deliberate but the font size seems the same for leevl two and three headers. I would like at least three levels.

[2015-10-16 16:50] humphd commented on #1181
They are *ever* so slightly different, but perhaps not enough?  See https://github.com/mozilla/thimble.webmaker.org/blob/bramble/public/resources/tutorial/tutorial.css#L29-L37  cc @flukeout

[2015-10-16 18:23] jgmac1106 commented on #1173
@humphd @omnignorant @chadsansing
I redid the tutorial. https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/7423/

All of the image files are hosted in another project so the file tree doesn't get crazy and I used smaller gifs.

[2015-10-16 22:17] AndyForest opened #1182 "Javascript: links in A tags don't work in editing mode"
Demonstration project that shows the error:
https://d157rqmxrxj6ey.cloudfront.net/dimentians/7549/

Steps to reproduce - Add this HTML to a Thimble page:

[code]

It does not work in the development mode for a Thimble project. It works fine in a published page. The Javascript console shows this error when you click the link:

[Bramble Error] unable to open path in editor /6584/projects/30576/javas

[2015-10-16 23:10] humphd commented on #1182
Thanks for filing!  I've put a fix up in https://github.com/humphd/brackets/pull/483.

[2015-10-19 14:58] ScottDowne opened #1183 "new thinmble link linking to old thimble"
old thimble's link to new thimble in the "There's a new Thimble!" banner links to old thimble

[2015-10-19 15:23] jbuck commented on #1183
Whoops, my bad. We moved thimble over to Heroku and didn't add this configuration variable! Fixed now

[2015-10-19 15:23] #1183 closed

[2015-10-19 15:53] #1182 closed

[2015-10-19 16:09] jbuck commented on #509
I think we should consider doing a mass migration from old Thimble to new Thimble instead of doing some sort of API integration between the two. It'll be a one-time cost to pay and then we can move forward with new Thimble. My proposal:

1. Turn old Thimble read-only
2. Run a database migration that converts old thimble makes into publish.wm.o projects
3. Redirect makes.org urls to new thimble pro

[2015-10-19 16:11] humphd commented on #509
I think this sounds like the most reasonable approach, agreed.  It's implied in what you wrote, but this would mean turning off edits/changes to anything on makes.org, so it remains stable.

[2015-10-19 16:14] jbuck commented on #509
@humphd Ah yes, good point. Updated my comment with that

[2015-10-19 17:49] humphd commented on #1182
@AndyForest this fix should make it to production later this week.

[2015-10-19 17:52] AndyForest commented on #1182
Wonderful, thank you!

[2015-10-19 18:12] humphd commented on #1132
Where are we on this?

[2015-10-19 18:13] humphd commented on #980
This has landed on staging, and we'll be on prod soon.  Closing.

[2015-10-19 18:13] #980 closed

[2015-10-19 18:13] humphd commented on #793
Closing in favour of #509.

[2015-10-19 18:13] #793 closed

[2015-10-19 18:14] humphd commented on #662
Moving out of PreMozFest milestone.

[2015-10-19 18:14] humphd commented on #696
@flukeout assigned this one to you.

[2015-10-19 21:08] Pomax opened #1184 "refactor accidentally removed filter code for readonly projects"
A recent commit adds in the following code: https://github.com/mozilla/publish.webmaker.org/commit/b6f0a4fbf07c3b0c54b00da6e6d84254c0b78cf8#diff-8f752bd4e658c4a46479284fb06d0f71L71 while removing the following code: https://github.com/mozilla/publish.webmaker.org/commit/b6f0a4fbf07c3b0c54b00da6e6d84254c0b78cf8#diff-8f752bd4e658c4a46479284fb06d0f71L98

However, the new code does not contain the sam

[2015-10-19 21:09] hannahkane commented on #509
Want to make sure I understand this from the user perspective. Is this correct?

 * Time between step 1 and step 2: if I go to a make on Old Thimble, it will be read-only, and I have no work-around
 * Once step 2 happens: when I go to any url for an old make, it will open on the new Thimble prod server, where I can hit Remix
 * If I go to thimble.webmaker.org, I'll be redirected to new thimble

Qu