[2017-08-18 15:08] humphd commented on #2042
Hey @mk779, welcome to Thimble dev!  I've written a blog post on this, which might help you get stated: http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/.  Anything that differs in the README files for Thimble and Brackets should be ignored in my post (it's possible things have changed).

[2017-08-18 16:32] Pomax commented on #2431
@ranjithrajvasam social sign-on is not in and of itself a dangerous idea, but perhaps the term makes you think of only facebook and google. When we say social sign in, we're being sloppy and what we really mean is "third party brokered signin", which includes (of course) things like facebook and google, but also includes things like firefox accounts and the auth0 login that mozilla is currently wo

[2017-08-18 16:33] ryanwarsaw commented on #2431
@ranjithrajvasam Social Sign-On isn't an inherently dangerous thing at all, in fact it's just a construct. It is the process of using existing login information from an external source as a means of authenticating yourself with the target site without having to create an entirely new account.

The privacy concerns only come into play when choosing what **providers** to support, and as of right now

[2017-08-18 16:38] Pomax commented on #2273
Is there a way for us to tell how much time we spend in https://github.com/mozilla/publish.webmaker.org/blob/master/api/modules/projects/routes/delete.js#L15-L22 vs how much time we spend in the actual SQL query?

[2017-08-18 16:43] humphd commented on #2273
@Pomax I agree, it would be good to do the db deletes, but only trigger the S3 deletes and then return without blocking on their success.  @gideonthomas how hard would that be to do?

[2017-08-18 16:43] ryanwarsaw commented on #2440
I'd love to support Firefox accounts in the future, but currently we just aren't at a point where this is easily do-able. Adding strategies takes a lot of time and resources, we'd need to make a new `passport` strategy for Firefox accounts, and then it'd need to be reviewed by DevOps for security.

That assumes we've got a completed implementation in place, which is certainly not the case. Current

[2017-08-18 16:54] mk779 commented on #2042
Hey @humphd Thanks for the info. I've setup my environment its up and running but when i navigate through the Remix button on the projects i'm getting an error.
![image](https://user-images.githubusercontent.com/25910848/29468929-36d0a360-8414-11e7-94af-a7a4c805af6f.png)

Is it normal or did i do something wrong? Can you help me with this and navigate me through the pages that i've to edit. Thanks

[2017-08-18 16:56] flukeout commented on #2273
@gideonthomas @humphd - also I can just remove the Delete button for now, always an option until we do a proper re-factoring.

[2017-08-18 17:01] humphd commented on #2042
@gideonthomas or @Pomax might have ideas.  I wonder if the mocked s3 stuff isn't working properly--in development we use a fake Amazon S3 API, which might not be working full there.

[2017-08-18 17:08] #2440 closed

[2017-08-18 18:09] mk779 commented on #2042
how can i fix this ? or are there any articles which can me fix this ? thanks

[2017-08-18 19:28] gideonthomas commented on #2273
@humphd I can try to not block on it.
@flukeout, I think we should wait till Monday and see how it's doing and then decide if we want to remove the Delete button

[2017-08-18 19:48] flukeout opened #2441 "Losing content in "saved" project."
**Updated STR**

* Create a new project from scratch
* Name it something
* Modify the ``index.html`` file in some way
* Click the **Publish** button just to force a save
  * Or, you just wait like 10 seconds for the editor to save things locally
* Refresh the editor
* The changes you made to the ``index.html`` page are lost, we see the _previous_ version of that page
  * I've noticed that the _pre

[2017-08-18 19:50] hmitsch commented on #2431
@Pomax @ryanwarsaw @gideonthomas is there any plan or desire to bring Thimble onto Mozilla's Auth0 (see our IAM Project)? If yes, now would be an important time to discuss potential licensing impact.

-Henrik

[2017-08-18 19:50] flukeout commented on #2441
OK - confirmed that this is also happening when I just edit an ``index.html`` file without any of the special steps above.

[2017-08-18 19:56] ryanwarsaw commented on #2431
@hmitsch I'm not knowledgable on the topic, I'll leave that to @Pomax & @gideonthomas to determine, but also going to loop in @cadecairos.

[2017-08-18 19:58] gideonthomas commented on #2431
@hmitsch at the moment, no. We're still not sure about what our Auth plans are but I doubt that we would be pursuing it under the existing agreement that MoCo has with Auth0. I think when we have some more clarity on the direction of Auth w.r.t. Thimble's future, we might revist the Auth0 discussion but will still most likely be independent of our existing Auth0 contract.

[2017-08-18 20:05] flukeout commented on #2441
@gideonthomas is confirming that he sees this on his end as well.

[2017-08-18 20:18] flukeout opened #2442 "Projects deleted from the Projects List persist until I sign out and back in."
After deleting and refreshing, when I try to delete it again, I see the following:

![image](https://user-images.githubusercontent.com/25212/29476209-b5342e2c-8417-11e7-9116-b19c56ebd850.png)

It persists even after clearing cached images and files in Chrome.

[2017-08-18 20:25] flukeout commented on #2441
This is happening in both Chrome & Firefox Nightly for me.

[2017-08-18 20:41] hkirat commented on #2442
Might be due to the projects being stored in local storage.
Runnning `window.localStorage.clear()` makes it work.

[2017-08-19 00:08] flukeout commented on #2273
Sounds good - let's chat on Monday then.

[2017-08-19 08:49] hkirat commented on #2442
Nope sorry my bad. Looks like clearing localStorage doesn't do the job.

[2017-08-19 08:51] hkirat commented on #2442
Opening the projects page in a new tab also doesn't show the delete projects.

[2017-08-19 23:15] himanshupnt commented on #1614
@humphd I would like to take this. Can it be assigned to me/ can I start working on it?

[2017-08-19 23:26] ryanwarsaw commented on #1614
@himanshupnt It's all yours, I believe @humphd is out of the office for the next week so if you have any questions feel free to reach out via Mattermost (See CONTRIBUTING.md) or here and I'll try and direct you to individuals knowledgable on the matter.

[2017-08-20 00:34] himanshupnt commented on #1614
@ryanwarsaw great, thank you. I had a question - when migrating, is it ok to write it from scratch or it just needs to be replicated with credits to original creator as well as a nicely written tutorial on it?

[2017-08-20 01:48] ryanwarsaw commented on #1614
@himanshupnt Based on the issue description, it sounds like we're just migrating those examples into Thimble and building out a curriculum for it with a tutorial, additional references, etc. Those specific examples are all under MIT license so we're good on that front, lets credit original authors where ever possible though.

It doesn't make sense to re-write examples in a scenario where they've a

[2017-08-21 05:01] joycelee11 commented on #2429
I have the same issue quite often - checked console and it shows a `timeout` error

[2017-08-21 07:39] hkirat commented on #2439
https://github.com/Operational-Transformation/ot.js/  might come in handy over here

[2017-08-21 14:34] gideonthomas commented on #2429
Hi @joycelee11, I'm sorry you're experiencing these issues. If you encountered this over the past 3 days, we were unfortunately experiencing a partial service outage that may have been what you were seeing. It should be resolved now and we intend to release a few fixes today that will hopefully make the service less prone to such outages. We also intend to communicate such outages better in the fu

[2017-08-22 06:51] fabrixxm commented on #1437
I still have the same problem.

With 3rd part cookies set to "only visited", i get this in console

[code]

[2017-08-22 07:50] nadeemramsing opened #2443 "Description of remixed project"
Remixed project gets the description of its predecessor and it cannot be changed unless I publish it.
Can the description be initialized to null after remixing?
Or is there a way to edit the description that I might have missed?

Kind regards

[2017-08-22 10:12] joycelee11 commented on #2429
@gideonthomas thanks for the clarification! My templates worked fine today, so that's most likely the reason why 😄

[2017-08-22 15:36] flukeout opened #2444 "Files missing from publishedFiles"
We have a project that a user sent along...

https://thimbleprojects.org/acpark/305770

In ``publishedFiles`` it has this...

<img width="350" src="https://user-images.githubusercontent.com/25212/29573730-9721b3aa-8714-11e7-8e9e-010e8b70c588.png" />

In ``files`` it is project id ``1119956`` and has the following files...

<img width="350" src="https://user-images.githubusercontent.com/25212/29573

[2017-08-22 15:37] flukeout commented on #2444
For context, this is happening during a large training event and of note are the two fairly large images files. Apparently quite a few people are working with this same project.

[2017-08-22 16:00] #2423 closed

[2017-08-22 16:00] #2412 closed

[2017-08-22 16:04] gideonthomas commented on #2273
@cadecairos I did a bunch of research and there isn't really a clean way to do this - it always blocks the event loop at some point (because we use promises) and is hard to predict at which point that happens. Instead, I was wondering, what do you think about running it in a worker? What I was thinking was to set an interval in the worker for every n seconds. Whenever a delete comes in, we send th

[2017-08-22 16:23] cadecairos commented on #2273
A worker based solution WFM - lets just make sure it's reliable. We could make the worker polling based, rather than interval based. The polling solution would be queue based, and ensure that the worker never gets overwhelmed as it process one thing at a time. (or more, if we run multiple threads/workers)

[2017-08-22 20:43] humphd commented on #2273
This is what Celery is so good at in Python. Wonder if we could do similar here with a message queue.

On Aug 22, 2017 12:23 PM, Christopher DeCairos <notifications@github.com> wrote:

A worker based solution WFM - lets just make sure it's reliable. We could make the worker polling based, rather than interval based. The polling solution would be queue based, and ensure that the worker never gets o

[2017-08-22 21:41] cadecairos commented on #2273
Yeah I'm thinking we could use SQS - but that means we need a solution for local development.

We can try researching nodejs based queues that we can use in localdev, or even as standalone workers in production - however, the logical separation of web and worker dynos on Heroku will make implementing it difficult there.

[2017-08-23 15:38] flukeout opened #2445 "Feature Request: Add line number to console output."
One of our Teacher users would love to use the built-in console, but without seeing a line number feels that it is not useful enough.

[2017-08-23 16:34] flukeout commented on #2436
@arianadziedzic we made some improvements yesterday that we think will solve these outages in the future. Please let us know if you experience any issues again.

[2017-08-23 16:34] #2436 closed

[2017-08-23 16:43] flukeout commented on #2444
Will close this now as we've made a lot of improvements that should help with this.

[2017-08-23 16:43] #2444 closed

[2017-08-23 16:43] flukeout commented on #2442
I'll re-test this since the new updates we pushed might have helped with overall performance.

[2017-08-23 17:04] flukeout opened #2446 "Don't reload the live dev preview when importing files, wait til all files are imported"
Was working on a project with a bunch of files, then created a new blank one. In the console it looks like Thimble is still trying to locate / use the files in the previous project...

We discussed this but I'm not sure if we've got it filed so here we go.

<img src="https://user-images.githubusercontent.com/25212/29628486-6fc717a6-87ea-11e7-955c-904b1e4dceec.png" width="350" />

[2017-08-23 17:06] flukeout opened #2447 "Change <title> tag for the default index.html page"
Currently both the ``<title>`` and ``<h1>`` have very similar content. I've seen many people start to edit the title expecting to change what they see in the preview because the text matches. It's a small thing but I think we should change it so that the first change people try to make works more reliably.

<img src="https://user-images.githubusercontent.com/25212/29628518-94ac4ae6-87ea-11e7-8be4-

[2017-08-23 20:18] flukeout opened #2448 "Editor stuck on green [Try Again] screen in Firefox when it can't access localStorage"
Saw this today on a colleagues computer in Firefox. For whatever reason, Firefox wasn't able to access localStorage (as seen in the attached console log capture). Hitting **Try Again** in this instance had no effect or benefit.

![image](https://user-images.githubusercontent.com/25212/29636425-6b732d14-8805-11e7-928b-94e62f6d7b74.png)

We need to detect when this is happening so that we don't keep

[2017-08-23 20:26] hkirat commented on #2395
With https://github.com/mozilla/brackets/pull/855 merged, we have a basic architecture for sending files via webrtc.

However, after discussing with @gideonthomas, we're thinking of shifting back to simple webrtc send events for text files, and rely on the sendFile function only for sending binary data.

Things we need to figure out:
Does there exist a function that can classify a file as a text/n

[2017-08-24 05:08] gideonthomas commented on #2177
@flukeout re-pinging in this issue

[2017-08-24 05:09] flukeout commented on #2177
I'm sorry for losing track of this issue. @serendicoder - are you still interested in continuing this work? Let me know and I'll answer all of your questions.

[2017-08-24 05:13] gideonthomas commented on #2443
Hi @nadeemramsing, would you be able to explain your use case of changing the description for an unpublished project? We initially intended the description to be something that is shown on a published project to describe the project to others viewing it (although we don't currently do it yet). It was also meant as a place to provide descriptive text for published projects that can be searched in a

[2017-08-24 05:16] gideonthomas commented on #2446
I've seen this a few times but not always. If you refresh the page it should go away so I don't think I would classify this as a bug since it's harmless. @humphd might know more about this because I'm pretty sure it's related to how cachestorage works.

[2017-08-24 05:21] gideonthomas commented on #2042
Hi @mk779, just a quick clarification - are you trying to remix one of the projects on the homepage? If so, unfortunately they cannot be remixed in a local environment and hence that is the error you are seeing. If you would like to try remixing, you would need to create a project from scratch, publish it and then remix it.

[2017-08-24 10:27] serendicoder commented on #2177
Yes, I'd work on it.

[2017-08-24 12:00] hkirat commented on #2447
+1 to that

[2017-08-24 12:01] hkirat commented on #2439
I see a simple implementation of ot in Togetherjs as well.

[2017-08-24 16:57] flukeout opened #2449 "Don't crash when a project has no files"
Project URL - https://thimble.mozilla.org/en-US/user/flukeout/1125538/

It's an untitled project in my projects list. When I try to open it, I always see the black error screen (Firefox and Chrome)...

![image](https://user-images.githubusercontent.com/25212/29678192-7f4241a6-88b2-11e7-8a24-835de235d834.png)

Console reports...

![image](https://user-images.githubusercontent.com/25212/29678226-9b8

[2017-08-24 17:24] flukeout commented on #2446
This also happens when I drag a bunch of files in for the first time. Check out the screenshot below.

![image](https://user-images.githubusercontent.com/25212/29679315-4b344946-88b6-11e7-854b-dc78d8fa6ab2.png)

This is a project that has a bunch of images files, and as soon as it is imported, there's are two errors in the console for each image that was dragged in.

[2017-08-24 17:41] #2441 closed

[2017-08-24 18:50] flukeout opened #2450 ""Please Sign Out" page is broken."
Styles are all messed up.

![image](https://user-images.githubusercontent.com/25212/29683199-5b7b0108-88c2-11e7-9c1f-17ae1e3fde40.png)

Easiest way to see it is...
* Sign in
* Go to project list
* Clear your cache
* Reload browser

[2017-08-25 06:10] thinsoldier opened #2451 "Firefox does not ask me to save my password when logging on to the thimble site."
Firefox does not ask me to save my password when logging on to the thimble site.

[2017-08-25 09:59] hkirat commented on #2345
We need to clear the current state of the filesystem before adding the new files and folders in a collaborative session, in case the number of peers you are connected to is greater than 1.
I think thimble must be doing something similar, on opening a project.

[2017-08-25 17:29] gideonthomas commented on #2448
@flukeout, just to understand what the issue is, what are the cookie preferences in Firefox for this user? And, to confirm, this wasn't open in Private Browsing mode right?

[2017-08-25 17:32] gideonthomas commented on #2442
This is definitely some weird cache issue. If you open that link in a new tab, it shows up fine.

[2017-08-25 19:48] gideonthomas commented on #2442
Fixed by adding a cloudfront header to not cache the `projects` route

[2017-08-25 19:48] #2442 closed

[2017-08-25 19:54] gideonthomas commented on #2441
Actual fix for this was to set a custom behavior on cloudfront to force it not to cache for the `/files/*` routes

[2017-08-25 20:01] flukeout opened #2452 "Autocomplete text is hard to read in dark theme."
See below...

![image](https://user-images.githubusercontent.com/25212/29730587-8ee32524-8995-11e7-9cf6-c5bba2e8057f.png)

[2017-08-25 20:16] flukeout opened #2453 "Link to view published project in publish dialog should open in new tab."
Referring to the link here:

![image](https://user-images.githubusercontent.com/25212/29730988-7cf8d136-8997-11e7-9dd1-57c2e7e88a42.png)

I think it used to open in a new tab. Now it opens in the same tab as the editor, which is annoying. This will also reduce load on our services as people won't have to re-open the editor to continue working.

[2017-08-26 00:55] complexSandwich commented on #2453
I submitted a pull request for a fix.

[2017-08-26 07:25] apoorvasingh17 commented on #2445
Hi, I'd like to work on this. Can someone give me any pointers?

[2017-08-26 07:33] apoorvasingh17 commented on #1623
@humphd Hi, can I take this up?

[2017-08-26 07:48] apoorvasingh17 commented on #1771
Hi, can I take this up?

[2017-08-26 23:12] aryanshar commented on #2445
Hey, i think i can fix this issue. Please assign me this.Thanks

[2017-08-27 05:46] ryanwarsaw commented on #2453
@complexSandwich Glad to see you've filed a PR, for future reference make sure you leave a comment letting us know that you're working on a bug, before starting on a fix. That way we can make sure we're not having two people work on the same bug at the same time.

[2017-08-27 05:49] ryanwarsaw commented on #2445
@apoorvasingh17 I've assigned this ticket to you, I'm not familiar with the console feature but feel free to get your Development environment setup, and join our Mattermost if you have questions!

@aryanshar Since @apoorvasingh17 asked to be assigned to this issue first we have to oblige and give them the opportunity to work on it, but you're more than welcome to find another issue to work on!

[2017-08-27 05:51] ryanwarsaw commented on #1623
@apoorvasingh17 Since you're already assigned to an issue, lets leave this open for someone else to work on, once you complete your previous issue you're more than welcome to take this one.

[2017-08-27 05:52] ryanwarsaw commented on #1771
@apoorvasingh17 Since you're already assigned to an issue, lets leave this open for someone else to work on, once you complete your previous issue you're more than welcome to take this one.

[2017-08-27 06:21] apoorvasingh17 commented on #2445
I think this is a bit tough for me as I have just started contributing. You can assign this to @aryanshar . Sorry for the inconvenience.

[2017-08-28 16:55] gideonthomas commented on #2449
Interesting. Yeah we definitely don't handle the case in which a project has no files attached to it. We might want to handle that on the front-end instead of crashing.

[2017-08-28 16:56] mk779 commented on #2042
@gideonthomas I'm trying to fix the error above , which is XML/SVG . Could you suggest me how can i get it done? thanks.

[2017-08-28 17:43] humphd opened #2455 "Add Newrelic logging for id.webmaker.org and maybe login"
We made huge progress on response times for the Publish server last week.  One thing that this did was to expose our next bottleneck, specifically, external calls from publish to id:

![screen shot 2017-08-28 at 1 39 31 pm](https://user-images.githubusercontent.com/427398/29785690-84c422c4-8bf6-11e7-9e6b-e820c37b99df.png)

The green portion of the graph above is publish calling out to id, and it g

[2017-08-28 18:33] #2374 closed

[2017-08-28 18:42] humphd commented on #2449
Morphing this bug to be about not crashing when we have not files.  We probably need to send back something other than a 404 here, and then deal with that case in the front-end.

[2017-08-28 18:45] humphd commented on #2448
Is this the 3rd-party cookie pref again?

[2017-08-28 18:46] humphd commented on #2451
cc @ryanwarsaw, who is currently working on login issues.

[2017-08-28 18:49] humphd commented on #2446
It looks to me like the URL cache didn't get created for some reason.  Why that happened, I don't know, and it would be useful to understand.  If you can recreate this some time, ping me and let's debug together.

I agree that refreshing should fix.  But odd that it happens at all.

[2017-08-28 18:57] humphd commented on #2273
I still think this is a good idea, but might not be necessary with all the optimizations we've made in the past week on the publish db.

[2017-08-28 19:10] ayush9398 commented on #1251
Hi, everyone
I would like to work on this...
I am new at contributing to open source so can anyone guide me, please?

[2017-08-28 19:39] flukeout opened #2456 "Investigate using Slowparse (again!)"
@gideonthomas and @humphd talked a little bit about this and figured it would be good to resurrect this effort and work. Does anyone remember the reason for dropping this in the first place? Was it a technical limitation of some sort, or maybe we just didn't put enough effort into it?

Anyway, it would be good to get this running as we currently don't provide any feedback when the HTML in a page i

[2017-08-28 20:13] ryanwarsaw commented on #2451
Hey! I'm not sure if this is a bug, or if we never implemented appropriate measures to trigger a credential save in the browser, I'll need to look into it and get back to you on that. I'm buried until Wednesday so it may be a little while, but i'll get back to you guys once I've got more information.

[2017-08-29 10:35] ayush9398 commented on #2447
Hey everyone, I would like to work on this...

[2017-08-29 13:31] TheoChevalier opened #2457 "Tracking Kaqchikel locale"
I’ve enabled Thimble for Kaqchikel, a small locale in Guatemala.

Code: `cak`
Name: `Maya Kaqchikel`

Progress can be tracked here https://pontoon.mozilla.org/cak/thimble/

[2017-08-29 13:34] belkacem77 commented on #2457
Welcome Kaqchikel!!

[2017-08-29 17:08] gideonthomas commented on #2447
@ayush9398, go for it. You would need to setup Thimble locally first, instructions for which are in the main README: https://github.com/mozilla/thimble.mozilla.org#setupinstallation. Once you do that, I think the change that needs to be made is in this file: https://github.com/mozilla/thimble.mozilla.org/blob/master/default/empty-project/index.html.

[2017-08-29 17:10] #2453 closed

[2017-08-29 17:22] gideonthomas opened #2458 "Queue up S3 deletes instead of blocking on them"
Continued conversation from https://github.com/mozilla/thimble.mozilla.org/issues/2273.

What we seem to have decided is:
1. When a bunch of files need to be deleted, we send the path list to an SQS queue (simple fast operation that won't block too much).
2. Run a worker thread that will poll for queue entries.
3. Wrap each queue entry in a MultiObjectDelete request to S3 and execute that request.

[2017-08-29 17:32] gideonthomas commented on #2451
@thinsoldier, what version of Firefox are you using? I can't seem to reproduce this on 55.0.3.

One thing you might want to check is that the preferences for saving passwords is set correctly. You can do this by typing `about:preferences#security` in your URL bar and hitting Enter, and checking the following:
1. Is the "Remember logins for sites" options checked?
2. When you click on the "Exceptio

[2017-08-29 17:35] ryanwarsaw commented on #2445
@apoorvasingh17 Not a problem. Contributing can be daunting at first, but it's incredibly rewarding. If you find another issue you'd like to work on, just let us know. I can also help you find an easier issue if that's something you're interested in. Also be sure to join our Mattermost, we're a very friendly group (also filled with fellow contributors) and we're happy to help you get started, and

[2017-08-29 17:40] gideonthomas commented on #1251
Hi @ayush9398, I have assigned https://github.com/mozilla/thimble.mozilla.org/issues/2447 to you per your request. I would suggest starting with that and then once you're done with it, we can assign this to you if it's still available and if you're still interested.

[2017-08-29 17:41] gideonthomas commented on #2448
It could be. Depends on what this user has for their cookie settings.

[2017-08-29 17:44] ayush9398 commented on #1251
Ok, thank you @gideonthomas.

[2017-08-29 17:53] gideonthomas commented on #2042
You need to update the string for this option. To do that, remove this line: https://github.com/mozilla/thimble.mozilla.org/blob/master/locales/en-US/server.properties#L81, and replace it with another key/value pair (use a different key name) with the value being one of the choices that @flukeout provides in his comment above. Then, change https://github.com/mozilla/thimble.mozilla.org/blob/master

[2017-08-29 21:01] dsych commented on #2337
@humphd the problem is in how chrome and firefox process the "::before" tag in this case. Firefox puts it before the swatch and chrome - after. What is the ::before tag supposed to align?

[2017-08-29 21:12] dsych commented on #2337
I was able to make it appear the same on both firefox and chrome.

![firefox](https://user-images.githubusercontent.com/16144679/29844387-1a6da732-8cdd-11e7-9a5f-336e5671dde7.png)

[2017-08-29 21:29] aryanshar commented on #2445
@ryanwarsaw Yes, i would like to work on this issue. But a little help in how should i begin with is required, as i am new to open source.

[2017-08-30 06:15] hkirat commented on #2342
Closed via https://github.com/mozilla/brackets/pull/862

[2017-08-30 06:15] #2342 closed

[2017-08-30 06:15] hkirat commented on #2402
Closed via https://github.com/mozilla/brackets/pull/869

[2017-08-30 06:15] #2402 closed

[2017-08-30 06:16] hkirat commented on #2408
Done in https://github.com/mozilla/brackets/pull/862

[2017-08-30 06:16] #2408 closed

[2017-08-31 10:16] ayush9398 commented on #2447
What would be a more appropriate title for this...

how about THIMBLE_SAMPLE or maybe THIMBLECIOUS....

[2017-08-31 12:16] ryanwarsaw commented on #2445
@aryanshar A good place to start would be to get your environment setup, and read through the getting started documentation in the README.md and CONTRIBUTING.md files respectively.

If you have any specific questions after that just let me know.

[2017-08-31 17:26] flukeout commented on #2446
@humphd so in looking into this. I can get it to happen every time in Chrome, but not Firefox.
Can you please try the following?

* Download this and project unzip it locally
  * [Archive.zip](https://github.com/mozilla/thimble.mozilla.org/files/1267968/Archive.zip)
* Create a new project in Chrome
* Drag in the files
* That's when I see all the errors.

[2017-08-31 17:27] humphd commented on #2446
@flukeout yes, I'll test now.

[2017-08-31 17:39] flukeout commented on #2446
Would also be curious if you see different behaviour between the two browsers.

[2017-08-31 17:53] humphd commented on #2446
OK, so in Chrome I see this:

![screen shot 2017-08-31 at 1 46 03 pm](https://user-images.githubusercontent.com/427398/29937201-c865742a-8e52-11e7-84d7-21744a571fd4.png)

Which seems very similar to what you described.  I notice that if I pick one of the images that 404s (e.g., `wifi.svg`) and try to open it on its own, I get this:

![screen shot 2017-08-31 at 1 47 11 pm](https://user-images.githu

[2017-08-31 17:55] humphd opened #2459 "Styling issue with project size UI in Firefox"
Testing #2446 in Firefox, after importing @flukeout's [Archive.zip](https://github.com/mozilla/thimble.mozilla.org/files/1267968/Archive.zip) file, I noticed that the project size UI is showing when it shouldn't (e.g., we only show it when we get over a certain size):

![screen shot 2017-08-31 at 1 50 34 pm](https://user-images.githubusercontent.com/427398/29937551-f25bc0d0-8e53-11e7-89ae-043f563e

[2017-08-31 18:09] humphd commented on #2446
Digging into this a bit, here's what's happening.  We drag-and-drop those new project files, which will eventually cause `index.html` to get overwritten.  When that happens (i.e., the file itself gets written to disk, and before the import completes), it will trigger this call stack to occur:

![screen shot 2017-08-31 at 2 04 18 pm](https://user-images.githubusercontent.com/427398/29938056-7a963e8

[2017-08-31 18:12] humphd commented on #2446
I've changed the title of this bug so it's now about stopping that unnecessary reload during the import.  Whoever wants to work on this, see my comment above.  You'd want to disable auto updates via this:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/PostMessageTransport.js#L228-L235

Do that here, before we start the import:

https://github.com/mozilla/bracke

[2017-09-01 05:34] jmdjaini commented on #2445
@ryanwarsaw  hello sir , i am new here to github and want to contribute . i am good in javascript , could you help me ??

[2017-09-01 17:11] #2365 closed

[2017-09-01 17:12] #2395 closed

[2017-09-01 17:30] ryanwarsaw commented on #2445
@jmdjaini Try to skim down this list of "Good First Bugs", and if you find one that interests you and isn't already being worked on, just leave a comment and we can go from there.

https://github.com/mozilla/thimble.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Bug%22

[2017-09-02 07:07] Popescul2222GeorgeTeodor opened #2461 "Add AngularJS"
I would like to have AngularJS compatibility in thibmle.

[2017-09-02 10:52] kritisingh1 commented on #2452
Hi @flukeout I would like to take up this issue. Can I ?

[2017-09-03 04:54] emctague commented on #2461
Hey @Popescul2222GeorgeTeodor, it doesn't look like Thimble has preset options for *any* frameworks at the moment - seems to be mostly aimed at developing small, vanilla-JS sites, for the purpose of learning about web development. Now, I'm not a thimble contributor, but in the meantime while you wait for a response from a contributor, there are a few other similar sites that *do* support adding fr

[2017-09-03 05:03] emctague opened #2462 "Default Project CSS has Multiple Font @include Statements Where Only One is Needed"
In the Thimble default project's `style.css`, the following two `@include` lines are present, to include both Open Sans and Merriweather:

[code]

This could be cut down to one, much simpler `@include` statement without impacting readability:

[code]

I'd be more than happy to submit a PR for this issue, because it's kinda bugging me. I've already fixed it in [my fork](https://github.com/emctague/

[2017-09-03 05:47] ryanwarsaw commented on #2462
From a quick glance, I'm not sure if this is a change we'd want to make. I think it might end up confusing Thimbles further, since the special syntax being used to combine the imports may not
be inherently clear to the user, where as IMO it's more clear now with the two differing import(s).

I'd still submit the PR, and then it can be deliberated further on what we want to do with this.

[2017-09-03 13:36] abdulhannanali opened #2464 "Quick docs link takes to WebPlatform"
As shown in the Image Below the Quick Docs external links to WebMaker which is a non existent resource now. I would love if it instead took us to the great MDN.

![image](https://user-images.githubusercontent.com/8170969/30003460-a609b3ba-90d6-11e7-95a2-3da58ea5b7d0.png)

If this is a problem that needs to be fixed. I can start working on this.

[2017-09-03 17:07] apoorvasingh17 commented on #2042
Hi, can I take this up?

[2017-09-05 15:32] ayush9398 commented on #2447
@flukeout @gideonthomas ,
may I know the changes to be made so as to close this issue as soon as possible...

[2017-09-05 15:47] gideonthomas commented on #2337
wow yeah that's a pretty weird hack they've got there - using a pseudo-element for alignment. @dsych, your screenshot looks great (maybe add a little more margin before the text?). Do you want to open up a PR for that and @flukeout can take a look at it?

[2017-09-05 15:48] gideonthomas commented on #2447
@flukeout ping re: this ^ what would a good title be?

[2017-09-05 15:49] gideonthomas commented on #2446
@humphd does this qualify as a good first bug?

[2017-09-05 15:50] humphd commented on #2446
Yeah, I think so.

[2017-09-05 15:54] humphd commented on #2464
Hi @abdulhannanali, we've actually talked about ripping this documentation extension out, see #2425.  I wonder if you should start by doing that?  We could explore MDN instead after that.

I'm going to close this in favour of #2425.

[2017-09-05 15:54] #2464 closed

[2017-09-05 17:47] flukeout commented on #2447
It looks like @FinleyCorrigan is tackling this issue and has already opened a PR - so we'll just continue the work there: https://github.com/mozilla/thimble.mozilla.org/pull/2467

[2017-09-05 18:39] ayush9398 commented on #2447
@flukeout any contribution I can make to this issue or should I be switching to any another issue to contribute to?

[2017-09-06 00:14] SidneyNemzer opened #2468 "Internal Fragment URL links don't work in the preview"
### Description

A fragment link, such as `<a href="#heading">` does not correctly move the preview to the linked element. Instead, a 404 error page is shown.

![image of the error](https://user-images.githubusercontent.com/21203108/30087877-fd2fdbc4-9257-11e7-99bd-b6e53f0f90f2.png)

### Steps to Reproduce

1. Open a new project
2. Add an ID to an element in the `<body>`
3. Add an `<a>` that point

[2017-09-06 12:48] nadeemramsing commented on #2443
My use case would be to simply use the description to describe the unpublished remixed project (so that we can have a differentiating element with its predecessor). This inheritance did not occur previously (i.e. before I tested it more than 15 days ago).

![1](https://user-images.githubusercontent.com/20681851/30112597-ffce72fc-9322-11e7-870f-e8af28701503.PNG)

Sorry for the late reply by the way

[2017-09-06 14:07] humphd commented on #2443
I think "zeroing" the description to the empty string when we create a remix is a good idea in general.  @gideonthomas is this something that needs to happen on publish or thimble?

[2017-09-06 14:21] humphd commented on #2468
That error usually means the service worker needs to be refreshed; although, it's possible that this bug (anchor links being broken in preview) is still around, though we thought we fixed it.  What happens if you close all but 1 instance of Thimble and refresh your browser vs. the preview?

[2017-09-06 16:31] SidneyNemzer commented on #2468
This has been happening to us for at least a month now. We've had the same issue on every thimble instance, across several computers (4 or 5, 2 PCs and a few Macbook Airs).

I've tried clearing all site data for thimble several times, but unfortunately it doesn't seem to make a difference.

[2017-09-06 17:26] humphd commented on #2468
When you say it's been happening for a while, do you mean specifically with anchor links, or with all pages in the preview?  I ask because some users report having a similar problem to yours with all pages, and refreshing the browser (and service worker we install) eventually fixes it.  However, you may be seeing something new; in which case I'll dig deeper into it.

[2017-09-06 17:41] SidneyNemzer commented on #2468
We're only having an issue when clicking an internal anchor link in the preview.

Thanks for looking into this, by the way!

[2017-09-06 18:16] ayush9398 commented on #2042
Can I take this issue...? I have already set up Thimble on my local machine and have successfully changed the key value pair in the editor on my localhost.
![change_success](https://user-images.githubusercontent.com/21312552/30127640-9f8d2858-935d-11e7-9dd4-76e8d2e1dece.png)

[2017-09-06 19:26] ayush9398 opened #2469 "Add scroll in Editor dropdown menu"
The last options in the editor dropdown menu hide when the browser window is not maximized and therefore, these options can't be accessed.

![editor_dropdown](https://user-images.githubusercontent.com/21312552/30130288-4f9dada0-9366-11e7-8e81-97436095a6e4.png)

![editor_dropdown2](https://user-images.githubusercontent.com/21312552/30130527-1bd3706c-9367-11e7-89e1-090ce110f929.png)

This is seen in

[2017-09-06 19:52] flukeout opened #2470 "Update Twitter account to @codewiththimble"
We are currently linking to [@mozlearn](https://twitter.com/mozlearn) twitter account, but should link to [@codewiththimble](https://twitter.com/codewiththimble) - let's make it happen.

[2017-09-06 21:03] apoorvasingh17 commented on #2470
@flukeout Can I take this up?

[2017-09-06 21:13] #2042 closed

[2017-09-06 21:55] flukeout commented on #2470
Yes, go ahead please!

[2017-09-06 23:41] gideonthomas commented on #2337
Fixed in 8ae1c8c3f07491b2e790fff7863358d70995dbc8 Thanks @dsych!

[2017-09-06 23:41] #2337 closed

[2017-09-06 23:44] gideonthomas commented on #2469
cc @flukeout for suggestions

[2017-09-06 23:46] gideonthomas commented on #2468
I think it might be by-passing our fragment-id checking code since we implemented cache storage.

[2017-09-06 23:49] gideonthomas commented on #2443
this would need to happen in publish.

[2017-09-06 23:54] gideonthomas commented on #2447
@ayush9398, I'm sorry that a PR for this was already opened while you were still assigned to this issue. As per our contribution guidelines, we ask that contributors request to work on an issue before they try to fix it and it seems like it fell through in this case. Alternatively, are you still interested in working on https://github.com/mozilla/thimble.mozilla.org/issues/1251? I'm happy to assig

[2017-09-07 00:08] gideonthomas commented on #2452
@kritisingh1, thanks for volunteering! I've assigned it to you. You can start by setting up brackets (I think that's all you need for this) and testing it there. Here are our [contributor guidelines](https://github.com/mozilla/thimble.mozilla.org/blob/master/CONTRIBUTING.md) that might help you with your process. You can find instructions on how to set up Brackets in our README [here](https://gith

[2017-09-07 03:11] ayush9398 commented on #2447
Yes! I would like to work on #1251 , please assign it to me..... @gideonthomas

[2017-09-07 16:05] flukeout commented on #2469
Having it scroll might work! We can try adding an ``overflow-y: scroll`` property to it and see what happens. I wouldn't call this a high-priority item however, as a browser window that short isn't very common.

[2017-09-07 16:31] gideonthomas commented on #1251
assigned to you @ayush9398

[2017-09-07 16:32] gideonthomas commented on #1251
@humphd has some comments above on how you might go about fixing this issue, let us know if you need some more info.

[2017-09-07 18:03] flukeout commented on #2385
Should we close this then @humphd @gideonthomas - or is there something we can do to keep this from happening in the future?

[2017-09-07 18:07] RakshithNM commented on #2469
I will try this, will be my first bug fix.

[2017-09-07 18:43] flukeout commented on #2452
Shoot sorry @kritisingh1 - I'm in the middle of working on this right now.

[2017-09-07 18:56] flukeout commented on #2461
@Popescul2222GeorgeTeodor @emctague Yeah, the idea was to limit the complexity of the editor and focus on just the basics (this applies also to things like LESS vs CSS). Ideally, we would create starter projects for the Thimble Homepage Gallery that would include some popular frameworks, including Angular. If you are interested in creating something like that, we could add it to the homepage.

I'l

[2017-09-07 18:57] flukeout commented on #2023
@hannahkane - now that we have launched, any updates on this? Want to reach out?

[2017-09-07 18:58] flukeout commented on #1609
Closing this in favor of creating a new issue where we can keep track of lots of ideas at once.

[2017-09-07 18:58] flukeout commented on #1613
Closing as we have got one already. Will open a meta-issue to track other ideas.

[2017-09-07 18:58] #1613 closed

[2017-09-07 19:31] flukeout commented on #2429
We have made lots of strides in stability and performance lately and likely a majority of these types of issues have been resolved - as such, I'll be closing. Thanks for filing @joycelee11 - please reach out again here of to ``thimble@mozillafoundation.org`` if you encounter this again (or other problems). Cheers!

[2017-09-07 19:31] #2429 closed

[2017-09-07 19:39] flukeout commented on #2426
Is there any benefit to disabling them?

[2017-09-07 19:39] flukeout commented on #2413
Closing until we make an updated video, which we will then enable subtitles on.

[2017-09-07 19:39] #2413 closed

[2017-09-07 20:04] flukeout commented on #2381
We've got a PR in progress that tries to address this by showing a special page so I'll close this issue for now. @surfscoter - are you still experiencing this?

[2017-09-07 20:04] #2381 closed

[2017-09-07 20:06] flukeout commented on #2192
I've created this and published it to the gallery so closing.

[2017-09-07 20:06] #2192 closed

[2017-09-07 20:10] flukeout commented on #2183
Closing! This is more of a lack of linting / hints to the user that the page is invalid.
I think it's OK that this happens in these instances - small percentage I think.

[2017-09-07 20:10] #2183 closed

[2017-09-07 20:13] flukeout commented on #2259
Hey good catch @MekliCZ - it should say...

``Added support for icons in the file list``

[2017-09-07 20:14] flukeout commented on #2452
@kritisingh1 - would you like to work on this issue here...

* https://github.com/mozilla/thimble.mozilla.org/issues/2259

It's a good first bug. Please leave a comment there if you would like to and it's yours. Thanks and sorry about the confusion with this issue.

[2017-09-07 21:36] flukeout commented on #2452
Adressed in https://github.com/mozilla/brackets/pull/874

[2017-09-08 07:22] kritisingh1 commented on #2452
Cool @flukeout I would like to work on #2259. Thanks.

On Fri, Sep 8, 2017 at 3:06 AM, Luke Pacholski <notifications@github.com>
wrote:

[2017-09-08 13:19] ayush9398 commented on #1251
OK @gideonthomas , thank you.

[2017-09-08 14:33] humphd commented on #2385
Yeah, let's close this and monitor.

[2017-09-08 14:33] #2385 closed

[2017-09-08 16:09] flukeout commented on #2259
Assigned to @kritisingh1

[2017-09-08 18:22] apoorvasingh17 commented on #2259
@flukeout When I saw the bug it wasn't assigned to anyone so I worked on it: #2472
Really sorry didn't pay attention that it was referenced earlier.
Will my PR be considered?

[2017-09-08 20:08] flukeout commented on #2286
At @serendicoder - sorry about the delay in getting back to you - are you still interesting in continuing work on this? Thanks!

[2017-09-08 20:09] flukeout commented on #2223
@vikramnr - are you still working on this? Please let us know, otherwise we will release it to other contributors. Thanks!

[2017-09-08 20:11] flukeout commented on #2120
@ajomadlabs - sounds good. I'll look into this more closely and describe the fix in more detail. Let me know if you're still interested. Thank you.

[2017-09-08 20:11] flukeout commented on #2114
Hi @pranay414 - I've unassigned this issue because it looks like you have stopped working on it. If you're still going to work on it, please let us know. Thanks!

[2017-09-08 20:13] flukeout commented on #2015
Closing for now until we have more time.

[2017-09-08 20:13] #2015 closed

[2017-09-08 20:14] flukeout commented on #1966
@dfperry5 - have you given this a try? Let us know. Thanks.

[2017-09-08 20:15] flukeout commented on #1927
Looks like @humphd has fixed this in the PR above, so we'll be closing this issue.

[2017-09-08 20:15] #1927 closed

[2017-09-08 20:18] flukeout commented on #1823
Closing as in two weeks.. TWO WEEKS @gideonthomas this will be fixed.

[2017-09-08 20:18] #1823 closed

[2017-09-08 20:20] flukeout commented on #1660
We have decided not to pursue this feature.

[2017-09-08 20:20] #1660 closed

[2017-09-08 20:21] flukeout commented on #1654
Not pursuing this feature anymore.

[2017-09-08 20:21] #1654 closed

[2017-09-08 20:24] flukeout commented on #1326
Closing—We've basically achieved this via blocking additional file uploads when a specifc project size is reached.

[2017-09-08 20:24] #1326 closed

[2017-09-08 20:25] flukeout commented on #1642
Closing - will file detailed bugs describing what kind of editors we want.

[2017-09-08 20:25] #1642 closed

[2017-09-08 20:29] flukeout commented on #1623
Closing as it's not super important - time better spent elsewhere.

[2017-09-08 20:29] #1623 closed

[2017-09-08 20:29] flukeout commented on #1619
We are not using together.js anymore.

[2017-09-08 20:29] #1619 closed

[2017-09-08 20:31] flukeout commented on #1419
Closing as we have decided not to pursue this - seems complex for what you get.

[2017-09-08 20:31] #1419 closed

[2017-09-08 20:32] flukeout commented on #1614
@himanshupnt - how is it coming along? Let us know if you need help or if you have stopped working on this issue. Thanks!

[2017-09-08 20:32] #1609 closed

[2017-09-08 20:36] flukeout commented on #1251
@ayush9398 - unfortunately this is not a good first bug because the brackets theme stylesheet is annoying to work with and we'll have to re-make a lot of the icons to work within a light theme. I'll close this issue for now and re-file separately.

[2017-09-08 20:36] #1251 closed

[2017-09-08 20:42] flukeout commented on #2459
I will try to reproduce.

[2017-09-08 20:46] flukeout commented on #2443
Hey @nadeemramsing - one way to change the description for your projects is to edit it, then publish, then you can delete the published version. That should do it. Will close this and file a new issue about changing the description without having to re-publish.

[2017-09-08 20:46] #2443 closed

[2017-09-08 20:50] #2426 closed

[2017-09-08 20:51] flukeout commented on #2411
Closing for now until a follow up is needed.

[2017-09-08 20:51] #2411 closed

[2017-09-08 20:52] flukeout commented on #2392
Will try to reproduce.

[2017-09-08 20:53] flukeout commented on #2386
Suggestion from @humphd - only open HTML / CSS file on startup / refresh.

[2017-09-08 20:53] flukeout commented on #2386
I'll refile this as the suggestion above ^

[2017-09-08 20:53] #2386 closed

[2017-09-08 21:15] ayush9398 commented on #1251
No problem @flukeout , I understand....
It would be a huge help if you could assign me some other issue...

[2017-09-08 21:17] flukeout commented on #1251
I'll look for one now @ayush9398

[2017-09-08 21:51] flukeout commented on #2469
@ayush9398 - do you want to take this one to work on?

[2017-09-08 21:57] flukeout commented on #1251
Want to do this one that you filed @ayush9398 - https://github.com/mozilla/thimble.mozilla.org/issues/2469

[2017-09-08 22:12] hannahkane commented on #2023
@flukeout - sure thing. Should I do an email intro with you?

[2017-09-08 22:41] #2470 closed

[2017-09-09 01:47] himanshupnt commented on #1614
@flukeout Got caught up with some projects. I am back on it with full force - Vanilla js and React to do mvc should be up for review by tomorrow.
Do I just post the thimble project links here for review?

[2017-09-09 06:11] pranay414 commented on #2114
@flukeout I have stopped working on this issue. Sorry for informing you late.

[2017-09-09 07:12] himanshupnt commented on #1614
@flukeout Here is the vanilla Javascirpt version - https://thimbleprojects.org/himanshupant/312531

There is a bug which is only present in Thimble edit mode. When clicking "All", "Active" or "Completed" buttons it throws an error - `Uncaught SyntaxError: Failed to execute 'querySelector' on 'Document': '#/active' is not a valid selector.`

 Could you help figuring this out, can it be Thimble edit

[2017-09-09 07:31] himanshupnt commented on #1614
Also, where should I write the tutorial with some explanation and resources?

[2017-09-09 09:00] Cryzek commented on #2114
Hi, I wanted to work on this as my first issue in thimble.
But, when I tried this out in thimble , I noticed that the cursor was automatically inserted after the code snippet. So, I'm just wondering if this is still/should be an open issue.

[2017-09-09 09:10] ajomadlabs commented on #2120
@flukeout Im interested

[2017-09-09 11:42] vikramnr commented on #2223
Please assign to other contributers.

On Sat, Sep 9, 2017 at 1:39 AM, Luke Pacholski <notifications@github.com>
wrote:

[2017-09-09 13:42] ayush9398 commented on #2469
Yeah @flukeout

[2017-09-09 14:46] abdulhannanali commented on #2468
This is infact a bug I am facing on Chrome v60 on Ubuntu 16.04. I also unregistered the service worker and installed the new service worker but the problem still persists. :)  Is this issue open for work?

[2017-09-09 15:35] ayush9398 commented on #2469
@flukeout I have opened PR #2473 to fix this issue.... review it please...

[2017-09-09 19:07] dfperry5 commented on #1966
@flukeout  I started grad school and got caught up in all of that - I'd love to still give it a shot. Do i just fork the repo? or is cutting a branch off better?

[2017-09-10 02:59] gideonthomas commented on #2462
Closing since we think it's clearer to keep the code the way it is.

[2017-09-10 02:59] #2462 closed

[2017-09-10 03:03] gideonthomas commented on #1966
@dfperry5 you would need to create a fork so that when you open up a PR, you can push to a branch on your fork.

[2017-09-10 03:05] gideonthomas commented on #2468
@abdulhannanali, this issue might be beyond the scope of a bug qualified for a new contributor. As such, @humphd has been assigned to work on this.

[2017-09-10 03:09] gideonthomas commented on #2114
Yeah I'm not able to reproduce this anymore (Chrome 60). @flukeout which browser is this happening in?

[2017-09-10 23:23] dfperry5 commented on #1966
Hey @flukeout  @gideonthomas  Sorry to be such a noob here - but when I was trying to build brambles on my local, I was getting an error about missing text.js in src/thirdparty/text directory.

Also, when i copy those files (following links from the repo to here: https://github.com/requirejs/text/tree/35c3ead097a9ede09469172666cc96349d2ce3e4. I am getting similar errors for l18n directory, and the

[2017-09-10 23:42] ryanwarsaw commented on #1966
@dfperry5 You have to add the ```--recursive`` flag to your ```git clone``` command as it'll initialize all the sub-modules, and that should make that error go away.

[2017-09-11 17:20] flukeout commented on #2177
Hi @serendicoder - we should use the following icons...

* [Dark version](https://mozillathimblelivepreview.net/bramble/production/dist/extensions/default/bramble/images/close-icon-dark.svg) for light theme
* [Light version](https://mozillathimblelivepreview.net/bramble/production/dist/extensions/default/bramble/images/close-icon-dark.svg) for dark theme

[2017-09-11 17:51] flukeout commented on #2120
Hey great @ajomadlabs - I think what is happening is that the ``.log-entry`` class should have an opacity of ``.7`` Right now the animation (``newLogFlash``) for a new entry appearing makes it fro from ``opacity: 1`` to ``opacity: .7`` to sort of highlight it briefly, but then after the animation is over it returns to ``opacity: 1``, the default style. That's why it looks a bit strange. Let me kno

[2017-09-11 18:41] flukeout commented on #2041
In looking into how this is handled, it seems like we may not be able to reliably detect when a browser is "touch-enabled". Chrome has changed it's implementation of the method we used to rely on. I think we should come up with a different solution here and maybe just rely on media queries and look for screen width, or have a design that just works in both circumstances (move away from ``hover`` o

[2017-09-11 18:41] #2041 closed

[2017-09-11 20:13] flukeout opened #2476 "Extend light theme to the Editor and File area headings."
Currently in the light theme we still have dark headings for these two areas, as seen here...

![image](https://user-images.githubusercontent.com/25212/30294667-c34daf40-96f2-11e7-92bd-67775b6fa791.png)

An added bonus to extending the theme to these areas is that it improves the contrast in the UI, making it easier to see the what is going on when Thimble is displayed with a projector.

There was

[2017-09-11 20:28] flukeout commented on #2450
Addressed in https://github.com/mozilla/thimble.mozilla.org/pull/2477

[2017-09-11 20:46] flukeout opened #2478 "Image resizing seems inefficient"
Over email, a user described a situation where the image resizing took this image

* 2000 x 1125 - 321KB - jpg

It was resized to...

* 431 x 242 - 244.9KB

This seems very inefficient. The end result is a roughly 25% size savings, while losing like 80% of the image resolution. Is this expected, can we do better @humphd @Pomax

[2017-09-11 21:10] flukeout commented on #2459
@humphd I'm unable to reproduce. The indicator only shows up for me when it is supposed to. Will close but if you see it again, let's hop on a call?

[2017-09-11 21:10] #2459 closed

[2017-09-11 21:20] flukeout commented on #2392
Closing as I'm not noticing any issues like what I've described in the original description.

[2017-09-11 21:20] #2392 closed

[2017-09-11 21:37] flukeout commented on #1591
Closing this as it's pretty old and we haven't run into something like this for a while.

[2017-09-11 21:37] #1591 closed

[2017-09-11 21:45] flukeout opened #2479 "Allow user to change the project description without needing to publish their project."
Currently in the publish dialog, there is a Description field. However, it only saves what you put in there at the moment of publishing, which isn't ideal. Sometimes people don't want to publish a project, but want to leave a description.

I think we should just auto-save whatever is in the description when a user closes the Publish dialog.

[2017-09-11 21:51] flukeout commented on #2386
Won't refile since we try to open the ``index.html`` file on editor load, and when it's not there, we create and open one.

[2017-09-11 21:53] #2450 closed

[2017-09-11 22:10] flukeout commented on #1966
Let us know if that helped @dfperry5

[2017-09-11 22:39] flukeout commented on #2114
Checking now.

[2017-09-11 23:09] flukeout commented on #2114
Yeah, I'm not seeing this anymore. The editor retains focus after adding a snippet so the user can keep typing. Closing!

[2017-09-11 23:09] #2114 closed

[2017-09-11 23:50] flukeout opened #2480 "Change PDF viewer highlighted text color"
When you highlight text within the PDF Viewer, the highlight color is a kind of bluish purple that is non-standard and doesn't match our color scheme...

![image](https://user-images.githubusercontent.com/25212/30301721-51cdfee6-9711-11e7-8efd-561a1797e125.png)

Let's remove this treatment so it gets the default highlight color of the browser.

[2017-09-12 00:49] dfperry5 commented on #1966
@flukeout @ryanwarsaw  Thanks :) Worked like a charm!

[2017-09-12 01:23] dfperry5 commented on #1966
@flukeout @ryanwarsaw

Noob question #2: I am making changes in this file: /public/editor/scripts/editor/js/fc/bramble-ui-bridge.js.  Trying to make the .click events for the preview-pane-nav-desktop && #preview-pane-nav-phone into .mousedown events. When i make these changes, I see them reflected in the dist folder, but those changes dont seem to be making it to the UI. Any quick thoughts on what

[2017-09-12 05:05] serendicoder commented on #2286
Yes @flukeout , I will work on this.

[2017-09-12 06:13] arsalanh3 commented on #2480
Would it be something like this?

`#pdf-meta.viewer-header ::selection{
  color: /*color*/;
  background: /*color*/;
}`

[2017-09-13 01:55] #2378 closed

[2017-09-13 02:18] #2452 closed

[2017-09-13 02:18] flukeout opened #2484 "Help identifying Thimble issue from console error."
Hey team, what do you figure is the problem here. This was in the console as the editor experienced the Black Screen of Doom.

![image](https://user-images.githubusercontent.com/25212/30356626-d513bb64-97ee-11e7-8400-9cd4f87f25bc.png)

To me this looks like the IndexedDB is corrupted on this particular Firefox instance, something we've seen before. It requires creating a new profile.

cc @humphd @

[2017-09-13 14:50] humphd commented on #2484
Agreed, this looks like Firefox db corruption.

[2017-09-13 16:18] flukeout commented on #2484
Okay, well I hope my English to German google translated instructions to the user will do the trick.

[2017-09-13 16:48] #2469 closed

[2017-09-13 16:54] flukeout commented on #2286
Ok @serendicoder so looks like most of the work will have to happen in the [publisher.js](https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/publisher.js) file. That's what controls the Publish dialog. If you look at that file, there are some examples of how to include JS with require.

@humphd @gideonthomas for including an external library for the QR co

[2017-09-13 17:23] gideonthomas commented on #2286
@serendicoder, my suggestion would be to work off of the `webpack` branch on Thimble instead of `master`. This will allow you to include your library by simply npm installing it and requiring it in like you normally would `const qrcode = require("myqrcodelibrary");` (vs. using requirejs to include external libraries which can be complicated). Note that there are a few changes in the setup for Thim

[2017-09-13 18:32] #2259 closed

[2017-09-13 21:40] Cryzek commented on #2223
Hi, I was trying to reproduce this issue. So, I added a img tag in the index.html and then dropped an image file(with the same name),and the preview reloaded automatically showing the image in the html preview. I had the "Auto" refresh button checked. Should the issue be tried when it is unchecked?

[2017-09-13 22:27] ArtanisAce commented on #2372
Hi! I'd like to start working on this as my first bug (hope is good one) ;)

[2017-09-14 01:11] ryanwarsaw commented on #2372
@ArtanisAce It's all yours, if you have any questions just let us know. Also if you haven't already, check out the README and CONTRIBUTING files, it's got a bunch of helpful information for new contributors, and feel free to join us in Mattermost (#Thimble channel).

[2017-09-14 19:07] flukeout commented on #2456
Here's an update...

![slowparse-progress](https://user-images.githubusercontent.com/25212/30449793-116f36cc-9945-11e7-9409-fb6a955beca9.gif)

Things are going pretty well so far. I've updated the styling and have added a highlight feature so users can hover over the error message to see where the error is in their document.

cc @humphd @Pomax

[2017-09-14 19:28] gideonthomas commented on #2456
re:the codemirror thing, do you think it's easy to change/remove? The pink looks kinda odd against the yellow. If not, I don't think it's a huge issue.

[2017-09-14 19:31] flukeout commented on #2456
@gideonthomas I'm not sure. I bet it's an option we can disable.

[2017-09-14 20:46] flukeout commented on #2456
Messing around with the presentation a bit. Removed the hover-able ``here`` indicators in favor of allowing people to hover over the element in the message...

![image](https://user-images.githubusercontent.com/25212/30455006-22d2826c-9953-11e7-8c39-3f4c667cd3d7.png)

[2017-09-14 21:47] ryanwarsaw commented on #2358
Hey @cadecairos I know you were working on this a while back, I wasn't sure if you completed it though. There's no rush, I'd like to finish a review on it before landing the SSO work though.

[2017-09-15 16:26] sanmaodo opened #2486 "中文乱码"
我上传的网页，中文变成了乱码，期望能够改善，谢谢！

[2017-09-15 17:33] ryanwarsaw commented on #2486
I used Google Translate, so that might actually be a terrible translation but it seemed to work.

[2017-09-15 18:54] humphd opened #2487 "Add CORS headers for cross-origin fetch() use of /refresh route"
In https://github.com/mozilla/brackets/pull/866 we need to call the new `/refresh` route within Bracket's service worker.  To do that, I need there to be CORS headers allowed for the brackets domain.  Here's an example of what needs to happen:

https://github.com/mozilla/thimble.mozilla.org/search?utf8=%E2%9C%93&q=enableCORS&type=

[2017-09-15 19:08] #2487 closed

[2017-09-15 20:48] flukeout opened #2489 "Figure out how to disable Codemirror's native error highlighting."
When you have an error in your markup, Codemirror highlights a bunch of stuff in pink:

![image](https://user-images.githubusercontent.com/25212/30502758-6cfd1d7e-9a1c-11e7-8fb9-95c24da75142.png)

Because there's no other information presented, it kind of makes it hard to tell where and why an error is happening. Since we're trying to integrate slowparse again, I think we should figure out how to

[2017-09-16 18:03] Cryzek commented on #2449
@flukeout Could you please provide the steps to reproduce this issue. The above given project url is not available. Plus, when I tried deleting all files in a project, on the next reload an index.html file was added by default.

[2017-09-18 09:36] Anshika-G commented on #2480
I would like to fix this.
I'm a beginner, can u pls guide?

[2017-09-18 18:03] flukeout opened #2491 "Slowparse Discussion"
This is a tracking bug for discussions & deliberations related to Slowparse. I had a call today with @Pomax to get him up to speed with my current adaptation [here](https://github.com/mozilla/brackets/pull/876).

**Issues & Quesitons**
* **Main thing:** We'd like to adapt Slowparse to work with CSS files in addition to inline CSS within HTML files
* ~~Can we delay the parsing to 2 seconds after th

[2017-09-18 18:45] humphd commented on #2491
Doing this would likely require us to invent an "idle" callback for the editor in Brackets, which currently doesn't exist.  The closest we can get to it would be to listen for `change` events on the editor, then use something like [`_.debounce()`](http://underscorejs.org/#debounce) to set a timeout that will fire in the future.  We'd need to deal with another `change` event coming in during that t

[2017-09-18 18:47] flukeout commented on #2449
Hey @Cryzek - I'll double-check now.

[2017-09-18 19:01] humphd commented on #2489
I had a chance to look into this.  Here's what I found.

CSS for this error highlighting gets defined here:

https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/documents/LiveDocument.js#L32-L37

This then gets applied here:

https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/documents/LiveDocument.js#L200-L235

It's being called f

[2017-09-18 19:44] flukeout commented on #2449
@Cryzek - OK - I got this to happen once out of about 10 tries or so. Usually it adds an ``index.html`` page as you noticed. But sometimes it exhibits the behaviour I described above. I don't know what causes it to break when it does, and it doesn't seem to happen very often, so I'm going to close this issue for now. Thanks for checking into it though!

[2017-09-18 19:44] #2449 closed

[2017-09-18 19:45] flukeout commented on #2489
Thanks @humphd - will look into it more.

[2017-09-18 19:46] Pomax commented on #2491
Just to make sure, it needs to fire "in the future" but on "the current text" rather than "the text as it was when the future-scheduling happened"?

[2017-09-18 19:51] flukeout commented on #2480
Hello @arsalanh3 - it could be! Are you able to run brackets locally to test those changes? Let me know.

@Anshika-G - hey let's see if @arsalanh3 wants to work on this issue first. Thanks.

[2017-09-18 20:16] flukeout commented on #2491
@Pomax Yeah I think we should always lint on the current text. We shouldn't do the linting and then report the result in the future, just schedule a lint pass for the future.

[2017-09-18 20:36] Pomax commented on #2491
We could give slowparse its own "debounce" functionality, like:

[code]
where the lock object has a timeout like
[code]
where `parse` runs the actual CSS validation and then calls `this.parseResultCallback(result)` after the timeout expires.

[2017-09-19 21:35] flukeout opened #2493 "Can't easily edit Slowparse, as there is no watch-task to recompile it"
So, we'll be wanting to make changes to the Slowparse submodule. Currently, when we make changes, we'd need to ``npm run build`` within the ``thirdparty/slowparse/`` folder to see the changes. Is it possible to have the changes we make to the code in that folder work without this step?

cc @Pomax - this sound about right?

[2017-09-19 21:41] flukeout commented on #2493
Looks like ``build`` depends on ``browserify`` which isn't listed in the dependencies.

[2017-09-19 22:12] humphd commented on #2493
When I merged upstream with Adobe, they added ways for secondary `npm` scripts to run for each extension.  We can try to use that, or we can just hack it in directly into our `Gruntfile`.  Do what's easier, I think.

[2017-09-20 14:09] humphd commented on #2493
Thinking about this a bit more today, and I think we shouldn't put build steps for Slowparse in our code, since it won't happen often enough to warrant this extra machinary.  Instead, can we change Slowparse to build the release + minified versions and then check those into git?  That way a submodule update will pull in the latest code.

[2017-09-20 15:09] flukeout commented on #2493
OK - I'm just anticipating a time when we'll need to modify / update it's inner workings to rephrase the rule descriptions that it spits out which will require a lot of refreshing / testing.

[2017-09-20 15:29] humphd commented on #2493
If we're going to significantly change Slowparse to work in Brackets, I'd suggest you consider just pulling the code into the repo.

[2017-09-20 16:08] flukeout commented on #2493
I don't think the changes will be brackets-specific, anyway, let's discuss on a call.

[2017-09-21 15:26] flukeout opened #2499 "Localization Bugs"
A user emailed and let us know that if you choose English (UK) some strange things happen...

Top nav is in greek...

![image](https://user-images.githubusercontent.com/25212/30704092-38fa950c-9eb7-11e7-8004-eee2d20efbbd.png)

Text below gallery is definitely not in English...

![image](https://user-images.githubusercontent.com/25212/30704104-4494f25e-9eb7-11e7-97ef-c97dd4498ee0.png)

The [feature

[2017-09-21 15:36] TheoChevalier commented on #2499
Looks like when a translation is missing, the fallback is broken. So instead of falling back to English, the script seem to randomly pick an existing translation.

[2017-09-21 16:42] flukeout opened #2500 "Adapt Slowparse to work with CSS files"
To build on the work in https://github.com/mozilla/brackets/pull/876, we want to make it so that slowparse will work on ``.css`` files as well as within ``.html`` files. Currently it can parse CSS within an HTML file, so it looks like a lot of the brains of that are already in place.

Flagging @Pomax for any additional comments, thoughts & questions.

[2017-09-21 17:05] flukeout commented on #2500
Current deliberations include:

* How to set it up?
  * node module (current favorite)
  * submodule (boo)
  * subtree (boo)

[2017-09-21 17:16] flukeout commented on #2491
Closing this as we've been making headway and have additional issues open now.

[2017-09-21 17:16] #2491 closed

[2017-09-21 17:33] Pomax commented on #2500
let's do a node_module, it's already hosted on https://www.npmjs.com/package/slowparse and publishing an update to expose the CSS parser will be ez

[2017-09-21 17:34] flukeout commented on #2500
Okay cool, how does that affect the work I've currently been doing? I think I only made a super minor change to add a ``token`` thing to one of the messages.

[2017-09-21 17:34] Pomax commented on #2500
shouldn't be

[2017-09-21 19:04] #2499 closed

[2017-09-21 19:33] Pomax commented on #2500
slowparse itself has been updated to v1.3.0 with a `Slowparse.CSS(css, options)` function that we can add to parse.js/main.js specifically for CSS files now.

[2017-09-21 21:00] flukeout commented on #2500
Well, then let's consider this closed. I tested with the latest branch and it works...

<img width="637" alt="image" src="https://user-images.githubusercontent.com/25212/30718594-fb0cd4b0-9ee5-11e7-986d-2f1005108d78.png">

[2017-09-21 23:03] #2500 closed

[2017-09-24 10:22] abdulhannanali opened #2503 "English (UK) shows greek in Navigation"
English UK is showing Greek in the Nav menu, while English (US) is showing okay english

![image](https://user-images.githubusercontent.com/8170969/30781621-0b9a19ca-a13c-11e7-8b46-93b5dd94fae6.png)

[2017-09-24 17:55] ayush9398 commented on #2489
The slowparse returns a JSON file when an error is encountered in the html, which gives a key value pair of error, key being 'type' and the value states the error encountered.

I think this json can be used in adding more info to tell the user what error is made at the specific line.
@flukeout @humphd

[2017-09-25 10:48] ayush9398 commented on #2476
The issue is may be #1251

[2017-09-25 13:56] humphd commented on #2476
@ayush9398 it's similar, but this one is about putting those theme choices in Thimble as well as Brackets--currently it's only the latter.

[2017-09-25 13:58] humphd commented on #2503
I think @gideonthomas recently fixed this, but it might not have made it to production yet.  Gideon, can you please confirm and close this if so?

Thank you for filing this, @abdulhannanali.

[2017-09-25 14:55] abdulhannanali commented on #2503
@humphd it also shows some of the text on other pages in Greek. It looks like Greek to me but it might be some other language.

[2017-09-25 14:56] abdulhannanali commented on #2503
There are no service workers or cache enabled on my side, so the bug is there, here's another page
![image](https://user-images.githubusercontent.com/8170969/30815118-a84a83d2-a22b-11e7-991a-ba9d0e27c935.png)

[2017-09-25 15:27] gideonthomas commented on #2503
Yeah, it didn't make its way to production, but it should be there now. Feel free to reopen if you still see this @abdulhannanali

[2017-09-25 15:27] #2503 closed

[2017-09-25 15:29] abdulhannanali commented on #2503
Yes it did Thanks a lot! I love people at Mozilla :heart: :heart: :heart:

[2017-09-26 13:45] flukeout opened #2504 "Create Account errors?"
Hey team, got word from a user that there were some problems resetting a password (no email received) and creating a new account. This is the error they saw when attempting to create an account...

![image](https://user-images.githubusercontent.com/25212/30863558-f406e110-a296-11e7-8438-1c2dbc6fef96.png)

Based on that screenshot, do we know what might have happened? Was the login server having an

[2017-09-26 13:47] flukeout commented on #2476
@humphd If you want a sweet em-dash, it's ``Shift + Options + Minus``. Give it a try—it's easy!

[2017-09-26 14:12] cadecairos commented on #2504
Based on the URL, they visited `id.webmaker.org` directly, and not via Thimble. The query params `client_id`, `response_type`, `state`, and `scopes` are filled automatically by Thimble, and are required for this to function.

For a reset to work, they need to use the login button on Thimble, then find the reset password function on the login form.

[2017-09-26 14:13] cadecairos commented on #2504
Also, There was an issue with sawmill over the weekend that caused emails to not get sent. I fixed this issue yesterday and processed the backlog (12,000 messages/events) - reset emails should work now.

[2017-09-26 14:19] flukeout commented on #2504
Cool, thanks @cadecairos - got a bunch of emails about password resets not working, so that explains it. Thanks for resolving.

[2017-09-26 14:19] #2504 closed

[2017-09-26 14:20] flukeout commented on #2489
Definitely @ayush9398 - we are working on integrating Slowparse here -> https://github.com/mozilla/brackets/pull/876

[2017-09-26 14:21] flukeout commented on #2489
Oh and also, we've been able to disable the native error highlighting within that PR using CSS, so we can close this issue.

[2017-09-26 14:21] #2489 closed

[2017-09-26 14:45] jmrodriguesgoncalves commented on #2479
Hello, I am a Seneca student working on a project for my Open Source course. I am looking around for ways in which to help out, and this looks like something I want to try working on. This would be my first bug so I am pretty new. Guidance would be much appreciated!

[2017-09-26 15:33] #2372 closed

[2017-09-26 15:34] flukeout opened #2505 "Unneeded gap where the Project Size is displayed."
When a project isn't large enough to warrant displaying the Project Size UI at the bottom of the File View, we still take up some room for it, as seen here where the ``index.html`` file is being overlapped by an empty container with a black background...

![image](https://user-images.githubusercontent.com/25212/30869260-4d0c44f8-a2a6-11e7-9cae-12d6b714922f.png)

We should only take up this space i

[2017-09-26 16:26] humphd commented on #2479
@flukeout, @gideonthomas can you give some technical insights here on what you want @jmrodriguesgoncalves to do in order to begin?  Thanks.

[2017-09-26 16:28] humphd commented on #2476
`---------------------------------------------------------------------------`

[2017-09-26 16:52] gideonthomas commented on #2479
It's all yours @jmrodriguesgoncalves.  I would suggest starting by setting up Thimble on your machine for development. You can find instructions on how to do that in the [README](https://github.com/mozilla/thimble.mozilla.org/blob/master/README.md).

Once you have Thimble setup, make sure you are able to reproduce the issue mentioned above - projects descriptions are not saved until you publish a

[2017-09-26 17:34] jmrodriguesgoncalves commented on #2479
@gideonthomas many thanks, I'm pretty sure you just about answered all of the questions I had in my mind. I will report back if I run into any issues!

[2017-09-27 00:41] michaelic commented on #2505
Hi @flukeout, I'd like to work on this.

[2017-09-27 00:42] flukeout commented on #2505
All yours @michaelic - let us know if you need help or have questions.

[2017-09-27 14:57] flukeout commented on #2505
All yours @michaelic - let us know if you need help or have questions.

[2017-09-27 21:22] ericschv commented on #2177
Hi @flukeout, if this issue hasn't been taken up I would like to tackle it.

[2017-09-27 21:41] flukeout commented on #2177
Hey @ericschv - go ahead. We haven't heard from @serendicoder for a while so I think you're good to go!

[2017-09-27 22:26] feihaozi77 commented on #2223
@humphd @flukeout Hi, I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-09-27 22:55] feihaozi77 commented on #2223
@Cryzek I tried the same thing, When Auto is checked the auto reload works good, maybe this issue needs to be reproduced.

[2017-09-28 00:33] michaelic commented on #2505
Thanks! I got the brackets project and built it, and I do have a question about approach.
How important is maintaining the fade in / fade out effect here?

The most straightforward fix I can think of would be to `display: none;` since it seems like what we really want to do here is take the element out of the flow completely rather than making it invisible, but that would interrupt the opacity tra

[2017-09-28 00:44] michaelic commented on #2505
Another option could be to slide/pull it out of view by transitioning the bottom margin when `.hide` is applied, but it seems like the height of that project size area can vary, so I'm not sure there's a reliable way to know how far to move it.

[2017-09-28 12:17] ericschv commented on #2446
Hi @humphd I would like to tackle this issue.

[2017-09-28 12:17] humphd commented on #2355
@flukeout @gideonthomas do you think this is a good bug for @MPierre9 to work on?  If so, can you provide some guidance on where to begin?

[2017-09-28 12:34] humphd commented on #2446
@ericschv OK, perfect, it's yours.  If you follow what I'm discussing in https://github.com/mozilla/thimble.mozilla.org/issues/2446#issuecomment-326378511, I think that will solve this.  NOTE: to fix this bug, and do your dev work, you don't need all of Thimble running, just the Brackets code.  You can run Brackets and then browse to `http://localhost:8000/src/hosted.html` and get the editor that

[2017-09-28 12:40] ericschv commented on #2446
@humphd thank you. I've just joined the Thimble channel. Looking forward to contributing to this amazing project.

[2017-09-28 12:43] feihaozi77 commented on #2223
![auto_reload](https://user-images.githubusercontent.com/13205171/30966918-960b3118-a428-11e7-8fc3-c8ed1d538e88.gif)
the above gif is a short screen cast showing when auto-refresh check box is checked, if i drag and drop the image to the project to replace an existing one, the preview will get updated.
However, if you leave the auto-box unchecked, the drag and drop won't trigger the updating of th

[2017-09-28 12:44] GauravV-02 commented on #1902
Hi @flukeout , I am a student at seneca college enrolled in open source course, looking for my first bug. If this bug is not assigned to someone, can I work on it? Thanks

[2017-09-28 12:46] humphd commented on #2223
@flukeout can you confirm that this is still an issue?  Looks like it might be fixed to me, based on what @feihaozi77 is showing above.

[2017-09-28 12:51] MarcoBeltempo commented on #1918
Hi @flukeout , I'm currently a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-09-28 13:25] flukeout commented on #2505
Hello, @michaelic - I think just straight up hiding it with ``display: none`` would be fine. Give that a try and we'll see how it looks.

[2017-09-28 13:28] flukeout commented on #1918
Hi @MarcoBeltempo - I think it's fair if you start work on this. @rkgupta21 has submitted a pull request here (https://github.com/mozilla/thimble.mozilla.org/pull/2022) but it looks like has has stopped working on it. Please review the notes and comments there as they might be helpful to you.

Cheers!

[2017-09-28 13:31] flukeout commented on #2223
Hey @feihaozi77 - thanks for looking into this. That does looks like it's working correctly. Can you test another case for me? Can you add a background image via a linked CSS file to an element on the page and then upload an updated image to see if that works as well? Thanks!

If it does, I think it's fair to close this issue. Cheers!

[2017-09-28 13:38] flukeout commented on #1902
Hey @GauravV-02 - hey, go ahead! Let me know if you get stuck or have questions. Looks like there have been a few attempts in other PRs to solve this, so please have a look at those for some context and additional information.

[2017-09-28 13:40] ppatel221 commented on #2447
Is it possible for me to work on this? Im currently a student in an open-source looking to contribute in this space. It would be nice if i can be assigned this

[2017-09-28 13:42] GauravV-02 commented on #1902
Thanks, I will

[2017-09-28 13:43] ppatel221 commented on #2505
Hey can i be assigned this bug. Im a student in an open-source class looking to contribute to this project. Thanks!

[2017-09-28 13:44] ppatel221 commented on #2480
@flukeout Hey looks like no ones really working on this bug. Is it okay if i take over?

[2017-09-28 13:50] feihaozi77 commented on #2223
@flukeout , just tried the background-image and it works, with auto-box checked everything worked  fine.

[2017-09-28 13:52] flukeout commented on #2355
Yeah, I think this would be a good one!

[2017-09-28 13:57] flukeout commented on #2505
Hello @ppatel221 - if you check the recent comment history you'll notice that @michaelic is working on this issue. Cheers.

[2017-09-28 13:58] flukeout commented on #2480
@ppatel221 - please go ahead, it's yours. Let me know if you have any questions.

[2017-09-28 14:03] ajlomagno commented on #2445
@flukeout I'm a student at Seneca and I wanted to work on this for my open source class. I'd like to give it a go if no one else is currently doing so.

[2017-09-28 14:07] flukeout commented on #2445
Hey @ajlomagno - sure thing yeah give it a shot! Let us know if you have questions. It looks like work by other potential contributors has stalled out here.

[2017-09-28 14:21] flukeout commented on #2223
Thanks for looking into this. I bet it was filed before we'd updated how the live preview handles files. Closing!

[2017-09-28 14:21] #2223 closed

[2017-09-28 14:22] flukeout commented on #2447
Hey @ppatel221 - I've assigned another issue that you requested to work on.

@FinleyCorrigan - are you still working on this issue? You've got an open PR. Let us know, thanks!

[2017-09-28 14:23] ajlomagno commented on #2445
I'll be sure to stop by and ask any questions if I need some pointers. Thanks @flukeout!

[2017-09-28 16:04] gideonthomas commented on #2445
@ajlomagno, one thing that might help...this issue needs to be fixed in brackets...so I don't think you need to setup Thimble, and should be able to test this out with Brackets itself. Instructions for setting up Brackets locally can be found in the readme in the [Brackets repo](https://github.com/mozilla/brackets)

[2017-09-28 16:57] flukeout commented on #2118
We could simply add the font size next to the text label like this...

* ``Text size (12px)``

[2017-09-28 17:11] humphd commented on #2118
I've got a student, Azusa Shimazaki @azusaaz, who wants to work on this.  I'm assigning it to her now.

[2017-09-28 17:11] humphd commented on #2307
I've got a student, Azusa Shimazaki @azusaaz, who wants to work on this.  I'm assigning it to her now.

[2017-09-28 17:17] flukeout opened #2506 "QuickEdit UI for 'border-radius'"
It would be great to have a QuickEdit UI (similar to how we handle the colorpicker) for the CSS property ``border-radius``. The goal would be to create an expandable UI that would allow people to set the border...

Here's a very rough mockup of the UI controls it could have...

[code]

The UI would be a combination of toggles and sliders and it would update the code in the editor to match what the

[2017-09-28 17:29] feihaozi77 commented on #2116
Can I work this one? if no one is being assigned?

[2017-09-28 17:31] flukeout opened #2507 "QuickEdit UI for Padding / Margin"
It would be great to have a QuickEdit UI (similar to how we handle the colorpicker) for the CSS properties ``padding`` & ``margin``. The goal would be to create an expandable UI that would allow people to set these properties (they have a lot of similarities, so this would be easy to re-use).

Here's a very rough mockup of the UI controls it could have...

[code]

The UI would be a combination of

[2017-09-28 17:33] humphd commented on #2116
@feihaozi77 it's all yours.

[2017-09-28 17:33] flukeout commented on #2116
Sounds good @feihaozi77 - all yours. Let me know if you have questions. This will require you running both Thimble and Brackets locally.

[2017-09-28 17:34] feihaozi77 commented on #2116
can you provide a brief STR ?

[2017-09-28 17:37] flukeout commented on #2116
Sure thing, check out this gif...

![toggle-click](https://user-images.githubusercontent.com/25212/30981343-ac956ad6-a449-11e7-961a-a62073a72611.gif)

Notice how only clicking the actual toggle changes the setting? When I click the label nothing happens, but it should! Clicking the label should have the same behavior as clicking the toggle UI.

[2017-09-28 18:03] flukeout opened #2508 "QuickEdit UI for box-shadow"
It would be great to have a QuickEdit UI (similar to how we handle the colorpicker) for the CSS property ``box-shadow``. The goal would be to create an expandable UI that would allow people to set the shadow property, which is slightly complicated...

Here's a very rough mockup of the UI controls it could have...

[code]

Since the ``box-shadow`` property includes a color we could do a couple of t

[2017-09-28 18:08] MPierre9 commented on #2355
@humphd @flukeout Thanks! I'll get started :)

[2017-09-28 18:15] MPierre9 commented on #2355
@flukeout I got Thimble running on my local machine using the instructions on GitHub, however when I go to make new project and recreate the bug it hangs on "Creating new project" am I missing a step or installation instruction. Thanks

Also is there a slack channel I can ask questions?

[2017-09-28 18:42] humphd commented on #2355
@MPierre9 hop into https://chat.mozillafoundation.org/mozilla/channels/thimble

[2017-09-28 18:49] flukeout commented on #2355
That's interesting - when you say it hangs, what are you seeing? Can you post any errors you are seeing in your console? Users run into this once in a while, so it's handy that you are seeing it too so maybe we can debug together.

[2017-09-28 19:24] feihaozi77 commented on #2116
@flukeout i was following the automated installation section in the readme file to set up the environment, but there are still some confusions in my mind, since you told me both thimble and brackets should be running locally, could you explain what is the relationship between those two tools? (I know brackets is a editor while thimble is like a online web based editor)

[2017-09-28 19:28] Avedis777 commented on #2479
I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-09-28 19:28] Avedis777 commented on #2445
I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-09-28 19:31] flukeout commented on #2116
Take a look below...

<img width="948" alt="image" src="https://user-images.githubusercontent.com/25212/30986574-81aa1ee2-a459-11e7-9b97-87d7e6d46266.png">

In essence, everything above the red line is "Thimble" and everything below is "Brackets". The homepage also lives in the Thimble repo. Let me know if that helps. Thimble is like the wrapper piece that adds the UI for all of the editor setting

[2017-09-28 20:01] jmrodriguesgoncalves commented on #2479
hey, @Avedis777 currently working on this one. Keep your notifications opened in case I run into some trouble but for now I got it. You can feel free to come and have a look at the code when we are in class!

[2017-09-28 20:14] GauravV-02 commented on #1902
When I run, npm run env. I am getting errors. Here is the file with errors
[2017-09-28T19_59_28_290Z-debug.log](https://github.com/mozilla/thimble.mozilla.org/files/1342193/2017-09-28T19_59_28_290Z-debug.log)

[2017-09-28 20:21] michaelic commented on #2505
@flukeout Thanks, PR incoming shortly :)

[2017-09-28 20:24] flukeout commented on #1902
Paging @gideonthomas

[2017-09-28 20:56] cadecairos commented on #2358
@ryanwarsaw sorry for the silence on this for a while. I'll add it to my list and make sure I complete what I started.

[2017-09-28 21:13] ryanwarsaw commented on #2358
@cadecairos DW about it, I'm held up with MozFest stuff and there is some other stuff to review so you've got at least a month before I need to come to a conclusion on this.

[2017-09-28 21:34] ajlomagno commented on #2445
@gideonthomas, that'll definitely help give me a good place start. Thanks a lot!

[2017-09-28 22:29] humphd commented on #1902
@GauravV-02 for sure you ran `npm install` before that, yes?  It looks like it can't find the module binary it needs.

[2017-09-28 23:10] GauravV-02 commented on #1902
Thank you it worked, but in the instruction this command was before npm install.

[2017-09-29 00:57] feihaozi77 commented on #2116
@flukeout when i modify the main.js in dist/editor/scripts and restart the server, the main.js always restore back to the previous state which is without my modification. Do you know what is the cause of this?

[2017-09-29 01:19] humphd commented on #2116
cc @gideonthomas, who can explain the webpack build stuff to you, and where things live in the src.

[2017-09-29 01:23] humphd commented on #1902
The docs might be wrong about the order.  Should you file another bug to update them?  If they are out of order, that's a bug we should fix.

[2017-09-29 01:25] feihaozi77 commented on #2116
@gideonthomas when i modify the main.js in dist/editor/scripts and restart the server, the main.js always restore back to the previous state which is without my modification. In other word, right now i'm not be able to change code in dist folder.  My guess is that something happened during the build when i restart the thimble server. Do you know what is the cause of this?

[2017-09-29 03:02] feihaozi77 commented on #2116
@flukeout @humphd when I was making changes to the menu.js file under public/editor/scripts/ui the changes in the menu.js file did not get compiled into the dist folder.  I tried restart the server the change still does not take any effect. but when i making changes into the html codes in the view folder the server is picking up the changes immediately.

[2017-09-29 03:57] MPierre9 commented on #2355
It was stuck at loading project but I figured it out, I wasn't running the brackets server and thimble server at the same time *facepalm*

[2017-09-29 15:09] humphd commented on #2355
@MPierre9 yeah, that's something a lot of people run into.  One thing we could do is have the Thimble node.js server check that the Brackets host is available on startup, and print some kind of useful error message if it isn't.  If you want to file and fix that bug, I'll help you figure out what to do.

[2017-09-29 16:16] gideonthomas commented on #2116
@feihaozi77 you should never need to touch the `dist/` folder for anything. All your changes need to be made in the `public` folder.
Re: your second comment, when you make a change to menu.js and save, do you see any logs in your console? Also, how are you restarting the server?

[2017-09-29 16:19] gideonthomas commented on #1902
Nice catch @GauravV-02! Yes, the `npm install` command should be before the `npm run env` command. Feel free to file a bug and/or fix it as well.

[2017-09-29 16:22] gideonthomas commented on #2445
@Avedis777 looks like @ajlomagno is working on it. You might find an issue here: https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20-label%3A%22Assigned%20to%20Contributor%22 that might interest you

[2017-09-29 16:32] gideonthomas commented on #1966
@dfperry5, sorry for the late reply. One possibility is that the browser is aggressively caching your pages. If you keep your devtools/console open, you can circumvent this. Here's an article on how you might do that: http://nicholasbering.ca/tools/2016/10/09/devtools-disable-caching/. Let us know if you have any other issues.

[2017-09-29 17:04] MPierre9 commented on #2355
@humphd That sounds like a good idea I don't have a lot of experience with node.js but I am very familiar with other server side languages like PHP and am willing to jump in to fix that bug. Any pointers are appreciated :)

[2017-09-29 17:21] humphd opened #2509 "Test for Brackets when starting Thimble"
Follow-up from https://github.com/mozilla/thimble.mozilla.org/issues/2355#issuecomment-333153037: let's have Thimble test to see if Brackets is running when the server starts, since it's a runtime dep that we assume is there.  This tends to trip-up new devs who forget (or don't know) to run them both.

Let's use https://github.com/sindresorhus/is-reachable.  The general idea here would be:

* inst

[2017-09-29 17:21] humphd commented on #2355
@MPierre9 I filed https://github.com/mozilla/thimble.mozilla.org/issues/2509 for you.

[2017-09-29 17:32] gideonthomas commented on #2509
you can add it somewhere at the bottom of this file: https://github.com/mozilla/thimble.mozilla.org/blob/master/server/index.js. And use `config.editorHOST` instead of testing the `env` for `BRAMBLE_URI`. You also don't need to check if it exists because it will throw an error earlier in the code if it is missing.

[2017-09-29 18:25] feihaozi77 commented on #2116
@gideonthomas Thank you for the response! the problem for me is that I did not disable cache in my browser, after i clear all the cache i'm able to see the changes now

[2017-09-29 18:35] feihaozi77 commented on #2116
@flukeout just want to clarify the issue, when user hover the label text, do you want the toggle button to be highlighted or the label text to be highlighted?

[2017-09-29 19:23] MPierre9 commented on #2509
I'll get started working on it, thanks @humphd and @gideonthomas.

[2017-09-29 19:24] humphd commented on #2116
@feihaozi77 you don't need to highlight anything, just make the entire rectangle clickable vs. just the toggle.

[2017-09-29 19:28] feihaozi77 commented on #2116
@humphd I already made the label text clickable to toggle the button, just want to make sure that's what @flukeout want or the entire rectangle

[2017-09-29 20:13] feihaozi77 commented on #2116
![texttoggle](https://user-images.githubusercontent.com/13205171/31034197-03e32dd6-a531-11e7-94cd-d239191d7feb.gif)
this is what i've done so far let me know what you think about it @flukeout  @humphd

[2017-09-29 20:42] humphd commented on #2116
@feihaozi77 looking very nice!  One thing you can do is also change the cursor pointer to a hand vs. an arrow, so people know they can click (the toggle already does this, the label just needs it).  Go ahead and open a pull request for this, and we can discuss this more there.

[2017-09-29 20:44] feihaozi77 commented on #2116
@humphd I'll add the hand-cursor thing first, once i done that i'll open the PR

[2017-09-30 23:30] MPierre9 commented on #2509
So I implemented what @humphd and @gideonthomas  suggested and have a working "prototype".
![bramble bug fix](https://user-images.githubusercontent.com/27080760/31050337-6e4fe27e-a615-11e7-9854-f140abb02f6c.JPG)

The only odd thing I encountered is that when you run npm start and the build process bar is displayed the console.log() text will be repeated.

![bramble bug 2](https://user-images.githu

[2017-10-01 03:36] gideonthomas commented on #2509
Huh, that is interesting...I'm not sure why that happens. Now that I think about it, it might make more sense to have this be a separate module. Here's my suggestion:
1. Take your code and move it to a new file inside the `scripts` folder called `verify-brackets.js`. Use `process.env.BRAMBLE_URI` instead this time.
2. In `package.json`, before [this line](https://github.com/mozilla/thimble.mozilla

[2017-10-01 08:16] Cryzek commented on #2102
I would like to work on this.
One way to do this, would be to save info using cookies, or local storage on the client side. Is this a good idea?

[2017-10-01 18:08] Fatehsandhu commented on #1543
@humphd glad to see you here!  I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-01 18:46] azusaaz commented on #2307
Hello, I am that student Azusa Shimazaki @azusaaz!
Thank you for letting me join the project!
I am glad to try this Issue!

[2017-10-01 18:47] azusaaz commented on #2118
Hello, I am that student Azusa Shimazaki @azusaaz!
Thank you for assigning!
I am excited to try this!

[2017-10-01 19:25] humphd commented on #2118
A few tips on how to do this:

The HTML for this lives here: https://github.com/mozilla/thimble.mozilla.org/blob/9e6289cb54f60fe770f4744885d8ae5673b1e9fd/views/editor/nav-options.html#L117-L120.  You'll need to add a `<span id="editor-pane-nav-font-size"></span>` to create the UI.

Next, we'll need some code to get the current font size on startup, and put it in that UI.  That code can go here: ht

[2017-10-01 19:26] humphd commented on #2307
@azusaaz I'd start with the other bug first, and come back to this one.  When you're ready to do it, let me know and I'll give you some ideas here.

[2017-10-01 19:27] humphd commented on #1543
Sounds good @Fatehsandhu, it's yours.  Please see the discussion above, and ask questions as you go.  @flukeout can help with the look-and-feel for what we'll need to do here.

[2017-10-01 19:28] humphd commented on #2102
I think doing it in session storage probably makes sense, yes.  Thanks for taking this @Cryzek.

[2017-10-01 19:43] Fatehsandhu commented on #1543
@humphd I will get on it right away, thanks a lot

[2017-10-01 20:12] azusaaz commented on #2307
@humphd I see. Thank you!

[2017-10-01 20:15] azusaaz commented on #2118
@humphd Ok. Thank you so much for the tips!

[2017-10-01 21:52] gideonthomas commented on #2102
Actually, we don't need to store anything in cookies. The issue is that the url paths are set incorrectly for the `features` and `get-involved` pages.

I think the only changes we need to make are changing [this](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/routes/main/features.js#L15) to `` `/features${qs}` `` and [this](https://github.com/mozilla/thimble.mozilla.org/blob/mas

[2017-10-02 07:59] Cryzek commented on #2102
@gideonthomas I observed that, if I'm on the features page, and switch the locale by clicking on a hyperlink with href such as "/en-GB/", a request is sent with path - "/en-GB/". At this point the information that user was on features page is lost. So ,
- either we can process the request url in frontend by attaching some logic to the click event on hyperlinks OR
- store the path and detect a chan

[2017-10-02 08:59] TheoChevalier commented on #2118
Generally speaking, all units should be localized. For instance, some locales will order the unit and value differently, add spaces or non-breaking spaces between the two, change capitalization, or even translate the unit, etc.

To give you an idea for the `px` unit: https://transvision.mozfr.org/string/?entity=browser/chrome/browser/pageInfo.properties:mediaDimensions&repo=central

In your case,

[2017-10-02 09:41] Cryzek commented on #2102
Oh. I get it now.
Thanks @gideonthomas . I have created a PR for this.

[2017-10-02 15:37] LukeXF commented on #1308
What does NonSemver mean?

[2017-10-02 15:40] humphd commented on #1308
I'm not 100% sure, see https://github.com/dylang/npm-check/search?q=nonsemver&state=closed&type=Code&utf8=%E2%9C%93.

[2017-10-02 15:47] TheoChevalier commented on #2118
Not sure to understand, what would the string look like?

[2017-10-02 15:48] humphd commented on #2118
`12px`

[2017-10-02 15:50] LukeXF commented on #1308
ah I reckon it means non semantic version. See [this site](http://semver.org/) I found.

[2017-10-02 15:52] humphd commented on #1308
@LukeXF are you interested in working on this?  I think there's been some work since this got filed to update some of the deps, so part of doing this will be to investigate what's actually still out of date.  Also, it would probably be good to do a PR per update, in case things break.

[2017-10-02 16:06] TheoChevalier commented on #2118
I will leave the decision to you, but since you’re asking me, leaving `12px` unlocalized won’t work for several languages.

Taking another example from Thimble, look at the `LOCALES` tab: https://pontoon.mozilla.org/en-GB/thimble/all-resources/?search=px&string=165701
There’s a bunch of languages using something different than `number+px`.

[2017-10-02 16:32] MPierre9 commented on #2509
Hi @gideonthomas, I implemented what you suggested and get "undefined" as the output when I use process.env.BRAMBLE_URI. Is there something I missed? Thanks.
![undefined](https://user-images.githubusercontent.com/27080760/31088176-b2c50dae-a76d-11e7-9b72-b6585e5e00fc.JPG)

[2017-10-02 16:40] gideonthomas commented on #2509
@MPierre9, did you run `npm run env` before that?

If you have done that and you still see `undefined`, we can instead rely on config by doing the following:
1. require in `server/routes/config` as a const `config`.
2. You can then access `config.editorHOST` to get the url for brackets and check if it's reachable.

Btw, thanks for the screenshots, they're really helpful!

[2017-10-02 17:16] humphd commented on #2509
That likely means the environment hasn't been loaded into the process yet.  Can you open a PR with your changes, and we can discuss them there.

[2017-10-02 17:39] flukeout commented on #2116
Looks great @feihaozi77 - looking forward to the PR.

[2017-10-02 18:09] april opened #2513 "Security bug in Thimble (see BMO bug)"
Here is the BMO bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1401419

Please let me know if any contributors need access and can't get it. It's currently filed under MoFo -> Websites.

[2017-10-02 18:25] gideonthomas commented on #2513
Thanks @april, looks like we've been cc'd in the bug and will continue to track it in bugzilla!

[2017-10-02 18:25] #2513 closed

[2017-10-02 19:56] MPierre9 commented on #2509
Using require `server/routes/config` as @gideonthomas suggested I got an error that it couldn't find the module.
![require bug](https://user-images.githubusercontent.com/27080760/31096424-fc76c052-a789-11e7-82b9-9db1a7e3226b.JPG)

Should I still open a PR if there is an error in the code or should I use a different version of the code @humphd

Thanks for the help, I've enjoyed working on this so f

[2017-10-02 20:07] humphd commented on #2509
@MPierre9 yeah, open a PR with what you have, and I can read the code.  Let's continue this conversation in the PR, and we'll get it figured out together.  Thanks for working on this.

[2017-10-02 22:26] azusaaz commented on #2118
@TheoChevalier  Thank you for the info!

[2017-10-03 14:44] feihaozi77 commented on #2506
This sounds interesting, can I work on this one?

[2017-10-03 14:46] feihaozi77 commented on #2486
@sanmaodo 能否提供重现步骤（截图）

[2017-10-03 14:47] humphd commented on #2355
This is a test.

https://github.com/mozilla/thimble.mozilla.org/blob/master/server/index.js#L6-L9

[2017-10-03 14:47] feihaozi77 commented on #2486
@sanmaodo would you please provide some STR?

[2017-10-03 15:42] gideonthomas commented on #2506
@flukeout are quick-edit ui's good for contributors to work on?

[2017-10-03 15:53] humphd commented on #2506
@gideonthomas Yeah, I think these are good "projects" for contributors, as long as they know it's not going to be a few lines of code to fix it.

@feihaozi77 if you're OK with this, then yes go ahead.  If you want help, let me know and I can guide you through what has to happen.

[2017-10-03 15:56] gideonthomas commented on #2118
@humphd yeah let's not add the l10n  part for this specific contribution. @azusaaz, you can just use the values as is as @humphd mentions. @humphd, can you file a follow-up to localize it and assign to me please?

[2017-10-03 17:10] Pomax commented on #2486
这似乎工作: https://thimbleprojects.org/mopaxian/326223/

[2017-10-03 17:15] Pomax commented on #2118
@flukeout pixel sizes don't really mean anything across devices, could I suggest we use percentage instead? (similar to how browsers themselves indicate zoom level?)

[2017-10-03 17:24] Pomax commented on #2486
![screenshot 366](https://user-images.githubusercontent.com/177243/31138974-0794680e-a825-11e7-8cc5-6c8b188eddd6.png)

![screenshot 367](https://user-images.githubusercontent.com/177243/31138978-09a726e0-a825-11e7-824a-dfc2fffce09c.png)

[2017-10-03 17:44] feihaozi77 commented on #2506
@humphd @flukeout  @gideonthomas Yes I would like to work on this one, please give me a brief instruction on which part of existing code I can refer to, i was looking at the codes in src/extension/inlinecoloreditor.js

[2017-10-03 17:59] humphd commented on #1770
@dnguneratne is going to work on this for us as his first bug, and I'll mentor it.

The way to accomplish this will be to add/remove a class from the filetree component whenever these functions are called (e.g., whenever we handle the drag events):

https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js#L231-L260

We'll need to figure out what the CSS should look like, especially

[2017-10-03 18:27] humphd commented on #2506
OK @feihaozi77, here's an overview of what you need to do.

1. Create a new directory in `src/extensions/default/` named `InlineBorderRadiusEditor`

2. Create a skeleton for a new inline editor following the patterns in these existing ones: [Color Editor](https://github.com/mozilla/brackets/tree/master/src/extensions/default/InlineColorEditor), [3D Params](https://github.com/mozilla/brackets/tree/

[2017-10-03 19:48] #2102 closed

[2017-10-03 20:54] flukeout opened #2515 "QuickEdit Lightning indicator doesn't go away when switching to Font Viewer"
**Steps to reproduce:**

* Start a new project
* Add a font file to it
* Switch to the style.css file and start to edit or add a color rule
* When the purple Lightning icon appears ⚡️, click the font file
* When the view switches, the lightning icon persists on the screen

See below...

![image](https://user-images.githubusercontent.com/25212/31148657-38c9da40-a842-11e7-8ad9-568ff38bb40a.png)

[2017-10-04 00:47] dnguneratne opened #2516 "Scroll bar appearing in upload files dialog modal"
OS: Windows 8.1
Browser: Google Chrome v61.0

### Description
A vertical scroll bar appears inside `modal-body` of the upload files dialog modal. Using the scroll wheel moves `drop-zone` up and down slightly. Browser is at 100% zoom. Issue is reoccurring even after clearing browser cache.

![image](https://user-images.githubusercontent.com/8231763/31155222-7d94794a-a87a-11e7-9f28-778f57746cf0.png)

[2017-10-04 01:33] humphd commented on #2516
@dnguneratne nice catch!  Do you want to open a PR to fix this?

[2017-10-04 01:40] dnguneratne commented on #2516
@humphd Yes please!

[2017-10-04 01:41] humphd commented on #2181
Assigning this to @ericsuhn, who is a student of mine looking for a good-first-bug.

So to do this, we need to adjust the code here:

https://github.com/mozilla/thimble.mozilla.org/blob/d641ee3dc7e9d42b4638d4a19da2c29a787043ab/services/login.webmaker.org/app/http/controllers/site.js#L45-L58

We need to add a `commit: ...` property, and indicate what the current git commit is.  We can probably use

[2017-10-04 01:43] humphd commented on #2515
We probably need to add a listener for `activeEditorChange` to turn this off.  I'll mentor someone if they want to work on this.  It would be pretty easy to fix.

[2017-10-04 02:10] ddinis-alves commented on #2515
Hi, I'd like to try working on this.
Thanks.

[2017-10-04 02:13] humphd commented on #2515
@ddinis-alves great, it's yours!

It looks like the code for this got written already, but is never used:

https://github.com/mozilla/brackets/blob/master/src/editor/PopoverWidget.js#L150-L161

Try adding `EditorManager.on("activeEditorChange", onActiveEditorChange);` in the `appReady` function, and see if this fixes things.

[2017-10-04 02:47] humphd opened #2517 "Console errors loading Thimble in de locale"
In Chrome, I tried loading `https://thimble.mozilla.org/de` and then started a new project.  I get these errors:

<img width="1227" alt="screen shot 2017-10-03 at 10 45 36 pm" src="https://user-images.githubusercontent.com/427398/31158004-bad45796-a88c-11e7-8492-eea74f7deb60.png">

[2017-10-04 02:49] humphd commented on #2517
Looks like one of those strings that's failing is `https://mozillathimblelivepreview.net/bramble/production/dist/extensions/default/brackets-show-whitespace/nls/de/strings.js`

[2017-10-04 10:51] Cryzek commented on #2508
Will this require creating an extension in brackets, like the one available for color editor, or is there a different way to do this?
The brackets docs mention that we "cannot load modules from different extensions."

Also, currently while editing `color` value in `box-shadow` property, color editor appears automatically. See below
![capture1](https://user-images.githubusercontent.com/9551285/3117

[2017-10-04 13:53] feihaozi77 commented on #2506
@humphd thank you for the instruction, I'll try figure out those one by one

[2017-10-04 15:10] gideonthomas commented on #2181
@humphd doesn't look like the right file is linked above? ^

The change needs to be made here: https://github.com/mozilla/thimble.mozilla.org/blob/master/server/request.js#L106

I'm gonna suggest using [git-rev-sync](https://github.com/kurttheviking/git-rev-sync-js) instead which does the same thing as git-rev except synchronously.

[2017-10-04 15:15] gideonthomas commented on #2418
Closing due to incomplete information

[2017-10-04 15:15] #2418 closed

[2017-10-04 15:16] gideonthomas commented on #1784
This work is done

[2017-10-04 15:16] #1784 closed

[2017-10-04 15:17] gideonthomas commented on #1585
Closing since I think this has been superseded by snippets

[2017-10-04 15:17] #1585 closed

[2017-10-04 15:18] #1531 closed

[2017-10-04 15:20] gideonthomas commented on #1527
@cadecairos, this might be a good bug for @patjouk to work on. Not labelling as a "Good First Bug" since this is beyond the scope for volunteers.

[2017-10-04 15:24] gideonthomas commented on #1352
Closing since we've done this with the context toolbar and top + nav bar.

[2017-10-04 15:24] #1352 closed

[2017-10-04 15:30] gideonthomas commented on #1313
This is done

[2017-10-04 15:30] #1313 closed

[2017-10-04 15:31] gideonthomas commented on #1298
Closing considering recent changes that make this not useful anymore.

[2017-10-04 15:31] #1298 closed

[2017-10-04 15:34] gideonthomas commented on #1173
We've fixed some of this with our "Features" page and we still need to update the video. But other than that, this now seems out of scope.

[2017-10-04 15:34] #1173 closed

[2017-10-04 15:35] gideonthomas commented on #1516
Closing as this is now out of scope.

[2017-10-04 15:35] #1516 closed

[2017-10-04 15:38] gideonthomas commented on #2144
Migrated to https://github.com/mozilla/id.webmaker.org/issues/445

[2017-10-04 15:38] #2144 closed

[2017-10-04 15:41] gideonthomas commented on #2111
This only happens in Firefox (possibly only on Mac).

[2017-10-04 15:47] #2461 closed

[2017-10-04 16:02] #2509 closed

[2017-10-04 16:31] humphd commented on #2508
@Cryzek I wrote some thoughts on this in a similar bug, see https://github.com/mozilla/thimble.mozilla.org/issues/2506#issuecomment-333935686

[2017-10-04 16:57] flukeout commented on #2508
@Cryzek - yeah, we'd have to figure out how to handle cases like the one you found. I guess if we can detect that you are within the value for a ``box-shadow`` property, then we can show the Box Shadow UI instead of just the color UI.

[2017-10-04 18:14] Cryzek commented on #2508
Thanks @humphd, @flukeout . Can I try this one? Would be awesome to build an extension.

[2017-10-04 18:22] amehic commented on #2111
Hi @flukeout, I'm a student learning open source and I was wondering if I could try this one.

[2017-10-04 18:25] flukeout commented on #2111
Hey @amehic - sounds good. Please check first if you can reproduce it, as it might not be happening on all OS / browser combinations. Thanks!

[2017-10-04 19:07] amehic commented on #2111
@flukeout Thanks, I was able to reproduce it in Firefox on Windows as well.

[2017-10-04 19:46] flukeout commented on #2111
Great, let me know if you have questions about where to get started with this. A good first step is getting your local environment up and running. I believe that with this bug you'll only need to run Brackets itself.

[2017-10-04 20:21] ajlomagno commented on #2445
Hey, @flukeout I've made some great progress on getting the console line numbers added but as @gideonthomas mentioned above this is an addition that's primarily focused in [bramble (brackets)](https://github.com/mozilla/brackets). When it's time to make a pull request should I create one for this repository or for bramble's repository?

[2017-10-04 20:26] gideonthomas commented on #2445
Since your code changes touches the brackets repository, make your PR against that.

[2017-10-04 23:49] himanshupnt commented on #1614
@humphd @ryanwarsaw Could you have a look at the two ports that I did -
ES5 port - https://thimbleprojects.org/himanshupant/312531
ES6 port - https://thimbleprojects.org/himanshupant/318238/

For ES6, I have kept the source but to render the application I used the bundled output because @import/export feature wouldn't work and for learning it's essential that one knows about these ES6 features.

S

[2017-10-05 00:39] marcobeltempo opened #2518 "Home page content overflowing container on window resize"
OS: Windows 10
Browser: Firefox 57, Google Chrome v61.0

**Description**

When you resize the browser on the home screen with a width less than 765 pixels, the "Welcome video" and footer begin to overflow the content-wrapper.

![thimble_video_overflow_capture](https://user-images.githubusercontent.com/15523758/31206117-ea0e6f62-a943-11e7-9585-ec7efce23f21.PNG)

![thimble_footer_overflow_capture](h

[2017-10-05 00:41] humphd commented on #2518
@flukeout thoughts?  Perhaps @marcobeltempo can also fix this.

Thanks for filing this!

[2017-10-05 00:46] dnguneratne commented on #2516
I took a look at this and noticed that this issue is not present in my local environment. It seems that the classes need to fix this are already in place but loaded in the wrong order in production (i.e the actual `thimble.mozilla.org` site).

Inside brackets I found two references to `.modal-body` class. One in,
`\brackets\src\extensions\default\bramble-move-file\styles\style.less`
[code]
and the

[2017-10-05 01:55] jmrodriguesgoncalves commented on #2479
Hello again, I am able to reproduce the bug mentioned here on the released version of Thimble and I have already had a look at the code. As such I wanted to setup a testing environment. I went through the instructions provided in the README file @gideonthomas provided, however after days on end of trying I can't seem to figure out why I am not able to run this command. Having already installed eve

[2017-10-05 02:53] teddypee commented on #2476
Hi I am Teddy an Open-source student hoping to work on my first bug, is someone working on this, if not i would like to take it up

[2017-10-05 02:55] humphd commented on #2476
@teddypee sure thing, let me confirm with @flukeout that this is still a good choice, since it will require new icons for the other colour scheme.  If so, I'll help you get started.

[2017-10-05 02:58] humphd commented on #2479
I think the relevant bit is:

[code]

What I think is happening here is that the docs are asking you to run the `env` stuff *before* `npm install` is called, which fails because it depends on a file be installed for this to run.  Another student in the class hit this too--we should be fixing the docs cc @gideonthomas.

Try running:

[code]

Then do what you did above again.  If that fixes it, let'

[2017-10-05 03:01] humphd commented on #2516
It could be a `src/` vs. `dist/` (i.e., source vs production build) bug.  Try doing this locally:

[code]

Now load your local version of Brackets from `http://localhost:8000/dist/hosted.html` (note the `dist/` vs. `src/`).  Can you reproduce it now?

[2017-10-05 03:11] teddypee commented on #2476
Ok thanks Dave.

[2017-10-05 03:27] marcobeltempo commented on #2518
@humphd that would be great if I could work on this as well.

[2017-10-05 14:21] jmrodriguesgoncalves commented on #2479
So I have to say thanks first @humphd there seems to have been some progress, however things still don't seem to be quite ready yet. I did what you said, all whilst having Brackets running in the background. After attempting to start Thimble, once all the install and env stuff is finished, this is what I see (Thimble is on the left, Brackets is on the right):

![q2](https://user-images.githubuserc

[2017-10-05 14:24] humphd commented on #2479
@jmrodriguesgoncalves You can see the issue on the left: `Cannot find module 'is-reachable'`.  @MPierre9 recently landed a change in https://github.com/mozilla/thimble.mozilla.org/pull/2514 that adds a new dependency, and you're missing it locally.

Try doing `npm install` again, and then it should be fine.

[2017-10-05 15:35] gideonthomas commented on #2518
@flukeout based on your screenshot, the content wrapper is cropped, wouldn't fixing that fix this issue as well?

[2017-10-05 15:46] flukeout commented on #2518
I'll check things out and report back within the hour.

[2017-10-05 15:51] gideonthomas commented on #2516
@dnguneratne, those style rules should also be namespaced. Part of this fix is going to be moving
https://github.com/mozilla/brackets/blob/fa314e1c7e274b95d7ebcdbeacc16c55b6e24cb1/src/extensions/default/bramble-move-file/styles/style.less#L1-L4
into https://github.com/mozilla/brackets/blob/fa314e1c7e274b95d7ebcdbeacc16c55b6e24cb1/src/extensions/default/bramble-move-file/styles/style.less#L6-L14 so

[2017-10-05 16:01] patjouk commented on #1527
We build this redirect rule with @cadecairos for staging this morning:

[code]

We could use this one for production:

[code]

[2017-10-05 16:03] cadecairos commented on #1527
💯

Looks great, let's add the production RoutingRules blob to the S3 bucket.

[2017-10-05 16:54] jmrodriguesgoncalves commented on #2479
@humphd, tried doing this, still no success. I also tried cloning the repository into a brand new local folder and doing everything from scratch to make sure I am not missing any of Thimble or Brackets' files , and I still get the exact same same error from above. Here's the log as well, which I didn't include last time:

1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\

[2017-10-05 17:50] gideonthomas opened #2520 "Add is-reachable to package.json"
cc @MPierre9

the module you added should be in `package.json` as a `devDependency`. Would you be able to add that @MPierre9?

[2017-10-05 17:56] gideonthomas commented on #2479
@jmrodriguesgoncalves, I filed https://github.com/mozilla/thimble.mozilla.org/issues/2520 since that is a bug that needs to be fixed, sorry about that!

For the time-being, you can run `npm install is-reachable` and that will fix this for you.

[2017-10-05 18:02] patjouk commented on #1527
Deployed in production and it's working :)

[2017-10-05 18:02] #1527 closed

[2017-10-05 18:09] flukeout commented on #2518
@marcobeltempo If you want to tackle this, please do! I welcome any and all changes that improve the layout of the site when the window gets narrower.

A simple fix would just be to make sure we don't have the weird empty white area on the right that you can scroll to.

A fancier fix would make it so that the homepage gracefully adapts to a narrower viewport.

I think a simple fix would be good fo

[2017-10-05 18:21] flukeout commented on #2493
It's not really bothering me anymore. ``npm run build`` within the slowparse dir is fast enough.

[2017-10-05 18:21] #2493 closed

[2017-10-05 18:22] humphd commented on #2116
Merged.

[2017-10-05 18:22] #2116 closed

[2017-10-05 18:23] flukeout commented on #2505
Closing as we've merged the PR related to this. Thanks again to @michaelic 👍

[2017-10-05 18:23] #2505 closed

[2017-10-05 18:23] humphd commented on #2116
@feihaozi77 for next time, a tip: make your GitHub PR description include `"Fix #2116:...` and GitHub will autoclose issues when PRs land.

[2017-10-05 18:23] flukeout commented on #2480
Any updates on this @ppatel221 ?

[2017-10-05 18:24] flukeout commented on #2445
Looking forward to the PR @ajlomagno!

[2017-10-05 18:25] humphd commented on #2520
@MPierre9 see https://docs.npmjs.com/files/package.json#devdependencies for info.

[2017-10-05 18:27] flukeout commented on #2447
Okay, I'm going to consider this unassigned now and suggest it to another contributor.

[2017-10-05 18:28] flukeout commented on #2476
Hey @teddypee - I've got this assigned to me. It's going to take a bunch of design work that I haven't done yet so I don't think it's a good one to start with.

What about this one - https://github.com/mozilla/thimble.mozilla.org/issues/2447

Have a look in the related PR that one of the contributors filed. There are some thoughts I added about content there. If you end up wanting to work on it, p

[2017-10-05 18:40] jmrodriguesgoncalves commented on #2479
@gideonthomas, that did it many thanks for the help! I am now able to get to the code editor:

![q3](https://user-images.githubusercontent.com/14240261/31246310-fb0b3ea2-a9da-11e7-99a0-ba70ed13554f.JPG)

However, to reproduce this bug I am required to be signed in. When I try to go to the "Sign In" page, webmaker doesn't quite seem to be able to load:

![q4](https://user-images.githubusercontent.c

[2017-10-05 18:41] humphd commented on #2479
The other students that have faced this reported that their Vagrant VM wasn't fully setup.  They destroyed and recreated it, and it worked.  You should hop into the Thimble chat on Mattermost and talk with people if you can't get it.

[2017-10-05 18:49] gideonthomas commented on #1527
Awesome! Thanks @patjouk :)

[2017-10-05 18:49] MPierre9 commented on #2520
@gideonthomas For sure I'll get started on it. Thanks for the extra info @humphd

[2017-10-05 18:51] jmrodriguesgoncalves commented on #2479
@humphd yeah I did suspect something along those lines was happening here. Thanks, going to head on over there and ask around about this.

[2017-10-05 19:30] marcobeltempo commented on #2518
@flukeout I would love to tackle this one! I’ll work on a simple fix and experiment with some other options in the future.

[2017-10-05 19:32] flukeout commented on #2518
Great, it's yours

[2017-10-05 21:32] gideonthomas commented on #2120
@ajomadlabs, are you still working on this?

[2017-10-05 21:34] gideonthomas commented on #1921
This is done, closing!

[2017-10-05 21:34] #1921 closed

[2017-10-05 23:10] scarecrow21 commented on #2515
Hi. I'm a newbie here. I'd like to work on this bug. Can someone guide me through it?

[2017-10-05 23:13] humphd commented on #2515
Hi @scarecrow21, welcome to Thimble.  This bug is already being worked on by @ddinis-alves, but if you'd like another bug, we can certainly look for one for you.  Let me know.

[2017-10-05 23:14] scarecrow21 commented on #2515
Yes, I'd like to solve another bug.

[2017-10-05 23:20] mkavidas commented on #2447
@flukeout Can I work on this bug? Currently in an open-source course and am thinking this would be a good first bug for me to tackle.

Tagging my professor in case he would like to chime in: @humphd

[2017-10-06 14:48] humphd commented on #2447
@mkavidas go for it.  Feel free to ask questions here, and in https://chat.mozillafoundation.org/mozilla/channels/thimble.

[2017-10-06 14:53] humphd commented on #2515
@scarecrow21 I'm going to assign you https://github.com/mozilla/thimble.mozilla.org/issues/2152 instead.

[2017-10-06 14:56] humphd commented on #2152
Assigning this to @scarecrow21.  This is similar to what was recently done in https://github.com/mozilla/thimble.mozilla.org/commit/00a85b9ff8c5669276c607ec6b38252d4e47c970, and you can use that as a guide to figure out where to add these tooltips.  Basically, we'll want to move them off of the toggles, and onto the `<li>` elements.  Let me know if you have questions, and feel free to come and cha

[2017-10-06 14:58] humphd commented on #2149
This would be a good bug for someone who is interested in doing some JavaScript and node.js, and is interested in REST APIs.

[2017-10-06 14:59] humphd commented on #2476
@teddypee @flukeout no one assigned #2477, so I made a mistake and gave it to someone else.  I'll assign another bug to @teddypee now.

[2017-10-06 14:59] humphd commented on #2149
@teddypee this is one you could do if you want.  Let me know.

[2017-10-06 15:02] humphd commented on #2139
We should consider adding a minimum width on this, and/or auto-closing (e.g., hiding it) when it goes past a certain size.

@flukeout can you give your opinion on how you want this accomplished?

[2017-10-06 15:02] humphd commented on #2140
We should consider adding a minimum width on this, and/or auto-closing (e.g., hiding it) when it goes past a certain size.

@flukeout can you give your opinion on how you want this accomplished?

[2017-10-06 15:07] humphd commented on #1614
These are really cool, @himanshupnt, great work.  @flukeout what do you think about adding the vanilla js one to our list?

I'm not sure that the es6 one is a great idea since it requires a build step, which is going to confuse people who want to edit the code.

[2017-10-06 16:01] flukeout commented on #1614
Hey awesome, yeah will review these shortly!

[2017-10-06 16:47] ajomadlabs commented on #2120
@gideonthomas yes

[2017-10-06 16:56] flukeout commented on #2139
One thing I wonder about is if we auto-close it due to the file view being too narrow, we should also auto-open or restore it once there is enough room again. I'm thinking about a case when someone is just testing out their layout by expanding the width of the preview. If they expand it enough, we close the File View, then when they return it to their normal position we shouldn't keep the File Vie

[2017-10-06 16:57] flukeout commented on #2476
👍

[2017-10-06 17:56] Vasusena commented on #2113
Greetings, I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-06 17:57] humphd commented on #2113
@Vasusena it's yours.  Take a look at how a similar bug was fixed here https://github.com/mozilla/thimble.mozilla.org/pull/2105/files.

[2017-10-06 17:59] humphd commented on #2113
Some more tips on this.  The code you need to fix is located in the Brackets repo, and specifically, in this extension: https://github.com/mozilla/brackets/tree/master/src/extensions/default/BrambleUrlCodeHints.  Take a look at https://github.com/mozilla/brackets/blob/master/src/extensions/default/BrambleUrlCodeHints/style.less.

[2017-10-06 18:06] Vasusena commented on #2113
Thank you, i will look at the documentation and setup the build environment accordingly.

[2017-10-07 04:50] teddypee commented on #2149
Ok i will see u on tuesday to kno where to start
Thanks

[2017-10-07 04:52] teddypee commented on #2476
@flukeout Thanks man

[2017-10-07 06:35] Vaibhavdixit02 commented on #2149
Hey, I would like to work on this, can someone guide me?

[2017-10-07 11:07] scarecrow21 commented on #2152
Hi. I'm new to open source.To set up my dev environment,  I'm following this [blog/guide](http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/.) I get the following error when I do vagrant up:
![screenshot from 2017-10-07 16-24-35](https://user-images.githubusercontent.com/24637176/31307251-a666ef2e-ab4f-11e7-8e56-f0791c8b58ce.png)
How to resolve it?

[2017-10-07 18:20] mmBabol commented on #2140
Hello! I'm wondering if I can take this bug? I'm a beginner wanting to start in the Open Source world.
What would be a suitable min-width?

[2017-10-07 18:22] humphd commented on #2140
@mmBabol all yours, let us know what help you need.

[2017-10-07 18:42] scarecrow21 commented on #2152
This came up after I did vagrant plugin repair followed by vagrant up.
![screenshot from 2017-10-07 23-58-16](https://user-images.githubusercontent.com/24637176/31310859-36ebf2da-ab8f-11e7-976a-6fa9d6e7e3a8.png)

[2017-10-07 18:44] humphd commented on #2152
It looks like it hasn't actually downloaded the box yet.  Can you try doing:

[code]

[2017-10-07 18:45] humphd commented on #2149
@Vaibhavdixit02 I think @teddypee is going to try this one, do you want to look for another one that isn't being worked on already?

[2017-10-07 23:50] MPierre9 commented on #2355
Finally got some time to work on this bug, is this what you're looking for @gideonthomas ?

[code]

![thimble index html fix](https://user-images.githubusercontent.com/27080760/31312704-6fb2902a-ab98-11e7-88c5-5c9f3eeba36c.gif)

[2017-10-08 06:36] scarecrow21 commented on #2152
I reinstalled vagrant. This time it didn't show any errors like before when I did vagrant up. When I went to 'localhost:3500' in the browser, the page didn't load. Here is a part of the output that came on the command line when I did `vagrant up`:
![screenshot from 2017-10-08 11-57-39](https://user-images.githubusercontent.com/24637176/31314557-f1b7a6be-abf2-11e7-994f-f9d5733ef43e.png)

This is th

[2017-10-08 08:47] scarecrow21 commented on #2152
I reinstalled Vagrant (uninstalled using: `rm -rf /opt/vagrant` `rm -f /usr/bin/vagran` and installed using: `sudo dpkg -i vagrant_2.0.0_x86_64.deb`) . I re-cloned the thimble repo locally. I ran `npm install` `
[vagrant_up_log.txt](https://github.com/mozilla/thimble.mozilla.org/files/1366741/vagrant_up_log.txt)
npm run env` and `vagrant up` in the thimble directory. The output of `vagrant up` is

[2017-10-08 12:53] scarecrow21 commented on #2152
I reinstalled vagrant and re-cloned the thimble repo. then I did vagrant up, this is the error i got:

![screenshot from 2017-10-08 18-16-38](https://user-images.githubusercontent.com/24637176/31316952-9acf506a-ac27-11e7-82b6-7cc88acfb6ee.png)

[2017-10-08 13:56] scarecrow21 commented on #2152
The problem is solve. I ran the following commands `sudo apt-get update && sudo apt-get remove --purge virtualbox-5.0 && sudo apt autoremove` to remove anything left from the old installation. `sudo /sbin/vboxconfig`  to rebuild the Kernel modules for Virtual box. I then restarted my pc and it works like a charm now.

[2017-10-09 05:06] ppatel221 commented on #2480
I have a slight hiccup on this.. I can't seem to get over this problem. Can you take a look and see if you can help me out? (ive installed the most recent version of node.js)

![error](https://user-images.githubusercontent.com/31732426/31325678-c6e3204e-ac8d-11e7-90cd-b4d056c0feb2.png)

[2017-10-09 17:23] humphd commented on #2480
Do `npm install` and it will add the missing module `is-reachable` that it's complaining about...`Error: Cannot find module 'is-reachable'`

[2017-10-09 19:39] flukeout opened #2524 "[IE11] Missing Math.log10 breaks Brackets"
Is anyone able to test thimble on IE11? Have an educator who is stuck using it and the editor won't load. Curious maybe if it's something easy to diagnose / fix.

[2017-10-09 21:24] jmrodriguesgoncalves commented on #2479
@gideonthomas since I got the test environment running, I have been trying to read and understand the code in order to tackle this issue. However as expected, the sheer amount of code is proving to be pretty large.

A couple of comments ago, you mentioned that "To fix this issue, I believe you need to add a function to Publisher.prototype". Now, from what I understand, in order to fix this bug I w

[2017-10-10 03:11] dnguneratne commented on #2516
I ran `npm run build` and `npm start` but I can't seem to reproduce this on my local machine.

[2017-10-10 15:03] rheupler commented on #2447
If this gets unassigned again, I'd like to work on it!

[2017-10-10 15:44] humphd commented on #2516
@dnguneratne when you say you can't reproduce it, you mean the scrollbar?  Just to confirm, you have Brackets working now on `http://localhost:8000/src/hosted.html`?

[2017-10-10 16:30] Pomax commented on #2486
closing as resolved. Please comment if this should be reopened.

[2017-10-10 16:30] #2486 closed

[2017-10-10 17:15] daubaris commented on #2524
I can check it out.

[2017-10-10 17:16] marcobeltempo commented on #2524
Here's the [console log](https://gist.github.com/marcobeltempo/90b55cc5aa58d56181de64d3c2a9eb4b) from thimble.mozilla.org in IE11. Hopefully it's useful for someone.

[2017-10-10 17:24] gideonthomas commented on #2524
@flukeout what OS is it? We have a few IE11 related issues that only happen in certain OS' like this one: https://github.com/mozilla/brackets/issues/598

[2017-10-10 17:25] daubaris commented on #2524
I get the same response on Windows 10 IE11.

[2017-10-10 17:30] daubaris commented on #2524
Well the Math.log10 seems not to be supported by IE - ![mozilla docs](https://imgur.com/a/SQBeO). And console seems to complain about that `TypeError: Object doesn't support property or method 'log10'`.

[2017-10-10 17:43] humphd commented on #2524
@daubaris nice find.  The problem is [here in Brackets](https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/Sizes.js#L48):

[code]

The easiest fix here is to add [this polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/log10#Polyfill) to the Brackets [Compatibility.js file](https://github.com/mozilla/brackets/blob/master/src/

[2017-10-10 17:44] daubaris commented on #2524
@humphd Sure!

[2017-10-10 17:48] Pomax commented on #2524
I don't currently have IE11, only Edge (windows 10 pro x64) but I can set up a win7 VM with IE11 to do some testing if necessary.

[2017-10-10 18:25] gideonthomas commented on #2480
@ppatel221 also try pulling from master again and then trying `npm install`

[2017-10-10 20:21] humphd commented on #2524
Fixed by @daubaris in https://github.com/mozilla/brackets/pull/883.

[2017-10-10 20:21] #2524 closed

[2017-10-10 20:31] TheoChevalier commented on #2457
The localization is complete 💯

[2017-10-10 20:33] TheoChevalier opened #2525 "Enable Slovak on production"
Looks like Slovak (sk) slipped through the cracks, it’s been ready for a few months :)

[2017-10-11 16:05] gideonthomas commented on #2525
Oops, sorry, should be enabled now!

[2017-10-11 16:05] #2525 closed

[2017-10-11 16:05] gideonthomas commented on #2457
just waiting on adding it to our language mapping list and then this should be enabled on production

[2017-10-11 16:31] ppatel221 commented on #2480
@humphd I tried this and it didn't work. when i read the error log it said "This is probably not a problem with npm".  But it works now after i removed and pulled the master again.

@gideonthomas surprisingly i did this the first time and it didn't work. Tried it again and it seemed to be working fine. Thanks! I can get started on making the change now.

@flukeout do tips for me as i approach this

[2017-10-11 18:45] humphd commented on #2480
@ppatel221 glad you got it working.  Here's some info on how to approach this--I'll let @flukeout weigh in on the exact CSS he thinks this needs.

The code you want to work with is in https://github.com/mozilla/brackets/tree/master/src/extensions/extra/PDFView.  Specifically, you probably want to work with the HTML in https://github.com/mozilla/brackets/blob/master/src/extensions/extra/PDFView/htm

[2017-10-12 01:50] humphd commented on #2177
This has been fixed and merged, closing!

[2017-10-12 01:50] #2177 closed

[2017-10-12 18:09] humphd commented on #1255
I'm going to hijack this bug and assign it to my student @mkavidas.  Let's make this about adding a new menu option to the Help menu which then shows a list of the common keyboard shortcuts we offer.  A few things this will require:

* Figure out which OS they are using, we use [bowser](https://www.npmjs.com/package/bowser) in Thimble already, and it seems to do this.  We'll need this for ctrl vs.

[2017-10-12 18:32] humphd commented on #1902
OK, here's a two part plan for solving this.  The first plan is to make changes in Brackets to add an API for doing this; the second is to use that API and add UI to Thimble.

Let's start with the Brackets side.  We need to modify the code in https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/iframe-browser.js.  There is already some code to `detachPreview` and `att

[2017-10-13 00:52] milanm8 opened #2527 "Thimble not showing my project"
Thimble is not showing my project. Instead it is saying "https://mozillathimblelivepreview.net/bramble/production/dist/vfs/546606/projects/1203521/index.html".

[2017-10-13 01:16] humphd commented on #2527
@milanm8 we've been trying to track this bug down.  Are you able to give me more info?  Which OS, browser, version, etc.  Did it ever work before, or is this your first time?  Anything on the web console (e.g., errors)?  What if you refresh a few times?

[2017-10-13 22:50] Fatehsandhu commented on #1543
@humphd @flukeout I have a rough design going here. I was wondering if I could get some help in generating the iFrame code?

<img width="571" alt="screen shot 2017-10-13 at 18 48 16" src="https://user-images.githubusercontent.com/10791771/31569229-4fb237cc-b047-11e7-9316-7f19f101def9.png">

[2017-10-15 22:48] marcobeltempo commented on #2518
@flukeout I followed your suggestion by adding `min-width:981px` to the body tag. There's still a horizontal scroll but it seems to solve the overflow issue.

![thimble_issue2518_capture](https://user-images.githubusercontent.com/15523758/31590096-b338cd1e-b1d8-11e7-9534-aabacd637dbe.gif)

I was reading up on the [**CSS Grid Layout**](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layou

[2017-10-16 21:50] azusaaz commented on #2118
@gideonthomas thank you for your comment! I overlooked somehow.

[2017-10-16 21:51] azusaaz commented on #2118
Now it is like this.
<img width="502" alt="snapcrab_noname_2017-10-16_17-45-18_no-00" src="https://user-images.githubusercontent.com/22462471/31636963-9f9b431e-b29a-11e7-823d-08dfcfdd16dc.png">

[2017-10-16 21:53] azusaaz commented on #2118
@TheoChevalier @Pomax
The text size is for the editor, and the most of the codes are written in English.
So, I think it is not necessary to care about language and device in this case.

ex. Japanese ver ...
<img width="591" alt="snapcrab_noname_2017-10-16_17-40-44_no-00" src="https://user-images.githubusercontent.com/22462471/31637006-c8ac65da-b29a-11e7-9eb6-f9ee584d68cb.png">

[2017-10-17 17:38] humphd commented on #2118
@azusaaz this is looking great.  Did you want to open a pull request with your changes, and we can discuss this further there.  One suggestion I have would be to get rid of the extra spaces between the font size and parenthesis:

[code]

Great job getting this started!

[2017-10-17 18:22] flukeout commented on #2118
Yeah, I agree with @humphd suggestion about removing the extra spaces, looking forward to a PR.

[2017-10-17 19:11] #2515 closed

[2017-10-17 20:05] #2111 closed

[2017-10-18 04:32] ppatel221 commented on #2480
I've got the selection to override the CSS from viewer.css. I've attached the image to show you what it looks like. What are the exact CSS properties(the color) do you want when this pdf metadata is selected?
![selection](https://user-images.githubusercontent.com/31732426/31701085-ce880b06-b39b-11e7-9fa8-1cacc5b07dbd.png)

[2017-10-18 04:44] azusaaz commented on #2118
@humphd  @flukeout Thank you for the comment!  When I cleaned up the code, space has gone!
Now looks like this
<img width="169" alt="snapcrab_noname_2017-10-17_22-59-48_no-00" src="https://user-images.githubusercontent.com/22462471/31701282-4e425224-b39d-11e7-86fa-a742e7067935.png">

[2017-10-18 04:50] azusaaz commented on #2118
I tried to pull request, but I got check errors. Means there is the problem in my repo??

<img width="431" alt="snapcrab_noname_2017-10-17_23-35-10_no-00" src="https://user-images.githubusercontent.com/22462471/31701342-cc231b1a-b39d-11e7-910b-5c4ac4068a4a.png">

<img width="502" alt="snapcrab_noname_2017-10-17_23-36-13_no-00" src="https://user-images.githubusercontent.com/22462471/31701362-e1e148

[2017-10-18 13:52] humphd commented on #2118
I'll comment in your PR and help you out.

[2017-10-18 14:05] humphd commented on #2480
@flukeout can say for sure, but a good strategy with a situation like this is to look around at what other code already does.  For example, here's what I see when I add an Image to my project and select the text in the editor's header:

<img width="696" alt="screen shot 2017-10-18 at 10 04 27 am" src="https://user-images.githubusercontent.com/427398/31723070-d84fc3fe-b3eb-11e7-83bc-c0ad78bea4a9.pn

[2017-10-18 14:44] azusaaz commented on #2118
@humphd  Thank you!

[2017-10-18 18:22] azusaaz commented on #2307
@humphd I'm ready! The cord I should touch would be in "bracket" side?

[2017-10-18 18:31] humphd commented on #2307
@azusaaz awesome!  Yes, you are going to want to do this change in the Brackets code only (nothing will need to happen in Thimble).  Here's how I'd approach this work:

1. Start by finding two large `.gif` files (i.e., more than 250K): one that is animated, and one that is not
1. Confirm that you can drag-and-drop both files into the filetree.
1. Alter the `isResizableImage()` function to also wor

[2017-10-18 21:09] gideonthomas commented on #2457
Should be on production now!

[2017-10-18 21:09] #2457 closed

[2017-10-18 22:33] azusaaz commented on #2307
@humphd  Thank you for the detail! I'll try the steps!

[2017-10-18 23:28] flukeout opened #2531 "What is -> "Cannot set property `token` of undefined" error."
A user from Twitter brings us this error, do we know what it might be related to?

![image](https://user-images.githubusercontent.com/25212/31747363-5b458278-b421-11e7-8ebb-b1a22440779e.png)

cc @gideonthomas @humphd

[2017-10-19 00:24] #2237 closed

[2017-10-19 00:26] humphd commented on #2531
I wonder if this is related to our patch to try and remove the user's cookies if we hit a route that would require the user to logout/login again.  What do you think, @gideonthomas?  Also, what happened when they clicked Try Again?

[2017-10-19 04:26] gideonthomas commented on #2531
it sounds like we're calling a piece of middleware for a route where we shouldn't be. What was the STR for this?

[2017-10-19 16:50] gideonthomas commented on #2518
@marcobeltempo, CSS Grids are great but unfortunately it has terrible browser support at the moment.

[2017-10-19 18:48] #2118 closed

[2017-10-19 20:35] flukeout opened #2533 "Feature request: Add a "My Projects" link on the homepage for signed in users."
From an email:

It came with a mockup...

![image](https://user-images.githubusercontent.com/25212/31792877-591d9024-b4d2-11e7-91a2-dcf4865ccf2e.png)

[2017-10-19 21:17] marcobeltempo commented on #2518
@gideonthomas ahhh I wasn't aware of that.
Also I was hoping to get your opinion on applying a simple fix of adding a `min-width` to the body tag

[2017-10-19 21:21] flukeout commented on #2518
Hey @marcobeltempo - I think the `min-width` fix is a great improvement. Can you open a PR with it so we can take a look? Then, we can follow up with a responsive design in a subsequent pass.

[2017-10-19 21:44] GauravV-02 commented on #1902
@humphd I have made all the changes mentioned above. Getting this on web console
"[Extension] failed to load /src/extensions/default/bramble - Error: Module name "iframe-browser" has not been loaded yet for context: _
http://requirejs.org/docs/errors.html#notloaded"

There is some problem here in the way i am declaring the variable or maybe the path
var PreviewView        = brackets.getModule("ifr

[2017-10-19 22:43] feihaozi77 commented on #2506
@humphd @flukeout I need help for getting the RegExp for the border-radius property, could not find any proper expressions

[2017-10-19 23:46] feihaozi77 commented on #2506
@flukeout @humphd
right now I'm using a very simple regexp like this
var BORDER_RADIUS_REGEX = new RegExp('^.*border-radius:.*');
so far that works fine for finding the match of border-radius property and it triggers the purple thunder badge to show. And that's what I've done so far. I don't know if I should leave the RegExp as it is for now and move on to the next step, or should I just make a pe

[2017-10-20 14:12] humphd commented on #1902
@GauravV-02 can you open a PR and show me your full code?  It's hard to debug without the context.

[2017-10-20 15:29] GauravV-02 commented on #1902
git push origin
remote: Permission to GauravV-02/brackets.git denied to gverma3.
fatal: unable to access 'https://github.com/GauravV-02/brackets.git/': The requested URL returned error: 403

Getting this error trying to fix it

[2017-10-20 17:52] flukeout opened #2536 "Github icon on Get Involved page is black in Firefox. Should be white."
On https://thimble.mozilla.org/en-US/get-involved/ the Github icon on the button is black, but should be white...

<img src="https://user-images.githubusercontent.com/25212/31834963-aa11684a-b584-11e7-8512-95caacd3220e.png" width="400" />

This is happening in Firefox only, and has happened to other SVGs on the site in the past. I'm pretty sure if we run the SVG through https://jakearchibald.githu

[2017-10-20 19:57] marcobeltempo commented on #2536
Hi @flukeout I would like to take this one on

[2017-10-20 21:16] gideonthomas commented on #2536
Assigning to you @marcobeltempo

[2017-10-20 23:34] flukeout commented on #2506
Yeah, go ahead and move on to some of the other parts of this project - I don't think we need to get every aspect perfect, we can refine a working version and improve it as we go in the Pull Request. For reference @Cryzek has done some good work here on another of the editors, maybe it will help you to see what he has done so far...

* https://github.com/mozilla/brackets/pull/888

[2017-10-20 23:40] jessecalton commented on #2533
I can work on this!

[2017-10-21 05:03] azusaaz commented on #2307
@humphd I've forgotten to make a branch! so I have a question for the start point.

This issue page is on "thimble", but I need to edit "bracket".
In this case, Could I use the issue number "2307"? and push to "bracket" repo at last,?

for example, inside of my local "bracket",

is that a correct way?

[2017-10-21 05:49] brianhall commented on #2533
Hey there! I'd like to take this on as part of Hacktoberfest. 😄

[2017-10-21 07:24] #1918 closed

[2017-10-21 16:20] humphd commented on #2533
Go for it @brianhall.  Let us know if we can help.

[2017-10-21 16:22] humphd commented on #2307
@azusaaz you will do everything against the Brackets repo, even though it's filed here:

[code]

[2017-10-21 16:24] humphd commented on #2506
https://stackoverflow.com/questions/12432345/javascript-jquery-regex-for-border-radius-value has one attempt at this.  I think don't worry about being perfect yet, just get the basics working, and we can improve from there.

[2017-10-21 18:41] flukeout opened #2538 "Error - DOMException: Quota Exceeded"
A user is seeing the black screen, which is accompanied by this error in the console:

![image](https://user-images.githubusercontent.com/25212/31854829-8020d70c-b654-11e7-90df-185fb5ef7850.png)

I haven't seen this error before. Any ideas about what could be happening? They are using Chrome on Windows 10.

cc @gideonthomas @humphd

[2017-10-21 18:45] flukeout commented on #2531
I've requested more info over Twitter, but so far no extra information:
https://twitter.com/invisionvisuals/status/920704041457455104

Let's close in a few days if we don't get more detail.

[2017-10-21 23:35] azusaaz commented on #2307
@humphd oh, I see. Thank you!

[2017-10-22 04:30] brianhall commented on #2533
Thanks a bunch! I'm _so close_ to having my local environment up and running, but need a little nudge in the right direction. I've got brackets running locally, and vagrant completes to the point where I can spin up thimble and see the start page at `http://localhost:3500`.

However, when I click on "Create an Account" I get sent to `http://localhost:1234/signup`, but in the console see the follow

[2017-10-23 16:36] humphd commented on #2533
It sure looks like it's not happy doing the transpile step:

[code]

@gideonthomas, @cadecairos can either of you offer a suggestion to @brianhall on this?  I'm not sure what this is.

@brianhall a bunch of our devs are traveling this week for a conference, so apologies in advance for slow response times.  Also, you may find you get faster answers on https://chat.mozillafoundation.org/mozilla/chan

[2017-10-23 17:56] cadecairos commented on #2533
It looks like the Vagrant box is installing Node 4.8.x

I'm running id on Node 6.10.x (without Vagrant) and id doesn't give me any issues, but maybe something about 4.8.x is breaking babel/webpack?

[2017-10-23 20:20] brianhall commented on #2533
Cool, I've bumped the version to 6.x and will destroy/recreate the VM and report back. Thanks!

[2017-10-23 20:25] flukeout commented on #2480
Agreed, I think one approach would be just to remove whatever custom styling that PDF viewer is adding. I bet the default matches what's visible in the screenshot above.

[2017-10-23 21:06] brianhall commented on #2533
Ok, I made some progress. It turns out that the issue wasn't Node (bumping to Node 6.x didn't seem to change the outcome), but rather an older `babel-loader` dependency in `id.webmaker.org`. Bumping this from `5.0.0` to `6.0.0` eliminates the previous errors. I'll submit a PR shortly to fix, and continue on. Thanks for your help debugging!

[2017-10-24 02:34] brianhall commented on #2533
@gideonthomas @humphd @cadecairos Ready for review! Thanks again for your assistance.

[2017-10-24 15:28] thekyriarchy commented on #1851
Does this mean that collaboration is no longer possible as it was on the old Webmaker's Thimble app? The TogetherJS website says that Thimble is currently using it to enable collaboration, but the screenshot is years out of date... https://github.com/mozilla/togetherjs/issues/1126

[2017-10-24 16:07] ryanwarsaw commented on #1851
@thekyriarchy You're correct, that screenshot is out-of-date and I don't think that page as a whole is updated as regularly as it might be needed. Collaborative editing has been in the works for some time, there was a lot of work done on it over the summer although I'm not sure what has happened since then.

[2017-10-24 16:26] Cryzek commented on #2508
Hi. Can this one be assigned to me? I'll require a little more time than I thought to get this working.

[2017-10-24 16:56] flukeout commented on #2508
Yeah, awesome @Cryzek - sorry for being slow to chime in on the PR. We are getting ready for the mozilla festival, so I've been busy helping with that. Let us know if you have any questions, etc.

[2017-10-25 13:18] shwetabhsuman opened #2541 "1"

[2017-10-25 13:19] #2541 closed

[2017-10-26 00:27] humphd commented on #2533
@brianhall this is great, I've flagged some reviewers for you.  NOTE: a bunch of these guys are away this week, so apologies for the turn-around on these PRs.  Really appreciate you jumping in and fixing things here.  Thanks a lot.

[2017-10-26 04:46] scarecrow21 opened #2543 "Inconsistent "mouse-style" in the settings menu."
Browser: Firefox
OS: Ubuntu 16
Click on the settings menu and mouse over between the "text-size" and the "Color-theme" option. The mouse pointer style is different for both of them.
![thimble-issue](https://user-images.githubusercontent.com/24637176/32035413-a308b912-ba08-11e7-81bd-64d57a9eec56.gif)

[2017-10-26 04:47] scarecrow21 commented on #2543
I'll fix this.

[2017-10-27 04:11] feihaozi77 commented on #2506
@flukeout @humphd
finally i made some progress on this issue. please take a look and let me know if I should make a PR at this point so that you can review the code a little bit and give me some feedback.
[
![bracket_border_radius](https://user-images.githubusercontent.com/13205171/32087664-66875d60-baab-11e7-95b9-aaf3b6f139e3.gif)
](url)

[2017-10-27 12:33] Mitchell41 opened #2545 "images"
it doesnt allow jpg images

[2017-10-27 17:15] humphd commented on #2545
@Mitchell41 can you tell me a bit more about what you are encountering?  What did you try to do, what did you expect to happen, and what actually happened?

[2017-10-27 18:15] DehydratedGrape opened #2546 "Preview side bar will not work"
It says this (i attend highschool myabe it is wifi blocking it plz help)

404 Not Found

Code: NoSuchKey
Message: The specified key does not exist.
Key: bramble/production/dist/vfs/677355/projects/1251203/index.html
RequestId: 71B0EB56787E5117
HostId: ESmBaeuVWQaHQRyi3XaQE61tlAb1EB7ZqEMPAur1URPU+eD8IhjFBpGrqEupFc8M
An Error Occurred While Attempting to Retrieve a Custom Error Document

Code: NoSuc

[2017-10-28 11:14] sandeeproy99 commented on #2536
We can use font awesome for white icon.

<i class="fa fa-github" aria-hidden="true"></i>

[2017-11-02 17:30] feihaozi77 commented on #2506
@flukeout @humphd I have made a PR in the brackets repo
https://github.com/mozilla/brackets/pull/890

[2017-11-02 21:16] flukeout commented on #2506
Thanks @feihaozi77 - I'll check it out tomorrow!

[2017-11-03 15:20] flukeout opened #2547 "Error during service worker registration"
From a user over email, they are seeing this error message when attempting to load a project in Firefox. Chrome seems to work fine...

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/25212/32381402-df082a96-c0b2-11e7-9bbe-c636d89f889d.png">

Do we know what might be causing this @gideonthomas @humphd

[2017-11-03 15:23] humphd commented on #2547
It looks like a CORS issue with CSS loading from `https://mozillathimblelivepreview.net`.  Did we somehow change the known hosts? cc @cadecairos

[2017-11-03 15:43] cadecairos commented on #2547
This is a Content Security Policy violation - was this CSS file loaded from somewhere else before, or was the policy modified recently?

Easy fix is adding `https://mozillathimblelivepreview.net/bramble/production/dist/styles/` into the `style-src` directive.

[2017-11-03 15:44] flukeout commented on #2547
We've been getting a lot of "Stuck Loading Error" type of emails recently, is this something that might have changed recently?

[2017-11-03 16:16] humphd commented on #2547
The `style-src` should only care about domain, right?  Not path.  I'm confused why it's not listed in that error above.

[2017-11-03 16:26] cadecairos commented on #2547
CSP directives can include paths in the source strings. I'd include the path to the CSS dist directory, unless we're loading CSS from another place on that domain.

[2017-11-03 17:47] gideonthomas commented on #2547
@cadecairos do CSP policies from the parent frame apply to the embedded iframe? If so, it's weird that we are running into this now because we never had the bramble domain in the `style-src` CSP rule and we were still able to load `brackets.min.css` fine.

[2017-11-03 18:13] gideonthomas commented on #2547
ok so I chatted with jbuck and vlad from MoCo. This might be an interesting bug and may be a bug in firefox. @flukeout do we know what version of firefox the user was on?

@humphd to clarify, the service worker is registered from the bramble domain (https://mozillathimblelivepreview.net) correct? And bramble is trying to load the `brackets.min.css` file from the service worker? If so, CSP rules fr

[2017-11-03 18:24] gideonthomas commented on #2543
Thanks for taking this on @scarecrow21

[2017-11-03 18:24] gideonthomas commented on #2546
Hi @DehydratedGrape, would you be able to refresh your browser a few times? That might clear it up.

[2017-11-04 21:52] JosefJezek opened #2548 "Links in Markdown file"
Could you add `target="_blank"` to links generated from markdown file? Links are opened in iframe now.

[2017-11-05 01:54] scarecrow21 commented on #2543
I've made a PR for this. Please let me know if some other changes have to be made.

[2017-11-05 10:04] JosefJezek opened #2549 "Support for README.md as tutorial file"
Could you add support for README.md as the tutorial file?

[2017-11-05 19:09] gideonthomas opened #2550 "Fragment id links fail to open in the preview"
STR:
1. Create a link in the HTML to an `id` in the same html file. For e.g. `<a href="#my-id">Click Here</a>`.
2. Click on the link in the preview.
3. It shows the AWS NoSuchKey 404 error.

cc @humphd

[2017-11-05 20:09] ryanwarsaw commented on #1614
@flukeout Not sure if you guys worked on this off Github, but I noticed it hasn't been updated in a while? Still needs reviewed?

[2017-11-05 20:11] ryanwarsaw commented on #2431
**Status Update:** The webmaker passport module (Stage #1) is awaiting review, so is the first of two PRs on the implementation side for Thimble (Stage #2, #3 respectively). As per discussion with @gideonthomas, going to punt this until December or early next year.

[2017-11-06 13:10] weaselboy2004 opened #2551 "<center> is not in the Tag library!"
<center> is not in the Tag library!

[2017-11-06 16:40] gideonthomas commented on #2551
Hi @weaselboy2004, thanks for filing this request. The tag library contains HTML tags that are HTML5 standard compliant. The `<center>` tag was deprecated a while ago and is not a part of the HTML5 specification.

Instead, if you would like to center content, what is now recommended is to use CSS rules like so:
- centering text: `text-align: center`
- centering non-text elements: `margin: 0 auto`

[2017-11-06 16:40] #2551 closed

[2017-11-06 17:34] Pomax commented on #2551
On a modern web standards note, using `margin` to center non-text elements is an older solution, most modern browsers allow you to center elements (rather than text) through "flexbox" styling instead - see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for that topic.

[2017-11-06 18:24] weaselboy2004 commented on #2551
Thank you for this info!!

Jack Magson
________________________________
From: Mike Kamermans <notifications@github.com>
Sent: Monday, November 6, 2017 5:34:07 PM
To: mozilla/thimble.mozilla.org
Cc: weaselboy2004; Mention
Subject: Re: [mozilla/thimble.mozilla.org] <center> is not in the Tag library! (#2551)

On a modern web standards note, using margin to center non-text elements is an older soluti

[2017-11-07 01:40] humphd commented on #2538
This error means that the service worker wasn't able to store the cached files in `CacheStorage` because we have already filled the allotted space we're given by the browser.  Probably what I need to do here is to remove some cached files and try again.

[2017-11-07 17:32] gideonthomas commented on #2538
would we be able to fallback to blob urls if we encounter errors with service workers?

[2017-11-09 13:22] JosefJezek opened #2552 "Add "Courier New" font"
Courier font used in `.CodeMirror` is not monospaced on Linux - Ubuntu. :-(

Code with Courier font
![image](https://user-images.githubusercontent.com/2110319/32607401-2c14427a-c559-11e7-8ae4-b23f2684604b.png)

Code without Courier font - used generic `monospace` font
![image](https://user-images.githubusercontent.com/2110319/32606830-128c0358-c557-11e7-9f2d-bf18f5bc9144.png)

On page is here...
[

[2017-11-10 21:57] Ghostwolf199927 opened #2553 "Error 404 on Preview Page l Non-responsive on a single device l No known issues with used device."
Browser: Chrome
Chrome Version: 63.0.3239.42 beta
Device: C720 Acer Chromebook
![screenshot 2017-11-10 at 3 48 09 pm](https://user-images.githubusercontent.com/33559018/32680246-636809ce-c62f-11e7-8c53-8b9521d59178.png)

This error is happening 24/7, the error seems to be bound to my device (Chromebook Acer) and it's becoming a bit of a problem when I'm trying to work on a project or side project.

[2017-11-10 22:02] Ghostwolf199927 commented on #2553
Not being able to see a preview of the page is frusterating and it slows me down on work pace...So you can please fix this? I wish I could see the preview with this device..Also, other Company managed devices are having no problems with this like I am..I'm certain It's not an extension/hardware issue.

[2017-11-11 01:04] ericschv commented on #2446
@humphd I'm stuck on trying to call the `setAutoUpdate()` function inside of `brackets/src/filesystem/impls/filer/lib/FileImport.js`. My current attempt at a solution was to import `brackets/src/extensions/default/bramble/lib/RemoteCommandHandler.js` and then call setAutoUpdate() inside of:

https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/FileImport.js#L58

When I im

[2017-11-13 12:20] JosefJezek commented on #2548
Try click on links in tutorial here https://thimbleprojects.org/startpolymer/350224/index.html

[2017-11-13 12:21] JosefJezek commented on #2548
@gideonthomas FYI

[2017-11-13 16:37] humphd commented on #2446
@ericschv I can see why you're having issues here, since the code you're trying to call is crossing the boundary between an extension and the core.  The code in `filesystem/impls/filer/lib/FileImport.js` is part of the core, and anything under `extensions/default/bramble/*` is an extension.  The way that module loading in an extension vs. the core differs, though both use `requirejs`:

* an extens

[2017-11-13 21:27] humphd opened #2554 "Update remaining uses of Courier to Courier New"
From https://github.com/mozilla/brackets/pull/892, we should do a quick audit to make sure that other extensions or JS files that touch fonts also make this same change.  cc @JosefJezek

[2017-11-16 10:12] Pilabio commented on #2552
Hi @JosefJezek, I'm a newbie github user and would like to help this issue, still I have some newbie questions to make before taking it, if you could help me. So the issue is just to add the font "Courier new" to the css code? Or this have to do with some bug that makes the font looking different?

[2017-11-16 10:32] Pilabio commented on #2552
Hi @JosefJezek. So the issue is just to add the font "Courier new" to the css code? Or this have to do with some bug that makes the font looking different?

[2017-11-16 19:17] #2536 closed

[2017-11-16 19:51] marcobeltempo opened #2557 "Feature Request: Mobile preview with various screen size options"
When using the mobile preview option it would be cool to select a specific mobile device that would display the project according to the devices screen size. Similar to the Responsive Design Mode in the web dev tools.

A quick mockup of how it could be implemented:

![image](https://user-images.githubusercontent.com/15523758/32912491-327db87e-cadd-11e7-9a62-0330096da04d.png)

I would love to hear

[2017-11-16 22:01] marcobeltempo commented on #2554
@humphd this was the only instance I could find

https://github.com/mozilla/thimble.mozilla.org/blob/c340186a3e0749c497fcefa727d7bf79ec0c68e9/public/editor/stylesheets/editor.less#L471

[2017-11-17 00:23] RandyIA commented on #2296
I've just started working on remixing some of the Web Literacy lesson plans like this one: [Web Literacy Basics II | Fair Use Free-for-All](https://thimbleprojects.org/chadsansing/125881/web-lit-basics-two/session05-fair-use-free-for-all.html#overview). After may attempts to load, it finally does so, but then give this "Project Size Limit Reached"  Any recommendations on how to deal with this issu

[2017-11-17 04:15] josephbabu commented on #2553
Try Firefox working fine
https://thimbleprojects.org/josephbabu/357969

[2017-11-17 05:44] ryanwarsaw commented on #2553
@gideonthomas Is this by any chance related to #2468? Error seems to be identical, but instructions for reproducing are different. Worth noting I had this issue happen to about a half dozen machines during my session as well, I wasn't able to figure out what was causing it.

[2017-11-17 20:59] flukeout commented on #2296
Hey @RandyIA - yeah that's a strange case. It looks like that Thimble project contains all of the lessons, which then exceed the limit. This is unfortunate, and we didn't foresee it. My recommendation would be to split out each lesson into a separate, smaller, project. As it stands, the editing experience when loading this thing up will be quite poor due to the overall size.

Would creating smalle

[2017-11-17 22:34] RandyIA commented on #2296
@flukeout - thanks for following up so quickly. 👍 Yes I can try create smaller lesson modules.  Unfortunately, since most of the Web Lit lessons were designed before this project size limitation, it's likely I (and others) will have to deal with this issue anytime we need to remix them.  I will post a message to some of the Mozilla people I know, who were involved in creating these lessons and see

[2017-11-17 22:44] flukeout opened #2558 "Disable the right-click menu when editing HTML pages."
Currently, if you right-click inside of the editor when editing an HTML page, you get the following menu...

<img src="https://user-images.githubusercontent.com/25212/32971909-64523ace-cba4-11e7-965c-6f1a2a1262a6.png" width="300" />

I don't think it's very useful. The Quick Edit & Quick Docs options show up even if they are not usable. When the Quick Docs work and expand within the editor, the li

[2017-11-18 04:03] justineuro opened #2559 "TypeError: The "digest" argument is required and must not be undefined ..."
In a local offline install of Thimble, while trying to "Sign up" for a new Thimble account through my local install of id.webmaker.org, after filling-up the necessary fields (username, mail, password) and clicking the "SIGN UP" button, I got stuck on the same page and  got the following message in the console where I `npm start`-ed in my id.webmaker.org folder:

Thanks in advance as to any info as

[2017-11-18 23:17] gideonthomas commented on #2559
Hi @justineuro are you running Thimble without vagrant? If so, you would need to use a node version < 7 for running id.webmaker.org since node 7.x.x introduced a breaking change.

[2017-11-19 15:07] gideonthomas commented on #2554
@marcobeltempo, I think you'll want to check in the brackets repo as well

[2017-11-19 19:39] marcobeltempo commented on #2554
@gideonthomas should I open a separate issue in brackets?

[2017-11-20 14:10] humphd commented on #2554
@marcobeltempo no, you can just do a PR in the Brackets repo.  We tend to do issues here, since they are all conceptually related to Thimble.  It's confusing, I know.

[2017-11-20 14:14] humphd commented on #2558
Whoever works on this, that menu is defined here: https://github.com/mozilla/brackets/blob/master/src/command/DefaultMenus.js#L253-L269

[2017-11-20 14:17] humphd commented on #2553
This was fixed by https://github.com/mozilla/brackets/pull/894.  See http://blog.humphd.org/promise-to-catch/ for more details.

[2017-11-20 14:17] #2553 closed

[2017-11-20 14:18] humphd commented on #2547
This was fixed by https://github.com/mozilla/brackets/pull/894.  See http://blog.humphd.org/promise-to-catch/ for more details.  The CSS CSP stuff is a red herring, I think.

[2017-11-20 14:18] #2547 closed

[2017-11-20 14:18] humphd commented on #2546
This was fixed by https://github.com/mozilla/brackets/pull/894.  See http://blog.humphd.org/promise-to-catch/ for more details.

[2017-11-20 14:18] #2546 closed

[2017-11-20 14:19] humphd commented on #2545
I'm going to close, since we haven't had any further updates here.  Please re-file a new bug if you keep seeing problems.

[2017-11-20 14:19] #2545 closed

[2017-11-20 14:19] humphd commented on #2527
This was fixed by https://github.com/mozilla/brackets/pull/894.  See http://blog.humphd.org/promise-to-catch/ for more details.

[2017-11-20 14:19] #2527 closed

[2017-11-20 14:20] humphd commented on #2448
This was fixed by https://github.com/mozilla/brackets/pull/894.  See http://blog.humphd.org/promise-to-catch/ for more details.

[2017-11-20 14:20] #2448 closed

[2017-11-20 14:21] humphd commented on #2427
This was fixed by https://github.com/mozilla/brackets/pull/894.  See http://blog.humphd.org/promise-to-catch/ for more details.

[2017-11-20 14:21] #2427 closed

[2017-11-20 14:22] humphd commented on #2312
@gideonthomas am I right that this is actually done now?  Can we close this?  If so, please do.

[2017-11-20 14:23] humphd commented on #2293
I am going to close this, as we've never heard anyone else hit this since it was filed.

[2017-11-20 14:23] #2293 closed

[2017-11-20 14:24] humphd commented on #2240
This is fixed now.

[2017-11-20 14:24] #2240 closed

[2017-11-20 14:25] humphd commented on #2188
I'm going to close this, as I'm not sure we can do a lot about this case.

[2017-11-20 14:25] #2188 closed

[2017-11-20 14:26] humphd commented on #2124
Closing now, as we haven't seen this again in a while.

[2017-11-20 14:26] #2124 closed

[2017-11-20 14:27] humphd commented on #1947
This is done.

[2017-11-20 14:27] #1947 closed

[2017-11-20 14:28] humphd commented on #1899
Closing, as we're not likely to do this.  We tend to file in the Thimble repo now, which is "good enough."

[2017-11-20 14:28] #1899 closed

[2017-11-20 14:30] humphd commented on #2557
@flukeout thoughts on this?  See also https://github.com/mozilla/thimble.mozilla.org/issues/1721

[2017-11-20 16:22] Ghostwolf199927 opened #2560 "Console Error l After Error 404 Fix l And another possible bug with it?"
Same Device Info as reported on my Error 404 Issue: https://github.com/mozilla/thimble.mozilla.org/issues/2553

**Another error after Error 404??**
The preview page is stuck on my index page.
![screenshot 2017-11-20 at 10 32 04 am](https://user-images.githubusercontent.com/33559018/33029389-14bbe5aa-cdde-11e7-8273-34808a1da8ed.png)
![screenshot 2017-11-20 at 10 31 54 am](https://user-images.github

[2017-11-20 19:17] flukeout commented on #2557
Hey this is really neat @marcobeltempo! I guess selecting one of these options would end up changing both the appearance and physical size of the devices?

I have some reservations though because a lot of these devices have very wide (in terms of pixel size) screens, so I'm not sure how we would represent that. Our current device is only 310px wide, so how would we deal with an iPhone 6 (medium si

[2017-11-20 22:41] JosefJezek opened #2561 "Import from GitHub using URL as codesandbox.io"
![image](https://user-images.githubusercontent.com/2110319/33045185-4a3df6dc-ce4c-11e7-9722-c2f0d0ddafb0.png)

[2017-11-21 00:54] ericschv commented on #2446
@humphd everything in your explanation seems to makes sense up until the part where you recommend defining the preference in `LiveDevelopment/*`.

  What I'm thinking about doing is importing `PreferencesManager` inside of `LiveDevMultiBrowser.js` and then I'm assuming an editor preference variable will have to be declared like so:  `AUTO_UPDATE = "autoUpdate";`. After declaring that variable I pl

[2017-11-21 14:54] svitlana-galianova commented on #2558
Hello, I would like to try to help out here

[2017-11-21 18:03] flukeout commented on #2558
Yes, please go ahead @svitlana-galianova ! Get rid of that menu!

[2017-11-21 18:56] feihaozi77 commented on #2506
@humphd https://github.com/mozilla/brackets/pull/890 this the pr i made, please review

[2017-11-21 19:39] gideonthomas commented on #2312
Yep

[2017-11-21 19:39] #2312 closed

[2017-11-21 19:43] gideonthomas commented on #2560
@Ghostwolf199927, by any chance do you use sessionStorage in your javascript? If not, then this is a bug and I can update this issue accordingly

[2017-11-21 21:45] Ghostwolf199927 commented on #2560
@gideonthomas How would I view that on a managed Chromebook device?

[2017-11-21 22:20] Ghostwolf199927 commented on #2560
Gideon,

[2017-11-21 22:20] Ghostwolf199927 commented on #2560
Wrong button. -_-

[2017-11-22 15:35] humphd commented on #2558
@svitlana-galianova also note: you can probably "undo" a bunch of what was done in this PR when you do this, since we won't need that dialog anymore:

https://github.com/mozilla/brackets/pull/666

[2017-11-22 15:55] humphd commented on #2561
Interesting idea.  I don't think we want to introduce syncing with GitHub per se, but the idea of a one-time import to start a new project is neat.  The easiest way to do that, which also leverages code we already have, might be the following:

* We add a "Start new project from GitHub..." UI element somewhere
* User enters a URL to a repo, like you've done above, for example https://github.com/us

[2017-11-22 19:31] humphd opened #2562 "Add info to "Black Screen of Death" error page about Third-Party Cookie issues"
In cases where users have enabled third-party or other tracking protections (notably in Firefox), we sometimes crash on startup because IndexedDB can't be loaded.  We currently [have a message about Private Browsing](https://github.com/mozilla/thimble.mozilla.org/blob/ea243750e1a09e850ddc07a31fcafc9660780b1c/views/editor/bramble.html#L201) mode (which also breaks in Firefox, though there is a fix

[2017-11-22 19:39] humphd opened #2563 "Allow memory-backed filesystem vs. indexeddb via URL param"
I'd like to experiment with a memory-backed filesystem in addition to the current IndexedDB one that we use.  Here's how I imagine it working:

* User hits https://thimble.mozilla.org, we default to the standard IndexedDB provider.
* User hits https://thimble.mozilla.org?brambleMemoryFileSystem we override to use `Filer.FileSystem.providers.Memory` when we create the filesystem in Brackets.  Thimb

[2017-11-22 19:43] humphd opened #2564 "Add UI to use "memory filesystem" workaround mode"
In #2563 we're adding a special URL flag to allow loading the editor using a memory-backed filesystem instead of IndexedDB.  The goal is to enable people to still use Thimble in cases where IndexedDB isn't allowed (for security reasons).

When we show the [error message on the loading page](https://github.com/mozilla/thimble.mozilla.org/blob/ea243750e1a09e850ddc07a31fcafc9660780b1c/views/editor/br

[2017-11-22 19:44] humphd commented on #2562
See #2564, #2563 for the memory-backed filesystem workaround bugs.

[2017-11-22 21:17] HansvandenPol commented on #2562
Hello David, I'm interested helping with this bug.

[2017-11-22 21:19] humphd commented on #2562
OK, great, it's yours @HansvandenPol.  You may want to tackle all three of these bugs as a set, since they are related.

Start by [getting Thimble set up locally](https://github.com/mozilla/thimble.mozilla.org#setupinstallation), and then you can trigger this screen by running Firefox and opening Thimble in a Private Window.  Let me know if you have other questions I can help with.

[2017-11-22 22:20] HansvandenPol commented on #2562
Hello David,

I would like to work on the other bugs as well. I am only worried if I have
enough time for all of them, since the due date is next week.

Best regards,

Hans van den Pol

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign

[2017-11-22 22:23] humphd commented on #2562
@HansvandenPol if this is for your 0.1 release, I think just focus on this one bug, and do the others as your 0.2

[2017-11-23 09:20] pawansaket opened #2565 "cors error when accessing the domain from its sub-domain ( no error in chrome and safari only in firefox)"
I have a problem with firefox for its CORS policy. As, I have a domain and created a sub-domain for it. Now want to access domain from sub-domain I got cors errors ( app is on nodejs+expressjs+angularjs) ( only in firefox). Here is the code for CORS setting in nodejs:

var allowHeaders = ['Accept', 'Accept-Version', 'Content-Type', 'Api-Version', 'Origin', 'X-Requested-With', 'api-token'];

[2017-11-23 19:24] gideonthomas commented on #2565
@pawansaket I don't follow, is this on Thimble? Or this your own website hosted somewhere and you're having issues on Firefox? If it's the latter, unfortunately this is beyond our expertise in this project. I do recommend filing a support ticket in https://support.mozilla.org/questions/firefox and someone who works on that project will be able to assist you better.

[2017-11-23 19:24] #2565 closed

[2017-11-23 20:17] #2531 closed

[2017-11-23 20:21] #2180 closed

[2017-11-23 20:24] #2520 closed

[2017-11-23 20:27] gideonthomas commented on #2560
Thanks @Ghostwolf199927, looks like this is a bug unrelated to your browser settings. For your specific case, I think if you open this url: https://mozillathimblelivepreview.net/bramble/production/dist/index.html in a new tab (you can close it after) and then refresh your Thimble page, these errors should go away.

In the meantime, I'll morph this into an issue that deals with not showing actual T

[2017-11-23 20:42] gideonthomas commented on #2552
@Pilabio, it looks like the Courier font does not render well on browsers in Linux environments. We use Courier to display text in Thimble and Brackets. This issue is to change Courier to Courier New so that any text that appears in Thimble and Brackets is shown correctly.

[2017-11-23 20:43] gideonthomas commented on #2552
And it looks like this issue has been fixed, closing.

[2017-11-23 20:43] #2552 closed

[2017-11-23 23:38] TheoChevalier opened #2566 "Enable Bosnian localization"
Bosnian localization is complete and can be enabled! https://pontoon.mozilla.org/bs/thimble/

Code: `bs`
Name: `Bosanski`

[2017-11-23 23:40] marcobeltempo commented on #2557
@flukeout ahhh I see what you're saying. Larger devices would end up overflowing.
I think having a general device list is a great idea! Definitely give users a better visual representation

[2017-11-24 00:49] gideonthomas commented on #2566
thanks @TheoChevalier, I'll follow up on enabling it on production

[2017-11-24 02:28] marcobeltempo commented on #2554
@humphd I would like to take on this issue.

In addition to these files you've highlighted below
[code]

Would the changes have to be applied to the following files as well?

[code]

[2017-11-24 15:02] HansvandenPol commented on #2562
Hi David, A question about the first bug: Do I need to check if the black screen was caused by having tracking protection enabled before printing the info?

[2017-11-24 15:52] humphd commented on #2562
@HansvandenPol good question.  No, I think you should probably just adjust the messaging about Private Browsing mode to include this extra info.  Doing so would mean a string change in the `en-US` locale file, and you'd need to change the string key to add a new version (e.g., `_2` on the end or something).

@flukeout can you weigh in here soon, since @HansvandenPol needs to get this in by Tues.

[2017-11-24 16:11] HansvandenPol commented on #2562
Thanks, also sometimes when I run Thimble in a private session the black screen won't appear (even though my tracking protection is enabled). The editor opens instead without content. Is there a way to force the black screen to appear to test the info message?

[2017-11-24 16:13] humphd commented on #2562
Which browser?  Also, what's in your console?  Can you include some screenshots here?

[2017-11-24 16:19] HansvandenPol commented on #2562
I'm using the latest Firefox browser. I also tried the cloned Firefox project, but I haven't pulled the most recent version. Unfortunately, my laptop is at home so I can sent you the screenshots after classes this afternoon.

[2017-11-24 16:22] humphd commented on #2562
We landed a fix recently to make Firefox work in a fallback mode when Private Browsing is enabled.  If you want to trigger this black screen, you'll probably need to roll-back Brackets.  In your Brackets repo, do this:

[code]

Then you can start Brackets and it should break in Firefox.  You can switch back to the new code with:

[code]

[2017-11-24 16:48] humphd commented on #2554
The extra extensions you list aren't ones we're using  for much longer (first two), and third one we can't modify directly.  With the third one, you can make changes in an `_overrides.css` file that's located in that extension's files and use `!important;`

[2017-11-24 18:44] HansvandenPol commented on #2562
I rolled back Brackets to that commit, but the black screen still won't appear. It's weird, because yesterday I was able to see the black screen just fine. I will include the screenshots of the editor page and of both consoles.
![thimble editor](https://user-images.githubusercontent.com/14921415/33221424-78faebf0-d11d-11e7-9b77-93ab8bb75734.png)
![thimble console](https://user-images.githubusercon

[2017-11-24 19:20] flukeout commented on #2562
@humphd @HansvandenPol hey sorry, reading over the issue now and will chime in shortly!

[2017-11-24 19:39] humphd commented on #2562
@HansvandenPol in Firefox, open that page with the Web Console (dev tools) showing.  I want to see what's showing there.  This might be a CSP error.

[2017-11-24 21:37] flukeout commented on #2562
@HansvandenPol @humphd - locally I can't get the black screen to show up anymore. I'm only running thimble (localhost:3500) and not brackets, and that used to trigger the black screen. Is there a more reliable method?

[2017-11-24 22:12] humphd commented on #2562
@flukeout that's odd.  We should be showing that.

[2017-11-24 22:21] flukeout commented on #2562
@humphd can you get it to show up from latest master?

[2017-11-25 00:16] HansvandenPol commented on #2562
@humphd Is it an idea that I start on bug #2563? I don't want to request my current version, which adds the text explaining effect of having third-party cookies disabled, because I haven't tested it yet.

[2017-11-27 16:21] humphd commented on #2562
@HansvandenPol, yes, let's switch you over to #2563 and I'll close this.  I don't think this is turning out to be as necessary as I thought.

[2017-11-27 16:21] #2562 closed

[2017-11-27 16:21] humphd commented on #2563
@HansvandenPol is going to tackle this.

[2017-11-27 16:36] humphd commented on #2557
Another thing to consider here is that we can't easily (or convincingly) simulate certain resolutions within the preview, because we're always going to be limited in our available space.  Creating a pixel density and width/height scenario for lots of new devices will be hard because it will require creating a viewport that is way bigger than the available space in the live preview view.  Whatever

[2017-11-28 14:26] mrcottington opened #2567 "Students are getting 404 File Not Found errors on Preview; refreshing does not seem to help"
Hello,

I teach high school CS and we are using Thimble for web design. We are experiencing problems with a few students who consistently see this error in the Preview:

404 Not Found

Code: NoSuchKey
Message: The specified key does not exist.
Key: bramble/production/dist/vfs/708428/projects/1321821/index.html
RequestId: EA755CCC32BD09CD
HostId: Pc488FKw/szlSuT2kxY0A0TR0HZvdsoc6+7Dnl1T4YR/DnTwLaFi

[2017-11-28 17:20] humphd commented on #2567
@mrcottington I'm sorry to hear that you're struggling with this.  We shipped a fix for this problem last week, but it sounds like there is yet another edge case we haven't dealt with thus far.

The problem is that we use a Service Worker to create a web server inside the web browser.  However, certain browser settings can disable service workers from installing (e.g., disabling third-party cookie

[2017-11-28 17:27] flukeout commented on #2567
I've got a few questions

* Have these problems been happening in the past, or is this something new?
* Do all of the Chromebooks have the same privacy & security settings, or are they different?
  * In Firefox, disabling third-party cookies caused Thimble to break
* @mrcottington Are you able to get a screenshot of anything that is going on in the browser console when you get these errors?
  * If

[2017-11-29 13:36] HansvandenPol commented on #2563
@humphd I am not sure if you've seen my pull request yet. When the user hits the 'BrambleMemoryFileSystem' parameter the memory-backed filesystem is used instead of indexedDB fs.

Further, I'd like to work on the next bug (I think it was #2564) if it's still open

[2017-11-29 15:16] humphd commented on #2564
@HansvandenPol asked to work on this, which is fine with me.  @flukeout before he starts, can you comment on how you want this to look?

[2017-12-01 22:54] flukeout commented on #2564
Hey @humphd—just want to clarify a thing here. This mode will be enabled when we are not able to access IndexedDB for some reason right? You mention people will lose their work if they close their tab, is that only for anonymous projects? Won't we still be able to save projects to our servers as we do currently?

[2017-12-01 22:56] humphd commented on #2564
Yes, everything you said is right:

* This will only happen when we fail to get a database-backed (indexeddb) filesystem
* If a user is anonymous, they will lose their work (which includes `upgrading` to authorized by "signing-in" while editing)
* If a user is already logged in, you are correct that they will be able to save to the server with this (just nothing will survive the tab-shutdown).

So

[2017-12-01 22:58] flukeout commented on #2564
Hmm, yeah—the case of losing work while upgrading to Signed In is the weirdest, since you're stuck in this Catch 22 situation then. Maybe we shouldn't even offer the ability to do an anonymous mode then, just prompt / push for a sign in so then work will be more likely to survive?

[2017-12-01 23:10] flukeout commented on #2564
As far as the UI for the above, I think we could show something like this...

![image](https://user-images.githubusercontent.com/25212/33507433-8ad7b0ce-d6a9-11e7-87b5-e05db4cc33d2.png)

Once someone is signed in, their work will automatically be saved to our server every 5 seconds. Our only worry then is having the user reload the browser within 5 seconds of making a change, which is not as big o

[2017-12-02 00:37] flukeout commented on #2476
Starting work on this in https://github.com/mozilla/thimble.mozilla.org/pull/2568/

[2017-12-02 23:26] bohica6 opened #2569 "Thimble Autocomplete Malfunction"
When using Thimble about 18 hours ago I was able to use autocomplete.
For example when typing h1 then pressing tab, it would render the open and close h1 tags.
Now, instead, it types h1 (or whatever tag, em, strong, etc.) into the live preview field even if it is not in the body or inside a paragraph or ordered list tag.
I am also no longer able to access the file I created when using autocomplete

[2017-12-03 15:05] VitalyChe commented on #2439
@hkirat Is the collaboration idea still alive and the feature on the road to implement? I see no activity regarding this.
Thanks!

[2017-12-03 19:47] ericschv commented on #2446
@humphd I defined the preference in `LiveDevMultiBrowser.js`. Inside of `FileImport.js` I set the preference to false in order to disable reloading live dev preview  before importing, and then set it back to false after importing was finished.

[2017-12-03 21:23] #2152 closed

[2017-12-03 21:28] gideonthomas commented on #2569
hmm yeah, it looks like the AutoComplete preference is broken and isn't respected by the editor. I'm not able to reproduce your specific case but when I turn off autocomplete, it still autocompletes tags for me.

[2017-12-03 21:31] gideonthomas commented on #2439
Hi @VitalyChe, unfortunately as of right now it isn't a high-priority item and isn't being actively worked on. @hkirat (and other contributors welcome) will be working on this at their leisure and hence no set timeline has been established for this feature to be implemented yet.

[2017-12-03 21:53] mrcottington commented on #2567
Hey all,

Sorry for the delay in responding - but thank you immensely for the assistance. Adding ?cacheType=blob did in fact work, so that has been awesome. In terms of your questions....

-This is my first time ever using Thimble (either by myself or with students) but according to our other CS teacher who used it in his class last year, this is a new problem.

-They do have all the same privacy

[2017-12-04 19:19] humphd commented on #2567
That's great to hear, @mrcottington, thanks for letting us know.  I'm going to close this, but please file any followups to other issues you hit.

[2017-12-04 19:19] #2567 closed

[2017-12-04 23:34] jhnilo opened #2570 "Lost code"
I have several students who use Mozilla Thimble for my web design class. On more than one occasion, a student has complained that work that they have done at home on their account does not save and when they come to class the next day, it is all gone. This happens only with the HTML files; not the CSS or any images that they upload to the project... those all seem to save. Is there a glitch that m

[2017-12-06 00:53] #2181 closed

[2017-12-06 01:16] gideonthomas commented on #2558
@svitlana-galianova, I just noticed that someone else just submitted a PR for this issue. Have you started working on this?

[2017-12-06 04:01] #2563 closed

[2017-12-06 15:20] svitlana-galianova commented on #2558
@gideonthomas unfortunately I haven't had a chance to look at it yet

[2017-12-06 15:44] humphd commented on #2558
@svitlana-galianova looks like you'll need another bug.  Sorry about that.  This sometimes happens, and it's unfortunate, but also the way with open projects.  Having said that, you did the right thing by making it clear you were working on this, and signalling to others that they should find another bug.  Not everyone pays attention, though.

[2017-12-06 15:56] humphd commented on #2570
@jhnilo I'm sorry to hear that your students are hitting this.  There are a few potential things I can think of, but it would be good to investigate.

When users work on files in Thimble, we auto-save their work every ~5s to a database in their browser.  Then for a logged in user (I assume your students were logged in at home?), every so often, we send what is in the local browser database to our

[2017-12-06 16:07] humphd commented on #2564
I think it's going to be odd for someone who comes in a Private Browsing mode to be asked to instantly self-identify by logging in.  I think we should support the totally anonymous case, and provide a temporary scratchpad they can use **OR** allow them to flow through to authenticate like you have and not lose work.

[2017-12-06 16:23] #2558 closed

[2017-12-07 15:34] ericschv opened #2572 "Brackets failing test on local machine"
When testing brackets on local machine in the root directory using `npm test`, it fails when it runs a test for "jasmine". At the current moment Mozilla/brackets does not use jasmine for testing.

This is the error message:

![capture](https://user-images.githubusercontent.com/15128090/33722524-367dad9c-db38-11e7-95ea-e14d55a48cca.JPG)

This issue is related to grunt and can be seen calling "jasmi

[2017-12-07 16:26] humphd commented on #2572
I think the proper fix here is to change the `test` grunt task so it doesn't depend on `jasmine`.  It's not good that our code breaks when a developer does the obvious thing and calls `npm test`.  We should make that change, and then change our `test` script in `package.json` to do what we do in the `.travis.yml` file.  Finally, we should alter `.travis.yml` to do a standard `npm test` instead of

[2017-12-07 16:56] ericschv commented on #2572
@humphd yes I would like to work on it.

[2017-12-07 17:15] humphd opened #2573 "Remove iFrameBrowser.getDetachedPreview"
We have some remnants of code from when we supported detaching the preview to a separate window.  Once https://github.com/mozilla/brackets/pull/897 lands, which is removing some more, let's get rid of the rest.  Specifically, we can probably dump `getDetachedPreview` and any code that interacts with it.

[2017-12-07 19:50] gideonthomas commented on #2572
I'm not sure I follow...we don't run any sort of test on brackets (even on Travis) so what would you expect to happen when you run `npm test`?

[2017-12-07 19:52] humphd opened #2574 "[Firefox] Autocomplete suggestions have odd styling"
<img width="1208" alt="screen shot 2017-12-07 at 2 51 16 pm" src="https://user-images.githubusercontent.com/427398/33735733-2aaccf04-db5e-11e7-9fd2-308bab9d1628.png">

Not sure what's going on here, but our autocomplete looks like crap in FF.

[2017-12-07 20:22] humphd commented on #2572
`npm test` should just do our linting

[2017-12-07 21:55] gideonthomas commented on #2572
Ah ok, that makes sense. I think we should [update our grunt `test` task](https://github.com/mozilla/brackets/blob/master/Gruntfile.js#L541) to only run lint tasks and then remove `grunt build-browser-compressed` from the `npm test` command in `package.json`. Let's also change the `.travis.yml` file so that the `script` is removed and we add a `before_deploy` task (like [this](https://docs.travis-

[2017-12-07 22:01] #2446 closed

[2017-12-08 22:30] flukeout opened #2575 "Testing & QA: Slowparse HTML checking."
We have a rough working version of Slowparse (the cool HTML validator built by @Pomax) running here:

* https://mozillathimblelivepreview.net/bramble/slowparse/dist/hosted.html

Currently, we have enabled some rules to check for HTML errors. All of the errors we are testing for are listed in [this file](https://github.com/mozilla/brackets/blob/slowparse/src/extensions/extra/HTMLHinter/nls/root/str

[2017-12-12 11:03] wizofe commented on #2574
Can somebody guide me on how to fix this bug? 👍

[2017-12-12 16:45] wintop6211 commented on #2569
Didn't know if I did it correct or not, when I typed "h1" just after the beginning of the body tag and hit tab, editor didn't autocomplete at all.

[2017-12-12 16:50] wintop6211 commented on #2208
I can fix this! Assign it to me thanks!

[2017-12-12 16:56] humphd opened #2577 "https://bramble.mofostaging.net/ gives application error"
Not sure what happened to staging, but it won't load for me, and instead I get a Heroku Application error.  cc @gideonthomas

[2017-12-12 18:13] Firelordisbae opened #2578 "Deleted Files!!"
Ive just had an issue where half of my projects have been deleted. I dont know how this is. I found out when i went on a different computer and signed into thimble. The project i was working on didnt come up, and other previous projects. I remembered i still had the project page opened on my home computer. When i went home i tried opening the project and an error popped up. I dont know what to do

[2017-12-12 18:25] humphd commented on #2578
@Firelordisbae I'm really sorry to hear that you've run into this.  I'll see if I can help you.

First, you should be able to [Export your project](https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble-FAQ#how-do-i-export-a-project) from your home computer to a `.zip` file and make sure you get everything.  Then you can at least take that file with you to another computer and [import y

[2017-12-12 19:42] eromney commented on #2139
Hi guys,
I would like to fix this bug, I have already done both the installation for brackets and thimble, could one of you guide me on how to go about fixing this?

[2017-12-12 23:27] ericschv commented on #2572
@gideonthomas what is the reason for adding `before_deploy` in `.travis.yml` with the value of `npm run preproduction`?

[2017-12-13 02:19] gideonthomas commented on #2572
@ericschv that tells travis ci (our continuous integration platform) to first build brackets (generate the `dist` folder and the built files inside it) using the `npm run preproduction` command before we deploy it to Amazon S3. That way, it will make sure that it deploys the dist folder (which is what we want) only.

[2017-12-13 04:05] ericschv commented on #2572
@gideonthomas @humphd Thank you both for clarifying what needs to be done.

[2017-12-13 06:32] man0s commented on #2574
I'll try fix it 😄

[2017-12-13 08:46] man0s commented on #2574
**max-height** property of jshint-jsdoc's class needs to be deleted. Am afraid it's an editor's bug.

![solution](https://user-images.githubusercontent.com/10699431/33929483-55645102-dff2-11e7-9d44-370206410f92.PNG)

[2017-12-13 16:51] humphd commented on #2139
@eromney fixing this will require a few things, and likely some work in both of Thimble and Brackets.  I would suggest doing it in stages (e.g., maybe multiple small fixes) vs trying to do it all at once.

First, the code that manages the sidebar for the file view is here: https://github.com/mozilla/brackets/blob/master/src/project/SidebarView.js.  If you need to show or hide it, you can call into

[2017-12-13 17:15] Avedis777 commented on #2517
Can I work on this bug?

[2017-12-13 17:18] Avedis777 commented on #2573
Can I work on this bug?

[2017-12-13 17:21] Avedis777 commented on #2343
Can I work on this bug?

[2017-12-13 17:57] humphd commented on #2573
@Avedis777 all yours.

[2017-12-13 17:57] humphd commented on #2343
@Avedis777 assigned.

[2017-12-13 18:00] humphd commented on #2517
@Avedis777 assigned.

[2017-12-13 18:33] humphd commented on #2208
@wintop6211 I'm not sure if you'll be able to fix this, since the code isn't in github, I think you'd have to have access to the original project.  Maybe @flukeout can chime in.

[2017-12-13 18:40] humphd commented on #2575
Playing with your demo, it's really awesome.  I especially love the bouncing arrow you use sometimes.  The animations, colours, and playfulness of the emojis are amazing.  So good, Luke!

One thing I notice is that we seem to stop doing parsing properly when you have an error.  If I have a problem, we show the error.  But, if I cursor above it and introduce a new error, it seems to ignore things:

[2017-12-14 06:13] gideonthomas commented on #2208
Yeah we manage that account internally so I don't think this is a good issue for contributors.

[2017-12-14 06:37] gideonthomas commented on #2517
@humphd do we know how to fix this?

Also, the `postMessage` error is weird. It looks like it's coming from here: https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L955 and it's odd that it claims that the "recipient window" is Thimble when it should be Brackets.

[2017-12-14 06:43] gideonthomas commented on #2569
@wintop6211 did you type `h1` or `<h1`?

[2017-12-14 18:34] #2577 closed

[2017-12-15 17:16] humphd opened #2580 "Add pref toggle for enabling/disabling slowparse and UI suggestions"
I think we need to give people a way to disable the slowparse UI, since it's a pretty big change, and if you don't want it, it will be annoying.  I think most people will want it, but let's just preempt the fact that not everyone will.

I looked at our current toggle preferences to see if we could just reuse one of them, but we don't really have anything like this.  We might want to add a general

[2017-12-15 17:16] humphd commented on #2575
Filed https://github.com/mozilla/thimble.mozilla.org/issues/2580 for adding a toggle to enable/disable this.

[2017-12-15 17:54] flukeout commented on #2575
Thanks for filing the toggle issue—we'll need it. What are your expectations about the case that you posted above?

I think the issue is that slowparse isn't catching the `html>`, is that what you mean?

It should probably..
* Figure out that you were trying to type a tag when it see something like `blah>`
  * I'm guessing it just treats it as normal text in the doc
  * If so, it should flag that

[2017-12-15 18:02] humphd commented on #2575
I think that the issue above is potentially that once we find an error, we don't reparse the document, or your cache theory?  I'm guessing.  Also, it's an edge case vs. something that needs to block this.  Personally, I think this is pretty close to shippable.