[2015-10-19 22:06] flukeout opened #1185 "When a project is created via remixing, keep track of the ID of the original project."

[2015-10-19 22:28] jbuck commented on #509
@hannahkane You are correct on all counts! And you'll be able to access your old makes in the my projects list in new Thimble

[2015-10-19 22:30] hannahkane commented on #509
Cool. Thanks, @jbuck. This plan works for me.

/cc @ldecoursy and @KevZawacki so they know what's up

[2015-10-19 22:49] flukeout commented on #1164
@adamlofting Have you had a chance to look into this? Are there any questions the team can answer to help the process?

[2015-10-20 00:00] hannahkane commented on #509
@jbuck - how long is the gap between step 1 and step 2 likely to be? Wondering for how long people will be unable to edit/remix their old makes.

[2015-10-20 00:02] hannahkane commented on #509
disregard above question. I understand my error - people will continue to be able to access their own makes in old Thimble, we're just turning off the Remix capability. (Correct me if that's wrong.)

[2015-10-20 12:46] jbuck commented on #509
@hannahkane probably an hour or two

[2015-10-20 14:28] sedge commented on #1132
@humphd A [patch for thimble.wm.o](https://github.com/mozilla/thimble.webmaker.org/pull/1152) is in review. You can expect it to land this Thursday :+1:

[2015-10-20 14:56] hannahkane commented on #509
sweet. thanks.

[2015-10-20 18:09] #1184 closed

[2015-10-20 19:29] #761 closed

[2015-10-20 22:09] hannahkane commented on #509
Can we decide when we're going to do this exactly, so that we can give people a heads up that old Thimble makes will be read-only for a few hours. Possible to do this over a weekend?

[2015-10-21 01:02] hannahkane commented on #509
To check my understanding again, @jbuck, could you please fact-check these user-facing questions/answers we could in theory add to SUMO:

**How do I access projects made with the pre-September 2015 version of Thimble?**
Sign in to thimble.mozilla.org and mouse over the menu in the top right, where your name appears. Click "Your Projects." You'll see a list of any projects you've created with the l

[2015-10-21 01:08] emmairwin opened #1187 "Error on Registration"
I had troubles logging in with my usual username (even after password reset), and so I decided to register a new name altogether, which gave me this error.
![errortitle_401_-_2015-10-20_18 06 55](https://cloud.githubusercontent.com/assets/60618/10625194/78e1eade-7755-11e5-9b08-43dee70c3044.png)

[2015-10-21 01:11] humphd commented on #1187
cc @cadecairos, @jbuck

[2015-10-21 01:29] ldecoursy commented on #509
Should we add a note under the second Q that you can also bookmark teach.mozilla.org/me?

[2015-10-21 01:32] cadecairos commented on #1187
@emmairwin did the request seem to hang for a while before showing you an error?

It seems to be working for my account. Maybe a spike in traffic caused a slowdown?

[2015-10-21 01:35] emmairwin opened #1188 "Option to Collapse Remix bar"
Would it be possible to make the Remix Bar, collapsible?

Just looking at how it makes things look busy, and as a user I would want the option to collapse/close the top bar.

example:
https://d157rqmxrxj6ey.cloudfront.net/emmairwin/8398/

[2015-10-21 01:43] humphd commented on #1188
We've been discussing in https://github.com/mozilla/thimble.webmaker.org/issues/1107.  I'm going to dupe this bug on that, and if you want to jump in there, please do.

[2015-10-21 01:43] #1188 closed

[2015-10-21 15:56] jbuck commented on #509
@hannahkane I don't want to set a date until @cadecairos or I have written the code to do the migration. We'll update this thread when we've done that! I'd personally prefer to do it during the weekday because if something goes wrong then we can easily work with people to fix it and/or roll it back.

As for the SUMO FAQs, those answers look good to me!

[2015-10-21 16:39] humphd commented on #648
Fix is happening in https://github.com/mozilla/thimble.webmaker.org/pull/1189

[2015-10-21 16:44] hannahkane commented on #509
ok, thanks @jbuck!

[2015-10-21 18:43] humphd commented on #1173
@jgmac1106 the link you have above doesn't look like the right thing.  Can you give the right link?

[2015-10-21 19:46] #696 closed

[2015-10-21 20:21] emmairwin commented on #1187
@cadecairos it happened when I tried to both register, and login with my second account emmairwin  , although it seems to be working OK now. No sure why, but it was repeatable last night.  Thanks

[2015-10-21 21:55] simonwex commented on #475
Hey @humphd, picking this back up. How much of this can you (CDOT) help with this and how many folk  from my team would you need in order to get this done? – I'm assuming that it's three people X three weeks.

[2015-10-22 04:15] emmairwin opened #1191 "Tutorial.html file reappears when working with Tutorial.md"
Perhaps I am going about this the wrong way but here are my steps.

1) Add tutorial file  (creates tutorial.html)
2) Rename tutorial file to tutorial.md
3) editing tutorial.md edits are reflected correctly for a brief edit or two ( not sure exact scenerio)
4) tutorial.html reappears and updates to tutorial.md stop updating.

So tutorial.md works, but I need to keep deleting tutorial.html as I go.

[2015-10-22 14:49] humphd commented on #1191
This is by design.  How it works is that every time a Markdown file is saved, it will also produce an associated HTML file.  Here's an example:

![screen shot 2015-10-22 at 10 44 34 am](https://cloud.githubusercontent.com/assets/427398/10668404/275018f2-78aa-11e5-8562-eac9ae6c29be.png)

Here I've created a simple `tutorial.md` file.  It has automatically created `tutorial.html` as well:

![screen

[2015-10-22 14:49] #1191 closed

[2015-10-22 14:50] humphd commented on #1174
This seems to also happen with markdown and html files, where changes to the generated html are not automatically caught and applied (it should be updating the preview when the file changes on disk).

[2015-10-22 15:10] emmairwin commented on #1191
@humphd I will try again, what I experienced was my changes stopped updating in the tutorial file view.  But knowing this might change things.
I don't read large comment blocks I guess ;)

[2015-10-22 15:29] humphd commented on #1181
I'm going to close this. If there's some action we decide to take, let's do that in a follow-up PR.

[2015-10-22 15:29] #1181 closed

[2015-10-22 15:30] humphd commented on #1187
@emmairwin I strongly suspect this was a timeout issue on our ID server, which is a known issue, and there is some idea how to fix (just need time/resources).  I'm going to close this, but if you hit it again, let us know.

[2015-10-22 15:30] #1187 closed

[2015-10-22 15:31] humphd commented on #1185
@flukeout if you want this, you should file it upstream in https://github.com/mozilla/publish.webmaker.org.  I'm going to close it here, since it's not really a Thimble bug.

[2015-10-22 15:31] #1185 closed

[2015-10-22 16:49] flukeout commented on #1185
Sounds good, looks like @Pomax already added it anyway.

[2015-10-22 17:12] sedge commented on #1132
We used to deploy to production by checking out to a production branch, merging changes from the `bramble` branch, and Travis-ci handle the deployment.

Now we use Heroku to promote staging to production, meaning the travis hook I was relying on to trigger the invalidation won't occur.

This means that this will have to be a two step process: First, someone promotes staging to prod, second they ru

[2015-10-23 07:09] mickfuzz opened #1195 "The Tutorial is not showing on some thimble activities - download offered instead"
eg.
https://thimble.webmaker.org/project/60766/remix

Tried on 2 browsers and 2 computers and I get the same result.
![bug_thimble](https://cloud.githubusercontent.com/assets/3470500/10686574/554f828e-795d-11e5-84c5-579b0a39ffe4.PNG)

[2015-10-23 15:21] humphd commented on #1195
The issue here is that https://openmatt.makes.org/thimble/LTkyNDQ1MDgxNg==/tutorial-for-make-a-meme_ is being served with a content-type of `binary/octet-stream` vs. `text/html`, likely because it lacks an extension and the server doesn't know what it is so defaults to binary data.  @OpenMatt this is a file on your server, did you change something recently?

[2015-10-23 16:14] OpenMatt commented on #1195
@humphd ummm, not that I know of. possible to move that asset somewhere else? I have no idea why this is happening.

[2015-10-23 16:20] humphd commented on #1195
@OpenMatt it's not anything in the Thimble code--the browser is just trying to load what's at that URL, and your server is responding with a binary type, causing the browser to show a download dialog vs. rendering it.  Whoever owns this project could fix it by a) hosting that file somewhere and naming it with `.html`, and b) updating the project's metadata to point to the new URL.

@mickfuzz we're

[2015-10-23 19:34] flukeout commented on #1042
@humphd Sorry for the late entry here, but yes, we should be able to delete folders with content!

[2015-10-23 19:39] humphd commented on #1042
Cool, we landed a fix for this in Bramble to make it possible.  I'll add this to my list.

[2015-10-23 20:07] OpenMatt commented on #1195
@humphd when you say it's a file on my server, I'm not sure what that means. " https://openmatt.makes.org" is not a server I control or have access to. (Sorry for the dumb question.) Not sure if @jbuck might be able to help.

[2015-10-23 20:15] humphd commented on #1195
@OpenMatt indeed, I missed the `makes.org` bit and assumed it was your blog or something.  Yes, this is a @jbuck thing: we need `makes.org` to detault to `text/html` vs. an octet stream (see above).

[2015-10-23 20:23] humphd commented on #1042
I've got a fix up for review in https://github.com/humphd/brackets/pull/490 that builds on code @gideonthomas landed already.

[2015-10-23 21:51] jbuck commented on #1195
This was totally my fault, fixed in https://github.com/mozilla/make-valet/commit/eb1623ec726003fe92dabf5b1639afae5e0f7aeb

[2015-10-23 21:51] #1195 closed

[2015-10-24 16:49] mickfuzz commented on #1195
Thanks everyone. Just a super quick question seeing as you are here. Are old Thimble activities going to be migrated automatically. I ask because many activities linked from teach.mozilla.org/activities now no longer work.

[2015-10-24 16:55] humphd commented on #1195
Yes, auto-migration of current Thimble projects to the new system is being discussed and planned in https://github.com/mozilla/thimble.webmaker.org/issues/509.  No date has been set as yet, but it's coming.

[2015-10-24 17:14] mickfuzz commented on #509
This would be good to have sorted before Moz Fest otherwise a lot of activities linked to from Teach DOT won't work. Also a heads up would have been nice as I had a session teaching teacher trainers to use Thimble yesterday and well the old activities didn't work.
Maybe if there isn't a clear migration plan in place yet it's worth turning write back on until it is.

[2015-10-25 12:47] mickfuzz opened #1196 "Prevent this page from creating additional dialogues not present in Chrome"
Hi there,

I sometimes create activities that include javascript alert pop ups. Example at https://thimble.mozilla.org/user/mchesterman/35277

In the previous thimble both FF and Chrome had a box users could tick  "Prevent this page from creating additional dialogues not present in Chrome".

FF is still working fine.

![fff_thimb](https://cloud.githubusercontent.com/assets/3470500/10715663/54da889

[2015-10-25 15:47] gideonthomas commented on #1196
Hi @mickfuzz,

Thanks for reporting this! Can I ask which version of Chrome you are using? I can't seem to reproduce this on my version (46.0.2490.71).

[2015-10-25 22:41] jgmac1106 commented on #1195
@mickfuzz I manually transferred many of the old makes into Thimble projects (including the one by @OpenMatt).

We may want to do the same for activities that will now have dead links.

[2015-10-26 00:03] humphd commented on #1195
+1

On Oct 25, 2015 6:41 PM, Greg McVerry <notifications@github.com> wrote:

@mickfuzz<https://github.com/mickfuzz> I manually transferred many of the old makes into Thimble projects (including the one by @OpenMatt<https://github.com/OpenMatt>).

We may want to do the same for activities that will now have dead links.

—
Reply to this email directly or view it on GitHub<https://github.com/mozilla/

[2015-10-26 00:14] jgmac1106 commented on #509
I just wonder if a manual migration is quicker all around if the migration will be extensive work.

As of now  if it is a project that is linked to through things like Teach DOT or Made with Code does it make more sense to transfer these manually and let the bigger ticket issues get sorted out?

Honestly if the transition is going to take up a huge effort across multiple heartbeats would it be bet

[2015-10-26 16:20] hannahkane commented on #1164
@adamlofting - would it be useful to set up a quick conversation about this? I want to understand the blockers better.

[2015-10-26 17:37] flukeout commented on #648
Done

[2015-10-26 17:37] #648 closed

[2015-10-26 17:49] gideonthomas opened #1197 "Renames do not update the currently open filename"
STR:
* Open the `index.html` file in the editor
* Rename it to `main.html` (make sure that it is still open in the editor)
* The bar just above the editor still shows "Editor - index.html"

This is what *will* happen once https://github.com/mozilla/thimble.webmaker.org/pull/1180 lands.

[2015-10-26 18:12] flukeout commented on #1170
cc @gideonthomas I'm assuming if someone unpublishes the project, then we remove the record from publishedProjects, right? Are there any other considerations before we can add these fields?

[2015-10-26 18:35] gideonthomas commented on #1170
I don't think so, just the unpublish case.

[2015-10-26 21:06] gideonthomas opened #1198 "Renaming the project triggers multiple requests"
If you rename the project and click "Save", we get a console error "Uncaught TypeError: Cannot read property 'enter' of undefined" about 5-10 times and the request to `/projects/<project_id>/rename` also happens the same number of times

[2015-10-26 21:15] humphd commented on #1198
I also notice that it doesn't do this when you press enter, so we must be processing the click event too many times.

[2015-10-27 15:53] #1042 closed

[2015-10-27 15:54] humphd commented on #1042
Fixed and landed on staging in Brackets.  This will find its way into production soon.

[2015-10-27 16:20] secretrobotron commented on #1042
woohoo!

[2015-10-27 16:52] #1198 closed

[2015-10-27 16:52] humphd commented on #1115
This has landed on staging.

[2015-10-27 16:52] #1115 closed

[2015-10-27 17:50] humphd commented on #1146
I'm pretty sure that recent work on publish and how Thimble does syncing/publishing has fixed this.  I'm so confident, and full of hubris, that I'm going to close this and ask that we re-open if we see it again.

Also note: I've not landed everything I mentioned above on prod yet.  That's happening this week.

[2015-10-27 17:50] #1146 closed

[2015-10-27 18:30] humphd commented on #1007
From the [URL spec](https://url.spec.whatwg.org/#syntax-url-path-absolute), what we're trying to decide on here is whether we want to support **path-absolute-URLs** (starts with `/`) or **path-relative-URLs** (can't start with `/`).

I continue to think this is a bad idea, since the meaning of a path-absolute URL is that it belongs to the server root:

[code]

We don't support this, so making it w

[2015-10-27 21:18] jbuck commented on #509
I spoke to @cadecairos and we're pretty confident we'll have this done by the end of the week. We'll update this bug with a specific time when we've written some code!

[2015-10-27 21:22] humphd commented on #509
Wow! @jbuck++, @cadecairos++

[2015-10-27 21:37] hannahkane commented on #509
Thanks, @jbuck and @cadecairos !!!

[2015-10-28 01:26] flukeout opened #1200 "Found a record with created_date in the future in the projects table."
![image](https://cloud.githubusercontent.com/assets/25212/10777390/465db45c-7cd8-11e5-83c1-7f374bbac67d.png)

[2015-10-28 01:28] Pomax commented on #1200
I am looking forward to seeing what we're doing that day that sends it back into the past

[2015-10-28 01:33] humphd commented on #1200
@gideonthomas is this due to us having sent dates from the client, and maybe someone's machine having the clock set incorrectly?

[2015-10-28 14:19] gideonthomas commented on #1200
Yeah that could be possible! https://github.com/mozilla/publish.webmaker.org/issues/165 will probably fix it.

[2015-10-28 19:36] flukeout opened #1201 "Explore ways to track anonymous usage"
Currently we're only tracking projects created by authenticated users in our database. This gives us an incomplete view of Thimble use - as many projects are created anonymously.

What if we saved all projects that are created anonymously in the database under one special user. We could keep track of all of the same kinds of information.

cc @humphd @gideonthomas

[2015-10-28 22:37] flukeout opened #1202 "Add more info to the publishedProjects table."
Right now, we've got the following (with date_created and date_updated coming up :+1:)

![image](https://cloud.githubusercontent.com/assets/25212/10805224/66c1ced4-7d89-11e5-9c81-b25efd49c8b8.png)

Is there a reason for why this table is so sparse?

It would be great to have access to...
* published_url
* user_id
* id of the source project in the projects table

I find myself just querying the ``p

[2015-10-30 10:35] adamlofting commented on #1164
Sorry for the hold up. I've looked into this in more detail this morning.

We can add GA tracking while this is on cloudfront, and then switch the domain to thimbleprojects.org in the future. But we'll use a new `GA-xxx` id for this.

I've requested a new GA property from the MoCo team that will accept GA data from the domains `d157rqmxrxj6ey.cloudfront.net` and `thimbleprojects.org` - [See bug](h

[2015-10-30 17:45] flukeout opened #1203 "Deal with published projects without a root level index.html file"
First, let's grab recently edited published projects...

``select * from projects where published_id is not null order by date_updated desc limit 10``

Here's one of the records, with a publish_url...

![image](https://cloud.githubusercontent.com/assets/25212/10853428/3a3ae04c-7ef3-11e5-9250-9b5326019079.png)

https://d157rqmxrxj6ey.cloudfront.net/17706/10407

However, it doesn't exist when you tr

[2015-10-30 17:52] flukeout commented on #1172
Some more thoughts
* Let's put this information in the ``projects`` table, where the records are more permanent (instead of ``publishedProjects``
* Going further, it might make sense to keep remix information in a ``remixes`` table, then we can track the date of each individual remix action, or maybe just keep track of remixes per day
  * This would allow us to have a better idea of what projects

[2015-10-30 18:01] flukeout opened #1204 "Create a Thimble stats dashboard"
Let's make a dashboard! Here's a brief outlining what we could show!

https://docs.google.com/document/d/1kp5mOnm0AxiDt5w7IVoq9V-W9F_F84Smo06zyhpONwY/edit

**Here's the current progress...**

**Overview**
* Number of projects created today as well as a 7-day trend
* Thumbnails of latest 10 projects that are live and being edited

![image](https://cloud.githubusercontent.com/assets/25212/10853762/0

[2015-10-30 18:06] hannahkane commented on #1204
cc @ldecoursy @KevZawacki @adamlofting @chrislarry33 @chadsansing

[2015-10-30 18:20] Pomax commented on #1204
Are we high fidelity enough to see the "created" graph per hour, to get an idea when "the world" is most active on Thimble?

[2015-10-30 18:21] Pomax commented on #1172
keep in mind that it'll end up being a recursive check, though, so it's going to be a fairly expensive query

[2015-10-30 18:22] flukeout commented on #1204
@Pomax Not until we get the date_created field added to the publishedProjects table, right now we can only estimate when things were published.

[2015-10-30 18:23] Pomax commented on #1203
for the question, perhaps @gideonthomas knows. But in general, this query result validation would actually be really good to have running as a cron job, to check whether our db is in sync with the actual data on the internet.

[2015-10-30 18:23] Pomax commented on #1204
roger

[2015-10-30 18:24] flukeout commented on #1172
@Pomax This issue in particular is just about keeping track of when a thing was remixed, and not about tracking a chain of remixes, which is where your consideration would come into play. I'm not sure if that remix attribution ticket is filed anywhere yet.

[2015-10-30 22:39] hannahkane commented on #1172
+1 to getting trending data vs. just absolutes. Same principle would apply to views and likes and any other interaction data we're tracking in the future.

[2015-10-30 23:55] humphd commented on #1203
I'd like to know if there is an `index.html` or not.

[2015-10-30 23:56] humphd commented on #1203
@gideonthomas can you get us some data on this?

[2015-10-30 23:58] flukeout commented on #1203
It doesn't

![image](https://cloud.githubusercontent.com/assets/25212/10860573/66ce310c-7f27-11e5-91d2-1ba49dd3b591.png)

[2015-10-31 00:03] flukeout commented on #1204
The Dashboard is live here...
https://thimble-dashboard-staging.herokuapp.com/

[2015-10-31 00:57] humphd commented on #1203
So what should we do here?  Thimble is doing the right thing, but not what a user will expect.  Should we hand-out a different URL to the user, that's deeper in their tree?  Should we provide a default `/index.html` file that helps them get to the one they probably want?  Something else?

[2015-10-31 15:35] humphd commented on #1145
The work on the Thimble Dashboard basically solves this, if we just expose the user page to a logged in user:

![screenshot 2015-10-31 11 32 19](https://cloud.githubusercontent.com/assets/427398/10864407/849d9758-7fc3-11e5-9f89-9db810deb4b6.png)

[2015-10-31 15:38] humphd commented on #1106
This never really got anywhere, but in the meantime, @flukeout has done some neat work on the Thimble Dashboard.  Can I suggest that we expand on what he's done with the user page and just show that vs. what we do now?

![screenshot 2015-10-31 11 32 19](https://cloud.githubusercontent.com/assets/427398/10864416/ddc615c6-7fc3-11e5-941f-07ec515de7bf.png)

We can probably dupe #1145 on this.

[2015-10-31 16:00] humphd commented on #1204
I'm seeing lots of pages with `alert` and other popups.  Can you add the `sandbox` attribute to your iframes?  It will block them:

[code]

See https://developer.mozilla.org/en/docs/Web/HTML/Element/iframe

[2015-11-01 05:30] Pomax commented on #1204
as far as I can tell the dashboard iframes already have `sandbox` to prevent script execution. Is this on a specific part of the dash?

[2015-11-01 05:34] Pomax commented on #1203
hmmm... this feels like a teaching opportunity: if users publish without a top level index.html we could tell them that'll be a problem, and ask if we should autogenerate this so that their published site will automatically redirect to the index.html we did find in their project?
[code]

[2015-11-01 14:59] gideonthomas commented on #1201
What kind of information do you want to track for anonymous users?

[2015-11-02 01:20] Pomax commented on #1201
Alternatively, we could create a dedicated GA event for anonymous creation, and query google analytics for that information

[2015-11-02 08:01] Timboliu opened #1206 "Design forms"
Will Thimble make it easy to design forms (see link below) in the future?

http://www.qualitycodes.com/tutorial.php?articleid=15&title=Form-Design-Using-CSS-and-HTML

[2015-11-02 14:53] humphd commented on #1206
The tutorial you link above works perfectly in Thimble.  Is there something you were trying that wasn't working?

[2015-11-02 14:54] humphd commented on #1201
Yes, I'd vote for a custom GA event here.  Will that work for your needs, @flukeout?

[2015-11-02 14:56] humphd commented on #1203
I'd be interested to hear what @hannahkane, @ldecoursy, and others have to say about this.  There are various technical solutions we could go with.

[2015-11-02 15:04] humphd commented on #1204
@Pomax, you're right.  I went and inspected all of the iframes, and they all have `sandbox` applied.  So why are there sometimes JS popups?  My understanding is that it should block them, and http://caniuse.com/#feat=iframe-sandbox makes it seem like it is well supported across the browsers we use.

[2015-11-02 15:26] ldecoursy commented on #1203
Not sure I'm clear what this one is about, sorry!

[2015-11-02 15:39] humphd commented on #1203
@ldecoursy if a person renames `/index.html` to `/about-me.html`, or if they delete `/index.html` and create `/data/index.html` when they go to the published link we give them, they will get a 404, since there will be no `/index.html` file present.

Here's an example:

https://d157rqmxrxj6ey.cloudfront.net/acuevas03/26275

With the old thimble, you only ever had a single web page, so we could alwa

[2015-11-02 16:12] humphd opened #1207 "Deal with legitimate errors from publish without re-queuing path operation"
![screenshot 2015-11-02 11 10 24](https://cloud.githubusercontent.com/assets/427398/10886948/7765a270-8152-11e5-9947-78e1f9995ed6.png)

I made a file, quickly renamed it, and then I noticed a constant stream of attempts to delete it.  I think what happened is that the server never got the original file, so the delete always fails with a 400.  In this case we shouldn't bother retrying to do the del

[2015-11-02 16:18] humphd commented on #1196
I have been meaning to fix this for a while, so this morning I did! https://github.com/mozilla/thimble.webmaker.org/pull/1208.  I agree that we need an easy way to enable/disable scripts in the preview.

[2015-11-02 16:50] humphd commented on #1120
I saw more of this on twitter recently, especially people sharing the `/anonymous/*` links.  I wonder if we should change the word `anonymous` to something that better indicates "this isn't available to anyone but you on this computer".

[2015-11-02 16:51] Timboliu commented on #1206
I can copy past the HTML code in Thimble, but I was wondering if Thimble will make it more easy to design forms in the future?

[2015-11-02 16:54] humphd commented on #1151
We haven't seen a lot of this happen since this bug, and at the time that you reported it, we had a bunch of issues causing timeouts on the publishing server.  I feel like what we see here is the result of that.  I'm going to close this, and ask that we re-open or file a new bug if it starts happening again.

[2015-11-02 16:54] #1151 closed

[2015-11-02 16:55] humphd commented on #1132
@sedge what's the status of this?  It feels like it's been open for a long time...

[2015-11-02 16:59] humphd commented on #1206
If you mean, will we have visual tools for doing drag-and-drop style UI editing, no, there are no plans for this.

[2015-11-02 17:04] flukeout commented on #1203
@humphd When I load up a path on my own website that doesn't have an index.html file, I see the following...

![image](https://cloud.githubusercontent.com/assets/25212/10888350/94506012-8140-11e5-8105-9b0ab8eab7ea.png)

Which I think is actually pretty great. It tells me that yes, I have stuff on the web, but it's buried in a folder that I need to add to my path.

Can we do something similar? We c

[2015-11-02 17:06] humphd commented on #1203
Yes, we can do something like this--I've already got code for it in another project.

[2015-11-02 18:53] hannahkane commented on #509
Has there been progress on this ticket?

[2015-11-02 18:57] cadecairos commented on #509
@hannahkane Yup, I'm in the midst of testing and debugging the migration strategy on my local machine. @jbuck and I are hoping to get it finished tomorrow.

[2015-11-02 19:01] hannahkane commented on #509
Rad, thanks! cc @KevZawacki so he can follow along, since we're getting questions about this from users.

[2015-11-02 19:39] hannahkane commented on #1145
As discussed at today's stand, iirc, this solution works, but we'd need to add unpublished projects and related perms. Is that right?

[2015-11-02 19:56] Timboliu commented on #1206
This is exactly what I mean.
It's probably very hard to create a drag-and-drop style UI editor. Is this the main reason why Mozilla does not have any plans for this? And another question: who decides what functionality is created first. Do the developers of Thimble decide this? How are they making decisions? Is it based on research?

[2015-11-02 20:28] cadecairos opened #1210 "Get thimble working on node 4.2.x (LTS)"
It appears to be failing right now while compiling the Nan package for an unknown dependency.

[2015-11-02 20:29] humphd commented on #1210
@gideonthomas, @sedge, @Pomax, fyi.

[2015-11-02 20:42] humphd commented on #1206
Indeed, doing drag-and-drop style HTML editors is hard, and is outside the scope of what Thimble wants to be, which is a tool specifically aimed at teaching HTML, CSS, and JS.

In terms of how things get decided, there is a team of people who actively work on Thimble within Mozilla, and they take input from the community, as well as do user testing and research on what to add or improve.  I'd enco

[2015-11-02 20:42] #1206 closed

[2015-11-02 20:44] cadecairos commented on #1210
This might be https://www.npmjs.com/package/js-dom

as the contextify package is what's using an incompatible Nan version, and jsdom uses contextify.

[2015-11-02 20:44] humphd commented on #1210
Do we even use `js-dom` anymore?  I bet we don't!

[2015-11-02 21:30] jbuck commented on #1203
I see several options here:

1. For each directory a project has publish an index.html file that lists the files in each directory
2. Publish a list of files in each project directory to a json file, and rewrite the current error page to dynamically create a list of files after loading that json file
3. Allow anyone to list the s3 bucket and rewrite the error page to dynamically list the S3 bucket

[2015-11-02 21:56] hannahkane commented on #1203
Agree showing the directory is good, but definitely want to help the user understand why they might not be seeing what they expect to see. Maybe something like, "This project is displayed as a list of files because it does not have a default page (that is, a file called index.html). Learn more here" and we could link to a particular FAQ in Sumo.

[2015-11-02 22:25] hannahkane commented on #1120
Are the options @flukeout mentioned in the original comment possible? I like a combination of the first and third bullet points.

[2015-11-02 22:26] Pomax commented on #1203
To build on @hannahkane's point, where we understand autoresolution to index.html is a deliberate decision made at the server level, to normal people, it's magic, so it's good to adress it and if that means a dir listing: that might be good solution as long as we explain what they're seeing.

As presentation and publishing to the web has gotten more opaque, people have become very unfamiliar with

[2015-11-02 22:31] hannahkane commented on #1106
C/P'ing my comment from #1145: "As discussed at today's stand, this solution works, but we'd need to add unpublished projects and related perms."

Also, I like what we have on the Your Projects page now: last edited date + option to Delete.

There may be other functionality we'd want to add, too, like sorting / filtering.

Do we know how this page scales - is it paginated or do we do infinite scro

[2015-11-02 23:40] #1196 closed

[2015-11-03 06:36] mickfuzz commented on #1196
Amazing! Great work

[2015-11-03 16:10] sedge commented on #1132
We're really really close! The brackets part of this patch has landed but https://github.com/mozilla/thimble.webmaker.org/pull/1194 is breaking travis because of a dependency issue. There's only a couple of hours of work left on this, at most.

[2015-11-03 19:23] #1207 closed

[2015-11-03 20:07] #1170 closed

[2015-11-03 20:18] humphd commented on #1161
I fixed this, forgot to close.

[2015-11-03 20:18] #1161 closed

[2015-11-04 02:38] humphd opened #1215 "Add "camera" icon to Add File Menu to highlight selfie feature"
In the dashboard, I see very few people taking selfies.  I wonder if they don't know it exists?  What if we put a camera icon beside the green `+`, and broke it out of the `Upload...` dialog (or left it there, but _also_ but it in the top level)?  I wonder if it would spark people to try it more?

I think this icon is well known at this point.  From Twitter:

![screenshot 2015-11-03 21 36 09](http

[2015-11-04 12:46] hannahkane commented on #1215
Next to the + sign doesn't seem exactly right to me, since it's not a critical feature that people will be looking for often. But what if we added it to the + menu, so it said HTML, CSS, JavaScript, Take a Selfie, and then Upload?

[2015-11-04 12:56] jgmac1106 commented on #1215
We also have no projects that model the use of the selfie tool.

We need one simple project that uses this tool.

On Wed, Nov 4, 2015, 7:46 AM hannahkane <notifications@github.com> wrote:

[2015-11-04 15:34] gideonthomas commented on #1197
It seems like this will have to be solved in brackets itself.
Here's what I think a fix would look like:
* The change will probably happen out here: https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/lib/RemoteEvents.js#L80
* Listen for the `fileRenamed` bramble event which should give you the `oldFilePath` and the `newFilePath`
* Check if the `oldFilePath` is equal to

[2015-11-05 14:55] sedge commented on #1132
UGH so close. The patches have landed, and now I'm configuring the staging and production heroku apps to allow us to run this script as a one-off action.

In short, this means the creds for the invalidation are stored on Heroku instead of on your local machine, and anyone with heroku access to the apps can run the invalidation script.

[2015-11-05 16:58] humphd commented on #1204
Looks like your server is hurting (trying to load the dashboard):

[code]

[2015-11-05 18:29] sedge commented on #1132
Blocked by https://github.com/MozillaFoundation/mofo-devops/issues/230

[2015-11-06 08:26] jgmac1106 opened #1217 "Can we do something about the (remix) in titles"
So we are asking people to remix their mozfest experience. This leads to long file name with (remix)(remix)(remix) in them.

I have seen the same thing with my students. We need a better solution.

[2015-11-06 08:35] jgmac1106 commented on #1215
I have been watching my students use the selfie tool a bit and it is problematic as you can do nothing post-production to the image. Without a basic ability to crop the photo or choose portrait or landscape you end up with stretched images.

You almost have to plan your design around the limitations of the selfie tool. I see my students either: using stretched out images or b: uploading different

[2015-11-06 09:56] flukeout commented on #1204
I'm unable to connect to the database with Postico, and my app isn't able to fetch data either. Was anything changed about the db setup / authentication in the recent changes?

[2015-11-06 15:30] humphd commented on #1217
Sure! Fixed in https://github.com/mozilla/publish.webmaker.org/pull/193

[2015-11-06 15:58] humphd commented on #1215
@jgmac1106, we might want to split your comments off into a new bug, since it expands the scope of this bug.  Question though: how is this different than any image on the web?  If I upload an image and set both a width and height, I'll always get stretched images (i.e., improper aspect ratio).  There are JS libraries we could add to the Image Viewer in Brackets that let you crop or otherwise manip

[2015-11-06 16:59] humphd commented on #427
I've done more experiments with this, and I think we shouldn't do it.  The reason that it's not ideal is that with the Brackets live dev preview, we instrument the DOM a bunch in order to have editor highlighting work, live CSS updates, and a bunch of other stuff.  Also, dev tools are readily available in browsers now, if you really want this.  I'm going to close.

[2015-11-06 16:59] #427 closed

[2015-11-06 17:02] humphd commented on #513
We haven't gone the route of having different modes, so I'm going to close this.  If we decide to add that, let's file new bugs.

[2015-11-06 17:02] #513 closed

[2015-11-06 17:03] humphd commented on #528
This hasn't really sparked much interest.  I'm going to close and we can file new bugs if we decide to do it later.

[2015-11-06 17:03] #528 closed

[2015-11-06 17:38] humphd commented on #552
This never got going, and I suspect that we can use @flukeout's work on the dashboard (#1204) to just use sandboxed iframes instead.  I'm going to close.

[2015-11-06 17:38] #552 closed

[2015-11-06 17:39] humphd commented on #557
@flukeout can you figure out if there's anything actionable here that isn't filed, and then file anything remaining and close this?

[2015-11-06 17:41] humphd commented on #702
We're discussing adding the ability to show dir listings in #1203.  I'm going to dupe this on that.

[2015-11-06 17:41] #702 closed

[2015-11-06 17:41] humphd commented on #1101
We're discussing adding the ability to show dir listings in #1203.  I'm going to dupe this on that.

[2015-11-06 17:41] #1101 closed

[2015-11-06 17:42] humphd commented on #630
I haven't heard more complaints about this.  I'm going to close, and if you decide you want to do it some day, just send a PR.

[2015-11-06 17:42] #630 closed

[2015-11-06 17:45] humphd commented on #560
We've got a rename flow in now that's working.  Let's file new bugs if we decide it needs to be enhanced.

[2015-11-06 17:45] #560 closed

[2015-11-06 18:45] humphd commented on #856
No idea how we'd implement this, going to close.

[2015-11-06 18:45] #856 closed

[2015-11-06 19:09] humphd commented on #752
@flukeout Is this still an issue?

[2015-11-06 19:13] humphd commented on #1027
Talked to @flukeout about this, and our partial support for LESS is probably "good enough," since what he really wants is the easier selector syntax.  I'm going to close this, since it's in and landed.  If we ever decide to expand it so that it works with external file imports, we'll need to make it a manual process you run via UI.

[2015-11-06 19:13] #1027 closed

[2015-11-06 19:23] humphd commented on #1024
This landed, closing.

[2015-11-06 19:23] #1024 closed

[2015-11-06 19:23] humphd commented on #1023
We've compromised on a "Move To..." option in the right-click context menu, which has landed.  I'm going to close this.

[2015-11-06 19:23] #1023 closed

[2015-11-06 19:24] humphd commented on #1014
I don't think this is likely to happen.  If you want to do it, open a PR with the change.  Closing.

[2015-11-06 19:24] #1014 closed

[2015-11-06 19:25] #1070 closed

[2015-11-06 19:26] humphd commented on #1068
I think the fixes we have now in the UI, plus my "run JS on reload" will solve this.  Closing.

[2015-11-06 19:26] #1068 closed

[2015-11-06 19:34] humphd commented on #1163
The way we've hacked up the tree view in Brackets makes this hard.  I looked into fixing it, but we can't (currently) do anything that will satisfy your request.  I'm going to close.

[2015-11-06 19:34] #1163 closed

[2015-11-06 19:39] humphd commented on #1142
I'm going to close this issue since you two seem to have taken it to email.  If that's wrong, please re-open it.

[2015-11-06 19:39] #1142 closed

[2015-11-06 19:44] #597 closed

[2015-11-06 19:48] #948 closed

[2015-11-06 19:49] #753 closed

[2015-11-07 02:04] theatomickiwi opened #1220 "Thimble Bar Interferes With Top: 0px; CSS"
When using the css property <code>top: 0px;</code> the bar thimble appends to the html is covered by the content. I cannot think of any fixes other than using an iframe. Here is an example:
![mozilla thimble](https://cloud.githubusercontent.com/assets/13374049/11012901/ddcc9b20-84c9-11e5-960a-8fd842b3addb.PNG)

[2015-11-07 03:09] humphd commented on #1220
We've been discussing this in #1107.  You're right, and doing the iframe option (which we used to do) has other issues.

cc @flukeout, @Pomax

[2015-11-07 11:29] Pomax opened #1221 "Redirect thimbleprojects.org/user/<id>/remix to thimble.mozilla.org/<id>/remix"
JSbin gives users the option to see "the page" or "the editor with that page", which a feature I find is rather missing for thimble projects. You can't just add `/remix` to a thimble published URL and get to the editor, you actually need to substitute the cloudfront part with "thimble.mozilla.org", which is more than we can expect users to do. While there is a remix button, simply "getting the lin

[2015-11-07 11:45] sedge commented on #1132
As soon as https://github.com/mozilla/thimble.webmaker.org/commit/e056fb7208183cdbd9d5d371ef69d9b28e12021a makes it to production this is ready for the production distribution of cloudfront. Details on how to use it are in the patch.

[2015-11-07 12:02] sedge opened #1222 "[MozFest] Make markdown tutorial files more intuitive to use"
There are a few problems with our current implementation:

1. `<div class="tutorial"></div>` must be manually wrapped around markdown content to get the correct styling, which defeats the main purpose of using markdown to avoid HTML
2.  Adding a `tutorial.md` file is a two step process (add `tutorial.html` and then rename to `tutorial.md`)
3.  If possible, the generated `tutorial.html` file should

[2015-11-07 12:04] sedge opened #1223 "[MozFest] Add a markdown cheatsheet"
I credit GitHub's markdown cheetsheet for my mastery of it. We should provide the same opportunity to Thimble users!

[2015-11-07 13:21] sedge opened #1224 "Thimble breaks (timeout) on low-powered computers & sub-3G network speeds"
On the network side, testing in chrome revealed the threshold for success to be average 3G or greater speeds. We're also seeing older computers failing to load everything in time, causing a timeout.

Here are specs from one computer that failed to load despite adequate network speeds:

**OS:** Windows 7
**RAM:** 2GB
**CPU:** Intel Atom N450 @ 1.66ghz
**GPU:** Inten Graphics Media Accelerator 3150

[2015-11-08 03:42] humphd opened #1225 "Learn from #glcCodeDay + #MozFest spike, better scaling"
Today we had a lot of users hit us all at once.  I think it's a useful experience to reflect upon, and to try and learn from going forward.  Here's what the Thimble app looked like, followed by Publish:

**Thimble Node App:**

![screenshot 2015-11-07 22 32 40](https://cloud.githubusercontent.com/assets/427398/11018613/848efacc-859f-11e5-8244-b15b4b830a2b.png)

**Publish Node App:**

![screenshot 2

[2015-11-08 03:53] humphd commented on #1225
Another thing I noticed is that the GA numbers are totally bogus.  I watched the real-time stats for thimble.mozilla.org throughout the afternoon and it had zero correlation with what was actually happening on the servers or on Twitter--I could see more people using it via pics posted on Twitter than were ever showing on the GA dashboard.  If we're relying on these numbers in any way, I'd say you

[2015-11-08 03:56] humphd commented on #1225
Also, the continued cost of id.webmaker.org/login.webmaker.org for all authenticated routes is killing us.  Here's what it looks like to save files from Thimble to publish:

![screenshot 2015-11-07 22 54 33](https://cloud.githubusercontent.com/assets/427398/11018673/a4adb1a6-85a2-11e5-8e6b-ba571e27ff79.png)

Average times in the 267ms range, and taking 131% of the time, is a disaster.  I know @cad

[2015-11-08 12:44] Pomax opened #1226 "make "start from scratch" a real link"
Make start from scratch a link like "https://thimble.mozilla.org/new" and then link to that, so that it's easy to bookmark "starting something new" instead of only being able to go through loading a site, clicking a button, then loading thimble.

[2015-11-08 13:46] flukeout opened #1227 "Fix UX & Errors when moving a file into a folder that already contains a file with that name."
Right now, it fails silently and seems to freeze the file tree.

[2015-11-08 13:47] flukeout opened #1228 "Add ability to Upload a File directly into a folder."
If I have an images folder, I have to upload an image to the project root, then right-click and move it, which takes a bunch of work.

[2015-11-08 13:49] flukeout opened #1229 "Fix or change tutorial styling so that images don't extend over the edge of the tutorial."
This is what happens right now, on an image that isn't particularly wide...

![image](https://cloud.githubusercontent.com/assets/25212/11020705/81f057e0-861f-11e5-9f3c-0cfed0c65a8f.png)

Let's have it do something nicer.

[2015-11-08 13:50] flukeout opened #1230 "Deleted image still appear in the preview of a tutorial."
I deleted the image that is still visible here...

![image](https://cloud.githubusercontent.com/assets/25212/11020713/b2c77cd6-861f-11e5-9544-cace14874e21.png)

Can we trigger a reload of the preview pane on file delete?

[2015-11-08 13:53] flukeout opened #1231 "UX for moving files into folder makes you move your mouse too much."
The click area for the folder I want (left) and the OK action (right) is too far apart and is annoying.

A few suggestions
- We can make this popup narrower
- We can make it so the clickable area for the folder extends all the way across the box
- We can auto-select the next folder in the list after root (if moving from root)

![image](https://cloud.githubusercontent.com/assets/25212/11020721/1af4

[2015-11-08 13:58] flukeout opened #1232 "Add a better style for inline images in the tutorial."
Right now, all images have a white border and a drop shadow and have `display:block`. To include an inline image like an icon below...

![image](https://cloud.githubusercontent.com/assets/25212/11020731/b115edd6-8620-11e5-8e38-0f2203b5bee3.png)

..you have to manually override these styles. Note: the author of this tutorial tried to add an inline image and the default box-shadow we're adding makes

[2015-11-08 14:54] Pomax opened #1233 "let people load thimble.mozilla.org/user/someone/12345"
Don't rewrite the URL to "anonymous/go98hprfi2hfohw43ogf8w3u4gfuq3oy9834", but keep it the original URL, with a "you're in view/mess about mode, click here to fork and actually work on".

[2015-11-08 14:54] jgmac1106 commented on #1173
Here you go. I remixed it as the number of images in the file were messing kids up. Sorry I missed the mention: https://thimble.mozilla.org/user/jgmac1106/49889

Here are more that @sedge  created: https://d157rqmxrxj6ey.cloudfront.net/sedge/12075/ and https://d157rqmxrxj6ey.cloudfront.net/sedge/12075/

[2015-11-08 14:56] Pomax opened #1234 "remember scroll position when switching desktop/mobile view"
right now switching desktop/mobile view resets the scroll position, which makes it hard to "switch between the two" without needing lots of interaction just to be able to pick up in the same place.

[2015-11-08 14:59] Pomax opened #1235 "remember that I'm looking at a tutorial when logging in"
if I have a tutorial open, then click sign in, thimble reloads but does not remember that I was reading a tutorial, and where in that tutorial I was.

[2015-11-08 15:07] Pomax opened #1236 "history.back() does in-iframe nav, but does not sync the editor"
If I have two files like index.html and index2.html, with a button with `history.back()` on the second page, and a link `<a href="index2.html">go</a>` on the first, then clicking the link with index.html loaded navigates me to the index2.html file both in the preview and in the editor. However, clicking the history.back button in index2.html will navigate the iframe back to index.html, but the edi

[2015-11-08 15:10] jgmac1106 opened #1237 "Thinking about the Selfie tool"
This is a split of #1215. My thinking was that the way the image from selfie displays makes it not work. My students do not use it because there pictures stretch. @humphd commented that this is just like the rest of the web with having to fix pictures.

I don't think doing all of the coding to add the editor features makes sense. I just don't think the default image should be a rectangle.

Would t

[2015-11-08 15:17] jgmac1106 commented on #1237
I also think this is a curricular issue and maybe its in the wrong repo. Let me know it should be moved. We don't have a good selfie lesson on the webpage and @chadsansig's selfie projects are super webby. We may want a very simple project that uses selfie.

[2015-11-08 15:29] Pomax opened #1238 "<scrip src="script-1.js"></scrip> does not work"
The reason it doesn't work is pretty obvious, but there's nothing in Thimble that's telling me that I'm missing a fairly trivial "t" in the element tag.

[2015-11-08 16:01] jgmac1106 opened #1239 "Clicking back from a project to my projects takes an extra click in Firefox"
![thimblebug](https://cloud.githubusercontent.com/assets/10534566/11021190/b1c6b3d0-8631-11e5-94f1-fd5115cd92c2.gif)

It does not happen in Chrome.

Also I am wondering if the my project list should open in a blank target. I know we have said blank targets may violate best practice for accessibility but when sharing a lot of projects it was a PITA.

[2015-11-08 16:04] Pomax opened #1240 ""intense" JS gets in the way of typing text"
If I have some JS that would auto-run as the page loads, and it's fairly processing heavy, I can't reliably type HTML and plain text anymore because the processing "steals" the time necessary to register keyboard input, causing me to lose letters and even full words.

example: editing index.html on https://d157rqmxrxj6ey.cloudfront.net/mopaxian/12751/

[2015-11-08 16:08] humphd commented on #1240
You know about the new thing we added to disable JS execution?

![screenshot 2015-11-08 11 06 47](https://cloud.githubusercontent.com/assets/427398/11021225/eca15132-8608-11e5-9860-0750be169a20.png)

Or do I misunderstand?

[2015-11-09 17:26] gideonthomas commented on #1239
I wonder if this is: http://stackoverflow.com/questions/5259154/firefox-back-button-vs-iframes

[2015-11-09 17:28] gideonthomas commented on #1238
I think this calls for a "bump-up-in-priority" for fixing HTMLHinter

[2015-11-09 17:38] gideonthomas commented on #1236
`clicking the link...navigates me to the index2.html file both in the preview and in the editor` - It's interesting that this happens since I'm no sure we actually implemented this in brackets (I might be wrong here; @humphd might know about this better).
@Pomax do you have any thoughts on what "link navigation in the preview" UX should look like (including stuff like links inside linked pages, `h

[2015-11-09 17:41] gideonthomas commented on #1235
+1
From a more abstract perspective, we should fix our pref storage logic so that we can include this as well as other things.

[2015-11-09 17:51] gideonthomas commented on #1227
Interesting! It shouldn't fail, it was designed to overwrite the file with the same name - but I think this might also suck. @flukeout what would be a good solution to this? Maybe create a "conflicted file" or something + a warning?

[2015-11-09 17:52] gideonthomas commented on #1226
This will be possible(I'm pretty sure) once https://github.com/mozilla/publish.webmaker.org/issues/165 lands

[2015-11-09 18:03] gideonthomas commented on #1225
We might want to consider storing "sessions" on publish (probably as a table or by extending the "users" table with a mapping of username/id to "current oauth token") so that we only hit id.wm.org once and hit our local db instead for routes that require authz every time and are used often (like the PUT routes). I know this sorta defeats the oauth paradigm but this might give us some considerable

[2015-11-09 18:09] gideonthomas commented on #1204
@flukeout can you try again? maybe you accessed it at a bad time? If you're still unable to access it, I can pm you the creds (maybe try to re-type them in) and/or figure out what's wrong with you over video!

[2015-11-09 19:29] #945 closed

[2015-11-09 19:30] #529 closed

[2015-11-09 19:32] #1217 closed

[2015-11-09 19:48] humphd opened #1241 "Stop Thimble (client) DDoS'ing Thimble (server) and Publish (server)"
Spin-off from #1225, specifically related to timeouts and autosave.  Our current autosave works like this:

* Bramble autosaves (locally to filer fs/indexeddb) file changes every 5 seconds, or whenever the user switches files
* Thimble listens for file update/delete/rename events from Bramble, and queues them up
* Every 10s, we have a timer that runs and looks at the queue to see if there are upda

[2015-11-09 19:55] humphd commented on #1225
@gideonthomas, that's a great idea, I'll file it in publish.

Also, I filed https://github.com/mozilla/thimble.webmaker.org/issues/1241 to look at adding exponential backoff.

[2015-11-09 20:05] humphd opened #1242 "Full-screen preview without publishing"
Watching the tweets for National Girls Learning Code day, I noticed this pattern happening a lot:

![image](https://cloud.githubusercontent.com/assets/427398/11045027/1a28de1e-86f3-11e5-9617-c384302809c2.png)

Here you see someone wanting to either see or show their work without the editor or file tree.  In Bramble we actually have code to do this, and open the preview in another tab.  I think we

[2015-11-11 02:45] humphd commented on #1225
@jbuck btw, I notice that https://hourofcode.com is happening Dec 7-13, in term of another window of time where scaling might be wise.

[2015-11-11 16:29] jbuck commented on #1225
@humphd oof, good catch

[2015-11-11 21:06] sedge opened #1245 "Update home page video with new MDN docs shortcut key"
The new binding is `alt-k` on all platforms, but the video mentions `ctrl-k`.

[2015-11-12 17:49] flukeout commented on #1245
Yeah, that's the trouble with videos, huh.

[2015-11-12 17:55] flukeout commented on #1242
Yeah, been thinking about this too. I'll take a crack at some wireframes, we can tackle this in a few different ways...

* Pop open in new tab
* Have the preview pane take over the editor pane
* Have the preview pop-over the rest of the editor as a sort of lightbox

It seems like the biggest problem is that the preview pane is too narrow.

[2015-11-12 18:06] flukeout commented on #1240
We might want to look at moving this to the preview pane. Here it seems related to the Editor itself. I'll mock something up that we can discuss.

[2015-11-12 18:09] flukeout commented on #1238
@gideonthomas Is HTMLHinter a brackets plugin? Is it not picking up the error, or are we missing styles to help it display what's going on?

[2015-11-12 18:11] flukeout commented on #1226
:+1:

[2015-11-12 18:12] flukeout commented on #1220
Agreed - I think the approach we're honing in on in #1107 addresses this. Ultimately, I think it's okay that we will end up obscuring some small part of a project. I'm going to close this issue since we're already working on it.

Thanks for filing @theatomickiwi

[2015-11-12 18:12] #1220 closed

[2015-11-12 18:46] flukeout commented on #1177
Interesting - I'm not reaaaaly sure I'm following all of this other than a take-away that the tutorial feature is confusing, which I agree with.

I'll start a new issue where we can catalogue some of the problems and come up with some new ideas.

[2015-11-12 19:02] flukeout opened #1246 "Improve tutorial UX"
There's a general feeling that the tutorial feature is a little bit confusing. Here's a list of existing issues that highlight some of the problems...

* #1235
* #1105
* #790

From the Mozfest session...

* A ability to print the tutorial
* Switching context between preview and tutorial is cognitive overload for dyslexics

Additionally
* If someone clicks the tutorial.html file, we should switch t

[2015-11-12 20:45] flukeout commented on #1246
Here'a concept based on some discussions at mozfest. It allows the user to see the preview, file they're editing, and tutorial all at the same time.

![image](https://cloud.githubusercontent.com/assets/25212/11130695/35718a8c-893b-11e5-8f8b-dfc3143bc658.png)

[2015-11-12 20:48] sedge commented on #1245
@flukeout As a simple fix, can I recommend we add an annotation during that part of the tutorial with the correct command? YouTubers do this all the time to correct small mistakes.

[2015-11-12 21:17] flukeout commented on #1245
@sedge Good call, i'll do that.

[2015-11-13 00:57] flukeout commented on #1242
Here are some comps of the last two approaches I listed.

![image](https://cloud.githubusercontent.com/assets/25212/11135900/6f6a7dd4-895e-11e5-8b01-b0466904b7fe.png)

[2015-11-13 00:58] jgmac1106 commented on #1242
I like the idea of a preview opening in a new tab. Not sure if that is
technically possible.

On Thu, Nov 12, 2015 at 7:57 PM Luke Pacholski <notifications@github.com>
wrote:

[2015-11-13 02:43] humphd commented on #1242
@jgmac1106 we wrote code that does this, but haven't exposed the UI yet--so yes, it's technically possible.

With what @flukeout has done above, you wouldn't totally "leave" Thimble (i.e., you'd still have some visual connection to the tool).  Would opening in a new tab cause some people to feel like they've lost their place (editor is still there, but in another tab)?

[2015-11-13 04:35] jgmac1106 commented on #1242
Not sure I know I use the preview feature all the time when using the text
editor in WordPress.

In old Thimble when I wanted to preview before going live I would publish
but leave it unlisted.

I think when people are pulling the preview screen all the way over they
are try to see what it looks like on "the real web."

On Thu, Nov 12, 2015, 9:43 PM David Humphrey <notifications@github.com>
wrote:

[2015-11-13 18:06] gideonthomas commented on #1238
@flukeout yep it is a brackets plugin but we have not enabled it on thimble because the UI is terrible.
You can try it by adding `?enableExtensions=HTMLHinter` to your url to see what it currently looks like

[2015-11-13 18:09] gideonthomas commented on #1234
@Pomax neither @humphd nor I can reproduce this. Are you seeing this on prod?

[2015-11-13 18:12] gideonthomas commented on #1224
@sedge is this the homepage or the editor too?

[2015-11-13 18:15] #1241 closed

[2015-11-13 18:27] errietta commented on #1197
dibs

[2015-11-13 18:28] flukeout commented on #1246
Here's another take on tutorials. A tutorial step bar is presented at the top of the editor. Clicking a step takes the user to the related file and line number. When the step is dismissed, the tutorial bar becomes visible again.

![image](https://cloud.githubusercontent.com/assets/25212/11153965/2c696d68-89f1-11e5-9eab-7de7d7201e30.png)

[2015-11-13 19:14] #1007 closed

[2015-11-13 19:21] humphd commented on #485
It's not looking like this is going to happen any time soon.  Let's re-file if we decide to prioritize later.

[2015-11-13 19:27] humphd commented on #492
We're going to close this for now, and let's re-file if we decide to do a pure-offline solution.

[2015-11-13 19:27] #492 closed

[2015-11-13 19:27] #494 closed

[2015-11-13 19:27] #501 closed

[2015-11-13 19:27] #533 closed

[2015-11-13 19:27] humphd commented on #533
We aren't ever going to work perfectly on tablets.

[2015-11-13 19:28] #557 closed

[2015-11-13 19:28] #572 closed

[2015-11-13 19:29] flukeout commented on #1242
Also add in ability to "Add UI to allow editor to go fullscreen" from a closed bug.

[2015-11-13 19:29] #583 closed

[2015-11-13 19:30] #608 closed

[2015-11-13 19:31] #637 closed

[2015-11-13 19:32] #642 closed

[2015-11-13 19:32] humphd commented on #644
Let's migrate this to the curriculum repo.

[2015-11-13 19:37] humphd commented on #651
Dupe of #686

[2015-11-13 19:37] #651 closed

[2015-11-13 19:38] #714 closed

[2015-11-13 19:39] #738 closed

[2015-11-13 19:40] #742 closed

[2015-11-13 19:40] #743 closed

[2015-11-13 19:40] humphd commented on #751
Dupe of #719

[2015-11-13 19:40] #751 closed

[2015-11-13 19:41] #758 closed

[2015-11-13 19:41] #767 closed

[2015-11-13 19:41] #782 closed

[2015-11-13 19:42] #784 closed

[2015-11-13 19:42] #790 closed

[2015-11-13 19:43] #797 closed

[2015-11-13 19:46] gideonthomas commented on #834
Instead, let's just expose a link to the published project in this view.

[2015-11-13 19:47] humphd commented on #855
Fixed now.

[2015-11-13 19:47] #855 closed

[2015-11-13 19:50] humphd commented on #889
@flukeout suggests using `thimble-project/*` and then watch for this and nuke it when we import.

[2015-11-13 19:50] #916 closed

[2015-11-13 19:51] #935 closed

[2015-11-13 19:52] #959 closed

[2015-11-13 19:52] #960 closed

[2015-11-13 19:54] #985 closed

[2015-11-13 19:55] #1004 closed

[2015-11-13 19:56] humphd commented on #1009
@jbuck can you help with this?

[2015-11-13 19:56] #1025 closed

[2015-11-13 19:56] #1026 closed

[2015-11-13 19:56] #1028 closed

[2015-11-13 19:57] humphd commented on #1029
I think importing the zip file is a close as we're going to get right now, closing.

[2015-11-13 19:57] #1029 closed

[2015-11-13 19:58] jbuck commented on #1009
Yep, this is quick and easy

[2015-11-13 19:59] #1045 closed

[2015-11-13 20:00] humphd commented on #1046
We have other bugs on this, closing.

[2015-11-13 20:00] #1046 closed

[2015-11-13 20:00] humphd commented on #1047
Out of scope, closing.

[2015-11-13 20:00] #1047 closed

[2015-11-13 20:01] humphd commented on #1048
This should be solved via curriclum/tutorials.  Closing.

[2015-11-13 20:01] #1048 closed

[2015-11-13 20:02] #1054 closed

[2015-11-13 20:03] humphd commented on #1067
Too hard, no :)

[2015-11-13 20:03] #1067 closed

[2015-11-13 20:04] humphd commented on #1090
Dupe of #1203

[2015-11-13 20:04] #1090 closed

[2015-11-13 20:05] #1093 closed

[2015-11-13 20:06] #1096 closed

[2015-11-13 20:07] humphd commented on #1103
I think we've decided to keep this, it's working well for users on mobile. Closing.

[2015-11-13 20:07] #1103 closed

[2015-11-13 20:08] humphd commented on #1105
@flukeout is doing some more work on tutorials in other tickets, I'm going to close this for now.

[2015-11-13 20:08] #1105 closed

[2015-11-13 20:33] humphd commented on #1009
Merci!

[2015-11-13 20:37] jbuck commented on #1009
What favicon am I adding?

[2015-11-13 21:02] humphd commented on #1009
@flukeout what should @jbuck use as a favicon for published thimble makes on s3?

[2015-11-13 23:18] flukeout commented on #1238
Yikes! Haha...

![image](https://cloud.githubusercontent.com/assets/25212/11160009/cc752504-8a19-11e5-8ee8-a8cfb24d4a28.png)

[2015-11-14 16:49] sedge commented on #1224
Editor for sure. @Pomax You were playing with Thimble while travelling right? Did you find the homepage breaking?

[2015-11-15 12:22] errietta commented on #1197
@gideonthomas is this still a thing? I can't reproduce it. I change the file name (by right-clicking the file on the left and clicking rename), and the name above the editor changes right away?

[2015-11-16 15:06] chadsansing commented on #1246
Years of Bethesda and Bioware dialog trees have me leaning toward the tutorial anchored at the bottom of the screen.

[2015-11-16 16:02] #975 closed

[2015-11-16 16:46] sedge commented on #1132
This is done! See [the README](https://github.com/mozilla/thimble.webmaker.org#invalidating-cloudfront) for the quick version of how to do this.

[2015-11-16 16:46] #1132 closed

[2015-11-16 17:25] flukeout opened #1248 "Projects published before adding a 'date_created' field to 'publishedProjects' have a NULL 'date_created'"
@gideonthomas We'd talked about populating the ``date_created / date_updated`` field with the ``date_updated`` field from the associated project in the ``projects`` table. Is that still the plan?

![image](https://cloud.githubusercontent.com/assets/25212/11189235/eeb7bb8c-8c43-11e5-8922-10f76e0c86b5.png)

[2015-11-16 17:40] gideonthomas commented on #1248
I have a PR up for this: https://github.com/mozilla/publish.webmaker.org/pull/192

[2015-11-16 17:52] flukeout commented on #1248
Ah, cool - closing.

[2015-11-16 17:52] #1248 closed

[2015-11-16 17:59] flukeout opened #1249 "Fix preview bar icon size & alignment"
These should be the same size...

![image](https://cloud.githubusercontent.com/assets/25212/11190110/c372d56a-8c48-11e5-9129-b93069a2dce4.png)

[2015-11-16 18:50] flukeout commented on #1242
@humphd I'm going to hold off on this until we get a stronger indication that it's a desired feature. It's hard to tell from the screenshot you pasted if the person using Thimble at that time wanted the tool to do anything differently than what it was already doing (making the preview wider for a bit).

[2015-11-16 19:24] humphd commented on #1242
There's one use case that we should consider that our current approach doesn't cover, and that's being able to separate cursor focus between the preview and editor.  When it's all running in the same tab, you can't easily do things that require special focus or keyboard shortcuts.  I know @Pomax has hit this elsewhere.  It's not our default case, but it's one to consider.  It would be made less pr

[2015-11-16 19:37] humphd commented on #1245
And/or I can just restore the keyboard shortcut for this? It only affects the search box in Firefox.

[2015-11-16 19:38] flukeout commented on #644
Migrated to https://github.com/mozilla/webmaker-curriculum/issues/223 and closed.

[2015-11-16 19:38] #644 closed

[2015-11-16 19:46] sedge commented on #1245
Wouldn't that take away the functionality for firefox users? I think it's better to keep it as is.

@flukeout What do you think?

[2015-11-16 19:46] flukeout commented on #730
Some notes from chats at Mozfest:
https://docs.google.com/document/d/1iaE-Wy2WXpuo9RTgdhSbg4NVQPZKH9L9B_D2StPNdsk/edit?ts=5649f143&actionButton=1

[2015-11-16 20:02] flukeout opened #1251 "Improve UI contrast for projectors"
Imported from https://bugzilla.mozilla.org/show_bug.cgi?id=1206518

**Steps to reproduce**

We use Thimble for teaching at Kids/Girls Learning Code, often projected on an overhead projector

**Actual results**

The dark file index and header of the editor have very low contrast when projected on a white screen/wall. The names of the unselected files are barely visible in the sidebar

**Expected re

[2015-11-16 21:00] tessalt commented on #1251
it's the sidebar/header colours that have low contrast, and those don't change with the theme.

[2015-11-16 21:05] humphd commented on #1251
Indeed. This also reminds me of #1100, with a use case related to printing and contrast.

[2015-11-16 21:09] humphd commented on #1100
@flukeout we could add a media query for print specifically, and optimize Bramble for paper without trying to solve this directly in the light and dark themes.

[2015-11-16 21:25] humphd commented on #869
I have a fix for this in https://github.com/humphd/brackets/pull/502.  r? @gideonthomas

[2015-11-16 22:05] my2iu commented on #1100
No, I screen capture the web page, paste it into my lesson handouts, and print those out. The result is that the handout is mostly black with hard to read text. Having a print media query won't help with my screencaps.

[2015-11-17 16:58] humphd commented on #1224
There's a couple of things we can do here:
* bump our `waitSeconds` value for requirejs, so it doesn't timeout so soon on slow connections.
* the images we load are bigger than they need to be.  We could add some build-time image compression for the images on the homepage.  I tried compressing one of the project PNG files, and it went from 194K to 49K, a 75% size saving.
* evaluate our use of the

[2015-11-17 17:56] humphd commented on #1224
I've got PRs up against Brackets and Thimble for the require timeouts portion of this.

[2015-11-17 18:28] flukeout commented on #653
@humphd Since this was written, we've added tutorials, so let's try some instrumentation around that. It might be a good starting point. We can track...

* Clicks on each of "Preview" and "Tutorial"

It would be cool to track time spent in the tutorial too. I don't have experience with that kind of tracking, but I imagine we could keep a 'timer' running and send the time spend in each mode as a se

[2015-11-17 19:39] #1164 closed

[2015-11-18 01:08] flukeout commented on #1107
Here's the latest version - http://flukeout.github.io/thimble-home/stay-calm-2/

Here's how it works
* For touch devices, it shows the round Thimble button
  * Tap it to show the project details & remix button
  * Tap the Remix button to remix
* For non-touch devices it shows a Remix button
  * Hover over it to expand and see the project details
  * Click to Remix

Additionally
* No longer depende

[2015-11-18 17:06] flukeout commented on #1107
I forgot to add a click handler on the smaller (touch) version - adding now.

[2015-11-18 17:36] hannahkane commented on #1107
Love it. Does feel kind of distracting on mobile, but I don't think we can go any smaller.

[2015-11-18 17:39] flukeout commented on #1107
@hannahkane yeah, we can also fade it out on small screens if you scroll. Let's look into that later though. We're getting analytics on published projects very soon so we'll see if we have a mobile audience.

[2015-11-18 17:40] flukeout commented on #752
Closing because it will be addressed #1107

[2015-11-18 17:52] hannahkane commented on #1133
I think we can close this now.

[2015-11-18 17:52] #1133 closed

[2015-11-18 17:53] #1122 closed

[2015-11-18 17:56] hannahkane commented on #1203
+1 to Pomax's point. Can we prevent this from happening in the first place, at the point when an index-less project is about to be published?

[2015-11-18 18:01] hannahkane commented on #1009
should it be the same green Thimble that we use for the editor and homepage? question - can the user override our favicon?

[2015-11-18 18:59] hannahkane commented on #1246
nice work!

Some things:

1) I'd love to gather a collection of real tutorials that people have created, to see what characteristics they share. How long are they? How long is any given step? Do they include images?

2) I like the first option (paginated tutorial at the bottom), especially the progress bar, but would like to use it in practice to see how it feels. Can the user change the height of

[2015-11-18 19:03] hannahkane opened #1255 "Expose list of keyboard shortcuts to users"
Do we have this anywhere? Can we include a list of Thimble-specific keyboard shortcuts in a list, and link to it from the editor? Maybe turn the Help link into a menu with two options - FAQ and Shortcuts?

Or, if there are only a few (I don't know how many there are), maybe we could just list them in a dropdown from the Help link.

[2015-11-18 19:10] hannahkane commented on #1237
@humphd mentioned adding a cropping tool to the image viewer - I actually think that would be really helpful for users. @humphd - what are the downsides?

[2015-11-18 19:13] hannahkane commented on #1227
I think it should definitely give a warning before overwriting. Could give you options - "Replace" or "Keep Both" - if you choose to keep both, it appends the file name with something like "copy".

[2015-11-18 19:14] hannahkane commented on #1223
I'm starting to think the Help link should actually be a dropdown menu with links to the FAQ and other resources, such as the cheatsheet.

[2015-11-18 19:14] flukeout commented on #1246
@hannahkane I'll check the db for existing projects and see what tutorials I dig up.

[2015-11-18 19:17] gideonthomas commented on #1197
@errietta I can still reproduce this. Do you have that file open in the editor when you are renaming it?

[2015-11-18 19:19] hannahkane commented on #1177
Is this all covered in #1246? Should we close?

[2015-11-18 19:24] chadsansing commented on #1246
@flukeout, excellent. I need pointers :)

[2015-11-18 19:25] sedge commented on #1223
@hannahkane +1

Is there an issue filed for this? If so I'll add this as a comment there and we can close this issue.

[2015-11-18 19:32] hannahkane commented on #1173
I think @jgmac1106's project is a good intro project, similar to the Keep Calm make, but more personal for the user, which I like.

I also like what @sedge created, because it's very simple and straightforward, as well as pretty comprehensive.

I'm wondering, though, if what we're wanting here is actually an in-product tour (similar to what we just did with Goggles). I just rewatched the YT video

[2015-11-18 19:34] hannahkane commented on #1147
@flukeout - is this closeable?

[2015-11-18 19:35] hannahkane commented on #1140
Closing this here, because we're actually handling this in the teach.moz.org repo: https://github.com/mozilla/teach.mozilla.org/issues/1360

[2015-11-18 19:35] #1140 closed

[2015-11-18 19:36] flukeout commented on #653
@humphd In addition to the above, it would be good to track if someone edited or created a tutorial file.

[2015-11-18 19:38] hannahkane commented on #1110
I think this is covered in the ticket about a new treatment for tutorials. OK to close?

[2015-11-18 19:48] hannahkane commented on #1223
Just edited #1255 to be about this

[2015-11-18 19:48] #1223 closed

[2015-11-18 20:16] errietta commented on #1197
@gideonthomas yes, it's the currently open file when i try

[2015-11-18 20:27] humphd commented on #1237
Doing a cropping tool well is hard--we made one in Popcorn Maker.  Also, there's a bit of "if you give a mouse a cookie..." to adding features, and we'll find that people quickly want more, which I don't think we're equipped to do well.

Having said that, there are a ton of web-based photo editing tools, http://thenextweb.com/creativity/2014/02/24/9-browser-based-photo-editing-tools/ discusses som

[2015-11-18 20:36] flukeout opened #1256 "Can we add 'date_updated' and 'date_created' fields to publishedFiles?"
@gideonthomas Asked me to put this into the publish repo, but I first want to check if this would be possible on our end.

Would it be possible to do this? One reason I'd like it is that it would allow me to check which projects have tutorials that have been edited or created by a user as opposed to tutorials that are in a project as a result of remixing a project that already had a tutorial.

Tho

[2015-11-18 20:37] humphd commented on #1009
Yes, they can do it in their page (e.g., http://stackoverflow.com/questions/260857/changing-website-favicon-dynamically/260876#260876)

[2015-11-18 20:38] humphd commented on #1009
@jbuck it's this one https://thimble.mozilla.org/img/favicon.png

[2015-11-18 20:46] humphd commented on #1107
I think fading it out when you scroll is all this needs, and it's good to go.  @flukeout, are you going to hack it into the code, or do you want one of us to?

[2015-11-18 21:23] xmatthewx opened #1257 "Refresh doesn't always load a preview based on current code"
Sync sometimes fell behind, causing a manual preview refresh to show prior code.

**STR**
 - load a project
 - make a couple of quick edits
 - quickly hit refresh

**Expected**: See a preview based on current code
**Actual**: Occasionally saw a preview based on code a sync or two behind

I had a moment or two when I tried a thing and thought it failed, but then discovered it worked but wasn't yet

[2015-11-18 22:00] humphd commented on #1222
We're thinking about tutorials elsewhere, not sure this is a priority.  Closing for now.

[2015-11-18 22:00] #1222 closed

[2015-11-18 22:04] flukeout opened #1259 "Invent better UX for when someone shares the URL of their unpublished project."
Right now, when I'm signed in and editing a project, I see this in my browser's address bar:

![image](https://cloud.githubusercontent.com/assets/25212/11256572/77aab606-8e01-11e5-8fa6-0f1e248da3dc.png)

I may think to myself, I can send this link to @Pomax so he can see what I'm working on. If I do, and he loads it up, it turns into this for him..

![image](https://cloud.githubusercontent.com/ass

[2015-11-18 22:05] humphd commented on #1210
How important is this?

[2015-11-18 22:06] #1204 closed

[2015-11-18 22:08] cadecairos commented on #1210
Pretty important, I'd wager. Node 0.12 isn't maintained anymore IIRC, and any new devs coming to work on this tool will most likely be running at least LTS(4.1.2). I'm running 5.1.0 myself.

[2015-11-18 22:10] humphd commented on #1203
"Let's explain to the user what we're doing" says @hannahkane.  Could be at the point of publishing, or at the dir listing.  @flukeout will do some work on how to make this happen, what our messaging should be.

[2015-11-18 22:12] flukeout commented on #1203
@flukeout to break this into two tickets:
* One for showing a directory structure (with message)
* One for indicating to the user at publishing that they'll probably want index.html in their root

[2015-11-18 22:22] flukeout opened #1260 "Add directory & file view when looking at a published folder without an index.html file."
Something along the lines of...

![image](https://cloud.githubusercontent.com/assets/25212/11256233/98970024-8dff-11e5-8102-547d40a4459d.png)

@humphd said he's already got a solution.

In addition to this, we'll need to add a message at the top of this view that says something like...

`You're seeing this list of folders and files because the author of the project didn't include an index.html fil

[2015-11-18 22:24] flukeout opened #1261 "Warn users when they publish a project without an index.html file"
When users publish a project without an index file, Thimble throws a 404 message (and eventually will show a directory listing) which might be different than what a user expects.

Let's add a little warning / help message to the Publish popup when a user is about to publish without an index.html file. Something like...

[code]

Migrated from #1203

[2015-11-18 22:25] flukeout commented on #1203
Sounds like we're agreed on how to proceed here. I've split this issue into two tickets

* #1260 - Show a directory view when there's no index.html page
* #1261 - Warn users there's no index.html when they publish

[2015-11-18 22:25] #1203 closed

[2015-11-18 22:26] gideonthomas commented on #1197
@errietta can you share a screen grab of your process?

[2015-11-18 22:53] flukeout commented on #1227
@humphd Reproduced here in Chrome

![file-move](https://cloud.githubusercontent.com/assets/25212/11257027/1e02f688-8e04-11e5-8907-f7ccee45aa7a.gif)

[2015-11-18 22:53] hannahkane commented on #1260
Messaging sounds slightly passive aggressive. :) Suggested edit:

``You're seeing this list of folders and files because this project doesn't include an index.html file. Index files, when included in a project, are displayed automatically.``

[2015-11-18 23:04] hannahkane opened #1262 "Provide option to disable auto-enclosing tags"
From a tweet: https://twitter.com/agentrockstar11/status/666887017356095488

[2015-11-18 23:30] flukeout commented on #1242
By editing a few rules in the inspector while using the editor, I was able to achieve this...

![image](https://cloud.githubusercontent.com/assets/25212/11257739/885341e2-8e08-11e5-980d-8397c6794ae1.png)

Which is essentially what we're after. To achieve this we'll need...

* A bit of UI in the Preview Bar with a 'fullscreen' icon
* Some CSS for Thimble to collapse the header and editor bars
* An

[2015-11-18 23:36] jgmac1106 commented on #1262
I too would like this. As a novice I often write my content first and then
go back and tag.
I find myself constantly cutting and pasting closing tags.

On Wed, Nov 18, 2015, 6:04 PM hannahkane <notifications@github.com> wrote:

[2015-11-18 23:40] jbuck commented on #1009
Uploaded! I think it's working correctly, but would not mind a confirmation...

[2015-11-19 00:27] humphd commented on #1009
@jbuck I tried publishing and viewing a project: https://d157rqmxrxj6ey.cloudfront.net/humphd/14954/

It doesn't seem to have it.

[2015-11-19 00:28] humphd commented on #1262
This is really easy to do.  The question is, what we want in the way of UI, @flukeout?  Should I add another slider to the gear menu?

[2015-11-19 00:28] flukeout commented on #1242
Here we go - some potential UI

![image](https://cloud.githubusercontent.com/assets/25212/11258810/6a6a3646-8e11-11e5-9571-bf5064fa7566.png)

Icon choices aside, what do you guys think @hannahkane @jgmac1106

[2015-11-19 00:33] humphd commented on #1242
I think it's fantastic!  I'd love to help you make this happen.  This would solve the printing case too.

[2015-11-19 00:37] hannahkane commented on #1242
Nice! Feels like a really good solution.

[2015-11-19 00:40] jbuck commented on #1009
I see it working for me on that project in Firefox:

![screenshot 2015-11-18 19 39 49](https://cloud.githubusercontent.com/assets/578466/11259008/3694ceec-8e2c-11e5-8693-8f3a413d6e4c.png)

[2015-11-19 00:42] humphd commented on #1009
Not for me (Firefox or Chrome) so maybe a timing thing with cloudfront?  Let's test tomorrow.

[2015-11-19 15:22] humphd commented on #1009
Still doesn't work for me in these browsers, but does work in Safari, so I'm going to call this "cache" and say this is fixed.

[2015-11-19 15:22] #1009 closed

[2015-11-19 15:28] #653 closed

[2015-11-19 15:43] humphd commented on #1210
http://www.infoworld.com/article/3001675/javascript/nodejss-release-cycle-hits-the-fast-lane.html

[2015-11-19 19:35] gideonthomas commented on #1256
Yep shouldn't be too hard to timestamp the files.

[2015-11-19 21:46] flukeout commented on #1242
Making some good progress here, PR incoming soon.

![fullscreen](https://cloud.githubusercontent.com/assets/25212/11285342/dcd38888-8ec3-11e5-92b5-89273ec3319d.gif)

[2015-11-20 14:55] #1210 closed

[2015-11-20 22:25] xmatthewx opened #1267 "Handle overflow in Tutorial's pre.code"
Thimble's Tutorial.html includes &lt;pre class="code" &gt; as a preset style. Long lines break the box. Fix with ```.code { overflow:auto; }``` or similar.

[2015-11-23 14:07] #1242 closed

[2015-11-23 15:58] #1041 closed

[2015-11-23 17:00] gideonthomas commented on #1257
+1 to the first solution (let's allow refresh only when possible)

[2015-11-23 17:14] gideonthomas commented on #841
@flukeout I'll be terrible at styling this. But I can help you figure out where the code for this lies. So feel free to ping me when you start on this issue.

[2015-11-23 18:58] #1107 closed

[2015-11-23 19:41] flukeout commented on #752
Opening becuase hasn't been addressed. It's not as noticeable locally, but definitely a problem on staging and production. Taking it on now.

[2015-11-23 20:30] flukeout opened #1269 "Code in editor is offset and line numbers are missing after disabling a Fullscreen Preview"
See below...

![editor-fullscreen-bug](https://cloud.githubusercontent.com/assets/25212/11348869/e5facdb4-91dd-11e5-9bcb-450f06f89893.gif)

[2015-11-23 20:43] errietta commented on #1197
@gideonthomas now that I have everything up to date i can finally reproduce :smile:

[2015-11-23 20:55] sedge opened #1270 "Invalidation script fails on heroku"
Our thimble staging and production apps no longer contain a `.git` folder, which prevents the invalidation script from accessing the most recent commit's hash. We use that hash as the CloudFront `CallerReference`, uniquely identifying the invalidation.

cc: @jbuck

[2015-11-23 21:42] #1269 closed

[2015-11-24 18:02] jgmac1106 commented on #1267
I have a question about that as <code> works the same as <pre class="code"> what is the difference?

[2015-11-24 18:04] jgmac1106 opened #1272 "Forcing Title Change Before Save"
I am seeing many of my students get lost in myprojects mainly due to user error. They simply do not title projects and either end up with Project (remix) or Untitled Project.

Thinking, once again, that maybe we should force a name change on first save.

[2015-11-24 19:04] jgmac1106 opened #1273 "Remix button missing in Chrome"
I was testing the full screen option in both Chrome and Firefox and I think the remix button is missing when I open projects in Chrome. It does appear in Firefox.

[2015-11-24 21:04] jgmac1106 commented on #1273
Is was there for @flukeout and is now there for me: https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/15840/

[2015-11-24 21:04] #1273 closed

[2015-11-24 23:45] flukeout commented on #1272
Yeah, this has bothered me a bit personally too - I have a ton of projects on my list and I have no idea what they were or how they got there. We save your projects pretty aggressively. This could be solved by either/or/both of...

* Asking for an explicit save action the first tim you want something saved (and auto-saving after)
* Asking users to rename a project before saving if it's "Untitled"

[2015-11-24 23:47] flukeout commented on #1272
Also, some kind of preview of the project might be nice on that list too.

[2015-11-24 23:53] hannahkane commented on #1272
If we require a save action the first time, could we do a warning if the user tries to close the window before saving? I'm especially concerned about people who have been using Thimble and expect their work to be saved automatically.

Also, would that apply to anonymous users as well?

Love the idea of adding a preview on the My Projects page. It's already a part of the conversation in #1106.

[2015-11-25 00:06] jgmac1106 commented on #1272
Could it still autosave but then either before you publish or close the
window you are asked if you want to save a file name?

On Tue, Nov 24, 2015, 6:53 PM hannahkane <notifications@github.com> wrote:

[2015-11-25 01:00] asdofindia opened #1274 "Allow one to go from an element in preview pane to corresponding code (X-Ray Goggles like functionality for Thimble)"
#### Problem ####
@jgmac1106:

#### Solution ####
Mix X-Ray Goggles like functionality into Thimble.

#### Background ####

@humphd [commented](https://github.com/mozilla/thimble.webmaker.org/issues/573#issuecomment-121250653) in #573

@flukeout [commented](https://github.com/mozilla/thimble.webmaker.org/issues/1246#issuecomment-156509809) in #1246

@jgmac1106 asks in #1110 for line numbers

####

[2015-11-25 01:53] flukeout commented on #1255
And here's how that might look!

![image](https://cloud.githubusercontent.com/assets/25212/11386209/42d6fa70-92d4-11e5-8350-0cae93c27027.png)
![image](https://cloud.githubusercontent.com/assets/25212/11386214/5511a7d0-92d4-11e5-8130-0c0499f78b04.png)

For the keyboard shortcuts, I think we should just do an overlay in the style of google docs / irc cloud..

[2015-11-25 18:45] #1270 closed

[2015-11-26 21:36] sedge commented on #1255
@flukeout What are you thinking for an ETA on those designs?

[2015-11-27 17:55] humphd opened #1276 "Design UX for "inspector" feature in Bramble"
I've got a [PR up for Bramble](https://github.com/humphd/brackets/pull/506) that adds bi-directional inspecting (hovering in editor shows DOM element in preview; hovering in preview shows associated code).   It needs some thinking around proper UX:

* I think we need a button to turn it on/off, so it doesn't autoscroll your editor just by moving your mouse into the preview.  Maybe modelling it on

[2015-11-27 21:22] humphd commented on #1274
There are some great ideas in here.  I've started working on some of it in #1276 and https://github.com/humphd/brackets/pull/506.

[2015-11-28 11:51] jgmac1106 commented on #1274
+1 thank @humphd.

On Fri, Nov 27, 2015 at 4:22 PM David Humphrey <notifications@github.com>
wrote:

[2015-11-28 11:53] jgmac1106 commented on #1276
In tems of the on-off swith I wonder if this could be combined with
@flukeout's Ui around the help menu. Could the features people want to
toggle on and off (like this and auto-complete tags) be a check box in that
menu?

On Fri, Nov 27, 2015 at 12:55 PM David Humphrey <notifications@github.com>
wrote:

[2015-11-29 20:45] errietta commented on #1197
R? https://github.com/humphd/brackets/pull/507

[2015-11-30 14:17] chadsansing opened #1277 "Allow anchor/target navigation within tutorials"
To experiment with tutorial design and user-driven, non-sequential teaching and learning, we need to enable anchors and targets or another navigation solution inside Thimble tutorials.

Issue filed in response to anchors and targets not working here: https://d157rqmxrxj6ey.cloudfront.net/chadsansing/16686/.

[Back to issues.](https://github.com/mozilla/thimble.webmaker.org/issues)

[2015-11-30 15:10] hannahkane commented on #509
@cadecairos @jbuck - is there an update on this one?

[2015-11-30 17:26] flukeout commented on #1277
Agreed - I wasn't able to get anchors working in your project at all, @chadsansing

However, in another project they work in some circumstances, Remix this project and check it out:
https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/16448/

When you first open the tutorial and click the first linked bullet item, the tutorial opens in a new tab. However, if you first click the 'tutorial.html' file in

[2015-11-30 17:31] jgmac1106 commented on #1277
Here is the updates project where I was trying to do anchor links:
https://thimble.mozilla.org/user/jgmac1106/64926

I meant to update the same project but accidentally remixed my file rather
than editing my current file.

On Mon, Nov 30, 2015 at 12:26 PM Luke Pacholski <notifications@github.com>
wrote:

[2015-11-30 18:38] jgmac1106 opened #1278 "Sharing from my Projects"
This may be a dup issue as it is probably covered in the "profile" issues. If so feel free to close.

It takes me too many clicks to share a project. From "My projects" I have to open the project, click publish, and then copy the url.

There should be a share button or a copy url button from the my project page.

[2015-11-30 18:59] hannahkane commented on #1278
Going to consolidate this + #834 into #1106

[2015-11-30 18:59] #1278 closed

[2015-11-30 18:59] hannahkane commented on #1106
Note from @jgmac1106: "It takes me too many clicks to share a project. From "My projects" I have to open the project, click publish, and then copy the url.

There should be a share button or a copy url button from the my project page."

[2015-11-30 18:59] hannahkane commented on #834
duped by #1106

[2015-11-30 18:59] #834 closed

[2015-11-30 21:12] flukeout opened #1279 "Tutorial tab is still visible even if the tutorial.html file has been deleted."
See here, a project with a tutorial that I just deleted...
![image](https://cloud.githubusercontent.com/assets/25212/11484621/df3a6e4a-9763-11e5-88bc-7fb07f14bffa.png)

Refreshing returns things to normal.

[2015-11-30 21:13] flukeout opened #1280 "Unpublishing a project, and then republishing creates a different-than-before URL for the published project"
@gideonthomas What are your thoughts on this? I was under the assumption that you'd just always get one URL for a given project, if you unpublished and republished, it would restore it to the original URL.

Currently it seems to increment the URL by one, so that if someone has your previously published URL, they'll need the new URL to see your changes.

Is it possible to always use the same URL, s

[2015-11-30 21:50] flukeout commented on #1276
Here are some thoughts...

The inspector tool is another item in the Preview bar. Click to Turn it on.

![image](https://cloud.githubusercontent.com/assets/25212/11485517/743cf6e4-9768-11e5-8188-a4ec70204b0f.png)

Inspector icon is WIP

**When Enabled**

* Hovering over an element in the preview
  * Highlights that element
  * Highlights the relevant code and scrolls it into view in the Editor

![

[2015-11-30 22:08] flukeout commented on #1276
@humphd Let's discuss this proposal. In the meantime I'll be working on

* Finalizing the icon
* Finalizing the dark and light theme Code highlights

[2015-12-01 00:07] flukeout commented on #1276
Let's try ``rgba(0,135,207,.3)`` as the background color for the highlighted lines in the Editor, as seen below...

![image](https://cloud.githubusercontent.com/assets/25212/11488561/60aaec80-977c-11e5-83d0-842367d41c7b.png)

[2015-12-01 00:30] hannahkane opened #1281 "Update "Using Thimble" doc with new features"
https://github.com/mozilla/thimble.webmaker.org/wiki/Using-Thimble

[2015-12-01 16:40] hannahkane opened #1283 "Brainstorm solutions for offline needs"
Spoke with Melissa from #glccodeday, who loves Thimble, but would like to see a local version to solve problem of sometimes having no or spotty internet connections at events. In her use case, she doesn't need ability to publish without internet, but would like for learners to be able to edit and save locally (with expectation that they'd publish later, when they have internet access).

Let's brai

[2015-12-01 16:53] humphd commented on #1225
#1283 deals with better offline support.

[2015-12-01 21:50] flukeout opened #1284 "Evaluate / discuss alternative project-saving flow."
I'd like to discuss an alternative way to handle saving projects. Currently, users end up with a new project in their My Projects list when they are signed in and...

* They click **New Project** on the Homepage
* They click the **Remix** button on any published project

Personally, I find this leads to an ever growing list of projects in my list, most of which I don't really care about and would

[2015-12-01 22:08] simonwex commented on #509
Hey @hannahkane we ran into a problem with this export and EOY activities have taken the attention of @jbuck and @cadecairos.

Is there a timeline that has been communicated externally? I suggest we move this to post-orlando.

[2015-12-01 23:26] hannahkane commented on #509
Thanks for the update. I think we can probably wait until post-Orlando, but pinging @KevZawacki and @ldecoursy to share what we've communicated externally. (Summary since this ticket is long: this is the final step in migrating user's old Thimble makes to the new Thimble.)

[2015-12-01 23:34] ldecoursy commented on #509
We haven't communicated a date, but as mentioned above, we have been getting questions from users. Was hoping we'd have it sorted before Hour of Code, which is next week. Based on the EOY activities, is it still feasible to get done after Orlando but before Dec. 31?

[2015-12-02 00:19] flukeout commented on #806
Current progress...

![image](https://cloud.githubusercontent.com/assets/25212/11518550/3b7dfe5e-9847-11e5-8741-4ab6f709dd4d.png)

[2015-12-02 01:04] hannahkane commented on #1281
@humphd - I just added some of the new features to the Using Thimble doc and *then* read the first paragraph and realized your original intention for this page was to only demonstrate non-Brackets features. I know some of the new features I added are probably native to Brackets (though I'm not sure which ones). I can either remove them, or edit the first paragraph to say this is just about useful

[2015-12-02 01:06] flukeout commented on #1284
How can we figure out if this is happening to our users? Maybe...

* Do people have a lot of projects that are basically unchanged?
* We can compare the date created / date updated dates maybe?
  * Projects that have the same timestamp for these fields have never been edited and probably weren't meant to be saved?
* Do people have a lot of Untitled projects that are unpublished?

I'll dig into thi

[2015-12-02 01:11] flukeout commented on #1284
Anecdotally, I just asked @sabrinang to check her projects list:
* She had 6 total projects
* She knew what 2 of them were
* 2 were untitled

[2015-12-02 01:12] hannahkane commented on #1284
I also run into this all the time. +1 to this solution, pending research.

Sort of related and might effect the validity of the third bullet point above: I often forget to change the project title, even for "real" projects I'm working on, so having lots of Untitled projects might not mean that the person didn't mean for it to exist.  (I think there's another ticket where someone mentioned the idea

[2015-12-02 16:04] gideonthomas commented on #1280
So our design did not allow us to reuse ids in the publish database. We can think of ways to keep using the same url (for e.g. deleting the `publishedFiles` but not the `publishedProject` and instead adding a flag to indicate that it has been unpublished). But tbh, I don't know if this would be the most pressing issue especially since it would involve a bunch of work with migrations and changes to

[2015-12-02 16:41] soapdog opened #1286 "The live-reload/preview feature has perfomance issues while typing long JS files"
Thimble reloads/previews the project every couple keystrokes. When you're editing a JS file this leads to hundreds of cascading JS erros in the console which leads to performance degradation on the UI and more.

We could tweak that algorithm to refresh at a longer interval when editing JS or maybe even only refresh when switching files back to an HTML or pressing a play button.

I was working on h

[2015-12-02 17:54] flukeout commented on #1286
@soapdog You can disable Javascript in the gear menu in the editor. This will stop it from auto running.

![image](https://cloud.githubusercontent.com/assets/25212/11539163/8d10abc0-98da-11e5-9014-007b05062b33.png)

Let us know if this solves your problem.

The problem I anticipate is that when Javascript is disabled, it will be hard to test because you'll have to use the menu to turn it on, reloa

[2015-12-02 21:26] gideonthomas opened #1287 "Files don't save"
![auto-save](https://cloud.githubusercontent.com/assets/5816130/11544196/8f71bf38-990e-11e5-8872-a0d43c7c2795.gif)

It looks like changes to a file are either not being saved properly or are being overwritten with stale content when you navigate away from the page and back.

Tried doing a `Cmd+S` before navigating away, still didn't save.

[2015-12-02 21:33] Pomax commented on #1284
Another option is to do the opposite, and tell users that the thing they're currently looking at hasn't been saved yet, so just "new project" or "remix" will come with a "not yet saved" notice/warning/icon/text/some combination of those, and that notice goes away when the user actively does things like rename, save, or publish (although not necessarily on edits: it's nice to be able to just mess a

[2015-12-02 21:41] flukeout opened #1288 "Improve Icons in the UI"
We have a bit of inconsistency in the icon set used in the UI, look below...

![image](https://cloud.githubusercontent.com/assets/25212/11545110/4c0ead64-98fa-11e5-9927-3c1ed9c354eb.png)

There are a few different stroke widths here. I'll tighten this up - no rush though.

[2015-12-02 21:42] #1288 closed

[2015-12-02 21:43] flukeout commented on #1288
Nevermind! Looks pretty good.

[2015-12-02 21:43] cassiemc commented on #1288
fastest bug fix ever!

[2015-12-02 21:47] flukeout opened #1289 "UX Improvements for My Projects List"
We've had a lot of discussion about some of the features and improvements we'd like to see:

**Important**
- Indicate if a project is published, and if it is...
  - Show the link so you can copy & paste it or click it to open the project
  - Have a way to Remix the project directly
- Show a thumbnail of the project
  - For the dashboard, this is possible for published projects only, since they hav

[2015-12-02 21:53] flukeout commented on #1106
I moved this to #1289 where I've summarized the main points.

[2015-12-02 21:53] #1106 closed

[2015-12-02 22:05] gideonthomas commented on #1287
I tried waiting for 5 seconds, it still didn't save (unless that's the wrong autosave interval).

[2015-12-02 22:48] #806 closed

[2015-12-02 22:54] errietta commented on #1279
Can i take a look? alsocan you tell me what the event is that is called when a file is deleted :smile:

[2015-12-02 23:09] hannahkane commented on #1289
Awesome list. I like the idea of a dismissable set of remixable projects, near the "Start a new project" button.

Would add that we may need to accommodate the "old" thimble projects that will be migrated, as per #509. Will we group them separately, or otherwise indicate to the user that they were made with "old" Thimble? Perhaps not necessary if they work 100% as expected—could be a seamless expe

[2015-12-02 23:31] flukeout commented on #1245
I've updated the video with a little annotation...

![image](https://cloud.githubusercontent.com/assets/25212/11547560/bbe0e4a4-9909-11e5-8425-72b1347d7323.png)

[2015-12-02 23:31] #1245 closed

[2015-12-02 23:57] hannahkane commented on #1284
Re-reading Luke's initial comment and wondering if the Remix use case is perhaps far more problematic than the "New project" use case. I can't think of obvious reasons to click "New project" unless  you want to start a new project. "Remix" however is the only way we give people to look at someone else's existing project's code. I wonder if we need to provide a way to "View Source in Thimble" (read

[2015-12-03 00:03] humphd opened #1290 "Safari doesn't remove `display: none` on remix details bar in published page"
From irc, @omnignorant noticed that Safari isn't showing the remix button.  I've confirmed with:

https://d157rqmxrxj6ey.cloudfront.net/chadsansing/17148/

It appears that our jquery to remove the `display:none` on the remix header bar isn't working for some reason.  I see various sites discussing issues with `elem$.css(...)` in Safari.

[2015-12-03 00:06] humphd commented on #1287
@gideonthomas we should probably prioritize this this week, if it's really true that we're losing data.

[2015-12-03 00:15] humphd commented on #1287
My suspicion here is that you have changes in the local filesystem, and pending operations (updates) to sync to the server.  Then, you hit refresh, and it downloads the tarball again for this project.  We have code to ignore files that have pending deletes, but we don't have a similar code path to ignore files that have pending updates: https://github.com/mozilla/thimble.webmaker.org/blob/bramble/

[2015-12-03 00:29] flukeout commented on #1289
@hannahkane For now, the page just scrolls if you've got a lot of stuff. I'm going to dig up some of the old UX designs I had. In our next stand we should go through this list of features and changes with the rest of the team so we can get an idea of how much effort each would take.

[2015-12-03 00:32] flukeout commented on #1289
@hannahkane Are we planning to auto-import all old Thimble stuff? In that case I think it would be nice to have some kind of notice at least the first time that users see their Projects list. Let's figure out how much effort it would be to do that from a technical standpoint.

We could also just add a dismissable message along the top of that view for users that suddenly have new projects. Somethi

[2015-12-03 01:17] hannahkane commented on #1289
A one-time message could be the perfect solution. My assumption is that we're auto-importing old Thimble projects, but you know what they say about assumptions. Maybe @jbuck or @cadecairos could verify?

[2015-12-03 16:15] gideonthomas commented on #1287
So is it as simple as adding the extra changing the if condition in the code you linked from
[code]
to
[code]
?

[2015-12-03 16:32] humphd commented on #1287
Try it please, it might be that simple.

On Dec 3, 2015 11:15 AM, Gideon Thomas <notifications@github.com> wrote:

So is it as simple as adding the extra changing the if condition in the code you linked from

if(pendingPaths[path] === SYNC_OPERATION_DELETE)

to

if(pendingPaths[path] === SYNC_OPERATION_DELETE || pendingPaths[path] === SYNC_OPERATION_UPDATE)

?

—
Reply to this email directly or vi

[2015-12-03 17:40] #1267 closed

[2015-12-03 18:39] sedge commented on #1287
@gideonthomas seems pretty busy today, so I'll give this a try.

[2015-12-03 18:52] sedge commented on #621
Here are the results of my preliminary research:

### Brackets
*Analysis*:
* Static files, but likely to change at least once a month whenever a fix comes in
  * This means we shouldn't force caching for too long
  * To be flexible, we could upload files least likely to change (e.g. brackets core) and the most commonly built files (e.g. bramble.js) with different caching rules

*Suggestions*:
* Fl

[2015-12-03 20:17] #1287 closed

[2015-12-03 21:15] sedge commented on #621
As a followup, I think I'm wrong about S3. Since it already returns `last-modified` just adding the `cache-control` header should be enough to get that working.

[2015-12-03 22:04] jbuck commented on #621
We ended up doing several things on donate.m.o:

* All unversioned static content (at this point, only html files) has a `Cache-Control: max-age=300, must-revalidate, public` header applied. Examples:
  * https://donate.mozilla.org/en-US/
* Everything else is versioned with a content hash in the filename and has a `Cache-Control: max-age=604800, must-revalidate, public` header applied. Examples:

[2015-12-03 22:23] sedge commented on #621
@jbuck Huh. I'm confused about why you include a hash in the filename. That sounds identical to the purpose of the `etag` header, which would mean you could have avoided having to change filenames. What am I missing here?

[2015-12-03 22:31] jbuck commented on #621
The etag header is only useful for the browser. Versioned objects mean that you don't need to run an invalidation when you update an object: http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ReplacingObjects.html

[2015-12-03 22:38] sedge commented on #621
@jbuck  :+1: I KNEW I was missing something.

[2015-12-03 22:48] xmatthewx opened #1293 "Add 'view' to my project list items"
My list of project is my homepage. I always go there first. I'd love to see this when I log in. Once there: I'd love it if each item included three links:
 - [ ] View (if published)
 - [ ] Edit
 - [x] Delete

Maybe even a Copy Link option as well.

[2015-12-03 22:52] hannahkane commented on #1293
Thanks for filing! I think this is covered in #1289

[2015-12-03 22:52] #1293 closed

[2015-12-04 00:33] hannahkane opened #1294 "Better mobile version of homepage"
Including notification that Thimble doesn't work as an editor on mobile (a la Goggles). Could consider things like giving people an easy way to access their projects.

[2015-12-04 00:45] hannahkane opened #1295 "Thimble icon not appearing on published projects in iOS"
@flukeout says it's working on Android, though

[2015-12-04 01:01] flukeout opened #1296 "Re-think the positioning & placement of Remix button on published projects."
One of our goals in redesigning the new curriculum template was to publish it as a remixable project that anyone could use. Well, here it is...

https://d157rqmxrxj6ey.cloudfront.net/flukeout/17698/#step-2

Obviously there is a big problem here, the design we're using conflicts with our autmatically-added Remix button (and z-index issues)...

![image](https://cloud.githubusercontent.com/assets/252

[2015-12-04 01:18] flukeout commented on #1296
We could also indicate inside of the preview in Thimble that there is a reserved area at the top-right of the page.

[2015-12-04 01:19] flukeout commented on #1296
Here's the mobile version, which uses the entire top of the screen for a persistent navigation. It's not unreasonable to think that most mobile sites will have critical features & navigation in that area.

![image](https://cloud.githubusercontent.com/assets/25212/11579331/077d8e34-99e2-11e5-8662-6284e5473323.png)

[2015-12-04 01:22] flukeout commented on #1295
Indeed - will look into it.

[2015-12-04 11:35] chadsansing commented on #1296
Two other ideas, neither great:

1. Return the top bar, but keep it empty except for the remix button in the top right.
2. Append the button after the first block element as a kind of sub-header.

Otherwise, it would be interesting to think about how to make this a smart feature.

[2015-12-04 15:12] #869 closed

[2015-12-04 16:08] humphd commented on #1281
I think keep them, there's no point making people go looking at Brackets vs. Bramble for this stuff--no one other than me will care about the distinction :)  If you want to modify the first paragraph, go for it.

I'll add another section on the new Inspector when I land that later today.

[2015-12-04 16:27] hannahkane commented on #1281
Thanks, @humphd. Updated initial paragraph.

[2015-12-04 16:27] #1281 closed

[2015-12-04 16:39] #1276 closed

[2015-12-04 18:26] flukeout opened #1297 "Fullscreen preview overlay positioning bug when showing a long, scrolling page."
**Steps to Reproduce**
* Make a page
* Preview it in fullscreen mode (with a mouse plugged in on a Mac)
* The scrollbar is overlapped by the floating UI
* Looks ugly

![image](https://cloud.githubusercontent.com/assets/25212/11597537/347b4130-9a71-11e5-9fda-5fed5f436714.png)

[2015-12-04 18:34] hannahkane opened #1298 "Consider adding blog posts tagged #thimble to thimble homepage"
People new to Thimble might not be aware of the Webmaker blog, but perhaps we could pull in relevant blog posts.

[2015-12-04 18:35] hannahkane commented on #1298
Or maybe just a link.

[2015-12-04 18:57] flukeout commented on #1296
Chiming in for @humph, who suggested we might look at the bottom-right corner as a better location. It seems to be a bit of a pattern lately that we could lean on.

[2015-12-04 19:01] hannahkane commented on #1296
I agree bottom-right could be better placement (fixed, so that it's visible even on long pages), but am also intrigued by @flukeout's ideas for making it less obtrusive. Do we have data on when the Remix button is typically clicked? e.g. is it most often within 5 seconds of loading a page?

[2015-12-04 19:14] flukeout commented on #1298
I think having links to the last few articles would be great. On a broader note, we should probably have a different blog name now? A teach blog? I'll file another issue for ideas on how to communicate new features within the tool itself.

[2015-12-04 20:04] flukeout opened #1299 "Explore UX / UI of highlighting new features within Thimble."
We're just about to land the inspector, but have no good way of calling attention to it or explaining how to use it within the tool. What are some options...
- When we land a new feature, we can launch the editor with a popup/overlay explaining it.
  - Users can dismiss it and it will only be shown once per user
- We can use the default starting content in the Blank New Project to call attention t

[2015-12-04 20:52] humphd commented on #1281
I added the inspector section: https://github.com/mozilla/thimble.webmaker.org/wiki/Using-Thimble#inspector

[2015-12-04 20:58] humphd opened #1300 "z-index issue with Remix details bar"
see https://d157rqmxrxj6ey.cloudfront.net/stacy/18018/, we don't seem to be applying the right z-index.

[2015-12-04 21:04] humphd commented on #1274
This has landed on production now, and I've documented it here:

https://github.com/mozilla/thimble.webmaker.org/wiki/Using-Thimble#inspector

[2015-12-04 21:04] #1274 closed

[2015-12-04 23:34] jbuck commented on #693
We've got the domain thimbleprojects.org [registered and ready for use](https://github.com/MozillaFoundation/mofo-devops/issues/209). We need to do some migration in the database and credential rotation though

[2015-12-05 02:21] davidascher commented on #693
I'm out of the loop: what's wrong w/ makes.org?

On Fri, Dec 4, 2015 at 3:34 PM Jon Buckley <notifications@github.com> wrote:

[2015-12-05 18:43] #1300 closed

[2015-12-06 03:27] humphd opened #1302 "Always let a user work on a project, even if services are down"
There was a period of time today when the id server was down for a few hours:

![screenshot 2015-12-05 22 24 13](https://cloud.githubusercontent.com/assets/427398/11611501/11f698c4-9b9f-11e5-9770-03ced9cd2f8c.png)

During that time, requests to the publish server, which depend on id, were returning 500s.  The result was that users could load thimble.mozilla.org (the homepage), but trying to open a

[2015-12-07 17:01] gideonthomas commented on #1256
Moving out of Dizzneyland since we don't want to make any significant database changes to publish right now

[2015-12-07 17:03] gideonthomas commented on #509
This still involves some work on the publish-side and based on a conversation during the Thimble standups, moving out of Dizzneyland and into Final Stride.

[2015-12-11 19:46] #1197 closed

[2015-12-14 17:47] gideonthomas commented on #719
This should automatically be fixed once mozilla/publish.webmaker.org#165 lands

[2015-12-14 18:18] flukeout commented on #1297
This actually happens only briefly when you first have a mouse plugged in, but then unplug it. After a few seconds the scrollbar changes to the trackpad-only style and things look OK again - so closing.

[2015-12-14 18:18] #1297 closed

[2015-12-14 20:08] flukeout commented on #1290
Related to #1295

[2015-12-14 20:12] humphd commented on #1286
I'm going to close this, since we have a way to deal with this, and let's file new bugs on improving this if needed.

[2015-12-14 20:12] #1286 closed

[2015-12-14 20:21] humphd commented on #1262
Let's start by doing this as an extension for this.

[2015-12-14 20:29] humphd commented on #1257
I suspect this is only going to happen for JS files, and is due to the file not being saved yet when you hit refresh.  We should probably save the current file in the editor before we refresh.

[2015-12-14 20:33] humphd commented on #1215
Let's add "Take a Selfie..." to the `+` icon menu.

[2015-12-14 22:05] humphd commented on #1259
Some random thoughts:

* should we change the word "anonymous" to "private" or "local" or "unpublished" or something else that better indicates that you can't share this?  What about "draft"?  The idea of making a draft of something
* should we follow Google's lead with URLs on Photos, where you can get a "Share" link for a photo, and then give that to someone?  Basically the idea would be to deco

[2015-12-14 22:22] #1290 closed

[2015-12-14 22:34] hannahkane commented on #693
I think we wanted better branding, plus we've been evolving to using "projects" rather than "makes" as the terminology.

[2015-12-14 22:58] flukeout commented on #1284
A related idea from #1272 is to force users to rename their project from Untitled Project before saving.

[2015-12-14 22:59] flukeout commented on #1272
Closing, as I've incorporated this into the thinking in #1284

[2015-12-14 22:59] #1272 closed

[2015-12-14 23:06] flukeout commented on #1280
Closing as Thimble works as intended. We can check up on expectations around this in our research.

[2015-12-14 23:09] #1280 closed

[2015-12-14 23:13] flukeout opened #1305 "Research - what are user expectations around URLs when unpublishing and republishing a project."
Re-filed from #1280 - When a user unpublishes a project, and republishes it, we serve it under a new URL every time. Is this what users expect?

[2015-12-15 13:26] LauraReynal commented on #1305
@secretrobotron @lauraReynal

[2015-12-15 13:37] jgmac1106 commented on #1305
When I change the file name a new project should be saved or a prompt
should ask me if I want to save or overwrite existing project.

Version control is really hard and I mess up all the time.

On Tue, Dec 15, 2015, 8:26 AM Laura de Reynal <notifications@github.com>
wrote:

[2015-12-15 17:18] flukeout commented on #1295
#1304 Fixed this issue too - all is well.

[2015-12-15 17:18] #1295 closed

[2015-12-15 17:49] flukeout opened #1306 "Project rename input loses focus when an auto-save is triggered, causing you to type into the document."
Steps to reproduce
- Make a change to one of the files in the project
- Immediately after, star renaming your project
- While you're changing the name, the auto-save kicks in
- Editor regains focus, and you are typing into the edited file now

![rename-focus](https://cloud.githubusercontent.com/assets/25212/11818787/2cd9c89a-a311-11e5-9ee4-0d2bad3565aa.gif)

[2015-12-15 18:49] hannahkane commented on #1259
Would like to understand the use case better. Are you sharing with Pomax because you want him to be a collaborator - you want him to be able to edit and/or comment? Are you sharing with him because he wants to remix it himself? Are you wanting to share the final project (not necessarily the code), but don't want it to be visible to just anyone yet?

[2015-12-15 20:17] melissacrnic opened #1307 "Can you tell us how many times someone has remixed one of our projects?"
Specifically this one: https://d157rqmxrxj6ey.cloudfront.net/ytvholiday/14497/

Thanks!

[2015-12-15 20:59] humphd commented on #1307
I'll have to get @gideonthomas or @flukeout to help with remix numbers, since it will require a db query.  But here is GA data for that page:

![screenshot 2015-12-15 15 57 15](https://cloud.githubusercontent.com/assets/427398/11823902/aa620574-a344-11e5-9047-f4dab61f4586.png)

[2015-12-15 21:06] melissacrnic commented on #1307
Thanks! So fast!
ᐧ

--
Melissa (Crnic) Sariffodeen
Co-Executive Director,
Ladies Learning Code
647-922-6110
@learningcode @melsariffodeen
www.ladieslearningcode.com

On Tue, Dec 15, 2015 at 12:59 PM, David Humphrey <notifications@github.com>
wrote:

[2015-12-16 03:12] humphd opened #1308 "Update modules reported by npm-check"
Thanks to @Pomax, I ran `npm-check` on Thimble, and it reports the following:

[code]

We should probably try updating these.  I'm not sure how much it will break.  cc @sedge

[2015-12-16 16:25] #1225 closed

[2015-12-16 17:12] flukeout opened #1309 "Bad styles in tutorial.css"
Some of the styles in tutorial.css are producing unexpected results, here's a screenshot from...
http://chadsansing.github.io/curriculum-testing/intermediate-web-lit-two/fonts-1-tutorial.html

![image](https://cloud.githubusercontent.com/assets/25212/11848028/2d817dc8-a3d5-11e5-9dd0-5af7bba0e6be.png)

Looks like this flex rule is the problem...

![image](https://cloud.githubusercontent.com/assets/

[2015-12-17 23:35] flukeout opened #1311 "Getting saving failed, retrying errors..."
![image](https://cloud.githubusercontent.com/assets/25212/11885123/b15e3146-a4d3-11e5-841d-826acce114d1.png)

Just started noticing this now - 3:35 PM PST - December 17

[2015-12-17 23:39] flukeout commented on #1311
Seems like other projects are saving fine - but this one isnt.

``https://thimble.mozilla.org/user/flukeout/69635``

[2015-12-17 23:53] flukeout commented on #1311
While this was happening, I uploaded some image files - and they seem to be persisting in the project, even though the UI is reporting a Saving Error...

![image](https://cloud.githubusercontent.com/assets/25212/11885651/48c80e92-a4d6-11e5-9315-751a65e57b5b.png)

[2015-12-17 23:53] flukeout commented on #1311
In this state, I'm unable to update the published version. It's stuck on "Publishing..."

![image](https://cloud.githubusercontent.com/assets/25212/11885660/5d9926da-a4d6-11e5-8ae4-9dd24145fa7c.png)

[2015-12-17 23:57] flukeout commented on #1311
cc @gideonthomas When you get a chance, let's try to troubleshoot?

[2015-12-18 21:04] flukeout commented on #1311
Clearing the IndexedDB files table resolved this - but we should put in place something that prevents this from happening to other users.

Seemed like moving files into folders is what started this chain of events. I'll try to reproduce it.

[2015-12-19 16:58] gideonthomas commented on #1307
Unfortunately for the moment we will have to rely on GA data until https://github.com/mozilla/thimble.webmaker.org/issues/1172 is fixed

[2015-12-22 18:45] ScottDowne opened #1313 "No obvious user friendly way to download images use in a project"
Example, I want to download the images used in this project.

![download](https://cloud.githubusercontent.com/assets/197334/11962987/d4e7b59c-a8b1-11e5-947b-5700e1d1f813.png)

First thing I tried was right click, but that didn't work, second thing I tried is looked for a download icon in the image preview.

For what it's worth, right click is something I know to do as a developer, I think the down

[2015-12-22 18:46] ScottDowne commented on #1313
Maybe also a way to download the whole folder in one go.

[2015-12-22 19:08] humphd commented on #1313
If you are logged in, you can export the project as a zip, see https://github.com/mozilla/thimble.webmaker.org/wiki/Using-Thimble#export-a-project

On Dec 22, 2015 1:46 PM, ScottDowne <notifications@github.com> wrote:

Maybe also a way to download the whole folder in one go.

—
Reply to this email directly or view it on GitHub<https://github.com/mozilla/thimble.webmaker.org/issues/1313#issuecommen

[2015-12-22 20:15] Pomax commented on #1313
does right-click in the preview work, though?

[2015-12-23 07:10] ScottDowne commented on #1313
I could only right click on the actual finished project view, not the right preview panel.

[2015-12-23 15:59] Pomax commented on #1313
@humphd is the right click intercepted for the preview pane? does the source mapping on click kick in without looking at which button was pressed maybe?

[2016-01-01 19:42] jjnilton opened #1314 "Show Preview panel below the Editor panel"
Hello, here goes a suggestion: to make a option to show the Preview panel below the Editor, giving better experience to narrow resolutions on split view/multi windowed workspaces.

![image](https://cloud.githubusercontent.com/assets/228200/12071954/394e6642-b0a6-11e5-808a-30fdc6147e02.png)

[2016-01-04 01:21] jgmac1106 opened #1315 "Changing File Name Should Save a New File"
Feel free to close if dupe ticket.

I have lost quite a few projects (user error) given we are trained that changing a file name saves a new version of a file.

If I change the project name of an existing project it should save a new project.

At the very least I need a "remix" or "copy project" button on the "My Projects" page. I use many projects as templates for future work. Currently to remix

[2016-01-04 03:30] Pomax commented on #1315
I'd think a "copy as new project" menu option would be quite useful, too.

[2016-01-04 11:14] jgmac1106 commented on #1315
on a unrelated and positive note I found my overwritten project in earlier
draft form. Now I just need to update some links. But I agree with @pomax

On Sun, Jan 3, 2016 at 10:30 PM Mike Kamermans <notifications@github.com>
wrote:

[2016-01-04 16:32] hannahkane commented on #1315
Not necessarily a dupe, but adding a "Remix" button to the My Projects page is already a part of #1289.

@jgmac1106 - what do you mean that we're trained that changing a file name saves a new version of a file? Curious to understand better.

[2016-01-04 16:37] jgmac1106 commented on #1315
I meant there are usually two commands. Save and Save As. In retrospect
changing file name doesn't usually save a new file .

It was late so the rant probably doesn't make much sense. I am going to
close the ticket.
On Mon, Jan 4, 2016 at 11:32 AM hannahkane <notifications@github.com> wrote:

[2016-01-04 18:14] #1315 closed

[2016-01-04 18:19] flukeout opened #1316 "Weird styling on Heading elements in the tutorial"
Headings in the numbered list are center aligned for some reason, see below...

![image](https://cloud.githubusercontent.com/assets/25212/12096765/850abd7e-b2cc-11e5-9024-fb5b4e1491f5.png)

[2016-01-04 18:51] flukeout commented on #1316
Closing as should be resolved by an existing PR

[2016-01-04 18:51] #1316 closed

[2016-01-05 16:59] gideonthomas opened #1317 "Triage issues"
We need to triage existing bugs mainly in the [thimble.webmaker.org](https://github.com/mozilla/thimble.webmaker.org/issues) and [brackets](https://github.com/humphd/brackets/issues) repos to reflect a realistic and achievable bug list that will help engage potential contributors and show more or less in which direction Thimble is heading.

We should probably have a discussion in this ticket about

[2016-01-05 17:29] gideonthomas opened #1318 "Localization Tracker"
META bug to track all the l10n related tickets from this repo and the dependent projects (brackets, publish.wm.org, etc.)

### Technical planning ticket:
 - [ ] #1331

### Thimble
- [ ] #475 - Discussion bug
- [ ] #662 - Language preferences from id.wm.org
- [ ] #1335 - Design UI & UX for displaying and changing the language

---
### Brackets
- [ ] [#311](https://github.com/humphd/brackets/issues/

[2016-01-05 17:52] flukeout commented on #1317
I took a first pass at organizing all of the [Current Bugs](https://github.com/mozilla/thimble.webmaker.org/issues?q=is%3Aopen+is%3Aissue+label%3Abug)

**Feels important**
* [ ] #1277 Allow anchors within tutorial
* [ ] #1311 - "Saving Failed, Retrying.." error

**Less important**
* [ ] #1306 Project rename loses focus
* [ ] #1279 Tutorial tab still visible
* [ ] #1249 Preview bar icon size & alig

[2016-01-05 17:55] flukeout opened #1319 "Editor 'stuck loading' in Firefox"
When @kristinashu tries to remix https://d157rqmxrxj6ey.cloudfront.net/flukeout/22181/, firefox hangs on the loading overlay in the editor.

The last console error that is thrown is...
`SecurityError: The operation is insecure. main.js:16:0`

This seems like the same problem we've encountered in Chrome that is resolved by clearing all of the localstorage and indexed db entries for thimble, except

[2016-01-05 18:11] flukeout commented on #1249
Just checked and it's fixed.

[2016-01-05 18:11] #1249 closed

[2016-01-05 18:11] flukeout commented on #1227
@gideonthomas Can you reproduce?

[2016-01-05 18:21] hannahkane commented on #1317
@flukeout - I like your bug triage list. I added P1 labels to the two in "Feels Important."

@gideonthomas - did you want to triage other issues as well, including feature requests? I think that would be useful, and was hoping to do that next week, maybe when @Pomax is back from PTO. Would love to follow up with some communications to community.

[2016-01-05 18:25] #1309 closed

[2016-01-05 19:48] gideonthomas commented on #1317
yeah that sounds like a great idea!

[2016-01-05 20:18] gideonthomas opened #1320 "Technical Debt Tracker"
META bug to track all the technical debt issues that need to be fixed/dealt with before/while we start to work on l10n from this repo and the dependent projects (brackets, publish.wm.org, etc.)

See https://github.com/mozilla/thimble.webmaker.org/issues/1317 for details on priority

### Thimble
- [x] [#1226](https://github.com/mozilla/thimble.webmaker.org/issues/1226) - Use real links instead of j

[2016-01-05 20:35] gideonthomas commented on #1319
@flukeout That's a pretty weird error and I suspect that it might not be the same as the Chrome issue.
@kristinashu are you able to remix it in chrome? Also, would you be able to tell me the version of firefox that this is failing on?

[2016-01-05 20:44] kristinashu commented on #1319
@gideonthomas Yup, works great in Chrome. I'm on Mac Firefox 44.0b4

[2016-01-05 20:55] humphd commented on #1319
@Pomax and I were trying to help a person on Twitter with the same problem, and could never get to a satisfactory level of understanding.  One thing I did discover in my research is that `localStorage` will honour the browser pref for disabling cookies, which means that trying to touch storage will throw this non-catchable error.  I'm not sure if that's at play here or not?

[2016-01-05 21:06] flukeout opened #1321 "Can't add a Tutorial immediately after deleting Tutorial"
**Steps to reproduce**
- Add a tutorial
- Delete it
- Try to add another tutorial
- The option isn't there

A refresh solves this problem.

![tutorial-bug](https://cloud.githubusercontent.com/assets/25212/12127629/2a3789ae-b3ad-11e5-8f5a-c489f8f8adf5.gif)

[2016-01-05 21:31] humphd commented on #1321
This is where that stuff gets handled (we listen for events on the `/tutorial.html` file being added or removed):

https://github.com/mozilla/thimble.webmaker.org/blob/bramble/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L170-L177

There must be something broken in there?

[2016-01-05 21:44] gideonthomas commented on #1319
Hmm so if I turn off cookies and try to remix that project, I see the `SecurityError: This operation is insecure.` but it shows it for `bramble.js:3:0` and not `main.js:16:0` that's in the error above. Also, It doesn't hang and instead I see the `There was an error loading your Project...` message (which is expected). So I doubt that it's having issues with accessing storage.

I wonder if there is

[2016-01-05 21:45] humphd commented on #1319
Yeah, I've never been able to reproduce this at all.  I suspect it's a corrupt db or something in the profile.

[2016-01-05 22:18] hannahkane commented on #482
Down to 18 issues, most of which I think we can close. Would be good for someone with more knowledge than me to review, though. @gideonthomas ? @Pomax ?

[2016-01-05 22:50] cadecairos commented on #509
@jbuck I'm pretty sure I've figured out how to safely get the control characters out without stripping newlines and tabs and other save (but non-printable characters)

`tr -cd '\11\12\15\40-\176'`

we've already migrated staging with the other command we used for sanitizing (`tr -cd '[:print:]\n'`)

But I migrated the staging data successfully on local databases, so yay.

[2016-01-05 23:05] hannahkane commented on #1148
@flukeout - should we close this ticket here, and potentially open a new one in the Teach repo at some point?

[2016-01-05 23:06] hannahkane commented on #1147
This is done, and there's a related ticket in Teach repo, so closing.

[2016-01-05 23:06] #1147 closed

[2016-01-05 23:08] hannahkane commented on #1111
@flukeout - I think we can close this for now. Will pick up as part of larger Teach work. Reopen if you disagree. :)

[2016-01-05 23:08] #1111 closed

[2016-01-05 23:13] hannahkane commented on #1314
Good suggestion, @jjnilton. I think we'd need to discuss this in the context of #1246, where we were thinking of separating out the Tutorial pane into a section below the Editor.

[2016-01-05 23:15] hannahkane commented on #1307
Closing this ticket. #1172 remains open to address the larger issue.

[2016-01-05 23:15] #1307 closed

[2016-01-05 23:26] hannahkane commented on #1317
On second thought, there are probably too many tickets for a useful vidyo chat, so maybe we can do some more async categorization until we have a smaller number of issues we need to talk about.

FWIW, my thoughts about priority are suggested in the [roadmap](https://github.com/mozilla/thimble.webmaker.org/wiki/Roadmap).  Top priority = localization and shutting down old Thimble. After that, I'd lo

[2016-01-05 23:31] humphd commented on #1314
One data point is that Bramble supports this (we have an API for it, which we could expose to Thimble).  If we did this, we'd have to alter the logic for how the two halves of the user bar get sized, since they currently used layout events from Bramble to match the widths of the file tree, editor, and preview panes.

[2016-01-06 06:39] cathyatseneca opened #1322 "Preview does not show dynamically added links to files in the project"
Hi,

I was trying to figure out why an image wasn't loading for a p5.js sketch within thimble (my cousin claims it loads using FF but not chrome.  I couldn't get it to load in either). I can load it through an image tag but not through the sketch.  Console gives a 404 error when I looked at it.

I was going to publish and send the url but it seems that the sketch with the image does load in the pu

[2016-01-06 15:31] gideonthomas commented on #1322
@humphd not sure how we want to approach this (it won't be easy) but this involves re-writing paths in js files to blob urls because in @cathyatseneca's project, an image is loaded dynamically through js using a relative path so in the preview, the path that it resolves to is `https://mozillathimblelivepreview.net/..../mypath` which 404s.

@cathyatseneca I had a similar issue when loading content

[2016-01-06 17:03] humphd commented on #1322
The only way to solve this is to rewrite our server using Service Workers, and let arbitrary URLs from JS work without needing to pre-render.  I'm planning to try it this winter as part of my personal research, but it won't happen soon.

On Jan 6, 2016 10:31 AM, Gideon Thomas <notifications@github.com> wrote:

@humphd<https://github.com/humphd> not sure how we want to approach this (it won't be ea

[2016-01-06 20:23] gideonthomas commented on #482
I think @Pomax is in a better position to decide which bugs need to be closed. It seems like most of them are old-thimble specific requests and should all be closed. But I defer to @Pomax.

[2016-01-06 20:46] gideonthomas opened #1323 "Thimble UI zoomed in on iOS"
Thimble looks like it's been zoomed in a lot on iOS 9.2 Safari and you cannot zoom out. I'm able to reproduce this on my iPhone. No idea if this is also the case on an iPad.

This probably bring up another issue about whether we want thimble (specifically the editor) to be useable on a phone or not and how much effort we should put into it if we decide that it should.

cc @chadsansing, @flukeout,

[2016-01-06 20:51] gideonthomas commented on #730
@hannahkane are we moving forward with this in anyway?

[2016-01-06 20:57] gideonthomas commented on #1039
I don't think we're gonna be doing this anytime soon, closing

[2016-01-06 20:57] #1039 closed

[2016-01-06 21:05] gideonthomas commented on #1110
Closing since the discussion has been picked up here: https://github.com/mozilla/thimble.webmaker.org/issues/1246

[2016-01-06 21:05] #1110 closed

[2016-01-06 21:10] gideonthomas commented on #1124
I don't think that we are going to end up supporting this; closing!

[2016-01-06 21:10] #1124 closed

[2016-01-06 21:28] hannahkane commented on #730
I think we should keep this open because the answer is....I'm not sure. :) cc @davidascher to weigh in on possible partnership opportunities

[2016-01-06 21:33] gideonthomas commented on #1177
Closing since the discussion has been picked up here: https://github.com/mozilla/thimble.webmaker.org/issues/1246

[2016-01-06 21:33] #1177 closed

[2016-01-06 21:34] hannahkane commented on #1323
I think it's unlikely we can support editing on mobile soon. Perhaps we should say as much to users?

[2016-01-06 21:36] gideonthomas commented on #1202
@flukeout are you sure this is still necessary? Most of this can be accessed using slightly longer queries on the projects table. Adding these columns in will involve quite a bunch of migrations and code changes.  Not sure if the technical effort is worth it.

[2016-01-06 21:41] gideonthomas commented on #1227
yeah this is a bug

[2016-01-06 21:43] #1233 closed

[2016-01-06 21:49] gideonthomas commented on #1120
https://github.com/mozilla/thimble.webmaker.org/issues/1259 has some more discussion points

[2016-01-06 21:49] gideonthomas commented on #1259
Closing so that we can continue the discussion in https://github.com/mozilla/thimble.webmaker.org/issues/1120

[2016-01-06 21:49] #1259 closed

[2016-01-06 22:03] gideonthomas commented on #1319
Possibly related: https://github.com/mozilla/thimble.webmaker.org/issues/1136

[2016-01-06 22:05] gideonthomas commented on #1323
This is also related: https://github.com/mozilla/thimble.webmaker.org/issues/1294

[2016-01-06 22:27] davidascher commented on #730
My opinion is that while getting thimble data published is a good idea, it
does not currently seem a critical consequence of the strategy as written.
It could totally show up though, but it doesn't feel like a P1.

On Wed, Jan 6, 2016 at 1:28 PM hannahkane <notifications@github.com> wrote:

[2016-01-06 22:32] gideonthomas opened #1324 "Documentation for new contributors"
The thimble project is a pretty complex one. It depends on a bunch of other projects (brackets, publish.wm.org...) and the relationships between them are pretty convoluted (I myself am lost a lot). In order to engage contributors, we need to make the on-boarding process as smooth as possible. One major improvement to this process can be thorough documentation.

Things that the documentation needs

[2016-01-06 22:41] flukeout commented on #1324
Thanks for starting this work @gideonthomas - it sure is a bunch of moving parts. I can take on writing a guide that explains how to add a feature in the Thimble UI that talks to the brackets editor (like the full screen preview, for example).

[2016-01-06 22:50] humphd commented on #1120
Another example of user confusion: https://twitter.com/fth_nix/status/684468236004540416

[2016-01-07 15:28] gideonthomas commented on #1324
@flukeout that's a great idea, let's break this down into smaller bugs that each of us can take on and document. We should probably outline the different parts of documentation that need to be done first and we can figure out what kind of strategy would be appropriate for each piece.

[2016-01-07 16:51] gideonthomas commented on #676
Closing since the discussion has moved to https://github.com/mozilla/thimble.webmaker.org/issues/1100

[2016-01-07 16:51] #676 closed

[2016-01-07 16:57] gideonthomas commented on #1317
I added the "good first bug" tag to a couple of issues.

Adding to @flukeout's comment, how do we want to deal with the "less important" issues? Should we close them? Or should we mark them with a "wontfix" tag?

Here are some more issues that I think we should consider closing:

Close | "wontfix" | Leave open | Issue
-------- | ----------- | ---------------- | -------
<ul><li>- [ ] </li> | <ul><l

[2016-01-07 18:57] hannahkane commented on #1317
I'm +1 on closing all of these. One that gave me pause is #958, because I think it adds value, but still okay to close, so we can focus more exclusively on l10n and planning/research. The work implied in #1139 would need to be revived if/when we move forward with more project discovery tools, but am okay with closing now.

[2016-01-07 20:07] gideonthomas commented on #1317
I'll label #958 and #1139 as P3s then so that it'll be easier to access them later on.

[2016-01-07 20:39] flukeout commented on #1317
I'm okay with closing those as well.

[2016-01-07 20:42] gideonthomas commented on #1323
Closing for now since we're not supporting editing on mobile. As for how we're gonna handle that: https://github.com/mozilla/thimble.webmaker.org/issues/1294

[2016-01-07 20:42] #1323 closed

[2016-01-07 20:42] gideonthomas commented on #1302
Probably not something we're gonna figure out anytime soon. Closing.

[2016-01-07 20:42] #1302 closed

[2016-01-07 20:43] gideonthomas commented on #1257
This is an edge case and since there is a workaround for this, closing.

[2016-01-07 20:43] #1257 closed

[2016-01-07 20:44] gideonthomas commented on #1240
Closing since there is a workaround.

[2016-01-07 20:44] #1240 closed

[2016-01-07 20:45] gideonthomas commented on #1236
Don't think we're going to be supporting chained links and history navigation in the preview for now.

[2016-01-07 20:45] #1236 closed

[2016-01-07 20:46] gideonthomas commented on #1202
Closing since all this info can be acquired from the projects table.

[2016-01-07 20:46] #1202 closed

[2016-01-07 20:46] #1200 closed

[2016-01-07 20:47] gideonthomas commented on #1134
Don't think we'll be able to do this anytime soon. Can re-open later on.

[2016-01-07 20:47] #1134 closed

[2016-01-07 20:47] gideonthomas commented on #983
Most of this is already done. We can work more on this later on, but for now, closing.

[2016-01-07 20:47] #983 closed

[2016-01-07 20:48] gideonthomas commented on #707
This is a pretty big change that we probably won't be able to implement anytime soon.

[2016-01-07 20:48] #707 closed

[2016-01-07 21:29] gideonthomas commented on #1317
Ok, all issues in this repo now have either a P1, P2 or P3 tag attached to them. I did this based on what I saw in the roadmap for v2.4 and v2.5. @hannahkane and @flukeout feel free to take a look and change any of the tags that you feel need to be changed (especially the ones re: learning).

As it stands right now the count for each tag is:
[P1 issues](https://github.com/mozilla/thimble.webmaker.

[2016-01-07 21:45] simonwex commented on #1317
Could you describe your delineation for P1/2/3?

[2016-01-08 16:36] gideonthomas commented on #1317
Sure, here was my thought process for it:
P1 - Localization and transitioning from old-Thimble as per [v2.3](https://github.com/mozilla/thimble.webmaker.org/wiki/Roadmap#v23-full-parity) + [urgent technical debt](https://github.com/mozilla/thimble.webmaker.org/issues/1320#issue-125042573) + unrecoverable issues
P2 - Less urgent technical debt + making thimble more social (discovery of projects and

[2016-01-08 22:28] hannahkane commented on #1317
The priority labels on Thimble tickets look right on to me. Feels good to have this kind of clarity. Thanks, @gideonthomas.

[2016-01-11 16:52] humphd commented on #1324
Can we do this in the Github Wiki?  If you fill out a TOC and the basic pages you want, I'm happy to contribute docs on the parts I know well

[2016-01-11 22:32] flukeout commented on #1311
Just updating because it happened again - resolved by clearing Indexed DB, files table.

[2016-01-12 00:00] flukeout opened #1325 "Adding a new folder to the tray adds it in the wrong place."
Right-clicking below the last folder in the gif and selecting "new folder" adds it to that folder, instead of to the root, as would be expected...

![folder-bug](https://cloud.githubusercontent.com/assets/25212/12250506/4da104d2-b87c-11e5-903c-61d9337136a0.gif)

[2016-01-12 16:32] gideonthomas commented on #1325
Yeah I'm pretty sure this is a react issue in brackets. Before creating the new folder, if you click on one of the files first (give it focus in the file tree) and then create the new folder (the same way you do above), it will work as expected.

[2016-01-12 17:16] gideonthomas opened #1326 "Limit total project size"
I can't find the issue for this that we filed before so re-filing. We probably want to limit the total size of a project for a couple of reasons:
1. It will be taxing on the server if it happens as a drag 'n drop.
2. It will increase load time significantly
3. Remixing will take longer

cc @Pomax

[2016-01-12 17:25] Pomax commented on #1326
It'll also prevent an easy exploit, so one idea would be to have a soft cap and a hard cap, where taking up anywhere between zero and the soft cap, things work fine; once you go over the soft cap, you get an advisory that your project is getting really big and you should consider moving some files to a dedicated host instead, so you can link to them instead, but still allow the data to go through.

[2016-01-12 19:12] gideonthomas commented on #1277
@humphd I'm a bit confused about some of the code re: link navigation.
[Out here](https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/nohost/HTMLServer.js#L143-L157), you add your anchor tag manipulation script **only** if there isn't a live doc. In most cases, a live doc exists. So most of the time, the script will not be injected and a link like `<a href="https://googl

[2016-01-12 21:04] gideonthomas commented on #1277
Also, @humphd, do you know why we/brackets injects a `<base>` tag with the thimble url into the preview iframe? That seems to be the cause of this issue

[2016-01-13 04:15] humphd commented on #1277
@gideonthomas the injection of that code happens in 2 places: the one you found, and also here: https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/lib/PostMessageTransport.js#L182-L199, which gets called by the LiveDev stuff here https://github.com/humphd/brackets/blob/bramble/src/LiveDevelopment/MultiBrowserImpl/protocol/LiveDevProtocol.js#L216-L227.  The reason I also

[2016-01-13 06:57] flaki opened #1327 "Remove jQuery dependency from injected remix button code"
It would be nice if we could remove the jQuery-dependency of the [injected remix button code](https://thimble.mozilla.org/resources/remix/index.js) from published code, as it interferes non-trivially with jQuery loading (from user code).

We don't use any jQ plugins and that source is not so vast that and complicated taht this should be an issue. Also we would win on performance, reduce page load

[2016-01-13 11:15] humphd commented on #1327
This sounds fine to me. As long as we  can do it well without breaking current browser support, go for it.

cc @flukeout

On Jan 13, 2016 1:57 AM, István Szmozsánszky <notifications@github.com> wrote:

It would be nice if we could remove the jQuery-dependency of the injected remix button code<https://thimble.mozilla.org/resources/remix/index.js> from published code, as it interferes non-trivially

[2016-01-13 15:26] gideonthomas commented on #1277
@humphd Ideally, we would want to set the base to the blob url of the iframe since that would fix this anchor navigation issue. Unfortunately, that forces the protocolless URLs to use a blob protocol (I think?) which would screw things up right?

[2016-01-13 15:27] gideonthomas commented on #1277
@humphd I guess one way to get around this is to special-case `#frag-id` anchor hrefs to not work in its default manner and instead make it do what we want it to do. Thoughts?

[2016-01-13 17:35] flukeout commented on #752
This is still happening, especially when loading a project for the first time.

[2016-01-13 17:36] flukeout commented on #1327
Sounds great to me!

[2016-01-14 20:06] simonwex opened #1329 "Create #thimble channel on Mattermoz instance"
We'll be moving off of irc and onto our slack clone. We should also signal on the existing IRC channel where people can find us.

[2016-01-14 20:25] gideonthomas opened #1330 "Explore automated recovery solutions"
We have a bunch of issues like https://github.com/mozilla/thimble.webmaker.org/issues/1311 and https://github.com/mozilla/thimble.webmaker.org/issues/1319 where we aren't quite sure what is happening. It also is kinda hard to figure out a cause since it's impractical to debug the problem with the user experiencing it for various reasons (it's not reproducable, etc.).

Maybe we should consider tryi

[2016-01-14 20:41] flukeout commented on #1327
@flaki - I started doing some of this work in the past, but didn't finish, so let me know if you have any questions!

[2016-01-14 20:46] simonwex opened #1331 "Develop technical approach to l10n"
Let's discuss our technical approach for localizing Brackets, Thimble and Publish.

[2016-01-14 22:41] gideonthomas commented on #1277
Note to self: Tutorials don't have a livedoc until you open the `tutorial.html` file first

[2016-01-15 19:15] flukeout opened #1333 "Dismiss the "Publish" dialog when link to publish project is linked."
**Scenario**
When publishing a project, or updating the published version, the next step for the user is generally to leave the editor and go see how the project looks in another tab.

When they return to the editor, the Publish dialog is still visible and is obscuring the project preview, as seen here...

![image](https://cloud.githubusercontent.com/assets/25212/12362588/f74a0156-bb78-11e5-84fc-9

[2016-01-15 19:23] flukeout opened #1334 "Update Remix Rollout styling, doesn't look great on white projects."
The remix "fly-out" (which appears when hovering over the Remix button on published projects) doesn't look great on white backgrounds -the top edge bleeds into the project itself, as seen here...

![image](https://cloud.githubusercontent.com/assets/25212/12362883/8dd620ae-bb7a-11e5-8e4b-68e4250deece.png)

**Proposed solution**
Let's change some of the styling of this element to make it stand out b

[2016-01-15 20:19] humphd commented on #1331
We have bugs in a few places related to this, and therefore I'll probably repeat things, but let me outline some of the challenges I see.

Brackets core (upstream) is fully localized, and uses client-side dynamic rendering of strings from an included catalog via the https://github.com/requirejs/i18n plugin.  Bramble core is therefore *mostly* localized already, but lacks localization for things we

[2016-01-15 20:31] humphd commented on #1330
Once upon a time, I spent a lot of time [doing this for Popcorn Maker](https://github.com/mozilla/popcorn.webmaker.org/blob/master/public/src/crashreporter.js).  It was fun, and we found some cool bugs; but I don't recommend it here.  In this case, you are trying to understand a bug we can't easily reproduce vs. fishing for random crash data.  With this bug, there is a bunch of state in the browse

[2016-01-15 23:20] flukeout opened #1335 "Figure out the best UI for the language picker"
Since we'll be localizing Thimble, we'll need to add a mechanism for letting users...
- know what language Thimble is currently using
- change, and save, their language preference
- know that they can contribute to the localization effort

In digging through my old design files, I found the following design for a top-level language preference, designed to sit alongside other items in the top green

[2016-01-15 23:21] flukeout commented on #1318
@gideonthomas Added #1335 to the above list for tracking UI & UX design.

[2016-01-15 23:47] flukeout opened #1336 "Make a Thimble sticker"
A sticker would be a nice way for people to show their love of Thimble and a little token of our appreciation for contributors.

Some rough ideas to get the ball rolling...

![image](https://cloud.githubusercontent.com/assets/25212/12368325/4d4c697e-bb9f-11e5-824b-b6a39b327c25.png)

[2016-01-16 00:03] humphd commented on #1336
I'll take 12 of each

[2016-01-18 16:16] gideonthomas commented on #1330
The issue though is that not only is it not easy to reproduce, we have absolutely no clue about where to start. Bugs like the ones I linked above can really be caused by anything. Maybe IndexedDB is broken, maybe we're getting random status codes on certain requests, maybe we're not accounting for certain use cases and so on. I think identifying which of these broad categories the issue fits into

[2016-01-18 16:56] #1226 closed

[2016-01-18 17:07] flukeout opened #1337 "Docker for Thimble?"
Is there a possibility for using something like Docker to get a Thimble dev environment up and running? Currently it requires 6 different services to be running at once in perfect glorious harmony, and that might be hard and or annoying for contributors.

cc @cadecairos @gideonthomas

[2016-01-18 17:08] cadecairos commented on #1337
https://github.com/cadecairos/webmaker-docker currently spins up all services Thimble require, save Thimble itself.

[2016-01-18 17:27] flukeout opened #1338 "Benchmark how other open source projects do community"
I've started some preliminary work in the [Open Source Community Benchmarks](https://docs.google.com/a/mozilla.com/document/d/17geDLdYd-qFmUsSvo9Pz7rgyf8Yc--0WMUFKoBJH-l4/edit?usp=sharing) doc.

I'd like to see what similarities projects with successful communities have so that we can emulate some of it for Thimble. Ideally, the projects will have some similarity to Thimble (in size, age & topic).

[2016-01-18 17:51] gideonthomas commented on #1337
I think it's possible esp. since you've got the other services running already. We just need to change some of the env stuff to match the docker config you've set up (e.g. ports).

@humphd you did some work with this right? Any suggestions?

[2016-01-18 18:19] cadecairos commented on #1337
I dont think it's worth adding in thimble though, if the goal is to speed development on thimble, we'd want to leave that in the hands of the developer. My main goal with webmaker-docker was to eliminate the need for the developer to configure and run all the dependent services.

[2016-01-18 18:23] davidascher commented on #1337
It would be good to get someone (who doesn't know how to build these
systems) to try to use this (& whatever instructions there are) and file
feedback/bugs on whether it's effective or there are still rough edges.

On Mon, Jan 18, 2016 at 10:19 AM Christopher De Cairos <
notifications@github.com> wrote:

[2016-01-18 18:26] flukeout opened #1339 "Explore Thimble digest blog post format & write a post!"
We agreed that a monthly blog post would be a great way to surface and celebrate the work and community behind Thimble. I'll take a look at some benchmarks and draft up a proposal.

**Potential content**
- Interesting projects built by our users
- Usage stats
- New or featured curriculum
- New features
- Tips & tricks (or feature highlights)
- Issues for the community to work on
- Upcoming feature

[2016-01-18 19:18] gideonthomas commented on #1337
Oh I totally thought that you posted the bug @cadecairos lol. Yeah that sounds sane!
+1 to @davidascher's suggestion

[2016-01-18 19:37] cadecairos commented on #1337
Yeah it could definitely benefit from more eyes.

It's been somewhat well tested on Linux and Mac (thanks to @gvn) (although as is with Docker, it's easier on Linux). It should theoretically work on Windows.... but, I've never been able to test that.

[2016-01-18 19:42] flukeout commented on #1335
**To do**
* Look into pontoon
* Observe someone's localization workflow
* Look into transifex
* Chat with Ali

[2016-01-18 20:07] #1277 closed

[2016-01-18 21:38] #1145 closed

[2016-01-18 21:39] gideonthomas commented on #1289
https://github.com/mozilla/thimble.webmaker.org/issues/1145

[2016-01-18 22:19] flukeout opened #1340 "Staging - Tutorial doesn't remember its scroll position anymore."
Since the changes to implement anchors within the tutorial, the tutorial stopped remembering its scroll position.

**Steps to reproduce**
* Create a new project
* Add a tutorial
* Scroll the the bottom of the tutorial
* Click the index.html file to edit it
* Click Preview
* Click Tutorial to go back to the tutorial

**Expected** - Tutorial stays scrolled to the bottom where you left it
**What happ

[2016-01-19 01:49] jgmac1106 opened #1341 "Able to Log into Old Thimble"
An FYI, feel free to close,

Tonight I was going through and pulling source code from old Thimble projects when I noticed I could log in and access the editor of old Thimble.

This worked in Firefox but not Chrome.

[2016-01-19 12:12] chadsansing commented on #1339
@flukeout, I would love to contribute here with copy and curation from the dashboard/Twittersphere.

[2016-01-19 15:36] gideonthomas commented on #1341
Yeah, we're waiting on shutting that down until we localize new thimble so that we have at least one localized version up and running (it's weird that it does not work on chrome though O.o)

[2016-01-19 15:46] gideonthomas commented on #1338
[Open Refine](https://github.com/OpenRefine/OpenRefine) is also another project to consider. I like their idea of a "Credits" section - it tends to attract contributors with the allure of putting their name on the project.

[2016-01-19 16:23] chadsansing commented on #1338
[Scratch](http://scratch.mit.edu)?

[2016-01-19 17:12] flukeout commented on #1336
Our sticker budget is approved! I'll keep working on it.

[2016-01-19 17:36] gideonthomas commented on #1317
Closing since we've done this

[2016-01-19 17:36] #1317 closed

[2016-01-19 21:06] Pomax opened #1342 "allow "download as zip" even when not logged in"
Right now visitors need a user account before they can download a project as .zip file, despite there being no real reason to lock downloads behind a login wall. Can we find a way to expose the download option even when a user is not logged in?

[2016-01-19 21:06] Pomax commented on #1326
cc @simonwex @cadecairos for opinions, too.

[2016-01-19 21:29] flukeout commented on #1338
@chadsansing does Scratch have a developer community? I couldn't really find anything on their site.

[2016-01-19 21:38] simonwex commented on #1326
I think this is more than a single metric, here are a few things to measure:

 * Max single file size
 * Max file size per content-type – This is a teachable moment
 * Max number of files
 * Max total project size

[2016-01-19 21:39] gideonthomas commented on #1342
Dupe of https://github.com/mozilla/thimble.webmaker.org/issues/981

[2016-01-19 21:39] #1342 closed

[2016-01-19 21:57] #1341 closed

[2016-01-19 22:16] gideonthomas commented on #1311
Moving out of Jan 29th Heartbeat until we can figure out a good solution for https://github.com/mozilla/thimble.webmaker.org/issues/1330

[2016-01-19 23:08] Pomax commented on #482
zarro boogs.

[2016-01-19 23:11] gideonthomas commented on #482
Thanks @Pomax much appreciated!

[2016-01-19 23:11] #482 closed

[2016-01-19 23:12] gideonthomas commented on #1320
Moving out of Jan 29th milestone since all that's left is the migration of old-thimble projects which will be done after we tackle localization

[2016-01-19 23:13] gideonthomas commented on #509
Moving out of Jan 29th milestone since this is on hold until we finish localization.

[2016-01-20 11:45] chadsansing commented on #1338
Mebbe something like this, @flukeout: https://scratch.mit.edu/discuss/topic/175099/?page=1.

[2016-01-20 22:03] alicoding opened #1343 "Decide whether or not we need locale in the URL"
Example:

https://thimble.mozilla.org/en-US/anonymous/1ce97170-f9c9-47c8-b98c-dd80f3867936

Vs.

https://thimble.mozilla.org/anonymous/1ce97170-f9c9-47c8-b98c-dd80f3867936

It doesn't matter if we don't add the locale as long as we can switch it using the dropdown. The reason I raise the issue here is that adding the locale might add a bit more complexity to the URL itself because it's already lon

[2016-01-20 22:17] flukeout opened #1344 "Strategy for localizing Thimble starter projects"
Since we'll be localizing Thimble, it makes sense to think about how to localize the starter projects. Currently, we have 6 on the homepage, all in English. The URLs to these are hardcoded as environment variables on the server, so there are a couple of phases to this work...

* How do we load different starter projects depending on the locale?
* How do we localize the starter projects?
  * Create

[2016-01-20 22:40] chadsansing commented on #1344
@flukeout, the tl;dr is: yes, and let's pass the mic to...

@hannahkane, @sopadog - thoughts? Not sure I can recap our l10n discussion as well as you two can explain it.

[2016-01-20 22:57] #1340 closed

[2016-01-20 23:17] gideonthomas opened #1345 "Component list [Thimble] requiring L10n"
* Header/userbar for [editor](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/views/editor/userbar.html) and [homepage](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/views/homepage/userbar.html)
* The [homepage](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/views/homepage/index.html)
* [My Projects List](https://github.com/mozilla/thimble.webmaker.org/blo

[2016-01-20 23:18] gideonthomas opened #1346 "Component list [Brackets] requiring L10n"
* Core (#1356)
 * L10n already done
 * Need to figure out how to keep up with upstream translations (or rather if we even need to)
 * Apparently a bunch of extensions depend on the l10n resource files from the core
* bramble client api (#1357)
 * Mainly the [tutorial file name](https://github.com/humphd/brackets/blob/bramble/src/bramble/client/main.js#L40)
* Other Extensions
 * Selfie-taker ( #135

[2016-01-20 23:18] gideonthomas opened #1347 "Component list [Publish] requiring L10n"
* The "Remix" word added to the end of a project name (maybe we should move that logic to Thimble to make it easier)

[2016-01-20 23:21] gideonthomas commented on #1346
@humphd anything I might have missed?

[2016-01-20 23:28] flukeout commented on #1335
The "universal language icon" - neat - http://www.languageicon.org/

[2016-01-20 23:53] flukeout commented on #1335
**Some guidelines**
* If a user shows up, and we think we know what language they want - we automatically switch it
* The language options are in the native language of each language - ie. English is always "English"
* At any time, a user can switch their language preference from the available options, and we remember it
  * If they're signed in, we can store it in their account preferences
  * If

[2016-01-20 23:59] flukeout commented on #1340
@gideonthomas is it ready to re-test on staging?

[2016-01-21 15:21] gideonthomas commented on #1340
@flukeout yep

[2016-01-21 18:40] simonwex opened #1348 "Understand future and direction of Brackets"

[2016-01-21 18:54] simonwex opened #1349 "Figure out flow between existing translation format and pontoon"
Existing brackets strings are held in a javascript string file. Pontoon doesn't currently support this format and it doesn't currently have the ability to hold descriptions of the text to be translated:

[code]
(from https://github.com/humphd/brackets/blob/bramble/src/nls/ru/strings.js)

Pontoon uses PO files which are more featured than what require i18n uses. For example, plural features:

[code

[2016-01-21 18:55] humphd commented on #1348
My sense is that things are either on hold, or they're done with it.  Take a look at the commit graph:

https://github.com/adobe/brackets/graphs/contributors

You'll note that Adobe's devs mostly stopped working on it in July.  This is roughly the last time we rebased on them (we're at ~1.3 and Brackets is currently at 1.6, with recent releases being mostly about bug fixes in parts of the code we

[2016-01-21 18:57] simonwex commented on #1349
Options could include:

a. A conversion process:
  1. Extract untranslated strings from the existing JS files into PO files
  2. Open JS NLS files and fill in results from pontoon's PO files
b. Convert brackets to use PO files
  * this would require discussions with the brackets team
c. ...?

[2016-01-21 18:57] humphd commented on #1349
Probably there is prior art we can use/steal here, if we decide to do a build step for reparsing, eg:

https://github.com/sinedied/gulp-po-requirejs-i18n/blob/master/README.md

[2016-01-21 19:01] gideonthomas commented on #1349
We should discuss this in today's stand (@humphd, I can comment in this bug after, if you are not able to attend today) since I just had a conversation with @alicoding re: a similar approach we might take in Thimble. Maybe we can use a common strategy.

[2016-01-21 19:05] humphd commented on #1346
This is a good start.  I think we'll uncover more as we go, but I can't immediately identify anything missing.

The only thing I'd call out specifically, which you might be considering elsewhere, is the need to get the locale choosing figured out between Thimble and Bramble.  I discussed this a bit in https://github.com/mozilla/thimble.webmaker.org/issues/1331

[2016-01-21 19:06] humphd commented on #1349
One more thought...I think we should consider if we want to bother with the bulk of the strings in Brackets at all vs. just doing our own thing.  There's a ton of UI that we never use in Bramble that Brackets needs, and it might be easier to just dump it and start over.  This would free you from the burden of using their files/format. Food for thought.

[2016-01-21 19:06] simonwex opened #1350 "Localize id.webmaker.org - reference issue"
https://github.com/mozilla/id.webmaker.org/issues/10

[2016-01-21 19:07] humphd commented on #1347
+1 to removing all strings from Publish.  I think it makes more sense in apps that use this api.

[2016-01-21 19:08] alicoding commented on #1349
http://mozilla-pontoon.readthedocs.org/en/latest/ List of supported file format from Pontoon, but the one I've mentioned and it's not listed is `.properties` which we're using in donate.mozilla.org https://github.com/mozilla/donate.mozilla.org/tree/master/locales/en-US

[2016-01-21 19:08] humphd commented on #1345
What about the starter content you get?  If you load a Russian version of Thimble, will you get a Russian starter page?  I think you should.  That doesn't have to be true of all the starter projects on the home page (i.e., you could localize those later, and change the URLs for that locale).  But for the initial content we give when you create a page (public/resources/default-files/*).

[2016-01-21 19:17] simonwex commented on #1348
Super helpful talking points, thanks David. I've sent an email to my peeps over at Adobe. Will report back.

[2016-01-21 19:19] simonwex commented on #1343
Hey @alicoding what are the advantages of adding it to the URL? The only one I can think of is that people sharing the URL can share the interface locale.

[2016-01-21 19:23] alicoding commented on #1343
Not much really based on my knowledge. Only people can share localized version of the app and knowing that this app is support localization. Other than that it adds complexity to the app really.

[2016-01-21 19:28] simonwex opened #1351 "Link locale choosing between Thimble and Bramble"
From @humphd's discussion in #1331, we need both Thimble and Bramble to be on the same page when it comes to locale.

* https://github.com/humphd/brackets/blob/bramble/src/main.js#L67-L69
* https://github.com/humphd/brackets/blob/bramble/src/thirdparty/browser-appshell.js#L29-L30

[2016-01-21 19:33] simonwex commented on #1345
RE: starter content #1344

[2016-01-21 19:49] gideonthomas commented on #1349
Note: figure out if requirejs i18n makes an xhr call to get the appropriate locale file or if all the locale files and bundled in the built file

[2016-01-21 20:00] simonwex commented on #1335
@alicoding could you fill in some details here from what we've done in the past and what we need to do now without having the pref in id.wm.o

[2016-01-21 20:13] hannahkane commented on #1344
We talked about this in the context of the curriculum database (i.e. creating the concept of "related" items in the stored metadata, where "related" means Remixes or translations), but haven't yet discussed how this would integrate with Thimble.

Maybe curricular materials, including Thimble projects, should include locale info as part of the meta-data stored in the database, and maybe we make the

[2016-01-21 20:23] gideonthomas commented on #1343
Based on our discussion in today's stand, we decided to include the locale in the url. @simonwex is this good to close?

[2016-01-21 22:34] hannahkane opened #1352 "Improve UX for adding/deleting/moving folders"
A user pointed out that it's not intuitive to right-click the file tree in order to see the add'l actions.

Apologies if this is already a ticket, or we triaged it out of the list. Feels like a big usability flaw right now, though.

[2016-01-21 22:38] alicoding commented on #1343
Let's close this one since I believe we will stick with URL and browser
preferences for language for now.

On Thu, Jan 21, 2016, 3:23 PM Gideon Thomas <notifications@github.com>
wrote:

[2016-01-21 23:11] #1343 closed

[2016-01-21 23:23] gideonthomas commented on #1352
@hannahkane I believe we had this discussion before as well and I'm not sure why we shut it down. I marked this as a P2 for now but feel free to escalate that to a P1.

cc @flukeout

[2016-01-22 01:55] flukeout opened #1353 "Staging - Within-page anchors on the Tutorial page don't work reliable when "name" attribute is used."
**Steps to reproduce**
* Add a tutorial
* Add an anchor tag with a ``href="#something"`` attribute
* Add an element with a ``name="something"`` attribute
* This seems to work most of the time until you...
* Click "Preview" then click "Tutorial"
* Then it stops working

**Note** - This functionality works fine if an ``id="something"`` attribute is used on the second element, just seems to break wit

[2016-01-22 04:38] Pomax commented on #1326
we're already restricting single file size, although the idea of file size per content-type is an interesting one. I'd like to know @humphd's thoughts on this too. I don't think limiting the number of files is a metric that will be all that useful, given that different projects need different things. If I want to talk about ASCII for instance, with 255 .svg files in an "images/" dir, and each SVG

[2016-01-22 13:46] jgmac1106 commented on #1341
Thanks it has actually been great. I when I needed an old project I would have to use source code. Now its a bit easier for me to get the projects I used for teaching and migrate them to new Thimble.

[2016-01-22 14:47] alicoding commented on #1335
Mostly it's what @flukeout has written in this issue, but I'm just going to suggest the best option based on my research and what we've done in the past here.

If the user enter the site without locale in the URL we'll then check their browser preferences. Based on the return array of `navigator.languages` (['en', 'fr', 'th'] this will return in the order of what has been set in the browser prefer

[2016-01-22 15:57] gideonthomas commented on #1353
Lol thanks for reporting @flukeout, I'll take a look today!
Question though - should I still ship what we have on staging since it seems to mostly work? That way it won't be a blocker anymore for the curriculum stuff. But I defer to your judgement on this!

[2016-01-22 19:07] gideonthomas commented on #1349
Here's what we have for the Thimble part so far (will iterate on it to add the Brackets component). @simonwex  let me know if it needs to be more detailed:
https://drive.google.com/open?id=0BwCd-6qteGa8bDhmT2RJUE1ydkE

[2016-01-22 19:52] alicoding commented on #1349
I also just set up a meeting with Mathjaz on Monday at 10AM EST to figure out how to setup with Pontoon here for Brackets and thimble.

[2016-01-26 18:33] simonwex opened #1355 "Create diagram explaining flow of text for translation"
The components that should be mapped here include:
 * Pontoon
 * Brackets
 * Extensions
 * thimble.webmaker.org

Actions to consider:
 * Creating a translation for each of the components from Pontoon
 * Merging updates to translations and new keys from Brackets, including effect on Pontoon users
 * Sending new translated locales upstream to Brackets

WIP:

![image](https://cloud.githubusercontent.

[2016-01-26 18:35] simonwex opened #1356 "Enable l10n in Bramble Core using Pontoon"
L10n is already enabled for Bramble core (Brackets) but we don't have a mechanism for customizing translations, translating [additional keys](https://github.com/mozilla/thimble.webmaker.org/blob/bramble/public/editor/scripts/editor/js/fc/publisher.js#L8-L12) we've added and for translating to locales that the existing Brackets community hasn't yet.

Related: #1355

[2016-01-26 18:37] simonwex opened #1357 "Figure out if we need to localize the name of `tutorial.html`"
This includes the tutorial file name...
https://github.com/humphd/brackets/blob/bramble/src/bramble/client/main.js#L40

... and error messages in the same file.

[2016-01-26 18:40] simonwex opened #1358 "Localize Selfie-Taker"
https://github.com/humphd/brackets/tree/bramble/src/extensions/default/BrambleUrlCodeHints

[2016-01-26 18:42] simonwex opened #1359 "Localize "Upload zip files""
https://github.com/humphd/brackets/tree/bramble/src/extensions/default/UploadFiles

[2016-01-26 18:45] simonwex commented on #1359
Hey @gideonthomas, could you add some details here? -- I believe this is the dialog that lets the user upload files, not sure what "DnD" refers to.

[2016-01-26 18:46] simonwex opened #1360 "Use localized version of WebPlatformDocs"
We need to remove any use of this as it's not localized and we're using MDN docs instead.

https://github.com/humphd/brackets/tree/bramble/src/extensions/default/WebPlatformDocs

[2016-01-26 18:46] simonwex commented on #1360
@gideonthomas is this necessary? Does our use of MDN replace this?

[2016-01-26 18:47] simonwex opened #1361 "Localize "Move File" Extension"
https://github.com/humphd/brackets/tree/bramble/src/extensions/default/bramble-move-file

[2016-01-26 18:52] simonwex opened #1362 "Localize Bramble"
* Tooltips in UI (https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/lib/UI.js)
 * `tutorial.html` (https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/lib/Tutorial.js#L43)

[2016-01-26 18:52] simonwex commented on #1362
TODO: Add additional strings that need extracting

[2016-01-26 18:55] simonwex opened #1363 "Localize HTMLHinter Extension"
It looks like much of the work is done here, but we need to integrate it into our system.

https://github.com/humphd/brackets/tree/bramble/src/extensions/extra/HTMLHinter

[2016-01-26 18:55] simonwex commented on #1363
I think it'd be important to include this in the diagram: #1355

[2016-01-26 18:57] simonwex opened #1364 "Use localized MDNDocs"
This is both the viewer UI and fetching the localized docs from MDN.

https://github.com/humphd/brackets/blob/bramble/src/extensions/extra/MDNDocs/InlineDocsViewer.js
https://github.com/humphd/brackets/tree/bramble/src/extensions/extra/MDNDocs

[2016-01-26 18:58] simonwex commented on #1364
This'd be good to include in the diagram (#1355)

[2016-01-26 18:59] simonwex commented on #1346
Hey @gideonthomas I've broken the components out into individual issues we can triage during today's meeting. Do you mind taking a look to see if I've ham-fisted any of it?

[2016-01-26 19:41] simonwex commented on #1363
This is a low priority since we're not enabling it by default currently.

The strings we do need exist in Slowparse, but are manually copy-pasted into this extension. We'll need to automatically include those strings in the future and it will take advantage of the slowparse l10n efforts.

[2016-01-26 19:44] simonwex commented on #1361
This is <6 strings and primarily error messages.

[2016-01-26 19:53] simonwex commented on #1357
This should be pretty simple, if it ends up being complicated, we can punt.

[2016-01-26 19:54] simonwex commented on #1356
Articulating a plan and getting started is fine for this HB.  We can move over to follow-on HB if we need to.

[2016-01-26 20:00] simonwex commented on #662
I'm closing this issue as the future for id.wm.o is uncertain and this ticket will likely be stale by the time we revisit it.

[2016-01-26 20:00] #662 closed

[2016-01-26 20:01] simonwex commented on #475
Closing as we're continuing work on this in separate issues.
See #1318 for work.

[2016-01-26 20:01] #475 closed

[2016-01-26 20:02] gideonthomas commented on #1355
First pass:
https://drive.google.com/open?id=0BwCd-6qteGa8bDhmT2RJUE1ydkE

[2016-01-27 22:04] kristinashu opened #1367 "Update sign in wording"
Based on https://github.com/mozilla/teach.mozilla.org/issues/1366

We're updating copy across all mofo products to have consistent wording for signing in. Please update copy on thimble.mozilla.org to (in sentence case):
- Sign in
- Sign out
- Create an account

[2016-01-28 07:45] Calefornia commented on #1319
If you change your custom history settings and allow cookies, it suddenly works, although I have no idea why. I'm assuming you were restricting third parties to some extent, but you can just add these exceptions:
https://mozillathimblelivepreview.net
https://thimble.mozilla.org

Hopefully this works for you.

[2016-01-29 01:30] Pomax opened #1370 "preserve scrollTo position when content is updated"
Working on a project that is more than 2 paragraphs means that if you edit far down enough, a content update reloads the preview, and scrolls back to top, preventing you from seeing the changes you are making.

This is a quite  a UX barrier

[2016-01-29 19:27] gideonthomas commented on #1318
Closing due to redundancy. See https://github.com/mozilla/thimble.webmaker.org/issues?q=is%3Aissue+is%3Aopen+label%3ALocalization for more info.

[2016-01-29 19:27] #1318 closed

[2016-01-30 22:34] Pomax opened #1372 "thimble cannot be run on windows anymore"
Thanks to the magic of CLI argument parsing, requirejs breaks installation on windows:

[code]

we've had spaces in locations for quite a while, but the dist tasks now breaks command line utilities, so we'll need to quote the location somehow to make this work again.

This is also another example of why automated windows testing for PRs is important. This bug instantly rules out getting contributi

[2016-02-01 18:01] #1372 closed

[2016-02-02 18:12] simonwex commented on #1349
Closing and tracking in implementation ticket.

[2016-02-02 18:12] #1349 closed

[2016-02-02 18:15] #1346 closed

[2016-02-02 18:16] simonwex commented on #1345
Redundant ticket.

[2016-02-02 18:16] #1345 closed

[2016-02-02 18:17] #1331 closed

[2016-02-02 18:17] gideonthomas opened #1376 "Migrate the bramble branch onto master"
This involves a bunch of things:
* Adding the pontoon script to the client file
* Enabling CSP
* Making sure it works

Migrated from https://github.com/mozilla/thimble.webmaker.org/issues/1349

[2016-02-02 18:18] simonwex commented on #1370
Hey @flukeout, could you add some words describing how we should fix this?

[2016-02-03 20:37] gideonthomas opened #1378 "Update nunjucks"
Coz the current version is problematic on Linux

[2016-02-03 20:46] Pomax commented on #1378
wait. nunjucks is platform-related?

[2016-02-03 20:48] #1378 closed

[2016-02-03 21:26] gideonthomas commented on #1378
@Pomax apparently when we ran the previous version of nunjucks, it seemed to hold file watches on the templates (which for some reason we couldn't turn off) and would crash the server (on linux only so far, haven't tested on windows) with an `ENOSPC` error.
cc @cadecairos

[2016-02-03 23:41] flukeout commented on #1335
Here is how the language will be indicated and changed in the UI.

![image](https://cloud.githubusercontent.com/assets/25212/12800789/886d95d6-ca8c-11e5-8a45-276333bfec20.png)

[2016-02-04 00:35] luiguild opened #1381 "Remix button visible on print"
I set
@media print {
  .details-bar, .collapsed, .cleanslate, .mouse-mode {
    display: none !important;
  }
}

but the 'Remix' button continue visible when I print the page... Maybe could be a good thing to implement...

[2016-02-04 13:42] luiguild opened #1382 "Remix button - opening Thimble on a new tab"
Maybe Thimble could be opened in a new tab/window when user press the 'Remix' button.

[2016-02-04 16:16] gideonthomas commented on #1335
@flukeout question: How are the langs alphabetized? Are they based on their English names? Like Deutsch goes before English (US)? (Even though we would call it German)

[2016-02-04 16:29] alicoding commented on #1335
We can do two things here.

1. Based on the metric (most visited language)
2. Alphabetical order

On Thu, Feb 4, 2016 at 11:16 AM Gideon Thomas <notifications@github.com>
wrote:

[2016-02-04 17:24] flukeout commented on #1335
@gideonthomas @alicoding I vote for "Alphabetical sorted by their 'native' names" - that seems more reliable and constant as opposed to a potentially changing order over time as different languages get more / less popular among our userbase.

[2016-02-04 18:36] flukeout commented on #1335
**Questions**
* Figure out how to alphabetize names that don't use the roman alphabet

[2016-02-04 19:22] flukeout commented on #1335
**An option for alphabetizing**
Wikipedia sorts by the latinized name of the language while displaying it in the 'native language'. So Japanese is displayed with Kanji, but sorted as "nihon go".

![image](https://cloud.githubusercontent.com/assets/25212/12826766/7e582b74-cb31-11e5-814a-2b2ecd228e82.png)

[2016-02-04 19:26] simonwex commented on #1335
It might make sense to have the list separated where the locales in the user's `Accept-Language` header are displayed on top regardless of sorting.

[2016-02-04 19:30] flukeout commented on #1335
Yeah, it makes sense to highlight a choice that we have an inkling might be useful. Does the ``Accept-Language`` header include only one language, or multiples?

[2016-02-04 19:42] gideonthomas commented on #1335
@flukeout it usually is an array of one or more locale codes.

[2016-02-05 20:52] gideonthomas opened #1384 "Show error/warning if cookies are disabled"
From a tweet: https://twitter.com/Cleo_Qc/status/695687805528367104

`localStorage` is not accessible because cookies are disabled and the user gets stuck at the "Loading" screen without any indication about what's happening.

We should surface a warning or error message (kind like we do for private browsing mode) if cookies are disabled and let users know that they need to turn on cookies to get

[2016-02-06 11:08] geordieF opened #1385 "Stylus support?"

[2016-02-08 19:49] gideonthomas commented on #1385
Hi @geordieF, thanks for the suggestion! What is your use case that requires support for stylus/touch?

[2016-02-08 19:54] gideonthomas opened #1388 "Localize the remix script"
The remix script that is injected into published projects needs to be localized!

This is going to be tricky since all we can rely on is the locale info given to us by the browser. Accordingly, we need to make sure we send the right correctly localized file to the user-agent.

I think simple server-side rendering of the localized content into the js file should be good enough to accomplish this. B

[2016-02-09 19:01] #1367 closed

[2016-02-09 19:19] gideonthomas opened #1394 "Fix CSP errors on homepage for brackets"
[code]

Since we XHR brackets, we need to add the bramble uri to our CSP config for `connect-src`.
The code change basically needs to happen here: https://github.com/mozilla/thimble.webmaker.org/blob/bramble/server/index.js#L81-L84

[2016-02-09 22:43] gideonthomas opened #1396 "Update to node 4.3.x"
There are security fixes in it so we should take advantage of that!

TODO:
* Update the `package.json` `engine`
* Update `.travis.yml`

Issue: IF something breaks on this version, we can only tell locally or on staging/production because Travis seems to only support node v4.1.x so tests will run in that environment (I think) according to https://docs.travis-ci.com/user/languages/javascript-with-no

[2016-02-09 22:56] flukeout opened #1397 "[DEV] - When editing HTML, the changes aren't reflected until the local server is restarted."
I'm updating `userbar.html` and my changes are only reflected locally if I restart the server. As far as I remember, this is new behaviour - the changes used to be visible when refreshing the editor, without needing a restart.

[2016-02-09 22:58] gideonthomas commented on #1397
Seems like nunjucks is caching the templated html files for some reason

[2016-02-09 23:42] CleoQc commented on #1384
To be more specific, normal cookies were accepted, but not third parties cookies.

[2016-02-10 22:57] geordieF commented on #1385
I mean the preprocessor

[2016-02-11 18:55] gideonthomas opened #1399 "Plan to engage our community of localizers"
Currently to start, we have chosen the following languages to localize Thimble in:
de, hi, fr, es-MX, pt-BR
@alicoding would you like to comment on why we chose these languages?

It would be nice to inform/back this decision based on metrics (most used languages in ye olde Thimble for e.g.).
cc @simonwex, @adamlofting

[2016-02-11 18:58] msblizzard opened #1400 "Thimble Postcard project not working"
When my students are trying to remix the postcard, the front and the back of the card are identical images.  The code allowing the project to flip sides is missing.

[2016-02-11 18:59] alicoding commented on #1399
Based on our old metrics/market that we were focusing on for other products that we worked on Localization in general. It's also the language that most active in the localization community which will help drive this project to a fully localized state.

[2016-02-11 19:24] jgmac1106 commented on #1400
@msblizzard  I just tested it out and could not reproduce your error: https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/32457/

Can you send me one of your projects and I can take a closer look?

[2016-02-11 19:33] msblizzard commented on #1400
https://d157rqmxrxj6ey.cloudfront.net/2242890/32461/

[2016-02-11 19:41] msblizzard commented on #1400
We solved our problem! It was the browser's problem!  Thank you!

[2016-02-11 19:41] jgmac1106 commented on #1400
You didn't have quotes around the image in line 138. I actually downloaded
the image you wanted to link to and uploaded  it in this project:
https://d157rqmxrxj6ey.cloudfront.net/jgmac1106/32466/

I am going to close this ticket. Feel free to hit me up on Discourse or
Twitter if you need more help.

On Thu, Feb 11, 2016 at 2:33 PM msblizzard <notifications@github.com> wrote:

[2016-02-11 19:43] jgmac1106 commented on #1400
@msblizzard Never mind. I can't close the issue. If your problem is resolved please do so.

A little tip: For  tips and tricks help you might find Twitter (using #teachtheweb hashtag) or discourse.webmaker.org better for community requests.

[2016-02-12 06:48] simonwex opened #1402 "Rename this repo to thimble.mozilla.org"
Pretty simple ^

[2016-02-12 06:49] simonwex commented on #1402
Hey @gideonthomas, what effects would doing this rename have on things like how we build and deploy this?

[2016-02-12 09:27] adamlofting commented on #1399
Here's a very quick list of the most popular (non-en) browser languages for traffic to all the old webmaker tools combined.

<img width="377" alt="screenshot 2016-02-12 09 25 08" src="https://cloud.githubusercontent.com/assets/1901816/13002975/9d398dd2-d16a-11e5-9571-bb6d70ae9f53.png">

[2016-02-12 17:44] gideonthomas commented on #1402
Should be fairly simple. Changes that I know need to be made:
* Update `.travis.yml`
* Update `bower.json` and `package.json`
* Update `README.md`

I don't know if anything on heroku needs to be updated - cc @cadecairos

[2016-02-12 21:31] gideonthomas commented on #1351
For now, I think we're gonna stick with the URL method of setting the locale (fixed in https://github.com/humphd/brackets/commit/80d78ca838d4423a3bd56b5d5fe39b60f017a536).
Later on for extensibility, we can implement it in the `Bramble.init` call.

Closing for now!

[2016-02-12 21:31] #1351 closed

[2016-02-12 21:34] gideonthomas commented on #1376
All that's left to do is switch branches from `bramble` to `master` and we can close this!

[2016-02-15 16:28] dcforeman opened #1406 "Trying to install Thimble receiving "SyntaxError: Unexpected strict mode reserved word" on sudo npm run localize"
Hi

I'm using a fresh Ubuntu server (14.04 LTS) and am attempting to install Thimble. These are the commands I've used so far.

Thimble setup commands

Install NodeJS

cd ~
sudo curl -sL https://deb.nodesource.com/setup_0.12 | sudo bash -
sudo apt-get install -y nodejs
sudo npm install -g grunt
sudo npm install -g grunt-cli

Install Brambles

cd ~
sudo git clone https://github.com/dcforeman/bracke

[2016-02-16 17:13] gideonthomas commented on #1406
hi @dcforeman the issue is that thimble only works on node v4 and above. So instead of:
`sudo curl -sL https://deb.nodesource.com/setup_0.12 | sudo bash -`
try
`sudo curl -sL  https://deb.nodesource.com/setup_4.x | sudo bash -`

[2016-02-16 17:26] #1396 closed

[2016-02-16 17:54] gideonthomas commented on #1402
Fixed in c46c3fe46e374b22ac802b978f65146b97538b34, 108acfbf11883d75ae4112c6dedf7758d0010989 and 3a0c59c7943f41a0e66acf48bf91ec97c7cdd8d7

[2016-02-16 17:54] #1402 closed

[2016-02-16 18:15] #1400 closed

[2016-02-16 21:59] gideonthomas opened #1409 "Delete the `bramble` branch"
Now that master is our main branch, bramble is dead. Let's keep it alive till say the end of this week just to make sure that everything is working and then we should delete it.

[2016-02-16 22:02] #1376 closed

[2016-02-16 22:30] dcforeman opened #1410 "License file"
Hi

Most github projects have a license file! I can't find one here? Is that a mistake?

Basically I'm working with a small education company, we're looking to deploy thimble on our own servers. We need a consistant experience for our students without any changes so we'd like to take this version, deploy it and give them a link to our server.

Is this allowed in the usage terms.

Are we allowed to

[2016-02-16 23:37] gideonthomas commented on #1410
cc @hannahkane

[2016-02-17 00:01] dcforeman commented on #1406
Thank you @gideonthomas, that has solved my present issues.

[2016-02-17 00:05] Pomax commented on #1410
MPL-2

[2016-02-17 00:05] davidascher commented on #1410
We forgot to add the MPLv2 license file.  Your usage is fine with us, and
we'd love to learn more about what you're thinking of doing.  Expect a
LICENSE file to show up soon.

On Tue, Feb 16, 2016 at 3:37 PM Gideon Thomas <notifications@github.com>
wrote:

[2016-02-17 00:07] Pomax opened #1411 "fill in the missing fields in our package.json"
We're not listing many of the "we should fill these in" fields in the package.json like license, repo, issue tracker, etc.

[2016-02-17 00:59] dcforeman commented on #1410
Thank you very much.

[2016-02-17 03:06] humphd commented on #1385
It's not something we plan to add, no.  We've got basic support for LESS, since Brackets already has LESS baked into the code itself; but even than is less than perfect, since we only operate on the contents of a single file at a time vs. doing proper imports.

I'm going to close this, but if it's something you wanted to do, I could give you advice on how I'd do it, and we can re-open or do a PR.

[2016-02-17 03:06] #1385 closed

[2016-02-17 16:28] #1406 closed

[2016-02-17 20:08] gideonthomas commented on #1356
I think any upstream string changes that we want to incorporate, we should do manually.

As far as "adding" anything is concerned, I believe that 4119b0c04009599ac713faaf560ad1a57e0fa721 addresses that. All we do is add new strings to the `.properties` files, and the script will handle the rest...it will amalgamate what's in our `.properties` files with what's in the corresponding brackets' commun

[2016-02-17 22:30] dcforeman opened #1414 "Unable to install id.webmaker.org"
Hi I'm unable to install and run id.webmaker.org

The instructions I have are based on my understanding of the rough install procedures listed on the repo.

I am using Ubuntu 14.04, the following code shows the commands I used to get to the id.webmaker.org stage in the procedure.

[code]

From this point onwards I atttempt to install id.webmaker.org

[code]

But then these steps fail

[code]

With

[2016-02-17 22:42] gideonthomas commented on #1414
cc @cadecairos

[2016-02-17 22:47] cadecairos commented on #1414
@dcforeman Try running "npm install -g npm-run-all"

[2016-02-17 22:52] gideonthomas commented on #1414
@cadecairos is the use of `npm-run-all` new to `id.webmaker.org`?

Either way, we should probably document that since thimble also uses `npm-run-all`

[2016-02-17 22:55] cadecairos commented on #1414
It's not new, this repo is missing lots of documentation. There are probably already issued filled for that.

[2016-02-17 23:48] Pomax commented on #1414
note that any utility that is only used in npm scripts does not need the `-g` flag. npm scripts run with an extended environment that includes all node_modules entries

[2016-02-17 23:49] Pomax commented on #1414
There's a lot of SUDO going on here, which shouldn't be necessary - the git clones don't do any installs into the system, and NPM should be able to run "for you" if you tell it which prefix to use (see https://docs.npmjs.com/getting-started/fixing-npm-permissions)

[2016-02-18 10:16] SaptakS commented on #1384
I would like to work on this issue.

[2016-02-18 16:03] gideonthomas commented on #1384
sure thing @SaptakS, let's get some UI guidance and we can direct you in the right direction. Until then, feel free to start setting up the project on your computer (https://github.com/mozilla/thimble.mozilla.org#setup); I suspect it might take a while. If you run into issues, feel free to ask for help in this issue.

@flukeout how should we show this error? Should it be a banner at the top or a p

[2016-02-18 16:13] #1411 closed

[2016-02-18 16:15] gideonthomas commented on #1410
@dcforeman the license has been added to the repo. Thanks for catching that!

[2016-02-18 19:27] gideonthomas commented on #1364
@simonwex the MDNDocs api is not great since it's missing some important data we need in it's response structure (it's easy to get docs for HTML elements and CSS rules but any data about HTML attributes seems to be missing with no easy way to acquire it). This is the api that I tried using: https://developer.mozilla.org/en-US/docs/MDN/Contribute/Tools/Document_parameters#metadata

I'm going to try

[2016-02-19 00:32] flukeout commented on #1384
@gideonthomas What happens now? I don't think the editor even loads, right?

[2016-02-19 11:03] SaptakS commented on #1384
Ok cool. Thanks.

[2016-02-19 11:33] dcforeman commented on #1414
@cadecairos I've reset my server to a clean install, then I included _sudo npm install -g npm-run-all_ in the initial instructions set:

[code]

I had an error stating it couldn't find autoless so I ran the command _sudo npm install -g autoless_

The server still isn't starting however, the debug log is as follows:

[code]

The command line reported the following:

[code]

[2016-02-19 12:08] dcforeman commented on #1410
Thanks for providing it!

[2016-02-19 16:05] gideonthomas commented on #1384
@flukeout yeah it just gets stuck on "Loading". I think we should error out on the homepage as well as the editor page.

[2016-02-19 16:05] #1410 closed

[2016-02-19 17:51] gideonthomas opened #1415 "Combine the "Sign in or Create an Account to" and publish button"
Since context matters here, we should not allow the translation of the word "Publish" to be used in "Sign in or Create an account to" publishButton.

The publish button markup should be a part of the "Sign in..." string so that translators can localize the word "publish" accordingly with respect to the rest of that phrase. The "Publish" word itself should also have a separate translation for other

[2016-02-19 21:48] gideonthomas commented on #1409
We're not going to do this!

[2016-02-19 21:48] #1409 closed

[2016-02-19 22:09] Pomax commented on #1414
You should not need to use sudo with NPM (in fact, it really should never ever be given superuser install permissions). Instead, tell npm to use a dir with your user's permissions by setting its `prefix` to a dir you control. See https://docs.npmjs.com/getting-started/fixing-npm-permissions

[2016-02-19 22:13] cadecairos commented on #1414
@dcforeman Yes, please try configuring npm to work without superuser permissions. Not only is it best practice, but it might solve some of your troubles.

[2016-02-19 22:53] dcforeman commented on #1414
I don't need to use sudo, it's simply there out of habbit, the result is the same with or without it.

[2016-02-19 23:12] Pomax commented on #1414
looking at https://github.com/mozilla/id.webmaker.org#up-and-running it seems you forgot some steps? The error you're getting is inside the newrelic package, but if you're running a dev instance newrelic should not be called in the slightest, suggesting you don't have a dev `.env` file set up.

[2016-02-20 01:48] dcforeman commented on #1414
Thank you I will check these instructions in the morning. This is the first time I've seen these as I've been running from the main instruction set on the thimble.webmaker.org archive. Thanks for your help so far.

[2016-02-20 05:21] asherdale opened #1416 "Installing Thimble, getting "TypeError: Cannot read property 'locale_src' of undefined" on npm install"
Hello,

I'm running OSX Yosemite 10.10.4 and I'm trying to install Thimble. I've already successfully installed Bramble, but after cloning Thimble, I am having trouble running 'npm install'.

When I run 'npm install' (in the proper directory of thimble.mozilla.org), I get this error:

/root/thimble.mozilla.org/scripts/properties2json.js:14
var localeSrc = path.join(process.cwd(), l10nConfig.locale

[2016-02-20 12:42] dcforeman commented on #1414
Hi, I've been through the instructions.

Node and NPM installed, check. Using version 4.x.
Postgres 9.3 installed, check

Forked and cloned id.webmaker.org, check
Navigated into id.webmaker.org check
npm install command run, check
Set configuration variables, aka cp sample.env .env... check
npm start run, this is the failure point. Error messages generated:
[code]

[2016-02-20 13:08] cadecairos commented on #1414
What happens when we cut npm-run-all out of the equation?

Try 'npm run build && npm run server'

[2016-02-20 15:37] dcforeman commented on #1414
I get the following errors

root@ubuntu-512mb-nyc3-01:~/id.webmaker.org# npm run build && npm run server
[code]

[2016-02-20 16:20] gideonthomas commented on #1416
Hi @asherdale you will need to do the following:
`cp env.dist .env`

[2016-02-20 16:47] cadecairos commented on #1414
The error log tells me that autoless isn't installed or wasn't installed properly by npm.

Is autoless present in '$ID_WM_ORG_DIR/node_modules/.bin'?

[2016-02-20 16:50] gideonthomas commented on #1416
I see that the order in the README is wrong, I'll fix that!

[2016-02-20 20:00] asherdale commented on #1416
Thanks @gideonthomas! Just successfully installed and ran Thimble.

[2016-02-20 20:00] #1416 closed

[2016-02-20 21:56] Pomax opened #1417 "add a way to turn off auto-previewing"
If you have a large document, the auto-preview reloading actually starts to interfere with your typing in files, contantly interrupting the input stream, leading to far more typing errors than is otherwise the case, as well as contant unnecessary preview reset.

A feature similar to JSbin's "autorun with JS: [x]" checkbox would be very much appreciated.

[2016-02-20 22:06] dcforeman commented on #1414
Hi

Yes it is present, I've tried fixing these errors with npm install -g autoless, which does fix that error. But then it complains it can't find other modules, I've repeated that process several times but it consistently isn't able to find modules that are in that folder. For example it's asked for webpack, and webpack is present as well.

[2016-02-20 22:14] humphd commented on #1417
What if you try turning off the Autorun JS feature in the gear menu?

[2016-02-21 00:11] Pomax commented on #1417
my intuitive thoughts there were "that icon clearly has nothing to do with preview settings, because it's in the editor pane"

[2016-02-21 00:15] Pomax commented on #1414
could I ask this be moved over to the [`id.webmaker.org` repository](https://github.com/mozilla/id.webmaker.org/issues) instead, so we can address this issue in the right place, since this isn't technically a problem with thimble?

[2016-02-21 01:28] Pomax commented on #1414
filed as https://github.com/mozilla/id.webmaker.org/pull/414, which also has a PR with the solution to how to fix this.

[2016-02-21 03:01] asherdale opened #1418 "Installing login.webmaker.org, getting "fetch failed with status code 404""
Hello,

I'm running OSX Yosemite 10.10.4 and I'm trying to install login.webmaker.org. I've already successfully installed Bramble, Thimble, and id.webmaker.org, but after cloning login.webmaker.org, I am having trouble running 'npm install'.

When I run 'npm install' I get this error:

npm ERR! fetch failed https://github.com/Pomax/less.js-middleware/archive/master.tar.gz
npm WARN retry will retr

[2016-02-21 06:57] dcforeman commented on #1414
@pomax I'm happy for that to happen, however I did post there 24 hours before I posted here. It's had zero responses in that time, the id project side seems pretty dead.

[2016-02-21 14:46] yash14123 commented on #1394
I would like to take this up.

[2016-02-21 14:47] yash14123 commented on #1334
Would like to work on this. Please assign me this.

[2016-02-21 18:01] Pomax commented on #1414
interesting, I wonder it fell out of someone's inbox. I've noticed github not giving me all notifications I should be getting recently. (PRs that people tweet they filed, but github never notified me of, etc)

[2016-02-21 19:06] Pomax commented on #1418
this was a forgotten module update in login, a PR was filed and has been merged in to resolve the issue, and you should be able to install login.webmaker.org correctly now.

[2016-02-21 20:44] Pomax opened #1419 "feature request: simplify "getting to a project""
Right now you need to click on your username, pick your projects, wait for a new page to load, then click through for there. Instead, might I request that clicking on "your projects" keeps doing what it does, but that it also automatically has an expansion for picking projects immediately?

Silly mockup:

![wefawefawefawe](https://cloud.githubusercontent.com/assets/177243/13205242/d3f0c068-d898-11

[2016-02-22 02:43] asherdale commented on #1418
Hi @Pomax , I still get the same error when running npm install. I even tried to delete the project and clone it again, and npm install still didn't work. Anything else that could help me?
Thanks!