[2017-02-07 15:04] Mordax commented on #1681
I'd like to try fixing this.

[2017-02-07 16:36] dsych commented on #1154
I am a little stuck right now. I've narrowed it down to brackets failing to initiate some value to update it later.
I found a piece of code that does the update of the layout(I believe it is being sent to thimble afterwards to adjust the headers). It is in brackets/src/utils/Resize.js
`
function doRedraw()
`
on line 364. I've compared sequence of calls for the onload case when the bug appears and

[2017-02-07 16:48] Th30 commented on #841
@flukeout
@Pomax
@humphd

Hello!:)

Just an update on the project, I found sometime to take a look at this problem (learning environment too), and managed a quick fix that isn't final...but for update purposes:

<img width="279" alt="screen shot 2017-02-07 at 11 27 54 am" src="https://cloud.githubusercontent.com/assets/3598286/22700422/ab4f5aca-ed28-11e6-99da-0e033a18accd.png">

I'm going to try s

[2017-02-07 17:57] dsych commented on #1154
Update:
I think I've located the source if the problem. According to the de5842fa7 , sidebar had similar problem because its size was manually set. The same thing is happening to the first pane (editor). File src/extensions/default/bramble/Ui.js line 107-109.
[code]

Let me know what you think.

[2017-02-07 18:09] flukeout commented on #1154
Hey @dsych - will check into this shortly and get back to you.

[2017-02-07 18:43] flukeout commented on #1518
Are you still working on this @AlexMeier99 - have you tried the Z-index solution?

[2017-02-07 18:52] flukeout commented on #1154
Im having a bit of trouble with my dev environment right now, so I'll be a bit longer to chime in. So for you, if you create a new project then immediately resize the browser window do the editor and preview panes adjust in size as you change the browser width?

I recorded what happens to me in FF and Chrome.. first browser resize doesn't change the columns, second one deoes...

![width](https://c

[2017-02-07 18:59] dsych commented on #1154
The problem is that onload brackets editor window is being static. After you change the editor size with the preview resize, editor starts to behave the way it is expected. I found the problem is that bramble manually sets the width for editor, which ,I assume, is causing the problem. There was a similar https://github.com/mozilla/brackets/pull/377 issue for the sidebar window, which was fixed(see

[2017-02-07 19:13] davidhuang1550 commented on #1673
@flukeout @gideonthomas I tried changing the _renderTreeSync function in projectManager.js in Brackets by changing the first parameter of setScrollerInfo. Every seemed to work properly after that.  Do you guys think this is the correct fix?

Before
<img width="907" alt="screen shot 2017-02-07 at 2 09 18 pm" src="https://cloud.githubusercontent.com/assets/22035024/22706966/28749ffe-ed3f-11e6-8683-5

[2017-02-07 20:28] hannahkane commented on #1666
Thanks for your work on this, @jgmac1106.

I'm wondering if we need to update the video tour on the homepage with some of the features that have been implemented since the launch. Or perhaps replace it with an interactive tour of the tool.

[2017-02-07 20:46] humphd commented on #1673
@davidhuang1550 I notice that the first arg is the width of the tree container, see:

https://github.com/adobe/brackets/blob/0d1630c47fefa98269f1bb0937e22d5934749cd3/src/project/ProjectModel.js#L327-L337

I don't think using `0` makes sense, since the tree container's width isn't actually zero.  What happens if you force a call to `_renderTreeSync(true)` in the error path that you're hitting (i.e.

[2017-02-07 20:51] humphd commented on #1681
@Mordax, sounds good, it's yours.  You might also want to tackle #1518 at the same time, since they can probably both be fixed with the same thing.

[2017-02-07 20:54] flukeout opened #1705 "Issues with new Vagrant set up"
Gideon and I found some issues with the current setup when trying out code from some of the branches in the currently opened PRs.

**LESS files aren't being compiled do CSS**
We couldn't get this to work no matter what we tried.

**JS file changes aren't being reflected**
When you load up a new branch, even if a JS file is changed, that change won't be reflected in your local environment until you

[2017-02-07 20:55] humphd commented on #1705
I'll see if I can fix things.

[2017-02-07 21:10] humphd commented on #1705
@gideonthomas, @flukeout: question: where are we (re)building LESS for Thimble now?

[2017-02-07 21:12] humphd commented on #1705
It looks like switching branches *does* cause files in `public/**/*.js` to get rebuilt.  So I'm not sure what you're seeing in your first bullet.  Can you give me some STR?

[2017-02-07 21:15] flukeout commented on #1705
@humphd Will try again now, one sec.

[2017-02-07 21:21] humphd commented on #1705
Reading https://github.com/mozilla/thimble.mozilla.org/blob/master/server/request.js#L97-L105 it seems like we have code that *should* recompile LESS if you don't specify that we're optimizing.  We call it here, maybe we have a bug: https://github.com/mozilla/thimble.mozilla.org/blob/20fa70c77fb6a9dbdad29492989715178954fada/server/index.js#L55

[2017-02-07 21:38] flukeout commented on #1705
Wow this might be me just not hard-refreshing the editor. Seems like all of this has resolved as soon I started doing that. Damn. I'll keep this open just for a little longer and chime in if I'm experiencing this again, but disregard for now @humphd

[2017-02-07 21:40] humphd commented on #1705
One thing to note: restarting the server isn't instant, it takes a few seconds, depending on the speed of your host machine, and therefore the speed of the guest VM.  Maybe it's just lag?

Running `npm run logs` will at least show you what's happening (everything but the LESS stuff, which we could log too if it helps).

[2017-02-07 21:44] #1635 closed

[2017-02-07 21:50] davidhuang1550 commented on #1673
@humphd Opps, i meant to change the third parameter instead of the first. My intention was to move the scroll left to 0 to the beginning of the view so that we can see the filetree, and not set the size of the actual width of the filetree to 0.

[2017-02-07 22:05] flukeout opened #1706 "Feature Request: Split HTML / CSS view instead of one-at-a-time."
Via email...

Let's review at some point later when going through feature requests.

[2017-02-07 22:07] humphd commented on #1673
Interesting.  Yeah, do a PR that does this, let's test.

[2017-02-07 22:08] humphd commented on #1706
That's kind of the point of Bracket's inline CSS editing mode, where you go to any element in the HTML, and do `CMD+E` to open the CSS right there in the file.  The problem with it is that it's not discoverable.  But that's part of a solution to what you're describing.

[2017-02-07 22:10] flukeout opened #1707 "Assist (reply to) request for self-hosted Thimble instance."
Via email, we got a request for assistance with setting up a self-hosted instance from Davide.

@gideonthomas Is the newly created Vagrant set-up fully documented?

Davide, are you able to try the directions currently listed on the Readme.MD and let us know where the problems lie?

[2017-02-07 22:26] gideonthomas commented on #1623
The publish part of this has completed. I'll add instructions here on how to implement the thimble part.

[2017-02-07 22:50] flukeout commented on #1705
Okay, closing this - apologies for the hassle.

[2017-02-07 22:50] #1705 closed

[2017-02-07 23:21] gideonthomas commented on #1229
Fixed with #1701

[2017-02-07 23:21] #1229 closed

[2017-02-08 00:58] Taguiar commented on #1667
I found the bug really fast, but the problem I am having is thaT I can log in from my local computer.
What you think @humphd

[2017-02-08 01:03] Th30 commented on #841
I made a minor adjustment adjustments, managed to make the font sizes match between menu and filetree.

<img width="253" alt="screen shot 2017-02-07 at 7 29 35 pm" src="https://cloud.githubusercontent.com/assets/3598286/22718407/3d200ffe-ed6e-11e6-8580-4d2f0e650fe5.png">

Hope it worked out well:)

[2017-02-08 01:03] gideonthomas opened #1708 "Align images on starter page when br tags are used in the description"
Localizers would like to use `<br>` tags in strings so that they don't end up with situations like this: https://bramble.mofostaging.net/dsb/ (take a look at the Homework Excuse generator project - second row, middle image).

When they try to add `<br>` tags though, the image moves down, but the other images (left and right) don't move to align themselves with the image that moved down.

I don't k

[2017-02-08 01:04] flukeout commented on #1630
Hey, great stuff @twigz20 - I'll have time tomorrow to provide some guidance. My gut says that we'll want a menu similar to this one...

<img width="200 alt="image" src="https://cloud.githubusercontent.com/assets/25212/22718730/c7c76ffc-ed56-11e6-9e5c-1baa1dc1396a.png">

...but somewhere within the editor bar.

<img width="551" alt="image" src="https://cloud.githubusercontent.com/assets/25212/2271

[2017-02-08 01:05] gideonthomas commented on #1630
@twigz20 amazing work on this! It's cool to see it working! Would you be able to open up a PR in the brackets repo for your work so far?

[2017-02-08 01:06] flukeout commented on #841
Great stuff @Th30 - if you make a Pull Request based on these changes I can try them out and suggest a slightly different treatment. I can help with the CSS

[2017-02-08 01:07] Th30 commented on #841
@flukeout that would be great! I'll get on the Pull Request right away!

[2017-02-08 01:33] twigz20 commented on #1630
Thanks! I'll get that PR up soon.
@gideonthomas I'm not sure how I can get the work I've done in brackets to be seen by the thimble editor. I can't use the function (**bramble.addCodeSnippet()**) that I'm able to use on **localhost:8000** when I attempt to do the same thing on **localhost:3500**.

@flukeout I'll start thinking of ideas on how I'll be able to accomplish that. In addition, I tried w

[2017-02-08 01:39] Taguiar commented on #1667
@flukeout Are you logged in your account? Because thimble only saves your work if you are logged in.

[2017-02-08 02:02] rkgupta21 commented on #1703
I'm interested on working on this bug.

[2017-02-08 02:28] humphd commented on #1703
@rkgupta21 excellent, it's yours.  You probably need to make your CSS changes in `src/extensions/default/bramble/stylesheets/sidebarTheme.css` in the Bracket's repo.  You can do your PR against it vs. Thimble, and just reference this bug by URL in your commit message.

[2017-02-08 02:30] humphd commented on #1630
@twigz20 👍

[2017-02-08 02:36] humphd commented on #1707
The docs at https://github.com/mozilla/thimble.mozilla.org#setupinstallation are up to date, and this will work for doing a self-hosted version.  It *is* intended more as a dev thing vs. a turn-key installation for production; however it will get things started.

I've also documented the setup process at the start of this post: http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/

If we find th

[2017-02-08 07:28] voltel opened #1709 "remastering code with require.js fails to work, no clear errors in console, while still working in plnkr"
The arrangement of js files works fine at http://plnkr.co/edit/chaGUYSc2eXJDnIIG8bK with no funny messages in console. But within https://thimble.mozilla.org/ru/user/lugi/770581 it generates two vague errors in console and it doesn't work at all (won't even start execution of main.js):
1) [Brackets LiveDev] No subscribers for message XMLHttpRequest
2) Error: ./config.json HTTP status: 404 -   text

[2017-02-08 15:03] humphd commented on #1709
@voltel please let your son know that we're sorry you're hitting this issue.  I'm looking at it now, and I strongly suspect that the issue is related to 2 things, neither of them your fault:

* The way Thimble currently works, loading static content in the live preview works using Blob URLs vs network requests. Therefore, anything that needs to get dynamically loaded (e.g., requirejs loading scrip

[2017-02-08 15:16] voltel commented on #1709
Thank you for a reply.
I recommended our school's teacher of CS to use Thimble in class. It's
child-friendly, but has enough power under the hood for projects that are a
bit more complicated than post-cards.

Unfortunately, I encountered another issue with URL, since I accidentally
revoked the published project and lost previous URL, which is quite a
misfortune since a lot of people have already b

[2017-02-08 15:17] humphd commented on #1100
@bkim49 to fix this, you're going to have to make changes in the [Brackets repo](https://github.com/mozilla/brackets), not Thimble.  We often file bugs in Thimble that end up needing to be fixed in Brackets, because it's unclear where the actual code fix is needed.

In this case, we have code in Thimble that lets the user pick between two themes, Dark and Light.  In an email you sent to me earlier

[2017-02-08 15:19] humphd commented on #1709
@cadecairos, @gideonthomas are you able to help @voltel recover the project URL?

Also, thanks for encouraging the school to use Thimble.  It's too bad that we've not been able to support the exact use case you needed for your son.  It's great that you're helping to spread Thimble as a tool for kids to learn programming.

[2017-02-08 15:49] humphd commented on #1652
From email:

I think you're right, it's probably not sending back that `bramble:loaded` event.  I tried to reproduce this locally, and I see the following exception being thrown on my console:

[code]
There are likely a few fixes we could do here.  The first, and simplest, would be to alter the code there to not crash if the return value is null.  Something like this:

[code]

This isn't a complet

[2017-02-08 16:13] humphd commented on #1154
From email:

First of all, this is a hard bug to fix, which is why no one has fixed it!  So don't feel discouraged that it's taking so long to debug.  I'm not 100%, but I strongly suspect that we need to tell Bracket's internal layout code to adjust after we manually alter the DOM elements for each of the 3 panes in the editor.  I *think* that this involves calling https://github.com/mozilla/brack

[2017-02-08 17:28] AlexMeier99 commented on #1518
Sorry i didn't i was quite busy during the last week.
But when checked #1681 i realized that @Mordax offered to solve this problem, so i stopped dealing with this issue a that moment.
Thanks in advance,
Alex

[2017-02-08 17:34] flukeout commented on #1630
@twigz20 I'll check into the issue you're having with ``nav-options.html`` and see if it's the same in my setup.

[2017-02-08 18:00] flukeout commented on #1518
Okay, Alex - thank you. I'm going to remove the Good First Bug label. If the work in #1618 fixes this, we can close this issue, otherwise I'll re-open it.

[2017-02-08 18:04] AlexMeier99 commented on #1518
Ok thanks.

[2017-02-08 18:05] flukeout commented on #1681
In addition to what is mentioned in #1518, there is also one more symptom of the z-index problems: You can change the width of the file tray (and probably editor too) by dragging _through_ the full screen preview, here's what that looks like...

![resize](https://cloud.githubusercontent.com/assets/25212/22750550/21111fb0-ede6-11e6-8fc5-044004e87d03.gif)

[2017-02-08 18:33] humphd commented on #1681
So many fun ways to break our code!

[2017-02-08 18:43] flukeout opened #1710 "Unable to export project (.zip) in Firefox."
When attempting to export a zip of a project, I'm seeing this in the console...

![image](https://cloud.githubusercontent.com/assets/25212/22751935/64e94b0e-edeb-11e6-88e3-a4bbd1259cf4.png)

Works fine for the same project in Chrome.

cc @gideonthomas @humphd

[2017-02-08 19:03] flukeout commented on #1569
Just to follow up on this as it seems stuck, what if we just add some help copy to this page...

<img width="519" alt="image" src="https://cloud.githubusercontent.com/assets/25212/22752600/fc1ecfce-eded-11e6-8f6d-39b51b40943a.png">

``Is this your project? If you're seeing this, add an index.html file to it``

This would solve a lot of our support requests and it would also make a good first bug.

[2017-02-08 19:06] humphd commented on #1710
Dupe of #1595

[2017-02-08 19:06] #1710 closed

[2017-02-08 19:13] flukeout opened #1711 "Add help copy to "Oh No!" 404 page."
We get a lot of support requests when people can't view their published project and are shown this page...

![image](https://cloud.githubusercontent.com/assets/25212/22752926/1262eeb8-edef-11e6-9a8f-c485f92cf02d.png)

While we have a solution brewed up in #1569 - it's been stuck for a while and it might just be an easier fix to update the copy on this page to help people out.

Something like...

[

[2017-02-08 19:17] ryanwarsaw commented on #1601
@nailaandleeb Can you do me a favor and try and see if this resolves the problem for you? Run the command ```vagrant destroy``` then delete your Vagrantfile and replace it with this one: https://gist.github.com/ryanwarsaw/53555778e0629fa210efbae1e589eb98.

I've basically added an extra configuration option that should resolve the issue: ```vb.customize ["modifyvm", :id, "--natdnshostresolver1", "o

[2017-02-08 19:19] flukeout commented on #1711
If I remember correctly, this might have been some static files that we upload to whatever hosts our thimble projects?

[2017-02-08 19:32] flukeout commented on #1711
Alright @cadecairos has offered to update the page if we send him an updated version, so I'll do that.

[2017-02-08 20:20] humphd commented on #1397
No one yet, but people will need new bugs to work on next week, so I'll make sure someone grabs it.

[2017-02-08 20:42] gideonthomas commented on #1709
Copying text from the email so as to continue the conversation here:

[2017-02-08 20:54] gideonthomas commented on #1709
This has been resolved with the above solution, closing.

[2017-02-08 20:54] #1709 closed

[2017-02-08 21:53] flukeout commented on #1711
Okay, this is the updated copy...

![image](https://cloud.githubusercontent.com/assets/25212/22759023/cca73674-ee05-11e6-8153-71e6a1780b9e.png)

Here's the error page...
[error-page.zip](https://github.com/mozilla/thimble.mozilla.org/files/762045/error-page.zip)

cc @cadecairos Can you replace the current error.html page with the one attached to this issue?

[2017-02-08 22:32] flukeout commented on #1711
Okay, thanks to @cadecairos the new page is live!

* https://thimbleprojects.org/flukeout/blah

Hopefully we'll see a reduction in the amount of support emails.

[2017-02-08 22:32] #1711 closed

[2017-02-08 22:45] gideonthomas commented on #1673
Fixed with https://github.com/mozilla/brackets/commit/5dbb556826cc4e5bb1f23d725562df84f2018b53

[2017-02-08 22:45] #1673 closed

[2017-02-08 23:32] humphd opened #1715 "Update nunjucks in Brackets + Thimble"
While running `npm install` I notice:

[code]
We should update to `2.4.3` in both code bases.

[2017-02-09 01:10] flukeout opened #1716 "Create new project button on 404 leads to the wrong place."
Currently it links to ``https://thimble.mozilla.org/editor`` but should link to ``https://thimble.mozilla.org/projects/new``.

[2017-02-09 01:58] bkim49 commented on #1100
@humphd I have found the css which sets the colour for the side panel. It seems that this is not inside either darkTheme.css or lightTheme.css, but instead it is in sidebarTheme.css.

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/stylesheets/sidebarTheme.css#L13

#sidebar {
	background-color: black;
	text-shadow: none;
	color: #333333;
}

Since this is the case, ev

[2017-02-09 02:20] humphd commented on #1100
@bkim49 I think you're on the right track with moving the `#sidebar {...}` CSS into both of the light and dark theme files, and removing it from sidebarTheme.css.  What does "sidebar appeared as broken up when I tried this" mean?  Can you put in some screenshots in this bug (you can just drag-and-drop images into this comment box, and Github will upload them).

You might find that you need to spec

[2017-02-09 02:37] flukeout commented on #1100
I'm happy to assist with the actual themes once you manage to get that working @bkim49. Based on what you've described, I'm guessing the neither of the theme css files is getting applied ever?

As a test, what if you just set one rule per theme

darkTheme.css -  ``* { background: orange; }``
lightTheme.css -  ``* { background: blue; }``

These set the background color of all the elements, so it sh

[2017-02-09 02:47] flukeout commented on #1100
@bkim49 what if you just make some changes to the existing lightTheme/darkTheme files? Make the background of one pink and the other blue, just to see if any changes you make to those files are having an effect.

[2017-02-09 03:17] timmoy commented on #1633
After going over the code a bit, it seems that the problem is that when we refresh the browser the views/editor/nav-options.html reloads from scratch using

 `<div class="refresh-wrapper enabled">`
        `<div title="{{ gettext("navRefreshPreviewIconTitle") }}" id="preview-pane-nav-refresh">`
          `<img src="/img/icon/refresh.svg">`
        `</div>`
       ` <div title="{{ gettext("navToggl

[2017-02-09 03:20] bkim49 commented on #1100
That is what happens to sidebar when I remove sidebar.css file and add all its content into lightTheme and darkTheme.css

![image](https://cloud.githubusercontent.com/assets/17182037/22767638/d0bca31c-ee4a-11e6-8e2c-c053456a1a78.png)

@flukeout This is the screenshot of thimble when I set the background color of all element to same colour using :

darkTheme.css  * { background: orange; }   * { bac

[2017-02-09 03:53] gideonthomas commented on #1657
Not in scope anymore

[2017-02-09 03:53] #1657 closed

[2017-02-09 03:53] gideonthomas commented on #1676
Not in scope anymore

[2017-02-09 03:53] #1676 closed

[2017-02-09 03:53] gideonthomas commented on #1656
Not in scope anymore

[2017-02-09 03:53] #1656 closed

[2017-02-09 03:53] gideonthomas commented on #1655
Not in scope anymore

[2017-02-09 03:53] #1655 closed

[2017-02-09 03:53] flukeout commented on #1100
@bkim49 I'll try this out in my local environment tomorrow and see what I can come up with. Btw, are you changing files in the dist folder or the src folder in brackets?

@humphd I'm guessing src files end up being compiled into dist files at some point?

[2017-02-09 03:57] bkim49 commented on #1100
@flukeout This is my folder path:
..\brackets\src\extensions\default\bramble\stylesheets

[2017-02-09 04:03] gideonthomas commented on #981
Fixed with adf9a5f79f7828e2b025cc673c412dff823d2928

[2017-02-09 04:03] #981 closed

[2017-02-09 04:09] gideonthomas commented on #1633
@timmoy you're on the right track. For features that are specific to the client (front-end), we store state as preferences in `localStorage`. @humphd links to an example of how you can store/retrieve/use this value in his [comment here](https://github.com/mozilla/thimble.mozilla.org/issues/1631#issuecomment-274916966). Let's try to follow that pattern and read from `localStorage` once the page is

[2017-02-09 04:40] gideonthomas commented on #1630
@twigz20 since your change touches the bramble client code, you will need to run `npm run build` on brackets (the code that has your `addCodeSnippets` change) first before running `npm start`. That will allow you to use `bramble.addCodeSnippets` in Thimble.

[2017-02-09 06:09] raghavaggsss commented on #1716
I am interested in working on this bug! Please let me know how to proceed.

[2017-02-09 14:52] humphd commented on #1716
@cadecairos is this something that you have to fix on S3 or is it in our code?  I can't remember.  If it's fixable by @raghavaggsss, maybe someone could point the way?  If not, let's remove the `good-first-bug` label.

[2017-02-09 14:57] cadecairos commented on #1716
This is a static file uploaded to S3. Whoever works on it can upload the completed HTML file in this issue and I can upload it to the bucket.

[2017-02-09 15:00] humphd commented on #1100
You need to work with different CSS selectors for the actual file tree panel.  The `#sidebar` element isn't enough.  Take a look at this:

![screen shot 2017-02-09 at 9 59 22 am](https://cloud.githubusercontent.com/assets/427398/22788649/7d8fa19e-eeae-11e6-8ae7-2854367d4592.png)

If you use your browser's Inspector, you should be able to find the right elements, IDs, classes to modify.

[2017-02-09 15:01] humphd commented on #1716
Where is the source of the current one, so that this modification could happen?

[2017-02-09 15:10] cadecairos commented on #1716
It's not under version control (lol): `view-source:http://s3.amazonaws.com/publish-webmaker-org-staging-s3bucket-bqo25c3iqx2o/error.html`

Future project: put it in the publish repo and have it automatically update S3 on a deploy?

[2017-02-09 15:21] humphd commented on #1716
Let's morph this bug into that.  @gideonthomas is probably the right person to drive it.

[2017-02-09 17:38] flukeout commented on #1716
Sorry @raghavaggsss - I've removed the Good First Bug label. Since this file isn't under source control and requires @cadecairos to manually update it, I'll just get it done quickly myself. Thank you, though!

[2017-02-09 18:10] flukeout commented on #1100
Okay, so as far as I can tell, it looks like all the CSS is added to the light/darkTheme.css is scoped to under ``#editor-holder``, which is why it never affects the ``#sidebar`` element.

In ``darkTheme.css`` I added ``* { background: green }`` and here's how it shows up when I inspect the site...

<img width="361" alt="image" src="https://cloud.githubusercontent.com/assets/25212/22796643/f508e7a

[2017-02-09 18:16] flukeout commented on #1100
I've found where this happens, it's in ``ThemeManager.js``, starting on line 170...

<img width="579" alt="image" src="https://cloud.githubusercontent.com/assets/25212/22796818/bd9cc56c-eeb0-11e6-84d3-c664f431857b.png">

[2017-02-09 18:44] nailaandleeb commented on #1601
![capture](https://cloud.githubusercontent.com/assets/8026795/22797846/a3b44884-ef21-11e6-8bd8-958011b59361.PNG)

now this problem on vagrant up

[2017-02-09 18:46] nailaandleeb commented on #1601
can we discuss it in detail at <a href="http://gitter.im/">gitter.im</a> ?

[2017-02-09 19:04] flukeout opened #1718 "Make it harder to accidentally Unpublish a project."
In the Publish dialog, the Unpublish link is really close to the link the published project, which can lead to misclicks and unintended consequences.

<img width="250" src="https://cloud.githubusercontent.com/assets/25212/22798522/3e128d02-eeb7-11e6-85cc-131b6c3d68de.png"/>

It's especially bad because once you do this, you can't get the original URL back.

**Ideas**
* Move the Button further away

[2017-02-09 19:26] raghavaggsss commented on #1716
@flukeout No problem!

[2017-02-09 20:03] gideonthomas commented on #1528
Fixed with: 79162c10e3e68ebf0f561eba0c510aae1b19559a

[2017-02-09 20:03] #1528 closed

[2017-02-09 20:05] gideonthomas commented on #1630
@twigz20 am I right in assuming that you're also interested in fixing the Thimble side of this?

[2017-02-09 21:03] gideonthomas commented on #1718
+1 to adding an extra step

[2017-02-09 21:07] gideonthomas commented on #1716
TODO:
- Add error page to publish.wm.org and update S3 error.html page via Travis.
- Update "Create new project button" on error page to redirect to `/projects/new`

[2017-02-09 21:29] twigz20 commented on #1630
@gideonthomas Yes, i am also interested in fixing the Thimble side of this.

[2017-02-09 21:33] ryanwarsaw commented on #1601
@nailaandleeb We have a Mattermost! You can join here: http://chat.mozillafoundation.org, you can also connect using the native Mattermost apps (found here: https://about.mattermost.com/download/). I'd like to discuss this further with you and see if we can't figure out the rest of your problems, you can find me in the Thimble channel!

Also it looks like the new configuration problem solved your

[2017-02-09 22:40] gideonthomas commented on #1630
@flukeout can you provide some direction on this?

[2017-02-09 23:09] ZenanZha commented on #1608
I got where the problem is! I thing I think I could fix it right away. Thank god.

[2017-02-09 23:23] flukeout commented on #1632
Fixed in https://github.com/mozilla/brackets/pull/572

[2017-02-09 23:23] #1632 closed

[2017-02-09 23:27] ZenanZha commented on #1608
I think we could just move the remix button a little bit up(from bottom: 6px to 26px), so both button could works at the same time.
In this way, the remix button will be more friendly for a longer smart phone(like, iphone 7) user to press.

[2017-02-09 23:30] flukeout opened #1719 "Gear menu icon should keep "hover" state always when the menu is open."
This is a small cosmetic bug.

Currently, when you hover and click on a gear icon, it turns white and opens the menu. When you mouse off and use the menu, the gear fades out again.

It should stay white the whole time the menu is open. See below for what I mean...

![menu](https://cloud.githubusercontent.com/assets/25212/22807568/89d46966-eedc-11e6-9e7f-9bfc13e9f96e.gif)

We might want to add a "m

[2017-02-09 23:34] flukeout opened #1720 "Mobile preview phone shouldn't be taller than preview window."
When the mobile preview phone is taller than the preview window that contains it, we get a weird double scrollbar that makes it annoying to get around.

![image](https://cloud.githubusercontent.com/assets/25212/22807697/2414324a-eedd-11e6-902e-ca5a400358ac.png)

We should make it so that the preview phone is never taller than the preview window. So, it should shrink as the preview window gets shor

[2017-02-09 23:37] flukeout opened #1721 "Make the mobile phone preview resizable."
Currently our mobile mode preview phone is in landscape mode and only has one size. We can add a handle on the bottom right that allows people to resize it as they wish, like seen in this screenshot from Chrome's dev tools:

![resize-mobile](https://cloud.githubusercontent.com/assets/25212/22807798/aa33f572-eedd-11e6-8986-a4c25c55d67f.gif)

In addition, we'd need to remember this setting so when t

[2017-02-09 23:41] flukeout opened #1722 "Make hover effect transitions consistent"
Take a look at this GIF of me hovering over various UI elements.

![hover](https://cloud.githubusercontent.com/assets/25212/22807856/0326680e-eede-11e6-96e3-99df346cdb06.gif)

You'll notice the buttons in the toolbar change color immediately, while the menu color fades.

Let's make this consistent. I'd be curious what all of these look like with a fast transition time. Let's try ``.15s`` with an `

[2017-02-10 00:05] flukeout opened #1723 "Add hover effect to the AUTO refresh UI in the preview."
Currently, it's one of the few UI elements that doesn't have a :hover treatment...

![checkbox-hover](https://cloud.githubusercontent.com/assets/25212/22808581/929b2c74-eee1-11e6-9c3b-1e7868af7ce0.gif)

...maybe just making the text slightly darker would work.

[2017-02-10 00:07] flukeout commented on #1624
I think adding a ``white-space: nowrap`` rule to the ``.nav-container`` that contains that UI should do the trick.

[2017-02-10 00:27] LCartwright commented on #1702
I'm interested in fixing this bug.

[2017-02-10 00:38] flukeout commented on #1630
@twigz20 So, in my dev environment I'm able to see changes when I edit ``nav-options.html`` in ``views/editor`` - maybe it's a chache issue for you?

As a test, open Chrome dev tools, the hit the triple-dot menu to get to Settings, then find the Network setting and disable the cache...

![image](https://cloud.githubusercontent.com/assets/25212/22809264/d73b8bd6-eee5-11e6-9ed6-f2c957214d67.png)

No

[2017-02-10 01:48] evantsyferov commented on #1665
@flukeout do you want the link for the help page to show up when a project is loading or  only when a error occurs with a project loading?

[2017-02-10 04:48] ZenanZha commented on #1609
I already fixed a bug with Aframe VR in [#1068](https://github.com/mozilla/thimble.mozilla.org/issues/1608).
I think I'm ready to fix this problem as well.

[2017-02-10 04:59] Blackweda commented on #1536
@chadsansing
I'm using a Chromebook to test your bug issue.. and I used the following code:

<input type="button" value='Yes'>                           Works
<input type='button' value='Sometimes'>               Works
<input type="button' value='No">                           Faulty syntax, expected error(type="buttonvalueno")
<input type='button" value="Maybe'>                     Faulty syntax,

[2017-02-10 05:32] peiying16 commented on #1631
I think we should separate this issue into 2 pieces.
1. Add back-end support like this issues
https://github.com/mozilla/brackets/pull/378

2. Modify thimble to change the UI when initial.

The back-end part has been done.
When I turn off the toggle and refresh the page, I can get the false value. It means the get and set functions should be done.
![false](https://cloud.githubusercontent.com/asset

[2017-02-10 08:52] timmoy commented on #1633
So I managed to get the front end to display selectively on load. I added an if statement for the class itself. Not the prettiest, but it got around some of the issues I was having with my proposed fix being inside the quotes and not escaping properly.

`<div class={% if / autoUpdate %}"refresh-wrapper enabled"{% else %}" refresh-wrapper"{% endif %}>`

 I tried to then create an value and store it

[2017-02-10 11:05] chadsansing commented on #1536
Thank you, @Blackweda - our user didn't capture the bug in this case; only reported it. Might be time to close this one?

[2017-02-10 16:02] humphd commented on #1633
A few tips, which I hope might help:

* You have to run `npm run build` any time you change code in Bracket's `src/bramble/client.js`.  This copies the code to `dist/` which is where it actually runs from when you use Thimble.  Just in case you didn't know this, and were wondering why code changes weren't happening.
* In the bramble client API code, we manage state using this object: https://githu

[2017-02-10 16:07] humphd commented on #1702
@LCartwright that's great, thank you!  If you have questions or need any help, please let us know.

[2017-02-10 16:10] humphd commented on #1721
I'm not sure if this makes sense in the context of it looking like a phone.  We aren't giving a true responsive view, we're giving a single width/height viewport that simulates a phone.  If we switch to what you have here, we might need to rethink the phone wrapper.

[2017-02-10 16:47] flukeout commented on #1721
Yeah definitely - I think having the flexible sizing outweighs the current aesthetics, as amazing as they are! Another option would be to add a 'rotate' button to the phone to simulate landscape mode. Or, maybe another click on the phone preview icon could do that.

Let's dive in further if someone picks this up.

[2017-02-10 17:12] flukeout commented on #1665
Good question @evantsyferov - what do you think a good time would be? I guess it really depends on the quality of the users network connection.

If we show the button during a normal but slow loading process, it might be a signal that something is broken when it really isn't. My initial reaction is to just add the link or button there all the time.

``Is loading stuck? <a>Try these steps</a>`` kin

[2017-02-10 17:16] Taguiar commented on #1667
I got this bug fixed. This was was really funny to do since the code was working perfectly in some operating systems/browsers and some nothing was appearing at all. My changes were focused when the user is logged in. But I think that it would be interesting if some kind of prompt would pop up even when the user is not logged in (the save is done locally). The pull request will be done this afterno

[2017-02-10 18:20] omytryniuk commented on #1627
@humphd, @flukeout, @gideonthomas - Thank you very much for all your assistance. Feel free to let me know if you need anything else.

[2017-02-10 19:55] peiying16 commented on #1631
Fixed
https://github.com/mozilla/thimble.mozilla.org/pull/1725
https://github.com/mozilla/brackets/pull/584

[2017-02-10 23:22] flukeout commented on #1135
I wonder if we could just add a little icon and use the existing right-click menu feature when someone clicks it. That might be an easier change. I'll look into it.

[2017-02-10 23:24] flukeout opened #1728 "Right-click menu often disappears in Firefox right after appearing."
See below, this is in Firefox on a Mac...

![right-click](https://cloud.githubusercontent.com/assets/25212/22847884/fd6392ee-efa4-11e6-82ae-0dd78c82b5c8.gif)

Happens quite often (thought I can't tell exactly why) using both a mouse and right-clicking with the trackpad.

[2017-02-10 23:40] gideonthomas commented on #841
Fixed with mozilla/brackets@57d075f78d44af8b5cecea9afbc922c6825c5d58

[2017-02-10 23:40] #841 closed

[2017-02-10 23:51] #1652 closed

[2017-02-11 00:21] #1631 closed

[2017-02-11 00:48] gideonthomas commented on #1608
@flukeout what do you think of this solution?

[2017-02-11 01:12] #719 closed

[2017-02-11 01:34] gideonthomas commented on #1633
@timmoy just to add two more things to @humphd's comment above:

- You shouldn't need to touch the `views/editor/nav-options.html` file at all. Any changes you make out there, happen at the server level before it reaches the client. We want to make changes that only touch the client. As you point out above, the change will actually be in `bramble-ui-bridge.js` on Thimble.
- This is a two repositor

[2017-02-11 01:37] gideonthomas commented on #1536
If we can't reproduce this issue, let's close it for now and reopen if it's reported again.

[2017-02-11 01:37] #1536 closed

[2017-02-11 01:56] gideonthomas commented on #1100
I'm confused!

Why can't we make the change in the `sidebarTheme.css` file? We toggle the `.dark` class on the `body` element based on what theme is set. Why can't we add style rules like:

[code]

and

[code]

[2017-02-11 01:58] LCartwright opened #1729 "Locales not present when installing via vagrant"
I'm attempting to start up thimble for the first time from a fresh clone of master, after running `vagrant up`, requesting http://localhost:3500/ returns a connection reset error from the browser.

So looking at the pm2 app summary in the `vagrant up` output, I see that `localize-client` is stopped
[code]
Digging into the log file `/home/vagrant/.pm2/logs/localize-client-out.log` shows the followi

[2017-02-11 02:05] gideonthomas commented on #1729
@LCartwright hmm that is weird. I wonder if something went wrong in the `npm install` part for thimble. For `vagrant up`, in the startup script, we run `npm install` as one of the last commands here: https://github.com/mozilla/thimble.mozilla.org/blob/master/scripts/setup-services.sh#L113 which automatically should run the `postinstall` script (https://github.com/mozilla/thimble.mozilla.org/blob/m

[2017-02-11 02:08] gideonthomas commented on #1569
@flukeout up to you. I can try to get it done by next week, but if you think that this will get done faster (or is generally a better solution), we can totally go with this.

[2017-02-11 02:12] gideonthomas commented on #1666
Love the idea of an interactive tool!

[2017-02-11 02:18] gideonthomas commented on #1629
@kramsamujh how are you doing with this bug?

[2017-02-11 02:18] gideonthomas commented on #1637
@rkgupta21 how are you doing with this bug? Let us know if you need any guidance.

[2017-02-11 02:20] gideonthomas commented on #1626
@indranil-tiwary how are you doing on this bug? Let us know if you need any help!

[2017-02-11 02:28] humphd commented on #1729
I got a similar email from @twigz20 tonight, who couldn't get `vagrant up` to start the localization script on startup.  He sent this screenshot:

![screenshot_6](https://cloud.githubusercontent.com/assets/427398/22850473/bf28935c-efd7-11e6-9f92-de532ff6f6e5.png)

Odd that you're both hitting this.

[2017-02-11 02:40] humphd commented on #1627
Nice work @omytryniuk!  I have no doubt that we'll have more bugs for you to tackle next.

[2017-02-11 02:41] humphd commented on #1667
@Taguiar can you file a new bug on the "Saving..." and "Saved." stuff for the case when users aren't logged in?  I think that's a neat idea, and we should follow-up on that, but not in this bug.

[2017-02-11 03:26] gideonthomas commented on #1729
maybe we should just add `npm run localize` to the startup script.

[2017-02-11 05:38] twigz20 commented on #1729
After manually running `npm run localize` I get another issue. It seems to be stuck here "Loading Project"

![screenshot_8](https://cloud.githubusercontent.com/assets/10361408/22851517/51ec45ac-eff2-11e6-8ee4-645fa9ef3bf6.png)

Been like that for about 20 minutes now.

[2017-02-11 06:47] Blackweda commented on #1715
I'd like to try this problem over the weekend :)

[2017-02-11 07:21] bkim49 commented on #1722
Hello, I worked on this bug. I used the existing transition class in userbar.less and editor.less files. I have added transition class into all the appropriate CSS elements that allows hover animation. Using the transitionTime, you can adjust all the hover time with ease.

[code]

I have created 2 GIF:

0.5s Transition time
![0 5 transition](https://cloud.githubusercontent.com/assets/17182037/2285

[2017-02-11 13:16] humphd commented on #1729
I wonder if it's a startup order issue between localize-client and thimble?

[2017-02-11 13:33] LCartwright commented on #1729
@gideonthomas running `vagrant destroy` and `vagrant up` from a fresh copy of `master` produced the same results. You can the full output here: https://gist.github.com/LCartwright/4b14e764f90ca033e258a31018701934 This is being run with node `v6.9.5`, vagrant `1.9.1` and VirtualBox `5.1.14` on Windows 8.1

@twigz20 I had the same issue, I needed to run `npm run postinstall` instead. I'm able to use

[2017-02-11 15:25] twigz20 commented on #1729
@LCartwright It works after using `npm run postinstall`.
Be sure to have grunt installed on the machine, though. If not, run `npm install -g grunt-cli` before `npm run postinstall` and it should work without any issues.

[2017-02-11 19:22] bbhagwandeen commented on #1719
I'd like to try to fix this small cosmetic bug.

[2017-02-12 00:16] LCartwright commented on #1729
There are a couple of issues with the script https://github.com/mozilla/thimble.mozilla.org/blob/master/scripts/setup-services.sh which prevents thimble from starting from `vagrant up`.

1. thumble is installed with the command `npm install... --loglevel=error` which swallows an npm warning regarding the `postinstall` npm script
2. the `postinstall` npm script needs to run with root privileges, me

[2017-02-12 02:01] flukeout commented on #1569
Let's not prioritize this issue for now @gideonthomas - the changes I suggested to the 404 page are live now, and I think it has basically the same effect.

[2017-02-12 03:32] timmoy commented on #1633
Thanks for the links and comments, they have been very useful!

 I am having some trouble with testing at the moment due to the getAutoUpdate() returning null (due to the getter returning null). The related code (commented stuff for later testing/debugging):
![thimble git diff 1](https://cloud.githubusercontent.com/assets/16708173/22859300/1a586928-f0a5-11e6-8e99-1f0f95655082.PNG)

I feel that the

[2017-02-12 03:45] #1627 closed

[2017-02-12 05:37] gideonthomas commented on #1633
@timmoy you would need to use `PreferencesManager` there. From what I remember, `wordWrap` is already a preference that has been incorporated in Brackets, so, the patch that you are referring to might not include some code you need to enable the preference. Since `autoUpdate` is a new preference we are creating, following [this patch](https://github.com/mozilla/brackets/pull/584/files) instead mig

[2017-02-12 05:45] gideonthomas commented on #1703
Fixed with mozilla/brackets@1454b667bb02c2343675e054b550fc32b0fd47be

[2017-02-12 05:45] #1703 closed

[2017-02-12 06:30] gideonthomas commented on #1729
@LCartwright thank you for debugging this and really nice work figuring out the issue.

I think the root cause is the missing global dependency of `grunt-cli` (it is bizarre that no one else has run into this issue yet). Feel free to open up a PR with that change (as well as the `--unsafe-perm` change).

Let's keep the `--loglevel=error` for now until we have updated our dependencies so that we do

[2017-02-12 06:33] gideonthomas commented on #1719
@bbhagwandeen awesome! Feel free to let us know if you need any help.

[2017-02-12 06:33] gideonthomas commented on #1715
@Blackweda it's all yours :)

[2017-02-12 06:54] gideonthomas commented on #1677
Fixed in mozilla/brackets@7ab8bae96559ed9c4a13dae9ea961cda8f3baf75

[2017-02-12 06:54] #1677 closed

[2017-02-12 10:45] O-kasso commented on #1723
Oops, I submitted my attempt at this fix, didn't realize it had been assigned to someone else! For posterity, https://github.com/mozilla/thimble.mozilla.org/pull/1733 is my fix, but feel free to chuck it ¯\\_(ツ)_/¯

[2017-02-12 12:28] LCartwright commented on #1729
@gideonthomas Thanks! I agree the severity of an install step failing should produce some `ERR` output, I'd liken it to a build step failing.

PR #1734 submitted, thanks @gideonthomas @humphd @twigz20 👍

[2017-02-12 16:34] #1729 closed

[2017-02-12 16:44] gideonthomas commented on #1723
@O-kasso that's ok, we'll try to figure out which fix makes sense and go with that.

@O-kasso and @hritwik567, as a best practice (possibly for next time), it is often helpful for us as project maintainers (as well as other contributors) to know who is working on what, so I would recommend commenting in the issue first saying that you would like to fix the bug before attempting the fix. This way,

[2017-02-12 16:56] bkim49 commented on #1722
@flukeout Could you give me a feedback for the transition time? Whether to go with 0.5s or 0.15s.

[2017-02-12 17:08] gideonthomas commented on #1722
@bkim49 I would recommend that you open up a pr (you can add [WIP] to the title) with whatever you feel is right and we can comment there. I believe @flukeout won't be available until tuesday but it will help for us to see your work in progress.

[2017-02-12 20:14] flukeout commented on #1722
Hi @bkim49 - please go with .15s and please also use ``ease-out`` timing, I find it's makes things feel more responsive and snappy.

[2017-02-12 21:00] LCartwright commented on #1702
@humphd you can find the fix in PR #1736, thanks!

[2017-02-12 21:27] O-kasso commented on #1718
hey! can I take a crack at this?

[2017-02-12 22:58] Blackweda commented on #1715
thanks :)

[2017-02-13 15:14] humphd commented on #1729
@LCartwright this is great, thank you so much for dealing with this.  Really appreciated.

[2017-02-13 15:20] humphd commented on #1718
@flukeout can you let @O-kasso know your thoughts on this plan?

[2017-02-13 17:41] O-kasso commented on #1718
I was thinking the confirmation dialog could say something like "Are you sure you want to unpublish this project? Links that have already been shared will no longer work."

Also, does localization need to be taken into account? is there any material available describing how locale text is handled?

[2017-02-13 20:54] gideonthomas commented on #1702
Fixed with 540835e8b5df7c2a717b5262e4938e06bedf74d8

[2017-02-13 20:54] #1702 closed

[2017-02-13 21:12] gideonthomas commented on #1718
@O-kasso go for it! I would say go with those changes for now and open up a PR and we can comment on any changes there. As for localization: https://github.com/mozilla/thimble.mozilla.org/wiki/Localization might be helpful.

[2017-02-13 21:25] gideonthomas opened #1737 "Update remix metadata when published projects are renamed"
Continuation of https://github.com/mozilla/thimble.mozilla.org/issues/719

and cross-filed here: https://github.com/mozilla/publish.webmaker.org/issues/240

STR:
- Publish a project
- Rename the project (no need to make any other changes)
- Open publish dialog to see the "Update published project" button and click on it
- Reload your published project (via the published url) and you will see that

[2017-02-14 14:35] humphd commented on #1306
We dug into this in class a bit, and if someone wants to try and fix it, the issue is here:

https://github.com/mozilla/brackets/blob/master/src/document/DocumentCommandHandlers.js#L864

After a save happens in Brackets, focus is reset to the editor when the promise finishes.  You could fix this a few ways:

* Just not do that :)  I am unclear why we need to refocus after save, but the pattern is

[2017-02-14 15:59] gideonthomas opened #1738 "`callback` is not a function when showing "Update Published Project" prompt"
Bug introduced in 392fb9dccc4a228b21dfe88cfe415cb56a6acded

https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/publisher.js#L65-L68 <-- these lines use the `showUnpublishedChangesPrompt` function from the `publisher`'s prototype. However, the events that it is attached to send parameters that are not a callback (which is what the function actually expects

[2017-02-14 18:15] humphd commented on #1738
cc @lkisac.  Do you want to fix this for us?

[2017-02-14 19:04] flukeout commented on #1154
Closed via https://github.com/mozilla/brackets/pull/581 - thanks again for your work @dsych

[2017-02-14 19:04] #1154 closed

[2017-02-14 19:34] O-kasso commented on #1718
Basic fix here: https://github.com/mozilla/thimble.mozilla.org/pull/1739
Will address localization separately.

[2017-02-15 00:25] TheAlbinoPanda commented on #1718
Afternoon,

Is this issue solved? Can I take a stab at it ? I'm new to all of this, so If i'm doing something wrong, just let me know !

[2017-02-15 00:30] TheAlbinoPanda commented on #1738
Hey ! Can I try helping out with this ? I'm new to contributing to projects , so if you could guide me through my first contribution, I would greatly appreciate it !

[2017-02-15 00:57] O-kasso commented on #1718
@TheAlbinoPanda workin' on it :)

[2017-02-15 00:57] O-kasso commented on #1720
I can take a look at this one :)

[2017-02-15 01:21] gideonthomas commented on #1738
@TheAlbinoPanda absolutely! If you have git installed on your computer, first try to get setup with Thimble. Our setup instructions are in the [README here](https://github.com/mozilla/thimble.mozilla.org#setupinstallation). Once you have setup Thimble (and Brackets) on your computer, you can begin working on the issue.

Let us know if you have any problems setting it up and we'd be glad to help. O

[2017-02-15 02:43] lkisac commented on #1738
@humphd  I would like to also help with this one if it's still ok.  If not, I believe I will be working on issue [#1737](https://github.com/mozilla/thimble.mozilla.org/issues/1737)

[2017-02-15 03:38] mfainshtein4 commented on #1641
![afforance-change](https://cloud.githubusercontent.com/assets/11540135/22959673/25bf0746-f306-11e6-95ef-a3c98a4fef65.png)
I initially thought of something along these lines where beside the line number there would be a display of the color selected. which also acted as a button that opened up the quick edit.

[2017-02-15 04:11] mfainshtein4 commented on #1624
I'd like to fix this bug, but I am having a hard time replicating it

[2017-02-15 14:37] humphd commented on #1738
@TheAlbinoPanda I've written a blog post that walks through doing a fix in Thimble, see http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/.  It will help you.

Can I suggest that we get @Ikisac to take this particular bug, though, since it relates to a fix he's just done in a previous commit?

There's a lot to choose from in this list: https://github.com/mozilla/thimble.mozilla.org/issues?utf

[2017-02-15 14:42] humphd commented on #1624
@flukeout I agree with @mfainshtein4, this doesn't seem to be happening any more.  Can you give some STR or close?

[2017-02-15 14:46] humphd commented on #1641
One thing we could try here is to have some kind of timer or event listener that tries to see if there *is* an inline editor (or even inline doc) available for the current cursor position, and if so, fire an event.  We could listen for that either in Brackets or Thimble, and alter the CSS on some button that would indicate you can click to pop-open the associated inline widget.

Figuring out when

[2017-02-15 14:53] humphd commented on #1720
Great, thanks @O-kasso.  This bug is in Brackets, and specifically in files here: https://github.com/mozilla/brackets/tree/master/src/extensions/default/bramble/lib.

The HTML is here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/Mobile.html

CSS related to it is here: https://github.com/mozilla/brackets/tree/master/src/extensions/default/bramble/stylesheets

[2017-02-15 15:00] humphd opened #1740 "Make FILES, EDITOR, and PREVIEW headers more responsive"
In apps like Google Docs, if I make my screen narrow, the toolbar shrinks, and a "More" button appears on the right, indicating there are things I'm missing:

![screen shot 2017-02-15 at 9 57 04 am](https://cloud.githubusercontent.com/assets/427398/22979686/36232db0-f365-11e6-8a6e-47bdac8503e9.png)

However, in Thimble, if you narrow one of the FILES, EDITOR, or PREVIEW headers, the buttons just v

[2017-02-15 17:16] flukeout opened #1741 "Long Term: Improve homepage to showcase features."
Thimble does a lot of awesome things, but our description of it on the homepage is kind of bland. I'll benchmark some similar tools and see how they present their offering.

We can call out
* Lots of the cool brackets features
  * Quick edit menus
  * Inline CSS editing
  * ...
* That you can publish to the web instantly
* That you can upload assets / files
* Mobile preview
* Inspector tool
* ...l

[2017-02-15 17:18] flukeout commented on #1624
@mfainshtein4 @humphd It might be because you don't have a Tutorial in the project. The TUTORIAL nav item is what's taking up the extra room and breaking the layout for me. Please confirm. To add a tutorial, use the file menu in the FILES bar.

[2017-02-15 17:32] humphd commented on #1624
OK, that did it.

![tutorial-in-header-resize](https://cloud.githubusercontent.com/assets/427398/22986819/b898c8ee-f37a-11e6-9908-bf9fabfed08f.gif)

@mfainshtein4 I've assigned this to you.  Ask further questions you have in this bug.

[2017-02-15 19:04] TheAlbinoPanda commented on #1738
Awesome ty guys @humphd @gideonthomas . I'll get to working on this tonight!

[2017-02-15 19:54] gideonthomas commented on #1718
@TheAlbinoPanda if you look at the list in https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20bug%22%20-label%3A%22assigned%20to%20contributor%22 you might have a better chance finding issues that haven't been taken by someone yet.

[2017-02-15 23:11] davenoah commented on #1707
Hi, thanks for you replies, sorry but I heave read now the email.

The problems that I encountered are errors with npm install on id.webmaker.org.
I'm trying to install everything manually because I'm using an ec2 instance (but I tried a DigitalOcean droplet as well) and virtualbox+vagrant doesn't work. The instance is clean, I just installed build-essentials, libssl-dev, git and Node with NVM.

E

[2017-02-16 03:00] humphd commented on #1707
cc @cadecairos.

I wonder if we should put some time into making this install-able via `apt-get` or the like, or also having things run with docker.  I bet some of my students could help with that, if there was consensus on how we want to approach it.

[2017-02-16 13:22] rashmimalpande commented on #1721
Hi, I would like to try this.  Are we talking about something like this -

![moz1](https://cloud.githubusercontent.com/assets/14840334/23022744/760d10e4-f478-11e6-8455-6eea1b15587a.jpg)

I just tried adding icons through dev tools.

[2017-02-16 14:57] humphd commented on #1721
@flukeout can respond to this with thoughts.

[2017-02-16 16:23] Riyuzakii commented on #1612
@humphd This is indeed my first time on github, and i would like to help fix this bug, if you would be kind enough to guide me through it.

[2017-02-16 16:51] Pomax commented on #1707
this might also require doing a dep-check to see which dependencies have moved up one or more major versions. I know that autoless has been replaced by postcss these days, so there might be some maintenance work in addition to packaging.

[2017-02-16 17:02] humphd commented on #1612
@Riyuzakii can I suggest that this bug is not a great one for your first experience.  Partly I say this because it represents an area that we're moving away from (IoT) vs. toward.  Partly I say this because if you want mentoring, I'd like to get you working on a bug that I know I can mentor well.

With that said, what do you think about working on https://github.com/mozilla/thimble.mozilla.org/iss

[2017-02-16 17:03] humphd commented on #889
I've suggested that @Riyuzakii work on this, and I'll mentor.

[2017-02-16 17:04] humphd commented on #1707
Agreed.  We should be filing bugs on both Thimble + Brackets to update our deps.

[2017-02-16 17:07] humphd opened #1743 "Update node deps"
We should look at all our dependencies in `package.json` and update them.

See also https://github.com/mozilla/brackets/issues/589

[2017-02-16 17:07] humphd commented on #1707
Filed bugs: https://github.com/mozilla/thimble.mozilla.org/issues/1743 and https://github.com/mozilla/brackets/issues/589

[2017-02-16 17:07] humphd commented on #1707
This may or may not be a "good first bug," but I'd love to see one of my students try it.

[2017-02-16 17:09] flukeout commented on #1718
Sorry team, was just alerted to this issue by @Pomax (thanks!).

@O-kasso this looks great, I'll provide a white garbage can Icon momentarily. I think that will work better. Then, please create a PR and we'll go from there!

[2017-02-16 17:11] Pomax opened #1744 "Update the mozilla logo on the main page"
Do we need to update the mozilla logo in the main page footer to use the new branding, or is the old wordmark still valid branding? @flukeout any ideas?

[2017-02-16 17:13] hannahkane commented on #1744
cc @xmatthewx

[2017-02-16 17:14] flukeout commented on #1744
Dupe of #1664 - I'll update the logo in header & footer.

[2017-02-16 17:14] #1744 closed

[2017-02-16 17:20] flukeout commented on #1718
Here's a white garbage can - https://drive.google.com/open?id=0B_CPRh4f3yyqOGYwVkJ2c0xmOUE

[2017-02-16 17:34] simon66 commented on #1313
This is something that I was actually trying to do the other day.
I wanted to download just the image and not the whole project.

![capture](https://cloud.githubusercontent.com/assets/1103528/23032835/e2237de8-f443-11e6-8e40-ef59ad8ccaf0.PNG)

Maybe an option like this would be nice. This way I can download any single file (Or maybe a folder if I want to).
What do you think @flukeout?

[2017-02-16 17:44] flukeout commented on #1313
Sounds good to me! I think @humphd and @gideonthomas are in the process getting us over on the latest version of brackets. Might make sense to wait until that is finished before tackling this.

https://github.com/mozilla/brackets/pull/588

[2017-02-16 17:47] flukeout opened #1745 "Allow option to edit .svg files instead of showing a preview."
One of the cool aspects of SVG files is that you can change them by modifying their code in a text editor. However, in Thimble, we default to the "Image Preview" mode always for .svg files. Let's add a toggle to allow editing ``.svg`` files?

![image](https://cloud.githubusercontent.com/assets/25212/23033468/097d6f28-f42d-11e6-95fd-c60da32f8908.png)

[2017-02-16 17:52] humphd commented on #1745
This already exists, I wrote it for @Pomax, it's an extension called `SVGasXML` https://github.com/mozilla/brackets/tree/master/src/extensions/extra/SVGasXML.

What we don't have is an easy way to toggle it on/off.

[2017-02-16 17:54] flukeout commented on #1630
@twigz20 how's it going? Did my suggestion help?

[2017-02-16 17:54] humphd commented on #1313
@simon66 you can file that as a separate bug in mozilla/brackets.  When you do, give some consideration to the case of a file vs. a folder, and what you'd do in the folder case.

[2017-02-16 18:05] flukeout commented on #1629
For future reference, the work here has been continuing in https://github.com/mozilla/thimble.mozilla.org/pull/1731

[2017-02-16 18:35] flukeout commented on #1740
Oh, I've got some ideas alright. So, I think since we are already firing a 'resize' method all the time, we might as well attach some cool logic to it.

Instead of moving them to a menu, I'd rather we condense the size of the existing UI when things get narrow. For example, ditching the "Undo" label from that icon when we run out of room.

I'll experiment with this a little bit.

[2017-02-16 18:52] #1670 closed

[2017-02-16 19:43] Pomax commented on #1745
Is this an extension or built in brackets? It feels like a nice thing to have here is a "view as actual file" button so you can toggle between "view image" and "view source" mode.

[2017-02-16 19:47] O-kasso commented on #1718
![image](https://cloud.githubusercontent.com/assets/7986733/23038104/cc30cac8-f456-11e6-92f8-6657f047f6ee.png)

[2017-02-16 19:53] humphd commented on #1745
It's an extension I wrote to change how an `.svg` gets loaded (image vs. xml).  We could add some kind of toggle UI to make that switchable at runtime.  Right now it's startup-only.

[2017-02-16 20:10] humphd opened #1747 "Missing "Project Title" on editor header"
![screen shot 2017-02-16 at 3 08 49 pm](https://cloud.githubusercontent.com/assets/427398/23038969/e82b46ba-f459-11e6-9c72-d4831109f9e1.png)

On our [staging server](https://bramble.mofostaging.net) I'm noticing that we suddenly don't have any text for the project title.  Above, the top is staging, bottom is production.

[2017-02-16 20:26] gideonthomas commented on #1747
This seems to only be the case for anonymous projects.

[2017-02-16 20:28] gideonthomas commented on #1745
Is this still a good first bug? Not sure what the work to be done here is? Is it just adding the toggle UI?

[2017-02-16 20:28] gideonthomas commented on #1743
@ryanwarsaw I know you were doing some of this work for one of the dependencies. Are you interested in this one too?

[2017-02-16 20:33] Pomax commented on #1745
it would make sense to have the toggle in the extension itself, so that brackets lets you toggle, rather than needing it in our own UI

[2017-02-16 20:39] Pomax commented on #1740
the typical way to make this responsive is to have a timeout-for-new-event so you have something like
[code]

So even thoug the drag event kicks in constantly, you only handle it every 100ms or whatever looks acceptable, so you don't try to handle the resize at 60fps.

[2017-02-16 20:41] Pomax commented on #1707
starting a bug and documenting what needs to be done, even if you end up going "but I'm not the person to be actually doing this" is an excellent open source contribution

[2017-02-16 20:52] Pomax commented on #1722
are all these vendor prefixes still necessary? `transition` has been a normal CSS property for a while now, I'd be surprised if any modern browser (e.g. still supported by the vendor who makes that browser) doesn't just work without the -vendor- prefix

[2017-02-16 20:53] Pomax commented on #1719
@bbhagwandeen are you still working on this?

[2017-02-16 20:53] flukeout commented on #1740
Yeah great idea @Pomax - maybe I'll just finish this feature then, with the timeout. Here's how it works with a few items, each of which have a ``display-priority`` attribute set in order of their importance, ie ``1,2,3`` etc.

![narrow-mode](https://cloud.githubusercontent.com/assets/25212/23040633/e9eac114-f446-11e6-8a4c-1fdcb893997c.gif)

[2017-02-16 20:54] bbhagwandeen commented on #1719
Yes, sir. Working on it at this moment. Should be completed today.

Brandon Bhagwandeen

On Feb 16, 2017, 3:53 PM -0500, Mike Kamermans <notifications@github.com>, wrote:

@bbhagwandeen<https://github.com/bbhagwandeen> are you still working on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mozilla/thimble.mozilla.org/i

[2017-02-16 20:54] flukeout commented on #1722
Good call @Pomax - let's roll with just ``transition``

[2017-02-16 21:01] Pomax commented on #1740
I like it. We can probably do some priority checks, feels like collapsing undo to just the icon, then "EDITOR", then the filename, might work best in terms of having people identify what they're using (given that the file tree can be collapsed)

[2017-02-16 21:03] flukeout commented on #1740
Yeah, easy enough to tweak the priority.

[2017-02-16 21:09] Pomax commented on #1135
What about a "click when already selected"? The first click opens the file in brackets, and then a subsequent click pulls up the little menu?

[2017-02-16 21:11] Pomax commented on #1601
Heyl @nailaandleeb @ryanwarsaw did anything come out of discussions on this? Are there issues we can file to address things that were discovered?

[2017-02-16 21:11] Pomax commented on #1716
@gideonthomas should these be part of this issue, or issues in their own right?

[2017-02-16 21:16] Riyuzakii commented on #1612
@humphd Surely enough, i'm open to it, just tell me what to do.

[2017-02-16 21:16] flukeout commented on #1135
That could work too. Do you know where in the code we fire up the dialog?

[2017-02-16 21:26] twigz20 commented on #1630
@flukeout Hey, disabling cache was the biggest help!

So far this is what I have.
![ezgif com-f65ea83aee](https://cloud.githubusercontent.com/assets/10361408/23041436/f68e7fa2-f462-11e6-9ab1-ce48ef3df726.gif)

For now those values are hard coded into `nav-options.html` and `bramble-menus.js`.  I've decided to try 2 different approaches to making it more dynamic.

Firstly, creating the `li` tags dy

[2017-02-16 21:39] Pomax commented on #1708
I'm not sure I understand what I'm looking for in the link you gave... ?

[2017-02-16 21:40] flukeout commented on #1708
The way the long title of one of the starter projects blows up the layout...

<img width="890" alt="image" src="https://cloud.githubusercontent.com/assets/25212/23042404/7a0821c8-f44d-11e6-9dcd-fd7bc6faa4fd.png">

[2017-02-16 21:41] flukeout commented on #1716
I think we should break this out into new issues, if there are any. It's a bit confusing.

[2017-02-16 21:42] Pomax commented on #1708
Ahh... this feels like a `<br>` might be the wrong way to go. We could auto inject `<wbr>` between words of a title, which makes them break-only-when-necessary (if you've never see `<wbr>`: it is super useful), but then this would push images out of vertical alignment...

[2017-02-16 22:02] ryanwarsaw commented on #1743
@gideonthomas Yeah I'm currently working on doing some work on login & id, if this is still available afterwards then I'll take it, but I'm not going to assign myself to it (in-case someone wants to take it).

[2017-02-16 22:21] Pomax commented on #1700
Sounds good to me. I personally hate wikis for documentation because I've never seen one that's actually easy to navigate (you can't ever find what you're looking for) but as a first pass should be fine.

[2017-02-16 22:22] Pomax commented on #1668
@naperkovskiy are you still working on this? If so, it's a good idea to report in every 1~2 days to make sure people know you're still working on an issue rather than having shelved it. And of course, if you've shelved it, important to let people know that, too =)

[2017-02-16 22:24] Pomax commented on #1699
ping @cadecairos just to make sure this wasn't lost between the cushions somewhere

[2017-02-16 22:44] gideonthomas commented on #1699
Nope, I talked to him about it. This might be a pretty big task to do because of the different dependencies (mainly OAuth being the problem). So, I think we might de-prioritize this for now (because the cost of work to be done is much more than the benefit we get out of it).

[2017-02-16 22:45] Pomax commented on #1699
that works too.

[2017-02-16 23:17] #1664 closed

[2017-02-16 23:27] gideonthomas commented on #1716
I don't think we need to! The second one is a one line fix that I will be doing in the same patch. So, the only issue is the first TODO. I just broke it down into two so that I'll remember to add that change to my patch

[2017-02-17 00:00] flukeout commented on #1608
Work has moved to #1724

[2017-02-17 00:57] flukeout commented on #1740
Here's an update with some tweaked priority for the Editor and Preview panes.

![narrowing](https://cloud.githubusercontent.com/assets/25212/23048176/0f6052d4-f469-11e6-9242-ce452f2f7411.gif)

[2017-02-17 01:20] Shank09 commented on #1279
I'll try to tackle this bug. If no one is working on it. :)

[2017-02-17 02:00] humphd commented on #1135
The way that these menus work is that you register a command (see `src/command/Commands.js`) or a menu item, see https://github.com/mozilla/brackets/blob/master/src/command/DefaultMenus.js#L239.

[2017-02-17 02:03] humphd commented on #1745
Probably the Image Viewer needs to get extended to show/load the underlying XML when that extension is loaded.  Here's where the Image Viewer code lives: https://github.com/mozilla/brackets/blob/master/src/editor/ImageViewer.js

[2017-02-17 05:50] Pomax commented on #1740
whoa, what's happening with that gray-transition?

[2017-02-17 06:05] Shank09 commented on #1596
Duplicate bug. [#1321](https://github.com/mozilla/thimble.mozilla.org/issues/1321)  This was opened 1 year ago.

[2017-02-17 07:15] timmoy commented on #1633
So far, it seems to work better as it seems to be able to store a value. However, the set command seems to not work properly.
The brackets pull request is [here](https://github.com/mozilla/brackets/pull/595).
I'll continue to fiddle around and try to find where things are going wrong.

[2017-02-17 16:02] humphd commented on #1321
Closing this in favour of #1596, where it's being worked on right now.

[2017-02-17 16:02] #1321 closed

[2017-02-17 16:03] humphd commented on #1743
Whoever takes this, you can use a tool like https://www.npmjs.com/package/npm-check to make this easier.

[2017-02-17 16:12] humphd commented on #1612
Closing this, since I think it's not well scoped.  @Riyuzakii if you want to continue this discussion, let's do it in #889.  You can ask questions there.

[2017-02-17 16:12] #1612 closed

[2017-02-17 16:16] humphd opened #1752 "Make it possible to authenticate using 3rd party services"
At one point, Mozilla had a lot invested in a particular authentication model (e.g., Persona).  Today, that's not the case, and I think it's time to revisit the idea of allowing users to authenticate with Thimble using their Github, Twitter, Facebook, Google, etc. account.

We're also seeing increased interest from other people wanting to do their own installations of Thimble, and not forcing peop

[2017-02-17 16:16] Abykin commented on #1728
Hey @flukeout I'd like to try to tackle this one.

[2017-02-17 16:19] humphd commented on #1728
@Abykin it's yours, go for it.

[2017-02-17 16:24] humphd commented on #671
I thought this would be fixed when I merged the most recent Brackets stuff, but it's still an issue.  We should maybe consider switching over to use our MDN docs extension.

[2017-02-17 16:24] humphd commented on #671
...which is https://github.com/mozilla/brackets/tree/master/src/extensions/extra/MDNDocs

[2017-02-17 16:25] humphd commented on #1221
We need some redirects like this.

[2017-02-17 16:26] humphd commented on #1239
Is this still an issue?  Can someone try it on staging: https://bramble.mofostaging.net

[2017-02-17 16:27] humphd commented on #1255
We have some other related bugs happening with this: #1647, #567

[2017-02-17 16:27] omytryniuk commented on #1747
I would like to work on this bug

[2017-02-17 16:28] humphd commented on #1747
@omytryniuk it's yours, go for it!  I think a pretty recent commit introduced this, so you might want to take a look back over our recent fixes.

[2017-02-17 16:33] humphd commented on #1518
I can't reproduce this on staging (select file, go full screen or select file, drag file tree narrower).  Can someone else try and see if it still exists now that I've merged with upstream fixes:

https://bramble.mofostaging.net

[2017-02-17 16:45] Mordax commented on #1518
Using that URL in Chrome, I can recreate the image overlay issues in [1681](https://github.com/mozilla/thimble.mozilla.org/issues/1681) and the drag file tree narrower. The black blob however doesn't seem to be popping up. Running Thimble locally has the blob popping up most of the time.

[2017-02-17 17:04] flukeout commented on #1135
Just to follow up, @Pomax was hacking on this yesterday and we realized that a 'two-click' is already used for renaming the file. I'm still OK with something like was mocked up here...

<img width="244" alt="image" src="https://cloud.githubusercontent.com/assets/25212/23075073/f99f6020-f4ef-11e6-9e9c-59dbe9414418.png">

Maybe not with that icon since it won't really be a dropdown menu, but somethi

[2017-02-17 17:04] flukeout commented on #1279
Go for it @Shank09

[2017-02-17 17:08] cgsingh commented on #1419
Hi. I'm interested in this issue. But do you guys have an idea on what you want to do for this?

[2017-02-17 17:08] flukeout commented on #1740
It's just crappy color encoding of the GIF tool I'm using. It doesn't do that IRL.

[2017-02-17 17:32] Riyuzakii commented on #889
@humphd What are the things that i need to know to fix this bug , because i saw the code and i am quite confused.

[2017-02-17 17:45] cgsingh commented on #1262
I might be interested in attempting to add this feature, depending on the scope of it.

Are you looking for something like this:
![autoenclosetags](https://cloud.githubusercontent.com/assets/14262279/23076545/ead893d0-f50e-11e6-885b-828ba34e70ad.png)

And can anyone tell me where the code for the auto-enclosing tag is?

[2017-02-17 17:57] Blackweda commented on #1700
What platforms are you guys considering? I have Windows to work with, so I can go through your instructions on my computer and see what happens and make comments or suggestions.

[2017-02-17 18:02] peiying16 commented on #1745
We can add the this toggle and remember the setting like this issue https://github.com/mozilla/thimble.mozilla.org/issues/1631
One of the difference is that this issue needs a condition after the user clicking on the svc file. If it is "view source", it displays the source code instead of the image view.
Can anyone locate the file which defines the activity when the user click on a svc file. I wou

[2017-02-17 18:06] bkim49 commented on #1671
@Rajat-dhyani Hey Rajat, I am thinking about working on this bug. If you are not working on it, mind if I take it? If you can respond back to me, that would be great.

Thanks.

[2017-02-17 18:19] dsych commented on #1326
Hi,
If nobody is working on it, I would like to implement it.

Please let me know if you have any suggestion on the metric. The "maximum project size" makes the most sense to me right now.
@gideonthomas @Pomax @simonwex

[2017-02-17 18:24] omytryniuk commented on #1743
I would like to update node deps

[2017-02-17 18:28] flukeout commented on #1419
Hey @cgsingh - I think the redirect would work pretty well in this case, though I do like @Pomax's mockup too. Would you mind giving that a try first since it's the easier option?

[2017-02-17 20:00] humphd commented on #1745
The logic for how to open it happens here: https://github.com/mozilla/brackets/blob/master/src/editor/ImageViewer.js#L372-L388

[2017-02-17 20:09] Pomax commented on #1743
Awesome, go for it @omytryniuk - Try to update one dependency at a time: when uplifting one dependency works, create a commit, then move on to the next, so that you don't end up with a single diff with 20 updates of which *one* breaks but you can't tell which one =)

[2017-02-17 20:10] Pomax commented on #1326
@dsych I don't think this issue is strictly ready to get code written for it - we haven't settled on policy yet, so any implementation will be blocked until that happens.

[2017-02-17 20:12] Pomax commented on #1700
OSX, Unix/Linux, and Windows

[2017-02-17 20:13] Pomax commented on #1262
That sounds great @cgsingh! I think @flukeout has all the details on where to make your change for this

[2017-02-17 20:15] Pomax commented on #1740
This looks pretty sweet. Should the "undo" button restore its label though? With the width decreasing it seems counter-intuitive that some elements re-expand despite the view getting smaller and smaller.

[2017-02-17 20:18] Pomax commented on #1135
I think that could work, with the icon only showing on mouse hover/tap-and-hold?

[2017-02-17 20:19] humphd commented on #1262
It's controlled in Brackets by a preference on CodeMirror:

https://github.com/adobe/brackets/blob/40f96c3c348101181e2557c2c6aec71490c14618/src/editor/Editor.js#L144-L166

And we are setting it here:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/main.js#L103-L104

[2017-02-17 20:22] humphd commented on #1326
Let's start by doing what's described above in https://github.com/mozilla/thimble.mozilla.org/issues/1326#issuecomment-172995306, specifically:

* Create a new object/module in Thimble (or maybe Bramble) that interacts closely with the filesystem, and allows you to query for info about the project (number of files, size of project, largest file(s), etc)
* Add some events to this object/module as w

[2017-02-17 20:26] Pomax commented on #1747
If you're feeling adventurous, you can use git's "bisect" functionality for this: it's a way to say "what I'm looking at right now looks right/wrong" and have git narrow down which exact commit makes the code change from right to wrong, really quickly so you can look at what got changed.

You start by saying `git bisect start` while on master, and because master has the problem we want to investig

[2017-02-17 20:33] humphd commented on #889
@Riyuzakii we have code that allows a user to a) download a `project.zip` archive file; and b) drag-and-drop a `*.zip` file into the file tree, see:

* Import a zip: https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble#upload-archives
* Export a zip: https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble#export-a-project

The code that does this automatically takes your fil

[2017-02-17 20:35] humphd commented on #1279
NOTE: @MargarytaChepiga has a PR coming soon that fixes #1596, which might be related to this.

[2017-02-17 20:36] Pomax commented on #1239
I cannot reproduce this anymore

[2017-02-17 20:36] #1239 closed

[2017-02-17 21:01] Pomax opened #1754 "editor menu arrow disconnect on windows-10-on-bootcamp"
possibly a really specific OS bug: I see a misalignment between the EDITOR menu and the associated triangle pointer on Windows 10 running with bootcamp on a macbook pro

![capture](https://cloud.githubusercontent.com/assets/177243/23083104/266757cc-f511-11e6-88be-a826fb5903b2.PNG)

[2017-02-17 21:06] humphd commented on #1754
Interesting.  I don't get it on Chrome/macOS.  Which browser are you using?

[2017-02-17 21:13] Pomax commented on #1754
both Chrome and Firefox in a bootcamped Windows 10, display set to "2880x1800 (recommended)" with 150% rather than 200% UI scaling

[2017-02-17 21:34] flukeout opened #1755 "Show the project description (if available) on the Your Projects page."
If we're going to keep it in the Publish dialog, let's at least make it somewhat useful.
I think we should include the project description as a line of text below the title. If it's longer than one line, we can cut it off with an ``...``

[2017-02-17 21:50] ryanwarsaw commented on #1700
A lot of my current efforts have been on making the setup process without virtualization easier than it currently is, so perhaps it'd be worthwhile to come back to this once that work starts to land.

[2017-02-17 22:14] gideonthomas commented on #1752
cc @simonwex on the timeline for MoFo adapting the new auth system so that it can be one of (default) the providers we use.

[2017-02-17 22:16] Pomax commented on #1752
Don't count on it being available until at least several months from now

[2017-02-17 22:17] gideonthomas commented on #1752
ouch, ok, I guess let's start by estimating work to be done in creating a passport provider for id.wm.org

[2017-02-17 22:20] Pomax commented on #1752
not so much "ouch" as "it's a hell of a lot of work and relying on it means you won't be able to get any work done in the mean time" so the easiest thing is to not rely on it. Ideally Auth0 is just one of many login systems available, since all Thimble "as a thing" should care about is that *someone* is willing to vouch for a user session.

And then for *our* instance of Thimble we can prioritise

[2017-02-17 22:22] gideonthomas commented on #1738
Just gonna clarify here, @lkisac, you're working on this issue right?

@TheAlbinoPanda, if that ^ is the case, I would probably suggest working on one of these issues instead: https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20bug%22%20-label%3A%22assigned%20to%20contributor%22

[2017-02-17 22:22] cadecairos commented on #1752
I heard today from someone in the know that it will be "After Q3"

[2017-02-17 22:24] gideonthomas commented on #1752
@Pomax what do you suggest our default login scheme should be though?

[2017-02-17 22:27] gideonthomas commented on #1721
@flukeout just a suggestion: I think we might want to start of with just providing a few default sizes (with rotation I guess) similar to what we get from devtools rather than going for full responsiveness atm.

[2017-02-17 22:29] gideonthomas commented on #1707
@davenoah would you be able to copy/paste the exact error you're getting with autoless in `id.webmaker.org`?

[2017-02-17 22:33] gideonthomas commented on #1641
@flukeout can you add some info here about why this is a "good first bug", i.e. are we looking for a design, are we looking for code, etc.?

[2017-02-17 22:34] flukeout commented on #1754
One easy fix for this would be to adjust the CSS for the arrow element...

``#editor-pane-nav-options-menu:after``

It currently has a ``top: -15px`` but changing it to ``top: -14px`` would make it so the bottom of the arrow overlaps with the top of the menu box. This would probably solve this and maybe other  zoomign / scaling cases?

[2017-02-17 22:35] gideonthomas commented on #671
don't think MDN docs is localized though

[2017-02-17 22:45] flukeout commented on #1641
Maybe we need to reframe more as an experiment issue and ask it as a question:

"Can we find a good way to determine if the Quick Edit UI for color is available for use depending on the current cursor position."

It looks like someone was experimenting with this issue already but has since deleted their comments, so maybe it's too in depth for a starter issue.

[2017-02-17 22:49] gideonthomas commented on #1221
@humphd i feel like these are two different issues. The redirect itself needs to happen on S3, so I'm removing the good first bug label on this. The other issue about redirecting urls, can we file separately and discuss there?

[2017-02-17 22:58] Pomax commented on #671
does it need to be? Doesn't MDN automatically tap into your locale already?

[2017-02-17 22:59] Pomax commented on #1754
This looks like it's specifically an issue for 150% scaling on a retina display...

[2017-02-17 23:01] flukeout commented on #1721
Hey @rashmimalpande - thanks for getting this started! I think most useful thing we can offer is to allow people to switch the mobile preview to landscape mode. They can already resize it pretty easily by changing the width of the preview so I don't think we need to worry about different types of mobile views.

I think we can put a control to change the orientation somewhere in the area around the

[2017-02-17 23:04] flukeout commented on #1754
Looks like it crops up sometimes when just zooming the browser...

<img width="376" alt="image" src="https://cloud.githubusercontent.com/assets/25212/23086524/3573d81a-f522-11e6-926b-3e8a291340ca.png">

The fix in my previous comment addresses this one too, so let's go with that.

[2017-02-17 23:04] Pomax commented on #1752
right now? webmaker login, because that's what we're still using.

[2017-02-17 23:06] gideonthomas commented on #1326
+1 to @humphd's suggestions. Just adding a few more thoughts:

- I think this module should be on Bramble(Brackets) and would ideally be on its API, i.e. `bramble.getProjectInfo()` or something like that
- You can probably add another api function `bramble.configureProject()` or something like that which will take in an object that might have properties like `maxSize`, `maxFileSize`, `maxNumberOfF

[2017-02-17 23:09] cgsingh opened #1757 "login not working in Thimble & changes in code in brackets does not reflect locally"
Everything works fine for Windows 7 on my Desktop computer.

On Windows 10, on my laptop:
When editing files in my brackets repo, it does not update the localhost. Do I need to run a command to get the changes to reflect? All I did was tweak /src/extensions/default/bramble/main.js

As for the login in thimble, you can see here:
![5bc08d98dba8eb4163c44b3234ea7889](https://cloud.githubusercontent.co

[2017-02-17 23:18] gideonthomas commented on #1757
@cgsingh  can you try running the following command to try to restart the login server:
[code]

[2017-02-17 23:19] flukeout commented on #1630
Strange error, when did it start happening? @gideonthomas do you know what it might be? Also, do you have some thoughts on where to store the snippets?

@twigz20 Are you able to think of a way to show different snippets depending on what type of file is open?

[2017-02-17 23:20] gideonthomas commented on #1752
We would probably need to write a passport provider for that. Don't know how much work that is going to be (@cadecairos, are you able to estimate?)

[2017-02-17 23:22] flukeout commented on #1630
In the meantime I'll do some design work to figure out how to display the menu and how to lay it out. I think a list like you have there now won't be long enough.

[2017-02-17 23:23] cgsingh commented on #1757
@flukeout Wow...Thank you! That solves the brackets problem. I'll try gideon's solution for login now.

[2017-02-17 23:27] timmoy commented on #1633
@gideonthomas your suggestion of following the other contributor's fix helped a lot to lay the groundwork of the fix. It's currently working right now after I fixed a typo from my pull requests which prevented the preference from initializing properly.

One thing to note was that when I pulled the latest changes in brackets, I found that the other fix used the register command in CommandManager ([

[2017-02-17 23:31] cgsingh commented on #1757
@gideonthomas Unfortunately, that isn't working. Here's screenshots:
![fds](https://cloud.githubusercontent.com/assets/14262279/23087065/5386f932-f53f-11e6-9057-108097ad422f.png)
![loginerrors](https://cloud.githubusercontent.com/assets/14262279/23087066/54cdece2-f53f-11e6-8018-110ac95bc3e4.png)

[2017-02-18 01:19] humphd commented on #1738
Yeah, @Ikisac is doing this one.

[2017-02-18 01:22] humphd commented on #1707
I spoke to one of my colleagues today, who specializes in packaging on Linux, and he suggests the right way to do this is probably to use Docker for each of the bits we need, and do self-hosted instances that way.  I know we're a bunch of the way there, but I wonder if anyone has the most recent info on this?  @cadecairos do you know?

[2017-02-18 01:25] humphd commented on #1641
The backend work for this is happening in https://github.com/mozilla/brackets/issues/499

[2017-02-18 01:29] humphd commented on #671
We probably don't scrape from all localized versions.  https://github.com/mozilla/brackets/blob/master/src/extensions/extra/MDNDocs/tools/scrape-mdn/app.js#L19 seems to confirm that.  I bet we can fix that.

[2017-02-18 01:42] humphd commented on #1326
Here's some thoughts on one way to approach this.

* +1 to putting this on the Bramble API vs. in Thimble, and have Thimble consume it.
* I'd suggest that we extend the `Bramble.mount()` function like so:
[code]
* Should the API call for getting project info be sync or async with callback?

Agree to making these changes in `src/bramble/client/main.js` in Brackets.  However, don't feel the need to

[2017-02-18 01:45] humphd commented on #1752
How hard can it be to wrap our current stuff for passport.js?  Literally *everything* already has a provider for it.  Can we start there, and not replace what we have, but abstract it enough that we can also include others?  I'm not suggesting we throw away our current system, btw.  Just that we make it more accessible to users by offering choices.

[2017-02-18 01:47] humphd commented on #1630
The error he had is caused by having Thimble updated to latest master, but not Brackets.  If you see other people struggling, the fix is to update their Brackets master branch. We did it together in my office today.

[2017-02-18 01:49] humphd commented on #1633
Awesome @timmoy, glad you're getting it all figured out.

[2017-02-18 01:51] humphd commented on #1757
@cgsingh can you try doing this:

[code]

Now try and load Thimble and do whatever you did above.  What do you see in the logs it prints?

It sounds to me like something is corrupted in the VM.  I'd suggest doing:

[code]

Which will rebuild it.

[2017-02-18 04:06] Rajat-dhyani commented on #1671
hey @bkim49  i m currently busy with my college work....so it would be great if you can fix this..... 👍

[2017-02-18 04:22] cgsingh commented on #1262
I have the UI built and some functionality:
`//Auto-enclose tags toggle
	$("#auto-tags-toggle").click(function() {
	  var $autoTagsToggle = $("#auto-tags-toggle");

	  if (!$autoTagsToggle.hasClass("switch-enabled"))
	  {
		$autoTagsToggle.addClass("switch-enabled");
	    // - call function here
	  }
	  else
	  {
		$autoTagsToggle.removeClass("switch-enabled");
		// - call function here
	  }

[2017-02-18 04:29] bkim49 commented on #1671
@Rajat-dhyani Alright. I ll do my best. Thanks for letting me know.

[2017-02-18 04:37] cgsingh commented on #1757
@humphd
Log:
`vagrant@vagrant-ubuntu-trusty-64:~$ pm2 logs login
[TAILING] Tailing last 10 lines for [login] process (change the value with --lin                                                                                                                es option)
/home/vagrant/.pm2/logs/login-out.log last 10 lines:
/home/vagrant/.pm2/logs/login-error.log last 10 lines:
0|login    |     at Func

[2017-02-18 05:03] cgsingh commented on #1757
@humphd I ran vagrant destroy and vagrant up and it yields the same result. I have the old thimble repo and VM and when I run it, I can sign in. I guess if I can't solve this, I can always use that when working on bugs that require me to be signed in....

[2017-02-18 05:06] humphd commented on #1757
Have you updated Thimble?

git checkout master
git pull upstream master
vagrant destroy
vagrant up

On Feb 18, 2017 12:03 AM, Christopher Singh <notifications@github.com> wrote:

@humphd<https://github.com/humphd> I ran vagrant destroy and vagrant up and it yields the same result. I have the old thimble repo and VM and when I run it, I can sign in. I guess if I can't solve this, I can always use t

[2017-02-18 12:30] cadecairos commented on #1707
I don't have much experience with dpkg, but I have been keeping my eye on two up-and-coming Linux app distribution methods that may or may not work for this (I'd have to dive into their developer documentation first)

There's snaps by Canonical: https://snapcraft.io/
And flatpack from the FSF: http://flatpak.org/

A quick look at both did suggest that flatpack is more geared towards desktop app di

[2017-02-18 14:51] cgsingh commented on #1757
@humphd I did. I was just saying that I have the new repo, and the old one.

[2017-02-18 16:57] Riyuzakii commented on #889
@humphd no it didn't make much sense but i think that's because i know only basic level javascript.

[2017-02-18 17:04] humphd commented on #889
@Riyuzakii OK, got it.  Maybe this isn't a good first project then?  We use a lot of JS, and in some complex ways.  If you decide you want to try things, we'll try to help you here.  If it's too much, no problem.

[2017-02-18 18:00] humphd commented on #1757
I did some debugging with @cgsingh on mattermost, and we tried manually removing `node_modules/` and re-running `npm install` for login.  The machine this is running on is a 5 year-old laptop, which might mean we're hitting resource limits, but after a long time it fails like this:

[code]

There are no other errors.  Do our Windows experts have any thoughts? @ryanwarsaw, @Pomax.

[2017-02-18 18:33] Riyuzakii commented on #889
@humphd I definitely want to do this and i have even started learning JS further.

[2017-02-18 18:41] Pomax commented on #1326
One important bit missing: bramble should have an API call that lets clients override project limits such as
[code]
Of importance is that second argument for specific project IDs, so that clients can decide that some projects are worth changing the defaults over without affecting every project in the full set of client-managed projects.

[2017-02-18 19:33] humphd commented on #1757
From Mattermost, additional log for a second run:

[code]

Is this a symlink issue on Windows 10 + Vagrant somehow?

[2017-02-18 19:36] cgsingh commented on #1757
I should mention my laptop runs Windows 10, and my Desktop which I have just finished setting up, runs Windows 7 and there are zero problems.

[2017-02-18 19:42] humphd commented on #1757
NOTE: it looks like the symlink errors are the result of manually running `npm install` without passing the flag to npm to skip symlinks.

[2017-02-18 20:51] JohnEJames commented on #1397
@humphd  I would be interested in trying to fix this bug.  But I really don't know where to start for this.

[2017-02-18 20:57] humphd commented on #1397
@JohnEJames great, this bug is causing people headaches, so it would be great to fix.  See my comment above: https://github.com/mozilla/thimble.mozilla.org/issues/1397#issuecomment-277725957.

Basically, you need to modify this https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/templatize.js#L6 to do what is described here: https://github.com/mozill

[2017-02-18 21:03] JohnEJames commented on #1397
Yeah, that makes sense, is this issue big enough that I dont need to find another bug? or would you like me to find another?

[2017-02-18 21:06] humphd commented on #1675
There are a few existing Brackets extensions that add console panels to the bottom of the editor, which we could use as a basis for this work:

https://github.com/sixertoy/brackets-console-plus
![](https://github.com/malas34/brackets-console-plus/raw/master/screenshot.jpg)

https://github.com/ghalex/brackets-console
![](https://camo.githubusercontent.com/75f80d93dd222f406bf10220f55a6555f06505e3/68

[2017-02-18 21:08] humphd commented on #1397
It's probably not huge, but start on it and see how you do.  If you finish quickly, grab another bug.

[2017-02-18 21:09] JohnEJames commented on #1397
Okay, thanks! I'll start working on this issue!

[2017-02-18 21:15] gideonthomas commented on #1757
I went over the conversation on mattermost as well. I also think that this is an issue with it running out of resources.

@cgsingh, would you be able to try these two things (try the second one only if the first one doesn't work):
- First, run `rm -rf services/login.webmaker.org/node_modules` from your Thimble directory. Then, change [these two lines](https://github.com/mozilla/thimble.mozilla.org

[2017-02-18 21:28] gideonthomas commented on #1752
@humphd agree. But from what I understand, to continue to allow using id.wm.org along with wrapping what we have with passportjs, we would need to write a provider for id.wm.org so that we can actually still use it in the context of passportjs.

One way we can probably circumvent this is by using different code paths for passportjs based authentication and id.wm.org authentication (we wouldn't nee

[2017-02-18 21:44] gideonthomas commented on #1326
bramble does not deal with project IDs (it isn't aware of what it is). Just calling `setLimits` should probably just set the limits for the currently mounted path because each bramble instance is tied to one mounted path (which we treat as a single project).
[code]
should be enough. I think to start, let's begin with setting the project limits once in the `mount` function as @humphd suggests and t

[2017-02-18 21:50] cgsingh commented on #1757
@gideonthomas We just got it fixed. @ryanwarsaw told me to run these commands:
rm -rf vagrant/.npm, cd vagrant/services/login.webmaker.org, rm -rf node_modules, sudo npm install --no-bin-links

[2017-02-18 21:57] gideonthomas commented on #1262
@cgsingh you would similarly call `bramble.setAutoCloseTags(true or false)` in your code above. Now, obviously, the `setAutoCloseTags` function does not exist yet, so, you would need to add it to bramble. That change is something you will need to make in the Brackets repository. If you follow [this patch](https://github.com/mozilla/brackets/pull/378/files) as a guide, it's very similar to what you

[2017-02-18 21:59] gideonthomas commented on #1757
Glad to hear you got it working! Thanks @cgsingh! @ryanwarsaw would you be able to add a comment here about your findings/rationale for getting to work with those commands?

[2017-02-18 22:04] cgsingh commented on #1262
@gideonthomas Okay, so just copy what was done in that patch but base it around what I want (autocloseTags).

[2017-02-18 22:09] gideonthomas commented on #671
Yeah, as @humphd mentions, we use a scraper since MDN does not have an API that you can use. Also, I spent a bunch of time trying to get that fixed when I was localizing Thimble. It really is a rabbit hole. Different locales on MDN have different data formats and structures and scrapping them is a nightmare because there is very little consistency (because MDN is a Wiki).

I honestly don't think i

[2017-02-18 22:50] cgsingh commented on #1262
@gideonthomas In that patch, can you tell me what function in it "can" be called in Thimble? It's very confusing. I've replicated that for my autoCloseTags version but I don't know what to call. :/

[2017-02-18 23:27] humphd commented on #1752
@gideonthomas I get the sense from what you're writing above that you think a passportjs provider for id would be hard.  Why is that?  Is there some complexity that I'm not aware of?

[2017-02-18 23:47] humphd commented on #1262
It's confusing, and we don't have good docs on it.  I'll try to explain it:

* Thimble uses an API for Bramble defined in the mozilla/brackets repo in `src/bramble/client/main.js`, which gets built and loaded at run time from `dist/bramble.js` on the Brackets server.  This file is what creates and controls the editor iframe, and lets Thimble (the hosting app) talk to Brackets.
* Communication betw

[2017-02-18 23:52] humphd opened #1758 "Provide useful error when bramble.js can't be loaded in Thimble"
If you setup Thimble but forget (or don't know you have to) run Brackets as well, you get our default black error page saying that the project couldn't be loaded.  In reality, it has failed to load `bramble.js` from Brackets, which it needs to load the editor.

We should provide some kind of error for developers/devops running Thimble so they know how to fix it.  I've seen quite a few people get s

[2017-02-19 01:22] cgsingh commented on #1262
@humphd Okay, so only create the function in main.js and add the switch case in Remotecommandhandler.js? I'm browsing this from my phone because I'm away right now, and can't view the links you gave thoroughly, sorry if I missed something.

[2017-02-19 03:36] ryanwarsaw commented on #1757
@gideonthomas The origin of the issue wasn't identified, while debugging the command ```npm install``` was run on login.webmaker.org manually, which caused the above issues because of non-existent symlink compatibility on Windows.

Once that was identified, there were some hangs while running the appropriate ```sudo npm install --no-bin-links``` command, which presumedly appeared to be cache relat

[2017-02-19 15:38] lkisac commented on #1738
Thanks @humphd.  Just confirming @gideonthomas I will be working on this issue.  I've started already, just getting a few errors after updating my brackets/thimble repos to the latest upstream.  Anyways, will get that sorted out and continue on this.  Thanks

[2017-02-19 15:59] humphd commented on #1752
When I read http://mherman.org/blog/2015/09/26/social-authentication-in-node-dot-js-with-passport/#.WKm_p47avUI and similar docs, and read code like https://github.com/jaredhanson/passport-oauth2 it seems to me that writing a provider for ID should be trivial--this is literally what passport.js was designed to do.  I can't see that we'd have to change anything with regard to ID, we just abstract t

[2017-02-19 16:21] cgsingh commented on #1262
@humphd @gideonthomas Can you tell me how I can return a value? wordWrap uses `bramble.getWordWrap();` and this seems to be defined in `brackets/src/editor.Editor.js`. `Editor.getWordWrap = function (fullPath) {
        return PreferencesManager.get(WORD_WRAP, _buildPreferencesContext(fullPath));
    };`
I attempted to make one myself, but it's not being detected.

[2017-02-19 16:24] humphd commented on #1262
You don't need to return anything, you're just enabling/disabling it (i.e., calling the method implies the result when the callback fires).

[2017-02-19 16:27] cgsingh commented on #1262
@humphd I have the enabling and disabling working for the close tags, however, I'm pretty sure I'm supposed to remember what state the close tags is in for when I refresh the editor so that the toggle is switched off or on accordingly

[2017-02-19 16:39] cgsingh commented on #1262
@humphd Also, the editor/bramble, is not remembering the state when I refresh the browser unlike the other toggles...

[2017-02-19 16:43] humphd commented on #1262
Please go back and re-read this patch more closely: https://github.com/mozilla/brackets/pull/378/files  In it you'll see that we add state management to `src/bramble/client/StateManager.js` and then use it in `src/bramble/client/main.js`, see all instances of `_state.wordWrap`.  You basically need to follow this pattern, and store the state that way, then pass it to Brackets on startup to initiali

[2017-02-19 17:02] Pomax commented on #1752
On a sidenote, different codepaths are hardly unheard of - even Stackoverflow gives you multiple things to click through when you sign in.

[2017-02-19 17:03] Pomax commented on #1752
@cadecairos given https://github.com/jaredhanson/passport-oauth2 does it look like we could just make that wrap id.wmo trivially? Are we using anything beyond basic oauth2?

[2017-02-19 17:05] Pomax commented on #1758
as I recall we ajax every file for Bramble, correct? If so it should be possible to set up a mapping for "when file with name X fails": "String to present the user when that fails" and present that in the Black Screen(tm) instead.

[2017-02-19 17:06] Pomax commented on #1326
wfm. Is this a good first bug?

[2017-02-19 17:08] Pomax commented on #1630
It sounds like it would be useful for Thimble to know the minimum version of mozilla/brackets needed. Would that be worth doing (if so, we can file a separate issue to tackle that)

[2017-02-19 17:09] Pomax commented on #1630
It sounds like it would be useful for Thimble to know the minimum version of mozilla/brackets needed. Would that be worth doing (if so, we can file a separate issue to tackle that)

[2017-02-19 17:17] Pomax commented on #671
I just noticed https://developer.mozilla.org/en-US/docs/MDN/About#Using_MDN_content ... do we attribute in our quick docs?

[2017-02-19 17:21] humphd commented on #1630
I think that's probably https://github.com/mozilla/brackets/issues/560 with a proper semver strategy.

[2017-02-19 17:49] dsych commented on #1326
Well, if you are asking me, I am up for the challange.

[2017-02-19 18:08] Pomax commented on #1326
awesome, @dsych, have at it!

[2017-02-19 20:16] cgsingh commented on #1755
Can I please have this issue. This seems like something I can actually handle, heh.

[2017-02-19 20:18] cgsingh commented on #1419
Sorry, I'm going to have to withdraw from this issue. Hopefully someone takes this feature, it would be useful.

[2017-02-19 21:05] humphd commented on #1755
Yup, go for it.

[2017-02-19 21:05] humphd commented on #1419
np, @cgsingh, we'll put it back in the general pool.

[2017-02-19 21:38] cgsingh commented on #1755
@flukeout In order for `text-overflow: ellipsis;` to work, I need a `width: XXXpx`. What value do you want in there, or is there another way I'm supposed to be truncating a description into one line?

[2017-02-20 03:29] rashmimalpande commented on #1721
I will start working on this. Can you give me some idea about how should I start with this?

[2017-02-20 17:33] flukeout commented on #1419
I'm going to file a new issue with just the redirect to the Your Projects list for now. We can leave this as a follow up.

[2017-02-20 17:38] flukeout opened #1760 "Redirect Sign In on homepage to Your Projects list"
It's a little annoying getting back to a project you were working on after signing in with Thimble. Once you sign in, you pretty much always end up navigating to the **Your Projects** view from the user dropdown.

**So..**

* When someone Signs In from the homepage, let's redirect them there right away.
* If they're already in the Editor though, let's keep them there.

[2017-02-20 17:44] gideonthomas commented on #1760
I'd question this workflow because that seems to suggest that all the starter projects on the homepage are not clicked enough when people sign in. Since the starter projects are ctas on the homepage, do you imagine some other user workflow that will draw their attention to these projects after signing in and being directed to the your projects page?

[2017-02-20 17:53] gideonthomas commented on #1262
@cgsingh I would also suggest that you open up a [WIP] (work in progress) pr(s) with whatever you have already done even if it doesn't work completely, since it might be easier for us to help you out if we see code.

[2017-02-20 18:06] flukeout commented on #1760
I just can't think of a reason why someone would sign in unless they wanted to get at one of their old projects. Signing in currently on the homepage doesn't give you any benefit except to let you then access your projects list after.

[2017-02-20 18:12] gideonthomas commented on #1630
@twigz20, for the sake of simplicity (rather than including requirejs plugins and configuring the gruntfile to use them, etc.), I would suggest just having a module with the code snippets for now and requiring them in:
`public/editor/scripts/code-snippets.js`
[code]

@gideonthomas to file a follow-up issue to get us away from requirejs and switch to CommonJS/browserify without Grunt (since we only

[2017-02-20 18:14] Pomax commented on #1630
@gideonthomas if you're modernizing, commonjs with babel+webpack is advisable.

[2017-02-20 18:21] gideonthomas commented on #1760
I think you have a separate issue that's dealing with the starter projects UX and the gallery (that you're working on as well) so if you think that this workflow will also allow them to access those projects easily and calls it to their attention, then this makes sense.

[2017-02-20 18:23] chadsansing opened #1761 "Let users turn off auto-complete"
Discourse user [zachw asks how we might disable autocomplete inside Thimble](https://forum.learning.mozilla.org/t/overrides-for-editor/1473).

How might we do this by project or account?

[2017-02-20 18:24] gideonthomas commented on #1752
@cadecairos would you be able to estimate the work involved in writing a passport provider for id.wm.org (I don't think I know enough about the id server to make that estimation)?

The secondary issue about the publish server handling projects<->users still needs to be figured out though.

[2017-02-20 18:26] humphd commented on #1761
https://github.com/mozilla/brackets/pull/601 is adding support for turning off autoclosing tags.  I wonder if there are other aspects of what we "auto-complete" that need this?

[2017-02-20 20:38] peiying16 commented on #1745
Thanks @humphd I got most of the things done.
However, it still has a bug. For example, if I drag and drop an SVG file, I cannot open it as XML. If I add more than 1 file, I cannot open the last SVG file only. Then I debugged and locate to the getOpenDocumentForPath function on the file https://github.com/mozilla/brackets/blob/master/src/document/DocumentManager.js#L119-L133
It returns null, only

[2017-02-20 21:45] flukeout commented on #1526
Based on the work by @aayushsanghavi in #1602 we've come to realize that in order for this to be useful, we'd have to detect when you are actually risking losing work by refreshing. The most obvious case for this is when the project you have hasn't fully synced with the remote DB.

If we can detect that case, then it might be useful to show an alert when the user tries to leave the editor. We can

[2017-02-20 22:05] peiying16 commented on #1745
Every time I add an SVG file, I need to refresh the page to make the last item works.

[2017-02-20 23:04] flukeout opened #1762 "Funky Console Errors on Staging"
Seeing lots of JS errors when I duplicate the link tag in the head of a brand new project on staging.

* Go to https://bramble.mofostaging.net/
* Start a new project
* Copy and paste the existing style tag
* Check the console and see...

![image](https://cloud.githubusercontent.com/assets/25212/23144620/b13850a4-f77d-11e6-83a8-b9c71d1df80f.png)

What is this stuff? @gideonthomas @humphd

[2017-02-21 00:12] flukeout commented on #1571
Going to close this for now, as we aren't planning on implementing this as a feature. Given the direction we've decided on, we could accomplish this via...

* A starter kit
* Including it as one of the code snippets
  * Maybe all of the required links in the head of an HTML file?

[2017-02-21 00:12] #1571 closed

[2017-02-21 00:35] flukeout commented on #1334
Closed via https://github.com/mozilla/thimble.mozilla.org/pull/1712

[2017-02-21 00:35] #1334 closed

[2017-02-21 00:38] humphd commented on #1762
There's at least one, maybe more bugs here.  The first issue, with the exception in `DocumentRelated` is apparently not a new bug--I can reproduce this on production.  My best guess is that somehow we're throwing away (or regenerating) the `style.css` file's blob URL and one of the two that gets included is failing.  It's dying like so:

[code]

Basically, we've deleted the URL for the `style.css`

[2017-02-21 00:44] flukeout opened #1763 "Add UI toggle for whitespace indicators in the editor."
It would be cool if we could show whitespace within the editor. It makes it easier to indent the code correctly and gets new coders thinking about this important, but easy miss, aspect of coding.

Here's an extension we could try:
https://github.com/DennisKehrig/brackets-show-whitespace

Or maybe there's another way?

For reference, I'm talking about these little dots that appear where a space is.

[2017-02-21 00:48] Pomax opened #1764 "Windows with VMWare and vagrat + virtualbox does not necessarily work"
I use VMWare Workstation constantly, and trying to use the Thimble vagrant+virtualbox solution is causing all kinds of headaches. With VMWare services running, I get
[code]
With all VMWare services stopped, the error changes to
[code]

Since vagrant doesn't really care about *which* VM technology it uses, it might be possible to make it use VMWare if already available, so we don't need to introduc

[2017-02-21 01:00] humphd commented on #1762
I have a fix up for the first exception above, but the second one is interesting.  It's somehow crashing in here:

https://github.com/mozilla/thimble.mozilla.org/blob/392fb9dccc4a228b21dfe88cfe415cb56a6acded/public/editor/scripts/editor/js/fc/publisher.js#L87-L114

@gideonthomas any ideas?  I'm not sure how to hit this one locally.

[2017-02-21 01:00] humphd commented on #1762
Oh, I bet this is a symptom of #1738.

[2017-02-21 01:04] humphd commented on #1764
It looks to me like we should be able to write configuration such that you can use either virutalbox or vmware in the same `Vagrantfile`: https://thornelabs.net/2013/09/19/multi-machine-vagrantfile-for-virtualbox-or-vmware-fusion.html.  Let's try and figure this out so you can just always use vmware, and I can always use virutalbox.

[2017-02-21 01:07] humphd commented on #1764
https://www.vagrantup.com/docs/providers/basic_usage.html has more info on this.  This sounds doable.

[2017-02-21 01:09] humphd commented on #1764
And some examples in the wild:

* https://github.com/nateswart/vagrant-nodejs/blob/cee9e357e95af90a8bd59172f7bfbf3f54507584/Vagrantfile
* https://github.com/Abdul0/OSSEC-Ansible/blob/d519f2ad575a74544d3566d2ab3ddd159c839014/provisioning/Vagrantfile

[2017-02-21 01:20] humphd commented on #1763
Yes, we can do that.  Do you want it to be on by default?  Would it confuse people?

[2017-02-21 01:25] humphd commented on #1745
@peiying16 can you show me after class tomorrow on your laptop?  Maybe we can debug together.

[2017-02-21 01:27] humphd commented on #1526
We deal with that case here:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/sync-state.js

Likely the real fix is to figure out why we're not doing what you expect there, since we already have `beforeunload` handlers to stop the page from closing.

[2017-02-21 01:46] peiying16 commented on #1745
@humphd Sorry, I have another class.  I can show you Friday if you have time.

[2017-02-21 01:47] humphd commented on #1630
Let's not switch away from `require.js` this term, while the students are using it in Brackets as well, and we aren't going to switch there.

[2017-02-21 01:52] humphd commented on #1721
@rashmimalpande here are the files you'll care about (they all live in the mozilla/brackets repo):

* HTML for the mobile view: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/Mobile.html
* JS that controls the mobile view: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/UI.js#L245
* CSS for mobile view: starts here https://gith

[2017-02-21 01:55] humphd commented on #1745
OK, we that works too.  My guess is that the image viewer is not considered a document, so doesn't get loaded.  Likely what you have to do is close/re-open the image (in image view or editor) when the preference gets flipped.  It's just a state issue, since you are expecting a different outcome now, but were running under the old assumption before the pref was flipped.

[2017-02-21 14:05] rashmimalpande commented on #1721
Thanks @humphd . I will start working on this.

[2017-02-21 15:25] Taguiar commented on #1763
I would like to do this one.

[2017-02-21 15:48] edyedy123 commented on #1758
id like to work on this

[2017-02-21 16:06] cadecairos commented on #1752
this should be trivial to get working.

[2017-02-21 16:28] gideonthomas commented on #1764
@Pomax 5432 is generally used for postgres. Are you running postgres in the background by any chance?

[2017-02-21 16:37] gideonthomas commented on #1738
Let us know if you need any help fixing the errors after pulling the latest commits!

[2017-02-21 16:38] gideonthomas commented on #1762
@humphd yeah it def is that issue.

[2017-02-21 16:55] raygervais commented on #1675
Working on this for next release. Dave, can you give me some tips.

[2017-02-21 17:37] tonypark0403 commented on #1763
I would like to take this one.

[2017-02-21 17:40] flukeout commented on #1763
Give it a shot @tonypark0403 - let's try it on by default. If it feels weird, we can add it as another editor option.

[2017-02-21 18:24] humphd commented on #1763
Here's how I'd tackle this:
* Add the extension linked above to a new folder in this dir: https://github.com/mozilla/brackets/tree/master/src/extensions/default
* Add a new entry to the list here for the new folder name you added above: https://github.com/mozilla/brackets/blob/master/src/utils/BrambleExtensionLoader.js#L16-L40
* Test it, and fix bugs!

We may find that this negatively affects perf

[2017-02-21 18:45] humphd commented on #1675
You're going to have to do a few things.

1) Steal `console.log, console.error, ...` in live preview iframe, and replace them with a function that uses `postMessage` to send the data back to the editor to be processed.

You're going to need to add 2 files here: `src/extensions/default/bramble/lib/`, and follow the pattern of `MouseManager` and `MouseManagerRemote`.  Essentially, you'll have a file

[2017-02-21 18:46] humphd commented on #1752
We like "trivial."  Maybe this is a good student bug, with some notes from you guys on what you want?

[2017-02-21 18:47] humphd commented on #1758
OK @edyedy123 it's yours.  Let us know if you have questions.

[2017-02-21 18:57] Pomax commented on #1752
@humphd @cadecairos sounds good to me - as a passport-idwmo this could be a library on the id.webmaker.org repo. How hard is it to work on id.wmo inside the vagrant collection of apps?

[2017-02-21 18:59] evantsyferov commented on #1554
I would like to work on this issue.

[2017-02-21 19:07] humphd commented on #1752
Wouldn't we do this as a new repo vs. in id?

[2017-02-21 19:11] Pomax commented on #1764
This is a dev machine, it has all kinds of services running. Postgres is definitely one of those because I work on other projects beside Thimble, almost half of which require postgres =)

[2017-02-21 19:13] humphd commented on #1764
In theory we don't need to expose 5432 outside the VM, right?  Only things running inside the VM need to access it.  Maybe we shouldn't leak that port.

[2017-02-21 21:43] gideonthomas commented on #1624
FIxed with: 8a72f62f62511078208836aede438c43f1d61615

[2017-02-21 21:43] #1624 closed

[2017-02-21 21:56] gideonthomas commented on #1752
I doubt it is easy to work in the id.wm.org folder inside thimble because it's a git subtree, not a submodule (so it doesn't really have git history information I believe).

[2017-02-21 22:05] jgmac1106 opened #1766 "Give me option to remix project on My Project Page"
It currently takes me four clicks to remix my own project. It should be less
* Either put a remix button on the my projects page
* Count renaming project as saving a new project kind of like hitting "Save As"

I know this issue exists but I couldn't find it so feel free to delete this as duplicate.

I have to use a lot of templates I make for students and I often start editing the original project

[2017-02-21 22:08] gideonthomas commented on #1630
This definitely will not happen anytime soon, will most likely happen in the summer.

[2017-02-21 22:14] gideonthomas opened #1767 "Modernize codebase"
We have no need for requirejs/Grunt in this repository and it is slowly showing its limitations (as can be seen in https://github.com/mozilla/thimble.mozilla.org/issues/1630#issuecomment-281147850).

We should slowly move towards using CommonJS + Babel + Webpack so that our build becomes a little less involved and we can use CommonJS features that requirejs does not provide a built-in solution for

[2017-02-21 22:16] gideonthomas commented on #671
We don't currently attribute since we don't actually use the plugin. If we do, we definitely should add that attribution.

[2017-02-21 22:17] gideonthomas commented on #1723
Fixed with e91fad76864c92e6b604d92f37e1307dd4c447ae

[2017-02-21 22:17] #1723 closed

[2017-02-21 22:22] gideonthomas commented on #1554
@evantsyferov all yours. The fix should be to simply refer to the correct variable that has the statusCode stored.

[2017-02-21 22:43] humphd commented on #1630
@raygervais this is the bug where the snippets work is happening, and we'll have to connect you with @twigz20, since your UI could connect with his work.

[2017-02-21 22:44] humphd commented on #1630
Question, why not use the `text` plugin for `requirejs` to include the JSON files?

[2017-02-21 22:44] flukeout commented on #1755
Closed via https://github.com/mozilla/thimble.mozilla.org/pull/1759 - thanks @cgsingh

[2017-02-21 22:44] #1755 closed

[2017-02-21 22:47] #1762 closed

[2017-02-21 23:13] flukeout opened #1768 "Strange 404 page behaviour & appearance"
Check out the following links...
* https://thimbleprojects.org/mozillalearning/213466/blah.blah
  * Funky background image
* https://thimbleprojects.org/mozillalearning/213489/zing
  * Pink background

In both of these projects, styles from that projects ``style.css`` are being applied to the 404 page.

[2017-02-21 23:41] flukeout opened #1770 "Add :hover treatment to FILE bar when dragging files over it."
We should give an indication that the file is in the right place and you can drop it to upload it to your project. Currently it shows the browsers's default (+) icon, which shows up no matter where you are hovering in the editor. However, most of the places you drop the file will just end up showing that file in the browser instead of editing it.

[2017-02-21 23:55] matthieu-foucault opened #1771 "jQuery's event.preventDefault() does not prevent links from opening (only in preview)"
Using jQuery 3.1.1, the following code does not prevent the default action for links:

[code]
This behavior only occurs in the preview, the published version has the correct behavior.

Using the code below (without jQuery) does prevent the link from opening a new page

[code]

[2017-02-22 00:04] matthieu-foucault opened #1772 "Help text in HTML quick edit shows <br> tag instead of new line"
See screenshot:
![screenshot from 2017-02-21 15-59-04](https://cloud.githubusercontent.com/assets/2684022/23190822/0d77ae74-f84f-11e6-8789-739695111f91.png)

The french version also shows the HTML escape codes (`&lt;` `&gt;`) instead of the brackets:
![screenshot from 2017-02-21 16-01-13](https://cloud.githubusercontent.com/assets/2684022/23190833/2e63f62e-f84f-11e6-85be-f5e9a9f0b4ae.png)

[2017-02-22 00:34] flukeout commented on #1682
Okay, most of these are in now and are ready for review here:

* https://flukeout.github.io/thimble-gallery/

Once this is reviewed and 👍'd then I can start working on implementing.

[2017-02-22 00:39] flukeout commented on #1682
Still need

* A-frame starter project

[2017-02-22 00:49] flukeout opened #1773 "Add a way to preview markdown files"
It would be nice to be able to preview markdown files in the right-side pane. Currently it's not possible.

[2017-02-22 00:51] flukeout commented on #1773
Whoa, did Thimble just generate an HTML file based on my markdown file??

[2017-02-22 00:58] humphd commented on #1773
Yep :) I wrote this *for* you long ago.  It's the same thing we do with LESS to CSS files.  I love when you (re)discover things I've added at your request.

[2017-02-22 00:58] #1773 closed

[2017-02-22 00:58] flukeout commented on #1773
I'm so spoiled.

[2017-02-22 01:42] humphd commented on #1646
The code in question here is this:

https://github.com/mozilla/brackets/blob/master/src/command/Commands.js#L119-L120

For some reason, `Shift-Cmd` on mac is triggering `Shift-Cmd-[` and that fires the `navigate.prevDoc` function, which is this:

https://github.com/mozilla/brackets/blob/master/src/document/DocumentCommandHandlers.js#L1536-L1563

It looks to me like they've done their own special k

[2017-02-22 01:42] humphd commented on #1581
Closing in favour of #1646

[2017-02-22 01:42] #1581 closed

[2017-02-22 02:06] humphd commented on #1770
The code that handles dnd lives here: https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js

[2017-02-22 04:23] gideonthomas commented on #1768
This was a bug in the error page we show. It had a link tag to `style.css` which was causing this issue.

I've updated the error page. Should be fixed now.

[2017-02-22 04:23] #1768 closed

[2017-02-22 06:04] flukeout commented on #1768
👍

[2017-02-22 12:30] chadsansing commented on #1682
@flukeout re: A-frame, check https://d157rqmxrxj6ey.cloudfront.net/chadsansing/21168/?

I dig the interface and will keep curating. Implement away!

[2017-02-22 19:29] flukeout opened #1774 "Style cleanup on My Projects page"
Recently we've merged in some great improvements to the My Projects page. Unfortunately, as a result, the styling of the page is now a little bit off...

![image](https://cloud.githubusercontent.com/assets/25212/23228617/174afebc-f8f2-11e6-9627-c319cc72987c.png)

The fav stars are misaligned with the content as a result of the descriptions being shown. Filing this for visibility, but I'll take it

[2017-02-22 19:58] humphd commented on #1771
Nice find!  We are currently handling clicks statically on `DOMContentLoaded` like so:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/LinkManagerRemote.js

It would be interesting to consider how we might deal with the `.click(..)` case, too.  @matthieu-foucault if you're interested in working on this, I'd be happy to help you.  Regardless, thanks for filing.

[2017-02-22 19:59] humphd commented on #1772
I wonder if this is just our bug, or if Adobe has this same issue upstream in http://brackets.io/?  Thanks for filing.

[2017-02-22 20:11] matthieu-foucault commented on #1771
Off the top of my head, I'd say the solution would be, in that `handleClick` method, to check for `e.defaultPrevented`, and return immediately if it is true.
Unfortunately, at the moment I don't have time to setup the dev environment and implement the fix, sorry.

[2017-02-22 22:01] flukeout commented on #1626
Could also possibly do this one at the same time: https://github.com/mozilla/thimble.mozilla.org/issues/1766

[2017-02-22 22:02] flukeout commented on #1626
I'm going to unassign this and put it back in the pool of available tickets.

[2017-02-22 22:03] flukeout commented on #1766
#1626 deals with adding the link to the published project on that page too which would be helpful, these issues can definitely be tackled together.

[2017-02-22 22:03] flukeout commented on #1626
@kramsamujh If you're looking for more issues, this one also deals with the Projects list.

[2017-02-22 22:11] matthieu-foucault commented on #1771
Actually, `handleClick` is going to be called before any jQuery event listener, so that alone won't work.
Also, since this `handleClick` is attached when the `'DOMContentLoaded'` event is fired, links that are dynamically added to the page will not use that handler (unless I'm missing something).

Attaching the `handleClick` function to `window`, and checking the value of `e.target.tagName` should

[2017-02-22 23:11] flukeout opened #1776 "When remixing, if a tutorial is present, show it in the preview by default."
The projects that we'll feature on the homepage all have tutorials. However, when you remix one of them, the tutorial isn't displayed prominently, and there's a good chance it might get missed.

If possible, when remixing, can we show the tutorial in the preview pane if it's available? This means that in the header, the Tutorial option should be enabled like this...

![image](https://cloud.githubu

[2017-02-23 00:23] rkgupta21 commented on #1754
I would like to work on this bug.

[2017-02-23 01:38] lkisac commented on #1738
Hi @gideonthomas.  I pulled the most recent changes just now and restarted Brackets and Thimble.  These are the errors I'm seeing:

- **CommandManager.js:195** - Attempting to register a command with a missing name, id, or command function:undefined bramble-move-file.moveFile
- **Menu.js:582** - addMenuItem(): commandID not found: bramble-move-file.moveFile
- **bramble-menus.js:58** - Uncaught Typ

[2017-02-23 03:23] humphd commented on #1738
@lkisac those errors are due to:

* issues with running a `src/` vs. `dist/` build of Brackets, and not having localized strings.  You can ignore the first 2, as they aren't a real bug
* issues in your version of the Brackets API built in `dist/bramble.js`

Both issues can be fixed by updating Brackets to upstream and calling `npm run build` before you run `npm run start` on Brackets.

[2017-02-23 13:55] lkisac commented on #1738
Thanks @humphd.  Calling `npm run build` before running `npm run start` fixed the issue in **bramble-menus.js:58**

[2017-02-23 14:48] humphd commented on #1754
@rkgupta21 OK, it's yours.

[2017-02-23 14:54] humphd commented on #1772
@gideonthomas is this our double-localization scripts escaping things in Adobe's nls strings?

[2017-02-23 14:54] humphd commented on #1771
Agreed.  I'll see if one my students wants to work on it.

[2017-02-23 16:50] dangkhue27 opened #1778 "Create a default index.html when the project folder does not have one"
This is a follow up from issue #1652. @humphd said:

The solution I am proposing is to create a default `index.html` file [after looking for the index.html](https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/project/project.js#L249). If the file is not found, I will create a default index.html after this code.

Please let me know if I should do this approach or someth

[2017-02-23 17:02] humphd commented on #1778
NOTE: we have default files already, see https://github.com/mozilla/thimble.mozilla.org/tree/master/default/empty-project.  We would just need to a) `GET` that file from the server; b) `writeFile` it to the user's filesystem.

I think this is a good idea, go for it.

[2017-02-23 17:05] dangkhue27 commented on #1778
Thank you for the advice. I will start working on it.

[2017-02-23 20:08] Shank09 opened #1779 "Choosing "Upload" twice and canceling them causes Brackets to hang/unusable"
When Upload is chosen twice or more, Brackets hangs and doesn't respond to click/key-strokes.

![thimble](https://cloud.githubusercontent.com/assets/11877279/23276508/8eb3af3a-f9d8-11e6-9953-c10c4c8f73fc.gif)

It seems to be waiting to close the Upload window, and reloading the page resolves this issue.

Steps to reproduce:
1. Click Upload
2. Click Upload again while the 1st Upload window is still

[2017-02-23 20:17] humphd commented on #1779
Nice catch!  To fix this, we probably should start by not having Brackets double-open this dialog.  We have 2 spots we could do this:

* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteCommandHandler.js#L142
* https://github.com/mozilla/brackets/blob/master/src/extensions/default/UploadFiles/main.js#L13

I'd probably do the latter, and hold a reference to t

[2017-02-23 22:21] waseem18 commented on #1771
@humphd I'm interested in working on this issue!

[2017-02-23 23:36] flukeout opened #1780 "Drop down menus on Your Projects page overflow past the edge of the page."
See here...

![horiz](https://cloud.githubusercontent.com/assets/25212/23284012/f4779d5e-f9dd-11e6-99c0-c35b7c3f9917.gif)

[2017-02-23 23:38] flukeout commented on #1780
On the homepage they're positioned correctly, so we need to use the same code here.

![image](https://cloud.githubusercontent.com/assets/25212/23284035/1b2abc42-f9de-11e6-83ad-392a7cc58193.png)

[2017-02-24 00:15] OutsourcedGuru commented on #1728
For what it's worth, Apple didn't have a "right" mouse button for years.  It was a single button.  The new Apple Magic Mouse out-of-box still doesn't have this native functionality but it can be added via System Preferences -> Mouse -> Enable Secondary Click.  And then you can actually click on the right side of the mouse and it will register differently than clicking straight down (noting that th

[2017-02-24 00:30] flukeout commented on #1728
Will definitely try this out on a few devices once we get a fix in. I'm getting the same behaviour with trackpad and right-clicking with a mouse right now.

Ideally, we'd have a way to access the menu by clicking an icon, as we've heard that younger users are unfamiliar with right-clicking.

[2017-02-24 00:43] Pomax commented on #1776
should things like reloads etc still show when preview is selected? it kind of feels like alpha'ing them to 0.1 or something and making them inaccessible would be necessary if we're going to present the option in the preview pane

[2017-02-24 00:52] Pomax commented on #1630
you certainly could, but is there no json plugin?

[2017-02-24 00:54] Pomax commented on #1752
I meant more doing this in the actual id.webmaker.org repository, in a `lib` dir of some sort, and then once we know it works, spin it off as a node module.

[2017-02-24 01:00] Pomax commented on #1526
I'm going to close this for now, as it's become a bit of an undefined issue, and I'll have to run into this again before I can properly explain the problem again.

[2017-02-24 01:44] humphd commented on #1752
Gotcha, make sense.  I'd say we start with "whatever is easy" and refactor from there.  Before the world ends, I want to see this app allow people to login with any kind of account :)  I've been on a mission for this to happen since Webmaker 0.1.  Almost there!

[2017-02-24 01:50] humphd commented on #1771
@waseem18 it's yours!  To get started on this, you're going to want to setup the Brackets code, following instructions here:

https://github.com/mozilla/brackets#how-to-setup-bramble-brackets-in-your-local-machine

NOTE: fixing this requires work in Mozilla's Brackets repo, not here in Thimble (even though it's filed here).

Once you have the code setup, try opening your browser to `http://localho

[2017-02-24 01:50] humphd commented on #1630
There is, see https://github.com/millermedeiros/requirejs-plugins

[2017-02-24 01:56] humphd commented on #1780
Whoever works on this, you can compare:

* https://github.com/mozilla/thimble.mozilla.org/blob/master/views/homepage/userbar.html
* https://github.com/mozilla/thimble.mozilla.org/blob/master/views/editor/userbar.html

and

* https://github.com/mozilla/thimble.mozilla.org/blob/master/views/homepage/index.html#L25-L26
* https://github.com/mozilla/thimble.mozilla.org/blob/master/views/editor/index.ht

[2017-02-24 01:57] waseem18 commented on #1771
Thank You for the explanation @humphd . I'll report my progress here! :+1:

[2017-02-24 12:57] kramsamujh commented on #1626
I'm interested in working on this bug. Should i look into fixing [#1766](https://github.com/mozilla/thimble.mozilla.org/issues/1766) as I'm working on this bug as well?

[2017-02-24 13:40] jgmac1106 commented on #1728
I think just having a copy and paste command on right click (if that is possible) woudl help. Right click just behaves in a way novice users have never expected and they probably do not know what three commands do.

[2017-02-24 16:00] jgmac1106 commented on #1666
@hannahkane Here is my draft of the help page: https://github.com/jgmac1106/jgmac1106.github.io/blob/master/help.md

I joined sumo but couldn't find any buttons about adding articles, stubs, etc.

[2017-02-24 16:14] flukeout commented on #1626
Hey @kramsamujh - sorry I built this one into an existing PR https://github.com/mozilla/thimble.mozilla.org/pull/1775

[2017-02-24 16:15] flukeout commented on #1626
#1766 is still good to go. Hey @gideonthomas can you review the #1175 PR so that @kramsamujh can work on top of that to add the Remix Link?

[2017-02-24 17:46] kramsamujh commented on #1626
@flukeout No problem. I'd be glad to work on [#1766](https://github.com/mozilla/thimble.mozilla.org/issues/1766) instead.

[2017-02-24 18:03] rkgupta21 commented on #1780
I would like to work on this bug

[2017-02-24 18:17] babhishek21 opened #1782 "README should link directly to the Thimble channel on Mattermost instance."
As it currently stands, the README points chat-friendly folks to http://chat.mozillafoundation.org/. While this link is (partially) correct, it does not fulfil its purpose properly.

Those who followed the link _intend_ to talk about Thimble. Instead they get directed to the `~Town Square` channel, where they bumble and stumble before finding their way to the relevant `~Thimble` channel.

Since a

[2017-02-24 19:05] Pomax opened #1784 "add a CONTIBUTING.md file"
Right now there is no explanation of what contributions should concretely look like, and what procedures we'd like to see people follow in order to work on the code and submit PRs.

We've already seen some of the issues this leads to with CDOT contributions: accidental pulls from master, mixed spaces and tabs, empty PR commit messages, and questions about process in the channel that we should have

[2017-02-24 19:43] gideonthomas commented on #1784
adding to this, as you suggested in chat, let's add linting/style-guide checks with eslint as well.

[2017-02-24 20:04] flukeout commented on #1780
Go for it @rkgupta21

[2017-02-24 23:54] #1626 closed

[2017-02-24 23:54] #1774 closed

[2017-02-25 02:05] JohnEJames commented on #1397
Hey so, I started spending more time towards this bug and made some changes that @humphd  suggested
https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/templatize.js#L6

now is this:
`  let engine = new Nunjucks.Environment(paths.map(path => new Nunjucks.FileSystemLoader(path), { noCache: true, watch: true }), { autoescape: false });`

After testing

[2017-02-25 05:04] pranay414 commented on #1770
I would like to work on this, can I get a preview on what exactly is needed?

[2017-02-25 21:29] humphd commented on #1397
As I said in class, you're now one of the most knowledgeable people on this issue in our community, since you've been digging into it.  As such, I don't have much advice, except to say that if it were me, I'd look at what other people do in their code:

https://github.com/search?l=JavaScript&q=nunjucks+nocache+watch&type=Code&utf8=%E2%9C%93

This search has hundreds of examples of other projects d

[2017-02-25 21:30] humphd commented on #1770
@pranay414 it's yours.  @flukeout, do you have some advice on how you want this to look?

[2017-02-25 21:31] humphd commented on #1770
@pranay414 also note that this will need to happen in the https://github.com/mozilla/brackets repo vs. in Thimble directly, even though it's filed here.  You should start by setting up Brackets on your machine, following the README we have over there.

[2017-02-26 00:04] JohnEJames commented on #1397
Ah I see, I very much misread the Issue. I'll start to test it with the HTMl templates. Sorry about that

[2017-02-26 00:54] Pomax opened #1789 "figure out "who wins" in a multiple client syncing issue"
Based on https://github.com/mozilla/brackets/issues/607

[2017-02-26 00:54] Pomax commented on #1789
interesting, I like this idea. Is there a possibility of sync-clobbering that we need to be careful with though? What if someone works on their laptop offline, then uses their desktop and starts editing a thimble only to realise they did way more work on their laptop, and then turns their laptop back on to make sure that data gets synced to the server instead? Which "updates" will win? (the deskto

[2017-02-26 00:55] Pomax commented on #1789
@humph's reply:
---
NOTE: We make no guarantees about opening a project more than once, on same or on multiple computers. This bug isn't really about that. However, to answer your question (all of this relates to Thimble):

    if not logged in, every project is unique, you can't have multiple copies of it open
    if logged in, we try to send changes to the publish server for storage (i.e., whole

[2017-02-26 00:55] Pomax commented on #1789
My reply

---

I know we don't. That's a failing on our part: it feels like we need to tackle that before we do this work. At the very least we need to let the user know that things are about to go potentially horrible wrong and put them in the driving seat for resolving versioning conflicts. I don't know where that's best filed: here, or on the thimble repo.

[2017-02-26 00:56] Pomax commented on #1789
Let the discussion continue here =)

[2017-02-26 05:01] pranay414 commented on #1770
where is the code where I have to make changes?

[2017-02-26 15:29] humphd commented on #1770
@pranay414 as I mentioned above, the various drag/drop events are handled in code in https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js, and you can define a new class in these CSS files: https://github.com/mozilla/brackets/tree/master/src/extensions/default/bramble/stylesheets

[2017-02-26 18:05] Shank09 opened #1790 "Hover effect missing for Upload dialog and color consistency"
I was working on Bug #1779 and wanted to add hover effects to the buttons and change the color of "From your computer" for dark to match thimble's color scheme.

![bug 2](https://cloud.githubusercontent.com/assets/11877279/23342169/8c8ceb8e-fc23-11e6-8f2a-78ea455cd586.gif)

I'll do a pull request for both bugs soon, if its okay.

[2017-02-26 18:39] babhishek21 commented on #1776
@flukeout So right after clicking the "Remix this Project" button, when the bramble panes load, you want the Tutorial pane being displayed by default, instead of the Preview pane?

Also, can I work on this?

[2017-02-26 20:45] humphd commented on #1776
@babhishek21 yes, you can work on this.  I suspect that the right fix for this is to alter our code here:

https://github.com/mozilla/thimble.mozilla.org/blob/392fb9dccc4a228b21dfe88cfe415cb56a6acded/public/editor/scripts/project/project.js#L240-L257

This is where we decide which file to show first when we load a project.  If there's a `tutorial.html` file, we should favour that over something el

[2017-02-26 23:44] matthieu-foucault commented on #1772
I checked on brackets (v 1.8), and this bug is not present there.

[2017-02-26 23:53] matthieu-foucault opened #1791 "Trying to write closing square bracket on French keyboard folds code"
In all editors (HTML, CSS or Javascript), typing a closing square bracket (`]`) with a [french keyboard](https://upload.wikimedia.org/wikipedia/commons/c/ca/Azerty_fr.svg) (`Alt Gr + )`) triggers a shortcut that folds the code.

This behavior is not present in brackets v1.8

[2017-02-26 23:55] humphd commented on #1772
Excellent, thank you @matthieu-foucault.  @gideonthomas so this means our localization code is escaping these when it runs over the strings.  Can you put some info in this bug to guide a contributor to fix things, please?

[2017-02-26 23:59] humphd commented on #1791
Not good.  Possibly related https://github.com/mozilla/thimble.mozilla.org/issues/1646#issuecomment-281541204.

These get defined in Brackets here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/CodeFolding/main.js#L51-L56

It's odd that we're doing something different from 1.8 on desktop.

[2017-02-27 00:20] matthieu-foucault commented on #1791
These keys seem to be disabled with a French layout on desktop:
Here is the menu when brackets is started with a French layout:
![menufrlayout](https://cloud.githubusercontent.com/assets/2684022/23345212/2b3a27c2-fc3f-11e6-9f3a-a4a863be2ba3.png)
And here is the same menu with an English keyboard layout:
![menuenlayout](https://cloud.githubusercontent.com/assets/2684022/23345216/417cdda4-fc3f-11e6-

[2017-02-27 01:05] humphd commented on #1791
Possibly related:

* https://github.com/adobe/brackets/issues/6209
* https://github.com/adobe/brackets/issues/6132

and some others.  They make it sound like it was dealt with, but clearly that's not the case.

I looked for code that does layout specific checks, and at one point they were thinking about it: https://github.com/adobe/brackets/pull/9652

But I can't (yet) see why they are doing diffe

[2017-02-27 03:29] sgupta7857 commented on #1760
Okay, i would like to work on this feature. As per my understanding
1st case: When the user signs in if the user has "more than one" existing project then the user would be redirected to your project page
2nd case: if the user only has one project. the user will be redirected to that particular project page
3rd case: no existing project, the user will be redirected to new project page
Agreed?

[2017-02-27 03:53] gideonthomas commented on #1790
cc @flukeout

[2017-02-27 04:00] gideonthomas commented on #1630
@humphd I don't think we include either one of those plugins though. We would need to add them to the Gruntfile as well as the require config in the main.js file as well as a package.json entry. We'd also need to make sure we use the same version that brackets uses so that we're caching and optimizing for size. Seemed like a bit much for this so I thought it might just be easier to make it a modul

[2017-02-27 04:04] gideonthomas commented on #1728
@jgmac1106 discussion is ongoing here: https://github.com/mozilla/brackets/issues/451, we're still trying to figure out how to make that possible.

[2017-02-27 04:17] gideonthomas commented on #1397
@JohnEJames, if you're curious, the two issues that you mention above can probably be fixed once we implement https://github.com/mozilla/brackets/issues/607 since we can add an "Are you sure, you have unsaved work" confirm dialog based on the events implemented in that issue and avoid this problem.

But yeah, this issue is about the HTML templates in `server/views` :)

[2017-02-27 04:37] humphd commented on #1630
@gideonthomas makes sense.

[2017-02-27 14:46] jgmac1106 commented on #1728
The same thing happens in gDocs but they provide a pop up modal when you
try to use right click and it tells you to use short cut keys to copy and
paste. Will leave comment in other issue

On Sun, Feb 26, 2017, 11:04 PM Gideon Thomas <notifications@github.com>
wrote:

[2017-02-27 16:27] humphd opened #1792 "Fix CSP warning in Firefox"
[code]

We should update our CSP definitions:

https://github.com/mozilla/thimble.mozilla.org/blob/master/server/security.js#L8-L53

See also #1595

[2017-02-27 16:33] humphd commented on #1728
@flukeout can you reproduce this on https://bramble.mofostaging.net?  I can't.  I wonder if it got fixed when we merged with upstream.

[2017-02-27 16:33] humphd commented on #1595
@indranil-tiwary how are you doing with this bug?

[2017-02-27 17:21] flukeout commented on #1728
Here it is in staging.

![modal-pop](https://cloud.githubusercontent.com/assets/25212/23371776/1d0e61a6-fcce-11e6-86ea-0a6a0848fd48.gif)

[2017-02-27 17:23] humphd commented on #1728
@flukeout fascinating, I can't make it happen at all.  I've got Magic Mouse on Mac running FF dev edition.  What's the difference here?

[2017-02-27 17:54] humphd opened #1793 "Clarify README about localhost:3000/account"
In our README we say [to go to localhost:3000/account](https://github.com/mozilla/thimble.mozilla.org/#sign-in).  When you do, you get this:

![image pasted at 2017-2-27 23-01](https://cloud.githubusercontent.com/assets/427398/23372933/acd103bc-fceb-11e6-8b56-c1570731bc0e.png)

This all seems odd to me.  Can someone clarify what we are saying in the README or fix the login stuff to do what you'd e

[2017-02-27 17:58] pranay414 commented on #1770
<img width="850" alt="screen shot 2017-02-27 at 11 25 46 pm" src="https://cloud.githubusercontent.com/assets/16045021/23373010/1cc81004-fd44-11e6-8e50-4571d4234078.png">
I am getting this error while using 'npm run build', How can i resolve this, is there any other way to work this out?

[2017-02-27 18:00] #1782 closed

[2017-02-27 18:02] humphd commented on #1770
@pranay414 the actual error is above what you pasted.   It looks like it didn't find a file it needs.

[2017-02-27 18:23] shiri04 commented on #1595
can I work with this bug?

[2017-02-27 18:31] flukeout commented on #1728
It also happens for me when my microsoft mouse is unplugged and I use my mac's trackpad, so ... I'm not sure.

[2017-02-27 19:05] gideonthomas commented on #1793
Hmm, damn, forgot to remove that. Those instructions should be removed entirely. You create an account by simply going to Thimble and clicking "Create an account" in the top-right corner and following the instructions there.

[2017-02-27 19:06] cadecairos commented on #1793
It looks like a front-end build step might not be completing like it should. Anything in the build log indicating that?

Also, yes - using the signup on thimble is way easier

[2017-02-27 19:12] gideonthomas commented on #1792
Actually we have both `frame-src` and `child-src`. `frame-src` might be deprecated but we use it because Edge only supports that directive and not `child-src`.

[2017-02-27 19:21] #1738 closed

[2017-02-27 19:56] flukeout opened #1794 "Update our Google Analytics event tracking approach"
Currently, we have methods in our code that send events to Google Analytics. All of them have an Event Category of ``thimble.mozilla.org`` and only use the **Event Action** to convey information.

GA Events can have the following properties...

* Category
* Action
* Label (optional, but recommended)
* Value (optional)

...and we can make better use of this structure.

Our current analytics setup e

[2017-02-27 21:10] gideonthomas commented on #1772
Sure, I'll need to take a look at what's causing this first.

[2017-02-27 21:11] OutsourcedGuru commented on #1728
@humphd Are you doing the two-finger-single-click action or did you turn on `System Preferences -> Mouse -> Enable Secondary Click` and you're doing a physical lean-on-the-right-side-of-the-top-of-the-Magic-Mouse right mouse click?

The latter does a pretty good job of simulating a standard Microsoft mouse in that the mousedown event lasts as long as you'd expect, at least in theory.  The former (

[2017-02-27 21:17] humphd commented on #1728
I've tried both methods you describe, I can't reproduce it.  It's interesting that it's so different.

[2017-02-27 22:22] OutsourcedGuru commented on #1728
@humphd Wonder if it's fixed in your particular version/fork.

[2017-02-27 23:05] Pomax commented on #1752
filed https://github.com/mozilla/id.webmaker.org/issues/431

[2017-02-27 23:56] humphd commented on #1728
I'm testing on staging, same as Luke.

[2017-02-27 23:57] Pomax commented on #1792
@gideonthomas  are you sure about that? Microsoft advocates ditching frame-src in https://docs.microsoft.com/en-us/microsoft-edge/dev-guide/security/content-security-policy

[2017-02-28 00:17] OutsourcedGuru commented on #1728
@humphd Would be interesting to know if you can right-click on Google Maps in FF as described on [this thread](https://productforums.google.com/forum/#!topic/maps/uuHPxBAMKBg).  Later in the thread, it was suggested that this bug was introduced in FF3.0, for what it's worth.  It's an interesting read, anyway.

[2017-02-28 00:27] humphd commented on #1728
Yeah google maps is fine for me.  fwiw, I'm using FF 53.0a2 (2017-02-13) (64-bit) on OS X 10.11.6.

[2017-02-28 00:33] OutsourcedGuru commented on #1728
Kind of a novel, but [this page](http://unixpapa.com/js/mouse.html) from 2011 seems to be suggesting that there are no click events for right button clicks in any browser.  See the "Event Triggering - Single Clicks" section.  Don't know if this is pertinent or not.  Right-mouse click is definitely in a gray area.

[2017-02-28 00:46] Pomax commented on #1760
That sounds like a reasonable summary of the use cases to me. @flukeout?

[2017-02-28 01:01] Pomax commented on #1791
Do browsers have alt-gr detection at all? (http://stackoverflow.com/questions/10657346/detect-alt-gr-alt-graph-modifier-on-key-press is not encouraging, but also an older post)

[2017-02-28 05:19] #1633 closed

[2017-02-28 05:24] gideonthomas commented on #1792
Hmm interesting. [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/child-src) and https://content-security-policy.com/ say that Edge does not support it. Maybe they're out of date?

[2017-02-28 16:17] flukeout opened #1795 "Fix incorrect use of "login" to "log in"."
A contributor found this string somewhere within Pontoon...

![image](https://cloud.githubusercontent.com/assets/25212/23413704/6044751c-fd8e-11e6-90fe-b2e50b79afa1.png)

Must be some kind of system error, but let's get it updated anyway.

[2017-02-28 16:33] Pomax commented on #1792
If there's a simple test page somewhere I can point Edge at it and see what it does.

[2017-02-28 17:11] flukeout opened #1796 "Improve quality of support emails."
We often get support emails that don't contain basic information about the project that someone is having trouble with. What can we do to encourage people to send us more details?

* Pre-populate the body of the email using the ``mailto`` feature
* Create a contact us form?
* Create a support page that gives a bit of guidance / information before people email?

[2017-02-28 17:16] hannahkane commented on #1796
I think the first two options are likely to produce the best results. Contact Us form sounds heavy, but maybe we can keep it really minimal.

[2017-02-28 18:30] humphd opened #1797 "Improve error messages and failure for publish service"
We have a Heroku/Amazon S3 outage right now, and when you try to remix or open a project, you get:

[code]

That's brutal, and makes it look like its our problem, when really it's nothing to do with us.  We should deal with the 500 case and at least let you work on a "Start from Scratch" project vs. just doing nothing.

[2017-02-28 18:37] Pomax commented on #1797
yeah, adding in handling for 5xx errors is a great idea. Are there any other errors we can think of that need dealing with in the 5xx family outside of 500 and 503?

[2017-02-28 18:49] gideonthomas commented on #1797
But it won't let you load Brackets though? Since it's also on S3?

[2017-02-28 19:12] Rajat-dhyani commented on #1651
please review this pull request : https://github.com/mozilla/brackets/pull/616

[2017-02-28 19:24] kariya22 opened #1798 "Unable to access the service through my account"
When i want to start a new project and view my project it shows:
Service Unavailable (503): Failed to get the list of your projects!
Service Unavailable (503): Failed to create the project!

[2017-02-28 19:25] SidneyNemzer commented on #1798
See #1797

[2017-02-28 19:28] kariya22 commented on #1798
but how can i get access to the projects, i even tried create another account it shows the same error message....i have an assignment due today and now i am clueless.

[2017-02-28 19:33] humphd commented on #1798
@kariya22 I'm really sorry you're having this issue.  We use Amazon's S3 service for file storage and publishing, and it is currently down, which is affecting a huge part of the Internet.  We can't access the projects as a result.

In terms of your assignment being due today, please let them know that it's an outage, and not your fault.  Feel free to point them at this, and I can provide any detai

[2017-02-28 19:43] #1798 closed

[2017-02-28 20:44] Pomax commented on #1797
think asynchronouser: say you're working in thimble already, and S3 dies.

[2017-02-28 20:50] humphd commented on #1797
Even (and especially!) if it won't load, we should provide something useful here.  Having said that, we load Brackets from Service Worker, so repeat users would still be able to load it.

[2017-02-28 22:07] Rajat-dhyani commented on #1619
wow this feature is really interesting.... should i work on this? @humphd
and also it would be great if you can guide me also on this one...
Thanks

[2017-03-01 01:23] humphd commented on #1619
@Rajat-dhyani we're going to be filing a bunch of tickets related to this work, and yes, you'd be welcome to help with it.  This bug is probably going to get closed, and replaced with more specific work, so I'll wait to assign it.

[2017-03-01 01:54] humphd commented on #1595
@shiri04 yes, please do.  It looks like @indranil-tiwary might have had to focus on other things.

[2017-03-01 13:20] Rajat-dhyani commented on #1619
okay sir @humphd it does looks like a lot of work so breaking it down into smaller modules... would be great.. please let me know if i could be of any help
Thank you

[2017-03-01 13:25] Rajat-dhyani commented on #1637
hey @rkgupta21 if you are not working on this...can i try to fix this issue ?

[2017-03-01 13:31] Rajat-dhyani commented on #1608
i followed  [#1724](https://github.com/mozilla/thimble.mozilla.org/pull/1724) but i guess @ZenanZha  is not really following up... Can i take over the work if no body is working on it ?

[2017-03-01 13:37] SidharthBansal commented on #1796
I think we can do as follows: There will be a link with title "support " to a support page . This support page would be containing different sections which will deal with different types of queries. These queries would be classified broadly into different categories. Example we are having troubles related to discussion , bug or any other category. If there wouldn't be any categorisation it would b

[2017-03-01 14:14] ZenanZha commented on #1608
@Rajat-dhyani  Sorry, man. I just spent some time on study CSS on my own. I'm about to  finish my work before Friday.

[2017-03-01 14:38] humphd commented on #1776
From Mattermost:

![image](https://cloud.githubusercontent.com/assets/427398/23464313/a1851020-fe62-11e6-8791-d6d3fed621a5.png)

My response:

[code]

[2017-03-01 15:18] Rajat-dhyani commented on #1608
okay no problem.. @ZenanZha i will find some other issue to work upon.... thanx for replying anyway 👍

[2017-03-01 16:19] flukeout commented on #1757
Closing, are any of the steps taken here worth documenting in the README or wiki?

[2017-03-01 16:19] #1757 closed

[2017-03-01 17:43] humphd opened #1800 "Start using prettier"
I'd like to see us start using (prettier)[https://www.npmjs.com/package/prettier] with a precommit hook to auto restyle all our JS.  We have so many people working on the code, and lots of new contributors, for whom tabs vs. spaces, newlines, touching unrelated code, etc. is very difficult to get right.

If our code formatted itself, and we all just used that style, I think we'd be in a much bette

[2017-03-01 17:44] gideonthomas commented on #1795
Fixed with 77d48ed0ff440bc1830fb5cb38a0cf263efc2a86

[2017-03-01 17:44] #1795 closed

[2017-03-01 17:49] gideonthomas commented on #1800
Can we use eslint instead? It allows using JSCS rules to specify things like "no-tabs" and it will also fix them for you if you want. Just suggesting eslint so that it's consistent with what Brackets (and I believe the foundation as well) uses (and am thinking about adding similar eslint config to Bramble as well).

[2017-03-01 17:58] gideonthomas commented on #1796
In general, let's keep the solution simple.

+1 to pre-populating the email body/subject
+1 to creating the support page but I believe we've already started that work in the form of a wiki (which we should migrate to sumo or a stand-alone page on Thimble for l10n purposes). We can possibly link to the email from there via some thing like "Still having issues? Send us an email" on that page.

-1 to

[2017-03-01 18:39] Pomax commented on #1800
The upside of prettier is that *no one* has a choice, not even us. Much like contributors, we'd be buying into the styling that prettier has decided on based on the input of many many different developers working on different projects, and so represents a kind of "consensus of the JavaScript community" (it lets you fiddle with a few things, but the fewer things you override, the more accessible yo

[2017-03-01 19:17] gideonthomas commented on #1637
@humphd can we re-assign this issue?

[2017-03-01 19:47] humphd commented on #1637
@rkgupta21 can you let us know if you're working on this still?

[2017-03-01 19:50] humphd commented on #1800
The new Brackets code uses eslint rules to warn, see https://github.com/mozilla/brackets/blob/master/.eslintrc.json

We could synchronize Thimble with this, or do something different here.  Running prettier across all of Brackets would be a nightmare for merging upstream changes down the road.

I don't know, I'm open to eslint.  I just like the idea of it being clear.  In an ideal world, it would

[2017-03-01 19:51] rkgupta21 commented on #1637
@humphd I was actually working on some other issue. You can reassign it.

[2017-03-01 20:08] humphd commented on #1637
Thanks @rkgupta21, that's helpful to know.  @Rajat-dhyani go for it if you want this one.

[2017-03-01 21:47] #1722 closed

[2017-03-01 22:07] flukeout commented on #1718
Fixed via #1739

[2017-03-01 22:07] #1718 closed

[2017-03-01 22:11] flukeout commented on #1800
Yes please! I like the just-happens approach.

[2017-03-01 22:20] flukeout commented on #1794
Any thoughts on this @gideonthomas and @humphd?

The ``webmaker-analytics`` module automatically assigns the ``category`` based on the hostname, which we more fine-grained control over. Should we just take what's in the module and adapt it to our own needs? I'm happy to do that.

[2017-03-01 22:25] humphd commented on #1794
I wrote much of that code originally :) it's in https://github.com/mozilla/webmaker-analytics.  I think you should fork it and do whatever you want, or just take the https://github.com/mozilla/webmaker-analytics/blob/master/analytics.js file and fix the way it does category stuff (it defaults to hostname).

[2017-03-02 13:24] pranay414 commented on #1770
I am not able to setup brackets on my machine because of npm error, is there any other way to carry on the development process?

[2017-03-02 13:26] Rajat-dhyani commented on #1637
okay thanks for informing @rkgupta21 ... i am taking this over 👍

[2017-03-02 13:36] TheoChevalier opened #1801 "Several strings changed without updating the string ID"
Several strings have been updated over the past months, but the string ID has not been updated. If IDs are not updated, translations are not invalidated, and localizers are not warned that the source string has changed. Doing so results in updating en-US only, and not the other locales.

See also this page to understand when IDs need to be updated and when they don’t: https://developer.mozilla.org

[2017-03-02 13:37] TheoChevalier commented on #1801
CC @gideonthomas @flukeout

[2017-03-02 14:27] humphd commented on #1770
@pranay414 if you want help, come talk to us on https://chat.mozillafoundation.org/mozilla/channels/thimble and we can try to solve your install problem.  Without having it setup, you won't be able to do much.

[2017-03-02 17:19] humphd commented on #489
Let's turn this into a bug on Brackets to do an extension that warns when using `http://` style URLs in the editor.

[2017-03-02 17:23] #621 closed

[2017-03-02 17:27] flukeout commented on #634
Closing as it's in the brackets repo already: https://github.com/mozilla/thimble.mozilla.org/issues/634

[2017-03-02 17:27] #634 closed

[2017-03-02 17:31] humphd commented on #671
Let's wait on this to see how things pan out upstream, and maybe add the `img` stuff manually ourselves.

[2017-03-02 17:39] humphd commented on #889
@Riyuzakii how is this going?  Do you need some help?

[2017-03-02 17:44] #1114 closed

[2017-03-02 17:50] #1148 closed

[2017-03-02 17:52] #1171 closed

[2017-03-02 17:53] #1149 closed

[2017-03-02 17:57] #1174 closed

[2017-03-02 17:58] #1201 closed

[2017-03-02 18:01] Pomax commented on #1221
We could update the S3 404.html so that it does a redirect to the correct domain if it sees it's loading for a `/remix` page

[2017-03-02 18:03] #1221 closed

[2017-03-02 18:06] flukeout commented on #1235
Probably a similar fix to https://github.com/mozilla/thimble.mozilla.org/pull/1751

[2017-03-02 18:07] raygervais commented on #1675
A few questions David, related to this implementation.
You'll see [here](https://github.com/raygervais/brackets/tree/add-new-console), I've followed your starting advice and created the ConsoleManager.js, and ConsoleManagerRemote.js files. My question, is how may I test (once I integrate the recommend console shim) to see if the iframe console messages are being picked up?

I may have a few other

[2017-03-02 18:36] gideonthomas commented on #1801
Oh wow, yeah we definitely weren't aware of that. I'll make those changes soon. Thanks for pointing these out @TheoChevalier and also for linking to that document about best practices as well.

[2017-03-02 19:38] Riyuzakii commented on #889
@humphd I have been a bit busy with my mid-semester exams for the past week and they end on sunday so i'll restart then.

[2017-03-02 20:33] gideonthomas commented on #1801
@TheoChevalier I'm a bit hesitant to change the ids in this commit: 612e0ee. All the changes made there reflect back in mozilla/brackets which is a fork of adobe/brackets. They have their ids set to specific names they use in their codebase. I would rather not go deep into their core code and change these keys (it'll make it hard for us to keep up-to-date with upstream changes). Any suggestions on

[2017-03-02 20:40] mfainshtein4 commented on #1779
I'd like to give this bug a shot.

[2017-03-02 20:46] TheoChevalier commented on #1801
Hey @gideonthomas, yes, there are indeed cases where IDs can’t be updated (it’s sometimes the case in products too), and your approach is the right one, sending a message to the mailing list communicating the change and linking to the diff. I would suggest however to send this to mozilla.dev.l10n.**web** [1], mozilla.dev.l10n [2] is for products only.

[1] https://groups.google.com/forum/#!forum/m

[2017-03-02 21:14] gideonthomas commented on #1801
Awesome! Thanks for the input @TheoChevalier. Will do that.

[2017-03-02 21:15] #1801 closed

[2017-03-02 21:18] Shank09 commented on #1779
@mfainshtein4 Sorry, I already worked on this and creating a pull request soon.

[2017-03-02 21:36] mfainshtein4 commented on #1779
Okay. In the future comment on the issue to say you are working on it please.

[2017-03-02 21:44] humphd commented on #1675
To test things, run brackets `npm start` and browse to localhost:8000/src/hosted.html and you'll get a debugging version running without Thimble.  You should be able to do something like this in your `index.html` in the editor:

[code]

[2017-03-02 21:47] humphd commented on #1675
Also, btw, you can do a compare branch to show diffs across commits https://github.com/raygervais/brackets/compare/master...add-new-console.  Having said that, just open your PR for this even if it isn't done.  You can always put up "Work In Progress" (WIP) PRs for feedback.

[2017-03-02 21:47] humphd commented on #1675
[code]

Should be `</script>\n;` when you close it

[2017-03-02 22:36] raygervais commented on #1675
I will keep working on it, and then do the WIP PR. I noticed your last note while working on the local version of getRemoteScript. Fixed now.

[2017-03-02 23:12] OutsourcedGuru commented on #1728
@humphd I was thinking more like... the BuildVersion out of /System/Library/Extensions/AppleHIDMouse.kext/Contents/verssion.plist

Maybe you and Luke are running different ones.

[2017-03-02 23:57] rajivjhaimin commented on #1766
@flukeout  I would like to start contributing in thimble, with this being my first.

[2017-03-03 01:16] matthieu-foucault opened #1803 "renameFolder request with ~250 files in the folder keep on being cancelled and retrying"
I have a folder with 255 svg images in it (country flags from [this github repo](https://github.com/lipis/flag-icon-css/tree/master/flags/4x3)) and when I try to rename the folder, the corresponding XHR request keeps on being cancelled or returns with an error 504.

The requests are still being sent after the folder is deleted, and reloading the project does not seem to improve the situation.

[2017-03-03 01:21] matthieu-foucault commented on #1595
If this is not fixed soon, could it be possible in the meantime to disable this button, or show a help message to firefox users?
I have students who were stuck with submitting an assignment because nothing happens when you click on the button, and it took them a while to figure out that they should try with Chrome.

[2017-03-03 03:43] omytryniuk commented on #1747
@Pomax Thank you very much for telling about "bisect". It is a really nice tool to find the issue. @humphd You are absolutely right - it is the result of recent fix.
Here is the [commit](https://github.com/mozilla/thimble.mozilla.org/commit/392fb9dccc4a228b21dfe88cfe415cb56a6acded) that introduces this.

What I have discovered working on this bug.
As I understand, [here](https://github.com/mozilla

[2017-03-03 14:51] humphd commented on #1747
Nice debugging work @omytryniuk!  CC'ing @lkisac who might be interested in this regression.

@omytryniuk a tip for you: when you write code snippets in issues like you did above, you can use [backticks](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to format it and do highlighting.  It helps the code stand-out, and keep its indentation.

[2017-03-03 14:52] humphd commented on #1595
@matthieu-foucault if @shiri04 doesn't fix this before Monday, I'll do it for you.  I'm curious how you're using Thimble.  How many students do you have, and what level are they at?  We're really appreciating the good bugs you are finding and filing.

[2017-03-03 15:02] humphd commented on #1803
Interesting.  It sounds like we need to throw away renames if a delete action is inserted in the sync queue--something I thought we already did.   Probably when we add items delete operations to the `PathCache` we should look through the list to see if any items can get purged:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/proje

[2017-03-03 15:45] humphd commented on #1766
@rajivjhaimin It looks like @flukeout did some of the work for this in https://github.com/mozilla/thimble.mozilla.org/pull/1775.  @flukeout can you update this bug with what needs to happen?

[2017-03-03 15:47] humphd commented on #1728
fwiw, mine is
[code]

[2017-03-03 16:49] gideonthomas commented on #1803
@humphd, so I'm not sure how this is happening, maybe there's a bug in how we're prioritizing operations. But, from what I can see in https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/sync-manager.js#L276, we always prioritize folder renames (since they don't involve any local fs operations when doing the sync). So we ru

[2017-03-03 16:53] humphd commented on #1803
Agreed, I'm surprised to hear this is happening.  We should try to duplicate now that s3 is back up, using the images @matthieu-foucault mentions above.

[2017-03-03 17:21] flukeout commented on #1766
Hey @jgmac1106 - we've made some changes that will be landing shortly that show you the Published Project link on the projects list. Now, if something is published, you can click on that and remix it. It will be way simpler than before. Does this solve your need, or are you looking to be able to duplicate projects that aren't published yet, for example.

<img width="679" alt="image" src="https://c

[2017-03-03 17:35] jgmac1106 commented on #1766
two clicks is better than four but one is better than two

also there is an icon for delete but not one for published and remix. If you can fit in all three why not go with live (possible earth icon) remix (arrows or something) delete (already has can)

What you suggests will work and fit my use case.

[2017-03-03 17:49] omytryniuk commented on #1747
Thank you, @humphd!
Basically, I was able to fix it in the next way. Here is my solution:

1. Even it is anonymous, we should call ProjectRenameUtility.init from Project.init() to give the title to our project. There is no need to do it for logged-in users, because it will be called twice in the app, as  ProjectRenameUtility.init for logged-in users is called [here ](https://github.com/mozilla/thi

[2017-03-03 18:19] humphd opened #1804 "Remix resources not loading"
Given https://thimbleprojects.org/jgmac1106/223453/, I'm seeing 404s for all our remix resources:

[code]

NOTE the `undefined` in all those URLs. cc @cadecairos, @gideonthomas, @jgmac1106

[2017-03-03 18:22] humphd commented on #1747
Pull Request please!

Also, I love how you talked about the good work already done on this code, and wanting to work with it to improve things.  Open source is always about a community of developers and users iterating on something to make it better bit by bit, vs. throwing things out and starting over.  Glad you've had that same realization!

[2017-03-03 18:32] gideonthomas commented on #1804
None of the remix metadata was injected into the code because we can't find the `<head>` element which is what we look for here: https://github.com/mozilla/publish.webmaker.org/blob/master/lib/remix.js#L24-L29

[2017-03-03 21:25] humphd commented on #1804
@Pomax what should we do when there's no `head`?  We should morph this bug into fixing that.

Having said that, why all the `undefined`s in the URLs?

[2017-03-03 21:26] dsych commented on #1326
Hi @Pomax  @gideonthomas ,
I am facing a slight problem. I've defined my code as a separate model in bramble/client folder as ProjectLimiter.js. When I try to require it in bramble/client/main.js to create a projectLimiter object, require fails. Code:
[code]

And here is a snippet of the ProjectLimiter module. This is just for debug for now:

[code]

Here is the errors:

and

http://requirejs.org/

[2017-03-03 21:29] humphd commented on #1326
You should follow the pattern in `main`:

[code]

[2017-03-03 21:38] dsych commented on #1326
@humphd In this case I would need to create object manually as follows?:

[code]

[2017-03-03 21:44] flukeout commented on #1238
Also, will try out https://github.com/MiguelCastillo/Brackets-InteractiveLinter

[2017-03-03 21:52] dsych commented on #1326
Follow-up, if I don't explicitly instantiate the projectLimiter object and call function defined in the module, I get an undefined property error.:

[code]
Error:

    at EventEmitter.Bramble.mount (main.js:152)

[2017-03-03 22:07] humphd commented on #1326
It think it's how you're defining your module in `ProjectLimiter`.  Do this:

[code]

[2017-03-03 22:29] dsych commented on #1326
still gives the same error. Here is how I define functions for ProjectLimiter:
[code]

[2017-03-03 22:35] humphd commented on #1326
You haven't defined `ProjectLimiter` in that code.  You won't need a prototype in this case, becuase you aren't using instances. Try this:

[code]

You only need to put things on the `prototype` if you have instances.  It would then be:

[code]

[2017-03-03 22:39] dsych commented on #1326
Tried both ways, same problem.

[2017-03-03 22:41] humphd commented on #1326
Do a PR and show us your actual code.

[2017-03-03 22:46] dsych commented on #1326
![debug_brackets](https://cloud.githubusercontent.com/assets/16144679/23571807/40261594-0039-11e7-8f95-acea7e296535.png)

[2017-03-03 22:50] humphd commented on #1326
I mean put all of it up, including how you're calling it in the other code.  Just push your branch and start a PR.  It's easier to discuss real code vs. snippets

[2017-03-03 22:57] dsych commented on #1326
Yeah, sorry. Here is PR https://github.com/mozilla/brackets/pull/620

[2017-03-04 01:41] flukeout commented on #1238
Made some progress with functionality. You can hover over the text in the error message to highlight the related code...

![html-lint](https://cloud.githubusercontent.com/assets/25212/23574858/9b73ed3c-0038-11e7-8dd2-4a287eba7af8.gif)

[2017-03-04 15:19] humphd commented on #1238
Getting https://github.com/MiguelCastillo/Brackets-InteractiveLinter to work likely involves re-working their logic to not try and lazy-load files from the filesystem, and instead use `require` to pre-load them.  I can try and get it working if you want.

One thing I was going to say about what you have above, and I see the other one does it already, is to make use of the gutter space beside the l

[2017-03-04 18:48] JohnEJames commented on #1397
I've been having some luck with this code:

`let engine = new Nunjucks.Environment(paths.map(path => new Nunjucks.FileSystemLoader(path)), {noCache: true, watch: true, autoescape: true });`

I dont have to restart the server to see my changes, but I have to go to back to the homepage

[2017-03-04 19:26] JohnEJames commented on #1397
So I've been reading the Nunjucks api, and been trying to do the syntax properly. But so far I've had no luck.
This is the code that I've tried to get working:
` let engine = new Nunjucks.Environment(paths.map(path => new Nunjucks.FileSystemLoader(path)), {watch: true, noCache, true, autoescape: true });`

Reading the Nunjucks API:
watch (default: false) reload templates when they are changed (ser

[2017-03-04 19:53] gideonthomas commented on #1804
I don't think we run `undefined` checks in the "get remix bar" script so it still makes the requests.

[2017-03-04 20:41] dsych commented on #1326
Hi,
I've updated my pull request and was wondering if anyone might be able to take a look and tell me if I am on the right track.
Bare in mind that I've only tested this code with Brackets.

[2017-03-04 23:17] JohnEJames commented on #1397
It works, but I have to keep spamming Refresh until the page loads

[2017-03-04 23:20] matthieu-foucault commented on #1791
Pressing Alt-Gr emits two keydown events, one for the left control key and one for the right alt key:

[code]

The codes combination is `ControlLeft` and `AltRight`, so I guess you could add listeners on keydown/keyup events to disable shortcuts when this combination of keys is pressed.

[2017-03-04 23:35] matthieu-foucault commented on #1791
In Brackets there is a function that is supposed to detect the altGr key: https://github.com/adobe/brackets/blob/f028b3ecdf2017498196f39ddbbe4a2364366c92/src/command/KeyBindingManager.js#L242

[2017-03-04 23:38] matthieu-foucault commented on #1791
.... which does nothing if the platform is not windows. What is the value of `brackets.platform` in Bramble? Same as the client's OS?

[2017-03-05 00:01] humphd commented on #1791
Should be same as client OS, as per browser https://github.com/mozilla/brackets/blob/master/src/utils/Global.js#L71

[2017-03-05 05:33] Rajat-dhyani commented on #1637
please review this PR : https://github.com/mozilla/thimble.mozilla.org/pull/1807

[2017-03-05 18:08] jgmac1106 commented on #1766
Way out of left field here but what if we started using vocab of the discipline. Remix has never localised well.

Published Version=Production
Saved but published=Staging
Remix=Fork

[2017-03-05 18:51] JohnEJames commented on #1793
I would like to fix this issue @gideonthomas

[2017-03-05 22:35] humphd commented on #1675
In unrelated work, I remembered that the [Firebug Lite](https://getfirebug.com/firebuglite) code already does some nice `console` handling, which we could learn from and use.  See:

https://github.com/firebug/firebug-lite/blob/master/content/firebug1.4/consoleInjector.js

Here you can see how they implement all the various `console.*` methods:

https://github.com/firebug/firebug-lite/blob/master/c

[2017-03-06 00:17] humphd commented on #1760
@sgupta7857 Yes, let's go with what you've described, it sounds right.  If we need to adjust, we'll do it in review.

[2017-03-06 04:01] shubham0794x commented on #1770
I want to work on this issue.

[2017-03-06 04:07] pranay414 commented on #1770
@shubham0794x I am still working on this!

[2017-03-06 04:18] shubham0794x commented on #1792
I would like to work on this issue.

[2017-03-06 04:24] shubham0794x commented on #1771
Is this issue open , I would like to contribute

[2017-03-06 05:09] waseem18 commented on #1771
@shubham0794x I'm working on it! :)

[2017-03-06 05:10] waseem18 commented on #1771
@humpd I'll raise a PR for this in a day or two.

[2017-03-06 05:44] ryanwarsaw commented on #1771
@shubham0794x Any issues that are tagged with the label "good first bug" and not "assigned to contributor" are great bugs for just starting out contributing! You can view a whole list here: https://github.com/mozilla/thimble.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+bug%22

[2017-03-06 12:05] shubham0794x commented on #1707
I would like to work on this bug. @humphd @gideonthomas

[2017-03-06 14:39] aayushsanghavi opened #1811 "Remix projects redirect to dead URL on local Thimble setup"
After setting up the project locally, trying to remix any of the first 3 projects on the homepage (ones boxed in the image below),
![screenshot from 2017-03-06 20-02-31](https://cloud.githubusercontent.com/assets/19590302/23614396/ab5c301c-027a-11e7-91a5-45816110d7d2.png)
gives the error,
![screenshot from 2017-03-06 20-02-42](https://cloud.githubusercontent.com/assets/19590302/23614401/b2052ba8-0

[2017-03-06 14:52] ryanwarsaw commented on #1811
This issue is caused by invalid URL references for front-page resources in the ```env.dist``` file, all references of ```thimble-beta.webmaker.org``` have to be updated to ```thimble.mozilla.org```.

See: https://github.com/mozilla/thimble.mozilla.org/blob/master/env.dist#L81

[2017-03-06 14:52] aayushsanghavi opened #1812 "Trying to run Thimble behind a proxy causes issues"
OS - Ubuntu Gnome 16.04 LTS
Working behind a proxy, set up in the network settings (system wide), bashrc (just in case), npm and vagrant (in the Vagrantfile in ~/.vagrant.d).
npm v4 and node v7.4 were used
After cloning the thimble repository, on running vagrant up, after the git and git-man set up (output on the terminal), the following error log is given out,
Refer to the log at --> https://gist

[2017-03-06 14:54] aayushsanghavi commented on #1811
@ryanwarsaw I'll take it up

[2017-03-06 15:09] ryanwarsaw commented on #1812
This issue is most likely related to the ```thimble.mozilla.org``` project only, the user can build other Mozilla projects (such as ```science.mozilla.org```) without issue (using NPM).

[2017-03-06 15:12] DorelBarbu commented on #1616
Hello. I like very much to teach people in general. This seems like a good bug to me. How do you suggest we proceed?

[2017-03-06 15:20] ryanwarsaw commented on #1526
@Pomax Are you okay with me re-opening this? It's definitely a race condition issue, not as much of an issue for those on strong & stable internet connections, but still an issue nonetheless.

[2017-03-06 15:53] Pomax commented on #1526
no, we decided to keep this closed during triage because the actual problem hasn't been experience in forever and so there is no reliable information on *what* part of it needs fixing to address user needs.

[2017-03-06 15:59] ryanwarsaw commented on #1526
@Pomax I was just able to replicate this exact issue, where I had paste a block of code into my Thimble project, then hit the reload key combo. The page refreshed and the changes disappeared.

[2017-03-06 16:02] DorelBarbu commented on #1100
Hello! I would like to work on this issue, please. Could you assign me?

[2017-03-06 16:06] humphd commented on #1100
@bkim49 are you still working on this?  If not, let's pass it over to @DorelBarbu.  Let us know, please.

[2017-03-06 16:07] humphd commented on #1526
@ryanwarsaw did you paste and hit refresh in less than 5 seconds?  We autosave to the browser 5s after you make a change.

The right fix for this is probably to hook into the events happening in https://github.com/mozilla/brackets/issues/607 for dirty/saved state changes.

[2017-03-06 16:14] humphd commented on #1707
@shubham0794x if you want to, sure.  The right way to do this is likely to make Thimble and all of its dependencies work using Docker.  I've seen some work happening on this elsewhere in https://github.com/mgebundy/docker-thimble-nouser, which you might use/contribute to, etc.

[2017-03-06 16:18] hkirat commented on #1693
Hey @flukeout
I like the idea of integrating VR to Thimble. I have a few ideas that I've summarized below.

1. Integrating the visual inspector into the editor.
Right now the editor interface is divided into two parts, one that contains the code, and the other one containing the output. Aframe-inspector (https://github.com/aframevr/aframe-inspector) is a tool to inspect your scene visually and mod

[2017-03-06 16:20] bkim49 commented on #1100
@DorelBarbu I am working on a different issue. Please work on this! Thank you

[2017-03-06 16:21] humphd commented on #1792
@shubham0794x if you want to, sure.  However, can I ask that you please take only 1 bug at a time, so that we don't block other contributors who also want to fix things?  We have many, many new contributors (like yourself) who are eager to get involved, and we want to try and include as many people as possible.

A related bug that I'd like to see fixed, either at the same time as this, or in addit

[2017-03-06 16:22] humphd commented on #1770
@pranay414 did you get your setup issues sorted out?

[2017-03-06 16:24] ryanwarsaw commented on #1526
@humphd Yeah, I demonstrated the issue here: https://cl.ly/1u411T0I3c2S.

@aayushsanghavi Had inquired about this issue earlier today, if he still wants to work on this I'll see if we can work together and knock this out, otherwise I'll bare responsibility and make sure this gets closed in a timely manner.

[2017-03-06 16:51] Rajat-dhyani commented on #1419
@Pomax @gideonthomas @humphd @flukeout  i have some quick questions...
1- Right now if i am signed in and i click on `your project` option i am redirected to `/projects` tab. So what i suppose you want right now is to have a hover over feature which just like the mockup shows list of recent project and a `view more` option. Right?
2- If no one is assigned to this i would love to work on this issue

[2017-03-06 16:56] shubham0794x commented on #1792
Okay Sir I would like to work on this issue only .

[2017-03-06 17:22] flukeout commented on #1760
Hey @sgupta7857 - sorry for the late response. Let's go with the three use cases you've described.

However, could you write it in such a way that makes it easy to disable or turn off case 2 & 3? I'm worried that it might be unexpected behaviour, so I'd like the option to test out how it feels when it's actually running with a few users.

[2017-03-06 17:24] flukeout commented on #1419
Hi @Rajat-dhyani that is correct. And yeah, you can go ahead and get started. I think we can limit the menu items to the last 5 projects that you were working on and put a "Recently Edited" heading on the menu. Once you get some of the code running, I can assist with design.

[2017-03-06 17:31] aayushsanghavi commented on #1636
@flukeout what is the status of this issue? If there hasn't been any progress I'd like to work on it.

[2017-03-06 17:41] aayushsanghavi commented on #1327
@flukeout I would like to work on this. How should I proceed with it?

[2017-03-06 17:41] humphd commented on #1636
@sgupta7857 can you let @aayushsanghavi know your status on this?  If you're not working on it still, let's hand it off.  Otherwise, please post a PR soon.  Thanks.

[2017-03-06 17:43] humphd commented on #1327
@aayushsanghavi whatever you end up working on, can I ask that you please just do one bug at a time?  We have a lot of new contributors who are looking for bugs, and we'd like to try and accommodate as many of them as possible. Thanks a lot for getting involved, and for helping us grow our community.

[2017-03-06 17:43] aayushsanghavi commented on #1526
@ryanwarsaw I would like that, we can work together on this one.

[2017-03-06 17:43] flukeout commented on #1636
@sgupta7857's PR is already filed in the Brackets repo: https://github.com/mozilla/brackets/pull/613

[2017-03-06 17:46] sgupta7857 commented on #1636
@aayushsanghavi @humphd I already have a Pull Request open.
I am just waiting for review check by @flukeout

[2017-03-06 17:47] aayushsanghavi commented on #1327
@flukeout sure! I just got a little excited when I was able to finally set up Thimble.
Yes definitely, I'll keep that in mind.

[2017-03-06 18:13] humphd commented on #686
I'm going to close this in favour of https://github.com/mozilla/brackets/issues/627 and moving the toolbar into Bramble.

[2017-03-06 18:13] #686 closed

[2017-03-06 18:26] pranay414 commented on #1770
@humphd Yes everything is fine now and I am working on it, thanks for all your help :)

[2017-03-06 18:33] lkisac opened #1814 "Uncaught TypeError: bramble.getAutoUpdate is not a function"
After pulling the latest upstream for brackets and thimble,

brackets:
<ul>
<li>git checkout master</li>
<li>git pull upstream master</li>
<li>npm install</li>
</ul>

thimble:
<ul>
<li>git checkout master</li>
<li>git pull upstream master</li>
<li>vagrant destroy</li>
<li>vagrant up</li>
</ul>

I'm getting "_Uncaught TypeError: bramble.getAutoUpdate is not a function_" in [bramble-ui-bridge.js](ht

[2017-03-06 18:37] #1811 closed

[2017-03-06 18:52] Pomax opened #1815 "Request: Ability to delete multiple projects at once"
taking inspiration from imgur and google's android client, it would be nice if there was a "batch delete" option, where clicking the "trash" icon marks an element as "to be deleted" with a new button "DELETE THIS" popping up at the top of the page, so you can click more trashcans and select more than 1 project to delete in the same batch, with the "are you sure?" dialog not popping up until you pr

[2017-03-06 19:08] lkisac commented on #1814
I ended the brackets session (Ctrl + C) and did `vagrant halt` in thimble repo, then ran `npm run build` in brackets and it looks to have built successfully.  After running `npm start` again, then `vagrant up` I still see the error.

After the brackets build, do I maybe have to do a `vagrant destroy` before running `vagrant up` in thimble?

[2017-03-06 19:11] aayushsanghavi commented on #1327
@humphd could you please tell me which components are dependent on jQuery and require changes?

[2017-03-06 19:12] humphd commented on #1814
Do you have your cache disabled in Dev Tools (Network tab on Chrome Dev Tools) and are you running with them open?  For sure the fix to this is to do what I said.

[2017-03-06 19:14] humphd commented on #1327
See my discussion above in https://github.com/mozilla/thimble.mozilla.org/issues/1327#issuecomment-274892908

[2017-03-06 19:35] hkirat commented on #1658
Hey
[Aframe-inspector](github.com/aframevr/aframe-inspector) has a tray similar to the one you explained.
It can be probably used here.
In fact, it also has a sidebar to modify properties of objects like translation, rotation etc.
Check [this](https://aframe.io/aframe-inspector/example/).

[2017-03-06 20:56] DorelBarbu commented on #1100
Great. @humphd , could you please assign me?

[2017-03-06 21:05] humphd commented on #1100
@DorelBarbu it's all yours, go for it.  Let us know if you have questions, or need help.

[2017-03-06 21:51] rkgupta21 commented on #1754
I could not reproduce this bug on the Google chrome and Mozilla firefox browser on my bootcamp. It only showed up for microsoft Edge.

[2017-03-06 21:54] Pomax opened #1817 "audit the thimble CSP"
https://observatory.mozilla.org/analyze.html?host=thimble.mozilla.org is dinging us 20 points for having a CSP that explicitly allows http resources on https...

It's been a while since we audited our CSP, let's do so now.

[2017-03-06 21:59] humphd commented on #1817
See also:
* https://github.com/mozilla/thimble.mozilla.org/issues/1792
* https://github.com/mozilla/thimble.mozilla.org/issues/1595

I also wonder why we have things like google docs in our CSP list, see https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/security.js

[2017-03-06 22:12] lkisac commented on #1814
Yes, cache was disabled.   I gave it some time and ran `vagrant up` again and it works now...   thanks @humphd

[2017-03-06 22:28] humphd commented on #1595
As discussed, I have a PR up to fix this in https://github.com/mozilla/thimble.mozilla.org/pull/1818

[2017-03-06 22:36] Shank09 opened #1819 "After merging local repo with upstream brackets"
I was working on the Upload Dialog, and noticed that the text for the Upload file dialog box was missing after merging from the upstream.

At first i thought it was my repo only, I spent a lot of time trying to reinstall everything and tried in different computer. Also tried to only clone Mozilla's repos to test it, and the result was the same.

<img width="612" alt="screen shot 2017-03-06 at 5 10

[2017-03-06 23:30] #1747 closed

[2017-03-06 23:47] Abykin commented on #1728
I've also had no success replicating this. Two-finger click and control+click both work fine.

[2017-03-07 00:12] #1780 closed

[2017-03-07 00:15] #1715 closed

[2017-03-07 00:38] humphd commented on #1819
The last error is ignorable, and is due to running in `src/` vs. `dist/`  The other one sounds like the localization stuff needs to run.  @gideonthomas ?

[2017-03-07 00:46] edyedy123 commented on #1758
hey here's my pull request:
https://github.com/mozilla/thimble.mozilla.org/pull/1820

[2017-03-07 01:38] twigz20 commented on #1630
So far here is an example of what I've accomplished.
@flukeout I figured out how to show different snippets depending on what type of file is open.
![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/10361408/23637925/863aa41c-02ac-11e7-9a8b-184b793d3d7a.gif)

@flukeout any luck in the design for the dropdown?

@gideonthomas @humphd I would like some code review. I feel as thoug

[2017-03-07 02:02] Rajat-dhyani commented on #1419
great... @flukeout i am taking this over and will revert back to you. Thanks :)

[2017-03-07 02:32] simonwex commented on #1646
👍 for "A good fix might be to not have Shift-Cmd become Shift-Cmd-[" as @humphd says.

[2017-03-07 02:33] raygervais commented on #1630
@twigz20, just a lurker atm because it was discussed earlier with @humphd and @flukeout the idea of integrating your snippets work into the space under the file tree.

Though the idea was shelved at the moment, instead serving a possible place for a console that is still being discussed, I wanted to say that seeing your snippets implementation so far is absolutely brilliant!

[2017-03-07 05:10] gideonthomas opened #1823 "Watch for l10n changes"
Let's automate builds for client code when changes to the l10n files (inside the `locales/en-US`) are made. I think it's as simple as watching the `en-US` directory for changes and then running `npm run localize`, `npm run localize-client` and `npm run restart-server`.

We can probably try to figure out optimizations (for e.g. running only one of `localize-client` or `restart-server` depending on

[2017-03-07 06:02] hkirat opened #1824 ""Add a file to your project" popup window overflows to the left side"
Hey

I came across this bug while working on thimble recently.
If we resize the left pane to make its width small enough on the editor page, the "add a file to your project popup window" popup window overflows to the left.

![screenshot from 2017-03-07 11-26-22](https://cloud.githubusercontent.com/assets/8079861/23643745/99270264-0329-11e7-880d-2a7d8a0f84de.png)

I would like to work on fixing thi

[2017-03-07 15:00] DorelBarbu commented on #1100
Thank you, @humphd !! I've started to explore a little and to work on it. I'll let you know if I need anything, and I'll also use the Thimble chat.

[2017-03-07 15:12] Lakshmikanth-mkce commented on #1647
@gideonthomas @flukeout I would like to work for this issue.

[2017-03-07 16:15] twigz20 commented on #1630
Thanks! @raygervais we should definitely talk about this and get me up to speed with what was discussed.

[2017-03-07 17:35] jgmac1106 commented on #1647
@Lakshmikanth-mkce Thanks for looking to volunteer on the help page. Currently we redid the Q+A items.

This issue might be on hold for a bit as we are waiting on some blockers and want to get a scope of what a help page could and should include.

We maybe organizing contributors in near future once this initial work is done and I can ping you then if still interested.

[2017-03-07 22:05] flukeout commented on #1665
Addressed in https://github.com/mozilla/thimble.mozilla.org/pull/1730

[2017-03-07 22:05] #1665 closed

[2017-03-07 22:11] flukeout commented on #1593
Hey @kyletower - really sorry for not getting back to you on this issue. Are you still experiencing it? If so, can you please pass along any additional information?

* Are there any errors in the browser console?
* Are yo using large images in the Projects?

Thanks!

[2017-03-07 22:15] flukeout commented on #1526
@ryanwarsaw Another option would be to intercept the Command/Ctrl + R key combo and handle that case. We could either...

* Reload the current Preview window
* Show a popup that says why we blocked the reload and allow the user to disable that behaviour

[2017-03-07 22:25] flukeout commented on #1824
All yours @hkirat - thank you for filing. Sounds good, go ahead - what's your general plan?

[2017-03-07 23:13] flukeout opened #1827 "Icons in footer are sitting slightly too high."
![image](https://cloud.githubusercontent.com/assets/25212/23682406/817e2330-0348-11e7-9de7-9a259ba253b9.png)

They need to be moved slightly lower so that they are better aligned with the action labels.

[2017-03-07 23:15] #1760 closed

[2017-03-07 23:15] flukeout commented on #1760
Fixed by @hkirat in https://github.com/mozilla/thimble.mozilla.org/pull/1809

[2017-03-08 02:24] omytryniuk opened #1829 "npm test for new deps failed because of "A constructor name should start with an uppercase letter""
I was trying to update node deps for the project and CI Travis shows me an [error](https://travis-ci.org/mozilla/thimble.mozilla.org/builds/208818821)

![screenshot 2017-03-07 17 55 13](https://cloud.githubusercontent.com/assets/13225708/23687422/63ef2862-037c-11e7-94f1-d74e08f00b93.jpg)

According to it, the next [function](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/lib/env

[2017-03-08 03:47] peiying16 commented on #1745
I give up this issue.

Here are some codes I added.
https://github.com/peiying16/brackets/tree/issue1745
https://github.com/peiying16/thimble.mozilla.org/tree/issue1745

I add a toggle under editor option. It determines if it will show image or the code.
The problem is that it only works after I refresh the page. If I don't refresh, when I click on the svg file, the editor doesn't show image or th

[2017-03-08 09:07] Lakshmikanth-mkce commented on #1827
I would like to work on this issue

[2017-03-08 11:22] hkirat commented on #1824
I can think of two possible methods of solving this issue

1. First one involves shifting the arrow of the popup to the left most corner. This would make the popup right oriented and hence it will begin where the "add a file to your project" button starts.
Something like this
![screenshot from 2017-03-08 15-51-08](https://cloud.githubusercontent.com/assets/8079861/23700118/e9029174-0417-11e7-8d14-

[2017-03-08 11:44] hkirat commented on #1827
Hey
This seems like an interesting bug
Check this
![screenshot from 2017-03-08 17-11-02](https://cloud.githubusercontent.com/assets/8079861/23702695/5c2567b2-0422-11e7-90d2-372650a23187.png)

At first I thought something was wrong in the allignment of the svg file. So I replaced all the icons with one.
Turns out thats not the issue. The first three appear in the same line and the fourth and the fi

[2017-03-08 14:30] kyletower commented on #1593
Hi @flukeout
I'm not sure if it's still an issue. I stopped using Thimble because it was happening so often. We transitioned to Cloud 9 for a cloud based web developer and have had success with that. I can look more in to Thimble to see if I experience the same issue. I would like to return to Thimble for next school year due to the projects, templates, and ability to remix.

Some students were us

[2017-03-08 15:18] humphd commented on #1593
Thanks for the update, @kyletower, and sorry that this caused you to switch away.  If you do decide to try going back to Thimble, let's work together to try and figure out what you were hitting and prevent it going forward.

It would be interesting, too, to hear your thoughts on what Cloud 9 does well that we could also do.  We're serving very different types of users, and the fact that you've had