[2016-11-03 14:20] jgmac1106 commented on #1574
Okay closing this.

[2016-11-03 14:20] #1574 closed

[2016-11-03 15:17] humphd commented on #1574
Thanks @cadecairos

[2016-11-03 16:34] gideonthomas commented on #1311
@Dhanesh95 sorry to hear that :( we're going to try to investigate what happened. Until then, if you need anything else from us to recover your project contents or add something to your project, feel free to let us know.

@humphd If you look at the log posted above, on line 212 you can see a localstorage error Any idea why that might happen on drag and drop?

[2016-11-03 17:11] flukeout opened #1575 "Hitting "command" key while editing de-indents current line."
**Steps to reproduce**

* On a mac, in Chrome, hit tab while editing a line
* The line you are one becomes de-indented one tab to the left

![thimble-command-tab](https://cloud.githubusercontent.com/assets/25212/19976638/cade96f6-a1ad-11e6-8709-207f0d4eae79.gif)

[2016-11-03 17:56] flukeout opened #1576 "Image problems when remixing a project"
I've created a project, it is "published" and up to date:

* Editor - https://thimble.mozilla.org/en-US/user/flukeout/583154
* Published - https://thimbleprojects.org/flukeout/126424/

It contains two images
* whoa.gif
* whoa copy.gif

![image](https://cloud.githubusercontent.com/assets/25212/19978403/0e81940c-a1b4-11e6-8a39-d351dcd608ea.png)

When I remix it, only whoa.gif is there "whoa copy.gif

[2016-11-03 17:57] flukeout commented on #1576
Subsequently, I've removed both
* whoa.gif
* whoa copy.gif

and "updated" the published version. When I remix it now, the Remix still contains ``whoa.gif``

cc @gideonthomas

[2016-11-03 18:02] flukeout commented on #1576
Was just following up from the problems we had during mozfest, seems like we are doing some strange things with images. Maybe they are not really being deleted, or somehow phantom-preserved and they come back during a remix?

[2016-11-03 18:10] Dhanesh95 commented on #1311
@gideonthomas Thanks a lot for your help.  I'll definitely let you guys know if there is anything I'll need.  Thanks again.

[2016-11-03 18:17] flukeout commented on #1569
@gideonthomas is the solution you came up with fleshed out in more detail in another issue somewhere? If not, we can start that work here.

[2016-11-03 18:25] gideonthomas commented on #1569
What I mentioned above is basically what we discussed in the call. I don't think we specced out UI details for it so it would be good to start that here.

[2016-11-03 18:27] gideonthomas commented on #1576
@flukeout can you confirm that this is not an issue if the filename contains no spaces? I think I remember there being a problem with filenames with spaces in them but I thought we fixed that so maybe this could be a regression.

[2016-11-03 18:28] gideonthomas commented on #1575
Dupe of https://github.com/mozilla/thimble.mozilla.org/issues/1572

[2016-11-03 18:28] #1575 closed

[2016-11-03 18:41] flukeout commented on #1569
Can you weigh in on solution #1260 - it's suggested by your 'additional step' as well. If we are able to just do this - we won't have to worry about adding anything to the dialog.

I'll work on some publish dialog ideas in the meantime. Maybe we could just prevent publishing without a root 'index.html` file - or maybe we make it non-deletable?

[2016-11-03 18:42] flukeout commented on #1576
I renamed the file to whoa-copy.gif during that process and the error persisted. I'll try again from scratch but I'll make sure there are no spaces.

[2016-11-03 18:45] flukeout commented on #1571
We could solve this and similar use-cases by providing a bunch of remixable templates. Not sure where we'd put them though - need to work on the discoverability piece on the homepage.

[2016-11-03 19:04] humphd commented on #1569
FWIW, I'm currently working on a patch to Brackets to have it monitor renames/deletes of `index.html` and let the user know so that they can undo it, add one, or just be aware when they load it.

[2016-11-03 19:09] humphd commented on #1571
I agree that the best way to do this is at the project level vs. the file level, namely, having pre-made projects that people can remix.

I think that our homepage could really use a refresh to include some new templates.  But, even if we don't want to totally redo this, it might be nice just to have a `Click Here for More Remixable Projects...` link that takes you to a big page of projects with t

[2016-11-03 19:19] jgmac1106 commented on #1571
+1 to this idea.

On Thu, Nov 3, 2016 at 3:09 PM David Humphrey <notifications@github.com>
wrote:

[2016-11-03 19:21] gideonthomas commented on #1571
I think we should discuss this further. I actually don't think it's a good idea to only have remixable templates containing these libraries for two main reasons:

1. I can't think of any other product that does it in that manner. Since other products like JSFiddle, CodePen, etc. do it on a per project basis, allowing the user to choose which libraries to include, I don't think it makes sense to sh

[2016-11-03 19:26] humphd commented on #1571
@gideonthomas I think that trying to do what JSFiddle, CodePen, etc. do is not our job--they already do it, and do it well.  We should do what we do well, which is allowing filesystems full of files *and* folders to be used for projects.  They have to do hacks to include library X in the environment because they have no easy way to literally include the file along with your code.

As far as trying

[2016-11-03 19:52] gideonthomas commented on #1571
I don't think we need to confine ourselves with the same UX as JSFiddle or CodePen which as you mentioned is ideal for their use case. It would take some thinking into how to integrate these different libraries into a project in a way that effectively utilizes our filesystem infrastructure and basically all the differentiators that we have w.r.t. CopePen, JSFiddle, etc.

But the underlying problem

[2016-11-03 19:54] flukeout commented on #1576
So, it looks like, if...

* You publish a project with an image (or maybe other file)
* Delete that file
* Update the publish project
* Remix the published project
* **The file is back!**

File system of my original source project
![image](https://cloud.githubusercontent.com/assets/25212/19982755/95c0351c-a1c4-11e6-8efa-f5978ad6ad98.png)

File system of the remix
![image](https://cloud.githubuserc

[2016-11-03 19:57] flukeout commented on #1576
This second issue seems unrelated to the image that has a space in the filename problem.

[2016-11-03 21:39] cfmonk commented on #1574
Thanks all!

[2016-11-04 03:12] lkeneco opened #1577 "Back-to-school postcard mobile display"
The back-to-school post card does not display properly in mobile mode. It would be useful for learners if the tutorial added guidance on some basic steps (responsive design) to make the postcard look good for web or mobile.

Thanks

[2016-11-04 10:45] jgmac1106 commented on #1571
This is how I learned bootstrap (my first real library I used) a year or so ago. I googled one page website template and found: https://startbootstrap.com/template-categories/one-page/

I then downloaded the zip files. I could not use Thimble for the project so I just used a regular text editor.

From there it was just a series of lessons from Google "How do I use accordion tables in bootstrap? ho

[2016-11-04 10:45] jgmac1106 commented on #1571
This is how I learned bootstrap (my first real library I used) a year or so ago. I googled one page website template and found: https://startbootstrap.com/template-categories/one-page/

I then downloaded the zip files. I could not use Thimble for the project so I just used a regular text editor.

From there it was just a series of lessons from Google "How do I use accordion tables in bootstrap? ho

[2016-11-04 10:45] jgmac1106 commented on #1571
This is how I learned bootstrap (my first real library I used) a year or so ago. I googled one page website template and found: https://startbootstrap.com/template-categories/one-page/

I then downloaded the zip files. I could not use Thimble for the project so I just used a regular text editor.

From there it was just a series of lessons from Google "How do I use accordion tables in bootstrap? ho

[2016-11-04 10:45] jgmac1106 commented on #1571
This is how I learned bootstrap (my first real library I used) a year or so ago. I googled one page website template and found: https://startbootstrap.com/template-categories/one-page/

I then downloaded the zip files. I could not use Thimble for the project so I just used a regular text editor.

From there it was just a series of lessons from Google "How do I use accordion tables in bootstrap? ho

[2016-11-04 15:58] gideonthomas commented on #1577
@flukeout any insights into this?

[2016-11-05 18:45] Pomax commented on #1571
@humphd hmm, but one of the great things about a good IDE is being able to say "yeah actually I need this dependency" and have it go and grab that for you without having to interrupt your workflow. At the very least some way to say "hey add this *from URL* please" so that you can just give Thimble the url for bootstrap's release archive (we can unpack `.tar.gz`, right?) makes things much nicer tha

[2016-11-06 16:08] gideonthomas opened #1578 ""Back to School Postcard" tutorial line numbers need to be updated"
There are a bunch of line number errors in the tutorial for the Back to School Postcard starter project that need to be fixed.

So far here's what I found:
- The first step says `Go to line 245`; it should be line 242
- The second step says `Go to line 139`; it should be 138
- The third step says `Go to line 261`; it should be 254
- The fourth step says `Go to line 54`; it should be 51

I don't kn

[2016-11-06 16:26] gideonthomas opened #1579 "Stabilize Thimble for scalability"
At this point, we have a lot of projects stored in Thimble and we aren't able to scale well to support the incoming projects.

In this issue we probably want to focus on using S3 to store project file contents instead of the database. Specific issue for that is [here](https://github.com/mozilla/publish.webmaker.org/issues/233). This will mitigate the data storage issues in our database and will pr

[2016-11-06 16:39] gideonthomas commented on #1480
This has been merged in with ef12c7b680292e542acad8d5584cabc4e8ff97cf, thanks @Joe-Para

[2016-11-06 16:45] #1480 closed

[2016-11-06 16:45] gideonthomas commented on #1352
Related issue: https://github.com/mozilla/thimble.mozilla.org/issues/1325

[2016-11-06 16:45] gideonthomas commented on #1325
Moving discussion to #1352

[2016-11-06 16:45] #1325 closed

[2016-11-06 17:07] #1231 closed

[2016-11-06 17:08] gideonthomas commented on #1231
Moved to #1352

[2016-11-06 17:10] gideonthomas commented on #1172
Discussion moved to https://github.com/mozilla/thimble.mozilla.org/issues/1546

[2016-11-06 17:10] #1172 closed

[2016-11-06 17:18] gideonthomas commented on #730
Discussion moved to https://github.com/mozilla/thimble.mozilla.org/issues/1516

[2016-11-06 17:18] #730 closed

[2016-11-06 17:20] gideonthomas commented on #1531
Related: https://github.com/mozilla/thimble.mozilla.org/issues/485

[2016-11-06 17:20] gideonthomas commented on #485
Moving this discussion to #1531

[2016-11-06 17:20] #485 closed

[2016-11-07 10:40] chadsansing commented on #1578
I think @hannahkane moved these over from my account to mozillalearning - is that correct? Can you update the tutorial, Hannah?

[2016-11-07 16:45] gideonthomas commented on #1569
@flukeout we should probably still put something in the Publish dialog because it is not obvious that the `index.html` file was generated. It could lead users to think that such a file will always be generated and is not a Thimble specific thing. Removing it from the Publish dialog will take out the educational aspect of it which I think should be our focus in this issue (with the directory struct

[2016-11-07 17:09] flukeout commented on #1577
I'll check into it.

[2016-11-07 19:09] humphd commented on #1569
The Bramble bit of this is up for review in https://github.com/mozilla/brackets/pull/564

[2016-11-07 19:19] humphd commented on #1260
I'm ready to start on this bit, and have a question.  We have no good way to flag a file as generated vs. user created, especially across remixes.  At the point of publishing, I can look for `{root-dir}/index.html` and if it's missing, automatically generate something like you have above.  However, this file will be static, and if the user (or the remix user) doesn't touch it, but other aspects of

[2016-11-07 19:20] humphd commented on #1260
Sorry, I didn't realize this was closed.  I'll move the comment over to the other bug.

[2016-11-07 19:20] humphd commented on #1569
I want to start on the Thimble side of this too, which means dealing with what happens when you publish.  I have a question.  We have no good way to flag a file as generated vs. user created, especially across remixes.  At the point of publishing, I can look for `{root-dir}/index.html` and if it's missing, automatically generate something like you have above.  However, this file will be static, an

[2016-11-07 19:26] humphd commented on #1579
Why don't we just rewrite the Publish server to sit on top of  S3 vs. the current DB, and not change any of the interfaces?  I think we just need 2 buckets, one web accessible (published stuff, which we have now), and a new one that's private and just owned by the publish server.  I think client apps (Thimble, X-Ray Goggles) should remain unaware of this change on the backend.

As far as migration

[2016-11-07 19:36] flukeout commented on #1569
@humphd I like your first bullet point suggestion - generating an index.html page with some generic copy that won't go out of date if the project contents change. I figure the first person to see that will be the project author right after publishing anyway, which will hopefully encourage them to act on the issue.

[2016-11-07 19:39] humphd commented on #1569
@flukeout I agree, that feels the most resiliant to remixing, and also the simplest.  Would you be willing to do some kind of good looking static page for me?  I can wire it in so that it gets added and synced up.

[2016-11-07 19:41] flukeout commented on #1569
Will do. I'll probably make a Thimble project and drop the link in here.

[2016-11-07 19:42] humphd commented on #1569
Awesome thanks! Also, you're so meta! @flukeout++

[2016-11-07 20:27] flukeout commented on #1569
Just to clarify, are we adding this index.html file to just the published project, or also into the working, editable copy of the project?

[2016-11-07 21:27] gideonthomas commented on #1569
Doing it on the published project might make more sense. @humphd since Thimble is aware of whether the index.html needs to be created or not, we can probably pass in a query param when publishing to the publish server to indicate that publish needs to create the index.html file before uploading to S3

[2016-11-07 21:30] flukeout commented on #1569
Yeah that sounds good, I'll assume that for the time being in the copy of that generated page, which I'll paste a mockup of shortly.

[2016-11-07 21:49] flukeout commented on #1569
Here's my take on this page, let me know your thoughts.

![image](https://cloud.githubusercontent.com/assets/25212/20077383/fdb8017a-a4f0-11e6-859c-823aa71478ca.png)

[2016-11-07 22:11] flukeout commented on #1577
In addition to the styling issue (the postcard format is too wide for a narrow viewport) the card only flips when you hover your mouse over it, which isn't possible on a mobile device. I'll see if there is an easy fix (like adding a flip button for narrower viewports).

[2016-11-07 22:22] gideonthomas commented on #1569
@flukeout this page looks great (you did this in half a day? 😮 )!

Can we change some of the terminology in the copy? I remember a bunch of kids not knowing what a "server" was in a session I was hosting in Toronto. Any way we can make it a little more vague or explain what a server is? Also, "404" often doesn't mean anything to most users, maybe change it to something like "you will see an error

[2016-11-07 22:24] flukeout commented on #1569
Haha thanks. I'll take another stab at it with some more approachable copy and post and update here in a bit.

[2016-11-07 23:16] humphd commented on #1569
I like this a lot, @flukeout .  I also like the idea of sending a param to publish indicating that it should add the page to S3, but not include it in the project--nice idea @gideonthomas.

I'm happy to do the Thimble-side changes of this, but maybe @gideonthomas could take the publish patch?  I'm less well acquainted with that code.

[2016-11-07 23:46] flukeout commented on #1577
@lkeneco I created an updated version that handles mobile styling a little better, could you take it for a spin (ha ha)?

* https://thimbleprojects.org/flukeout/128667/

Tap it to flip, tap the yellow background to flip back. Let me know!

cc @chadsansing

[2016-11-08 00:17] flukeout commented on #1569
@gideonthomas I can't find it but I thought we had a ticket for adding a message to the Publish dialog for index-less projects. Anyway, I came up with a little mockup

![image](https://cloud.githubusercontent.com/assets/25212/20081596/6e282e9e-a505-11e6-8def-b40d1dd1cccc.png)

I guess it could be yet another line of defense, haha.

Wether we decide to implement this as well, we need to make sure t

[2016-11-08 00:25] flukeout commented on #1569
And updated copy for the generated ``index.html``

![image](https://cloud.githubusercontent.com/assets/25212/20081811/b5ab5a38-a506-11e6-9777-3ac19a4d6322.png)

[2016-11-08 00:34] flukeout commented on #1572
Can we escalate this? I tried to do some work today on the Back to School postcard and this was infuriating (and also leads to terribly indented code unless you have extreme patience).

@Pomax Do you run windows still? Can you check this and see if it happens with the control key by chance?

[2016-11-08 00:35] gideonthomas commented on #1569
@flukeout both these mockups look great! I vote for doing both.

@humphd sure thing! Let me know if you need any help with it. I'll implement the publish part.

[2016-11-08 00:37] gideonthomas commented on #1572
@flukeout I tried this on Windows, it doesn't happen on Ctrl. Yeah lol I was having a hard time creating projects. I'll try to work on this tomorrow.

[2016-11-08 16:24] humphd commented on #1572
I dug into this, and it's (maybe) not a bug or a new regression--I tried bisecting and it goes back forever.  Apparently Brackets is configured to map `CMD+[` to `indent` and `CMD+]` to `unindent` (it uses `CTRL` vs. `CMD` on Windows/Linux for this same function).  This is a keybinding that comes from https://github.com/codemirror/CodeMirror/blob/06431f4d7eb24b0945bc7bb0b775a4f644766c64/CHANGELOG.

[2016-11-08 17:49] flukeout commented on #1572
Thanks for looking into this. I'd say in the short term we nuke those bindings. I'm really disliking using the editor right now. In my day-to-day editor I actually use the ``Command+[/]`` combo, but not sure how common that is.

So for this thing here...

[code]

...is there another spot that triggers it from just the Command / Control key?

[2016-11-08 18:04] flukeout commented on #1572
I [found this](https://github.com/adobe/brackets/search?utf8=%E2%9C%93&q=_macReservedShortcuts&type=Code )

[code]

It's the only reference to a Cmd key without any additional keypresses, so I wonder if the ``Cmd-`` part is somehow causing something to misfire. I'll try it out once I get my dev env set up.

[2016-11-08 18:08] humphd commented on #1572
As I mentioned above, the issue seems to be the fact that it auto-selects the element name, and then CMD becomes CMD+[.  I think this happens deep in CodeMirror.

I'll do a patch to remove those two keybindings in Brackets.

[2016-11-08 18:09] gideonthomas commented on #1572
@humphd any chance that it's easy to change to `Shift+Tab` and `Tab`?

[2016-11-08 18:10] lkeneco commented on #1577
Hi,

I did see your updated version, played with it briefly and it was looking good. Thanks! Now it seems to have reverted back to the previous version. What happened? This happened on the main thimble page and not in my own account because I'm also having login issues and waiting for a password reset email that hasn't shown up yet.

[2016-11-08 18:12] humphd commented on #1572
@gideonthomas what are you asking for exactly?  You can see the default CodeMirror bindings here: https://codemirror.net/doc/manual.html#keymaps and if you search for Tab and Shift-Tab, you'll see what it does by default.  Yes, we can override this stuff to a point.

Please put all your hopes and dreams for keybindings into a comment here, and I'll do it in one patch.

[2016-11-08 18:16] gideonthomas commented on #1577
Hi @Ikeneco we haven't updated it on the main Thimble page yet so you will still see the old version there.
If you like the version that @flukeout has provided with the link above, we can update it on the main page as well. @flukeout can you follow up with @chadsansing and @hannahkane about migrating it to the mozillalearning account?

@Ikeneco I'm going to loop in @cadecairos to see if he is able

[2016-11-08 18:21] lkeneco commented on #1577
Hi Gideon:

Thanks for your help. I'll check back later.

[2016-11-08 18:23] gideonthomas commented on #1572
Ah sorry, nvm, it already does what I want. @humphd yeah, just removing those keybindings in Brackets should be enough.

[2016-11-08 18:33] flukeout commented on #1569
Maybe we can ditch the description field in the dialog while we're at it :D

[2016-11-08 18:34] gideonthomas commented on #1569
@flukeout do you think we will be adding it back when we implement the gallery though?

[2016-11-08 18:40] flukeout commented on #1569
I'd imagine so yes, we can just comment it out for now. It's lame having it there without any real use. It doesn't even serve as a good internal reminder for the author because it only lives on published projects.

[2016-11-08 18:41] humphd commented on #1569
Amen to dropping that desc field.

[2016-11-08 20:53] cadecairos commented on #1577
@lkeneco I just fixed an issue that was holding up email delivery for password resets. You may recieve an email for your last reset request, but it might have expired by now. Please try asking for another reset email, and let me know if it comes through for you.

[2016-11-08 22:07] flukeout opened #1581 "Shift command does unexpected file view change."
Shift + RightCommand / LeftCommand navigates up and down the file tree. I also use it to select text in the editor (combined with arrow keys), so the change is very jarring and unwanted. Anyone else experience this?

[2016-11-08 22:13] humphd commented on #1581
You use Shift + Command to select text in the editor?  Why not shift + arrow keys?

[2016-11-08 22:14] flukeout commented on #1581
Shift + Arrow + Command selects the entire row after or before your cursor, and I use that a lot.

[2016-11-08 22:42] flukeout commented on #1569
Okay, @humphd - here's the index page: https://thimbleprojects.org/flukeout/129439/
Let me know if you run into any problems or issues.

[2016-11-09 19:51] #1564 closed

[2016-11-09 19:51] #1572 closed

[2016-11-14 17:21] flukeout commented on #1577
@chadsansing are you in control / owner of the Postcard project linked from the Thimble homepage?

If so, could you please test out this version - https://thimbleprojects.org/flukeout/128667/ - and if you're happy with it, update the existing code to match this one? Cheers!

[2016-11-14 17:22] flukeout commented on #1569
Ping @humphd @gideonthomas - just checking in that you've got what you need for this. Let me know.

[2016-11-14 17:29] chadsansing commented on #1577
I am not - I believe @hannahkane or whoever has access to /projects/ might be?

[2016-11-14 18:24] hannahkane commented on #1577
@flukeout - is there a tutorial in your version? I'm getting an error when I click on the tutorial.html file. "An error occurred when trying to open the file. The file could not be found."

Should I use the existing tutorial, and just edit the index file?

[2016-11-14 18:30] flukeout commented on #1577
You don't see a tutorial file in the project after remixing?

[2016-11-14 18:37] hannahkane commented on #1577
Hmm...this time I do. Sorry about that. Will update the code on the MozillaLearning-authored project now.

[2016-11-14 19:19] flukeout commented on #1577
@hannahkane ok - it's ready to go. Please update both the ``index`` and ``tutorial`` files, as I've had to change update the line number references in the tutorial.

[2016-11-14 19:19] Pomax commented on #1579
+1 on leaving the API itself alone: clients should not need to be aware of how the data is stored, that's an implementation detail.

[2016-11-14 19:33] hannahkane commented on #1577
OK, done. Thanks for filing, @lkeneco!

[2016-11-14 19:33] #1577 closed

[2016-11-14 19:36] humphd commented on #1569
@gideonthomas said he was going to do this at the publish server, so bouncing this to him to implement.

[2016-11-14 19:47] gideonthomas commented on #1569
Yep sorry, that page should be fine.

[2016-11-14 19:49] gideonthomas commented on #1579
@cadecairos ping again, re: this

[2016-11-14 20:30] cadecairos commented on #1579
I'm 100% behind getting actual project data out of the database.

I think using two buckets makes sense, And I think if we can leverage signed upload URLs wisely we can take a lot of the load off of our servers when saving/publishing files.

[2016-11-14 20:34] gideonthomas commented on #1579
@cadecairos so that would imply that clients would need to work with S3 urls vs. going through publish right?

[2016-11-14 21:25] gideonthomas opened #1582 "Remove bower as a dependency"
It's becoming problematic and isn't really needed in this project. Lets' move them to npm packages

[2016-11-14 21:26] gideonthomas commented on #1578
@flukeout this has been fixed in your patch right? If so, we can close this.

[2016-11-14 21:35] flukeout commented on #1578
Yeah, closing

[2016-11-14 21:35] #1578 closed

[2016-11-14 21:42] humphd commented on #1579
I don't think clients should talk to s3 directly, let Publish abstract this away.

[2016-11-14 22:08] cadecairos commented on #1579
We could meet in the middle and upload from the thimble server, and only send the URL to publish.

[2016-11-15 02:00] NetherDragons opened #1583 "Addition of PHP support"
I think PHP should be implimented as alot of projects could be taught like login verification, etc.

[2016-11-15 18:37] mrcallaghan opened #1584 "Users unable to login"
Most of my web design class was unable to login to Thimble when class just started (12:30pm CST).  After clicking "login" at the Mozilla Webmaker login screen, nothing happens.

[2016-11-15 18:40] mrcallaghan commented on #1584
Temp issue.  Resolved itself.

[2016-11-15 18:40] #1584 closed

[2016-11-15 19:51] flukeout commented on #1569
On an unrelated note this always trip me up when i'm looking at my tabs...

![image](https://cloud.githubusercontent.com/assets/25212/20321305/d434fe18-ab29-11e6-9dca-210de3cf8b77.png)

[2016-11-17 13:45] cadecairos commented on #1579
The main reason I feel like we should have the client uploading to S3 (using signed urls) is because it will eliminate the bottleneck that both @gideonthomas and I believe will still remain, even if we stop writing directly to the PostgreSQL database.

I worry that if we do any streaming of files to s3 through a server we'll still suffer massively when any amount of saving/loading is done through

[2016-11-17 15:27] humphd commented on #1579
Makes sense.  So you'd only use "publish" to edit/remix a tarball of a project?  If so, it's not really "publish" anymore, just a tarball generator.  You could even decide to have the client generate these and publish them along with the content.

[2016-11-17 15:49] cadecairos commented on #1579
That's an interesting point, if we can generate/unpack tarballs clientside, could we do away with the publish server altogether and connect thimble directly to the project database?

[2016-11-17 17:16] humphd commented on #1579
The client already unpacks the tarball into the filesystem when you open/remix a project, so that bit is done.  I'm not sure what the right approach is to solve your bottleneck, but let me explain why we did what we did.

We chose to use tarballs in the first place because projects are comprised of many files and folders, and we didn't want to slow down startup by having the client have to make 1-

[2016-11-17 17:55] cadecairos commented on #1579
Gotcha. It sounds like if we did use signed upload urls when saving, we'd need to ditch tarballs entirely. I won't try to guess the impact that would have on the client though.. I wonder how much effort would be needed for a rapid prototype of this feature.

It seems like cloudfront supports HTTP2 and URL signing, so if we sit a distribution (with caching disabled)  between the client and S3, we c

[2016-11-17 19:10] humphd commented on #1579
It wouldn't be a massive rewrite, I don't think.  How would you do local dev?

[2016-11-22 00:27] FERMAT1991 opened #1585 "Add Emmet to editor that will help for faster typing"

[2016-11-22 00:32] humphd commented on #1585
@FERMAT1991 we have hacked Brackets, yes, and the code lives here: https://github.com/mozilla/brackets.  I've written about how we do everything here: http://blog.humphd.org/thimble-and-bramble/

[2016-11-23 00:16] humphd commented on #1579
Another thing I realize this would require: metadata about which files and folders (i.e., s3 keys) are actually included in the project.  You could have some kind of manifest file that gets included with each project, and could remain hidden from the user.  As files get added/removed/renamed, it would also need to be updated, though.  This adds some complexity.

[2016-11-27 22:19] benabraham opened #1588 "Code beautifier"
Begginer coders using Thimble don't often have the skills to keep the code properly indented and generally well formatted. Such code is hard to read and debug and it makes learning much harder for them.

It would be great if [Brackets Beautify](https://github.com/brackets-beautify/brackets-beautify) plugin or directly [js-beautify](https://github.com/beautify-web/js-beautify) were integrated to Th

[2016-11-28 14:32] humphd commented on #1588
I agree with you, and I like this idea a lot.  When we first shipped, I had the same intention, namely, to have beautifying be a feature we included.  I also added https://github.com/ahuth/brackets-paste-and-indent as a default extension, so that pasted code would match surrounding code indenting, and not leave new devs in a mess.

Adding this now is certainly possible.  I have a few concerns we'd

[2016-11-28 18:22] benabraham commented on #1588
You listed them probably all, except adding a button left of the undo and redo buttons, but that seems to be too much prominent space for such function.

Automatic is out of question, even if as option with default _off_ it would definitely confuse most users.

The best seems to add it to right-click context menu and a keyboard shortcut (if possible).

[2016-11-29 03:01] bleungwpg opened #1589 "Cannot load sound files from p5js"
https://thimbleprojects.org/benleung80/140868

I have a published thimble project above.  I am using p5js in order to load sounds.  The project works fine if I run it locally on my computer.  However when I try to run it on thimble the project fails. I have also tried to run the file off the thimble server rather than hosting it through github but it still fails.

The problem does not appear to be

[2016-11-29 03:10] bleungwpg commented on #1589
The sound file works only when it is published but not when I try it locally.

[2016-11-29 03:11] bleungwpg commented on #1589
locally as in on my thimble account under preview

[2016-11-29 03:22] humphd commented on #1589
This is related to https://github.com/mozilla/brackets/issues/549.  Basically, any URL you work with in JS will break in Thimble at the moment, because we can't properly intercept it and rewrite it into a Blob URL.  The way to solve this is to switch to using Service Workers for our network layer.  It's something I've started on, but it's not close to being done, unfortunately.

[2016-11-29 03:22] humphd commented on #1589
See also #1322.

[2016-11-29 03:52] bleungwpg commented on #1589
Awesome, glad to hear!

[2016-11-29 03:52] #1589 closed

[2016-11-30 18:04] flukeout opened #1590 "One specific project not loading for user"
Project is ``https://thimble.mozilla.org/en-US/user/egmun/619155``

According to the user, only this project won't load for them, while others do. Has tried different browser and is not in Private mode.

@gideonthomas Can you check into the DB to see if there is anything special about this project?

Received via email from Gustav.

[2016-12-01 17:10] flukeout commented on #1590
@gideonthomas here's the pasted log, is it indicative of any kind of known issue?

[code]

[2016-12-01 21:18] gideonthomas commented on #1590
There's something special about this project that is preventing it from being loaded (I'm not able to load it either) so I'm gonna try to debug this today and will post my findings (and a recovery solution) soon.

[2016-12-01 22:10] flukeout commented on #1590
We were able to extract this project from the DB and email a zip archive for the user. The problem seemed to lie in a non-english character (like ä) in either the project title or description.

Will file separate issue to investigate non-english chars.

[2016-12-01 22:10] #1590 closed

[2016-12-01 22:11] flukeout opened #1591 "Investigate: do non-english characters in the project title and/or description prevent it from loading?"
We had an issue recently where we suspect that a non-english character (like ä) caused Thimble to not be able to load a saved project for a user.

@gideonthomas do you want to add any details?

I'll test with a few different chars and see what happens.

[2016-12-02 03:08] humphd commented on #1591
Not sure if this is related at all, but I remember we hit something like this with MySQL and Popcorn Maker long ago related to encoding of strings.  @jbuck, @Pomax, @cadecairos, @ScottDowne  might remember details.

[2016-12-02 07:31] jbuck commented on #1591
What text encoding is the database using? The specific problem we ran into with Popcorn Maker was that we were using String.prototype.length() to count Content-Length instead of Buffer.prototype.length() when uploading text containing multi-byte UTF-8 characters.

[2016-12-03 20:40] gideonthomas commented on #1591
To clarify, this is purely happening on the front-end. On first load, the data makes it to publish.wm.org fine. On the front-end, I don't think I saw any pending network requests which probably means that the tarball is making it across fine. So the issue is most likely either when we're untarring the contents or when writing to the filesystem which is Filer backed by IndexedDB. We are always work

[2016-12-07 02:10] V1ncenz0 opened #1592 "publishing problem"
Hello thimble, I have a problem with my new project. I can see it in the demo but when it try to publish it and I click on the link. It redirect to page saying oh no. Can you help me please.

Swk

[2016-12-07 09:14] gideonthomas commented on #1592
Hi @V1ncenz0!

In your project, did you happen to rename or delete your `index.html` file? Whenever you head to a url like `https://mozilla.org`, browsers will show you the contents of `https://mozilla.org/index.html`. A missing `index.html` file will result in you seeing the "Not Found" page. If you adda new `index.html` file OR rename one of your existing html files to `index.html` (right-click

[2016-12-07 10:01] gideonthomas commented on #1588
I'm sorry for the delay in responding. I skimmed the contents of this thread but will definitely come back to add some thoughts about this soon.

Assigning myself so that I don't forget to follow up in this issue.

[2016-12-07 15:01] kyletower opened #1593 "Saving Failed... Publishing Failed... Retrying"
My students and I frequently get **Saving/Publishing Failed... Retrying**. Upon refreshing the page sometimes code is lost. Is there a fix for this? I had this issue last year and assumed it may have been the school's Internet connection. This year I'm at another school and I'm experiencing the same issue so I'm beginning to think it may have more to do with Thimble.

[2016-12-09 20:05] V1ncenz0 commented on #1592
Hi,
It Washington actually the problem thank you for the advice.

Vincent D.

[2016-12-11 00:50] V1ncenz0 opened #1594 "CSS problem"
Hello, I just wanna say that there is an issue with the style.css. Sometimes, when I am working on my project, all my CSS content disappear. Is it an issue or is it just me?

[2016-12-15 21:11] gideonthomas opened #1595 "Unable to export zip"
We got an email about a user being unable to export the project as a zip on Firefox on Linux and Windows. They are able to export on Chrome though.

Will provide more details once they are available.

@humphd any first guesses as to why this might be happening?

[2016-12-15 21:20] humphd commented on #1595
It looks like a CSP issue:

[code]

I'm not sure what we're doing that it doesn't like about this.  Maybe that the download Blob is coming from inside the iframe on a different domain?

[2016-12-15 21:20] gideonthomas commented on #1595
Wait, you're able to reproduce this?

[2016-12-15 21:24] humphd commented on #1595
Yes, I'm using FF (Developer Edition) on Mac and it fails with that CSP thing thrown to the console.

[2016-12-15 21:29] humphd commented on #1595
I wonder if we need to add `blob:` to the permitted `*-src` values for our CSP.  I see people doing this for images elsewhere.

[2016-12-15 21:31] humphd commented on #1595
For example:

[code]

from https://hacks.mozilla.org/2016/02/implementing-content-security-policy/

[2016-12-15 21:31] gideonthomas commented on #1595
Yeah I'm pretty sure that is the issue. The download is initiated by Brackets not Thimble and CSP doesn't allow blob protocolled domains

[2016-12-15 21:33] gideonthomas commented on #1595
I wonder if there are any security concerns for this since it will be user-generated content.

[2016-12-15 21:37] humphd commented on #1595
No, because it's not being executed.  I think we should just add `blob:`.

[2016-12-15 22:37] cadecairos commented on #1595
I think it's alright

[2016-12-16 16:28] #1582 closed

[2016-12-17 02:02] rlchung opened #1596 "Tutorial creation option in file-tree is not available after when tutorial.html is deleted"
After when tutorial.html is deleted, the tutorial creation option in the file tree is still unavailable to the user. Refreshing the page, however, fixes the issue. Similar to #1279.

![](https://i.gyazo.com/52508250e00e523b46526d05ef31371d.png)

I believe the issue to be with how the toggling between `tutorialAdded` and `tutorialRemoved` is handled. I have referenced the relevant code below:

http

[2016-12-18 02:23] gideonthomas commented on #1596
Thanks for reporting this @rlchung!

It seems like this bug is in the editor code which resides in [this repository](https://github.com/mozilla/brackets).

If you (or anyone) is interested in taking this bug on, the details below might be helpful.

Instead of using the filesystem's `unlink` function to delete the files, we seem to be using `rm` instead. However, the code that triggers the `tutoria

[2016-12-18 02:35] gideonthomas commented on #1594
Hi @V1ncenz0! I'm sorry that you're experiencing data loss. Would you be able to provide a few more details so that we can help figure out what's going wrong?

- Are you renaming the CSS file by any chance?
- Did you refresh the page or close and re-open the page in between the last time you saw the contents and then when you found it missing?
- Did you see a "Saving Failed...Retrying" error near

[2016-12-28 07:25] aayushsanghavi commented on #1526
I tried setting up the project on my machine but I couldn't. Although I've written some javascript code in a separate file that resolves this issue (It throws an alert on pressing ctrl r before reloading the page). Can I just add the file and make a PR and then maybe one of the contributors could integrate it.

[2017-01-02 23:53] kjstieda opened #1597 "Can't open any any saved projects or new projects in Chrome"
My students have chromebooks and some are starting to have an issue when signing in.  They can sign in, but when they choose New Project or Your Projects, the screen doesn't change.  I am having the same problem on my laptop, but can open projects and such in Mozilla.

[2017-01-03 00:07] humphd commented on #1597
@kjstieda I'm sorry to hear you're having issues.  Are you able to open Dev Tools on one of those machines and paste whatever it's logging?

[2017-01-03 00:55] kjstieda commented on #1597
I am trying on my computer as it won't work on Chrome for me either and the Dev Tools is grayed out.

[2017-01-04 15:32] Jonnygwi opened #1598 "Failing to publish after uploading images over 2mb"
We get stuck in a "Saving..." / "Failed to save..." / "Retrying..." loop after trying publish a project with a PNG that is 2.6MB in size.

Even after deleting the file we are still unable to save the project from this point onwards. Resulting in you having to make a fresh project and copying the files across.

We tried with some other images that were below 1MB and it successfully published.

[2017-01-06 02:24] Friscopolice commented on #1597
I am having a similar issue but it is for Mozilla Firefox. I can log in as well but cannot view any projects.

[2017-01-06 17:51] hannahkane opened #1599 "Allow users to change the font used in the editor"
From a community member: "Is there any way to swap the fonts on the editor? I have a student with a visual impairment that makes it very hard for her to read sans serif fonts."

[2017-01-06 18:09] ryanwarsaw commented on #1599
if I could get some UX insight on the implementation of this, I'd be more than glad to take this ticket.

[2017-01-06 19:41] #1427 closed

[2017-01-09 21:13] gideonthomas commented on #1597
Hi @kjstieda,

I have a suspicion, but would you help me try to confirm it? You can do so by:
- Signing into Thimble and then staying on the page which does not change when you click on "New Project" or "Your Projects"
- In a new tab, copy/paste the following into the url bar: [chrome://settings/clearBrowserData](chrome://settings/clearBrowserData) (hopefully you are able to access this)
- Only se

[2017-01-09 21:16] gideonthomas commented on #1526
@aayushsanghavi apologies for the delayed response.

Sure, feel free to open up a PR with your code.

We are also happy to help you with the problems you are having setting up Thimble on your local machine. Just let us know where (or in which step) you are experiencing issues and what operating system you are running.

[2017-01-10 13:24] nailaandleeb commented on #1544
were u able to solve it?because having same issue

[2017-01-10 15:31] nailaandleeb opened #1601 "Problems while running the project locally"
I want to run this locally and have setup everything according to the docs.but the project homepage is just showing loading status.
![image](https://cloud.githubusercontent.com/assets/8026795/21811868/fb386962-d772-11e6-9db4-44fc4e53f9b0.png)

Note:
1-One thing is its url which is "http://localhost:3500/en-GB/anonymous/ad107f13-0f87-4341-adb5-874d2365ed69" it shows anonymus despite of login.when i

[2017-01-10 17:12] kjstieda commented on #1597
Now it is working.  The next time it doesn't work, I will do this.  Thanks!

On Mon, Jan 9, 2017 at 3:13 PM, Gideon Thomas <notifications@github.com>
wrote:

[2017-01-10 17:46] gideonthomas commented on #1601
Hi @nailaandleeb, thanks for providing the errors, they will help us try to figure out what's wrong. But, would you be able to let us know how you logged in? On the main Thimble page, did you click on "Sign In" and follow the steps from there or did you login via other methods? localhost:3000/account is detached from Thimble so even if you are logged in there, you need not necessarily be logged in

[2017-01-10 18:01] nailaandleeb commented on #1601
Thanxs for your response @gideonthomas I logged in through localhost:3000/account and the console of login.webmarker.org shoed my creadentials and also when i opened localhost:3000/account  it redirected me to my dashboard but yes i can see this problem that this login is detached from thimble.but i followed the docs as it is.

[2017-01-10 21:05] aayushsanghavi commented on #1526
Thanks @gideonthomas for your help but I don't remember where I was stuck earlier. So I guess I'll just add a new JavaScript file to the repository. All that has to be done is to call include that file in one of the main code files. Kindly review the pull request I make.

[2017-01-11 06:19] nailaandleeb commented on #1601
ok a little progress here.if i enter the url as "localhost:3500/en-GB" it redirects to login page and after successful login it redirects to "http://localhost:3500/%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5C%5Cen-US%5Ccallback?code=0ce6a917d9972241ba0e384d

[2017-01-11 17:14] flukeout commented on #1599
@hannahkane Do you know if there is a specific font they want used? I'm guessing it's a system they already have on their machine? Is it enough to offer some options (like from Google fonts?)

[2017-01-11 17:44] flukeout opened #1603 "Unable to access Your Projects list due to Cache issue."
From an educator...

* Students sign in to Thimble on their Chromebooks
* They click on the Your Projects link in the dropdown
* Instead of showing the Your Project page, a new project is created
* When these students are signed in on a different computer (Surface Pro), things work as expected

This is apparently happening to 6 students out of about 40.

Any other details we need? I could ask for

[2017-01-11 17:51] flukeout commented on #1598
Thanks for filing @Jonnygwi - we've seen this with other image-heavy projects. I'll do some testing to see where the actual image size cutoff is.

[2017-01-11 18:02] hannahkane commented on #1599
I asked but don't believe I've heard back yet. I think offering a few options (including a serif one) would be good.

[2017-01-11 19:19] ryanwarsaw commented on #1603
It wouldn't hurt to ask for the usernames, perhaps it will provide some helpful insight for debugging purposes. Also just to clarify, are all the effected students using Chromebooks? Are there any students using Chromebooks that aren't having this issue?

[2017-01-11 19:24] jgmac1106 commented on #1603
I just checked on two different Chromebooks (which would be no different
than any Chrome browser) and did not have the issue.

On Wed, Jan 11, 2017 at 2:20 PM Ryan <notifications@github.com> wrote:

[2017-01-11 19:35] flukeout commented on #1594
Also, have you published the project? If so - can you share the URL so we can have a look?

[2017-01-11 20:03] humphd opened #1604 "Use Vagrant to host dependent services in dev env"
Thimble is really hard to setup right now because it depends on so many other services, including:
* publish
* id
* login
* bramble

Let's follow the advice [here](https://blog.moove-it.com/vagrant-multiple-projects/) and use Vagrant and `git subtree` to host all these services in a vagrant box.  Getting this done soon is a priority, since we want students to start working on this code very soon.

[2017-01-11 21:27] Pomax opened #1606 "add a simple test framework"
thimble currently has no tests beyond "does npm install pass", so adding a simple test framework that is invoked with `npm test` is a great idea.

It doesn't even need to be a complex monster like mocha with phantom (even though it's less of a monster than it sounds like), it could even just be a simple tests.js file in vanilla nodejs JavaScript that starts the server, tries to access a few URLs,

[2017-01-12 08:44] nailaandleeb commented on #1601
After some workaround and with the hep of <a href="https://github.com/mozilla/thimble.mozilla.org/pull/1605">this PR</a> i was able to get an error on
console.

ERROR: { message: 'Request to http://localhost:1234/login/oauth/access_token returned a status of 403',
  context: '{"statusCode":403,"error":"Forbidden","message":"auth code expired"}',
  userMessage: 'Failed to login!',
  locale: 'en-US'

[2017-01-12 08:48] nailaandleeb commented on #1601
With the help of <a href="https://github.com/mozilla/thimble.mozilla.org/pull/1605">this PR </a> i could be able to find the error on my console in case of signin.
 ERROR: { message: 'Request to http://localhost:1234/login/oauth/access_token returned a status of 403',
  context: '{"statusCode":403,"error":"Forbidden","message":"auth code expired"}',
  userMessage: 'Failed to login!',
  locale: 'en

[2017-01-12 13:25] rajpatel507 commented on #1606
can I take this one?
I have integrated jasmine with phantomjs without any glue code(changed jasmine boot file) with one of my project. do you want something like that?

According to your idea I am confuse about how can test.js file will know about something went wrong or not?

[2017-01-12 13:26] rajpatel507 commented on #1606
can I take this one?
I have integrated jasmine with phantomjs without any glue code(changed jasmine boot file) with one of my project. do you want something like that?

According to your idea I am confuse about how can test.js file will know about something went wrong or not?

[2017-01-12 18:47] flukeout commented on #1603
Thanks for checking @jgmac1106. Just now we received another complaint about this issue from a different educator, using a desktop PC - so it's not hardware related.

@gideonthomas believes clearing the browser's cache might resolve this so I created some instructions and the user to try them out.

https://github.com/mozilla/thimble.mozilla.org/wiki/Clearing-your-cache

I'll report back once they'

[2017-01-12 19:07] humphd opened #1608 "Thimble and WebVR: fix remix overlay issue with WebVR toggle"
We have a bug in published projects, in both orientations on mobile, where the Remix button blocks the VR button

![](https://i.imgur.com/1xrHqpP.png)

[2017-01-12 19:08] humphd opened #1609 "Thimble and WebVR: Create A-Frame Starter Kit(s)"
WebVR is a cool new technology that people are eager to try.  We should provide some pre-made, easy to modify and remix starter kits in Thimble for working with it.  A good entry point for beginning is [https://aframe.io/](A-Frame).  There are full docs for it available at https://aframe.io/docs/0.4.0/introduction/.

Various VR starter projects are possible, for example: a panorama, an AR example

[2017-01-12 19:13] humphd opened #1610 "Thimble and WebVR: Integrate A-Frame tightly into Thimble"
This is connected to #1609, but slightly different.  It would be good to consider what a "native" VR mode in Thimble might look like.  Right now we have Desktop and Mobile views, but we could consider adding a VR view for some projects that need it.

It would also be interesting to think about how to best integrate and expose the various editing tools in A-Frame from within Thimble, for example, [

[2017-01-12 19:20] humphd opened #1611 "Thimble and IoT: MQTT Starter Kit"
It would be nice to add a starter kit for people wanting to learn more about MQTT

http://www.mqtt-dashboard.com/ provides a free, public broker.  From the site:

According to this [StackOverflow answer](http://stackoverflow.com/a/18411932), you can use the [Eclipse Paho JS client](http://www.eclipse.org/paho/clients/js/) with it.  A [tutorial](https://www.ibm.com/developerworks/community/blogs/c5

[2017-01-12 19:24] humphd opened #1612 "Thimble and IoT: Johnny-Five Starter Kit"
Create a starter kit that would use [Web Sockets](https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API) to connect to a [Johnny-Five](http://johnny-five.io/) instance, e.g., displaying a [Fritzing](http://fritzing.org/home/) or an [Arduino](https://www.arduino.cc/) but hooked up to a live Arduino via J5 on the other end.

[2017-01-12 19:29] humphd opened #1613 "Thimble and Graphics: Create p5.js Starter Kits"
It would be nice to make it easy to create sketches in Thimble using http://processingjs.org/ and/or https://p5js.org/.  With the latter, there are a ton of tutorials and starter videos we could integrate, see https://p5js.org/tutorials/.

Here's an example made by @flukeout: https://thimbleprojects.org/flukeout/172572/

[2017-01-12 19:30] hannahkane commented on #1549
@gideonthomas - I think we can close this. What do you think?

[2017-01-12 19:33] humphd opened #1614 "Thimble and JS: TODOMVC Starter Kits"
The [TodoMVC](http://todomvc.com/) examples are good ways to learn about different frameworks and approaches to solving a common problem: creating a TODO app in the browser.

It would be nice to migrate some of these over to Thimble, so our users could play with them.  The main thing we want here is something that works well within Thimble with a complete Tutorial, and learning/reference material.

[2017-01-12 19:38] gideonthomas commented on #1549
Unless it's helpful to @flukeout, we can close this

[2017-01-12 19:39] flukeout commented on #1603
Confirmed that clearing the cache resolved this for the user that tried it. I'll leave the bug open.

[2017-01-12 19:40] #1549 closed

[2017-01-12 19:40] flukeout commented on #1549
Closing - will review etherpad.

[2017-01-12 19:40] gideonthomas commented on #1601
@nailaandleeb are you seeing different errors in your console this time?

[2017-01-12 19:42] humphd opened #1615 "Thimble and JS: Starter Kits using data.GUI"
The [data.GUI](https://github.com/dataarts/dat.gui) controller library makes it easy for users to adjust variables in a running program.  See http://workshop.chromeexperiments.com/examples/gui/#1--Basic-Usage for examples.

It would be great if we had some starter kits that were highly data driven, and could benefit from exposing a visual controller.  Some examples might include:

* simple game (t

[2017-01-12 19:47] humphd opened #1616 "Thimble and CSS: "Design in 4 Minutes" style Starter Kit"
[Design in 4 minutes](http://jgthms.com/web-design-in-4-minutes/) is a fantastic example of how you can teach by doing show and tell on the web.  It would be nice if we had a way to expose this to people who want to also teach various types of CSS, such that a learner can progress through different stages of a design process, learning as she goes.

A simple approach would be to build a starter kit

[2017-01-12 19:52] humphd opened #1617 "Thimble and AI: Starter Kits for Machine Learning"
Getting started with AI and Machine Learning is overwhelming because it often involves not only complex math, but also new and unknown tools, languages, and toolkits.  Being able to experiment with AI and Machine Learning within Thimble in a simplified, pre-made environment would be interesting.

A number of in-browser tools exist in JavaScript for doing this sort of thing, for example:
* http://w

[2017-01-12 20:02] humphd opened #1618 "Extend Thimble's Dev Tools"
Currently we provide an editor and preview window.  It's also possible for us to add other interesting tools, for example: http://darsa.in/fpsmeter/.  Part of this but is issue is researching what's out there, and what might be cool to include.

[2017-01-12 20:43] humphd opened #1619 "Thimble and Mentorship: Explore using Together.js"
Mozilla previously created [Together.js](https://togetherjs.com/), which provides remote chat and multiple cursor/mouse-pointers in a single application.  Thimble users could benefit from this, by supporting one another in the same project.

Doing this well requires a number of things, including:
* figuring out the state of together.js, which is not actively maintained any longer.  It may need thi

[2017-01-12 21:40] jgmac1106 commented on #1619
This would be an amazing feature. As a stop gap I have always wanted either
a native discourse instance for thimble or a category on Mozilla Learning
just asking for help.

On Thu, Jan 12, 2017 at 3:43 PM David Humphrey <notifications@github.com>
wrote:

[2017-01-12 21:42] jgmac1106 commented on #1619
NVM there already is a Thimble category, while I am hijacking this thread
about together.js I wonder if we could link to
https://forum.learning.mozilla.org/c/thimble in the left side bar.

On Thu, Jan 12, 2017 at 4:40 PM Greg Mcverry <jgregmcverry@gmail.com> wrote:

[2017-01-12 21:43] humphd commented on #1619
@jgmac1106 I wonder if we should split this off into another bug, it's a valid and self-contained request.

[2017-01-12 21:45] humphd opened #1620 "Thimble and Mentorship: Explore Discourse Integration"
Split off from #1619, this issue is about adding native support in Thimble for our Discourse instance, see https://forum.learning.mozilla.org/c/thimble.

[2017-01-12 21:45] humphd commented on #1619
Filed in #1620, if you want to add anything there, @jgmac1106

[2017-01-12 22:03] jgmac1106 commented on #1620
In my efforts to try and  prove forums aren't dead (I have failed to date) I want to try to help facilitate a "stack overflow" for Thimble users. Since there is a Thimble category I was thinking we could create a link in Thimble to the category.

Lets encourage questions, tips, and brags to head in that direction.

Most help places online are not too welcoming for beginners as they will be quickly

[2017-01-13 04:49] nailaandleeb commented on #1601
@gideonthomas  same error for test project(without login).which i overcome by hardcoding the url in this file."brackets/src/extensions/default/bramble/lib/RemoteEvents.js;135

            var fullPath = initialFile.fullPath;

to

            var fullPath = "/7/projects/30/index.html";

So,this opened test project for me without login.

 I case of login after implementing what is suggested in <a hr

[2017-01-13 19:07] flukeout commented on #752
I'll update this to include a real project example which demonstrates the problem.

[2017-01-13 19:13] humphd commented on #1215
We're going to close this for now.

[2017-01-13 19:13] #1215 closed

[2017-01-13 19:13] flukeout commented on #1229
I'll verify if this is still a thing.

[2017-01-13 19:14] flukeout commented on #1232
Will also verify it's still an issue.

[2017-01-13 19:17] flukeout commented on #1296
Will re-file as a new issue.

[2017-01-13 19:17] #1296 closed

[2017-01-13 19:24] flukeout commented on #1534
Also, the very top edge of the button doesn't have an effect.

[2017-01-13 19:28] gideonthomas commented on #1608
Possible solutions from previous discussions: https://github.com/mozilla/thimble.mozilla.org/issues/1515

[2017-01-13 19:54] flukeout opened #1621 "Thimble Starter Kit Meta Bug"
Since we'll probably want lots of starter kits, let's start a list and keep track of them here.

**Graphics**
* [ ] p5.js
* [ ] processing.js
* [ ] computer vision

**Design**
* [ ] Design in 4 minutes

**IoT**
* [ ] Johnny-5
* [ ] Ai

**JS**
* [ ] jQuery
* [ ] ....
* [ ] TODOMvc

**Others**
* [ ] data.GUI
* [ ]

...add more

[2017-01-13 20:13] humphd opened #1622 "Create way to submit, manage, display Starter Kits"
Related to #1621

I think we should consider having a repo, `mozilla/thimble-starter-kits`, or something.  In it we have a layout like this:

[code]

Adding a new kit template would mean creating a new dir in `kits/`.    Thimble could pull this repo in as a module when it builds, and then host the kits on the front page.

Thoughts?

[2017-01-16 17:55] flukeout commented on #752
Closing this as I can't reproduce this - even when simulating a 3G connection in the browser.

[2017-01-16 17:55] #752 closed

[2017-01-16 18:01] flukeout commented on #1229
Confirming that this is still happening and requires a fix.

[2017-01-16 18:03] flukeout commented on #1232
This is no longer the case, closing. Images inline nicely in text.

[2017-01-16 18:03] #1232 closed

[2017-01-16 18:07] flukeout opened #1623 "Add option to hide the Remix button in a published project."
It would be turned on by default, but we would give the author the ability to turn it off.

We could drop the following toggle into the **Publish** dialog...

![image](https://cloud.githubusercontent.com/assets/25212/16968101/a6a9ea32-4dc1-11e6-8262-7c16353fd260.png)

In addition, if this is toggled for a project that is already published, we should detect the change and show the **Update Publishe

[2017-01-16 18:14] flukeout opened #1624 "Garbled styling in narrow preview header bar."
Wow...

![image](https://cloud.githubusercontent.com/assets/25212/21994428/7c2ea90e-dbd4-11e6-95ae-07efd111dc11.png)

**Steps to Reproduce**
* Add a tutorial to your project
* Start making the preview pane narrower until eventually, the layout breaks
* This is likely caused by the PREVIEW link in there

[2017-01-16 18:16] flukeout commented on #1622
I think its important that authors create these kits in Thimble - so I guess a possible workflow for adding them to the repo would be to download the zip from Thimble and drag it in somewhere?

Any gotchas with that approach? Subsequent edits we can handle with a more standard make changes, submit a PR process.

[2017-01-16 18:20] flukeout commented on #1569
Hey @humphd and @gideonthomas - what's the status of this issue? Seems like we were making some great progress, but just sort of stalled out.

The generated index page is ready to go: https://thimbleprojects.org/flukeout/129439/

We can split out the warning dialog message into another issue.

[2017-01-16 18:49] flukeout opened #1625 "Enhance Thimble homepage with a bigger gallery of starter projects."
We've featured the same 6 projects since launch, and it feels stale.

We need something new, and it should...

* Look awesome
* Allow us to quickly change the feature projects
* Allow us to specify more than 6 projects
* Allow users to search for projects they want

**How will we handle the thumbnail image?**
Currently we use images to represent each project, but I think we should think about actu

[2017-01-16 18:52] flukeout commented on #1625
cc @gideonthomas @humphd thoughts?

[2017-01-16 18:52] flukeout commented on #1625
Mofo is also messing heavily with Django - is that something we can use as the back-end for this?

[2017-01-16 18:56] flukeout commented on #1505
Filed #1625 as a follow up.

[2017-01-16 19:04] flukeout commented on #1289
Via @jgmac1106

have so many projects now I can spend too much time looking for one I want.
Plus you can't right click to open in a new tab so your navigation path has
to go project>my projects>a project>my project>open another project.

[2017-01-16 19:05] flukeout commented on #1289
Lots of good starter bugs here, so I'll break this out into smaller chunks.

[2017-01-16 19:29] flukeout opened #1626 "Your Projects List > Add link to project if already published."
On the Your Projects list, let's indicate if a project has been published, and if so, provide a link to the published project.

[2017-01-16 19:32] flukeout opened #1627 "Your Projects List > Add ability to open a project in a new tab."
Currently, the project opens inside the same browser tab as the Your Projects page, which is annoying if you just want to quickly check what it is.

We could either...
* Figure out while command+click doesn't open a new tab
* Add a separate "open in new tab" action

[2017-01-16 19:37] flukeout opened #1628 "Your Projects List > Add ability to preview a project"
When all you have is the project title, it's often difficult to find a project you're looking for.

Could we add an ability to preview a project? We could include a button that opens a small popup with an iframe that has the project running inside of it.

I've tried this already on the [Thimble Dashboard](https://thimble-dashboard-staging.herokuapp.com/), and it works pretty well. Could we somehow

[2017-01-16 19:39] flukeout commented on #1628
#1627 is also a pretty good solution for this.

[2017-01-16 19:42] flukeout commented on #1622
Removed "displaying" form this bug. I've filed a separate issue to enhance the home-page #1625

[2017-01-16 19:45] flukeout opened #1629 "My Projects List > Add ability to "save" or "fave" my own projects"
I think it would be a good feature to be able to "star" or "fav" my own projects. They would appear at the top of the list always. This could alleviate this feeling of things being hard to find within the list, which I feel personally, and that we've heard about from users.

[2017-01-16 19:48] flukeout opened #1630 "Ability to insert code snippets into files"
For example, when editing HTML, it might be nice to have a dropdown that lets users add...

* A bulleted list with a few blank items
* A small form
* An empty HTML comment
* A definition list
* An empty table...

We could have different snippets depending on the type of file being edited.

[2017-01-16 19:50] flukeout commented on #1289
I'm going to close this as I've filed a bunch of "good first bugs" that address these points. There's also an existing issue already about the Delete Button being scary.

[2017-01-16 19:50] #1289 closed

[2017-01-16 20:03] gideonthomas commented on #1604
@humphd what do you think about installing Brackets separately? I'm having issues with subtreeing Brackets because it does not install the submodules that Brackets uses. I can't find docs on how to do that either.

[2017-01-16 20:05] humphd commented on #1604
Sure, we can file another bug to figure that bit out later.

On Jan 16, 2017 3:03 PM, Gideon Thomas <notifications@github.com> wrote:

@humphd<https://github.com/humphd> what do you think about installing Brackets separately? I'm having issues with subtreeing Brackets because it does not install the submodules that Brackets uses. I can't find docs on how to do that either.

-
You are receiving thi

[2017-01-16 20:50] flukeout commented on #1625
Also, in doing this we should address https://github.com/mozilla/thimble.mozilla.org/issues/1171

Make sure we add GA events.

[2017-01-16 20:53] flukeout commented on #471
Closing, as there is no error message shown in thimble anymore when there is a space in front of the doctype. Maybe this was an Old Thimble bug.

![image](https://cloud.githubusercontent.com/assets/25212/21998608/c016a782-dbea-11e6-8daf-8ecba8cac043.png)

[2017-01-16 20:53] #471 closed

[2017-01-16 20:59] flukeout commented on #719
Still not fixed, is this a good first bug?

[2017-01-16 21:01] flukeout commented on #1100
I can work out the CSS for the theme if someone wants to take this issue.

[2017-01-16 21:03] #1139 closed

[2017-01-16 21:07] flukeout commented on #1120
Could we take a similar approach for this as we've decided on in cases where the published project doesn't have an index.html page?

* https://github.com/mozilla/thimble.mozilla.org/issues/1569

If we detect someone trying to open a URL to the editor (and they're not signed in, or they're a different user) we can show a custom error page instead?

If so, I can design that page and this might make

[2017-01-16 21:10] flukeout commented on #889
@humphd I think exporting / importing zip files is pretty fringe so I'm happy to close this unless we run into it again or hear about it from users.

[2017-01-16 21:13] flukeout commented on #1230
Looks like this is no longer the case. Images in the tutorial disappeared when I deleted them from the file tree.

[2017-01-16 21:13] #1230 closed

[2017-01-16 21:22] flukeout commented on #1541
Closing as thimble@mozillafoundation.org emails now reach us just fine.

[2017-01-16 21:22] #1541 closed

[2017-01-16 21:26] flukeout commented on #1515
Closing, refiled in #1623

[2017-01-16 21:26] #1515 closed

[2017-01-16 21:35] flukeout commented on #1599
Hey @ryanwarsaw - I think dropping this setting into the editor gear menu would work pretty well.

Maybe a dropdown below Text Size...

![image](https://cloud.githubusercontent.com/assets/25212/21999610/da6fb7ae-dbef-11e6-9650-7065221cbba0.png)

Alternatively, we could just have two options, serif and sans-serif and have a toggle between the two. We'd probably want to carry the changes through to

[2017-01-16 21:49] flukeout commented on #1625
Some related mockups I found from previous work...

![image](https://cloud.githubusercontent.com/assets/25212/22000151/7e8e1284-dbf2-11e6-9bbe-7381d1f0644a.png)

![image](https://cloud.githubusercontent.com/assets/25212/22000157/8c459730-dbf2-11e6-861f-608241c1eb3b.png)

[2017-01-16 21:54] flukeout commented on #1599
Some reading here http://www.textmatters.com/resources/pdfs/visImpd_typogTM.pdf

Some takeaways

* Font face less important than size, contrast, spacing & weight
* Best weight is medium/semibold
* Avoid _italics_
* Make sure the numbers are easy to read and distinguish from letters
* Text in all caps is bad (EDITOR / PREVIEW) etc.. !
* More space between lines is good
* Shorter line length may be

[2017-01-16 22:23] flukeout opened #1631 "Allow Javascript editor setting isn't remembered"
If you disable javascript in the gear menu and refresh the browser, it's enabled. It should keep the setting it last had.

![image](https://cloud.githubusercontent.com/assets/25212/22001014/5179a8b2-dbf7-11e6-9f91-bbf1261ccbc2.png)

[2017-01-16 22:25] flukeout opened #1632 "Limit minimum size of the font in the editor."
Seems like there's no limit to how small you can make it. Let's pick a sane number as the minimum limit...

![image](https://cloud.githubusercontent.com/assets/25212/22001060/901dd78c-dbf7-11e6-95d7-fecdc13849b4.png)

[2017-01-16 22:26] flukeout opened #1633 "Preview auto-refresh setting gets reset when browser is refreshed."
If you uncheck it and refresh the browser, it becomes checked again. It should stay unchecked.

![image](https://cloud.githubusercontent.com/assets/25212/22001085/b291ccc4-dbf7-11e6-8ebd-5bbbd89c567b.png)

[2017-01-16 22:28] flukeout opened #1634 "Make "menu appears" transition consistent."
The publish menu and the gear menu have a different style of appearing. One fades in while the other appears suddenly. Let's make the Publish dialog appear instantly like the gear menu.

[2017-01-16 22:34] flukeout opened #1635 "Make items in user dropdown menu easier to click."
The items in the dropdown menus only work if you click the text of the item, and not the entire length and height of the highlighted item when you hover.

This is because each item is a...

[code]

...and the padding around the item is applied to the ``<li>`` which isn't clickable.

![image](https://cloud.githubusercontent.com/assets/25212/22001231/76a7f2e6-dbf8-11e6-8bd3-173a18f23903.png)

To fix

[2017-01-16 22:35] flukeout commented on #1635
This is probably the same issue that is causing #1534

[2017-01-16 22:37] flukeout commented on #1592
And closed! Even more reason to finish up #1569

[2017-01-16 22:37] #1592 closed

[2017-01-16 22:40] flukeout commented on #1594
As it's been more than a month, I'm going to go ahead and close this.

[2017-01-16 22:40] #1594 closed

[2017-01-16 22:58] flukeout opened #1636 "Make the file-tray have a greater minimum width when the "expand" icon is clicked."
You can close the file tray fully by resizing the editor. Then you can click the little arrow to expand it again. However, it's super small and not usable until you manually resize it again. See below..

![tray](https://cloud.githubusercontent.com/assets/25212/22001788/1c18f81c-dbfc-11e6-9348-94902debd688.gif)

Let's add a minimum file tray width when clicking the expand icon.

[2017-01-16 23:19] flukeout opened #1637 "Always display a Tutorial in "Desktop" mode."
Currently, if the preview is set to Mobile view and you click to view the tutorial, it remains in the mobile view. This makes it hard to use...

![image](https://cloud.githubusercontent.com/assets/25212/22002229/1a51df3c-dbff-11e6-88bf-ff6c426700ff.png)

Let's always show the Tutorial file in desktop view.

This means that if we're previewing the ``index.html`` page in the mobile view, we need to

[2017-01-16 23:27] flukeout commented on #1518
This is coming from the file tray, we could...

* Add some CSS to hide it explicitly, or...
* Close the file tray when the full screen preview is opened

[2017-01-16 23:36] flukeout commented on #634
One thing I noticed is that it only becomes deselected the first time you start editing it. If you switch files and go back to it, it stays selected when you edit.

I bet this has something to do with how the file is added to the working set. I bet we first display the file as selected in the non-working set, then as soon as we edit it, we display the file in the working set, and it loses the sele

[2017-01-17 04:42] ryanwarsaw commented on #1599
@flukeout I'd agree that the editor menu seems like the most sensible place for this. It'd be interesting to explore possibly providing a few font options, but also allowing people to use their own. Perhaps even assigning font/text related options to their Thimble account, so it persists across projects?

I'm not knowledgeable on visual impairments but from reading your summary above, something li

[2017-01-17 04:57] indranil-tiwary commented on #1595
Can I try too solve this bug??

[2017-01-17 04:59] indranil-tiwary commented on #1626
Hey I can do this.. but I am new here.. just need to know how contributing works. Shall I start working on it right away?

[2017-01-17 17:15] flukeout opened #1638 "Thimble and Aframe: Explore adding support for custom tag autocompletion"
If we integrate Aframe into Thimble, we'll want to add support for the various custom tags that it uses to create 3D scenes.

For example, here's the [list of primitives](https://github.com/aframevr/aframe/tree/master/docs/primitives)

Let's explore if this is possible and how.

[2017-01-17 19:03] hannahkane commented on #1599
I asked, but haven't yet heard back from the person who originally requested this, so I think we should just follow best practices.

[2017-01-17 19:43] flukeout commented on #1599
Yeah, I'm curious because the original request seems like a specific case or ailment. The general guidelines don't mention serifs as being more legible.

Maybe we should hold off until we can get more clarity from the original request?

[2017-01-17 20:34] hannahkane commented on #1599
Asking the original requester again now...

[2017-01-18 17:23] jordanbudi opened #1639 "Mobile - Thimble Remix Button On top of Google Cardboard Button"
Made a project implementing A-Frame:
https://thimbleprojects.org/jbudisantoso/186422/

When visiting on my mobile device (iPhone 6S Plus), the Thimble Remix icon overlaps the Google Cardboard icon which prevents me from clicking it.

See bottom right of this image:
![img_7984](https://cloud.githubusercontent.com/assets/12487749/22075142/cd04c69c-dd78-11e6-9289-59ee68a14a17.PNG)

[2017-01-18 17:54] hannahkane commented on #1599
From the original requester: "Another teacher in the building said as soon as she started printing her classwork in Times New Roman instead of Arial, the student with the disability started producing much higher quality work.

So I think any Serif font would work. If I had to pick one then Times would be it since my colleague has confirmed that it is readable."

[2017-01-18 20:18] flukeout commented on #1639
Related to #1623

@jordanbudi you can add some CSS to your project to hide the remix button, let me know if you want help with that.

[2017-01-18 20:20] flukeout opened #1640 "Thimble + Aframe: Add entity property editor popup"
One way to make editing aframe projects would be to provide some custom UI for changing some common attributes (scale, size, rotation) of simple shapes. We already do something like this with the colorpicker.

Can we use the same expandable section to add UI specific to aframe components?

[2017-01-18 20:22] flukeout commented on #1640
For reference here's the special colorpicker UI you can access with Command + E when a hex value is being edited.

![image](https://cloud.githubusercontent.com/assets/25212/22081520/baa858ce-dd78-11e6-9ae4-6200b5cf3f33.png)

[2017-01-18 20:23] flukeout opened #1641 "Add affordance for the Quick Edit UI"
The quick edit UI (accessible via Command + E) is one of the coolest parts of the editor, but I'm guessing that almost nobody knows its there or uses it. For reference...

![image](https://cloud.githubusercontent.com/assets/25212/22081556/e1ab6362-dd78-11e6-93e1-26256c2741a3.png)

Can we add a visual affordance somewhere for when the colorpicker (or other quick edit UI) is available?

[2017-01-18 20:25] flukeout opened #1642 "Create more Quick Edit UIs for different tags and properties."
We have a Quick Edit UI for choosing a color...

![image](https://cloud.githubusercontent.com/assets/25212/22081603/084866e6-dd79-11e6-802c-588ab2c3a011.png)

...can we investigate and see how hard it would be to add other types of Quick Edit UIs? For example, we could add one to make gradients. Or, we could make one for changing box shadows, border-radius, or border properties.

[2017-01-18 20:30] flukeout opened #1643 "Thimble + Aframe: Isolated object viewer"
Aframe scenes are made up of various objects. What if we added a way to view one particular object only in, in isolation, in the project preview.

If you want to edit a certain cube in the scene, you can enter 'isolation mode', this would create a new, separate Aframe scene with just that object. You could edit the object, and when you were finished, you could save it and return to your original s

[2017-01-18 20:37] jordanbudi commented on #1639
@flukeout yes that would be super helpful!

[2017-01-18 20:41] flukeout opened #1644 "Thimble + Aframe: Build a scene based on project markup."
Zany idea - what if - when you are editing an html page, you could hit a button that generates some kind of 3D sculpture or visualization based on the contents of that page? We could interpret the HTML markup in any sort of way...

* We could build a 3d VR graph of the types and numbers of elements.
* Build a 3d representation of the page somehow
* Build a giant jenga tower where all of the elemen

[2017-01-18 20:43] flukeout opened #1645 "Thimble + Aframe: Comb through Aframe issues and find dev workflow painpoints"
Apparently the repo is full of good issues that could shed light on what we could do in Thimble to make authoring scenes easier:

* https://github.com/aframevr/aframe/issues

Would be a good task to dig through here and see if we can brainstorm some solutions to implement in Thimble.

[2017-01-18 20:50] flukeout opened #1646 "Shift + Command doesn't cycle through all the files in a project."
One project I have has three files, but hitting Shift + Command only cycles through two of them. You can see this behavior below..

![shiftcommand](https://cloud.githubusercontent.com/assets/25212/22082420/9309ed1a-dd7c-11e6-9445-aa21d4759614.gif)

...if we're going to keep this keybinding (which I don't like) let's at least fix it so that it cycles through all of the files in the project.

[2017-01-18 20:54] flukeout opened #1647 "Add a help page to the Thimble website."
It would be good to have an easy to access help page somewhere on the site (or while editing). We could address some common issues on that page and maybe save people time.

Recently we've been getting lots of emails about not being able to access the Your Projects page. It's resolved easily by a cache clear, but we don't have that information listed anywhere.

[2017-01-18 21:00] flukeout commented on #1639
@jordanbudi try out the instructions here:

https://github.com/mozilla/thimble.mozilla.org/wiki/CSS-for-Hiding-the-Remix-Button-on-Published-Projects

Let me know if that helps!

[2017-01-18 21:13] jordanbudi commented on #1639
@flukeout works like a charm. Thank you!

[2017-01-18 21:17] flukeout commented on #1639
Glad it helped. I'll close this issue since we're aware of the Remix button causing problems already.

[2017-01-18 21:17] #1639 closed

[2017-01-19 18:48] flukeout opened #1648 "Figure out survey strategy to find out more about our users."
As we continue to work on Thimble, we should make efforts to get to know our users better. We can gather feedback in a few different ways and should discuss what a good approach might be. Particularly I'd like to focus on Teachers.

**Goals**
To find out...

* What is working well
* What is causing problems
* What content are they currently using
  * Where are they finding it
  * Are they making i

[2017-01-19 19:11] flukeout commented on #1625
Currently, our static gallery doesn't let you preview the published version of each of the starter projects, and we should allow that. It would give people a better sense of what they're getting into by seeing the finished product. Will address this in the gallery UX.

[2017-01-20 03:23] khanh2003 commented on #1625
@flukeout IMO, I want to see what others have made first.

[2017-01-20 03:47] ryanwarsaw commented on #1625
We're better off staying with our current setup of using images as thumbnails. It's low risk and doesn't pose any kind of security risk, where as embedding content (even with Javascript disabled) that we didn't create and don't directly control, is a pretty risky endeavor.

[2017-01-20 17:27] flukeout commented on #1625
@ryanwarsaw

Initially, we'll be curating what ends up in the homepage gallery, so I guess both thumbnails and iframes would be okay..

* We can manually make nice thumbnails
* None of our content will be risky for iframes

...however, if we move beyond that and try to include dynamic or newly remixed content, we will no longer have thumbnails to show (unless we find a way to generate them). We co

[2017-01-20 17:33] ryanwarsaw commented on #1625
@flukeout My only concern with that is once the content is curated, is it still editable? What prevents someone from modifying the project in a malicious way after the curation process has taken place?

[2017-01-20 17:37] flukeout commented on #1625
@ryanwarsaw If we curate by featuring people's published projects, then we can't really safeguard against that. Even with the thumbnail solution, we still run the risk of them changing the content, people would see that a click later.

One option could be for us to remix the project and feature our remix (but still give attribution to the original author?). That seems kind of lame though. Maybe we

[2017-01-20 18:04] jgmac1106 commented on #1625
Could be a lesson on social media cards in the header. Have a, "Do you want to submit to the gallery?"

...and they get taught how to add a card that is  used for the gallery with a learn more link to an MDN article on using social media cards and/or microformats as a more advanced lesson.

This does provide pathways of learning across all the properties but does add a gatekeeper to making the gal

[2017-01-23 17:50] flukeout opened #1651 "When adding an HTML file to a project via the plus button to a project with no HTML files, call it "index.html" instead of "index-1.html""
Currently, we have a convention that increments the name of the added HTML file, which is nice. Since projects start with "index.html", the next HTML file we add is called "index-2.html" which makes sense. However, if we delete all of the HTML files and then add a new one, it's called "index-1.html" - which makes sense given our convention.

However, this means a published project won't load unles

[2017-01-23 17:59] flukeout opened #1652 "Thimble hangs when deleting last HTML file and refreshing browser."
I'm consistently able to get Thimble to hang on the "spinning thimble" screen.

**Steps to reproduce**
* Create a new project from scratch (via homepage button)
* Delete the index.html file
* Refresh browser

Result...

![result](https://cloud.githubusercontent.com/assets/25212/22216100/8de3a086-e152-11e6-8127-2b9a2591397f.gif)

Clearing indexdb resolves this.

[2017-01-23 20:08] Pomax opened #1653 "update the README.md with mattermost information"
We should add a section on how to do real-time collaboration with us on this project, since we don't use IRC for this anymore, but we're currently using mattermost.

[2017-01-23 20:11] Pomax commented on #1653
deadline: before Friday January 27

[2017-01-23 21:27] flukeout opened #1654 "Thimble + VR : Integrate Aframe's visual inspector tool."
To see it in action, visit https://aframe.io/examples/showcase/helloworld/ then click on the **Visual Inspector** button in the top right of the screen.

Could we embed this view in Thimble somehow? Swap it out for the editor when someone wants to use it? Persist the changes made in the inspector in the scene's markup?

[2017-01-23 21:32] humphd commented on #1654
That page is interesting.  There are a few ways you could go here:

* you could run the same filesystem we use in that page, and then they could "Save" their work in the visual editor, then jump back to Thimble to do the rest of the coding--the changes would automatically show up due to file system watchers

* you could connect their "Save to HTML..." button to Thimble and have it send that to the

[2017-01-23 21:45] flukeout opened #1655 "Thimble + IoT : Investigate browser bluetooth API and potential integration with Thimble."
Chrome, at least, has the ability to talk to bluetooth devices. I've looked into it briefly, but haven't tried it out. Would it be possible to build in features into Thimble that would make working with bluetooth devices easier?

Will dig into this more.

[2017-01-23 21:55] flukeout opened #1656 "Thimble + IoT: Investigate Thimble + FlyWeb integration"
Mozilla has a project called Flyweb, described here https://wiki.mozilla.org/FlyWeb. I'm going to read more about it, but some of the implementations I've seen allow phones running firefox to easily connect to Flyweb enabled devices and control them.

The demo I saw allows mobile devices running firefox to connect to another machine via the FlyWeb protocol and act as game controllers.

Maybe there

[2017-01-23 22:40] flukeout opened #1657 "Thimble + IoT: Investigate Thimble + Sensorweb collaboration"
The mozilla connected devices has been working on the SensorWeb project, and as part of that have created a prototype of their own [hardware board ](https://connected.mozilla.org/2016/12/22/project-sensorweb-dev-boards-arrive-today/). We should look into this more to see if there is a way to adapt Thimble to be an easy to use coding/ dev environment for this hardware. I think it will be available

[2017-01-23 22:42] flukeout opened #1658 "Thimble + VR : Add a side bar to Thimble that contains a bunch of Aframe primitives to make authoring easier."
We can add a tray to Thimble that lets authors choose from a bunch of predefined Aframe objects to drop into a scene they are working on.

[2017-01-24 16:28] gideonthomas opened #1659 "Figure out setup on Windows with Hypervisor already in use"
This is a follow-up from the Vagrant patch to make setup easier on Windows. Apparently, if you already have software that uses hypervisor on Windows (for e.g. VMWare, or Docker for Windows not Docker Toolbox) you cannot install another one (in this case, VirtualBox). This makes it impossible to follow our setup instructions. This is a problem only on Windows Professional and Enterprise versions si

[2017-01-24 17:13] flukeout opened #1660 "Thimble + Mobile : Can we simulate touch events in the preview?"
It would be great to have a mode where we can simulate touch gestures in the preview. Browser dev tools allow this, but maybe it's harder to do from within a web page.

Hammer.js has some nice mouse-to-touch examples on their site: http://hammerjs.github.io/

This little game simulates it in a cool way too: http://codepen.io/Gthibaud/pen/zNwgmZ

[2017-01-24 17:20] flukeout commented on #1660
Could also be handled with a starter project maybe. We'd just need to find one that allows people to simulate those events with a mouse (and mouse + modifier key for two-finger touch). Hammer.js has that running on their homepage, but I've noticed that, at least for me, the pinch and rotate actions don't actually work.

[2017-01-24 17:34] humphd commented on #686
Fixing this bug is going to involve changes to both Thimble and Bramble.  We have code right now that does this in reverse, namely, listening in Bramble for resize events then posting those to the hosting window via `postMessage`.  The code in Bramble is here:

* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteEvents.js#L19-L33
* https://github.com/mozilla/

[2017-01-24 17:36] humphd commented on #719
@gideonthomas this could use some info, and I'm not sure what's needed exactly.  Can you add a note, at least to clarify your comment about about that patch fixing things?

[2017-01-24 17:46] humphd commented on #841
Fixing this means changing the CSS for the `.filetree-context` class in Bramble, for both the light and dark themes in these files:

https://github.com/mozilla/brackets/tree/master/src/extensions/default/bramble/stylesheets

[2017-01-24 17:54] flukeout opened #1661 "Fix indentation in index.html page of new projects."
The ``head`` and ``body`` tags of the index.html page should be indented one extra level. Right now they are flush with the ``html`` tag, which is incorrect.

![image](https://cloud.githubusercontent.com/assets/25212/22259691/25c972a4-e21b-11e6-926e-412974fa323a.png)

[2017-01-24 18:09] flukeout commented on #1661
I think in general our spacing is a bit clunky, maybe we can just go with a more compact layout like this.

[code]

This also moves to the ``title`` tag to the first spot in the ``head`` which is good. Additionally, we could include a couple of common element types on this page, like an ``a`` and an ``ol``, we could use it to link to some resources. Any good HTML or CSS starter guides?

[2017-01-24 18:15] humphd commented on #981
Fixing this requires us to move the menu option for export out of the logged in user menu (or add a second menu option).  Right now it looks like this:

<img width="451" alt="screen shot 2017-01-24 at 1 12 22 pm" src="https://cloud.githubusercontent.com/assets/427398/22260316/d52f74da-e236-11e6-9be9-83cac4e58a75.png">

Should we put a new button beside the '+' in the file tree that means "Download

[2017-01-24 18:16] Rajat-dhyani commented on #1661
hello sir,
i would like to fix this issue. can you please locate me the file?
Thank you in advance

[2017-01-24 18:18] humphd commented on #1001
<img width="980" alt="screen shot 2017-01-24 at 1 16 27 pm" src="https://cloud.githubusercontent.com/assets/427398/22260475/5bf21216-e237-11e6-9095-a89bba51b42e.png">

The string for this text is here: https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/locales/en-US/messages.properties#L139

[2017-01-24 18:19] flukeout opened #1662 "Expand search for images when autocompleting src attribute."
In one project, I have an images folder with an image. When I add an ``img`` tag to the index.html page, I don't see the image in the autocomplete options.

Could we look harder for images in the project to suggest?

![image](https://cloud.githubusercontent.com/assets/25212/22260545/70be49ee-e21e-11e6-9eb1-d919bedfdd17.png)

[2017-01-24 18:20] humphd commented on #1100
Fixing this would require making changes to the files (probably the "light" theme) here:

https://github.com/mozilla/brackets/tree/master/src/extensions/default/bramble/stylesheets

In terms of what should actually change, that would need some discussion.

[2017-01-24 18:22] humphd commented on #1154
In theory we already do this here:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L23-L25

Fixing this would require debugging the timing of this function call, and seeing if it's being done at all.

[2017-01-24 18:27] flukeout commented on #1662
Although, when I type in 'images', then I start seeing the options, so maybe that's okay.

[2017-01-24 18:27] #1662 closed

[2017-01-24 18:28] humphd commented on #1279
The code for this in Thimble lives here:

https://github.com/mozilla/thimble.mozilla.org/search?utf8=%E2%9C%93&q=tutorialRemoved

This `tutorialRemoved` event comes from Bramble, here:

* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/Tutorial.js
* https://github.com/mozilla/brackets/blob/master/src/bramble/BrambleEvents.js#L61
* and see both calls to `genericFi

[2017-01-24 18:31] humphd commented on #1327
We inject a script into published HTML files that uses jQuery, see https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/resources/remix/index.js#L119.  Fixing this would require replacing the jQuery calls in that file with vanilla JS and DOM calls.

[2017-01-24 18:33] humphd commented on #1334
Fixing this requires making changes to the CSS in this LESS file:

https://github.com/mozilla/thimble.mozilla.org/blob/master/public/resources/remix/style.less

[2017-01-24 18:48] humphd commented on #1534
We do the event handling for this here:

* https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L333
* https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L305-L322

I wonder if we need to stop that event on

[2017-01-24 18:49] humphd commented on #1536
NOTE: we have 3 Chromebooks in CDOT, if someone at Seneca wanting to work on this needs one to test with, just come see me.

[2017-01-24 18:53] humphd commented on #1543
There are two parts to this:

1. UI for the user to get the snippet.  @flukeout can you provide some UI/design for this bit?
2. The actual HTML for an `iframe` wrapped version of the user's page on S3, for example `<iframe src="https://thimbleprojects.org/humphd/191373/"></iframe>`

[2017-01-24 18:55] humphd commented on #1581
@gideonthomas same issue with this bug, can you comment on where the keybindings live for Brackets?  I can't find it.

[2017-01-24 18:57] humphd commented on #1661
Fixing this requires editing this file to reflect the changes @flukeout wants above:

https://github.com/mozilla/thimble.mozilla.org/blob/master/public/resources/default-files/html.txt

[2017-01-24 19:02] Rajat-dhyani commented on #1661
okay great,
thank you sir :)
Did the necessary changes :D

[2017-01-24 19:10] Rajat-dhyani commented on #1653
Hello sir @Pomax ,
Can you please share the link to mattermost account so that i can add that section to Readme.md ?

[2017-01-24 19:22] humphd commented on #1595
@indranil-tiwary sure, please do.  I think the change needs to happen in https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/security.js.  Maybe @cadecairos can confirm.

[2017-01-24 19:23] humphd commented on #1606
@Pomax do you want to clarify your intent here a bit for @rajpatel507's sake?

[2017-01-24 19:24] humphd commented on #1608
NOTE: the code that actually injects this remix button, and places is it is in https://github.com/mozilla/thimble.mozilla.org/blob/master/public/resources/remix/index.js and https://github.com/mozilla/thimble.mozilla.org/blob/master/public/resources/remix/style.less

[2017-01-24 19:25] humphd commented on #1609
See other bugs filed in https://github.com/mozilla/thimble.mozilla.org/search?q=aframe&type=Issues&utf8=%E2%9C%93

[2017-01-24 19:27] humphd commented on #1623
We'd probably want to modify https://github.com/mozilla/thimble.mozilla.org/blob/master/public/resources/remix/index.js somehow to not show the remix button in the page.  One way to do this might be to add a DOM element (`meta` tag?) that flags for this script that we don't want to the button to be visible, and the injected script would need to look for that DOM element and adjust accordingly at r

[2017-01-24 19:30] humphd commented on #1626
Fixing this would involve working in this file:

[2017-01-24 19:33] humphd commented on #1627
Looks we're doing a `window.location.href` hack with this, which is probably breaking the default way of opening.  We should see if we can do this via a proper link.

https://github.com/mozilla/thimble.mozilla.org/blob/20fa70c77fb6a9dbdad29492989715178954fada/public/editor/scripts/project-list.js#L37

[2017-01-24 19:42] humphd commented on #1630
There are extensions for Brackets that do this already, which we can either use, or use as a basis for this, see the following page, and search for "snippets":

https://brackets-registry.aboutweb.com/

Including an extension in Brackets is done via the URL, see https://github.com/mozilla/brackets#optional-extension-loading and https://github.com/mozilla/brackets/blob/master/src/utils/BrambleExtens

[2017-01-24 19:47] humphd commented on #1631
Managing state in the Bramble API client library happens here:

* https://github.com/mozilla/brackets/blob/master/src/bramble/client/StateManager.js
* https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L254
* https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L407 which is where we pass it to the editor when it initializes

The actual Bramble editor

[2017-01-24 19:48] Rajat-dhyani commented on #1651
Hello sir @flukeout ,
I think i can fix this error could you please locate me the file for fixing it ?

[2017-01-24 19:52] humphd commented on #1632
Probably the best way to do this is to add an `if` check in https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L797-L799 to see if `_state.fontSize` is at a certain limit, and just `return`'ing if so.

[2017-01-24 19:53] humphd commented on #1633
Similar fix to what I describe in https://github.com/mozilla/thimble.mozilla.org/issues/1631#issuecomment-274916966

[2017-01-24 19:54] humphd commented on #1634
The fade-in on the Publish dialog happens here: https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js#L307

[2017-01-24 19:57] humphd commented on #1636
The code for this is in Bramble, see https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/RemoteCommandHandler.js#L113-L118.  There is code in https://github.com/mozilla/brackets/blob/master/src/project/SidebarView.js to do resizing, which we could call after we show it.

[2017-01-24 19:58] humphd commented on #1637
This will likely involve changes to https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/Tutorial.js and https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/UI.js#L207

[2017-01-24 20:02] humphd commented on #1638
This can be done with an extension, and there are a bunch of examples we can study, see https://brackets-registry.aboutweb.com/ and search for "autocomplete".  We can include extra extensions by following info here: https://github.com/mozilla/brackets#optional-extension-loading

[2017-01-24 20:07] humphd commented on #1640
The `ColorEditor` is an extension that we can copy, and it lives here: https://github.com/mozilla/brackets/tree/master/src/extensions/default/InlineColorEditor

[2017-01-24 20:10] humphd commented on #1581
I think it's https://github.com/adobe/brackets/blob/f028b3ecdf2017498196f39ddbbe4a2364366c92/src/base-config/keyboard.json

[2017-01-24 20:11] humphd commented on #1528
See https://github.com/adobe/brackets/blob/f028b3ecdf2017498196f39ddbbe4a2364366c92/src/base-config/keyboard.json

[2017-01-24 20:14] humphd commented on #1641
I remember trying to look for a way to do this in the past, and as far as I know, there is no event, or automatic way to know whether or not there is a Quick Edit feature for the given cursor position without simply trying it.  The code that generally manages these "inline editors" lives here https://github.com/mozilla/brackets/blob/master/src/editor/EditorManager.js.

[2017-01-24 20:16] cadecairos commented on #1595
thats the right spot

[2017-01-24 20:17] humphd commented on #1642
The gradient one already exists: https://github.com/peterflynn/brackets-gradient-editor and https://github.com/mozilla/brackets/tree/master/src/extensions/default/InlineTimingFunctionEditor, so we could just include that if you like.  There's an ImageViewer too https://github.com/mozilla/brackets/tree/master/src/extensions/samples/InlineImageViewer

We could make ones for different tasks, yes.  It

[2017-01-24 20:20] humphd commented on #1646
I can't get "Shift + Command" to do that, are you pressing something else too?

[2017-01-24 20:21] humphd commented on #1646
btw, bindings are here: https://github.com/mozilla/brackets/blob/master/src/base-config/keyboard.json

[2017-01-24 20:22] humphd commented on #1647
I made a start at this, but it's not useful being hidden in the wiki:

https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble

[2017-01-24 20:23] humphd commented on #1651
Fixing this will involve similar code to https://github.com/mozilla/brackets/commit/64b7f12d5d8fa344c9be59ebcb28176d71e20466

[2017-01-24 20:33] Rajat-dhyani commented on #1651
Hello sir @humphd,
 i was able to navigate the code and reached to this file
https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/bramble-menus.js

but there is call to analytics.event("AddHTMLFile");

and here is code for calling the file at the top of the document

var analytics = require("analytics");

but i am could not locate this file. Please Help !

[2017-01-24 20:50] flukeout opened #1664 "Replace mozilla logo on site with new, rebranded logo."
It appears in the header and footer of the homepage.

[2017-01-24 20:55] flukeout commented on #1646
It only happens in Chrome (not FF), and not always. Sometimes it takes adding a new file to the file tree. But once it 'kicks in' I can navigate between the files with this binding, even though it doesn't appear in the .json file you linked.

[2017-01-24 21:01] cadecairos commented on #1659
This is accurate. The virtualization programs all try to get exclusive access to your hypervisor, so having one enabled locks out the others. There's no simple workaround either - to enable VirtualBox with HyperV already installed you need to create a secondary boot profile that disables HyperV on boot. (no thank you)

Vagrant claims to be able to use HyperV as a provider, but there's a noticable

[2017-01-24 21:12] flukeout commented on #1647
We also DO link to the Sumo page from the header, so maybe we can just take advantage of that area. I think in particular what I think would be useful is to have a collection of steps that people can take to get unstuck. The stuff we usually recommend in email support exchanges:

* Are you in private browsing mode
* Clear your cache
* Clear your indexDB etc.

Additionally, when something goes wron

[2017-01-24 21:42] gideonthomas commented on #1579
cc @flukeout

[2017-01-24 22:20] flukeout opened #1665 "Add link to the Help page on the loading screen overlay"
The loading page appears when a project is loading. Sometimes, when something goes wrong, Thimble get stuck here indefinitely. In those cases, it would be good to direct people to the help page: https://support.mozilla.org/en-US/products/webmaker/thimble

![image](https://cloud.githubusercontent.com/assets/25212/22269339/d5d96cac-e23f-11e6-9631-9d13120036ab.png)

**Possible copy**

* If the projec

[2017-01-24 22:25] flukeout commented on #1647
Filed one of these issues in #1665

[2017-01-24 22:29] flukeout opened #1666 "Figure out where to host support docs for Thimble."
Currently, they're hosted on the Mozilla Support site in the Webmaker section:

* https://support.mozilla.org/en-US/products/webmaker/thimble

If the support site is still the best place for this content, let's at least move it to it's own Thimble section. I can check in with Roland about what that process would look like.

If we want to move it somewhere else, is there a good spot or way to host

[2017-01-24 22:55] flukeout commented on #1666
Looks like the support site will be migrating to a new platform as early as the end of this month. Once that happens, we can file a ticket to get the stuff moved over to its own product.

[2017-01-24 23:08] flukeout opened #1667 "Saving indicator is not showing, even though changes are saved."
In Chrome, when editing a project, changes are saved even though the Saving indicator never shows up...

![saving](https://cloud.githubusercontent.com/assets/25212/22270926/e519eeec-e246-11e6-8966-a21cd5f93159.gif)

This change survived refreshing the browser, and also closing the tab and re-opening the project.

[2017-01-24 23:15] flukeout opened #1668 "Indicate when a project is saved."
Our current saving UX shows a brief "Saving..." message near the title of the project in the header. This is a nice feature, but it's pretty subtle and hard to notice. I often find myself wondering if my files were truly saved, especially since sometimes the indicator doesn't show up at all as filed in #1667

I propose an update to this solution. Each project you're working on in the editor only r

[2017-01-24 23:25] flukeout commented on #1625
In discussing this a bit more with @gideonthomas I think we're leaning towards using a thumbnail image for the gallery instead of a live preview. For each project we display, we'll look for a ``thumbnail.png`` file in the root folder of the project. This will be used as the cover image.

It just gives us more options for keeping the thumbnails interesting and consistent.

For example, a project th

[2017-01-24 23:26] flukeout commented on #1625
Additionally, we've settled on hosting a JSON file in github somewhere that will act as the "back end" for the project links and meta-data. We will hand-pick projects that end up in the gallery and for the most part, will probably also be the authors, at least initially.

I'll look into the extra page weight of using something like react and we'll make a call of what tech to build this thing in.

[2017-01-25 01:37] ryanwarsaw commented on #1625
@flukeout Keep in mind if we settle on hosting a JSON file on Github we're going to have to implement a fall back plan in-case someone tries to view the gallery while Github is experiencing a service outage.

[2017-01-25 01:47] ryanwarsaw commented on #1666
We could really benefit from some consolidation and a refined focus on providing a great place for Thimble users to ask questions, seek support and discuss Thimble in general. Right now we're really spread out in terms of support, and I think it'd allow us to communicate more directly with users.

[2017-01-25 01:51] ryanwarsaw commented on #1653
@Rajat-dhyani Our Mattermost instance can be located at: http://chat.mozillafoundation.org, and people can download the official client / learn more here: https://about.mattermost.com.

[2017-01-25 01:53] ryanwarsaw commented on #1327
GH-1602 (#1602) also uses jQuery in order to function properly.

[2017-01-25 13:40] nailaandleeb commented on #1601
I am closing this issue because of no lead on this even after so many days i can't use it successfully. 👎

[2017-01-25 15:40] humphd commented on #1327
We don't need to get rid of jQuery in general, it's just in the remixed project where we inject that script.

[2017-01-25 15:42] humphd commented on #1625
Hosting on Github doesn't necessarily mean we need to rely on them as such: we can add a build step that **downloads** all the things from a github repo onto the server when we deploy.

[2017-01-25 15:46] humphd commented on #1667
The issue here is that we have two kinds of saving:
* saving the files to "disk" in IndexedDB in the browser so they will be available locally and survive a refresh
* sending the files to the server to be saved there.  You have to be logged in for this to happen.

I'm not sure how much we want to expose the user to this difference.

[2017-01-25 15:47] humphd commented on #1664
Can you link to the new logo we're supposed to use?

[2017-01-25 15:48] humphd commented on #1651
It comes from a node module, https://github.com/mozilla/thimble.mozilla.org/blob/master/Gruntfile.js#L49

[2017-01-25 17:01] flukeout commented on #1667
I'm not seeing a "Saving.." indicator in either of the cases above, one of which I'm guessing sends the files to the server as I'm closing the browser tab and opening the project from the project list.

When do we currently attempt to show the "Saving..." indicator? I was under the impression it was only for server saves.

[2017-01-25 17:01] jgmac1106 commented on #1647
I also have some pretty extensive tutorials I made but @humphd wiki is
pretty good. Why can't the help tab point to that instead of:
https://support.mozilla.org/en-US/products/webmaker/thimble which is so
utterly dated its like three logos ago.

On Tue, Jan 24, 2017 at 5:25 PM Luke Pacholski <notifications@github.com>
wrote:

[2017-01-25 17:06] flukeout commented on #1664
I'd rather submit the PR when it's ready. Since we're just rolling out the brand it might require a bunch of tweaking and I'll want to run the changes past the design team as well.

[2017-01-25 17:10] hannahkane commented on #1647
There are advantages to updating the Sumo page - primarily that those questions and answers get localization support. I'd vote for updating those questions with newer content.

[2017-01-25 17:20] jasonshafton opened #1669 "Corrupted project won't open"
I mistakenly pasted HTML into a filename (instead of plain text) and seem to have corrupted the project. Here's my project URL: https://thimble.mozilla.org/en-US/user/jasongoodworld/738697

STEPS TO REPRODUCE:
1. Create a new project
2. Rename an HTML file and paste in a block of HTML / CSS code into the filename
3. Observe that the filename disappears
4. Attempt to reload the project
5. Observe t

[2017-01-25 17:27] gideonthomas opened #1670 "Brackets fails to load on IE 11"
Looks like when you load the editor page on Thimble, it's stuck on the "Loading Project" screen in IE 11. I tracked this down a bit and found that in the generated localization strings file generated from https://github.com/mozilla/brackets/blob/master/src/nls/strings.js into `dist/nls/strings.js`, the 'en-gb' locale is repeated twice as a key in the JSON object. IE fails to run this since we use

[2017-01-25 17:31] jgmac1106 commented on #1647
That makes sense. I would love to take on the update if that is possible,
basically I would just remix the wiki into something that could end up on
Sumo for localisation.

If it doesn't make sense for me to do please let me know.

On Wed, Jan 25, 2017 at 12:10 PM hannahkane <notifications@github.com>
wrote:

[2017-01-25 17:58] flukeout commented on #1646
Also, it happens only if you first press and hold shift, then press command. Not the other way around.

[2017-01-25 18:10] gideonthomas commented on #1670
Clarification re: my previous comment:

Those aren't the files we should be looking at. We should look at the built `dist/main.js` file. Locally, I don't have duplicate keys (I searched for `en-gb` which seems to be the repeated key). On the production S3 file though, there is the duplicate entry.

[2017-01-25 18:37] hannahkane commented on #1647
That would be great, @jgmac1106. Thanks! Just FYI, I believe content on Sumo needs to be in Question/Answer format.

Once you have something, we can all take a look, and then I can update Sumo whenever we're ready.

[2017-01-25 18:42] flukeout opened #1671 "Preserve scroll position in preview when it auto-refreshes."
Whenever the preview auto-refreshes the page you are editing, it scrolls it back to the top. This makes the preview hard to use because you have to keep scrolling down after you make a change to see how it looks.

Can we preserve the scroll position of the preview so that when we auto-refresh, the page stays at the same scroll position?

Every time we fire the auto-refresh, we could note the scrol

[2017-01-25 18:42] flukeout commented on #1671
Note that this doesn't happen when you are just typing text into the HTML page. The preview will update but won't refresh. Once you add a tag, or edit a stylesheet connected to that page, the refresh is triggered.

[2017-01-25 18:45] jgmac1106 commented on #1647
Are there any other rules in terms of image size? The wiki and many of the tutorials use gif files.

[2017-01-25 18:49] Rajat-dhyani commented on #1653
@Pomax @ryanwarsaw  sir,
please check my PR and have it reviewed.

[2017-01-25 18:57] #1604 closed

[2017-01-25 19:07] flukeout commented on #1669
@jasonshafton is it stuck on the green loading screen? Any chance you published the project before getting it stuck in this state?

[2017-01-25 19:09] flukeout commented on #1669
In the database I see that project 738697 doesn't exist..

![image](https://cloud.githubusercontent.com/assets/25212/22305003/ba99c6da-e2ee-11e6-9738-5d0453274bfb.png)

@jasonshafton did you delete it via Thimble after encountering the error?

[2017-01-25 19:18] gideonthomas commented on #1421
Closing as this has been refiled as a good first bug under https://github.com/mozilla/thimble.mozilla.org/issues/1671

[2017-01-25 19:18] #1421 closed

[2017-01-25 19:22] jasonshafton commented on #1669
It was stuck in the loading state. The project is no working. Will close this one but super weird...

[2017-01-25 19:22] #1669 closed

[2017-01-25 19:31] jgmac1106 commented on #1647
@hannahkane I was looking for the template files for SUMO and all the documentation I could find said Kitsune and sumo had reached EOL and were no longer being maintained.

Is there a new place where SUMO lives or is the platform retired?

[2017-01-25 19:33] hannahkane commented on #1647
My understanding is that it's moving, but we can still be working on the content in the meantime.

[2017-01-25 19:34] hannahkane commented on #1647
See #1666

[2017-01-25 19:35] flukeout opened #1673 "Files disappear from file tree after renaming index.html to something that throws an error."
**Steps to reproduce**

* Create a new project
* Copy the markup in the index.html file to your clipboard
* Rename the index.html page
* Paste the markup into the filename and press enter
* It will throw an error
* Both files will disappear from the file view
* They return when you refresh the browser

![file](https://cloud.githubusercontent.com/assets/25212/22305933/3409413c-e2f2-11e6-8dd4-1e2ed1

[2017-01-25 19:43] jgmac1106 commented on #1666
I want to see two pathways for this as mention in #1620 I think we should add a link to the Discourse category and try to "elevate" community contributors to help oversee as kind of a facilitator/moderator.

Lets make Discourse the stack overflow for Thimble.

Then we can also start to work on the self paced tutorial forking @humphd wiki mentioned in #1647. Since Sumo is migrating I will start a r

[2017-01-25 20:53] flukeout commented on #1656
Looked into this a little bit. One of the drawbacks is that it's an experimental spec and is only available on the Nightly version of the Android and Desktop version of firefox, behind a feature flag.

I'm going to attempt to get this running between a phone and a desktop browser (or maybe two desktop browsers if possible) and see what happens.

[2017-01-25 21:30] ryanwarsaw commented on #1324
I think moving this up to critical status is appropriate, especially since we're going to have an influx of new contributors. It's also important that we do a better job at letting people know about processes such as creating a localization change (Pontoon).

[2017-01-25 21:30] ryanwarsaw commented on #1653
Related #1324

[2017-01-25 21:39] ryanwarsaw commented on #1601
@nailaandleeb Hi nailaandleeb, I'm sorry to see you've been having issues setting up Thimble locally. We just recently landed a PR that simplifies the setup process by using a tool called Vagrant. You might be interested to try it out, you can find more information in the README.

Furthermore, I'm going to re-open this issue because it still needs to be investigated and resolved. I understand your

[2017-01-25 21:40] ryanwarsaw commented on #1625
👍

[2017-01-25 22:11] flukeout opened #1675 "Thimble + Dev Tools: Add a simple "console" to log values."
When writing JS, using console.log() to check in on variable values is really handy. Opening dev tools while using thimble isn't a good solution because the screen gets really crowded. Is there a way to intercept console.log() calls and display them in Thimble? Any other solutions, can we add support for a "thimble.log" method?

cc @gideonthomas @humphd

[2017-01-25 22:15] humphd commented on #1675
We can do a few things:

* Automatically inject the [Firebug Lite](https://getfirebug.com/firebuglite) console into the preview window.  We've tried this before, and it's cool
* We could create our own "console" in the editor pane or Thimble, and have `console.log(..)` get converted to `postMessage` that is sent from the preview out to the editor.

The question becomes: how much work do you want t

[2017-01-25 22:31] humphd commented on #1671
Can you give me some steps to reproduce this?  I added code a long time ago to handle the scrolling position, so it's surprising to me that it's not working for you.  Doing things locally that would trigger this don't seem to cause it.

[2017-01-25 22:49] flukeout commented on #1656
Okay, I played around with this a little bit, here's what I've found...

**Setup**
* To run Flyweb, you need to run Firefox Developer Edition on the desktop
* To connect to it using a mobile device, you need to run Firefox Aurora or Nightly for Android
* For each, you need to turn on the flyweb feature flag in ``about:config``

Once this is enabled, you get to use the Flyweb API directly in your J

[2017-01-26 00:20] flukeout commented on #1671
So, investigating this more showed that it "almost" preserves the scroll position. It's just a bit off, maybe like 50-80px, which has the effect of making it seem like the page is going back to the top when a page is just barely longer than the viewport. Here's a screencap of what I'm seeing...

![scroll](https://cloud.githubusercontent.com/assets/25212/22315190/29b81f82-e31a-11e6-8459-78f75d62a4e

[2017-01-26 00:23] flukeout commented on #1671
It also happens when you are scrolled to the bottom of the page and refresh, as seen here..

![scdroll2](https://cloud.githubusercontent.com/assets/25212/22315248/7ae4ccc0-e31a-11e6-92f7-a5aa04aca8eb.gif)

This doesn't happen every single time.

Here's my hypothesis. As soon as the page refreshes, we try to apply the new scroll position, but sometimes, all of the content hasn't loaded fully yet (i

[2017-01-26 00:45] jgmac1106 commented on #1666
For now I just started remixing @humphd wiki here temporarily: https://github.com/jgmac1106/jgmac1106.github.io/blob/master/help.md

I can put this where ever Sumo end up when ready, move it  based on what comes out of  #1324, or @hannahkane if you think a Gdoc from an employee account makes sense I can do that as well.

I am following @humphd format but I am trying to reduce the specialized knowl

[2017-01-26 01:12] flukeout opened #1676 "Thimble + IoT: Look into Espruino"
There are bunch of IoT devices like puck.js that speak Javascript, and there's a web based IDE (that's open source) that you can use to program them - https://www.espruino.com/ide/

Puck.js is programmable over WiFi, so if we baked in the web based espruino IDE into Thimble, it seems like we could get someone up and running with IoT pretty quickly. Will keep researching, and might order some of th

[2017-01-26 01:44] jgmac1106 commented on #1666
##Apologize for blogging Through Issues
Though I just logged into Mattermost and maybe a Stream is a better social help solution than Discourse.

Watching the advice recently given in the Town Square is a reminder that I think its where most learning and search is heading. Social streams.

When I need help I don't use keywords. I go somewhere I know people hangout and broadcast a question. I get a

[2017-01-26 06:41] nailaandleeb commented on #1601
thanks @ryanwarsaw  i'll  try vagrant now.kindly look into this issue.

[2017-01-26 17:05] humphd commented on #1634
I'll work on this.  I'm going to fix it and write it up as an example.

[2017-01-26 17:30] flukeout opened #1677 "When auto-refresh is turned off in the preview, and I start editing a different HTML, the preview should reflect that."
Let's say I'm editing ``index.html`` with auto-refresh off in the preview. Now, when I add a new HTML file and start editing it, the preview still displays on ``index.html``. To get it to show my new page, I have to click the Refresh icon, which is not really that intuitive.

I'd expect the preview to switch as I'm moving between HTML files, even with auto-refresh turned off.

![image](https://clo

[2017-01-26 17:49] flukeout commented on #1656
@humphd @gideonthomas So in short, flyweb creates a little server via client-side javascript, then serves files to the devices that connect to it.

This works fine for published projects, as all the files are easily accessible. Is there any way to do this for an unpublished project. How are files referenced internally?

There is this url structure ``https://mozillathimblelivepreview.net/bramble/pr

[2017-01-26 18:08] flukeout commented on #1677
When auto-refresh is disabled, it also prevents you from navigating between pages via links in the preview, which we should allow.

[2017-01-26 18:26] flukeout commented on #1675
Firebug Lite isn't any smaller than normal devtools as far as I can tell, and I'd rather not spend any time hacking it to make it more compact or limited.

I'm into exploring option number 2, and don't think it would take a ton of styling. The bigger question would be about the feature set. I think at a minimum, it could just show the last console.log value that was received. We'd just have to dec

[2017-01-26 18:59] humphd commented on #1634
Blog post is up at: http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/.  I'll do the actual fix later with my students in class, to show them.

[2017-01-26 20:19] simon66 commented on #981
I'd like to work on this feature (Since it's been opened for almost 2 years).
Looks like @flukeout is assigned to it already. Are you still working on it or should I implement it?
Thanks :+1:

[2017-01-26 20:50] humphd commented on #981
Go for it, @simon66

[2017-01-27 00:36] flukeout commented on #1625
Okay, I put together a little prototype. It's not fully functional but you can check it out to get a feel of what I'm getting at.

* https://flukeout.github.io/thimble-gallery/index.html

![image](https://cloud.githubusercontent.com/assets/25212/22356322/4ef41d02-e3e5-11e6-8191-f8b28878d0f9.png)

**Notes**
* View will start with 6 featured projects
* Below the search bar we will include the most p

[2017-01-27 00:39] flukeout commented on #1625
The JSON structure for each item looks like this...

[code]

[2017-01-27 07:29] badrmodoukh commented on #1001
I would like to work on this
Is @flukeout still assigned to this? Can I start working on it?

[2017-01-27 15:39] humphd commented on #1001
@badrmodoukh it's yours, go for it!

[2017-01-27 16:16] nailaandleeb commented on #1601
vagrant is throwing an error as:

     ==> default: Err http://archive.ubuntu.com/ubuntu/ trusty-updates/main libc-ares2 amd64 1.10.0-2ubuntu0.1
      ==> default:   Cannot initiate the connection to archive.ubuntu.com:80 (2001:67c:1360:8001::17). - connect (101: Network is unreachable) [IP: 2001:67c:1360:8001::17 80]
      ==> default: Err http://archive.ubuntu.com/ubuntu/ trusty/universe libv8-3

[2017-01-27 16:19] humphd commented on #1601
That looks like network trouble.  You can just retry it with `vagrant up --provision` as many times as you like until that command works.

[2017-01-27 16:40] raygervais commented on #1635
@flukeout @humphd, I'd like to fix this bug. Can you point me to the coding conventions & contributions document?

[2017-01-27 16:48] flukeout commented on #1001
Let's go with this copy...

``Are you sure? The published version of this project will also be deleted."

[2017-01-27 16:52] flukeout commented on #1001
@badrmodoukh For extra points, we can also display a different message depending on if the project has actually been published.

* If not published - ``Are you sure you want to delete this project?``
* If published - ``Are you sure? This will also delete the published version of this project.``

[2017-01-27 17:01] Th30 commented on #841
I'm interested in helping with this:)

[2017-01-27 17:44] naperkovskiy commented on #1668
I'd like to try and fix that issue

[2017-01-27 17:48] Taguiar commented on #1667
I wold like to fix this bug

[2017-01-27 17:50] davidhuang1550 commented on #1673
Id like to work on this.

[2017-01-27 17:51] Abykin commented on #1632
@flukeout @humphd, I'd like to work on this bug.

[2017-01-27 17:52] timmoy commented on #1633
Hi, I'd like to take a stab at fixing this bug.

[2017-01-27 17:53] omytryniuk commented on #1627
I would like to work on this issue.

[2017-01-27 17:53] evantsyferov commented on #1665
I want to work on this bug.

[2017-01-27 17:54] dsych commented on #1154
Can I try to do this one?

[2017-01-27 17:54] Shank09 commented on #1528
I'm interested on working on this bug

[2017-01-27 17:55] cgsingh commented on #1525
I'd like to make an attempt at tweaking this for credit for my school assignment: "when you switch to the light theme, the file navigation bar on the left takes the same similar white color scheme."

[2017-01-27 17:55] kramsamujh commented on #1629
I'm interested in working on this bug.

[2017-01-27 17:58] ZenanZha commented on #1658
I'll try to fix this problem because it looks interesting. I have no idea if I can do it or not, but I'll try my best to work on it.

[2017-01-27 17:58] bkim49 commented on #1279
I would like to work on this bug!

[2017-01-27 18:00] lkisac commented on #719
I would like to work on this bug.

[2017-01-27 18:01] flukeout commented on #1629
Sounds good, @kramsamujh - I think what we'd need done is to have an extra column in the projects database that would keep track of this property, then we can sort the list with those items at the top.

Also, if someone clicks on an item to make it their favorite, we should move it to the top of the list immediately.

@gideonthomas can you weigh in on this? Would it be a big lift to add an additio

[2017-01-27 18:02] flukeout commented on #719
@gideonthomas can you weigh on this and guide @lkisac in the right direction?

[2017-01-27 18:02] bkim49 commented on #1100
I would like to work on this bug! Hopefully I can fix it :(
Is that okay?

[2017-01-27 18:02] twigz20 commented on #1630
I'd like to start working on this bug.

[2017-01-27 18:02] edyedy123 commented on #1665
Id like to work on this one too

[2017-01-27 18:03] MargarytaChepiga commented on #1596
I would like to work on this bug. Can I do that?

[2017-01-27 18:03] flukeout commented on #1668
Sounds good @naperkovskiy - let me know if you want any clarification or additional UX details.

[2017-01-27 18:05] flukeout commented on #1100
Sounds good @bkim49 let me know if you're able to get the theme to switch, and I can provide you with a stylesheet or colors.

[2017-01-27 18:06] flukeout commented on #1633
Sounds good @timmoy

[2017-01-27 18:06] tonypark0403 commented on #1677
Hi, I'd like to take a stab at fixing this bug.

[2017-01-27 18:07] sgupta7857 commented on #1636
hey, I would like to work on this bug. thanks

[2017-01-27 18:08] flukeout commented on #1154
Sounds good @dsych - this one might be tricky, let me know if you can reproduce it reliably.

[2017-01-27 18:11] flukeout commented on #1525
@cgsingh - it actually looks like this is a duplicate of #1100 - any chance you could collaborate on that one with the other contributor? I'm going to close this issue, sorry about that.

[2017-01-27 18:11] #1525 closed

[2017-01-27 18:14] edyedy123 commented on #1229
Id like to work on this

[2017-01-27 18:19] flukeout commented on #1630
Thanks @twigz20 let me know if you need any help. I envision some kind of dropdown menu from the  Editor bar....

![image](https://cloud.githubusercontent.com/assets/25212/22382257/bfe420d6-e479-11e6-9c1c-3889f5e23911.png)

One of the tricky bits is that when you click away from the editor, it loses focus, so I'm not sure if it will know where the cursor last was. We'd need to know that because th

[2017-01-27 18:19] Blackweda commented on #1536
Can I take a try at this one??

[2017-01-27 18:19] cgsingh commented on #1534
I would like to attempt to fix this issue.

[2017-01-27 18:20] flukeout commented on #1665
Are you able to collaborate on this one? Otherwise I think we should give @evantsyferov first crack. Let me know.

[2017-01-27 18:20] flukeout commented on #1677
Greart, @tonypark0403 - let me know if you need any clarification and if you're able to reproduce the behaviour I'm describing.

[2017-01-27 18:21] flukeout commented on #1636
Sounds good @sgupta7857 - let me know if you're not able to reproduce the behavior in the gif.

[2017-01-27 18:22] flukeout commented on #1229
Sounds good @edyedy123 - we'll need to set some kind of ``max-width`` property for these images.

[2017-01-27 18:26] flukeout commented on #1534
Sounds good @cgsingh - I'm pretty sure the only reason this happens is because the button shifts downwards when it is clicked, and so the mouse isn't pointing at it anymore. You can see that behavior here...

![publish](https://cloud.githubusercontent.com/assets/25212/22382507/cfbdde42-e47a-11e6-9831-552836b30a94.gif)

Let me know if you want some ideas on how to solve this or if you've got your o

[2017-01-27 18:27] flukeout commented on #1632
Sounds good @Abykin - let me know if you need any help. Might as well also give it a maximum font-size. Let me know once you've got some values picked out for those.

[2017-01-27 18:27] flukeout commented on #1667
Sounds good @Taguiar

[2017-01-27 18:27] flukeout commented on #1673
Sounds good @davidhuang1550 - let me know if you're able to reproduce this issue.

[2017-01-27 18:29] flukeout commented on #841
Sounds good @Th30 - While you're at it, are you able to increase the font size in that menu to match the size of the fonts in the file-tree? Totally optional, but would be nice.

[2017-01-27 18:31] flukeout commented on #1635
@raygervais I'm not sure we have a coding conventions doc. Do we @gideonthomas

As far as contributing, the first step would be to get your dev environment up and running. Follow the steps in the readme here... https://github.com/mozilla/thimble.mozilla.org

Then, you're free to get rolling and ask us for help if you get stuck.

[2017-01-27 18:35] edyedy123 commented on #1665
I'll just work on another bug.

[2017-01-27 18:39] flukeout commented on #1661
Okay, thanks so much @Rajat-dhyani - we've merged your PR.

[2017-01-27 18:40] timmoy commented on #1633
Hi, I'd like to take a stab at fixing this bug.

[2017-01-27 18:41] flukeout commented on #1626
@indranil-tiwary are you good to get started on this?

[2017-01-27 18:42] flukeout commented on #1543
If someone takes this on I'll gladly do the design. I think we should only show it on the desktop version of the remix button details bar.

[2017-01-27 18:43] flukeout commented on #1665
Thanks @edyedy123 - what about bug #1333 ?

[2017-01-27 18:46] Th30 commented on #841
sure I'll give it my all:)

[2017-01-27 18:51] edyedy123 commented on #1665
Thanks for the suggestion but I've chosen to work on https://github.com/mozilla/thimble.mozilla.org/issues/1229.

[https://avatars0.githubusercontent.com/u/25212?v=3&s=400]<https://github.com/mozilla/thimble.mozilla.org/issues/1229>

Fix or change tutorial styling so that images don't extend ...<https://github.com/mozilla/thimble.mozilla.org/issues/1229>
github.com
Fix or change tutorial styling s

[2017-01-27 19:07] cgsingh commented on #1534
Thanks for pointing that out @flukeout. If you've got any ideas, I'll gladly take them. Right now I'm in the process of setting up Thimble and all its dependencies so I can actually start working. I just wanted to reserve this issue for my class so nobody else takes it, ha.

[2017-01-27 19:28] JohnEJames commented on #1334
I would like to try to resolve this bug @humphd

[2017-01-27 19:28] humphd commented on #1334
Sounds good, it's yours @JohnEJames.

[2017-01-27 19:34] humphd commented on #1536
@Blackweda, sure, it's yours.  If you want to borrow a ChromeBook from me, let me know on Tuesday.

[2017-01-27 19:36] humphd commented on #1596
@MargarytaChepiga yes, it's yours.  Let me know if you need advice on tackling it.

[2017-01-27 19:40] humphd commented on #1528
OK @Shank09, it's yours.

[2017-01-27 21:02] Pomax opened #1678 "seemingly incorrect syntax error when using "import""
When using ES6 `import` syntax in a file, the console complains that:
[code]
even when a file only contains:
[code]

[2017-01-27 21:24] simon66 opened #1679 "Current version doesn't install on Win/MacOs"
Tried installing a fresh copy of Thimble on both Win 7 (x64) and MacOS (Sierra) and I get the following error:

![capture](https://cloud.githubusercontent.com/assets/1103528/22387732/1b936604-e4ab-11e6-95f2-6c6665397351.PNG)

I installed Brackets first then Thimble.

Looks like the .env file is missing
I see that there's a script that copies ["env.dist" to ".env"](https://github.com/mozilla/thimbl

[2017-01-27 21:51] Pomax commented on #1679
Is this with the `vagrant` solution outlined in the README.md, or is this running custom steps?

[2017-01-27 22:12] hannahkane commented on #1625
Nice work, @flukeout! Some questions / thoughts:
 * Does this address #1171, as per comment above? Just want to make sure we don't lose that.
 * I think we might want to consider adding an "Authors" field, but not if all of the authors will just be Mozilla. Maybe @chadsansing can weigh in on how many featured projects are likely to have community members as contributors.
 * The filters feel like o

[2017-01-27 22:22] flukeout commented on #1625
Hey @hannahkane, thanks for the feedback

* Yeah, we can address #1171 with the changes we're making in the gallery, good catch.
* I'll add an authors field, we can always remove it after. One of the concerns is if we add something, and then the original author (who isn't us) modifies or unpublishes a project, we will be in a bad place.
* Not limited to 6 items, the plan is to have more more more.

[2017-01-27 22:23] hannahkane commented on #1625
Cool. Thanks, @flukeout. Will search results with more than six items be paginated?

[2017-01-27 22:29] flukeout commented on #1625
I guess it depends on how many we have total. I think for a start, we can just show any that match the search criteria.

[2017-01-27 22:36] badrmodoukh commented on #1001
Is there code available to check whether a project has been published or not?
Or would I need to implement this?

[2017-01-27 23:02] simon66 commented on #1679
Ah I see... We let vagrant install thimble. The README wasn't clear enough to me.
I was trying to install it via `npm install`

[2017-01-27 23:02] #1679 closed

[2017-01-27 23:08] humphd commented on #1679
@simon66 maybe you should add a note to the `README.md` to help others not make this same mistake--it seems like something others might hit?

[2017-01-28 00:07] simon66 commented on #1679
@humphd Funny you say that, I'm actually working on it (I noticed the actual README.md has a few mistakes) :)

[2017-01-28 01:15] cgsingh commented on #1534
I'm pleased to say that I've fixed the bug and I only edited the bramble-ui-bridge.js file. Instead of click(), it uses the mousedown mouse event, however it'll only call the showPublishDialog() function if the left-button was pressed. This also strangely solves the top-edge issue as well, but I'm not complaining! I'll be making a pull request as my assignment instructs me to do. Thanks for giving

[2017-01-28 04:13] nailaandleeb commented on #1601
Now the error is:

        GPG error: http://ppa.launchpad.net trusty InRelease:

        The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 1E9377A2BA9EF27F

and it is consistences after over night tries.....what key it needs?

[2017-01-28 04:23] peiying16 commented on #1623
This sounds interesting. I would like to do it.

[2017-01-28 04:58] davidhuang1550 commented on #1673
Got it, I was able to reproduce this issue.

[2017-01-28 10:36] khanh2003 commented on #1625
@flukeout Currently I can't.
Console messages:

[code]

[2017-01-28 17:26] flukeout commented on #1625
You're right, same for me - I have to update the database credentials in the dashboard, they were changed recently.

[2017-01-28 19:04] Pomax commented on #1606
Certainly, sorry for the delay - there are several types of testing that are needed:

- unit testing of code (e.g. verifying that functions and sets of functions do what they should do, both on expected and unexpected input). This would be a *lot* of work to set up and not something we should start with
- integration testing (e.g. making sure that code in thimble that relies on brackets, id, etc.

[2017-01-28 19:06] Pomax commented on #1652
is there a hard dependency on there being an `index.html` in the filesystem?

[2017-01-28 19:16] Pomax commented on #1644
Sounds like the old 3D view in developer tools, https://developer.mozilla.org/en/docs/Tools/3D_View, although that was removed from Firefox in v47

[2017-01-28 19:23] Pomax commented on #889
Hello I am a user =)

Being able to drag my code into Thimble for immediate editing and then getting it back out with an export is actually really nice. Rather than close, I'd say "let's go with `thimble-project` and if an imported zip only contains that dir at the top level, move everything up one level".

It's a nice feature to have, an interesting feature to work on for contributors, and opens

[2017-01-28 19:24] Pomax commented on #1518
Where is this actually coming from though? Can we find a way for it to not even show up in the first place rather than trying to hide it?

[2017-01-28 19:27] simon66 commented on #981
I thought of 3 possibilities where we can have the export button:

1) When a "guest" (Not logged in user) starts a new project, this is how they can export the project
![capture1](https://cloud.githubusercontent.com/assets/1103528/22399100/ec27ed90-e563-11e6-85c5-0e6d4d8a326c.PNG)
2) We can add an export button here but I'm not too sure if this is a good spot (If they minimize the side bar, the ex

[2017-01-28 19:29] Pomax commented on #1653
https://github.com/mozilla/thimble.mozilla.org/pull/1672 landed.

[2017-01-28 19:29] #1653 closed

[2017-01-28 19:32] Pomax commented on #1656
is FlyWeb still being actively worked on?

[2017-01-28 19:33] Pomax commented on #1658
This would be nice for "more than just AFrame" really - a context-aware menu where you can always find "predefined things" depending on what file/scope you're in? I'd love to have a list of prefab HTML snippets, JS snippets, etc to speed up PoC work and play.

[2017-01-28 19:51] Pomax commented on #1630
This feels like it can tie into the Aframe components menu issue, too.

[2017-01-28 20:01] Pomax commented on #1543
@cgsingh I'm seeing commits in this issue from your repository, does that mean you are currently working on trying to solve this issue? If so, I would encourage you to communicate that here so we know you're on the job, and can help with any questions in the right place =)

[2017-01-28 20:01] Pomax commented on #841
oh man I just ran into this again today, super excited to see @Th30 tackling this.

[2017-01-28 20:10] Pomax commented on #1001
You should be able to tell whether a project is published based on whether or not it has a `project.publish_url` property set.

[2017-01-28 20:15] Pomax commented on #981
It feels like exporting should be associated with the project irrespective of the user, so I kind of like the idea of having it be an "always available" icon on the file tree, rather than keeping it in the user menu. @flukeout?

[2017-01-28 20:39] rkgupta21 commented on #1637
I am interested in working on the issue.

[2017-01-28 21:05] humphd commented on #1637
Great, @rkgupta21, it's yours.

[2017-01-28 21:09] humphd commented on #981
I'd vote for the download button beside the '+' icon over the file tree.  @flukeout will need to approve whatever we do here.

[2017-01-28 21:13] humphd commented on #1518
It's an artifact from Brackets, I think to do with selection of a file in the filetree.  We hide a bunch of the filetree (they have 2 sections for all files vs. open files), and I bet we missed something in there.

[2017-01-28 21:15] humphd commented on #889
The code for this is in here https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/ArchiveUtils.js.  It would be pretty easy to change.

[2017-01-28 21:20] humphd commented on #1652
I think so, or the live preview code gets confused.  Likely what's happening here is that when we mount the filesystem, it tries to find an `index.html`, and either fails, or we fail to call a callback/errback.

We mount the filesystem in Thimble here:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/bramble-editor.js#L28

[2017-01-28 21:24] humphd commented on #1623
Great @peiying16, go for it!

[2017-01-28 21:26] humphd commented on #1601
Something sounds corrupt in the VM, and I see others having similar issues: http://askubuntu.com/questions/566195/signatures-not-verified.

What I'd do is this:

[code]

This should force it to do things again and clean up whatever mess it got into with the downloads.  Sorry you're having issues.

[2017-01-28 23:06] cgsingh commented on #1543
@Pomax Oh dear. I accidentally referenced 1543 instead of 1534 on my last commit to my only pull request. Sorry, bad typo.

[2017-01-29 06:23] simon66 commented on #981
I also just thought about another option

![capture4](https://cloud.githubusercontent.com/assets/1103528/22402336/23c72cae-e5c1-11e6-973d-d1af39382f65.PNG)

Of course the icon will be changed to match the color scheme.

As for putting the icon on the file tree, what should be its behavior when the user minimizes the file tree? Should the Export button be hidden as well?
Waiting on @flukeout :)

[2017-01-29 07:43] dsych commented on #1154
I am having trouble reproducing the bug by the exact steps you've described above.
However I've managed to do it the other way, as follows:
Enlarge the browsing window by dragging it to the right. Eventually this will happen.
![bug](https://cloud.githubusercontent.com/assets/16144679/22402639/a3e3ea8e-e5cc-11e6-9001-99dc2ef1e720.png)

[2017-01-29 13:36] AlexMeier99 commented on #1518
Today i tried the thimble preview again, triggerd by the github notification of the changes here.
So i don't see the blob any more, is it fixed?
(latest Firefox on Windows 7)

[2017-01-29 18:10] humphd commented on #1518
@AlexMeier99 it's an odd bug, and I don't think it happens all the time--which is partly why it hasn't been fixed in the past.  Part of what we need is clear steps to reproduce it.

[2017-01-29 18:12] humphd commented on #981
@simon66 it's too niche a feature to highlight so prominently with such a significant UI addition.

[2017-01-29 18:14] humphd commented on #1543
@cgsingh you can fix it like this, for future:

[code]

This will update the commit message on your last commit.

[2017-01-29 18:49] dangkhue27 commented on #1652
I would like to work on this if no-one is working on it.

[2017-01-30 02:39] humphd commented on #1652
Sounds good, @dangkhue27, go for it.

[2017-01-30 06:30] flukeout commented on #1518
@AlexMeier99 for me it's always visible when the preview is in fullscreen mode. Is that where you were seeing it originally? To go full-screen, hit the icon on the far right of the preview bar...

![image](https://cloud.githubusercontent.com/assets/25212/22414193/777375ae-e672-11e6-8ee1-5f5605ec978f.png)

[2017-01-30 06:32] flukeout commented on #981
Hey @simon66 sorry for the hold up, made a note to jump on this first thing in the morning. Are you held up by design at this point?

[2017-01-30 07:01] flukeout commented on #981
Great work putting these options together, by the way. It does make sense putting the export feature closer to the files, it's an area that's visible for guests and signed-in users alike.

However, it clutters up that little bar with a feature that won't get used a lot. It might lead to mis-clicks which start a potentially big download immediately. Having just the small icon to communicate what it

[2017-01-30 09:33] Pomax commented on #981
another thought, what if "files" itself is a dropdown menu? `[files ▽]` with under that some options like "new file", "export", "import" etc, while keeping the dedicated [+] and collapse option?

[2017-01-30 11:49] AlexMeier99 commented on #1518
@flukeout So this is what is see in my thimble fullscreen preview:
![fullpage-screenshot-thimble](https://cloud.githubusercontent.com/assets/17048656/22422008/7c7f99a6-e6ea-11e6-9b76-f9f95e2f5e21.jpg)

[2017-01-30 11:49] AlexMeier99 commented on #1518
No blob anymore?

[2017-01-30 11:53] rajpatel507 commented on #1606
@Pomax Before we go into integration part we need to choose automated test framework, Jasmine is default choice for most of JS developer for its easy to lean and use approach but since then lots of new JS framework have come so someone with good experience in automaton testing can suggest good framework and then we can start integrating it with project.

[2017-01-30 16:46] flukeout commented on #1518
Before going fullscreen, select one of the files...

![image](https://cloud.githubusercontent.com/assets/25212/22432047/813aa37c-e6c8-11e6-8798-af09ffb53879.png)

That bring up the blob for me.

[2017-01-30 16:52] flukeout commented on #1625
I've updated the JSON structure to include
* Author and link to author
* Link to teaching kit

[code]

[2017-01-30 17:17] chadsansing commented on #1625
A clarification question: this is for thimble.mozilla.org rather than learning.mozilla.org/activities, correct?

I think it's okay to lose lesson plans (e.g. https://mozilla.github.io/curriculum-final/make-your-first-webpage/session04-common-tags.html#overview) if we have great content with embedded tutorials. We would not want to feature a beginning project from us or a community member without a

[2017-01-30 17:38] flukeout commented on #981
Given all of the options, I'd like to go with the following...

![image](https://cloud.githubusercontent.com/assets/25212/22434052/6420b874-e6cf-11e6-96ad-20a4eacaa4fd.png)

The icon need some work, I'll create it.

Benefits
* This menu is already built and is tied closely with file-related actions

Drawbacks
* We lose the "+" icon, which is a super obvious for adding new files

However, with the

[2017-01-30 17:39] flukeout commented on #981
I also considered this approach, which is an adaptation of @Pomax's idea..

![image](https://cloud.githubusercontent.com/assets/25212/22434180/e40b4d24-e6cf-11e6-894b-83a35b71ab72.png)

I think this works pretty well also, but it's not as obvious and removes a common UI element that our users are already familiar with.

[2017-01-30 17:45] Pomax commented on #1606
Never make sweeping statements about "the JS community", there are too many things we do to make any claims about what "we" do as a collective.

Let's start with a basic karma/phantom setup: as first step, we'll need to add karma/chai/mocha/phantom to the dependencies list, and set up a basic karma conf and simple test.js file that doesn't do much more than just assert that it can run at all.

[2017-01-30 17:49] flukeout commented on #1625
Yes this is for ``thimble.mozilla.org``. As far as the lesson plan, for the activities that have one, it will be linked at the bottom of the activity card as a "Teaching Kit", like this...

![image](https://cloud.githubusercontent.com/assets/25212/22434541/584b93be-e6d1-11e6-8797-44a391e63862.png)

``Lesson Plan`` sounds better though, should I change the label?

[2017-01-30 17:52] Pomax commented on #981
fair points - I'm kind of missing a "create a file" without html/css/js enforcement but for the Thimble audience that might not be a real problem.

[2017-01-30 17:54] flukeout commented on #981
Are you missing it for your own work flow? You can right-click the file tree and do it via the context menu.

[2017-01-30 17:57] humphd commented on #981
I love this change, and moving "Download files (.zip)" into that menu.  Great idea.

[2017-01-30 17:58] Pomax commented on #981
yeah I've been using the "hidden" right click menu in the file browser a lot, but I'm a bit more of a poweruser than most thimble users will be, I readily admit

[2017-01-30 18:01] flukeout commented on #981
@humphd just to clarify, you're referring to the first option I posted, yeah?

[2017-01-30 18:17] simon66 commented on #981
@flukeout After looking at both options, I really like Option 2.
Let me know which option you prefer 👍

[2017-01-30 18:37] flukeout commented on #981
@simon66 I think you're right, and I think humph is referring to Option 2 as well. Let's roll with that, it feels better.

[2017-01-30 18:37] AlexMeier99 commented on #1518
Ok now I got the same bug.
Then i checked the thimble code for the "fullscreen preview functions" called _enableFullscreenPreview_ and _disableFullscreenPreview_ (contained in:  https://raw.githubusercontent.com/mozilla/thimble.mozilla.org/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/bramble-ui-bridge.js  from line 282 to 294). I think these are called to show/hide t

[2017-01-30 19:17] flukeout commented on #1518
One thing I've noticed is that that little element gets a ``z-index: 18`` rule somewhere in the CSS. This places it above the full-screen preview. If we are able to get rid of that rule, that would solve this as well and might be an easier approach.

[2017-01-30 19:20] flukeout opened #1681 "Image preview in Editor visible overtop of full-screen preview."
This is happening in Chrome, see below...

![preview](https://cloud.githubusercontent.com/assets/25212/22437699/eb477514-e6dd-11e6-8a66-7c0d728792bc.gif)

Probably related to #1518

This can probably be resolved by adjusting the z-index of the fullscreen preview to make sure it overlaps everything in the editor.

[2017-01-30 19:20] flukeout commented on #1518
Also, check out #1681 - it seems related, maybe we can just adjust the fullscreen preview z-index to be higher than the stuff that is currently overlapping it?

[2017-01-30 19:29] flukeout opened #1682 "Compile list of starter projects for the new Thimble Gallery"
The updated starter projects gallery is moving along nicely in #1625, you can try it out here...

* https://flukeout.github.io/thimble-gallery/index.html

To make this more useful for our users, let's figure out:

* What projects we want to feature
  * Do we want to feature projects made by others?
  * If so, we need to have a mechanism for realizing they may have changed or been un-published
  *

[2017-01-30 19:36] humphd commented on #1681
This is probably fixed with a `z-index` change to our fullscreen preview to layer it on top of all content in the editor.  See discussion in #1518

[2017-01-30 19:38] humphd commented on #981
I'm taking about this one:

 ![image](https://cloud.githubusercontent.com/assets/25212/22434052/6420b874-e6cf-11e6-96ad-20a4eacaa4fd.png)

[2017-01-30 19:41] jgmac1106 commented on #1682
This is the make-a-meme I remixed from @openmatt's project on old Thimble:
https://thimbleprojects.org/jgmac1106/1979/ It is really the first thing I
do with new learners to Thimble bc it is easy and well known genre

This is a six word memoir I remixed from @sunnydeveloper that teachers love
but I think the code could use some love:
https://thimbleprojects.org/jgmac1106/1979/

This is an About Me

[2017-01-30 19:45] flukeout commented on #981
@simon66 I'm going to collect some more feedback on this issue. In the meantime, continue with **Option 1** - it's the easier change, and if we decide to move to option 2, we can re-style the menu and add the affordance to the Files title in phase 2.

Does that sound OK?

[2017-01-30 20:29] chadsansing commented on #1625
I like the idea, but we do have a problem with vocab and holding over terms that aren't clear any more. Maybe "Module" or "Curriculum Module" would work better? The current taxonomy I use in materials and at trainings is Module (replaces training kit; also like a "unit" of study --> Activity (lesson plan; also replaces a different understanding of teaching kit) --> Project (a Thimble project to re

[2017-01-30 21:33] flukeout commented on #1625
I guess out of those "Activity" would be the term we'd want to roll with? Since the Thimble page doesn't necessarily benefit from the wider mozilla curriculum framing, maybe we could call it "Teaching Activity" so that it's more clear?

[2017-01-31 00:06] chadsansing commented on #1625
We're featuring Thimble projects, though - correct? Why not "Project?" Not everything we might suggest for curation will have a teaching activity.

[2017-01-31 00:53] gideonthomas commented on #1682
@flukeout, one concern that just crossed my mind is about the tags. How are we managing (controlling) them? Can they be user generated? All these questions should mainly play into the broader question of how do we localize tags?

[2017-01-31 02:01] Pomax commented on #1682
localizing tags is not a thing you should want to do: tags are explicitly useful as an in-locale filtering mechanism, guaranteeing you (well, mostly) that the results will be in a locale you can understand. If we want cross-locale category-based discovery, that's a much harder problem that we should try to solve (although I would argue not any time soon, if ever) as a separate effort.

[2017-01-31 02:02] simon66 commented on #981
Perfect! I'm going with Option 1. I mean, it should be an easy change if we decide with Option 2.
I'll work on it and wait for the new icon :+1:

[2017-01-31 10:54] chadsansing commented on #1625
We could tag them as "for educators."

[2017-01-31 15:24] twigz20 commented on #1630
Hey, I was wondering is it possible to point me in the right direction? I'm having difficulty in finding the files I have to work with.
Thanks in advance.

[2017-01-31 16:44] flukeout commented on #1625
Hey @chadsansing just to make sure we're on the same page, I'm referring to the label used on the button that links to the Teaching Kit for an activity...

![image](https://cloud.githubusercontent.com/assets/25212/22474705/854b3020-e791-11e6-87ad-d021bb57c95e.png)

[2017-01-31 16:46] chadsansing commented on #1625
Totally - "For educators" would let us use that box to link to a module, lesson plan, teaching kit - whatever. Use it by audience, rather than type of thing.

[2017-01-31 17:09] flukeout commented on #1682
@gideonthomas I'm just adding tags myself at this point. The data structure looks like this...

[code]

Open to suggestions re localization

* We could try to translate each one as we add it to the page by pulling from our message.json files?
* We could add an array to this data set per locale?
* We could have an entirely different activity JSON file for each locale?
* ...?

[2017-01-31 17:14] flukeout commented on #1682
* Dapper fox animation - https://thimbleprojects.org/flukeout/16745/
* p5.js starter project - https://thimbleprojects.org/flukeout/172572/

[2017-01-31 17:18] flukeout commented on #1656
It's being worked on, although right now they are focusing more on the device to browser use case as opposed to the browser to browser one I was playing around with.

[2017-01-31 17:22] chadsansing commented on #1682
- I dig Greg's profile page - https://thimbleprojects.org/jgmac1106/125658.
- Kim's Avatar Reveal - https://thimbleprojects.org/techkim/93336/.
- Kim's Coded Art Gallery - https://d157rqmxrxj6ey.cloudfront.net/techkim/41376/.

[2017-01-31 17:26] chadsansing commented on #1682
- CSS Building Blocks - https://d157rqmxrxj6ey.cloudfront.net/chadsansing/15991/
- #commontags - https://thimbleprojects.org/chadsansing/96059/
- Revise a resume - https://thimbleprojects.org/chadsansing/96353/
- Revise a business page - https://thimbleprojects.org/chadsansing/96935/

[2017-01-31 18:06] flukeout commented on #1682
We'll also need thumbnail images for all of these. I'll figure out a good style guide / format.

[2017-01-31 18:37] flukeout commented on #1676
I ordered a puck.js - https://www.adafruit.com/product/3372 - will update this issue once it arrives and I figure it out.

[2017-01-31 23:26] lkisac commented on #719
I tried replicating the issue it seems to be working for me.  I created a new project, saved it. then checked the project list and it said 'Last edited a few seconds ago'.  Waited for about 10 minutes then renamed and saved the project and it also said 'Last edited a few seconds ago' with the new project name.

[2017-01-31 23:32] lkisac opened #1684 "clicking 'Your Projects' returning to Thimble homepage"
After creating a new project and saving it, I tried clicking on the 'Your Projects' link in the dropdown under my username and it sends me back to the Thimble homepage.
It was working earlier, but suddenly stopped.  I'm running it in a Chrome browser.
**EDIT:**  I cleared the cache and cookies (for the past day) and refreshed the page and it works now.  What could be the reason for the cache or co

[2017-01-31 23:38] flukeout opened #1685 "Project stuck in "Saving failed, retrying..." state."
I made some changes to an already-published project including dragging an image file into the file three and then moving it to the images folder. I tried to update the published project, and now it's stuck in this state...

![image](https://cloud.githubusercontent.com/assets/25212/22489236/3062dd6c-e7cb-11e6-95dc-2b28e3033d50.png)

The images aren't very big in this project, so it's not that.

Pub

[2017-01-31 23:43] flukeout commented on #1685
I cleared my IndexedDB and was able to return to a 'normal' state. The image file in question ``thumbnail.gif`` is still visible in the images folder. I made a text change to the project and hit "Update Published".

However, that file is not available in the published project:

* Old image, works https://thimbleprojects.org/flukeout/16745/images/dapper-fox.png
* New image, doesn't https://thimblep

[2017-01-31 23:45] flukeout commented on #1685
Update - seems to work now, the image is published...

* https://thimbleprojects.org/flukeout/16745/images/thumbnail.gif

[2017-01-31 23:59] flukeout commented on #719
One aspect of this that isn't working quite right is that you don't get the option of Updating your published project after changing the name.

@lkisac - try renaming an already published project. Now click on the Publish button, you'll see that there is no option for Updating the published project, but there should be, since an aspect of it is different now.

[2017-02-01 00:19] lkisac commented on #719
@flukeout  Ok.  The 'Update published version' button does not appear after renaming a project, only after making a code change.  I will work on this aspect.

[2017-02-01 00:22] flukeout commented on #719
Thanks @lkisac - I'll update the issue title to reflect that.

[2017-02-01 00:44] flukeout opened #1686 "Republished project no longer available"
So I have this project, which I originally published to this URL

* https://d157rqmxrxj6ey.cloudfront.net/flukeout/19650/

Then, I changed something and updated the published project, which set the new URL to...

* https://thimbleprojects.org/flukeout/4754

...but, this URL doesn't work.

@gideonthomas

[2017-02-01 00:44] flukeout commented on #1686
Here's the published URL, as seen in the Editor...

![image](https://cloud.githubusercontent.com/assets/25212/22490867/90454a04-e7d4-11e6-8512-b6994d196eb7.png)

[2017-02-01 00:45] flukeout commented on #1686
However, if I use the old project ID with the new ``thimbleprojects.org`` domain, it works.

* https://thimbleprojects.org/flukeout/19650/

[2017-02-01 01:13] gideonthomas commented on #1630
Hi @twigz20,

There are two parts to this issue tbh, one part needs to be fixed in Thimble, and the other part needs to be fixed in Brackets. Here are some details:

### Brackets code changes
First, make sure you're all setup. Here are the [instructions to setup Brackets](https://github.com/mozilla/thimble.mozilla.org#editor). You will work in that codebase for the following tasks:

1. Add an exte

[2017-02-01 01:16] gideonthomas commented on #1684
Hi @lkisac, would you be able to let us know when you encountered this issue and if you tried before that and it worked? We pushed up a fix for this recently so that you wouldn't have to keep clearing your cache, but unfortunately, some people who already experienced this problem might not be able to recover from that issue until they clear their cache once (the idea was that they would never have

[2017-02-01 01:19] gideonthomas commented on #1686
Hmm off-hand, that project id you see in the dialog looks wrong (the id is too small of a number). I would try to republish if your editor has up-to-date content.

[2017-02-01 01:43] gideonthomas commented on #1677
@tonypark0403, just to give you a bit of context:

- You will need to make the code change in the Brackets repository (check the readme for how to set that up) but the easiest way to test it is with Thimble (by using the UI to toggle the auto-reload feature)
- The change that probably needs to be made is in [this file](https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/

[2017-02-01 01:52] gideonthomas commented on #1673
@humphd any idea where the code might be that does error handling for renames?

[2017-02-01 02:03] tonypark0403 commented on #1677
Thank you.

I will look into the file.
But, I wonder why we got another repository, thimble?
Please explain it more.
Thank you again.

Sincerely,

Tony Park

From: Gideon Thomas [mailto:notifications@github.com]
Sent: Tuesday, January 31, 2017 8:43 PM
To: mozilla/thimble.mozilla.org <thimble.mozilla.org@noreply.github.com>
Cc: Heetai Park <hpark77@myseneca.ca>; Mention <mention@noreply.github.com>

[2017-02-01 02:16] twigz20 commented on #1630
@gideonthomas Thanks for guiding me in the right direction.

[2017-02-01 02:24] gideonthomas commented on #719
Sorry for chiming in late. Since the initial issue has been resolved, this is no longer a `publish.webmaker.org` patch (will remove the label).

To go about fixing this, @lkisac, you need to do a couple of things:

1. [This function](https://github.com/mozilla/thimble.mozilla.org/blob/master/public/editor/scripts/editor/js/fc/publisher.js#L66-L83) needs to be on the `Publisher` prototype and proba

[2017-02-01 02:50] jgmac1106 commented on #1682
Is there one on the basic of Rest APIs? I haven't come across one but
discovery isn't the easiest. might be a good mid level project to feature.
Old thimble used to have this one by @fourtonfish:
https://fourtonfish.makes.org/thimble/make-your-own-web-mashup-introduction-to-web-apis

On Tue, Jan 31, 2017 at 1:06 PM Luke Pacholski <notifications@github.com>
wrote:

[2017-02-01 02:57] gideonthomas commented on #1599
Just removing the "assigned to contributor" flag for now since I can assign @ryanwarsaw to the issue instead.

[2017-02-01 03:10] gideonthomas commented on #1627
Changes need to be made [here](https://github.com/mozilla/thimble.mozilla.org/blob/master/views/editor/projects.html#L30-L31). It basically needs to be wrapped in an anchor tag.
We probably need to pass in `locale` and `querystring` as well into [options here](https://github.com/mozilla/thimble.mozilla.org/blob/master/server/routes/projects/read.js#L76) so that they can be used in constructing the

[2017-02-01 03:14] peiying16 commented on #1623
We can add the toggle by modifying the file which is located on thimble.mozilla.org\views\editor\publish.html
Can anyone tell me what the toggle do if it is on/off?

[2017-02-01 03:17] gideonthomas commented on #1635
No coding conventions document yet since we don't specifically follow a style guide. @raygervais, for now, I would try to follow the conventions that you see in the file you are working with. If there are any issues with coding conventions, we will point them out in your PR so I wouldn't worry about them at the moment.

[2017-02-01 03:21] gideonthomas commented on #1667
@flukeout yes that indicator should only show up if it saves to the server.

I am hesitant to leave this as a "good first bug" since this might involve touching/investigating complex code in our file syncing logic. @humphd what do you think?

[2017-02-01 03:28] gideonthomas commented on #1677
@tonypark0403, if you look at the setup instructions on the [repo homepage](https://github.com/mozilla/thimble.mozilla.org), it will explain how "Thimble" is divided across different services and apps.

The tldr; for your specific question is that we have taken Adobe Brackets (it's own github repo), forked it, and modified it to be usable in the browser and for Thimble (and we call it Bramble). We

[2017-02-01 03:45] gideonthomas commented on #1623
I would like to scope this issue down a bit because completely implementing this feature will require changes to `publish.webmaker.org`.

@peiying16 I apologize for the delay in communicating this, but frankly my first recommendation would be to possibly choose another "good first bug" to work on because I am trying to think of ways in which we can reduce the scope of this issue so that your chang

[2017-02-01 04:12] gideonthomas commented on #1629
@flukeout this is not a good first bug if we want full functionality reliant on a backing database because it will be blocked on a couple of changes to the `publish.webmaker.org` db (not just adding another column to the db but also adding routes to edit values in that column).

One alternative would be to instead store favorites in `localStorage` (though I feel like it might look clunky because w

[2017-02-01 04:21] gideonthomas commented on #1661
Re-opening due to: https://github.com/mozilla/thimble.mozilla.org/pull/1663#issuecomment-276567176

[2017-02-01 04:21] simon66 commented on #981
![screen shot 2017-01-31 at 11 20 09 pm](https://cloud.githubusercontent.com/assets/1103528/22495164/e07c5152-e80b-11e6-90b0-fda1978bb40f.png)
Done! Waiting for the icon :)

[2017-02-01 04:30] gideonthomas commented on #981
@simon66 nice work! Would you be able to open up a PR with your changes so far? You could mark it as [WIP] in the title so that we know that it's an in progress PR.

[2017-02-01 05:52] simon66 commented on #981
Hummm... well... thats super annoying... There where issues with my branch and while trying to fix them, looks like they show up here haha.
Either way, there shouldn't show on the commit history.

I've created a pull request @gideonthomas

[2017-02-01 07:50] Pomax commented on #981
@simon66 no worries, we can fix all of that with a rebase/squash once the code goes from work-in-progress to "read to be merged in" =)

[2017-02-01 09:40] Pomax commented on #1629
Keep it a good first bug, but let's restrict it to localStorage for now. If that works, syncing to a db is a perfectly manageable follow-up.

[2017-02-01 09:43] Pomax commented on #1667
As long as the code path is easy to trace and we're available for questions, I don't think this is too complicated a bug to work on. I'd be in favour of the mantra "see if it's too much work, switch if it is": if more than a day is required to get *into* the bug, then this is a bad bug, but ruling it out before someone starts to look into it is probably acting too early... someone might be really

[2017-02-01 09:52] Pomax commented on #1685
it feels like we might need an issue filed for an "emergency" menu button that clears indexdb (with maybe a "this operation clears your browser database which we use for blah blah, this is a last resort and we can't help debug any issues if you pick this before filing an issue over one blhablhab etc"?

[2017-02-01 14:24] lkisac commented on #1684
Hi @gideonthomas, I encountered this issue just yesterday.  It did work for me previous but suddenly didn't after a few minutes until I cleared the cache manually.  Thanks

[2017-02-01 15:27] #1684 closed

[2017-02-01 16:36] peiying16 commented on #1623
@gideonthomas Thanks for you response. I can wait.

[2017-02-01 17:32] flukeout commented on #1623
@gideonthomas @humphd The published projects table has a 'tags' column that we don't use at all, we could use the UI in the publish dialog to add/remove a special 'no-remix' tag to the project. Then we could just look for that tag in the remix button javascript code to hide/show it.

[2017-02-01 17:34] flukeout commented on #1623
We could also just add a link in the publish dialog that leads the the Wiki page that explains how to remove it.

[2017-02-01 17:34] Rajat-dhyani commented on #1661
@gideonthomas  @flukeout please check this pr :
https://github.com/mozilla/thimble.mozilla.org/pull/1689

[2017-02-01 17:39] Rajat-dhyani commented on #1671
@flukeout @humphd i would like to handle this issue.... could u please guide where to start ?

[2017-02-01 17:51] flukeout commented on #1685
Yeah, we've got a wiki page for clearing your cache already (we should update it with IE instructions) and we should also have instructions for the IndexedDB stuff and link to it.

[2017-02-01 17:57] flukeout commented on #1629
I'm happy with giving the localStorage solution a go. We'll need to rebuild the list every time something is marked / unmarked as a favorite.

[2017-02-01 18:03] gideonthomas commented on #1685
+1 to @flukeout's solution for now. This isn't necessarily an issue with IndexedDB though. It could also be an issue with the filesystem sync logic (for which clearing IndexedDb won't usually resolve but sometimes refreshing your browser will resolve). We would probably need to figure out proper UX for your solution that will possibly include formatting the filesystem or somehow recreating the fil

[2017-02-01 18:08] gideonthomas commented on #1661
Closed with 4f1fa5d120c94277e68e34d4a23b0223046b0d56 and f25a85681cee5391ad248c7b32c5e6d70efc9383

[2017-02-01 18:08] #1661 closed

[2017-02-01 18:27] gideonthomas commented on #1623
@flukeout I don't think we should use 'tags' to hack in remix metadata (especially because it complicates actually remixing the project). I'd rather just link to the wiki for now.

@humphd based on that, any thoughts AND does this still qualify as a good first bug?

[2017-02-01 19:29] flukeout opened #1691 "Trouble with Dev enviornment"
I've got the brackets repo running on :8000 and the vagrant up version of Thimble running too.

I can load the homepage and the editor, but when I click Sign In or Create an Account, I get an Oops page...

![image](https://cloud.githubusercontent.com/assets/25212/22522711/87df22f2-e871-11e6-93a0-95992c5f044d.png)

There's a double slash in the URL when I click these links, might that be the issue?

[2017-02-01 19:36] humphd commented on #1691
That looks like a missing `env` variable that tells Thimble where the login server is.  No idea why that would happen.

[2017-02-01 21:01] simon66 commented on #1691
Like we spoke earlier @flukeout, I also have the same issue when trying to Import a Tutorial page.
After looking at what was change recently, I found this commit:

https://github.com/mozilla/thimble.mozilla.org/commit/f3c20672c905af758a95f34bfeb4b2e38cc49e76

Line 43 is whats causing the double slash.
For now, this is how I "patched" it.
![screen shot 2017-02-01 at 3 54 40 pm](https://cloud.github

[2017-02-01 21:02] gideonthomas commented on #1691
I'm pushing up a fix for this in a sec

[2017-02-01 22:07] flukeout opened #1693 "Thimble Vision"
Team, I started a few vision documents related to WebVR and IoT. These summarize some of the ideas that we've had as a team and also reflect the input of the Web VR team at mozilla. I'd love to hear any feedback or new ideas these generate for you.

* [Thimble and A-frame](https://docs.google.com/document/d/1TsAf18x8jOXqmbPWgXk3Ea4h4TN-Um1Ia1gt6vtomFk/edit)
* [Thimble + Physical IoT](https://docs.

[2017-02-01 22:08] flukeout commented on #1693
cc @gideonthomas @humphd @Pomax @hannahkane @simonwex

[2017-02-01 22:22] flukeout commented on #1693
As for my own two cents, the virtual IoT stuff would be a blast to work on. I'm getting a puck.js device in the next few days, so I'll have a better handle of that workflow pretty soon.

The VR stuff is neat too - we'd get some interest from the existing A-frame community and it would also give us reasons to collaborate with moco.

[2017-02-01 22:25] flukeout commented on #1693
@hannahkane suggested we do a bit of competitive analysis within each of the vision docs. I'll add that section. To do that, I think we'll also need a pretty specific audience definition, how about

* Educators in classrooms or after-school programs working with beginner coders between 13 and 18 years old. Students have access to their own computers.

[2017-02-02 00:57] humphd commented on #1623
Let's split this bug into a few pieces:

1. Alter the Publish server route to allow us sending a "don't include remix button" option when we publish
2. Add UI to thimble as discussed above to let users enable/disable remix button inclusion
3. Connect 2) and 1) in Thimble

I agree with @gideonthomas that this is probably a good 2nd or 3rd bug, but maybe not a good first bug.  @peiying16, it might m

[2017-02-02 01:05] humphd commented on #1685
NOTE: I have code in Bramble that we can trigger if you want to expose it via a fatal error UI: https://github.com/mozilla/brackets#brambleformatfilesystemcallback

[2017-02-02 01:07] humphd commented on #1629
+1 to using `localStorage` to start.  @kramsamujh if you're not already familiar with it, see https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API.

[2017-02-02 01:11] humphd commented on #1671
The code doing this lives here:

* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/MouseManagerRemote.js#L6
* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/MouseManagerRemote.js#L67
* https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/MouseManagerRemote.js#L94-L97

Basically what we do is keep t

[2017-02-02 01:17] davidhuang1550 commented on #1673
posted pull request to brackets because the issue was with the editor [here](https://github.com/mozilla/brackets/pull/571).
Turns out the files did not disappear but instead the view was not properly shifted when the reversion was taken place.

[2017-02-02 01:20] humphd commented on #1667
The code for this (at least the code that shows/hides things) is here:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/fc/filesystem-sync.js#L37

The code that's triggering those events is here:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/public/editor/scripts/editor/js/f

[2017-02-02 01:38] humphd commented on #1677
@tonypark0403 I see that @gideonthomas has given you some info above.  Here are my thoughts, in addition.  There is a function that will reload the preview here:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/lib/PostMessageTransport.js#L216-L246

You'll notice it takes a `force` argument, a `boolean` that if `true`, will automatically force the preview to reload.

[2017-02-02 02:54] #1691 closed

[2017-02-02 02:59] #1534 closed

[2017-02-02 03:18] cgsingh commented on #1333
I'd like to solve this issue (I have a pull request ready).

[2017-02-02 04:30] gideonthomas commented on #1629
Here are some more details about what you would need to implement this:
1. **Allowing favoriting of projects**
   - We probably want to store the data about favorites as a javascript object in `localStorage`. Let's say the `localStorage` key is `project-favorites`, its value will be an array, for e.g. `[ 1051, 1113, 1551 ]`, where each of those numbers are project ids. You will probably need to us

[2017-02-02 05:08] gideonthomas commented on #1623
Filed: https://github.com/mozilla/publish.webmaker.org/issues/237

[2017-02-02 05:18] gideonthomas commented on #1668
@flukeout are you missing a state?
Shouldn't it be:
- Saving (to IndexedDB) after detecting changes
- Saved (to IndexedDB) but not to the main database
- Save to the main database

[2017-02-02 08:53] Pomax commented on #1623
On a preexisting note, we do already have a `readonly` flag that we use for goggles - any project for which that flag is flipped will not inject the remix code in the S3-published files, flipping it back restores the remix option on publish.  (https://github.com/mozilla/publish.webmaker.org/blob/b12fa017ca768a421afba0889370d957dce957c5/api/classes/publisher.js#L204-L212)

[2017-02-02 09:59] Pomax commented on #1333
@cgsingh nice! This looks good to me, I'll let @flukeout decide whether it matches the flow he had in mind (pretty sure it does)

[2017-02-02 11:46] itaditya commented on #1229
Hey @edyedy123 , if you aren't working on this issue now , can I fix it ?

[2017-02-02 18:28] flukeout opened #1695 "Tag our project for the new Topics feature in Github."
https://github.com/blog/2309-introducing-topics

We can use this to make our project easier to discover for new contributors.

Thanks to @ryanwarsaw for the heads up.

Let's get the ball rolling...

* CSS
* HTML
* Javascript
* Editor
* Educational
* Learning
* Brackets
* ...

From Ryan

* community
* curriculum
* education
* learn-to-code
* nonprofits
* programming
* teachers
* brackets
* javascri

[2017-02-02 19:12] #1333 closed

[2017-02-02 19:14] cgsingh commented on #1333
@flukeout Yeah, I forgot to do that on the initial commit and when I tried to edit the message, I guess it didn't work.

[2017-02-02 19:17] humphd commented on #1634
I have the fix for this, but I want to show my students how to do a rebase/squash using it as an example.  I'll do that on Tues.

[2017-02-02 19:21] humphd opened #1696 "Experiment: embed Piskel Sprite Editor into Thimble"
I saw a new open source web app today called [Piskel](http://www.piskelapp.com/) for editing sprites:

![](http://www.piskelapp.com/static/resources/home/piskel_screenshot.jpg)

It could be something you include (via extension) into Brackets and use for building games.  We'd have to hack it a bit to sit on our filesystem vs. using their publishing service, but it wouldn't be a ton of work.  Someth

[2017-02-02 19:23] flukeout commented on #1682
@jgmac1106 don't have anything about APIs that I'm aware of, might be out there in the wild. Not sure if you've ever used the dashboard I made, but it has a search feature in it...

https://thimble-dashboard-staging.herokuapp.com/search

As far as the projects you listed, I'm wondering if you would be opposed to me remixing them and hosting them under the 'mozilla learning' account. I would credit

[2017-02-02 19:25] flukeout commented on #1682
@chadsansing what about colorpicker snake & sandwich race?

[2017-02-02 19:27] humphd commented on #1668
Saving to indexeddb is so fast, and so frequent, I don't think it's useful to add it.  You'll find that the "Saving...Saved" stuff will flash constantly.

[2017-02-02 19:34] chadsansing commented on #1682
@flukeout, not sure remixing those counts as beginner-friendly yet, but we could work on them some and breakdown the files and internal tutorials more. Is that kind of work within your scope?

[2017-02-02 19:39] flukeout commented on #1682
@chadsansing they're just so cool though - I can't spend a lot of time on the content & tutorials just now. So maybe let's not prioritize though. We could slap an 'advanced' tag on them however.

[2017-02-02 19:39] chadsansing commented on #1682
Depends on the purpose of the gallery - maybe wait until we have capacity to frame them better for beginners?

[2017-02-02 19:40] flukeout commented on #1668
Agreed, it's also not very interesting to know about since it pretty much always does it quickly & successfully. The key info is wether the changes are saved fully 'to the cloud'.

[2017-02-02 19:41] flukeout commented on #1682
Roger that 👍

[2017-02-02 21:34] flukeout commented on #1682
What about CSS pyramid @chadsansing?

* https://d157rqmxrxj6ey.cloudfront.net/chadsansing/19784/

[2017-02-02 21:46] flukeout commented on #1682
@chadsansing what is going on with #commontags - https://thimbleprojects.org/chadsansing/96059/

Is that the correct project?

[2017-02-03 00:48] peiying16 commented on #1623
I think it's too hard for me now. I give up.

[2017-02-03 01:14] chadsansing commented on #1682
@flukeout, CSS Pyramid fits the beginner bill, but is a bit bland in practice. The #commontags page has a tutorial that helps users mark up the page so it's not a jumble. It's just a mark-up exercise with a fictional game. Worked okay at a youth hackathon last weekend, so I'd be okay with including it here.

[2017-02-03 01:50] raygervais commented on #1635
@gideonthomas thank you for the advice. @flukeout, I've attached an example of your second suggested option to fix this issue, and believe it is the most optimal way as well. You'll see that I used Firefox's highlight tool to ensure that it would not affect any other element on the page. In doing so, I also reduced surrounding `<li>` element's padding to 0. I also added `display:block` to retain t

[2017-02-03 03:23] flukeout commented on #1635
Overall, this is great. Here are some thoughts.

You can remove the height from the <li> element if it has one, and just use the padding in the <a> element to give the menu item its height.

That way you can drop the ``height`` declaration from the <a>. Additionally, block elements always span 100% of the width of their parent. So you don't need to set a ``width`` on it either.

Give that a try an

[2017-02-03 03:27] flukeout commented on #1682
That makes a lot more sense @chadsansing - it just looks so broken I thought something went wrong somewhere.

[2017-02-03 04:56] gideonthomas commented on #1623
@peiying16 as @humphd this might not be a good first bug for now. But don't be discouraged. We have a [lot of good first bugs](https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20bug%22%20-label%3A%22assigned%20to%20contributor%22) out of which, you might find something that interests you and you feel comfortable fixing.

[2017-02-03 05:03] gideonthomas commented on #1668
Then I would be careful with the copy we use for the states if we **always** show a saving indicator since in that case, there are still three states, which are:
- Not saved to cloud (saving is happening locally but it does not match what's on the cloud and there is no network activity)
- Currently saving to cloud (network activity is there and it is pushing files locally to the cloud to update th

[2017-02-03 05:07] gideonthomas commented on #1668
@naperkovskiy while we're discussing the copy here, I don't think it should block you from continuing with the issue. Were you able to find the code that handles this? If not, let us know and we can guide you in the right direction.

[2017-02-03 05:16] gideonthomas commented on #1665
@evantsyferov how are you doing with this issue? If you need any help figuring out where the code lies for this, let us know.

@flukeout quick question: what do you think about only showing that copy below loading project after a timeout (we can try with 15s, and add analytics so that we can tweak it later).

[2017-02-03 11:09] chadsansing commented on #1682
#breaktheweb

[2017-02-03 17:22] edyedy123 commented on #1229
Sorry @itaditya IL be working on this bug today.

[2017-02-03 17:33] peiying16 commented on #1631
I would like to try fixing this bug for my first bug. : )

[2017-02-03 17:51] Abykin commented on #1632
@flukeout I found where the values are being set : brackets/src/view/ViewCommandHandlers.js.
There is MIN_FONT_SIZE which is currently 1, and MAX_FONT_SIZE set to 72. I think setting MIN to 6 or 8 should be a good stopping point. Let me know which value you like more.

This is what a minimum font of 6 looks like
![min_font_6](https://cloud.githubusercontent.com/assets/10553879/22601885/ff004606-ea

[2017-02-03 18:31] gideonthomas commented on #1631
@peiying16 sure thing, it's all yours!

This bug needs to be fixed in the Brackets repository.
Let us know if you need any further help or instructions (beyond what @humphd has provided above).

[2017-02-03 18:32] gideonthomas commented on #1229
@itaditya maybe you might find a bug that you are interested in fixing from [this list](https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20bug%22%20-label%3A%22assigned%20to%20contributor%22)

[2017-02-03 19:01] #1001 closed

[2017-02-03 19:28] gideonthomas opened #1699 "Use a Heroku service hook on Github for deployment"
Let's use the Github Integration feature of Heroku so that the deployment to staging will not happen via Travis.
To do this, we need to create an`app.json` file that will hold the config for setting up the app on Heroku.
I don't think we will have the same problem that we did with `learning.moz.org` for environment variables because any environment variables that we use during the build are (I bel

[2017-02-03 19:31] humphd commented on #1632
@flukeout btw, those are in `px` units.  What do you think the two should be set to, so that @Abykin can continue.

[2017-02-03 19:34] humphd commented on #1665
@evantsyferov here are a few places for you to start looking at code:

* https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/views/editor/bramble.html#L118-L125
* https://github.com/mozilla/thimble.mozilla.org/search?utf8=%E2%9C%93&q=spinner-container&type=Code

[2017-02-03 20:26] gideonthomas opened #1700 "Revise manual setup instructions"
The manual setup instructions are currently quite inaccurate, especially since it does not consider platform dependence. We should slowly revise them (let's start by doing this in the Wiki) by updating https://github.com/mozilla/thimble.mozilla.org/wiki/Setting-Up-Thimble-without-Virtualization for different platforms. I think it's ok for it to be messy (hence better to use the wiki as an intermed

[2017-02-03 21:17] gideonthomas commented on #1632
@flukeout is on PTO today. @Abykin since you are only waiting on the limit values, I suggest opening a PR on the brackets repo and we can get @flukeout to look at it there.

@humphd any thoughts about doing this in the Brackets core code vs. our client api?

[2017-02-04 00:23] gideonthomas commented on #1120
Yeah I think that makes sense!

[2017-02-04 00:38] gideonthomas commented on #1628
There is no easy way to do the iframe solution for non-published projects because of security concerns. To load the project in an iframe, we would have to host the files somewhere. We can't host unpublished project contents on Thimble due to security concerns, if we host it anywhere else, then effectively, we are publishing the project.

The only solution I can think of for unpublished projects is

[2017-02-04 00:39] gideonthomas commented on #1624
@flukeout can this be a good first bug?

[2017-02-04 00:43] gideonthomas commented on #1648
Clarification: is our focus group teachers in our network who currently use Thimble (clubs, hive, etc.) or teachers outside our network who currently use Thimble (networks like Ladies Learning Code, etc.)?

[2017-02-04 01:16] edyedy123 commented on #1229
Hey, i cant seem to be able to find where this bug is. When I create a new project on thimble, and add any images they don't go out of frame like in your picture. Could you direct me to where on thimble this is happening?

[2017-02-04 01:35] edyedy123 commented on #1229
never mind, I see the problem, the css has a class border that has a max width that I was using, but nothing for images in general, I will add it.

[2017-02-04 01:40] humphd commented on #1628
There are DOM screenshot libs we could try.

[2017-02-04 16:21] peiying16 commented on #1631
Thank you. I am working on it.

[2017-02-04 16:31] jgmac1106 commented on #1628
Having a screenshot tool built in would be neat on many fronts.

On Fri, Feb 3, 2017, 8:40 PM David Humphrey <notifications@github.com>
wrote:

[2017-02-04 18:42] peiying16 commented on #1631
Hello, I still have problem to fix it.
1. I add a property which names allowJavaScript to stateManage
![property](https://cloud.githubusercontent.com/assets/25106861/22620658/75cc8478-eade-11e6-96f7-8bd8e38f37a1.PNG)

2. I also add the get and set codes on file https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js
![main1](https://cloud.githubusercontent.com/assets/25106861/22

[2017-02-04 20:12] humphd commented on #1628
https://github.com/tsayen/dom-to-image is one.

[2017-02-04 20:17] humphd commented on #1631
It should be `true` by default (i.e., you probably want to initialize it to `true`).

These two functions here are how Thimble will trigger the change in Brackets:

https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L889-L895

Probably in the callback for those, we should be updating the value you have in storage to be `true` or `false`.

[2017-02-04 20:18] humphd commented on #1631
Also, this code block here is where events (callbacks) come back from Brackets, which is where you'd want to do this I think:

https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L275-L302

[2017-02-04 20:43] simon66 opened #1702 "Thimble default projects code assumes only folders, crashes on presence of a file."
I ran into this issue last week and today while trying to start vagrant:

![screen shot 2017-01-31 at 12 33 06 am](https://cloud.githubusercontent.com/assets/1103528/22621278/ec014e80-eaed-11e6-9a02-4737825e44f1.png)

Looks like the issue is caused by one of those pesky `.DS_Store` file (I hate these).
I tried the following:

`vagrant destroy`
`vagrant up`
`vagrant reload --provision`

and I still

[2017-02-04 21:28] simon66 opened #1703 "Cursor property is not changed when hovering on a folder"
When hovering the mouse over a folder in the file tree, the mouse cursor is set to `default` instead of `pointer`.
![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/1103528/22621635/1924ddc0-eaf6-11e6-800f-4f8decbbfd0e.gif)

I fell like the cursor property should be set to `pointer` since folders are clickable items just like the other item in the file tree.

@flukeout, what d

[2017-02-05 00:17] naperkovskiy commented on #1668
Thanks a lot, I'll definitely let you know if I need any help.

[2017-02-05 16:32] lkisac commented on #719
Thank you for the guidance @gideonthomas.  I've adjusted most of the code to your suggestions, but I'm having trouble testing my changes.  I'm running Thimble from my vagrant VM and I'm not able to sign in to my Thimble account this way so I can't test the publish and rename functionality.  I just get a 404 error each time with this error message, "Oh no, page not found!".  I can sign in to my acc

[2017-02-05 17:12] humphd commented on #719
@lkisac it sounds like you're hitting a bug we fixed earlier this week.  Can you try pulling the most recent changes from Mozilla's master branch for thimble and try again?

[2017-02-05 17:17] humphd commented on #1702
It's actually a bug in this function:

https://github.com/mozilla/thimble.mozilla.org/blob/master/default/index.js#L131-L145

We're implicitly assuming that everything in the `default/*` directory is a dir vs. a file, with the exception of the `index.js` file.  We should probably do an `fs.stat` on each item in that loop to see if it's a dir or a file, and skip any files.

[2017-02-05 17:18] humphd commented on #1702
I've updated the title of this issue to better reflect what's happening.

[2017-02-05 17:43] lkisac commented on #719
Pulling most recent changes from Mozilla master fixed the sign in issue.  Thanks @humphd

[2017-02-06 01:56] gideonthomas commented on #1673
Hi @davidhuang1550 just to confirm (since I'm a bit confused by [this comment](https://github.com/mozilla/brackets/pull/571#issuecomment-277564420)), you are still working on fixing this issue (since this is still happening)?

[2017-02-06 02:26] davidhuang1550 commented on #1673
@gideonthomas The issue seems to have been resolved. I cannot recreate the problem any longer locally and on the web.

[2017-02-06 03:42] davidhuang1550 commented on #1673
@gideonthomas can you still reproduce the problem?

[2017-02-06 11:51] chadsansing commented on #1696
Would love it; we feature Piskel in a web lit lesson or two.

[2017-02-06 15:21] humphd commented on #1585
https://github.com/emmetio/brackets-emmet

[2017-02-06 15:27] humphd commented on #1414
Now that we've moved to using a Vagrant VM as our recommended setup method, this bug is likely not needed any more.  @gideonthomas can you confirm and close if so?

[2017-02-06 15:58] humphd commented on #1397
I think that when we're in development mode, we should be passing extra options to the nunjucks environment here:

https://github.com/mozilla/thimble.mozilla.org/blob/fa3dde088dc016a562520e62a9df1f5558ba8f70/server/templatize.js#L6

See discussion here:

https://github.com/mozilla/nunjucks/issues/479

And API docs here:

https://mozilla.github.io/nunjucks/api.html#configure

[2017-02-06 15:59] humphd commented on #1337
This is now done, using Vagrant.  Closing.

[2017-02-06 15:59] #1337 closed

[2017-02-06 17:07] flukeout commented on #1703
Thank you for filing - at a minimum we should change it so the cursor turns to a pointer.

Generally, I wish we styling that is more distinct from just a regular file, but we can leave that for another issue.

[2017-02-06 17:40] gideonthomas commented on #1414
Yeah I think we can close this since we're working on https://github.com/mozilla/thimble.mozilla.org/issues/1700

[2017-02-06 17:40] #1414 closed

[2017-02-06 17:50] flukeout commented on #1632
Hi @Abykin - yeah, please go ahead and start a PR and I'll have a look. Just from changing the font size via dev tools, a range of ``8px to 32px`` seems to work well.

[2017-02-06 17:55] flukeout commented on #1624
Yeah, I'll check into how to fix this and and update the label along with some instructions.

[2017-02-06 17:58] flukeout commented on #1648
I think whoever we can get access to - I don't think there'd be a big difference in their feedback and use cases. Since we're starting to talk to Gigabit folks, and they're interested in connecting us to teachers, I'll design a survey for that use case, and theme it around helping us figure out the vision.

[2017-02-06 18:03] gideonthomas commented on #1673
Yeah I am able to reproduce this! I think I might know why you aren't able to reproduce this. You need to rename the `index.html` file. It doesn't seem to be an issue with any other HTML file. @davidhuang1550 can you try doing that?

[2017-02-06 18:05] flukeout commented on #1648
I think it's happening here..

https://github.com/flukeout/css-diner/blob/develop/js/restaurant.js#L550

``wrapperEl.append("&lt;" + elName +  "/&gt;");``

should be...

``wrapperEl.append("&lt;/" + elName +  "&gt;");

[2017-02-06 18:07] gideonthomas commented on #1601
Hi @nailaandleeb, were you able to get this running again?

[2017-02-06 18:09] humphd commented on #1648
@flukeout wrong bug?

[2017-02-06 18:14] flukeout commented on #1628
Yeah, totally forgot about that solution only working well for published projects.

@humphd Once you're signed in, is there some persistent, knowable URL to access files that aren't yet published?

[2017-02-06 18:25] humphd commented on #1628
@flukeout, I don't follow.

My thought was that when you hit "publish" we can generate a screenshot for you using the DOM, and either stick it in your project's fs, or just send it to the server.  I think we should probably keep it with your project so we don't have different files locally vs. remote.

If we name it something searchable, maybe `screenshot.png` or `preview.png`, we can then do a `f

[2017-02-06 18:26] flukeout commented on #1648
@humphd Yeah, totally wrong - deleting all of our comments related to that now.

[2017-02-06 18:28] flukeout commented on #1397
I'll try out the suggestions in the discussion, I think it's an important fix as it makes contributing super annoying.

[2017-02-06 18:39] flukeout commented on #1628
@humphd If you're publishing a project we can already load it into an ``iframe`` on the My Projects page and show that to the user. The snag seems to be in trying to do show a preview for projects that haven't been published yet.

We could do the screenshot generation at some other point in the editing process though. I used a solution like this in the past and it worked pretty well, the only issu

[2017-02-06 18:44] flukeout commented on #1397
Or @humphd - if you have anyone in particular looking for an issue right now, this would be a great one.

[2017-02-06 18:47] davidhuang1550 commented on #1673
@gideonthomas I tried it on the main thimble web page.

![ezgif com-841cb8fdb8](https://cloud.githubusercontent.com/assets/22035024/22661225/9fd72076-ec72-11e6-9260-424db1a2d80d.gif)

[2017-02-06 18:48] flukeout commented on #1623
@peiying16 If you're still looking for a bug to try #1397 might be worth a shot. I think it's an important change that would make life easier for contributors.

[2017-02-06 18:51] flukeout commented on #1673
@davidhuang1550 before you rename the index.html file. Click on it so that it is highlighted.

![image](https://cloud.githubusercontent.com/assets/25212/22661431/398dbb62-ec5a-11e6-9267-50156549e13c.png)

That's what does it for me.

[2017-02-06 18:57] davidhuang1550 commented on #1673
@flukeout Huh, that's weird it wasn't like this before. I will try and get this done today!

[2017-02-06 19:15] gideonthomas commented on #1628
@flukeout yeah I would think that the thumbnails would be hidden (which we can do with filer).

[2017-02-07 00:02] Abykin commented on #1632
@flukeout PR created here [https://github.com/mozilla/brackets/pull/572] thanks

[2017-02-07 03:11] peiying16 commented on #1631
Thanks. It takes time.

[2017-02-07 03:12] peiying16 commented on #1623
Thanks. I'm working on another issue.

[2017-02-07 05:59] twigz20 commented on #1630
Alright, guys, I believe I've completed the bracket code changes.  I'm now able to add code snippets, using my extension, to the editor.

example:

![CodeSnippetsAdder](http://matrix.senecac.on.ca/~jgoguette/media/Code_Snippet_Gif.gif)
I apologize for the low quality gif.

@flukeout I would like some guidance on how you would want me to design the menu.

[2017-02-07 07:49] nailaandleeb commented on #1601
No  i  can't run neither locally nor with vagrant.tried with new updated docs too.I'll be grateful if u suggest something in windows context.

[2017-02-07 11:09] nailaandleeb commented on #1601
![capture](https://cloud.githubusercontent.com/assets/8026795/22688833/bc125ec6-ed4f-11e6-9e47-c85ed1f8e68f.PNG)

always ends up with this error